[2019-01-07 21:11] matthiasgeiger commented on #4569
Hi @DOFfactory ,
I also get your point.
In case of an import of a complete entry (e.g. from Websearch or by DOI/ISBN) the automated generation is already possible. However, it is hard to detect whether you are editing a "new" entry manually or an entry which BibTeX key already has been used in ia some file or not. Because this is just an "edit operation" in a bibentry.

As @Siedlerchr already ment

[2019-01-07 21:17] DOFfactory commented on #4569
Hi @matthiasgeiger, while I see your point, would you not agree that hitting an extra `CTRL-G` goes against the whole idea of auto key generation?

In my humble opinion, whenever one edits a field that is relevant for the bibkey field, then clicks away to another field, there is no reason why not to fill it in to the auto key generator, **if and only if there is no key present yet** for the given

[2019-01-07 21:57] matthiasgeiger commented on #4569
As I usually create my entries using the 'new entry by DOI' feature I have a different workflow and do not rely on a "fully automated" key generator. And for me the 'automatic' part was only relevant for creation on import or as a "automatic creation after manual trigger", i.e., based on the settings the key is correctly determined "automatically".

However, regarding 'why not to fill it in to the

[2019-01-07 22:18] Le-wi commented on #840
Hi, I like to clean up old issues, is this still a thing? @tobiasdiez

[2019-01-08 07:20] Siedlerchr commented on #4569
I usually select all entries in my table, hit CTRL-G and that's it.

[2019-01-08 07:37] oe1rsa commented on #4534
The freezing has gone. I can also set a custom style and use it, but the setting is not preserved when Jabref is closed and opened again. I.e. the plugin is functional but still has issues.

Possibly a different issue or related: I still get a segmentation fault when I shut down the computer (only after the Plugin has been run, i.e. the OO panel has been opened) The Error is related to "DDE Server

[2019-01-08 08:14] Siedlerchr commented on #4534
@oe1rsa  Thanks for your feedback! I will look at this. Could you please post the whole stacktrace/error message and your LO Version? It might be the case that it is coming from the the libre office libraries.

[2019-01-08 08:45] tobiasdiez commented on #840
This feature has not been implemented yet and is still relevant. I think, it is best to combine it with https://github.com/JabRef/jabref/issues/1975, ie use lucene query parser. This might turn out to be a bit more work, but if you have the time go for it!

[2019-01-08 11:49] tobiasdiez commented on #4496
@arunikayadav42 did you already started working on this? I guess, its still up for grabs @amolrbhagwat.
Since we are gradually phasing out the Swing dialogs, there is no need to improve them. Just focus on the JavaFX ones.

[2019-01-08 12:03] fordham007 commented on #4563
Thank you to contributors for advice.

1. Output from java - version is:
java version "1.8.0_192"
Java(TM) SE Runtime Environment (build 1.8.0_192-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.192-b12, mixed mode)

This is consistent with what you get from the Java Control Panel under "System Preferences"

2. Editing /etc/hosts as described has actually worked - thank you for advice on sudo etc

[2019-01-08 12:31] champagnealexandre commented on #4563
Glad it is working for you fordham007!

[2019-01-08 16:03] wujastyk commented on #4365
JabRef 5.0-dev--snapshot--2019-01-05--master--d281ece4b
Linux 4.15.0-43-generic amd64
Java 1.8.0_191

The

null
null
null
null
null
null
null
null
null
null
null
null
null
null

behaviour reported on 9 December is back.  :-(

As before, selecting the preview and copying it with ctrl+C does put an un-tagged copy into the buffer correctly.  But ctrl+shft+C isn't working properly, either from the mou

[2019-01-08 16:05] wujastyk opened #4570 "#4365 is back: preview copy fails"
JabRef 5.0-dev--snapshot--2019-01-05--master--d281ece4b
Linux 4.15.0-43-generic amd64
Java 1.8.0_191

The

null
null
null
null
null
null
null
null
null
null
null
null
null
null

behaviour reported on 9 December is back. :-(

As before, selecting the preview and copying it with ctrl+C does put an un-tagged copy into the buffer correctly. But ctrl+shft+C isn't working properly, either from the mouse

[2019-01-08 21:37] Le-wi commented on #1975
So introducing the new parser would require to migrate all the old queries as well?

[2019-01-08 21:41] Siedlerchr commented on #4480
Hi thanks for your interest. This issue was solved a couple of days ago but we forgot to close the issue. Sorry! But there are plenty of other issues you can take.

[2019-01-08 21:41] #4480 closed

[2019-01-08 22:57] tobiasdiez commented on #1975
The only groups effected are the "search based groups". I doubt that many users use them (and then probably only experienced users). Thus, I would say that displaying a warning dialog of the kind "some groups need to be updated by hand to work properly" is sufficient. @JabRef/developers opinions?

[2019-01-09 00:21] amolrbhagwat commented on #4496
Not yet, just did some looking around. Can work on it on the weekend. Thanks @tobiasdiez!

[2019-01-09 08:54] stefan-kolb opened #4571 "Type field on some entries is not a multi-select"
For example TechReport or Standard in IEEETran.
![image](https://user-images.githubusercontent.com/2141507/50887832-7bb63f00-13f4-11e9-9fbf-a68e7f9359c0.png)

![image](https://user-images.githubusercontent.com/2141507/50887777-5d504380-13f4-11e9-98da-f16aee41582f.png)

[2019-01-09 14:17] frasca80 commented on #4256
Can I work on this issue?
I had a look at the code: a quick solution would be to trigger the BibTex parser on focus out of the text area instead of on value change event as it is now.
In fact, following the steps to reproduce the issue, now the parser is invoked just after the removal of the first bracket '{' preventing the user to finish his/her edit action which would include also the removal of

[2019-01-09 14:18] accon opened #4573 "Update check error 403 and wrong isbn"
JabRef 4.3.1
Windows 7 6.1 amd64
Java 1.8.0_191

Steps to reproduce:

1. Open JabRef
2. New BibTexEntry
3. Enter ISBN 978-3-9817048-9-1 to the ID-based entry generator and click "Generate".

I'm new to JabRef and don't know a lot about the background workings and setup. I have also found similar issues online and assume this problem has been solved, however I wasn't able to reproduce the solution

[2019-01-09 14:46] Siedlerchr commented on #4256
@frasca80  Sure, go ahead! Your solution sound good

[2019-01-09 14:49] tobiasdiez commented on #4256
@frasca80 Sure, feel free to work on it. A problem I see with your suggested solution is that leaving the source code editor after removing the initial `{` still leads to a corrupted entry; this shouldn't be the case. The `ParserResult` has a `hasWarnings` method that shows if the parsing was succussful. I would thus suggest to only update the entry with the new value if the parser does not report

[2019-01-09 15:02] frasca80 commented on #4256
@tobiasdiez you're right but unfortunately if the user removes only the first `{` the parser does not raise any warning since it stops to what it considers the end of the entry, that is the second encountered `}` (see  `title     = {Tools for macromolecular model building and refinement into electron cryo-microscopy reconstructions}},`). For this reason the parser ignores the remaining part of the

[2019-01-09 22:16] douglasrizzo opened #4574 "Entries can only have one group color/color information is lost when JabRef is closed"
JabRef version 5.0

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Hello there, I am trying version 5.0 of JabRef on Manjaro Linux. I don't know how previous versions behave regarding what I am about to describe. Suppose I have a group, whose color I set to red and a subgroup, whose color I set to blue. It so happens that, when I

[2019-01-09 23:53] tobiasdiez commented on #4574
So the TLDR is:
- [ ] Enhancement: show the color of all groups that an entry belongs to
- [ ] Bug: color information for subgroups is deleted
- [ ] Enhancement: add possibility to erase color in group edit dialog

Concerning the first point, I'm not sure what's the best way to show the color of all groups in the main table. Simply adding a colored bar for each group might work for two or three gr

[2019-01-10 03:41] douglasrizzo commented on #4574
I think the colored bar is small enough that more bars can be added without much problem. Segmenting a single bar into 10 colors could create a visibility problem though.

Regarding the bug, it seems to happen only when two groups share some common entries.

[2019-01-10 09:36] Siedlerchr opened #4575 "Uncaught exception handler - show and wait not allowed during animation or layout processing"
Latest master  in Windows 10 with java 192
Do a search, edit and remove fast the content of the search field
[code]

[2019-01-10 09:50] Siedlerchr opened #4576 "Side Panel OpenOffice/IbreOffice doesn't preserve visible state closed when restarting"
1. Click on Tools-> OpenOffice LibreOffice connection
2. Click on the X in the corner of the panel or again in the menu
3. The panel is closed
4. Restart JabREf
5. The panel is open again

Refs #4341

[2019-01-10 14:08] tobiasdiez commented on #4575
Fix: put `Platform.runLater` around
https://github.com/JabRef/jabref/blob/d281ece4b5a96d6101cbea5f3475d0d8e19f75c8/src/main/java/org/jabref/FallbackExceptionHandler.java#L20-L23

[2019-01-10 19:11] douglasrizzo commented on #3845
Sorry if this is not the place to ask this, but are the preferences saved in a file? If so, where is it located?

[2019-01-10 20:02] douglasrizzo opened #4579 "Changing column width in JabRef 5.0 prevents opening 4.3.1"
JabRef version 5.0 and 4.3.1

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open JabRef 5.0 and add or change at least one of the column widths in _Preferences -> Entry table columns_.
2. Save preferences.
3. Open JabRef 4.3.1.
4. Open JabRef 4.3.1 Preferences window.

**Expected behavior:** th

[2019-01-10 20:22] Siedlerchr commented on #4579
You could export your preferences or use the memory stick mode

[2019-01-10 20:51] douglasrizzo commented on #3845
Nevermind, I found them at `~/.java/.userPrefs/org/jabref`.

[2019-01-10 20:57] douglasrizzo commented on #4579
I just found out about both of these modes. I don't know what to make of this incompatibility, though. Maybe the major version change from 4 to 5 justifies it...

[2019-01-10 22:09] Siedlerchr commented on #4579
Due to lack of resources (aka developers) we can usually not provide backwards compatibility. Especially with the transition of the UI to JavaFX we can't avoid breaking changes somewhere.
We welcome every Java developer.
And of course we rely on feedback from users, if things work properly on all platforms.

You can export your preferences, change the values to integer and import them back in.

[2019-01-10 22:12] Siedlerchr commented on #3845
The storage location is the default preference storage location from Java. It differs on systems. On Unix it's stored in files, in windows in the registry

[2019-01-11 04:56] douglasrizzo commented on #4579
In order to import preferences in JabRef 4.3.1, I'd need to be able to open the Preferences window, which I can't do if the current values are already floats. What I think would work is changing the values in `~/.java/.userPrefs/org/jabref/prefs.xml` (I'm on Linux).

[2019-01-11 11:19] tobiasdiez commented on #4579
While in general we don't have the resources to think too much about backwards migration, here, a bit of work on our side is probably the best solution. We just need to convert the double column widths returned by JavaFX to integers before saving them in the preferences. Not much work and improved user experience.

[2019-01-11 11:55] DOFfactory opened #4580 "Preview style change notification"
JabRef 5.0-dev--snapshot--2019-01-10--master--84573cc38
Windows 10 10.0 amd64
Java 1.8.0_172

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open 2 bib files on separate tabs
2. Switch from one tab to another
3. On the bottom always a notification appears "Preview style changed to: Preview"

The

[2019-01-11 15:00] truefalsename commented on #2829
Hello, I am experiencing this issue on Jabref 4.3.1 on windows 10 v1809

[2019-01-11 17:15] tobiasdiez commented on #2829
@truefalsename please try the build from http://builds.jabref.org/master/.

[2019-01-12 12:08] tobiasdiez commented on #4437
Thanks to @rachelwu21, this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-01-12 12:08] #4437 closed

[2019-01-13 09:34] chelseyong commented on #4580
Hi I'm interested to take up this issue. Would you like to remove the notification from the panel?
Can I also know what is a preview style?

[2019-01-13 10:34] Siedlerchr commented on #4580
Hi thanks for your interest.
The preview style is the default style for the entry preview in the entry editor.
In the settings you can choose from a list of styles.
I would only print out that notification when the user cycles through the styles in the preview panel (there is a key binding) and if current style is not the same as the previous one

[2019-01-13 12:16] DOFfactory commented on #4580
I agree with @Siedlerchr, many thanks for looking into this

[2019-01-13 12:44] Siedlerchr commented on #4573
Hi,
the first one is simply an error from the Update check, probably some temporary thing.

Well, the other exception is related to the ISBN fetcher. JabRef checks two sites (ebook.de and Amazon) for bibtesx data from an isbn.
This error indicates that no data for the ISBN could not be received (using Amazon). This is a problem on the Amazon side, I checked it. Other isbns work fine and therefore

[2019-01-13 12:44] #4573 closed

[2019-01-13 13:46] chelseyong commented on #4580
Sorry I am still new to this software and need some help. I can't seem to add another entry preview style under the Preferences. There is no option for me to add another preview style. 2 errors have also occurred:

While loading a new bib file:
[code]
When attempting to change the preview style:
[code]

I am using jdk1.8.0_192. What could be the issue causing this?
Many thanks.

[2019-01-13 14:09] MartinKarim opened #4582 "Font size is too small according to ISO 9241-303"
![issuefont](https://user-images.githubusercontent.com/26404402/51086134-e643e380-1742-11e9-951d-14cdc0c3020e.png)

| Description of Issue |  Possible Solution    |  Additional Remark  |
|:--------------------:|:-------------------:|:----------:|
| Default font size is too small at 9 pt (=12 px); |  Increase of default font size to at least 12 pt; <br>Specification of other font sizes relative to

[2019-01-13 14:22] MartinKarim opened #4583 "Contrast of several UI elements is too low"
![issuecontrast](https://user-images.githubusercontent.com/26404402/51086286-505d8800-1745-11e9-84fb-dee03502c613.png)

| Description of Issue    |      Possible Solution        |  Additional Remarks |
|----------|:-------------:|------:|
|  Contrast between entry counters in sidebar and background is too low;<br>Sidebar & toolbar not visually separated;<br>Contrast between alternative rows in ent

[2019-01-13 14:28] MartinKarim opened #4584 "Toolbar icons and their layout need improvement"
![issueicons](https://user-images.githubusercontent.com/26404402/51086457-77b55480-1747-11e9-9768-fec9ef61f73f.png)

|                                           Description of Issue                                          |                                    Possible Solution                                   |                            Additional Remarks                           |
|:----------

[2019-01-13 14:35] MartinKarim opened #4585 "Rank information of entries is too prominent"
![issuerank](https://user-images.githubusercontent.com/26404402/51086516-0a55f380-1748-11e9-90b1-62a13773c02b.png)

|                                           Description of Issue                                          |                                    Possible Solution                                   |                            Additional Remarks                           |
|:-----------

[2019-01-13 16:38] Siedlerchr commented on #4580
@chelseyong No problem. If you have cloned the repository then you need to  first execute
`git submodule update --init`   because the CSL styles are integrated as a git submodule.

In the Entry Preview you can then cycle through the styles with F9.

[2019-01-14 10:39] tobiasdiez opened #4586 "Add browse button for aux-based groups"
- Add a new group
- Select "Group containing entries cited in a given Tex file"

There should be a "Browse" button next to the path text field which allows to select a path.

[2019-01-14 20:11] douglasrizzo opened #4588 "Backslashes in group search are erased from bib file after saving"
JabRef version 5.0

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Create a new dynamic group using a free-form search expression.
2. Use backslashes in the search, for example, by using word boundaries in the search (e.g. `title = "\bJabRef\b"`).
3. Save the group.
4. Close JabRef and open it a

[2019-01-14 21:07] Siedlerchr commented on #4588
Thanks for your report.  For anyone interested in fixing this, the code for parsing groups is here.
There should also be a unit test.

https://github.com/JabRef/jabref/blob/a051e1b08e45fbb6b79c83ce711e7b14f8c23fe8/src/main/java/org/jabref/logic/importer/util/GroupsParser.java#L256-L273

[2019-01-15 06:59] Siedlerchr commented on #4496
You can assign it to yourself I think. We can only assign people from our team at github to an issue

[2019-01-15 11:07] shaftoe99 opened #4590 "Institution as author name"
JabRef 5.0-dev--snapshot--2019-01-13--master--a051e1b08 Windows 10 10.0 amd64
Java 1.8.0_192  on

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I can enter the name of the institution like {Robert Koch Institute} and also use the formatter  to get the parenthesis in the author field with a right click. The text is than appropriat

[2019-01-15 16:29] tobiasdiez opened #4591 "Add check for books with first edition"
**Is your suggestion for improvement related to a problem? Please describe.**
Some journals have the convention to only print the edition of a book if it's not the first. (It's hard to find a reliable source on this, but see e.g [here on p. 19](https://www.otago.ac.nz/library/pdf/Harvard_referencing.pdf))

**Describe the solution you'd like**
Have an integrity check that reports books with `editio

[2019-01-16 04:06] douglasrizzo commented on #4588
I believe the problem is in the inverse function, the one that transforms a group into a string, which is then saved in the database, no? Because the backslashes disappear when the user saves the database is to a file, not when the group is read from the file.

[2019-01-16 06:54] Le-wi commented on #840
Ever since you wrote it takes more time ... I can't force myself to do it :D

I'm afraid it implies architectural changes and a ton of tests etc. And I don't want to leave a half finished mess. So now I wonder:
Can you (a) break it down for me or (b) point at something smaller but still helpful :)

[2019-01-16 09:10] jmkeil commented on #4466
I have retested it with JabRef-5.0-dev--snapshot--2019-01-13--master--a051e1b08.jar and was not longer able to reproduce this. Thank you.

[2019-01-17 20:13] wujastyk opened #4593 "Overlapping font in "ID Type" field when adding DOI or ISBN etc"
JabRef version
JabRef 5.0-dev--snapshot--2019-01-13--master--a051e1b08
Linux 4.15.0-43-generic amd64
Java 1.8.0_191

Steps:

1. open JabRef
2. select Library
3. select New Entry (or ctrl+N)

display spacing of the "ID Type" identifier field is poor as in attached image below:

![screenshot from 2019-01-17 13-10-18](https://user-images.githubusercontent.com/762246/51345962-9eca9980-1a59-11e9-9574-b

[2019-01-18 16:47] kuzeko opened #4594 "Provide command line interface with docker (example provided)"
Hi all,
I was trying to run the command line interface, but I had configuration problems.

I've put together a small docker image for that purpose starting from your [docker-javafx](https://github.com/JabRef/docker-javafx) here is the code

[code]

I figured it could help people

[2019-01-20 22:09] Siedlerchr commented on #4224
I actually had to remove the setting of the column sort order at startup for the moment, because it caused some massive performance drawback. Trying to investigate another solution.

[2019-01-21 15:19] #4593 closed

[2019-01-21 15:20] Siedlerchr commented on #4593
Should be fixed now in the development version in a couple of minutes

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-01-21 20:41] DOFfactory commented on #4582
Or just give us the option to set it manually, together with the entry list font type.

[2019-01-21 23:23] noMICROSOFTbuhtz opened #4597 "JabRef 5.* (dev) with Debian stable"
For months I am not able to start JabRef 5.* (dev version) on Debian stable.
I also reported that problem on the [forum](http://discourse.jabref.org/t/jabref-5-with-debian-9-stable/1400).

The last version I tried was `JabRef-5.0-dev--snapshot--2019-01-21--master--40d049e08.jar`.
[code]

Some version informations
[code]

[2019-01-22 01:57] schniepp opened #4598 "v5.0: duplicates window totally empty (except buttons at the bottom)"
JabRef version JabRef 5.0-dev--snapshot--2019-01-21--master--40d049e08 on Ubuntu 16.04

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open any database
2. Select an entry and copy & past the same entry, so that a duplicate is created
3. Click Quality => Find duplicates
4. The duplicate window i

[2019-01-22 11:33] tobiasdiez commented on #4594
Do you still have problems or did you just wanted to share your solution? In both cases a more detailed description of the original issue would be helpful. Then we can decide what to do about it (post to the forum, adding to the help page, ...).

[2019-01-22 11:42] tobiasdiez commented on #840
Yes, it's quite a big project but as you appeared motivated I didn't want to stop you in your tracks. If you already started working, you may create a WIP PR and maybe somebody takes over.

A good starting point are the [issues tagged with "good first issue"](https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22). If you don't find something in this list tha

[2019-01-22 11:51] tobiasdiez commented on #4588
The serialization happens here:
https://github.com/JabRef/jabref/blob/701e73d545e9879163438a95ba9ceb6a33eddb48/src/main/java/org/jabref/logic/exporter/GroupSerializer.java#L63-L80

On a first look, the code looks fine. There are `quote/unquote` commands at the correct places, which should take care of escaping.

[2019-01-22 11:53] tobiasdiez commented on #4590
Sorry, but I don't understand your problem. Can you please describe in more detail what you want to do and where the issue lies. Thanks

[2019-01-22 12:16] Siedlerchr commented on #4580
Thanks to @chelseyong  this issue should be fixed in the latest master

[2019-01-22 12:23] DOFfactory opened #4600 "New entry default cursor location"
JabRef 5.0-dev--snapshot--2019-01-21--master--40d049e08
Windows 10 10.0 amd64
Java 1.8.0_172

Issue:
1. Copy a DOI number from any website
2. Switch to Jabref, hit Ctrl-N for a New Entry window
3. There is no cursors, so one cannot hit just simply Ctrl-V copying in the DOI number

Solution:
Make the cursor by default in the ID text field. There is anyway no other place where the cursor should be a

[2019-01-22 13:57] #4580 closed

[2019-01-22 16:46] Siedlerchr commented on #4598
Working on this, could you please do me a favor and add a screenshot of the dialog in 4.3.1? That helps me to convert the dialog.

[2019-01-22 22:51] wujastyk commented on #4579
JabRef 5.0-dev--snapshot--2019-01-22--master--05f3350cc
Linux 4.15.0-43-generic amd64
Java 1.8.0_201

I'm in the same situation: 4.3.1 for serious work, 5 for testing.  I can't open "preferences " in 4.3.1 any longer.

I see another problem that is probably related to the above issue.  In 5, I can go to preferences and change the column sequence and spacing (manually or update to current), but my

[2019-01-22 23:56] alick opened #4603 "The pdf and doi/url icons are barely visible for the highlighted (currently selected) entry"
The pdf and doi/url icons are barely visible for the highlighted (currently selected) entry. This is worse when there is only one entry after a search, and there is no way to "deselect" the entry.

We should change the default color, or switch icons for highlighted entry.

JabRef 4.3.1
Linux 4.19.14-200.fc28.x86_64 amd64
Java 1.8.0_191
![screenshot from 2019-01-22 17-47-57](https://user-images.git

[2019-01-23 10:41] #4600 closed

[2019-01-23 10:41] tobiasdiez commented on #4600
Thanks to @chelseyong this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-01-23 12:02] tobiasdiez commented on #4575
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-01-23 12:02] #4575 closed

[2019-01-23 13:58] johann-petrak opened #4606 "The program for opening the PDF file hangs after a while"
JabRef 5.0-dev--snapshot--2019-01-23--master--c6a1fcbe3
Linux 4.15.0-43-generic amd64
Java 1.8.0_201
Steps to reproduce the behavior:
1. from the list of publications, chose any that has a PDF stored on the local file system
2. right click and choose "Open file"
3. The PDF file is shown using evince or okular (whatever I have configured)
4. After a while (can be seconds or minutes) the program (ok

[2019-01-23 14:23] johann-petrak commented on #4606
OK, I think the relevant setting is `<entry key="externalFileTypes" value="PDF:pdf:application/pdf:/usr/bin/okular:PDF_FILE"/>` (what does the usePDFReader setting actually do?).
And when I changed that one in the settings, so far no hang occurred, so it may be somehow related to using evince in there.

[2019-01-23 17:04] tobiasdiez commented on #4606
That sounds strange. In the end, JabRef only invokes the command `/usr/bin/okular pathToPdfFile`. I don't see why this should lead to to a freeze of okular or evince.

The `usePDFReader` key is only used to provide the correct command line arguments for some PDF viewers that need special treatment (e.g. Adobe reader).

[2019-01-23 20:42] wujastyk commented on #4579
Confirmed fix.  Thank you!

[2019-01-24 04:42] alick commented on #4603
Thanks for the information. I cannot run the master build now because Fedora openjfx does not have libjfxwebkit.so (due to bundling or blobs). I may test it out later.

[2019-01-24 09:46] bernhard-kleine commented on #1482
Obviously not yet! I encountered the following this morning:
![grafik](https://user-images.githubusercontent.com/9216487/51669571-0dad7280-1fc5-11e9-9172-d3da3e79d954.png)
The entry was dragged to the group, the change to the library was properly saved, but the count remained zero.
JabRef 5.0-dev--snapshot--2019-01-23--master--c6a1fcbe3
Windows 7 6.1 amd64
Java 1.8.0_201

[2019-01-25 10:36] bernhard-kleine opened #4609 "Preview not configurable"
JJabRef 5.0-dev--snapshot--2019-01-23--master--c6a1fcbe3
Windows 7 6.1 amd64
Java 1.8.0_201

- [+ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open jabref and select an entry in the maintable
2. press ALT-2 twotimes to show entry preview
3. Goto OPTIONS->PREFERENCES->ENTRY PREVIEW
4. Select e.g. B

[2019-01-25 10:58] DOFfactory opened #4610 "Group window size and font inconsistency"
JabRef 5.0-dev--snapshot--2019-01-24--master--48c5a20fd
Windows 10 10.0 amd64
Java 1.8.0_172

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open a new group
2. The window, if keyword is being defined, opens a lengthy description that extends the HIDPI (4K) size of the screen resolution, pushing

[2019-01-25 11:05] DOFfactory opened #4611 "Web search font size inconsistency"
JabRef 5.0-dev--snapshot--2019-01-24--master--48c5a20fd
Windows 10 10.0 amd64
Java 1.8.0_172

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open a Web search on a HiDPI display (4K)
2. The fonts are super-small, making the search results almost impossible to read

![web search font size](https:

[2019-01-25 11:35] Siedlerchr commented on #4611
That will be automatically fixed once the import inspection dialog is converted to JavaFX.
 There are still a few dialogs that have not yet been converted and therefore do not scale well in high dpi.
See issue #3861 for an overview

[2019-01-25 15:49] Siedlerchr opened #4612 "General fields layout: url and doi missing"
Default layout does not contain the fields url;doi;arxiv; and so on:

[2019-01-25 16:41] Siedlerchr commented on #4609
@chelseyong  You recently worked at this in #4587 Could you please take a look at this issue?

[2019-01-25 16:44] Siedlerchr commented on #4256
Thanks to @frasca80 this issue should now be fixed in the latest master!

[2019-01-25 16:44] #4256 closed

[2019-01-25 22:04] #4611 closed

[2019-01-25 22:08] tobiasdiez commented on #4610
The description is currently rendered using html (if I'm not mistaken). The best solution is probably to use a TextFlow control instead.

[2019-01-25 22:09] tobiasdiez commented on #4612
Applies only to bibtex I think

[2019-01-26 14:02] rvb-033 opened #4614 "BibTexKey Duplicate Check throws NPE"
JabRef version  on

- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. ...
2. ...
3. ...

<details>
  <summary>Log File</summary>

[code]
</details>

[2019-01-26 14:05] rvb-033 commented on #4614
Good afternoon,
I received the appended windows and error log while opening my data base.
I think the issue is linked with an attempt from JabRef to resolve duplicated keys.
Regards,
Hervé
[Pb JabRef.txt](https://github.com/JabRef/jabref/files/2799061/Pb.JabRef.txt)
![pb jabref](https://user-images.githubusercontent.com/20064725/51788222-c9180780-217b-11e9-9448-d4e5fb5223df.png)

[2019-01-26 16:52] #4598 closed

[2019-01-26 16:52] Siedlerchr commented on #4598
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-01-26 16:54] Siedlerchr commented on #4612
This should be a preferences issue onlly as it can be configured via Options -> Setup General fields

[2019-01-26 17:46] schniepp commented on #4598
@Siedlerchr
I just tested this with the latest development version (which I always do), and it works now! Thank you so much for looking into this and fixing this!
By the way, I am so sorry I was not able to provide that screenshot for you. I was extremely busy at work in the past day. Hadn't forgotten about it but simply didn't get a chance.
Cheers, H.

[2019-01-26 18:00] wujastyk opened #4616 "Cannot add TeX macros to text fields"
JabRef 5.0-dev--snapshot--2019-01-25--master--aa3657cac
Linux 4.15.0-43-generic amd64
Java 1.8.0_201

Steps to reproduce:

1. Trying to add a LaTeX command - \emph{} - in the Title field of the Editor
2. The typed text is deleted, with some other chars from the title text, and an error message pops up.

This is a general problem over all text fields.

<details>
<summary>Detail information:</summar

[2019-01-26 18:20] Siedlerchr commented on #4598
@schniepp  No worry, I found an old screenshot in the help. Now as the dialog is converted, it would be nice if you could update the screenshots in the help ;)
Just go to the bottom of the site (Edit this page)
http://help.jabref.org/en/FindDuplicates

[2019-01-26 18:38] wujastyk commented on #4616
Is this the stacktrace?

jabref-testversion
11:35:47.030 [JavaFX Application Thread] INFO
org.jabref.logic.importer.OpenDatabase - Opening:
/home/dom/Dropbox/localtexmf/bibtex/bib/biblio4-utf8.bib
11:35:48.289 [JavaFX Application Thread] INFO
org.jabref.logic.importer.OpenDatabase - Opening:
/home/dom/Dropbox/Projects/HSSA/issue 7 Fabrizio
Speziale/paper/speziale2019.bib
11:35:57.193 [JabRef LowPr

[2019-01-26 19:44] Siedlerchr commented on #4616
Yes a part from it, but it seem like in the Error Dialog you got a more detailed exception stacktrace (the one you selected in your screenshot).  Best option is to paste it here, and then select it, and press insert code (formats it fitting)

PS: Thanks for intensively testing JabRef dev and reporting the errors! We value your effort in testing! 🥇

[2019-01-26 20:19] wujastyk commented on #4616
Now I'm getting this repeatedly as I work; about every five or ten
minutes.  I don't know the cause of this error message, or if it's related
to the previous report about TeX macros in fields.

java.lang.IllegalStateException: Not on FX application thread;
currentThread = pool-9-thread-1
    at com.sun.javafx.tk.Toolkit.checkFxUserThread(Toolkit.java:279)
    at
com.sun.javafx.tk.quantum.QuantumTo

[2019-01-26 20:50] Siedlerchr commented on #4616
Okay, it seems you have some save actions configured and I think you have the Latex2Unicode save action configured which does a cleanup every time you save or the auto save is triggered.  That would also explain the thing about the tex macro.
 And you seem to have a search open which gets notified because a field content changed.

Open your bib file with an editor and search for `saveActions`, sho

[2019-01-26 21:20] Siedlerchr commented on #4616
You should also remove the normalize date formatter, it's going nuts in your db. Refs #2753

[2019-01-27 11:03] Siedlerchr commented on #4598
I replaced the screenshots. The way you could have done this would have been to drag and drop the files ti upload and then create PR.

The bibtex source code is no longer present. Seems it got lost in #4410 or was not converted on purpose, probably to avoid problems as the source field is a bit complicated.
I think it is not really necessary to have the source view, so I remove that screenshot.

[2019-01-28 03:12] wujastyk commented on #4616
Thanks for spotting that about "save actions."

JabRef 5.0-dev--snapshot--2019-01-27--master--8076f847a
Linux 4.15.0-43-generic amd64
Java 1.8.0_201

If I go to Library/Library Properties, I get a screen with many expected
menu entries absent.  This is what I see:

[image: Screenshot from 2019-01-27 19-18-48.png]

The end of my main bib file (biblio4-utf8.bib) looks like this (before
editing):

@C

[2019-01-28 07:37] Siedlerchr commented on #4616
Yes that is odd. I will try to check that in my copy. Could also be related to the auto save feautre.

The newest master version (from yesterday) should no longer throw the error you encountered.
Regarding the library properties missing fields/things: In  #4617  I am in the process of converting the library properties to javafx as well so that schould be then shown correctly.

[2019-01-28 13:53] Siedlerchr opened #4621 "Remove Preview Style from the right list results in Divide by zero exception"
Current master

Move all styles from the right to the left, including "Preview".
The following error comes up.

A solution would be to disable the cell or to prevent it from moving.
[code]

[2019-01-28 13:55] Siedlerchr opened #4622 "Reset preferences throws not on FX Thread exception multiple times"
current master (2019-01-28)

To FIX: Replace the Swing Worker with a Background Task.
[code]

[code]

[2019-01-28 17:50] wujastyk commented on #4616
The TeX-macro-in-field problem is fixed as of today, as you said.  Thank
you!

On Mon, 28 Jan 2019 at 00:37, Christoph <notifications@github.com> wrote:

[2019-01-29 17:13] shaftoe99 commented on #4590
Hello Tobias

thanks for your help! I'll try to rephrase it:.

I have an entry that I would like to cite  as "Robert Koch Institut" and not "Institut"

Looks like this as biblatex source.

@Article{RKI2015,
  author   = {Robert Koch Institut},
 ...
}

I can protect the field with parenthesis {Robert Koch Institut}, either manually in the source  or using the right mouse button ("Protect terms, add

[2019-01-29 17:14] shaftoe99 commented on #4590
Sorry, issue is still open

[2019-01-29 17:15] shaftoe99 commented on #4590
Hello Tobias

thanks for your help! I'll try to rephrase it:.

I have an entry that I would like to cite as "Robert Koch Institut" and not "Institut"

Looks like this as biblatex source.

@Article{RKI2015,
author = {Robert Koch Institut},
...
}

I can protect the field with parenthesis {Robert Koch Institut}, either manually in the source or using the right mouse button ("Protect terms, add {} aro

[2019-01-29 17:56] Siedlerchr commented on #4590
Do you have any save actions configured?

Open the bib file in a text editor and scroll to the end and check if there are any formatters listed

[2019-01-29 20:00] wujastyk commented on #4570
JabRef 5.0-dev--snapshot--2019-01-28--master--fbf1cc9a4
Linux 4.15.0-44-generic amd64
Java 1.8.0_201

Problem continues.
On using the menu to copy/preview/text, I get this popup error message:

![screenshot from 2019-01-29 12-55-33](https://user-images.githubusercontent.com/762246/51936539-a1b47b00-23c5-11e9-92c2-6f1c4274644a.png)

Event log below.

<details>
<summary>Detail information:</summary>

[2019-01-30 07:05] Siedlerchr commented on #4570
Thanks for your report. I think the underlying error is the same or similiar to the one I encounterd  in  #4622
The citation style worker is a leftover from the old GUI technology.

[2019-01-30 07:37] Siedlerchr commented on #4590
@shaftoe99  Yes, the culprit is latex2unicode who unfortunately kills the braces around corporate authors.  See #4152
Either you change all your save actions (replace "enabled" with disabled) o9r you remove the all-text-fields formatter line.
So this is not a bug, but just more or less a problem known of the latex2unicode formatter.

[2019-01-30 16:25] hudcap commented on #1284
Are there any updates on this?

[2019-01-31 09:46] #4609 closed

[2019-02-01 15:08] #4570 closed

[2019-02-01 15:08] #4621 closed

[2019-02-01 15:08] #4622 closed

[2019-02-01 15:10] Siedlerchr commented on #4570
Should be fixed now in the latest master.
Note that the Copy Preview copies both the HTML content and the plaintext content to the  clipboard.
If you paste it into a word processor or tool that excepts html content (email for example) then it is correctly formatted with bold italics etc.
If you paste it into a plain text editor which does not support HTML formatting it is pasted as plain text.

[2019-02-02 04:48] jdpipe commented on #156
why was this bug closed? was a solution implemented, or was the idea rejected for some reason?

[2019-02-02 08:57] Siedlerchr commented on #156
The issue was put on hold. That means we try to focus on other issues first due to lack of resources.
 However, I developed a generally working solution which needs still to be improved before it can be used. See #2866 for details.

[2019-02-02 22:38] Siedlerchr commented on #4473
@Ali96kz  Could you please test if the latest snap works?
We recently were able to fix the `snap` package for Ubuntu and I read that it should also be possible to run this on Fedora:
` sudo snap install --edge jabref`

[2019-02-03 15:41] DOFfactory opened #4625 "What happened with the development branch?"
I cannot access nor can I download the development branch anymore (see attached screenshot):

![jabref dev](https://user-images.githubusercontent.com/10846169/52178769-905adc80-27d2-11e9-9bd2-012a41061df4.png)

[2019-02-03 15:52] Siedlerchr commented on #4625
Hmm thanks for mentioning this issue, it was definitely working a couple of days ago

[2019-02-03 16:04] Siedlerchr commented on #4625
Seems like someone cleaned up all branches on the build portal. I ran the master build again and it should now be up again:
https://builds.jabref.org/master/

[2019-02-03 16:04] #4625 closed

[2019-02-03 20:11] koppor commented on #3121
@LyzardKing @Siedlerchr Do you think, we remove the development mode in the snap and release it as beta?

As far as I understand https://github.com/JabRef/jabref/pull/4619#issuecomment-458260320, we need to go to classic mode accepting that it requires manual approval by Canonical.

Options as by https://docs.snapcraft.io/snap-confinement/6233:

##   Strict

Used by the majority of snaps. Strictly

[2019-02-04 08:44] LyzardKing commented on #3121
Classic mode would be needed for the integration with libreoffice and the other editors.
With a strict (or devmode) confinement there's no way to add that integration as far as I know.
So devmode is not needed any more, strict mode works without editor integration.
The choice is between a confined snap or a classic snap.
To request approval for a classic snap (once it works) you need to ask on the

[2019-02-04 16:22] Siedlerchr opened #4628 "Can't save new content selectors"
Current master.
Options -> Manage content selectors
Enter new field and new keyword,
press apply or enter

Is still a swing dialog.  Refs #3861

[code]

[2019-02-05 12:05] Siedlerchr commented on #3121
@LyzardKing  Have you installed libre office also as snap or as normal package?  And did you install the libreoffice-java stuff?

[2019-02-05 15:29] tobiasdiez opened #4629 "Improve telemetry collection"
At the moment, mostly user actions involving dialogs are tracked. It would be nice to include also other interactions (especially button presses and tab changes in the entry editor).

This amounts to adding code similar to the following one in the appropriate places:
https://github.com/JabRef/jabref/blob/b411cfbb1c60af09052e17d1780f1cdb770bc4ef/src/main/java/org/jabref/gui/actions/JabRefAction.jav

[2019-02-05 20:30] LyzardKing commented on #3121
It won't work with either one...
Being a confined snap it cannot access neither the deb nor the snap.
It has access only to its home and root (plus the non hidden parts of the user home...)

[2019-02-05 21:25] wujastyk opened #4630 "Quality / Resolve Bibtex Duplicate keys throws an error"
Apologies, I just saw that this is the same as #4614

JabRef version

JabRef 5.0-dev--snapshot--2019-02-04--master--a0c2e04ea
Linux 4.15.0-45-generic amd64
Java 1.8.0_201

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Select Quality / Resolve Bibtex Duplicate keys
2. I get the attached popup er

[2019-02-05 21:34] wujastyk opened #4631 "Take bibtex key into account in "find duplicates""
Please use the GitHub issue tracker only for bug reports and suggestions for improvements.
Feature requests, questions and general feedback is now handled at http://discourse.jabref.org.
Thanks!

JabRef 5.0-dev--snapshot--2019-02-04--master--a0c2e04ea
Linux 4.15.0-45-generic amd64
Java 1.8.0_201

When using "Find duplicates" bib items that have different bibtex keys are presented as if they were d

[2019-02-05 23:21] tobiasdiez commented on #4631
I understand where you are coming from, but this suggestion makes the duplicate search rather pointless. If only entries with the same key are considered a duplicate, then you can spot these duplicates also pretty easily by going through the main table (with sorted key colmn).

Instead, we should improve the find duplicate functionality so that such false positives are not found. If I'm not mistak

[2019-02-05 23:21] #4631 closed

[2019-02-05 23:22] tobiasdiez commented on #4630
Duplicate of #4614

[2019-02-05 23:22] #4630 closed

[2019-02-06 01:50] wujastyk commented on #4631
Dear Tobias,

My situation is that (almost?) all entries in my 3 MB BibTeX database have
been duplicated.  Or at least, it looks like that.  This has happened
before, and is the result of some JabRef glitch somewhere that I don't know
how to track down.

My entries are uniquely identified by their BibTeX keys.  So what I need now
is a utility to find all duplicate entries according to BibTeX key,

[2019-02-06 10:20] mlep commented on #4631
@wujastyk : if JabRef is of no help (at least in the short term), `bibtool` may be helpful. Check its `-d` option (not tested). See https://www.ctan.org/tex-archive/biblio/bibtex/utils/bibtool/

[2019-02-06 11:53] ljicsinszky opened #4632 "no memory release and program residues remain active"
JabRef version <4.3.1> on < Windows 10>

- [x ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

<Closing the jabref not only the memory is not released but in the task manager the jabref seems to be running. Even after half an hour. 4 "instances" occupy more than 1 GB. Only manual kill the otherwise not running task releases the memory.

[2019-02-06 11:56] Siedlerchr commented on #4632
Thanks for reporting this. Please try the latest development version from https://builds.jabref.org/master

[2019-02-06 20:14] wujastyk commented on #4631
Thank you.  On Monday I did in fact spend some time with the Bibtool
documentation, including -d.  You're right, that Bibtool can probably do
the job I need, quite fast.  But I am very busy with teaching and writing,
and the Bibtool documentation is not great (lacks simple examples), and I
just didn't have time to get Bibtool to do the precise job I need.  :-(

Thanks, nevertheless, for the pointe

[2019-02-07 13:24] JoKalliauer opened #4633 "Uncaught exception occured in Thread [JavaFX Application Thread,5,main]"
JabRef 5.0-dev--snapshot--2019-02-04--master--a0c2e04ea
Linux 4.15.0-45-generic amd64
Java 1.8.0_201

JabRef version JabRef 5.0-dev--snapshot--2019-02-04--master--a0c2e04ea on Ubuntu 18.04, maybe related to https://github.com/JabRef/jabref/issues/3431 or https://github.com/JabRef/jabref/issues/4567

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the pr

[2019-02-08 09:36] tobiasdiez opened #4641 "Remove usage of TempDirectory extension from junit-pioneer"
As of junit 5.4, the temporary directory extension is included in the main API, see [documentation](https://junit.org/junit5/docs/5.4.0/user-guide/index.html#writing-tests-built-in-extensions-TempDirectory). Thus, we can replace the `TempDirectory` extension from junit-pioneer with the built-in extension (and remove the `junit-pioneer` dependency).

[2019-02-08 12:22] ricantech commented on #4628
Hi, if not urgent I can take a look on this :)

[2019-02-08 12:28] Siedlerchr commented on #4628
@ricantech  Thanks for your interest. The solution would be to simply convert the dialog to javaFX like the other dialogs. Maybe you can also optimize the layout of the dialog. You can start with the scene builder

[2019-02-08 13:19] RonakLakhotia commented on #4591
I would like to give this a try!

[2019-02-08 13:35] Siedlerchr commented on #4591
@RonakLakhotia  Sure, go ahead! As a starting point, you can look at the IntegrityChecker classes:
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/integrity/IntegrityCheck.java

[2019-02-08 13:49] RonakLakhotia commented on #4591
Is the solution, creating a predicate to check if the edition = 1 as given in :-
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/integrity/EditionChecker.java

[2019-02-08 13:52] tobiasdiez commented on #4591
Yes, it should suffice to add a simple `if (value = "1") then return warning` statement. Please also write a simple test similar to these here: https://github.com/JabRef/jabref/blob/master/src/test/java/org/jabref/logic/integrity/PagesCheckerBibLatexTest.java. Thanks!

[2019-02-08 21:31] ProgrammingBanana commented on #3861
Hello this would be the first contribution I make to an open source project.  Is there something you'd suggest I do?  Im also starting working with JavaFx but have a pretty good understanding of Java

[2019-02-08 21:52] Siedlerchr commented on #3861
Hey, thanks for your interest. You could transform the manage protected terms dialog to JavaFX. You can create the layout with scene builder (the fxml). For some general information about dialogs with javafx have a look at our wiki.
The easiest way is to look at existing javafx dialogs.
Feel free to ask any questions, either in your PR then or in our gitter chat.

[2019-02-09 05:49] akash1994deep commented on #4641
I am working on this issue.

[2019-02-09 10:10] BGhass opened #4643 "Jabref (dev) : running .:gradlew assemble with ubuntu 18.04"
JabRef on Ubuntu 18.04

I imported the last source code of the master branch in my IDE (intellij), and I ran the 'gradlew assemble' command. I had the following errors (Log file).
I guess that I have a problem with the gradle version and some dependencies but I can't solve it.

<details>
  <summary>Log File</summary>

plug-in not found: ErrorProne
/home/bgh/wsghassen/gitrepository/jabref/src/main/

[2019-02-09 10:47] Siedlerchr commented on #4643
Hi you probably need to install and configure Java 8 as jdk for JabRef.
Newer Java versions currently don't work.

[2019-02-09 13:17] BGhass commented on #4643
Hi,
Thank you for the response, but, I verify the jdk and it's setted.
![jdk](https://user-images.githubusercontent.com/15387271/52521304-78bda100-2c75-11e9-804b-55a93ed9db43.png)

[2019-02-09 14:36] #4641 closed

[2019-02-09 21:59] tobiasdiez commented on #4539
Thanks to @shahamish150294 this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-02-09 21:59] #4539 closed

[2019-02-10 13:21] venik212 opened #4645 "Menus do not open under Lubuntu 18.10"
I am using Lubuntu 18.10 (LXQt).  I installed Oracle Java 8, and the latest Jabref available for linux (3.8.2). When it opens, none of the menus work-- when you click on them, nothing happens.  If I open a .bib bibliography with Jabref (using OpenWith..) the database opens, but I cannot do much with it without the menus.
Note that the same data base used to work in both Windows and Linux (with pre

[2019-02-10 13:30] tobiasdiez commented on #4645
Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-02-11 08:17] fspreng commented on #4539
Works for me. Many thanks!

[2019-02-11 09:38] kilian01 opened #4652 "Find NEW files (PDFs - based on date)"
I asked for this in the JabRev Forum and Christoph encouraged me to make an suggestion for an improvement for the ‘Find unlinked files’ function. My problem is that this shows all unlinked files without showing the date of the file-creation / -change, or what would be even better, allows not to restrict on new (1 day, 1 week, …) files. As I have - due to historic reason - quite a lot of unlinked f

[2019-02-12 08:46] doctor-ian opened #4654 "Make file annotations searchable"
JabRef can correctly add File annotations from the linked PDF to the corresponding tab.

However, the File annotations tab is not searchable, i.e. if I highlight a specific word in the PDF or add a word as a comment, neither the highlighted nor the commented word are identified by the global search function. I think it would be nice to make this feature available in the options, e.g. under "Genera

[2019-02-12 13:13] grebnetiew opened #4655 "Exporting to MS Office 2007 XML omits "von" part from author's last name"
JabRef version 4.3.1 and 5.0-dev on Windows 10.

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When exporting a bibliography with a 'von' part, the 'von' part is omitted from the XML file.

Steps to reproduce the behavior:
1. Add an entry with as author, for example, John von Neumann (preserve caps)
2. Export to MS Office 2007 XM

[2019-02-12 18:18] ricantech commented on #4628
Hi, here is just design proposal - https://github.com/ricantech/jabref/commit/a34a926ac5ed22f3bd658893632f96d898b61952

![image](https://user-images.githubusercontent.com/5075491/52658289-fb0ac700-2efa-11e9-8cf7-1ed18c85ed40.png)

[2019-02-12 20:41] tobiasdiez commented on #4628
@ricantech Thanks for working on this! The design looks good to me. The only suggestion I have is to maybe move the buttons to the right of the list (or below it), because the "Remove" action only makes sense if you first select an entry in the list and the usual flow should be from the right to the left.
Please also add the `%` sign in front of the other texts. This looks strange in the preview,

[2019-02-13 06:05] #4591 closed

[2019-02-14 07:37] VelxusDev commented on #4586
Hey, i'd like to contribute to this issue, how can I start?

[2019-02-14 17:43] tobiasdiez commented on #4586
Thanks for your interest. The UI is generated here
https://github.com/JabRef/jabref/blob/d95c06b24eab2f39d50180461595c1d26e852bac/src/main/java/org/jabref/gui/groups/GroupDialog.java#L432-L438
and a similar implementation of the browse button behavior can be found here
https://github.com/JabRef/jabref/blob/4c3e520a32f986e0df8a6b7187cf6b2dfe322ccc/src/main/java/org/jabref/gui/filelist/LinkedFilesEd

[2019-02-15 13:01] ilippert commented on #4473
it works,
(snap run jabref)

JabRef 5.0-dev
Linux 4.20.7-200.fc29.x86_64 amd64
Java 1.8.0_191

[2019-02-15 13:49] #4473 closed

[2019-02-15 17:53] ricantech commented on #4628
@tobiasdiez @Siedlerchr Hi guys, just a minor question. I would like to enable the menu item only when there is existing database connection. From my understanding I should add my action into org.jabref.gui.JabRefFrame#openDatabaseOnlyActions but this enable/disable logic is being called from org.jabref.gui.JabRefFrame#initActions which logic is commented at all so it will be never called.
Another

[2019-02-15 22:25] tobiasdiez commented on #4628
That's a good observation. As of now, all menu items are always activated even if they don't make sense in the given moment. Previously, the activation/deactivation was handled by the `JabRefFrame` (using the commented-out code). In the new framework, every action (or to be more precise every `Command`) has control over its status by using the `executable` property, see e.g
https://github.com/JabR

[2019-02-16 03:15] alick commented on #4473
Side note: JabRef latest master works with Oracle JDK8 on Fedora 29.

[2019-02-16 16:44] jgonthier commented on #4563
Hello,

I have the same problem: Jabref 5.0 and Jabref 4.3.1 hang upon trying to import, whether in the current library or in a new library. I have this problem both using the dmg images or the .jar with a separately installed JDK. Java version is
[code]
Editing the /etc/hosts file did not solve the problem on Jabref 4.3.1 even after a reboot.

In addition, I see the following error in the termina

[2019-02-16 17:11] jgonthier commented on #4563
Good news: Jabref 4.1 seems to be working smoothly.
Bad news: the error message I reported above also appears with Jabref 4.1, so it is probably unrelated to the problem.

[2019-02-16 17:14] Siedlerchr commented on #4563
@jgonthier  okay, thasnk for the info. The error message you encounter is probably an apple warning we can't do anyhting about. Where exactly does your problem occur in the latest 5.0 dev version?
 Does a file select dialog appear?

[2019-02-16 17:16] drcicero commented on #4597
Hi! I had a similar error on Ubuntu with some version of JabRef. Would `java --module-path /usr/share/openjfx/lib/ --add-modules=javafx.controls -jar JabRef.jar` work for you?

[2019-02-16 17:25] Siedlerchr commented on #3121
@LyzardKing  I just saw that the new jdk202 release now has a backport of GTK3 https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8207322
Do we need to change the deps now?

[2019-02-16 17:27] jgonthier commented on #4563
@Siedlerchr I just checked, and I was wrong. I re-installed 4.3.1 when I thought I installed 5.0-dev.
(This is because of Mac's security: when I tried to allow the 5.0 installer, it instead open the 4.3.1 installer since the disk image was still mounted with the same name... Macs...)
Sorry about the confusion. Importing works with Jabref 5.0 dev, however it hangs when I try to quit.

[2019-02-16 17:31] LyzardKing commented on #3121
The package in xenial (the base for jabref) is not updated.
When it changes I can test it and let you know!
I'll put an alert on the package page (https://packages.ubuntu.com/xenial/openjdk-8-jre)
ATM it's on 8u191

[2019-02-16 17:54] Siedlerchr commented on #4563
Okay, thanks for the update. Just to make sure, you don't have any old java version left (see https://github.com/JabRef/jabref/issues/3587#issuecomment-387705258) you should uninstall first all jabref and then manually clear the contents)

Regarding the import,  it will take some time probably until the import is finished and then JabRef should behave normally again. If I remember correctly the im

[2019-02-16 18:08] jgonthier commented on #4563
So every time I tried installing a new version, I first deleted the previous one from Applications, like mentioned in the comment you reference. The installer didn't suggest an update and seemed to be doing a clean install.
I can probably use 4.1 until 5.0 is released though, so I should be all set. Thanks!

[2019-02-17 19:34] mostueve opened #4659 "Uncaught exception when adding by DOI"
When adding a paper through DOI (I always do that), there is an exception. The entry already exists.
The DOI is 10.1038/s41598-018-30884-x
First, the program did not crash. Now, when trying to reproduce the error, it does.

JabRef 5.0-dev--snapshot--2019-02-04--master--a0c2e04ea
Ubuntu 16.04
Linux 4.15.0-46-generic amd64
Java 1.8.0_191

not the same as https://github.com/JabRef/jabref/issues/1239

[2019-02-18 12:55] Siedlerchr commented on #4659
Thanks for reporting this, I could reproduce this partly on windows. Interestingly, if you directly paste the DOI on the table, it is added and no error/duplicate check dialog is opened.

The culprit is the ImportInspectionDialog which is one of the dialogs listed in #3861 which still needs to be converted to javafx.

[2019-02-18 12:58] Siedlerchr commented on #4633
This could be related that the SearchWorker is still implemented as SwingWorker and not properly as JavaFX Task. Related of #3861

[2019-02-18 15:40] jureslak opened #4661 "Some journals are not abbreviated correctly"
JabRef version 4.3.1, Linux

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I noticed that "Applied numerical mathematics" was not abbreviating and found that this is most likely due to a double space present in its name in the journal list.

Steps to reproduce the behavior:
1. Open the following entry:
[code]
2. Select it and cli

[2019-02-18 16:08] #4661 closed

[2019-02-18 21:11] #4628 closed

[2019-02-18 21:11] tobiasdiez commented on #4628
Thanks to @ricantech this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-02-19 10:49] noMICROSOFTbuhtz opened #4664 "Drag&Drop entry (WWW) to a group"
JabRef 5.0-dev--snapshot--2019-02-19--master--623718aa9
Linux 4.9.0-8-amd64 amd64
Java 1.8.0_181

When I drag&drop an entry (type WWW) to group nothing happens. The entry does not appear in that group. But the entry itself updates it "groups" field with the name of the new group. Restart doesn't help.

I **can not** reproduce this for all entries but for this.

Please look in the group **_entry_da

[2019-02-19 10:58] bdcaf commented on #4527
Might be a long shot - but I had issues  with too long file names. See: https://github.com/JabRef/jabref/issues/3582

[2019-02-19 14:58] MartinKarim opened #4665 "Main Menu: disable unavailable items"
![mmdisclosure](https://user-images.githubusercontent.com/26404402/53015989-b4fab980-344c-11e9-9c7b-80964b28a837.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Unavailable items in the Main Menu are greyed out and disabled when no .bib file is open. If a .bib file is op

[2019-02-19 15:03] MartinKarim opened #4666 "Main Menu: group & order menu items"
![mmgrouping](https://user-images.githubusercontent.com/26404402/53024669-bd102480-345f-11e9-9e33-625dd2a15df3.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Too many unordered items in the tabs of the Main Menu|Reorder items, so that those with similar meaning or funct

[2019-02-19 15:08] MartinKarim opened #4667 "Main Menu: change icons"
![mmgrouping](https://user-images.githubusercontent.com/26404402/53024751-f5176780-345f-11e9-959c-72e23b456a53.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Icons in Main Menu are not recognizable or can be confused with other icons|Change icons or remove them| use ico

[2019-02-19 15:23] MartinKarim opened #4668 "Main Menu: change File tab"
![mmfile](https://user-images.githubusercontent.com/26404402/53025909-2f820400-3462-11e9-8f18-0f644f85e001.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| separate _new library_ items for LaTeX and Biblatex are used|use hierarchy to reduce number of items in the tab| -|

[2019-02-19 15:59] MartinKarim opened #4669 "Main Menu: change Edit tab"
![mmedit](https://user-images.githubusercontent.com/26404402/53028478-38c19f80-3467-11e9-9d39-0d3e4942b7ff.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| _Rank_ feature rated as unimportant in a user survey| Remove _Rank_ from main menu| -|
|complex editing functions sh

[2019-02-19 16:10] MartinKarim opened #4670 "Main Menu: change Library tab"
![mmlib](https://user-images.githubusercontent.com/26404402/53029047-61966480-3468-11e9-8e22-37d9f8815975.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| _New article_ shortcut already exists in toolbar|remove _New article_ from Main Menu| -|
| _Edit strings_ is an impre

[2019-02-19 16:28] Siedlerchr commented on #4670
As I just recently converted the Strings Dialog to javafx, I internally renamed it to BibtexStringEditor. I propose to add at least the word "Bibtex" before so that the user knows what this is about.
Before I touched this dialog I did not really knew what the purpose of the dialog was referring to.

[2019-02-19 17:09] MartinKarim opened #4671 "Main Menu: change Quality tab"
![mmquality](https://user-images.githubusercontent.com/26404402/53029662-aa9ae880-3469-11e9-84ea-f42c7714d970.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| The three lowest items do not fit the name of the tab as they do not directly or exclusively affect quality|move

[2019-02-19 17:58] MartinKarim opened #4672 "Main Menu: change Tools tab"
![mmtools](https://user-images.githubusercontent.com/26404402/53036520-30be2b80-3478-11e9-8855-560a17900156.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Adding a sublibrary has a global effect on the library|move _New sublibrary based on AUX file_ to Library|see proto

[2019-02-19 18:31] MartinKarim opened #4673 "Main Menu: change View tab"
![mmview](https://user-images.githubusercontent.com/26404402/53037417-74b23000-347a-11e9-8a31-aebcf918d48a.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Toggle items are named inconsistently;<br/>the toggle state is not visible in the menu|Remove _toggle_ from the item

[2019-02-19 20:22] medmatix commented on #4199
This started happening with 4.3.1. I've been using fine then all of a sudden - can't edit so something is still being unmasked during use and it's not clear what.

[2019-02-20 01:07] noMICROSOFTbuhtz commented on #4597
The current dev works.

`java -jar JabRef*2019-02-19*jar`

But it could be the `-jar` switch. What makes no sense. I give a jar file to `java` so why should I explicite use such a switch?

[2019-02-20 01:07] #4597 closed

[2019-02-20 01:08] noMICROSOFTbuhtz commented on #4239
The problem still appears in the 5.* dev version.

[2019-02-20 01:09] noMICROSOFTbuhtz commented on #3252
Still exists in 5.* dev

[2019-02-20 01:10] noMICROSOFTbuhtz commented on #4221
I can reproduce the problem with the current 5.* dev version.

[2019-02-20 01:15] noMICROSOFTbuhtz commented on #3252
The problem still exists in current 5.* dev

[2019-02-20 01:17] Codeberg-AsGithubAlternative-buhtz opened #4674 "Automatic unfold while drag is to fast / sensitive"
Using `JabRef-5.0-dev--snapshot--2019-02-19--master--623718aa9.jar`.

When dragging (not drop!) an item into the group tree each group unfolds when it has contact with the dragged item.

This happens absolutely to fast related to other applications. There should be a delay (between 1 or 2 sec) before a group unfolds.

[2019-02-20 08:19] Siedlerchr commented on #4597
Because this is the way how java is designed. It has been since forever the way to run jar files.
The normal java command without any parameters expects a *.class file with the name you specify. In a jar file multiple class files are combined, so you need to specify that you want to run the classes inside of the jar file.

[2019-02-20 08:35] Siedlerchr commented on #4239
Maybe it could work if one applies a custom FocusModel: https://docs.oracle.com/javase/8/javafx/api/javafx/scene/control/FocusModel.html
for the treeview

[2019-02-20 09:11] #4643 closed

[2019-02-20 09:11] BGhass commented on #4643
Resolved

[2019-02-20 09:41] bernhard-kleine opened #4676 "Edit group window to large (even at screen size 1920px) and not shrinking when the window is resized"
JabRef 5.0-dev--snapshot--2019-02-19--master--1b6c7b5b9
Windows 7 6.1 amd64
Java 1.8.0_201

- [+ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Opening "Edit group" the display for this window is so large that the ???? buttons on the bottom of the screen are not visible. It is not possible to resize

[2019-02-20 09:48] bernhard-kleine opened #4677 "Icons form the Material Design Icons"
I have used the mdi-folder icon saying folder in the group edit window. With
![grafik](https://user-images.githubusercontent.com/9216487/53082292-d4e9b600-34fc-11e9-9692-04bc1b17f417.png)
mdi-shape-circle-plus this does seem to work using shape-circle-plus.
What is wrong?

JabRef 5.0-dev--snapshot--2019-02-19--master--1b6c7b5b9
Windows 7 6.1 amd64
Java 1.8.0_201

[2019-02-20 09:55] bernhard-kleine opened #4678 "Edit group: Color code item is cut at half the size"
JabRef 5.0-dev--snapshot--2019-02-19--master--1b6c7b5b9
Windows 7 6.1 amd64
Java 1.8.0_201

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. In the edit group window the color code is only half visible, the color picker itself works
2. ...
3. ...
![grafik](https://user-images.githubusercontent.com

[2019-02-20 09:57] tobiasdiez commented on #4677
Some of the icons on the material design website are not present in the font that we use in JabRef (which is essentially an older version of the Material Design Icons). Here is a list of all the available icons:
https://bitbucket.org/Jerady/fontawesomefx/src/6cbf97484669c4ab79318a158e1dadf59363c85c/fontawesomefx/fontawesomefx-materialdesignfont/src/main/java/de/jensd/fx/glyphs/materialdesignicons/

[2019-02-20 09:57] #4677 closed

[2019-02-20 10:00] bernhard-kleine commented on #4677
Can you please advise how to make that showing the graphics?

[2019-02-20 10:01] tobiasdiez commented on #4676
Should be fixed with #4660.

[2019-02-20 10:20] bernhard-kleine opened #4679 "The item count in a group is not increased when dragging a entry to the group"
JabRef 5.0-dev--snapshot--2019-02-19--master--1b6c7b5b9
Windows 7 6.1 amd64
Java 1.8.0_201

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. When dragging a item into a group the item count does not increase. Only be opening the group one sees that the entry has been dragged at all, while the item

[2019-02-20 12:00] fspreng opened #4680 "Add option to allow for integers in field "edition" when running database in bibtex mode"
My colleagues and I much appreciate the integrity check of the information stored in the field "edition" that was implemented by @grimes2 as part of PR #1914. However, our literature database, which runs in bibtex mode, typically contains an integer in the edition field since this way of specifying the edition is much more convenient for us and all *.bst files we use are capable of handling intege

[2019-02-20 12:26] fspreng commented on #2790
Since no consensus about the reconstruction of the entry editor has been found yet and reworking it will take some effort, would it be a good temporary solution to give the user at least the possibility to hide unwanted tabs? This may already help in preventing the user from being distracted from the important information by unimportant one, for instance the duplications of fields appearing as par

[2019-02-20 13:13] Siedlerchr commented on #2790
@fspreng I don't have this deprecated fields tab. I have Required, Optional 1 and Optional 2 in the curretn dev version in biblatex mode
It may depend on what you have defined in Options -> Setup General fields (fields for all entry types)
This is my layout:
https://help.jabref.org/en/GeneralFields
[code]

[2019-02-20 14:23] fspreng commented on #2790
Thanks for the prompt feedback @Siedlerchr. You are right, this behavior changed since the latest release version. Many thanks for the hint and sorry for the inconvenience! So, forget about the example I gave in my previous post. However, the possibility to hide certain tabs may still be advantageous to the user. For example (hopefully a better one than last time), we introduced an additional tab

[2019-02-20 19:43] MartinKarim opened #4681 "Groups: general changes"
![groupgeneral](https://user-images.githubusercontent.com/26404402/53118488-7e589800-354d-11e9-970b-48ee0e172f2c.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| The _All entries_ group does not match the users' mental model of grouping;<br/>the same goes for the fact tha

[2019-02-20 20:07] MartinKarim opened #4682 "Groups context menu: Structure remove groups and subgroups"
![groupmanual](https://user-images.githubusercontent.com/26404402/53120894-26249480-3553-11e9-8da1-8a12dcc1f3a2.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| The button for adding groups is often too remote from the list of existing groups and too inconspicuous|Enlarge

[2019-02-20 20:18] MartinKarim opened #4683 "Groups: change Automatic grouping"
![groupautomatic](https://user-images.githubusercontent.com/26404402/53121033-8adfef00-3553-11e9-9011-652f5ce2afc0.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Automatic grouping (e.g. by keywords is too complex)|Automatically create groups for every unique value of a

[2019-02-20 20:46] tobiasdiez commented on #4682
That's a good idea. But what happens if the user already added a lot of groups and there is no empty space below the list of existing groups? Any recommendations for this case?

[2019-02-20 20:54] MartinKarim opened #4684 "Groups: change "Add group" dialog"
![groupdialog](https://user-images.githubusercontent.com/26404402/53122331-a39dd400-3556-11e9-8bbe-c902151c5bb8.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Hierarchical context settings are too complex|Remove settings from group creation dialog (e.g. into the prefere

[2019-02-20 21:01] MartinKarim commented on #4682
While the button should be just below the bottom of the list of groups, it should not be a part of the list. If the space is running out for displaying all groups at once, I recommend to make the list of groups scrollable just above the button. Would that be a solution?

[2019-02-20 21:49] MazerRackhem commented on #4481
I downloaded the development version. This did help the issue but not very much. What I am finding is that if I click on the Jabref Icon it loads in about 30 seconds to a minute. I can then click on File-> Open Library ->Appropriate File and that file will load up instantly. However, if I click a .bib file outside of Jabref it takes a very long time for Jabref to come up.

[2019-02-20 21:51] MazerRackhem commented on #4481
The backups issue is actually worse. Now whenever I open a file I get the "A back up was detected do you want to restore from the back up" message. However, after I click no the same message will sometime randomly reappear later and will also cause additional Jabref windows to keep popping up. As I am writing this I've actually had to close 3 Jabref windows that popped up just while I was writing

[2019-02-21 07:08] Siedlerchr commented on #4481
@MazerRackhem  First of all you can manually delete the backup files. They are next to your bib files. The *.sav and *.bak file.  JabRef usually asks if the instance was not shut down correctly.
You can also disable the auto save feature in the Settings which may sometimes cause this effect.
Starting JabRef may take some time depending on your last opened bib files. We are working on this. #4578 S

[2019-02-21 10:44] AEgit commented on #4682
I am not so sure about the proposed hierarchy for "Remove groups". The old version allows you to remove a group using one click and just moving to the desired option. The newly proposed one, would require you to use a click, move to "Remove groups", wait for the hierarchy to pop up, and then move again to the desired option.
I think this is more inconvenient, if you want to delete several groups.

[2019-02-21 10:48] Siedlerchr commented on #4682
I would make it possible to remove them via a keyboard shortcut: <kbd>DEL</kbd> and define that default behaviour somewhere

[2019-02-21 10:48] AEgit commented on #4684
I think the default should remain _Independent group_, not _Include subgroups_.

[2019-02-21 10:49] AEgit commented on #4682
Ok, that would be an option as well - as long as I can define the default behaviour and have a keyboard shortcut, I am happy with it.

[2019-02-21 10:54] AEgit commented on #4679
This might be related to the following issues:
https://github.com/JabRef/jabref/issues/3112
https://github.com/JabRef/jabref/issues/2857

(see also: https://github.com/JabRef/jabref/issues/1903)

[2019-02-21 12:11] MartinKarim commented on #4682
I agree that a menu hierarchy is not necessary based on the amount of options available, neither on the first nor on the second hierarchy level. However, in the removal process there are two decisions to make:
1. What do I want to happen with the group? (remove)
2. What should happen to subgroups? (remove or keep)
I think that reflecting this two-step process in the menu structure could be helpful

[2019-02-21 12:50] AEgit commented on #4669
As long as the _Rank_ feature is available when right-clicking an entry, I don't mind it being removed from the Main Menu. The _Rank_ feature itself, however, absolutely needs to be remain part of JabRef, since it replaced the old marking scheme of entries using colours (which, to be honest, I still prefer). I guess this is of minor importance for people with small databases, but for someone with

[2019-02-21 12:56] AEgit commented on #4668
Again, I am not sure, whether this additional hierarchy is useful, given the limited number of options - if there are plans to provide additional options, it makes sense to me to have these hierarchies, but otherwise they do not appear convenient.
Isn't avoiding deep hierarchies generally considered better?

[2019-02-21 13:11] DOFfactory opened #4685 "Broken Add New Entry via DOI search"
JabRef 5.0-dev--snapshot--2019-02-20--master--3589dc3cb
Windows 10 10.0 amd64
Java 1.8.0_172

Steps to reproduce the behavior:
1. Library -> New Entry
2. Select DOI -> insert 10.2139/ssrn.567842
3. hit enter ->   Error: Uncaught exception occurred in Thread[JavaFX Application Thread,5,main]

<details>
  <summary>Log File</summary>

[code]
</details>

[2019-02-21 13:11] AEgit commented on #4585
Uaagg, I am completely against this, unless the _Rank_ column can still be activated afterwards. I missed the user survey but I guess people with small databases regarded the _Rank_ category as not useful. For bigger databases, however, it is definitely useful (see also my comment here: https://github.com/JabRef/jabref/issues/4669#issuecomment-465988130). If the size of the column is a problem, yo

[2019-02-21 13:16] AEgit commented on #4685
Cannot confirm for:

JabRef 5.0-dev--snapshot--2019-02-20--master--3589dc3cb
Windows 10 10.0 amd64
Java 1.8.0_201

Using the DOI you provided I am able to generate a new entry following your steps.

[2019-02-21 13:19] DOFfactory commented on #4685
Then we have a problem, as I do get an error (see screenshot attached). I added a logfile to my previous post for reference
![error](https://user-images.githubusercontent.com/10846169/53171649-aa265d00-35e3-11e9-8bf8-96bd6cd12c3d.png)

[2019-02-21 13:21] DOFfactory commented on #4685
I can see the only difference between our apps is the Java version. I use the Java version included in the installer, is your Java a separate install? That might be the issue possibly?

[2019-02-21 13:24] AEgit commented on #4679
Can confirm first issue for:

JabRef 5.0-dev--snapshot--2019-02-20--master--3589dc3cb
Windows 10 10.0 amd64
Java 1.8.0_201

The second issue, however, is different for me:

I am able to remove multiple entries from a group by selecting them in the main table, right-clicking on the respective group and using "Remove selected entries from this group". So, I cannot confirm the second issue.

[2019-02-21 13:42] koppor commented on #2790
Extension of the idea written at: https://github.com/JabRef/jabref/issues/2790#issuecomment-366233465

A new field can be added by just typing the name and a cool auto completion.

Example sketch (field order reversed)

![image](https://user-images.githubusercontent.com/1366654/53172544-de9b1880-35e5-11e9-9a4d-db074bd7083a.png)

As tabs there should be "bibliographic data" and "meta data" (contain

[2019-02-21 14:01] AEgit commented on #4685
My Java is, indeed, a separate install.

[2019-02-21 14:09] Siedlerchr commented on #4685
Try the latest jre/jdk 202:
Works fine for me.
https://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html

Might also be a duplicate of #4659

[2019-02-21 14:10] Siedlerchr commented on #4685
Btw, you can directly paste a doi from your clipbaord on your maintable by pressing <kbd>ctrl</kbd>+<kbd>v</kbd>

[2019-02-21 14:36] MartinKarim commented on #4684
I think you are right that the recommendation of using _include subgroups_ can be doubted.
The thoughts behind this suggestion were that _independent group_ does not actually give any hierarchy. Even though the difference between groups and subgroups is made in the UI, a subgroup has no actual relation to groups higher or lower in the hierarchy. This might confuse the user, as the feature does not

[2019-02-21 14:56] AEgit commented on #4684
Two reasons:

1) _Independent group_ was the old default, as it was preselected in the menu dialog. People are used to this behaviour and - as far as I can tell (although I might be biased) - no one has complained about this.

2) Example from biology: Groups can (and are) used to capture taxonomy/phylogenetic relationships.
I. e. I can have a group structure as follows, starting from the highest o

[2019-02-21 14:58] MartinKarim commented on #4668
You are right, deep hierarchies should be avoided in most cases. Mainly for the following reasons:
1. It hides functions from the user
2. It adds additional steps to access a menu item

Point 1 does not seem a big issue here, as the name of the action is still stated in the first level of the menu, only additional information was put into the second level.
Point 2 is very much valid here, as an ad

[2019-02-21 14:58] MazerRackhem commented on #4481
Thanks for your response Siedlerchr. I am trying to take the suggestions you have offered. However, I cannot find a settings tab in the current 5.0 version. Under "Options" I see "Preferences" however when I click on Preferences a status in the bottom of the JabrRef window says "Status: Opening preferences..." but does not actually open up preferences. I waited on it for around 5 minutes before gi

[2019-02-21 15:05] AEgit commented on #4668
Maybe have a user survey for this? As you mentioned before, in the end it comes down to a trade-off between learnability and efficiency/convenience. I think I know which option I would prefer, but I might be represent just a minority.

[2019-02-21 15:19] MartinKarim commented on #4585
The suggestion is not to completely remove the rank information, only to remove the column by default. It could then be displayed again, by changing the _Preferences_

[2019-02-21 15:21] AEgit commented on #4585
Yes, as long as only the default is changed, I am fine with it. With my post I just wanted to emphasize that there is actual need for this column (despite the user survey). I just wanted to make sure that the column isn't dropped silently. Thanks for your help!

[2019-02-21 15:38] Siedlerchr commented on #4481
No, you did all right. Are you using a Mac? Some Mac users reported problems with JabRef as well.
You might try this: http://help.jabref.org/en/FAQosx#q-jabref-slowhangs-on-macos-sierra

[2019-02-21 15:44] Siedlerchr commented on #4684
@AEgit  Union/Intersection is available directly through an icon-button showing the set-theory symbols for union/intersection.
![groupviewmodejabref](https://user-images.githubusercontent.com/320228/53181394-bfa58200-35f7-11e9-9c10-a3e21ec14da6.PNG)

[2019-02-21 15:46] AEgit commented on #4684
@Siedlerchr : Cheers, perfect - so this option is still available. So even more of a reason to keep the previous default, i. e.  _Independent group_.

[2019-02-21 16:53] MartinKarim commented on #4684
@AEgit Thank you for the elaborate example. It seems that there is indeed a point in using _independent group_ as it gives more freedom to the user regarding hierarchy. Although the union feature does not seem like a usable alternative to what I envisioned, it is certainly worth looking into.

[2019-02-21 17:27] MazerRackhem commented on #4481
No, I'm on a Windows 10 machine.

[2019-02-21 17:54] matthiasgeiger commented on #4481
As @siedlerchr has not made this clear IMHO: Loading times like the ones you report are faaaaaaar from being normal.
A database file with some hundreds of entries is usually loaded within 1-3 seconds. So there must be something terribly wrong here...

A wild guess from my side: Are you synching the folder of your bib file with Dropbox or a similar service? Or is it a network drive?

[2019-02-21 18:01] MartinKarim opened #4686 "Entry Editor: general changes"
![entrygeneral](https://user-images.githubusercontent.com/26404402/53190004-08196b80-3609-11e9-926b-0ab44e679572.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Text fields are empty per default;<br/>there is no guide what to write in a field and in what form (e.g. text,

[2019-02-21 18:08] MartinKarim opened #4687 "Entry Editor: change Required Fields tab"
![entryreq](https://user-images.githubusercontent.com/26404402/53191052-22544900-360b-11e9-8ca4-53a8016dcc88.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
|text fields are too long to provide a good overview over long content;<br/>buttons at end of the fields get less no

[2019-02-21 18:21] MartinKarim opened #4688 "Entry Editor: change Optional Fields tab"
![entryoption](https://user-images.githubusercontent.com/26404402/53192010-9d1e6380-360d-11e9-9722-c5d2a378229d.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
|Optional information is split between tabs (e.g. _deprecated fields_,_optional fields 2_)|unify all information

[2019-02-21 18:30] MartinKarim opened #4689 "Entry Editor: new Web Resources tab"
![entryresource](https://user-images.githubusercontent.com/26404402/53192146-056d4500-360e-11e9-8a5e-b9c727e2a3ba.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| Identifiers are split between tabs, although they are similar;<br/>URL is associated with the identifiers by

[2019-02-21 18:36] MartinKarim opened #4690 "Entry Editor: new Content tab"
![entrycontent](https://user-images.githubusercontent.com/26404402/53192649-49147e80-360f-11e9-996f-63a8089e6a3b.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| users associate comment field with _Keywords_ and _Groups_|_Content_ tab containing the two fields from _Gener

[2019-02-21 18:45] MartinKarim opened #4691 "Entry Editor: new Attachments tab"
![entryattach](https://user-images.githubusercontent.com/26404402/53192976-10c17000-3610-11e9-84e8-111e5593a25d.png)

|Description of Issue|Possible Solution|  Warnings |
|:-----------------------------------------:|:-------------------------------------------------:|:---------------:|
| _File_ field does not fit the remaining tabs;<br/>the _File Annotations_ tab already exists;|bundle file intera

[2019-02-21 18:49] MartinKarim commented on #2790
A suggestion for restructuring the Entry Editor can be found in #4686

The details for the changed, removed and newly created tabs can be found in #4687 #4688 #4689 #4690 #4691

[2019-02-21 19:05] Siedlerchr commented on #4689
In general a good idea, but note that for the entry type online or www the URL field is a required field.
Please keep also in mind that different entry types have different fields (required and optional and some are kept for compatibility)
This applies to the general layout of the entry editor.

See section 2 of the biblatex manual
https://ctan.org/pkg/biblatex?lang=de

[2019-02-21 21:24] #4610 closed

[2019-02-21 21:24] tobiasdiez commented on #4610
Thanks to @LeonhardWolz this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-02-21 22:39] DOFfactory commented on #4610
Looks great, thanks!

[2019-02-22 09:37] DOFfactory commented on #4269
Any update on this? So frustrating to always update the fields manually ...

[2019-02-22 10:21] Siedlerchr commented on #4269
@DOFfactory  When the issue is fixed it will be closed. So please be patient. We are all working in our free time in JabRef. Of course you are free to contribute and fix the issue.

[2019-02-22 10:26] DOFfactory commented on #4269
Sorry, my comment was rather an inquiry, whether there is any progress with this issue. I was just about to submit a similar ticket out of frustration, when I noticed that it has been already submitted. Sorry again.

[2019-02-22 15:59] koppor commented on #4269
@MartinKarim. You have ideas?

Thing is: Handling of field aliases in Biblatex. (journal == jounrrnaltile). Some users stick to bibtex (journaltitle), some to biblatex (journal is recommended). Mostly, you get bibtex from the web, but modern users convert all to biblatex.

[2019-02-22 16:03] DOFfactory commented on #4269
@koppor you are correct. I purposely selected Biblatex database in the settings instead of Bibtex, thus I expect that the journal field should be converted automatically to journaltitle (even after import from the web). It is simply ineffective to always click to the separate tab for checking (and copying) the journal title.

[2019-02-23 16:49] #4614 closed

[2019-02-23 16:50] Siedlerchr commented on #4614
We decided to remove this dialog as the feature is already covered in the integrity check and will be covered in the import dialog

[2019-02-24 08:43] #4676 closed

[2019-02-25 01:10] angoodkind opened #4699 "Mac OS X: Pasting bibtex entry creates duplicate entries"
JabRef version: 5.0-dev

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When copying and pasting a bibtex entry into jabref, it creates duplicate entries for the citation. This occurs regardless of if I have All Entries open, or am just viewing a group or subgroup.

<details>
  <summary>Log File</summary>
Opening: /Users/adamg/Dro

[2019-02-25 12:39] NorwayMaple commented on #4588
Hi all,

I am working on this issue.

I have a question about both the code and Git. In the process of looking at this issue, I realized that the create group dialog goes off the screen (so I can’t see the OK buttons no matter what I do). So I just put the `mainPane` into a `ScrollPane` so I could scroll down and see the whole dialog. In addition, I am creating a number of log statements instead o

[2019-02-25 12:54] Siedlerchr commented on #4588
Hi,
thanks for the info. As all is somehow group related you can put in one PR, just make a commit for each fix.
Checkout master
create a branch which fixes the scrollPane issue.  Just stage the single file for commit
Push that as PR.
Then we merge this into master and you can pull that changes into your code.

[2019-02-25 12:56] NorwayMaple commented on #4588
I'm not sure the `ScrollPane` is the final fix. It just makes it go from "not working" to "working well enough to use." But I can PR it anyway.

[2019-02-25 13:19] tobiasdiez commented on #4588
The issue with the scrollpane should be fixed now in the master as a result of https://github.com/JabRef/jabref/pull/4660.

[2019-02-25 14:16] MartinKarim commented on #4689
Thank you for the notification. The case that _Web Resources_ fields can be required or optional fields as well, is indeed a problem.
It could be solved by creating, for example, two URL fields, one in the _Required Fields_ and one in _Web Resources_, which might, however, confuse the users, if they notice that the field exists twice. To avoid that, the URL as an information and as a resource coul

[2019-02-25 14:35] MartinKarim commented on #4269
Same as @DOFfactory I also think that fields with the same purpose and expected content should be automatically converted into each other when changing from BibTeX to Biblatex or vice versa or when a reference is imported. This might at least be the expected/desired behavior in most cases. If someone wants to keep the 'journal' field, they would still be able to create it themselves.

[2019-02-27 11:58] ljicsinszky commented on #4632
Dear Cristoph,

Thank you for your suggestion.
The bug still exist in JabRef
5.0-dev--snapshot--2019-02-27--master--3cf609cd7 version, see pic below.
Before starting JRdev no java appl was running.

Meantime I have also noticed that if I open a new library within the
running JR(4.3.1) the used memory is accumulated, and after opening/closing
some other bib files the memory usage was over 3GB.
Doin

[2019-02-27 15:05] mutlusun opened #4703 "Wrong newline format in Jabref 5.0"
Hello,
thanks for all your work on Jabref! I am using the snap version of Jabref 5.0.

JabRef 5.0-dev
Linux 4.18.0-15-generic amd64
Java 1.8.0_191

If I change the newline separator in the preferences from "CR/LF" (the default? even on Linux?) to "LF", it will always switch back to "CR/LF". I think, this is not the intended behaviour. I don't get any errors in the console while saving the preferen

[2019-02-28 18:35] douglasrizzo commented on #4588
Thanks for looking into the issue. In case a development version implements this, I can test it, as I currently have a ton of groups made with searches containing regex and backslashes.

[2019-03-01 14:44] #4585 closed

[2019-03-01 14:46] Siedlerchr commented on #4585
The default value in the preferences is now that the checkbox for "show rank column" is not selected and therefore the column is not shown. So nothing removed, just hidden by default. It shouln't affect your current preferences.

[2019-03-01 14:46] doctor-ian opened #4709 "Handling of diacritics in bibtex key generator"
JabRef version 4.3.1 on Windows 7.

There are certain diacritics (and other symbols) that produce undesired output when generating bibtex keys. I am using `[auth3][shortyear]` as generation pattern. Examples with first authors' last names and year:

- Müller, 2019 -> Muel19 (4 characters instead of 3 when converting umlaut, i.e. ä, ö, ü)
- Al-Ketan, 2019 -> Al-19 (dash in bibtex key is awkward, sh

[2019-03-01 15:20] Siedlerchr commented on #4709
Well, dash is a perfectly legal char in a bibtex/biblatex key: Forbidden are only these symbols: `" # % ' ( ) , = { }`
But I agree with you that the pattern of sometimes two, three and 4 chars is confusing.

[2019-03-01 15:22] cacarter08 commented on #4582
I would like to start working on this issue for a class project. Can i create a [WIP] pull request?

[2019-03-01 15:27] Siedlerchr commented on #4582
@cacarter08  Sure, go ahead.

[2019-03-01 20:25] tobiasdiez commented on #4582
@cacarter08 Perfect! As a starting point, here are some code snippet that are related to the font size. It's kind of a mess, with multiple font sizes controlling different parts of the appearance. The goal would be to have one global variable for the font size, which should be probably the one returned here
https://github.com/JabRef/jabref/blob/bf4a55c6ff4289cd8888ce4112b3c931823c7720/src/main/jav

[2019-03-01 21:22] yurickyh commented on #4584
Hi, me and my friend @kaiquekk want to start contributing to the project. Would this be a good beginners first issue?

[2019-03-01 22:48] tobiasdiez commented on #4584
Hey @yurickyh and @kaiquekk, feel free to work on this issue - it should be a good first issue. Other issues that should provide a good entry point can you find here: https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22. Also have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and  drop by in our [developer

[2019-03-02 01:36] pgmpofu commented on #4673
@MartinKarim may I go ahead and work on this?

[2019-03-02 15:30] yurickyh commented on #4584
Hi @tobiasdiez, thanks for your reply, so we are going to start working on this issue.

[2019-03-02 15:56] Siedlerchr commented on #4703
@LyzardKing Could you test this and report back if this is a problem of the snap version or if it also occurs in the non snap version?

[2019-03-03 08:02] LyzardKing commented on #4703
I'm not sure how to run the non snap, since javafx is not abailable for openjdk-8 in 18.10
How can I verify the character being used?

[2019-03-03 08:14] chelseyong commented on #4709
Can I work on this issue?

[2019-03-03 13:34] DhruvThakker commented on #4629
I would like to work on this

[2019-03-03 14:31] tobiasdiez commented on #4629
@DhruvThakker Sure, feel free to work on this issue! Also have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and drop by in our [developer chat](https://gitter.im/JabRef/jabref) if you have questions!

[2019-03-03 17:04] deepakkumar96 commented on #4673
@pgmpofu are you working on this issue?

[2019-03-03 17:27] deepakkumar96 commented on #4655
@grebnetiew is the issue still persist or it is solved? because when I exported to MS 2007 in ubuntu using the latest master development version, then it includes middle name.

[2019-03-03 19:19] wujastyk opened #4714 "Preview copy leads to exception"
JabRef version

JabRef 5.0-dev--snapshot--2019-03-03--master--094a0395e
Linux 4.15.0-45-generic amd64
Java 1.8.0_201

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists```

Steps to reproduce the behavior:
1. Show an entry preview by selecting an item and pressing F2
2. Select Edit / Copy ... / Copy Preview
3. The "Exception Details"

[2019-03-03 19:45] pgmpofu commented on #4673
@deepakkumar96 yes I am

[2019-03-04 07:30] Siedlerchr commented on #4714
There is an old SwingWorker CitatinStyleToClipBoardWorker which needs to be replaced by a  Java FX BackroundTask/

[2019-03-04 12:27] LinusDietz commented on #4686
I like the change with the more explicit button. I would prefer if it would shorten the field instead of being in a seperate column. (here the prototype is maybe a bit misleading)

[2019-03-04 15:25] cacarter08 commented on #4582
@tobiasdiez Thank you so much for the head start.

[2019-03-04 17:47] kaiquekk commented on #4584
Hi and thanks for the reply! So, we followed the prototype and have the toolbar looking like in the screenshots below. However, as we are still not very experienced, we don't know what other functions are commonly used for them to be added in the toolbar. Could you give us an example? Thank you!

![left_menu](https://user-images.githubusercontent.com/32721660/53749361-fac07480-3e85-11e9-847a-3414e

[2019-03-04 18:01] MartinKarim commented on #4673
I am sorry for the late answer. There seems to be someone working on this issue and the work seems to already have progressed quite far. Please look at this pull request #4707 for more information.

[2019-03-04 18:14] pgmpofu commented on #4673
Thanks @MartinKarim I will find another task to work on.

[2019-03-04 19:18] tobiasdiez opened #4719 "Re-implement "Customize entry types" dialog"
In https://github.com/JabRef/jabref/pull/4716, the Customize entry types dialog was temporarily removed. It should be rei-mplemented in JavaFX once we converged to a stable entry editor layout (refs https://github.com/JabRef/jabref/issues/2790 https://github.com/JabRef/jabref/issues/366 https://github.com/JabRef/jabref/issues/4687 https://github.com/JabRef/jabref/issues/4688).

[2019-03-04 19:56] tobiasdiez commented on #4584
That looks very good! Can you please open a PR with these changes? For me, this is already enough functionality in the toolbar but maybe @MartinKarim has some good suggestions what to add.

[2019-03-05 08:20] #4666 closed

[2019-03-05 08:20] #4667 closed

[2019-03-05 08:20] #4668 closed

[2019-03-05 08:20] #4669 closed

[2019-03-05 08:20] #4670 closed

[2019-03-05 08:20] #4671 closed

[2019-03-05 08:20] #4672 closed

[2019-03-05 08:20] #4673 closed

[2019-03-05 10:43] mutlusun commented on #4703
Hello,
I ran the latest non-snap version under Ubuntu 18.04. For me, the same problem occured ...

[2019-03-05 11:16] LyzardKing commented on #4703
@Siedlerchr I'm not sure, I haven't been able to properly dive in the code at it that much..
There might be an issue with the settings interface..
I tried to edit a bib file with a simple text editor, setting a different newline format,
JabRef still shows CR/LF

[2019-03-05 11:47] tobiasdiez commented on #4703
There was indeed a problem in the preference dialog. Should be fixed with https://github.com/JabRef/jabref/pull/4720.

[2019-03-05 11:55] #4703 closed

[2019-03-05 11:55] tobiasdiez commented on #4703
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-05 15:41] CaptainDaVinci commented on #4690
I would like to work on this issue.

[2019-03-05 15:41] CaptainDaVinci commented on #4689
I would like to work on this issue.

[2019-03-05 16:33] LyzardKing commented on #4703
It seems to be working in the snap!

[2019-03-05 19:58] matthiasgeiger commented on #4689
As much as I like most of your proposals @MartinKarim, I'm not really fond of this proposal here.

At least the term "Web resources" is misleading for me: Only URL is real "web resource" - and maybe also the DOI, as it can be used to determine the official site assigned to the paper.
But ISBN for me is just an identifier for books and Crossref is a reference to another entry in the database - so n

[2019-03-05 20:08] matthiasgeiger commented on #4690
... again I have some objections ;-)

"Content" is for me referring to the actual content of the entry - i.e., something directly to be found in the work.
Thus, "abstract" is fine for me. "Keywords" might also be given in the work - but I think most users are not using the keywords from the paper, but define their own keywords for categorization - so this is already dubious.

And "groups" and "com

[2019-03-05 20:16] matthiasgeiger commented on #4584
One suggestion from my side: I would replace the "New article" function with the "New Entry" (as in the menu "Library" -> "New Entry"

[2019-03-05 20:45] tobiasdiez commented on #4584
@matthiasgeiger A few weeks ago, I changed it from "New entry" to "new article" based on the observation that according to the telemetry almost all created entries were articles.

[2019-03-05 21:01] tobiasdiez commented on #4689
The current grouping of the entry fields mostly feels like a random assignment and I really welcome @MartinKarim 's work to give it a more coherent structure. On the other hand, I also agree with most points raised by @matthiasgeiger. Thus, I would propose to discuss (and brainstorm) about the general layout of the entry editor etc. in the upcoming devcall.
Until we have a clear decision on these

[2019-03-05 21:07] matthiasgeiger commented on #4584
Uhh... okay.

Can you distinguish how those articles are created?
Are the users really creating "empty" articles and fill them manually?

At least I am nearly always using either a) generation via DOI or b) using web search to create new entries.

What I also do not like is that we now have an inconsistency between menu and menu bar: In "Library" exists only the "New Entry" - in the menu only "New

[2019-03-05 21:34] tobiasdiez commented on #4584
Yes, the data is only if the user opens the "New entry" dialog and selects one of the entry types there.
![image](https://user-images.githubusercontent.com/5037600/53838900-77427880-3f96-11e9-953f-209475866809.png).

In the longterm, I was considering to make the "New entry" button in the toolbar a dropdown button which by default creates an article but provides access to other common options (lik

[2019-03-06 06:55] Siedlerchr commented on #4584
For entry generation from DOI you can simply paste the doi on the maintable and a new entry will be created automatically

[2019-03-06 07:20] mutlusun commented on #4703
Works for me, too! Many thanks for your fast response!

[2019-03-06 08:37] CaptainDaVinci commented on #4655
I check [this source](http://www.datypic.com/sc/ooxml/e-bibliography_Author-1.html) there seems to be a _Middle_ tag provided.

[2019-03-06 09:20] Siedlerchr commented on #4655
It's an export problem, the code which handles the exporting of authors is here:

https://github.com/JabRef/jabref/blob/ddd12aec466eee9b9eb3434948d4b2459298eae6/src/main/java/org/jabref/logic/msbib/MSBibConverter.java#L132-L134

[2019-03-06 10:19] i-Zaak opened #4724 "Wrong default filename format pattern"
JabRef 5.0-dev--snapshot--2019-03-06--master--ddd12aec4

The default file format patterns given in the Preferences->Import drop down menu are `bibtexkey` and `bibtexkey - title`, however this leads to files being named literally `bibtexkey.pdf`. The correct options should be `[bibtexkey]` and `[bibtexkey] - [title]` -- then the renaming (and moving) of files works in the cleanup entries.

[2019-03-06 11:43] CaptainDaVinci commented on #4655
There are tests for First, Middle and Last Names but I didn't find any for von part. The [MsBibAuthor](https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/msbib/MsBibAuthor.java) does not include von part when returning middle and last names.

Should the von part be part of middle name or last name?

[2019-03-06 12:49] #4655 closed

[2019-03-06 12:49] tobiasdiez commented on #4655
Thanks to @CaptainDaVinci this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-06 14:55] CaptainDaVinci opened #4728 "JabRef does not quit after saving changes."
JabRef *unknown*
Linux 4.14.79-1-lts amd64
Java 1.8.0_192 on Arch Linux.

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Make changes in an entry
2. Quit JabRef
3. Select  _Save Changes_ in the confirmation dialogue

- Expected Behavior: Close application after saving changes.
- Current Behavior

[2019-03-06 18:51] matthiasgeiger commented on #1506
With #4722 now also a more flexible solution using `:capitalize, :titlecase` and `:sentencecase` modifiers is available and therefore this issue can be closed.

Thus: This should be fixed in the latest development version. You can check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-06 18:51] #1506 closed

[2019-03-07 07:13] RonakLakhotia commented on #4494
@Siedlerchr I would like to work on this issue. However, I am not sure if I understand how to go about this

[2019-03-07 07:48] Siedlerchr commented on #4494
We have an Enum for all actions which are listed there with their keybinding.
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/actions/StandardActions.java

You could look at the import database action to see how it's done and then apply it to the export action

[2019-03-07 12:21] MartinKarim commented on #4689
@matthiasgeiger thank you for your feedback, I think there are some important points to adress here.

1. The _Web_ part: It is right that not all of the fields in this tab are web-based. But as you stated, the URL is definitely web based and as the DOI has _digital_ in its name, it would also fit here. Crossref was always described to me as an ID of the project found at [crossref.org](https://www.

[2019-03-07 12:42] MartinKarim commented on #4690
@matthiasgeiger thank you again for the feedback.

I agree that _Content_ might really not fit for all the fields of that tab, but keywords are likely based on the content or topic of the entry, even if they are changed by the user, so it is at least 2/4. I would also argue that comments on an entry are not purely for management, but also relate to the content of the entry, but that is just specul

[2019-03-07 13:01] noMICROSOFTbuhtz opened #4733 "Nightly: Indicate the build-date and git revision"
In the current nightly/dev versions, please display the build-date in the title bar.
It would also be nice if I could see the git-rev (commit-hash), too.

[2019-03-07 13:22] Siedlerchr commented on #4733
This should be displayed already in the about window.

[2019-03-07 14:46] CaptainDaVinci commented on #4699
I tried copy pasting a _BibTex_ entry into _JabRef_ but it did not create duplicates, am I missing something?

[2019-03-07 14:56] CaptainDaVinci opened #4734 "Uncaught Exception when importing a library which is currently open on JabRef"
JabRef *unknown*
Linux 4.14.79-1-lts amd64
Java 1.8.0_192

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open a library with one or more entries
2. Import the same library

<details>
  <summary>Log File</summary>

[code]
</details>

[2019-03-07 15:10] angoodkind commented on #4699
Nope, that's exactly what I did too.

[2019-03-07 15:22] Siedlerchr commented on #4734
Should be fixed once #4692 is merged

[2019-03-07 17:00] CaptainDaVinci commented on #4699
I am not able to reproduce it, I am copying an entry and pasting it back in the same library.

[2019-03-07 17:09] tobiasdiez commented on #4733
The class `BuildInfo` should contain all necessary information.

[2019-03-07 17:21] CaptainDaVinci commented on #4474
I would like to work on this issue.

[2019-03-07 17:25] angoodkind commented on #4699
I've been copying the entries from elsewhere, usually Google Scholar. It seems to happen when I've had the application open for a while and done multiple additions. It doesn't happen the first time.

[2019-03-08 02:56] CaptainDaVinci commented on #4733
The `BuildInfo` class reads the file [build.properties](https://github.com/JabRef/jabref/blob/master/src/main/resources/build.properties), however the file contains place holder values (which are reflected in the about page as well). Should these values be updated at run time?

[2019-03-08 07:03] tobiasdiez commented on #4733
These placeholders are resolved by the build server. So no need to change the file.

[2019-03-08 10:08] Siedlerchr commented on #4494
This should be fixed now, thanks to @RonakLakhotia

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-08 10:09] #4724 closed

[2019-03-08 10:10] Siedlerchr commented on #4724
This issue should be fixed now in the lastet master
We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-08 10:31] tobiasdiez opened #4735 "Non-existing aux file in group throws IOException"
JabRef dev version  on Windows 10

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Create a group based on aux file
2. Close and save library
3. Remove aux file
4. Open library again -> get error message because of IOException, group tree is empty

Solution:
Catch exception (and log warning) here

[2019-03-08 10:40] tobiasdiez opened #4736 "Relativize paths to aux files"
**Is your suggestion for improvement related to a problem? Please describe.**
When a group based on an aux file is created, JabRef stores the absolute path to the aux file. This makes it hard to use the feature across different computers.

**Describe the solution you'd like**
Introduce "LaTeX folder" in Library properties similar to the `UserFileDirectory` (which signals where the pdfs are stored)

[2019-03-08 10:58] tobiasdiez opened #4737 "Register native messaging host also when user has no admin rights"
As of now, the installer adds an entry in the registry pointing to the JabRef executable:
https://github.com/JabRef/jabref/blob/1d8b3aad2f9ca4441c41fa6fa3dfac61e45cb5ef/jabref.install4j#L578

Usually, this key is placed under `HKEY_LOCAL_MACHINE`.
https://github.com/JabRef/jabref/blob/1d8b3aad2f9ca4441c41fa6fa3dfac61e45cb5ef/jabref.install4j#L580-L585
However, if the user does not have admin right

[2019-03-08 11:44] gianlucabaldassarre commented on #1506
Hello Matthias,
it is nice to see the issue was followed so keenly.  : )
Bye,
Gianluca

On Wed, 6 Mar 2019 at 19:51, Matthias Geiger <notifications@github.com>
wrote:

--
.|.CS...|.......|...............|..|......US.|||.|||||.||.||||..|...|.......
Gianluca Baldassarre, Ph.D.,
Laboratory of Computational Embodied Neuroscience,
Istituto di Scienze e Tecnologie della Cognizione,
Consiglio Nazionale d

[2019-03-08 13:10] #4714 closed

[2019-03-08 13:11] Siedlerchr commented on #4714
Should be fixed in the latest master. Available in a couple of minutes.

[2019-03-08 13:53] i-Zaak commented on #4724
Yep, the defaults are now correct. Thanks!

[2019-03-08 14:13] #4584 closed

[2019-03-08 17:09] wujastyk commented on #4714
JabRef 5.0-dev--snapshot--2019-03-08--master--c16f733b8
Linux 4.15.0-46-generic amd64
Java 1.8.0_201

The error message no longer appears.  Thanks!

The copying to the clipboard works fine when done by right-clicking the
item in the table and working off the popup menu.  But it does not work
when using the main Edit / Copy ... menu.

[2019-03-08 17:50] Siedlerchr commented on #4714
The edit menu thing can convert it to HTML (default) XML or rtf. But somehow the options are missing from the menu
I will investigate this tomorrow

[2019-03-08 19:33] CaptainDaVinci commented on #1019
I would like to work on implementing this, unless it's still being worked on by someone?

[2019-03-08 20:49] Siedlerchr commented on #1019
There is a PR from someone who started working on it,but not finished.
Maybe you can ask the authors or reuse some commits.
There is also another issue from me which is about the window showing all
preferences and searching in there.
That would be awesome if you could implement it

Yash Kothari <notifications@github.com> schrieb am Fr., 8. März 2019, 20:33:

[2019-03-09 01:56] WtfJoke commented on #1019
I didnt forget about the issue/pr (see https://github.com/JabRef/jabref/issues/4415) but still havent found time to progress.

 @CaptainDaVinci you can continue on my branch. I invited you to my repo. I did some  basics and the remaining part is about marking the found entries

[2019-03-09 08:14] arturolc commented on #4735
Hi @tobiasdiez, I would like to work on this issue.

[2019-03-09 10:12] tobiasdiez commented on #4734
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-09 10:12] #4734 closed

[2019-03-09 12:33] samiyac commented on #4586
I'd like to work on this issue if no one else is.

[2019-03-09 12:48] #4474 closed

[2019-03-09 12:48] Siedlerchr commented on #4474
Thanks to @CaptainDaVinci  this should now be fixed in the latest development version.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-09 13:47] GongSiqiu commented on #4474
Yes, it is fixed. Thank you!

[2019-03-10 12:39] #4709 closed

[2019-03-10 12:48] Siedlerchr commented on #4709
Thanks to @chelseyong  this should now be fixed in the latest master.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-10 22:23] kiwiroy opened #4745 "Connecting to mariadb with PAM auth scheme"
Hopefully this falls under the small enough to implement

**Problem** The issue I'm having is connecting to a PAM authentication managed Mariadb instance. The message I receive is `Unable to load authentication plugin 'dialog'.`.

**Describe the solution you'd like**
Switch to the mariadb connector.

**Additional context**
![Screen Shot 2019-03-11 at 11 21 00 AM](https://user-images.githubusercont

[2019-03-11 09:23] vanukkalla commented on #4494
Thanks for adding the functionality!
I tested the key binding on the development build 5.0. It works fine when I select BibTex.xml as export format, importing the selected references into another file goes smoothly.
However, when exporting references into ris format, which I usually use, the export file is empty and import - accordingly - gives an error:

org.jabref.logic.importer.ImportException:

[2019-03-11 12:14] Siedlerchr commented on #4494
@vanukkalla I tried it and it works fine. Both export to RIS format and import of the file again.
This is the sample bibtex entry I used:

[code]
[code]
Import window:
![grafik](https://user-images.githubusercontent.com/320228/54123270-8ba3cc80-43ff-11e9-88ad-7af535b2b028.png)

[2019-03-11 13:54] CaptainDaVinci opened #4751 "Opening preference window leads to uncaught exception"
JabRef development version, Arch Linux.

Opening preferences window after making certain changes lead to `Uncaught exception occurred in Thread[JavaFX Application Thread, 5, main]`

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior: Not sure.

<details>
  <summary>Log File</summary>

[code]
</details>

[2019-03-11 14:07] CaptainDaVinci opened #4752 "Unable to update entry table column order and column name in preferences"
JabRef development version, Arch Linux.

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Under _entry table column_ in preferences I am not able to change the order of the columns by more than one column, on saving the order and reopening the Bib file the changes aren't reflected.

Edit: Apart from the column order the column names

[2019-03-11 14:09] vanukkalla commented on #4494
This is really weird!
If I select entries in one library to export into RIS, Jabref5 says "RIS successfully exported", however, the file itself is empty. And when trying to import into another library, import fails (in Versions 4 and 5).

If I export into RIS in Jabref4, the entries are exported, the resulting file looks fine:

TY  - JOUR
AU  - Ohe, Rintaro
AU  - Meng, Hong-Xue
AU  - Ye Aung, Nain

[2019-03-11 15:06] Siedlerchr commented on #4751
The error is coming from the CSS watcher. It watches the base.css for changes, if you run JabRef from code.
This enables on the fly debugging of styles. Maybe you have somehow another instance open which has a lock on the file or some other thread?
[code]

[2019-03-11 15:07] #4751 closed

[2019-03-11 15:11] Siedlerchr commented on #4494
So you are on linux? Could you please try the latest version from today ( 11-03) https://builds.jabref.org/master/
Could you please post the bibtex entry? Maybe it's something about this entry which fails.

[2019-03-11 15:37] Siedlerchr commented on #4752
Related issue #3354 #4579

The column order is stored on update in : `PersistenceVisualStateTable` and in `    private List<TableColumn<BibEntryTableViewModel, ?>> createNormalColumns() { `  in `MainTableColumnFactory`

[2019-03-11 15:43] vanukkalla commented on #4494
Xubuntu 18.04 LTS and openjdk which works smoothly for JabRef4.3.1.

The entry is:
@Article{Welzel2001,
 author    = {Welzel, N. and Le, T. and Marculescu, R. and Mitterbauer, G. and Chott, A. and Pott, C. and Kneba, M. and Du, M. and Kusec, R. and Drach, J. and Raderer, M. and Mannhalter, C. and Lechner, K. and Nadel, B. and Jaeger, U.},
  title     = {Templated nucleotide addition and immunoglob

[2019-03-11 19:44] Siedlerchr commented on #4494
@vanukkalla Okay, this is odd. @CaptainDaVinci  did not have any problems with Arch Linux. So I suggest it might be something with the Preferences. Try to reset your preferences and report back if it works again

[2019-03-11 20:40] CaptainDaVinci commented on #4752
Are the `PersistenceVisualStateTable.updateColumnPreferences()` and `PersistenceVisualStateTable.updateColumnSortType()` method called every time the UI is built? That  would explain why it discards the preferences which were saved earlier.

[2019-03-11 21:32] #4728 closed

[2019-03-11 21:34] #4586 closed

[2019-03-11 21:37] tobiasdiez commented on #4586
Thanks to @samiyac this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-12 08:48] tobiasdiez opened #4754 "IllegalArgumentException: The event name cannot be null or empty"
JabRef development version

Steps to reproduce the behavior:
1. Open database with at least one entry
2. Right-click on entry > Rank > Select one of the options (you might need to enable the rank feature in the preferences)
3. Get IllegalArgumentException (see below)

Solution: Investigate why the name is null and fix this by providing a name.

<details>
  <summary>Log File</summary>

[code]
</det

[2019-03-12 08:54] tobiasdiez opened #4755 "Enable import button only if entry selected"
The import button in the import dialog should only be enabled if at least one entry is selected.

Moreover, if this dialog is triggered by an import action all entries should be selected by default. (If triggered by a websearch then no entries should be selected by default as it is right now.)

[2019-03-12 11:09] tobiasdiez commented on #4494
What exactly are the steps you use to export the entries?

[2019-03-12 11:42] vanukkalla commented on #4494
I select the entry / entries. Ctrl+Shift+E or export selected entries, select RIS format, type filename.ris, Save.

[2019-03-12 13:19] samiyac commented on #4583
Hi, I'm interested in working on this issue. Where can I start?

[2019-03-12 13:20] andreasbuhr opened #4756 "Jabref generates CPU load all the time"
**Is your suggestion for improvement related to a problem? Please describe.**

Jabref generates CPU load all the time. See attached a screenshot of htop:
![jabref_cpu_load](https://user-images.githubusercontent.com/3892222/54203015-9d55a480-44d1-11e9-9c41-de8ed705a14d.png)
This keeps my CPU hot which in turn keeps the fan of my laptop spinning. This is annoying. I often close Jabref to have silenc

[2019-03-12 17:16] matthiasgeiger commented on #4754
Name is null because in the menu no text should be shown - only the star icons.

[2019-03-12 19:20] Siedlerchr commented on #4756
I see you are using the version 4.3.1.
Please try the latest development build from https://builds.jabref.org/master as there have been a lot of fixes and changes and performance improvements and report back if it works better.

Please remember to make a backup of your library before trying-out this version.

[2019-03-12 21:47] samiyac commented on #4755
I would like to work on this issue.

[2019-03-12 23:36] tobiasdiez commented on #4755
@samiyac Glad to hear!
You should be able to get the button via `(Button) this.getDialogPane().lookupButton(...);`. Then it is probably enough to bind the `disableProperty` to the `emptyProperty` of the list of checked items.

[2019-03-13 08:28] andreasbuhr commented on #4756
Thanks for your quick reply.
Unfortunately, there is still the same behaviour in the latest version:
![jabref_cpu_load](https://user-images.githubusercontent.com/3892222/54263894-32a87580-4572-11e9-9f75-330e7cfecfb1.png)

[2019-03-13 16:56] denshion commented on #4481
Hi, everyone.
Today I updated JabRef from 4.3.1 to the latest development release and the same problem popped out for me. 4.3.1 used to launch quickly, but the process would not shut down cleanly.

I have been trying to fiddle with the problem for past hour. My OS is Windows 10, the JabRef version is JabRef 5.0-dev--snapshot--2019-03-12--master--930fa4efb. Here is what I've found out.

I tried lau

[2019-03-13 17:02] denshion commented on #4481
Just now I have also tried running
[code]
with and without proxy. The JVM printed the same stack traces, but the GUI launched normally. So in the previous post I made a mistake when said that the application crashed - actually, it exited cleanly because of the -n flag.

So, basically: **with the proxy turned off JabRef launched within reasonble time**, while with HTTP proxy turned on, it only laun

[2019-03-13 17:47] Siedlerchr commented on #4481
The error log above is related to the instance detection of a potential second JabRef instance. This is a known bug which has not yet been fixed.
Regarding the proxy: Have you tried specifying the proxy as parameter to the jvm?
e.g.:
[code]
See here for detailas:;
https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html

[2019-03-13 18:22] denshion commented on #4481
Thank you for the reply.
I tried passing the proxy server a parameters, but it made no effect.

I have skimmed through the link you provided. It seems to me that only a SOCKS proxy would work that way, and one should make use of the Proxy class in order to specify HTTP proxy for TCP socket.

[2019-03-14 16:35] samiyac commented on #4736
Hi, I would like to work on this issue.

[2019-03-14 20:10] #4583 closed

[2019-03-14 20:10] tobiasdiez commented on #4583
Thanks to @samiyac this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-15 02:17] matheger opened #4762 "Entry Editor only opens after opening Preferences dialog"
JabRef version 5.0-dev on Windows 10

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When loading an existing bibliography, the Entry Preview end Entry Editor panes only work after opening the Preferences and clicking "Save". (I don't even need to change any settings - just opening the dialog is enough.) This happens every time a

[2019-03-15 08:51] #4023 closed

[2019-03-15 08:51] #4481 closed

[2019-03-15 08:52] Siedlerchr commented on #4023
Should be fixed in the latest development version now https://builds.jabref.org/master

[2019-03-15 09:04] pirius opened #4763 ""open folder" causes java.lang.NullPointerException: null"
JabRef--master--latest.jar (https://builds.jabref.org/master/) as well as version 4.3.1-2 form Arch AUR (https://aur.archlinux.org/packages/jabref/)

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Right clicking on any entry in any database and selecting "Open folder" results in the NullPointer exception below. The setup experienc

[2019-03-15 09:06] bernhard-kleine commented on #4023
@Siedlerchr , unfortunately not. I could open two instances:
There was however, an error message, but the second instance opened anyhow.
![grafik](https://user-images.githubusercontent.com/9216487/54420304-f019a100-4709-11e9-9a6e-763411fb63fc.png)

[2019-03-15 09:50] Siedlerchr commented on #4023
I restared the build, there was a temporary error. The new version should be the one with  46d2c7d

[2019-03-15 11:32] bernhard-kleine commented on #4023
Seems to be okay. A second instance starts but is suppressed and removed from the Windows taskmanager as it should be. Thank you.

[2019-03-15 11:44] #4755 closed

[2019-03-15 12:53] AEgit commented on #4762
Can confirm this issue for:

JabRef 5.0-dev--snapshot--2019-03-15--master--7ed15bc4a
Windows 10 10.0 amd64
Java 1.8.0_201

[2019-03-15 13:08] AEgit commented on #4237
Note, that the floating mode is still missing in:

JabRef 5.0-dev--snapshot--2019-03-15--master--7ed15bc4a
Windows 10 10.0 amd64
Java 1.8.0_201

So this issue is still relevant with the current development version.

[2019-03-15 14:57] CaptainDaVinci commented on #4763
I am able to reproduce this on my setup (same as that of the author).

[2019-03-15 15:01] JoKalliauer commented on #4762
Have the same issue on Ubuntu for:

JabRef 5.0-dev--snapshot--2019-03-15--master--7ed15bc4a
Linux 4.15.0-46-generic amd64
Java 1.8.0_201

[2019-03-15 15:23] JoKalliauer opened #4764 "Entry Editor removes entries when in souce-code-field"
JabRef version 5.0-dev on Ubuntu 18.04

JabRef 5.0-dev--snapshot--2019-03-15--master--7ed15bc4a
Linux 4.15.0-46-generic amd64
Java 1.8.0_201

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open [4764.bib](https://github.com/JabRef/jabref/files/2840910/4633.bib.txt)
2. double click on "Rechnerges

[2019-03-15 15:35] samiyac commented on #4736
@tobiasdiez as of now I have made changes to LibraryPropertiesDialogView.java and LibraryPropertiesDialogViewModel.java
I believe I will also have to add required changes in Metadata.java to accomodate the new LaTex folder. Am I on the right track?

[2019-03-15 16:32] 8greg8 commented on #4762
I found out that if you go to `Preferences>Entry editor` and uncheck `Open editor when a new entry is created` everything works then.

[2019-03-15 16:33] AEgit commented on #4762
That might be a workaround, but the bug remains

[2019-03-15 17:25] matheger commented on #4762
Nope, not for me.

[2019-03-15 18:44] bernhard-kleine commented on #4762
JabRef 5.0-dev--snapshot--2019-03-15--master--46d2c7dc2
Windows 7 6.1 amd64
Java 1.8.0_201

Not only the entry editor is gone, but also the entry preview. Latest version of today. Is Jabref becoming Bananaware, matures at the client?

[2019-03-15 18:45] matheger opened #4765 "Preferences dialog won't open after fresh install"
JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_201

Preferences dialog won't open after fresh install

<details>
  <summary>Log File</summary>
  Uncaught exception occurred in Thread[AWT-EventQueue-0,6,main]
java.lang.NumberFormatException: For input string: "175.9135325079849"
	at java.lang.NumberFormatException.forInputString(Unknown Source)
	at java.lang.Integer.parseInt(Unknown Source)
	at java

[2019-03-15 19:05] Siedlerchr commented on #4762
Does resetting the preferences help?

[2019-03-15 19:06] matheger commented on #4762
No, this also happens after a fresh install.

[2019-03-15 19:07] Siedlerchr commented on #4765
Duplicate of  #4579

[2019-03-15 19:07] #4765 closed

[2019-03-15 19:14] bernhard-kleine commented on #4762
@Siedlerchr: It does

[2019-03-15 19:20] AEgit commented on #4762
@Siedlerchr: Resetting the preferences does not help (at least for me).

JabRef 5.0-dev--snapshot--2019-03-15--master--7ed15bc4a
Windows 10 10.0 amd64
Java 1.8.0_201

[2019-03-15 19:21] Siedlerchr commented on #4762
I can confirm this error also on Windows.
  If you open the prefences dialog and click on save again, entry editor and preview will work again.
I am currently trying to figure out why

[2019-03-15 19:24] AEgit commented on #4762
Note, that even before this bug the preview would not work/turn up before having started the entry editor at least once (I think there was on issue on this before, which is still open). The difference now is just, that you cannot even open the entry editor with, e. g., doubleclick, before having used the "Preferences" workaround.

JabRef 5.0-dev--snapshot--2019-03-15--master--7ed15bc4a
Windows 10

[2019-03-15 19:26] Siedlerchr commented on #4762
@AEgit  okay, thanks for your feedback. This might narrow it down to the preview initializing

[2019-03-15 20:07] Siedlerchr commented on #4762
@tobiasdiez I first thought it has something to do with the preview citation style. I debugged and  temporarily added the discovery of the citation styles with a future.get() in the preview panel, but does not change anything.
And the workaround only works if you hit save in the preferences dialog.
So there must be a thing which prevents the entry editor from opening which is set in the preference

[2019-03-15 20:08] stekeller commented on #4423
I think this is connected to #4027
Using JabRef 4.3.1 on Windows 10 10.0 amd64 with Java 1.8.0_201
I have the same issue, mostly in my university network, but from time to time also in my home network.
Entering the captcha in the browser doesn't fix the issue in jabref. Please fix this!

[2019-03-15 20:19] Siedlerchr commented on #4763
@CaptainDaVinci  It should open the default file manager of the OS and select the file.
e.g. on Windows it opens the explorer and selects the file:
(The file is not related to the entry, just for demonstration purposes)
![grafik](https://user-images.githubusercontent.com/320228/54459757-f474a700-4767-11e9-9693-619d2819bebb.png)

@pirius  It seems like this is a classical NPE because the environmen

[2019-03-15 22:15] matthiasgeiger commented on #4762
Maybe 'git bisect' helps to track it down?

[2019-03-15 23:19] tobiasdiez commented on #4736
Sounds right too me. The new folder is specific for to the library and thus the metadata class is the correct place to store it (and you need corresponding parsing/writing logic). Because of this relative wide range of changes, I didn't marked this issue as "good-first-issue" but it's nice that you found yourself around the code so quickly. Good job!

[2019-03-16 00:33] tobiasdiez commented on #4762
That's strange. The DatabaseChangePane apparently hides the entry preview/editor. I don't have time the next few days to investigate this further, but will return to it on Monday the latest.

[2019-03-16 04:33] WtfJoke commented on #1019
How is this related now to https://github.com/JabRef/jabref/pull/4759?

[2019-03-16 08:08] CaptainDaVinci commented on #4763
For setups using window managers (e.g i3) instead of desktop environments (e.g KDE), there aren't any out-of-the box file explorers provided. I think many users having a similar setup prefer not to have a GUI file explorer. Instead we could, maybe, open the terminal where the file resides?

[2019-03-16 08:53] Siedlerchr commented on #4763
Sounds like a good idea. There should already be a method for opening the terminal. So the easiest way would be to wrap the System.getEnv call in an optional.ofNullable and then open the terminal if not present

[2019-03-16 08:56] Siedlerchr commented on #1019
The show all preferences window (the table view). is now searchable . The preferences window itself not yet.

[2019-03-16 08:57] Siedlerchr commented on #4423
Sorry, we can't do anything about this. The problem lies on the side of Google limiting access.

[2019-03-16 10:38] pirius commented on #4763
@Siedlerchr now I understand. I neither have nautilus installed nor is my DESKTOP_SESSION set. My suggestion would be:

* in the preferences in external programs give an option for which command is executed when "open folder" is selected. This way on Linux you would not be bound to any specific file browser. You could include the path to the file selected in JabRef as a variable in that command: t

[2019-03-16 10:57] #4306 closed

[2019-03-16 11:13] skanskan commented on #4423
Thank you

[2019-03-16 11:30] Siedlerchr commented on #4659
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-16 11:31] Siedlerchr commented on #4685
The import dialog has been reworked and converted to javafx as well. Could you please test again with the latest master version?

[2019-03-16 11:32] Siedlerchr commented on #4678
Should be fixed in the latest master:
![grafik](https://user-images.githubusercontent.com/320228/54474647-9edfdf00-47e7-11e9-9705-b8061cb4eada.png)

[2019-03-16 11:36] Siedlerchr commented on #4664
Works fine the latest master:
![grafik](https://user-images.githubusercontent.com/320228/54474679-17df3680-47e8-11e9-83e5-457ae3d3af45.png)

[2019-03-16 11:37] Siedlerchr commented on #4633
Refers to #4694

[2019-03-16 11:37] Siedlerchr commented on #4645
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2019-03-16 11:37] #4645 closed

[2019-03-16 11:39] Siedlerchr commented on #4534
Could you please try the latest snapshot?
http://builds.jabref.org/master/

[2019-03-16 11:45] Siedlerchr commented on #4764
Confirmed: when I click in the source field and then select another entry in the table, the bib entry codes changes to  the first selected one.
Log informs about autosave:
[code]

[2019-03-16 11:48] bernhard-kleine commented on #4678
just tested with the JabRef 5.0-dev--snapshot--2019-03-16--master--d7dd41b00, not yet changed

[2019-03-16 13:05] samiyac commented on #4736
@tobiasdiez Does the LaTex directory have to be user-specific like in the case of `UserFileDirectory` or can it be general?
I am currently making changes in MetaDataSerializer, and I was planning on adding -L after `MetaData.FILE_DIRECTORY` help in identifying that this path is for LaTex File `MetaData.FILE_DIRECTORY + '-L'`. Would this work?

I have made the rest of the changes and would be makin

[2019-03-16 13:58] Siedlerchr commented on #4736
If it's stored in the bib file it's library specific,
Should be enough for this purpose. Offers the greatest flexibility.

Just some background info. In the library properties you can enter relative file paths for the file directory. The file directory is then relative to the location of the bib file.
(e.g you store the bib file with you latex files and the literature in a subdirectory)

The gener

[2019-03-16 16:33] Siedlerchr commented on #4516
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-16 16:33] #4516 closed

[2019-03-16 16:38] Siedlerchr commented on #4242
Fixed by #4693

[2019-03-16 16:38] #4242 closed

[2019-03-16 16:42] Siedlerchr commented on #4149
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-16 16:42] #4149 closed

[2019-03-16 16:47] Siedlerchr commented on #3787
This issue is still present in 5.x. EntryType is not detected

[2019-03-16 16:50] Siedlerchr commented on #3134
As we recently worked on the improvement of the docbook5 export I guess this issue can be closed now

[2019-03-16 16:50] #3134 closed

[2019-03-16 16:51] Siedlerchr commented on #2467
This feature was replaced by drag and drop

[2019-03-16 16:51] #2467 closed

[2019-03-16 16:53] Siedlerchr commented on #952
Idea: Create a dry run modus like many linux command terminal applications have

[2019-03-16 16:59] Siedlerchr commented on #4339
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-16 16:59] #4339 closed

[2019-03-16 17:03] bernhard-kleine commented on #3134
The editor in the example is now correctly formatted.

[2019-03-16 20:15] CaptainDaVinci commented on #4764
I think this is because when the `sourceTab` is out of focus (when another entry is selected), the [storeSource](https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/entryeditor/SourceTab.java#L166) is called with the previous _sourceText_ but the `currentEntry` is updated with the second entry and the field values of first one are copied.

[2019-03-17 00:47] denshion commented on #4481
I confirm the bug to be fixed in the version `JabRef-5.0-dev--snapshot--2019-03-16--master--d7dd41b00`.

For your information, now the stack trace is
[code]
for the proxy being either enabled or disabled. The stack trace is printed after the first debug message without any delay. The first debug message itself is printed in half a minute after the launch, though.

Thank you for the fix!

[2019-03-17 01:03] wujastyk commented on #4762
JabRef 5.0-dev--snapshot--2019-03-16--master--d7dd41b00
Linux 4.15.0-46-generic amd64
Java 1.8.0_201

Same problem as reported above.  Options / Prefernces / Save  re-enables editing and preview.

[2019-03-17 01:08] wujastyk opened #4767 "Bibtex key generator bug introduced"
JabRef version
JabRef 5.0-dev--snapshot--2019-03-16--master--d7dd41b00
Linux 4.15.0-46-generic amd64
Java 1.8.0_201

on Linux Mint 19.1

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. open Options/Preferences/BibTeX key generator
2. set the key to "[auth4:lower]-[year]"
3. In the entry editor, u

[2019-03-17 01:11] wujastyk commented on #4472
JabRef 5.0-dev--snapshot--2019-03-16--master--d7dd41b00
Linux 4.15.0-46-generic amd64
Java 1.8.0_201

Me too.

[2019-03-17 09:28] Siedlerchr commented on #4767
Maybe a side effect from #4709?

[2019-03-17 10:35] DOFfactory commented on #4685
thanks @Siedlerchr, looks very nice. I really like all the other UI changes. I tested my search against Google Scholar, and it ends in a never-ending "Processing ...". ACM worked, I haven't tested others. I kinda liked the compact view we had previously, now there is too much scrolling needed to find this or that. IMHO a search within the result window would simply things in this regard. What do y

[2019-03-17 10:39] Siedlerchr commented on #4685
@DOFfactory  Google Scholar is difficult and often blocked by Google, there is not much we can do about.
A search sounds like a good idea. Just open a new issue/enhancement e.g. Search in import (inspection) window

[2019-03-17 10:39] #4685 closed

[2019-03-17 11:05] Siedlerchr commented on #4762
I further found out that it only works if you click OK/Save in the Preferences dialog. Simply opening the dialog and pressing Cancel or Escape does not work.

[2019-03-17 11:51] samiyac commented on #4736
As of now, I am saving relative path of the aux file in `serializeTexGroup` in GroupSerializer.java and I convert this relative path to absolute path in `texGroupFromString` in GroupsParser.java. However, in order to do this expansion to absolute path, I need an instance of MetaData, as of now I am doing this by passing it through `GroupsParser.importGroups(value, keywordSeparator, fileMonitor, me

[2019-03-17 19:09] CaptainDaVinci commented on #4762
Is this issue result of the changes made [recently](https://github.com/JabRef/jabref/pull/4693/files#diff-78d6fdd24f8cf9ec9fe6d26f79b6f22e) to the ` src/main/java/org/jabref/gui/BasePanel.java` file? Undoing few of those changes in the constructor seem to fix the issue.

[2019-03-17 19:24] Siedlerchr commented on #4762
Hmm that's interesting, thanks for your investigation. The reason why it fails would be interesting

[2019-03-17 19:27] CaptainDaVinci commented on #4762
The reason why I think it works on clicking _Save_ under preferences dialog would be because that results in setting up the main panel once again which in turn clears the `getChildren()` for `BasePanel`. However, on creating an instance of `BasePanel`, the constructor makes a call to setting up the main panel before adding `changePanel` to it.

[2019-03-17 19:30] Siedlerchr commented on #4762
I think I understand the problem. It's a Stack pane. So there can be only at most one child visible. https://o7planning.org/en/10633/javafx-stackpane-layout-tutorial

[2019-03-17 23:05] tim-kilian commented on #4767
This is because - is an illegal character in the BibtexKeyGenerator KEY_ILLEGAL_CHARACTERS pattern.

https://github.com/JabRef/jabref/blob/d7dd41b0022978b9db958505cf6031768cf2cd8c/src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGenerator.java#L29

[2019-03-18 08:25] bernhard-kleine commented on #4762
(@Siedlerchr) In addition to the errors reported earlier, the Ctrl-E does not work even after Open preferences->Save. You have to start the editor by View->Open entry editor.

[2019-03-18 10:03] JoKalliauer commented on #4194
Since `5.0-dev` contains some bugs (that are relevant to me), I prefer to use JabRef 4 again.

Will this bug be solved in JabRef 4?

[2019-03-18 10:27] Siedlerchr commented on #4194
Sorry to inform you, but due to a lack of resources (man power) we can only maintain the current development version 5.x as all of our developers are working in their free time on JabRef.
We are working hard to make the 5.x version stable.
Your issue with the source tab should be fixed very soon, there is already a PR for that issue which however still has to be reviewed.

[2019-03-18 10:27] #4194 closed

[2019-03-18 12:35] ilippert opened #4778 "track where bib file is stored?"
Working with
JabRef 4.3
Linux 4.20.15-200.fc29.x86_64 amd64
Java 1.8.0_201

Use situation: I have worked with jabref on a bib file (in the midst of a work process involving lots of other work, between my brain, a latex document and file structures). Externally, at some point I renamed the folder in which that bib file was located. Careless as I was, I did not tell JabRef about the directory change

[2019-03-18 15:16] CaptainDaVinci commented on #4762
This issue remains even after removing the line which adds the `changePane` to the `StackPane`. In addition to that, keybinding for _toggle preview_  isn't working.

However, once the you display the editor from view -> Open Entry Editor the keybindings work.

[2019-03-19 05:55] deepakkumar96 commented on #4763
Hello,
I'm new to open source and interested in contributing to JabRef.I would like to work on this issue, So please allow me to work on it.

[2019-03-19 08:47] DOFfactory opened #4781 "Search in import (inspection) window"
This is a follow-up on the issue #4685 as kindly suggested by @Siedlerchr.

It would be great if the new import dialog will have a search where one ideally can filter the listed results. Maybe implementing `author:john`, `title:goal-oriented`, etc, filters might be useful.

[2019-03-19 09:33] bernhard-kleine commented on #4678
@Siedlerchr: with the snapshot of 2019-03-18 is still not fully shown. Should be reopened.

[2019-03-19 09:37] Siedlerchr commented on #4678
This is odd, as you can see in my screenshot from a Windows 10 system it works fine.

[2019-03-19 09:44] bernhard-kleine opened #4782 "Last display and sort order not maintained when shutting down and reopening JabRef"
JabRef 5.0-dev--snapshot--2019-03-18--master--52696f04b
Windows 7 6.1 amd64
Java 1.8.0_201

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I prefer to sort the main table on the timestamp key. However, this sorting is not maintained. Somewhere in the snapshots it worked but was removed for unknown reason. It seems this is the time

[2019-03-19 09:50] Siedlerchr commented on #4782
Duplicate of #4224  (the original issue, still open)
I had to remove the code applying the sort order at startup because it was caussing massive performance problems at startup when loading a bib file. I have not yet had time to find a better solution.

[2019-03-19 09:50] #4782 closed

[2019-03-19 13:24] AEgit commented on #4678
I cannot confirm this bug for:

JabRef 5.0-dev--snapshot--2019-03-18--master--52696f04b
Windows 10 10.0 amd64
Java 1.8.0_201

So this might be a Windows 7 problem?
But while checking for this bug, I found another one, which I will report elsewhere.

[2019-03-19 13:32] AEgit opened #4783 "Group creation not possible anymore with default settings"
JabRef 5.0-dev--snapshot--2019-03-18--master--52696f04b
Windows 10 10.0 amd64
Java 1.8.0_201

Steps to reproduce the behavior:
1. Open "Groups" panel and try to add a group (or edit a pre-existing one - the problem appears there as well)
2. Give a name (and a description, but that does not change the problem)
3. Hierarchical context is set to default (i. e. "Independent group") and Type is set to

[2019-03-19 14:22] Siedlerchr commented on #4783
Noticed that as well. Once you switch to another radio button and back again the OK is no longer disabled, Probabl the validation/disable property of the ok button is not set correctly

[2019-03-19 14:43] bernhard-kleine commented on #4678
I have the textsize in the Windows adaption set to 125%, but when I set it to 100% the text is still cut in half.
Setting the textsize in Jabref smaller has not equally any effect.

[2019-03-19 14:47] bernhard-kleine commented on #4783
If you confirm the name of the group with "enter", the OK appears clickable.

[2019-03-19 15:19] zoltanpm commented on #4762
I agree -- I get the following in the log:

[code]

After open/save preferences, it works fine; 5.0-dev on Fedora 29.

[2019-03-19 18:47] deepakkumar96 commented on #4763
I've a question regarding implementation:
I'm providing an option to set command or program for default file browser, where user can explicitly set command or let JefRef to set deafult behaviour like this:
![Screenshot from 2019-03-20 00-07-13](https://user-images.githubusercontent.com/17297948/54633119-84d32480-4aa5-11e9-9aa7-a9bd62cf8d1b.png)

[2019-03-19 18:53] deepakkumar96 commented on #4763
Now, when user clicks "open folder", JabRef will try to look whether file browser command(in Preference Tab) is explicitly set by the user or not, If yes then it will execute that command otherwise default behaviour will be applied by checking "DESKTOP_SESSION" environment variable.
So Is this solution correct or Do I have to find some other way?

[2019-03-19 19:12] Siedlerchr commented on #4763
Looks good! Thanks for working on this!
Please also check the case that no desktop season is present and user has not selected any application for opening. In that case it would be nice to print a log message or notification

[2019-03-19 19:57] tobiasdiez commented on #4781
I'll like your suggestion. It makes sense especially for (larger) imports. However, for the web search, we usually show only between 10 to 20 entries. Thus, in case, I would suggest that we show a text field with the search query and changing the text would trigger a new search.

[2019-03-19 20:01] DOFfactory commented on #4781
Thanks @tobiasdiez for the feedback, I was unaware of the fact that the results window shows only 10-20 results. Personally, I liked the compact view of the 3.4 version, where a lot of articles were loaded. I think the best would be if one could conduct some basic literature review searches in the import as well. Just in idea.

[2019-03-19 20:59] bernhard-kleine opened #4785 "Quality-> Find duplicates throws a spectacular error"
JabRef 5.0-dev--snapshot--2019-03-18--master--52696f04b
Windows 7 6.1 amd64
Java 1.8.0_201

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

![grafik](https://user-images.githubusercontent.com/9216487/54641604-de7e2380-4a92-11e9-84a2-9d463d22cb68.png)

This could only be stopped by the task manager.
Steps to reproduce the behavior:

[2019-03-19 21:06] pirius commented on #4763
I also agree, this looks good! The detail I want to highlight: the "execute command" would make sense for any external program, also the pdf viewer. I mention this because the pdf viewer does not have an "execute command" option in the screenshot - I don't know if that was still WIP when you did the screenshot. And in all of those cases a descriptive error message in case something goes wrong (env

[2019-03-19 21:20] matthiasgeiger opened #4786 "External addition/removal of new entry causes NullPointerException in review dialog"
JabRef version 5.0dev (latest) on Windows 10
- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In case you add an entry externally and check the change in the review dialog a `NullPointerException` is thrown.

Steps to reproduce the behavior:
1. Open a bib file.
2. Add an entry in external text editor
3. Review change "Added Entry"

[2019-03-19 21:27] matthiasgeiger commented on #4785
Can reproduce.

For the record here the full stack trace:

<details>
  <summary>Stack trace</summary>

[code]
</details>

[2019-03-19 22:30] tobiasdiez commented on #4762
The main bug should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

There are still some related bugs left that should be fixed as well: https://github.com/JabRef/jabref/pull/4784#pullrequestreview-216419250

[2019-03-19 22:44] samiyac commented on #4736
Hi, I am facing this error

[code]
I understand what is causing it but don't exactly understand how to fix it.
I have made the rest of the changes to tests

[2019-03-19 23:15] tobiasdiez commented on #4736
@samiyac Sorry for the late answer.
I think it is slightly better to relativize the path only in the group dialog, i.e. after the user selected a file via the browse button. In this way the relatization is transparent to the user and codewise you don't run into the problems that you describe above.

It would be nice if you could add tests for the basic things (serialization/parsing/making paths re

[2019-03-19 23:19] samiyac commented on #4736
@tobiasdiez I have implemented that. The only problem is that when I am saving my AUX file, I am saving relative path. So when I parse to create TexGroup, I need access to LaTexFileDirectory which I can only get through MetaData.

[2019-03-20 00:29] wujastyk commented on #4762
JabRef 5.0-dev--snapshot--2019-03-19--master--90376f40f
Linux 4.18.0-16-generic amd64
Java 1.8.0_201

Fixed for me.  Double click n a row now opens the editor.

[2019-03-20 06:31] Siedlerchr commented on #4786
Just pass a new BibDatabase() as parameter. That should work. It's done in the settings as well

[2019-03-20 08:03] bernhard-kleine commented on #4762
the Alt-2 key to show the entry preview still is not working on a freshly loaded library. the Ctrl-E, however, works, and after opening the entry editor, Alt-2 works, too. Very strange.

[2019-03-20 08:16] CaptainDaVinci commented on #4762
<kbd>ctrl</kbd>+<kbd>e</kbd> doesn't seem to work for me. Even after opening the editor <kbd>ctrl</kbd>+<kbd>e</kbd> only closes the editor and does not toggle.

[2019-03-20 09:04] bernhard-kleine commented on #4762
@CaptainDaVinci : hier JabRef 5.0-dev--snapshot--2019-03-19--master--90376f40f on Windows 7 6.1 amd64 with Java 1.8.0_201
toggle works

[2019-03-20 09:30] AEgit commented on #4762
I can confirm that the main bug has been fixed in:

JabRef 5.0-dev--snapshot--2019-03-19--master--90376f40f
Windows 10 10.0 amd64
Java 1.8.0_201

i. e., it is now possible again to open the entry editor by double-clicking on a row in the main table.
<kbd>CTRL</kbd> + <kbd>E</kbd> does not seem to (reliably) work for me (I only managed to open the entry editor with <kbd>CTRL</kbd> + <kbd>E</kbd> on

[2019-03-20 09:47] AEgit commented on #4678
@bernhard-kleine
Just a wild guess: If it is not a Windows 7 problem (we would need another Windows 7 user to confirm this), it might be related to display size and/or resolution. Currently I am using a 24 inch screen with a resolution of 1920x1080. What about your display setup?

[2019-03-20 09:49] bernhard-kleine opened #4788 "Editing the Bibtexkey troublesome while the library is sorted on the bibtexkey"
JabRef 5.0-dev--snapshot--2019-03-19--master--90376f40f
Windows 7 6.1 amd64
Java 1.8.0_201

When I try to edit the bibtexkey, once the I type a single letter, jabref saves that change, and when the order according to the bibtexkey is changed, changes the order accordingly, and jumbs to the first item of the entry editor, here the author. When you type the second letter, missing this jumb because i

[2019-03-20 09:52] bernhard-kleine commented on #4678
I have a 1920x1200 screen

[2019-03-20 10:00] AEgit commented on #4678
Hmmm ok, then it is probably not a display issue (I thought you might have a very small monitor, but that is obviously not the case).
So maybe it is Windows 7 then, that causes the issue? Let's see if we can find another user with Windows 7 and JabRef installed.

[2019-03-20 10:13] bernhard-kleine opened #4789 "Closing a library but not JabRef, the .sav file is not deleted, causing a "Backup found" message at the next opening"
JabRef 5.0-dev--snapshot--2019-03-19--master--90376f40f
Windows 7 6.1 amd64
Java 1.8.0_201

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Once I close a library clicking the +-symbol in the "Reiter", and reopened it, I get the message "Backup found" ...
Steps to reproduce the behavior:
1. Close a library by pressing the +-symbol

[2019-03-20 10:28] dschrempf opened #4790 "Find unlinked PDF files"
I am using `Jabref--master--latest.jar` (March 20, 2019).

I was missing the feature "find unlinked PDF files". I believe this already existed at some point but seems to be absent now. I use this feature often, and would like to have it back.

Since I am not using Java, in the meantime I wrote a simple BASH script. Maybe it can be used as a starting point?

[code]

Thanks a lot for working on JabR

[2019-03-20 10:35] bernhard-kleine commented on #4678
Hi, with font size 10, adjusted in Jabref option, the text is fully shown. But with font size 13 it is not!!!! A problem of Jabref obviously!

[2019-03-20 10:39] AEgit commented on #4678
Ahhh, there we go - I only used the default font size. Yes, if I change the default font size to 13, I get the same issue.

JabRef 5.0-dev--snapshot--2019-03-19--master--90376f40f
Windows 10 10.0 amd64
Java 1.8.0_201

[2019-03-20 11:50] tobiasdiez commented on #4678
It's a bug in the library we use for the color picker. I reported it at https://github.com/jfoenixadmin/JFoenix/issues/957. Since there is nothing we can do but just wait until it is fixed on their side, I'll close this issue.

[2019-03-20 11:50] #4678 closed

[2019-03-20 11:55] tobiasdiez commented on #4790
We resorted the menu to group related features and make them more accisble. The "Find unlinked files" is now placed under "Quality".

[2019-03-20 13:12] bernhard-kleine commented on #4756
After opening a large (4000 entries) library, Jabref does not take much of the RAM. However, deleting from this library takes up to 5Gb RAM and upto 90 % of CPU time. Since I have 16 GB available RAM for me it is not so much, but on a laptop with smaller RAM there might be a lot of activity. (and warming and spinning).

[2019-03-20 14:32] bernhard-kleine commented on #4756
After starting the deletion, the processor occupancy went to 95 %, and the RAM used was about 5GB, However after deletion was completed, the RAM was not freed. That might be an error!
![grafik](https://user-images.githubusercontent.com/9216487/54692450-59901a00-4b25-11e9-8076-1e6f26349488.png)

[2019-03-20 18:02] deepakkumar96 commented on #4763
@Siedlerchr and @pirius thanks for your comment.
I'm not able to reproduce this error on my ubuntu 18.04 system, but I hope this will solve this issue(NPE):

@Override
    public void openFolderAndSelectFile(Path filePath) throws IOException {
        String desktopSession = System.getenv("DESKTOP_SESSION");

        String cmd = "xdg-open " + filePath.toAbsolutePath().getParent().toString(); //de

[2019-03-20 18:39] deepakkumar96 commented on #4763
And I've one more question:
I'm neither familiar with windows nor have access to windows. So what should be default command for opening file browser?
Is this correct : Runtime.getRuntime().exec("explorer.exe /select," + path);
I need to set this default behaviour in JabRefPreferences.

[2019-03-20 19:39] dschrempf commented on #4790
This entry is not showing up in my JabRef instance.

![2019-03-20-203744_1920x1080_scrot](https://user-images.githubusercontent.com/5596239/54713955-2616b500-4b50-11e9-8650-ab6a14965f30.png)

[2019-03-20 19:47] Siedlerchr commented on #4790
It's under Tools: (Search for unlinked local files)
![grafik](https://user-images.githubusercontent.com/320228/54714454-498e2f80-4b51-11e9-9142-f16f98e16970.png)

[2019-03-20 19:47] #4790 closed

[2019-03-20 19:48] #4785 closed

[2019-03-20 19:48] #4786 closed

[2019-03-20 19:49] Siedlerchr commented on #4785
Thanks for reporting this issue. Should be fixed in the latest version, commit  6c61664

[2019-03-20 19:49] Siedlerchr commented on #4786
Should be fixed now in the latest version

[2019-03-20 20:39] samiyac commented on #4687
Hi I would like to work on this.

[2019-03-20 23:15] tim-kilian opened #4793 "List not refreshing when creating an entry in a new library"
JabRef version 5.0-dev--snapshot--2019-03-20--master--6c61664a8 on Windows 10 10.0 amd64 Java 1.8.0_172

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

It seems that the lsit is empty when I try to create a new library. When I try to create a new entry with <kbd>Ctrl</kbd>+<kbd>n</kbd> it doesnt show up. Seems to be related to the

[2019-03-20 23:24] noMICROSOFTbuhtz commented on #4664
You did not used the bib-file uploaded by me. Please test it with this and follow my step-by-step to reproduce. I can still reproduce the problem with the dev from today.

[2019-03-21 06:34] dschrempf commented on #4790
Thank you!

[2019-03-21 06:55] Siedlerchr commented on #4793
You are missing keys in the registry, have s look at the forum there was a similar problem and the solution is to manually create the missing registry keys

[2019-03-21 08:16] bernhard-kleine commented on #4785
Error is gone. Thanks a lot.

[2019-03-21 09:32] tim-kilian commented on #4793
So this is not a bug, I am just missing something out, right? Can you link the topic in the forum for this?

[2019-03-21 12:05] matthiasgeiger commented on #4793
No, this is a bug introduced recently.

@siedlerchr this is a side effect of the @tobiasdiez fix regarding the not opening entry editor

[2019-03-21 14:02] CaptainDaVinci commented on #4441
However, on switching to another library, group count shows count of previous library.

[2019-03-21 14:25] atulim opened #4795 "Options should be inactive or show Error or Information Box"
JabRef version 5.0

I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists-
Steps to reproduce the behavior:

(1) Open JabRef 5.0 and go to Tools option.
(2) Click on the link 'Push entries to external application(TeXstudio)' which comes as active.
(3) Nothing happens.

Actual behavior: Nothing happens on clicking 'Push entries to external appli

[2019-03-21 14:31] atulim opened #4796 "Change of pattern of name of an Option"
JabRef version 5.0

I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists-
Steps to reproduce the behavior:

(1) Open JabRef 5.0 and go to 'File' option.
(2) Click on the link 'New Library' which comes as active and then 'New biblatex library'.

Improvement: I suggest normal documentation improvement i.e. in place of 'biblatex', we can use ' Bi

[2019-03-21 16:43] Siedlerchr commented on #4796
@atulim  Thanks for your suggestion, but indeed `biblatex` is corrrect, it's not written like BibTeX.
We had a discussion? or an issue about this some time ago, and got the feedback from the biblatex devs, that the casing is indeed biblatex and not BibLaTeX.

[2019-03-21 16:43] #4796 closed

[2019-03-21 21:02] bernhard-kleine opened #4800 "Irritating jumping to the "default" display (Sort order) when closing Options"
JabRef 5.0-dev--snapshot--2019-03-20--master--6c61664a8
Windows 7 6.1 amd64
Java 1.8.0_201
- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I like to change the sort order for being able to directly edit an imported file using the timestamp. It is very irritating that opening Options for any adaption does not maintain the sort order

[2019-03-21 22:59] samiyac commented on #4679
Hi, I was able to reproduce this issue on my system and would like to work on resolving it.

[2019-03-22 02:31] CaptainDaVinci commented on #4679
@samiyac the issue #4441 might be related as well (haven't tested it though). I've done some preliminary investigation on that issue it might be useful.

[2019-03-22 06:27] harinda05 commented on #4783
Without refactoring the logic of the existing code much I was able to create a simple patch for this. Now the enabling/disabling the OK button with regards to the text fields have been validated properly. As @Siedlerchr mentioned now no need to switch to another radio button and back again to enable the OK button.

ps: This is my first commit in the repo. So if there's any specifics I have missed

[2019-03-22 09:40] tobiasdiez commented on #4733
As @Siedlerchr said, this information is already contained in the about dialog:
![image](https://user-images.githubusercontent.com/5037600/54813838-bf4be580-4c8e-11e9-9d0e-57c0972170b0.png)

As the build date is a relativly unimportant information, I also don't see any reason to add it to the titlebar.

[2019-03-22 09:40] #4733 closed

[2019-03-22 10:25] tobiasdiez commented on #4441
Thanks for investigating this issue. This is how it is supposed to work:
- Whenever a library get's the focus, convert the group tree to a tree of `GroupNodeViewModel`s.
https://github.com/JabRef/jabref/blob/6c61664a8f715e4011064ddca5cb0ace0b803131/src/main/java/org/jabref/gui/groups/GroupTreeView.java#L108-L113
- Bind the value of the `hit` property to the text field
https://github.com/JabRef/jab

[2019-03-22 10:45] AEgit commented on #4664
Cannot confirm for (@noMICROSOFTbuhtz : I have used the bib file you provided):

JabRef 5.0-dev--snapshot--2019-03-20--master--6c61664a8
Windows 10 10.0 amd64
Java 1.8.0_201

So if the issue still appears with your setup, it might be configuration- or Linux-specific.

Or do you just mean, that the article count is not updated in the group panel? If that is the case - that issue is already known, s

[2019-03-22 12:41] atulim commented on #4183
@chrisjmendoza r u still working on this?

[2019-03-22 16:08] atulim commented on #4795
@tobiasdiez As I said, I would suggest initial bugs in U.I. when there is no database involved. They are listed below -

Bugs Involved - (a) Some of the options that show as active and don't perform an operation. They should be marked as inactive or a dialog box should appear.

(1) Edit (Menu bar)- Manage keywords

(2) Library - New entry
                   New entry from plain text

[2019-03-22 17:11] atulim commented on #4371
@Siedlerchr I don't think there is much issue to be addressed here. The pattern of represntation of databases and fields is satisfactory. I myself work on 4K screen and I didn't have any problem when I was working through the application in order to find bugs.

[2019-03-22 21:09] Ali96kz commented on #4665
I these issue still open?

[2019-03-22 22:31] samiyac commented on #4441
I think the problem might also be concerned with `databaseContext.getDatabase().getEntries().addListener(this::onDatabaseChanged); `
I added a print statement inside the function `onDatabaseChanged` and it didn't print anything after a few entries were added.

This is also related to issue [#4679](https://github.com/JabRef/jabref/issues/4679). I found that the same problems occurs when I added ent

[2019-03-23 05:52] noMICROSOFTbuhtz commented on #4664
I will do some more tests on other systems and will report back. Please give me some time.

[2019-03-23 16:12] pirius opened #4802 ""Open console" with custom command seems to pass %DIR argument wrongly"
JabRef 5.0-dev, JabRef--master--latest.jar from 2019.03.23

- [ x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

System details: Arch Linux, i3 window manager, no desktop environment. Java version:

[code]

When using a custom command for "open terminal" the %DIR argument seems to be passed wrongly to the executed command. I've tested

[2019-03-23 21:57] deepakkumar96 commented on #4802
Okay So, I looked into "open console" code so the issue here is:
1. While logging command, the code does replace %DIR with the actual path,
2. But while actually executing the command, the code does not replace %DIR with the actual path.
    (so the command is executed as it is, provided by the use)

As you can see this in code below:
[code]

  Here variable 'commandLoggingText' is getting used on

[2019-03-23 22:45] deepakkumar96 commented on #4802
I'll work on this issue whenever I get time.

[2019-03-23 22:53] NorwayMaple commented on #4588
I'm still looking into this issue. I think I have found the line that adds the extra quote character `\`. Besides the original one pointed out by Tobias above, also see below:

https://github.com/JabRef/jabref/blob/6c61664a8f715e4011064ddca5cb0ace0b803131/src/main/java/org/jabref/logic/exporter/MetaDataSerializer.java#L116-L126

This quotes it again once the group tree has been serialized into one

[2019-03-23 23:16] Siedlerchr commented on #4588
Thanks for digging into this! Much appreciated!

The save sort order define in which sort order the entries are exported and stored into the bib file. You can see them in preferences dialog and in library properties. They contain only ascending /descending order and the bib field. So nothing special. Not fully sure but they are stored as key value in the bib file, with semicolon.

Save actions are

[2019-03-23 23:41] NorwayMaple commented on #4588
Okay, I will do that soon, and see what happens when I remove the `StingUtil.quote` calls.

[2019-03-23 23:50] NorwayMaple commented on #4588
The library properties dialog goes off the screen for me so I can't click OK. Is there a quick fix for this? My monitor is 1366 x 768.

[2019-03-24 02:50] shichuzhu opened #4804 "program won't quit when loading a library bound to a postgresql"
JabRef version
<JabRef 5.0-dev--snapshot--2019-03-20--master--6c61664a8
Linux 4.15.0-46-generic amd64
Java 1.8.0_201>
on <Ubuntu 18.04>

- [Y] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

It's OK if I'm using JabRef with a regular .db file. However, if the .db file is bound to a postgresql database (i.e., the .db file starts with a li

[2019-03-24 10:47] matthiasgeiger opened #4805 "Improvement: Add all messages shown also to event log"
Currently, the information displayed, e.g., during saving, is not logged in the event log:
![grafik](https://user-images.githubusercontent.com/676652/54878244-3ec1ec00-4e2a-11e9-88ab-ae08d08113f9.png)
not logged here:
![grafik](https://user-images.githubusercontent.com/676652/54878255-6c0e9a00-4e2a-11e9-882b-b528c952430e.png)

In my opinion it would be helpful to have it also there.

@tobiasdiez @

[2019-03-24 15:21] samiyac commented on #4441
@tobiasdiez and @Siedlerchr Why do we have the All Entries group available when no library has been opened in JabRef? It doesn't seem to serve any function.

[2019-03-24 15:26] pirius commented on #4802
@deepakkumar96 Thanks, the code explains the issue well. My suggestion would be to do the %DIR replacement directly after whitespace normalization, before anything is "split" towards logging or execution.

[2019-03-25 00:52] douglasrizzo commented on #4588
Isn't there an OS-specific shortcut which you can use to move a window with the mouse or arrow keys? I believe on Windows and Ubuntu it is `Alt + Spacebar`, then `M`.

[2019-03-25 11:05] c-martinez commented on #2879
I'm facing the same issue.
[code]

Log says:
[code]

[2019-03-25 11:55] Siedlerchr commented on #2879
@c-martinez  The DOI/URL doesn't exist. This is not a problem of JabRef.

[2019-03-25 12:58] c-martinez commented on #2879
https://doi.org/10.17026/dans-xfe-rn2w resolves to https://easy.dans.knaw.nl/ui/datasets/id/easy-dataset:75828  (on a browser) -- you are right, it is not an issue with JabRef itself, rather seems like an issue with the resolved server. The error message got me confused.

Thanks!

[2019-03-25 16:01] Siedlerchr commented on #2879
JabRef only contacts doi.org for URL/doi resolving, there might be other handlers/resolvers for other specific urls (its complicated) that are not available from doi.org

[2019-03-25 16:54] #4793 closed

[2019-03-25 16:55] Siedlerchr commented on #4793
Thanks to  @matthiasgeiger  this should be fixed in the latest master now.
https://builds.jabref.org/master

[2019-03-25 16:56] Siedlerchr commented on #4762
Thanks to  @matthiasgeiger  this issue is now finally resolved.

[2019-03-25 16:56] #4762 closed

[2019-03-25 18:14] crystalfp commented on #1647
Well, no.

In latest version (see below) JR ignores DO field. Try importing (after changing extension to .ris) the following RIS file: [PMC3113697.txt](https://github.com/JabRef/jabref/files/3004842/PMC3113697.txt)

JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_201

[2019-03-25 18:44] AEgit commented on #4762
Cannot confirm for:

JabRef 5.0-dev--snapshot--2019-03-25--master--e14b56742
Windows 10 10.0 amd64
Java 1.8.0_201

As mentioned in https://github.com/JabRef/jabref/issues/4762#issuecomment-474752885, the main bug reported herein has been fixed. But the other issue reported in https://github.com/JabRef/jabref/issues/4762#issuecomment-474752885 remain - are these considered to be separate issues tha

[2019-03-25 19:12] Siedlerchr commented on #4762
@AEgit  The PR https://github.com/JabRef/jabref/pull/4806 fixed the following remaining issues:

View -> Entry Preview is checked: Uncheck and check again: Preview is shown,
Keybinding: <kbd>CTRL</kbd>+ <kbd>e</kbd> worked fine for me until I reset the keybindings. This is odd now. I will create a new issue

[2019-03-25 19:13] matthiasgeiger commented on #4762
You are right, that there is still something wrong with the opening of the preview and entry editor - but this was already wrong before the topic of this issue has been introduced (e.g. in JabRef 5.0-dev--snapshot--2018-12-14--master--49c3ef396 which I have just tested).

The behavior seems to be: The preview is only opened after "toggle preview" twice. The Keybinding seems only to work when the p

[2019-03-25 19:17] matthiasgeiger opened #4808 "Preview not shown upon opening file / Entry editor keybinding flawed"
JabRef version 5.0dev

As reported by @AEgit in https://github.com/JabRef/jabref/issues/4762#issuecomment-474752885: The behavior of the preview and the entry editor keybinding is somehow broken.

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Having "View" -> "Entry Preview" checked and opening

[2019-03-25 19:21] bernhard-kleine opened #4809 "Medline import, with italicized words, becomes faulty."
JabRef 5.0-dev--snapshot--2019-03-20--master--6c61664a8
Windows 7 6.1 amd64
Java 1.8.0_201

<
- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Pubmed has added italics support and titles are shown with single words in italics.
![grafik](https://user-images.githubusercontent.com/9216487/54947602-ffcf8b80-4f3a-11e9-917a-c65aa43fb51d.p

[2019-03-25 19:23] AEgit commented on #4762
Cheers!

[2019-03-25 19:39] matthiasgeiger commented on #4809
Also creation of new entry based on Pubmed ID is affected.

[2019-03-25 19:42] Siedlerchr commented on #4809
Thanks for your report. I remember that there was a simliar issue, it seem this is the same problem:
Duplicate of #4273

[2019-03-25 19:47] bernhard-kleine commented on #4273
7 months ago and of low priority! I understand that you are under considerable stress, but medline import for some of us is of utmost importance.

[2019-03-25 19:57] Siedlerchr commented on #4273
There seems to be a new one and one needs to have a bunch of addtional xml files.
https://www.ncbi.nlm.nih.gov/pmc/pmcdoc/dtd/

mathml-in-pubmed.mod
I found this other toolbox here: https://github.com/biopython/biopython/tree/master/Bio/Entrez/DTDs

@bernhard-kleine  Well, Pubmed is generally working, e.g import of entries is possible. Only for a subset of entries which uses italics in the title o

[2019-03-25 20:08] Siedlerchr commented on #4478
No longer reproducible in master.
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this versi

[2019-03-25 20:08] #4478 closed

[2019-03-25 20:10] Siedlerchr commented on #4117
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-25 20:10] #4117 closed

[2019-03-25 20:18] Siedlerchr commented on #4664
Okay, I looked into it and it seem it's a view configuration problem of the group:
Your statistic group is defined as "Refine supergroup"
![grafik](https://user-images.githubusercontent.com/320228/54951190-4a550600-4f43-11e9-80f5-b969036afb43.png)
If you choose Independent group it's displayed correctly.

As I'm not an expert of the groups mode stuff, maybe @AEgit  can help clarify the group modes

[2019-03-25 20:20] Siedlerchr commented on #4563
We now did a lot of changes and nearly removed all swing stuff, so would you mind testing the current master snapshot again?
https://builds.jabref.org/master/

[2019-03-25 20:21] Siedlerchr commented on #4535
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2019-03-25 20:21] #4535 closed

[2019-03-25 21:45] tobiasdiez commented on #4795
@atulim Thanks for the list! That helps a lot.

If you are really motivated you can go ahead and try to fix this bug as well. However, this is definitely not a beginner task. As it would require a lot of refactorization. For example, the disable status of the menu item needs to be bound to the command here:
https://github.com/JabRef/jabref/blob/e14b567425cdd2a49efcf56b0e4eafd0b96f1c1a/src/main/jav

[2019-03-25 21:49] tobiasdiez commented on #4371
There were indeed some huge improvements for high resolution displays. Moreover, the font size is now customizable on a global level.

[2019-03-25 21:49] #4371 closed

[2019-03-25 22:00] tobiasdiez commented on #4665
It's still not fixed but also a bit more complicated. See https://github.com/JabRef/jabref/issues/4795 for details.

Duplicate of #4795.

[2019-03-25 22:00] #4665 closed

[2019-03-25 22:10] tobiasdiez commented on #4805
I agree. If it's important enough to be displayed to the user as a status update, then it should also be displayed in the event log (as info).

[2019-03-25 22:32] Ali96kz commented on #4795
Try to work on it.  If someone start work on that issue please notify me

[2019-03-25 23:00] tobiasdiez commented on #4441
You are right the "All Entries group" should only be shown when there is an open library.

[2019-03-25 23:09] tobiasdiez commented on #4808
Refs #2115.

[2019-03-26 01:32] gwynhwyfer commented on #4563
Hello @Siedlerchr, I've been following this thread to get JabRef working on my MacBook Pro running Mojave (10.14.3). Previously I tried using JabRef 4.3.1, but it was freezing right after clicking ok on the import screen. Happy to report that the current master snapshot is now working to import .bib files!

[2019-03-26 02:13] atulim commented on #4795
@tobiasdiez Yeah I will work on this issue. It's just that there is some problem that I am facing in setting up the correct development environment which I will fix in the next 2-3 days.

[2019-03-26 02:15] atulim commented on #4795
@Ali96kz Yes. I think I would have no problem with you solving this bug. It will be great if someone improves this bug, be it anyone. Please reference the issue in the pull request when you solve the bug.

Thank you.

[2019-03-26 07:09] #4563 closed

[2019-03-26 07:10] Siedlerchr commented on #4563
Yeah! Great that it works now fine. If you encounter any other issues, please open a new issue

[2019-03-26 09:08] c-martinez commented on #2879
You are right -- thanks for your response, I'll see if I can do something on the other end.

[2019-03-26 15:46] #4789 closed

[2019-03-26 16:34] harinda05 commented on #4808
Hi, I have started working on this issue. Will update the progress shortly

[2019-03-26 17:15] harinda05 commented on #4808
I have fixed the first issue regarding the "Entry Preview" is not working correctly. I think above mentioned are two are two different issues. Does the PR has to be included with both the solutions? @tobiasdiez  any advice would be appreciated :)

[2019-03-26 18:12] bernhard-kleine commented on #4808
JabRef 5.0-dev--snapshot--2019-03-26--master--83c802269
Windows 7 6.1 amd64
Java 1.8.0_201

I tested the ctrl-E, doubleclick on an entry and entry preview in todays version. Doubleclicking worked. However, trying ctrl-E to toggle the entry editor did not work, even when the entry editor was opened. That means Doubleclick and ctrl-e are only optically doing the same. After I clicked View->Open entr

[2019-03-26 18:31] bernhard-kleine opened #4810 ""The library has been modified by another program" while no other program is active on the library"
JabRef version  on

JabRef 5.0-dev--snapshot--2019-03-26--master--83c802269
Windows 7 6.1 amd64
Java 1.8.0_201
- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Whenever I add a group, add entries to that group and likewise, the message pops up.
![grafik](https://user-images.githubusercontent.com/9216487/55023556-543b3f80-4ffd-11e9-9

[2019-03-26 18:39] bernhard-kleine opened #4811 "A simple "save" add six lines to the event log"
JabRef 5.0-dev--snapshot--2019-03-26--master--83c802269
Windows 7 6.1 amd64
Java 1.8.0_201

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

After I had cleared the event log, I did a save on the library
To my astonishment the library was opened 6 times:
![grafik](https://user-images.githubusercontent.com/9216487/55024251-c6f8ea80-4

[2019-03-26 19:02] bernhard-kleine opened #4812 "The colums of main table upon changing the group shrink to a minimal value."
JabRef 5.0-dev--snapshot--2019-03-26--master--83c802269
Windows 7 6.1 amd64
Java 1.8.0_201

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The columns of the main table shrink when a different group is selected.
Before changing the group
![grafik](https://user-images.githubusercontent.com/9216487/55025778-e9403780-5001-11e9-8daa-8

[2019-03-26 19:07] bernhard-kleine commented on #4812
Columns shrink when options have been modified, too.

[2019-03-26 19:24] matthiasgeiger commented on #4810
Same version JabRef 5.0-dev--snapshot--2019-03-26--master--83c802269 on Windows 10 10.0 amd64  with Java 1.8.0_201:

Working fine for me...

[2019-03-26 19:28] matthiasgeiger commented on #4812
... and also here: I'm using the same version than you, and it is working fine for me...

Can you please export your preferences and upload them here in order to allow us whether this might be related to some preference settings.

Thanks!

[2019-03-26 19:35] bernhard-kleine commented on #4812
[Jabref5.0beta_20190326.xml.zip](https://github.com/JabRef/jabref/files/3009994/Jabref5.0beta_20190326.xml.zip)

[2019-03-26 20:53] #4809 closed

[2019-03-26 21:24] tobiasdiez commented on #4808
@harinda05 No, it is fine if your PR just fixes this bug here. I just guessed that fixing #2115 would also solve this bug (but of course #2115 is more complicated and requires more work).

[2019-03-26 21:46] noMICROSOFTbuhtz commented on #4664
I can reproduce this here. Thanks for the hint.

[2019-03-27 09:53] bernhard-kleine commented on #4810
I will enquire further. It did appear not at once but a short time later the exact time I missed.

[2019-03-27 09:53] #4767 closed

[2019-03-27 10:09] Siedlerchr commented on #4810
Do you use Autosave and is your file in a cloud folder, e.g. synced with dropbox?

[2019-03-27 10:10] bernhard-kleine commented on #4810
I cleared the log befor proceding. Then I added to "Physiological Reaction" the subgroup "Test".
The log shows:

[code]

[2019-03-27 10:14] bernhard-kleine commented on #4810
@Siedlerchr Where would I find autosave?
No cloud, all at the desktop.

[2019-03-27 10:33] bernhard-kleine commented on #4810
The Pop-Up is also there then autosave is unchecked.

[2019-03-27 11:20] spicydonkey opened #4814 "Cannot open preferences"
I am unable to access "Preferences" under "Options" menu. I noticed it after trying out a developer version, which had its own problems for me.

The issue is from the stable release:

JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_172

Steps to reproduce:

Cannot guarantee this step will reproduce error since I cannot seem to get "Preferences" to open anymore, even after running "uninstall.exe" fou

[2019-03-27 11:44] matthiasgeiger commented on #4810
Maybe threading/Timing issue in real big databases where saving is Not yet finished when another save run is started?

[2019-03-27 13:14] bernhard-kleine commented on #4810
The actual library has 7 Mb, 2800 entries, which I do not regard as very large. But maybe right, a timing problem. BTW the actual library and the c: drive where the temp files are saved to are on fast SSD drives.

[2019-03-27 14:35] tobiasdiez commented on #4814
Duplicate of #4579

[2019-03-27 14:35] #4814 closed

[2019-03-27 14:39] tobiasdiez commented on #3838
Thanks to @johannes-manner this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-27 14:39] #3838 closed

[2019-03-27 17:58] #1019 closed

[2019-03-27 17:59] tobiasdiez commented on #1019
Thanks to @WtfJoke and @CaptainDaVinci this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-27 18:11] tobiasdiez commented on #4679
Thanks to @samiyac this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-03-27 18:11] #4679 closed

[2019-03-27 22:23] CodeSJS opened #4816 "possible problem with RIS publication year"
JabRef version  on

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. ...import ris file (control i)

Please see the attached ris.gz file.  Using either JabRef 4.3.1 or dev-5.0, JabRef imports publication year as 2019, when it is really 2005.

At first I thought it was a problem with the journal (J

[2019-03-28 08:04] #4764 closed

[2019-03-28 08:05] Siedlerchr commented on #4764
Thanks to @CaptainDaVinci  this should be fixed in the latest master.  https://builds.jabref.org/master

[2019-03-28 08:51] r0light commented on #2581
Is there currently a need for new fetchers? Since all the issues are closed, it seems like this issue could also be closed

[2019-03-28 09:52] Siedlerchr commented on #2581
@r0light  This issue is still valid, it was created to have a central list of fetcher wishes and not an issue for each fetcher to keep the better overview

[2019-03-28 10:08] r0light opened #4817 "Exception for cleanup rename pdf (Automatic Bug Report - 20190328110358)"
JabRef 5.0-dev
Windows 10 10.0 amd64
Java 1.8.0_202

Steps to reproduce:

1. Add a PDF-File entry to Bib-Entry
2. Cleanup with Rename PDF to given FileName Format

The PDF is renamed correctly, but the below Exception is thrown.

Paste your log details here.
<details>
<summary>Detail information:</summary>

[code]

</details>

[2019-03-28 11:09] tobiasdiez commented on #4817
The exception for this particular cleanup was fixed by @r0light. However, other cleanup actions (and in general every operation that changes the entry list on another thread) throws a similar exception. I'll have a look and try to find a general solution to this kind of problem (maybe by creating a wrapper around the list of entries).

[2019-03-28 11:21] Siedlerchr opened #4819 "Convert AutoLinkFilesAction to JavafX"
Today I discoverd that the AutoSetLinks is  still using Swing Stuff
Should be converted to javafx and probably also converted to an instance class.

Refs #3861

[2019-03-28 11:23] Siedlerchr commented on #4816
@CodeSJS  Thanks for your report. Unfortuantely here is no attached file visible. Could you please add this?

[2019-03-28 12:23] bernhard-kleine opened #4820 "The file import dialog does not react to "enter"."
JabRef 5.0-dev--snapshot--2019-03-28--master--a9115a256
Windows 7 6.1 amd64
Java 1.8.0_201
- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Once you have selected a file for attachment to an entry Jabref opens a dialogue where you can confirm your selection of refuse it. You can select either the "cancel" or the "apply", however con

[2019-03-28 12:26] bernhard-kleine commented on #4679
Seems ok. Thanks a lot.

[2019-03-28 13:04] CodeSJS commented on #4816
My apologies.  I thought I dragged gzipped files into the right window.  I'm new to github.

I've attached gzipped ris and bib files to this email.  In the ris file, the PY and Y1 fields are both 2005, yet JabRef imports as 2019, which is the Y2 field.

Thanks,

  Sherwin

On 3/28/19 7:24 AM, Christoph wrote:

@CodeSJS<https://github.com/CodeSJS> Thanks for your report. Unfortuantely here is no at

[2019-03-28 13:08] CodeSJS commented on #4816
Hmm, I'm still not sure files are attached.  I'm trying again.
   Sherwin

[aip_jcp123.bib.gz](https://github.com/JabRef/jabref/files/3018020/aip_jcp123.bib.gz)
[aip_jcp123.ris.gz](https://github.com/JabRef/jabref/files/3018023/aip_jcp123.ris.gz)

[2019-03-28 14:14] bernhard-kleine commented on #4805
why not make to saving lines optional, otherwise the log can become clattered.

[2019-03-28 14:25] johannes-manner commented on #4820
If you want to use the keyboard in combination with tab, you can use <kbd>space</kbd> instead of <kbd>enter</kbd> to fire buttons when the button is selected.

Is this an appropriate way to go for you?

[2019-03-28 14:31] johannes-manner commented on #4699
Can you provide a detailed description which steps are needed to reproduce this bug?

[2019-03-28 14:36] bernhard-kleine commented on #4820
This is not obvious, but it works. I would prefer to use "enter".

[2019-03-28 15:34] Siedlerchr commented on #4820
I think the default behaviour is <kbd>alt </kbd> or <kbd>ctrl </kbd>  <kbd>enter </kbd>
Default <kbd> enter </kbd> "commits" the entered text.

[2019-03-28 15:51] Siedlerchr commented on #4816
@CodeSJS  Thanks! You can only add files to an issue here at github, replying via mail with attachments does not work.

I could confirm the behaviour.
When I add the entry via DOI doi:10.1063/1.1954747 I get the correct date 2005.

[2019-03-28 16:00] Siedlerchr commented on #4820
I just saw that behaviour is defined in the keybinding, as follows.
This is the default behaviour for all dialogs.  Normally it should be possible to change that in the keybinding dialog, but

[code]

[2019-03-28 16:04] matthiasgeiger commented on #4805
... at least when "autosaving" is enabled. Apart from that I would like to see the information that saving was successful.

[2019-03-28 16:26] angoodkind commented on #4699
I'm not sure what other details I can provide. I copy the bibtex from google scholar in Chrome. I then paste it into the main window in jabref, and it creates two duplicate entries.

[2019-03-28 22:05] tobiasdiez commented on #4820
I guess the dialog just doesn't define a default action...

[2019-03-29 01:06] jgonthier commented on #4563
Just tested the latest dev snapshot and it works for me as well. Thank you!

[2019-03-29 11:10] AEgit commented on #4478
I can confirm this bug has been fixed in:

JabRef 5.0-dev--snapshot--2019-03-28--master--a73167933
Windows 10 10.0 amd64
Java 1.8.0_201

[2019-03-29 11:32] AEgit commented on #4664
I have to take it back, I can reproduce the behaviour and I think this is a bug:

JabRef 5.0-dev--snapshot--2019-03-28--master--a73167933
Windows 10 10.0 amd64
Java 1.8.0_201

As @Siedlerchr mentioned, the issue only appears when "Refine supergroup" is selected. I generally do not use this feature but use "Independent group", which does not display the problem.

However, as far as I understand the

[2019-03-29 11:54] AEgit commented on #4679
I can confirm that his has been fixed in:

JabRef 5.0-dev--snapshot--2019-03-28--master--a73167933
Windows 10 10.0 amd64
Java 1.8.0_201

Note, however, that for large databases (in my case >16,000 entries) when performing such an action, i. e. either adding an item to a group or removing it, the CPU load shoots up to >80% on a Intel Core i7 Quadcore (incl. Hyperthreading). If you add several entri

[2019-03-29 12:04] WtfJoke commented on #1019
I took the latest master (JabRef-5.0-dev--snapshot--2019-03-28--master--a73167933.jar) and search looks fine for me.

I have however one note:
If I search a term, which is not in the currently selected settings view (eg. I have opened Advanced View and search for something which is in General View), then the view doesnt switch.

I think in terms of user experience, it would be great to switch to a

[2019-03-29 13:25] tobiasdiez commented on #1019
@WtfJoke yes please open a new issue for it. It's a useful suggestion.

[2019-03-29 14:03] CaptainDaVinci commented on #1019
I have implemented the changes suggested by @WtfJoke , is it okay if I push the changes on the same branch where the search was implemented?

[2019-03-29 14:08] WtfJoke opened #4824 "Switch to Search result hits in Preferences-Search"
**Is your suggestion for improvement related to a problem? Please describe.**
When I use the search in the preference (#1019) it would be nice to focus a view with search hits. Currently I stay with the last opened view and always need to click one of the views.

**Describe the solution you'd like**
If I search any (or the first) view with hits should get focused.
Optionally the focus could depend

[2019-03-29 14:08] WtfJoke commented on #1019
Nice :) Probably you should create a separate branch for that (since it got already merged)

[2019-03-29 14:18] AEgit commented on #4699
Can you reproducibly generate this behaviour by copying certain entries and a certain number of (ordered?) entries from Google Scholar?
If so, can you please:

1. Provide links to the entries that cause the issue.
2. Provide the number of entries that is necessary to reproduce the issue.
3. Detail in which order you copied the entries from Google Scholar to JabRef.

[2019-03-29 14:23] Siedlerchr commented on #4816
Should be fixed now in the latest master, the first valid year found is now taken and no longer overwritten.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-03-29 14:47] LinusDietz commented on #2115
Devcall has decided to move the entry preview to the required fields tab

[2019-03-29 14:54] CaptainDaVinci commented on #1019
There is also an issue of buttons not being highlighted.
Also, under _external programs_ tab the buttons _Settings for *_  are inside a grid pane and aren't considered when searching, which I think should also be fixed.

[2019-03-29 14:55] Siedlerchr commented on #4689
DevCall decision: Create Tab Web-Resources for URL, DOI etc... which allow interaction (e.g get information, open url)
Also: Required fields has a field URL which syncs its content to the web resources tab.

[2019-03-29 15:01] #4687 closed

[2019-03-29 15:07] LinusDietz commented on #4688
Check out BibLaTeX Manual: ftp://ftp.tu-chemnitz.de/pub/tex/macros/latex/contrib/biblatex/doc/biblatex.pdf

[2019-03-29 15:07] Siedlerchr commented on #4688
DevCall Decision: Good idea, but be aware between the differences of biblatex and bibtex, e.g. different format numbers.
Also add a tooltip what the field represents (e.g.