[2021-01-20 09:39] horror-vacui commented on #6744
I've got Files, instead of Linked Files on the left hand manu, but I think they are the same. The "main file directory" field is set and it is the directory, where my pdf located.

[2021-01-20 15:12] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
I don't understand "Option A". Do I interpret you correctly as in that all "special field markers" should be (re)implemented as a "field marker" followed by modifiers?

---

Imho opinion, the current behavior isn't great, but I can't think of a better one. JabRef's purpose, in my opinion, is to hide the ugly truth of BibTeX/biblatex/latex from their users. Auto-generated filenames should be using

[2021-01-20 15:19] sambo57u commented on #7367
Hmmm.....why do you say bellsoft java? jabref has its own java...perhaps some path is set that interferes with it. I only have openjdk java's from Fedora repository. You get a bunch of logger messages but jabref starts.

[2021-01-20 16:57] ilippert commented on #7367
Since https://github.com/JabRef/jabref/issues/6559 I have been only working with bellsoft.

[2021-01-20 17:59] Siedlerchr commented on #7367
The java version doesn't matter. JabRef ships with a custom runtime. Can you try to add the `-d all` commandline parameter when starting? Maybye your prefs are corrupt

[2021-01-20 18:28] ilippert commented on #7367
this gets me

<details>
  <summary>Log File</summary>

[code]
</details>

[2021-01-20 20:07] wujastyk commented on #7367
same problem here.

[2021-01-20 21:08] Siedlerchr commented on #7367
Can you test the version from here https://builds.jabref.org/pull/7371/merge/  ?

[2021-01-20 22:53] koppor commented on #7367
It could be too late here, but I hink, the solution is simple. I do not find the setting `AzureInstrumentationKey` (read by gradle), `APPLICATION_INSIGHTS_IKEY` (read by the code), or `APPINSIGHTS_INSTRUMENTATIONKEY` (read by the code) in our build secrets (https://github.com/JabRef/jabref/settings/secrets/actions accessible for maintainers only).

The workround is to set the environment variable

[2021-01-20 23:47] sambo57u commented on #7367
This is very puzzling. Why is mine working. I am on Fedora 33 x86_64 too and have done nothing special.

[2021-01-21 07:39] ilippert commented on #7367
The link directed me to the master.

it still gives me the result

<details>
  <summary>Log File</summary>

[code]
</details>
#  jabref
%d [%thread] %-5level %logger - %msg%n java.lang.IllegalArgumentException: key
	at com.microsoft.applicationinsights.TelemetryConfiguration.setInstrumentationKey(Unknown Source) ~[org.jabref.merged.module:?]
	at org.jabref.gui.Globals.startTelemetryClient(Unknown

[2021-01-21 08:02] ilippert commented on #7351
A brief consideration: if users seriously use the old timestamp information, then https://github.com/JabRef/jabref/pull/7334 renders their timestamp information useless. That's a shame. So, this issue should be fixed definitively before the next release.

[2021-01-21 11:08] Siedlerchr commented on #7367
Can you please try again with the latest master? Newest build contains a workaround

[2021-01-21 11:21] ilippert commented on #7367
JabRef 5.3--2021-01-21--1be95fc
Linux 5.10.7-200.fc33.x86_64 amd64
Java 15.0.1
JavaFX 15.0.1+1

works!
thanks!

[2021-01-22 01:19] wujastyk commented on #7367
JabRef 5.3--2021-01-21--94f4c1e
Linux 5.4.0-62-generic amd64
Java 15.0.1
JavaFX 15.0.1+1

Also good.  Thank you!

[2021-01-22 06:03] koppor commented on #7367
Thank you all for the patience 🎉

[2021-01-22 06:03] #7367 closed

[2021-01-22 12:17] julianmenzler opened #7375 "Annoying window resizing when using "Prefer tabs: Always" on macOS"
**Prerequisite**
In the macOS system preferences, under General, set "Prefer tabs" to "always."

**Problem**
Dialogs, e.g., "New Entry," are no longer displayed as dialogs. They are opened as tabs in the main window. The latter one shrinks. Also, controls become partially hidden.

After closing a dialog, the main window does not resize and stays small. It has to be resized manually, which is annoy

[2021-01-22 13:01] DOFfactory commented on #7266
Maybe related to #3295

[2021-01-22 14:56] BugInMaths opened #7376 "App crashes with some interactions with search bar"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2 on

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Copy text (I think that it has to be enriched text, i.e., with some format)
2. Paste it in the search bar
3. That's it, it crashes

Steps to AVOID the behavior:
1.

[2021-01-22 19:48] Siedlerchr commented on #7375
Hm, on my Macbook with BigSur 11.1 I cannot reproduce this with the latest development version. Changed the setting to always. Or is a system restart required?

[2021-01-22 20:08] #6259 closed

[2021-01-22 20:15] Siedlerchr opened #7378 "CSL styles do not take CrossRef fields into account"
Bug report from the [Forum](https://discourse.jabref.org/t/cross-references-in-preview/2517)

[code]

[code]

FIX:
Should  be getResolvedFieldOrAlias
https://github.com/JabRef/jabref/blob/94f4c1ebba44e0bfceb6867938b116f0cadbbcce/src/main/java/org/jabref/logic/citationstyle/CSLAdapter.java#L98-L99

[2021-01-23 11:11] julianmenzler commented on #7375
Maybe. I use macOS 11.1 and

[code]

[2021-01-23 13:06] Fu188 commented on #6994
Hi, I am insteresting in fixing this bug. Can I assign this issue?

[2021-01-23 15:44] Siedlerchr commented on #6994
@Fu188  Sure, go ahead! Make sure to read the [Contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)

[2021-01-23 16:31] Siedlerchr commented on #7266
Can you test again with the latest development version? We recently ugpraded javafx. Maybe it's fixed in that.
Can you also please share your customized preview layout to make it easier for us to reproduce the issue?

[2021-01-23 18:44] Siedlerchr commented on #7378
Turns out it's not so easy to solve beause we need a library/bibdatasecontext

[2021-01-24 16:24] Siedlerchr commented on #7375
Can you please test again with the latest dev version? I now did  a restart and JabRef still works fine.

[2021-01-24 17:56] #7205 closed

[2021-01-24 17:56] #7206 closed

[2021-01-24 17:57] Siedlerchr commented on #7205
We completely refactored the dialog now. You can test it in the latest development version (currently building)

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-01-24 19:23] julianmenzler commented on #7375
[code]

Works! Thank you! 🙂

[2021-01-24 19:26] #7375 closed

[2021-01-24 19:27] Siedlerchr commented on #7375
We recently changed something related to how dialogs are created and displayed and also upgraded javafx, so it was probably one of the two changes that fixed this issue.

[2021-01-24 19:42] koppor commented on #4342
That's what I meant.

We should put your text in the documentation 👍. I could only write it shorter (but deleted it after reading your text).

Random thoughts on that: Maybe, it will difficult to maintain if it behaves differently than when used at BibTeX keys. However, I think, it is good that BibTeX keys are not automatically Unicode. Because of bibtex. Maybe, the user has to do use `:unicode_to

[2021-01-24 19:53] #4342 closed

[2021-01-24 20:04] Siedlerchr commented on #4342
Count me in for sharelatex,/overleaf I can help as well. I wrote most of the code back int the days.

[2021-01-24 22:59] wwtan opened #7381 "Endless exception dialogues with illegal char in file path"
JabRef version 5.2 on Windows 10 (19042)

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Start with the file `test.bib`
[code]
2. Open JabRef and Ctrl+O to open this file.
3. Java error is thrown.

<details>
  <summary>Main problem here is, you are stuck in endless Java exception

[2021-01-25 00:21] wwtan opened #7382 "Dark Theme visibility of File path"
JabRef version 5.3 on Windows 10
- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. open the subwindow(?) by double-clicking any item with a working file attachment (indicated with `file = {...}` in bib).
2. Go to the `General` tab and look at the `File` field.
    <img width="504" al

[2021-01-25 00:24] wwtan commented on #7381
If the filename contains something like `{\"{O}}` instead of `Ö`, the same error is thrown. I migrated from Mendeley to JabRef and my bib file was generated by Mendeley originally.

[2021-01-25 00:56] koobs commented on #7205
@Siedlerchr Thank you so much. Will test latest build and report back on all related (and closed) issues

[2021-01-25 01:55] koobs opened #7383 "Testing and review items for Refactor unlinked files (PR #7209)"
Testing and review items for Refactor unlinked files in PR #7209

[code]

- [x] **Regression**: Searching for ``File extension: PDF file *.pdf`` appears not to match files in sub-directories during `Scan directory`. ANY_FILE appears to work recursively

PDF Search

![2021-01-25 12_12_40-Search for unlinked local files](https://user-images.githubusercontent.com/1011612/105650415-a5dbdc00-5eab-11eb-

[2021-01-25 08:56] davidbalslevclausen commented on #7381
I got the same issue occurring for multiple of file-path's. I would prefer that I don't get a warning box when opening the file but rather when I try to follow the link. I have been using JabRef for +10 years, with >1300 entries, and it seems overwhelming to have to update all the broken path's manually.

[2021-01-25 13:56] tobiasdiez commented on #7381
Can you please try the latest development version again. One hour after you reported this issue, the file handling was improved. https://github.com/JabRef/jabref/pull/7347

[2021-01-25 16:18] ilippert commented on #7277
Thanks for the screenshot. I can now identify this "feature".

Here is a suggestion for improvement
In the message `This query uses unsupported syntax`, complement `syntax` with the specific syntax that needs to be changed. The current message leaves the user wildly guessing.

[2021-01-25 19:35] wujastyk commented on #6818
JabRef 5.3--2021-01-24--ae43548
Linux 5.4.0-62-generic amd64
Java 15.0.2
JavaFX 15.0.1+1

Columns have a life of their own!

https://user-images.githubusercontent.com/762246/105756372-bfac0c00-5f09-11eb-84dc-02ca1618f69a.mp4

[2021-01-25 20:21] Siedlerchr commented on #7383
Thanks for testing and reviewing!
Fixed some of your issues in a follow up PR #7385

I disagree with some of your wording suggestions regarding the name of the labels or the buttons.

Regarding the arrow: Although it jumps it has to be on the right side.   JabRef follows Material Design guidelines.

Otherwise: The Empty rows are created by javafx by default and the TableView resizing is a fcking s

[2021-01-25 21:56] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
Regarding the bracketed patterns/citationkeys etc., my take-away is that when I can find the time for it (not anytime soon), I'll open up a PR expanding on what I think is reasonable, why, and what I'd like to do about it. I don't think there's much more to say that does not lead to needless details that might suit better in the context of an actual PR.

I am not sure of what you are referring to.

[2021-01-25 22:08] koppor commented on #4342
Sure. Do you know the term `paperon`?

I find `AnAwesomePaperOnJabref` much more readble. For me, `AwesomePaperJabref` would also be OK. But not `AnAwesomePaperonJabref`. What is `Paperon` for a word?

[2021-01-26 05:16] koobs commented on #7383
@Siedlerchr Much ❤️ and you're welcome. Do note that some of the items here are just my initial 'easy' tweak suggestions that form part of a broader UI/UX standardizing/convention document I have going for 'later use'. I'm coming into jabref with my 'new user' hat on, and lots of UI/UX/opensource experience to guide me. All of it is motivated by wanting to get jabref to the point where its extreme

[2021-01-26 05:17] koobs commented on #7383
That's absolutely fine, but then we should be following it consistently everywhere else as well :) I haven't been able to find a design system / style guide / design guidelines document for JabRef, do you know if we have one?

[2021-01-26 08:17] AEgit commented on #4237
JabRef 5.3--2021-01-24--ae43548
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 15.0.1+1

This is still a (major) problem in the current developer version. Note, that it is impossible for me to switch to version 5 before the floating mode is added (unless I misunderstand how JabRef is meant to be used without a floating mode - see here: https://github.com/JabRef/jabref/issues/4237#issuecomment-583407857

[2021-01-26 08:39] salmma opened #7387 "epsilon symbol in unicode-to-latex not supported"
JabRef version 5.1 on MacOs 11.1

If 𝜖 in title of a reference, it is not converted to \epsilon when selecting "cleanup" and "unicode-to-latex"

Steps to reproduce the behavior:
1. Get reference from doi-fetcher
2. cleanup
3. unicode-to-latex

[2021-01-26 15:05] HoussemNasri commented on #7340
Another solution would be to have multiple Snackbar views, every time we add a new Snackbar, all of the old Snackbars would move up,  and the new one would [BounceInUp](https://github.com/Typhon0/AnimateFX/wiki/Bouncing-entrances#bounceinup), Unfortunately, this  can't happen with the current Snackbar implementation (`JFXSnackbar`) because it uses only one view like shown in this code snippet :
[c

[2021-01-26 15:12] DOFfactory commented on #7266
The issue is not fixed. Using the default IEEE preview format, and this is the result:

![image](https://user-images.githubusercontent.com/10846169/105863538-47207a80-5ff1-11eb-932a-4efcacccb0ac.png)

Tested on

[2021-01-26 16:08] k3KAW8Pnf7mkmdSMPHz27 commented on #7387
Does anything happen? (I get some issues when I try to copy-paste the 𝜖 into JabRef, so I can't test it myself)

[2021-01-26 16:20] wwtan commented on #7381
Awesome, the issue has been resolved!
Just to document the change, previously as soon as the ill-formed bib is opened, the endless loop begins. Now I presume it is a lazy loading, only throwing one error dialog when switching to `General` tab or double-click on the pdf icon.

Thanks for the work!

[2021-01-26 16:20] #7381 closed

[2021-01-26 16:44] ilippert commented on #7349
JabRef 5.3--2021-01-24--ae43548
Linux 5.10.9-201.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

Weirdly, I get the `unsupported syntax` note even when just typing out `Collecting Performance Data with`. Might be related to
![Screenshot from 2021-01-26 17-41-32](https://user-images.githubusercontent.com/20518297/105875483-2579c000-5ffe-11eb-8861-0f88a827f458.png)

https://github.com/JabRef/jabref/i

[2021-01-26 16:50] ueen commented on #7011
As of 24.01.2021 master built starts again (Win7) but still presents some strange behaviour, for example, saving a file on the dektop works, but in the documents folder still fails, its the same drive, so im not sure what to make of this (its exactly the same file, i deleted and repoyed multiple times). Stacktrace is here

[code]

[2021-01-26 16:51] ilippert opened #7389 "missing indicator for file change of liberary change"
JabRef 5.3--2021-01-24--ae43548
Linux 5.10.9-201.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

In the past a small star `*` next to a library's file name was an an indicator for a changed file. I cannot see this indicator anymore.

[2021-01-26 17:03] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
Fair enough. We can look at this now or when/if I get time to address the bracketed pattern. I don't really have a preference regarding it 😛

Perhaps one could change the documentation/default to use `[shorttitle]` for citation keys? Perhaps implement `[shorttitleN]` where `N` is the number of words, and the default is 3 to maintain compatibility with the current use?

I am not very well versed on

[2021-01-27 08:32] Siedlerchr commented on #6962
I would find this feature also very useful! Especially when one wants to copy only a part of the preview (e.g. without abstract)

[2021-01-27 11:16] ilippert commented on #5071
JabRef 5.3--2021-01-24--ae43548
Linux 5.10.9-201.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

When starting up, JabRef needs 60-70% of CPU. It then goes down to 0% If I don't do anything. When selecting an entry it goes up to 2-3%. Swithcing a library goes up to 7%. Well, this might be normal operations. Adding a few lines in some entries. And then CPU use goes up to 60, 70, >80%! Closing JabRef

[2021-01-27 14:11] tobiasdiez commented on #5071
Thanks for the report. Do you remember the last version were you didn't experienced these problem?

[2021-01-27 17:35] ilippert commented on #5071
Unfortunately, not exactly. If it helps, I would say last week. (If there was a repository with all the last 2 week's master builds, I would be happy to test these; but I don't think this exists.)

[2021-01-28 02:54] idadoudou opened #7392 "A bug about the attachment and the deletion"
JabRef 5.3--2021-01-02--0b4be8a
Linux 4.18.0-240.1.1.el8_3.x86_64 amd64
Java 15.0.1

Steps to reproduce:

1. Attach a file to a record.
2. Select another record and press the "delete" key to delete it.
3. The delete warning window shows information about the attached file not the record itself.

![Screenshot from 2021-01-28 10-52-10](https://user-images.githubusercontent.com/10957672/106083129-f0c

[2021-01-28 06:36] idadoudou opened #7393 "It is better if ignoring the group name when searching"
**Is your suggestion for improvement related to a problem? Please describe.**

1. I have many groups for records.
2. When I searching, if the keyword is equal to a group name, then all records in the group is selected.
3. If I want to select the group, I can directly click the group name.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additiona

[2021-01-28 07:55] mlep commented on #7393
Actually, this is a feature: if you search for "cloud", JabRef with display all entries containing "cloud" in any of their fields. If you are looking for the entries containing "cloud" as a keyword, you have to state it by typing in the search field "keywords=cloud".

[2021-01-28 11:13] wwtan commented on #7382
Hi,

The orange highlight you have indicating the file cannot be found. Could you please try again with a valid file?

[2021-01-28 19:54] Siedlerchr commented on #7389
<img width="220" alt="grafik" src="https://user-images.githubusercontent.com/320228/106191363-108e5f80-61ab-11eb-94f1-2a0c4b1080c9.png">

Still there

[2021-01-29 09:02] pglez82 opened #7394 "Unresponsive JabRef in ElementaryOS"
JabRef version: JabRef 5.3--2021-01-26--034cf8c
Linux 5.4.0-64-generic amd64
Java 15.0.2
JavaFX 15.0.1+1

It also happens in version 5.2. I tested 5.3 to confirm that the same happens in the last version.

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

JabRef opens and looks ok. Menu options work but once a window i

[2021-01-29 10:17] Mercynary opened #7395 "Possible Duplicates - Bibkey Comparison"
The 'Possible Duplicates' has a 'strange' behavior when comparing the bibkeys.
If there are two papers of the same author (e.g. Mayer) and the bibkeys are Mayer2019 and Mayer2019a or Mayer2019 and Mayer2019b it would make sense from my point of view to have the 'first' bibkey selected in the mere view.
This would be Mayer2019 in the first case or Mayer2019a in the second case.
However, the later i

[2021-01-29 11:52] ilippert commented on #7389
I apologise, the reason I did not see it was because I had autosave enabled.

[2021-01-29 11:52] #7389 closed

[2021-01-29 19:41] #952 closed

[2021-01-29 21:14] Siedlerchr commented on #7394
You probably have to adjust the commandline arguments and add that -Djdk.gtk.version=2  as argument. See this forum post for how to do this https://discourse.jabref.org/t/hidpi-scaling-ignored-in-jabref-5-2/2512/2

[2021-01-29 21:24] Siedlerchr commented on #7387
Hm, your Epsilon is somehow the wrong char or is it written in italics?
Greek Small Letter Epsilon `ε` is coverted to `$\epsilon$ `

[2021-01-29 21:27] Siedlerchr commented on #7341
Do you detach the monitors (e.g external monitor for a notebook) or do you have them permanently connected to your computer?  Refs https://github.com/JabRef/jabref/issues/5037

[2021-01-30 03:43] k3KAW8Pnf7mkmdSMPHz27 commented on #7387
I believe it is [Mathematical Italic Epsilon Symbol 𝜖](https://www.compart.com/en/unicode/U+1D716). I am getting graphical issues when I am copying it into JabRef and non-sense if I try to convert it to latex.

[2021-01-30 08:53] salmma commented on #7387
Yes, it is originally the $\epsilon$ symbol from LaTeX, see

https://www.overleaf.com/learn/latex/List_of_Greek_letters_and_math_symbols

[2021-01-30 10:50] Siedlerchr commented on #7387
@k3KAW8Pnf7mkmdSMPHz27  Yes, mac has a problem with displaying italic, I see the same issue.
@salmma  You said you imported from DOI, can you paste the DOI here?

[2021-01-30 11:22] #7382 closed

[2021-01-30 12:24] salmma commented on #7387
https://doi.org/10.1145/3412451.3428498

[2021-01-30 19:38] #6580 closed

[2021-01-31 11:01] DOFfactory commented on #7395
Not sure I completely understand this issue but I was wondering whether this is related to  https://github.com/JabRef/jabref/issues/7262#issuecomment-752943038

My suggestion would be to highlight _any_ duplicates (i.e. not the 1st occasion) in the Entry Table by making the font colour of the entry red by default.

[2021-01-31 11:41] DOFfactory opened #7399 "Auto-backup issue on (slow) shared folder"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

If the `.bib` file is shared on Dropbox/OneDrive/WebDAV with a somewhat slower connection (i.e. slower than an SSD writing speed), the auto-backup feature reverts back to the backup version, losing the n

[2021-01-31 19:56] tobiasdiez commented on #6994
hanks to @Fu188 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2021-02-01 07:45] #7085 closed

[2021-02-01 11:03] tmrd993 commented on #7387
For me, it converts `About a criterion of successfully executing a circuit in the NISQ era: what wd ≪ 1/𝜖 eff really means` to: `About a criterion of successfully executing a circuit in the NISQ era: what wd $\ll$ 1/휖� eff really means`

Is this the behaviour you are seeing? I think this is caused by the [UnicodeToLatexFormatter](https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabre

[2021-02-01 11:15] calixtus commented on #7262
Thanks for your suggestions. Indeed, they are helpful, although they probably need some more investigation as we have a powerful SLR feature already on the edge of shipping. Our newest core developer @DominikVoigt has spent a lot of time on this, and I suggest the he takes a closer look, what makes sense to include in relation to this new feature and if - how to include this.

[2021-02-01 11:19] ilippert commented on #7341
I have three monitors, running via gnome/Linux, Fedora 33. The cables between monitors and computer are always connected.
Gnome thinks of my two HDMI monitors as always connected. That is, if I turn one off, gnome still thinks both are on. The third monitor is powered by displayport, and if that is turned off, gnome relocates its windows to other windows.

**current behaviour:**
When JabRef is run

[2021-02-01 15:52] k3KAW8Pnf7mkmdSMPHz27 commented on #7387
Yup that is what I am getting ^^
I am not completely sure what the original intent of the cast to char is. Does replacing them with [StringBuilder's appendCodePoint](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/lang/StringBuilder.html#appendCodePoint(int)) also work? It would be good to get that fixed as well.

I don't know what is the correct conversion. Other conversions sug

[2021-02-01 16:22] ilakast commented on #4877
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

I fixed this issue, by un-checking the option Preferences>File>Autosave local libraries

[2021-02-01 16:39] Mercynary commented on #7262
It is not a duplicate issue but closely related to SLRs.

I have the issue that when merging entries oftentimes the 'higher' bibtexkey is preselected than the lower.

The way I conduct duplicate count and detection for SLRs is 1. assigning generated bibtexkeys, 2. merging or deleting duplicates & 3. diffing the original set of bibtexkeys with the cleaned set.

[2021-02-01 16:42] Mercynary commented on #7395
The issue occurs in the merge view, when I merge the entries. Then the bibtexkey selected is the one of 'higher order'.

[2021-02-01 18:38] riparise opened #7410 "GUI Freezes when searching long titles with some characters"
JabRef version 5.2 and 5.3 on Windows 10

GUI Freezes when pasting or typing a long title in the search bar. It freezes if title has some characters (e.g "," or ".")

Steps to reproduce the behavior:

1. Click on the search bar on lower left (for example ArXiv)
2. Paste the following title: "Introduction to Quantum Mechanics - David J. Griffiths, Darrell F. Schroeter"
3. GUI freezes

If the title

[2021-02-01 18:47] tmrd993 commented on #7387
Yep! That works. Good catch.

Alright, I guess it's ok to just add another entry for the epsilon (U+1D716) in that case?

I am also wondering what this is supposed to do? Why is a codepoint above 129 regarded as "not converted"?

https://github.com/JabRef/jabref/blob/c4220988b74d822c260c4b6ed74e9f470dcc1a3b/src/main/java/org/jabref/logic/formatter/bibtexfields/UnicodeToLatexFormatter.java#L55-L63

[2021-02-01 18:55] mlep commented on #6994
@tobiasdiez

@Fu188 Thank you for your effort. Unfortunately, the issue continues on my computer.
Let me know if you need additional testing.

JabRef 5.3--2021-02-01--8c3424c
Linux 4.19.0-14-amd64 amd64
Java 15.0.2
JavaFX 15.0.1+1

[2021-02-01 19:04] #7015 closed

[2021-02-01 19:56] ueen commented on #7011
Ok i found the cause, after deleting old **.sav/.bak/.xml files** the saving works just fine with the latest master (01.02.2021)
Kind of strange, maybe there should be a **fallback method** if older files aren't compatible anymore with newer versions of JabRef, specifically deleting or ignoring old sav/.bak/.xml files.

[2021-02-01 20:13] k3KAW8Pnf7mkmdSMPHz27 commented on #7387
Not completely sure. I'd guess it is to be compatible with latex documents that only support ASCII, but then it should be `> 128` (the [basic Latin block in Unicode](https://www.compart.com/en/unicode/block/U+0000)).

I am having issues reproducing the correct character, what do you convert it to in latex?

[2021-02-01 20:26] tmrd993 commented on #7387
`$\mathit{\epsilon}$`

[2021-02-01 20:36] #7356 closed

[2021-02-01 20:41] koppor opened #7411 "Add best query syntax validation"
See https://github.com/JabRef/jabref/pull/7391#issuecomment-768453050 for details.

[2021-02-01 20:42] #7349 closed

[2021-02-01 20:46] k3KAW8Pnf7mkmdSMPHz27 commented on #7387
I am not sure of what is the right answer here.
I'd argue that it is better that it does not remain a Unicode character, even if it doesn't strictly produce the right characters in all circumstances. or it might create problems. But it will also prevent the user from reverting to Unicode at a later point. Any idea @Siedlerchr?

AMS math convert it to `U+1D716` and not `U+1D700`?

[2021-02-01 20:51] tmrd993 commented on #7387
U+1D716 is the correct character.

[2021-02-01 20:53] ueen commented on #7011
Ok i found the cause, after deleting old **.sav/.bak/.xml files** the saving works just fine with the latest master (01.02.2021)
Kind of strange, maybe there should be a **fallback method** if older files aren't compatible anymore with newer versions of JabRef, specifically deleting or ignoring old sav/.bak/.xml files.

[2021-02-01 20:53] #7011 closed

[2021-02-01 20:57] koppor commented on #7387
Refs #3644 and https://github.com/JabRef/jabref/pull/6155

[2021-02-02 07:46] mlep commented on #7015
@Fu188 : Thank you for fixing this issue and making JabRef a better software. Now, it works as expected!

JabRef 5.3--2021-02-01--66a771c
Linux 4.19.0-14-amd64 amd64
Java 15.0.2
JavaFX 15.0.1+1

[2021-02-02 08:11] Mercynary opened #7414 "Keyboard shortcut for merging entries"
When merging many entries a keyboard shortcut for merging entries would instead of right-click actions.

I'm attaching a patch here.

BR

[0001-Added-keyboard-shortcut-for-merging-entries.txt](https://github.com/JabRef/jabref/files/5909607/0001-Added-keyboard-shortcut-for-merging-entries.txt)

[2021-02-02 11:09] Siedlerchr commented on #7414
Thanks for your contribution? Would you mind creating a Pull Request?

[2021-02-02 15:07] k3KAW8Pnf7mkmdSMPHz27 commented on #7387
I am sorry, but could you give me some more information regarding how you produce this? I am having issues reproducing it outside of an ACM template, where`$\epsilon$` is sufficient. Perhaps it is related to that I am using Overleaf, but in both Mac OS X and Windows 10 amsmath + `$\mathit{\epsilon}$`, outside of the previously mentioned template, I don't get the correct result.
What packages are y

[2021-02-02 16:32] Landi29 opened #7415 "Non valid number as font size results in an uncaught exception."
Latest JabRef version build on Ubuntu 20.04.1 LTS.

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

If you enter a non valid value such as a character to the font size spinner under the appearances tab in the preference dialog and press enter, 2 exception dialogs will appear.
Steps to reproduce the behavior:
1. Open

[2021-02-02 16:36] tmrd993 commented on #7387
I am also using Overleaf on Windows 10. I just include amsmath and use`$\mathit{\epsilon}$` but `$\epsilon$` produces the same result for some reason.

[2021-02-02 16:45] Landi29 opened #7416 "Font size of the preferences dialog does not update with the rest of the GUI."
JabRef version  on

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

If you change the preferred font size of JabRef under preferences/appearance, the font size of the GUI is updated on reload of JabRef, but the font size of the preferences dialog remains the same.

Steps to reproduce the behavior:
1. Open JabRef.
2.

[2021-02-02 16:57] k3KAW8Pnf7mkmdSMPHz27 commented on #7387
I'd say `$\epsilon$` seem to be the way to go in that case.

[2021-02-02 18:30] Siedlerchr commented on #7410
Thanks for your report! The issue has been fixed now in the latest master by #7391.

[2021-02-02 18:30] #7410 closed

[2021-02-02 18:45] Siedlerchr commented on #7415
Interesting, I thought that a Spinner was already restricted to numbers, but turns out it's not https://stackoverflow.com/a/36749659
spinner.getEditor() returns the textfield

[2021-02-02 20:41] tobiasdiez commented on #7414
Thanks, this is now included.

[2021-02-03 02:36] Fu188 commented on #7410
The current solution is just to remove the syntax check. But I think it is unreasonable to remove the syntax check. I have fixed this issue in another way and the syntax check is remain. Would you please to reopen this issue that I can pull request my solution?

[2021-02-03 16:24] Landi29 commented on #7415
I have found a fix where you bind an event handler directly to the `TextField` of the Spinner as returned by `fontSize.getEditor()`. The event handler is called when the <kbd>Enter</kbd> key is pressed. I know however that doing event handling directly on the controls can be a bit problematic, since it is not reusable code. A pull request will follow after I add some comments.

[2021-02-03 17:48] Siedlerchr commented on #7415
I think I have found a solution based on the TextFormatter the trick is to not return null:
[code]

When you enter a char it will return 0. Returning null results in an exception as well

[2021-02-03 17:52] Landi29 commented on #7415
I will try it and see if it works.

[2021-02-03 18:03] #7387 closed

[2021-02-03 19:32] #6704 closed

[2021-02-03 20:55] k3KAW8Pnf7mkmdSMPHz27 opened #7420 "Citation keys are always overwritten when importing through web search"
The citation key generator **never** preserves citation keys while importing from sites such as INSPIRE HEP. The citation keys are overwritten even if "Overwrite existing keys" is disabled in preferences and always without warning.

JabRef version
[code]

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

#### Relevant

[2021-02-03 22:00] bulmust commented on #7420
Same issue for me. I always manually rewrite bibtex-key which i fetch from inspire or ads

[2021-02-04 08:31] koobs commented on #6057
It would be great to have the method that produced the OP flamegraph in JabRef docs. I googled for a while on call graph / flamegraph analysis stuff for Java apps on Windows / MacOS and came up relatively empty handed.

@tobiasdiez can you detail (even in simple step form) how you produced them?

That would make it easier for people to analyze performance, make suggestions (or better, produce PR's

[2021-02-04 08:52] koobs commented on #7415
Could using ControlsFX (which jabref apparently uses?) Validation [1] library help here?

[1] https://controlsfx.github.io/javadoc/11.0.3/org.controlsfx.controls/org/controlsfx/validation/package-summary.html

[2021-02-04 10:03] ilippert commented on #6559
JabRef 5.3--2021-02-03--242a494
Linux 5.10.11-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

Well, it happens again, JabRef does not shut down reliably, a process continues to run, using between 30 to 90% CPU.

A new dimension of this issue (or should this be a new issue?): when I shut down, and try to start JabRef anew a few seconds later, then Linux system freezes.

[2021-02-04 10:10] Siedlerchr commented on #7415
@koobs  There is already a validation for that control, but that doesn't prevent the exception

[2021-02-04 10:11] Siedlerchr commented on #6559
Do you have a shared sql database opened?
I noticed that it takes some time after exiting for JabRef to stop the process

[2021-02-04 10:15] ilippert commented on #6559
No, I am not using sql databases.

[2021-02-04 10:24] Siedlerchr commented on #6057
We use YourKit Java Profiler https://www.yourkit.com/java/profiler/download/ (free trial avaiable)

[2021-02-04 13:07] hemker commented on #5867
Still persistent on Regolith Linux (Ubuntu 20.04 with i3wm)

[2021-02-04 16:59] k3KAW8Pnf7mkmdSMPHz27 commented on #7420
@bulmust, the workaround(s) work for now?

[2021-02-04 17:35] tmrd993 commented on #6962
Is this the proposed behaviour?

![selectioncopy](https://user-images.githubusercontent.com/47194464/106932123-a2501c80-6717-11eb-97de-e5fc90860f3f.gif)

[2021-02-04 18:12] Siedlerchr commented on #6962
Yes! that is the desired behavior!

[2021-02-05 07:07] bulmust commented on #7420
No, still problematic. Bibtex-key is not fetched from Inspire.
![1](https://user-images.githubusercontent.com/19466488/107000896-b8062600-6799-11eb-9c9e-617462e481ce.gif)

My configs and version are:
![2](https://user-images.githubusercontent.com/19466488/107000911-be949d80-6799-11eb-944c-6f897c25e524.gif)

[2021-02-05 08:42] SN-CH opened #7422 "Characters in the «Preferences» dialogue are still blurry in Jabref 5.2"
In spite of the fact, the ticket [6317 ](https://github.com/JabRef/jabref/issues/6317)was closed a few months ago, the issue persists. I just installed Jabref 5.2 in Windows 10 (I use 125% display scaling, otherwise every thing on my screen become way too small). It looks even worse with the dark theme (just my own impression), please have a look.
![Screen-shot_2021-02-05_11-16-20](https://user-im

[2021-02-05 08:57] pglez82 commented on #7394
Ok. That worked. I will update my response in stackexchange with this new workaround.

I think the issue can be closed now.

Thank you.

[2021-02-05 14:04] k3KAW8Pnf7mkmdSMPHz27 commented on #7420
I meant using the citation key pattern `[BIBTEXKEY]` or `[CITATIONKEY]` while importing. (discussed [here on discourse](https://discourse.jabref.org/t/can-i-use-inspire-citation-keys-when-importing-via-jabref/2530/5?u=k3kaw8pnf7mkmdsmphz2)
However, that might not be convenient for you unless you always want to keep the imported keys.

[2021-02-05 18:45] #6962 closed

[2021-02-05 18:46] Siedlerchr commented on #6962
@mpatas  Thanks to @tmrd993  this issue is now fixed in the latest master!

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-02-05 19:04] Siedlerchr commented on #7420
I debugged a bit and the problem seems to be that this import handler doesn't check the preferences if the key should be overwritten or not. And further down there isn't any check either.

So the solution would be to add a check for the setting from the CitationKeyPrefereces.

https://github.com/JabRef/jabref/blob/86d52cd6468335d9e460aaacc870aa5088c62431/src/main/java/org/jabref/gui/externalfiles/

[2021-02-05 19:14] Siedlerchr commented on #7393
Closing this, because it's intended behaviour.

[2021-02-05 19:14] #7393 closed

[2021-02-05 19:21] ilippert commented on #7072
Hi,

at
JabRef 5.3--2021-02-03--242a494
Linux 5.10.11-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1
I get

<details>
  <summary>Log File</summary>

[code]
</details>

and the pdf does not get attached.

[2021-02-06 10:09] ilippert commented on #7351
I am now on JabRef 5.3--2021-02-05--93ad499
Linux 5.10.12-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

And I note that my entries miss both timestamp fields and modificationdate fields.

[2021-02-06 10:11] ilippert commented on #7351
Something goes wrong if data is lost without even informing or asking the user

[2021-02-06 14:51] tobiasdiez opened #7423 "Improve search interface"
The search ui interface needs some attention. The current author-auto completion lives between broken and useless.
My proposal would be to add a proper flyout that can now be seen also in some other applications (e.g. OneNote or Outlook).
I particularly like the following:

![image](https://images.ctfassets.net/dkgr2j75jrom/4luapfPtOuKsGM91VAPd9B/55f9d8e33a0782df71f9bf602aeb49e0/fs_Omnisearch.svg)

[2021-02-06 16:05] bulmust commented on #7420
Thank you. It is solved.

Before Jabref 5.x versions, this option was default.  Solution is following:

![Peek 2021-02-06 19-02](https://user-images.githubusercontent.com/19466488/107123313-e7a65280-68ad-11eb-9b68-026df924045d.gif)

[2021-02-07 23:01] koppor commented on #7411
Some note from #7391:

![grafik](https://user-images.githubusercontent.com/1366654/107162009-be1a2380-69a0-11eb-8e6e-84a3f63d01a0.png)

[2021-02-07 23:28] wujastyk opened #7427 "Uncaught exception when pasting if date is formatted as a range like 1950/1955"
JabRef 5.3--2021-02-05--93ad499
Linux 5.4.0-65-generic amd64
Java 15.0.2
JavaFX 15.0.1+1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Copy an entry containing a date range with '/', like this one:
[code]
2. Try to paste into a new bibliography
3. Enjoy the following message:

!

[2021-02-08 11:06] ibe-314 opened #7437 "Enhance bibliographic information with data from zbmath.org"
It is possible to enhance bibliographic information with data from some public databases via the "Update with bibliographic information from the web" button in the editor. I would like to add zbmath to the list of databases (right now one can choose between Crossref, DOI, ISBN, MathSciNet and SAO/NASA ADS). I think it would be helpful for mathematical users to have the possibility to update their

[2021-02-08 15:25] Siedlerchr commented on #7437
Sounds like a good idea! Go ahead!

[2021-02-08 22:54] V-GAO opened #7439 "Shortcut ctrl+shift+A not working"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

The shortcut of adding a new article, ctrl+shift+A, seems not working on my computer. Would you please see to it? What should I do with the issue?

[2021-02-09 14:18] tmrd993 commented on #7439
Did you create a library before using the shortcut? I think it only works if you have a library tab open.

[2021-02-09 14:21] V-GAO commented on #7439
Yes I did. Not a total amateur. But a few minutes ago, it suddenly worked. Not sure what happened.

[2021-02-09 18:15] Kurapikov opened #7441 "Freeze for few seconds sometimes, on MacOS"
JabRef version 5.1 and git 69cc797cb5f3b20c5d698aa35b35d2ca855effe3 on Mac OS X 10.15.7

I have tested the latest development version from git and build it myself, and the problem persists

Steps to reproduce the behavior:
1. Open a bib, my bib is only 89 entries.
2. Switch between entries with left click.
3. Sometimes it will freeze for 5 seconds. When it backs normal, I can switch between entrie

[2021-02-09 18:19] Siedlerchr commented on #7439
Maybe a focus problem?

[2021-02-09 18:24] Kurapikov commented on #7441
Forgot to mention: JRE/JDK 15.0.2

[2021-02-12 08:26] LyzardKing commented on #6758
Just a note: the snap atm uses the build on https://builds.jabref.org/
Since those are only for amd64 they cannot run on arm.
I'm testing a new version of the snap that is actually built in a snapcraft container, so it should build and run on most platforms.

[2021-02-12 09:02] ilippert commented on #7072
See also https://gitlab.gnome.org/GNOME/nautilus/-/issues/1745

[2021-02-12 16:51] swekia opened #7442 "All groups and tags suddenly lost"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

Hi,

I just discovered that all the groups that I've created (many, many hours of manual work) disappeared. I haven't been using JabRef much after I updated to 5.2, so I cannot say for sure whether this issue must be related to updating.

About the groups/tags:
I had many groups, based on keywords, explicit selection and free searc

[2021-02-13 07:44] antonallote commented on #5446
I am getting this exception still in 2021..

[2021-02-13 09:49] AEgit commented on #5446
You need to report which JabRef version you are using.

[2021-02-13 19:25] #6629 closed

[2021-02-14 00:51] LucasF-42 commented on #7420
Hey, I've (possibly) been able to fix this, but I'm not sure if it's according to JabRefs intended behaviour for this feature (more details on that can be found in the Pull Request).

[2021-02-14 11:48] Kurapikov commented on #7441
Still no any respond?

This is not simply a performance problem. It makes JabRef almost unusable under MacOS.

If no one can reproduce this, I can do more digest if you developer can provide some hint.

Thanks.

[2021-02-14 13:36] EduRibeiro00 commented on #7340
@calixtus Since this is labelled as a good first issue, can I give it a try? If yes, and since I am new to this project, I would appreciate it if you could provide me with more information about this issue.

[2021-02-14 15:08] Landi29 commented on #7427
I am unable to replicate the bug when using both "new entry" and "new entry from plain text". Could you provide a more detailed description and perhaps screenshots?
On a side note, most BibTeX entries use the `year` and `month` tag which works better with most conference and journal templates, along with adding the entry to a database.

[2021-02-15 08:57] calixtus commented on #7340
Hi @EduRibeiro00 , yes, give it a shot. Quick
Idea would be just to add the message to a message queue, each with a closing timer and display all the messages in a distinct line, add new messages at the end, remove outtimed messages at the beginning.
Please don't forget to familiarize yourself with our developer docs and to setup your workspace according to our guide.
https://devdocs.jabref.org/

[2021-02-15 14:26] Siedlerchr commented on #7437
Thanks again for your contribution! I merged now

[2021-02-15 14:26] #7437 closed

[2021-02-15 16:47] ilippert commented on #6818
see https://github.com/JabRef/jabref/issues/6626#issuecomment-712705920 ;)

[2021-02-15 18:29] wujastyk commented on #7427
JabRef 5.3--2021-02-15--f26e25b
Linux 5.4.0-65-generic amd64
Java 15.0.2
JavaFX 15.0.1+1

I can no longer reproduce this, #7427, on my system.

I've been on Biblatex+biber for years and _date_ is the recommended field for calendar information; _year_ behaves slightly differently and is more limited.

Biblatex manual, p. 27:

the data (for plain BibTeX compatibility for example). It is however bett

[2021-02-15 19:26] #6737 closed

[2021-02-15 19:33] koppor commented on #7442
@swekia Do you have an old version of the file? Maybe a `.bak` file? What is at the end of the `.bib` file? It should look as follows: https://github.com/JabRef/jabref/blob/f26e25b7bedbbae81f3bec8b30dd482aba3d251c/src/test/resources/testbib/jabref-authors.bib#L3008

[2021-02-15 19:44] #7415 closed

[2021-02-15 19:44] koppor commented on #7423
The other proposal by @tobiasdiez (at https://github.com/JabRef/jabref/issues/3535#issuecomment-352068826) is written down there: https://github.com/koppor/jabref/issues/341

[2021-02-15 19:52] koppor commented on #7439
We removed ALL creation shortcuts in the last version. Maybe, we should re-add the existing ones and just remove the one and only conflicting one.

See https://github.com/JabRef/jabref/pull/6960#issuecomment-700630352 and https://github.com/JabRef/jabref/pull/6960#issuecomment-711428679

Maybe this issue is a duplicate of https://github.com/JabRef/jabref/issues/7346

[2021-02-15 19:58] calixtus commented on #6859
Devcall: Hi @crystalfp , we recently merged a pr (#7347) which should have fixed this issue. Could you please check if this issue is still valid?

[2021-02-15 20:29] calixtus commented on #7383
Devcall: Hi @koobs , we only have some rudimentary ui recommendations yet. We would love it, if someone would like to put some work in it. Would you be interested in working on this page (https://devdocs.jabref.org/advanced-reading/ui-recommendations) in close coordination with us?

[2021-02-15 20:34] calixtus commented on #6617
Devcall: Is there any any update on this issue?
https://docs.jabref.org/setup/citationkeypatterns#title-related-field-markers
Please note the difference between `[title]` and `[camel]`.

[2021-02-15 20:40] calixtus commented on #6815
Related to the whole messy complex of the Latex-To-Unicode converter (#6155).

[2021-02-15 20:43] calixtus commented on #7152
Devcall: any update on the status here?
A good first issue would be to provide a test case for this issue (#6207).

[2021-02-15 20:45] calixtus commented on #7201
Devcall: Any update on the status here?

[2021-02-15 20:48] calixtus commented on #7343
Devcall: We are wondering, if this is really a dark mode issue, since there were no traces of this in the StackTrace. Maybe a threading issue? We are looking into it.

[2021-02-15 20:50] calixtus commented on #7394
Cool! We are happy, if we can be helpful.
We hope you enjoy using JabRef!

[2021-02-15 20:50] #7394 closed

[2021-02-15 20:55] koppor commented on #7441
@Kurapikov Is this https://github.com/JabRef/jabref/issues/5071? Do you have time to investigate? We have a yourkit profiler license in case you would like to use it to support us! #opensource #freetime

[2021-02-15 20:55] Siedlerchr commented on #7441
I noticed that only happens on start. But then no longer. I am also using Mac. Have you tried to disable Autocompletion?

[2021-02-15 20:55] calixtus commented on #7427
@wujastyk Do you consider this issue closed now?

[2021-02-15 20:58] calixtus commented on #7422
Normally JabRef comes with its own jre bundled and uses internally at the moment java 14. So this should not be a problem. We think this might be a javafx problem. @Siedlerchr will take a look into this. Thanks.

[2021-02-15 21:00] Siedlerchr commented on #7422
MIght be related https://bugs.openjdk.java.net/browse/JDK-8211294

[2021-02-15 21:01] calixtus commented on #7399
Maybe related to #5967 ?

[2021-02-15 21:03] calixtus commented on #7395
Refs https://github.com/koppor/jabref/issues/331

[2021-02-15 21:04] calixtus commented on #7392
Seems a binding is not updated properly.

[2021-02-15 21:05] k3KAW8Pnf7mkmdSMPHz27 commented on #6617
The last discussion I was part of on this topic can be found in https://github.com/JabRef/jabref/issues/4342#issuecomment-752178567.

My summary is that for now, this is the intended behavior of `[title]`, but it should be changed.
I think `[TITLE:latex_to_unicode]` might resolve this for @musm .

[2021-02-15 21:31] crystalfp commented on #6859
Dear @calixtus the issue seems solved, thanks! The only thing I don't understand is why file takes two lines but fill only the first one (see image below). The black border visible in the image is not visible on the live JabRef. Anyway, the main problem has been solved.

![image](https://user-images.githubusercontent.com/865866/107994557-2ab6a300-6fdd-11eb-8674-b87a1c746580.png)

[2021-02-15 21:31] #6859 closed

[2021-02-15 21:43] calixtus commented on #6859
Thanks for checking and closing this issue.
The reason for two lines is that you can link multiple files to a BibEntry if I remember right. Although this might not be very often the case, it should be possible.

[2021-02-15 22:01] swekia commented on #7442
Yes, I'm lucky that I could restore my old bib file from a backup.
Nonetheless, I think it shouldn't be necessary to do that; especially, as not everyone is backing up.

[2021-02-15 22:06] wujastyk commented on #7427
yes.

On Mon, 15 Feb 2021 at 13:56, Carl Christian Snethlage <
notifications@github.com> wrote:

[2021-02-15 22:07] #7427 closed

[2021-02-15 22:15] calixtus commented on #7427
Thanks!

[2021-02-15 22:26] wujastyk opened #7448 "Citation style previews not displaying"
JabRef 5.3--2021-02-15--f26e25b
Linux 5.4.0-65-generic amd64
Java 15.0.2
JavaFX 15.0.1+1

- [X ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. try to preview any item
2. get this error for all attempted styles except the default "Customized preview style":

![image](https://user-images

[2021-02-16 02:02] koobs commented on #7383
@calixtus Would be my pleasure

[2021-02-16 07:35] Kurapikov commented on #7441
@kopper @Siedlerchr

It's not #5071. JabRef 5.0 works fine on my Windows 10 box.

The issue I reported in OP is on MacOS. It happens with a small bib only have ~100 entries.

I saw the video attached in #5071 and found yourkit profiler is much cooler than the one in IntelliJ. I can handle the license so no worry. I don't have much time but I think I can spare some time to do this.

I'll try yourki

[2021-02-16 13:41] ilippert opened #7450 "entry selected, not selected?"
JabRef 5.3--2021-02-16--5546141
Linux 5.10.15-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I do not know how to reproduce this, but it happens repeatedly:

1. select an entry X and edit it.
2. search for another entry Y and press ctrl+k

I would expect that the bi

[2021-02-16 16:48] anna-adamczyk commented on #6819
I have the same issue. Are there any plans to resolve this in the future?

[2021-02-16 19:29] reox commented on #5591
this is still an issue in
[code]

[2021-02-16 19:57] State-Of-Joshing-Gentle-Peevishness commented on #7152
As a user I had some issues with the wording here as well. I have one directory for my .bib files and different directories for my .pdf files. I assumed that the option "search and store files relative to library file location" (preferences > linked files) would mean the the paths are relative to the libraries directory, i.e. "../pdfdirectory/" instead of "/home/username/Documents/pdfdirectory", e

[2021-02-16 21:55] calixtus commented on #7442
Thanks for your issue report. This sounds indeed like a serious problem.

Can you provide us with some more information, when this is happening, what action leads to loosing you groups? When did you notice?

Would it be possible for you to take a quick look into your bib file and tell us, if there is still a `groups = {...}` line included in your bibentries and at the end of the file if there is s

[2021-02-17 11:09] State-Of-Joshing-Gentle-Peevishness opened #7451 "Saving library doesn't create .bib file but a file without ending"
File > New library and then Save library > choose name > lower right corner choose BIBTEX_DB file (only option) > Save
or File > Save library as > choose name > lower right corner choose BIBTEX_DB file (only option) > Save
File is saved without any ending. Expected to be saved as .bib instead, as none(?) other file-endings are displayed when using File > Open library.

Workaround: add .bib manuall

[2021-02-17 11:42] Krzmbrzl opened #7452 "PDF Downloader downloads HTML source code instead if no access"
JabRef 5.2--2020-12-24--6a2a512
Linux 5.4.0-59-generic amd64
Java 15.0.1

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Import an entry via Browser extension for which one does not have acces rights for the PDF (e.g. https://onlinelibrary.wiley.com/doi/abs/10.1002/0470862106.ia61

[2021-02-17 23:17] wujastyk commented on #7448
JabRef 5.3--2021-02-16--5546141
Linux 5.4.0-65-generic amd64
Java 15.0.2
JavaFX 15.0.1+1

Now not a problem.

[2021-02-17 23:17] #7448 closed

[2021-02-18 08:15] swekia commented on #7442
Thank you for your reply. Actually, I cannot say if this is happening on a regular basis. I noticed it twice but for the first time this happened, I cannot say when exactly that was. For the second this it was just the day after I restored my file from backup.

Yes, currently, the groups are fine, this is an excerpt of the bibtex file:

[code]
(I put the `...` for shortening.)

I use old-fashioned

[2021-02-18 15:19] evoblue opened #7453 "DBLP translator does not work (the browser plugin)"
JabRef version 5.2--2020-12-24--6a2a512  on  Fedora Linux 5.10.15-100.fc32.x86_64 amd64,  Java 15.0.1
Browser version 85.0.1 (64-bit)

JabRef Firefox extensions version 2.4 Last Updated January 31, 2021

- [] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists
I did not test on the latest development version because the bug is

[2021-02-18 21:17] antalk2 opened #7454 "Openoffice / Merge citations is a trap, Unmerge is missing"
Clicking on "Merge citations"  under Openoffice/Libreoffice
can only be undone by removing the merged versions
and inserting its parts individually.

[2021-02-19 08:57] j0hannes opened #7456 "Telemetry makes JabRef crash on start"
JabRef version: latest master (2021-02-16)

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

JabRef won't run anymore. It quits with this error:
[code]

Steps to reproduce the behavior:
1. Run JabRef (in command line to see the error message)

[2021-02-19 12:28] teertinker commented on #7423
Hello, if there will be any change of the search function please keep the missing "global search" function in mind. From my point of view it is still a pain to enter the search term for every single tab/bib I want to search.

[2021-02-20 14:07] calixtus commented on #6743
#6725 has been merged, so we can consider this fixed.

[2021-02-20 14:07] #6743 closed

[2021-02-20 14:35] calixtus commented on #7456
A quick workaround is to reset all the preferences and then to deny telemetry when asked.
The command line option "-d all" should do the trick.
Depending on your OS this means e.g. "JabRef.exe -d all" or "java -jar JabRef.jar -d all".

[2021-02-20 14:51] j0hannes commented on #7456
I'm using the binary version, which apparently doesn't accept any command line arguments.
I had a quick look into the execution with _strace_ and the exception happens before any config file is touched.

[2021-02-20 17:55] BJaroszkowski commented on #3791
I was not able to confirm the issue when selecting a keyword for an entry - the list seems to be in alphabetical order whether the autocomplete is on or off. It is true however, that the keywords were stored in Content Selectors and displayed in Content Selector Manager in the order in which they were added rather than the alphabetical one. I fixed that by simply sorting the list whenever new entr

[2021-02-20 18:25] Siedlerchr commented on #3791
Thanks for taking a look and fixing this issue! Go ahead with a pull request, so we can have a look at your fix.

[2021-02-20 19:39] wwtan opened #7457 "convert LaTeX symbols in entries before further actions (non UTF-8)"
JabRef version 5.3--2021-02-16--5546141 on Windows 10.

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Create the following bib file:
[code]
2. For simplicity, let's focus on URL first. The correct URL should be https://github.com/wwtan/Test_a . The preview of first item is alrigh

[2021-02-21 06:08] koobs commented on #7441
Cannot reproduce, using mouse (trackpad) or updown arrows to switch between entries, with a > 400 entry library on:

[code]

@Kurapikov are you able to reproduce this on the latest master?

[2021-02-21 08:13] koobs opened #7459 "Infinite exception loop when MacOS (Accessibility) Keyboard Viewer is active"
[code]

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

### Summary

JabRef enters an infinite exception loop (java.lang.StringIndexOutOfBoundsException: begin -1, end -1, length $X) while MacOS's Accessibility Keyboard is active and JabRef is active (focused).

### Steps To Reproduce
1. Open JabRef, with or without

[2021-02-21 08:58] ilippert commented on #4877
still here in
JabRef 5.3--2021-02-16--5546141
Linux 5.10.16-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

[2021-02-21 10:56] tobiasdiez commented on #7457
We cannot convert file and url paths from latex to unicode automatically, since they might contain the backlash as a valid path segment separator, e.g. `C:\mathbb` is a valid path, and not a latex command.

So the question would be, how did you end up with having latex-encoded strings in the file and url field. Maybe we can improve something so that this doesn't occur in the first place.

[2021-02-21 12:05] wwtan commented on #7457
I was using Mendeley previously to auto-generate .bib file. So I doubt if there is anything we can do about it.

Just realised my mistake: I thought that perhaps in bib, only those enclosed with extra `{}` will be interpreted for LaTeX symbol (`{\"o}` will become `ö` but `\"o` wouldn't and would still be `\"o`). Obviously, I was wrong about it.

[2021-02-21 12:05] #7457 closed

[2021-02-21 12:57] tobiasdiez commented on #7457
Ok, then it indeed sounds like an export problem of Mendeley. You can try to export the mendely library in another format, and then import this (we have import options for RIS and Endnote as well).

[2021-02-21 16:00] Siedlerchr commented on #7459
Thanks for your report, it seems you encountered a bug in Java/javafx https://bugs.openjdk.java.net/browse/JDK-8235989?attachmentViewMode=list

[2021-02-22 06:00] koobs commented on #7459
Any overriding/workaround we can do until it's fixed?

[2021-02-22 12:07] #3791 closed

[2021-02-22 13:58] mlep opened #7464 "Drag-and-drop of a bib file generate a loop of exceptions"
[code]
_But already present in:_
[code]

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

If no database is displayed, dragging-and-dropping a database (i.e. a .bib file) on the main JabRef window causes an "infinite" (at least quite long) loop of exception windows to be displayed. Application has to be killed.

Steps

[2021-02-22 19:49] xolotl90 opened #7465 "Double-click onto PDF in file list should just open the file"
Right now, when a file associated to an entry under the 'General' tab is double-clicked, a prompt opens which asks for changing the file location, description or type.
As this operation is usually done not more than once, a more convenient behavior would be just to open the file.

[2021-02-22 20:30] ilippert opened #7466 "arraycopy: length -1 is negative"
JabRef 5.3--2021-02-16--5546141
Linux 5.10.16-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

Steps to reproduce the behavior:
1. select an entry's bibtex code
2. substitute the complete entry code by another entry code

I did something (not sure what) but then jabref had lots of errors ;)

<details>
  <summary>Log File</summary>

[code]
</details>

[2021-02-23 12:11] Landi29 commented on #7416
Can anyone post how to get the preferred fontsize in a view? I think that we can just get this value and set the preferred fontsize directly in the dialog xml. Any other suggestions?

[2021-02-23 19:13] munael opened #7467 "Document steps for importing libraries from popular management software"
**Is your suggestion for improvement related to a problem? Please describe.**
Migrating to/from JabRef from/to Zotero, Mendeley, Qiqqa can be very cumbersome with enough groups/folders/tags in whichever of the platforms.

**Describe the solution you'd like**
Implement any needed basic functionality for migrating common feature sets in an easy-to-write format.

Then document the steps needed to con

[2021-02-23 20:44] jacksonrya commented on #7305
I'll take a look at this soon

[2021-02-23 20:58] Kurapikov commented on #7441
Hi koobs,

I have tried on master 2 weeks ago. Recent days I don't have any time since I'm at deadline of my PhD thesis, and I think the code I tested with is new enough.

So may it be the problem with my bib? I attached my bib file here so would you like to test it?

I'll try my best to follow this issue.

[ref.zip](https://github.com/JabRef/jabref/files/6031807/ref.zip)

[2021-02-23 21:10] Siedlerchr commented on #7467
Hi,
that is indeed a good idea. JabRef can import various formats etc already, however, its unfortunately not yet documented.
You are right, zip files are not supported. Often the easiest solution is to export to bib/RIS and import that into JabRef.

<img width="699" alt="grafik" src="https://user-images.githubusercontent.com/320228/108907801-dd60b400-7622-11eb-99c7-d33ff78ac0ad.png">
<img width="

[2021-02-23 21:18] Siedlerchr commented on #7456
This is odd. We already fixed this. See #7367
Not sure what you mean with binary version, but maybe this thread helps you to locate the JabRef start script https://discourse.jabref.org/t/hidpi-scaling-ignored-in-jabref-5-2/2512

[2021-02-23 21:19] Siedlerchr commented on #7467
Regarding handling of files: https://docs.jabref.org/finding-sorting-and-cleaning-entries/filelinks

[2021-02-23 21:23] ilippert commented on #7351
JabRef 5.3--2021-02-22--3dc2039
Linux 5.10.16-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

timestamp fields and modificationdate fields data gets somehow deleted! no obvious pattern!

[2021-02-23 21:27] ilippert opened #7468 "timestamp fields and modificationdate fields data sometimes does not show"
JabRef 5.3--2021-02-22--3dc2039
Linux 5.10.16-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 15.0.1+1

timestamp fields and modificationdate fields data gets somehow deleted! no obvious pattern!

I am not sure this fits https://github.com/JabRef/jabref/issues/7351 and its link to https://github.com/JabRef/jabref/pull/7334

[2021-02-23 21:32] j0hannes commented on #7456
I can confirm that the version from 2021-02-22, while the one from 2021-02-16 didn't. Something related to that bug must have been fixed in those 6 days.

I'm using the binaries from the portable-linux build.

[2021-02-23 21:32] ilippert commented on #7468
I found the issue - user mistake. sorry

[2021-02-23 21:32] #7468 closed

[2021-02-23 21:43] Siedlerchr commented on #7464
The problem is here https://github.com/JabRef/jabref/blob/5a114125362bd74415ec59d57fac874896460ac1/src/main/java/org/jabref/gui/JabRefFrame.java#L578
In JabRefFrame initDragAndDrop we add a new nromal Tab which indicates loading

https://github.com/JabRef/jabref/blob/5a114125362bd74415ec59d57fac874896460ac1/src/main/java/org/jabref/gui/JabRefFrame.java#L205

@tobiasdiez  Is there a method in EasBi

[2021-02-23 21:46] Siedlerchr commented on #7466
From the error log it seems you were closing the library tab somehow during/after that

[2021-02-23 21:52] tobiasdiez commented on #7464
https://github.com/JabRef/jabref/blob/94f4c1ebba44e0bfceb6867938b116f0cadbbcce/src/main/java/org/jabref/gui/maintable/MainTableDataModel.java#L46-L49

[2021-02-23 21:56] #7058 closed

[2021-02-24 07:46] Siedlerchr commented on #6142
As the switch from fontawesomefx to Ikonli is now finished it should be relatively easy to implement an icon picker dialog.
Example from the Ikonli project can probably be adapted
 https://github.com/kordamp/ikonli/blob/master/apps/ikonli-browser/src/main/java/org/kordamp/ikonli/browser/IkonPickerDialog.java

[2021-02-24 09:30] tobiasdiez commented on #7465
Good idea, the dialog should then become available through a new right-click > Edit option.

[2021-02-24 09:30] #7456 closed

[2021-02-24 09:32] xolotl90 commented on #7465
@tobiasdiez In fact, that option already exists. Only the change of the double-click would be necessary.

[2021-02-25 06:02] divyanshmishra19 commented on #7465
Is this issue still open to submissions? I would like to take a crack at it

[2021-02-25 06:40] Siedlerchr commented on #7465
@divyanshmishra19  Sure, go ahead! Make sure to follow our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)

[2021-02-26 11:41] emirkmo commented on #5498
I just installed JabRef and as a new user this issue is a big one. As soon as I opened it for the first time, I got a bunch of illegible popups and given the general lack of familiarity I have with the UI, this was an unpleasant surprise. I would prefer to use the stable version from the snap store so manual installation is a hassle.

Even changing the font in the preferences is not a fix as menu

[2021-02-26 17:41] grundb commented on #7452
Me and a few friends, @kittytinythai, @keivanm, @binsu-kth and @Kayi1500, would like to resolve this issue for a course project in DD2480 Software Engineering Fundamentals at KTH Royal Institute of Technology. Do you have any suggestions or things we need to know before we get started?

[2021-02-26 17:53] Siedlerchr commented on #7452
Welcome to JabRef! As a starting point make sure to follow our [conribution](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)

Codewise the functionality of file downloading is handled here
https://github.com/JabRef/jabref/blob/60cc355b0d397011ff475a947f2ee43dd5e3f4c2/src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java#L416

[2021-02-26 20:39] BJaroszkowski commented on #7452
I have looked into this and I can confirm that there is an issue with how downloading files via URL is handled. Basically, `FileDownloadTask` does not throw an exception if the destination extension does not match the type of the file to be downloaded and not even when the URL is valid but does not exist. In the latter case `URLDownload` returns an empty input stream which is then copied to a dest

[2021-02-26 22:41] koppor commented on #6856
The other idea we had at JabCon: Implement simlarly as Android's contact application:

- list of pairs: Field label + Field contents
- plus button for adding a new field

[2021-02-27 06:47] #7464 closed

[2021-02-27 10:14] mlep commented on #7464
I confirm this is fixed. Great, thank you!

JabRef 5.3--2021-02-27--c7f2671
Linux 4.19.0-14-amd64 amd64
Java 15.0.2
JavaFX 15.0.1+1

[2021-02-27 14:10] Siedlerchr commented on #7459
I see you are still running Catalina. I cannot reproduce the error in OSX Big Sur (11.2.1)
I can use it normally.
<img width="1373" alt="grafik" src="https://user-images.githubusercontent.com/320228/109389695-b699ca80-790d-11eb-8772-c5eede88f19c.png">

[2021-02-27 14:12] Siedlerchr commented on #7453
Can reproduce this, will move it to the browser extension repo
[code]

[2021-02-27 14:28] Siedlerchr commented on #7451
I cannot reproduce this isuse with the latest master version under Mac. Maybe some linux thing?

[2021-02-27 14:37] Siedlerchr commented on #7149
With the switch to the new Ikonly library, the issue is now resolved.
You can now use any icon from these here (MaterialDesignA....Z.java)
You have to use the "keys" .e.g `EYE_CHECK`

The idea is now to add an icon picker dialog to ease the selection of icons  #6142

https://github.com/kordamp/ikonli/tree/master/icon-packs/ikonli-materialdesign2-pack/src/main/java/org/kordamp/ikonli/materialdesign

[2021-02-27 14:37] #7149 closed

[2021-02-27 16:02] mlep commented on #7451
Well, easy to reproduce on Linux.

JabRef 5.3--2021-02-27--c7f2671
Linux 4.19.0-14-amd64 amd64
Java 15.0.2
JavaFX 15.0.1+1

[2021-02-27 17:46] Siedlerchr commented on #7452
we actually detect file extension. I can work on that but I would rather have one of the devs weigh in first.

Thanks for looking into it, UrlDownload has a method for detecting the mime type of the file. Maybe you can use that in addition for checking with the empty File stream. Having empty files is not useful. It could be checked if a) is reachable and maybe give a warning if the mime type is H

[2021-02-27 18:01] Siedlerchr commented on #7451
Okay, this is weird. After a bit of googling I stumbled across this bug which says it's intended for GTK applications: (wtf?)
Some applications add the extension, other not (gedit)
https://bugs.openjdk.java.net/browse/JDK-8123775

Well, the  fix would be easy:
Check if the file returned from the file extension dialog contains the extension
Check if the file with extension already exists ->
 - Yes

[2021-02-27 18:28] HifeFish opened #7472 "Crash on long query with special character in online search"
JabRef version 5.2 on Ubuntu 16.04

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Unfortunately, I could not test the latest development version 5.3, as it will not start on my system.

Steps to reproduce the behavior:
1. Open online research sidebar
2. Paste "resolution of singularities of real-analytic" into the

[2021-02-27 19:43] Ali96kz commented on #7441
@Kurapikov I found a problem, currently thinking about a solution. You can get [these solution](https://stackoverflow.com/questions/33289695/inetaddress-getlocalhost-slow-to-run-30-seconds) as a workaround

[2021-02-28 07:12] hao203 commented on #119
CitationStyles is popular !

[2021-02-28 10:30] Ali96kz commented on #7337
I am a newbie to jabref, could you please provide an instruction on how to find that button

[2021-02-28 15:57] grundb commented on #7452
We have now produced a draft PR for this (#7474), and we would appreciate any feedback. It seems much of the logic for saving the file as an html file was already implemented, but the problem was that the `getExternalFileTypeByMimeType` method ignored the optional parameter part of the mime type string:   https://github.com/JabRef/jabref/blob/1f775d7c5585bf7d9036e4fe55ebd2fb99b1e22a/src/main/java/

[2021-02-28 16:57] Siedlerchr commented on #7472
This has been fixed in the latest development version.
Could you please describe the error when trying to start the JabRef master version? Can you run JabRef from your terminal application?

refs #7411

[2021-02-28 17:01] Siedlerchr commented on #7466
I tested various ways to eventually trigger this error, but cannot reproduce it.

[2021-02-28 17:07] Siedlerchr commented on #7337
Add a new entry with a DOI, you can then find the button next to the DOI field.
<img width="939" alt="grafik" src="https://user-images.githubusercontent.com/320228/109426715-52e7ce00-79ef-11eb-8050-b8b58b5684ea.png">

What needs to be done:
- Add a preference for specifying a custom DOI base url in the preferences
- Use that preferences value when opening the URL of the DOI
- Maybe also use that p

[2021-02-28 17:44] Kurapikov commented on #7441
Hi @Ali96kz

This workaround solved my problem magically!! Thank you very much!!!!

But, if it is a bug found 5 yrs ago, how you remembered that and linked it to my issue, and this bug exists for 5 yrs without a fix?

[2021-02-28 23:51] koobs commented on #7459
@Siedlerchr MacbookPro 9,2 (Mid-2012) doesn't support Big Sur (without hacks), so it'll be staying on Catalina (at least until Catalina is not supported)

[2021-02-28 23:51] koobs commented on #7459
@Siedlerchr Can we catch the exception and 'do nothing' or something else in the meantime?

[2021-02-28 23:59] koobs commented on #7441
Possibly useful: [Java: no timeout on DNS resolution](https://bbossola.wordpress.com/2015/10/23/java-no-timeout-on-dns-resolution/) for code that provides DNS resolution lookups with timeouts (set low)

Might be worth pulling in a well maintained network utilities library if Java (still) doesn't provide DNS timeouts in the standard libraries instead of couture code. There's got to be some goodies

[2021-03-01 06:58] ytzemih commented on #4096
From personal experience, the other posts here, and from other applications with similar functionality, I believe global search as described above is generally a relevant feature. E.g., I'd need to use it most of the time when I search in JR. JR 2 and 3 had this feature, as far as I remember, but it seems from the discussion that it's difficult to implement in JR 5. What is the technical reason fo

[2021-03-01 17:29] Ali96kz commented on #7337
Started working on it

[2021-03-01 19:16] calixtus commented on #6617
Devcall: since there was no reaction by the issue author, we consider this issue solved. Thanks especially to @k3KAW8Pnf7mkmdSMPHz27 for posting the quick solution.

[2021-03-01 19:16] #6617 closed

[2021-03-01 20:02] koppor commented on #6187
Work in progress at: https://github.com/JabRef/jabref/pull/7160

[2021-03-01 20:26] calixtus commented on #5591
This seems to be a JVM-bug. @Siedlerchr observing this issue.

[2021-03-01 20:28] calixtus commented on #5591
See https://github.com/JabRef/jabref/issues/5591#issuecomment-780066636 for workaround. Do not put your JabRef installation in a bin directory.

[2021-03-01 20:28] #5591 closed

[2021-03-01 20:30] calixtus commented on #5591
Maybe related: https://bugs.openjdk.java.net/browse/JDK-8219962
Unfortunately we cannot do anything about this.

[2021-03-01 20:31] koppor commented on #7295
Related: https://bugs.openjdk.java.net/browse/JDK-8219962

[2021-03-01 20:44] calixtus commented on #7152
@State-Of-Joshing-Gentle-Peevishness thanks for your reply. This seems indeed to be an issue.
Solving the wording issue is a lot of thinking about documentation work and just a little bit of code changes.
Would you like to put some work into this? (if you're not familiar with java coding, no problem, we could take this part of the fixing the issue)

[2021-03-01 22:50] wwtan opened #7481 "The "custom colors" window for group color selection loads theme partially"
JabRef version 5.3--2021-03-01--cfb504c  on Windows 10 10.0 amd64

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Create new group
2. Under "Color", choose "Custom Color..."
3. And we see the mix-theme window
![2021-03-01 22_44_58-_Mendeley-link bib – JabRef](https://user-images.g

[2021-03-02 10:38] osclind commented on #3607
Hi we are a group of five university students (@davyie, @KallePettersson, @LukasGutenberg and @martinfalke) who would like to work on this issue as part of the course DD2480 Software Engineering Fundamentals at KTH Royal Institute of Technology. Is there anything in particular we should know about?

[2021-03-02 11:34] HifeFish commented on #7472
My bad, I should have searched closed issues as well.

In Gnome Terminal:

(Translation of "Kann die Shared-Object-Datei nicht öffnen: Datei oder Verzeichnis nicht gefunden" is "Cannot open shared object file: file or directory not found")

[2021-03-02 17:34] tmrd993 commented on #6730
Like this? Entry type information (Bibtex or IEEETran) is lost though, is that okay?
![newentrywindow](https://user-images.githubusercontent.com/47194464/109689291-72186400-7b85-11eb-9b0e-2c77f8061397.png)

When expanding others:
![newentryexpanded](https://user-images.githubusercontent.com/47194464/109689365-80ff1680-7b85-11eb-8e4c-441ce115d24a.png)

I can't seem to get the window to resize prope

[2021-03-02 20:20] #7454 closed

[2021-03-02 22:54] LaurentValade opened #7483 "Autoformat corrupts .bib file that contains #"
The bug was discovered on :
JabRef 5.2--2020-12-24--6a2a512
Mac OS X 10.15.7 x86_64
Java 15.0.1

And it is reproductible on the latest development version :
JabRef 5.3--2021-03-01--cfb504c
Mac OS X 10.15.7 x86_64
Java 15.0.2
JavaFX 15.0.1+1

When open a `*.bib` file where  some `comment` fields contains two `#`, the autoformat corrupt the `*.bib` file by replacing the first `#` by `} # ` and the s

[2021-03-03 09:27] tobiasdiez commented on #6730
This looks like a nice improvement indeed. Can you open a PR for it, then we can have a look at the resize issue.

[2021-03-03 14:26] KallePettersson commented on #6189
Hi we are a group of five university students (@davyie, @osclind, @LukasGutenberg and @martinfalke) who would like to work on this issue as part of the course DD2480 Software Engineering Fundamentals at KTH Royal Institute of Technology. Is there anything in particular we should know about?

[2021-03-03 16:23] tobiasdiez commented on #6189
Cool, thanks for your interest! The approach outlined in https://github.com/JabRef/jabref/issues/6189#issuecomment-619371443 is still pretty much up-to-date. Do you have any questions concerning this? (btw: in place of python you could have course also use java to download and pre-format the journal info if you prefer that)

[2021-03-03 19:31] Siedlerchr commented on #7483
Thanks for your report. This looks like it's a duplicate of #7010   There is also a brief discussion on how to implement a possible fix.
The problem is that the # sign in bibtex is normally used to indicate [BibTeX strings](https://docs.jabref.org/advanced/strings) and JabRef tries to associate this somehow with a BibTeX string

[2021-03-03 19:31] #7483 closed

[2021-03-03 20:03] Siedlerchr commented on #7481
Thanks for the report. The Dark.css needs to be modified to add css for the ColorPicker dialog.
I used scenic view to display the hierarchy, the style class is  `controls-pane`
<img width="1734" alt="grafik" src="https://user-images.githubusercontent.com/320228/109864980-cd208880-7c63-11eb-81d8-418f329f9c42.png">

[2021-03-03 20:17] Siedlerchr commented on #7472
Hm, this is totally odd.
Can you start JabRef from the script in JabRef/lib/runtime/JabRef ?

[2021-03-04 09:18] HifeFish commented on #7472
Same behaviour (this time with whole error message in English):

Same for just running java -version from that directory:

Should I create a separate issue for this?

[2021-03-04 18:18] tmrd993 commented on #4183
I'd like to play around with this but I don't want to be assigned yet. How would we check if an entered ID is valid? Implement regular expressions for every fetcher? Try every fetcher until a result pops up?

[2021-03-04 18:29] tobiasdiez commented on #4183
Nice to hear!

The most versatile approach would be to extend the [IdentifierParser](https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/importer/util/IdentifierParser.java) by a method that tries to parse the string into one of the Identifier classes. This is a bit similar to the existing https://github.com/JabRef/jabref/blob/a0284e1c61cb465bdd9069e17c61f181028a0bba/src/ma

[2021-03-04 20:42] github-actions[bot] opened #7491 "Error while updating citation styles"
[Update of citation styles failed!](https://github.com/JabRef/jabref/actions?query=workflow%3A%22Refresh+Citation+Style+Language+Files%22)

[2021-03-04 20:51] github-actions[bot] opened #7492 "Error while updating citation styles"
[Update of citation styles failed!](https://github.com/JabRef/jabref/actions?query=workflow%3A%22Refresh+Citation+Style+Language+Files%22)

[2021-03-04 20:55] #7491 closed

[2021-03-04 20:55] #7492 closed

[2021-03-05 00:02] #7020 closed

[2021-03-05 09:40] ilippert commented on #7466
thanks for testing. Ok, let's close this then...

[2021-03-05 09:40] #7466 closed

[2021-03-05 09:47] mlep commented on #6730
@tmrd993 Thank you for your contribution in the redesign of the window. The redesign is effective in BibTeX mode (and is great). Could you contribute to the same redesign but for the biblatex mode?

@tobiasdiez or @calixtus: please, could you reopen this issue?

For your information, currently, the window currently looks like in biblatex mode:
![ksnip_20210305-104554](https://user-images.githubuse

[2021-03-05 10:19] tmrd993 commented on #6730
Sure! Are the top 5 entry types the same for both bibtex and bitlatex mode?

[2021-03-05 10:29] tobiasdiez commented on #6730
Yes!

[2021-03-05 17:29] #6730 closed

[2021-03-05 19:12] mlep commented on #6730
Works great. Thank you @tmrd993!

[2021-03-05 21:20] JasonGross commented on #6877
I suspect this issue is still relevant, given that https://github.com/JabRef/jabref/issues/6395 has been closed without any indication of it having been fixed

[2021-03-06 14:29] chibi03 commented on #7441
I have the same issue on Manjaro Linux 5.10.18 (XFCE) and the workaround fixed the problem as well.

[2021-03-06 17:38] AWTemple commented on #7365
I really like this project proposal. In addition to being software that strikes me as relevant and useful for students, this project also seems, at a glance, to be perfect for the purposes of this class. It’s an open source project with a lot of contributors and momentum, but a long list of known bugs and unresolved issues that demonstrate the project is far from perfect. I believe that, like you

[2021-03-06 18:54] Ali96kz commented on #6057
Does somebody know why `BufferedReader.readOnline` takes so much time
<img width="1116" alt="Снимок экрана 2021-03-06 в 21 51 54" src="https://user-images.githubusercontent.com/15236829/110217702-87172f00-7ec6-11eb-86f8-78a50d7bbf93.png">

[2021-03-07 08:56] JoKalliauer commented on #6267
[code]

![Screenshot from 2021-03-07 09-50-13X](https://user-images.githubusercontent.com/15687581/110234556-6208d780-7f2b-11eb-9704-79441063ec9e.png)

The bibtex-doi-information dont get converted to biblatex, e.g. biblatex does not have a `journal` it has `journaltitle`.

[2021-03-07 14:15] tmrd993 commented on #4183
I can see that some of the identifier classes have methods that check the validity of the given String id. Shouldn't that be a part of the Identifier interface? Parsing the string into one of the identifier classes would be easier that way. Also, not every fetcher has a corresponding Identifier class as far as I can see. Am I correct in assuming those should be implemented or do they all fall with

[2021-03-07 14:27] tobiasdiez commented on #4183
These are static methods, and thus cannot be lifted to the interface. Maybe it would make sense to introduce a `IdentifierParser` interface?!

Right, that's still work in progress. I would say you can ignore this problem for now and add the button in the toolbar for all fetcher that do have an identifier

[2021-03-07 19:27] #6765 closed

[2021-03-07 19:35] tmrd993 commented on #4183
Yes, I think that makes sense but there is already a class called IdentifierParser and I'm drawing a blank on what to call that one instead if we are creating an interface with that name. Looking at the class, it seems more like a field parser to me?

[2021-03-07 19:56] mlep commented on #6888
Issue still up-to-date!

[2021-03-08 08:02] tobiasdiez commented on #4183
You can rename this class to `IdentifierParsers` (with s at the end) since it's a factory for the IdentifierParser. We have a similar convention already for `WebFetcher(s)`

[2021-03-08 15:33] buhtz opened #7502 "Missing documentation about file format / Jabref meta data in bib-file"
X-Post: https://discourse.jabref.org/t/jabref-meta-data-in-bib-fiel-file-format-documentation-without-the-biblatex-part/1889
I open this issue because my question in the forum was unanswered.

Can I find a document about the JabRef 5 used biblatex file format somewhere?

Not the standard biblatex part of course. I mean the groups meta-data etc.

And a very importan side question: How can I differe

[2021-03-08 19:48] mlep commented on #6536
This issue is still relevant.

[2021-03-09 09:31] martinfalke commented on #6189
We've attempted a bunch of different solutions for this issue and we did not get very far on either of them. We have decided to write a summary of our suggested way going forward, as the course we are working on this issue through is coming to an end. Below we have divided the work into sections based on the completeness of the different parts. After that comes notes on some different parts.

Comp

[2021-03-09 12:28] XDZhelheim commented on #7416
I looked into the source code about `PreferencesDialog` and worked out a solution. It works on my computer (Windows 10) and I will open a PR soon. Hope this will solve your problem.

[2021-03-09 13:59] tobiasdiez commented on #6189
Thanks a lot for the work and effort you put into this. Very much appreciated.

I didn't anticipated that it would be so difficult to get the data from scimagojr. Sorry! Given these problems, I would suggest to run the script once and then commit the generated json file with the code. This file can then be loaded, hopefully on the fly when people click the button. Has the disadvantage that we need

[2021-03-09 15:48] AEgit commented on #5105
JabRef 5.3--2021-03-05--f7de0a6
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 15.0.1+1

The issues and feature requests described in https://github.com/JabRef/jabref/issues/5105#issue-464888187 and https://github.com/JabRef/jabref/issues/5105#issuecomment-509132201 still persist.

[2021-03-09 15:54] nasdas-dev commented on #6207
Hi Oliver

We are a group of four MSc students from the University of Zurich, @ningxie1991, @BShaq, @DavFon, and myself @nasdas-dev.
As part of a software testing course we are enrolled in, we would like to contribute to this project over the next few weeks. We aim to increase the total code coverage by at least 25%.

We created a new fork (ningxie1991/jabref) and work on our individual branches t

[2021-03-09 18:58] tmrd993 commented on #4183
Another question, can I use a dialogpane instead of a flyout for now? I'm not seeing a jabref component (or a javafx component) that I can use for that, should that be implemented from scratch? Anyways, I implemented it the same way the new entry view works for a start, by opening a new dialogpane that returns an entrytype. This is what it looks like right now  (It also only works for DOI (from Cr

[2021-03-09 19:14] tobiasdiez commented on #4183
That looks already pretty nice,  thanks for your work!

For the flyout, you can use the popover control. As an example:
https://github.com/JabRef/jabref/blob/c7f2671730f28fb75af823f574ba7d27106c1b06/src/main/java/org/jabref/gui/JabRefFrame.java#L941-L945

[2021-03-10 01:27] koobs commented on #7365
@AWTemple Agreed.

The gap at present appears to be triaging existing `good first issues` and ensuring they're in a 'able to take immediate action' state, for example: clear description of feature/issue, clear design proposal ('acceptance criteria'), no open questions

May I suggest creating a meta issue, to identity and list/link (as checkmarks) existing `good first issues` that the class/student

[2021-03-10 14:28] bastistician opened #7510 "No-GUI mode (--nogui) should not try to use DISPLAY"
This has already been reported in #3754, but is apparently not fixed.

I can reproduce the failure for JabRef versions 4.0, 4.3.1, 5.0, 5.1, 5.2 and current 5.3--2021-03-09--5855bcf on Ubuntu 16.04 (openjdk version "1.8.0_282", openjfx 8u60-b27-4). It works in old JabRef 3.8.2.

Steps to reproduce the behavior:
1. Switch to non-graphical TTY1
2. `bin/JabRef -n --version`

[code]

[2021-03-10 18:29] Siedlerchr commented on #6819
Thanks to @yinpeiqi  this issue is now fixed in the latest master.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-03-10 19:49] ChengYang03 opened #7513 "sudden change of the sizes of the window"
JabRef version < 5.2 > on <Mac OS X 11.2.2-->

- [√] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. when I open this app, it is a maximum size window
2. when I try to create a new group, the window becomes smaller
3. when I trying to close the window which I created, the window becomes

[2021-03-10 20:37] Siedlerchr commented on #7513
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-03-10 20:57] ChengYang03 commented on #7513
It works just fine in the new version!

[2021-03-11 15:51] #7513 closed

[2021-03-11 18:07] #6818 closed

[2021-03-11 19:25] Siedlerchr opened #7515 "Snap build fails"
I noticed that the snapcraft build fails:

Maybe related to https://github.com/JabRef/jabref/pull/7447 ?

@LyzardKing  any idea?
[code]

[2021-03-11 19:54] Ali96kz commented on #7265
@DOFfactory could you provide your file?

[2021-03-11 19:56] DOFfactory commented on #7265
I do not have it with me anymore. However, it happens with any file, I had multiple field formatters just to make every entry properly unified, which I disabled and since then things go smooth.

[2021-03-11 20:04] wujastyk commented on #6818
Thanks!  I'm so grateful to all the JabRef developers.

[2021-03-11 20:27] Ali96kz commented on #7265
@DOFfactory Could you share `field formatters` that you use?

[2021-03-12 06:20] tp-1000 commented on #7481
May I have this one? And is this the preferred way to request an issue?

[2021-03-12 08:33] m-mauersberger opened #7516 "Automatically saving shared library will not be remembered"
JabRef 5.3--2021-03-11--8bb7668
Linux 4.12.14-lp151.28.91-default amd64 (openSUSE 15.1 Leap)
Java 15.0.2
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open a shared database, tick the 'automatically save the library to'.
2. See how it works properly.
3. Reopen the da

[2021-03-12 08:40] mlep commented on #6690
I cannot reproduce this bug anymore in JabRef 5.3--2021-03-11--8bb7668 (https://builds.jabref.org/master/)
@Blubbaa and @alito21: could you confirm?

Solved by PR #7507?

[2021-03-12 08:52] Siedlerchr commented on #7422
We just upgraded to javafx16, which fixed a bug that could  be related. @SN-CH  can you please test the latest master version again?

[2021-03-12 09:20] mlep opened #7517 "UI: "Export order" --> "Save order""
For JabRef 5.3--2021-03-11--8bb7668,
in Options -> Preferences, Tab File, there is a section entitled "Export sort order":
![JabRef-Pref-SortOrder](https://user-images.githubusercontent.com/6931104/110918869-ee483f80-831b-11eb-9503-96f42cf9b2db.png)

Same in Library -> Library properties:
![JabRef-Library-SortOrder](https://user-images.githubusercontent.com/6931104/110918961-05872d00-831c-11eb-975

[2021-03-12 09:22] Blubbaa commented on #6690
Can confirm, I am not able to reproduce on
[code]
Behaviour with "Fit table horizontally to screen" option also feels intuitive and normal.

[2021-03-12 10:02] SN-CH commented on #7422
Hi @Siedlercher

I tested it in fresh Jabref 5.3. It may sound somewhat paradoxical, but it is «mostly fixed». I mean it looks considerably better, but still a wee bit blurred when compared to text in other parts of the GUI. I can certainly live with it. And so can most of the people, I trust. From my viewpoint, for all practical reasons the issue can be closed, unless you wish to investigate it f

[2021-03-12 10:17] DOFfactory commented on #7265
![image](https://user-images.githubusercontent.com/10846169/110926310-821e0980-8324-11eb-8aa0-852b357e7de3.png)

[2021-03-12 10:35] LyzardKing commented on #7515
That might be the issue... if it worked previously.
It "should" find the correct python path in the snap as well, and from a first quick test it seems to work...
but I'll try and debug the new snap asap

[2021-03-12 10:39] #7422 closed

[2021-03-12 11:17] LyzardKing commented on #7515
I removed the env declaration from the snap and it seems to work.
I assume the problem is with the fact that the python location is not in the jabref snap but in the base snap..

[2021-03-12 11:50] #7515 closed

[2021-03-12 16:03] Ali96kz commented on #7265
I am working on it, I found a problem

[2021-03-13 09:38] Ali96kz opened #7522 "Do not ignore exception"
There is ignored exception that needs review. Properly handle exception, at least show information in log
<img width="707" alt="exception" src="https://user-images.githubusercontent.com/15236829/111025893-350b6780-83f8-11eb-97cd-ae6599ed56ed.png">
Note: I opened JabRef with YourKit analyzer
<img width="1432" alt="yourkit-exceptions" src="https://user-images.githubusercontent.com/15236829/111025973

[2021-03-13 13:45] Siedlerchr commented on #7517
I took a deeper lok at the code, they are both the save order for the library and for the export.
The savePreferences contain the sort Order
https://github.com/JabRef/jabref/blob/7f4c36c03629498db8e56281906241a82846e1e3/src/main/java/org/jabref/logic/exporter/TemplateExporter.java#L232

[2021-03-13 14:45] Siedlerchr commented on #7517
I think I found a bug with regard to the export, theredfore I close this issue

[2021-03-13 14:54] Siedlerchr opened #7524 "Column sort order not properly stored"
There is somehow a bug in storeColumnPreferences

Even when I change the sort oder of one column

From debugging I noticed it's always empty  and this is the root issue why the export does not take into account the current table order
https://github.com/JabRef/jabref/blob/2c7715cf0476d504475cde7b5e23c4bff677036b/src/main/java/org/jabref/preferences/JabRefPreferences.java#L1932-L1935

[2021-03-13 15:08] sauliusg opened #7525 "File renaming functions are greyed out (deactivated) for unclear reasons"
JabRef version 5.2, 5.3 and 100.0.0 (commit 0dd4de752) on Linuxmint-20.1 and LinuxMint-19.3.

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

File rename commands are greyed out and not active, and the reason is not clear for the user. Moreover, these commands are inactivated at the moments when they are badly neede

[2021-03-13 15:12] sauliusg opened #7526 "Editing "Custom preview style" triggers exception"
JabRef version 5.2, 5.3 and 100.0.0 (commit 0dd4de7) on Linuxmint-20.1 and LinuxMint-19.3.

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Go to "Options|Preferences|Entry preview|Customised preview style|Edit"
2. Start typing new format elements into the text box, e.g.: "\begin{

[2021-03-13 15:33] sauliusg opened #7527 "Updated JabRef deletes 'timestamp' fields from the database"
JabRef version 5.3 and 100.0.0 (commit 0dd4de7) on Linuxmint-20.1 and LinuxMint-19.3.

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Since the version 5.3 (and in the current 'master' tip) the 'timestamp' field is silently deleted from my BibTeX database, even it was present there, and the "timestamp" column is co

[2021-03-13 15:54] #7481 closed

[2021-03-13 16:14] tobiasdiez commented on #7517
I would say "Save order" is still better since it then includes the normal file save as well as export. Maybe even make it very explicit and say "Save and export order"?

[2021-03-13 16:15] #7465 closed

[2021-03-13 17:08] mlep commented on #7517
I second @tobiasdiez about "Save and export order"!

[2021-03-13 19:09] Siedlerchr commented on #7524
Can no longer reproduce the issue :(

[2021-03-13 19:28] Siedlerchr commented on #7524
Debugged a bit more, it's odd: Sometimes the mainTable.getSortOrder() returns an empty list.
I could reproduce it as follows.  Sort by year DESC, e.g. click on the table header for the YEAR column.

https://github.com/JabRef/jabref/blob/c8f7be89ad704065474decb61851e42416caf88d/src/main/java/org/jabref/gui/maintable/PersistenceVisualStateTable.java#L36-L41

@calixtus  I remember that you worked on

[2021-03-13 19:37] Siedlerchr commented on #7526
I took a quick look and it seems there is a listener on text change triggered and the new layout is set
I think it maybe makes sense to do that when the editor area is left or the user pressed save.

[code]

[2021-03-14 08:07] sauliusg commented on #7526
I guess this will cause similar problems for users with "focus follows mouse/sloppy" desktop settings (like mine :), and also for "click to focus" users that start editing the text, and then decide to leave temporarily the text box to copy some text from another window for pasting.

What could be done of course is that the template compiler does run in a background and discretely marks the lines w

[2021-03-14 17:38] github-actions[bot] opened #7531 "Error while updating citation styles"
[Update of citation styles failed!](https://github.com/JabRef/jabref/actions?query=workflow%3A%22Refresh+Citation+Style+Language+Files%22)

[2021-03-14 17:39] #7531 closed

[2021-03-14 17:41] github-actions[bot] opened #7532 "Error while updating citation styles"
[Update of citation styles failed!](https://github.com/JabRef/jabref/actions?query=workflow%3A%22Refresh+Citation+Style+Language+Files%22)

[2021-03-14 17:49] #7532 closed

[2021-03-14 17:50] github-actions[bot] opened #7533 "Error while updating citation styles"
[Update of citation styles failed!](https://github.com/JabRef/jabref/actions?query=workflow%3A%22Refresh+Citation+Style+Language+Files%22)

[2021-03-14 17:52] #7533 closed

[2021-03-14 19:37] nlao1 commented on #7526
Hi, is this still open? I'd like to take it.

[2021-03-14 22:13] #7452 closed

[2021-03-15 04:23] notuntoward opened #7535 "Restore Navigate between entries (Back/Forward button)"
Since JabRef 5, I'm really missing the forward/back buttons that were in JabRef 4.

Were these deleted on purpose? Can they be restored?

[2021-03-15 07:44] suppenkaspar109 opened #7540 "XREF Error when writing XMP Metadata to PDF"
JabRef version <5.2> on

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Choose any Entry in JabRef
2. Choose Tools->Write XMP Metadata to PDFs
3. Open PDF in external Viewer (such as PDF xChange)
4. Error about Corrupt PDF is shown: "Some problems have been found and corrected wi

[2021-03-15 14:40] Ali96kz commented on #7265
Problems seems to be in `org.jabref.model.entry.Date#parse(java.lang.String)`
It may throw a lot of exception, but I can't reproduce it with my files.
If anyone will have the same problem, please attach your `.bib`file

[2021-03-15 18:38] calixtus commented on #7527
refs #7334

[2021-03-15 18:59] calixtus commented on #7524
I took a quick look into it. I honestly have no idea why. mainTable.getSortOrder refs directly to the javafx-implementation of a TableView.

[2021-03-15 19:28] #6490 closed

[2021-03-15 19:28] #3953 closed

[2021-03-15 19:28] #4525 closed

[2021-03-15 21:08] #6690 closed

[2021-03-15 21:10] Siedlerchr commented on #7050
I can no longer reproduce the issue in the latest master

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-03-15 21:10] #7050 closed

[2021-03-16 07:03] sauliusg commented on #7527
Fully agree with ilippert in #7351. The migration strategy is suggested above. Can it be implemented?

[2021-03-16 13:48] 2bein commented on #7517
I would suggest to have separate options for saving the library and exporting (selected entries). The reason ist that I use SVN to follow changes of the libraray that is used by many members of our institute. Changing the save order always confuses the file versioning...

[2021-03-17 10:41] XDZhelheim commented on #6487
I'm trying to fix this. Got some clues already.

[2021-03-17 11:50] #5522 closed

[2021-03-17 14:57] calixtus commented on #7525
Hi @sauliusg , I think I located the problem and fixed it. Would you be so kind to test the build at https://builds.jabref.org/pull/7548/merge/ if this works for you? Be aware that this is a development build, so please backup your database first.

Also I saw that changing the default file link name pattern in the preferences requires a restart to take effect. This is probably a bug for later - si

[2021-03-17 15:29] AEgit commented on #5522
JabRef 5.3--2021-03-17--d190268
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 16+8

As far as I can tell, all issues mentioned in https://github.com/JabRef/jabref/issues/5522#issuecomment-643632385 have been fixed. Well done!

Note, however, that the issue mentioned in https://github.com/JabRef/jabref/issues/5522#issuecomment-643632385 still persists:

Below a provide a screenshot to visualize this pro

[2021-03-17 16:20] jvera701 commented on #5804
I am sorry, I am replying this late but I couldn't make any substantial progress .and I am not sure I can continue working on this.. Writing this feature was harder than I first thought.

[2021-03-17 18:33] sauliusg commented on #7525
Dear calixtus,

thank you for the quick fix!

I can confirm that 'JabRef-5.3-portable_linux.tar.gz' from the above directory works as expected. The file renaming functions are active; renaming or renaming and moving to the destination directory work as expected. After that they are greyed out, but editing the entry (changing page numbers or author name) re-enables them again. So far everything fin

[2021-03-17 19:15] Ali96kz commented on #6904
@sfsharapov are you working on it?

[2021-03-17 20:40] Mehdi-Ayadi commented on #7526
Hi,  so i followed all the steps to recreate the bug and i had no exception window that oppens so i wanted to know if this issue is persistent on all the systems or no ? cause it may be something system related ?
If yes i would like to solve it !

[2021-03-17 21:40] tobiasdiez commented on #6904
Thanks for your interest @sfsharapov!

I share your preference for C#. However, it would be good if you could do a small research about what Microsoft is recommending for a new Add-in. Last time, I had the strong impression they were pushing strongly for Javascript/Typescript. For example, I don't think it is possible to integrate C# add-ins with Word Online (Browser version). Thus I got the impre

[2021-03-17 22:13] BenArou commented on #7392
I'm a junior software engineering student interested in this issue. I would like to take a look into it and see what I can do. May I take this issue? If so, I would like a little guidance as I'm new to this project. Thanks in advance!

[2021-03-17 22:49] yaqihou opened #7550 "Monocolor for icons"
JabRef version

JabRef 5.3--2021-03-17--d190268
Linux 5.8.18-050818-generic amd64
Java 15.0.2
JavaFX 16+8

on Ubuntu 20.04

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Set either the priority or read status, the icons are mono-color and the same all options, making them indisti

[2021-03-17 23:30] calixtus commented on #7392
Hello @BenArou nice to hear, that you took interest in JabRef.
To get started, I would suggest you take a look at our developer documentation ( https://devdocs.jabref.org/ ) and start by solving some "good first issues" in our issue tracker ( https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22 ) to become familiar with the code base of JabRef.
As this Issu

[2021-03-18 04:54] tp-1000 commented on #7392
It looks like there is an issue that stems from ContextMenu MenuItem's accelerators overlapping with the MainMenu accelerators. Not sure theres a clean solution. Where this pattern appears in the application (such as RightClickMenu generation) there are also similar issues.
##### Note: The accelerator issue when deleting a linked file is related but not the complete problem. It also appears there

[2021-03-18 10:30] teertinker commented on #4096
Irrespective of the missing ability to search across different tabs, I just discovered that the search function works different than the group search function (which works across tabs). This seems to be illogical for me as a user.

Just compare the two screenshots. The search term "Wo" in the group filter is remembered when switching tabs.
![grafik](https://user-images.githubusercontent.com/883030

[2021-03-18 11:32] Mehdi-Ayadi commented on #7267
Hi, i'm a software engineering student and i'm interested in solving this issue. I saw that this issue is marked as 'good first issue' so why not giving it a try if possible. It will be really appreciated to get some guidance or help since i'm new to the project. Thanks!

[2021-03-18 11:38] Mehdi-Ayadi commented on #7524
Hi, i'm a software engineering student and I'm really looking forward to solve this issue if possible. It will be really appreciated to get some guidance or help since i'm new to the project. Thanks!

[2021-03-18 12:04] DOFfactory commented on #7265
I think you might be right, as I usually scrape large amounts of literature from multiple databases (Scopus, SpringerLink, WOS, etc.) with Zotero's browser addon, then I export them into the corresponding `bib` file(s). Now, what I noticed that various databases provide a variety of date formats, e.g. 2010, 2010-05, 2010-May, some provide separate year + month fields.

I think it has been highligh

[2021-03-18 12:19] calixtus commented on #7526
Sorry @Mehdi-Ayadi , but @yinpeiqi already is on this issue, although you are always welcome to team up on this.
Please talk to him if you have a good idea how to solve this issue and please use the linked pull request #7539 to discuss on the idea further.

[2021-03-18 12:20] Mehdi-Ayadi commented on #7524
@Siedlerchr i can propose the idea of adding a change listener to the mainTable.getSortOrder that will basically detect whenever there's a change in the sorting order we want ASC or DESC and in a case of DESC order the event will be handled. If it's a good solution i can manage to solve it directly. Thanks in advance !

[2021-03-18 12:25] Siedlerchr commented on #7524
Thanks for your interest,  but the underlying problem is a bit more complicated and we already have listeners in place if you look closely in the  PersistenceVisualStateTable

https://stackoverflow.com/questions/52255126/javafx-tableview-why-does-the-sortorder-listener-does-not-fire-when-i-sort-desc

The question is rather: Why is the getSortOrder list sometimes empty and sometimes not when a list

[2021-03-18 12:27] calixtus commented on #7524
Hello @Mehdi-Ayadi nice to hear, that you took interest in JabRef.
To get started, I would suggest you take a look at our developer documentation and start by solving some "good first issues" in our issue tracker to become familiar with the code base of JabRef.
Please note that you have to distinguish in JavaFX between to column sort order and the sort type of a column. Both are stored in JavaFX i

[2021-03-18 12:32] #7525 closed

[2021-03-18 12:33] Mehdi-Ayadi commented on #7524
@Siedlerchr  @calixtus  thank you for your fast replies and for the clarifications ! it's really appreciated. I will take a look a bit more into the details and do my best to come up with a solution.

[2021-03-18 16:53] BenArou commented on #7392
Thank you for the pointers, I'll see what I can do and keep you updated on whether I need some help!

[2021-03-18 18:04] #2292 closed

[2021-03-19 12:26] #6487 closed

[2021-03-19 12:26] #7416 closed

[2021-03-19 12:27] tobiasdiez commented on #6487
Thanks to @XDZhelheim this should now finally be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2021-03-19 20:29] Siedlerchr commented on #7337
Thanks to @BJaroszkowski  this issue is now resolved. There is now an option in the preferences.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-03-19 20:43] Siedlerchr commented on #6851
The Drag and Drop listener operate on the TableRow, that means you need at least one entry.
Solution: Add drag and drop handler for tableView as well in MainTable.java

[2021-03-19 21:25] tp-1000 commented on #7550
I will take a look if it's alright.

[2021-03-19 21:32] Siedlerchr commented on #7550
@tp-1000  Sure, that would be great. You find the corresponding Icons in the JabRefIcons Enum in IconTheme.java
You can show the columns in the main table by adding the column in the preferences -> Entry Table -> Enable special fields
Then you can add:
Read status, Priority, Relevance to the list

[2021-03-20 11:06] ilippert commented on #5071
JabRef 5.3--2021-03-19--049acb9
Linux 5.11.7-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 16+8

I am sorry to say that JabRef over the last versions reliably crashes and often crashes the system, requiring a cold restart of the computer.

[2021-03-20 11:39] ilippert commented on #6559
Problem continues.

[2021-03-20 12:29] sauliusg opened #7553 "Entries with hash symbos ('#') are processed incorrectly"
JabRef version 5.3, master commit 049acb9e9 on Linuxmint-20.1

JabRef 100.0.0
Linux 5.8.0-45-generic amd64
Java 14.0.2
JavaFX 16+8

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When a new entry is created that contains two hash symbols ('#') and a comma between them, such entry when saved produces incorrect bibte

[2021-03-20 13:22] tp-1000 commented on #6851
I'll take a look.

[2021-03-20 13:27] sauliusg opened #7554 "Duplicate groups in an input file are not detected"
JabRef version 5.2, 5.3, master commit 049acb9 on Linuxmint-20.1.

JabRef 100.0.0
Linux 5.8.0-45-generic amd64
Java 14.0.2
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the behaviour persists

Duplicated groups in different branches of the group tree are not detected when a database that contains them is read in.

But on a

[2021-03-20 15:48] Siedlerchr commented on #6904
For those looking into the issue: As the JS Api runs in a browser context, you obvioulsy can't access the file system. So you would need to use some kind of (web) sockets to connect to JabRef.

[2021-03-20 16:54] Siedlerchr commented on #6758
I found some more infos in the meantime, https://bell-sw.com/pages/liberica-release-notes-15/

However, the openjfx team is currently in the progress in getting openjfx ready for Apple Silicon arm64. Maybe that will make it easier to get that also ready on Linus based arm64.
As there is currently nothing we can do from our side, I'm closing this issue.

[2021-03-20 16:54] #6758 closed

[2021-03-20 16:55] Siedlerchr commented on #7175
There recently has been some work to build the javafx media libs and webkit libs for Apple Silicon, so it might be read with the next openjfx release.

[2021-03-20 18:42] DaliSaddoud commented on #7550
I might be able to do something about this, if it's alright.

[2021-03-20 18:55] tp-1000 commented on #7550
I'm pretty sure it will be resolved by #7552 and #7550 requires no further action.

[2021-03-20 19:35] Siedlerchr commented on #7550
Yep. The group ui PR fixes this as will.
However, thanks for your interest. There are still enough other open issues...

[2021-03-20 19:51] aakarshvats638 commented on #6142
I would like to work on this issue can you please elaborate what is to be done?

[2021-03-20 19:54] aakarshvats638 commented on #6851
Hey can i work on this issue?

[2021-03-20 23:33] tobiasdiez commented on #6142
Thanks for your interest. When you right-click a group and choose "Edit group" you get an dialog with an "icon" text field (among other input fields). Right now the user needs to put the name of the icon in this text field. It would be good if there would be a graphical input possibility, similar to
![image](https://user-images.githubusercontent.com/5037600/111888455-f9b2ff00-89dc-11eb-9bdd-4ff250

[2021-03-20 23:36] #4129 closed

[2021-03-20 23:36] #7550 closed

[2021-03-20 23:36] tobiasdiez commented on #4129
Thanks to @mohit038 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2021-03-20 23:37] tobiasdiez commented on #7550
Thanks to @mohit038 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2021-03-20 23:45] tobiasdiez commented on #7554
We disallowed to have two groups with the same name (even in different hierarchical levels / subtrees), because they would contain exactly the same entries (as you have remarked). This lead to many confusions for users, so we prevented it. See https://github.com/JabRef/jabref/issues/1495 for details.

I'm not sure if we really need a warning message. The only way to get duplicate names is by manua

[2021-03-21 01:54] tp-1000 commented on #6851
@aakarshvats638 I'll let you know if I need a hand.

[2021-03-21 07:56] sauliusg commented on #7554
I think the bibliography tool should allow to do what users want, and not to "disallow" something. JabRef supports a lot of very different bibliography management styles, which is its big advantage, but the block in the GUI that inhibits creation of groups with the same name, even in different parts of the hierarchy, is a serious usability issue, and here JabRef clearly looses to Zotero.

If a gro

[2021-03-21 08:08] sauliusg commented on #7554
In my case, it is not rare but *ubiquitos*, and judging from other responses in #1495 and other related posts many users miss the group hierarchy with arbitrary group names. I tried to use a workaround in #1495, like "Diabetes > Treatment", and with the current implementation it is very, very inconvenient.

[2021-03-21 08:33] sauliusg commented on #7554
So lets sum up the current situation:

1. The current group implementation has useful features (independence of BibTeX entries, possibility to manually edit BibTeX file for grouping);
2. Users want flexible hierarchy and want to be able to create groups with whatever names they want, without a tool standing in their way;

A possible (easy?) way to reconcile these two requirements could be:

- JabR

[2021-03-21 08:49] sauliusg commented on #7554
PS. If the developers agree on such (or similar) design I would take a the issue and offer a PR :)

[2021-03-21 09:51] sauliusg commented on #7554
Another use case for groups with the same name – have a look at the screenshot example with computer/human languages:
The groups 'Language' in different branches of hierarchies are union groups, and contain (under the current implementation!) different sets of papers, since they contain different subgroups (Programming/Languages – 17 papers; Data description/Languages – 13 papers). As expected. Th

[2021-03-21 09:57] sauliusg commented on #7554
A logic (classification) case for non-unique group names:

- currently, a paper can belong to several different groups (of course :);
- but, by the same token, a *subgroup* can also belong to several different super-groups (together with all papers assigned to it)!

[2021-03-21 10:23] sauliusg commented on #7554
If you mean a warning when opening file with duplicated group names, then I agree, there is not need for the warning there. Which just means that it is a legit situation :)

[2021-03-21 11:25] sauliusg opened #7556 "The "Remove subgroups" command leaves entries with non-existing groups"
JabRef version master commit d31ef4dc7 on Linuxmint-20.1

JabRef 100.0.0
Linux 5.8.0-45-generic amd64
Java 14.0.2
JavaFX 16+8

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Load library 'groups.bib' from the attached 'groups.zip' file;
[groups.zip](https://github.com/JabRef/jabr

[2021-03-21 11:41] sauliusg opened #7557 "Undo action after group deletion leaves group GUI and internal model in an inconsistent state"
JabRef version master commit d31ef4d on Linuxmint-20.1

JabRef 100.0.0
Linux 5.8.0-45-generic amd64
Java 14.0.2
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Load 'groups.bib' from the attached 'groups.zip' into JabRef
[groups.zip](https://github.com/JabRef/jabref/fi

[2021-03-21 15:40] tobiasdiez commented on #7554
I agree with you that it sometimes could be advantages to have the same group in two different places. However,

is a highly unusual concept from a user-interface perspective. For example, files with the same name but in different folders don't automatically sync their content. I think we should really stick to the tree nature of the group interface, meaning that groups are independent.

As a way

[2021-03-21 16:05] aakarshvats638 commented on #7451
I would like to work on this issue if it is reproducible on windows

[2021-03-21 16:55] sauliusg opened #7559 "Import from DBLP reports duplicates when a single entry is imported, but not when all are imported"
JabRef version master tip commit d31ef4dc7 on LinuxMint-19.3

JabRef 100.0.0
Linux 5.4.0-54-generic amd64
Java 15.0.2
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Import from DBLP reports duplicates when a single entry is imported. However, when all 100 entries are imported (that indeed seem to contai

[2021-03-21 17:40] sauliusg commented on #7554
ACK.

I was thinking about this. It could be that we see the concept as unusual only because we are so much used to the file system tree structure. But file system tree is a *bad* tool for bibliography management (tried it, switched to JabRef :) ), precisely because we can not place the same file in several different directories (or rather we can, but this is not very convenient).

Groups in bibli

[2021-03-21 19:21] Siedlerchr commented on #7553
This is a duplicate of #7010. JabRef tries to interpret # as bibtex macro

[2021-03-21 19:21] #7553 closed

[2021-03-21 19:32] #6891 closed

[2021-03-21 19:32] #6865 closed

[2021-03-21 21:26] LyzardKing commented on #7451
Do you mean in the save dialog? I'm not sure...

[2021-03-21 22:58] tobiasdiez commented on #7554
The id solution would be the best from an implementation point of view (since then we indeed have an unique identifier). However, the idea was that users can also edit the groups directly by changing the `groups` field. That's no longer possible (without looking up the id of the group...).

The only way I see for this is to use the complete path from the root to the group and save this in the grou

[2021-03-22 06:32] sauliusg commented on #7553
The #7010 reports that a markdown disappears from comments, which is not nice but you an still live with it. In the #7553 I reported *corruption* of the database, which is IMHO much more serious.

Of course if fixing #7010 will also fix #7553, all the better :)

[2021-03-22 07:03] sauliusg commented on #7554
Thought about that. Editing a BibTeX file is in fact possible, at least as good as it is now:

1. In the current setup, you *have* look up the group name anyway: how do you know otherwise if your group is named "Asthma>Treatment', 'Treatment (Asthma)' or 'Treatment of asthma'? Capitalisation also matters (checked), so you need to look up if it was 'Treatment' or 'treatment' or 'TREATMENT'. If you

[2021-03-22 07:07] sauliusg commented on #7554
Indeed, if you have the full path in the group name, then you need to update it each time the group is moved in the tree. You also need to cope with errors when incorrect path is edited in manually. I think this is a complex solution, and complexity arises from severe denormalisation (in database sense).

In case you have just an ID, you only need to update entries when you rename groups – which y

[2021-03-22 10:33] tobiasdiez commented on #7554
But finding the name is easy: I just look at the left side bar for the group, and put exactly what I see in the `groups` field and it works. That's harder for the id-based solution (you could add a tooltip but yeah...).

Yes, the "complete path" solution also has disadvantages...

[2021-03-22 10:51] ilippert commented on #7072
Hi,

at
JabRef 5.3--2021-03-19--049acb9
Linux 5.11.7-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 16+8
I get

<details>
  <summary>Log File</summary>

[code]
</details>

and the pdf **does** get attached when I drag and drop onto the File field of an entry/in entry editor.

[2021-03-22 11:29] Siedlerchr commented on #7072
@ilippert  damn, I hoped that the bug was fixed with jfx16 :/
Did you press any modifier key? Can you try with shift/ctrl/alt... And the exception from the log seems to be missing some lines wich state the cause, but that seems like the same as in your other post

[2021-03-22 11:56] DOFfactory opened #7567 "High RAM utilisation followed with high CPU use"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I accidentally left open JabRef with 2 files open over the weekend. When I got back to the computer on Monday I noticed that JabRef uses 8GB out of 32GB RAM, and every 2-3 minutes the CPU bursts into 100

[2021-03-22 16:04] sauliusg commented on #7554
True, I somehow overlooked this. But then you can not simply copy that text with a mouse :).

But I agree that having no IDs is simpler. This brings us again to a simple implementation with the current group code that just adds possibility to create identically named groups. I have hacked also the delete group possibility, without removing entries from other groups that have the same name (see the

[2021-03-22 19:29] #6896 closed

[2021-03-22 19:33] tp-1000 commented on #7267
Question for whenever someone gets to it. If I am understanding correctly the intention would be just to use the backgroundtask wrapper and have the task/progress show up in the task window. Does the wrapper also protect task from the being interrupted, It doesn't appear to work this way.

The reason I ask is related to the question below.
Should it take a long time to gen-keys for 10 entries of 1

[2021-03-22 20:04] tp-1000 commented on #7267
Maybe an issue with using an observable list?

[2021-03-22 20:12] wujastyk commented on #6930
JabRef 5.3--2021-03-22--8fe77dd
Linux 5.4.0-67-generic amd64
Java 15.0.2
JavaFX 16+8

fine now.

[2021-03-22 20:12] #6930 closed

[2021-03-23 09:54] Ali96kz commented on #7265
There is an obvious solution to make a validation with regex before parsing. And the second way is to parse it by char
@Siedlerchr What do you think about it?

[2021-03-23 15:23] DS-654 commented on #7340
Hi @calixtus, I would like to work on this issue, is it still open?

[2021-03-23 18:04] tp-1000 commented on #7233
@Siedlerchr It doesn't look like there is a key binding for backspace to delete entries. On the latest, deletion requires the use of delete key instead of backspace key. Correct me if I am mistake in assuming 5.2-dev would be the latest version intended for the dev environment.

I did notice some other problems related to entry editor interfering with deleting entries via the shortcut, but I do no

[2021-03-23 21:02] calixtus commented on #7340
Since I haven't heard anything of @EduRibeiro00 anymore, why not? Good luck and happy coding. Remember to set up your workspace according to our contributors guide at devdocs.jabref.org - especially the codestyle stuff.

[2021-03-23 21:10] EduRibeiro00 commented on #7340
Hello @DS-654 and @calixtus,

I apologize for the wait and for not giving any feedback. I am currently working on this issue and will hopefully make a PR soon. :)

[2021-03-24 07:35] Siedlerchr commented on #7233
@tp-1000  Ah thanks for the hint, seems about it recognies the forward delete. fn + Backspace worked.

Could you elaborate on this?

[2021-03-24 10:12] ilippert commented on #7527
I guess it suffices to keep one of both issues open, this or https://github.com/JabRef/jabref/issues/7351

[2021-03-24 12:29] tp-1000 commented on #7233
1) Run application
2) Add new library
3) Add a couple entries
4) Select them all
5) Use Shortcut (delete key) to remove them

**It will only delete one entry.**
***
If you use the main-menu to remove them, it works fine and asks if you want to remove multiple and removes them.

It seems to be related to maybe a focus issue? Im not sure exactly what with though, possibly the entry editor? Cannot be

[2021-03-24 15:06] mohit038 commented on #6904
I want to discuss the implementation of office add-in.

- Something similar to the existing integration of jabref with the libra office using apache POI.

- Reading entries from the saved jabref library. Users can select the saved library file from their local storage.

- Implementing something like user can select multiple entries in the jebref and then export them to Word add-in. But I couldn’t

[2021-03-24 16:44] vsht commented on #6559
True. Especially using the search bar (e.g. to search for author names) and leaving the filtered view
for longer time (i.e. by not clearing the search bar) seems to trigger it.

[2021-03-24 18:57] #6851 closed

[2021-03-24 19:07] Siedlerchr commented on #6190
Request fromt he forum: Should support merging of files. E.g. when I merge two entries with files attached create one entry with both files.

[2021-03-24 22:47] tp-1000 commented on #7366
Unless someone says otherwise, I would like to work on this.

[2021-03-25 05:29] jpdehollain commented on #7337
@Siedlerchr @Ali96kz Thanks for getting this done. I tried it out, but I think the feature is not complete yet. Currently, it only works when I click the `Open` button from the entry editor window. However, if I click on the `Linked identifiers` button from my entry list, or if I right-click an entry and choose `Open URL or DOI` (or hit `F3`), it does not use the customised URL base.

Hope the exp

[2021-03-25 07:45] Ali96kz commented on #7337
@jpdehollain It's not me. That task was already in development when I wanted to start @BJaroszkowski

[2021-03-25 09:20] ilippert commented on #7072
Hi, pressing/not pressing modifier keys does not prevent the error message.

     And the exception from the log seems to be missing some lines wich state the cause, but that seems like the same as in your other post
well that is what JabRef offers to me.

[2021-03-25 13:56] Soldrakon commented on #4654
Please do this

[2021-03-25 16:19] BJaroszkowski commented on #7337
Yes, the explanation is clear and it is something that I overlooked - opening DOI URI from `LibraryTab` and `IdentifierEditor` was handled differently. I will be shortly submitting PR to address that issue.

[2021-03-25 19:31] #6900 closed

[2021-03-25 19:31] #6534 closed

[2021-03-25 19:50] Siedlerchr commented on #7524
Idea for debugging: Split each listener to call a separate method so it's easier to see what listener is when called

[2021-03-25 23:52] ryanhore23 commented on #7451
I see this issue has been tagged with Linux, a small group of us from Adelaide University would love to contribute to this issue over the course of the coming weeks.

[2021-03-26 05:06] srdeotarse commented on #7451
I want to participate in GSOC 2021 , so would like to solve this issue as I have set up local workspace on Ubuntu 20.04 and successfully reproduced the issue @Siedlerchr

[2021-03-26 05:18] srdeotarse commented on #6142
I want to participate in GSOC 2021, so I would like to work on this issue with dropdown icon combobox as suggested by @tobiasdiez @Siedlerchr

[2021-03-26 06:22] DOFfactory commented on #7567
After 24h of having the JabRef open, with occasional spies to 80% CPU...

![image](https://user-images.githubusercontent.com/10846169/112590967-f1572b80-8e03-11eb-8e4a-0a42eea32e33.png)

[2021-03-26 07:18] Siedlerchr commented on #7567
Do you observe the same with the current development version?

[2021-03-26 08:50] LyzardKing commented on #7451
The better solution here would be to fix it upstream in openjfx.
A quick fix in jabref would be trivial (as @Siedlerchr says), but not really solve the issue.

[2021-03-26 09:27] tobiasdiez commented on #6142
@srdeotarse Thanks for your interest! @aakarshvats638 do you still plan to work on this, or even already started?

[2021-03-26 09:28] mlep commented on #6851
@Siedlerchr  I wanted to check on this issue, but the last version on https://builds.jabref.org/master/ was published on March 22. Is there a problem?

[2021-03-26 09:36] Siedlerchr commented on #6851
@mlep  Yep, our Apple developer account expired, we have to renew it to build for mac again. However, you can use the artifact download https://github.com/JabRef/jabref/actions/runs/687970576  (contains all Linux versions)

[2021-03-26 10:00] mlep commented on #6851
@tp-1000 Thank you for solving this issue. It now works as expected!
@Siedlerchr Thank you for the pointer.

[2021-03-26 10:51] apurvachuri commented on #4682
Hello!

We (Apurva, Khate, John, Naif and Daolin) have taken Software Process Improvement course at the University of Adelaide. As part of the course, we are supposed to contribute  an open source project and we would like to take up this issue.

Our aim is to submit our initial pull requests by late early May.

Any guidance would be appreciated.

[2021-03-26 13:39] #7420 closed

[2021-03-27 09:26] WolfgangFahl opened #7575 "Entering an Id at the Web Search should search for the id - and not throw an Exception"
JabRef version 5.3 on Mac OS X 10.15.7 Catalina

-  I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. select DBLP for search
2. paste DOI 10.1007/s11192-020-03391-y into the web search field
3. click search

[code]

[2021-03-27 10:52] sauliusg opened #7576 "Deleting a subgroup does not update entry counts in union super-groups"
JabRef version 5.3, master commit badffe9ae on Linuxmint-20.1

JabRef 5.3-PullRequest7548.202--2021-03-17--82f8139
Linux 5.8.0-45-generic amd64
Java 15.0.2
JavaFX 16+8

JabRef 100.0.0
Linux 5.8.0-45-generic amd64
Java 14.0.2
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Deleting a subgroups does not up

[2021-03-27 11:21] DOFfactory commented on #7567
testing... give me a couple of days pls

[2021-03-27 11:30] DOFfactory commented on #7567
Well, just started the developmental version

JabRef 5.3--2021-03-26--badffe9
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 16+8

and what is immediately noticeable is that it is much more memory hungry, see below:

![image](https://user-images.githubusercontent.com/10846169/112719178-d960d400-8ef7-11eb-82f8-bcfe81873054.png)

Starting the stable v5.2 stable version it started around ~300MB of RAM, the

[2021-03-27 11:39] Siedlerchr commented on #7575
Thanks for your report, can reproduce this. Please note that using the WebSearch for Identifier is not the right way. If you have an Identifier like a DOI or ISBN the right workflow is to use Library -> New Entry.

However, if you have a DOI, you can also directly paste it on the maintable

<img width="493" alt="grafik" src="https://user-images.githubusercontent.com/320228/112719438-504a9c80-8ef9-

[2021-03-27 11:54] Siedlerchr commented on #7510
As a workaround you could use `xvfb-run --auto-servernum ` We use that for our gui tests here on the Github CI

[2021-03-27 12:01] EduRibeiro00 commented on #7340
Hey again!

Just submitted a WIP PR for this issue. Any feedback is appreciated! Once again sorry for taking so long 😅

[2021-03-27 13:39] WolfgangFahl commented on #7575
I think the useability would much increase if the web search would automatically detect certain identifiers like ISBN and DOI

[2021-03-27 19:15] AEgit commented on #7554
Just as a comment from my side: As mentioned by @tobiasdiez you have to be very careful if you allow users to have duplicate groups. Problems I remember from the past (I am afraid, cannot find the respective bug reports anymore, except for https://github.com/JabRef/jabref/issues/1495):

1) In JabRef 3.8.2 all hell broke loose if you had two groups with the same name (inadvertently created!) at the

[2021-03-28 03:06] apurvachuri commented on #4682
As we understand, there are two UI functionality to be addressed.

1: To add "+" button to add groups: We have two queries here, first, on the current version which we are using of JabRef, the "+" button seems to placed appropriately. Please find the attached screenshot.
![image](https://user-images.githubusercontent.com/42309636/112740870-e947e900-8fc7-11eb-81f5-9f3b52b9dd46.png)
So, do we really

[2021-03-28 04:27] sj30001 commented on #6601
Hi, we are a group of 5 students from Adelaide University. Our software process improvement class asked us to contribute to an open-source project. We'd love to help with this issue. Is anyone currently working on this issue? If not can we take it? We are all new contributors to open-source projects. If possible could we get some guidance on which part of the code we should look into first. Thanks

[2021-03-28 08:28] DOFfactory commented on #7567
I can confirm now that after approx. 24h of running JabRef 5.3--2021-03-26-badffe9 the RAM use is very high:

![image](https://user-images.githubusercontent.com/10846169/112746602-16889d00-8fb0-11eb-9a10-06839454d000.png)

As you can see, as a result of this there is a considerable higher CPU use as well. Please note I am not running any tasks on JabRef, I basically just opened the app and kept it

[2021-03-28 08:46] sauliusg commented on #7554
Dear @AEgit, thank you very much for the comment.

I have checked with my group tree, with all disambiguation prefixes removed: the problem is no longer there in the current master tip and in the suggested PR #7558. The groups, also with duplicated names, can be scrolled and used without problems.

Sure, the user will not keep in mind all possible configurations and duplications of all groups...

[2021-03-28 11:02] Siedlerchr commented on #6207
For anyone else wanting to contribute some Unit Tests. The TemplateExporter currently have not yet any unit tests, that would also be a great improvement

[2021-03-28 11:15] Siedlerchr commented on #6601
@sj30001  Thanks for your interest in JabRef. Currently no one is working on this issue.
The TableView code is in the MainTable class under jabref.gui.maintable
For requesting a context menu, some inspiration how this coud be achieved https://stackoverflow.com/questions/59650736/how-to-add-a-context-menu-on-unused-column-header-in-tableview

more info on context menu:

[2021-03-28 12:41] tobiasdiez commented on #4682
Thanks for your interest.

- The "add button" at the bottom would be nice. Especially if you start with jabref, it's not clear how to add groups. On the other hand, once you added a couple of groups already, you mainly use the tree to navigate your existing groups instead of often adding new groups. Thus, it might be a good idea to differentiate between the state "no/a few groups existing" and "ma

[2021-03-28 14:15] gdrosos commented on #4652
Hello, is this issue still open? I would like to work on it with a colleague. Any suggestions where to start?

[2021-03-28 14:47] Siedlerchr commented on #4652
@gdrosos  Yes, the issue is still open. You can find the relevant code for the dialog in https://github.com/JabRef/jabref/tree/master/src/main/java/org/jabref/gui/externalfiles
UnlinkedFiles...

You are lucky, @calixtus  and I recently converted the dialog to javafx/MVVM and improved the overall code.
So the main thing left is now to add a Date-based filter as described in the first issue.

If you

[2021-03-28 16:34] tobiasdiez opened #7582 "Add integration with Jabref Online"
[JabRefOnline](https://github.com/JabRef/JabRefOnline) now supports a (simple) API to create and login users as well as create and get documents (BibEntries). What is missing is the integration with JabRef. It would be nice if another developer could implement this so that I can concentrate fully on the server side. @koppor @calixtus @Siedlerchr interested?

To get started, follow the instructions

[2021-03-28 19:27] #6905 closed

[2021-03-28 19:27] #6832 closed

[2021-03-28 19:27] #6646 closed

[2021-03-28 19:27] #6223 closed

[2021-03-28 21:13] calixtus commented on #7351
Idea: Convert the migration to a cleanup action. Ask the user on startup, if he want's to convert the timestamp, provide "do not ask me again" checkbox.

[2021-03-29 09:18] AEgit commented on #7554
@sauliusg : Thank you for this extensive explanation.
I think I would be happy if:
1) There is always a warning when a new group is created who's name is NOT unique (as proposed here before).
2) There is a warning when a (previous) JabRef database is imported which does not contain unique groups. It would be best, if the position of these groups in the group tree could be indicated. Note, that thi

[2021-03-29 12:18] NicholasBian commented on #6142
Hi! We are a group of 4 students from the University of Adelaide, and we are learning to contribute to open source projects. Is anyone currently working on this issue? If not, we'd like to help with this issue. Any guidance would be appreciated. Cheers!

[2021-03-29 12:25] sauliusg commented on #7554
Agreed; a possible implementation is in the suggested in the PR #7558 (and a screenshot is present demonstrating the look-n-feel). Please have a look at the branch/screenshot how you find it.

I'm very glad that you confirm the importance of grouping for the users of JabRef, and your info volumes are impressive :).

Several ideas how JabRef could highlight duplicated groups in a convenient way:

1

[2021-03-29 18:39] JoKalliauer commented on #6223
seems to be fixed in `JabRef 5.2--2020-12-24--6a2a512`

[2021-03-29 18:49] #7524 closed

[2021-03-29 19:01] koppor commented on #7517
For me - complete screenshots to understand the issue

Export is correct:

![grafik](https://user-images.githubusercontent.com/1366654/112886213-e802e300-90d1-11eb-8e44-82495fcaa142.png)

Library properties incorrect:

![grafik](https://user-images.githubusercontent.com/1366654/112886270-fc46e000-90d1-11eb-8ba6-b8f4583e78c3.png)

[2021-03-29 19:37] koppor commented on #7351
DevCall result

- Migration has an issue @DominikVoigt.
- It seems that the entry is migrated (some magic happens) --> we need to explain the migration proecure somewhere (or add a link here)
- If the migration decides to put the last-updated date information, this information is overwritten, because the entry is modified during the migration. The migration MUST NOT flag the entry as modified to k

[2021-03-29 19:39] koppor commented on #7527
Duplicate of #7351. We identified the issue. Thank you for reporting.

[2021-03-29 19:39] #7527 closed

[2021-03-29 19:49] pvzhelnov opened #7590 "Uncaught exception when long pages in key"
JabRef 5.3--2021-03-29--2948e6d
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Set the Citation key generator pattern to: `[auth][year][pageprefix][firstpage][pageprefix][lastpage]`
2. Add to a library or autogenerate the key for an e

[2021-03-29 21:08] Ali96kz commented on #5071
@ilippert could you provide your `.bib` file? I will try to investigate it

[2021-03-29 22:12] calixtus commented on #7265
Hi @DOFfactory , we just merged a PR that should hopefully speed up parsing of Dates. Would you be so kind to test the current main-branch-build (we just renamed the master-branch), if that helped to relax the problem? Please make a backup of your data before testing a development build.

Thanks!

[2021-03-29 23:09] apurvachuri commented on #4682
Thank you @tobiasdiez. We will discuss and get back if we still have any doubts, before starting with the issue.

[2021-03-30 10:27] Ali96kz commented on #5071
Could we test it with that fix #6057

[2021-03-30 11:48] XDZhelheim opened #7598 "Refactor: reduce cyclomatic complexity"
Hi, recently I'm learning cyclomatic complexity in my SE class. And I noticed that some methods in JabRef have very high cyclomatic complexity.

Use [MetricsReloaded](https://plugins.jetbrains.com/plugin/93-metricsreloaded/) plugin of IntelliJ IDEA to calculate complexity metrics.

IntelliJ IDEA: **Analyze** -> **Calculate Metrics**, then select **Complexity metrics**.

Here are the methods having

[2021-03-30 11:49] XDZhelheim opened #7599 "Refactor: reduce cyclomatic complexity"
Hi, recently I'm learning cyclomatic complexity in my SE class. And I noticed that some methods in JabRef have very high cyclomatic complexity.

Use [MetricsReloaded](https://plugins.jetbrains.com/plugin/93-metricsreloaded/) plugin of IntelliJ IDEA to calculate complexity metrics.

IntelliJ IDEA: **Analyze** -> **Calculate Metrics**, then select **Complexity metrics**.

Here are the methods having

[2021-03-30 11:49] #7599 closed

[2021-03-30 11:50] XDZhelheim commented on #7599
Network error, gonna close this.

[2021-03-30 12:31] ilippert commented on #5071
JabRef 5.3--2021-03-29--2948e6d
Linux 5.11.10-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 16+8

Over the last two days I experienced no issues.

[2021-03-30 12:32] ilippert commented on #7450
JabRef 5.3--2021-03-29--2948e6d
Linux 5.11.10-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 16+8

I experience this issue again. but not sure whether this is systematic

[2021-03-30 12:35] ilippert commented on #7450
restarting jabref solves the issue for now.

[2021-03-30 13:16] Siedlerchr commented on #7598
Thanks for the analysis. In theory, a high cyclotomic complexity is bad
 In JabRef we try to focus primarily on bug fixes or enhancements and not solely on code refactoring for some metrics. We usually refactor then code along the way. And you always have to take thet things in context, there might be some cases in importers where there is a huge switch case because you have a bunch of different f

[2021-03-30 13:47] XDZhelheim commented on #7598
Thanks for your guidance! Honestly, I really learned a lot these days by contributing to JabRef : )

[2021-03-30 15:25] tobiasdiez commented on #7598
As Christoph said, we try to move from a code-quality-first approach to a bit more pragmatic/holistic approach, where we try to get rid of these code smells when working on new features / fixing bugs that touch the corresponding code. So it's very good that you pointed out these problems, and are happily invited to improve the problematic code when touching the code anyway. However, I don't think

[2021-03-30 15:25] #7598 closed

[2021-03-30 20:11] AEgit commented on #7554
So far sounds this good to me. The import should not matter too much in my personal case (hopefully) since I tried to make sure, that all my group names were unique (I am still forced to use 3.8.2 since I cannot use JabRef before the following feature request is implemented: https://github.com/JabRef/jabref/issues/4237).
But I thought, I should mention, since other users might not have given that

[2021-03-30 23:43] cboyce376 commented on #6197
A group of us from Adelaide University are going to work on this project over the next 4 weeks.

[2021-03-31 00:02] apurvachuri commented on #4682
Just a few more queries  and re-confirmation before we get started :)

1.    As mentioned in the previous comment, it would be good to have a ‘Add group’ button at the bottom. So, does it mean, we need to remove the ‘+’ button beside Filter Groups? Do we need to remove the ‘+’ sign which is highlighted in red.? And if not, what exactly will be different (functionality wise) in this ‘+’ button whic

[2021-03-31 06:28] sauliusg commented on #4237
I can confirm that the issue exists in the current development version and I support suggestion of @AEgit to restore the "darker display for other items" which was very useful for me as well.

[2021-03-31 08:11] tobiasdiez commented on #4682
1. Yes, the button next to the "Filter groups" field needs to be removed. The functionality of this button and the newly added one should be the same; only the location changes.
2. Add the moment the button always adds a new group at the end of the groupstree. However, I like the idea that it adds a subgroup if the user has a group selected. If you would like to add this enhancement, please go ahe

[2021-03-31 09:21] #7590 closed

[2021-03-31 09:55] Ali96kz commented on #5071
@AEgit Could you test it with that fix #7486, please don't forget to make backups

[2021-03-31 13:05] AEgit commented on #5071
JabRef 5.3--2021-03-29--2948e6d
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 16+8

The issue mentioned in https://github.com/JabRef/jabref/issues/5071#issuecomment-624073216 persists.

[2021-04-01 12:33] 2bein commented on #7517
Yes, that would be perfect!

[2021-04-02 02:25] mohit038 commented on #6177
I think fixing this issue will create another issue related to duplicate entries. Bc in the current implementation, after fetching data from the web, jabref compares those imported entries with the current context to find duplicates. If you change the library after the import, it has to compare it again, and also if the newly selected library has groups, then In which group entries should be impor

[2021-04-02 03:43] tp-1000 commented on #6177
@mohit038 I think you're right. I don't know how implementation would be but what about at least adding an undo to recover from a bad import??

[2021-04-02 07:06] sauliusg commented on #7554
In the PR that I suggest groups with repeated names should become, once again, a normal situation in JabRef databases. Thus making a popup window each time you start JabRef, even if you can "configure it away", looks like an inconsistent behaviour (why should a program stop your workflow to warn about a feature which it created itself and which fully supports?) See below for a possible idea.

A qu

[2021-04-02 07:09] mohit038 commented on #6177
@tp-1000 That's a really good idea. How about adding an undo button in the toast message.

<img width="682" alt="Screenshot 2021-04-02 at 12 29 12 PM" src="https://user-images.githubusercontent.com/62339705/113390388-3c96ae80-93af-11eb-95d7-c8e8d6e5393c.png">

[2021-04-02 12:57] AEgit commented on #7554
If the "repeated" names are mentioned in the announcement, then this would indeed already improve the situation. Note, that with the current JabRef version not having the full path is less of a problem, since you can easily filter the groups using the groups filter if you know, which groups are affected.
With the old JabRef (e.g., 3.8.2) this was not possible, since there was no such filter.
Yet,

[2021-04-02 13:49] tobiasdiez commented on #7554
Thanks for the ongoing discussion. The twitter poll clearly showed that many users would like to have groups with the same name. However, it became also clear that it might be confusing if the entries are automatically shared. In the devcall we also discussed that there are also scenarios where the groups with the same name actually don't show the same entries (e.g. if one uses the hierarchical mo

[2021-04-02 16:29] sauliusg commented on #7554
Let me think if the PR can be extended, with reasonable effort, to handle uniquely identified groups.

[2021-04-02 16:40] sauliusg commented on #7554
I agree that this is a more universal and more usual solution.

But then, more questions arise:

- what identifiers should be used? There are several options:

1. UUIDs. They are world unique (alowing users to share their grouped data without interferences), but not easily human readable, so manual editing of a BibTeX file would become cumbersome;
2. Numeric group IDs (1,2,3,...,999). Small number

[2021-04-02 16:42] sauliusg commented on #7554
In that case UUID or UUID+Group name seems the best suitable solution.

[2021-04-02 16:51] sauliusg commented on #7554
This is actually handled in the proposed PR: when you try to create a group with the name that already exists in your tree, a yellow exclamation mark appears, and a tool-tip explains what would happen if you go for it. This is proposed instead of bluntly forbidding such groups. You can decide whether yo want a duplicated group name, or whether you add more charters for disambiguation.

[2021-04-02 16:52] AEgit commented on #7554
1. Does this have any unwanted side effects when using the article search function, i. e. will "groups = Temperature" (assuming you have a group named "Temperature") still work? Or does the user now need to know the unique identifier?
2. Similar question: Will the group filtering be unaffected by this change?

[2021-04-02 16:54] sauliusg commented on #7554
Since a user would be warned when creating groups with the repeated name, the confusion should be minimised.

I have experimented for a while with the code in the PR #7558 branch, and to my taste no confusion ensues; more confusion actually arises from the Issue #7576, IMHO... :)

[2021-04-02 16:56] AEgit commented on #7554
Ok, if this works rock-solid, then there should be no problems, except for (a) older databases, as discussed before, or (b) users that change their opinion in regards to unique groups.
(a) So basically only someone, who has an older database, requires unique groups, but is not aware that the older database currently does not meet the requirements, would need help from JabRef in finding those or (b

[2021-04-02 16:59] sauliusg commented on #7554
This is a actually a good question: when I search for "Temperature", should *all* entries in groups called "Temperature" be included?

Hmmm... Probably groups should still be filtered by names, not by IDs?

[2021-04-02 17:03] sauliusg commented on #7554
What if we look at the situation at the different angle (and this is probably a more correct description):

under the proposed PR #7558, the group names are *still* unique, but you are allowed to have the same group in different parts of the tree :). As a in the Unix hard link example.

This, for sure, dos not hold for non-leaf groups of the "union" type, but for me this is desired behaviour.

[2021-04-02 17:06] AEgit commented on #7554
I think so, but since I intend to keep unique group names, I am not so sure about what people want with the actual user case. I reckon if you want both options, you could have one groups field and one ID field. People who want to find all entries in groups called "Temperature" search for groups, others use the ID (problem there is still that users will need to know the ID).

Agree, should be filte

[2021-04-02 17:24] tp-1000 commented on #6177
@mohit038 Seems like if it was set up to handle undo it would make sense to take advantage of the existing architecture – the mainMenu or Keyshort cut. Toast only last so long and could be missed.

[2021-04-02 18:20] tobiasdiez commented on #7554
I suggest we accept that we loose manual editing and would go for uuid's. The user experience can be improved afterwards by using a tag-based interface, for easy management of groups from the entry editor.

I'm not sure why you would like to search for `groups = ...`. In this case it's probably easier to just select the group in the tree... Let's not worry about this too much until users report th

[2021-04-02 18:43] AEgit commented on #7554
Well, I use this all the time, since finding the group in the tree takes much longer if you have to go through thousands of groups. So, this is a real use case.

[2021-04-02 22:21] abiy-tasissa opened #7605 "Copy pasting freezes jabref"
On Windows 10, JabRef 5.2 freezes (unable to respond), when trying to paste onto the search box. I have no similar issues with 5.1, which I reverted to due to this behavior. The version for java is: version 8 update 281

[2021-04-02 22:44] Siedlerchr commented on #7605
Thanks for the report. This issue is fixed in the latest development version. https://builds.jabref.org/main/

[2021-04-02 22:58] abiy-tasissa commented on #7605
Thank you! I will check the latest version.

[2021-04-03 05:22] sauliusg commented on #7554
This does not sound good at all:
1. The 'group = ...' searches will no longer be meaningful or easy – a use case demonstrated by AEgit;
2. This would essentially revert a design decision taken in #629 and negate the very first advantage listed there: "One could easily see the groups an entry belongs to and could change them by hand. Related SF 868 and SF 750"
3. The entries would no longer be usab

[2021-04-03 05:30] sauliusg commented on #7554
A a side note: as far as group/file sharing goes, this problem we solved at my site once and for all, by simply using an SVN repo for storing bibliographies. This solution works perfectly since 2008, and Subversion gives numerous advantages: a) unlimited undo b) full history of changes c) synchronisation (with automatic merges!) on different computers, for different users, and even in different di

[2021-04-03 06:39] sauliusg commented on #7554
Well, I can not promise that it is "rock-solid" ("no warranty" disclaimer, as always :); but I have now tested my branch for quite a while and things work as expected; I also do not see any big dangers ahead since, as I have mentioned, the proposed PR #7558 is a conservative extension, it does not change the current design of the groups, just allows to use more features in it.

People who read old

[2021-04-03 07:08] sauliusg commented on #7554
These are hard choices. May I suggest the following roadmap for group interface:

1. We take, as a quick temporary fix, the PR #7558 , *with* the enhancements suggested by @AEgit , namely with a dashboard line indicating how many repeated (duplicated) groups are there in the database, and possibly with a button to show all these groups. I take responsibility to enhance the PR #7558 in the suggeste

[2021-04-03 07:36] sauliusg commented on #7554
On a third thought, it seems that there is a way to introduce UUIDs without loosing editability:

1. UUIDs *and* group names are added to ' StaticGroup:' lines;
2. Bibtex entries retain names; if names are unique, they are not changed (UUID is not appended);
3. If names in entries are not unique, they are disambiguated automatically using UUID appended in braces (e.g. `Languages(36592084-944f-11eb

[2021-04-03 09:04] crystalfp commented on #6534
Nice. Seems solved in JabRef 5.3--2021-02-15--edcd711
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 15.0.1+1

[2021-04-03 09:06] crystalfp commented on #6896
Just FYI, seems solved in JabRef 5.3--2021-02-15--edcd711
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 15.0.1+1

[2021-04-03 09:25] sauliusg commented on #7010
A quick lookup in http://www.bibtex.org/Format/ hints that "When quotation-marks are used, string concatenation using # is possible, but not when braces are used.". This can be interpreted in such a way that hash characters ('#') SHOULD be left unmodified in values delimited by '{}'. Apparently this was the behaviour of the previous JabRef version, wan't it?

If so, values in '{' could be parsed w

[2021-04-03 10:00] sauliusg commented on #7010
Just tested: disabling string resolution for the 'abstract' field works; however, the fields in the text entry field need to be separated by semicolon, not by space:
![Screenshot from 2021-04-03 12-51-24](https://user-images.githubusercontent.com/10668420/113475029-f1969d00-947b-11eb-8e8a-74bad3cff1b3.png)
Tested on the commit 1d1156f9e in https://github.com/JabRef/jabref.git, and on v5.3.

[2021-04-03 10:00] tobiasdiez commented on #7554
https://github.com/JabRef/jabref/issues/7554#issuecomment-812814351 These are all valid concerns. But most of these disadvantages can be taken care of by a more advanced implementation. For example, search for `groups = ...` can look up the groups by name, and then search for the entries that have the corresponding group-identifier. Similarly, before sharing (e.g. export) one could replace the gro

[2021-04-03 10:06] sauliusg commented on #7554
If people will create groups with duplicate names, even after being warned, this means that they need such groups. Why not supporting this workflow?

For eventual migration to groups with IDs, I have outlined migration strategy above; it seems to be simple and to maintain smooth transition. Sure one needs to be cautious, but there seems to no unsurmountable difficulties on this path.

[2021-04-03 10:07] sauliusg commented on #7554
More advanced implementation inevitably means more complicated, has chances to more bugs, and takes more time to implement.

As you surely know: the cheapest, fastest and most reliable software components are those that are absent :)

[2021-04-03 10:12] tobiasdiez commented on #7554
I really would like people to have groups with duplicate names. It's just that I feel this should be properly implemented instead of using a temporary workaround that makes the proper implementation harder.

[2021-04-03 10:18] sauliusg commented on #7554
My argument would be that on one hand the proper implementation will not be made (much) harder by the suggested change; on the other hand, a quick fix now would enable users to continue working on their databases, while at the same time developers could design and implement group update without hectic, in parallel.

[2021-04-03 10:31] Siedlerchr commented on #7010
So it's sufficient to  add comment and abstract to the list ofdefault fields

[2021-04-03 10:33] sauliusg commented on #7010
Seems like this would be a functional workaround. I'm testing right now the setting with 'abstract' and 'note' included; will add 'comment' as well. So far everything is working as needed, at least for me.

[2021-04-03 10:49] sauliusg commented on #7010
Confirmed: when 'comment' is added to the 'Resolve strings for all fields except:' list, Markdown is saved and read in correctly.

[2021-04-03 11:10] sauliusg commented on #7010
The suggested workaround helps against tampering with `#` symbols, but entering text with curly braces into a comment or notes text box causes parser issues again:
1. If I add an unbalanced curly brace into comment, a syntax error is reported;
2. If I add balance but reciprocating curly braces (like in `}{`), they are written to the bibtexfile unescaped and then lost upon second parsing;
3. If a s

[2021-04-03 11:33] Siedlerchr commented on #7010
Curly braces are more complicated as JabRef uses them to detect fields and entry boundaries etc.

[2021-04-03 14:34] sauliusg commented on #7010
BibLaTeX forum seems to have an answer (https://tex.stackexchange.com/questions/230750/open-brace-in-bibtex-fields): you can encode `{` and `}` characters by using either `\{\vphantom{\}}` and `\vphantom{\{}\}` sequences, or by using `\textbraceleft{}` and `\textbraceright{}` commands. The backslash itself should be encoded as `\textbackslash{}` in both cases. The Biber bug mentioned under the abo

[2021-04-03 14:47] sauliusg commented on #7010
Except that now I see one problem – what if a user _wants_ to put a LaTeX command into the comment? Escaping would prevent this. Two solutions are possible:

1. Have as special interface gesture (e.g. right-click-menu-"insert TeX command") to insert unquoted TeX commands, and render them differently (say on a grey background); this is consistent and "user-friendly" but complicated;
2. Do not escap

[2021-04-03 15:37] Siedlerchr commented on #7010
We have a cleanup formatter for escaping Latex, Latex Cleanup, that does several things, for example escaping a % sign-in a latex compatible way

[2021-04-03 16:09] sauliusg commented on #7010
That's good news :). Cold the Latex Cleaner also escape lone `},{` instances so that they do not cause corrupted database files when saving?

[2021-04-03 19:15] k3KAW8Pnf7mkmdSMPHz27 commented on #7010
I thought this referred to that the `#string#` syntax is JabRef specific syntax and not part of BibTeX?  Isn't `#` only the "concatenation character" symbol for BibTeX?
As usual, I can't find any good reference for this but BibTeXing by Oren Patashnik mentions that,

[2021-04-03 19:17] Siedlerchr commented on #7010
There are some examples https://docs.jabref.org/advanced/strings

[2021-04-03 19:45] k3KAW8Pnf7mkmdSMPHz27 commented on #7010
It is not clear to me if I am misunderstanding something, but isn't the answer to this question "no"? I.e., __BibTeX__ strings/constants inside of `{`/`}` are not processed/expanded, but __JabRef__ strings are.

I believe that supports my claim, but I am not sure. 😛

[2021-04-03 19:52] Siedlerchr commented on #7010
My proposed solution would be:
1. Add comment and abstract and maybe notes? to the list of fields that should not use BibtexString escaping by default.
2. Create a prefs migration
3. Document the changes

[2021-04-03 20:30] DOFfactory commented on #7567
I think I was able to identify the culprit. On one of the `.bib` files the Field Formatters were set to enabled. As soon as I disabled it, after 24+h the RAM use remained ~700MB. I think it is therefore related to issue #7265

What is happening, as far as I can identify, is that as soon as Field Formatters are turned on a `.bak` file is created, and somehow the autosave option keeps ramping up the

[2021-04-03 20:34] Siedlerchr commented on #7567
Thanks, we are currently in the progress of fixing issues with the save and autosave options, will keep an eye on it

[2021-04-04 02:45] abiy-tasissa commented on #7605
@Siedlerchr Thank you for the help, I have used the latest development version and the freezing issue is no longer a problem.

[2021-04-04 02:45] #7605 closed

[2021-04-04 05:59] AEgit commented on #7554
From a user perspective this roadmap sounds like a good plan.

[2021-04-04 06:05] AEgit commented on #7554
I reckon one problem here could be, that user initially (mistakenly) ignore the warning and only later in realize, that they actually wanted unique groups. Yes, that would be a user mistake - but it is something to think about. Fortunately, you already outlined an approach to deal with this issue: If the non-unique groups are flagged and the groups can be filtered to show the non-unique ones, then

[2021-04-04 06:13] sauliusg commented on #7554
Correct, the non-unique groups should be indicated, and I would implement this in the PR if we get a go from developers :).

When discovered, duplicated groups can be renamed without loss of information – this already works in the current PR (tested in several different situations). Entries assigned to the original group stay in that group, and you have a choice whether to include the same entries

[2021-04-04 06:16] AEgit commented on #7554
I would agree with that - people, who already need this functionality, would have immediately access to it. Given, that as @sauliusg points out, this is technically already part of JabRef (it is just the GUI that forbids creating non-unique groups), the resulting changes to JabRef appear minor.
At a later stage, an improved solution as proposed by @tobiasdiez could be implemented - but this might

[2021-04-04 06:26] sauliusg commented on #7554
@tobiasdiez Regarding migration plan to truly unique groups with names in the entries (i.e. user-editable):

The UUID would always be a *suffix* with distinct syntax. Therefore, it is always possible to include a name that *looks* like it has UUID at the end – just add the true UUID as a suffix. E.g.:
`Uuid like group name (68a0a878-950d-11eb-b17b-ef8af80ecb58)(63f1d8d9-7505-4dde-af90-8a83642fbc33

[2021-04-04 06:27] AEgit commented on #7554
This only came to my mind later on and it is not directly related to the problem at hand (so, if this goes too much off-topic, maybe we should bring this discussion elsewhere): but, does a tag-based interface reflect the hierarchy that groups provide?
E.g., let's say I have the main group "Physics" and the subgroups "Temperature" and "Mass". If an article is assigned to "Temperature", I reckon its

[2021-04-04 06:49] sauliusg commented on #7554
A very good point – and fortunately, the current JabRef group design handles this nicely.

No, you do not need to assign sub-tags :). What you need to is to declare the "Physics" group to be a "union" group (i.e. set "Hierarchical context" to "union" (see the attached image)). Then you can create groups "Temperature" and "Mass", and place them as subgroups of "Physics". This latter fact is recorde

[2021-04-04 07:07] AEgit commented on #7554
Sorry, I might not explained this well. I had the impression that @tobiasdiez was planning to add a tag-based feature which should replace the current groups hierarchy. That is where my questions are coming from.

What I have been using so far, was the global union/intersection settings (they were available in 3.8.2 so - I hope - they are still available in the current version 5).
This allows the

[2021-04-04 07:39] sauliusg commented on #7554
Oh I see! I misunderstood you, sorry. No, the group tree is implemented in 5.x, and, AFAIU, there are not plans to remove it... (are we right, @tobiasdiez ?)

Works in 5.x and in PR #7558.

Works as above, except for a "union/intersection" toggle bug (you need to restart the JabRef for your change to take effect).

Works, depending on the global settings and on the "Physics" "Hierarchical context"

[2021-04-04 08:43] sauliusg opened #7606 "Seaching for bibliographies and importing them triggers uncaught java.lang.IndexOutOfBoundsException"
JabRef version 5.2, 5.3, commit badffe9ae in 'master' on LinuxMint-19.3, Linuxmint-20.1  -->

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When search for literature (say in ArXiv) and the importing entries, an uncaught exception is triggered. This behaviour is not always present, but can be reproduced after searc

[2021-04-04 09:26] Siedlerchr commented on #7606
Threading issue with the biblatex cleanup action which is run after import. It somehow triggers listener in the UI which are not run on the FX thread

[2021-04-04 10:14] tobiasdiez commented on #7554
The groups tree stays of course! My idea was to replace the `groups` field in the entry editor (which right now is only a text box) by tags that show the group name and on hover the complete path of the group.

Concerning the future steps, how would the migration to an id-based system look like after we allowed groups with duplicate names? Right now we can assume that the information in the groups

[2021-04-04 11:31] sauliusg commented on #7554
Migration after the proposed PR will be just as easy as in the case of "unique" group names. The point is that the groups with identical names are still *unique*, in the sense that they contain, by definition, the same entries. So you have two options when migrating:
1. either add the *same* UUID to the "duplicated" groups (or, rather, the same group represented in multiple place in the group tree

[2021-04-04 11:34] sauliusg commented on #7554
That's very reassuring! :)

This can be done in any group representation, even after the PR #7558 – for groups that are present several times in the group tree you could just show all their locations, one location per line :)

[2021-04-04 11:39] tobiasdiez commented on #7554
That's not gona work. The point of having id's was that they uniquely identify a group...otherwise what's the point?

That's my point: we allow now duplicate group names, but they will behave differently (and more correctly in my opinion) after the migration to the id approach. Sorry, but I don't see the advantages. To be honest, in the we now spent discussing this, one could have easily implement

[2021-04-04 12:08] sauliusg commented on #7554
To me, this was a very unfortunate decision. It rendered the group mechanism unusable for my purposes (lost all group assignments that I had), and I am very upset each time when I see the deactivated OK button in the group creation dialogue, even more so since I know that this restriction is completely unnecessary, and even checked this statement in practice on my JabRef clone :).

May I quote ano

[2021-04-04 12:11] sauliusg commented on #7554
It will work the same way as it works now.

The point in having UUIDs would be to help users have different groups in different parts of the tree that have identical names.

[2021-04-04 12:18] AEgit commented on #7554
Cheers, that is re-assuring. I am still not sure, as to how this is going look and/or what the benefits are (the good thing at the moment is, that groups can easily be modified in any text editor), but probably this is something the user needs to see in action to understand the advantages.

[2021-04-04 12:21] sauliusg commented on #7554
The advantage is outlined in my timeline description above.

Could be, but I do not see how. When I claimed three weeks ago that I think one can allow identical group names safely and conveniently in just a few lines of code, I then made code that demonstrates this (#7558). I do not see how I can make an UUID based solution in a comparable time with a comparable effort. You know JabRef code much b

[2021-04-04 12:35] AEgit commented on #7554
I reckon @sauliusg point is that his solution will just enable something, that is already implicitly possible with the current JabRef version (either by using old databases or by editing the database manually in a text editor). As such, it does not pose a major change in the implementation of JabRef. The ID based approach, on the other hand, requires major thinking on its potential downstream effe

[2021-04-04 12:40] sauliusg commented on #7606
Update: the exception is triggered stably only when searching ArXiv, both with and without file download.

Search other bibliography repositories (Medline, Crossref, DBLP, CiteSeerX) mostly goes without an exception.

[2021-04-04 14:03] BPollicino opened #7607 "JabRef 5.2 not starting properly..."
Hi everybody, I'm using JabRef 5.2 in combination with TeXStudio. It worked without any problems until last week. When I start JabRef either via Desktop Shortcut or from a *.bib file, it shows up in my taskbar and i can see a window of JabRef after pressing Win+Tab but i can't see the window anywhere. I already checked if it maybe slipped onto a 2nd desktop or if I can push it to my desktop by nav

[2021-04-04 15:07] apacha opened #7608 "Column Width goes crazy - Program becomes completely unusable"
JabRef version:

JabRef 5.2--2020-12-24--6a2a512
Mac OS X 10.16 x86_64 (same behavior on Windows)
Java 15.0.1

I have a massive issue with JabRef and changing the column width, see this Video for what is happening:

https://www.youtube.com/watch?v=dDVWWaa23f0

Steps to reproduce the behavior:
1. Type something into the search box
2. Change column width
3. Program goes nuts

Can anyone help me!? I

[2021-04-04 16:22] Siedlerchr commented on #7608
Hi, as stated in the issue template, please always try the latest dev version from https://builds.jabref.org/main/
Remember to make a backup of your library before trying out the new version

[2021-04-04 16:22] #7608 closed

[2021-04-04 16:42] Siedlerchr commented on #7606
I think I found the root cause:
The CompositeSearchBasedFetcher performs the ImportCleanup Operation, doPostCleanup which calls the coConvertToBibtexCleanup cleanup action which in turns calls entry.ClearField() and this triggers UI Bindings.

The key problem is that peformSearch is itself executed in a Background Thread.
The importCleanup has to be executed after the fetching in the onSucceeded.

[2021-04-05 06:55] calixtus commented on #7607
You could try to reset all the user preferences by using the command line argument `-d all`. This should restore the jabref preferences to the default values. Your database shouldn't be affected, but as ever: please always backup your data.

E.g. `jabref.exe -d all`

[2021-04-05 08:59] BPollicino commented on #7607
Hi calixtus, thank you for your answer. Resetting the defaults did not work but it pointed me into the right direction. Somehow the window was stuck outside my screen. I was now able to bring it back by holding Shift and right-click on the taskbar icon to choose "Maximize" and it reappeared!

In case somebody has the same problem, I'll attach the link.

https://www.technipages.com/bring-off-screen

[2021-04-05 08:59] #7607 closed

[2021-04-05 21:15] #7517 closed

[2021-04-05 21:16] Siedlerchr commented on #7517
Now merged. Please note that the latest branch is now called "main" instead of master

[2021-04-06 12:27] mlep commented on #7517
Works fine, great!

[2021-04-06 14:59] NRJank commented on #5941
just confirmed with latest 5.3 build that the behavior is unchanged on windows, following same test steps I listed in Issue #6935

[2021-04-07 15:26] funnym0nk3y opened #7613 "Assign color automatically to group"
**Is your suggestion for improvement related to a problem? Please describe.**
When creating a group I don't care what color the group has as long as it is clearly distinguishable from the other group colors.

**Describe the solution you'd like**
I'd like to have an option to assign a group color automatically. If the colors could be selected from a pallette with the greatest distance (eg HSV color

[2021-04-08 10:58] JulianReitz opened #7614 "Different problems when (trying) to open a library"
Windows 10, JabRef 5.2

When I open a .bib file in windows explorer, jabref opens but does not open the bib file.

When I open jabref and try to drag and drop the bib file to the jabref GUI, I get error messages in the moment I move with the cursor to the GUI (not only when I try to drop the bib file but allready when I move over the GUI).
The error messages is at the end of this post.

The only w

[2021-04-08 11:02] Siedlerchr commented on #7614
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-04-08 11:11] JulianReitz commented on #7614
Thank you for the fast response and for sending the development build. With
this version, I no longer get an error when doing drag and drop, but I
still can't open a bib file from the explorer using doubleclick or
rightclick -> open / open with.

Am Do., 8. Apr. 2021 um 13:02 Uhr schrieb Christoph <
***@***.***>:

[2021-04-08 16:50] #7337 closed

[2021-04-08 16:50] Siedlerchr commented on #7337
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-04-09 02:00] jpdehollain commented on #7337
Works great! Thanks for implementing this @BJaroszkowski  and @Siedlerchr

[2021-04-10 20:55] koppor commented on #7554
I think, our different branches should cover that request. We aim for reducing the number of preferences and keep the number testing candidates small. We even cannot catch up with the current PRs; thus there IMHO is no chance to maintain a beta version. Maybe, if some developer jumps in ^^

[2021-04-11 09:03] ytzemih opened #7615 "Exception thrown while JR-LibreOffice connection updates references in the ODT document"
JabRef 5.3--2021-03-29--2948e6d
Linux 5.8.0-48-generic amd64
Java 15.0.2
JavaFX 16+8

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behaviour:
1. Open multi-page LibreOffice document with 30+ references and connect with JR
2. Add further reference
3. JR updates all references and re-generates th

[2021-04-11 12:44] ilippert opened #7616 "SSLHandshakeException"
JabRef 5.3--2021-03-29--2948e6d
Linux 5.11.11-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 16+8

I asked an entry to download the file https://www.serbski-institut.de/os/dnlarchiv/Kleine_Reihe_27_web.2217.pdf and got this error message.

for SSL certificate issues, I would suggets allow the user to add an exception, like a browser would do?

<details>
  <summary>Log File</summary>

[code]
</details>

[2021-04-11 17:23] stefan-kolb commented on #7616
Reproducible. Browser does not complain.

[2021-04-11 18:11] Siedlerchr commented on #7616
Probably some certificates missing in the Java version

[2021-04-11 19:37] mlep commented on #6940
The issue still persists.

[2021-04-11 19:50] tobiasdiez opened #7618 "Shared data synchronization"
With the upcoming implementation of an online version for JabRef, we face the issue of synchronizing data across multiple devices (and eventually different users).

# Setting
- S1: One user, multiple devices: One user may have different devices with JabRef installed and would like to sync the library across all devices. A device may go offline at any point and may reconnect at a later time. JabRef

[2021-04-11 20:26] koppor commented on #7618
The change is not rejected, there is a merge. In case user1 modifies fieldA and user2 modifies fieldB, both updates go in. If both modify fieldA, there is the "resolve conflicts" dialog shown. Similar to git, if one modifies the same line of code.

One could implement something more intelligent here, if domain-specific knowledge is used. For instance, if an author is added by user1 and user2, the

[2021-04-11 20:42] tobiasdiez commented on #7618
Thanks @koppor, apparently I misread the code a bit. So what happens if the user is offline, changes something, and later goes online. When is the version counter incremented, and how do you recognize that there were changes to the local database in the last session?

[2021-04-11 22:55] koppor commented on #7618
Side comment: We can try the effects with a shared Postgres instance. See https://docs.jabref.org/collaborative-work/sqldatabase#try-it-out for details.

I assume the tool is not crashing. (If we discuss crashing, we need a local database storing the local id). I hope, I recall everything correctly; otherwise, I would need to buy the [POSA book](https://www.amazon.de/Patterns-Enterprise-Applicatio

[2021-04-11 22:56] koppor commented on #7618
All records need to be updated where `first-number != local-number`. (Where `local-number` is `first-number++` when the record is updated locally)

[2021-04-12 05:47] koppor commented on #7618
Small note: Back in 2016, we did not have the concept of ADRs at hand. Everything discussed was between @obraliar and me. This synchronization concept was developed in the "StuPro 2015/2016". - It just came into my mind that the key/value field storage is one consequence out of that: With having a version on each field, JabRef knows whether the field was updated remote. Thus, we know whether we ha

[2021-04-12 08:27] tobiasdiez commented on #7618
Thanks Olly. I think I understood the algorithm. But I have trouble seeing how it works if not all changes are immediately pushed to the server. Start with some entry, at version = 0. Say you are offline and remove a field, close JabRef (version is still 0 since it was not yet transmitted to the server, right?). In the meantime someone else modifies the entry on the server, so that there version =

[2021-04-12 12:23] Ali96kz commented on #7441
@koppor  Could be closed?

[2021-04-12 12:28] #7441 closed

[2021-04-12 18:13] #7554 closed

[2021-04-12 19:49] wujastyk commented on #6696
I understand now that ARK is not a system for fetching BibTeX data (like DOI).

But I still think it should not be impossible to do something less ambitious in JabRef in order to get an ARK link appearing and live in the Linked Identifiers column of the database display.  (I.e., putting the resolver URL, http://n2t.net on the front of the data from the eprint field.)

I think entering ark referenc

[2021-04-12 19:53] calixtus commented on #5842
This should provide a quick start on the changes necessary: https://github.com/JabRef/jabref/compare/main...koppor:fix-5842

[2021-04-12 20:14] #7366 closed

[2021-04-12 20:17] Siedlerchr commented on #7366
Thanks to @tp-1000 this is now implemented in the latest **main**
https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-04-13 09:22] AEgit opened #7624 "Question: Installation of current dev version"
The JabRef webpage https://www.jabref.org/#download currently links to the "Master" branch for the latest development version (
https://builds.jabref.org/master/). That version, however, is from 29/03/2021. The version on the "Main" branch, on the other hand, is from 12/04/2021 (https://builds.jabref.org/main/). Is the "Main" branch supposed to represent the new master development branch? Or is th

[2021-04-13 09:41] Siedlerchr commented on #7624
Thanks for your feedback. We recently renamed "master" to [main](https://github.com/github/renaming) . So the "main" is always the newest one. However, we forgot to rename the terminology at the builds.jabref.org

cc @koppor can you update the builds.jabref.org index ?

[2021-04-13 09:42] AEgit commented on #7624
Cheers!

[2021-04-13 09:42] #7624 closed

[2021-04-13 13:53] sankayop commented on #6744
Hi there,
same as @ilippert  here.
JabRef 5.3--2021-02-01--8c3424c
Linux 5.11.6-1-manjaro amd64
Java 15.0.2
JavaFX 15.0.1+1

No error is visible concerning this in the terminal.
Thanks for your help :)

[2021-04-13 17:01] wujastyk commented on #7526
JabRef 5.3--2021-04-12--e3094ac
Linux 5.4.0-71-generic amd64
Java 15.0.2
JavaFX 16+8

I am seeing an exception when I merely click on a Selected preview style.  I don't have to do any more than that.  No editing or anything.

![image](https://user-images.githubusercontent.com/762246/114590675-4e494300-9c46-11eb-88d1-d50386fc091a.png)

[code]

[2021-04-13 18:32] panklucznik opened #7627 "Proxy authentication problem"
JabRef 5.3--2021-04-12--e3094ac
Linux 5.10.0-5-amd64 amd64
Java 15.0.2
JavaFX 16+8

I use a university proxy to access paywalled scientific journals.
When I try to use it within JabRef, it doesn't authenticate.

Steps to reproduce:

1. Set proxy server, port, username and password
2. Try to download fulltext
3. Download Failed

java.io.IOException: Unable to tunnel through proxy. Proxy returns "HT

[2021-04-14 16:39] Qiming-Liu commented on #6601
Thanks a lot. That's really helpful. Currently is there any code in JabRef about modify the order, width, show/hide of  TableColumns?

[2021-04-14 22:49] wujastyk opened #7629 "Character encoding problem in bibtex source display"
JabRef version  on
JabRef 5.3--2021-04-13--ed2b096
Linux 5.4.0-71-generic amd64
Java 15.0.2
JavaFX 16+8

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

The character encoding in the "bibtex source" display isn't UTF8, or else doesn't use a fully-populated Unicode font.

Steps to reproduce the behavior:
1. Enter data i

[2021-04-15 05:29] apurvachuri commented on #4682
Hi,

We are trying to implement the part where once a few groups are added in the SidePane, we need to make the "Add Group" button dimmed or less intuitive.

<image src="https://user-images.githubusercontent.com/42309636/114818187-7e394780-9dfa-11eb-88b7-6dcbe974355b.png" width="500" height="500">

**Question:** How do we determine this part where after a certain number of groups are added, the bu

[2021-04-15 07:16] MrGhabi commented on #5850
Hi, I'm interested in this issue, and I think I have reproduced this bug.

The main reason for this bug is the check-tools `Check integrity` only accept the charset ASCII. It works well in English citations, but  **jabref** has users worldwide and has different charsets. Here are Steps to reproduce:

1. New library

2. New article

3. BibeTx source adds the following:

[code]

4. click "check inte

[2021-04-15 07:30] Siedlerchr commented on #5850
@MrGhabi  Thanks for your interest. JabRef fetches the journals from the https://github.com/JabRef/abbrv.jabref.org repo which are then assembled to a MV database
https://github.com/JabRef/jabref/blob/main/buildSrc/src/main/groovy/org/jabref/build/JournalAbbreviationConverter.groovy

[2021-04-15 08:37] MrGhabi commented on #5850
Thank you~

[2021-04-15 08:39] tobiasdiez commented on #4682
Dimming the button after say 10 groups seems to be the easiest solution, and is completely satisfactory in my opinion. The point was to educate a new user "this is how you add groups" and once she understood that, the button can be dimmed.

[2021-04-15 12:52] shat07 opened #7631 "Web search not working"
Web search fetcher not working suddenly. In day it was working fine.  Please help urgently.

![scrshot](https://user-images.githubusercontent.com/50617012/114871998-7f2ca200-9e17-11eb-81b0-a8819d85768f.png)

[2021-04-15 15:12] dbitouze opened #7632 "Width of some fields in the "Optional fields" tab are too narrow,"
JabRef version 5.2 on Linux Mageia 8:

- JabRef 5.2--2020-12-24--6a2a512
- Linux 5.10.27-desktop-1.mga8 amd64
- Java 15.0.1

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

As shown by the following screenshot, the width of some fields in the "Optional fields" tab are too narrow: it is impossible to check what has been

[2021-04-15 17:23] Siedlerchr commented on #7632
Thanks for the report. This is a duplicate of #6901
There is a workaround https://github.com/JabRef/jabref/issues/6901#issuecomment-691518479
You an also display Preview as new tab

[2021-04-15 17:23] #7632 closed

[2021-04-15 17:35] vlawhern opened #7633 "Unable to download arXiv PDFs if Title contains curly brackets"
JabRef version 5.2/5.3 (developmental) on Ubuntu 18.04 with the portable binary

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists
- I've tested this on the following build and the bug persists: https://builds.jabref.org/main/JabRef-5.3-portable_linux.tar.gz

JabRef is unable to download arXiv links if there are curly brac

[2021-04-16 19:45] Siedlerchr commented on #6154
As we have now certs for Jabref e.V. We could release 5.3 also in the app store.
Will require additional signing

[2021-04-17 08:16] jspitz commented on #7378
Same for `xdata`-inherited fields with biblatex.

[2021-04-17 08:56] jspitz opened #7637 "CSL editor string placement"
JabRef 5.2--2020-12-24--6a2a512
Linux 5.11.12-1-default amd64
Java 15.0.1

- I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. Select a CSL style such as "Chicago Manual of Style 16th edition (author-date)" or "Unified Stylesheet for Linguistics"
2. Select an entry with Editor field (e.g., collection)
3. Th

[2021-04-17 10:15] Siedlerchr commented on #7637
Thanks for your report. I could reproduce this JabRef uses https://github.com/michel-kraemer/citeproc-java to parse the CSL styles. So you should report your issue there as well

[2021-04-17 14:24] Siedlerchr commented on #7629
Can you please provide the bibtex code or otherwise a DOI or whatever so we can get the original characters right?

[2021-04-17 14:45] wujastyk commented on #7629
@WWW{devibhagavata-2021,
  date    = {2021-03-04},
  title   = {देवीभागवतपुराणम्/स्कन्धः ०८/अध्यायः १५},
  urldate = {https://tinyurl.com/xzcsmtc},
}

[2021-04-17 14:56] Siedlerchr commented on #7629
Thanks, under mac this looks fine
<img width="925" alt="grafik" src="https://user-images.githubusercontent.com/320228/115117181-95646a80-9f9d-11eb-9c94-e03c24481b62.png">

Might be some linux related font issue in the code area implementatin or so.
Because the entry in the table seems to look right

[2021-04-17 15:06] koppor commented on #7351
Note on the issue: When the date could not be parsed, the current date is taken.

@ilippert Could you provide us an example of the date entry used in your case?

[2021-04-17 16:13] wujastyk commented on #7629
Yes, that display is correct.

I'm using Linux Mint+Cinnamon, everything up to date.

I've just tried switching to differen system Mono fonts but that seems not to affect the font displayed in the bibtex source window in Jabref.

[2021-04-18 11:38] tobiasdiez commented on #7618
I thought a bit more about it and came to the realization that the "vector clock" solution is a bit more complicated than what we need. If we have a star architecture, then every sync goes via the central server. Thus, a client doesn't need to know the local version of another client (which is what the vector clock gives). Instead, it suffices for the client to keep track of local updates relative

[2021-04-18 13:07] Pikayue11 commented on #7633
Hi,  I think I have reproduced this bug and I'm intersting in this issue, could I try to fix it?

[2021-04-18 13:35] Siedlerchr commented on #7633
Sure, go ahead.

[2021-04-18 13:41] Pikayue11 commented on #7633
Ok, thanks!

[2021-04-18 14:01] ilippert commented on #7351
I think the format was
`  timestamp = {2017-04-28},`

[2021-04-18 16:17] sankayop commented on #4877
did not work for me.
JabRef 5.3--2021-02-01--8c3424c
Linux 5.11.10-1-manjaro amd64
Java 15.0.2
JavaFX 15.0.1+1

[2021-04-18 16:20] Siedlerchr commented on #4877
Can you test this version? https://builds.jabref.org/pull/6694/merge/
Even with autosave enabled it should work

[2021-04-18 16:30] sankayop commented on #4877
Sorry, I got the same issue with this version.
JabRef 5.3-PullRequest6694.302--2021-04-11--161b10d
Linux 5.11.10-1-manjaro amd64
Java 15.0.2
JavaFX 16+8

[2021-04-18 17:11] Siedlerchr commented on #4877
@sakayop Can you please click on Review changes and tell what has changed? This would give me ahint
Maybe the Timestamp?

[2021-04-18 17:26] wujastyk commented on #4877
JabRef 5.3--2021-04-16--bb29bae
Linux 5.4.0-72-generic amd64
Java 15.0.2
JavaFX 16+8

Just to say, I'm getting this old problem a lot the last week or two, more
than previously.  I'll try to send some diagnostic data next time it
happens.

[2021-04-18 17:42] Siedlerchr commented on #4877
@wujastyk  Can you also try the linked version above and click on review changes when it comes and tell what it says?

[2021-04-18 17:45] sankayop commented on #4877
@Siedlerchr Sorry for the late reply, I was eating :)
It happened that I added a timestamp before saving and having the review changes. So complicated to say...
I also tried to discard the change and severla entries (that I have not changed) have been deleted!?
![image](https://user-images.githubusercontent.com/23059127/115155085-8dc8c280-a07e-11eb-92f1-e6b80550afa5.png)

[2021-04-18 17:49] sankayop commented on #4877
ok, so I closed everything without saving, then reopened, edited a comment field and saved.
Once more review change and this case, Jabref asked to delete nearly 200 entries (cf. above).
Getting more and more weird...?

[2021-04-18 17:52] sankayop commented on #4877
(for info, I also have all these errors when opening via the terminal but I'm pretty sure these were already there before and are not per se related neither to this issue, nor to Jabref implementation but more to my setup...)
[code]
I just put it in case, it would give any hint?

[2021-04-18 18:00] sankayop commented on #4877
Still another info,
I open jabref, modify only one word in one abstract field, save, dismiss the review, close jabref, reopen and the modification in the abstract is effective.
sorry for the spamming

[2021-04-18 18:06] Siedlerchr commented on #4877
Thanks for the feedback. Seems like I have to take another look at that saving. Do you have any save actions defined in cleanup?

[2021-04-18 18:08] sankayop commented on #4877
Sorry, I don't understand your question, what do you mean by "in cleanup"?

[2021-04-18 18:09] Siedlerchr commented on #4877
Sorry I was confused by myself. I mean the LIbrary Properties -> Save actions -> field formatters . Do you have any of them activated?

[2021-04-18 18:12] sankayop commented on #4877
LIbrary Properties -> Save actions -> field formatters: "Enable field formatters" is not enabled in my case. Should I enable it?

[2021-04-18 18:13] sankayop commented on #4877
For info,  in Library protection: "Refuse to save the library before external changes have been reviewed." is disabled.

[2021-04-18 19:26] #2633 closed

[2021-04-18 20:17] dbitouze opened #7641 "Wrong path to TeXstudio"
JabRef version 5.2 on Windows 10

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists: in fact not actually relevant since I could try it on Linux, but not on Windows (see below).

Students of mine, who are using Windows 10 (I'm a Linux user) experienced a problem when they tried to push citations to TeXstudio: it was imposs

[2021-04-19 02:58] JavuesZhang commented on #7016
Hi, I think I have reproduced this problem. Could I have a try to fix it?

[2021-04-19 05:24] Siedlerchr commented on #7016
Sure that would be neat

[2021-04-19 06:12] Siedlerchr commented on #7641
Thanks for the report. The code for the path detection lies here https://github.com/JabRef/jabref/blob/bb011c9313367a28990ae213b3920fe6cd10d1dc/src/main/java/org/jabref/gui/desktop/os/Windows.java#L27-L37

The problem is that it doesn't check for the existence of the file/executable inside the Programs x86/Program Files and therefore incorrectly assumes it's located in the x86 folder.

[2021-04-19 06:57] Gan-Cheng commented on #7641
Hi, I think this problem is interesting and not so difficult, could I try to fix it?

[2021-04-19 07:43] JavuesZhang commented on #7195
Hi! Does this issue still accept pull request?

[2021-04-19 07:58] Noname690 commented on #7606
Hi, I think this problem is interesting, could I try to fix it?

[2021-04-19 08:55] dbitouze commented on #3868
@halirutan Are the icons (individually) available somewhere? ([Related discussion](https://discourse.jabref.org/t/are-the-external-programs-icons-available-somewhere/2662?u=dbitouze).)

[2021-04-19 10:59] halirutan commented on #3868
Yep, nothing gets lost in the cloud. Help yourself

https://shared-assets.adobe.com/link/1455866d-4cd6-4a16-7e86-3f95a9ffce14

[2021-04-19 11:23] k3KAW8Pnf7mkmdSMPHz27 commented on #7195
@JavuesZhang, if it is still a problem in the latest version, yes. I unfortunately haven't had time to look at the issue.

[2021-04-19 17:07] Siedlerchr commented on #7641
@Gan-Cheng Sure, go ahead! Make sure to check out the contribution guide for getting started https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md

[2021-04-19 18:17] koppor commented on #6207
Testing should aim for discovering bugs and ease maintenance of code. Thus, test real functionality. Do not test simple getters or toString methods! Tests should focus on ensuring that code change keep desired customer functionality.

[2021-04-19 18:30] mlep opened #7650 "Latest dvp snapshot: main, not master!"
In https://builds.jabref.org/ ,
It is specified "Please head to **master** for the latest development snapshot":
![Capture d’écran du 2021-04-19 20-29-34](https://user-images.githubusercontent.com/6931104/115285362-0d719280-a14e-11eb-8c97-a8481a2993d7.png)

After recent changes, the latest development snapshot is in **main**.

[2021-04-20 14:11] ilippert commented on #6348
I would still like this feature

[2021-04-20 14:22] #7633 closed

[2021-04-20 15:01] ilippert commented on #7351
And I used
`  date-added          = {2014-08-17 20:32:02 +0200},
  date-modified       = {2014-08-17 20:32:02 +0200},`

[2021-04-21 03:16] Gan-Cheng commented on #7641
Thanks. By the way, I wonder whether it is required to implement the function of searching program path, or just judging existence of target path in `program files` and `program files(x86)` is Okay.

[2021-04-21 03:54] Ryyyc commented on #7616
I think for the SSL handshake issue, we can give the user some prompts like a browser and let the user choose whether to trust this site.
Either some certificates missing in the Java version or the certificate of that site has indeed expired.

[2021-04-21 07:18] Ryyyc commented on #7616
Before downloading the file, check SSL Handshake, like
https://github.com/Ryyyc/jabref/blob/2b37ec73f876b964d69e585abe2b22d18a8bfb4e/src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java#L473-L491

After the download task is completed, restore the original certificate verification settings
https://github.com/Ryyyc/jabref/blob/2b37ec73f876b964d69e585abe2b22d18a8bfb4e/src/main/java/org/

[2021-04-21 07:38] Siedlerchr commented on #7616
@Ryyyc That looks already like a good idea. Would be cool if you could create a PR°

[2021-04-21 08:30] Ryyyc commented on #7616
@Siedlerchr    All right, if there is any need to modify this PR #7657 , please contact me.