[2017-08-15 12:34] koppor commented on #3106
@github really ignores all `.jar` files: https://github.com/github/gitignore/blob/690a433b668348c33087d34fafe2155ebe8bb4cf/Java.gitignore#L14

[2017-08-15 13:09] Siedlerchr commented on #3106
We could just add a `!/lib/*.jar ` https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files

[2017-08-15 15:02] lenhard commented on #3106
I have no strong opinion how we adjust the .gitignore file, just that we do it. Right now, parts of our source tree are not in version control. It would probably be best to get rid of the libs (Spin and mac-extensions). But I guess we don't want to drop support for Mac ;)

And we need to make sure that a future update of the .gitignore doesn't break this again.

[2017-08-16 07:53] Doc73 opened #3108 "Can't write precomposed greek characters (and maybe of other languages too)"
JabRef 4.0-dev--snapshot--2017-08-15--master--b468d8349
Linux 4.11.0-0.bpo.1-amd64 amd64
Java 1.8.0_141
Debian 9 Stretch

Steps to reproduce:

1. add or edit an entry
2. set greek keyboard
3. write something, like ἐτυμολογία (in linux, to obtain **ί**, you should hit ALTGR+; (but I'm not sure about the right combination, because I have an italian keyboard; please, check yourself) and then "i")
4.

[2017-08-16 08:52] LinusDietz opened #3109 "Make the FileAnnotationTab look great"
In https://github.com/JabRef/jabref/pull/3082 we have implemented the FileAnnotationTab in JavaFx and managed to create a working prototype.

Due to limited developing resources, however, it does not look very nice.
This issue is for somebody who wants to improve the design of the FileAnnotationTab.
![screen shot 2017-08-16 at 10 50 16](https://user-images.githubusercontent.com/1254003/29355327-ed

[2017-08-16 08:55] lynyus opened #3110 "Fix annotation auto-selection"
When switching between multiple linked files in the File Annotations Tab, the first Annotation is not automatically selected.

[2017-08-16 08:56] #2922 closed

[2017-08-16 08:56] #3059 closed

[2017-08-16 09:07] lenhard commented on #3108
This is a duplicate of #3028

It's actually a bug in OpenJDK, the Java runtime environment for Linux. There's not really something we can do but wait for a fix on their side. But as it seems the team is working on a fix: https://bugs.openjdk.java.net/browse/JDK-8185792

As a workaround, right now you can type the characters elsewhere and copy them into JabRef.

[2017-08-16 09:07] #3108 closed

[2017-08-16 09:30] #3101 closed

[2017-08-16 12:18] lenhard commented on #1903
@AEgit I think I have fixed this.

Can you please try out the version available here http://builds.jabref.org/maintable-update/ and let me know if the group update works for you now_

[2017-08-16 12:29] AEgit commented on #1903
@lenhard: Thank you very much, this does indeed fix the problem.

JabRef 4.0-dev--snapshot--2017-08-16--maintable-update--69f717336
Windows 10 10.0 amd64
Java 1.8.0_141

There's only a minor issue left (but I think it's not related to this bug fix): When selecting an item in the main table, the associated group (or rather the number giving the number of associated items) should be coloured. This i

[2017-08-16 12:37] lenhard commented on #1903
@AEgit Thanks, I am glad to hear that :-)

Regarding coloring: It also occurred to me that this doesn't work reliably. We should track this in a different issue, so please open a new one. And it would be perfect if you could report one or two ways to reproduce a coloring error.

[2017-08-16 12:45] AEgit opened #3112 "Colouring item count in groups panel does not work reliably"
JabRef 4.0-dev--snapshot--2017-08-16--maintable-update--69f717336
Windows 10 10.0 amd64
Java 1.8.0_141

When selecting an item in the main table, the associated group (or rather the number giving the number of associated items) should be coloured. This is not the case with newly assigned items. It does appear, however, that this feature is generally buggy - also items that have not been newly assi

[2017-08-16 12:46] AEgit commented on #1903
Cheers ;)

The new bug report can be found here:
https://github.com/JabRef/jabref/issues/3112

[2017-08-16 12:55] #1903 closed

[2017-08-16 13:37] #3110 closed

[2017-08-16 13:57] lenhard opened #3113 "JabRef should release unused heap more frequently"
It seems that we have a memory leak with the entry editor on current master, latest commit 0326d7778230e640105381c4c8dc7f548f580c55

JabRef 4.0-dev
Windows 7 6.1 amd64
Java 1.8.0_121

To reproduce:
 - Open entry editor and select entry in the main table
 - Press down key to cycle through the database
 - Watch RAM consumption grow and not go down again

@JabRef/developers Please see if you can repr

[2017-08-16 14:25] lenhard commented on #3113
@tobiasdiez I suspect that bindings are the cause of this all.

I know your time is limited, but can you please have a look at this? It's really a game changer...

[2017-08-16 15:11] lynyus commented on #3113
Confirmed. Had about 2.5GB allocated RAM after 5 minutes of clicking around in a Bibtex File with about 50 entries. Closing the EntryEditor did not help:/

JabRef 4.0-beta3
Mac OS X 10.12.6 x86_64
Java 1.8.0_144

[2017-08-16 15:13] lynyus commented on #2922
@HViethen85 please check out the current 4.0-beta3 release if the File Annotations tab needs more work. Feel free to open a new issue if you have something to suggest.

[2017-08-16 15:47] cogsys-michael opened #3115 "Group names must be unique"
JabRef versions 3.8.2, 4.0-dev (snapshot--2017-08-16--master--37d4b2502)

I originally posted this as #1873. There I described two problems. One of these has been solved so the original issue was closed. As the other still prevails I create a new issue.

_General Problem_: Group memberships are decided by name only. If there are two groups with the same name (anywhere in the group tree) an entry c

[2017-08-16 16:05] lenhard commented on #3115
Hi @cogsys-michael

Disallowing duplicate group names is by design. There is a lengthy discussion on this in #1495 and there should at least be a warning message when you try to create a group with a duplicate name in the current dev version.

We can leave this issue open, because closed issues are somehow hard to find via a search engine. However, I am afraid that this will not be changed unless

[2017-08-16 16:28] tobiasdiez commented on #3113
The main reason for the memory leak is that the event listener in the source tab is never unregistered: https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/entryeditor/SourceTab.java#L55

After uncommenting this line, the memory still increases a bit for each new entry but not as much as before. I tried to further investigate the issue but couldn't really pinpoint the cause.

[2017-08-16 19:35] lenhard commented on #3113
@tobiasdiez Thanks for looking into this! I can confirm that the source pane is the most critical. Oh boy, I am happy that this was due to my changes, because it means that it's easy to repair.

#3116 repairs the event deregistration in the source tab. I would suggest the following: When #3116 is merged, the obvious blocker is gone and we can remove this issue from the 4.0 milestone. But we should

[2017-08-16 19:54] lynyus commented on #3113
I wonder if we could add some regression test that does the memory profiling automatically for us. Like [selenium](http://www.seleniumhq.org/), just for java apps.

[2017-08-16 21:49] bernhard-kleine opened #3117 "The General tab in the entry editor is not scrollable."
JabRef version JabRef 4.0-beta3
Windows 7 6.1 amd64
Java 1.8.0_131

The display is cluttered!

![grafik](https://user-images.githubusercontent.com/9216487/29386744-6f24ff8c-82dd-11e7-9a61-6a93a339b968.png)

[2017-08-17 06:53] mlep commented on #3028
Very soon, there should be a way to run JabRef 4 without this issue, since the bug has just been resolved in openJDK. See https://bugs.openjdk.java.net/browse/JDK-8185792

[2017-08-17 08:00] lenhard commented on #3028
It's great that they have already repaired it in OpenJDK! I don't know about their release plans, but maybe there's a possibility to install a beta JDK that includes the fix? Maybe someone with more knowledge about OpenJDK can enlighten us here?

[2017-08-17 08:13] sauliusg commented on #3038
Indeed, the related discussion in  http://discourse.jabref.org/t/file-linking-functionality-update/723 was initated by me and I am working on the fix in my fork. Cheers, Saulius

[2017-08-17 08:31] koppor commented on #919
[The feature](http://help.jabref.org/en/JournalAbbreviations) is available [since version 2.0b](https://github.com/JabRef/jabref/blob/v2.11.1/CHANGELOG#L1050). My issue is we have **multiple** lists:

1. In the code:

![grafik](https://user-images.githubusercontent.com/1366654/29402879-db9b6c74-8336-11e7-9f8e-1bdcea26c5b2.png)

2. Some other lists at external repository:

https://github.com/JabRef

[2017-08-17 08:47] afls opened #3118 "Connection error to a host other than localhost"
JabRef version 3.8.2 on Windows 7 (64 bit)

Hello,
using "Connect to shared database" to connect to MySQL on a host that is not localhost results to a "Connection error" message: "Access denied for user 'db@local-PC-name.de' (using password:YES)".

The menu "Connect to shared database" does not use the host name (server name) entered into the text field but always uses the local PC name. The same

[2017-08-17 08:55] lenhard commented on #919
Alright, thanks for the clarification!

Performance is sort of a problem, but since we do no longer load the list at boot time it is no longer noticeable. Integrating the lists into JabRef would certainly improve performance.

[2017-08-17 09:12] Siedlerchr commented on #3028
From what I see is that this is currently only fixed for OpenJDK 10. I think we need to wait for a backport to OpenJDK 9 and/or 8. I doubt it will be included in 8, as the jdk9 is on the way to it's final release.

But I still find it complicated to get an overview how these openjdk and openjfx projects correlate...

[2017-08-17 09:16] Siedlerchr commented on #2594
As jdk9 is on it's way to the [final release](https://twitter.com/sugarlife/status/897307042594963456), we definitely should focus on getting JabRef to work with jdk9.

[2017-08-17 10:48] tobiasdiez commented on #3028
In the meanwhile we can create our own `JFXPanel` that incorporates this fix by overriding:
[code]
(source: http://hg.openjdk.java.net/openjfx/10-dev/rt/file/ef0ec553083f/modules/javafx.swing/src/main/java/javafx/embed/swing/JFXPanel.java)

[2017-08-17 11:16] lenhard commented on #3028
I don't like these OS-specific hacks, but since the impact is rather big, we could go for such a solution. Maybe we could even check that the custom JFXPanel is only used when the OS is Linux?

I would implement this, but I don't have a Linux system available, so I can't test it. Could someone of our Linux users do this?

[2017-08-17 11:28] Siedlerchr commented on #3028
I can take a look at this. We have somewhere a switch for OS.LINUX

[2017-08-17 12:42] XP2009home commented on #3099
thanks @matthiasgeiger ! the problem mentioned above is found just to the newer jabref version.

[2017-08-17 13:40] lenhard commented on #3117
@bernhard-kleine Thanks for reporting.

The fields in a tab of the entry editor are shrunk to fit in the display space that's available to that tab. When there's not enough space for all fields, a scroll pane for the complete tab should appear (it does for me).

What would you suggest to change to make the display less cluttered in the general tab?

[2017-08-17 13:57] cogsys-michael commented on #3115
Hi @lenhard

I was not aware of the discussion in #1495. Now that I have read up, I got your point.

I can confirm that there is a warning message in the current dev version when creating a group with a duplicate name. However, you may think about some warning message when opening a bib with duplicate group names. As of now, that is silently ignored (keeping all groups).

And, when I find the time

[2017-08-17 14:12] lenhard commented on #3115
Thanks for the feedback!

I agree that having a warning message about duplicate group names when opening a file would be a good thing. Plus, it might not be too hard to implement. Let's use this issue to track the progress on that as well.

[2017-08-17 22:28] noravanq opened #3119 "Sorting in columns corresponding to additional file types not working"
JabRef version JabRef 4.0-beta3
Linux 4.4.0-92-generic amd64
Java 1.8.0_131

Steps to reproduce:

1. Add a new external file type by doing the following:
JabRef preferences-> External programs->Manage external file types->Hit on + to add a new file type (in my case Name xournal, Extension xoj, Application xournal)
2. Restart JabRef
3. JabRef preferences->Entry table columns->Show extra columns->Se

[2017-08-18 07:37] koppor opened #3121 "Working snapcraft image"
This tracks the current state of the snapcraft image. This main text is updated to reflect the current state.

## Howto install and update

Beta version:

`sudo snap install jabref --beta`

Latest snapshot:

- `sudo snap install jabref --edge --devmode`
- `sudo snap refresh jabref --edge --devmode`

## Current state

[![Snap Status](https://build.snapcraft.io/badge/JabRef/jabref.svg)](https://buil

[2017-08-18 07:41] koppor opened #3122 "Self-made deb and rpm packages"
This tracks the state of jabref-issued `deb` and `rpm` packages.

We are experimenting using https://github.com/nebula-plugins/gradle-ospackage-plugin on the branch https://github.com/JabRef/jabref/tree/deb-and-rpm.

Current state: `jar` is packed into the `deb`. No startup scripts, no desktop integration.

This issue becomes obsolete in case JabRef is fully integrated with all features in Debian

[2017-08-18 11:01] koppor commented on #168
The solution currently is to use Ubuntu's snaps. They should be supported on Ubuntu 15.10: https://snapcraft.io/docs/core/install.

    sudo apt-get install snapd
    sudo snap install jabref --beta

More information is currently given at https://github.com/JabRef/jabref/issues/3121.

[2017-08-18 11:16] #2718 closed

[2017-08-18 13:22] PierreMarchand20 opened #3127 "Problem with shortcut for opening settings on Mac"
JabRef version 3.8.2 on Mac OS X 10.12

When using the shortcut "cmd+," to open the settings (which is usually the default one on Mac), it does it but it also marks the current selected entry.

I checked the keybinding in Jabref and the shortcut for marking entries is "cmd+m" and it works. And there is no option to manage the shortcut for opening the settings.

[2017-08-18 16:09] Siedlerchr commented on #3127
Hi,
could you please test this with the current JabRef 4.0?
https://builds.jabref.org/master

[2017-08-18 16:29] PierreMarchand20 commented on #3127
Well this time, it marks the current selected entry but it does not open the settings. ( I used JabRef-4.0-dev--snapshot--2017-08-18--master--42c39cb0c.jar to test)

By the way, testing the last version deleted all my groups ...

[2017-08-18 16:44] Siedlerchr commented on #3127
You can change the keybinding for mark entries under Options->Customize Keybindings -> Edit
There is no specific shortcut for opening the settings. Under Windows I can use Alt to show the mnemonic keys of the menu items and then hit alt+o for opening options and then alt+p for preferences.
@lynyus  Do you already have your mac?

Regarding your groups: The group format changed with JabRef 4.0 meani

[2017-08-18 16:52] PierreMarchand20 commented on #3127
Ok, I did not know about this change of format for the groups, is there a thread about it ? it is a real problem then... should I post another issue about it ?

Regarding how to manage the shortcut, as I said, I looked at it and I was surprised to see that "cmd+," was not used but worked to open the settings in 3.8.2 and to mark an entry.

[2017-08-18 17:13] queirozfcom opened #3129 "Freeze after trying to edit bibtex entry details (threaddump available)"
JabRef version 4.0-beta-2 on Ubuntu 16.04 Using OpenJdk 8

It's intermittent, I couldn't reproduce it.. it freezes a couple of times per day...`(window becomes unresponsive)

Thread dump after the crash:

<details>
  <summary>Thread Dump</summary>
[code]
</details>

[2017-08-18 20:37] Siedlerchr commented on #3129
Hi,
thanks for your detailed stack trace. It would be nice if you could try the latest master snapshot. We recently fixed some freezing issues which came from the interplay of the swing/javafx threads.
We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you.

Btw, JabRef is now also available as snap package, see #3121 for insta

[2017-08-18 20:42] Siedlerchr commented on #3127
Hi,
I would file the option to open the settings with `cmd+,` as an enhancement.

Regarding the groups we had the [release announcement](https://blog.jabref.org/#april-17-2017-%E2%80%93-jabref-4-0-is-on-the-way-%E2%80%93-beta-version-release) and there was an issue which should have been already fixed since a long time.

If the group problem still persists I would ask you to add a new issue with a

[2017-08-18 22:14] HViethen85 opened #3130 "Several problems in the new entry editor"
JabRef 4.0-beta3
Windows 10 10.0 amd64
Java 1.8.0_121

Steps to reproduce:

1. Enter Author or Editor Names Lastname, A. (does not matter if one or more)
2. Alert Triangle schown
3. Hovering with mouse over it (Not usual BibTex format)

Ich can understand the intention behind it, but since I am getting these alert messages in quite a few  entries and field I am slightly annoyed and they are not ne

[2017-08-18 22:48] wbmacleod commented on #2913
I have a similar problem - under jabref 3 when I click the search butter in General tab for file links it would find my "bibtexcite.pdf" file and link.  Jabref 4 now it searches on the web and downloads a file and cannot find the file in by pdf file systems (I have about 5000 papers).

I use this feature daily - so this is has been an issue for me - would be nice to have the old jabref 3.8 functio

[2017-08-19 04:14] crystalfp opened #3131 "Title in table changes one's to oneś"
JabRef 3.8.2
windows 7 6.1 amd64
Java 1.8.0_144

Load the attached entry in biblatex mode. You will see that in the preview window and in the editor the title correctly show: "one's". Instead in the table the title column shows "oneś". See the attached screenshot.

![bug-title](https://user-images.githubusercontent.com/865866/29483381-45ef9bbc-84a5-11e7-8520-2893ad5477dd.png)
[code]
Thanks for loo

[2017-08-19 06:26] bernhard-kleine commented on #3117
@lenhard
When there is scrolling possible why not here, the keywords field is not properly visible, so there should be scrolling.

[2017-08-19 06:57] bernhard-kleine opened #3132 "General replacement of + sign with a . dot not possible in the Bibtexkey field"
JabRef 4.0-beta3
Windows 7 6.1 amd64
Java 1.8.0_131
Steps to reproduce:
1. Ctrl-R
2. + versus . only for the Bibtexkey field
3. Upon Enter nothing happens.

you will note the same 183 results

![screenshotjabrefbeforesearch](https://user-images.githubusercontent.com/9216487/29484312-379c80a4-84bc-11e7-8d3d-7422de3b92c0.PNG)

![grafik](https://user-images.githubusercontent.com/9216487/29484297-de1f

[2017-08-19 09:27] Siedlerchr commented on #3131
Thank you for reporting this issue. We think, that is already fixed in the 4.0 beta version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you.
Be aware that with version 4. the group format has changed, so it is advisable to create a backup of your bib file

[2017-08-19 10:13] Siedlerchr opened #3133 "Linux autcomplete in journal field is on wrong thread"
Ubuntu 16.04
Enter something in the journal field

<details>
<summary>Detail information:</summary>

[code]

</details>

[2017-08-19 10:29] bernhard-kleine opened #3134 "Jabref docbook export: editor not properly exported"
Jabref3.8.2
Windows 7 6.1 amd64
Java 1.8.0_131

Steps to reproduce:

1. using this line on the console
java -jar C:\Programme\JabRef\JabRef-3.8.2.jar -o ch04BiB.xml,docbook -n true chapter04.bib
2. getting amongst chai4BiB.xml
09:35:10.136 [AWT-EventQueue-0] WARN  net.sf.jabref.logic.exporter.ExportFormat - The following formatters could not be found: CreateDocBookEditors

The books with editors i

[2017-08-19 11:57] lenhard commented on #3133
Same on Windows.

[2017-08-19 11:59] lenhard commented on #3130
Refs  #3100

[2017-08-19 12:04] lenhard commented on #3132
Wow, I didn't even know JabRef had this functionality :)

Could you try "bibtexkey", instead of "Bibtexkey"?

[2017-08-19 12:05] lenhard commented on #3117
Ok, thanks. The layouting is done by a library we are using, so I have no immediate solution. Maybe it's possible to increase the field size to two rows by default.

[2017-08-19 12:13] bernhard-kleine commented on #3132
did not work either. Before

after the execution of the demand

Am 19.08.2017 um 14:04 schrieb Jörg Lenhard:

--
spitzhalde9
D-79853 lenzkirch
bernhard.kleine@gmx.net
www.b-kleine.com, www.urseetal.net
-
thunderbird mit enigmail
GPG schlüssel: D5257409
fingerprint:
08 B7 F8 70 22 7A FC C1 15 49 CA A6 C7 6F A0 2E D5 25 74 09

[2017-08-19 12:23] lenhard commented on #3100
@tobiasdiez Could you please implement this one little addition to your validation feature. It is no big deal and we really need it for 4.0 (user's are complaining about the validation).

[2017-08-19 12:38] anassal commented on #3047
Exacetly the same with:

JabRef 4.0-dev--snapshot--2017-08-19--master--091383dbe
Linux 4.4.0-92-generic amd64 (Ubuntu16.04)
Java 1.8.0_144

Editing the bibtex (biblatex) source tab then directly clicking on the entry table --> crash.
Editing the bibtex (biblatex) source tab then changing to another tab, then clicking on the entry table --> no crash.

[2017-08-19 12:47] Siedlerchr commented on #3047
I can not reproduce this: Neither with Ubuntu 16.04 nor with Windows.
Can you try to start JabRef via terminal, e.g. java -jar JabRef.jar and check if there a error or anything related printed?

[2017-08-19 15:17] koppor commented on #2690
I tried the steps @lenhard stated, but without success: Everything working fine.

[2017-08-19 15:18] koppor commented on #2832
We are also working on providing a snapcraft image: https://github.com/JabRef/jabref/issues/3121

[2017-08-19 15:31] HViethen85 commented on #3130
I discovered another bug, with the same above setup using "InCollection". The Adress Field is clearly needed or at least is optional. However it is not only in the optional fields tab, but also ignored field tab.

deleting it in one, will automatically delete it in the other as well. It also appears in "book" entries. I cannot imagine, that that is wanted.

[2017-08-19 15:49] koppor opened #3136 "Missing "Normalize to BibTeX name format""
The functionality "Normalize to BibTeX name format" got lost from 3.8.2 to 4.0 beta 3:

JabRef 3.8.2:

![grafik](https://user-images.githubusercontent.com/1366654/29488210-8e56b780-8506-11e7-8987-b5964c3bde77.png)

JabRef 4.0 beta3:

![grafik](https://user-images.githubusercontent.com/1366654/29488217-bc29901a-8506-11e7-803a-6da64105dba4.png)

[2017-08-19 15:55] koppor commented on #2205
- "Normalize tot BibTeX name format" is not available anymore in v4.0: https://github.com/JabRef/jabref/issues/3136
- Your string is normalized to "Pardee F., Kirkwood T., MacCrimmon K. Miller J. Phillips C. Ranftl J. Smith K. and Whitcomb, D.", which is surely not that what you intended. OMG, we have to touch **that** algorithm again --> https://github.com/JabRef/jabref/blob/master/src/main/java/

[2017-08-19 16:18] anassal commented on #3047
Unfortunately it doesn't produce any error messages.

[AWT-EventQueue-0] INFO  org.jabref.logic.importer.OpenDatabase - Opening: [../file].bib
File: grouptree.fxml not found, attempting with camel case
File: grouptree.css not found, attempting with camel case

Then Ctrl+c to terminate.

[2017-08-19 17:23] lenhard commented on #2690
Let's just close this. I just use groups for testing the group feature, but I don't actually need them. If there really is a bug, then eventually one of our group power users will report it (and maybe with a better suggestion for reproduction).

[2017-08-19 17:23] #2690 closed

[2017-08-19 17:28] lenhard commented on #3113
Since the PR is merged, I've renamed this issue. Our main problem is not that JabRef consumes too much memory, but that it doesn't release unused heap. If there's a peak consumption, then JabRef somehow doesn't give memory back to the operating system when it's no longer needed.

[2017-08-19 20:44] alfadaco opened #3138 "Absolute path in JabRef last edited"
Hello everybody,

I have JabRef version 3.8.2 on both Ubuntu 12.12 and Mac OS X 10.7.5 and I encountered the following problem.

My set-up is the following: I have all .bib files and the last version of JabRef (the cross platform one) in a Dropbox folder.
I set up the option that opens the last edited file at startup, but when I move across different operating system (like e.g. from Mac to Linux)

[2017-08-20 01:26] tobiasdiez commented on #3100
I'll have a look next week but can't promise anything.

[2017-08-20 04:28] bnapoletano opened #3139 "JabRef not connecting to LibreOffice on Debian 8.9"
JabRef version 4.0-dev on Debian 8.9

Attempting to connect JabRef to LibreOffice 4.3.3.2 yields an error similar to the one [previously reported ](https://github.com/JabRef/jabref/issues/1669). I tried downloading the 4.0-dev version and adding the path to soffice to PATH and to libjpipe.so to LD_LIBRARY_PATH, and moving unoil.jar around, but still no luck. I'm not sure which file is not being fo

[2017-08-20 07:43] Siedlerchr commented on #3138
Hi,

Thank you for your kind words!

In the preferences you need to check the option Use bib file location as
primary file directory
Then it works with relative directories.

It should override all other file directory settings.

PS: you should consider updating to JabRef 4, but beware that the groups
format changed, so a backup of the bib files is recommended

Am 19.08.2017 10:44 nachm. schrieb "

[2017-08-20 07:48] Siedlerchr commented on #3139
Hi,
Since a while the jars for libreoffice are in a separate debian package
called libreoffice-java-common
See here for example

https://packages.debian.org/wheezy/all/libreoffice-java-common/filelist

Am 20.08.2017 6:28 vorm. schrieb "bnapoletano" <notifications@github.com>:

JabRef version 4.0-dev on Debian 8.9

Attempting to connect JabRef to LibreOffice 4.3.3.2 yields an error similar
to the o

[2017-08-20 08:52] crystalfp commented on #3131
OK, solved with: `JabRef-4.0-dev--snapshot--2017-08-19--master--b37b88049.jar`. Thanks!

[2017-08-20 08:55] crystalfp commented on #3131
OK also using `JabRef-4.0-beta3.jar`

[2017-08-20 09:06] #3131 closed

[2017-08-20 10:29] crystalfp opened #3140 "Cleanup entries messes up single quotes"
JabRef 3.8.2
windows 7 6.1 amd64
Java 1.8.0_144

Load the attached entry. Note the word between single quotes in the abstract. Now select the entry and run cleanup entry with the settings of the attached screenshot.

![bug-single-quote](https://user-images.githubusercontent.com/865866/29493960-ca83990e-85a0-11e7-95a1-1bdbe1431f03.png)

you see that " to a 'gap' ́between" become "to a ǵap ́between

[2017-08-20 14:22] lenhard commented on #3140
@crystalfp Thanks for your report. This is a bug in the LaTeX conversion function that should already be fixed in the newer version. Could you please try again with the most recent build from http://builds.jabref.org/master/ and report back if it works?

[2017-08-20 14:27] lenhard commented on #3134
@bernhard-kleine I think you've already reported this bug one month ago and we fixed it, see #3020

Above you're using 3.8.2. Could you please try again with a more version, e.g. the current master build http://builds.jabref.org/master/ and report back if it works?

[2017-08-20 15:29] bernhard-kleine commented on #3134
My fault: I am using a line from a text file not to compose it everytime I need it and forget to update that to a newer version. It works well with

[code]

[2017-08-20 15:32] bernhard-kleine commented on #3134
still the issue that incollection comes an article is still not settled and should be improved together with support for Docbook5

[2017-08-20 15:42] crystalfp commented on #3140
OK solved under `JabRef-4.0-beta3.jar`. Thanks!

[2017-08-20 15:42] #3140 closed

[2017-08-20 15:46] koppor commented on #2205
Algorithm fix ideas: I remember the discussions that there could be "Junior" parts and therefore, my quick assumptions are not valid. Maybe, we could add a check for exactly your case: more than 4 commas (thus more than two names, each of them might have a Jr. part) and exactly one and.

[2017-08-20 15:47] bernhard-kleine opened #3142 "The Group Panel is not updated when switching between certain libraries"
JabRef 4.0-beta3
Windows 7 6.1 amd64
Java 1.8.0_131

Steps to reproduce:

1. open Jabref with multiple libraries
2. switch between the libraries
3. the updating of the Group Panel is extremely slow and not always correct-

I have the following screenshots to show that behaviour: when I switch from chapter04.bib to  EndokrinologieKunde20170513VS4.0.0.bib and vice versa the group panel is not update

[2017-08-20 15:48] #3136 closed

[2017-08-20 17:19] lenhard commented on #3142
Refs #2690

[2017-08-21 07:48] alfadaco commented on #3138
Hi,

First of all, thanks you for your prompt response.

Actually, I have that option checked already. In fact, the path of all external files is relative to each .bib file location. The problem is with the path of the .bib iteself, which is stored as an absolute path in the preferences .xml file.

Best

P.S. Thanks for the suggestion. I use JabRef for my research and right now everything is worki

[2017-08-21 09:04] PierreMarchand20 commented on #3127
Hi,
This would be a nice enhancement indeed, and it would be nice to have some reasonable default value like "cmd+," on Mac for example.

I tried the last version of JabRef 4.0 and I have no more issues with groups.

But, there is still an issue with 3.8.2 AND 4.0 about "cmd+,", it marks the selected entry when it should not, since the shortcut is "cmd+M".

[2017-08-21 10:57] lenhard commented on #3028
We think we have a working solution. Could the Linux users @mlep @wujastyk @kafran here please try out the build available at http://builds.jabref.org/customjfxpanel/ and report if it solves the problem?

[2017-08-21 11:17] mlep commented on #3028
Works for me!

Linux Mint Debian Edition "Betsy"
java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)
javafx.runtime.version=8.0.66
javafx.runtime.build=b17

[2017-08-21 11:22] kafran commented on #3028
It is not working on "{} BibTeX source" tab only.

Thanks.

[2017-08-21 12:00] lenhard commented on #3133
Ok, I just wanted to fix this and I have to admit that I can no longer produce the error. Maybe this was on my Win10 system (am on Win7 now) or maybe this has been fixed by something else.

@Siedlerchr Can you still reproduce this?

[2017-08-21 12:23] Siedlerchr commented on #3133
Hm, I no longer can reproduce this. I will try again after #3128  is merged, I am not sure if this is somehow related

[2017-08-21 12:23] #3133 closed

[2017-08-21 12:55] lenhard commented on #3130
To give some general feedback on how we're proceeding:
 - The validations will be made optional, so that you can turn them off (in 4.0)
 - The visibility of file attachments will be improved (in 4.0). Could you perhaps try out this version http://builds.jabref.org/increase-textarea-size/ It assigns a minimum height to all text fields, so hopefully file attachments should be more readable. Do you t

[2017-08-21 12:57] lenhard commented on #3117
@bernhard-kleine Could you perhaps try out this version http://builds.jabref.org/increase-textarea-size/ It assigns a minimum height to all text fields, so hopefully keywords should be more readable and the scroll bar should appear more easily. Do you think that's better? Would you want an even bigger minimum size or a smaller one?

[2017-08-21 12:58] lenhard commented on #2941
@jonasstein @sauliusg  Could you perhaps try out this version http://builds.jabref.org/increase-textarea-size/ It assigns a minimum height to all text fields, so hopefully file attachments should be more readable. It just means that you might have to scroll in the general tab. Do you think that's better? Would you want an even bigger minimum size or a smaller one?

[2017-08-21 13:40] HViethen85 commented on #3130
Thanks for the feedback. I will try the build as soon as possible, however as I am just setting up the thesis literature I am trying to play around with it as little as possible.

As for the “ignore” I am Using it in German and it is “Abgelehnte Felder” or basically the third tab from the left being the one following optional. And no, I did not customize. I will try to show it in a screen shot fol

[2017-08-21 16:34] Siedlerchr commented on #3028
Yeah, I could confirm the source tab thing. No idea actually.

[2017-08-21 17:15] HViethen85 commented on #3130
@lenhard

I tried the larger size field in file attatchements and it is improved now showing 2 entries ( i filled it with three, but the third is easily excessible. And it is an improvement, that I can now actually read which file the one in question is so thumbs up for that.
![2017-08-21 3](https://user-images.githubusercontent.com/29122575/29530500-5e7e3124-86a4-11e7-840a-f6570e6569cb.png)

Now

[2017-08-21 17:24] matthiasgeiger commented on #3130
Could you please check whether some error messages are shown in the error log window after you try to show some annotations?

Thanks!

[2017-08-21 17:43] HViethen85 commented on #3130
Der aktuelle Log file

Opening: C:\Users\Vieth\OneDrive\Thesis\TeX\thesis.bib
Warning: no message translation for "There exists already a group with the same name." for locale de
Warning: no message translation for "There exists already a group with the same name." for locale de
Warning: no message translation for "There exists already a group with the same name." for locale de
Warning: no message

[2017-08-21 18:12] wujastyk commented on #3028
JabRef 4.0-dev--snapshot--2017-08-21--master--d46fd5c84
Linux 4.11.0-14-generic amd64
Java 1.8.0_144

Yes, using IBUS and m17n, I can now type accented characters, such as āīūṣṭḍṃḥśñṅ .  I could also type in Devanāgarī देवनागरी। Typing feels a bit ponderous, like each character is being considered briefly.  But it works!  Thank you.

Like @kafran and @Siedlerchr, I could not type accented chars in

[2017-08-21 21:48] matthiasgeiger commented on #3130
One hell of a log 😁

However, this should help in investigating the problem...

[2017-08-21 23:29] HViethen85 commented on #3130
I guess you could say I transferred the equivalent of my thesis into the log :D

Have fun with it. Thought you would have fun with the whole picture which is a bunch of 0 and 1 s for me ;)

[2017-08-22 10:25] HViethen85 commented on #3130
![2017-08-22 1](https://user-images.githubusercontent.com/29122575/29561149-b385a8ba-8734-11e7-89a9-8856189f965c.png)
The problem I described with the fields, seems to be a more general problem. As it concens  not only the address part but as I just discovered also month (wich I am not using) in articles.

Same entry and you get this
![2017-08-22](https://user-images.githubusercontent.com/29122575

[2017-08-22 12:47] ajabref commented on #3053
Sorry for the long silence, I had a summer break.
@tobiasdiez : the groups comment was gone. I switched several time between different version of Jabref and somehow, it disappeared. I found an old backup where the groups comment was intact and I reinserted it in the bib file by hand and now the issue is gone.
@lenhard : I'm sorry I can't change from the current OpenJDK I'm using as I have other ja

[2017-08-22 12:56] lenhard commented on #3053
Ok, thanks for the feedback. Since the issue is gone, we can close this one here as well.

[2017-08-22 12:56] #3053 closed

[2017-08-22 13:08] ajabref commented on #3053
Well, you're right, you can close it.
There is still the fact that the groups comment disappeared at some point.
But I don't know how to replicate it so I don't think it's worth opening another issue.

[2017-08-22 13:28] buhtz opened #3143 "Import entry from clipboard"
Some websites offer bibliographic data in machinereadable format. e.g. a Bibtex oder RIS text. But there is no download link. The text is just displayed so you can copy and paste it.

JabRef should be able to read from clipboard e.g. the content of a RIS file.
[code]

This would prevent me to open a text editor, paste the text in there, store it as a RIS file, reopen it with jabref, ... ;)

[2017-08-22 13:42] lenhard commented on #3143
We sort of have that already.

Try in the menu: BibTeX -> New entry from plain text -> select the type -> paste the text.

Afaik, it only works for BibTeX and the workflow could certainly be optimized, though.

[2017-08-22 13:54] PierreMarchand20 opened #3144 "Journal abreviation and integrity check"
JabRef version 3.8.2 and 4.0 on macOS 10.12

Using integrity check on my database, I noticed that as soon as there is a point (".") in the journal's name, it creates a warning when I check the integrity of my database. I do not know if it is really a bug or a feature but it is not really convenient. For example, according to http://www.ams.org/msnhtml/serials.pdf (a good source for journal abrevia

[2017-08-22 14:22] tobiasdiez opened #3145 "Validation messages are displayed at wrong position"
Latest master. The validation messages in the entry editor are shifted to the bottom (by what appears to be a fixed constant):
![image](https://user-images.githubusercontent.com/5037600/29570175-f90a1d8c-8755-11e7-9b57-2ff7e3e7bbfa.png)

[2017-08-22 15:24] lenhard commented on #3145
Confirmed, but it's not only that.

For me, DOI and URL warnings in the general fields tab are shifted upwards by a threshold.

I just reset my master branch to the beta3 and it was already broken there. Now I wonder, did the feature ever work? Were there library updates that broke this? We surely didn't change the code.

[2017-08-22 15:47] cedmfr commented on #3139
I've a similar trouble on my Mac OS Sierra 10.12.6 with LibreOffice 5.4.0.3 although I've a JRE set in LibreOffice (installed separatly from java website jre-8u144-macosx-x64) which is appearing and selected into LO Preferences/Advanced 'Oracle Corporation 1.8.0_144.
Manual connect or auto connect does not work... and it was working on Jabref 3.8 before updating to last version 4.0.beta3 !
Thank y

[2017-08-22 15:59] cedmfr opened #3146 "Menu bar at wrong position on Mac OS"
JabRef version 4.0-beta3
The menu bar is included into the main windows as it should be fixed into the Mac OS menu bar.

[2017-08-22 19:39] buhtz commented on #3143
Mhm... I see. But it could be "better" - IMO.

1. Internaly all import formats supported by JabRef should be used by the "entry from plain text" feature, too.
2. And the access to the clipboard feature should be in the "import into new database"/"import into the current database" area. I am not sure how this could be solved in the UI because the "import" currently opens a file dialog.

[2017-08-22 21:17] bnapoletano commented on #3139
Sorry for the delay in responding. I have the libreoffice-java-common package installed, but am still receiving the same errors. I have tried creating symbolic links to the .jar files in the directory where JabRef looks, but then it hangs up while connecting.

[2017-08-23 05:47] crystalfp opened #3148 "Keep % sign during LaTeX to unicode conversion in abstracts in biblatex mode"
JabRef 4.0-beta3
Windows 7 6.1 amd64
Java 1.8.0_144

Load the following database:

[code]
I had to quote all percent signs in the abstract, otherwise I receive errors from latex compilation (even if I don't use or display the abstract).

Now, in the preview window the % is rendered as &amp;percnt;

If I run "Cleanup entries..." with active "Run field formatter" it changes every \\% into %. This fo

[2017-08-23 07:07] bernhard-kleine commented on #3117
IMHO this looks much better.

[2017-08-23 10:40] lenhard commented on #3148
Well that depends on what field formatters you run. I just tried the default (normalize date, normalize page, normalize month), then it doesn't change the percentage sign.

If you use a "Latex to something" formatter, like for example Latex to unicode, then that formatter will replace all Latex commands. For `\%` that's `%`, so the expect result would be what you describe. To sum up, please check

[2017-08-23 10:52] crystalfp commented on #3148
Same problem with "Latex to Unicode" and the other cleanup entries settings:
![bug-percent](https://user-images.githubusercontent.com/865866/29612314-1cf6f052-8801-11e7-9ca7-eef75a90393e.png)

I need to have the database ready for biblatex, maybe this makes a difference?

Let me notice that I also reported a problem that appears _before_ I use the cleanup function: the &amp;percnt; in the preview

[2017-08-23 10:56] crystalfp commented on #3148
Yes, it is true that, if I push reset and thus have the same configuration as your, the entry is not changed. But it is still previewed as &amp;percnt;
As I stated before, I need to cleanup entries for biblatex. For this I pushed the "Recommended for biblatex" button.
Thanks for all your work!
mario

[2017-08-23 11:35] lenhard commented on #3148
Ok, let me clarify:

 1. The cleanup formatters: Any formatter that translates from LaTeX to something else will do this removal. This is intentional and not a bug. It happens to you because the LaTeX to Unicode formatter is configured for the abstract. This one is in the recommendations for biblatex, because biblatex can deal with UTF-8 (something which BibTeX can't). So you usually don't need to

[2017-08-23 11:50] tobiasdiez commented on #3145
No it never worked as desired (I just tested it with my original branch). I filed [a bug report at controlsfx](https://bitbucket.org/controlsfx/controlsfx/issues/791/update-position-of-decoration-when-target).

[2017-08-23 11:57] lenhard commented on #3145
Damn :-( How did we not see that? I was very convinced that I saw it working.

What does that mean for 4.0? I would suggest that we add a preference options for enabling/disabling validation that is initially set to disabled. When the feature works properly, we can add the UI part to that allows you to enable the preference. That way, we keep the code, but do not annoy users.

[2017-08-23 12:09] matthiasgeiger commented on #3145
Strangely if I click into an "invalid" editor field the sign is then positioned at the right position...  and yes: I first noticed this in the branch of @lenhard's resizing - and I was pretty sure that I have never seen it displayed in that wrong way before... 😕

[2017-08-23 12:42] notuntoward commented on #2982
OK, I reset my preferences and it's now just as fast on Windows 7 as it is on Windows 10 (preferences before and after the reset attached, if that helps).

[jabrefPrefsAfterReset.txt](https://github.com/JabRef/jabref/files/1245387/jabrefPrefsAfterReset.txt)
[jabrefPrefsBeforeReset.txt](https://github.com/JabRef/jabref/files/1245386/jabrefPrefsBeforeReset.txt)

[2017-08-23 12:56] notuntoward commented on #2982
More Info:  Actually, preview on my Windows 10 and Windows 7 machines are equally slow if I set them both to IEEE style -- for IEEE, JabRef is looking up something on the internet.  I didn't notice this difference in my preferences.

[2017-08-23 13:05] notuntoward commented on #2930
The other issue still remaining is that, the workaround for this problem causes the file pane to look in the wrong directory (workaround: setting the BIB file location as primary file directory).  See #2985.

A (big to me) problem still remains but I'm not sure which PR # it should be assigned to.

[2017-08-23 13:45] Siedlerchr commented on #2985
I think there are some things to clarify:
In main file directory you can't enter a relative directory. This is not possible, because JabRef does not know to which file/directory the relative path should be calculated.

Bib file location as main file directory **precedes** all other values, no matter what you entered elsewhere. And it works correctly, even with bib files in different folders.
Relat

[2017-08-23 13:48] Siedlerchr opened #3150 "Fix errorprone issues"
[code]

[2017-08-23 17:35] koppor commented on #2205
This issue is still open

`Recker, Jan; Indulska, Marta; Michael; and Green, Pete` is another case, I hit --> http://aisel.aisnet.org/cgi/viewcontent.cgi?article=1075&context=ecis2006

[2017-08-24 07:27] lenhard commented on #3150
Fixed by #3151

[2017-08-24 07:27] #3150 closed

[2017-08-24 09:46] stefan-kolb commented on #3143
Just as a side note: pasting entries works as long as they are in BibTeX format.

[2017-08-24 09:56] cedmfr commented on #3146
I don't know. Just the menu bar in mac is not included in the current window but stack into the upper bar of the OS.

[2017-08-24 09:58] cedmfr commented on #3139
I've now the two installation on my mac. The older version 3.8.2 is working correctly with LibreOffice but the new version 4.0-beta3 does not. Strange ...

[2017-08-24 10:04] Siedlerchr commented on #3148
I think you need to run LatexCleanup, I remember a similar issue we had #2451

[2017-08-24 12:48] koppor commented on #2146
To which software are we competing in this case?

Do you know developers wanting to spend their time? Our donations (see
https://donations.jabref.org) don't allow us to pay someone for that.

Maybe you have other ideas for https://contribute.jabref.org? We welcome
each helping hand. There are so many ideas out there and our team currently
is just too small to keep up with them.

Am 24.08.2017 14:2

[2017-08-24 13:28] Siedlerchr commented on #3139
I just tested it on my XUbuntu 16.04 virtual machine, auto connect and manual connect and I used the latest development snapshot from http://builds.jabref.org/master/

[code]
And as far as I remember, I never manipulated the library settings. I just installed the libreoffice-java.common package. The libs are already relative links:
[code]

[2017-08-24 13:46] Siedlerchr commented on #3132
I was surprised that JabRef has this functionality, too! Never seen before..
But I found the issue: the bibtexkeyfield was exckluded in the code. No idea why. I would propose to remove it from the "limit to field" option

[2017-08-24 14:46] cedmfr opened #3153 "Creation of reference list in document LibreOffice"
JabRef version 4.0-beta3 on macOS Sierra 10.12.6

The connection with LO 5.4.0.3 is not working. An error message 'no office executable found!' is appearing both auto or manual connection with corresponding path to LO.
Anyhow with JabRef 3.8.2 the connection is working. Citation can be inserted into a LO Writer document but the reference list is not inserted. How to force the reference list to dis

[2017-08-24 15:15] tobiasdiez commented on #3081
Even the "Mouse down" event focuses the next button. This actually renders the autocompletion useless since one cannot select the next item.

[2017-08-25 05:28] koppor commented on #3145
@matthiasgeiger I would assume that with the CSS patch by @lenhard leads to the initial size not being 0 and thus the issue https://bitbucket.org/controlsfx/controlsfx/issues/791/update-position-of-decoration-when-target is risen:

Please sign it at bitbucket and cast a vote for the issue. Maybe that helps to get the CustomFX library fixed.

[2017-08-25 05:31] koppor commented on #3143
@buhtz Can you imagine opening a pull request for that? We have [code howtos](https://github.com/JabRef/jabref/wiki/Code-Howtos) and [guidelines for setting up a local workspace](https://github.com/JabRef/jabref/wiki/Guidelines-for-setting-up-a-local-workspace). I think, your feature request is "just" iterating over all available EntryFetchers and checking if the fetcher accepts the format.

[2017-08-25 05:33] #3132 closed

[2017-08-25 07:44] lenhard commented on #3145
@koppor My CSS patch is not the cause. We are talking about the master branch here and my patch is still an unmerged PR.

[2017-08-25 08:30] buhtz commented on #3143
@kopper Sorry I am far away from Java and out of time ressource. Just keep this Issue open to document the enhancement. Of course I understand your ressource situation also.

[2017-08-25 08:45] lenhard commented on #2111
I just tested this on the recent build and when I change group naming in the file, the external changes dialog in JabRef pops up and notifies me of a "Modified groups tree".

I take it that this issue is solved and that's why I am closing it. Feel free to reopen if you disagree.

[2017-08-25 08:45] #2111 closed

[2017-08-25 09:32] Siedlerchr commented on #3153
Hi,

I can not reproduce the issue under Windows with the latest snapshot. When I insert a citation in LO (5.4.0.3) the citation gets inserted and the reference list is automatically produced.

Do you get any error messages in the log?

[2017-08-25 10:09] tobiasdiez commented on #2111
Wooohoo. Its nice when improvements in the general event handling fix bugs on the other end of the spectrum. I thinks its a good sign that JabRef moves in the right direction, if not every action has to handle every case but there are specialized listeners for every edge case.

[2017-08-25 10:24] tobiasdiez commented on #3100
Sorry, I will not manage to do this in the foreseeable future.

[2017-08-25 12:33] lenhard commented on #2941
We consider this fixed thanks to #3141, so I am closing this issue.

[2017-08-25 12:33] #2941 closed

[2017-08-25 12:34] lenhard commented on #3117
Perfect! The PR is merged now, so we can closed this issue.

[2017-08-25 12:34] #3117 closed

[2017-08-25 12:36] lenhard commented on #3130
With #3141 the increased size of the file field is now merged into master. So this part of the issue is resolved.

Still missing:
 - Get rid of broken validation messages (PR ready  #3154)
 - Repair the file annotation tab

[2017-08-25 13:01] #3106 closed

[2017-08-25 16:56] wujastyk opened #3157 ""Protect terms" leads to freeze"
JabRef 4.0-dev--snapshot--2017-08-25--master--2abf65127
Linux 4.8.0-58-generic amd64
Java 1.8.0_144

Steps to reproduce:

1. Edit in Required Fields tab
2. Select a word and right click mouse
3. Select Protect terms/Add selected term to list/New/Browse
4. Jabref freezes.
5. Have to "killall java" from the commandline.

![screenshot from 2017-08-25 10-52-27](https://user-images.githubusercontent.co

[2017-08-25 18:56] Siedlerchr commented on #3157
Confirmed also under Windows. Probably one of these threading issues between javafx/swing

[2017-08-25 20:19] HViethen85 commented on #3130
@lenhard  great :D but what would be a weekend without any more issues to resolve. Just the next one popped out of the blue.

I was trying to edit the publisher field. While the suggestions are great and generally a wonderful idea, they are not so great when covering up the field you want to type in, creating a rather annoying instead of helpful environment as you are not able  to see the editable

[2017-08-25 22:01] snisnisniksonah commented on #3081
Could adding an else { e.consume(); } here fix this?
https://github.com/JabRef/jabref/blob/2abf651271db920204011f6dd4253b916467d655/src/main/java/org/jabref/gui/search/GlobalSearchBar.java#L197-L212
Since i'm not a 100% certain how the searchbar should behave i don't know what to look for when testing, but i didn't see anything out of the ordinary in a quick GUI test.

[2017-08-26 12:52] ilippert opened #3159 "Snapcraft image does not allow opening linked files"
I followed installation guide from  #3121. JabRef seems to work quite well; but I cannot open the files, linked to bibtex entries (the call of the viewer does not work)
Tested with .pdf and .doc.

JabRef 4.0-dev
Linux 4.12.8-300.fc26.x86_64 amd64
Java 1.8.0_131

[2017-08-26 17:25] ilippert opened #3160 "Snapcraft image does not provide icon"
In gnome-shell, after installing the snapcraft image, I can actually find it like any other app; only issue is that JabRef does not show up with an icon.

[2017-08-27 16:04] lenhard commented on #2946
The remaining part is fixed by #3156.

[2017-08-27 16:04] #2946 closed

[2017-08-27 16:08] #3157 closed

[2017-08-27 16:11] lenhard commented on #3100
The option (default false) is now implemented and merged. The UI to change it will be added when the feature is fixed in controlsfx.

Hence this can be removed from 4.0

[2017-08-27 16:13] lenhard commented on #3145
The validation feature is now masked by a preference option. It will be re-enabled once the bug is fixed in controlsfx.

[2017-08-27 16:13] #3100 closed

[2017-08-27 18:01] Doc73 commented on #3153
Same error in Debian GNU/Linux 9 Stretch with

and with

LibreOffice:

but also with previous LO versions.

Here is the terminal output:
[code]

[2017-08-27 18:05] Doc73 commented on #3153
`/opt/openoffice.org3`
LibreOffice isn't in that folder!!!!

[2017-08-27 18:25] wujastyk opened #3161 "Protected terms/Add selected text not bringing up previous lists"
JabRef 4.0-dev--snapshot--2017-08-27--master--6a26798aa
Linux 4.8.0-58-generic amd64
Java 1.8.0_144

1. In editing tab, title field,
2. select a word,
3. right click and choose "protected terms/Add selected text to list"

previous lists aren't shown, and can't be selected.  the only option is to create a new list.

Also, because one can't select an existing list, "Format Field" does nothing.

Prob

[2017-08-27 19:51] Siedlerchr commented on #3153
Seems like you have an older version of OpenOffice installed parallel with LibreOffice. You should either remove that, or if you need it for some reason you can manually choose the path:

 You can use **manual connect** (Second button from left side  in the panel) to select the right folder:

http://help.jabref.org/en/OpenOfficeIntegration

[2017-08-27 19:55] Siedlerchr commented on #3161
This only occurs when you inside the editor create a new list and then **immediately** want to assign terms to this new list. If you switch to an other entry it shows up. And next time you start JabRef, the list is shown.
@lenhard  This sounds like one of these "mark as dirty" issues you recently worked in the entry editor. Any idea?

[2017-08-27 19:58] Doc73 commented on #3153
@Siedlerchr
No, no! Mine is a fresh installation with format of /, but I **never** installed OpenOffice or LibreOffice in a different way than by Debian Repositories. With JR version 3.8.2 the plugin worked perfectly. Same issue in my laptop with the same system.

In **manual connection** the paths are correct, but I still receive the same error.

![schermata del 2017-08-27 21-55-18](https://user-

[2017-08-27 20:04] Doc73 commented on #3153
Ah, cf. #3139

[2017-08-27 20:07] Siedlerchr commented on #3153
@Doc73  Yes, I was just thinking that this might be the same problem. Could you check if the output from my comment looks similar?
https://github.com/JabRef/jabref/issues/3139#issuecomment-324634944

[2017-08-27 20:08] Doc73 commented on #3139
Here is my output:
[code]

[2017-08-27 20:09] Doc73 commented on #3153
Done in #3139

[2017-08-27 20:10] Siedlerchr commented on #3139
That's really confusing. I will check tomorrow on my linux machine if I can find the problem

[2017-08-27 20:13] Doc73 commented on #3139
@Siedlerchr
Consider that you have an older system, with older LO.
I have:

[2017-08-28 07:28] lenhard commented on #3161
To me this sounds more as if the list is passed to the entry editor when it is created. That would explain why it is only available when you switch to a new entry editor.

All in all this is not too critical, but probably also not too hard to fix.

[2017-08-28 07:59] lenhard commented on #3161
And I think I have fixed this.

@wujastyk Could you please try out the version available at http://builds.jabref.org/protected-terms-update/ and let me know if it works for you?

[2017-08-28 08:21] lenhard commented on #3112
@tobiasdiez In order to make addressing this bug a little easier, could you please point me to the code that does the coloring of the group tree? I have a hard time locating it at the moment.

[2017-08-28 10:01] Siedlerchr commented on #3139
Okay, I updated to LO 5.4 from the ppa (still using Ubuntu 16.04) and I don't have any problems or error messages.

[2017-08-28 10:33] Doc73 commented on #3139
@Siedlerchr
Thanks to your tests, I tried the latest resort: to reset the preferences!
Now, all is working flawlessy!

Just one thing: I remember there was an option to use a xml conf file in a custom path, but I no longer find this option. For me it is necessary, since in this way I share this configuration with other linux distros on the same and in other PCs.

[2017-08-28 10:58] lenhard commented on #3142
This can be reproduced in the following way:
 - Start JabRef with two bib files and the the groups side pane open
 - Create a new database
 - JabRef will switch to the new database, but the groups side pane will display the tree of the last selected database

If tracked the problem down to this part:
https://github.com/JabRef/jabref/blob/6a26798aa88d49e72977cfbc464324baa73c9d0d/src/main/java/org/j

[2017-08-28 10:59] Siedlerchr commented on #3139
@Doc73  Good to hear that it works now. Regarding the xml file: You can export your settings as xml file.
As this works for you now, I would close this issue

[2017-08-28 10:59] #3139 closed

[2017-08-28 10:59] #3153 closed

[2017-08-28 11:04] Doc73 commented on #3139
@Siedlerchr
Yes, I found the option. Thanks!
Perhaps this problem depends on old configs not compatible with new JabRef versions and the solution is as simple as restoring preferences.

[2017-08-28 11:09] lenhard commented on #2886
That's arguably a bug, since the display is not in a wrong state. The highlighting is just not as good as it could be. I'll re-categorize this as an enhancement.

[2017-08-28 12:16] lynyus commented on #3130
Hey, @HViethen85, I have created a fix for the FileAnnotations part of this issue! Would you mind downloading the build from http://builds.jabref.org/file-annotations-parsing-fix and give us a shout if it works?
Also I would really be interested which program you are using for creating PDF annotations.

[2017-08-28 13:51] HViethen85 commented on #3130
Hi there @lynyus
As mentioned above I use NITRO pdf. The annotations were all created with nitro or foxit. Lately (but not for the sample documents (as Jabref and Nitro do not like each other when sharing strorage on my laptop I have been using adobe, but have no idea how that copes with the annotations as I have not included adobe annotation documents so far)

I did as you told me. And to some ex

[2017-08-28 13:55] HViethen85 commented on #3130
@lynyus sorry I fear that log is even worse than the other one. And i did use the clear log prior.

;)

[2017-08-28 14:00] lynyus commented on #3130
Hell, yeah. I'll look into this, but another day. The first glimpse tells me that the annotations created by Nitro are quite different then those created using Foxit, Okular, or Acrobat... For the time being, I can only advise you to use one of these PDF viewers, as I have tested them myself.

[2017-08-28 14:06] HViethen85 commented on #3130
Thanks. Yup don't worry Jabref an I have a difficult marriage, but we are hanging in there as i find it much more appealing than the alternatives. I have swaped to acrobat as foxit and Nitro did not cope well with highlights in documents stored in onedrive while in adobe all works fine using multiple devices.

Have a great week and good job so far.

[2017-08-28 14:15] napseis opened #3164 "new entry displayed twice in sql database with jabref 4"
hi,

When connected to a remote database (mariadb), when I add an entry, the entry is always added twice. If i want to remove one, both are removed.

This happens with Jabref 4 final, but works ok in 3.8.2

Furthermore, entries added using version 3.8.2 appear correctly when opened with jabref 4, i don't see any duplicate.

tell me if i can provide something more.

Thanks

[2017-08-28 14:44] lynyus commented on #3146
@cedmfr Can you provide a screenshot to clarify the problem? For me the title bar is quite where I would expect it.

JabRef 4.0-dev
Mac OS X 10.12.6 x86_64
Java 1.8.0_144

[2017-08-28 14:46] #3130 closed

[2017-08-28 15:35] cedmfr commented on #3146
Please find attached a screenshot of the trouble. In previous Jabref versions those 2 bars were merged on the top bar of macOS.
<img width="1920" alt="capture d ecran 2017-08-28 a 17 31 16" src="https://user-images.githubusercontent.com/31250593/29780741-242a4bb6-8c17-11e7-9851-f6e802adfaa4.png">

[2017-08-28 19:01] wujastyk commented on #3161
JabRef 4.0-dev--snapshot--2017-08-28--master--a88c20201
Linux 4.11.0-14-generic amd64
Java 1.8.0_144

I started today's JabRef on a different computer.  Went to editor field,
right clicked and chose "Protected terms".  I could select "New".  But I
couldn't find a way to tell JabRef that I already have a .terms list and I
want to use the one I've got.

I picked "new" and selected the existing file

[2017-08-28 20:23] lynyus commented on #3146
@cedmfr thanks for the clarification, I'll investigate the issue.

[2017-08-28 20:39] #3161 closed

[2017-08-29 17:18] notuntoward opened #3165 "Can't remove or move online file link"
When I use ArXiv search to find and insert an entry into my bib file, an online file link is inserted in the General tab.  There's no way to delete the link, nor to move it below the file link I've created for a locally stored paper that has my annotations on it.

When I click on the document icon for this entry in the main paper list, Jabref doesn't bring up any paper (maybe it's trying to fetch

[2017-08-29 17:32] Siedlerchr commented on #3165
Hi, you can normally delete the link via the del key or from the context
menu

Regarding opening, do you see anything in the log?

Am 29.08.2017 7:18 nachm. schrieb "notuntoward" <notifications@github.com>:

[2017-08-29 18:34] notuntoward commented on #3165
Not for this entry:  the delete key has no effect, and there's no "delete" entry in the right mouse button context menu (there is a"remove link" entry but it's grayed out).

Below is what I see in the log when I click the document icon:
Uncaught exception Occurred in Thread[JabRef CachedThreadPool,6,main]
java.nio.file.InvalidPathException: Illegal char <:> at index 4: http://arxiv.org/pdf/1312.60

[2017-08-29 21:07] MarioLipinski commented on #3164
I think this just a presentation bug after adding the entry to the database. It seems the entry is only added once.

[2017-08-29 21:18] notuntoward opened #3166 "Search autofilled author name prevents certain searches"
When I hit Ctrl-f and type a string in the search field, an autocomplete fills in the author name and first initial.  But this is sometimes not the search string I want to match e.g. I may want to match a bibtex key which contains only a part of the author's name.  But I cannot find a way to get rid of the autocompleted author name.

See screenshot showing an autofilled name.  If I hit the escape

[2017-08-29 21:31] MarioLipinski opened #3167 "Could not save file... Error in field '...': Braces don't match"
I am using JabRef 4.0 beta3, so i guess #2995 is merged, this issue is identical to #2993.

I am using a shared (PostgreSQL) database and have the "Automatically save the library to" option enabled.

When starting to enter a brace `{` into a field I get an error dialog that sais:

[code]

When I disable "Automatically save the library to" this is not an issue.
Also there is a latency while typing.

[2017-08-29 22:13] napseis commented on #3164
hi,
Maybe, but there is something more, as I said, when I create with 3.8, i see it only once when i open the database with 4 beta3

[2017-08-30 07:51] lenhard commented on #3167
@MarioLipinski Thanks for your report.

You've already linked the right issue and PR above. This fixes the same problem for local files, but it seems that shared databases need extra attention.

I think I've found the problem and fixed it (by applying the same solution as we have for local databases). But I haven't worked with the shared database feature before and I have no way of testing this pr

[2017-08-30 08:27] Siedlerchr commented on #3165
I will at least enable the deletion of the online links, for the other part I will look at the fetcher

[2017-08-30 08:51] cedmfr opened #3168 "Major application size increase"
On macOS Sierra 10.12.6, JabRef 3.8.2 get a size of 40Mo although JabRef 4.0-beta3 its size is up to 246Mo. Is there some explication of this important increase ? Is there some possibilities to reduce the application size ?

[2017-08-30 09:14] lynyus commented on #3168
This depends mainly on the number of [external libraries](https://github.com/JabRef/jabref/blob/master/external-libraries.txt) that we use. We aim to decrease this, but the new user interface technology (JavaFx) comes with some overhead with respect to application size. Also, keep in mind that JabRef has about 250k LoC and about 1200 Files.

However, 246MB is actually quite much. On my Mac OS X 10

[2017-08-30 09:26] Siedlerchr commented on #3168
Could this be that the Installer contains the JRE?

[2017-08-30 09:38] Siedlerchr opened #3170 "Undo in EntryEditor Source Tab leads to exception"
Remove File link from entry Editor:
Go to Source Tab -> Hit CTRL + Z Exception occurs
Hit it again and the whole entry is duplicated: More than one entry found exception

The author field is somehow duplicated:
![grafik](https://user-images.githubusercontent.com/320228/29866072-8c54f59a-8d77-11e7-89b3-273d37c1f8a9.png)

[code]

[2017-08-30 18:28] MarioLipinski commented on #3167
Just tried _JabRef_windows-x64_4_0-dev--snapshot--2017-08-30--master--07edf68fc.exe_. Unfortunately I still get the error messages and typing is still slow:

![grafik](https://user-images.githubusercontent.com/1518492/29888581-b9bea0d6-8dc1-11e7-9155-72b02d94fcd3.png)

[2017-08-31 05:40] jamal919 commented on #2898
Thanks @ninfito and @AEgit . I was out of the network for some time. Anyway, doi2bib and google scholar are two services which I am using currently. I have a large repository of unsorted journal papers, and I wanted to sort them out. This doi feature helped me a lot with it. I am really waiting for the next release build.

[2017-08-31 06:48] matthiasgeiger commented on #2898
Hi @jamal919 !
If you don't want to wait you can also use the beta3 version we released two weeks ago: https://github.com/JabRef/jabref/releases/tag/v4.0-beta3

We won't add any more features until the version 4.0 release - and the overall stability should also be acceptable. The only important aspect is, that with 4.0 there are some changes in the group storage, which are not backwards compatible

[2017-08-31 09:15] #3165 closed

[2017-08-31 09:16] Siedlerchr commented on #3165
Online links can be deleted now and the opening of the URL is now also possibleö

Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you.

[2017-08-31 11:00] #3170 closed

[2017-08-31 11:33] lynyus opened #3172 "Rename File Fails Silently"
Renaming a linked file fails if there already exists a file with the name.

In the General tab of the Entry Editor: Right click on the linked file -> Rename File. A popup that states the new file name appears. Confirming it results in a failure without any message. The other file is not overwritten and the operation apparently has no effect.

I would expect that a popup message appears and asks to

[2017-08-31 11:38] notuntoward commented on #3165
Thanks.  I can now delete the online link, and I can open it.

It would also be nice to get the link reordering controls back.  In JabRef 3.x, I used them every once in a while.

[2017-08-31 11:51] lynyus commented on #3167
Can confirm this with current master 6f1fda1393ccec1877c573bdedee6c400676f719

[2017-08-31 12:11] koppor commented on #3148
I think, we should keep `\%` in the conversion as it is an escaped symbol and should be treated like that. Compromise: Do like that in biblatex mode, but in bibtex mode, replace it by `%`.

Reasoning: bibtex has no issues with `%` , but biblatex/biber has.

[2017-08-31 12:12] koppor commented on #3160
Refs https://github.com/JabRef/jabref/issues/3121

[2017-08-31 12:12] crystalfp commented on #3148
I agree koppor!

[2017-08-31 12:25] Siedlerchr commented on #3172
Have a look at
[code]

[2017-08-31 12:35] koppor commented on #3122
@fnatter [managed to create one deb package for Freeplane](https://lists.debian.org/debian-java/2017/08/msg00090.html):

https://github.com/freeplane/freeplane/blob/1.6.x/linux-packages.gradle

[2017-08-31 12:38] koppor commented on #2982
@notuntoward It is a known issue - see https://github.com/JabRef/jabref/pull/2250#issuecomment-264824598

Do you know someone having experience in gradle packaging?

[2017-08-31 12:49] koppor commented on #3168
How is the size determined? Maybe, Install4J changed something from v6 to v7.

[2017-08-31 12:53] lynyus commented on #3168
It's what the finder says:

![screen shot 2017-08-31 at 14 51 51](https://user-images.githubusercontent.com/1254003/29924130-29a580b4-8e5c-11e7-8d4d-8a0d27ed1dc5.png)

[2017-08-31 13:46] LinusDietz opened #3173 "Merge entries overwrites concurrently downloaded linked files"
Concurrency is hard.

When incorporating a new BibEntry into the database the following can happen in der General Tab:

1) Click on "Get Fulltext", immediately after click on "Get bibtex data from DOI".
2) Start Merging the two entries.
3) The "Get Fulltext" operation is successful.
4) Confirm the merge with "Replace original BibTeX entry"

Result: The linked file is downloaded, but not linked any

[2017-08-31 14:06] lenhard commented on #3167
Ok, I see. I've done one more try (and accidentally commited directly to master _again_). @MarioLipinski  @lynyus Please try out the latest build from http://builds.jabref.org/master/ currently JabRef-4.0-dev--snapshot--2017-08-31--master--54e0994ba

If this doesn't work, I give up.

[2017-08-31 14:14] lynyus opened #3174 "Translations for JabRef v.4.0"
Dear @JabRef/translators, after three beta versions, we are planning to finally release the major JabRef v4.0 in the end of next week.

We have been working hard on getting JabRef ready for this big milestone and we want to make it as AWESOME as possible.
It would be great if the translations for this major release are as complete as possible, since it might attract some new users which we don't w

[2017-08-31 14:26] lynyus commented on #3167
@lenhard sorry, still doesn't do the job:
In 3.8.2 you could not close the entry editor when there were unmatched braces. This is possible now.

[2017-08-31 14:32] lenhard commented on #3167
Ok, strangely it works for me locally.

As I've written above: I give up. Lately, I am spending way too much time trying to fix bugs that others have introduced by merging very premature features.

[2017-08-31 14:48] AEgit opened #3175 "Performance issues with open entry editor"
JabRef 4.0-dev--snapshot--2017-08-31--master--54e0994ba
Windows 10 10.0 amd64
Java 1.8.0_141

This isn't really a bug, it's more an observation I made that I wanted to share, as it might affect some users.

Steps to reproduce:

1. Open an item in the entry editor
2. Keep the entry editor open and select another item
3. The new item is opened in the entry editor
4. Do this multiple times
5. The Win

[2017-08-31 14:58] mlep commented on #3174
Dear @JabRef/translators, you can check the translation status of your preferred language here: https://github.com/JabRef/help.jabref.org/blob/gh-pages/en/TranslatingGUI.md
(I will try to keep it updated).

- For the menus, whatever the language, there is a maximum of 16 strings to translate, so quite easy to get it done for all of us.
- For the JabRef*.properties files, less than 40 strings for J

[2017-08-31 14:59] AEgit opened #3176 "Unexpected behaviour: Groups search - Item assignment"
JabRef 4.0-dev--snapshot--2017-08-31--master--54e0994ba
Windows 10 10.0 amd64
Java 1.8.0_141

Steps to reproduce:

1. Search for an group in your database using the new group search feature.
2. Select an item that is assigned to this group in the main table. The item is now marked in blue.
3. Search for another group in your database (your currently selected item should not belong to this group).

[2017-08-31 15:15] lynyus commented on #3174
@mlep: We don't have a concrete date, but today's devcall concluded that it should be released as soon as the issues from the 4.0 Milestone are fixed. https://github.com/JabRef/jabref/milestone/8
Realistically and also to give you sufficient time we (most probably me) do this next Thursday or Friday earliest.

[2017-08-31 15:16] mlep opened #3177 "Synclang.py is miscounting keys"
After updating the translation status (https://github.com/JabRef/help.jabref.org/blob/gh-pages/en/TranslatingGUI.md), I noticed one key was signaled as not translated for French. However, I could not find it:
- For the file Menu_en.properties, I count 110 keys (all translated), while the script reports 109.
- For the file Menu_fr.properties, I count 110 keys (all translated), while the script repo

[2017-08-31 15:34] mlep commented on #3177
Forget, my master branch was out of sync. Grrhhh

[2017-08-31 15:34] #3177 closed

[2017-08-31 15:44] mlep commented on #3174
@JabRef/translators: with about a week ahead, we should be able to improve significantly the translation of JabRef interface.

[2017-09-01 05:04] Andrew-Lev commented on #3176
I took a quick look at this, but am not sure what you're referring to.  Do you mean the 'groups interface' and the 'filter groups' feature that's located on the bottom of that pane?

[2017-09-01 06:01] koppor commented on #2982
@notuntoward It is a known issue - see https://github.com/JabRef/jabref/pull/2250#issuecomment-264824598

When you reset the preferences, the internal preview WITHOUT citation styles. If you change the preview to a citation styles, citation styles is used again and the thing gets slow.

Do you know someone having experience in gradle packaging? I created a [stackoverflow question](https://stackove

[2017-09-01 06:07] koppor commented on #2533
The PR https://github.com/JabRef/jabref/pull/3089 should have introduced a limit of the memory consumption. Could you please check again? I hope, that not each preview adds 100 MB of RAM. If it does, we have to really limit the number of cached entry previews. Currently, there are 1024 entries cached.

[2017-09-01 06:24] Andrew-Lev commented on #3172
It sounds like adding a check for existing files in that directory with the targetFileName and then showing the error dialog would take care of this.  I can fix this fairly quickly, want me to work on it?

[2017-09-01 06:47] Andrew-Lev commented on #3172
Didnt take very long at all actually.  I'll make a pull request once someone confirms.

![samefilenameerror](https://user-images.githubusercontent.com/17808285/29958237-8db997f8-8ea6-11e7-85f5-1ba9a0d0a718.png)

[2017-09-01 07:46] AEgit commented on #3176
Yes, indeed:
"groups panel" = groups interface
"group search" = filter groups

[2017-09-01 08:25] lynyus commented on #3172
Yeah, cool stuff! Just open the PR, and we'll have a look at it!

[2017-09-01 08:51] mlep commented on #3174
@frithnanth: Thank you for completing the localization of JabRef in Italian.
JabRef interface is now fully localized for 2 languages (and considering the menus only, 7 languages).

CC: @JabRef/translators

[2017-09-01 09:06] mlep opened #3181 "syncLang.py: improvements"
Following comments in PR #3179, here are ideas for improving syncLang.py:
- automatically generate the translation status with each push to master and publish a html version on jabref.org
- keep a constant order for the table of languages: English first, then alphabetical (or all alphabetical). (I guess it currently depends on the OS)
- put the table of menus first (so that is it not discouraging

[2017-09-01 09:10] lynyus commented on #3181
- [ ] Update to python3
- [ ] Apply object-oriented design principles

[2017-09-01 11:08] stefan-kolb commented on #3173
I think there is just no concurrency there yet. Full text download also has problems when clicking it multilple times etc.

[2017-09-01 12:48] notuntoward commented on #2982
Ah, thanks.  The first time I tried the IEEE style, I was offline and had just fired up Jabref.  I noticed a message in the bottom of the window saying that it could not connect to a server (screenshot), which I now guess is where Jabref updates come from.  Anyway, I jumped to the erroneous conclusion that the slowness was due to an connection weight.

Sorry, I don't know much about Java, and unfo

[2017-09-01 13:45] kingwarrick commented on #2533
JabRef 4.0-dev--snapshot--2017-09-01--master--e46d5ee88
Windows 10 10.0 amd64
Java 1.8.0_144

First test (preview one entry at a time, advancing after display; no screenshot):
Memory usage increased significantly for the first 15 previews up to ~1500MB (same as prior), peaked around 1700MB briefly, with memory usage hovering around ~1550MB after preview 100.

Second test (quickly advance through 3

[2017-09-01 14:09] lynyus opened #3185 "Localisation test for invalid Strings"
@mlep suggested this in https://github.com/JabRef/jabref/pull/3184#issuecomment-326588019.

There should be another localisation consistency check that detects invalid characters like spaces in the localisation strings.

[2017-09-01 15:01] lenhard commented on #3175
The entry editor also seems to be the main source of our memory problems, see #3113.

[2017-09-01 17:05] mlep commented on #3174
@Siedlerchr : Thanks to you, German is the 3rd language with a fully-localized interface.

CC: @JabRef/translators

[2017-09-02 13:47] lenhard commented on #3175
@AEgit Could you do me a favour and try out the version available here http://builds.jabref.org/entry-editor-performance/

This is a tiny improvement and I would be surprised if it has a big effect performance-wise. Its purpose is more to pave the way for an actual performance improvement that is still to come. But do you maybe notice something, e.g. a little improvement in the responsiveness of t

[2017-09-02 16:24] AEgit commented on #3175
JabRef 4.0-dev--snapshot--2017-09-02--entry-editor-performance--548537f12
Windows 10 10.0 amd64
Java 1.8.0_141

@lenhard This version does seem to be slightly faster (although, as you say, the improvement is probably rather small). It still does use, however, a lot of CPU performance.

Regarding the visual effect: It is problem better without it - if you quickly change between different items it c

[2017-09-03 00:58] Andrew-Lev commented on #3176
I tried it out by your steps, but dont see that same issue.  When I filter and select another group I still see my previous selection and can add it to that group.  I did find a defect while looking at this though, when you rename a group through the edit group option it doesnt get renamed in the group editor, only in the actual items that belong to that group.

[2017-09-03 01:11] Andrew-Lev opened #3189 "Renaming a group via groups interface does not change the group name in the interface"
JabRef 4.0-dev
Linux 4.4.0-92-generic amd64
Java 1.8.0_131

Steps to reproduce:

0. Open group interface. (Groups -> toggle groups interface)
1. Create a group
2. Add an item to the group
3. Right click on the group in the group interface -> edit group
4. Change the group name

Group name in the interface stays the same.  If you check the group name by selecting an item and going to its Bibtex sou

[2017-09-03 01:23] Andrew-Lev opened #3190 "Deleting a group via groups interface does not remove that group reference from BibTex source"
JabRef 4.0-dev
Linux 4.4.0-92-generic amd64
Java 1.8.0_131

Steps to reproduce:

1. Open group interface. (Groups -> toggle groups interface)
2. Create a group
3. Add an item to the group
4. Right click on the group in the group interface -> remove group and subgroups

The group gets removed but the reference to it in the BibTeX source of each item that was in the group does not. (i.e. groups = {a

[2017-09-03 07:53] Siedlerchr commented on #3189
When you close and expand the group, the change should also be visible. No idea though why it is not visible immediately. The same issue occurs if you assign an icon or color to the group

[2017-09-03 09:10] #3081 closed

[2017-09-03 09:12] koppor commented on #3081
Tested it. Works. Have a slight other issue (see https://github.com/koppor/jabref/issues/252), but not a blocker.

[2017-09-03 09:16] koppor commented on #3081
And another one, which is not directly related to this PR: https://github.com/koppor/jabref/issues/253

[2017-09-03 11:08] AEgit commented on #3189
Might be related to this:
https://github.com/JabRef/jabref/issues/3112

[2017-09-04 00:09] wujastyk commented on #3129
JabRef 4.0-dev--snapshot--2017-09-03--master--d128e0283
Linux 4.11.0-14-generic amd64
Java 1.8.0_144

Similar freeze experienced.

1. select item, choose Required fields tab, cursor-left to arrive at biblatex source screen.
2. change field name "address" to "location" and "year" to "date".
3. select tab, and
4. Freeze (before even pressing cursor-right).

Have to "killall java" at command line and

[2017-09-04 07:41] koppor commented on #2985
I updated http://help.jabref.org/en/FileLinks today. Maybe, it helps?

[2017-09-04 08:04] mlep commented on #3174
Thank you @koji33 for completing the translation of the JabRef interface (and for the help files, too!).

JabRef interface is now fully localized for 3 languages. For the menus, Spanish an Turkish require the translation of a dozen strings only to get a full localization.

CC: @JabRef/translators

[2017-09-04 09:41] Siedlerchr commented on #3165
@notuntoward  I  implemented the drag and drop feature in the files list for reordering, see #3194
Could you try out the dev build and report if it works for you, too?
 http://builds.jabref.org/dragdropfiles/

[2017-09-05 05:53] #2284 closed

[2017-09-05 08:59] steph37tours commented on #3185
Hi, I am a very beginner. I would like to try to help. Could you give more details about this issue to help me to find a solution ? Thank you very much.

[2017-09-05 09:03] Siedlerchr commented on #3185
Hi,
thanks for your interest in JabRef. The problem is about the localization keys and their translations in the l10n properties file, e.g. here for English:
https://github.com/JabRef/jabref/blob/master/src/main/resources/l10n/JabRef_en.properties

A solution would be to add a consistency Test to make sure that there are no whitespaces in the keys and the translations. Whitespaces have to be repla

[2017-09-05 09:03] lynyus commented on #3185
Hi, @steph37tours!
I guess the first step is to check if there are spaces in the localisation strings.
`src/main/resources/l10n` contains all localisation files. A possible check should detect any spaces in these files that are not commented out (using the `#`).

[2017-09-05 09:12] steph37tours commented on #3185
Thank you for your quick answers ! I look at this and I come back.

[2017-09-05 10:12] AEgit commented on #3176
I've tried it again with:
JabRef 4.0-dev--snapshot--2017-09-02--entry-editor-performance--548537f12
Windows 10 10.0 amd64
Java 1.8.0_141

I can confirm your observation, that the originally selected item is still selected (indicated in blue). The problem, however, is, that this item is not found at the top of the non-group items (displayed in gray), but is found somewhere hidden among other non-gr

[2017-09-05 13:01] Doc73 opened #3197 "JR doesn't send citation commands to TeXworks"
JabRef 4.0-beta3
Linux 4.11.0-0.bpo.1-amd64 amd64 on Debian 9 Stretch AMD64
Java 1.8.0_141

Steps to reproduce:

1. Launch TeXworks and JabRef
2. Select a bibliographic item
3. Click on "Send to LaTeX editor"
4. Nothing appens

In settings LaTeX editor is set to default `/usr/bin/texworks`.

Thank you very much in advance.

[2017-09-05 13:48] steph37tours commented on #3185
Firstable, thank you very much for your help !
So I write the beginning of the method. But I'm not sure for instance how to parse all the properties object. And after that, how to replace the spaces by an underscore.
It was too my first pull request.

[2017-09-05 13:51] lynyus commented on #3185
Well, I think you shouldn't replace the spaces, just let the test fail, so the author will be notified, that there are invalid characters in the localization properties file.

regarding the parsing, just read in all properties like done in the other tests of https://github.com/JabRef/jabref/blob/master/src/test/java/org/jabref/logic/l10n/LocalizationConsistencyTest.java and then check if there are

[2017-09-05 14:31] steph37tours commented on #3185
I just push again. I think it's good. Does I have to make a new pull request ?

[2017-09-05 14:41] steph37tours commented on #3185
I use properties.replace(" ",""). It was not possible to use replaceAll. I think it's not a trouble as long as the assertEquals compare the String object, with the modified. Just one replace make a difference.

[2017-09-05 14:41] mlep commented on #3197
In fact, LatexEditor is a specific software (see http://www.latexeditor.org/).
So, it makes sense that selecting LatexEditor as external program does not work for TeXworks.
In fact, currently, TeXworks is not supported by JabRef (supported editors are Emacs, LatexEditor, Lyx/Kyle, Texmaker, TeXstudio, Vim and WinEdt.

[2017-09-05 14:47] Doc73 commented on #3197
Yes, but
1. LatexEditor is configured to point to `/usr/bin/texworks`
2. I remember that in previous versions of JR it worked very well

Alternatively, can you add support for TW?

[2017-09-05 14:50] mlep opened #3199 "LatexEditor: defunct ==> drop JabRef support"
The latest version of LatexEditor is from 2009 (see http://www.latexeditor.org/news.html).
Maybe the "Push to LatexEditor" could be removed from JabRef?

[2017-09-05 15:02] lynyus commented on #3185
Let's discuss the PR in the [PR-Thread](https://github.com/JabRef/jabref/pull/3198).

[2017-09-05 15:14] aayush2610 commented on #3185
Hi Guys,
I would like to help if the issue is not yet solved. It would be great if I
could get some context.

Thanks

On 5 September 2017 at 20:29, Stéphane Curet <notifications@github.com>
wrote:

[2017-09-05 15:21] lynyus commented on #3185
Hey @aayush2610, Mr. @steph37tours  is working on this at #3198, and I'm sure he will resolve this soon.

Feel free to jump into any other [issue](https://github.com/JabRef/jabref/issues). There are some labeled with [beginner](https://github.com/JabRef/jabref/labels/beginner) which we think are easier to resolve, even if you are new to JabRef.

[2017-09-05 15:21] betheunique commented on #3190
This is a bug. It is reproducible. While removing or changing group name from entry editor works fine but from groups menu it shows unexpected behaviour.

[2017-09-06 04:53] koppor commented on #3175
Maybe, we have to use YourKit (see https://github.com/JabRef/jabref/issues/3113#issuecomment-322826845) to profile where the CPU is used?

[2017-09-06 09:29] Siedlerchr commented on #3197
I could not find any information regarding commandline usage from Texworks, only that issue:
You could try to see what --help offers
https://github.com/TeXworks/texworks/issues/113
It would be nice if you could try to find information for inserting citation.
In TexMaker for example it's `-insert`

[2017-09-06 10:19] Doc73 commented on #3197
@Siedlerchr
Unfortunately, `--help` offers only this:

and I'm using the latest stable version 0.6.2 (Apr 2017). :-(

[2017-09-06 12:41] Siedlerchr commented on #3175
I just saw that the PreviewPanel is not yet translated to Javafx, maybe that could help to avoid these issues, too?

[2017-09-06 13:26] Siedlerchr commented on #3197
@Doc73 Sorry, then we have no chance to implement this. I would suggest creating an issue at the Texworks repository asking and referencing this.

[2017-09-06 13:27] Doc73 commented on #3197
Yes, I understood. Many thanks! :-)

[2017-09-06 14:37] lenhard commented on #3175
@Siedlerchr Or it will increase them ;) The performance problems are with the entry editor, not with the preview panel. It seems that JavaFX didn't turn things for the better here...

[2017-09-06 14:42] AEgit commented on #3175
I was about to say that, but didn't want to sound sarcastic ;)
Would be interesting to know whether JavaFX generally has a much higher performance fingerprint or whether it is just the implementation that can be improved (?).

[2017-09-07 00:42] h93xV2 commented on #3109
I would like to solve this issue.

[2017-09-07 01:15] h93xV2 commented on #3199
I would like to solve this issue.

[2017-09-07 01:20] h93xV2 commented on #3199
If this feature does need to be removed, I would like to do so.

[2017-09-07 07:47] lenhard commented on #3175
Yes absolutely. Maybe there are still some inception problems with JavaFX. Swing is the old gui framework that hasn't been maintained for years and will not receive any future extensions. JavaFX is the new central gui framework for Java. But it just became a core part during the release and maintenance of Java 8.

That's a reason to hope that things will get better on their own with a growing matu

[2017-09-07 12:26] steph37tours commented on #2942
So I agree to look at this.
I suppose I have firstable to find the form and add the textbox.

[2017-09-07 12:42] Siedlerchr commented on #2942
@steph37tours In our wiki you find some information about the package structure and some explainations to the architecture to get an understanding how things work together: https://github.com/JabRef/jabref/wiki/High-Level-Documentation

Even I often struggle to locate a specific gui dialog in the package structure.. So I give you a little hint:  Look at gui.help

[2017-09-07 15:46] #2622 closed

[2017-09-07 19:04] Siedlerchr commented on #3197
I close this issue now. If you have more information regarding the command line usage, then feel free to reopen it.

[2017-09-07 21:01] BKDevelop commented on #3199
Hey,
I am new to the codebase and also still fairly new to java development. My sleepy brain thinks that I solved that issue, but I will check again tomorrow morning before making a pull request.

Cheers,
Ben

[2017-09-08 11:18] lynyus commented on #3185
fixed in https://github.com/JabRef/jabref/pull/3198

[2017-09-08 11:18] #3185 closed

[2017-09-08 14:33] steph37tours commented on #2942
Thank you @Siedlerchr, I found the gui.help.
As long as for instance I've got any experience into javafx. Does I have to install scenebuilder ?

[2017-09-08 15:08] Siedlerchr commented on #2942
@steph37tours Yes, it might come in handy and eases the gui creation. The resource files (fxml) are stored in the respective folder under /src/main/resources/
If you use eclipse, I can recommend installing the e(fx)clipse plugin: http://www.eclipse.org/efxclipse/index.html

[2017-09-08 16:00] Siedlerchr commented on #3081
I did some research onto this specific issue and it seems like the problem is here the JToolBar which has an implicit KeyListener registered for the arrow keys.
So I guess when we rework the toolbar the workaround should be no longer necessary
https://stackoverflow.com/a/17049479/3450689

[2017-09-08 16:40] steph37tours commented on #2942
Actually version show is "unknow" and I've got any developers, etc...
How to have some info to test ?

[2017-09-08 16:41] steph37tours commented on #2942
I use a TextArea.

[2017-09-08 17:34] #3199 closed

[2017-09-08 17:36] steph37tours commented on #2942
I create a String into the controller. Into a Label, I see it, but not into the textarea.

[2017-09-08 17:51] jonasstein commented on #2942
Please do not get me wrong, but I suggest you use a chat like IRC for discussion in spite of a bug tracker. I (and all others) get a notification for each activity here and it is rather about general Java programming/ Jabref structure than the bug. Anyway, thank you for taking care of this ticket and your effort.

[2017-09-08 19:08] Siedlerchr commented on #2942
@steph37tours  Agree with @jonasstein  You can add me at Skype for more discussions:
My Skype name is  `siedlerkiller2.0`

[2017-09-10 08:17] notuntoward opened #3206 "Some latex author name characters are deleted in entry list"
When an author name has latex in it e.g. "B{\o}rmann," JabRef usually renders it in the entry list.  But not for the attached BibTeX entry.  As shown in the screenshot, "{\DH}alto" is shown as "alto," although it is shown correctly in the preview.

![image](https://user-images.githubusercontent.com/3851891/30247236-e0ce062a-960f-11e7-8fa6-54f6fbce9653.png)

[AuthorProblem.txt](https://github.com/J

[2017-09-10 08:36] notuntoward commented on #2930
One thing still missing is 3.) in the original report.  The "description" field (entered in the File popup), isn't displayed.  Lately, there is  a mouse-hover hint but you have to hover your mouse over the entry but it takes nearly a second for it to show up, and if there no description was entered, you wait longer until you finally give up and conclude that there is no description.

In JabRef 3x,

[2017-09-10 08:50] notuntoward commented on #2985
Yes, the explanation does help.

One thing that still doesn't work, though, is the automatic file link setter -- if I have an entry with the Bibtexkey 'bob' and if there is a file ./papers/bob.pdf, then the pdf is not found, either after hitting F7 or after clicking on the "Automatically set file links..." icon on the left side of the General tab.

[2017-09-10 08:54] notuntoward commented on #3165
Yes, drag and drop works for me.  Thanks.

[2017-09-10 10:44] ilippert commented on #3159
Just as a brief addition: it is well possible to add a file via the + icon to the (Entry editor's) File field.

[2017-09-10 16:31] Siedlerchr commented on #2930
@notuntoward  The description problem are acutally two problems.
 The displaying is not the problem, the problem is that the descr does not get synchronized/wrritten to the bibtex code

[2017-09-10 16:49] notuntoward commented on #2930
@Siedlerchr you're absolutely right that the description doesn't get written to the bib file -- I hadn't noticed that before -- but if it had been written, would it still be displayed only as a mouse hover hint?

[2017-09-10 18:06] Siedlerchr commented on #2930
Existing descriptions are shown as tooltip, but not updated if you change them. I am currently preparing a PR for the display directly, however I first wanted to make sure the synchro of the description works

[2017-09-10 19:03] ahlusar1989 commented on #323
@koppor I would be happy to address this, if you would like.

[2017-09-10 19:12] koppor commented on #323
@ahlusar1989 Sure, every helping hand is welcome! Please take care about good architecture when implementing it. See https://github.com/JabRef/jabref/wiki/High-Level-Documentation.

Looking forward to your first pull request to JabRef!

[2017-09-10 19:26] tobiasdiez commented on #2930
To display the description only as a tooltip was actually by design. In most cases (I guess), the file name is sufficient to identify the file and thus the description is not really necessary. Thus the idea was to hide the description a bit in order to make the interface lighter and don't cramp everything. @notuntoward what is your use case for which you need the description field?

[2017-09-10 19:51] tobiasdiez commented on #3112
@lenhard The coloring is determined by [pseudo classes](https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/groups/GroupTree.css#L24) that are [bound](https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/groups/GroupTreeController.java#L122) to the [anySelectedEntriesMatchedProperty/allSelectedEntriesMatchedProperty](https://github.com/JabRef/jabref/blob/

[2017-09-10 20:27] ulfjack opened #3207 "JabRef 4.0beta3 hangs on startup"
[code]

[2017-09-10 20:29] ulfjack commented on #3207
My version of Java:
[code]

[2017-09-10 20:29] ulfjack commented on #3207
Oh, yeah, this is on MacOS 10.12.5.

[2017-09-10 20:30] ulfjack commented on #3207
Grepcode says that the constructor is private - http://grepcode.com/file/repo1.maven.org/maven2/net.java.openjfx.backport/openjfx-78-backport/1.8.0-ea-b96.1/com/sun/javafx/css/parser/CSSParser.java

[2017-09-10 21:18] tobiasdiez commented on #3146
This could be a consequence of the transition to JavaFX (as the whole application is now started under the JavaFX umbrella https://github.com/JabRef/jabref/blob/45031170ccc6285505599bbdfd0a3445024e31d9/src/main/java/org/jabref/JabRefMain.java#L40). Maybe a related/helpful discussion: https://stackoverflow.com/questions/22569046/how-to-make-an-os-x-menubar-in-javafx

[2017-09-10 21:26] Siedlerchr commented on #2930
@tobiasdiez
You don't happen to have an idea why the file description is not synced with the bib entry code but the file link and type, although they are just properties of the same class ?

[2017-09-10 21:34] tobiasdiez commented on #2930
no, sorry, I don't have an idea. Did you write (do we have?) a test checking that the linked file class is serialized correctly? If thats the case, the problem has to lie in saving the contents of the description text field in the class field (or serializing the previous class before the edit).

[2017-09-11 11:16] tobiasdiez commented on #3142
@lenhard I cannot reproduce the issue with the steps you describe with the latest master. For me, an empty groups tree is displayed for the new database.

Codewise, it (should) work as follows: The statemanager is notified about the new database https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/JabRefFrame.java#L617 and propagates the event to the group tree view https://gi

[2017-09-11 13:54] tobiasdiez commented on #2927
@jonasstein Does this issue still happen with the most recent development version?

[2017-09-11 14:08] jonasstein commented on #2927
Just downloaded
[code]
The icons did not disappear any more. Thank you.

[2017-09-11 14:08] #2927 closed

[2017-09-11 14:14] lynyus commented on #2942
@jonasstein This issue was fixed in https://github.com/JabRef/jabref/pull/3205

[2017-09-11 14:14] #2942 closed

[2017-09-11 14:18] Siedlerchr opened #3208 "Description of LinkedFiles is not synced to the bibtex code/database"
Existing files and descriptions are shown, but not changed on editing.

Follow up from  https://github.com/JabRef/jabref/issues/2930#issuecomment-328354137

[2017-09-11 14:21] Siedlerchr commented on #2930
@notuntoward  I created a follow up issue for the description sync problem in #3208

[2017-09-11 15:11] lenhard commented on #3142
@tobiasdiez Hm, you use Win10, right? if you cannot reproduce this, maybe the problem is related to Win7. Because for me it is no problem to reproduce and I have the same setting as @bernhard-kleine

We might need more help tracking this down from other people that use different settings.

[2017-09-11 15:15] notuntoward commented on #2930
Hi @tobiasdiez, I often have several documents under one entry.  Examples are:

1. the paper, the presentation slides, the tech note
2. several drafts of a paper I'm reviewing for a journal
3. a paper and a bunch of supporting documents (math pages from wikipedia, emails from the author, ...)

It's sometimes not easy to compactly distinguish these things with a file name, but if you try, you'll wa

[2017-09-11 15:29] tobiasdiez commented on #3142
Yes, I'm on Win10. Can you please verify that https://github.com/JabRef/jabref/blob/007a534d0db7032a77260aa492e15523d44512d9/src/main/java/org/jabref/gui/groups/GroupTreeViewModel.java#L113 is invoked (with the proper empty database as argument), when you create a new database.

[2017-09-11 17:09] matthiasgeiger commented on #3207
Could you please Update your Java version. There were some important changes regarding JavaFX in one of the minor updates (I think it was 1.8.0_60).

Thanks!

[2017-09-12 08:16] lenhard commented on #3142
I debugged this and the method is invoked with the empty database. This is the case for BibTeX and biblatex, but unfortunately the group tree doesn't get updated properly.

[2017-09-12 15:22] notuntoward commented on #2887
I don't see this problem on more recent builds so I'll close this myself.

[2017-09-12 15:22] #2887 closed

[2017-09-12 20:45] #2775 closed

[2017-09-12 20:48] lynyus commented on #2775
We think, this is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you.

[2017-09-12 21:00] lynyus commented on #3167
Thanks to @snisnisniksonah, we finally have a solution for this. Check out the latest build from http://builds.jabref.org/master/ if it works for you.

[2017-09-12 21:00] #3167 closed

[2017-09-12 21:53] KennethJohnKelly commented on #2775
Works fine, thank-you!

On Tue, Sep 12, 2017 at 4:45 PM, Linus Dietz <notifications@github.com>
wrote:

[2017-09-13 08:43] mlep commented on #3174
@JabRef/translators
There is only one programming issue to be resolved before the release of JabRef 4.0. So, it is time to tidy up things!
- For the menus, only 10-20 strings are waiting for the following languages: Indonesian, Vietnamese, Swedish, Farsi, Dutch, Russian, Danish, Portuguese and Norwegian.
- For the general files, **a single string** is waiting for translations into Japanese, French

[2017-09-13 09:24] bernhard-kleine opened #3213 "Group field not visible in the editor when no group has been entered before."
JabRef 4.0-beta3
Windows 7 6.1 amd64
Java 1.8.0_144

Trying to enter a group for an entry in the editor is not possible, when there  no former group has been defined for that entry, since the group field is not shown.

This is a omission since in some situation it is easier and faster to type a group in the editor than using the group panel.

Adding the group using the bibtex source, added the gro

[2017-09-13 10:00] Tsovet opened #3215 "Cannot import groups when opening a bibtex database created by a windows version of jabref with the ubuntu version"
I created a bibex database under windows with jabref, when I moved to ubuntu and open the .bib file, I lose all the group information, because it seems the grouping is implemented differently under windows and ubuntu. Therefore I need to recreate all goups by hand..

[2017-09-13 10:15] Siedlerchr commented on #3215
Are you using different versions of JabRef under windows and linux? Since version 4.0 JabRef has a new group format which is not backwards compatible to the old 3.x format.

For Ubuntu you can try out the latest version as snap:
https://github.com/JabRef/jabref/issues/3121

[2017-09-13 10:16] lynyus commented on #3215
Thanks for the report. Please note that the groups have been restructured between 3.8.2. and 4.0. (cf. http://blog.jabref.org/#april-17-2017-–-jabref-4-0-is-on-the-way-–-beta-version-release)...

@Siedlerchr was faster....

[2017-09-13 10:52] j0hannes commented on #3113
I can confirm this issue with the 4.0-dev version. After using JabRef for a while, memory consumption goes up from 5.8% (start) to 18.1% and more. That's when I close and reopen it.

[2017-09-13 11:03] bernhard-kleine commented on #3215
I wonder whether the group information in the individual entries remained. Why not using that information for building the group tree? Then, the group tree at the end of the bib file could be recreated at least without subgroups.

[2017-09-13 12:51] bernhard-kleine opened #3216 "Dragging an entry to group brings the display to the beginning of the datafile"
JabRef 4.0-beta3
Windows 7 6.1 amd64
Java 1.8.0_144

Steps to reproduce:

1. open a large database
2. go to the end of database display
3. drag an entry to a group on the left group panel
4. The display jumbs to the beginning of the database

This is most inconvenient since one is loosing the focus of the entry which was dragged. With some 2000 entries you have restart searching for that entry. No

[2017-09-13 14:24] lenhard commented on #3113
To take some information from the PR linked above, the typical memory usage look like in this picture:

![heap](https://user-images.githubusercontent.com/1515701/29381572-f60537f6-82c9-11e7-9ad9-20e6208ca648.png)

Sometimes there is a peak in memory usage (i.e. cycling through the entry editor) which makes Java reserve a lot of memory. When garbage collection happens, the used heap goes down a lot

[2017-09-13 15:27] lenhard commented on #3213
That is by design and was implemented in #3097.

Some users were annoyed by having a Other fields tab, when they did not actually use other fields. That's why we now only display the tab when there's actual content.

@JabRef/developers We won't make everyone happy. My personal suggestion would be to mark this issue as "won't fix".  Before we refactored grouping, the group tree was the only way to

[2017-09-13 15:29] lenhard commented on #3215
@bernhard-kleine That is exactly how groups work now :) The info is stored as part of the entries.

[2017-09-13 16:50] bernhard-kleine commented on #3213
The empty/missing field when a group has not been assigned I can accept, but the other thing, when a group is not properly shown in the group panel, is not acceptable. That should be fixed.

It is the almost same problem when a JR3.8 database is opened in JR4.0 and any groups are not shown which has already been mentioned several times before. Why not use in that case the rudimentary tree taken fr

[2017-09-13 17:01] bernhard-kleine commented on #3215
But not used to build the tree!

[2017-09-13 17:12] koppor commented on #3213
+1 for moving groups from "Other" to "General"

Am 13.09.2017 17:27 schrieb "Jörg Lenhard" <notifications@github.com>:

[2017-09-13 19:27] wujastyk opened #3217 "Again with the editor panels"
JabRef 4.0-dev--snapshot--2017-09-13--master--343545ee8
Linux 4.10.0-33-generic amd64
Java 1.8.0_144

Steps to reproduce:

1. open a blank Article for editing
2. Go to Optional Fields tab and enter the DOI.  Download the DOI info and "replace" the current (empty) fields.
3. The Required Fields and Optional Fields tabs are now populated correctly
3. The biblatex source tab is empty except for the D

[2017-09-13 20:07] tobiasdiez commented on #3213
@bernhard-kleine Migration of groups from 3.8 to 4.0 should work without a problem, if not then this is a bug! What does not work is the converse: if you open a database created with 4.0 in 3.8, then the group tree is not shown properly and/or not all entries are properly assigned to the groups. But it is understandable that new versions might break backwards-compatibility is such a way.

[2017-09-13 20:32] tobiasdiez commented on #3113
https://stackoverflow.com/questions/30458195/does-gc-release-back-memory-to-os ?

[2017-09-13 22:55] j0hannes opened #3219 "New entries should be shown when matching the current selection (search, web search)"
JabRef version 4.0-dev

Steps to reproduce:

1. Search for an author, e.g. Miller.
2. Use web search to find some publications by someone called Miller.
3. Add them.

The new entries are not shown although matching the search expression.

[2017-09-14 07:06] koppor commented on #2942
Regarding the discussion channels: Although IRC is non-proprietary, we offer a slack group. We are also aware of [gitter](https://gitter.im/), but opted for the more popular one. @steph37tours already joined.

Hey, and slack offers XMPP 😄  See https://www.slant.co/versus/4553/4567/~slack_vs_gitter-im

[2017-09-14 09:38] stefan-kolb commented on #3206
I think we use https://github.com/tomtung/latex2unicode for that right now, if I'm not mistaken?

[2017-09-14 09:50] stefan-kolb commented on #3206
So the test would be `{\DH}alto`has to turn into `Ðalto`.
@tomtung Can this be fixed in your library?

[2017-09-14 11:27] stefan-kolb commented on #3206
Ok, for more information.
This only works with `\usepackage[T1]{fontenc}` and should also be the case for `{\DJ}`.
Not sure if this is handled by latex2unicode.

[2017-09-14 11:40] stefan-kolb commented on #3166
Hitting escape works for me. Although I think this is a bug, as even if i hit enter after my string to prvent the auto completion it just takes the auto-completed find.

[2017-09-14 11:50] #3190 closed

[2017-09-14 11:51] stefan-kolb commented on #3138
@JabRef/developers  How should this work without an absolute path? What kind of relative path should we use for the last edited file? Starting from which directory? Unfortunately, I don't think this is feasible.

[2017-09-14 11:56] stefan-kolb commented on #676
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2017-09-14 11:56] #676 closed

[2017-09-14 12:00] stefan-kolb commented on #2254
@JabRef/developers Is this still valid for the JavaFX implementation or can we close this?

[2017-09-14 12:07] stefan-kolb commented on #2633
@JabRef/developers Is this still valid for 4.0? Will we change this?

[2017-09-14 12:08] alfadaco commented on #3138
Hi stefan-kolb,

I understand that your question was not directed to me but, if I may, I would use the position of the .jar file when you launch it. It's very convenient for a cross-platform application.

For example, you could have everything inside a pen drive and, moving together both the .jar and the .bib files would work like a charm.
Instead, for those that have JabRef installed in a fixed p

[2017-09-14 12:10] TLCFEM commented on #2633
As far as I can tell, in 4.0 beta 3 the problem still exist..

[2017-09-14 12:11] stefan-kolb commented on #2712
Any progress on this?

[2017-09-14 12:15] stefan-kolb commented on #3138
For me this is a hack. Makes only sense if you install JabRef in the same location on every computer and the bib file's path is consistent to this directory on every pc. Isn't it a lot easier to just put the bib files in a shareable directory or syymlink mount this directory if you want to work with the bib and Jabref consistently on different PCs? You are expecting a similar experience from JabRe

[2017-09-14 12:19] koppor commented on #2633
@TLCFEM You say, that 3.8.1 worked correctly or some other earlier version?

[2017-09-14 12:23] TLCFEM commented on #2633
It has been a long time and I cannot remember exactly. So far I can tell that version 3.6 works properly so the modification was carried out somewhere between version 3.6 and 3.8.2. And I am sure that there is no fix since 3.8.2. I know little about Java so I cannot examine the codes and locate the problem. Sorry for little information provided.

[2017-09-14 12:43] alfadaco commented on #3138
Ok, maybe I should have better explained myself.

Below I will use
 - "XX fixed" to say that XX remains in the same directory
 - "XX moving" to say that XX changes directory
and I refer to JabRef as the .jar file (the portable version that you can open on every OS)

With absolute path you have this behaviour for last edited:
 - JabRef fixed, BiB fixed: it works
 - JabRef fixed, BiB moving: doesn't

[2017-09-14 13:05] stefan-kolb commented on #3138
Ok, I get what you mean. You want a portable version of JabRef including the bib files in some folder.

[2017-09-14 13:12] alfadaco commented on #3138
Yep, exactly! I think it will be very convenient accessing your bibliography basically everywhere there is a JavaVM running.

I don't know how hard it is, but you could even add a switch in the preferences to toggle the behaviour between the relative one and the absolute one. But this is up to you guys. ;-)

I'm glad we finally understood each other, and thank you for your time.

[2017-09-14 14:30] Siedlerchr commented on #3217
This looks like a similar problem we had with #3208  that the underlying model is updated but not the view model

[2017-09-15 04:31] Andrew-Lev commented on #3190
Ah sorry didnt realize that.  Will do so in the future.

[2017-09-15 09:07] tobiasdiez commented on #2633
So your final aim is to include one bib file in many tex documents without having to copy the file over and over again? For this, TeX actually provides a neat mechanism: you can put your bib file in a central folder (or register the current location within your TeX distribution), where every TeX document find it. See for example the following [answer to a similar question](https://tex.stackexchang

[2017-09-15 10:28] ilippert opened #3222 "snapshot: file attachments view wrong"
relevant for #3121

I use JabRef 4.0-dev
Linux 4.12.11-300.fc26.x86_64 amd64
Java 1.8.0_131
as a snapshot.

I get a wrong view about attached files - it shows lots of attached files, whilst only the top file is the one indicated in the raw bibtex code

![file-field](https://user-images.githubusercontent.com/20518297/30478423-451adf72-9a11-11e7-94c0-7c1c77c45f6c.jpg)

![entry raw](https://user-imag

[2017-09-15 11:43] j0hannes commented on #3113
I tried to limit memory consumption by adding `-Xmx750M` to the JabRef script, but it already uses 1.2 GB and doesn't seem to stop growing. Any ideas?

[2017-09-15 11:54] chochreiner commented on #3146
yes, this is due to the migration to JavaFX.

The current approach in JabRefGUI.java only works with swing.

`       // This property is set to make the Mac OSX Java VM move the menu bar to the top of the screen
        if (OS.OS_X) {
            System.setProperty("apple.laf.useScreenMenuBar", "true");
        }
`

So far I have not found any possibility how to restore this feature for the JMenuB

[2017-09-15 12:37] chochreiner commented on #3127
The MacAdapter does not seam to work as it used to for the Swing application.
This is why the MacOs specific shortcuts do not work anymore
There is actually already a [FeatureRequest](https://bugs.openjdk.java.net/browse/JDK-8091683) on this topic for the JDK, but I guess it has a rather low priority.

[2017-09-15 13:37] Siedlerchr commented on #3222
Probably resolved when #3210 is merged

[2017-09-15 13:44] Siedlerchr commented on #3113
@j0hannes  Did you pass the arguments to the jar file?
https://docs.oracle.com/javase/8/docs/technotes/guides/vm/gctuning/index.html

[2017-09-15 14:35] j0hannes commented on #3113
@Siedlerchr, I changed my `/usr/bin/jabref`:
[code]

[2017-09-16 00:48] lynyus commented on #3172
fixed in #3211. Thanks @Andrew-Lev!

[2017-09-16 00:48] #3172 closed

[2017-09-16 00:53] lynyus commented on #3138
We'll discuss the feasibility and utility of this in the next devcall and come back to you.

[2017-09-16 13:18] MarioLipinski commented on #3167
I am still seeing this issue with current master.

When I open Jabref, Use File -> Connect to shared database and enable 'Automatically save the library to', I am still seeing this issue.
If I close Jabref and reopen, the local file is opened instead but automagically it is still synced to the database (a bit scary though). Then I do not see the errors.

In any case, typing in the text fields is a

[2017-09-16 21:32] AEgit commented on #3216
Might be a duplicate of https://github.com/JabRef/jabref/issues/3176

[2017-09-17 09:16] crystalfp commented on #2753
JabRef 4.0-beta3
Windows 10 10.0 amd64
Java 1.8.0_131
Check integrity complains on this data field: 2008-07/2008-08 (JabRef more: biblatex)
It is a journal article published on the July/August 2008 issue.
The complete entry is:
@Article{Carr2008,
  author       = {Nicholas Carr},
  title        = {Is Google Making Us Stupid?},
  journaltitle = {The Atlantic},
  date         = {2008-07/2008-08},

[2017-09-17 09:21] crystalfp opened #3225 "Check integrity complains on a valid name"
JabRef 4.0-beta3
Windows 10 10.0 amd64
Java 1.8.0_131

Check integrity (biblatex mode) complains on "Names are not in the standard BibTeX format" for the following valid entry:

[code]

Also in my opinion the error message should be congruent with the current mode (BibTeX  or biblatex).

[2017-09-17 09:28] crystalfp opened #3226 "Exceptions regarding XMP"
JabRef 4.0-beta3
Windows 10 10.0 amd64
Java 1.8.0_131

In the event log there are two exceptions for which I have no clue where they happened and what should I do to fix them (the following are only the two exceptions, the rest of the log has been deleted):

[code]

Please add to the exception message at least the key that caused the error.
Thanks!
mario

[2017-09-17 10:02] bernhard-kleine commented on #3216
I checked #3176, I am not convinced it the same issue: The display of entries should not be dependent of whether you have dragged any entry to the group panel. It should stay as it was before the dragging.
my 5€-cts
Bernhard

[2017-09-17 10:07] AEgit commented on #3216
I agree with you, that this should not happen. The reason I think this might be a duplicate of https://github.com/JabRef/jabref/issues/3176 is because I have the impression that the current development version of JabRef generally has a problem in updating the main table and keeping the focus on items on the main table. If that's the case, then both https://github.com/JabRef/jabref/issues/3176 and

[2017-09-18 09:22] j0hannes commented on #3113
Seems that this is no solution to the problem.  The entry editor is broken after a while (won't display entries completely) and memory consumption readily exceeds the given limit.

[2017-09-18 14:14] koppor commented on #3138
- [ ] Store location of last recent files relative to JabRef's location if
 - a) JabRef is not located in its default directory (Program Files)
 - b) JabRef is located in a parent folder
 - c) JabRef is located in the sub folder

Workaround: Create a `bat` file for Windows and `sh` file opening all bibliographies

[2017-09-18 14:18] koppor commented on #2633
Solution for a potential developer: Check our file mode when writing. It should truncate + append, not delete and recreate.

[2017-09-18 14:35] Siedlerchr commented on #2254
Resolved in the current 4.0 version

[2017-09-18 14:35] #2254 closed

[2017-09-18 14:35] lenhard commented on #3226
The messages just say that JabRef tried to read meta information from a pdf file, but failed. That's nothing critical. You can just ignore those.

Are you trying to read XMP data from a file?

[2017-09-18 14:39] koppor commented on #3129
@wujastyk Can you paste the entry, you are trying this?

[2017-09-18 14:40] crystalfp commented on #3226
No for what I know. Simply I cannot understand where it happened and asked for something to identify where has been triggered. Anyway, I agree with you, it seems harmless.
Thanks!
Mario

Il 18 Settembre 2017 16:35:55 CEST, "Jörg Lenhard" <notifications@github.com> ha scritto:

--
Inviato da Galaxy Notes con K-9 Mail. Perdonate la brevità.

[2017-09-18 14:40] koppor commented on #3129
Interesting content of the thread dump:

[code]

[2017-09-18 14:42] koppor commented on #3226
We are going to rewrite the XMP functionality. See https://github.com/JabRef/jabref/pull/1096.

[2017-09-18 14:56] lenhard commented on #3226
Ok, thanks for the feedback. In that case, I think this can be closed.

[2017-09-18 14:56] #3226 closed

[2017-09-18 18:15] wujastyk commented on #3129
JabRef 4.0-dev--snapshot--2017-09-17--master--a0e552925
Linux 4.10.0-33-generic amd64
Java 1.8.0_144

I'm afraid that I'm now on a later release, and I can't reproduce the freeze. I also did not make a note of the particular bibtex entry I was working on at the time.  Sorry!

[2017-09-19 12:02] #3129 closed

[2017-09-19 20:03] ulfjack commented on #3207
Seems to work with 1.8.0_144. Thanks. Consider having a check at startup and give an error message instead of failing silently?

[2017-09-20 08:26] #3208 closed

[2017-09-20 10:21] bdcaf opened #3227 "Jabref slow/hangs on Macbook Air, Sierra"
JabRef version JabRef 4.0-dev--snapshot--2017-09-17--master--a0e552925
Mac OS X 10.12.6 x86_64
Java 1.8.0_144

On my machine Jabref hangs for about 30 minutes as soon as the edit entry window is opened.

Steps to reproduce:

1. Start Jabref
2. Click "New Bibtex Library"
3. Click "New Bibtex Entry"
4. Select "Article"
5. Spinning Beachball for about 30 minutes

<details>
  <summary> Description</su

[2017-09-20 11:02] lynyus commented on #3227
@bdcaf that's weird, that would mean that JabRef is basically not usable for anybody on a Mac.

I personally can't reproduce this on my mac, so we need to investigate what's the problem with JabRef on your system.
So please, try the following
1) reboot and test again with a current 4.0-dev build.
2) If this fails try executing JabRef with a runnable jar from commend line (also available here http:

[2017-09-20 13:12] bdcaf commented on #3227
Yeah I suppose this is not too common otherwise someone would have noticed.

So I started doing: `java -jar JabRef-4.0-dev--snapshot--2017-09-17--master--a0e552925.jar`

In the console the output is:
[code]

The adding the entry is still slow.   In activity monitor there is just 1% CPU utilisation during the "hang", after the time it jumps to around 25% then back to 1%. Memory usage was 255MB befo

[2017-09-20 15:17] matthiasgeiger commented on #3227
Another idea: can you please export your preferences and then reset the preferences to the defaults. Does this solve the problem?

[2017-09-20 16:13] bdcaf commented on #3227
I just tried with 3.8.2 and I can add entries as expected. Unfortunately I can not download DOI information with this version.

About the preferences.  It's hidden in the details section, I already tried resetting them.  I also manually removed all Jabref related files that were put in `~/Library/Preferences`.

[2017-09-20 17:01] bdcaf commented on #3227
I did some research.   [This article](https://dzone.com/articles/macos-sierra-problems-with-javanetinetaddress-getl)  suggests explicitely adding the hostname to `/etc/hosts` - and the window opens after a few seconds.  I did just a short test but it looks promising.  Will close this bug if I can confirm this.   Funny that it was no issue for 3.8.2.

Btw. I followed other leads suggesting that pro

[2017-09-20 19:16] tobiasdiez opened #3229 "Improve error handling when renaming a linked file"
JabRef 4.0-dev--snapshot--2017-09-20--master--b0489d5b3
Windows 10 10.0 amd64
Java 1.8.0_131

Steps to reproduce:

1. Link a pdf to an entry and open the pdf.
2. Right click the file in the entry editor and choose "Rename file"
3. Rename fails since access is denied (which is ok), but no error message is shown to the user. The following exception is logged however.

<details>
<summary>Detail infor

[2017-09-20 19:21] tobiasdiez opened #3230 "Exception when renaming a file that is not in the main directory"
JabRef 4.0-dev--snapshot--2017-09-20--master--b0489d5b3
Windows 10 10.0 amd64
Java 1.8.0_131

Steps to reproduce:

1. Link a PDF in a folder that is not the main file directory specified in the database properties.
2. Rightclick >Rename file
3. File is renamed but exception is thrown (see below). The link is not updated properly to reflect the name. I would have actually assumed that the file is r

[2017-09-21 02:18] fylimas opened #3231 "Feature request: file preview with browsers, give access to hypothes.is"
[Hypothes.is](https://web.hypothes.is/) is a very good annotation methods, to keep the notes on almost everything you can read via a browsers, such as web pages, pdf, epub, etc.

While doing research, the annotation on pdf is a great part of the work. Adobe pdf readers, and others, bound the users and annotations on a single file, and changes the file. This prevent the readers collect all his anno

[2017-09-21 08:03] matthiasgeiger commented on #3227
Thanks for your effort in investigating the problem!

Hopefully, this is really the underlying problem...

[2017-09-21 08:52] Siedlerchr commented on #3230
Moving and renaming are two different cleanup commands which have clear semantics and only do what their name implies.  This allows both commands to run independently and/or after each other.

[2017-09-22 12:46] bdcaf opened #3232 "Edit Group window too large for screen with 768px height"
JabRef 4.0-dev--snapshot--2017-09-20--master--b0489d5b3
Mac OS X 10.12.6 x86_64
Java 1.8.0_144

Steps to reproduce:

1. Start JabRef on screen with 768px height
![bildschirmfoto 2017-09-22 um 14 45 04](https://user-images.githubusercontent.com/7136120/30744970-ae661ef4-9fa4-11e7-8322-c762ff057260.png)

As you notice the buttons to confirm and abort are not on screen and not clickable. As about a q

[2017-09-23 13:31] koppor commented on #2409
Java 9 also improves support: http://openjdk.java.net/jeps/263

(found via https://www.sitepoint.com/inside-java-9-part-i/)

[2017-09-23 14:13] Siedlerchr commented on #2594
Okay, the final release of java 9 is out and I played around with jdeps to anaylze dependencies to internal jdk libs:
To summarize:
controlsfx
Our custom hack
and wiremock

[code]

[2017-09-23 18:45] Siedlerchr commented on #3222
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you.

[2017-09-23 18:45] #3222 closed

[2017-09-24 11:34] Siedlerchr commented on #3232
Refs #2630

[2017-09-24 12:49] Hillery21 commented on #2622
Hi ! :) I encounter the same problem. I used Long path tool for this... Try using it too. And please let me know  your experience about it . :)

[2017-09-25 22:08] #3227 closed

[2017-09-26 01:36] wujastyk opened #3234 "Freezes under Linux"
JabRef 4.0-dev--snapshot--2017-09-23--master--8a420b4fc
Linux 4.10.0-35-generic amd64
Java 1.8.0_144

And also other versions over the last ten days.

Steps to reproduce:

I don't know what to say, because it's not predictable.  Maybe when I'm editing the biblatex source tab?
I'm sorry to be so vague. If you give me instructions about scraping up a logfile, I'll gladly do it.

It's bad enough that

[2017-09-26 07:26] lenhard commented on #3234
Sorry, but based on that description there's little we can do at this end.

If there are random freezes for different releases then this sounds more like an environmental problem to me. Maybe something is broken in your distro/JRE installation?

[2017-09-26 10:25] g-mos opened #3235 "Weird behaviour in PostgreSQL database"
JabRef version JabRef-4.0-dev--snapshot--2017-09-20--master--b0489d5b3 on  Windows 10 | Ubuntu 16.04

Steps to reproduce:

1. Connect to a shared database
2. Tick automatically save the library to
3.  Connect

On a database viewer I was monitoring what was done on the database.
The weird thing I saw was, that when Jabref started to connect all the metadata table was deleted. The first thing restor

[2017-09-26 13:21] napseis commented on #3164
It is indeed displayed bug. If database is opened with 3.x verion, entry shows up once. But it's quite annoying, in version 4 I have to close database and reopen it in order to fix the display. Pulling change from sql doesn't  refresh correctly.

[2017-09-26 13:37] wujastyk commented on #3234
Yes, I thought that too.  I'm getting the lockups on three different
machines, but they are all similar in running Linux Mint and Oracle Java 8.

Sent from Android phone

On 26 Sep 2017 01:26, "Jörg Lenhard" <notifications@github.com> wrote:

[2017-09-26 14:54] lenhard commented on #3234
Ok, if you see freezes on Linux Mint, then this sounds very much like #2963

[2017-09-26 16:45] Siedlerchr commented on #2594
Controlsfx has a java9 comptaible 9.0.0 release http://fxexperience.com/controlsfx/
FontawesomeFX is working on java 9 support: https://bitbucket.org/Jerady/fontawesomefx/issues/48/cssparser-unavailable-in-java-9

[2017-09-26 20:46] tobiasdiez commented on #3229
Implemented by @derebaba!

[2017-09-26 20:46] #3229 closed

[2017-09-27 05:17] iTao8 opened #3236 "freezes on macOS High Sierra"
1. Open a library
2. double click an entry to open the entry editor
3. freezes

When the entry editor is opened, then move the down arrow to move the entry to the next one, and then freezes

JabRef 4.0-dev--snapshot--2017-09-26--master--35c447bd8
Mac OS X 10.13 x86_64
Java 1.8.0_144

This problem appears on the version snapshot--2017-09-26 and the current one

[2017-09-27 09:43] Siedlerchr commented on #2594
FontawesomeFX 9.0.0 is out, with java 9 module support
http://www.jensd.de/wordpress/?p=2686

[2017-09-27 11:14] lenhard commented on #3235
To add a link to the issue you were referring to  #2647

[2017-09-27 11:16] lenhard commented on #2647
@koppor: You've written above that this is fixed by #2284. That has been merged, so I guess we can close the issue?

[2017-09-27 11:17] #2647 closed

[2017-09-27 11:21] bernhard-kleine opened #3237 "add to group for several issues only by dragging"
JabRef 4.0-beta3
Windows 7 6.1 amd64
Java 1.8.0_144

When I wanted to "add to group" and had selected 15 entries, it did not work:

Steps to reproduce:

1. Select a couple of entries e.g. 15
2. Right click and choose "Add to group"
3. Select the group e.g. test in the example
4. Press OK and the group indicator indicates that 1 entry has been added.
5. Pressing additional OKs adds further entries

[2017-09-27 11:34] Siedlerchr commented on #3237
Refs #2630

[2017-09-27 13:36] tobiasdiez commented on #2594
wiremock shouldn't be a problem as it is only used in the tests

[2017-09-27 15:53] tobiasdiez commented on #2326
Superseded by https://github.com/JabRef/jabref/issues/2594 and thus I will remove the "on-hold" label.

[2017-09-28 11:30] fylimas opened #3239 "IEEE preview does not display month"
Currently, the reference are previewed in Jabref without the field month, as shown in the following:
![image](https://user-images.githubusercontent.com/17979090/30964175-d44f2376-a482-11e7-95d0-cece57920f5c.png)

However, the bib should be and is compiled correctly as follows (in which the month is displayed):
![image](https://user-images.githubusercontent.com/17979090/30964158-c508ab1c-a482-11e7-

[2017-09-29 10:10] chochreiner commented on #3236
I can confirm this bug on High Sierra (10.13), which was not there on Sierra (10.12).
This bug only affects the entry editor, but not the about window (which is also a javafx component).
There are no hints in the log files/console output and updating to the java8u152(beta) did not change anything.
Is there any high resolution specific stuff in the entry editor (especially fonts)? @tobiasdiez

[2017-09-29 13:12] tobiasdiez commented on #3236
There is no real difference between the entry editor and other javafx implementations (like the groups interface or the search bar). The entry editor however accesses the file system, maybe the problem lies there. Can you please create a thread dump and/or use a debugger to investigate this problem further? Thanks!

[2017-09-29 14:25] chochreiner commented on #3236
There seems to be an issue with the related articles tab.
When I am within the university network, the performance is okish, but otherwise it is not acceptable.

@iTao8 could you please try to disable the "related articles" tab in the preferences (Entry editor -> "Show 'Related Articles' tab"

[2017-09-29 17:47] iTao8 commented on #3236
@chochreiner The "related articles" tab is always disabled.

[2017-09-29 17:56] chochreiner commented on #3236
@tobiasdiez are there any other requests to scientific portals like ieee, acm, ... which could result in a timeout outside of university networks/when the user has no permission to access these services

[2017-09-29 20:47] matthiasgeiger commented on #3236
Potentially #3227?

[2017-10-01 01:58] wujastyk commented on #3234
Yes, it does sound like #2963.
I was able to generate a freeze in JabRef 4.0-dev--snapshot--2017-09-23--master--8a420b4fc by editing in the "biblatex source" tab and then trying to go back to "required fields".

Today I'm using
JabRef 4.0-dev--snapshot--2017-09-29--master--6cca2ed32
Linux 4.10.0-35-generic amd64
Java 1.8.0_144

and I haven't had any freezes.

[2017-10-01 18:12] vatdaell commented on #3239
I can look into this and try to fix it

[2017-10-01 18:29] wujastyk commented on #3234
JabRef 4.0-dev--snapshot--2017-09-29--master--6cca2ed32
Linux 4.10.0-35-generic amd64
Java 1.8.0_144

New freeze.

In the editor, I switched to the "Optional fields" tab, and selected the ISBN for copying to a website.  When I came back to JabRef, it was frozen.

[2017-10-02 02:37] wujastyk commented on #3234
Same version of JabRef (29 Sept):

Just generated a freeze by trying to drag-and-drop a PDF from Nemo to the "General" tab of the editor.  After "$ killall java", I restarted JabRef and the file reference was correctly present.  So the freeze must have happened after the data was written.

[2017-10-02 07:58] CfKu commented on #2581
By the way, ottobib is worldcat.org based
Worldcat API manual: http://xisbn.worldcat.org/xisbnadmin/doc/api.htm#schema and example http://kitchingroup.cheme.cmu.edu/blog/2015/01/31/Turn-an-ISBN-to-a-bibtex-entry/

[2017-10-02 16:51] davidaknowles opened #3247 "Command line use doesn’t exit with -n on completion"
JabRef version 4.0-beta3. Mac OS X 10.12.6

Why I care:
http://discourse.jabref.org/t/command-line-use-doesnt-exit-with-n-on-completion/798

Steps to reproduce:
`java -jar JabRef.jar -n` hangs indefinitely.

[2017-10-02 19:57] wujastyk opened #3249 "Editor: changing bibtype doesn't work properly"
JabRef 4.0-dev--snapshot--2017-09-29--master--6cca2ed32
Linux 4.10.0-35-generic amd64
Java 1.8.0_144

Steps to reproduce:

1. open editor
2. click the pencil icon
3. select another bib type
4. nothing changes

5. start again from 2
6. success the second time.

[2017-10-02 21:46] lynyus commented on #3249
@wujastyk that's odd, on my system this works as it should right away.
Current master
Mac OS X 10.12.6 x86_64
Java 1.8.0_144

Are there any log messages? Is this behaviour specific to any entry types?

[2017-10-03 11:01] lynyus commented on #3231
Well, I somewhat like the idea, but nobody of the maintainers has time to implement this. We have quite some other issues to work on.

So if someone is eager to work on this give us a shout.

[2017-10-03 11:05] lynyus commented on #3174
Thanks to everyone! We will release 4.0 quite soon!

[2017-10-03 11:05] #3174 closed

[2017-10-03 13:19] lenhard commented on #2594
So just to sum up and make sure that I understand everything: Our major problems with Java 9 are:
 - Some apple extensions are gone and we are going to need special packaging for IOS?
 - We need a release of OpenJDK with a fix to the special characters bug (did they honestly push the fix that they already implemented to v10 as in Java 10? Please tell me this is not true) or we need to change our l

[2017-10-03 13:56] Siedlerchr commented on #2594
The main blocker is that we have to adjust our start build scripts/installer to add these command line parameter for module config stuff.
https://docs.oracle.com/javase/9/migrate/toc.htm#JSMIG-GUID-7744EF96-5899-4FB2-B34E-86D49B2E89B6

Apple Extensions have somehow been directly incorporated (If I read the changelog correct)

[2017-10-03 14:13] FieldsLi commented on #3231
Dear maintainers:

Though I do not have the capability to work this out, I still comeup a dirty way to "connect" jabref and hypothes.is. I will put my experience here in case someone need it.

1. Setup a localhost via Google Browser APP `Web Server for Chrome` or `USB webserver`, configure the `localhost directory`, thus the local pdf in the directory can be reached via browser and viewed with pdf

[2017-10-04 10:03] buhtz opened #3251 "No user info about changing bib-format in 4.0"
I tested 4.0 in the past, read the changelog and so on. But not every user does this.

The current stable 4.0 modify the file-format of the bib-file without aksing or even informing the user about it. Writing this in the changelog and in the blog is not enough.

The application itself should do this in the GUI. A big fat warning dialog about what will happen should appear there, when a 3.x-bib-fil

[2017-10-04 10:18] Codeberg-AsGithubAlternative-buhtz opened #3252 "Groups view: position of unfold-symbols & heigth of entry-lines & group icons"
Using stable 4.0 for your download site with Windows 10. There are three aspects about the groups view.

The __symbols__ for fold and unfold the groups are on the right side/end of each entry. This is unusual compared to tree-views in other software on many operating systems. Maybe their are but currently I am not aware of other software using it this way. It should be possible (per settings dialo

[2017-10-04 10:20] buhtz opened #3253 "4.0 groups view: what are the up down arrows for?"
Please see the up and down arrows on this screen shot. For what they are for? Nothing happens when clicking on them.

![unbenannt](https://user-images.githubusercontent.com/11861496/31170956-66b1fb38-a8fe-11e7-8072-1f4e19b4f766.png)

[2017-10-04 10:22] buhtz opened #3254 "Language: "Deutsch" is ignored"
Using 4.0 stable from download site with Windows 10.

The language "Deutsch" is ignored here. All gui elements are in English.

[2017-10-04 10:36] koppor commented on #3254
Did you restart JabRef?

[2017-10-04 10:37] koppor commented on #3251
This concerns the groups only, doesn't it? I think, we have a groups warning in JabRef 4.0, don't we?

[2017-10-04 10:55] buhtz commented on #3254
Not really. But I see now.

There was 3.8 installed before. Language was "Deutsch".
After 4.0 Installation the Language in the settings is still "Deutsch" but UI is English.

I changed nothing. Also restarts didn't change something.

But then I "changed" the language settings: I didn't used a different language! I just clicked around in the language drop-down-menu because I was looking for a "syst

[2017-10-04 10:58] buhtz commented on #3251
No warning at all.

Because you can not open 4.0-bib-file with JabRef 3.8. it is a big change (for a novice user). Maybe she/he tries out 4.0, don't like it or find out that her/his peers are not updateting to 4.0 and she/he has to step back. This is a heavy change in some use cases and could scare away some novice users from JabRef ("The new update corrupted my data....").

[2017-10-04 11:01] buhtz opened #3255 "import: file open dialog should have "supported formates" filetype"
Using 4.0 stable with Windows 10.

The file open dialog while import should have a "supported formates" filetype. The list of supported file types is quite long and it costs time to find the correct type.

[2017-10-04 11:03] buhtz opened #3256 "new imported entries are not shown in table"
Using stable 4.0 on Windows 10.

When importing a new entry ("Import into current database" & JabFox AddOn) the entry count of the current selected group is increased correct by one. But the table is not updated. The new entry doesn't appear there.

I have to select another group and then go back to the one where I imported the entry. The the new imported entry (with green color) is shown correct.

[2017-10-04 11:06] buhtz opened #3257 "4.0 groups view: no difference between keyword groups and normal one's"
Using 4.0 stable with Windows 10.

In 3.8. groups created by keywords where written in _italic_. But with 4.0 they are not.
I can see no difference (in the font face, size, ...) between normal groups and keyword groups.

This should be differed by default. e.g. with font, icon color, what ever.

[2017-10-04 11:08] noMICROSOFTbuhtz opened #3258 "4.0 groups view: no automatic unfold while dragging"
Using 4.0 stable on Windows 10.

When I drag a bib-entry/publication over a un-folded group which has sub-groups I would expect (compared to other software) that the group will fold after some seconds automaticly.

I would use this future to drag & drop entries to sub-groups which are hidden in un-folded groups.

[2017-10-04 11:13] lenhard commented on #2776
@juanmduran There have been quite some changes to the grouping code in the meantime. Can you please check if the error is still present in the newly released JabRef 4.0?

[2017-10-04 11:44] lenhard commented on #3251
@koppor We have a warning message when someone is using duplicate group names: #3077 You are probably thinking of that.

I have to say that I disagree, though, and find calling this a "heavy usability bug" a bit rich. It's not even a bug. There are plenty of other things in JabRef that would fit this description better. Major releases indicate major changes, that's why you call them major after al

[2017-10-04 11:46] koppor commented on #3251
@buhtz KK. I added "help-wanted", as we are out of resources. If you know someone who can help, please forward hir to https://help.jabref.org/en/FAQcontributing.

[2017-10-04 13:44] tobiasdiez commented on #3251
I think in principle you are right - a warning message wouldn't hurt and may help some people. However, now it is a bit late since we have already released 4.0 (and the message is not worth to go trough the trouble to release a hotfix). Thus I'll close this issue now.

[2017-10-04 13:44] #3251 closed

[2017-10-04 13:49] tobiasdiez commented on #3257
Why do you need to know if a group is a keyword or an explicit (or search)?
I could imagine that we add this information as a tooltip. Is this enough?

[2017-10-04 13:52] tobiasdiez commented on #3256
Duplicate of https://github.com/JabRef/jabref/issues/3219 (which actually concerns an active search).

[2017-10-04 13:52] #3256 closed

[2017-10-04 13:54] tobiasdiez commented on #3219
Same concerns filtering by groups: https://github.com/JabRef/jabref/issues/3256

[2017-10-04 14:18] tobiasdiez commented on #3253
Those buttons can be used to change the order of side widgets (like group, websearch, open office integration).

Please use the forum for questions. We try to use github only for bugs and other issues. Thanks!

[2017-10-04 14:18] #3253 closed

[2017-10-04 14:32] tobiasdiez commented on #3252
The new icons on the left are customizable and were actually a feature requested by users quite a few times. Because of these icons the (un-)fold icons moved to the right (admittedly, a bit unorthodox but not too unusual). I think we will not revert these ui-changes. Note also that you can simply double-click a group to collapse/expand it.

[2017-10-04 14:57] cMadan opened #3259 "JabRef CSL issue"
JabRef version 4.0 on Windows 10

Using the "European Journal of Neuroscience" formatting renders the journal name twice, once in italics and once in regular text. The CSL file is correct and works in other programs correctly. I tried 'adjusting' the CSL to only show the journal name once (in italics) but was unable to.

[2017-10-04 17:54] jiajunwu commented on #3146
Just curious if there happens to be a chance to resolve this? It seems the above stackoverflow link offers several possible solutions. Would any of them work?

[2017-10-04 19:18] manfredlift commented on #3236
For anyone on macOS Sierra, I had the same issue on 4.0.0 and following the workaround in #3227 fixed it.

[2017-10-04 20:28] buhtz commented on #3251
@koppor @lenhard
You react to emotional. An Issue/BugReport is not a request to do work on the code or things like that. It is just for documentation of problems/wishes and a place to discuss these things. That is all. It doesn't mean you have to fix that or your software is sh... because the problem is there. Not now and not in the future.

And I think of FOSS-software as a team. For me a warning

[2017-10-04 20:34] buhtz commented on #3257
Interesting question - really! I think I am habitual (correct word here?) with it because JabRef 3.8 made a difference.

JabRef 4 has an icon for each group. Color and symbol can be modified by the user, right? Maybe there could be different default color or symbol for normal or keyword groups.

And the settings could have an entry "Use different default color/symbol for keyword groups" or somethi

[2017-10-04 20:39] buhtz commented on #3252
Would it be an option to make the postion customizable by a setting?

[2017-10-04 23:31] lynyus commented on #3146
@jiajunwu I have tried this a month ago with some hacks as decribed in the stackoverflow threads, but it seems like we have to go the long way by implementing the whole menubar in javafx to get this working (as @chochreiner  suggested).
We are quite happy to have 4.0 released, as we (hopefully) can now focus on such improvements...

[2017-10-05 02:28] tobiasdiez commented on #3257
Yes, with new shiny things also some of the old features get changed ✈️ . I thought a lot about this question when redesigning the group interface and I just couldn't come up with a use case when the information about the kind of group is needed.

So yes, we can implement to show the type as a tooltip, or change the icon as you propose. But for all of this is, we have to put in development time -

[2017-10-05 02:33] tobiasdiez commented on #3236
@manfredlift (or somebody else using macOS): you you please add the workaround in the [installation notes](https://github.com/JabRef/help.jabref.org/blob/gh-pages/en/Installation.md#mac-os-and-oracle-java) so that new users find the information more easily. Thanks!

[2017-10-05 08:31] AEgit commented on #3257
I guess one usercase could be that you want to differentiate how reliable your groups are: When you manually assign your entries to a group, you probably (hopefully :D) know, what you are doing, i. e. this is a reliably group assignment: if you quickly search through the group entries of a manual group, you will only get entries, that definitely should be there (according to your expert opinion).

[2017-10-05 11:05] mutlusun opened #3261 "Jabref hangs after pasting bibtex code into source field"
JabRef version 4.0 on Ubuntu 16.04

Steps to reproduce:

1. Create a new entry (article)
2. Go to source field
3. Replace existing biblatex code through (copy/paste)
[code]
4. Click somewhere outside of the source field
5. Jabref hangs

<details>

  <summary>Log File</summary>

No console output appears but these errors appeared after opening an entry (didn't produce any runtime problems):
[code]

[2017-10-05 11:54] vanukkalla opened #3263 "Jabref4 connection with LibreOffice"
This relates to #3139 and #3153.

I am using LO 5.4.1.2 with Jabref on Debian 9. Connecting Jabref 3.8.2 is working without problems. When I try to connect Jabref 4.0, I have the previously reported connectivity problems.

`[File:] grouptree.fxml not found, attempting with camel case
Oct 05, 2017 12:33:54 PM javafx.fxml.FXMLLoader$ValueElement processValue
WARNING: Loading FXML document with JavaF

[2017-10-05 13:38] lenhard commented on #3261
Thanks for your report! Chances are that this is somehow due to the environment, i.e. the Java and JavaFX versions.

Might be similar to #2963

[2017-10-05 13:40] lenhard commented on #3261
And I just saw that this is actually a duplicate of  #3234, although with Ubuntu instead of Mint. There's no point in two issues here, so I am closing this one in favor of the other.

[2017-10-05 13:40] #3261 closed

[2017-10-05 13:40] lenhard commented on #3234
The same problems in Ubuntu: #3261

[2017-10-05 14:59] jamal919 opened #3264 "Unable to "open folder" in case of filename with spaces"
JabRef version 4.00 on CentOS 7.1

Expected:
When selecting the "Open folder" from the entry context menu, the folder containing the article should open.

What Happens:
Jabref opens a lot of locations based on the number of words in the name. Every word in the name is appended to the root location and get opened in Nautilus.
For instance - if the file name is "someone2010 - A Sample file.pdf" save

[2017-10-05 15:31] PierreMarchand20 opened #3265 "Automatically create groups and hierarchical keywords"
JabRef version 4 on macOS Sierra 10.12.6

I really like the possibility of using groups to organize my bibliography. So when the group format changed, I followed the discussion #1495 where a workaround using the automatic group feature and hierarchical keywords #628 was presented by @tobiasdiez to avoid losing the hierarchy between groups. So when the version 4 has been available, I wanted to try

[2017-10-05 15:37] vsht commented on #3234
JabRef 4.1-dev--snapshot--2017-10-04--master--effe3349e
Linux 4.12.14-300.fc26.x86_64 amd64
Java 1.8.0_144

I think that I found a workaround for this issue. I'm on Fedora 26 and I experienced all the issues that other users reported, i.e. version 4 freezes no matter what you do but especially when you want to use groups. I also installed Open JavaFX (`sudo dnf install openjfx`) and Oracle Java 8

[2017-10-05 15:46] tobiasdiez commented on #3265
These are special types of groups. Just use the usual "add new group" dialog and there choose "based on keyword".
Please use the [discussion forum](http://discourse.jabref.org/) for questions. Github is only used for keeping track of issues and bugs. Thanks!d

[2017-10-05 15:46] #3265 closed

[2017-10-05 16:33] wujastyk commented on #3234
Hmm.  I've been using com.sun.java.swing.plaf.gtk.GTKLookAndFeel  all
along, and had freezes.  Maybe it's the *changing* of this setting that
improves things.  I'm experimenting with the "plastic" look.

Dominik
​

[2017-10-05 17:44] bernhard-kleine commented on #3216
This is still the behaviour of fresh Jabref 4.0

[2017-10-05 18:57] bernhard-kleine commented on #3237
Seems to be solved in 4.0

[2017-10-05 21:02] michaellass commented on #2955
I also have this issue and can reproduce it every single time. It seems to only occur when a database is open, although I am not 100% about this aspect.

I ran JabRef in an Eclipse debug session and got the following stack trace when the application is hanging on exit:

[code]

So many threads/daemons are waiting for `ReferenceQueue$Lock`, some are waiting for `TaskQueue` and some seem active. Is

[2017-10-05 22:44] 125m125 commented on #2955
All but one Thread are daemons, which are not blocking termination. The only non-daemon Thread is this one:
[code]
It is located under there: https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/JabRefFrame.java#L665 which schould only block if the Dialog asking to collect tracking information is active. Are you shure you don't have this dialog open (maybe in the background so

[2017-10-06 06:32] #3237 closed

[2017-10-06 06:40] tobiasdiez commented on #2955
@michaellass thanks to a quick fix by @125m125 the issue should be now resolved in the [latest development version](https://builds.jabref.org/master/)

[2017-10-06 06:49] Druidefix commented on #3252
What about the height of the entries? Having many groups I'm now always scrolling...

[2017-10-06 08:23] mutlusun commented on #3234
Hello,

I can confirm this. Switching from the GTK theme to the default theme solved my issue of freezes after working with the source field! Thanks for your investigation!

[2017-10-06 08:41] lenhard commented on #3234
That's great news overall, at least we roughly know how this can be solved now. We should include a discussion of the freeze problem under Linux and the solution (change of look and feel) in the documentation.

I am just a little weary, because I would not be surprised if the support for different look and feels varies on different Linux distributions.

[2017-10-06 08:56] PierreMarchand20 opened #3267 "Bugs with GUI"
JabRef version 4 on macOS Sierra 10.12.6

I have a few bugs with the gui since 3.8 I think. To be honest, I hoped it will be solved with version 4 that is why I did not submit an issue before.

1 - when I try to do a right-click on an entry, instead of getting the line I have aimed, I get the one just above.
2 - if I modify an entry, save, and then click on another entry in the window showing all

[2017-10-06 09:09] geyslein commented on #3252
I'm in for every recommendation made by buhtz. The height of the entries is a bit annoying, I'm scrolling way too much now. I am not so much against putting the symbols to (un)fold on the right but it takes longer to grasp whether a group is folded or not. The two symbols do not differ that much on the first glimpse and the indention of a subgroup is not so big either which both makes it a bit mor

[2017-10-06 09:10] PierreMarchand20 opened #3268 "Blurry entry editor"
JabRef version 4 on macOS Sierra 10.12.6

With the version 4, I noticed that the entry editor becomes blurry when you open an entry and then it becomes normal if you interact with the editor (click on it, or hover your mouse on the name of a pane like "Required fields").

I have a recent MacBook Pro with retina and it feels a bit strange. Is it a performance issue ? may be linked to #3175 ?

Not t

[2017-10-06 09:24] lenhard commented on #3268
I don't think this is directly related to #3175, but it's certainly related to the JavaFX or controlsfx support on mac. Might be somehow related to lazy initialization (at least it reads like that).

[2017-10-06 11:09] danil-tolkachev opened #3269 "4.0 Groups: fast access to View options"
JabRef version 4.0 on Windows 7

I often switch between Union and Intersection modes. Please return the ability to quickly switch these settings. For example, you can add them to the global menu of Groups.

[2017-10-06 11:18] Siedlerchr commented on #3234
Unter XFce I could not reproduce this directly, I use com.jgoodies.looks.plastic.Plastic3DLookAndFeel

[2017-10-06 11:43] AEgit commented on #3252
Maybe as a workaround until the issue is fixed: Instead of scrolling in the groups panel, you can just search for a group with the newly implemented groups filter:
https://github.com/JabRef/jabref/pull/2588

[2017-10-06 14:19] PierreMarchand20 opened #3270 "Missing characters in the maintable to display titles"
JabRef version 4 on macOS Sierra 10.12.6

With version 4, I noticed that a few characters do not work in the maintable. As you can see in the screenshot, math characters and the first letter in upper-case are missing.

<img width="757" alt="capture d ecran 2017-10-06 a 16 16 24" src="https://user-images.githubusercontent.com/15056323/31282080-c5a4c21a-aab1-11e7-9247-7cabb6edf206.png">

[2017-10-06 16:31] lenhard commented on #2811
Fixed by #3248

[2017-10-06 16:31] #2811 closed

[2017-10-06 16:32] lenhard commented on #3143
This is fixed by #3243

[2017-10-06 16:32] #3143 closed

[2017-10-06 16:38] lenhard commented on #3270
This might be down to the font you are using in main table. We are converting LaTeX to unicode there and some fonts have problems with displaying unicode symbols. Could you try playing around with different fonts here? Maybe one that sounds more math-savvy.

[2017-10-06 16:48] PierreMarchand20 commented on #3270
I am using the default font (sans serif), and I tried a few other ones (arial, comic sans ms, courrier...) and I always have the same issue.

[2017-10-06 16:59] lenhard commented on #3270
We've discussed a similar problem here: #3008 Maybe Cambria Math does the trick?

[2017-10-06 17:00] gwotto opened #3271 "JabRef 4.0 freezes when downloading pdf from URL"
Version 4.0 on ubuntu 16.04. When using the function to download pdf by url on the general pane, It downloads the URL, but then freezes.

[2017-10-06 17:45] lenhard commented on #3271
Freezes on Linux are tracked here #3234 and this issue is probably a duplicate, so I am closing it.

Setting a different look and feel (not GTK) will probably solve your problem.

[2017-10-06 17:45] #3271 closed

[2017-10-06 18:53] michaellass commented on #2955
This indeed fixes the issue in most cases but there is still a corner case left: When exiting JabRef while the statistics dialog is open, the following error is printed to terminal and JabRef does not exit:
[code]

[2017-10-06 18:55] Siedlerchr commented on #2955
You have to wrap the command  in `SwingUtilities.invokeLater`

[2017-10-06 19:54] michaellass commented on #2955
@Siedlerchr Since I have little to no experience with developing with Swing and JavaFX, could you check if PR #3272 is what you suggested? It works fine here and fixes the issue. As a side effect, it disables all user inputs in the main window while the dialog is open.

[2017-10-06 20:29] Siedlerchr commented on #2955
It looks good from my side. The blocking is okay, as it is defined as a kind of modal dialog.

[2017-10-06 21:02] MrTosz commented on #3247
I'll have a go at it, if you don't mind.

[2017-10-06 22:31] Siedlerchr commented on #2594
https://blog.codefx.org/java/java-module-system-tutorial/

[2017-10-07 02:53] psychelzh opened #3275 "When mouse is over group title, inaccurate group description is displayed"
JabRef version `4.0` on  `Java 1.8.0_144`

I guess the group titles have a `mouseover` method, which displays the group descriptions. Unfortunately, they are a little bit messy here. For example, the following first screenshot suggests the description of **BART** group is **The articles about ....**, but in fact it should be **The Balloon Analogue Risk Task** (see the second screenshot).

![image]

[2017-10-07 08:52] psychelzh opened #3276 "The display on a high-resolution screen is kind of messy on Windows 10"
JabRef version `4.0` on  `1.8.0_144`

See the following two screenshots:

![image](https://user-images.githubusercontent.com/13306020/31306286-48443fca-ab7f-11e7-93de-ff9bd1743333.png)

![image](https://user-images.githubusercontent.com/13306020/31306290-5e43c3a4-ab7f-11e7-9070-51edef169f7a.png)

The menu titles seems to be too big and the font size for groups and entries is too small, which rende

[2017-10-07 11:13] tobiasdiez commented on #3276
You can increase the font size in the preferences to get a somewhat working version. But I agree that a lot has to improve on high-res displays.

[2017-10-07 11:21] psychelzh commented on #3276
Thank you. It would be much appreciated if it supports high-res displays, now I have to resort to the so-called System-wide UI enhancement, which unfortunately blurrs the fonts as following screenshot.

![image](https://user-images.githubusercontent.com/13306020/31307327-b60e80d2-ab94-11e7-9aab-2a6349c8457f.png)

[2017-10-07 11:26] j0hannes commented on #3113
Is there a way for JabRef to detect when memory consumption is running riot and restart itself?

[2017-10-07 12:00] lenhard commented on #3113
Well, we know what triggers the peaks. It is when you cycle through the main table with up/down keys when the entry editor is open or when you click around in the main table really fast. Every selection change in the main table will trigger the creation of a new entry editor and this what's consuming memory.

I'm not sure that restarting JabRef would be good from a usability point of view, though.

[2017-10-07 12:03] lenhard commented on #3276
Apart from the font and icon sizes (that you can already increase right now), what are concrete actions that we can take to improve the user experience on high-res displays? I am a bit at a loss as to what to do about this exactly.

[2017-10-07 12:05] bernhard-kleine commented on #3254
Here it works, I changed Options-General-Language to Deutsch, restarted Jabref and it is in German now.

[2017-10-07 12:09] bernhard-kleine commented on #3249
Here, Jabref 4.0, everything is fine.

[2017-10-07 12:12] bernhard-kleine commented on #3134
When is this Hacktoberfest to take place?

[2017-10-07 12:15] lenhard commented on #3134
It is taking place right now: https://hacktoberfest.digitalocean.com/

The label is there to point people to this issue in the hope that someone implements a fix for it.

[2017-10-07 12:18] psychelzh commented on #3276
FYI, what I have lastly posted is not the effect after the change of font and icon sizes, but the effect of the Windows's System Wide Enhancement.

I think the problem here is that although the high-res displays will enlarge fonts automatically, it only affect the menu titles, whereas the entries and groups do not change font size. The asynchronous behavior result into the inconguent appearances b

[2017-10-07 13:01] PierreMarchand20 commented on #3270
Sorry, I have not this font, do you have another suggestion ?

But notice that the first upper-cased letters are also not rendered, so I am not sure it is just a font issue. Besides, in version 3.8, I also used the default font (sans serif, I checked on another computer with JabRef 3.8) and there is no issue as you can see :
![capture d ecran 2017-10-07 a 15 00 13](https://user-images.githubuserco

[2017-10-07 13:28] matthiasgeiger commented on #3276
You can also increase the size of the main table font by hitting CTRL-+ as in the web browsers

[2017-10-07 14:20] Siedlerchr commented on #3276
I am using Win 10 as well, 1900x1200 on 24" Display, Scaling is 100%
On my desktop it looks fine, but on my notebook (smaller resolution) I have very small fonts.

![grafik](https://user-images.githubusercontent.com/320228/31308687-2711e144-ab7b-11e7-9597-32b25ae9cf6f.png)

You should check the options and remove the checkmark at override  menu table. that made it look appropriate for me

![grafik

[2017-10-07 14:22] Siedlerchr commented on #3270
Well, at least in the preview it should be displayed correctly.  Could you please add the bibtex code for the sample entry?

[2017-10-07 14:31] PierreMarchand20 commented on #3270
This is a small sample illustrating my issue :

'
% Encoding: UTF-8

@Article{Boerm2007,
  author   = {Steffen B{\"{o}}rm},
  title    = {Data-sparse approximation of non-local operators by {$\mathcal{H}^2$}-matrices},
}

@Comment{jabref-meta: databaseType:bibtex;}
'

[2017-10-07 14:35] Siedlerchr commented on #3270
On Windows 10, setting Table font to **Dialog** solves this for me:
![grafik](https://user-images.githubusercontent.com/320228/31308843-8d65af28-ab7d-11e7-8ce8-57aaad9d7f68.png)

[2017-10-07 14:38] PierreMarchand20 commented on #3270
It did not solve this for me :
<img width="743" alt="capture d ecran 2017-10-07 a 16 36 55" src="https://user-images.githubusercontent.com/15056323/31308867-d86cbe94-ab7d-11e7-9453-cea702f1425b.png">

[2017-10-07 14:45] Siedlerchr commented on #3270
For Windows (since 8.1 or 10) the Segoe UI is used. For other math fonts check out here:
http://www.fileformat.info/info/unicode/block/mathematical_alphanumeric_symbols/fontsupport.htm
There are some OpenSource fonts which may be avaiable for Mac. I would vote to close this issue now, as it only depends on the font and OS.

[2017-10-07 14:45] #3270 closed

[2017-10-07 14:52] wujastyk commented on #3249
JabRef 4.1-dev--snapshot--2017-10-07--master--fae290caa
Linux 4.10.0-35-generic amd64
Java 1.8.0_144

I can't reproduce this problem with my current JabRef.  JabRef has improved
in other ways too since I started using the
"com.jgoodies.looks.plastic.Plastic3DLookAndFeel" look and feel.  Maybe
there's a connection?

The entry types that used to cause trouble were normally switches between
article,

[2017-10-07 14:56] PierreMarchand20 commented on #3270
Well freeserif works for me. But I still do not understand why sans serif worked with version 3.8 and not with 4.0

[2017-10-07 15:14] psychelzh commented on #3276
Thank you.

Maybe it is because of the scaling. I use two different screens, [one](https://www.microsoft.com/en-us/search/result.aspx?q=Surface+Pro+4) smaller in size (`12.3"`) but higher in resolution (`2736 * 1824`), so a 200% scaling is used; [the other](https://www.amazon.com/Dell-P2416D-Monitor-23-8-Inch-Screen/dp/B00ZFFN656) larger in size (`23.8"`) but lower in resolution (`2560 * 1440`), s

[2017-10-07 15:38] Siedlerchr commented on #3270
@PierreMarchand20  Okay good to know!  The reason is simple: We replaced the latex2unicode converter with a new [parser](https://github.com/tomtung/latex2unicode)  which is more flexible and more advanced.

Would you mind editing the corresponding installation notes for Mac OS then by adding some info regarding the Font?
https://help.jabref.org/en/FAQosx

[2017-10-07 15:43] Siedlerchr commented on #3249
Good news! It indeed could be a problem with the GTK style and environment.
I close this and you reopen this when you experience problems again

[2017-10-07 15:43] #3249 closed

[2017-10-07 17:14] Lyr3x commented on #3227
adding the hostname explicitely is working for me too.

[2017-10-08 05:25] tobiasdiez commented on #3276
@lenhard: here is a bunch of things that we should change so that JabRef works out of the box on high resolution displays:
- Calculate a good default font size based on the resolution and dpi. (`-fx-font-size` is also used as the base for control sizes)
- Specify sizes in `em` instead of `px` to ensure good scaling (including the DPI)
- Turn off the "java dpi fixing" to get a crystal clear view

(

[2017-10-08 08:02] buhtz commented on #3254
@bernhard-kleine So before you "changed" it was not "Deutsch"? Then it doesn't fit my scenario.

[2017-10-08 10:05] bernhard-kleine commented on #3254
before I changed it was english

Am 08.10.2017 um 10:02 schrieb buhtz:

--
spitzhalde9
D-79853 lenzkirch
bernhard.kleine@gmx.net
www.b-kleine.com, www.urseetal.net
-
thunderbird mit enigmail
GPG schlüssel: D5257409
fingerprint:
08 B7 F8 70 22 7A FC C1 15 49 CA A6 C7 6F A0 2E D5 25 74 09

[2017-10-08 10:18] buhtz commented on #3254
That is the point. In my case it was still "Deutsch" in 3.8. But after installing 4.0 this settings was ignored but displayed in the settings dialog.

[2017-10-08 11:25] ilippert commented on #3121
If I may ask, will this snapshot be updated to the full version?

[2017-10-08 11:58] tobiasdiez commented on #3254
I've investigated this for a bit and couldn't find a problem in our code. I suspect that something messed up during the migration but I have no idea what.

Moreover, since you are apparently the only one having this problem and it is solved for you now, I'll close this issue. If the problem should reoccur, then just open it again.

[2017-10-08 11:58] #3254 closed

[2017-10-09 01:40] dpdpdpdpdpdp opened #3278 "JabRef 4.0 for Mac won't quit (MacOS 10.13)"
JabRef version  on

Steps to reproduce:

1. Choose Quit from File menu.
2. main window closes, but ....
3. the program does not quit, and has to be force-quit.

This is consistent and reproducible on two different machines, both running High Sierra.  (No idea if the problem is specific to this version of the OS.)

<details>
  <summary>Log File</summary>

[code]
</details>

[2017-10-09 07:50] PierreMarchand20 commented on #3270
I tried without success to find a font installed by default on macOS that supports unicode and math characters. It seems that we cannot avoid installing a new one, but luckily, it is pretty easy. Thank you for your answers 👍

[2017-10-09 08:30] lynyus commented on #3278
Can you please state the version of JabRef and Java you use and how do you execute it? From sources/JAR/installed?
You find this information when you click on Help -> About JabRef.

[2017-10-09 09:11] notuntoward commented on #3206
Whose feedback is expected?

[2017-10-09 11:00] mwessley commented on #3164
Having the same Problem and sadly did not find a solution yet

[2017-10-09 11:57] michaellass commented on #3278
If you are on version 4.0, could you please try the current development build from https://builds.jabref.org/master/? It contains a few related fixes.

[2017-10-09 12:03] dpdpdpdpdpdp commented on #3278
Yes, the development build fixes that.  I installed it, quit, and the program actually quit.  Thanks!

[2017-10-09 12:03] nemobis opened #3279 "Exception after clicking "journal PDF" in JabRef 2.10"
I'm using LocalCopy 2.6 with JabRef 2.10. I imported a bibtex files with some DOIs and I clicked "journal PDF" after selecting one of them. The dialog hangs forever and I see:

[code]

I can't tell whether this is the same as some other reports here; the versions seem different.

[2017-10-09 12:04] #3278 closed

[2017-10-09 12:04] nemobis commented on #3279
Sorry, wrong repo. Moved to https://github.com/lehner/LocalCopy/issues/8

[2017-10-09 12:04] #3279 closed

[2017-10-09 14:26] psychelzh opened #3280 "When PDF file is highlighted without any comment, File annotations display "N/A", it is better to leave it empty"
JabRef version 4.0 on Windows 10

Just as the following screenshot, N/A seems a little intrusive for users.

![na](https://user-images.githubusercontent.com/13306020/31342889-974cc6c4-ad40-11e7-8f71-24f902598c74.png)

[2017-10-09 14:29] psychelzh commented on #3280
And on the left panel, I do think it is best to display the so-called `Marking`, and try to remove `CRLF`/`\n`/'\r' from the content.

[2017-10-09 14:56] psychelzh opened #3281 "Entry Table occasionally display repeated menu titles when clicking to select group"
JabRef version `4.0` on Windows 10

Sometimes it might happen when I click on certain group to show the entries in that group, the `Entry Table` suddenly turns messy just as the following screenshot.

![aliases](https://user-images.githubusercontent.com/13306020/31344239-b77ac8b6-ad44-11e7-8d60-8b3e12676c6d.png)

And when I try to `View event log`, there is nothing abnormal. When I move my mouse o

[2017-10-09 17:42] lynyus commented on #3281
wtf...
Are you using an up-to-date Java version?

[2017-10-10 01:25] psychelzh commented on #3281
I am using the latest stable version.
[code]

[2017-10-10 07:17] lenhard commented on #2191
@napseis Can you try again with JabRef 4.0. There have been quite some hefty changes to the groups interface and there's a good chance that this has been solved.

[2017-10-10 07:55] j0hannes commented on #3113
For now, an automatic restart or a restart button would be very helpful. If I've used JabRef a lot (many entries opened in entry editor) and forget to close it before compiling it will crash my system due to insufficient memory. I could somehow replace the compile commands with scripts that close JabRef on compiling a document and restart it afterwards but that wouldn't be hassle-free neither.

[2017-10-10 10:12] lenhard commented on #2489
There's a good chance that this is solved on 4.0, because the entry editor has been largely re-written.

@ziggystar @paulsputer Can you please try out the most recent version and see if the issue persists?

[2017-10-10 11:35] g-mos commented on #3235
Some more info I can provide. I do not know what the logic inside Jabref is but database oriented from what I understood:
1. There is an ENTRY table for which per entry it tells what type of entry it is and its version type.
2. There is a FIELD table with multiple inputs per entry with the different fields and the data per field.
3. There is a METADATA table with all the "Unconventional" Informati

[2017-10-10 13:09] psychelzh opened #3283 "Jabref 4.0 stable version is memory consuming on Windows"
JabRef version 4.0 on Windows 10

I made `JabRef` stay open for about half day long, and it occupied more than 1GB of memory (see screenshot of memory usage). But if you close it and reopen, the memory cost is just acceptable 300MB.

![memory-jabref](https://user-images.githubusercontent.com/13306020/31388005-2c534018-adff-11e7-8fbc-ca9684420096.png)

[2017-10-10 13:21] AEgit commented on #3283
Looks like a duplicate of https://github.com/JabRef/jabref/issues/3113

[2017-10-10 13:25] lenhard commented on #3235
@g-mos: @tobiasdiez has implemented a fix for this problem. Could you please check out the version available at http://builds.jabref.org/fix3235/ and see if that solves your issue? Meta data should now be updated instead of deleted and re-inserted.

[2017-10-10 13:26] lenhard commented on #3283
Jep, that's a duplicate.

[2017-10-10 13:26] #3283 closed

[2017-10-10 13:27] g-mos commented on #3235
I have already downloaded this version and I am testdriving it. I will reply tomorrow for sure but until now it seems ok.

[2017-10-10 13:57] g-mos commented on #3235
Update: Wireshark confirmed that the data are updated and not deleted. Furthermore 4/5 restarts didn't cause a problem yet. As a general question some other weird things that I am seeing in wireshark, irrelevant to this bug where should I discuss them, eg (double login on the db, SELECT * FROM "ENTRY" WHERE "SHARED_ID" = 1 ORDER BY "SHARED_ID" )

[2017-10-10 16:29] nicolasbock opened #3284 "Running jar directly fails with error"
When I run
[code]
The same incantation works for version 3.7. Am I missing something?

[2017-10-10 17:14] lynyus commented on #3284
Well, if you use linux most probably you are missing the `openjfx` package.  See: https://help.jabref.org/en/FAQlinux#jabref-does-not-start-under-linux-what-can-i-do

[2017-10-10 17:25] nicolasbock commented on #3284
Thanks @lynyus, that was it!

[2017-10-10 17:25] #3284 closed

[2017-10-11 05:20] PammyS commented on #3280
@psychelzh @tobiasdiez  I'll be happy to take this. Please assign it to me

[2017-10-11 06:13] tobiasdiez commented on #3280
@PammyS nice to hear! If you have any questions, feel free to ask here. I can't assign you to this issue since you have not made any contribution before.

[2017-10-11 08:56] ziggystar commented on #2489
@lenhard I've already stated that I cannot reproduce this bug, and the stack dump is all I can provide. Apparently it's some kind of race condition.

[2017-10-11 10:15] lynyus commented on #2489
Then I'll close it for now. Feel free to reopen if the problem occurs again.

[2017-10-11 10:27] tobiasdiez commented on #2689
I think this issue was fixed with the release of JabRef 4.0, thus I'll now close it. Feel free to reopen the issue if I was wrong and the problem persists.

[2017-10-11 10:27] #2689 closed

[2017-10-11 10:37] ziggystar commented on #2489
Quite funny. I downloaded 4.0 and used it for some minutes, then I got another deadlock. I have a thread dump attached. It occurred after I clicked "accept changes" (or similar) of the dialog you get when fetching and updating entry items using a DOI.

[thread dump](https://github.com/JabRef/jabref/files/1375222/jabref-deadlock.tdump.txt)

[2017-10-11 10:41] AEgit commented on #3259
Just a guess, but could it be that the item in your Bibtex file contains the journal name twice, i. e. does the journal name appear in the "journal field" and in another field (that has happened to me before, when automatically importing Bibtex files provided by the publisher)? If that's the case, the issue is problem unrelated to CSL.

[2017-10-11 10:44] lynyus commented on #2489
Thanks, @ziggystar!

[2017-10-11 12:04] vanukkalla commented on #3263
The problem persists under LO 5.4.2. No such problems under Windows in virtualbox.
Creating a symlink does not work either.

But creating the folder /opt/openoffice4 and copying all jars there, while not very elegant, works.

[2017-10-11 12:17] miwurster opened #3286 "Focus of entry in table lost when first typing a letter"
JabRef 4.0
Windows 10 10.0 amd64
Java 1.8.0_121

Steps to reproduce:
![jabref-tablefocuslost](https://user-images.githubusercontent.com/2610997/31440079-ecd463be-ae8e-11e7-88e4-331cd49b3234.gif)
After the focus is lost, you cannot use the "Generate Bibtex Key" Button any longer, which is really annoying since you have to re-select the entry first; which is even more annoying if you are having lots

[2017-10-11 13:56] Siedlerchr commented on #3263
I will take a look at that.  the path is defined in the code, but a manual lookup should work

[2017-10-11 14:49] stefan-kolb commented on #3263
JabRef will try to find the following jars inside the installation directory (any subdirectory) of LO/OO: `"unoil.jar", "jurt.jar", "juh.jar", "ridl.jar"` Where are those libs located in your installation and is maybe one of them missing?!

[2017-10-11 15:20] stefan-kolb commented on #3264
@lynyus Maybe the file path needs to be in quotes? `cmd = "nautilus " + filePath;`

[2017-10-11 15:27] wujastyk commented on #3217
JabRef 4.1-dev--snapshot--2017-10-09--master--1b030b459
Linux 4.10.0-37-generic amd64
Java 1.8.0_144

1. Create entry in the "biblatex source" tab
2. switch to "required entry" tab - there's nothing there.

See [video]([url](https://www.dropbox.com/s/tpr52kq3ugn1ox5/jabref%20report.mp4?dl=0)).

[2017-10-11 15:27] lynyus commented on #3280
I am not sure if we can remove these line breaks from the extracted markings, as it is quite unclear if they come from line break in the paper or from a new paragraph... However, who has a marking spanning several paragraphs or headings?

[2017-10-11 15:28] stefan-kolb commented on #3264
Thank you for your report :+1:
This should be fixed in current `nautilus-space-fp`. Please try the latest build from http://builds.jabref.org/nautilus-space-fp.

[2017-10-11 15:30] psychelzh commented on #3280
I tend to suggest that the line breaks can be safely removed. Just as you put, not many people will try to marking several paragraphs; and if so, they can also be merged, can't they? @lynyus

[2017-10-12 02:51] tobiasdiez commented on #3280
The `N/A` string is now removed, but the line breaks of the marking are still there. By the way, in https://github.com/JabRef/jabref/pull/3285 I added a new formatter that removes line breaks. So one just needs to run it on the marking.

[2017-10-12 02:53] #2471 closed

[2017-10-12 05:46] psychelzh commented on #3280
You meant that in future releases, users can remove the line breaks mannually? But how can that be done?

[2017-10-12 08:36] lharzenetter commented on #2594
I also have a similar problem using JDK9:
- version 9+181, 64bit
- Windows 10

I just installed JabRef using [choco](https://chocolatey.org/packages/JabRef). After I started it, I got the following error:
[code]

[2017-10-12 09:20] Siedlerchr commented on #2594
Hi, yes this is a known problem. You have to use java 8 for JabRef, JabRef currently does not support java9

[2017-10-12 09:29] g-mos commented on #3235
After 3 days of working, deleting of the metadata did not happen again, so I can consider the problem fixed and this bug closed.

[2017-10-12 09:44] #3235 closed

[2017-10-12 10:00] Siedlerchr commented on #3263
Hi, could you please try if this version works for you?
http://builds.jabref.org/linuxOO/
You probably have to reset your prefs before connecting to LO

[2017-10-12 10:06] napseis commented on #2191
hi,
I just tried it, it still doesn't work for me. Let me know if i can do something else.
Thanks

[2017-10-12 10:45] webbertee opened #3289 "JabRef 4.0 Windows 32 bit installer failes to extract JabRef.exe"
JabRef version 4.0 (signed on 2017-10-04) on Windows 10 64 bit, 32 bit Java

Steps to reproduce:

1. Download Windows 32 bit installer here: https://www.fosshub.com/JabRef.html
2. Run installer
2. Click continue until it installs

Error Message: JabRef.exe could not be created. Retry?
Klicking "Yes" yields the same error message.

[2017-10-12 11:43] vanukkalla commented on #3263
The jars are all there in Libreoffice5.4/program/classes.

And the new version works like a charm! Thanks a lot!

[2017-10-12 11:46] #3263 closed

[2017-10-12 13:24] matthiasgeiger commented on #3289
Works for me without problems on a Win10 x64 machine (32bit JRE was installed during installation)...

[2017-10-12 13:52] HopeICanHelp opened #3290 "MacOS Sierra - Crash while copy a code to '{}BibTex - sourcecode'"
Hello people,

I'm useing a MacBook pro 2012 first Retina edtion, Software macOS Sierra version 10.12.6. Everytime I open 'new BibTex entry' got to '{}BibTex - sourcecode' and than try to copy a code inside the box Jabref crashes.

Hope my discription was detailed enough.

Thanks for working on this good programm!

[2017-10-12 14:26] stefan-kolb commented on #3289
Works for me...Try to run the installer as administrator (rightclick -> run as administrator)?

[2017-10-12 14:38] stefan-kolb opened #3292 "Refresh button in file annotations tab does not refresh the contents"
![image](https://user-images.githubusercontent.com/2141507/31501892-cdc220dc-af6b-11e7-9946-e7ae2203fd2a.png)

Need to close entry editor first or afterwards.

[2017-10-12 15:49] stefan-kolb commented on #3275
I cannot reproduce this issue, descriptions are displayed as expected.

Exceptions refer to `MainTable.java`:
[code]

Dunno why matches is called with null...

So `GroupMatcher.java` will obviously fail.
[code]

[2017-10-12 15:55] AEgit commented on #3286
The following two issues also describe a behaviour where JabRef unexpectedly looses or changes its focus:
https://github.com/JabRef/jabref/issues/2868
https://github.com/JabRef/jabref/issues/3176

If the issue mentioned above is just related to the maintable, the other issues are probably not connected to this problem. If it is not just related to the maintable, it could be a more fundamental prob

[2017-10-12 16:02] stefan-kolb commented on #3247
Fixed in #3274

[2017-10-12 16:02] #3247 closed

[2017-10-12 17:45] dvbowen commented on #3236
With version 4.0 (on macOS Sierra 10.12.6) I'm getting the freeze after the following steps:

1. "Press the add article button" ;
2. Paste a reference into the "biblatex source" pane after copying from Chrome;
3. Jabref hangs after either a) highlighting a piece of text in the "biblatex source" pane with the cursor, or b) simply selecting the "General" pane.

Appending my host name to localhost in

[2017-10-12 19:28] g-mos opened #3294 "Jabref freezes after merging of entries"
JabRef version JabRef-4.1-dev--snapshot--2017-10-10--fix3235--a43057b72.jar on Ubuntu 16.04

I had a bibliography entry and I tried to update its info based on the doi. After I choose what to keep from which side the program freezes on the replace original entry. This has happened also before on previous 4.0 / 4.1 versions, but its the first time I have the dump file.
Additionally, irrelevant of t

[2017-10-12 22:39] halirutan opened #3295 "Bad JavaFX font smoothing"
I'm using the latest dev-version that is available in the download section and I'm seeing a similar issue that appeared in IntelliJ IDEA's markdown preview. The font-smoothing for gray/black text uses RGB antialiasing which looks irritating. Here is a magnified example of the bibtex-source view:

![font](http://i.imgur.com/Xz2Povz.png)

In IDEA they provided a feature to use grayscale font smoothi

[2017-10-12 23:47] adcox opened #3296 "Freeze when New Entry clicked | Mac OS Sierra"
Steps to reproduce:

1. Open JabRef
2. Click the "New Entry" button (dialog bubble with a plus sign)
3. Select one of the options; I've tried MastersThesis and Article, both result in the same behavior
4. Cue spinning wheel of death for several minutes; eventually responds.

Mac OS Sierra 10.12.6

[2017-10-13 00:09] adcox commented on #3296
In fact, most interactions with buttons in the software are slow. Just tried clicking the button to link a file to a reference and had to wait at least 20 - 30 seconds. After a file is selected, the program freezes yet again (the wheel is still spinning after about 10 minutes).

Also for reference, from the about dialog:
JabRef 4.0
Mac OS X 10.12.6 x86_64
Java 1.8.0_144

[2017-10-13 02:03] psychelzh commented on #3275
I guess it is because of one of my `.bib` file. When I switched to another one, everything is then okay.

But I really do not know that specific `.bib` file is problematic. Do you know of any tool to check it?

[2017-10-13 02:46] halirutan commented on #3295
Here is a [related answer on SO](https://stackoverflow.com/a/24419312/1078614). That being said, using

[code]

fixes this issue. However, the font still seems to be blurry. While the main menu, the entry table and its tab-labels are crystal clear, the tab-labels and entries at the bottom have a different/larger font and appear blurry to me. Below, the two top lines are from the article-table, thi

[2017-10-13 07:11] vishnudesam commented on #398
C:\Users\reddydv\Downloads\sonar-runner-2.4\bin>gradle sonarqube

FAILURE: Build failed with an exception.

* Where:
Build file 'C:\Users\reddydv\Downloads\sonar-runner-2.4\bin\build.gradle' line: 2

* What went wrong:
Error resolving plugin [id: 'org.sonarqube', version: '2.5']

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

[2017-10-13 07:14] vishnudesam opened #3297 "GRDLE ERROR"
I ADDED build.gradle
plugins {
  id "org.sonarqube" version "2.5"
}

gradle.properties
systemProp.sonar.host.url=http://localhost:9000

C:\Users\reddydv\Downloads\sonar-runner-2.4\bin>gradle sonarqube

FAILURE: Build failed with an exception.

Where:
Build file 'C:\Users\reddydv\Downloads\sonar-runner-2.4\bin\build.gradle' line: 2

What went wrong:
Error resolving plugin [id: 'org.sonarqube', vers

[2017-10-13 07:29] lenhard commented on #3296
This is a duplicate of #3236 Please have a looked at that. A description to a potential fix is also linked in the issue.

[2017-10-13 07:29] #3296 closed

[2017-10-13 07:29] lenhard commented on #3290
This is likely a duplicate of #3236 Please have a looked at that. A description to a potential fix is also linked in the issue.

[2017-10-13 07:29] #3290 closed

[2017-10-13 08:00] lenhard commented on #3295
Thanks for reporting this and actually looking into a solution!

Changing the CSS file should have an effect, at least according to Oracle's documentation. I suspect that `Main.css` might be the wrong file, though. We have a separate CSS file for the entry editor: `java/org/jabref/gui/entryeditor/EntryEditor.css` and that's the part where you are seeing the problems.

Could you try setting the fon

[2017-10-13 08:30] Siedlerchr commented on #3297
You need to add the repo to gradle:
https://stackoverflow.com/questions/30114860/multiple-maven-repositories-in-one-gradle-file

[2017-10-13 08:30] #3297 closed

[2017-10-13 08:55] fahu opened #3298 "Jabref not opening window after fresh installation on macOS High Sierra"
Hi there,

I installed High Sierra (clean install) on my mac. Afterwards I installed the latest stable version of JabRef. After the installation I opened JabRef. The icon of JabRef is available in the dock but no window of JabRef appears. It's not possible to use the mac menu bar because when clicking on it nothing happens.

My environment
- macOS High Sierra (10.13 (17A405))
- JabRef v 4.0

[2017-10-13 09:20] tokkot commented on #2607
I found what I think is a more up-to-date specification for the RIS format in the manual for Reference Manager 12, [here](https://researchsoftware.com/sites/researchsoftware.com/files/product_attachments/v12_refman_userguide_0.pdf), page 581. But Reference Manager has been discontinued in favor of EndNote, so many EndNote defines the spec now.

[2017-10-13 10:09] lenhard commented on #3295
By the way, this is probably the same issue: #3268

[2017-10-13 12:31] halirutan commented on #3295
@lenhard

Yes, it was only an example. I tried `EntryEditor.css` too but maybe I misplaced the `-fx-..` option. After cloning and compiling the repo changing the `css` file worked as expected.

Question: In [EntryEditory.css](https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/entryeditor/EntryEditor.css) I don't see any changes of font sizes or font types. Still, the font is

[2017-10-13 12:52] lenhard commented on #3295
Ok, good to hear that this is actually resolvable. Would you mind proposing a pull request with a fix?

There is some documentation regarding [project structure](https://github.com/JabRef/jabref/wiki/High-Level-Documentation) and [coding](https://github.com/JabRef/jabref/wiki/Code-Howtos) here in the wiki on github, but it is very *very* limited. We have little time for development and unfortunate

[2017-10-13 13:47] adcox commented on #3236
I am running into the same error. I downloaded JabRef-4.0.jar from the repo and ran it from the terminal to capture the output. When I first open the program, the output is

[code]
Then, when I click on the add entry button and select "Article", an exception is thrown:

[code]
I will note that the program doesn't hang when I'm running it in this mode, although it *does* hang when I run the bundled

[2017-10-13 14:05] #3255 closed

[2017-10-13 14:36] lenhard commented on #3236
I have now added a note regarding the host mapping solution for the freezes into the installation help. Hopefully, this helps some users to fix their setup instead of reporting an issue here.

@adcox The log says that you have an older JavaFX runtime installed. This might be the reason why some classes cannot be instantiated and trigger a NullPointerException later. Please make sure you have an up

[2017-10-13 14:40] g-mos commented on #3294
I don't believe that I actually get the proper message when the program freezes. Today after a merge I got the following log (which in my eyes sees similar) but the program DID NOT freeze. It continued.
`<details>
  <summary>Log File</summary>
AI: INFO 13-10-2017 16:25, 20: Configuration file has been successfully found as resource
16:25:05.465 [AWT-EventQueue-0] INFO  org.jabref.logic.importer.Op

[2017-10-13 14:41] lenhard commented on #3298
Hi @fahu

Could you have a look at #3236? Does the host mapping solution described there solve your problem or maybe your Java / JavaFX runtimes are not up to date?

[2017-10-13 14:50] halirutan commented on #3295
Yes, I agree. As long as this doesn't break anything it probably should go statically into the css file. I was asking about the font-size since I might look into this as well if I find some time this weekend.

Today, I tested the fonts on a different OS:

JabRef 4.1-dev
Mac OS X 10.12.6 x86_64
Java 1.8.0_74

and when I open the EntryEditor, I see the same blurry fonts for a glimpse of a second bef

[2017-10-13 16:04] Siedlerchr commented on #3294
`org.jabref.logic.util.io.CiteKeyBasedFileFinder - Problem in finding files java.nio.file.NoSuchFileException: /mnt/cheal/mnt/herbopublic/Bibliography/papers at `

=> Seems like there is a problem with finding the path when Auto file link is triggered

[2017-10-13 17:49] JoKalliauer opened #3301 "Linux: ad a file to an article -> JabRef freezes"
[code]
also with
[code]

Steps to reproduce:

1. Double click on article
2. Go to _General_
3. on the right side of _File_ click on the first icon _Open_
4. Select any file
5. Click on _Open_

My Log details here: (but I think they will be useless)

<details>
  <summary>Terminal Message (nothing from this error)</summary>
[code]
</details>

<details>
  <summary>Log File (till just before freezing)

[2017-10-13 18:32] Siedlerchr commented on #3301
I can not reproduce this under Ubuntu16.04.3 LTS (Xfce) works as expected.
You could try to change the Look and Feel. Other users reported problems with GTK L&F

[2017-10-13 18:37] ml115 opened #3302 "Jabref 4.0 on High Sierra does not import saved citations"
I would like to open the enw type file, but it is gray out.
![screen shot 2017-10-13 at 1 36 42 pm](https://user-images.githubusercontent.com/32778826/31560885-ab9523b4-b01b-11e7-9fa5-a1fc54e2bf5c.png)

JabRef version  on

Steps to reproduce:

1. ...
2. ...
3. ...

<details>
  <summary>Log File</summary>

[code]
</details>

[2017-10-13 19:33] Siedlerchr commented on #3294
Hi, could you please test with the current version from here?
http://builds.jabref.org/mergeFreeze/

[2017-10-14 04:47] halirutan commented on #3295
It seems I cannot fix this in a meaningful way. For me, the setting of `-fx-font-smoothing-type: gray;` does not have any effect and it doesn't matter if I set it in the css file or in code [like here for the source editor](https://github.com/halirutan/jabref/blob/f85db810f465aab9a127d6bdb0bf2292e7c143e6/src/main/java/org/jabref/gui/entryeditor/SourceTab.java#L88). The only way that works is setti

[2017-10-14 07:55] jamal919 commented on #3264
Great! Thank you :+1:

[2017-10-14 07:55] #3264 closed

[2017-10-14 08:50] stefan-kolb commented on #3302
Do you try to __open__ or __import__ it?
`File -> Import into library` should work, but `file -> open library` is expected to fail as it only opens bib databases per default!

[2017-10-14 08:56] #3207 closed

[2017-10-14 14:32] lenhard commented on #3295
Thanks for looking into this so deeply.

Overall, JavaFX doesn't seem to be too well-supported on mac. We are having a number of freeze issues on macOS Sierra as well. The problems should rather come from the default usage of FX, since we do relatively little customization here in JabRef. Maybe it also comes from the fact that we are combining JavaFX and Swing here, something that's just unavoidab

[2017-10-14 14:35] thomaskisler opened #3304 "Interface freezes when dragging and dropping entries to groups after adding entries"
I am not sure this is related to other freezing issues, but I think I can reproduce the freeze.

0. Open group dialog
1. Create new bibtex entry
2. Copy and paste bibtex entry into "Bibtex source"
3. Click somewhere into the interface (otherwise the list above the editor is not updated)
4. Search for keyword in the newly created bibtex entry (unfortunately the focus is left on the current entry)
(

[2017-10-14 14:39] lenhard commented on #3304
Hi @thomaskisler

You are using a rather old JRE, but that is probably not the reason for the freeze. So far, practically all freezes on Linux systems have been down to the look and feel. The GTK look and feel seems to have some serious problems. Are you using that one, and if so could you please change to another one (e.g. plastic) and check if the freezing problem goes away?

[2017-10-14 14:58] thomaskisler commented on #3304
Thanks for the quick response. I was using "javax.swing.plaf.metal.MetalLookAndFeel", did also try "com.jgoodies.looks.plastic.Plastic3DLookAndFeel" and because I felt lucky also "com.sun.java.swing.plaf.gtk.GTKLookAndFeel". But the error still occurs.

With "com.sun.java.swing.plaf.gtk.GTKLookAndFeel", believe or not, every second time it already crashes at step 3 (tried 3 times).

[2017-10-14 15:04] Siedlerchr commented on #3304
Have you tried updating your JRE`? JabRef requires at least v.60

[2017-10-14 19:00] g-mos commented on #3294
First of all I would like to thank you all, for the hard work you are doing on Jabref.
based on @Siedlerchr's point I now knew what exactly was the problem (the network drive was sometimes off as it seems). Therefore I test-drived the fix with a normal and a "broken" network drive around 5 times. The fix seems to work in all cases. You can close this bug.

[2017-10-14 19:05] #3294 closed

[2017-10-14 19:07] matthiasgeiger commented on #3294
Thanks for the extensive testing!

[2017-10-15 02:35] tomtung commented on #3206
This can be done by editing the https://github.com/tomtung/latex2unicode/blob/master/src/main/scala/com/github/tomtung/latex2unicode/helper/Escape.scala file and adding those characters. Feel free to open a pull request :)

[2017-10-15 03:21] shoumitro11 opened #3306 "Jabref4 does not open in Mac OSx Sierra"
I installed Jabref 4, and my environment is OSX sierra 10.12.6
I have java version "1.8.0_144"

Jabref wont open. I can only see Jabref written on the top menubar but nothing else.

I downloaded the platform independent jar file and that works.

[2017-10-15 09:04] psychelzh opened #3307 "Cannot resolve '\textendash', etc. when displaying article title"
JabRef version `4.0` on Windows 10

See the following screenshot. `\textendash` cannot be resolved to the corresponding character.

![image](https://user-images.githubusercontent.com/13306020/31583271-bd65aa0e-b1ca-11e7-8d63-6a282aaa4f71.png)

![image](https://user-images.githubusercontent.com/13306020/31584134-f5601196-b1da-11e7-9504-fa87875c7413.png)

[2017-10-15 09:06] psychelzh commented on #3307
Maybe other `LaTex` [Text commands (encoding)](http://tex.loria.fr/ctan-doc/macros/latex/doc/html/usrguide/node28.html) are not resolved, either.

[2017-10-15 09:29] lynyus commented on #3306
Which Java Virtual machine are you using? I mean not just the version, but the whole console output of
`java -version`

[2017-10-15 09:47] lynyus commented on #3206
As you can see I have opened a PR next door at latex2unicode. This should resolve this issue as soon @tomtung makes a new release.

[2017-10-15 13:01] wbmacleod commented on #3304
This version of Jabref is  unusable for serious work.  I have a large database of about 4000 entries - I really rely on the group feature of jabfer, but it constantly freezes. Not only with drag and drop for groups, but even when editing an entry.  I downloaded the latest JRE from oracle on both my linux and Mac, and I have the same problems on both.  I would like to go back to jabref 3 if possibl

[2017-10-15 14:40] shoumitro11 commented on #3306
Here it is:
MacBook-Air:Downloads shoumitrochatterjee$ java -version
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

[2017-10-15 15:34] lenhard commented on #3307
For the record, this is not a problem in latex2unicode which translates the `\textendash` correctly. I guess this s a part of the html translation for the preview.

[2017-10-15 15:36] psychelzh commented on #3307
Yeah, you are right.
![image](https://user-images.githubusercontent.com/13306020/31586301-9b2011dc-b201-11e7-9644-220b48b2eae1.png)

[2017-10-15 15:56] lenhard commented on #3307
I added the command to the conversion table. Could you please check out the version here: http://builds.jabref.org/textendash/ and let me know if the problem is resolved at your end?

[2017-10-15 15:57] psychelzh commented on #3307
Thank you, and I will test it tomorrow, because it is too late here in China.

[2017-10-15 19:01] fahu commented on #3298
Hello @lenhard

Sadly both options didn't work for me.

Maybe you can understand my problem better with this gif.

![2017-10-15_19-58-58](https://user-images.githubusercontent.com/2507037/31588001-9a25c0ba-b1e3-11e7-903b-f718559711b7.gif)

[2017-10-15 21:53] shoumitro11 commented on #3306
Java was the issue. I uninstalled and reinstalled Java and then it worked. Thanks!

[2017-10-15 21:53] #3306 closed

[2017-10-15 22:54] lynyus commented on #3295
I'll have a look tomorrow.

[2017-10-15 23:09] halirutan commented on #3295
@lenhard Your argumentation is completely sound and I support every bit of it. [In the end](https://github.com/JabRef/jabref/pull/3305), I decided that the least-harmful way is to incorporate the font-rendering settings for FX into the preferences and make it only turned on on Linux per default.

[2017-10-15 23:26] wbmacleod commented on #3304
Two additional comments on this.  First, jabref does not seem to work with JDK  9. Second, I found that on the Mac using the jar file (java -jar Jabref.jar) works much better than the native Mac version with JDK 8.

[2017-10-15 23:29] wbmacleod commented on #3298
I had this problem with JDK 9 - I downgraded to JDK 8 and used the command "java -jar Jabref.jar". Seems to work much better.

[2017-10-16 02:04] psychelzh commented on #3307
Greatm, it works! Here is a screenshot.
![image](https://user-images.githubusercontent.com/13306020/31592237-64bed580-b259-11e7-829e-2b0c28786d40.png)

[2017-10-16 02:23] psychelzh opened #3309 "Corresponding groups are sometimes not highlighted when clicking on entries"
JabRef 4.1-dev--snapshot--2017-10-16--textendash--3bee26ead
Windows 10 10.0 amd64
Java 1.8.0_144

Just as the following, the corresponding groups of each entry were not highlighted when clicking.

![jabref](https://user-images.githubusercontent.com/13306020/31592543-b8223fd0-b25b-11e7-91d7-6dd2ed48bb2d.gif)