[2016-04-21 06:51] #1266 closed

[2016-04-21 06:57] koppor commented on #1267
@mairdl Since you work on Medline (#547), could you create a test case and test whether this issue is still valid in JabRef 3.3 / current development version?

[2016-04-21 08:17] stefan-kolb commented on #473
@simonharrer Can we reproduce this with your new database tests?

[2016-04-21 08:27] stefan-kolb opened #1268 "Canceling an import into current/new? database still triggers an import"
JabRef version 3.3 on Windows 10

[2016-04-21 08:45] #1268 closed

[2016-04-21 09:04] pirlite2 commented on #1264
In fact, the preview panel also makes a mess of things. S-with-caron
renders correctly but the following characters in the name are trashed.
Similarly, Z-with-caron displays properly in the table but renders as
"Z\caron..." in the preview pane. :-(

As to the experiment you suggest with converting to Unicode in the entry
editor (nice new feature!), everything renders properly apart from
S-with-car

[2016-04-21 09:28] adessec opened #1270 "Delete temporary files after saving a database"
JabRef version 3.3 on Linux 3.16.7-35-default (openSuSE 13.2)

Steps to reproduce:

1. Activate autosave.
2. Autosave files not wriiten into the same directory as the *.bib file but to /tmp.
3. Even after saving, autosave files persist.

[2016-04-21 09:50] mlep opened #1271 "Entry table: Author name displayed with partial first name"
JabRef-3.3.jar, but also JabRef-3.4dev--snapshot--2016-04-21--master--3f160e8.jar
Linux Mint LMDE

A Chinese first name can be written as      Tse-tung  .  Note: this is a single first name, and there is no capital to "tung" (e.g. https://en.wikipedia.org/wiki/Mao_Zedong)

In BibTeX format, the first name should be coded as {Tse-tung} , so as not to be confused with a composite first name (like Ja

[2016-04-21 09:56] mairdl commented on #1267
i will give it a try for sure.

Note: There's a typo in the headline

[2016-04-21 10:05] simonharrer commented on #473
@fishforbreakfast can you try out the version available at http://builds.jabref.org/fix-473/ whether it solves your issue? According to my tests, they should.

[2016-04-21 11:10] simonharrer commented on #1154
I think this is something we can try to work on towards the next JabRef release.

[2016-04-21 12:42] buhtz commented on #1266
I can not see an offical download on jabref.org. There is only a download offered by a unknown (untrusted) third-party company (fosshub) not working without javascript. When I have to activate javascript just do make an download-button available...
You could use the release-area of github for example.

[2016-04-21 12:49] matthiasgeiger commented on #1266
... where you can find the download files as well.

[2016-04-21 13:15] Siedlerchr commented on #1154
I also noticed some other things regarding BufferedWriter etc.
There are some new handy methods in the Files class which could be used. (e.g. Files.newBufferedReader/Writer/Stream...

[2016-04-21 13:17] wbmacleod opened #1272 "bibtex key entry rejects ( and )"
JabRef version 3.3 Linux
Hint: If you use a [development version](http://builds.jabref.org/master/), ensure that you use the latest one.

Steps to reproduce:

1. Try to enter a bibtex key with parenthesis in it - eg: Kaur(2014)
2. Invalid bibtex key is returned

Also this implies that the automatic bibtex key generator with parenthesis no longer works (I have 4000 keys with parenthesis...)

Work a

[2016-04-21 13:28] simonharrer commented on #1154
Yes, this is part of the NIO.

Basically, all of this is technical debt we should pay back instead of paying the interest rates. :)

[2016-04-21 13:48] wbmacleod commented on #1272
With some checking it seems that biber does not allow for parentheses. See:

http://tex.stackexchange.com/questions/96454/using-bibtex-keys-containing-parentheses-with-biber

A solution would be to allow parentheses in bibtex mode, and then in bibalatex mode add an IDS field that would move offending keys to IDS field and remove offending characters.  Many of us have thousands of references with p

[2016-04-21 14:04] buhtz commented on #1266
Then you should use that as a official Download link.
No one need untrusted third-party Download-Hoster. Even GitHub is discussable enough with its closed source policy.

[2016-04-21 14:07] pirlite2 commented on #1264
FWIW: v3.3 displays identical behaviour on Win7! So I would suggest this
narrows it down to a Java problem at best. Same behaviour on two
radically different OSs!

Out of interest, I am using openjdk-8. Is this behaviour apparent using
the Oracle JVM? Does "\v{S}iroky" display correctly as an uppercase 'S'
with a caron?

P.

On 20/04/16 22:23, Oscar Gustafsson wrote:

[2016-04-21 15:01] mlep commented on #1264
JabRef version 3.3 on Linux Mint LMDE with Java(TM) SE Runtime Environment (build 1.8.0_66-b17):
- `\v{S}' is displayed as a little rectangle
- '\v{Z}' is ok

[2016-04-21 15:14] fishforbreakfast commented on #473
On 04/21/2016 05:05 AM, Simon Harrer wrote:

Looks like at least the database part is working.  I tried a
particularly large bibliography file to import and export to PostgreSQL
and it completed without errors.  I have some more that I am going to
try.  If I find any errors, I will let you know.  It may be Monday
before I get back to you though.

Cheers,

Fred

[2016-04-21 15:28] mlep commented on #152
@koppor Could you update the checkbox, as the list of plugins is listed in the FAQ (http://www.jabref.org/faq/)?

[2016-04-21 17:17] pirlite2 commented on #393
In response to a request by Frédéric Darboux "Which "Look and Feel" are you using? (this is displayed in Options -> Preferences -> Appearance) Could you confirm (or not) that JabRef 3.3 does not work with the GTK Look and Feel under Linux? "

I have tried changing from the default javax.swing.plaf.metal.MetalLookAndFeel to com.jgoodies.looks.plastic.Plastic3DLookAndFeel; JabRef restart OK but I ca

[2016-04-21 17:30] pirlite2 commented on #1264
I have now been through my database. Basically, 'S' or 's' (upper or lowercase) with caron does not render properly. It always produces a little rectangle. Lots of other characters (Z,z,n, etc.) with carons do render perectly. It seems to be only the letter 'S' (upper and lowercase) that is wrong.

Also, this behaviour appears to be constant across Linux & Windows, and across the OpenJDK and Oracl

[2016-04-21 17:43] stefan-kolb commented on #393
@mlep No, it just uses the Metal LookAndFeel by default and therefore (hopefully) prevents the current issues. If you change to another LAF you are at the same point as before.

[2016-04-21 17:43] simonharrer commented on #473
Great. Waiting for your detailed feedback, tough, before merging the fix in.

[2016-04-21 17:43] Siedlerchr commented on #1264
Confirmed in JabRef on Win 7 x64 with Oracle JDK 1.8.0_76
I will try to create a simple testApp to test this.

[2016-04-21 17:44] stefan-kolb commented on #393
We also cannot confirm that GTK LAF does not work for anyone, but there are obviously problems for some...

[2016-04-21 17:52] fishforbreakfast commented on #473
I'll try to speed things up a little.  So far, I've imported and
exported two bibtex files to PostgreSQL with no issues except that I had
to create a new database for JabRef 3.4.  I have to do this with each
release of JabRef as tables and such change between versions.  Anyway,
the import and export references have about 2100 to 2500 entries with
lots of special characters in the abstracts, author

[2016-04-21 18:18] Siedlerchr commented on #1264
Update: I found something interesting. When you enter the Š directly, it is displayed correctly, with Arial font family. It is also rendered correctly.

@pirlite2 Seems like a problem with the displaying of the LaTex \v{S} symbol

[2016-04-21 18:20] oscargus commented on #1272
Introdced in d505452d04b421818dd966a85121468138de8ff3

@lenhard : comments?

[2016-04-21 18:23] oscargus commented on #1264
Well, I checked the source now and it is not yet included. I'll add it to #1215 so once added everything should be fine.

[2016-04-21 18:29] oscargus commented on #1264
Checking again, I was wrong. It is actually included (just in a different position from where I looked). I'll look more into it.

[2016-04-21 18:45] oscargus commented on #1264
I do not fully get this... That square converts back to {\v{S}}... For me, the HTML rendering works. However, for {\v{C}}, the Unicode rendering works, but the HTML preview rendering shows &Ccaron;. Strange...

[2016-04-21 19:02] Siedlerchr commented on #1264
@oscargus Can you tell me the relevant code/method? And did you try with the Unicode Symbol rendering directly?  Š

[2016-04-21 19:09] oscargus commented on #1264
LatexToUnicodeFormatter and HTMLUnicodeConversionMaps

Now, I tried `&#348;&#349;&#350;&#351;&#352;&#353;` (352 is Scaron) which gives: `{{\^{S}}}{\^{s}}{{\c{S}}}{\c{s}}{{\v{S}}}{\v{s}}` which when converted to Unicode gives: ŜŝŞş (you will probably not get it since I added 350 and 351 in my PR). On the other hand, for the preview I get `&Scirc;&scirc;&Scedil;&scedil;Šš`.

[2016-04-21 19:14] oscargus commented on #1264
The LatexToUnicode converter correctly detects the command v and argument S (line 153) which it  then looks up as vS in a map generated from stripped versions of the LaTeX command generated in HTMLUnicodeConversionMaps, which should return a String consisting of the unicode character corresponding to 352 (which apparently works for 348 and so on...). An alternative here might be to use combining a

[2016-04-21 19:17] simonharrer commented on #473
Thank you. :)

[2016-04-21 19:22] #473 closed

[2016-04-21 19:35] Siedlerchr commented on #1264
@oscargus  I imported your PR as patch (simply add .patch at the url ). Will look at it tomorrow,

[2016-04-21 19:40] oscargus commented on #1264
The main difference in that patch is that the strings are replaced directly
instead of as regular expressions (which really was just plain strings
anyway), so the list is a bit easier to read. I have not pushed the
additional characters, but you can try other HTML numbers if you easily
want to generate long sequences of characters...

[2016-04-21 19:56] simonharrer commented on #1264
@Siedlerchr you can also check out any PR see https://help.github.com/articles/checking-out-pull-requests-locally/

[2016-04-21 22:37] stefan-kolb commented on #829
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-04-21 22:37] #829 closed

[2016-04-21 22:38] stefan-kolb commented on #816
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-04-21 22:38] #816 closed

[2016-04-22 09:52] bernhard-kleine opened #1275 "Jabfox does not finish"
JabRef version 3.3 on Windows 7

I have the signed version of Jabfox running on an actual firefox 45.0.2. When in a Pubmed result window I can use the jabfox button to import the bibliographic data into JabRef. This works nicely. However the jabfox does not open the import window of JabRef, nor does it finish that one could work on with firefox.

Steps to reproduce:

1. Do a search in firefox on P

[2016-04-22 10:39] lenhard commented on #1272
The reason for this was #631

Hard to say what the right path of action is here. If brackets are allowed in bibtex keys, we should support such keys in JabRef. I guess we could use different key checking functionality depending on the mode, but I am strongly against workarounds such as the one described by @wbmacleod If one uses brackets in keys and switches to biblatex, it should be sufficient to

[2016-04-22 11:01] pirlite2 commented on #393
"We also cannot confirm that GTK LAF does not work for anyone, but there are obviously problems for some..."  Sorry, but that doesn't make any sense!

Further to my earlier post, I have had a look at changing the LaF on Windows. I cannot see any difference between any of the LaFs! (Much like Linux.) What changes should I expect to see if this working as intended?

[2016-04-22 11:14] stefan-kolb commented on #393
Sorry, but my response wasn't targeted at your question.

Regarding your question:
I don't know why you cannot see any difference between LAFs. Imho, this is another issue that need not to be related with the topic here. Maybe you don't have the LAF inside the classpath? Normally it should not be displayed if so, so maybe it's a bug. I think this needs to be discussed in a separate issue.

[2016-04-22 13:49] adessec commented on #1270
I don't think this behaviour is an enhancement but rather a bug. A version of a database that has been edited is written to /tmp every five minutes by default as long as you don't save it to the working directory. Quite annoying if it's large.

[2016-04-22 14:47] Siedlerchr commented on #1270
@adessec When it's always the same temp file that is updated than it is totally okay and totally consistent behavior.
However, it would be nice to configure the autosave to the working directoy.

[2016-04-22 15:04] adessec commented on #1270
Unfortunately it is not always the same temp file - they just multiply. At the moment, I have one small +-JF*.tmp, one small jabref*.tmp, one large jabref*.tmp, and nine large jabref*save.bib. Nothing has been updated.

[2016-04-22 15:35] wbmacleod commented on #1272
I would agree that the workaround is not a good idea - a better solution might be to use the flag of bibtex vs bibalatex/biber in jabref to also affect the syntax checking - in bibtex mode any bibtex allowed citation could  be permitted.

With regards to changing the cite key, this is very non-trivial - I have dozens of co-authors and RAs that use a common bibtex file, so this requires changing do

[2016-04-22 15:37] wbmacleod commented on #631
As I point out in #1272 this a poor idea that has caused many of us problems.  A better solution would be to enforce this only when jabref is in bibalatex mode.

[2016-04-22 16:16] tobiasdiez commented on #1270
According to the [help](http://help.jabref.org/en/Autosave/)

So if this does not work, then it is indeed a bug. Moreover, according to the same help page, the auto save file should actually be named `$file$` (so extra dollar signs) and be put in the same folder (and I get same expression reading the code).

Moreover, I can't find anything in the code which would suggest that a file is written to

[2016-04-22 16:24] tobiasdiez commented on #1272
What about:
- Allow everything in the key (as long as JabRef itself can handle it)
- But only generate keys without braces
- Move the check to the Integrity Check functionality (and make it mode dependent)

[2016-04-22 16:47] wbmacleod commented on #1272
Well I am still using parentheses and have moved to old version of jabref
which I guess I will have to stick to.

At the moment bibalatex is too buggy and I have several book projects so I
am stuck in my ways... The keys with parentheses are easier to read for me
so will use jabref 3.2 for now. It is a great program. Bm

W Bentley MacLeod
On Apr 22, 2016 12:24, "Tobias Diez" <notifications@github.

[2016-04-22 17:00] tobiasdiez commented on #1270
Ok, I think I found the problem. Should be fixed with #1277.

[2016-04-22 17:29] tobiasdiez commented on #1251
Thank you for the follow up. I tried to replicate the problem #1278, however without luck. Can you please try out the latest development version http://builds.jabref.org/master/. Maybe the problem was already fixed (although I doubt it).

[2016-04-22 17:36] tobiasdiez commented on #1275
Ok, I can confirm the problem, for example on http://www.ncbi.nlm.nih.gov/pubmed/?term=sexually+dimorphic. Will have a look at it.

[2016-04-22 17:38] LSinev commented on #938
Some info about correct storage of xmp inside pdf (to be compatible with pdf/a for example) can be found with samples at http://www.pdflib.com/knowledge-base/xmp-metadata/xmp-in-pdfa/
Here goes free xmp validator: http://www.pdflib.com/knowledge-base/xmp-metadata/free-xmp-validator/
Some java code samples can also be found at that website.

[2016-04-23 17:53] RKBK commented on #1263
This also seems necessary on Mac OSX, at least it was on my macbook pro.

[2016-04-23 18:54] tobiasdiez opened #1283 "Run cleanup operations directly after import"
It would be nice to specify some cleanup operations which should run directly after some entries are imported (directly or using a fetcher).

[2016-04-24 11:25] adessec commented on #1270
Thank you for fixing this.

[2016-04-24 12:10] tobiasdiez opened #1284 "Create addons for Chrome and Opera"
I have just discovered that there are [Zotero addons for Chrome, Safari and Opera](https://github.com/zotero/zotero-connectors/). Moreover, the implementation looks really similar to the Firefox addon. Thus I think it would be rather easy to create JabRef addons for these browser, paralleling the development of [JabFox](https://github.com/JabRef/JabFox).

[2016-04-24 12:37] fishforbreakfast commented on #473
Simon,

Just a followup.  Everything is working very well with your fixes so
far.  Thank you very very much for your efforts and work on JabRef!

Regards,

Fred

On 04/21/2016 02:22 PM, Simon Harrer wrote:

[2016-04-24 13:30] obraliar commented on #344
So this problem is indepedant of the event system. I think that the save process of large databases takes too long, right? If so, we could implement another save method, which only updates the affected entry instead of overwriting the hole file.

[2016-04-24 15:03] leezu commented on #1251
I can confirm that the problem still exists with JabRef-3.4dev--snapshot--2016-04-22--master--9c07a14.jar

Thanks for helping to investigate this issue tobias.

[2016-04-24 15:37] simonharrer commented on #473
Great. :-)

Btw. donations keep us going ;-) http://www.jabref.org/#donations

[2016-04-25 01:53] ikuraj opened #1285 "More advanced support for journal abbreviations"
Many of the exported bibtex files (e.g. from DBLP or ACM) contain journal/conference names together with additional information (like the city where the conference was held, year, etc.).

For example:

[code]

while the conference name is `International Conference on Object-Oriented Programming, Systems, Languages, and Applications`, which should have the following abbreviation

[code]

Simple str

[2016-04-25 06:59] oscargus commented on #1285
Ignoring that it is a sub-conference, I would define a string `OOPSLA = Proc. {ACM} {SIGPLAN} Int. Conf. Object-Oriented Programming, Syst., Languages, Applicat.` (or slightly more carefully edited), move the location to `address`, date to `month` (or `date` fro Biblatex) and 2015 to `year`. For the subconference, it is not obvious how to handle it. If OOPSLA is always part of SPLASH one can proba

[2016-04-25 08:11] #129 closed

[2016-04-25 08:31] koppor commented on #871
@boceckts Could you port the copy and paste from #964 to the `master` branch (without JavaFX libraries)?

[2016-04-25 08:35] simonharrer commented on #1285
Ideas:

- create a checker (Integrity Check) which detects year numbers, locations, page numbers in the booktitle string (should be moved to their appropriate fields) and issue a warning to the user
- give the user a hint which entries cannot be shortened and which can be shortened (so that the user can improve this `.bib` file based on this information so that JabRef can help more

[2016-04-25 08:54] koppor commented on #1091
It is now added at https://github.com/JabRef/jabref/wiki/Guidelines-for-setting-up-a-local-workspace#intellij.

[2016-04-25 08:56] matthiasgeiger opened #1286 "Prefs: "Enforce legal characters in BibTeX keys" cannot be deactivated"
JabRef version: 3.3 and latest dev builds

While trying to provide a workaround for #1272 I discoverd, that the preference setting  "Enforce legal characters in BibTeX keys" does not really work: Even after deactivating the setting I can not enter a BibTeX key with parenthesis...

Steps to reproduce:
1. Open Preferences, tab "General": deactivate "Enforce legal characters in BibTeX keys". Save pre

[2016-04-25 09:02] matthiasgeiger opened #1288 "Newly opened bib-file is not focused"
JabRef version 3.3

Steps to reproduce:
Prerequisite: JabRef is registered as the default application for *.bib files
1. Close all JabRef instances
2. Open a bib file from the file system
3. JabRef is opened, the file used least recently is selected - and not the newly opened bib file

(Side note: If remot ops are activated and JabRef is already running, the newly opened file is focused correctly)

[2016-04-25 09:05] tobiasdiez opened #1289 "Remove old Authors formatters"
According to http://jabref.sourceforge.net/help/CustomExports.php a lot of Author formatters (like [AuthorLF_FF](https://github.com/JabRef/jabref/blob/511a1c3ab2fd1b36b23774ab0774a8f0acf3f169/src/main/java/net/sf/jabref/logic/layout/format/AuthorLF_FF.java)) are depreciated and are replaced by [Authors](https://github.com/JabRef/jabref/blob/511a1c3ab2fd1b36b23774ab0774a8f0acf3f169/src/main/java/ne

[2016-04-25 09:37] mlep opened #1290 "Menu: JabRef help --> Online help"
JabRef 3.3

Currently, JabRef help is accessible through the menu "Help -> JabRef help".
I think it is obvious for the user that this is about help of JabRef, and, hence, that it will be more informative to have the menu "Help -> Online help" (which makes clear an internet connection is required).

[2016-04-25 11:14] simonharrer opened #1291 "Encode more Best Practices as part of Integrity Checks"
Possible checklist to build upon see http://serialmentor.com/blog/2015/10/2/Bibtex/

I think we should gather best practices here and discuss whether we can derive an integrity check from them.

[2016-04-25 11:28] supernano opened #1292 "Page number with DOI to BibTex for APS"
JabRef version 3.3 on Windows 7 64-bit

When importing references from APS journals using DOI to BibTex, the pages field does not get imported.

Steps to reproduce:

1. Fetch a reference from an APS journal using DOI to BibTex (e.g. 10.1103/physrevlett.107.230501).
2. Click ok in the search results window to add the reference to your database.
3. Double-click on your newly added reference, to look

[2016-04-25 11:42] teertinker opened #1293 "Search term highlighted even without having focus"
JabRef version 3.3 on Ubuntu 14.04

Steps to reproduce:

1. Search for something in the database e.g. "Doe"
2. Hit enter
3. Search performs correctly
4. Switch tab to another bib file
5. Switch back to tab with "Doe" entries.

-> "Doe" gets highlighted in the search field, suggesting that it has the focus to enter a new search term, similar to the behavior of web-browsers. However, in contrast to

[2016-04-25 11:56] simonharrer commented on #1293
Hm, cannot reproduce on my machine. The search bar does not get the focus here.

[2016-04-25 12:09] teertinker opened #1294 "Small issues regarding the new style selection dialog for LibreOffice"
JabRef version 3.3 on Ubuntu 14.04
![image](https://cloud.githubusercontent.com/assets/8830305/14783017/3c06ad3a-0aed-11e6-9bec-5be4b00dc11d.png)

The new style dialog is beautiful, thank you very much!

What I miss from before is:

a) a file-filter, allowing to show only *.jstyle files in the window on the far right.
b) in case other users store the style files in one folder: that jabref remember

[2016-04-25 12:20] teertinker commented on #1293
No, the search bar does not have the focus, but the search term is highlighted as if it had the focus. In the screenshot, "Dodd" in the search bar is highlighted, similar to the browser address-bar, after a left-click. From my perspective the jabref behavior is irritating, because i see the highlighted "Dodd" and I am inclined to type my new search term immediately, but jabref has the focus somewh

[2016-04-25 12:28] simonharrer commented on #1293
Maybe this is an OS issue? On windows, I cannot reproduce.

When switching back, the search term should not be focused/selected.

[2016-04-25 12:28] matthiasgeiger commented on #1293
It is not marked/highlighted on my windows machine. Even when I mark it and switch the tabs the marking disappears...

[2016-04-25 12:39] #1270 closed

[2016-04-25 12:42] simonharrer commented on #1270
Thank you for reporting the bug and helping JabRef.

PS: Donations keep us going. ;-) http://www.jabref.org/#donations

[2016-04-25 12:42] teertinker commented on #1293
Indeed, on my windows machine, it doesn't happen.

As a matter of fact, after switching the tab, my search term is always selected (and the search field never has focus). My first idea was, this could be related to the highlighting function, that marks the search term in the preview windows and the entry editor and somehow applies its highlighting also to the search field. But than it shouldn't be

[2016-04-25 12:48] tobiasdiez commented on #1291
Good idea. Biber also contains some integrity checks (by running biber --tool).
For dates: https://github.com/plk/biber/blob/a13871c32321934dc4914c55a9357568fa1adfe7/t/dm-dateformats.t
Hidden as biber_warn statements: https://github.com/plk/biber/blob/ed9f87b599027130272b8d34d4f3e71039613177/lib/Biber/Input/file/bibtex.pm

[2016-04-25 14:19] oscargus commented on #1291
Some relevant points and I think we cover quite a few of them. However, the things listed under "Superfluous issue numbers, publication months, or other elements" I do not agree with. First, the behaviour is research filed dependent, so in my area it is simply not true. Second, that is the whole purpose of the .bst. If the journal actually doesn't use number it will not show it given that the corr

[2016-04-25 14:21] oscargus commented on #1291
I'd be more towards adding a checker that actually does check that volume, number and month is actually not empty, if anything.

And, of course, allow to enable and disable the checkers.

[2016-04-25 15:07] Siedlerchr commented on #1294
I will look into that. @oscargus  You can assign this to me

[2016-04-25 15:07] teertinker commented on #1293
This issue is already present in JabRef 2.10. With a search bar at the left, however, one didn't notice the bug, because the search term was not tab specific and changed at switching tab.

[2016-04-25 15:11] matthiasgeiger commented on #1286
Okay. It generally works, but the parentheses `(` and `)` are marked as "some characters such as commas, [which must be checked] since these would interfere with parsing"... (see [code here](https://github.com/JabRef/jabref/blob/34f900a3acd6548e6a3558e745dbbabb5e25e3dd/src/main/java/net/sf/jabref/logic/labelpattern/LabelPatternUtil.java#L1401-1411))

However, the parentheses do not affect the pars

[2016-04-25 15:11] #1286 closed

[2016-04-25 16:04] Siedlerchr opened #1295 "View -> Sort Tab gives NPE"
Version: ced4a0aefba4890848e9f96b4be084fdb654ec9a (master) on Win 7 x64 with Java 8

Steps to reproduce:

1. Open two bib dbs
2. Click View -> Sort Tab
3. Look at error Console

Reproducible

[code]

[2016-04-25 17:10] dret commented on #1210
these things are apples and oranges because DOI is a specific namespace with a defined authority and lookup mechanism. URN is simply a tree under which many concrete URN namespaces live. but you could support some of them, such as ISBN or IETF document lookup. a complete list of all registered URN namespaces is here: http://www.iana.org/assignments/urn-namespaces/urn-namespaces.xhtml

[2016-04-26 06:03] koppor commented on #1094
The first benchmarks have been done in #1103.

[2016-04-26 06:05] koppor commented on #344
@obraliar Please follow up at #1103 and #1094. Since bibtex are text files, one cannot easily seek into the file and write a larger portion. Currently, JabRef uses the read serialization if the entry was not changed. Thus, there should be no performance improvement possibilities in that case.

[2016-04-26 06:29] stefan-kolb opened #1299 "Pasting in Doi field does not update entry immediately"

[2016-04-26 06:36] matthiasgeiger commented on #1255
Follow up @https://github.com/JabRef/help.jabref.org/pull/16

[2016-04-26 06:36] #1255 closed

[2016-04-26 06:41] stefan-kolb commented on #1292
We directly retrieve the BibTeX entry via the DOI resolver page by setting the `Accept`header of the HTTP request to `application/x-bibtex`. The data just does not include the `pages` field, so there is not much I can do about that.

Data:
[code]

[2016-04-26 07:08] #1292 closed

[2016-04-26 07:39] stefan-kolb commented on #1299
Button needs to get focus first somehow.

[2016-04-26 07:39] #1299 closed

[2016-04-26 07:42] stefan-kolb commented on #1284
:+1: for Chrome

[2016-04-26 08:02] #1290 closed

[2016-04-26 08:03] simonharrer commented on #477
@oscargus is this now fixed?

[2016-04-26 08:05] simonharrer commented on #480
@stefan-kolb is this already possible in the tab containing all the fields which are not shown in the other tabs?

[2016-04-26 08:06] #516 closed

[2016-04-26 08:06] stefan-kolb commented on #480
No? This tab just shows all missing fields but no special fields.

[2016-04-26 08:07] mlep commented on #1290
Thanks.

[2016-04-26 08:07] simonharrer commented on #860
I think the current system with the description is good enough.

[2016-04-26 08:07] #860 closed

[2016-04-26 08:10] simonharrer opened #1302 "codecov..."
Codecov now requires a yml file to configure its settings

https://codecov.io/gh/JabRef/jabref/settings/yaml

[2016-04-26 08:18] oscargus commented on #477
Yes!

[2016-04-26 08:24] #477 closed

[2016-04-26 09:22] Siedlerchr commented on #1284
Chrome and Firefox Addons are nowadays roughly the same code.

[2016-04-26 10:36] tobiasdiez commented on #1284
It seems like the only way to communicate between the Chrome addon and JabRef is to use the [native messaging api](https://developer.chrome.com/extensions/nativeMessaging#native-messaging-host). This is way more complicated then the solution for Firefox (`process.start(path to JabRef)`) and probably requires some changes to the JabRef installer.

[2016-04-26 11:20] simonharrer commented on #296
Is this fixed in #817 @obraliar ?

[2016-04-26 11:23] obraliar commented on #296
Yes.

[2016-04-26 11:23] #296 closed

[2016-04-26 12:12] simonharrer commented on #978
On what feedback are we waiting here?

[2016-04-26 13:23] simonharrer opened #1303 "More users, more feedback, more developers, ..."
As discussed with @stefan-kolb  and @matthiasgeiger, we want more users, and more feedback, and also more developers.

What can help:
- use JabRef as a case study during courses, e.g., UX, Java, Architecture, Programming, Open source, ...
- use JabRef as a tool for tutorials about literature management, scientific work, etc.
- make sure your university library provides courses about JabRef in addi

[2016-04-26 14:55] mlep commented on #1303
About new developers:
Users may also be developers. Example: During the "Translation challenge", while asking only for translation (i.e. no programming skills), I got in touch unexpectedly with 2 java developers and one graphic designer (@koppor has their emails). So, they are developers around! Hence, I believe the issue is more about how to make them contribute. Suggestion:
- send emails to the

[2016-04-26 17:43] Siedlerchr commented on #1303
I really like the idea! In fact I got into Jabref as a user, because the department I chose to write a paper, recommended JabRef.
And I know that other departments/professors at my university (University Paderborn) use JabRef.

I am sure that this would be a nice idea.
My university is already providing several courses for topics going from traditonal  MS Office to LaTex, Photoshop etc.. I like th

[2016-04-26 19:28] melTr opened #1305 "Auto link pdf"
Big issue (at least for me), linking of pdf doesn't work. Either in JabRef 3.3 or JabRef-3.4dev--snapshot--2016-04-26--master--baef229.jar

1- Instead of linking local files (my bibkey and document folder are correctly set), its seems to try to download.
2- After a while, received a dialog saying "Fail to download cited document" (my translation, I don't use english interface).
3- Try with differe

[2016-04-26 20:26] stefan-kolb commented on #1305
Thank you for your report :+1:

I just tried to reproduce this issue on `master`. It is working as expected for me. I need more information and maybe files to reproduce your issue. Did you try to reset your preferences?

[2016-04-27 01:10] melTr commented on #1305
ok. This is strange. I try on my home computer and it works as expected. I used "fresh" pref and also the same pref than my other computer. It was the same database.
I will try again on my work computer tomorrow.

[2016-04-27 02:41] kaptoxic commented on #1285
Note that other info (like year, location, ...) are still there in the `.bib`, so I think that essentially, instead of having a simple string-replace functionality, having a regexp-based one would suffice.

[2016-04-27 05:23] koppor commented on #1222
## singular / dual / plural handling

We should also think about singular/plural handling. [Some languages also have a dual form](https://en.wikipedia.org/wiki/Dual_%28grammatical_number%29).

Example from the code (https://github.com/JabRef/jabref/blob/ad5a683/src/main/java/net/sf/jabref/gui/FindUnlinkedFilesDialog.java#L610):

[code]

## untranslated strings

Example from the code (
https://gith

[2016-04-27 07:16] simonharrer commented on #1285
The current abbreviation systems works in a completely different way. Instead of being one way (LONG -> short) it supports a round trip (LONG -> SHORT -> SHORTEST -> LONG) so you can always restore the previous information. This would be lost with your approach.

Your idea could be implemented when using a minimal .bib file which is automatically derived from the normal .bib file. But I cannot fin

[2016-04-27 07:39] matthiasgeiger commented on #1285
@simonharrer I think you mean #160.

[2016-04-27 08:02] matthiasgeiger commented on #1303
To encourage universities and libraries to use JabRef (or at least link to us) in their tutorials on scientifc work and literature management it might be helpful to provide some "reference tutorials" or a set of free presentation slides introducing JabRef and its main features.

And of course some JabRef shirts, mugs, buttons and stickers :wink:

[2016-04-27 08:17] tobiasdiez commented on #1303
I also think we need to provide more resources to help users and librarians with JabRef (I mean even we developer discover "hidden" features which are only documented in the code). Looking at this [comparison of bibliographic manager (in German)](https://mediatum.ub.tum.de/doc/1271693/1271693.pdf) the only clear disadvantage of JabRef is exactly in the outreach. See Citavi for example

[2016-04-27 10:20] koppor commented on #1303
We have a German user manual. Should we integrate it into the help (refs https://github.com/JabRef/jabref-usermanuals/issues/1)? Should we convert it into slides? - We could use [odpdown](https://github.com/thorstenb/odpdown) if we are too lazy to use PowerPoint or [latex-beamer](https://www.ctan.org/pkg/beamer).

[2016-04-27 17:59] koppor commented on #978
Shouldn't `type` be mutually exclusive?

[2016-04-27 18:15] stefan-kolb commented on #1295
@Siedlerchr You might want to test the build inside the PR :smile:

[2016-04-27 18:39] #1254 closed

[2016-04-27 18:41] Siedlerchr commented on #1295
@stefan-kolb  Will try it the next days. Discovered this bug by chance. I never really used that feature.

[2016-04-27 18:45] melTr commented on #1305
So. Still didn't working on WinXP computer, even with default preference.
As you can see in the video, the focus seems to "jump" to dowload instead. Others buttons didn't react like this.
https://www.dropbox.com/s/byldn34avufhhpz/2016-04-27%2018.39.25.mp4?dl=0

[2016-04-27 18:50] stefan-kolb commented on #1305
@JabRef/developers I cannot reproduce this issue. Can anybody of you? Maybe a problem with Windows XP?

[2016-04-27 19:21] oscargus commented on #978
@simonharrer : good question. I remove the tag. There is still some feedback related to the MainTable stuff required though.

@koppor: maybe. The reason that it wasn't stated originally was e.g. numeric sorting. Either one use a separate flag for that or add it as a type. I would assume that there are some other properties which may be similar when considering e.g. checkers. An alternative would o

[2016-04-27 19:25] oscargus commented on #1289
I'd say that maybe we should output some deprecation warning for a few versions and then remove them. Or just remove them (and be prepared to come up with correct Authors-parameters to emulate the removed ones if someone complains).

[2016-04-27 19:29] oscargus commented on #1222
That untranslated string is never used as far as I remember. It is only checked if there are some messages...

I've spent some time to try to search for such cases, but sometimes I still find an odd string.

[2016-04-27 19:39] lenhard commented on #1305
Do we have a misunderstanding here? @stefan-kolb correct me if I'm wrong, but as far as I recall the "Auto" button is supposed to do an automatic search on the Internet and try to download a pdf for the entry. It is not supposed to link local files.

For me (Win10), the auto button works as expected.

As a side note: WinXP has reached end of life more than 2 years ago. I do not see any reason to m

[2016-04-27 19:41] mlep commented on #1305
I am able to reproduce it:
JabRef 3.3 , java 1.7 and winXP
But also JabRef 3.3, java 1.8 and Linux

Clicking several times in a row on "Auto" for a reference without URL or DOI, I got a window stating "Full text document download failed". Several such windows were displayed (one after the other).
Nothing in the console; no exceptions.
At some point, the window was not about download failure: it wa

[2016-04-27 19:45] mlep commented on #1305
@lenhard Really? The first thing I see after clicking on Auto: the files in the repository are added to the field 'files'. This is the way I have been using it (and I did not expect the files to be found on the web).

[2016-04-27 19:45] stefan-kolb commented on #1305
@lenhard It first looks for a local file, then tries to download it.

[2016-04-27 19:47] stefan-kolb commented on #1305
@mlep So where is the problem? That's expected. As far as I get the problem here is that it does not find the local file and then tries to download. A failing download is no error. This could happen if no file is found.

[2016-04-27 19:48] stefan-kolb commented on #1305
He says:

That's what I cannot reproduce

[2016-04-27 19:53] mlep commented on #1305
@stefan-kolb  The issue I saw is that the file was existing, and already appearing in the field (it was added by JabRef a few clicks earlier).
The thing I do not understand now is: why did it go to look on the web?

[2016-04-27 19:54] lenhard commented on #1305
And again I learned something about JabRef :-)

Anyway, like @stefan-kolb local linking works fine for me.

[2016-04-27 20:05] stefan-kolb commented on #1305
@mlep That's maybe a small glitch, i can reproduce that!

- [ ] link after download and unclosed Jabref
- [ ] move to file folder when already there.
- [ ] open folder

[2016-04-27 20:08] lenhard commented on #629
Implemented by #1276

[2016-04-27 20:08] #629 closed

[2016-04-27 20:21] melTr commented on #1305
Thanks everyone!  i used since years "auto" to link local files and it never search over web. Maybe it something new added. I will try on my Win7 to see if it's the same. I also try the button on the side or shortcut (Alt+F) and it's the same behavior.
@lenhard I know XP is really old, but it's my work computer, I have to live with what my IT departement give me. I try on the computer besides me,

[2016-04-27 20:57] stefan-kolb commented on #1305
@melTr Can you try a recent version from http://builds.jabref.org/master/? Maybe this fixes your issue.

[2016-04-27 22:02] tgkolda commented on #934
Where is this option? In JabRef 3.3, I can no longer see which groups are associated with a highlighted entry.

[2016-04-27 23:17] kaptoxic commented on #1285
Oh I see, but note there is no inherent reason to have that transformation only one way, since, as per our assumption, all the data is in the bibtex entry anyway (but in separate fields).

[2016-04-28 03:04] melTr commented on #1291
When I run integrity check on my database, it's full (more than hundred) "errors" about pages not in valid format. But they are ok, but it doesn't seems to be taken in account:
S52--S53 (in supplement)
e87160 (used in PlosOne and many electronic only journal)
CD000551 (Cochrane journal)
G305--G314 (some journals used that, never understand what it mean)

[2016-04-28 08:11] Siedlerchr commented on #1291
@melTr  Do you use Bibtex or Biblatex mode?

[2016-04-28 08:39] stefan-kolb opened #1312 "Update CONTRIBUTING localization information"
See https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md#when-adding-a-new-localizationlang-entry.
Should use the gradle task for now.

[2016-04-28 08:58] simonharrer commented on #1289
From code complexity, it does not really matter as removing them will not simplify the structure. I don't have a strong opinion of this.

[2016-04-28 09:12] simonharrer commented on #934
It is possible, but not the default option. Maybe we should change that.

Just select Groups -> Highlight groups ... in the menu.

[2016-04-28 09:18] #1295 closed

[2016-04-28 09:19] matthiasgeiger commented on #934
Related #932 ;-)

[2016-04-28 10:05] Siedlerchr commented on #1312
In my other PR  #1304   already changed the error/info text output of the consistency output to the new gradle task name.

[2016-04-28 10:09] koppor commented on #1312
@Siedlerchr Wrong PR referenced?

[2016-04-28 10:23] 2bein opened #1313 "Relative file links do not work anymore - Preferences are not saved"
JabRef version 3.3 on Windows 7 64 bit

Just updated from 3.2 to 3.3, but existing external file links (relative to bib-file) are not working anymore. Found out that in Preferences... File.. "Allow file links relative...." was not ticked anymore. But changing the tick box has no effect!? And when restarting Jabref, the tickbox is deactivated, so preferences are actually NOT SAVED!

Can anyone repr

[2016-04-28 10:52] Siedlerchr commented on #1312
@koppor  Oh, yers, I meant #1265

[2016-04-28 11:19] matthiasgeiger commented on #1313
Yes. This option seems not be saved correctly.

However, relative links are working for me (even without this option).

Please post an example BibTeX entry with further information where the bib-file and the referenced file is located.
Are there any messages in the different tabs of the Error Console (Help -> Show error console)?

[2016-04-28 13:31] GillesBernard opened #1314 "Custom entry field without name bug"
JabRef version 2.10b2 on Kubuntu 14.04

I have not been able to reproduce the bug, but as I found a way around it, I wanted to share it.

Having added a custom entry with three required fields and having tagged some Other entries with it, the Required Fields tab shows one field without any name above the three really required fields. The red flag on the left indicates the entry is incomplete. Ente

[2016-04-28 13:54] Siedlerchr commented on #1314
JabRef 2.x is no longer supported. I recommend trying again with JabRef v3.3 (requires Java 8)

[2016-04-28 14:14] melTr commented on #1291
Biblatex

[2016-04-28 15:23] dewulf opened #1315 "No "Customize entry types" under Options"
JabRef version 3.3 on Windows 7, Java 1.8.0_66-b18 64-bit

There disappeared the menu entry for Options –> Customize entry types

[2016-04-28 15:26] simonharrer commented on #1291
I think the constrains for the `pages` field was derived from the bibtex standard. Can you shed some light on it @stefan-kolb

I am unsure what to do here, should we lessen the constrains or are other constraints regarding biblatex to be used for `pages`?

[2016-04-28 15:27] simonharrer commented on #1315
Moved to "BibTeX" menu as it is about defining the types for bibtex.

[2016-04-28 15:27] #1315 closed

[2016-04-28 15:37] stefan-kolb commented on #1291
Pages constraints are from BibTeX

[2016-04-29 06:02] dewulf commented on #1315
Thanks. Maybe you should update the manual for this

[2016-04-29 06:19] koppor commented on #1315
Could  you point us to the concrete manual you are referring to?
Alternatively, could you submit a PR to help.jabref.org? :innocent:

[2016-04-29 06:47] dewulf commented on #1315
I've made a PR))

[2016-04-29 06:47] matthiasgeiger commented on #1315
:+1:

[2016-04-29 07:10] mlep opened #1320 "Groups: numbers of entries not displayed, but group name can be truncated."
JabRef-3.4dev--snapshot--2016-04-29--master--2575753.jar
java version "1.8.0_66"
Java(TM) SE Runtime Environment (build 1.8.0_66-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.66-b17, mixed mode)
Linux Mint LMDE2

Abstract: if "Show numbers of elements contains in each group" is not selected before group creation/modification, once selected, numbers of entries is not displayed, and name can be t

[2016-04-29 10:47] dbitouze opened #1321 "LaTeX commands in fields not displayed in the list of references"
JabRef version 3.3 on Linux (Mageia 5).

Steps to reproduce:

1. Create an entry, the `title` field of which containing a LaTeX command.
2. Look at the "title" column in the list of references: this LaTeX command is not displayed.

![jabref-title](https://cloud.githubusercontent.com/assets/1032633/14914155/278fb54a-0e08-11e6-8540-78ee50f5bf74.png)

[2016-04-29 11:53] oscargus commented on #1321
A (quite large) subset of LaTeX-commands are converted to Unicode, the rest is removed. One could consider returning them rather than removing them, but it is not obvious that it is a better idea in general.

[2016-04-29 11:54] oscargus commented on #1321
It is always possible to increase the list of available commands, but that particular one is asa far as I know not available as a Unicode character.

[2016-04-29 12:00] dbitouze commented on #1321
IMHO, returning them verbatim if not available as a Unicode character is not only a good idea, it is necessary.

[2016-04-29 12:03] oscargus commented on #1321
Could you give an actual example where it is necessary? (In your current, obviously toy, example, it would be better to return LaTeX.)

[2016-04-29 12:04] matthiasgeiger commented on #1321
I think @dbitouze has a point that returning the actual LaTeX command is the best idea if our conversion to Unicode for the UI fails - should not be too hard to implement :wink:

[2016-04-29 12:06] dbitouze commented on #1321
I don't know what are the available commands but I guess it is impossible to deal with all the [14032 LaTeX symbols available](http://mirrors.ctan.org/info/symbols/comprehensive/symbols-a4.pdf). Another problem is for chemical formulae (e.g. ` \ce{Sb2O3}` from [`mhchem` package](http://mirrors.ctan.org/macros/latex/contrib/mhchem/mhchem.pdf)).

[2016-04-29 12:09] oscargus commented on #1321
No, not hard to implement (a few if-statements), but better? `\textbf{}`? Is `\ce{Sb203}` better than `Sb203` (which I think the current result would be)?

[2016-04-29 12:10] dbitouze commented on #1321
Well, when your bibliography contains books about LaTeX, that's not only a toy ;) For the other examples,see my other comments (e.g. \ce{Sb2O3} from [`mhchem` package](http://mirrors.ctan.org/macros/latex/contrib/mhchem/mhchem.pdf)).

[2016-04-29 12:13] dbitouze commented on #1321
Indeed: good point!

[2016-04-29 12:33] matthiasgeiger commented on #1321
(Have still not looked in the code.)

So the logic should be that unknown commands without parameter (e.g, `\textbullet`, `\textSigma`, `\curlyyogh`) are not replaced - command withs params are stripped so that only the params are left?

[2016-04-29 12:57] dbitouze commented on #1321
Yes, except if the "parameter" is empty.

Indeed, commands without parameter gobble the following space: `\LaTeX is great` would be typeset as "LaTeXis great" by LaTeX. Hence such commands should protect the following space with either `{}` or `\ `: `\LaTeX{} is great` would be typeset as "LaTeX is great" by LaTeX. With the `{}` (widely used), these commands may be considered as commands with para

[2016-04-29 15:13] JohannesBuchner opened #1322 "Fetch arxiv preprint"
This is a easy bug.

BibTex contains sometimes indication for which arXiv ID is associated with it:

archivePrefix = "arXiv",
eprint = {1501.02805},

The fetcher should take these and follow them to arxiv.org (http://arxiv.org/abs/1501.02805) and download the pdf from there. LocalCopy did that, and offered to choose latest version or another version (I only was ever interested in the latest versio

[2016-04-29 15:18] vogler opened #1323 ""Look up full text document" shortcut; download all"
"Quality > Look up full text document" is great, but what if I want to do this for all entries?
It has no shortcut and it is not in the list of key bindings.
Also, if I have multiple entries selected, it only processes the first one.

Version 3.3

[2016-04-29 15:45] vogler opened #1324 ""Main file directory" should be relative to the bib file"
If I set "Preferences > File> Main file directory" to "lit", then the default "Link" after "Look up full text document" will be "/Applications/JabRef.app/Contents/java/app/lit/some.pdf" instead of "/path/to/bib/lit/some.pdf"

Version 3.3

[2016-04-29 17:42] Siedlerchr commented on #1323
I fully agree with you, that would be a great enhancement :+1:  .  Stumbled across this a couple of days ago, too.

[2016-04-29 18:03] tobiasdiez commented on #1320
I couldn't reproduce the truncation of the name "New group" but the number think should be fixed with #1326.

[2016-04-29 18:04] melTr commented on #1305
For me, it doesn't work. But I still have to try in Windows7 to compare. Will do it soon. Anyway, for now, my linux computer could autosolve this issue... ;-)

[2016-04-29 18:13] tobiasdiez opened #1327 "PDF cleanup changes order of linked pdfs"
As reported in https://github.com/JabRef/JabFox/issues/23:

[2016-04-29 19:03] #1271 closed

[2016-04-29 19:24] Siedlerchr commented on #1324
I can not really reproduce this in the current master: 1aa214510eee23cc586aad116780e4a875538e00
Please try again with v3.3 or the latest development snapshot from http://builds.jabref.org/master/

My settings are as follows:
 1.  Open bib databse e.g . `\JabRef\Data\myBibs\test.bib`
 2.  Set Main file directory to "lit"  (so the relative path is `myBibs\lit` )
 3.  **Check "Allow file links relati

[2016-04-29 20:22] vogler commented on #1324
Same settings, same behavior with the current snapshot.
Linking files works. The only problem is that the path-prefix in the "Look up full text document" dialog is set to wherever the jar-file is, instead of where the bib-file is. E.g. now it is "/Users/voglerr/Downloads/lit/foo.pdf" instead of "/Users/voglerr/paper/lit/foo.pdf".

[2016-04-29 20:47] Siedlerchr commented on #1324
@vogler  Ah yes. Now I understand what you mean.  You are referring to the Quality-> Lookup fulltext document dialog.
Yes, I  could reproduce  that behavior. I will look into that. I think I know where to look.

Could someone add bug label and assign it to me?

[2016-04-30 10:22] mlep commented on #1305
@stefan-kolb The issue I reported is now fixed in JabRef-3.4dev--snapshot--2016-04-29--master--694840a.jar  . Thank you!

[2016-04-30 10:28] mlep commented on #1271
Thanks! Fixed in JabRef-3.4dev--snapshot--2016-04-29--master--694840a.jar

[2016-04-30 11:29] lenhard commented on #1322
Refs #152 #430

@JohannesBuchner Since you consider this easy, could you please provide a pull request that implements an arxiv fetcher?

[2016-04-30 14:40] CarinaDSLR opened #1331 "JabRef 3.2 corrupts .bib files so they no longer work with LaTeX"
JabRef version 3.2 on Windows 7

Sorry If I'm doing this wrong, but thought this would be worth reporting.

I recently reset my laptop and installed the newest version of JabRef (3.2). I'm using it to manage my references for citing in LaTeX documents.
Long story short I installed the new JabRef and it started messing up my citations in LateX.
These are some of the error and warning messages I got

[2016-04-30 15:53] AEgit opened #1332 "Jabref performance issues (database: >6000 entries; >900 groups)"
JabRef version 3.3 on Windows 10

A relatively large database (>6000 entries) with several explicit groups (>900 groups) leads to major performance issues in Jabref. Adding another group and/or changing an existing group name and/or adding a new entry to a group takes several seconds (~35 s).

System:
- Core i7-4702MQ (4+4HT cores; 2.2 GHz)
- 16 GB RAM
- Samsung SSD 850 EVO (1 TB)
- Java 1.8.0_91

[2016-04-30 15:57] JohannesBuchner commented on #1322
I will have to decline :)

[2016-04-30 16:38] stefan-kolb commented on #1332
Thank you for your report :smile: !
That might be one for you @simonharrer @tobiasdiez :wink:

[2016-04-30 17:19] mlep commented on #1320
I have just tried with JabRef-3.4dev--snapshot--2016-04-30--master--6542348.jar .
No change (steps described above led to the same results)

[2016-04-30 19:34] AEgit commented on #1332
Maybe I should add, that I had this problem also with previous Jabref versions (even with Jabref 2.10), so it's not something, that has just recently been introduced in the code.

[2016-04-30 20:03] koppor commented on #1332
Quick idea: is counting of contained entries on or off?

[2016-04-30 20:07] AEgit commented on #1332
If you are referring to counting contained entries in groups:
It was on - I've deactivated it now, but there was no performance improvement.

[2016-05-01 09:47] simonharrer commented on #1322
Could be made part of the auto downloader?

[2016-05-01 09:48] simonharrer commented on #1332
@AEgit what kind of groups do you use? Search, keyword or contains-based groups? How deep is your group tree? Also, what operations are slow? What would be an acceptable time for you for these operations?

[2016-05-01 09:52] simonharrer commented on #1305
@melTr could you please also confirm that it is working so we can close this issue? Thank you. :)

[2016-05-01 10:07] AEgit commented on #1332
I'm only using static groups. The max. depth of my group tree is 17.
The following operations are slow:
1) Adding another static group
2) Assigning database entry to a new group
3) Changing a group name

Considering the specifications of my system (the complete database is loaded from a SSD!), these operations should be executed "immediately" or with a max. delay of 1 (maybe 2) sec. Definitely not

[2016-05-01 10:08] AEgit commented on #1332
Just to add: I have the same problem with Jabref under Ubuntu - so it's also not related to the operating system.

Thanks for all the comments so far!

[2016-05-01 10:14] simonharrer commented on #1332
Hm, static groups should be quite simple, as they do not issue any search queries. I will have a look.

[2016-05-01 10:18] anassal opened #1333 "Option to search in title only"
It would be useful, especially in large databases, to limit the search to "title only", rather than the whole of BibTex source. A checkbox beside "regex" and "case sensitive" buttons (in version 3.3) would be handy.

[2016-05-01 10:23] AEgit commented on #1332
Thank you very much! @simonharrer : I've sent you the .bibtex file, that is causing the mentioned problems.

[2016-05-01 10:25] simonharrer commented on #1333
You can type `title="asdf asdfa asdfa"` for a title only search - it does a contains check. Is this sufficient enough?

[2016-05-01 10:30] simonharrer commented on #1332
Cannot reproduce in current master with your example file - everything is really fast here. Can you please try http://builds.jabref.org/master/

[2016-05-01 10:39] AEgit commented on #1332
@simonharrer
Great! Indeed, with the current master everything runs smooth - the only issue I have is that number of contained entries is no longer displayed (but I guess this is due to the fact how groups are treated in Jabref 3.4).

Amazing and thanks a lot! When can we expect to see the new release of Jabref 3.4? This solves my problem so I would be glad to use the final version as quickly as p

[2016-05-01 11:09] anassal commented on #1333
Oh, yes! I just forgot about this feature. For me it's more than fine. Thanks!

[2016-05-01 11:09] #1333 closed

[2016-05-01 11:20] simonharrer commented on #1332
You can still display the number of contained entries per group using an option in the groups dialog, as far as I know.

The release is not yet determined, but feel free to use the current development build.

[2016-05-01 11:20] #1332 closed

[2016-05-01 11:23] AEgit commented on #1332
Hmmm, yes you can do that, but it will show "0" as the number of entries, i.e. it is no longer able to count the number of entries. Might be somehting to consider before the final release (?).

Anyway, thank you very much for the quick help!

[2016-05-01 11:29] simonharrer commented on #1332
Then this is a bug. Can you please report this separately? Thank you. :)

[2016-05-01 11:30] AEgit commented on #1332
Ok, I will ;)

[2016-05-01 11:36] AEgit opened #1334 "Bug in Jabref 3.4dev: "Number of elements contained in each group" always shown as "0""
JabRef version 3.4dev--snapshot--2016-05-01--master--212201a on Windows 10

Bug in current master branch of Jabref (this bug is not found in Jabref 3.3):

Steps to reproduce:

1. Create a new .bibtex file with a few entries and groups
2. Turn on: "Show number of elements contained in each group"
3. Every group in your database is shown to have 0 entries

[2016-05-01 11:52] simonharrer commented on #1334
This is only related to the static groups. The dynamic ones work fine.

[2016-05-01 11:53] AEgit commented on #1334
Ah, yes - I've just tested it for static groups.

[2016-05-01 14:33] AEgit commented on #1334
The following issue might be related to this:

"Highlight groups matching any selection" does not work. You can turn it on in the "Groups" menu, but the groups containing a certain entry are NOT highlighted. Again, this has only been tested for static groups.

[2016-05-01 18:27] Siedlerchr commented on #1294
@teertinker  Would you please test it with one of the current master snapshots? If all is okay, then we can close this. http://builds.jabref.org/master/
Code has been merged a few days ago.

[2016-05-02 06:01] thomaszumbrunn opened #1337 "corrupt BibTeXML export"
JabRef version 3.3
(the issue is still present in 3.4dev--snapshot--2016-05-01--master--71eca69)

Steps to reproduce:

1. Export a BibTeX file with "File > Export" to BibTeXML format.

An author field entry of the form

    Burri, Emanuel and Beglinger, Christoph and von Felten, Stefanie and Lehmann, Frank Serge

is exported to

    <bibtex:author>Burri&#44 and Emanuel and Beglinger&#44 and Christ

[2016-05-02 07:39] koppor commented on #1337
Nice to see that someone is using BibTeXML. We are discussing its future at #938. What is your usecase of BibTeXML?

I feel that the author field of BibTeXML is underspecified. Maybe the ideas of docbook (http://www.docbook.org/tdg/en/html/author.html) or biblatex, which [(as default) distinguishes between](http://mirror.unl.edu/ctan/macros/latex/exptl/biblatex/RELEASE) `prefix,family,suffix,given

[2016-05-02 07:41] teertinker commented on #1294
Checked with current master:
I am not able to open the "choose style" dialog anymore. The following exceptions seems to be raised:

[code]

[2016-05-02 07:52] domhardt opened #1338 "Feature request: Clickable crossref field."
Click on BibTeX-Key in crossref field should lead to parent. Parent should indicate existing children (BibTeX-Keys, also clickable).

[2016-05-02 07:54] Siedlerchr commented on #1294
Hm, I will check it again.  This is weird as I already took care of it in the PR.
This could happen when you selected an invalid style file (e.g. another file).
Could you please check the style file you have selected and maybe upload it here?

[2016-05-02 08:14] thomaszumbrunn commented on #1337
To me, the use of BibTeXML is not imperative. In the usecase at hand, I export a JabRef library to BibTeXML and process it with XSLT to generate XHTML. I'm happy with any other XML dialect.

[2016-05-02 08:16] domhardt opened #1339 "Feature request: format preview using BibLaTeX-files (*.bbx and *.cbx-files)"
Preview section should be able to render entry according to native BibLaTeX style.

[2016-05-02 08:24] koppor commented on #1339
Refs #119, because CitationStyles are easier to implement in comparison to Biblatex.

Refs #110, because our BibtexVM can be used to process `bst` styles. In the most cases, the old-fashioned `bst` styles are still the main styles to use. Examples: Springer LNCS (refs https://github.com/latextemplates/LNCS/issues/3), IEEE (refs https://github.com/josephwright/biblatex-ieee/pull/22#issuecomment-206

[2016-05-02 09:17] teertinker commented on #1294
I was not able to open the dialog to choose a style: Nothing happens after clicking on "Stil wählen" .

![image](https://cloud.githubusercontent.com/assets/8830305/14950828/fcb034fe-1054-11e6-9942-1090b2340641.png)

OK: The problem was my fault. I used the following jstyle file:
[campus_format english.txt](https://github.com/JabRef/jabref/files/244770/campus_format.english.txt)

with this file sto

[2016-05-02 09:18] AEgit commented on #1334
This problem might be related to this one (?):
https://github.com/JabRef/jabref/issues/1320

[2016-05-02 09:19] teertinker commented on #1294
This means: the features implemented work properly now! Thanks.

[2016-05-02 10:20] tschechlovdev commented on #1074
When I see it right, then it's a problem from Scopus. Because in the RIS File form scopus the journal title is in the field T2, which is the field for the "second title". In Sciencedirect it is the field JO, which stands for the journal title. In JabRef the T2 field is the field "booktitle", which is misleading. So what we could do is change the field to second title, instead of booktitle. But thi

[2016-05-02 10:29] Siedlerchr commented on #1294
@teertinker  Okay. I also added a check which prevents wrong style files from being saved. That should solve the problem with being not able to open the stye dialog. So please try selecting the "invalid/wrong" file in the style dialog. And have a look in the Error Log then, at one point there should  be a Log message about an invalid style

[2016-05-02 10:36] domhardt commented on #1339
Springer LNCS and IEEE seem to be available as BibLaTeX-Sytle too:
- [https://github.com/gvdgdo/biblatex-lncs](https://github.com/gvdgdo/biblatex-lncs)
- [https://www.ctan.org/pkg/biblatex-ieee?lang=de](https://www.ctan.org/pkg/biblatex-ieee?lang=de)
Only GI's LNI is available as old fashioned bst-style.

[2016-05-02 10:48] koppor commented on #1339
Not officially. The linked LNCS biblatex repo is not recent. There is a
fork, where I contribute. Regarding IEEE, the linked pull request states
that the style is NOT intended to be used at IEEEtran.cls.

I also like biblatex, but please understand that we are asking for pull
requests in this case and focus on other issues.

[2016-05-02 15:28] jkulesza opened #1340 "Edit -> Mark Specific Color Dysfunctional on OSX"
JabRef version 3.3 on OSX 10.11.4

Steps to reproduce:

With open database, go to Edit -> Mark Specific Color.  The colors do not show up (see screenshot below).  Note that right-clicking on an entry shows the colors appropriately.

<img width="563" alt="screen shot 2016-05-02 at 11 26 28 am" src="https://cloud.githubusercontent.com/assets/9939059/14958463/e8dc4a90-1058-11e6-88a8-36b40d23ca42.png"

[2016-05-02 15:32] jkulesza opened #1341 "Enhancement Request: Indicator for Broken File Links"
JabRef version 3.3 on OSX 10.11.4.

Installing version 3.3 and using global entry generators/cleanup/renaming, I seem to have fallen into a situation where some files were renamed with "--" in page-number indicators.  This lead to a break in the filename-entry relationship where now some file links are broken.  I don't think I did anything foolish as a user in the workflow to cause this, but I hes

[2016-05-02 15:40] jkulesza opened #1342 "Enhancement Request: Representative Change Case Entries"
Version/OS Agnostic.

Recommend changing the right-click, change case entries as follows:

1. Lower case -> lower case
2. Upper case -> UPPER CASE
3. Sentence case -> Sentence Case
4. Capitalize -> Capitalize (All First Letters)
5. Title Case -> Title Case (the Key Words)
6. Protect Terms -> Protect Terms

Hopefully these new entries will better communicate the effect of each (where upper case, ca

[2016-05-02 16:08] herrschaftsseitn commented on #1074
Yes, that äs basically true.
What I don't understand is the exakt definition of the RIS-file format, i.e. is the Scopus or the ScienceDirect mode of export correct. So does Wikipedia [1] state that J2 would be correct for the journal title; similar the documentation at Thomson Reuters [2]. And thet would say that Scopus is the correct way how to use it.
Since it is obvious that there exist differe

[2016-05-02 16:34] obraliar commented on #661
Stupro features team would like to take care about this issue for the 3rd sprint which just started.

[2016-05-02 18:55] simonharrer commented on #1340
@chochreiner could you have a look? On my windows machine everything works fine.

[2016-05-02 18:56] simonharrer commented on #1341
You can use the "Quality" -> "Integrity Check" function to check any broken file links.

[2016-05-02 18:59] jkulesza commented on #1341
@simonharrer I discovered that after submitting the ticket and hunting around further.  I didn't close the ticket because I thought there might still be value in an initialization check / passive report of broken links.

I really like using JabRef, but the recent upgrade to 3.3 and how the "clean-up" works has me concerned about breaking previously-created databases.

Now I feel like my workflow a

[2016-05-02 20:18] teertinker commented on #1294
I tried the master http://builds.jabref.org/master/JabRef-3.4dev--snapshot--2016-05-02--master--abb1f56.jar build at 13:41
the behavior remains the same with an incorrect style file:
- dialog to choose styles cannot be opened
- an exception is raised (as can be seen in the exceptions section of the console)
- the protocol section has no information about a wrong style file.

[2016-05-03 06:48] koppor commented on #871
Refs #968 (javafx) and #1298 (SWING). I think, it's solved.

[2016-05-03 06:48] #871 closed

[2016-05-03 07:07] Siedlerchr commented on #1294
I will look into that further. I think the only cased I probably missed is when reading the settings.

[2016-05-03 07:21] chochreiner commented on #1340
I can reproduce this bug with the current master - i may have a look at it at the end of this week

[2016-05-03 13:38] tobiasdiez opened #1345 "Cleanup ISSN"
The new ISSN integrity check found some ISSN missing the dash in my db, for example `0003486X` insead of `0003-486X`. It would be nice if we could provide a cleanup operation which automatically fixes such ISSNs.

@oscargus something for you?

[2016-05-03 13:48] tobiasdiez opened #1347 "Open URLs does not work"
JabRef version: dev on Windows 10
<Hint: If you use a [development version](http://builds.jabref.org/master/), ensure that you use the latest one.>

Steps to reproduce:

1. Create entry with url field `http://books.google.de/books?id=0yaM63MuqckC&lpg=PA153&ots=0H7EqpbM79&lr&hl=de&pg=PA153#v=onepage&q&f=false` simpler urls like `http://books.google.de` work as expected.
2. Click on the open button

[2016-05-03 15:10] melTr commented on #1305
Ok. Just found what was my problem. I played so much with my prefs between my win and linux system that I can't remember what was the original. But if I choose a path specific to win (C:\...article...) it works fine. I was just confused by this new behavior. Maybe the dialog should be change to be explicit to this error : No document found (instead of download fail)?

[2016-05-03 15:10] #1305 closed

[2016-05-03 15:16] tobiasdiez commented on #1188
What is the status of this issue? Can it be closed?
At least the unescaped `#` are now detected during integrity check, right @oscargus?

What else is missing?

[2016-05-03 15:17] stefan-kolb commented on #1347
Confirmed. Links are opned via explorer.exe which seems to have problems with the url.

[2016-05-03 15:21] stefan-kolb commented on #1347
See https://github.com/rauschma/openurl/issues/2
`cmd -c start` seems to be better for URLs.
@Siedlerchr Why did you move from cmd to explorer.exe? There was a reason as far as i remember!
cmd could not handle anything what explorer.exe could...

[2016-05-03 16:46] Siedlerchr commented on #1347
@stefan-kolb  Yes, cmd start did not work as expected.
It seems like the explorer has a problem with query strings.
You could try this one (2nd answer, omitting the explorer)
http://stackoverflow.com/questions/14585709/openning-a-url-containing-a-query-string

[code]

[2016-05-03 17:08] stefan-kolb commented on #1347
So we will try to quote the `filePath`String.
But do you remember the exact reason or edge case why you choose explorer.exe - just for the record.

[2016-05-04 12:04] wbmacleod commented on #1272
For what it is worth, I attach three python programs to remove braces from cites in bibtex file, directory tree where linked files live and in lyx.
[RemoveBraces.zip](https://github.com/JabRef/jabref/files/248674/RemoveBraces.zip)

[2016-05-04 12:04] #1272 closed

[2016-05-04 22:21] jkulesza opened #1351 "Inconsistent { } / Protected Term Behavior"
JabRef version 3.3 on OSX 10.11.4

Steps to reproduce:

1. Create new BibTeX database. Add Article entry with "A Library Based on {ENDF/B-VII.0} Using the {CPXSD} Methodology" for author/title/journal/year.  Generate bibkey.
2. Cleanup with settings in screenshot below.  Note that the title is preserved as it stands.
3. Save database.
5. **Quit** JabRef and re-open, open previous database.  Notice

[2016-05-05 10:24] bernhard-kleine commented on #1275
Am 22.04.2016 um 19:36 schrieb Tobias Diez:

Do you have found a solution and will it become available?
Regards Bernhard Kleine

--
spitzhalde9
79853 lenzkirch
bernhard.kleine@gmx.net
www.b-kleine.com, www.urseetal.net
-
thunderbird mit enigmail
GPG schlüssel: D5257409
fingerprint:
08 B7 F8 70 22 7A FC C1 15 49 CA A6 C7 6F A0 2E D5 25 74 09

[2016-05-05 11:27] vkoroteev opened #1353 "Update BbTex key key in Fetch dialog is not displayed"
JabRef version 3.3 and 3.4-master-2016-05-03 on Windows 10 x64 doen't update displayer BibTex key in DOI fetch dialog is not updated after clicking "Generate Now".

Steps to reproduce:
1. Open Jabref
2. Fetch Information by DOI
3. Press "Generate now" button to update BibTex key
4. Displayed BibTex Key should be updated to generated according to user preferences, but it's not. If the entry is save

[2016-05-05 16:37] anassal opened #1354 "Show assigned groups in custom entry preview"
JabRef version 3.3 on Windows 8.1

I enabled: _Highlight groups matching any selected entry_, but highlighting by underlying group names is not easy to see, plus there are matching groups not shown down a long tree of groups.

Therefore, it could be more convenient to show the matching groups in the entry preview. Is this possible?

[2016-05-05 19:02] Siedlerchr commented on #1353
I can not reproduce this in the current master 1023c50c7cfc293811761a01afa3211e4eb88672
As far as I know there have been no recent changes on it.
Did you check the BibTexKey Generator Settings if they are correct?

I tried is using the following DOI: `10.2753/mis0742-1222280402`:
 1. Fetch->DOI2BibTex
 2.
![jabreffetchdoi](https://cloud.githubusercontent.com/assets/320228/15053729/3592b8ee-1304-11

[2016-05-05 19:48] vkoroteev commented on #1353
I didn't notice that Bibtex key field. Please see red frames in attachments, the values there a a bit inconsistent.
Fetch

![untitled](https://cloud.githubusercontent.com/assets/7648791/15055035/c5816a62-130a-11e6-83af-78bb795b4fe3.png)

Generate now
![untitled1](https://cloud.githubusercontent.com/assets/7648791/15055103/11fdc34a-130b-11e6-8a11-09b6d575f3b5.png)

[2016-05-05 21:00] Siedlerchr commented on #1353
@vkoroteev  Thanks for the information and the screenshots. So it is actually that the rendered preview does not get updated. I just confirmed your problem.

[2016-05-05 21:05] vkoroteev commented on #1353
Hope this is easy to do :)

[2016-05-05 21:33] Siedlerchr commented on #1353
@vkoroteev  I just created a PR for this. 2 lines of code. Just a missing call to update the preview panel after generating the key.

[2016-05-06 06:58] tobiasdiez opened #1356 "Add HTML to Unicode formatter"
Add HTML to Unicode formatter in cleanup / save actions.

@oscargus Something for you?

[2016-05-06 10:39] 2bein commented on #1313
Sorry for the delay...
Relative links are working, I agree. Errors console shows no erros. So I think we agree there is a bug with option saving and hope this will be solved in next version.
(Another bug is more serious for us - I will add a new ticket: Sorting of entries is always after YEAR, despite setting in database properties is "save entries in their original order")

[2016-05-06 10:40] 2bein opened #1357 "Save sort order"
#JabRef version 3.3 on Windows 7 64 bit

The option "Save entries in their original order" in database properties does not apply. When saving the database, all entries are re-sorted by the field "YEAR"! It worked in 3.2!

[2016-05-06 15:59] obraliar commented on #970
It would be nice if the new EventSystem would get merged in, so I could use the existing event bus and its event objects.

[2016-05-06 22:13] tobiasdiez opened #1359 "Collect usage statistics"
Automatically (and of course anonymously) collect usage statistics, for example about:
- changed preferences (to determine better default values)
- number of open databases, size of db, ...
- used functionality (to extract main use cases)

Maybe also occasionally ask questions about the way users use JabRef and/or what they want (a lite version of the recent survey).

Of course, the should have to

[2016-05-07 00:31] donovaly commented on #783
This link is dead.

[2016-05-07 09:43] stefan-kolb commented on #783
@donovaly This has been merged already. You can try out the new final version 3.3.

[2016-05-07 12:31] donovaly commented on #783
I tested now the installer of JabRef 3.3. I requested:

"- if the user has admin permissions, the installer should propose to install for all users of the PC (with an option to install only for the current user)
- if the user has no admin permissions, the installer must install only for the current user"

We now have
"- if the user has admin permissions, the installer should propose to install for

[2016-05-07 12:52] stefan-kolb commented on #783
I had this inplemented in a previous commit, but we decided to keep it simple for now. Dunno what the others think @simonharrer

[2016-05-07 16:24] donovaly opened #1362 "impossible to recognize JabRef in the Windows registry"
Since years i bundle JabRef as default BibTeX editor with the program LyX. Now I want to bundle JabRef 3.3 but failed for the following reason:

If JabRef was installed only for the current user I can no longer check if it is still installed. For JabRef 2.x I could simply look in the registry under
"HKEY_CURRENT_USER\Software\JabRef" "Path"
and then check if the jabref.exe exists in this path.

No

[2016-05-07 17:23] mlep opened #1363 "Rename INSPIRE into INSPIRE-HEP"
It seems that the official name for the INSPIRE bibliographic database is in fact INSPIRE-HEP.
Hence, in the web search, it should be renamed.

- https://en.wikipedia.org/wiki/INSPIRE-HEP
- https://inspirehep.net

[2016-05-08 01:15] donovaly opened #1364 "wrong default installation directory for non-admin installations"
If JabRef 3.3 is installed on Windows only for the current user (without admin privileges) the default installation folder proposed by JabRef is
C:\Users\<username>\JabRef
this is incorrect, according to the Windows guidelines it must be
C:\Users\<username>\AppData\Local\JabRef

All other programs I know respect this default installation folder for current users.

[2016-05-08 10:59] Siedlerchr commented on #1363
Against it. Since on the website it is also called INSPIRE without HEP.
Despite that, in the help files it is also mentioned that the search is for the specific physics system.
I do not see a need for renaming it. I am sure most users don't care if its just INSPIRE or INSPIRE HEP
https://inspirehep.net/info/general/project/index

On FAQ:  INSPIRE
https://inspirehep.net/info/faq/general

[2016-05-08 14:05] #1347 closed

[2016-05-08 16:00] leosenko opened #1365 "JabRef 3.x default bibtex changed"
JabRef version <3.3> on <Windows 7.>
There is an inconsistency with the version 2.x of JabRef where the default bibtext key was [auth][year]. It seems to have been changed to [authors3][year] which is undesirable. Further, If I change the new format back to the proper format [auth][year] I get the following nonsense (I do not speak Indonesian, the language should be English as set) - what does tha

[2016-05-08 16:54] Siedlerchr commented on #1365
I can only reproduce the  authors3, year when I click on the Default button. Changing back to auth, year works fine.

The error message states that you have changed the language settings:
Anda_telah_mengganti_pengaturan_bahasa. =  You_have_changed_the_language_setting.

[2016-05-09 07:57] simonharrer commented on #1359
We could leverage Google Analytics for this which allows to send arbitrary events to the cloud for analysis.

[2016-05-09 08:23] stefan-kolb commented on #661
This would free users from downloading from our affiliate sites. How much income do we potentially lose with this?

[2016-05-09 08:32] koppor commented on #661
The income numbers are confidential, because of company regulations.

[2016-05-09 09:14] tobiasdiez commented on #1359
In this case, we may use https://github.com/siddii/jgoogleanalytics or some related project.

[2016-05-09 10:19] Siedlerchr commented on #1359
As an alternative we could use Piwik:
https://github.com/piwik/piwik-java-tracker
It can be self-hosted and would be a bit more user-privacy-friendly

[2016-05-09 10:41] jkulesza commented on #1351
Can a developer please weigh in on whether this is expected behavior?

[2016-05-09 11:01] tobiasdiez commented on #1351
I can't reproduce the problem with the latest developer build available under http://builds.jabref.org/master/. On save `"A Library Based on {ENDF/B-VII.0} Using the {CPXSD} Methodology` gets written to the bib file and is correctly read if I open the file again.

(Your last step 5 is expected behavior.)

[2016-05-09 11:57] leilou13 opened #1366 "Cannot view the custom entry type"
Hi everyone,
I need some help as i would like to add my own entry type to jabref. I followed the instruction and made the layout file. However, after i add everything, i cannot see it as an option when i add a new entry.

Am i doing something wrong??

[2016-05-09 12:16] simonharrer commented on #1359
I do not like this self-hosted stuff, as it draws developer resources away from the more important things - improving JabRef :)

[2016-05-09 12:42] stefan-kolb commented on #1364
Are you sure this shouldn't go to `APPDATA\Roaming` so the user profile data gets synched when in a Domain? Could you provide links where this best practice is specified?

[2016-05-09 12:54] stefan-kolb commented on #1364
We can discuss this in this context:https://msdn.microsoft.com/en-us/windows/uwp/app-settings/store-and-retrieve-app-data

[2016-05-09 13:04] stefan-kolb commented on #1365
Thank you for your report :+1:
However, I cannot reproduce this behavior on the current `master`. Can you please try the latest build from http://builds.jabref.org/master.

Also, maybe resetting the preferences before changing it again might solve this issue? It could be that some old settings are interfering here.

As for authors3 BibTeX key: I will ask the other developers why this was changed a

[2016-05-09 13:11] stefan-kolb commented on #1354
Thank you for your report :smile:
We will consider adding this feature in later versions of JabRef, however, we cannot yet give you an estimation when we will find the time. What about contributing by yourself? See https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md if you are interested. We are always looking for new developers!

[2016-05-09 13:12] #969 closed

[2016-05-09 13:18] #1312 closed

[2016-05-09 13:21] stefan-kolb commented on #1242
@JabRef/developers Can you reproduce this? @performance team @simonharrer @tobiasdiez WDYT?

[2016-05-09 13:24] #1302 closed

[2016-05-09 13:24] stefan-kolb commented on #1094
Close this for now? We got significantly better on the major points didn't we?

[2016-05-09 13:26] stefan-kolb commented on #960
Also see #1331 Maybe this even is an issue?

[2016-05-09 13:27] simonharrer commented on #1094
There is still room for improvement. But as far as I know it is good enough at the moment.

[2016-05-09 13:27] #1094 closed

[2016-05-09 13:40] jkulesza commented on #1351
@tobiasdiez Thanks for taking a look at this!  Indeed, when I save the file with {CPXSD} in the title using 3.4dev, and re-open, the {}s have disappeared.  I do not have any save actions enabled.

See attached minimum database.

Looking at it with a text editor, I see {CPXSD} but when I load it in 3.4dev, I see CPXSD as shown below.

<img width="845" alt="screen shot 2016-05-09 at 9 40 22 am" src=

[2016-05-09 13:53] tschechlovdev commented on #1063
Medline Plain is a subset of nbib. So every field of Medline Plain is also a field of nbib. But not every nbib field is in the Medline Plain format. I will prepare a PR, where I add the fields to the Medline Plain Importer.
After that I will take care of Medline and nbib.

[2016-05-09 14:05] simonharrer commented on #1351
Very strange, I cannot reproduce on my machine either using the latest master build.

[2016-05-09 14:08] simonharrer commented on #1351
Could you post your settings? Options -> Preferences -> Export preferences

[2016-05-09 14:16] matthiasgeiger commented on #1242
Yes, I also noticed this behavior. I'm not sure whether this is actually a performance issue or whether this is caused by some strange Swing configuration for this scrollpane.

[2016-05-09 14:19] matthiasgeiger commented on #1366
Can you please tell us which version of JabRef you are using and to which instructions you refer to?

Thanks!

[2016-05-09 14:19] jkulesza commented on #1351
Please see attached, as exported from 3.4dev.
[jkulesza_settings.prefs.zip](https://github.com/JabRef/jabref/files/255157/jkulesza_settings.prefs.zip)

[2016-05-09 14:28] simonharrer commented on #1351
Can confirm this is a preferences issue.

1. Load your prefs
2. Load your file
3. Title shows the false version (but Bibtex source shows the correct one still)
4. save it, and the thing from the title is saved on the disk

The issue is "Store the following fields with braces around capital letters: "title"" This is somehow broken. If you remove this setting, the title field will be loaded correctl

[2016-05-09 14:33] jkulesza commented on #1351
Excellent, thanks for the quick diagnostics, can confirm that fixed it.

Should I leave this issue open to track the broken preference behavior?

[2016-05-09 14:52] #1327 closed

[2016-05-09 14:52] simonharrer commented on #1327
@tobiasdiez can you please verify that this solves the issue completely, especially in conjunction with JabFox?

[2016-05-09 15:01] simonharrer commented on #1351
I am kind of in favor of deleting this function as it performs too much magic and does not work correctly. It is also somewhat replaced with save actions, as they can handle the escaping with brakets as well. @JabRef/developers what do you think?

Advantages
- parsing a bib file is getting simpler
- on load, we just use the contents of the field
- on save, we can add brakets around capital letters

[2016-05-09 15:06] simonharrer commented on #1293
@koppor maybe something for the stupro as some of them have linux systems?

[2016-05-09 15:23] simonharrer commented on #1251
Cannot reproduce on current master - here the rename works as expected but I use the default preferences. Can you provide a minimal example (.bib file and the pdf) and your preferences (options - preferences - export preferences)?

[2016-05-09 15:25] simonharrer commented on #556
@sfrankhtwk can you have a look, please? Otherwise this issue will be closed in the next few days.

[2016-05-09 15:37] simonharrer commented on #1145
Seems to be a bug on Linux of this specific look and feel. I am unsure whether we can really solve this without giving up the toggle feature and creating platform specific code. I would suggest that we ignore this.

[2016-05-09 15:40] simonharrer commented on #1257
I think we should bring the JabRef preferences and the labelPattern preferences together, and on the way solve this issue as well.

[2016-05-09 19:22] tobiasdiez commented on #1351
:+1: for removing this preference option.

[2016-05-09 20:43] simonharrer commented on #1313
Since 3.3: "Removed configuration option to use database file directory as base directory for attached files and make it default instead"

It was just not removed from the UI, but the logic underneath was optimized and simplified. I will remove the UI option so this will not confuse users further.

[2016-05-09 21:27] simonharrer commented on #1313
Okay, the facts:

- There are two check boxes at Options - Preferences - File: "Allow file links relative to the bib-files location" (A) and "Use the bib file location as the primary file directory" (B)
- The option A has been removed from the preferences in 8825dd7270faf4ec05dbaa09a5d5cb1f3296a33e, hence, it cannot be saved anymore, but the check box is still there
- Checkbox B is only activated

[2016-05-09 23:43] donovaly commented on #1364
Sure ;-)
The default installation folder for local users is available via teh %LOCALAPPDATA% variable.
It points you automatically to
 	%USERPROFILE%\AppData\Local
reference:
https://blogs.msdn.microsoft.com/patricka/2010/03/18/where-should-i-store-my-data-and-configuration-files-if-i-target-multiple-os-versions/

[2016-05-10 05:11] koppor commented on #1365
Half of the users use the default pattern `[auth][year]`, while the other half uses something else or doesn't care: http://www.jabref.org/surveys/2015/analysis -> "The default key pattern is ok, but the use of another pattern is common"

In my field of research it is common to know the second and the third author, too. Therefore, I personally always changed the default to `[authorsAlpha][year]`.

[2016-05-10 07:10] #1313 closed

[2016-05-10 08:04] stefan-kolb commented on #1364
Why not use the Roaming folder to keep JabRef synchronized for users inside domains?

[2016-05-10 08:18] stefan-kolb commented on #742
Can you try to reset your preferences on Ubuntu and check if this solves the issue. As I cannot reproduce it here it may be related to some preference problems.

[2016-05-10 08:23] stefan-kolb commented on #1145
Is this also on OpenJDK and GTK L&F? Maybe we can close this then.

[2016-05-10 08:28] stefan-kolb commented on #1340
Closed by #1344

[2016-05-10 08:29] #1340 closed

[2016-05-10 08:46] simonharrer commented on #1365
I am against asking the user when resetting the preferences!

Either we leave it at authors3, or change it back to author.

[2016-05-10 08:51] #1145 closed

[2016-05-10 09:53] simonharrer commented on #1357
Did you try the most recent development build? Is is reproducible there?

Could you provide an example bib file, along with your preferences?

[2016-05-10 11:17] simonharrer commented on #1237
Did a restart help? This seems to be related to the biblatex entry editor, which shows the wrong fields in the required tab for the entry type.

Could you perhaps provide screenshots to describe your issue in more detail? Maybe also the .bib file you used?

[2016-05-10 11:22] simonharrer commented on #1179
Downsides
- as the package of the preferences would change, all old preferences would be lost (maybe something for a major break, e.g., 4.0?)
- grammar (search, bst) must be changed and regenerated
- files could go missing as changing the package requires to change the folder structure

[2016-05-10 11:26] simonharrer commented on #934
Implemented, see #1122

[2016-05-10 11:26] #934 closed

[2016-05-10 11:30] simonharrer commented on #1122
Ah, I think mistook it as a duplicate of #934, but I now think this was wrong.

Steps to reproduce this issue
1. add an entry to a group
2. groups window does not show membership (is not being updated)

[2016-05-10 11:32] #431 closed

[2016-05-10 11:35] simonharrer commented on #490
Function could also be added to the entry editor.

[2016-05-10 11:37] simonharrer commented on #552
No really important.

[2016-05-10 11:37] #552 closed

[2016-05-10 11:41] #625 closed

[2016-05-10 11:43] simonharrer commented on #738
I think this is enough.

[2016-05-10 11:43] #738 closed

[2016-05-10 11:47] simonharrer commented on #696
We could use the `barcode` icon from the https://materialdesignicons.com/

[2016-05-10 11:53] simonharrer commented on #921
We have the `scripts/remove-git-markers-in-localization-files.rb` which can automatically remove any git markers in the property files. This may solve this issue. It requires ruby to execute.

[2016-05-10 11:53] #921 closed

[2016-05-10 11:56] stefan-kolb commented on #696
Yeah thats cool!

[2016-05-10 11:56] stefan-kolb commented on #1362
@donovaly I implemented your request in #1370. Can you please try a version from http://builds.jabref.org/win-install

[2016-05-10 11:57] simonharrer commented on #1099
Integrity check makes no sense, as the user is warned before from other parts of the system.

[2016-05-10 11:57] #1099 closed

[2016-05-10 11:58] simonharrer commented on #696
@matthiasgeiger is the icon already included in the current icon font we use?

[2016-05-10 12:02] stefan-kolb commented on #482
Should be done when creating a fresh new Icon design. Or we can just use the normal Jabref icon for now?

[2016-05-10 12:03] simonharrer commented on #482
It should not be the field of the app itself, as this may be confusing.

[2016-05-10 12:04] matthiasgeiger commented on #696
Yes. Codepoint should be `F071`.

[2016-05-10 13:09] matthiasgeiger commented on #1331
Thanks for your report!

This should not happen - however, the excerpt shown in the first screenshot is correct and should not cause any trouble.

Can you please try the most recent version 3.3.
If the problem persists with this version it would be great if you can upload the corrupt bib file here - or send it me privately for further investigation.

Thanks!

[2016-05-10 13:59] stefan-kolb opened #1371 "Add Jabref to app stores"
- [x] Windows: Chocolatey (https://chocolatey.org/packages/JabRef)
 - [ ] Windows: App Store - see https://dzone.com/articles/java-developers-can-finally-target-windows-uwp
 - [x] Mac App Store - impossible http://alvinalexander.com/mac-os-x/mac-app-store-java-apps-supported-deprecated
 - [ ] Ubuntu - see https://github.com/JabRef/jabref/issues/3121
 - [x] Arch Linux: https://aur.archlinux.org/pac

[2016-05-10 14:05] tobiasdiez commented on #1371
Chocolatey: https://chocolatey.org/packages/JabRef (version 3.2)

[2016-05-10 14:06] simonharrer commented on #1371
- Ubuntu store https://shop.canonical.com/index.php?cPath=19

[2016-05-10 14:10] simonharrer commented on #661
Ask github API whether newer version exists
Menu option: Help - Check for update
During startup: check and if newer display this somehow

[2016-05-10 14:14] matthiasgeiger commented on #661
Important for usability: Checkbox: "Do not notify for this update again" or sth like this.

[2016-05-10 14:18] simonharrer commented on #556
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-05-10 14:18] #556 closed

[2016-05-10 14:21] simonharrer commented on #698
Configuration and corresponding clean up action is currently too far away. Putting it on hold.

[2016-05-10 14:21] #698 closed

[2016-05-10 14:38] simonharrer commented on #1363
Rejected during dev call.

[2016-05-10 14:38] #1363 closed

[2016-05-10 14:44] #1365 closed

[2016-05-10 14:47] simonharrer commented on #1342
This was supported in a previous JabRef version, but was changed to have standardized names due to  the save actions

[2016-05-10 14:50] koppor commented on #1188
What are the two first lines of the bib file? Could it be that the encoding information is wrong there?

[2016-05-10 15:03] jkulesza commented on #1342
In that case, will the right-click menu be disappearing from the interface?  I like the idea of consistency applied through save actions / clean-up.  However, if a user is interactively using the feature when entering text in a box, it would seem better to have context immediately provided.

[2016-05-10 15:46] simonharrer opened #1372 "Make it more obvious if grouping is active and what options"
When searching, it is obvious through red or green background of the search box whether the search is active. Something similar should happen when grouping is active.

[2016-05-10 15:51] simonharrer commented on #1342
We add a tooltip with the description what the formatter does when hovering over the action in the right-click menu. This should suffice. :)

[2016-05-10 16:06] donovaly commented on #1364
Because Roaming is for installations for all users on a PC. A local installation (only for the current user) cannot be synced with others - that's the concept of the local installation.

[2016-05-10 18:24] leilou13 commented on #1366
Hi! i use the latest version 3.3 for windows

[2016-05-10 18:25] leilou13 commented on #1366
i am referring to the "manage custom export" layout file. There is also part of the script that add a custom entry type for the publications that are imported

[2016-05-10 18:56] jkulesza commented on #1342
A tooltip would be great, thanks!

[2016-05-10 22:06] donovaly commented on #1364
Done. This does not solve the problem because it tries now to install in the same folder where the installer was started from. So when I execute the installer from C:\Test it proposes C:\Test\JabRef as install folder.
So this bug is not fixed. Please reopen this bug report.

[2016-05-10 22:09] donovaly commented on #1362
Done.
Works perfect! Many thanks.

[2016-05-10 22:24] #1362 closed

[2016-05-11 07:00] tobiasdiez commented on #1366
You can add entry types under BibTeX -> Customize entry types. The types you add there appear under BibTeX -> New Entry.
The layout file for exports is only required if you want to write to a new file format, say a customized HTML export.

Does this solves your problem?

[2016-05-11 07:31] #1364 closed

[2016-05-11 07:32] stefan-kolb commented on #1364
Thanks for pointing this out :+1:
I incidentally used the wrong method to retrieve the environment variable :blush:
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2016-05-11 07:45] #696 closed

[2016-05-11 10:36] gh-mike opened #1381 "JabRef 3.3 file links containing blanks are broken if non-default viewer is set"
JabRef version 3.3 on Windows 10. After upgrading from version 3.1 all the file links containing blanks are broken when using Sumatra PDF. When trying to open a pdf file containing blanks, the pdf reader consider each piece of the file name as an independent file (each piece meaning each non-blank piece). This worked fine in 3.1. Tried to place quotes around the file name without success.

Steps t

[2016-05-11 11:08] matthiasgeiger commented on #1381
Thanks for your report!

Confirmed if a PDF viewer is set manually in the "Manage external file type" dialog (not only sumatra but also other PDF viewers).

System default works with whitespace in the file names.

[2016-05-11 11:40] 2bein commented on #1357
Sorry I'm too busy at the moment and installed back to 3.2...

I only can say that the database properies UI is buggy: If you do a  change in any field (in our case we changed the standard file path) the sort order of the primary criteria is applied (standard = "abstract") although we have activated "sort by original order" (its not YEAR as I claimed false before).

I have no capacity for more fee

[2016-05-11 12:58] Siedlerchr commented on #1381
Seems to be a problem with the settings than, because I worked on a fix for this in the opening methods.
Will look into that.

[2016-05-11 13:17] tobiasdiez commented on #882
I would remove all the tabs and just have one list for all messages. The different kinds of messages can then be differentiated via color or icons. This would also make debugging easier since debug messages are logged before and after the corresponding exception.

Two further remarks:
- add button to toggle debug mode on/off
- add button to copy log messages (necessary?)

[2016-05-11 18:28] benni0815 commented on #1357
@simonharrer Please try the attached bib file:
[code]
[test.bib.txt](https://github.com/JabRef/jabref/files/259866/test.bib.txt)

When I open it in JabRef, open the file properties dialog and click OK without changing anything and then save the file, the order of the entries is reversed.
Besides that the following line is added to the file:
`@Comment{jabref-meta: saveOrderConfig:original;abstract;

[2016-05-11 20:27] tobiasdiez commented on #1173
"Create new groups from keywords" is a static one-time thing. Changes to the specified keyword field are not reflected in new groups. This is more or less by design.

We will implement a mechanism to automatically create "groups" based on keywords, which then also stay in sync with the keyword values. So right now for me it is interesting what you exactly tried to accomplish, i.e. for which keywor

[2016-05-11 20:31] tobiasdiez commented on #839
I think this is not that important right now.

[2016-05-11 20:57] tobiasdiez commented on #1337
@koppor Something for the @JabRef/stupro ?

[2016-05-11 21:11] tobiasdiez commented on #1237
I can't reproduce the issue in the current master build. For me, "journaltitle" is displayed in the entry editor in BibLaTeX mode.

[2016-05-11 21:26] tobiasdiez commented on #365
The BibDatabaseWriter contains the following comment

            // entry, as well. Our criterion is that all non-standard
            // types (*not* all customized standard types) must be written.
The code explicitly checks if the type is a standard type and in this case does not write the type.
So this behavior seems to be "by design".

If this check is removed then one probably runs into a lo

[2016-05-11 21:56] donovaly commented on #1364
Done. Many thanks! The bug is now correctly fixed. So from my point of view all install issues are solved. I am looking forward for JabRef 3.4 to use its installer.

[2016-05-12 01:04] melTr commented on #1237
Hi,
First screenshot is an original bibtex database
![selection_098](https://cloud.githubusercontent.com/assets/1063951/15201026/911e90ce-17ba-11e6-86a9-f63265b33c1b.png)
After I run "Entry cleaning" with default behavior (specially "Convert to biblatex...)
After screenshot, I now have journal and year field empty. For sure, journaltitle and date are correctly filled, but they are not displayed in

[2016-05-12 05:00] koppor commented on #1357
change in any field (in our case we changed the standard file path) the
sort order of the primary criteria is applied (standard = "abstract")
although we have activated "sort by original order" (its not YEAR as I
claimed false before).

Same here.

[2016-05-12 12:07] bartsch-dev commented on #796
This can now be closed!

[2016-05-12 12:11] stefan-kolb commented on #1357
@2bein @benni0815
This should be fixed in current `sort-order`. Please try the latest build from http://builds.jabref.org/sort-order.

[2016-05-12 12:14] matthiasgeiger commented on #796
Thx!

[2016-05-12 12:14] #796 closed

[2016-05-12 12:36] stefan-kolb commented on #1381
Thank you for your report :+1:
This should be fixed in `blank-file-links`. Please try the latest build from http://builds.jabref.org/blank-file-links.

[2016-05-12 12:44] matthiasgeiger commented on #1381
:+1: works for me.

[2016-05-12 12:58] stefan-kolb commented on #1353
@Siedlerchr This one can be closed now?!

[2016-05-12 13:07] stefan-kolb commented on #742
@hellbourne Can you try to reset your preferences on Ubuntu and check if this solves the issue. As I cannot reproduce it here it may be related to some preference problems.

[2016-05-12 13:14] hellbourne commented on #742
@stefan-kolb, I am terribly sorry! I have only now noticed that you'd requested this "reset preferences" check 28 days ago. I tried this now and it works!

Actually we still don't know what the problem was, but at least it is no longer there.

Thank you so much!

Hellbourne

[2016-05-12 13:15] stefan-kolb commented on #742
Can you please upload the preferences here, so we can investigate?

[2016-05-12 13:15] stefan-kolb commented on #742
@hellbourne Can you please upload the preferences here, so we can investigate?

[2016-05-12 13:17] hellbourne commented on #742
Well, now I only have the "good" ones, but here they are:

`<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="user">
    <map/>
    <node name="net">
      <map/>
      <node name="sf">
        <map/>
        <node name="jabref">
          <map>
            <entry key

[2016-05-12 13:19] benni0815 commented on #1357
Looks very good, order stays the same now. Thanks a lot!

[2016-05-12 13:21] stefan-kolb commented on #742
Hm, ok so we need to close this for now...

[2016-05-12 13:21] #742 closed

[2016-05-12 13:23] #1357 closed

[2016-05-12 13:23] #1381 closed

[2016-05-12 13:53] stefan-kolb commented on #1177
We need designs for #655 #482

[2016-05-12 14:08] mlep commented on #1177
@koppor could you get in touch with the potential contributor to this issue? (my email on April 17)

[2016-05-12 14:29] simonharrer commented on #1177
And the designs must be flat :)

[2016-05-12 15:03] #655 closed

[2016-05-12 15:13] simonharrer commented on #1049
Cannot be reproduced with debugging - debugging seems to solve this issue. Maybe it has something to do with the focus.

[2016-05-12 15:44] Siedlerchr commented on #1353
@vkoroteev This fix has been included int he master, so it should be included in the most recent snapshot: http://builds.jabref.org/master/

@stefan-kolb  Yes.

[2016-05-12 15:45] #1353 closed

[2016-05-12 18:51] icamps opened #1392 "<< entry not opening >>"
JabRef versions: 2.11, 3.3 32bits, 3.3 64bits, 3.4dev--snapshot--2016-05-12--master--bab82ab
Windows 10, 64bits
Java 1.8.0_91 (32&64 bits)

Hello,

After loading the bib file without complain, when clicking twice over any entry, the entry is not "opened" or expanded as in previous versions (2.9).

Regards,

Camps

[2016-05-12 20:02] tobiasdiez commented on #959
All the points are already fixed in the latest master version.

[2016-05-12 20:02] #959 closed

[2016-05-13 01:00] ajbelle commented on #1188
@koppor if your question is to me I always have JabRef UTF-8 and try ensuring the input file is UTF-8 (except when trying to figure out what is wrong).

The first line in my files is: `% Encoding: UTF-8`

The garbage content posted is a function of importing from many sources (including content obviously from pdf OCR) and are not necessarily a single translation fault. They simply list of the sort

[2016-05-13 01:00] #1188 closed

[2016-05-13 08:23] matthiasgeiger commented on #1049
I don't have a clue and I was not able to track it down by now... Has been introduced between release 3.2. and 3.3...

I'll try to find the problematic commit later...

[2016-05-13 09:00] boceckts opened #1394 "New personal journal list can't be created"
A new personal journal list can't be created in the journal abbreviations dialog.
JabRef 3.4dev
mac os x 10.11.1 x86_64
Java 1.8.0_77

Steps to reproduce:

1. Click the "Manage journal abbreviations" menu item in the "Options" menu
2. In the journal abbreviations dialog make sure the "New file" checkbox is selected and choose a new path and file name
3. Click the "+" Button and add a test entry
4.

[2016-05-13 09:03] simonharrer commented on #1394
Also the UI does not look that nice on OSX with the white and gray background changing in between.

[2016-05-13 09:04] Siedlerchr commented on #1394
Thanks for your report. I will try to reproduce it on other systems as well.
Could you please check if the Error Log contains further information?

2016-05-13 11:00 GMT+02:00 Tobias Boceck <notifications@github.com>:

[2016-05-13 09:06] boceckts commented on #1394
@Siedlerchr I just checked, there is no output on the error console regarding this issue.

[2016-05-13 09:40] juanerasmoe opened #1395 "Exporting to MS Office 2007 XML fails"
JabRef version 3.2 on Ubuntu 15.04

Steps to reproduce:
1. Select any bib entry
2. Select "File > Export selected entries"
3. Choose "MS Office 2007 (.xml)" in the Filter section, enter a file name and click OK
4. JabRef will reply with a "Could not save file. Stream closed" message

The console shows the following
`java.io.IOException: Stream closed
	at net.sf.jabref.exporter.MSBibExportFormat.pe

[2016-05-13 09:56] boceckts opened #1396 "Journal abbreviations dialog mock up for JavaFX port"
I want to port the journal abbreviations dialog to JavaFX. When playing with the dialog I first I didn't understand what everything meant. It was quite confusing why there were 3 sections - JabRef internal list, personal list, external list. Why can I only have one personal list? Why can't I edit the external lists? Why do I need different windows to view external lists or JabRef internal list? Wh

[2016-05-13 09:57] boceckts commented on #1394
@simonharrer any suggestions to the ui of the dialog can also be discussed at #1396

[2016-05-13 10:26] Siedlerchr commented on #1394
@boceckts Coud you please upload the test file you used, too?

[2016-05-13 10:44] Siedlerchr commented on #1294
@teertinker The fix just got merged and will be avaiable in one of  the next snapshots build on master.

[2016-05-13 10:52] #1294 closed

[2016-05-13 11:40] boceckts commented on #1394
As the steps show I`m trying to create a new file rather than using a existing one. So there is no test file I used. Or did I miss understand what the "new file" checkbox does?

[2016-05-13 15:35] Siedlerchr commented on #1394
Confirmed on Win. Will prepare a fix PR.

[2016-05-13 16:24] Siedlerchr commented on #1392
Thanks for your report.
Just to get sure we mean the same: You are referring to double clicking on an entry in the "Main Table"?
Do you get any errors/(information in the log?
Does selecting an entry and then clicking "Edit entry" in the toolbar works?

I can't reproduce this.  Please check this with a new test-bib file with a few entries.

[2016-05-13 16:41] Siedlerchr commented on #1394
Can be closed

[2016-05-13 18:01] icamps commented on #1392
@Siedlerchr
* You are referring to double clicking on an entry in the "Main Table"? YES
* Does selecting an entry and then clicking "Edit entry" in the toolbar works? Half. It create the entry in the "Main Table", but I can not edit it.
* Do you get any errors/(information in the log? Where are the logs? I look in the Jabref folder and in the bib folder.

Here are two bib files with different numb

[2016-05-13 19:00] lc9275 opened #1399 "export to html: html code is not well-formed"
JabRef 3.4dev--snapshot--2016-05-13--master--f28466e
windows 7 6.1 amd64

Steps to reproduce:

1. Take any bib file, and press export to html
2. Open the html in a texteditor, there will be no < / body > or < / htm l>

Also a custom export I have been using seems to suffer (as if the end.layout is not used).

Thanks in advance for looking into it!

[2016-05-13 19:04] #1394 closed

[2016-05-13 22:03] tianlema opened #1400 "JabRef 3.3 on windows 10 cannot call texstudio.exe to push entries"
JabRef 3.3 on Windows 10

Steps to reproduce:
1. Ctrl-L: Push entries to external application (TexStudio)

Error: cannot call the executable C:\Program Files\TexStudio\texstudio**\**.exe

The executable file should be C:\Program Files\TexStudio\texstudio.exe
But JabRef 3.3 added a slash "\" before ".exe", which I believe caused the problem.
Reinstall JabRef 3.2, it works fine.

[2016-05-14 10:11] stefan-kolb commented on #1395
Thank you for your report :+1:
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2016-05-14 10:11] stefan-kolb commented on #1395
Thank you for your report :+1:
However, I cannot reproduce this behavior on the current `master`. Can you please try the latest build from http://builds.jabref.org/master.

[2016-05-14 10:14] stefan-kolb commented on #1399
Thank you for your report :+1:
What do you expect?
Can you give a minimal example of your problem? I tried it with the the current `master` and exported 2 entries and couldn't see what's missing.

[2016-05-14 10:18] stefan-kolb commented on #1400
Thank you for your report :smile:
I can reproduce the behavior and we will work on a fix for this issue. Stay tuned.

[2016-05-14 10:33] #1400 closed

[2016-05-14 10:33] stefan-kolb commented on #1400
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2016-05-14 11:02] matthiasgeiger commented on #1400
@stefan-kolb CHANGELOG 😉

[2016-05-14 11:20] Yery commented on #1399
thanks for your reply! I see now that the html codes did not show up in my original message (should have checked sorry). Basically, to clarify < / body > and < / html  >  are not there (without the spaces). The last line is < / div> - and for the custom export I have also other stuff that is part of end.layout and is not there.

[2016-05-14 11:25] lc9275 commented on #1399
thanks for your reply! I see now that the html codes did not show up in my original message (should have checked sorry). Basically, to clarify < / body > and < / html > are not there (without the spaces). The last line is < / div> - and for the custom export I have also other stuff that is part of end.layout and is not there.

[2016-05-14 12:14] stefan-kolb commented on #1399
Ah ok, so all the entries are there but HTML code is missing!

[2016-05-14 12:26] stefan-kolb commented on #1399
[code]

[2016-05-14 12:54] stefan-kolb commented on #1399
Problem is here:
[code]
encoding == null

[2016-05-14 12:55] stefan-kolb commented on #1399
@JabRef/developers Does anyone have experience with these formatters?

[2016-05-14 14:03] leilou13 commented on #1366
yes it does!! All good and working now :)
Thanks a lot guys!

[2016-05-14 14:48] tianlema commented on #1400
Great! I am amazed by how quickly an issue could be fixed. Thank you for your great work!

[2016-05-14 17:37] #1366 closed

[2016-05-16 16:08] stefan-kolb commented on #1293
This might be caused by some preference settings. Could you please export your settings and reset the the defaults afterwards? If this solves your issue please upload your exported preferences for further investigation!

[2016-05-16 16:20] tb77phd opened #1402 "Synchronize file links default folder look-up"
JabRef version 3.3 on Windows 10.

When I want to find broken links (e.g., if I have moved a PDF from one folder to another), I click on "Synchronize file links..." under the Quality menu and then check the "Check existing file links" box. In addition, I choose "Do not automatically set" file links. After this, a dialog pops up titled "Broken link", and I can now choose "Assign new file".

When I

[2016-05-16 16:39] #993 closed

[2016-05-16 16:39] stefan-kolb commented on #993
@koppor Can you please try if this resolves your issue?

[2016-05-16 17:09] stefan-kolb commented on #1402
Thank you for your report :smile:
I can reproduce the behavior and we will work on a fix for this issue.
I can both set the default file directory and the last location. I tend to favor the last location over the file directory, as sometimes it might be not the best guess if someone tries to link files from other folders.

[2016-05-16 17:20] #1402 closed

[2016-05-16 17:21] stefan-kolb commented on #1402
Behavior now is:
If linked file is present goto file dir.
If linked file is not present goto last working directory.
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2016-05-17 08:06] ziggystar opened #1404 "No visual feedback for pasting when having a filtered view"
JabRef version 3.3

Steps to reproduce:
1. Apply a filter by typing something into the search box.
2. Copy a bibtex entry (`[Ctrl-C]`) that you want to insert into your database (and that doesn't match the filter).
3. Paste the new entry via `[Ctrl-V]`.
4. Do it again because you receive no feedback that it worked.
5. Repeat step 4 some more times.
6. Clear the filter rule and see that you have in

[2016-05-17 08:26] matthiasgeiger commented on #1404
Thanks for your report!

I can reproduce this behavior and I'm also not happy with it. :wink: (Although, there is a note in the status bar "Pasted 1 entry" - but it is rather easy to miss.)

In my opinion your last suggestion is the best one: Just show a "warning" that the pasted entry is hidden by the filter - with an option to remove the filter.

[2016-05-17 13:13] tb77phd opened #1406 "Journal autocompletion"
JabRef version 3.3 (and JabRef_windows-x64_3_4dev--snapshot--2016-05-17) on Windows 10.

I use autocompletion frequently for authors and also for journals. My issue is this: while for authors, autocompletion autocompletes from authors I already have entries for, this is not the case for journals. Instead, journal autocompletion seems to use a master list of journals with (probably) a huge amount o

[2016-05-17 13:17] stefan-kolb commented on #1406
Thank you for your report :smile:
We are currently reworking the autocompletion and will consider your request.

[2016-05-17 13:24] juniorcaemj opened #1407 "Problem removing group with long names"
JabRef version 3.2 on Windows 10

User Interface Problem

If a group with a long name been removed, the JOptionPane box is created too large, vanishing "Yes" and "No" buttons.

Steps to reproduce:
1. Create a group with a long name
2. Try remove group

![1](https://cloud.githubusercontent.com/assets/17187418/15323642/6ec92f58-1c19-11e6-863d-e982b50b2b90.jpg)
![2](https://cloud.githubusercontent.co

[2016-05-17 13:30] matthiasgeiger commented on #1407
Thanks for your report.

If this is a real problem for you, simply delete the group just hit "enter" as "Yes" is preselected.

However, this seems to be only a theoretical problem, so we might fix this in a later version but first concentrate on other more important aspects.

[2016-05-17 13:39] juniorcaemj commented on #1407
Hello @matthiasgeiger, I report this problem because it's a work (especifically UI Tests) for a Software Testing course, and we utilize JabRef as a case study. So I found interesting report it to the community.

[2016-05-17 13:43] simonharrer commented on #1407
Thanks for the info. We welcome that JabRef is used in testing case studies. :+1:

What would be the expect solution? Truncate the group name after a specific number of letters?

We also have UI tests in place at https://github.com/JabRef/jabref/tree/master/src/integrationTest/java/net/sf/jabref/gui - you could also have a look there. They are only the tip of the iceberg, and need further improvem

[2016-05-17 13:47] matthiasgeiger commented on #1407
Nice to hear, that JabRef is used in a practical Software Testing course. :+1:

Hopefully not only as a bad example :wink:  We already know that the test coverage of our code should be improved, and we are already working on it. But especially on the field of UI testing there are only a few tests present - as Simon just mentioned.

If you are implementing practical, executable tests in your course

[2016-05-17 14:02] juniorcaemj commented on #1407
@simonharrer I thinking in this solution too, limit the size of group name, doesn't make any sense a group with a very very long name..

@matthiasgeiger I will read the documentation and submit my tests (and maybe a solution), as soon as I can.

[2016-05-17 17:48] #1399 closed

[2016-05-17 19:29] stefan-kolb commented on #1127
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-05-17 19:29] #1127 closed

[2016-05-18 10:17] koppor commented on #993
Yes, it does. Thank you for the fix! :+1:

[2016-05-18 10:19] koppor commented on #993
If I press `CTRL+w`, then JabRef first closes the database and then displays: "Error: More than one entry found". Edit and Revert don't seem to have any effect. JabRef does not ask for saving.

New issue?

[2016-05-18 10:22] stefan-kolb commented on #993
yeah.

[2016-05-18 11:18] boceckts commented on #1396
@JabRef/developers some feedback would be appreciated.

[2016-05-18 15:11] lenhard opened #1408 "Positioning of variables in GUIGlobals"
I am currently doing some architecture analysis of JabRef and stumbled into some part of the code that I'd like to discuss.

We have the infamous class `GUIGlobals` in which several settings are hard-coded as public static instance variables. I noticed that some of these variables are only used in a single other class, thereby creating a dependency of that class to the gui package (which is very u

[2016-05-18 16:30] teertinker commented on #1293
I did reset to default. The same behavior still exists.

    On Monday, May 16, 2016 6:08 PM, Stefan Kolb <notifications@github.com> wrote:

 This might be caused by some preference settings. Could you please export your settings and reset the the defaults afterwards? If this solves your issue please upload your exported preferences for further investigation!—
You are receiving this because you au

[2016-05-18 18:02] tobiasdiez commented on #1408
:+1: for removing GUIGlobals.

[2016-05-18 18:16] tobiasdiez commented on #1396
I really like the idea to unify the ui for all abbreviation lists, so I prefer the first mockup.
What I don't like are the buttons on the right side. In my opinion, these should be integrated into the list.

Some suggestions:
- I would replace the first list with a drop-down list so that it is clear which journal list the user is currently editing
- Switch order of Save and Cancel button, because

[2016-05-18 18:55] #1334 closed

[2016-05-18 19:01] Siedlerchr commented on #1408
Yes, I fully agree with removing Globals. Maybe you can also check for obsolete  Settings/Variables.

[2016-05-18 19:03] Siedlerchr commented on #1396
The mockup of @tobiasdiez  looks nice. One thing we should think about is wether we allow editing the Abbrevation direct in the Table or open it in a new window.

[2016-05-18 20:23] simonharrer commented on #1408
Also think about whether they still make sense. Why do we need a line_length in that case anyway?

[2016-05-19 06:37] lenhard commented on #1408
Ok, will do. @simonharrer: Honestly, I have no clue. But it is sometimes hard to decide if something still makes sense or not.

[2016-05-19 07:40] koppor commented on #1408
I would not refactor just because ofa metrics value getting better.

Half of the values (such as `INDENT`, `NUMBER_COL_LENGTH`, `EXPORT_DIALOG_COL_0_WIDTH`) look like configuration variables. We had the feedback that one main value of JabRef is the plethora of configuration options. I don't know whether these values also fall in that category or whether we should reduce the configuration options.

[2016-05-19 07:53] lenhard commented on #1408
@koppor: The thing is, all this stuff is not a configuration option, but a constant. The values are hard-coded and the variables themselves get eliminated and inlined during compilation. There is no position in the code that modifies their value and very often there is only a single line of code that reads their value. This applies to `GUIGlobals.LINE_LENGTH`, which is only read in `LatexFieldForm

[2016-05-19 07:53] matthiasgeiger commented on #1408
@koppor ? :wink:

[2016-05-19 07:55] koppor commented on #1396
I also like the mockup of @tobiasdiez. The "view" button of @boceckts means "show source"? Maybe we could link the GitHub repo for the internal list. The others are just plain text imported files.

In this context, I want to remind of the important feature request https://sourceforge.net/p/jabref/feature-requests/731/.

[2016-05-19 08:00] simonharrer commented on #1408
@koppor has a point there. Whether it is a hard coded or dynamically loaded configuration option makes no difference when creating a class to configure the GUI. As long as the configuration options are still used they should reside in a single place, same as JabRefPreferences, so they can be made dynamically configurable if necessary later on. Otherwise, they will be scattered all over the app thr

[2016-05-19 08:09] lenhard commented on #1408
@simonharrer: Maybe this should be decided on a case by case basis. Please have a look at #1409 and tell me if you feel that a certain variable is important enough to warrant a global scope.

[2016-05-19 08:34] simonharrer commented on #1408
This is really hard to review. Next time, please inline each variable in a separate commit so one can see its usages separately.

OK:

- BACKUP_EXTENSION
- FRAME_TITLE
- EXPORT/IMPORT_DIALOG_*
- NUMBER_COL_LENGTH
- TABLE_ROW_PADDING

NOT OK

- Colors: I would leave the colors there, as they have the potential to be made a config options and be used by multiple classes
- Same holds for the variable

[2016-05-19 08:54] lenhard commented on #1408
Oh come on, seriously? On another occasion, I have been told (by @koppor I think) that I should squash all commits of a PR into a *single* commit instead of a series of commits. I am at a loss, now what is our policy?

Concerning the remarks: Will do!

[2016-05-19 09:09] matthiasgeiger commented on #1408
Single commits for [WIP] which will then be squashed (using the GitHub-Squash-Button-Feature)?

[2016-05-19 09:10] stefan-kolb commented on #1337
Isn't this an author parser problem?

[2016-05-19 09:13] koppor commented on #1408
Meanwhile, I learned that squashing is (mostly) obsolete, because GitHub
can squash and also offer reviewing all changes at once... 😇

Nevertheless, directly related commits (fixup, var renaming, ...) not
having a value being separated for reviewing should be squashed :innocent:

[2016-05-19 09:15] stefan-kolb commented on #1322
Thank you for your report :+1:
This should be already present in version v3.3. See #1023.

[2016-05-19 09:15] #1322 closed

[2016-05-19 09:18] stefan-kolb commented on #1267
Whats the current status for this issue?

[2016-05-19 09:23] lenhard commented on #1408
Ok, thanks for clarifying this! I turn back to making commits as atomic as possible (keeping things like the renaming or moving of a variable in one commit of course)

[2016-05-19 09:28] stefan-kolb commented on #1288
Should be a focus thing inside `JabRefGUI.java` near line 108.

[2016-05-19 09:34] stefan-kolb commented on #1080
Whats the current status here?

[2016-05-19 09:45] stefan-kolb commented on #1000
@simonharrer Can this be done now?

[2016-05-19 09:46] stefan-kolb commented on #973
So what can we do about this?

[2016-05-19 09:48] simonharrer commented on #973
What about just exporting the doi in the doi tag additionally? I do not see any downside.

[2016-05-19 09:48] stefan-kolb commented on #932
Is this fixed?

[2016-05-19 09:50] #171 closed

[2016-05-19 09:50] #1122 closed

[2016-05-19 09:54] tobiasdiez commented on #932
No, but it is really easy to do in the GroupTreeCellRenderer.

[2016-05-19 09:56] matthiasgeiger commented on #973
Well, the resulting file would be schema invalid regarding the ECMA-376 standard... But as Word (in the English version) seems to produce such "invalid" files this should not cause much trouble.

[2016-05-19 09:56] simonharrer commented on #1000
With the event API, it should be possible.

[2016-05-19 11:41] stefan-kolb commented on #777
@JabRef/developers Anyone has an opinion on this?

[2016-05-19 11:43] stefan-kolb commented on #662
We wanted to have an option to show PDF comments inside JabRef (implemented by Stupro), but not in that case that it gets written to the DB?!

[2016-05-19 11:43] #973 closed

[2016-05-19 11:50] stefan-kolb commented on #480
I don't like the idea because we first need to rework and redefinde the special fields in my opinion. Therefore, voting to close this issue for now.

[2016-05-19 11:51] lenhard commented on #1080
@stefan-kolb This is waiting for confirmation from @Siedlerchr

[2016-05-19 11:53] stefan-kolb commented on #419
@simonharrer Didn't you remove this auto initialization logic? So we can close this now?

[2016-05-19 12:00] matthiasgeiger commented on #661
Example from TexStudio:
![auto-update](https://cloud.githubusercontent.com/assets/676652/15392834/ea729a98-1dc9-11e6-8c1e-99fb76a53f22.png)

@obraliar Any news on this topic?

[2016-05-19 12:37] Siedlerchr commented on #1080
If you have tested it and it works then it's okay for me.
Otherwise I will look at it by tomorrow.

[2016-05-19 12:38] simonharrer commented on #419
Yes, but I think we need to update the FAQ so that save actions should be used. @mlep could you help out here?

[2016-05-19 13:12] lenhard commented on #1080
It is indeed working for me, but an additional check by someone else never hurts :) It is sufficient to check if there are no more encoding related test failures in your windows command line on current master.

[2016-05-19 13:14] simonharrer opened #1412 "Save action protect terms protects unecessarily"
JabRef version JabRef 3.4dev--snapshot--2016-05-19--master--ed638e2
windows 10 10.0 amd64 Java 1.8.0_92

Steps to reproduce:

1. `title = {{BPEL}}`
2. enable `protect terms` for `title`
3. `title = {{{BP}EL}}`

Expected: `title = {{BPEL}}`

[2016-05-19 13:33] simonharrer opened #1413 "Groups -> Settings -> Select Matches seems to do nothing"
I vote to remove this feature, as it is not explained in the help, and I have no clue what it does, and I can see no effect whatsoever. @tobiasdiez can you help here?

[2016-05-19 13:38] simonharrer commented on #1303
Next semester the library of University of Bamberg, Germany, will also provide a tutorial on scientific writing with JabRef. We hopefully can publish the material of this course as a tutorial on jabref.org

[2016-05-19 13:43] stefan-kolb opened #1414 "Cleanup entries dialog should remember last selection"
It is tedious to always deselect some default checkboxes.

[2016-05-19 13:46] stefan-kolb opened #1415 "Add a save action that renames PDF"
If anything that is included inside the pattern has changed, i.e., bibtexkey or title.

[2016-05-19 13:48] stefan-kolb opened #1416 "Filename format pattern is unintuitive"
Is hard to understand and no help is provided. Needs to be simplified so users can change the pattern.

`\bibtexkey\begin{title} - \format[RemoveBrackets]{\title}\end{title}`

Why not `\bibtexkey - \format[RemoveBrackets]{\title}`

It was also hard to find the preference under import. I assumed it to be somewhere inside the file preferences.

[2016-05-19 13:55] stefan-kolb opened #1417 "Rename Auto button to Get Fulltext"
It's hard to understand what `auto`and `download` does.
I think it doesn't really matter for a user that something is performed automatically, but that the outcome is to get the fulltext and save it to the local storage.
Also applies to all other automatically set file links actions that also perform a download.
Additionally all actions must be unified (some don't download)!

[2016-05-19 14:00] simonharrer commented on #1416
This format is also used for the entry preview. This may be the reason why as it contains so many selectors for bibentry data.

[2016-05-19 14:00] stefan-kolb opened #1418 "Should we remove the possibility to sort the file links?"
![image](https://cloud.githubusercontent.com/assets/2141507/15396010/75658e52-1dda-11e6-8d41-7f67dc44546e.png)

Should we remove the possibility to sort the file links? What does this function really do? It just has influences on the opening of files when clicking on the icons in the main table when multiple files are linked?!

![image](https://cloud.githubusercontent.com/assets/2141507/15396038/9

[2016-05-19 14:03] simonharrer opened #1419 "Save actions are saved in a single line at the moment."
JabRef 3.4dev--snapshot--2016-05-19--master--ed638e2
windows 10 10.0 amd64
Java 1.8.0_92

Save actions are saved in a single line at the moment.

[code]

Expected:

[code]

[2016-05-19 14:04] tobiasdiez commented on #1413
No, I have no idea what the effect of this option is...

[2016-05-19 14:05] tobiasdiez commented on #1415
Since this is possible via a cleanup action, https://github.com/JabRef/jabref/issues/878 covers this request as well.

[2016-05-19 14:05] #1415 closed

[2016-05-19 14:06] stefan-kolb commented on #1323
Good enhancement indeed! Although we need a completely new workflow for it.
My suggestion:

Easy:
- progress bar downloading all stuff in the background, auto renaming and linking files, just a message dialog how many files could be linked.

Downsides: A lot of wrong downloads could be there.

Advanced:
- Big window like `merge dialog`
- On the left list of all entries (key, author, title)
- On th

[2016-05-19 14:07] tobiasdiez commented on #1418
Sounds reasonable. :+1: for removing sorting and changing the right/left click behaviour

[2016-05-19 14:10] simonharrer commented on #1418
I am against this, as one normally has a primary file plus some secondary ones. I want to work quickly with the primary one 99% of the time. This would make the 99% case more problematic, and the 1% case more easily.

[2016-05-19 14:19] stefan-kolb opened #1420 "Auto downloader should respect file pattern and propose correct filename"
Currently it just renames to `\bibtexkey`

[2016-05-19 14:21] stefan-kolb opened #1421 "Auto downloader should try to retrieve DOI if not present and fetch afterwards"
Results are much better when DOI is present.
- [x] I'm not 100 % sure if we should always try to retrieve missing DOI first, as there might be false positives.__trying to fetch via title is not any better, so we do it if DOI is missing__
- [x] I'm also not 100% sure if we should write the DOI inside the field afterwards or just use it internally for fetching. __Do not write DOI for now, maybe some

[2016-05-19 15:20] stefan-kolb opened #1424 "Improve DOI auto retrieval"
Compare with original entry title:
- [x] remove latex and compare a-z0-9
- [x] remove stuff and use a edit distance threshold
- [ ] distinguish between missing words at the end (inaccurate data) and different words at the start or in between
- [ ] Does not remove braces like, e.g., `Enhancing {BPMN} 2.0~{S}upport for Service Interaction Patterns`
- [ ] LaTeX command may fail the algorithm, e.g., `

[2016-05-19 15:21] simonharrer opened #1425 "Performance Improvements Groups tree"
Follow up of #1385 so that we only release when this problem is fixed

[2016-05-19 16:12] mlep commented on #1418
I second @simonharrer  for keeping this feature, for the exact same reasons.

[2016-05-19 16:15] stefan-kolb commented on #1418
I can understand your reasons here. Maybe keeping the order still makes sense.

But what about the other thing? Making left click behave like rightklick for multiple documents?
Makes it clearer that there are multiple docs that can be opened. Still it would add one more click...

[2016-05-19 16:17] mlep commented on #1413
Here are some clues:
<https://sourceforge.net/p/jabref/mailman/message/1369311/>
<https://sourceforge.net/p/jabref/discussion/318825/thread/c3e6c71f/>
It seems to be not working for a very long time...

[2016-05-19 16:34] mlep commented on #1418
I am used (JabRef, Thunderbird, LibreOffice, etc.) that a left-click does an action directly (select/open/etc.), while a right-click displays a list of (menu) items. So the current behavior seems to be the standard behavior.

Maybe the issue here is about the graphic design: the icon should look more like an button, so that users know instinctively that this part of the entry table is "special" (i

[2016-05-19 17:54] wilthan commented on #1424
Also,
when I look up a DOI and then click into another tab, the DOI is gone when I go back to the general-tab. ( in 3.3)

[2016-05-19 18:30] obraliar commented on #661
Due to decision problems we switched to other topic in this sprint. Full steam ahead now we are working on shared-database support. Should we implement only a checker (see https://github.com/JabRef/jabref/issues/984) without updating the software?
If this is clear, we are going to implement this quickly in the next sprint which starts on 5th June.

[2016-05-19 19:20] matthiasgeiger commented on #661
Allright - no problem ;-)

Before implementing a solution it would be great if you can evaluate which possibilities install4j provides for updating a program.

[2016-05-19 19:23] matthiasgeiger commented on #1424
@wilthan I think has alread been solved (as this should be related to #1234) - you can use a development build from http://builds.jabref.org/master/ which should work correctly.

[2016-05-19 20:26] simonharrer commented on #1413
Ah ok. But still, this feature should be removed as it does not make too much sense to me.

[2016-05-19 20:28] simonharrer commented on #1418
@stefan-kolb still, the 99% case is to open the primary document as quickly as possible using a left click. Having a right-click which opens the different documents would seem ok to me.

[2016-05-19 20:47] #1418 closed

[2016-05-19 20:49] mlep commented on #1413
Sounds reasonable! ;-)

[2016-05-19 20:51] tobiasdiez commented on #1413
So this is something like the `incremental search`, which in my opinion makes absolutely no sense for groups.

[2016-05-19 20:56] #1413 closed

[2016-05-19 21:11] tobiasdiez opened #1428 "Remember group expansion status"
Same requests:
- https://sourceforge.net/p/jabref/feature-requests/712/
- https://sourceforge.net/p/jabref/feature-requests/856/
- https://sourceforge.net/p/jabref/feature-requests/521/

Is hard to implement at the moment since listening to expand/collapse event is not easy. -> Has to wait for JavaFX.

[2016-05-19 22:56] wilthan opened #1430 "Repoducible bug in "review changes""
JabRef version 3.3 and also in
JabRef 3.4dev--snapshot--2016-05-19--master--ed638e2
windows 7 6.1 amd64
Java 1.8.0_66

When multiple users (in the test case: 2) work on the same file which is located on a network drive.

Steps to reproduce:
1	(Pc1) open database	      (Pc2) open database
2	(Pc1) create test
3	(Pc1) save
4		                      (Pc2) review changes
5		                      (Pc2) a

[2016-05-19 23:27] wilthan commented on #1424
Thx - it is indeed.
I checked the 3.4 dev and there it's fixed already.

[2016-05-20 08:01] stefan-kolb commented on #1430
Thanks for your report :+1:
We are working on improving multi-user support. Stay tuned.

[2016-05-20 08:16] stefan-kolb opened #1431 "Importer open dialog improvements"
![image](https://cloud.githubusercontent.com/assets/2141507/15421447/9e12e31a-1e73-11e6-950c-0037dc4708c0.png)

The open dialog of the importer `import into...(new | current) db` needs several improvements:
- [ ] the file type selection must filter the view based on suppported types
- [ ] the file type selection should display supported file endings for each type, e.g., medline|Pubmed? (*.nbib, ..

[2016-05-20 08:32] koppor commented on #1430
Refs #970.

[2016-05-20 09:05] stefan-kolb commented on #1421
Only do this when doi quality logic is implemented and match accuracy is near 100 %.

[2016-05-20 09:26] tobiasdiez commented on #1431
Some of the backend code required for this improvement is available with https://github.com/JabRef/jabref/pull/1207.

[2016-05-20 09:29] koppor opened #1432 "Translation for JabRef 3.4"
@JabRef/translators @oscargus

Many changes have been done to the JabRef code in the past weeks. This will lead to the release of JabRef version 3.4 around May 28. So it is time for the translators team to tidy up the localizations in our respective language.

The files are in this directory: <https://github.com/JabRef/jabref/tree/master/src/main/resources/l10n>
If you have any issue with the loca

[2016-05-20 09:41] #1417 closed

[2016-05-20 09:46] stefan-kolb commented on #1412
The formatter itself passes this test!

[2016-05-20 16:11] Siedlerchr commented on #1431
Regarding file filters, I recently added the code for this in the BrowseAction.
Have a look at this commit: #1304
The whole code for file opening will be finally reworked in #1336 (Atm I don't have time for that)

[2016-05-20 16:16] Siedlerchr commented on #661
I would vote for just adding a dialog like in TexStudio.
Regarding install4j, it should also be evaluated how it support building msi packages for easier rollout on Windows environments and how to handle updates.  A  typical scenario is to automatically deploy software to Windows PCs in the network.

[2016-05-20 16:17] Siedlerchr commented on #1080
@lenhard  Will check the current master now.

[2016-05-20 16:23] #1342 closed

[2016-05-20 16:37] Siedlerchr commented on #1080
@lenhard  :+1:
There is one thing more, that is the BibDatabaseWriterTest, it always failed for me in roundtrip
The problem is, the complex.bib uses a UNIX Line ending (\n), while on windows it should be \r\n.
The StringWriter and the BibTexWriter uses Globals.Newline, which is on windows \r\n.

This is not a big problem for me.

[2016-05-20 17:55] koppor commented on #661
Implement it like Simon and Matthias said:
 - https://github.com/JabRef/jabref/issues/661#issuecomment-218168994
 - https://github.com/JabRef/jabref/issues/661#issuecomment-218170361

I think, @mairdl can do it.

[2016-05-21 11:11] simonharrer commented on #1080
Closing this as the fix is conformed twice.

[2016-05-21 11:11] #1080 closed

[2016-05-21 16:15] AEgit commented on #1425
I would like to follow up on this: From master build 3.4 (18-05-2016) to 3.4 (20-05-2016) the performance decreased substantially for large databases (>6000 entries; >900 groups). Now, editing an entry/and or saving it takes a couple of seconds (beforehands it was nearly instantaneous): see also https://github.com/JabRef/jabref/issues/1332

Is there a way for me to get the old binary 3.4 (18-05-20

[2016-05-21 17:09] AEgit commented on #1425
Nevermind - found an older build.

The problem, however - of course - persists for the new version.

[2016-05-21 17:17] AEgit opened #1434 "Static groups from 3.3 converted to dynamic ones in 3.4dev"
JabRef version 3.4dev--snapshot--2016-05-18--master--f4270a6 on Windows 10
(same issue is also found in JabRef version 3.4dev--snapshot--2016-05-18--master--2bd4c4a)

It seems that static groups of the current stable branch of JabRef 3.3 are converted to dynamic ones, in the new developer version 3.4

Steps to reproduce:

1. Open a Jabref database from the current stable release (3.3)
2. Previous

[2016-05-22 08:49] simonharrer commented on #1425
Yes, we are aware of this issue. This currently blocks the 3.4 release.

[2016-05-22 13:17] envhyf opened #1436 "Downloading full texts for the whole database in JabRef v3.3"
JabRef version <3.3> on < Windows 10 >

Using JabRef v3.3, I can easily search the scientific papaer on the internet in save it into bibtex database. But when I try to download the full text for the whole database, I met some trouble.

By searching the Internet, I have been told than the LocalCopy as an external program as thethe full text downloader should be installed in the plugin ->Manage Plug

[2016-05-22 13:21] envhyf commented on #1323
I have the same issue. Is there any alternative methods to achieve that?(I mean downloading full text for all the entries I selected)

[2016-05-22 20:09] stefan-kolb commented on #1323
Not right now, but we are working on it :+1:

[2016-05-23 06:36] matthiasgeiger commented on #1436
Thanks for your report!
Plugins are no longer supported since version 3.0 - so you can't use the LocalCopy Plugin anymore.

As you already noticed the part regarding automated download for a whole database is a duplicate of #1323 - hence I close this issue here.

[2016-05-23 06:36] #1436 closed

[2016-05-23 11:49] #1412 closed

[2016-05-23 11:53] simonharrer commented on #1291
Are there any Biblatex specifications for the pages field?

[2016-05-23 12:02] mlep commented on #1291
In the doc of the biblatex package (http://mirrors.ircam.fr/pub/CTAN/macros/latex/contrib/biblatex/doc/biblatex.pdf), the definition of the field "pages" reads (on page 21):
[code]

So, it is of type "range" and a range is defined (on page 14):
[code]

[2016-05-23 12:09] simonharrer commented on #1291
But it is left open what is the right and left side of a range field, isn't it?

[2016-05-23 12:32] tobiasdiez commented on #1291
Yeah it is not really specified. According to https://github.com/plk/biber/blob/d4c27bab2acc2fa2d209cc982bdf6a619ff55f52/t/utils.t#L142 even unicode representations of roman page numbers are supported. Also multiple page ranges like `1--14, 20--30` are valid (I think, JabRef might complain here).
The following code handles all the range fields in biber: https://github.com/plk/biber/blob/ed9f87b599

[2016-05-23 12:33] simonharrer opened #1439 "Sorting changes between fields bibtex <-> biblatex mode"
JabRef 3.4dev--snapshot--2016-05-23--master--4aa51a3
windows 10 10.0 amd64
Java 1.8.0_92

Example:

[code]

Holds for several other fields: publisher, journal, pages, address, month, title, ...

[2016-05-23 12:36] matthiasgeiger commented on #1439
I'm not sure whether this is really a bug... as we defined the order as "*mandatory fields* followed by *optional fields*" this has to change if you are switching the modes...

[2016-05-23 12:38] simonharrer commented on #1439
Hm, true - but still was annoying for me at first.

[2016-05-23 12:38] #1439 closed

[2016-05-23 13:34] lenhard commented on #1419
JabRef 3.4dev--snapshot--2016-05-23--master-- 4aa51a3
windows 7 6.1 amd64
Java 1.8.0_92

I just tried this in current master and everything works as expected. The save actions are written to file as you outline under "Expected". Can someone else reproduce this issue? Might there be something strange going on with your newline configuration?

[2016-05-23 14:27] simonharrer commented on #1419
I do even get strange results when disabling the save actions (from enabled to disabled):

[code]

[2016-05-23 14:49] lenhard commented on #1419
At least I can confirm the missing line break when disabling the save actions!

[2016-05-23 19:10] matthiasgeiger commented on #1049
Okay... this already required some time...
The problem has been introduced in b3aee00bae8b589aa1252ef182f8b3293d06bd69 as the "VetoableChangeListener" has been removed by @tobiasdiez see https://github.com/JabRef/jabref/commit/b3aee00bae8b589aa1252ef182f8b3293d06bd69#diff-fb7038da77cd0b0cfa8958fd90ffc896L632

So basically, a change in the bibdatabase does no longer trigger an update in the main ta

[2016-05-23 20:55] #1420 closed

[2016-05-24 06:57] lenhard commented on #1419
The last point should be fixed with a84502158b8d6be2feb9c2b8b783d41f78c7d8d6 Please re-check on current master.

I still cannot reproduce the other problems, though.

[2016-05-24 06:59] yimingli opened #1441 "the order of entry cleaning up: filed formatter first, then PDF rename"
JabRef version 3.3 on Mac OS X 10.11.5

I used "Quality" --> "Cleanup entries…" to
1. format article titles with "field formatter"
2. rename the PDF with the newly formatted title

But it seems that the PDF were renamed before the titles were formatted. So I need to run cleanup twice every time.

[2016-05-24 08:12] simonharrer commented on #1419
maybe it was an old version, I cannot reproduce it anymore right now. Hence, I close it.

[2016-05-24 09:35] simonharrer commented on #1320
Could this be fixed in the current master branch? @mlep @tobiasdiez

[2016-05-24 09:39] simonharrer commented on #651
I propose to close this as it is only a very minor bug which only occurs in very special circumstances with bad input. Any objections @JabRef/developers ?

[2016-05-24 09:59] tobiasdiez opened #1444 "Implement getExtension and getDescription for importers."
This is a follow up from #1207:
The methods getExtension and getDescription are not implemented by almost any importer. This should be done. Also the `@Ignore` tag for the corresponding tests should be removed.

I think this is something for the stupro.

[2016-05-24 11:18] stefan-kolb opened #1445 "Integrity check for possibly wrong DOIs"
- [x] syntactically wrong DOIs
- [ ] semantically wrong DOIs false assignment, not the correct DOI (has influence on PDF retrieval!)

[2016-05-24 11:44] JabFabi commented on #1324
Hi, I'm not sure if this is related to the issue you are working on, but as you mentioned the option "Allow file links relative to bib":
I would like to enable this option (as I had in an older version) but whenever I do so, it gets reset to the disabled state after restarting JabRef 3.3.
I had a look into the exported settings XML file and compared it to the old one; the corresponding entry is si

[2016-05-24 11:56] simonharrer commented on #1445
:+1:

Could be a performance issue.

Maybe we should make the integrity check asynchronous based on events of database changes, so that all integrity violations are always kept in sync eventually. But this would require a lot of code.

[2016-05-24 11:58] stefan-kolb commented on #1445
A maybe I meant Cleanup not integrity check?!

[2016-05-24 12:26] #651 closed

[2016-05-24 12:55] simonharrer commented on #1419
Hm, I have this issue again.

[2016-05-24 13:45] lenhard commented on #1419
Ok, I can reproduce that!

[2016-05-24 14:03] simonharrer opened #1446 "Better default for saving files"
If the preferences are reset, and I want to download a file, JabRef suggests that I store it under `C:\`. I would prefer to use a more sophisticated location, e.g., relative to the current bib file perhaps. As normally, one does not have access rights to save directly on `C:\`, wwhich can leave to strange behavior.

[2016-05-24 15:22] Siedlerchr commented on #1446
If in a file save/open dialog no folder is given, it points default to the user directory (Eigene Dateien) (at least under windows)
This could be done with #1336

[2016-05-24 15:46] lenhard commented on #1419
@simonharrer: So far the save actions only went through the formatter when the respective panel was being opened. If not, the newlines would be eliminated by the parsing of the meta data. I fixed that in  2a979fd on master: The formatter string is now properly loaded and set in the `MetaData`.

Please verify that it works for you.

[2016-05-25 06:45] lenhard commented on #1408
Implemented with #1409

[2016-05-25 06:45] #1408 closed

[2016-05-25 08:25] simonharrer commented on #1419
LGTM

[2016-05-25 08:25] #1419 closed

[2016-05-25 11:06] #1421 closed

[2016-05-25 12:39] aphalo opened #1450 "Entry editor missing after changing autocompletion settings"
Using 3.3 release (64 bit) under Windows 10 Pro x64 Java 8 91.
Disabled autocompletion and entry editor disappeared immediately (tried C-e, double click and menu icon to no avail). Resetting settings from dialogue did not solve the problem. Neither uninstalling and reinstalling Jabref.

`java -jar JabRef-3.3.jar -d all` at the command prompt solved the problem.

importing the saved settings from j

[2016-05-25 13:18] stefan-kolb commented on #518
See #1252

[2016-05-25 13:19] stefan-kolb commented on #1424
See #518

[2016-05-25 14:22] tobiasdiez commented on #1104
I had a look at it and it seems to be not too easy to implement (I had some troubles with getting the currently selected group.) It will be easier with the new UI technology. Thus I put this on hold for now.

[2016-05-25 14:25] lenhard commented on #1450
@aphalo: Thanks for reporting!

I can confirm that importing the above preferences disables the entry editor. I can add that also importing other working preferences does not make the editor re-appear. Only the solution you described repairs JabRef"s behavior.

Starting from default preferences and disabling auto completion is all that is needed to reproduce this bug.

[2016-05-26 06:49] tobiasdiez commented on #160
I think this issue can be closed. The cleanup operations have been improved in the meanwhile so that it is relatively easy to convert a BC file to a BW one.

[2016-05-26 07:19] tobiasdiez commented on #953
As it was pointed out above, convergence really depends on the formatter and the input. So a general test does not make sense.

Thus I will close this issue. If we recognize that one of the formatters has convergence problems, then we can open a specific issue for it.

[2016-05-26 07:19] #953 closed

[2016-05-26 07:26] tobiasdiez commented on #1251
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-05-26 07:26] #1251 closed

[2016-05-26 11:16] koppor commented on #160
I'd rather like to put it "on-hold", as sometimes one wants to have complete entries with volume and series, which one doesn't want in the final bib file. One can achieve that with hide/unhide (refs #759), but one then needs version control...

This feature is more for users who stick with the publisher's template (such as LNCS's `splncs03.bst` instead of https://github.com/neapel/biblatex-lncs).

[2016-05-26 13:15] mairdl commented on #661
We are currently working on it. Our first prototype looks like this
<img width="288" alt="newversion" src="https://cloud.githubusercontent.com/assets/15333533/15575718/97de1baa-2354-11e6-8fee-bdfb09b37c22.png">
Feel free to leave suggestions about the layout.

[2016-05-26 14:12] #1289 closed

[2016-05-26 14:33] tobiasdiez commented on #366
Also:
- Store custom entry types in MetaData class and reuse some of the parsing/writing logic.

[2016-05-26 15:42] tobiasdiez commented on #1153
It seems to be fixed in the current development version. Probably as a result of https://github.com/JabRef/jabref/pull/1207. @ajbelle can you please double check that the issue is indeed fixed? Thanks!

[2016-05-26 16:22] Siedlerchr commented on #661
Like the Ignore Update and Remind me Later.

I would change the text from Visit Downloadpage to simply Download (update).
And add a description text like in TexStudio, e.g. A new version of JabRef is avaiable.
And add some bottom line text, For more information and a changelog  visit the website www.jabref.org.
Or maybe simpler: To see what's new visit the website (clickable Link).

Regarding the

[2016-05-26 19:28] bartsch-dev commented on #661
![updatepopup](https://cloud.githubusercontent.com/assets/15333371/15587100/f9589300-2387-11e6-9634-4fe1344407f4.JPG)
The download button leads the user to http://www.jabref.org/#downloads.
If the user clicks the ignore button this update will be ignored by automatic updates, when the updatesearch is manually started by the user this update will be suggested again.
When remind me later is clicked

[2016-05-27 08:29] simonharrer commented on #1425
@tobiasdiez any idea how to fix this? This is basically the most critical blocker for the 3.4 release targeted tomorrow.

[2016-05-27 08:40] Siedlerchr commented on #661
Good work :+1:
For me it's looking perfect now.

2016-05-26 21:28 GMT+02:00 bartsch-dev <notifications@github.com>:

[2016-05-27 08:51] stefan-kolb commented on #661
Dialog looks good, just capitalize first letzter of latest Version. For the
preferences, i'd rather simplify this a little bit. As for the Naming i'd
suggest Updates. Does the user really need to select how often we check?
And all the other Options? We could just handle that in the background?!
Am 27.05.2016 10:40 vorm. schrieb "Christoph" <notifications@github.com>:

[2016-05-27 08:53] stefan-kolb commented on #661
Download button should go to fosshub?! No intermediary Clicks needed then.
Am 27.05.2016 10:51 vorm. schrieb "Stefan Kolb" <stfnklb@gmail.com>:

[2016-05-27 08:55] stefan-kolb commented on #661
Maybe just use a check for updates entry in the help menu that ignores all
Settings and Displays the Dialog after, instead of the preferences?
Am 27.05.2016 10:53 vorm. schrieb "Stefan Kolb" <stfnklb@gmail.com>:

[2016-05-27 09:00] tobiasdiez commented on #1425
There are essentially two problems:
- `revalidateGroups` method in `GroupsSelector` gets called after every change, which results in problems for batch edits. Solution: wait a few miliseconds and only redraw the group tree if no further revalidate request comes in
- `revalidateGroups` blocks the main thread, so that editing an entry results in waiting time. Solution: make revalidation async

But I

[2016-05-27 09:02] tobiasdiez commented on #1263
Can this please be included in the 3.4 release.

[2016-05-27 09:13] tobiasdiez commented on #661
Can we please add support for automatic downloading and installation via install4j for the dev builds? We should make it as easy as possible to use development versions so that bugs are detected as soon as possible (especially, since not all features are used by the developers). Manually downloading a new dev version every day is thus not acceptable.

[2016-05-27 10:38] tobiasdiez opened #1454 "Drag and Drop of URL onto File field should trigger download"
Dropping an URL onto the file field in the entry editor should automatically trigger the same functionality as the button `Download from URL`

[2016-05-27 10:46] tobiasdiez opened #1455 "DOI Fetcher throws NPE if no result was found"
JabRef dev version on Windows 10

Steps to reproduce:

1. Entry with DOI for which the fetcher can't find bibtex data, for example: 10.2307/2372901
2. Click "Get BibTeX data from DOI"
3. Results in no warning but an NPE:
[code]

[2016-05-27 11:56] simonharrer commented on #1425
The best way would be to use RxJava to implement this.

The quickest way is to implement something like this by hand through a scheduler somehow.

[2016-05-27 13:42] tobiasdiez opened #1456 "Improve workflow after adding new entries"
After adding or importing a new entry, my workflow usually looks like this:
1. "Lookup DOI"
2. "Get fulltext"
3. "Get BibTeX data from DOI"
4. Cleanup (automatic and manual)
5. Compare bibtex data with data contained in the pdf (Journal, pages etc pp)

It would be fantastic if all these steps could be reduced to one step:
Click a button "Complete entry data", which then gets the doi, the fulltext

[2016-05-27 14:06] koppor commented on #1263
How? Just as separate artifact of the release?

[2016-05-27 15:03] tobiasdiez commented on #1263
Yeah, as a simple (executable) file in the same folder as the JabRef.jar file.

[2016-05-28 13:17] simonharrer commented on #1425
Could you try out the current master build whether this fixes your issue? In my tests, it worked correctly.

[2016-05-28 13:25] mairdl commented on #346
As far as @tschechlovdev and I understood the manual, there are no restrictions for the fields. Oren Patashnik only suggests how to use the fields.

[2016-05-28 15:50] bvdalen opened #1457 "Bug in the conversion of \emph{...} in RTF export?"
JabRef version 3.3 on Windows 7 64bit

Steps to reproduce:

% BEGIN OF BIBLATEX file:
% Encoding: UTF-8

@Article{article:0000,
  author       = {A. Author},
  title        = {An article title with \emph{a book title} emphasized},
  journaltitle = {Journal},
  volume       = {1},
  date         = {2016},
  pages        = {1-10},
}

@Comment{jabref-meta: databaseType:biblatex;}
% END OF BIBLATEX fi

[2016-05-28 21:10] wujastyk opened #1458 "urldate date format"
JabRef version 3.3  on Linux Mint 17.3

Steps to reproduce:

1. In editor, move to "urldate" field.
2. click popup date selector
3. select date (doesn't always work)
4. Inserted date has the format 2016.05.28
But with Biblatex, the format needs to be 2016-05-28, i.e., hyphens not points.

[2016-05-29 07:39] simonharrer commented on #1458
Could be a localization issue?

[2016-05-29 07:44] tobiasdiez commented on #1425
Thanks Simon!

[2016-05-29 09:09] stefan-kolb commented on #346
Ok, so we can close this?!

[2016-05-29 10:05] koppor commented on #346
OK, let's focus on the checkers and reopen if we find MUST things in the documentation.

[2016-05-29 10:05] #346 closed

[2016-05-29 10:21] stefan-kolb commented on #1456
Get fulltext now tries to find a DOI first if none exists. However, it does not write this DOI as the user might not want it inside the entry. So you can skip this step if you just want the full text.

[2016-05-29 17:42] wujastyk commented on #1458
I'm not sure how to evaluate this, but it  could be a biblatex problem.

[2016-05-29 18:52] bartsch-dev commented on #661
This update system is for the end user as it grabs the lastest stable version.
It now directs directly to fosshub.

For myself I like the Update tab in the preferences but I can see that they don't matter much for the end user. What do the others think?

[2016-05-30 08:40] simonharrer commented on #1458
You should be able to change it in the preferences -> general tab using the timestampformat field. By default it is yyyy-MM-dd

[2016-05-30 11:42] Braunch commented on #1225
I want to bring @mairdl and @koppor private discussion about hotkey presets to the public. In my opinion using choosable presets is quiet handy. If you could save and load your personalized hotkey bindings, we could create a (in our opinion) enhanced hotkey system without forcing users to use it. All we need is the possibility to load a setup in the "Customize key bindings" dialog.

[2016-05-30 12:04] tobiasdiez commented on #1225
Aren't custom hotkey bindings stored in preferences? Then exporting and importing preferences already functions as loading keybinding presets. I wouldn't complicate the story by adding other import & export options (this is all code we have to maintain for a probably nearly-never required function).

So making a consistent default keyboard shortcuts scheme should be the primary target.

[2016-05-30 12:15] Siedlerchr commented on #1225
Fully agree. should be stored in Preferences.

Default shortcuts should should be consistent with other applications.
e.g. F1 for help, CTRL+S, CTRL+Shift + S  for saving and saving as, CTRL-X,
CTRL-V etc, CTRL-F and F3 for search
are in my opinion the important ones.
I think some of the default shortucts, e.g. for closing an application are
already implemented in java by default.

In gernal the A

[2016-05-30 12:23] simonharrer commented on #1225
Also think about the toggling behavior. In Intellij, one can toggle one/off some additional parts of the app with ALT+number. It works like this:

if(part of window is hidden) -> show and set focus
if(part of window is shown and has focus) -> hide
if(part of window is shown but has no focus) -> set focus

Something similar would also make sense for JabRef with the groups, open office, entry previe

[2016-05-30 12:37] Braunch commented on #1225
I am going to the existing shortcuts right now. Does someone know what "next panel 2" and "previous panel 2" in the entry editor are supposed to do? Because nothing happens when I press that.

[2016-05-30 12:53] stefan-kolb commented on #1455
I could not reproduce the issue with the given DOI as it returns a BibteX entry but I think i fixed the NPE problem. Please check the PR #1460

[2016-05-30 13:03] stefan-kolb commented on #1457
Thank you for your report :smile:
I can reproduce the behavior and we will work on a fix for this issue. Stay tuned.

[2016-05-30 13:09] simonharrer commented on #1458
I close this as it can be prevented through changing the preferences. Detecting which field the date selector is used and applying a format based on the specific field seems not that much of an improvement of the current situation.

[2016-05-30 13:09] #1458 closed

[2016-05-30 13:11] bvdalen commented on #1457
Many thanks. Meanwhile a friend of mine looked at the problem and sees a solution. He will prepare a Pull request in the coming days.

[2016-05-30 13:24] Braunch commented on #1225
Would this be a useful key binding?
Alt +
1	- focus entry table
2	- entry/preview editor (preview: short/long version of preview)
3	- groups
4	- open office
5	- web search
6	- hide/show toolbar

[2016-05-30 13:37] simonharrer commented on #1225
Hm, maybe even separate entry preview and entry editor, as they behave quite differently. I, for instance, never use the preview and only want to use the entry editor or nothing at all. As the hide/show of the toolbar I would not put there, or may be at the number 9, as it is semantically not the same - it is not a window I can show/set focus/hide.

[2016-05-30 13:37] simonharrer commented on #1225
Regarding "next panel 2" and "previous panel 2", I do not know. Maybe a look in the source code could help?

[2016-05-30 14:27] #1457 closed

[2016-05-30 15:15] matthiasgeiger commented on #661
I think the prefs are not really needed - at least not with that much options. Maybe a single setting "Check automatically for updates" (which is enabled by default) should be placed at the "Advanced" tab.

[2016-05-30 15:40] stefan-kolb commented on #1263
@tobiasdiez Maybe this is just a file permission problem?! I can set the file permissions for the JabRef.jar inside the install4j script. What permissions do we need? Just +x? What are the current default permissions afetr the installler? Do they differ when problems arise?

[2016-05-30 15:49] stefan-kolb commented on #1263
For me, the executable bit was missing when downloading the latest stable version.

[2016-05-30 17:39] koppor commented on #139
Refs #662

[2016-05-31 00:17] Joeran commented on #139
the public docear version of cannot extract "real" highlighted text but only text that is stored in "pop-up" boxes
![image](https://cloud.githubusercontent.com/assets/2410381/15660017/4ae65654-2710-11e6-94d5-87b4773f379a.png)
we recently paid a student to enhance docear, so docear could also extract the "real" highlighted text. unfortunately, the student never 100% completed the job (the new funct

[2016-05-31 08:17] matthiasgeiger commented on #1049
I tried to dig into it yesterday, but it currently works on `master`... Tested it with three different machines, starting from the jar or directly from the IDE: works fine.

I still do not know what actually has happened that it was not working properly so I'm not sure whether the issue is really solved. Maybe the timing on the eventbus is problematic - but this is really hard to debug...

However

[2016-05-31 08:17] #1049 closed

[2016-05-31 10:01] matthiasgeiger commented on #1450
Actually the entry editor is not missing - but due to a bug it has the height of only 1 pixel. As the bug occurs when the preferences dialog is closed even restoring the default preferences was not possible using the UI.

The bug should be fixed in the references PR - please verify using a build from: http://builds.jabref.org/fix-1450/

[2016-05-31 11:45] stefan-kolb commented on #1153
@ajbelle Thank you for your report :+1:
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2016-05-31 13:30] #1450 closed

[2016-05-31 13:31] #1455 closed

[2016-05-31 13:32] simonharrer commented on #1235
@matthiasgeiger will you have a look here? Otherwise, move it to the milestrone 3.5

[2016-06-01 01:21] bissi1 opened #1467 "automatic capitalizing or un-capitalizing of article names"
Here are two possible entries in my large bibfile:
entry 1:
@Article{becker,
  author  = {Becker, Niels G and Wang, Dingcheng},
  title   = {{C}an antiviral drugs contain pandemic influenza transmission?},
  year    = {2011},
  volume  = {6},
  number  = {{3}},
  pages   = {e17764},
  journal = {PloS ONE},
}

entry 2:
@Article{becker,
  author  = {Becker, Niels G and Wang, Dingcheng},
  title   =

[2016-06-01 02:14] wujastyk commented on #1458
Many thanks for pointing out how to use preferences to work around this
issue.

Best,
Dominik

--
Professor Dominik Wujastyk* <http://ualberta.Academia.edu/DominikWujastyk>
Singhmar Chair in Classical Indian Society and Polity
Department of History and Classics <http://historyandclassics.ualberta.ca/>
University of Alberta, Canada

On 30 May 2016 at 07:09, Simon Harrer <notifications@github.com> w

[2016-06-01 07:18] koppor commented on #1263
I think, the `+x` flag is not preserved while downloading.

I would offer the `.sh` script alongside at the release. No need for a separate archive.

The script should include a detection of the current directory instead using `/my/target/to/JabRef.jar`.

[2016-06-01 07:23] stefan-kolb commented on #1263
I'm trying to evaluate the root cause of this problem. If it is just the exec bit (which I think it is) it's actually a user failure. @koppor If the +x is not preserved while downloading, why should it be for the sh script? Maybe we can also use an installer on Linux and set the appropriate permissions?

[2016-06-01 07:30] koppor commented on #1263
Possibly an average linux user knows that `+x` is needed for `.sh`, but he is unaware in the case of `.jar`. A first glimpse on Google results for "execute jar" and "jar does not start" does not show the `+x` possibility.

[2016-06-01 08:47] matthiasgeiger commented on #1235
I don't think I'll have to time to investigate this week... so: moved to 3.5

[2016-06-01 09:15] tobiasdiez commented on #1263
I have no idea why running the JabRef.jar didn't worked in the first place. Some user reported it worked, for some it didn't. So maybe it is worth a try to just set `+x` and then let these users reevaluate if linking the jar works.

[2016-06-01 09:25] Jean-Roc opened #1469 "IndexOutOfBoundsException Exception"
Hi, we get this kind of errors with :

* JabRef-3.4dev--snapshot--2016-06-01--master--bd7e23f.jar
* Windows 7 32 and 64bit
* java portable 1.8.0_77

1. JabRef is launched using this command :

2. On opening any of our files :

[code]
3. Or simply creating a new file

[code]

[2016-06-01 09:41] Jean-Roc commented on #1469
The same behaviour is encountered with Jabref 3.3

[2016-06-01 09:53] tobiasdiez commented on #1469
You should be able to fix this issue by resetting the preferences or maybe by changing the column widths under Options -> Preferences -> Entry Table Columns.

[2016-06-01 10:20] matthiasgeiger commented on #1469
Before resetting the preferences: can you please export them and post them here this might help us to find the reason for this bug.
Thanks!

[2016-06-01 11:47] Jean-Roc commented on #1469
@tobiasdiez thank you, this seems to be the solution
@matthiasgeiger here is the [reg export](https://gist.github.com/Jean-Roc/6dfb190cdb9c6a1e312a50405a67e185), _column/Widths_ and _number/Col/Width_ were not defined

[2016-06-01 12:21] matthiasgeiger commented on #1469
Thanks again.

The trouble is caused by an inconsistency between columnNames and columnWidths: You have defined extra columns in columnNames (resulting in 9 columns) - but the columnWidths are still the default (only 6 width values available). Using the UI to add additional columns this should not happen... (in the Preferences dialog, tab "Entry table columns")

What JabRef version have you used p

[2016-06-01 12:44] Jean-Roc commented on #1469
These preferences are (at least) 6 years old and were used with jabref 2.x, I got these errors while trying to upgrade our version to 3.x. Manual editing may have been done for the custom fields but their creator is long gone so no certainties.

[2016-06-01 12:50] matthiasgeiger commented on #1469
Okay. I think we can close this issue then as resetting the preferences allows you to start JabRef and this seems to be an edge case which will not occur very often.

[2016-06-01 12:50] #1469 closed

[2016-06-01 13:13] matthiasgeiger commented on #1467
JabRef provides some "Formattes" which can perform such operations.
- the "Protect Terms" formatter puts `{}` brackets around "terms" - as you like to have it for "US". **BUT:** This works only for a build-in list of defined terms and not for arbitrary words. Therefore an automation resulting in always correct results is not possible. You'll have to check the titles and manually protect the casing

[2016-06-02 11:04] Braunch commented on #1225
I encountered that there are shortcuts for creating new entries for seven different entry-types:

- article
- book
- inbook
- masterthesis
- procceedings
- unpublished
- phdthesis

Is there a reason why those are the only ones that have a customized key bindings?
@mairdl  and I came up with the idea that it would be nice to have the possibility to choose which entry types have key bindings. So the

[2016-06-02 11:56] simonharrer commented on #1225
Do not give the user too much choice, as this is harder to implement and maintain. We try to simplify the usage of JabRef, and not make it more complicated.

[2016-06-02 12:21] mairdl commented on #1225
I understand that it would decrease simplicity in some way. But on the other hand it would increase usability for some users.

At the moment we are thinking of something like having a dropdown with entry types where "New entry type" actions are, e.g. instead of "New article" you would have the dropdown menu.

[2016-06-02 13:04] simonharrer commented on #1225
I think, simplicity is key to have a good usability. Best example is Apple, and a lot of other apps in the App Stores out there which simply ignore 20% of the feature requests and focus on the common 80%, making them bug free and without too much customization possibilities. This is the way we want to have JabRef.

When you click on "New entry", a new popup opens where all entries are there and th

[2016-06-02 13:08] mairdl commented on #1225
After some disscusion with @koppor we came to the conclusion that this might be too complex. If there i something new you'll hear about it.

[2016-06-02 14:04] stefan-kolb commented on #1414
Thank you for your report :+1:
However, I cannot reproduce this behavior on the current `master`. Can you please try the latest build from http://builds.jabref.org/master.

[2016-06-02 14:04] #1414 closed

[2016-06-02 14:07] stefan-kolb commented on #1153
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.
Please reopen the issue with additional information if the problem persists.

[2016-06-02 14:07] #1153 closed

[2016-06-02 14:08] #1432 closed

[2016-06-02 18:27] Braunch commented on #1225
When we implement the toggle functionality, should we keep the old hotkeys for the web search e.g?

[2016-06-02 19:03] icamps commented on #1392
@Siedlerchr @stefan-kolb

I did a registry clean with three programs, restart my PC and everything is working now.

I thing the problem was "a mix" of JabRef version information in the windows registry.

Thank you for your support.

[2016-06-02 19:06] matthiasgeiger commented on #1392
Thanks for the feedback!

Might have been related to #1450.

[2016-06-02 19:06] #1392 closed

[2016-06-03 09:12] stefan-kolb commented on #1257
Lots of old artifacts...
[code]

[2016-06-03 09:49] #405 closed

[2016-06-03 10:10] #421 closed

[2016-06-04 04:19] bissi1 commented on #1467
Thanks!
Could you provide some more specifics - I'm new to JabRef just a week- where are these options available? Where is the Protect Term and Sentence Case formatter?

[2016-06-04 05:29] matthiasgeiger commented on #1467
You can find the cleanup entries function in the "quality" Menü - the save actions can be found in "File" >"database properties".

In both cases you have to select and add the formatters to the list of actions to be performed for the field "title".

(Sorry answering from my Smartphone - so I can't provide Screenshots)

[2016-06-05 15:22] hudcap commented on #1434
I am having the same issue, having loaded my v3.3 db into v3.4 stable.
Furthermore, when I change a group to static, it does not persist.

[2016-06-05 18:44] stefan-kolb commented on #1324
@JabFabi Please open a new issue for this behavior.

[2016-06-05 18:55] stefan-kolb commented on #1331
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-06-05 18:55] #1331 closed

[2016-06-05 18:56] stefan-kolb commented on #1314
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-06-05 18:56] #1314 closed

[2016-06-05 18:58] stefan-kolb commented on #1237
@simonharrer @tobiasdiez Does this new info help?

[2016-06-06 01:43] fishforbreakfast opened #1476 "Null exception when trying to import from external database with no *.bib open"
JabRef version 3.4 on x86_64 Linux

Steps to reproduce:
Start JabRef.
1. Close all opened or previously opened databases.
2. From the file menu choose "import from external database"
3. Connect to a database server.
4. Choose a database to import from.
JabRef throws an exception.  Here is the log:

20:40:18.796 [Spin-0] ERROR net.sf.jabref.sql.importer.DbImportAction - Error importing from databas

[2016-06-06 06:48] matthiasgeiger commented on #1237
Just a guess from my side which I have not confirmed: Might be caused by type customization, i.e., if additional fields are defined those (bibtex) configuration is also used for biblatex.

[2016-06-06 08:26] stefan-kolb commented on #1476
Thank you for your report :smile:
I can reproduce the behavior and we will work on a fix for this issue. Stay tuned.

[2016-06-06 08:58] stefan-kolb commented on #1476
Thank you for your report :+1:
This should be fixed in current `fix-1476`. Please try the latest build from http://builds.jabref.org/fix-1476.

[2016-06-06 09:47] motokito commented on #882
Hiho,
I will ask something:
@koppor Should i remove "Exception" Tab?
@tobiasdiez Should i add this buttons?

thx for tip and help ;-)

[2016-06-06 09:49] fishforbreakfast commented on #1476
The fix works for this issue.  Thank you again.  I will test it for a while further to see if there is anything related that crops up.

Regards,

Fred

[2016-06-06 09:57] mairdl commented on #1267
I tried to recreate the bug, but it wasn't possible. I think i could add a file to the RISImporterTest that would prove it.

[2016-06-06 10:04] tobiasdiez commented on #882
The debug toggle is probably not that important but a nice extra. Copying the messages should be very very easy since we want users to include the output in their bug reports. So except if you come up with a more innovative solution, a simple button will do.

What about renaming it to "Error diagnostics" or "Troubleshouting". The user doesn't have to care that we developer treat it as console outp

[2016-06-06 10:46] teertinker opened #1478 "Fetched DOI gets lost"
JabRef version 3.3 on Windows 10

Steps to reproduce:

1. Having an entry without DOI.
2. Edit entry, go to "General" click on "search DOI"
3. DOI is fetched properly and appears in the DOI field
4. Move Mouse Pointer to Entry-Table and click on a different entry
5. Go back to the Entry the DOI was fetched
6. The DOI is gone.
-> it seems to get saved only, if i click either the DOI field or anothe

[2016-06-06 11:14] mairdl commented on #1225
@obraliar suggested some changes to the Database Proberties Dialog, he thinks it would be nice if you delete save actions with the DELETE button. I have to agree with him, do you also think this change is a good idea?

[2016-06-06 11:14] simonharrer commented on #882
Maybe a functionality to create an issue in github with the details about the version, log and the .bib file (opt-in of course) plus a text. The github API seems easy to use, when looking at the code which checks for the update notification.

[2016-06-06 11:25] stefan-kolb commented on #1478
Thank you for your report :+1:
This should be fixed in the latest version 3.4. Please try the latest build from http://jabref.org.

[2016-06-06 12:21] matthiasgeiger commented on #1225
Yes this makes sense. The same functionality would be useful in the "Cleanup entries" dialog, too. Configuration is noe needed for this short-cut I think.

For the other "global" KeyBindings configured through the KeyBindings dialog: Before implementing the changes it would be great if you can present us an overview of your plans. I think a table: "Functionality" | "KeyBinding old" | "KeyBinding n

[2016-06-06 12:49] Siedlerchr commented on #1225
Database Properties and Cleanup dialog use the same sub-Component
When I remeber correctly the same Sub-Component is also used somewhere in
the Properties.

2016-06-06 14:21 GMT+02:00 Matthias Geiger <notifications@github.com>:

[2016-06-06 13:34] kojiyokota opened #1481 "Mac OS X binary seems broken for JabRef 3.4 release"
I downloaded JabRef 3.4 binary from JabRef homepage and  tried to start Application by double click on El Capitan with java 1.8. The leftmost menu "JabRef" appears, but other menus don't appear and the program cannot be quitted.

At this stage, running 'ps ax | grep JabRef' gives 'path/to/JabRef.app/Contents/MacOS/JavaApplicationStub' so I tried to run it from the command line. Then it emits follo

[2016-06-06 13:38] stefan-kolb commented on #1481
@chochreiner Could you please have a look if you have some time?

[2016-06-06 14:04] chochreiner commented on #1481
the problem is most likely this commit 327b16452a83377e24e7966fedc1d3fc87d2b224 - I may find some time have a more detailed look at it later this week

[2016-06-06 16:05] melTr opened #1482 "Wrong number in groups"
JabRef version 2.4 on WindowsXP (I know, I know..., but same thing happen in Ubuntu)

Some groups (not all) display a wrong number of entries. In my example, it's written 577 but it should be 38 (and 38 entries are well displayed).
It also have error in "summer student", "International", "congrès-chris", "international"...

They are both dynamic groups, but many other dynamic groups are fine. I th

[2016-06-06 21:32] koppor commented on #1267
@tschechlovdev Is currently rewriting the Medline importer using JAX-B instead of self-written parsing. Reason: the StAX-based parsing at #1479 was also difficult and there is some XSD for the medline things available.

[2016-06-07 07:34] AEgit commented on #1425
Hmmm, I think this still hasn't be solved properly. With the new version 3.4 the performance is definitively better than build 3.4 (20-05-2016), but it is worse compared to build 3.4 (18-05-2016). Now, everytime an entry is edited and saved, the all groups appear to be rebuilt, which takes a couple of seconds. Can you confirm this behaviour?

[2016-06-07 16:27] #888 closed

[2016-06-08 05:55] SimSonic commented on #1430
From time to time we have 3-4 users working on the same db.bib file (about 6500 referencies in it). File is located on network drive. Sometimes someone loses their changes. Not all users are so advanced to see *Review changes* block in the sidebar.

As I see the workflow: Two users open db.bib file and are editing some entries (add/fix/remove) for a long time. Locally JabRef remember what entries

[2016-06-08 09:49] stefan-kolb commented on #1478
Thank you for your report :+1:
@teertinker This should be fixed in the latest version 3.4. Please try the latest build from http://jabref.org.

[2016-06-08 09:53] lenhard commented on #1026
@stefan-kolb: For some external control, could you please try out your example from above with  #1471

This should preserve the comment in any case. If the entry is reformatted, an empty line will move between the entry and the comment, if unchanged it should be rewritten exactly as is.

[2016-06-08 13:58] burkesquires commented on #1481
I tried downloading the latest release and the development version and had the same problem. Run-in Mac OS 10.10.5. Both seemed to install fine but when opening no windows appears. it also would not quit and required a Force Quit.

[2016-06-08 14:42] ThomasA opened #1484 "HTML export handles some UTF characters wrong"
JabRef 3.4 on Ubuntu 16.04

Steps to reproduce:

1. Copy and paste the following test entry into a new database in JabRef.
2. Make sure the database is stored as UTF-8 encoded (should be default).
3. Export the database and select the file type 'HTML (*.html)'
4. In the resulting HTML file, the character 'Ø' is displayed wrong in the Firefox browser.
![jabref](https://cloud.githubusercontent.com/a

[2016-06-08 15:08] wilthan commented on #1430
The bigger problem for us is not that _Review changes_ is not visible enough, it just has a bug.
We did some more testing and can even reproduce it on one PC with two instances of JabRef opened.
The easiest test is:
- open the same file in two different JabRef instances (1 and 2)
in 1: add new BibTex entry (article)
in 1: save file
in 2: **Review changes** shows up -> click it and accept changes (

[2016-06-08 15:27] lenhard commented on #1484
Thanks for the report!

@oscargus: What do you think about it?

[2016-06-08 17:05] algom commented on #1434
I am also having the same problem, which went through to the final JabRef 3.4, all groups from a JabRef 3.3 database are converted to dynamic groups, now group entries are italicized and when an entry is selected is also underlined (italicized and underlined), design-wise a no go from any typographic point of view. I also tried starting fresh with JabRef 3.4 and the same is obtained. I created a d

[2016-06-08 18:33] stefan-kolb commented on #1430
@JabRef/developers WDYT?

[2016-06-08 22:48] mafanie opened #1485 "Export to MS Office 2007 (.xml) - ShortTitle missing"
JabRef version 3.4 on Windows 10

When exporting to MS Office 2007 (.xml) the short title information is missing in the generated xml file. As both bib files and MS Word when importing xml files support that information, this should be exported when available.

Steps to reproduce:
1. Input short title in bib file (`shorttitle = {...}`)
2. Export to MS Office 2007 (.xml)
3. Short title is missing i

[2016-06-09 06:23] teertinker commented on #1478
Thanks solved in 3.4! Next time I will check the most recent version first.

[2016-06-09 06:23] #1478 closed

[2016-06-09 06:40] matthiasgeiger commented on #1485
Thanks for your report!

JabRef is rather flexible in importing bib files with customized entries, i.e., you can define arbitrary fields (such as `shorttitle`) and they will be handled by JabRef.
However, the exporters to a specific format can not deal with all information but generally stick to the default standard entry types with its standard (required and optional) fields as described in ftp:/

[2016-06-09 06:47] koppor commented on #1485
Isn't shorttitle a feature of biblatex? : innocent:

[2016-06-09 07:08] matthiasgeiger commented on #1485
... yes it is mentioned in the biblatex reference http://mirrors.ctan.org/macros/latex/contrib/biblatex/doc/biblatex.pdf. But as `shorttitle` is not part of any entry type as "required" or "optional" is not supported as one of the standard types by JabRef. :wink:

But I just had a look in the code - the export of `shorttitle` to MsBib is intended to work - but only if the filed is prefixed as `msb

[2016-06-09 08:07] stefan-kolb commented on #1485
There's obviously a standard field ShortTitle in Word, so we should map this to the biblatex field shorttitle if present?!

[2016-06-09 08:18] koppor commented on #1430
I would try to create a test case checking for this behavior. Then run git
bisect to find out which commit smashes the behavior. My guess is that
#1126 could have something to with it, but I'm not sure at all.

[2016-06-09 09:52] ryanpepper commented on #1481
Have same problem on OS X 10.11.5

[2016-06-09 11:16] chochreiner commented on #1481
@koppor do you have a license for install4j so that I can test the build on OSX?

[2016-06-09 11:25] simonharrer commented on #1481
I sent you the JabRef license code.

[2016-06-09 11:40] simonharrer commented on #1430
#1126 is not related as it was released only in 3.4, but not in 3.3. Hence, the issue is caused by something else.

[2016-06-09 12:03] #1485 closed

[2016-06-09 12:23] matthiasgeiger commented on #1485
@mafanie @stefan-kolb fixed the issue. You can download a development version from http://builds.jabref.org/master to test whether the problem is solved.

[2016-06-09 12:39] simonharrer commented on #1430
Error somehwere in between these 80 commits https://github.com/JabRef/jabref/compare/a71c2b0de5568f11aa73a1dbafc8b82e5da8b91a...fc7e175b3e79c268d6210a83ad307e7e1710f28f

Will try to refine it further.

[2016-06-09 13:11] simonharrer commented on #1430
Quite complicated. It is probably related to the IDs of BibEntries. Here my git bisect log

[code]

[2016-06-09 13:29] #1481 closed

[2016-06-09 14:17] matthiasgeiger commented on #1481
This issue should be fixed now. You can use a development Version from http://builds.jabref.org/master/ which should be working as expected.

[2016-06-09 14:42] simonharrer commented on #1430
Okay, I have wrote a fix, but I am not completely sure whether this really solves the problem. Maybe you could also help to test this. In a few minutes, a new release in the fix-1430 folder will be available at builds.jabref.org - could you confirm that this fixes your issue?

[2016-06-09 16:13] wilthan commented on #1430
Unfortunately, the behavior has not changed with the new fix.

[2016-06-09 16:20] wilthan commented on #1430
WOHOOO - it works!
I first tested the wrong fix (fix-1476) ...
fix 1430 does resolve the short test case I submitted yesterday.
We'll test it some more during the day and I'll keep you updated.
thx a lot!

[2016-06-09 17:09] simonharrer commented on #1430
Excellent. Sadly, there are no automated tests for the collaboration feature - hence we currently rely on user feedback. But we are open for contributions in that area, if someone wants to put this under test.

[2016-06-10 01:34] donovaly opened #1490 "uninstalling JabRef leaves traces in the Win registry"
JabRef adds now the registry entries
HKCU\Software\JabRef
and
HKLM\Software\JabRef
as I requested in #1362

However, when uninstalling JabRef 3.4 these registry paths were not removed.

[2016-06-10 08:10] AEgit commented on #1425
Could you reopen this issue (see above)?

[2016-06-10 09:06] stefan-kolb commented on #1490
Thank you for your report :+1:
This should be fixed in `clean-regedit`. Please try the latest build from http://builds.jabref.org/clean-regedit.

[2016-06-10 10:01] ryanpepper commented on #1481
Great, thanks! New dev version works fine :)

[2016-06-10 20:21] mafanie commented on #1485
Works as favored. Thanks a lot for the fast solution.

[2016-06-12 03:08] juanqinyang opened #1492 "Broken When Open on Mac OS X"
After install the package download from [http://www.fosshub.com/JabRef.html](), It's blank! I only get the JabRef menu, and it is not possible to quit JabRef (only by killing the process).

I am on Yosemite 10.10.5., and the java version is 1.8.0_91.
`java version "1.8.0_91"`
`Java(TM) SE Runtime Environment (build 1.8.0_91-b14)`
`Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)
`

[2016-06-12 06:45] matthiasgeiger commented on #1492
Thanks for your Report!

This issue has already been reported in #1481 and has been fixed. Please use a development build from http://builds.jabref.org/master

[2016-06-12 06:45] matthiasgeiger commented on #1492
Thanks for your Report!

This issue has already been reported in #1481 and has been fixed. Please use a development build from http://builds.jabref.org/master

[2016-06-12 06:45] #1492 closed

[2016-06-12 13:55] juanqinyang commented on #1492
@matthiasgeiger Thanks so much!! It works now!!

[2016-06-12 15:15] jkulesza opened #1493 "Broken JabRef 3.4 OSX Installer"
JabRef version 3.4 on OSX 10.11.5

Steps to reproduce:

1. Download Version 3.4 Installer for OSX from http://www.fosshub.com/JabRef.html.
2. Install on "clean" system with no pre-existing JabRef installation.  Install to /Users/jkulesza/JabRef (default location proposed by installer).  Deselect "Create a desktop icon", keep "Add to the dock" selected. Deselect association with .bib files. Keep "R

[2016-06-12 15:28] jkulesza opened #1494 ""3rd" in Filename Gets LaTeX-corrected, Causes File Rename to Fail"
JabRef version 3.3 on OSX 10.11.5

Steps to reproduce:

1. Create a new database.
2. Create a Book entry.
3. Add a file named "test 3rd edition.pdf" to General->File.
4. Specify Required Fields -> Title of "Test 3rd Edition".
5. Create BibTeX key of Book____Test3rdEdition (or similar).
6. Perform cleanup with options shown below.

The file in the Fields -> Title will be changed to specify a supers

[2016-06-12 15:46] stefan-kolb commented on #1493
Thanks for your report! Please see #1492. The issue has been fixed lately.

[2016-06-12 15:46] #1493 closed

[2016-06-12 16:03] HainesB opened #1495 "Group hierarchy lost when moving to BibEntry"
When moving from JabRef 9.10 to 3.4, the philosophy governing groups changed. Rather than
a key being linked to a group in "jabref-meta: groupstree" the group is attached to the individual entry, as in "groups    = {culture},",

The big disadvantage is that groups are no longer in a hierarchy but a independent. As the result, a key associated, say, with "culture", is associated with that term ever

[2016-06-12 16:04] jkulesza commented on #1494
Testing with 3.5, this appears to be fixed.

[2016-06-12 16:04] #1494 closed

[2016-06-12 21:21] jkulesza commented on #1351
@simonharrer Please note that there is a website FAQ entry on this that will need to be modified/removed.

http://www.jabref.org/faq/

[2016-06-13 07:09] lenhard commented on #1351
@jkulesza: Thanks for following up on this. Since the preference option is gone, we should also remove the FAQ entry.

[2016-06-13 07:49] simonharrer commented on #1494
Thanks for documenting this fix. :+1:

[2016-06-13 07:54] simonharrer commented on #1495
So the issue is when the group name is used multiple times in a large group hierarchy at different places? Like you have `GroupA -> culture, GroupB -> GroupC -> culture` and in this case the two groups will be merged falsely? Did I get your question right?

JabRef should not be doing something like this. We need a step to uniquify the group names before they are converted. What do you think @tobia

[2016-06-13 08:32] Siedlerchr opened #1496 "FullText Download Dialog only shows doc for latest selected entry if multiple times triggered"
JabRef 3.4
windows 7 6.1 amd64
Java 1.8.0_74

Steps to reproduce:
1. Database with 2 different entries
2. Hit Get Fulltext on entry 1 (e.g. ABC)  -> Searching for Fulltext starts
3. Hit Get Fulltext on entry 2  (e.g. DEF) -> Searching for Fulltext starts
4. Download Dialog appears: PDF is named after the second entry
5. Download Dialog appears a second time: PDF is named after the second entry
6.

[2016-06-13 08:44] vchouraki commented on #1495
Hi. This is exactly that.

I usually use one group for one project/paper, each one having generic subgroups names, such as "to_read", "introduction", "materials", "pathophysiology" etc. With JabRef3.4, a given "to_read" subgroup contains the articles from all the "to_read" subgroups.

[2016-06-13 08:47] simonharrer commented on #1430
@wilthan any news regarding further testing?

[2016-06-13 10:44] HainesB commented on #1495
Since movement from JabRef 9.10 to 3.4 resulted in massive loss of information, I reverted to the former and recovered the jabref-meta: groupstree for each database. While I lack any expertise, it seems that the hierarchical structure of group names could be readily preserved. For example, here is a hierarchical group tree:

  1
    A
      a
 2
    B
      a
 3
    C
      b

So a bibliographic e

[2016-06-13 15:17] wilthan commented on #1430
@simonharrer: we did not see any more issues during our regular work. Typically we have 3-5 people working with one network file for about 8h a day.
-> the fix 1430 seems to have resolved the issue
thx again!

[2016-06-13 15:53] simonharrer commented on #1430
Ok, will merge it in. Thanks for the feedback! :)

[2016-06-13 15:57] #1430 closed

[2016-06-13 15:58] simonharrer commented on #1490
Does the fix solves your issue? @donovaly

[2016-06-13 18:30] mafanie opened #1497 "Export to MS Office 2007 (.xml) - Author is Company"
JabRef version 3.4 on Windows 10

When exporting to MS Office 2007 (.xml) names in curly braces should be treated as companies and exported as such.

In Section 2.3.3. of the manual of the biblatex package - which for me nowadays is the main reference of how to use bib files - it is given:
"Corporate authors and editors are given in the author or editor field, respectively. Note that they must be

[2016-06-13 19:43] stefan-kolb commented on #1496
Hm, yeah this is expected. Is a thread problem...

[2016-06-13 19:58] exch-0930 commented on #1497
I was just about to ask for the same thing.  When I export "USDA-SCS Soil Tillage Lab", it gets rearranged.  I have tried adding single and double curly braces and one or two commas before exporting to Word, but cannot find the right combination for a corporate author.  Word 2013 has a checkbox for corporate author.
![jabrefcorporateauthor](https://cloud.githubusercontent.com/assets/17862444/16021

[2016-06-13 22:42] donovaly commented on #1490
Thanks Stefan. I tested this version and this bug is fixed. BUT there is a regression: when installing as admin for all users of the PC, the registry entry
HKLM\Software\JabRef
is no longer there. But this is what I need, see my initial post.

[2016-06-14 00:26] melTr opened #1498 "EntryPreview of accentuated character"
JabRef 3.4 Ubuntu 14.04 (or JabRef-3.5dev--snapshot--2016-06-13--master--93a9efd)

When I imported from Medline my name is M{\'{e}}lanie. But on EntryPreview, it displays as Tremblay, M.; lanie &
For last name, B{\'{e}}meur, Chantal is displays as Bé meur, C.;

\begin{author} \format[HTMLChars,AuthorAbbreviator,AuthorAndsReplacer]{\author}\end{author}
If I remove ,AuthorAbbreviator,AuthorAndsRepla

[2016-06-14 07:16] #1434 closed

[2016-06-14 07:32] koppor commented on #1495
Refs #628: "Feature: Hierarchical Keywords"

[2016-06-14 07:52] #1482 closed

[2016-06-14 08:13] stefan-kolb commented on #1395
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-06-14 08:13] #1395 closed

[2016-06-14 08:14] simonharrer commented on #1495
Okay, this is confirmed.

A solution using like 1>A>a or something like this sounds reasonable.

A quickfix is not possible. This requires a major rework as a lot of issues are caused by this.

- the name and the keyword differ in static group
- explicit group needs to now its context always to compute the correct key (or the other classes must ensure that the correct keyword is always set which e

[2016-06-14 08:15] stefan-kolb commented on #1320
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-06-14 08:15] #1320 closed

[2016-06-14 13:28] stefan-kolb commented on #1490
@donovaly Hm, this is not really a regression bug, but #1362 never really worked as I expected it to work. Maybe you can help me to define what is actually the expected outcome:

1. A user may run the installer as Administrator by right-clicking and elevating the whole installer application.
-> Currently, the script writes a key inside HKLM\Software\JabRef which is what I expect it to do.

2. A us

[2016-06-14 19:15] melTr commented on #1482
Thanks! Works perfectly in the dev version!

[2016-06-14 20:00] mafanie opened #1499 "{ } braces in author/editor names are not treated correctly"
JabRef version 3.4 on Windows 10

Having a corporate as author (editor) and inputting it in Jabref in curly braces (as mentioned in Section 2.3.3. of the manual of the biblatex package) Jabref should recognise this and display it in the entry table accordingly.

For normal entries (forename and surname) there is already some recognition, because only the surname is shown. This should be expended t

[2016-06-14 20:56] matthiasgeiger commented on #1499
Thanks for your report!

I just confirmed that this is not working as expected. It was working in earlier versions of JabRef (might be introduced by #1282 - but have not checked it, yet).

A kind of workaround: In *Options* > *Preferences* > *Entry Table* the author display style for the entry table can be configured. Using one of the first three option "Show names unchanged" or "Show firstname la

[2016-06-14 23:02] donovaly commented on #1490
Point 1. is correct as it should be.

But if the user has Win admin privileges there is no need to elevate anything. In this case there should also be an entry HKLM\Software\JabRef. That this is not the case is what I miss. (to write in this case also HKCU\Software\JabRef is optional but in my opinion not necessary/superfluous)

If the user has no admin privileges and the installer is not run elev

[2016-06-15 06:23] stefan-kolb commented on #1490
The problem is that the installer does not behave like it is configured...

[2016-06-15 20:04] koppor opened #12666 "Add support for ORCID"
http://orcid.org/ seems to be the next cool thing to provide a unique ID for researchers. JabRef could use that to unify names.

My ORCID is http://orcid.org/0000-0001-6962-4290

[2016-06-16 07:57] AEgit opened #1500 "Rename a static group: Group entries are not updated accordingly"
JabRef-3.4dev--snapshot--2016-04-29--master--694840a
on Windows 10

If you rename a static group, the group entries are not updated accordingly. Their "group" field will still contain the old group name (and NOT the new one).

Steps to reproduce:

1. Rename a static group
2. Articles/group entries won't be updated accordingly and are still assigned to the old (obsolete) group name

(might be relat

[2016-06-17 10:20] gianlucabaldassarre opened #1502 "Newline deleted in JabRef 3.4 (but not JabRef 2.10)"
JabRef version JabRef 3.4 (not in JabRef 2.10) on Debian 8 Jessie

Steps to reproduce the problem:

1. Set JabRef so to have the field ''comment'' for the entrytype ''article''
2. Add to JabRef Options-->Set up general fields the following:
Additional-abstract:abstract
Additional-comment:comment
so you can easily read/edit the ''abstract'' and ''comment'' fields
2. Write text in the field ''commen

[2016-06-17 15:42] lenhard commented on #1502
Thanks for your detailed report!

Although I did not try to reproduce this (yet), it sounds very much like the problem originates from the [FieldContentParser](https://github.com/JabRef/jabref/blob/master/src/main/java/net/sf/jabref/logic/bibtex/FieldContentParser.java). `abstract` and `review` are the only predefined fields that allow for newline content, but you can define more in your preferenc

[2016-06-17 15:44] lenhard commented on #1502
Related: #186

[2016-06-17 19:23] giacomociani opened #1503 "Protect terms formatter not working when cleaning up entries"
JabRef version 3.4 on Windows 10 64 bit

Hi all. This may just be me non understanding how the following is supposed to work. When I run "cleanup entries" with "run field formatter" enabled and "title: protect terms", it doesn't seem to work.

Steps to reproduce:

1. open new database and create an article with an unprotected  all capital letter in the title. For example "The LIGO detector"
2. run

[2016-06-17 19:43] matthiasgeiger commented on #1503
This is more or less expected behavior. The implementation of "Protect Terms" is currently not the best as it relies on an internal list of "terms" and is not automatically detecting things to protect.

Therefore in a lot of cases the terms to protect have to be enclosed manually in curly braces.