[2018-09-01 23:06] LinusDietz commented on #4310
I guess you mean JabRef 4.3.1?

I'm not quite sure from your description what's exactly the problem. Can you maybe clarify with an annotated screenshot?

[2018-09-02 03:30] dnstarostin commented on #4310
Thank you for answering. Jabref 4.3.1. First screenshot is the application
with the Preview window text selected, then I copy and paste the selected
text (Cmd+C Cmd+V since I am on a Mac), and the second screenshot is the
contexts of the buffer which gets pasted in a text editor.

вс, 2 сент. 2018 г. в 2:06, Linus Dietz <notifications@github.com>:

[2018-09-02 06:31] dnstarostin commented on #4310
Just figured it out: Shift-Cmd-C copies the whole preview window. I have
modified the preview format to my specifications, so it all works now.
Thanl you!

вс, 2 сент. 2018 г. в 6:30, Dmitry Starostin <starostin.dmitry@gmail.com>:

[2018-09-02 09:11] #4310 closed

[2018-09-02 23:05] ngrant123 commented on #4130
Hello,
Is it okay if I work on this? I currently have made an option in the preferences box and the dark theme is implemented correctly. Im about to create a pull request and everything. I might have pushed some code accidentally sorry about that I'm new to open source contributing

[2018-09-02 23:10] ngrant123 commented on #4130
Yeah I definetly pushed some stuff to the master branch sorry about that you can delete my commit im creating a pull request rn

[2018-09-04 11:50] bernhard-kleine opened #4315 "Support for Docbook 5 export"
- [ +] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef 5.0-dev--snapshot--2018-08-24--master--f43b9c7e8
Windows 7 6.1 amd64
Java 1.8.0_181

There some tiny changes to make the exported xml compatible with docbook 5. I am most willing to provide these changes, but I do not know to whom. BTW I am impressed that the docbook export is now

[2018-09-05 10:13] bernhard-kleine commented on #4315
line 1250 is

`<td id="LC3" class="blob-code blob-code-inner js-file-line">\begin{author}     \format[CreateDocBookAuthors]{\author} \end{author}</td>`

the macro CreateDocBookAuthors is not part of the files related to docbook export. where may I find them?

[2018-09-05 11:02] bernhard-kleine commented on #4301
This I have realized in the meantime. Then there is something fishy with Jabref dealing with deletion of an open brace. The solutuion in version 4.1 was better.

[2018-09-05 11:45] bernhard-kleine commented on #4315
The other points which needed changing have been changed.
I wonder whether there is a macro that decides about one, two/three, and four and more authors and puts the name accordingly without firstnames like Kleine (2018) or Kleine und Diez (2018) or Kleine, Kleine und Diez (2018) or Kleine et al. (2018). That come very handy for the xreflabel when author-names citation is required. The "und" shoul

[2018-09-05 11:46] bernhard-kleine commented on #4315
Where to send the changed files for testing?

[2018-09-05 12:16] Siedlerchr commented on #4315
Hi, just add attach them here, we will incorporate that.
Regarding the Authors and editors, the macros used in the files refers to the function here:
It creates the xml structure with <firstname> Firstname </firstname> etc

https://github.com/JabRef/jabref/blob/8777c16a99bd83e4a30ddafc859c0c2208b68733/src/main/java/org/jabref/logic/layout/format/CreateDocBookAuthors.java

https://github.com/JabRef

[2018-09-05 13:49] bernhard-kleine commented on #4315
[docbook5export.zip](https://github.com/JabRef/jabref/files/2352993/docbook5export.zip)

I hope that will help. with the html format I was able to see the code not the organization of the page. for the formats the html commands were stripped.

[2018-09-05 13:58] bernhard-kleine commented on #4315
Would that mean that
\format[Authors(4,EtAl= et al.)]{\author}

would do the trick with the xreflabel?

[2018-09-05 14:08] bernhard-kleine commented on #4315
Tried the above method:
[docbook5export.zip](https://github.com/JabRef/jabref/files/2353070/docbook5export.zip)

[2018-09-05 16:18] Siedlerchr commented on #4315
@bernhard-kleine  You need to click on the actual file, e.g. docbook-layout and then view raw, then you can see the actual xml content.
otherwise you will only get the html stuff from github.

[2018-09-06 10:36] #4223 closed

[2018-09-06 10:36] tobiasdiez commented on #4223
This is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-09-06 11:54] JohannesTimm opened #4318 "Timerresolution and Energy Efficiency"
- [ ] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists
not yet testet the latest version, since I need to finish my thesis first

JabRef version 4.3.1 on Windows 7 x64

Steps to reproduce:

1. ...Start Jabref
2. ...run powercfg -ENERGY
3. ...result is that the global wakeup timer of Windows is reported to be lowered, which I suppose is unecessa

[2018-09-06 13:05] Siedlerchr commented on #4315
@bernhard-kleine  Thanks. I integrated your changes. Please have a look at the PR #4319. I there attached a bib file and the results of the docbook export.  You can then test the version from here:
https://builds.jabref.org/docbookfive/
Let's please move further discussion to the PR (if further changes are required)

[2018-09-06 13:07] tobiasdiez commented on #4318
Thanks for you report. Sadly, this is a [Java-intern bug](https://bugs.openjdk.java.net/browse/JDK-8164438) and currently no known workaround exist. Hence, there is nothing we can do about it from our side. Sorry.

[2018-09-06 13:07] #4318 closed

[2018-09-06 14:47] vanukkalla commented on #4235
I am not sure I understand how the bibliography is supposed to look like. Can you paste an example? I can try to modify the stylefile to match your needs. If you still have the problem.

[2018-09-06 15:25] bernhard-kleine opened #4321 "At closed Jabref remains open in the Task Manager"
- [ +] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists
JabRef 5.0-dev--snapshot--2018-09-06--docbookfive--9ea5747f1
Windows 7 6.1 amd64
Java 1.8.0_181

Steps to reproduce:

1. Shut down Jabref by right clicking the Jabref button in the taskbar, select "close window".
2. JabRef is closed.
3. Installation of another Jabref failed because it was

[2018-09-07 01:44] xiaodongcentury opened #4322 "Jabref 5.0-dev UI can't resize in Debian GNU/Linux testing (buster)"
- [ ] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef version <JabRef 5.0-dev--snapshot--2018-09-06--master--6c5bc563f> on <Debian GNU/Linux testing (buster), Linux 4.17.0-3-amd64 amd64, Java 1.8.0_181>

Steps to reproduce:

1. Open Jabref. java -jar JabRef 5.0-dev--snapshot--2018-09-06--master--6c5bc563f.
![image](https://user-images.

[2018-09-07 09:02] bernhard-kleine opened #4323 "Memory problem in Jabref"
- [ ] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef 5.0-dev--snapshot--2018-09-06--docbookfive--ee248ae75
Windows 7 6.1 amd64
Java 1.8.0_181

Steps to reproduce:

1. Open two libraries and the select one entry and open it with crtl-e in the entry editor
2. Put something (like a doi in my case) into the clipboard
3. Switch to the othe

[2018-09-07 09:35] Siedlerchr commented on #4322
Hi, it may be a problem that the correct 64bit libs are missing, after a quick google search I found this issue which refers to ubuntu but maybe it helps here as well:
https://askubuntu.com/a/769033

[2018-09-07 10:52] Siedlerchr opened #4324 "Pasting entry on the maintable in new library fails with NPE"
1. Copy an entry in the maintable
2. Create a new library
3. Paste entry to new library.

[code]

`  JComponent source = Globals.getFocusListener().getFocused();`  is null
Unfortunately I have no idea if this Focus listener is still needed with javafx and or how to fix this

[2018-09-07 14:07] xiaodongcentury commented on #4322
Thanks!
After i install "libatk-adaptor", the Gtk-Message warning is missing, so i am no longer put the screenshot.
But the second problem is persistent.
![image](https://user-images.githubusercontent.com/20276890/45223607-47b5fa80-b2ea-11e8-9084-f0f0fd069e29.png)

[2018-09-07 14:58] Siedlerchr commented on #4322
Ah yes, I can reproduce this under Windows, too. The buttons vanish on resize. I have just created a quick fix which should resolve this.

[2018-09-08 05:59] xiaodongcentury commented on #4322
Thanks , the latest version (2018-09-07) works!!!

[2018-09-08 09:56] #4322 closed

[2018-09-08 09:57] Siedlerchr commented on #4322
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-09-08 10:33] Siedlerchr commented on #4187
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2018-09-08 10:33] #4187 closed

[2018-09-08 10:51] Siedlerchr commented on #4055
I currently see no way to enable this in our installer. You need to pass the parameters to the JabRef.jar

[2018-09-08 10:51] #4055 closed

[2018-09-08 10:51] Siedlerchr commented on #4003
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2018-09-08 10:51] #4003 closed

[2018-09-08 19:30] tobiasdiez commented on #4092
The BibTeX standard seems to be that there should be a space after the dot. Hence, the check is ok like it is right now.

[2018-09-08 19:30] #4092 closed

[2018-09-08 23:15] Arbalest007 commented on #4306
Is anyone working on this one? If not can I see if I can fix it?

[2018-09-09 04:01] xiaodongcentury commented on #4323
The same phenomenon appears in JabRef 5.0-dev--snapshot--2018-09-08 (Debian GNU/Linux).
terminal reads,
![image](https://user-images.githubusercontent.com/20276890/45260803-eba2c180-b422-11e8-8c25-1d081aaf0f2f.png)
i search the error "java.lang.OutOfMemoryError: GC overhead limit exceeded", over the stackoverflow.com (https://stackoverflow.com/questions/1393486/error-java-lang-outofmemoryerror-gc-

[2018-09-09 12:48] Siedlerchr commented on #4323
Hi, Thanks for your reports, could you please try to tell when exactly the problem occurs?

If you want to debug this a bit further, you could try to use the YourKit java Profiler.
Launch JabRef, start Yourkit and attach it to the application. When the error occurs, take a Memory Snapshot and upload it somewhere for us, so we can analyze it in detail.
You can send the link to developers@jabref.org

[2018-09-09 21:15] noMICROSOFTbuhtz commented on #4269
But I don't need bibtex compatibility because I setup BibLaTeX als default bib format.

[2018-09-09 21:48] tobiasdiez commented on #4269
I'll also find these two fields unnecessary. By default, the journal field should be shown only when it is not empty (similarly for `month` and the other old fields). If someone really wants to use Biblatex in Bibtex compatibility mode, then she can still edit the shown fields..

[2018-09-10 10:28] xiaodongcentury commented on #4323
Thanks your advice, i try the latest version (JabRef 5.0-dev--snapshot--2018-09-09--master--4c7194a39), and the error is gone. Now everything looks fine, though the RSS is higher, or maybe just my opinon (BTW, i have 2000+ entries in my JabRef.).
Here is the task manage screen shot:
![image](https://user-images.githubusercontent.com/20276890/45289905-dad87580-b520-11e8-9115-364836a5ca98.png)
Oh, N

[2018-09-10 11:48] Siedlerchr opened #4328 "Fallback Exception Handler (Uncaught Exceptions for Threads) hides real origin of error"
When you remove the Handler, the whole stack trace is printed and reveals the origin.
The log4j2.xml needs probably be adapted  but I couldn't get it work.
https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout

[code]

[2018-09-10 11:54] Siedlerchr commented on #4323
Hi, I found an error when opening a new library, which could be the problem here as well. I fixed it as part of another PR. https://builds.jabref.org/storeColumnSortOrder/
It seems like that on the Threading Error JabRef consumes all memory until it runs out of it. could be unix related, because on Windows the memory stays constant even when JabRef freezes

[2018-09-10 13:26] xiaodongcentury commented on #4323
Thanks! Now i'll try the stable version, JabRef 4.3.1, it seems like fine.
![image](https://user-images.githubusercontent.com/20276890/45299960-b0e27b80-b53f-11e8-988b-443cd3ad4464.png)
though the RSS is more higher, maybe.

[2018-09-10 20:59] bockel opened #4329 "Office Export Regression in 4.3.1, master"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef version 4.3.1 and 5.0-dev--snapshot--2018-09-09--master--4c7194a39 on Windows 10
Microsoft Word 1803 (Microsoft Office 365)

Regression of #1497 in the latest JabRef release

Steps to reproduce:

1. Use an institute as an author, e.g.

[code]

2. Export to MS Word 2007 xml
3. Try to

[2018-09-11 00:58] xiaodongcentury commented on #4323
I'm sorry, man, the https://builds.jabref.org/storeColumnSortOrder/ version doesn't work. I cann't make the JabRef version screenshot( through "Option" > "About") in that the JabRef is freezed. Here's the terminal reads:
![image](https://user-images.githubusercontent.com/20276890/45331949-604f3a80-b5a0-11e8-80f0-40351f18fb7d.png)
![image](https://user-images.githubusercontent.com/20276890/45331972

[2018-09-11 08:52] tobiasdiez commented on #4306
@Arbalest007 Feel free to work on this issue! Also have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and feel free to drop by in our [developer chat](https://gitter.im/JabRef/jabref) if you have questions!

For this issue, have a look at org.jabref.logic.externalfiles.LinkedFileHandler, which provides the method `getSuggestedFileName` that gives

[2018-09-11 08:53] ilippert opened #4330 "pressing enter does not react to latest interaction"
JabRef 5.0-dev--snapshot--2018-09-09--master--4c7194a39
Linux 4.17.19-200.fc28.x86_64 amd64
Java 1.8.0_172

1) I used web search and found & imported item. works.
2) I enter a search term in the top search field to search my entry table.
3) I press enter - and then the web search is activated, rather than the table search.

[2018-09-11 08:55] #4307 closed

[2018-09-11 10:32] dliessi commented on #725
I have this issue again with the following versions:
[code]

[2018-09-11 15:28] nilsfortheinternet opened #4331 "Jabref hangs when clicking on Optional fields Tab"
I'm not familiar to bug reports, but I'll try my best. Unfortunately Jabref runs very unstable on my system. One error I can reproduce is when I click on the Optional fields Tab of the entry in the attached database, CPU load goes to max and the whole system does not react on mouse clicks anymore. It reacts on keyboard strokes though.

- [ x] I have tested the latest master version from http://bui

[2018-09-11 16:02] Siedlerchr commented on #4331
Hi, this is a bug which I noticed and which  will be fixed with #4327

[2018-09-11 17:27] orxshi opened #4332 "JabRef stops responding for x64 Windows"
I used JabRef-5.0 on Ubuntu and x32 Windows 7 with no problem. But on x64 Windows 10, JabRef-5.0 keeps crashing after doing some operations such as paste a bibtex or remove an entry from a group. My java version is up to date (1.8.0_181). To note, JabRef-4.0 was working OK on the same x64 Windows. I tried the jar as well and below is the output.

[2018-09-11 18:45] Arbalest007 commented on #4306
Awesome @tobiasdiez! I'll get to work on it,

[2018-09-11 22:15] #4330 closed

[2018-09-12 07:46] noMICROSOFTbuhtz commented on #4239
YFI This problem exists in current dev-snapshot (5.*).

[2018-09-12 07:51] noMICROSOFTbuhtz commented on #4221
I updated the first post with more details because I did some tests with the dev version.

[2018-09-12 07:53] noMICROSOFTbuhtz commented on #4220
Take it like this: The tree structure in JabRef represtent the think-ways in the brain of a user. Each user is individual as a person, individual in the use-cases and comes from different scientific areas.
For my brian it is absolutly important to see with first view a difference between real groups and dynamic-keyword-groups. ;)

[2018-09-12 07:57] noMICROSOFTbuhtz commented on #2419
Part of the problem is fixed in 5.* dev version. All strings (in english and german) are completly fit to the dialog.

But the dialog itself is not resizable.

[2018-09-12 07:58] noMICROSOFTbuhtz commented on #4238
Yes it is fixed. Thanks.

[2018-09-12 08:34] tobiasdiez commented on #4220
Thanks for the follow-up. I understand that some users (or their brains) find the distinction between dynamic and static groups helpful. However, for most users such a distinction is not helpful and/or they don't understand it (e.g. previously dynamic groups were displayed in italics but this is everything than self-explanatory). Moreover, in my opinion, it is not worth the hassle to add a prefere

[2018-09-12 08:34] #4220 closed

[2018-09-12 08:44] Siedlerchr commented on #2419
The dialog needs to be converted to javafx as well. Tracked in #3861

[2018-09-12 10:37] Siedlerchr commented on #4239
We are aware of that.
I already tried to look at that. but it's not that easy from a technical point of view as the row is automatically selected when you click somewhere on that unfold icon.
Probably one has to add a change listener somewhere and reselect the old row.

[2018-09-12 18:16] #4324 closed

[2018-09-12 21:05] noMICROSOFTbuhtz opened #4339 "& character in GUI strings"
In the current dev (5.*) version on Win10 there are an `&` character in some of the GUI elements (e.g. menu entries).

I open this Issue because on that [forum thread](discourse.jabref.org/t/zeichen-in-5-gui).

[2018-09-12 21:12] noMICROSOFTbuhtz commented on #4220
"color scheme"? Can you explain that?

[2018-09-12 21:51] tobiasdiez commented on #4220
When you edit a group, you can specify a color of the icon (e.g. 0x5eba7dff gives green, see https://www.w3schools.com/colors/colors_hexadecimal.asp?color=5eba7dff). By using colors consistently for dynamic vs static groups you get a color-coded representation of this distinction.

[2018-09-13 09:47] #4222 closed

[2018-09-13 09:50] #4329 closed

[2018-09-13 10:01] tobiasdiez commented on #4222
Thanks to @razvan05, this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-09-13 11:51] #3850 closed

[2018-09-13 11:53] Siedlerchr commented on #3850
This issue is now fixed in the latest master version. Note, the sort order of the table is now stored directly on change. Multiple columns can be sorted by holding SHIFT + clicking on the column header.
The table sort order in the preferences got removed.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember

[2018-09-13 11:54] Siedlerchr commented on #4224
This issue is now fixed in the latest master version. Note, the sort order of the  main table is now stored directly on change. Multiple columns can be sorted by holding SHIFT + clicking on the column header.
The table sort order option in the preferences got removed.

[2018-09-13 11:54] tobiasdiez commented on #3832
This kind of marking was completely removed from the maintable in the current development version and hence this issue can be closed.

[2018-09-13 11:54] #3832 closed

[2018-09-13 11:56] Siedlerchr commented on #4323
@xiaodongcentury  Could you please test again with the latest master version?
https://builds.jabref.org/master/
And then please try to call with the following options:
java -XX:+UseG1GC -XX:+UseStringDeduplication -XX:StringTableSize=1000003 -jar JabRef.jar

[2018-09-13 11:57] Siedlerchr commented on #4331
Hi,
could you please test with the latest master version from here?  http://builds.jabref.org/master/

[2018-09-13 11:59] tobiasdiez commented on #4332
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-09-13 11:59] #4332 closed

[2018-09-13 12:31] Siedlerchr commented on #4321
I could not reproduce this. Windows 10. It might take some time until all threads are stopped. But generally it works.

[2018-09-13 13:09] xiaodongcentury commented on #4323
no problem. I'll try it.
After i download the latest master version (2018-09-13), then java -jar xxxx.jar. At first, it seems like normal. Later, my debian OS freeze, ALL apps freeze, chromium, evince document viewer, task manager, terminal, emacs freeze. So, there is NO screenshot, and i manually shutdown debian OS.

[2018-09-13 13:12] nilsfortheinternet commented on #4331
Hi,

I just downloaded the Jar --master-latest and tried the same on the entry from the sample database provided. The cpu still goes to 100% but the mouse still works. I then killed the application after few seconds.
There is no special error in the terminal given. Is there a verbose mode to get more info about the error?

Thank you for your quick effort.

[2018-09-13 14:07] xiaodongcentury commented on #4323
Once i reboot my OS, java -jar xxxx.jar (2018-09-13). Task manager reads: CPU, 100%,
![screenshot_2018-09-13_21-18-19](https://user-images.githubusercontent.com/20276890/45491831-475fa880-b79d-11e8-917f-72b4d57d9954.png)
So i kill Jabref.
Then try your given options, and the JabRef (2018-09-13) freezes, the same phenomenon as above, though the CPU is about 25%.
![screenshot_2018-09-13_21-27-17](ht

[2018-09-13 14:38] Siedlerchr commented on #4331
Try to run with` java -Djavafx.embed.singleThread=true -jar JabRef.jar `

[2018-09-13 14:39] Siedlerchr commented on #4323
Hi, I recently had the same problem with  it and found that this switch helps:
`java -Djavafx.embed.singleThread=true DesktopBug `

[2018-09-13 15:14] xiaodongcentury commented on #4323
OK, Thanks, I'll try your suggestion.

[2018-09-13 16:44] tb77phd opened #4342 "Finding files with non-alphabetical characters in title"
JabRef version 4.3.1 on Windows 10 64-bit (I don't have administrative rights to install developer snapshots, e.g. version 5.0)

I like to use regular expression search when linking local files and use the following:
**/.*[title].*\\.[extension]

As far as I know, that should search in the directory and subdirectories of the main file directory for files that contain the title and the proper exten

[2018-09-13 19:37] tobiasdiez commented on #4143
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-09-13 19:37] #4143 closed

[2018-09-13 19:39] tobiasdiez commented on #3672
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-09-13 19:39] #3672 closed

[2018-09-13 19:40] tobiasdiez commented on #4173
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-09-13 19:40] #4173 closed

[2018-09-13 19:44] tobiasdiez commented on #3924
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2018-09-13 19:44] #3924 closed

[2018-09-13 19:49] tobiasdiez commented on #2366
I think this can be closed now as I don't see anybody working on this in the foreseeable future.

[2018-09-13 19:49] #2366 closed

[2018-09-14 13:03] miderleta commented on #482
Is this issue resolved? If not, can I have a go at it?

[2018-09-14 13:15] bernhard-kleine commented on #4323
I have tested the master snapshot of yesterday. And I encounter memory problems by a very small excerpt of my database which is included. I suspected an error with unescaped % signs in the abstract, but when I escaped the strange behavior remained. I click on all entry in the file and nothing strange happened. Then I clicked on the entry NS86
 and suddenly the RAM for Jabref goes from about 350.00

[2018-09-14 13:48] tobiasdiez commented on #482
@miderleta Sure go ahead, this issue is still open!
<img width="455" alt="annotation" src="https://user-images.githubusercontent.com/5037600/45553974-96f1b300-b835-11e8-8068-e163dd71d1ae.png">
When you are at it, it would be nice if you could replace the "install4j" text by "JabRef".

[2018-09-14 13:52] bernhard-kleine commented on #4323
after I let run java for a prolonged time I can no longer restart jabref 5dev since
java.lang.ClassNotFoundException: org.jabref.JabRefMain
	at java.net.URLClassLoader.findClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	at sun.misc.Launcher$AppClassLoader.loadClass(Unknown Source)
	at java.lang.ClassLoader.loadClass(Unknown Source)
	at com.exe4j.runtime.LauncherEngine.la

[2018-09-14 14:01] tobiasdiez commented on #4323
Thanks @bernhard-kleine. This narrows down the problem. In fact,
[code]
leads to the freeze while
[code]
works fine (I just added dots after the first name initials). Moreover, removing the last dot in the working example also results in the freeze. Hence, I guess our integrity checks are the reason for the problem.

[2018-09-14 19:49] bernhard-kleine opened #4343 "The cleaning of non-Bibtex conforming has an unnecessary additional step."
I have used earlier 4.1 to make authors/editors conform to Bibtex standards. It is at the moment not possible to do so with the latest dev version since that chokes on missing dots in the author field

- [ ] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JJabRef 4.1
Windows 7 6.1 amd64
Java 1.8.0_181

Steps to reproduce:

1. Open Jabref 4.1

[2018-09-14 20:13] bernhard-kleine commented on #4343
I noticed also the \~n (for ñ ) is not recognized as a valid latex command.

[2018-09-14 20:41] Siedlerchr commented on #4343
Normally that should be also reachable via Quality Cleanup.

[2018-09-14 21:18] tb77phd commented on #4343
I tried this in 4.3.1 and the issue is there, too. Normalizing once does indeed add an extra space after adding a dot, so one has to do the normalization a second time.

[2018-09-14 22:09] noMICROSOFTbuhtz commented on #4220
I can specify the color by rgb hex value? This is far away from being ergonomic. I am the user - not a machine.

This is a design-bug. If you offer the freedom to choose color then offer also a color chooser. There is on step missing. So step back (delete the color field) or forward (color picker).

But this wouldn't solve my problem. I don't want to setup the color for each keyword-group again an

[2018-09-15 03:29] dnstarostin opened #4344 "Jabref 4.3.1 Bibtex key generation on Cmd-G (OsX) does not insert ':' between last name and date despite setting"
Cmd-G or Cmd-S on Jabref for OsX generate key without the ':' despite it being set in Options/Preferences/Bibtex key generator.

[2018-09-15 06:49] tobiasdiez commented on #4343
Whats the difference between the second and third version of the example string?

[2018-09-15 07:05] Siedlerchr commented on #4220
Pleas be patient. We are all working in our free time on JabRef. The edit and add group dialog will be redesigned when converted to JavaFX. There is already an issue with some ideas how it might look like. Feel free to add your ideas https://github.com/JabRef/jabref/issues/2630

[2018-09-15 07:54] bernhard-kleine commented on #4343
In the second version there are a couple of double spaces which are removed in the third version. Unfortunately this double spaces are removed html of this page, even they are marked as code. Maybe you could raise a complain to the webmaster.

[2018-09-15 12:00] noMICROSOFTbuhtz commented on #4220
Please stop discussing ressources here. Issues are not about that.
An Issue/BugReport/FeatureRequest is only to find a solution or to document if the core developers would accept patches for something.

An Issue is **NOT**: Fix this now!

Because fo #2630 I would say this is an Issue. Just connect it to #2630 and leave it open to prevent other users open an Issue for the same topic again. Thats al

[2018-09-15 12:00] noMICROSOFTbuhtz commented on #4220
#2630

[2018-09-15 15:58] omkarnix commented on #4287
As a first timer, can I pick this issue if nobody is working on it?

[2018-09-15 16:28] ph0boss commented on #4235
Here is an example. These are the requirements for publishing in Russia, Belarus and somewhere else, don't remember exactly (I'm from Belarus).

Willemze R. WHO-EORTC classification for cutaneous lymphomas / R. Willemze // Blood. – 2005. – Vol. 105. – № 10. – P. 3768-3785.

[2018-09-15 16:39] ph0boss commented on #4235
The citation in the above example should look like this:

M.S. van Kester. A Meta-Analysis of Gene Expression Data Identifies a Molecular Signature Characteristic for Tumor-Stage Mycosis Fungoides / M.S. van Kester **[et al.]** // Journal of Investigative Dermatology. – 2012. – Vol. 132. – № 8. – P. 2050-2059.

There should be an et.al. string according to the style, but it is ignored. It the auth

[2018-09-15 16:56] Siedlerchr commented on #4287
@omkarnix  Sure, go ahead!

[2018-09-15 18:04] bernhard-kleine opened #4345 "Pubmed import should have quality check multiple times."
When I imported from Medline today (PMID: 30096135) Jabref immediately went into decline. I know that the problem is related to #4323, but that problem resolved, I would argue that an import into Jabref should be cleaned in any possible way. If the author list is not bibtex conform, please make it so. When there is a standard like Bibtex, we should keep to that and not letting anything to deviate

[2018-09-16 12:59] murattasdemir opened #4347 "JabRef hangs on macOS High Sierra, and adding localhost to "hosts" file doesn't solve it"
Every time do the following JabRef freezes, and I have to force quit:

* Open a file using File/Open from the menu.
* Open Help/About and then close it.
* Open preferences/external applications/vim/browse.

I have tried standalone java version as well. I happened again. It also happens with version 4.3.0.

BTW, the solution in the FAQ did not worked.

My JabRef version info:
JabRef: JabRef 4.3.1
O

[2018-09-16 21:43] tobiasdiez commented on #4323
I debugged it and traced the problem to impl.org.controlsfx.ImplUtils#injectAsRootPane. For whatever reason, I cannot however step trough this method since the source code shown in the IDE is different from the bytecode. @Siedlerchr can you try to debug it and see where it freezes exactly?

[2018-09-17 00:48] antesaj commented on #4308
Is it necessary for `loadExternalFiles()` within StyleLoader.java (org.jabref.logic.openoffice) to check for validity? Styles are checked for validity prior to being placed into **externalStyles** i.e. `addStyleIfValid(String filename)`.

External styles are set after each addition in `storeExternalStyles()` which sets the external styles list within an instance of OpenOfficePreferences.

Where in

[2018-09-17 06:06] Siedlerchr commented on #4308
@antesaj  Thanks for your interest, but this is kind of fixed now as I am reworking the whole dialog to javafx and fixed that issue #4341

[2018-09-17 08:39] vanukkalla commented on #4235
Check, whether this style-file works for you. Right now, it will only display 1 author for the main author list (after the title) and I defined the [et al.] not as et al string but to be inserted after the authors.

NAME
Belarus

JOURNALS
Belarus Journals

PROPERTIES
Title="Used Literature."
IsSortByPosition="true"
IsNumberEntries="true"
ReferenceParagraphFormat="Text body"
ReferenceHeaderParagrap

[2018-09-17 13:11] vanukkalla commented on #4235
here the jstyle file.

[belarus.modify.zip](https://github.com/JabRef/jabref/files/2388651/belarus.modify.zip)

[2018-09-17 13:47] antesaj commented on #4308
Got it, great. Well I had fun looking into it anyway xD.

[2018-09-17 13:59] Siedlerchr commented on #4323
@tobiasdiez  I could trace it down to this line:
[code]

which then seems to create the hanging:
When I then pause the thread I get the following stacktrace:
However, I can then debug through it fine.
Interestingly it has no effect if I have the group pane open or not.

[code]

[2018-09-17 14:52] Siedlerchr commented on #4308
There are a couple of other issues that need investigation. Maybe you could take a look at them?

[2018-09-17 14:55] erelsgl opened #4348 "JabRef hangs when trying to merge entries"
- [ X ] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef 5.0-dev--snapshot--2018-09-13--master--e83680f18
Linux 4.4.0-135-generic amd64
Java 1.8.0_181

Steps to reproduce:

1. Click on two entries
2. Right-click and choose "Merge entries".

The merge window is shown, and JabRef is frozen - it must be killed from the command line.
There

[2018-09-17 16:43] antesaj commented on #4308
Yes, of course. I've been looking for a good open source Java project to get involved with. I'll browse through the issues; any in particular you have in mind?

[2018-09-17 19:16] Siedlerchr commented on #4272
MsOffice is resolved.
ModsExporter needs to be checked again

[2018-09-18 03:20] jkathir opened #4349 "Full Text Search Feature"
Can you please kindly consider the following suggestions for JabRef ?

1. type ahead search,
2. number of hits
3. auto-complete suggestion
4. faster search when we have 5,00,000 pages or contents being saved
5. easy navigation between the next hit found
6. preview of the text with paragraph
7. highlight the entered keyword in the page which is being saved

[2018-09-18 08:20] #4323 closed

[2018-09-18 08:20] #4294 closed

[2018-09-18 08:45] Siedlerchr commented on #4323
I can confirm that the latest development version with the fix from @tobiasdiez  now works fine! the memory footprint is much lower now and no more freezes in entry editor.

[2018-09-18 08:53] Siedlerchr opened #4352 "New Saving implementation causes Exception"
Create a new biblatex lib
add an entry
add an author
hit repeatedly ctrl+s

[code]

[2018-09-18 09:02] bernhard-kleine commented on #4323
I confirm that the import reported in #4345 is now flawlessly.
Thanks a lot!

[2018-09-18 09:17] Siedlerchr commented on #4344
Another issue I just noticed: Corporate authors are ignored as well. e.g. {JabRef} and date 2018 becomes only 2018.
Mabye related to #4152

[2018-09-18 09:31] Siedlerchr opened #4353 "Add Generate BibtexKeys to Toolbar"
That's one of the things I miss in the new redesigned toolbar.

[2018-09-18 09:33] Siedlerchr commented on #4347
Please try again with the latest development version. Howev,er it is recommended to create a backup of your db. https://builds.jabref.org/master/

[2018-09-18 12:41] tobiasdiez commented on #4353
I also miss this since my brain is trained to search for the icon in the toolbar. However, the button next to the bibtexkey field is much more intuitive and the space in the toolbar limited. I would hence vote to close it.

[2018-09-18 13:26] Siedlerchr commented on #4353
I now tend to use the shortcut ctrl + g on all selected entries. So

[2018-09-18 13:26] #4353 closed

[2018-09-18 14:38] murattasdemir commented on #4347
It works. Thank you. I like the new interface better.

[2018-09-18 14:38] #4347 closed

[2018-09-18 15:02] tb77phd commented on #4342
Okay, after a bit more playing around, it seems that a regular dash is a character that makes F7 fail. In fact, it seems character in the title (in the file name) that are not regular letters makes F7 fail.
__________
Example 1
File: **BEEMAN & PINCUS - PHYS REV 1968 - Nuclear Spin-Lattice Relaxation in Magnetic Insulators.pdf**

Title in JabRef:
**Nuclear Spin-Lattice Relaxation in Magnetic Insul

[2018-09-19 07:31] Siedlerchr commented on #4347
@murattasdemir  Please report any issue you encouter with the development version. This is important for us.
You can find all older builds here: https://github.com/JabRef/jabref/releases

[2018-09-19 08:39] tobiasdiez commented on #4288
Thanks to @Songyu-Wang, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-09-19 08:39] #4288 closed

[2018-09-19 13:48] davidcbenson commented on #725
I hope this is additional information. I am unsure if this is the same problem, but it seems to be. After customizing entries, optional fields will remain available for a single session. If the program closes for any reason, the optional field resets completely to a single optional field, and *returns to the original order*.

I have tried saving, applying then saving, and saving preferences to res

[2018-09-19 16:09] domhardt commented on #3889
All 4.x and development versions of 5 are unusable on MacOS 10.13.6 (fresh install) with Oracle JDK 8. Here are some logs:

**Java Version**
`$ java -version
java version "1.8.0_181"
Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)`

**Latest "stable" version of JabRef**
`$ java -jar JabRef-4.3.1.jar`
starts up with some errors

[2018-09-19 16:43] nilsfortheinternet commented on #4331
I just downloaded the latest version, and this specific error did not occur anymore. Thanks.

[2018-09-19 16:43] #4331 closed

[2018-09-19 17:56] Siedlerchr commented on #3889
Please try restoring the fonts in the Font Book application Apparently this should help https://stackoverflow.com/a/35901263/3450689

[2018-09-21 13:18] ilippert opened #4356 "adding file to file field - automatically asking what to do?"
I believe in some more or less distance past, it was possible to drag and drop a file onto the entry editor's file field and then jabref automatically asked what to do with the file, e.g. automatically rename and store the file in the preferred folder (#4166).
would be amazing if this, too, worked again ;)

[2018-09-21 14:42] Siedlerchr commented on #4356
We reworked drag and drop completely. If you drop directly on the file field the file will be just linked.
If you drop it elsewhere on the entry editor or preview panel it will be renamed and moved to the file directory.
If you drop on maintable, JabRef tries to create an entry and asks what to do

[2018-09-21 15:59] tobiasdiez commented on #4356
Its somewhat strange that drop on file field is different from a drop on the rest of the entry editor. I think, this should be aligned (i.e. always rename + move + link).

[2018-09-21 16:19] tb77phd commented on #4356
I agree with the alignment but not that it must always rename+move+link. I, for one, prefer to keep my files the way I have already named them and in the subfolders they are already in. It could be a Preference choice:

"When dropping a file on the entry editor, do you wish to ...
a) only link (i.e., keep the file where it is and with its original name)
b) rename and keep in location
c) rename+mov

[2018-09-21 17:01] Siedlerchr commented on #4356
So in fact we restore the dialog asking what to do

[2018-09-21 17:43] jonasstein commented on #3703
Which binary of jabref introduced the non free library first? We have to adjust the license settings in distributions. Please update the wrong LICENSE file according to the real license until it is fixed.
Please inform distributions next time you recognize that your license information was wrong.

[2018-09-21 18:16] Siedlerchr commented on #3703
@jonasstein  It was an external dependency. See above.
I see there is now https://github.com/OpenUnirest/unirest-java
It also uses org.json, but it seems to be under active developmend. so they could replace it with openjson I hope.

[2018-09-21 18:29] tb77phd commented on #4342
I did by removing it and then retyping with the regular dash. No change. F7 only linked when I removed the dash completely. And in my second example, there is no dash in the title, but parentheses.

[2018-09-21 18:35] Siedlerchr commented on #4356
Okay, will think about t his:
In the meantime we have the following options also avaiable:

Holding Shift  and dragging or directly dropping without key on windows ->  move + rename + link
Holding alt key on windows -> link file to entry, keep in location
Holding ctrl on windows -> copy files to file dir + link to entry

The modifiers are the system ones for MOVE, LINK, and COPY. They are system d

[2018-09-21 19:15] jonasstein commented on #3703
Excuse me, if I misunderstand your reply. As far I could see you provide a jabref JAR which includes the non free org.json library.

[2018-09-21 20:49] tobiasdiez commented on #4356
A preference option for the default action is a good idea in my opinion. Thanks @tb77phd for the suggestion.

[2018-09-23 11:33] GongSiqiu opened #4357 "software stucks when choose browse in Find unlinked files"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef version  on Ubuntu 18.04

JabRef 5.0-dev--snapshot--2018-09-19--master--d8f6c5cec
Linux 4.15.18-041518-generic amd64
Java 1.8.0_181

Steps to reproduce:

1. Quality
2. Find unlinked files
3. browse
Then it will stuck. I can move the mouse, switch to other software, but whatever I do

[2018-09-24 12:30] teertinker commented on #4087
Hey,
I am using Jabref 4.3.1 and the problem still exists. As described, it appears only when I use the copy option.

JabRef 4.3.1
Ubuntu 14.04
Linux 4.4.0-131-generic amd64
Java 1.8.0_181

[2018-09-24 13:40] Siedlerchr commented on #4087
@teertinker  Please use the latest development version 5.x http://builds.jabref.org/master/

[2018-09-24 18:29] tb77phd commented on #4342
I installed the 5.0-dev--snapshot on my personal computer (also Win10-64) and repeated the process. Same thing happens. F7 can't find the file unless I remove the dash (or the parentheses in my second example).

[2018-09-26 10:11] akosthekiss opened #4359 "i-acute not handled / displayed correctly"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef 5.0-dev--snapshot--2018-09-25--master--2f433d2a6
Mac OS X 10.13.6 x86_64
Java 1.8.0_181

Steps to reproduce:

I-acute (í) can be written in multiple ways: `\'\i ` (note the space after i), `\'\i{}`, `{\'\i}`, or `\'{\i}`. Unfortunately, none of these forms display correctly either i

[2018-09-26 11:21] noMICROSOFTbuhtz opened #4360 "5-dev GUI: transposed "new entry" and "new article""
This is about the latest dev-version (from 25th Sept. 2018) on Win x64.

In the right toolbar the first button/symbol is explained (by tooltip) as "New entry".
When clicking on it a new **Article** is created and the field editor of it opens.

What I would expect is the real "New entry" behaviour, when using the menu "Library -> New Entry".
This opens an extra dialog where I can select a entry typ

[2018-09-27 20:34] homocomputeris commented on #2594
Maybe now it is more reasonable to transfer to [Java 11 LTS](https://www.oracle.com/technetwork/java/javase/eol-135779.html)?

[2018-09-30 04:02] shahamish150294 commented on #4356
If anybody is not looking into this, can I take this issue?

[2018-09-30 22:10] techdude1996 opened #4362 "Unable to run JabRef 4.3.1 on Linux with Open JDK8"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef version 4.3.1 on Ubuntu 18.04.1 LTS

Steps to reproduce:
1. `java -jar JabRef.jar`

<details>
  <summary>Log File</summary>

[code]
</details>

Java version:
[code]
The previous version I had worked (3.8.2).

[2018-10-02 16:01] Siedlerchr commented on #4356
@shahamish150294  Sure go ahead. as starting point you can look at the EntryEditor and in the LinkedFilesEditor. The methods which handle DragAndDrop are all similiar:
` this.setOnDragDropped(event -> {  ........ }`

[2018-10-02 17:22] bernhard-kleine commented on #4303
Even with the latest update from today, Jabfox is not working

![grafik](https://user-images.githubusercontent.com/9216487/46365113-03fbaa00-c678-11e8-813c-d9075b7deb85.png)

Jabfox is below the ... but when you want to click it, it is bleached and nothing happens when clicked.
The jabref.json is correctly in the jabref5 directory and the

has the correct value.

JabRef 5.0-dev--snapshot--2018-10-

[2018-10-02 18:31] Siedlerchr commented on #4117
We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-02 18:33] Siedlerchr commented on #4171
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-02 18:33] #4171 closed

[2018-10-02 18:33] Siedlerchr commented on #4168
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-02 18:33] #4168 closed

[2018-10-03 20:34] tb77phd commented on #4342
Out of curiosity, I tested to instead link using the bibtexkey, i.e., using **/.[bibtexkey].\.[extension] as the regular expression. I chose to invoke dashes in my bibtexkeys so the examples above got the key Beeman-PR-1968 and I also renamed the local pdf file to this (Beeman-PR-1968.pdf).

No issue in finding the file this time when invoking "Automatically set file links" (F7) even though it con

[2018-10-08 06:03] dhananjaya2007 commented on #2016
If no one is working on this issue, may I fix it? Thanks

[2018-10-09 04:57] dhananjaya2007 commented on #2016
` -f,--fetch <SearchTerm>             Run fetcher with a SearchTerm, e.g.
                                                      "--fetch=Medline:cancer"
`
Is this format ok?

[2018-10-09 15:28] arnyeinstein opened #4364 "Problems with changing the preference for the automated generated key"
Hi

JabRef version_ JabRef 5.0-dev--snapshot--2018-10-09--master--29838ee59
Windows 10 10.0 amd64
Java 1.8.0_172

Steps to reproduce:

1. In Preferences I changed the default pattern to [auth.etal][year]
2. If I generate a key, I get Nathani.etal2011 instead of NathaniEtAl2011
3. If I then reset the default pattern, generated keys still have the form Nathani.etal2011.

The log
Opening: D:\Dropbox\

[2018-10-09 16:10] wujastyk opened #4365 ""copy preview" included unwanted HTML codes"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef version
JabRef 5.0-dev--snapshot--2018-10-09--master--29838ee59
Linux 4.15.0-36-generic amd64
Java 1.8.0_181

Steps to reproduce:

1. select an entry
2. display preview (alt+2)
3. copy preview (ctrl+shft+C)
4. paste preview

The result is tagged with HTML tags.  In most situations,

[2018-10-09 16:46] tb77phd commented on #4365
It doesn't do this in all cases:

Clicking Edit -> Copy preview from the menu and then pasting gives **no HTML tags**.

Typing Ctrl+Shift+C and then pasting gives **no HTML tags**.

_Right-clicking_ in the preview window and then pasting does indeed give **HTML tags**.

I agree, HTML tags are not one usually wants when pasting information.

[2018-10-09 18:05] tobiasdiez commented on #2630
Since this dialog is now converted to JavaFX, there is no real urge to redesign it (PRs in this direction are of course welcome).

[2018-10-09 18:05] #2630 closed

[2018-10-09 18:44] wujastyk commented on #4365
I've just eagerly tested what you say, hoping for a nice workaround, but

   - clicking Edit -> Copy preview from the menu and
   - typing Ctrl+Shift+C and then pasting

both *do give HTML tags*, on my system.  There's no way on my system to
avoid the HTML tags.  :-(

Using today's release:

JabRef 5.0-dev--snapshot--2018-10-09--master--29838ee59
Linux 4.15.0-36-generic amd64
Java 1.8.0_181

On Tu

[2018-10-09 18:55] tobiasdiez commented on #4349
Thanks for your suggestions! However, this issue tracker is for keeping track of bugs and smaller suggestions for improvement. Your ideas are bigger feature requests and better fall in the scope of the [feature section of our discussion forum](http://discourse.jabref.org/c/features). Please open a new thread there, one for each feature suggestion (and please provide a bit more details about your i

[2018-10-09 18:55] #4349 closed

[2018-10-10 16:35] tb77phd commented on #4365
I see. Either a version issue or a system issue, probably. I am using JabRef 4.3.1 on a Windows 10-64bit.

[2018-10-10 18:03] wujastyk commented on #4365
Aha, yes, with 4.3.1 I get the same behaviour as you.

On Wed, 10 Oct 2018 at 10:35, tb77phd <notifications@github.com> wrote:

[2018-10-12 10:52] Ali96kz commented on #4130
Is there any way to change theme now?

[2018-10-12 14:04] stefanct commented on #3038
I had some very similar issues in 4.3.1 but can't reproduce them easily right now - thus I'll just leave this comment here instead of opening another issue - sorry.

[2018-10-12 16:53] tobiasdiez commented on #4357
Ahh damn. I started yesterday to convert the dialog to JavaFX in order to fix this issue. Sorry @NorwayMaple for not letting you know. My bad 😞 I hope you didn't invest to much time into debugging this issue.

[2018-10-12 18:19] NorwayMaple commented on #4357
That's fine!  I can find another issue, and I didn't spend a lot of time.

Was I right that the problem stemmed from incompatibility between Swing and JavaFX?

[2018-10-13 12:32] omkarnix commented on #4287
@Siedlerchr
Also, can we use some open source tool like SonarCube to find code coverage and start adding the tests suggested by the tool?

[2018-10-13 13:34] Siedlerchr commented on #4287
@omkarnix  Well, just look at the list of open issues. While many of them are related to the GUI transformation from swing to JavaFx,  there are also some non GUI issues.
One important issue is the check for multipe instances of JabRf: https://github.com/JabRef/jabref/issues/4023

 We have code coverage reports enabled here as well, but the statistics are irrelevant as the most important things ar

[2018-10-14 07:51] tobiasdiez commented on #4287
@omkarnix most of the issues tagged with code quality, fetcher or import/export are mostly concerned with the backend:
https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3Acode-quality
https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3Afetcher
https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3Aimport
https://github.com/JabRef/jabref/labels/

[2018-10-14 15:23] DOFfactory opened #4370 "Jabref Stars"
It would be great if the **stars** would be consistent with the stars in the table headings.

Another issue is with the **read status**, the colours of which are almost invisible, if the item is selected

![jabref_stars](https://user-images.githubusercontent.com/10846169/46918727-cda61f00-cfd5-11e8-95be-1bee41008897.png)

[2018-10-14 15:39] DOFfactory opened #4371 "Font choice and Row Spacing for entry table"
I try to use JabRef on a 4K screen and to be honest, I have big difficulties with overviewing my 1000+ entry table. The issues:

1. **The font of the entry table is very light** - it looks nice but it does not enhance readability. At least not on a 4k screen. *Solution:* Please provide a possibility to change the font typeface. Even better solution: It would be great to provide additional highligh

[2018-10-14 15:55] tobiasdiez commented on #4370
That's sadly not possible at the moment, because the library that we use for the stars in the main table does not allow for customization. Depends on https://bitbucket.org/controlsfx/controlsfx/pull-requests/685/make-rating-star-node-accessible-for/diff.

[2018-10-14 16:17] DOFfactory commented on #4370
What about changing the library for the needs of JabRef or using some other solution? No other solution possible for fixing this?

[2018-10-14 21:42] tobiasdiez commented on #4272
The tests are now fixed thanks to @NivedhaSunderraj.

[2018-10-15 06:32] Siedlerchr commented on #4272
@NivedhaSunderraj  Which ones are still failing?

[2018-10-15 11:50] NivedhaSunderraj commented on #4272
@tobiasdiez  testPerformExport and testImportAsModsAndExportAsMods are still not fixed and they both have same issue I think

[2018-10-15 11:57] Siedlerchr commented on #4272
@NivedhaSunderraj  Could you investigate what exactly is failing? Maybe the format of the xml files has changed? That was the case for the MsOffice stuff

[2018-10-15 12:02] NivedhaSunderraj commented on #4272
@tobiasdiez  Sure I'll look into it 👍

[2018-10-15 13:29] ilippert opened #4373 "manually defined multiline fields in entry editor do not work"
This is
JabRef 5.0-dev--snapshot--2018-10-14--master--73ec32189
Linux 4.18.12-200.fc28.x86_64 amd64
Java 1.8.0_172

In this and prior dev versions, I seem not be able (anymore) to define multiline fields in the entry editor. I used to have defined an own general field with multiline content; but now this is not shown as such any more. Only, I guess pre-defined, fields like "Abstract" are shown as

[2018-10-15 16:50] omkarnix commented on #4287
@tobiasdiez Sure. Thanks. I would certainly like to contribute on tests.

[2018-10-15 17:42] ilippert commented on #4373
just for reference - I am referring to those fields I defined in
JabRef 4.3
Linux 4.18.12-200.fc28.x86_64 amd64
Java 1.8.0_172

at JabRef preferences | File "Do not wrap the following fields when saving"

[2018-10-16 07:45] tobiasdiez commented on #4357
@NorwayMaple Yes, the underlying problem was a threading issue between the JavaFX and Swing thread.

[2018-10-16 08:14] LinusDietz commented on #4370
Hey @DOFfactory, sure that would be the way to go. We are working hard to improve the UI of JabRef, however we have limited developer resources and currently focus on the more fundamental issues. If you (or anybody else reading this) has some time and knows some Java, this would be a nice contribution to fix!

[2018-10-16 15:08] NorwayMaple commented on #4357
@tobiasdiez Thanks for the info!

[2018-10-16 18:00] NorwayMaple commented on #4357
@tobiasdiez I looked at your commit, and it looks like there is no FXML or MVVM in `src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesDialog.java`.  Since I'm trying to learn JavaFX and MVVM, what is your reasoning for writing it differently?

[2018-10-16 19:05] tobiasdiez commented on #4357
Laziness 😉
I'm currently a bit short on time and it would have been additional work to convert the code structure to proper MVVM. The combo MVVM+FXML is convenient when writing new dialogs but for the conversion of old dialogs it is sometimes easier to just replace the swing controls by the JavaFX ones. That's not perfect but still better than having a buggy dialog.

If you want, you can start to

[2018-10-16 19:09] NorwayMaple commented on #4357
For me, the two biggest tasks would be to familiarize myself with the working parts of JabRef in general in order to write the ViewModel, and do better understand ViewLoader and EasyBind in the View.  Is there an easy way, for example, to learn how to apply EasyBind to MVVM (no pun intended)?

[2018-10-16 20:05] pavlapp commented on #4348
Can i look at this problem?

[2018-10-16 22:34] tobiasdiez commented on #4348
Thanks for your interest and for asking if this issue is still up for grabs. However, I've already a PR in the pipeline. Have a look at https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22 for other good issues.

[2018-10-16 23:05] pavlapp commented on #4348
Ok, how about [scrollbar in preferences](https://github.com/JabRef/jabref/issues/4287) or [dark theme](https://github.com/JabRef/jabref/issues/4130)?

[2018-10-17 06:57] DOFfactory commented on #4370
Hi @LinusDietz, I greatly appreciate all your efforts. I am afraid I cannot help you out with Java. Unfortunately, I had to revert back to v4.3.1, as this rather crucial feature for literature reviewing works perfectly well in that version. The issue is that sometimes JabRef v4.3.1 every now and then hooks up my CPU, as reported earlier #4171. I think it has something to do with incorrectly closin

[2018-10-17 07:30] tobiasdiez commented on #4348
For the dark theme issue, somebody opened already a PR. But the scrollbar issue is open. I guess the problem lies somewhere in these lines: https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/Base.css#L658-L719

[2018-10-17 07:35] #4130 closed

[2018-10-17 08:08] arnyeinstein opened #4380 "Copy-paste citation to BibTex not working"
JabRef 5.0-dev--snapshot--2018-10-14--master--73ec32189
Windows 10 10.0 amd64
Java 1.8.0_172

Steps to reproduce:

1. Copy the following text into the tab "{} BibTex Source"
@ARTICLE{6773024,
author={C. E. Shannon},
journal={The Bell System Technical Journal},
title={A mathematical theory of communication},
year={1948},
volume={27},
number={3},
pages={379-423},
keywords={},
doi={10.1002/j.1538-730

[2018-10-17 08:17] Siedlerchr commented on #4380
you can copy/paste directly on the maintable

[2018-10-17 08:50] WtfJoke commented on #1019
Is this still up for grabs? I would give it a try.
Never contributed to your project, though. If I cant make it, I'll write here again.

[2018-10-17 09:05] Siedlerchr commented on #1019
Yes, this is still open. It would be really nice to have it integrated in the preferences window as a tab and to have it searchable

[2018-10-17 09:13] koppor commented on #1019
Good opportunity to learn and apply JavaFX. We welcome your contribution!
Happy #hacktoberfest!

Manuel <notifications@github.com> schrieb am Mi., 17. Okt. 2018, 10:50:

[2018-10-17 09:52] tobiasdiez commented on #1019
You might have a look at how the search is implemented in https://github.com/dlemmermann/PreferencesFX .

[2018-10-17 10:31] #4357 closed

[2018-10-17 16:57] pavlapp commented on #4348
Okay, I'll look at the scrollbar issue and I'll try solve this. Thank you.

[2018-10-18 07:11] Ali96kz commented on #4370
Can you advice me. how I can do that?

[2018-10-18 09:47] Ali96kz commented on #4370
@LinusDietz Can you help me with that issue?
P.S. as I understand there is no way to make stars smaller in controlsfx.

[2018-10-18 09:49] DOFfactory commented on #4370
The link from @tobiasdiez refers to some CSS modding ... not sure what the author meant

[2018-10-18 11:40] DOFfactory opened #4382 "EZProxy integration"
Would it be please possible to integrate EZProxy functionality into JabRef? It would help in downloading the PDFs immensely.

Most of the university libraries have access through a single institutional login, which then parses the website with added values to the URL through a proxy. Usually it looks like `http://ezproxy.lib.cam.ac.uk:2048/login?url=` or similar. The database is available here: [h

[2018-10-18 11:50] DOFfactory opened #4383 "Get fulltext PDF from DOI link"
Most of my articles in my bibliography entry parse only the DOI links. Would it be possible to look up automatically from the DOI number the URL of the article and possibly download the PDF with one click? It would make life so much easier ...

![jabref](https://user-images.githubusercontent.com/10846169/47152303-9d63c680-d2dc-11e8-901c-f7cfad673e15.png)

[2018-10-18 14:42] Nerator opened #4384 "Menu entries in the ranking context menu show only one star for every entry"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef version 5.0-dev on Windows 10 and Lubuntu 18.04.1

JabRef 5.0-dev--snapshot--2018-10-17--master--d37ef3e18
Windows 10 10.0 amd64
Java 1.8.0_181

Steps to reproduce:

1. Launch JabRef jar-file
2. Click "New BibTeX library" or "New BibLaTeX library"
3. Click "New Entry"
4. Right click

[2018-10-18 16:09] Siedlerchr commented on #4383
I don't really get the thing with the URL. The doi actually is an URL.
Regarding PDF download, you can use the keyboard shortcut to lookup fulltext document. It's not guaranteed that you get the fulltext for every article. JabRef tries several resources to find and download.
The problem is that the article websites differ from journal to journal.

[2018-10-18 16:11] Siedlerchr commented on #4384
Seems to be related to #4370

[2018-10-18 16:15] DOFfactory commented on #4383
Hi @Siedlerchr, thanks for your response. The problem is that for the following conditions:

1. no URL is given for an article
2. DOI is given

there is no PDF downloaded, whatever I do. It would be great to have covered the major databases, e.g. Scopus, SpringerLink, Web of Knowlegde, etc. I have a rather large database, and JabRef is literally unable to download almost any of the PDFs. I think i

[2018-10-18 17:13] Nerator opened #4385 "NPE when trying to open Option -> Preferences"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef 5.0-dev--snapshot--2018-10-17--master--d37ef3e18
Linux 4.15.0-36-generic amd64
Java 1.8.0_181

Steps to reproduce:

1. Open JabRef
2. Click on "Option" menu
3. Click on "Preferences"

Program doesn't freeze, but prints stack trace in console. Option menu doesn't appear. Entry "Uncau

[2018-10-18 17:19] Nerator commented on #4385
same behavior on

JabRef 5.0-dev--snapshot--2018-10-17--master--d37ef3e18
Windows 10 10.0 amd64
Java 1.8.0_181

[2018-10-18 18:49] Nerator commented on #4385
From what I understood, `prefs.get(JabRefPreferences.FX_THEME)` returns `null` https://github.com/JabRef/jabref/blob/d37ef3e185b85563d0a68c430b88af3d18833b10/src/main/java/org/jabref/gui/preferences/AppearancePrefsTab.java#L56

I traced it to here: https://github.com/JabRef/jabref/blob/d37ef3e185b85563d0a68c430b88af3d18833b10/src/main/java/org/jabref/preferences/JabRefPreferences.java#L445

Unfort

[2018-10-19 03:30] Ali96kz commented on #4385
It's my commit. I thought about making  Base.css as default, but if dark theme not setted  `ThemeLoader.java` would apply Base.css twice. So I think we should just check it for null in `AppearancePrefsTab.java`

[2018-10-19 03:32] Ali96kz commented on #4385
@Siedlerchr Could I work on that issue?

[2018-10-19 06:33] Siedlerchr commented on #4385
@Ali96kz  Sure, go ahead.

[2018-10-19 08:58] maloney8 commented on #4384
Hey,
I'd like to work on this issue

[2018-10-19 11:12] homocomputeris opened #4388 "Misc entry has Year and Month both in Optional and Deprecated tabs"
JabRef 4.3.1
Linux 4.18.14-arch1-1-arch amd64
Java 1.8.0_192

Steps to reproduce:

1. Create and select a Misc entry in biblatex mode

While these fields should be in the Required tab, as BibLaTeX manual says:

[2018-10-19 12:30] #4385 closed

[2018-10-20 15:50] Nerator opened #4391 "NPE when trying to click on "Save" button in Preferences dialog"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef 5.0-dev--snapshot--2018-10-19--master--f43a367c5
Linux 4.15.0-36-generic amd64
Java 1.8.0_181

Steps to reproduce:

1. Launch JabRef
2. Open preferences: Options -> Preferences
3. Click "Save" button

Possibly related to #4385

<details>
  <summary>Console output</summary>

[code]
<

[2018-10-20 21:53] dprodanov opened #4393 "Automatic Bug Report - 20181020235219"
JabRef 4.3.1
Windows 7 6.1 amd64
Java 1.8.0_191

Steps to reproduce:

impossible to access the edit interface in an existing bib database.

Paste your log details here.

[2018-10-20 22:39] #4384 closed

[2018-10-20 22:40] tobiasdiez commented on #4384
Thanks to @topalavlad this should be fixed now in the most recent development version.

[2018-10-20 22:41] tobiasdiez commented on #4393
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-10-20 22:41] #4393 closed

[2018-10-21 09:55] DOFfactory commented on #4321
Yes. I can confirm this, especially with v4.3.1.

It happens on ~10% of the cases. Windows 10.

[2018-10-21 14:04] NivedhaSunderraj commented on #4272
@tobiasdiez Looks like the temp file created has an attribute 'xsi:type="mods:stringPlusLanguagePlusSupplied"' , but this is not in the xml files. And this caused the error... Do I add the attribute to xml file? Or modify export ?

[2018-10-21 14:57] tobiasdiez commented on #4272
I'm not too familiar with the Office export, but this attribute does not seem to be utterly important and I'd hence say remove it from the reference files.

[2018-10-21 16:08] NivedhaSunderraj commented on #4272
@tobiasdiez the xml reference files don't have the attribute ... It is being added when exporting it. So should I add the attribute in the reference xml file?

[2018-10-21 16:33] tobiasdiez commented on #4272
Ah ok, I misunderstood you there. Yes, then please add it!

[2018-10-21 16:35] NivedhaSunderraj commented on #4272
@tobiasdiez  Sure 👍

[2018-10-22 06:17] Ali96kz commented on #4380
If we paste data via 'BibTex Source', should it create a new line in table or overwrite data in opened entry ?

[2018-10-22 11:04] darkdragon-001 commented on #2594
JabRef 3.8.2 (bundled in Ubuntu 18.10) does not start because of the following error

    Error occurred during initialization of boot layer
    java.lang.module.FindException: Module java.se.ee not found

Ubuntu 18.10 uses this as default JRE:
[code]
I also tried with Oracle JRE 11:
[code]
which resultet in the same error...

[2018-10-22 13:32] Siedlerchr commented on #2594
JabRef 3.8.2 is really old. I suggest you use the latest development version from https://builds.jabref.org/master/
However, it still requires Java 8.as default. In addtion it requires openjfx installed or oraclejkd8

[2018-10-22 13:39] darkdragon-001 commented on #2594
How to run it?
[code]

[2018-10-22 13:41] Siedlerchr commented on #4370
Thanks to @Ali96kz  this is now fixed!

[2018-10-22 13:41] #4370 closed

[2018-10-22 15:14] Siedlerchr commented on #2594
https://help.jabref.org/en/FAQlinux

[2018-10-22 17:51] noMICROSOFTbuhtz commented on #2594
Please be careful when upgrading from 3.8 to a 4.* version!
4.* will modify the structure of your bib file and you can not step back to 3.8 then. Make a backup!

And the UI of 4.* has its own "problems". So plesae do your own test with it before you really switch the version.

[2018-10-23 07:48] TPuupera opened #4399 "XMP-annotated PDF "Export" from library does not work"
- [x] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

JabRef version  on
JabRef 5.0-dev--snapshot--2018-10-22--master--b9f9720d0
Windows 10 10.0 amd64
Java 1.8.0_191

Tested also with stable version with same results:
JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_191

Steps to reproduce:

1. Open BibTeX library.
2. Select from menu File->Impo

[2018-10-23 13:17] Steff82 opened #4401 "can not edit entry"
Hello,
I am working on Windows 10 with JabRef. Since the last update, I can not open any entry. Creating a new entry (type article) directly creates an empty entry. The editor does not open.

Best regards,
Steff

[2018-10-23 13:33] #4272 closed

[2018-10-23 14:39] Siedlerchr commented on #4401
Hi,
you probably have just hidden the entry editor. Sometimes the entry editor minimizes to the bottom. Check if this is the case.

[2018-10-23 14:55] Steff82 commented on #4401
:$. Thanks! Now I can edit again 👍

[2018-10-23 14:55] #4401 closed

[2018-10-23 14:57] Siedlerchr commented on #4399
Hi, the dialog is a bit unclear. You need to have an existing pdf. the xmp information will be written to the existing pdf.
In the latest development version  it worked when I selected an existing pdf file and chose export.
Please try again with the version from https://builds.jabref.org/master/

[2018-10-23 15:42] Siedlerchr commented on #4399
I just tested and it works fine with Foxit Reader, at least if I exported one entry

[2018-10-23 20:14] bernhard-kleine opened #4403 "Upon exiting Jabref is still active in the Windows task manager"
JabRef 5.0-dev--snapshot--2018-10-23--master--eda8e2628
Windows 7 6.1 amd64
Java 1.8.0_181

- [ +] I have tested the latest master version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce:

1. Open the last development version
2. Check in the task manager that is present
3. Exit JabRef
4. The jabref entry remains open in the task manager.
BTW the backup file .sav

[2018-10-24 08:29] springzfx commented on #3112
The bug still exists in recent master branch, I fixed this bug in this [commits] (https://github.com/springzfx/jabref/commit/a907fb60ae86a28bd63858b7f3f648235baebf3d)

The cause of this bug is that the local variable "pseudoClassState" is garbaged by java gc. There is no reference to this variable except an weak one from "bind" function.

[2018-10-24 08:38] Siedlerchr commented on #3112
@springzfx thank you very much! Please create a PR for your changes, so we can integrate it.

[2018-10-24 09:17] #4287 closed

[2018-10-24 09:20] laolux commented on #3925
An additional issue which could be tackled in the same fix are journals where name and abbreviation are the same. For example the journal "Science" as abbreviated "Science" and therefore always gets listed as a problem during integrity check.

[2018-10-24 10:06] TPuupera commented on #4399
Still the same problem. PDF reader displays title of the first exported entry as name for a blank document. Can someone else verify this feature?

[2018-10-24 10:42] springzfx commented on #3112
This is my first time to create a PR. I have read these rules. Hope no rules are broken.

[2018-10-24 10:59] fix-me commented on #3112
Does the same apply with toggle buttons like entry preview? I have disabled it and still the previews open on a single click.

[2018-10-24 12:07] Siedlerchr commented on #4403
Do you have autosave enabled? #4352

[2018-10-24 12:14] bernhard-kleine commented on #4403
Yes I do.

[2018-10-24 17:35] homocomputeris opened #4407 "Arxiv link prefix should be discarded to produce working links in BibLaTeX"
JabRef 4.3.1
Linux 4.18.14-arch1-1-arch amd64
Java 1.8.0_192

Related TSE question: https://tex.stackexchange.com/questions/436684/correct-arxiv-hyperlinks-with-biblatex-and-mendeley

Steps to reproduce:
Random example: https://arxiv.org/abs/1810.09995

1. Use biblatex mode and biblatex format
2. Import a publication by its arxiv URL.
_The problem_: unlike with DOI (e.g. it easily parses https://d

[2018-10-24 18:30] tobiasdiez commented on #4407
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-10-24 21:45] homocomputeris commented on #4407
It seems fine:
[code]

[2018-10-24 22:14] #4407 closed

[2018-10-25 03:50] shahamish150294 commented on #4356
As part of this task I am also removing the three methods related to Drag and Drop in
https://github.com/JabRef/jabref/blob/1f14795b20eea9be44a0614afe5b8a2bd86a7c0e/src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.java#L68-L70
because now the drag and drop will be a part of the EntryEditor and hence IMO, this is not needed. Please let me know if I am correct. @Siedlerchr
Thanks.

[2018-10-25 06:18] Siedlerchr commented on #4356
@shahamish150294  Yeah. I think we don't need there any special handling. Please test if it's really sufficient to have them in the entry editor.

@morganlovato  Seems like @shahamish150294  is already working on this. But you can look through the other issues and take one

[2018-10-25 08:34] tobiasdiez commented on #4360
Now the correct tooltip "New article" is shown on hover.

[2018-10-25 08:34] #4360 closed

[2018-10-25 11:37] sonOfRa commented on #2594
This problem has gotten worse since the release of Ubuntu 18.10 (Cosmic Cuttlefish). This version of Ubuntu no longer ships openjfx for java 8, and instead only ships a version for java 11, which does not work with JabRef.

Is there any estimate as to when JabRef will be compatible, or should I install oracle jdk 8 in the meantime?

[2018-10-25 11:40] koppor commented on #2594
The more participants in #hacktoberfest, the earlier. See also
https://help.jabref.org/en/FAQcontributing. We welcome new contributors.
All of us are working in our free time on JabRef.

Simon Levermann <notifications@github.com> schrieb am Do., 25. Okt. 2018,
13:37:

[2018-10-25 13:16] Ali96kz commented on #3189
I will work on it

[2018-10-25 14:20] springzfx commented on #4391
PR(https://github.com/JabRef/jabref/pull/4406) is fixing this issue.

[2018-10-25 14:35] tobiasdiez commented on #2594
The main problem right now is that some libraries that we use are not yet compatible with Java 9. So we will have to wait until this is fixed (or look for alternative solutions).

So for now it is probably the best to install jdk 8 yourself.

[2018-10-25 14:44] sonOfRa commented on #2594
Is there a list of these libraries somewhere? A lot of the time, this can be circumvented by using automatic module names which can be generated with ``jar --file=foo.jar --describe-module``, and then adding those libraries as requirements in jabref's module file which seems to exist already

[2018-10-25 14:50] tobiasdiez commented on #2594
See https://github.com/JabRef/jabref/pull/3421#issuecomment-389229101 and the other comments in this PR. As you seem to be knowledgeable about the Java 9 stuff, you might want to join forces with @florian-beetz .

[2018-10-25 19:51] #4391 closed

[2018-10-25 19:52] tobiasdiez commented on #4391
Thanks to @springzfx, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-10-26 10:58] shahamish150294 opened #4409 "Restrict selection of multiple radio buttons that belong to the same group to just one"
JabRef version on Windows 10/Java 8.
- I am having trouble installing the JabRef.exe from http://builds.jabref.org/master/. I have tested checking out the latest from master.

In Preferences, there are instances at which we need to select an option through radio buttons. Eg: Check screenshot attached. There are many instances in the Preferences where I am able to select multiple radio buttons for

[2018-10-26 11:53] paulKra commented on #1019
Hi, we are two students looking for open source project to participate in and found this issue through the awesome beginners list.
Is this issue still open? Can we start working on it?

Or is @WtfJoke still working on this?

[2018-10-26 13:55] WtfJoke commented on #1019
@paulKra I started working on it. Since I am limited on time, I am still in the beginning but still want to do it, hope you guys dont mind :)

[2018-10-26 14:34] Siedlerchr commented on #4409
Toggle Group seems like the best solution to me. Do you want to fix this?

[2018-10-26 14:35] Siedlerchr commented on #3112
Thanks to @springzfx  this issue is now resolved in the latest master version.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-26 14:37] paulKra commented on #4409
Hi, we are two students who found your project through the awesome beginners page and wanted to try on a issue before. If @shahamish150294 does not want to fix it, we would like to try, if he is okay with it.

[2018-10-26 16:01] koppor commented on #1019
Could you three join forces? This task is not that small and it would be a
pity if work was stopped in the half... If @paulKra would start working and
creating a WIP pull request, @wtfjoke could step in? Or you could have a
sync call? 😇

Manuel <notifications@github.com> schrieb am Fr., 26. Okt. 2018, 15:55:

[2018-10-26 19:41] skanskan opened #4414 "Moving entries bewtween groups doesn't work"
Hello
I'm using JabRef 4.3.1 on Windows 10 X64.
I'm trying to reorder my entries on groups.
If I select several entries and using the rightmouse menu choose "Move to group" only the first entry is moved.
If I try to drag it instead of move it it copies it (and duplicate the entries)

[2018-10-26 22:09] shahamish150294 commented on #4409
@paulKra Sure, go ahead! I haven't started this yet. Let me know if you have any questions.

[2018-10-27 07:56] springzfx opened #4417 "autogenerate bibtex key not working"
In master branch, autogenerate bibtex key not working
Steps to reproduce the behavior:
1. open Jabref click one entry
2. press ctrl+G, the confirmation dialog not pop up, and nothing change
3. from the menu click, it's the same result.

The reason seems to be the confirmation dialog can not up, hope someone to fix this:
https://github.com/JabRef/jabref/blob/940fa2ce3f5579d65b503d4d294f832be5c9d2a9

[2018-10-27 09:04] Siedlerchr commented on #4417
Can not confirm this. You have probably enabled the settings Do not overwite keys and disabled the confirmation dialog in the settings "Warn before overwriting keys"

[2018-10-27 09:15] Siedlerchr commented on #4380
If you paste the bibtex data into an exiting entry, the data should be overwritten.

People often are unaware of the fact that you can directly paste on the maintable (only possible since a few version), so they create a  new entry, copy the bibtex code in the tab and expect their entry to be updated.

[2018-10-27 09:19] Siedlerchr commented on #4364
Can not confirm this behaviour in the latest version. Do you have "Do not overwrite existing keys"? enabled in the settings?

[2018-10-27 09:41] springzfx commented on #4417
If disabled the confirmation dialog, it worked as expected.
If enable the confirmation dialog, it won't work, no dialog, no key generated.

![peek 2018-10-27 17-36](https://user-images.githubusercontent.com/8992037/47602269-1ff03280-da0f-11e8-9689-f2067029116e.gif)

[2018-10-27 09:42] Siedlerchr commented on #4417
Ah okay, now I reproduce it as well. No dialog is shown

[2018-10-27 13:05] Siedlerchr commented on #4243
@skanskan  Please try again with the new build of the dev version again in a few minutes. There was a bug which prevented the start of JabRef standalone

[2018-10-27 13:36] #3537 closed

[2018-10-27 13:36] Siedlerchr commented on #3537
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-27 13:43] Siedlerchr commented on #4247
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2018-10-27 13:43] #4247 closed

[2018-10-27 13:44] Siedlerchr commented on #3626
Synchronize File links was removed in favor of Automatically set file links in dev-5.0.
So I am closing this issue as no longer relevant

[2018-10-27 13:51] Siedlerchr commented on #4022
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-27 13:51] #4022 closed

[2018-10-27 13:52] Siedlerchr commented on #4099
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-27 13:52] #4099 closed

[2018-10-27 14:00] #4417 closed

[2018-10-27 14:17] Siedlerchr commented on #4417
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-27 18:52] Siedlerchr commented on #4117
Depends on #3861

[2018-10-27 18:55] Siedlerchr commented on #3236
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2018-10-27 18:55] #3236 closed

[2018-10-27 18:57] Siedlerchr commented on #121
Dropping on entry editor is now handle in #4408

[2018-10-27 18:57] #121 closed

[2018-10-27 19:52] atteti opened #4422 "Import pdf file into current library doesn't work in second time."
Tested with JabRef 4.21 64 bit Windows

Steps to reproduce the behavior:

1. Create new BibTeX library
2. Import into current library
3. Select PDFContent and choose pdf file.
4. Select Open
file is opened
//import second pdf file
5. Import into current library
6. Select PDFContent and choose pdf file.
7. Select Open
file is not opened
status. importing in unknown format...

Uncaught exception occ

[2018-10-27 21:59] Siedlerchr commented on #3626
@PierreMarchand20  Could you please add some details on where it crashes and if you something in the log?

[2018-10-27 22:14] PierreMarchand20 commented on #3626
Well, it just hangs, so there is no log to give unfortunately. I just open my database, take a random file where I delete the link. Then I click on Quality>Automatically set file links and it freezes

[2018-10-28 00:07] skanskan opened #4423 "Report proper error when google fetcher hits limit"
The web search option sometimes works well but many times doesn't work ,it just doesn't open the search Window nor produce any result.
No error message is produced.

JabRef 5.0-dev--snapshot--2018-10-27--master--aeea80969
Windows 10 x64

[2018-10-28 04:26] crystalfp opened #4424 "Stange rendering of \textsuperscript in entry list"
As seen from the screenshot, `5\textsuperscript{th}` is rendered correctly in the preview but incorrectly in the list of entries.

![capture](https://user-images.githubusercontent.com/865866/47611903-4d6cc880-da6f-11e8-92bb-66e967e5b40d.PNG)

The database content is:
[code]

JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_191

Note that superscript t and h exist in Unicode: 5ᵗʰ

Also, the database i

[2018-10-28 04:45] crystalfp commented on #4424
If I save the database (flagged as modified) JabRef adds the `@Comment` and `% Encoding` lines, but the superscript disappears:
[code]

[2018-10-28 06:27] springzfx opened #4425 "How to construct a group containing entries that not in any user defined group"
Just as the title described. Currently, dynamic group will never include a entry if the field (eg. groups) not exists, because of the regex match.  Regex won't match _null_ value.

![image](https://user-images.githubusercontent.com/8992037/47612835-a6634d80-dabd-11e8-811e-bbb3957e952a.png)

[2018-10-28 08:37] tobiasdiez commented on #4424
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-10-28 08:42] tobiasdiez commented on #4425
That's not possible at the moment. Please use our forum for questions!

[2018-10-28 08:42] #4425 closed

[2018-10-28 10:55] Siedlerchr commented on #4423
Could you provide some details which and where you are searching (e.g. Springer, acm...) and possible a keyword/identifier that fails. That would help us narrow down the error.

[2018-10-28 11:36] #482 closed

[2018-10-28 11:37] Siedlerchr commented on #482
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

Unfortunately I could only change the watermark and the icon on the top right. Changing the icon in the header-bar did not work.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if

[2018-10-28 11:45] tobiasdiez commented on #482
https://stackoverflow.com/questions/19199826/how-to-customize-the-icon-of-installer-exe-created-by-install4j
this does not work?

[2018-10-28 11:48] Siedlerchr commented on #482
@tobiasdiez  That is already done. That is the icon you have when you download JabRef. However, that does not influence the icon installer_header which is the one I could not replace.

![grafik](https://user-images.githubusercontent.com/320228/47615485-9e041600-daaf-11e8-8a63-c5ec53e9899b.png)

[2018-10-28 11:58] atteti commented on #4422
Sorry, the version used is 4.3.1

[2018-10-28 12:09] Siedlerchr commented on #4422
Could you please test with the latest development version? https://builds.jabref.org/master/

[2018-10-28 13:10] skanskan commented on #4423
I'll try to reproduce the problem and post it. I tried with both Pubmed and Google Scholar.
Maybe the Window with results stayed on the background.

One question, maybe related...
When you have used Google Scholar several times it asks you for a captcha.
How does Jabref deal with that problem?

[2018-10-28 15:53] atteti commented on #4422
I tested with the latest development version and it doesn't open pdf file second time. It opens only first time.
So there is same bug.

[2018-10-28 16:01] atteti commented on #4422
using css jar:file:/C:/jabref2/JabRef-5.0-dev--snapshot--2018-10-28--master--9a3f2d627.jar!/org/jabref/gui/Base.css is the verstion which I tested.

[2018-10-28 16:03] atteti commented on #4422
JabRef_windows-x64_5_0-dev--snapshot--2018-10-28--master--9a3f2d627.exe 28.10.2018 13:43 68.6
  sorry, this version I tested.

[2018-10-28 17:11] crystalfp commented on #4424
Much worse. The superscript disappears everywhere (entry list, preview, edit form) and, if I save the database, even there has disappeared.
I used JabRef--master--latest.jar dated 2018-10-28

[2018-10-28 17:16] Siedlerchr commented on #4422
I could confirm this. This is very odd. In fact it's still an ArrayIndexOutOfBoundsException which is thrown and then somehow swallowed from the executor

[2018-10-29 05:05] bernhard-kleine opened #4427 "Update timestamp on modification does not keep the status on saving"
JabRef 5.0-dev--snapshot--2018-10-27--master--aeea80969
Windows 7 6.1 amd64
Java 1.8.0_191
- [ +] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Trying to uncheck "Update timestamp on modification" in Preferences->General does keep "unchecked" when saving options is unsuccessful, this feature is not saved at all.

Steps to reproduce the

[2018-10-29 10:40] AEgit commented on #4237
JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

I have seen that the current development snapshot contains a "Groups"-specific preference (Options -> Preferences -> Groups), which should address this problem. The following options are given:

"Hide non-hits" vs. "Gray our non-hits"

"Display only entries belonging to all selected groups" vs.
"Display a

[2018-10-29 10:54] AEgit opened #4430 "Performance issues in development version 5.0"
JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

Steps to reproduce the behaviour:
1. Open a large database (in my case > 16,000 entries)
2. Select a group in the groups panel
3. Entries belonging to the group are displayed in the main panel
4. Select another group in the groups panel
5. Entries belonging to this group are displayed again in the main pa

[2018-10-29 11:02] AEgit commented on #4321
JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

I encountered this problem as well, if a previous JabRef version was open, then closed and then the installation of a new JabRef version was attempted.

My workaround was to just restart my system and to then run the installation, without having opened and closed the older JabRef version before the instal

[2018-10-29 11:09] AEgit commented on #2868
This issue persists in:

JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

Note, however, that the pattern is now slightly different. Instead of selecting the group that was initially found below the reassigned group, now JabRef selects the two groups that had initially surrounded the reassigned group, i. e. it selects the initial groups above and below

[2018-10-29 11:11] AEgit commented on #2869
This issue persists in:

JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

Note, that this can be quite troublesome, if you have a large database with many groups (it is obviously less of a problem with only a few groups).

[2018-10-29 11:18] AEgit commented on #3176
This issue persists in:

JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

This issue is potentially connected to the fact that currently non-group items are not shown in the main table (not even in gray; see https://github.com/JabRef/jabref/issues/4237).

[2018-10-29 11:20] AEgit commented on #3436
This issue persists in:

JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

[2018-10-29 11:20] AEgit commented on #3176
See also the comment here:
https://github.com/JabRef/jabref/issues/3436#issuecomment-375779146

[2018-10-29 11:33] AEgit commented on #3112
JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

This bug has been partially solved. If you repeat the following steps you can still reliably reproduce the bug:

1. Open a JabRef database
2. Select an item - the associated item count in the groups panel should be coloured (this works now!)
3.  Assign this item to a new group - the item count of the new

[2018-10-29 12:30] AEgit commented on #4414
The issue is more serious in:

JabRef 5.0-dev--snapshot--2018-10-28--master--05047f32a
Windows 10 10.0 amd64
Java 1.8.0_191

1. Select several entries in the main table
2. Rightclick and use the "Move to group" feature
3. All selected entries disappear from their original group but NONE of them is added to the new target group, i. e. these entries now belong to neither of those groups

Regarding t

[2018-10-29 16:57] tobiasdiez commented on #4237
Thanks @AEgit for going through the bugs related to groups and check if they still apply to the most recent dev version. This is a huge help!

[2018-10-29 17:14] AEgit commented on #4237
Yes, sorry, for not having been active in a while - I was just so busy (and I am right now for the next couple of months), that I could not test and help more.

Thanks again for developing this amazing piece of software!

[2018-10-29 19:01] Siedlerchr commented on #4403
Closing this issue as duplicate of #4321

[2018-10-29 19:01] #4403 closed

[2018-10-30 08:34] #4422 closed

[2018-10-30 08:35] Siedlerchr commented on #4422
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-10-30 11:01] tobiasdiez commented on #4409
Thanks to @paulKra this is now fixed.

[2018-10-30 11:01] #4409 closed

[2018-10-30 13:21] springzfx opened #4437 "Some bugs in preference->Entry table columns"
preference->Entry table columns

1.  The _Field name_ is not editable
2.  The value in _Field name_ is not identical with table header
2.  The two buttons in bottom looks the same
3.  _Column width_ is float which is not compatible with jabref-4.3.1.

![image](https://user-images.githubusercontent.com/8992037/47720209-4f5da400-dc88-11e8-99b3-01590d0069ee.png)

**table header:**
![image](https://us

[2018-10-30 14:03] tobiasdiez commented on #4437
Moreover, the column width should be completely removed from the preferences since column can now comfortably resized directly in the main view.

[2018-10-30 14:07] #4348 closed

[2018-10-30 15:15] morganlovato commented on #4437
I have a group for a school project and we would like to contribute this issue, is it available?

[2018-10-30 16:43] tobiasdiez commented on #4437
@morganlovato Sure, feel free to work on this issue! Also have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and drop by in our [developer chat](https://gitter.im/JabRef/jabref) if you have questions!

[2018-10-30 19:21] skanskan opened #4438 "Unable to start up Jabref"
When I run JabRef_windows-x64_5_0-dev--snapshot--2018-10-30--master--274fed486.exe nothing happens.
The program appears on Windows task manager but there is no usable Window.
I have the same problem with several older Jabref 5.0 versions I've tried.
Version 4 was working well.

Then I have tried to run it from the command line with
java -jar JabRefxxxx.jar and I get this error messages:

[code]

I

[2018-10-30 22:22] Siedlerchr commented on #4438
@florian-beetz any idea? Does it have to do with the submodule?

[2018-10-31 01:06] xiaodongcentury commented on #4438
Debian 9 sid has the same error.
Jabref version: Jabref master latest.jar 2018-10-30
![image](https://user-images.githubusercontent.com/20276890/47759787-34248000-dcec-11e8-9237-40b26658404c.png)

[2018-10-31 09:28] moewew opened #4440 "Warn on empty entrykey (bibtexkey)"
*Small Enhancement*

All `.bib` entries processed by Biber must have a non-empty `entrykey`. Entries without a key, e.g.
[code]
produce an error along the lines of
[code]
and the compilation will abort.

`biblatex` with the BibTeX backend will not error on an empty `entrykey`, but the entry can not be cited and will not be added to the bibliography even with `\nocite{*}`.

Classical BibTeX adds en

[2018-10-31 10:05] Siedlerchr commented on #4440
I think there is a setting, which enables the Warning of empty bibtexkeys

[2018-10-31 10:16] Ali96kz opened #4441 "Incorrect count entry number"
Steps to reproduce the behavior:
1. File -> (New Bibtex library) or (New Biblatex library)
2. Add some entry
Number of entry will be 0.
![image](https://user-images.githubusercontent.com/15236829/47781510-0ceba400-dd28-11e8-9293-dab196344bc5.png)

[2018-10-31 10:20] tobiasdiez commented on #4440
There is a warning about the empty key in the integrity check. However, the warning message is not shown in the entry editor.

[2018-10-31 10:23] moewew commented on #4440
Oh, I might have overlooked such an option. I have the *Enforce legal characters in BibTeX keys* option checked, but that does not help with empty keys as far as I can tell (FWIW I don't quite understand what the option does: the quite dangerous `Sig,([fri}{dßä\"o:1998)]` still passes "Ctrl+F8" and I get no warning icon, but maybe the option is only about auto-generated keys?).

Re the integrity c

[2018-10-31 12:58] mfoitlr opened #4442 "Problem while saving"
JabRef 4.3.1
Windows 7 6.1 amd64
Java 1.8.0_191

Steps to reproduce:

1. make a change in the bibliography file
2. save the bibliography
3. Jabref freezes

Paste your log details here.

<details>
<summary>Detail information:</summary>

[code]

</details>

[2018-10-31 13:36] xiangsheng commented on #4438
macOS Majova has the same problem, Jabref master latest.jar 2018-10-31

[2018-10-31 16:55] wujastyk commented on #4438
Me too.  My jar file is from yesterday, October 30.

Linux 4.15.0-38-generic amd64
Java 1.8.0_191

I get the following output, then nothing more.

$ java -jar JabRef--master--latest.jar
10:51:06.239 [JavaFX Application Thread] INFO  org.jabref.logic.importer.OpenDatabase - Opening: /home/dom/Dropbox/localtexmf/bibtex/bib/biblio4-utf8.bib
10:51:08.963 [JavaFX Application Thread] ERROR org.jabref.lo

[2018-10-31 17:33] florian-beetz commented on #4438
@Siedlerchr Yes, this looks like it is caused by #4431. Apparently CircleCI [does not check out the submodules automatically](https://discuss.circleci.com/t/can-not-get-submodules-to-clone-properly/22120/2). The directories in the JARs are empty.

We need to call `git submodule update --recursive --init --remote` after checking out on CircleCI.

[2018-10-31 19:06] Siedlerchr commented on #4438
@florian-beetz  I think for the moment it is okay to automatically check it out. Alterantively we can use it ti pinpoint to a specific version. I will create a PR so that at least our build is fixed
https://stackoverflow.com/questions/10914022/how-do-i-check-out-a-specific-version-of-a-submodule-using-git-submodule

[2018-10-31 19:12] Siedlerchr commented on #4442
Maybe related to #4352

[2018-10-31 19:42] Siedlerchr commented on #4438
Okay, one issue fixed.
The other is the Theme loading. When I run java -jar JabRef.jar it fails.
[code]

[2018-11-01 09:52] Ark2040 opened #4447 "Entries are not editable anymore!"
Dear Jabref experts,

I'm using the last version of Jabref (v4.3.1) and I have created a .bib file associating each entry with its corresponding pdf file (by the url location within my PC). These, pdfs include several notes (created for me in Adobe) that JabRef was able to detect and show in the edit screen (which by the way, is a great functionality :D) ! However, I have around 25 files now and J

[2018-11-01 10:02] Siedlerchr commented on #4447
Maybe it's the same problem that the entry editor is minimized. It sometimes happens that the entry editor is there, but it is very minimized at the bottom of JabRef

[2018-11-01 10:46] #4438 closed

[2018-11-01 10:46] Siedlerchr commented on #4438
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-11-01 10:49] Siedlerchr commented on #4447
Hi,

you could also try the latest development version from https://builds.jabref.org/master/
In a few minutes the newest version (todays date) is ready.

[2018-11-01 10:53] Ark2040 commented on #4447
Oh Thanks!

I downloaded it like 90 minutes ago but the size of the file was 60MB (now I understand why its installation was giving me some issues ^^U)

I'll check it again later today.

Regards

[2018-11-01 10:57] Siedlerchr commented on #4447
The filzesize is indeed that big, because we have to include several third party libraries which are necessary for running JabRef.
 https://builds.jabref.org/master/

[2018-11-01 11:10] GongSiqiu commented on #4357
I wonder wheather the problem is fixed? I have tried the JabRef 5.0-dev--snapshot--2018-11-01--master, but the problem still exits.

[2018-11-01 11:52] Ark2040 commented on #4447
Hehe I know. I am not complaining about it. In fact, I <3 JR since they added the superb great File Annotation function :D (and I am not been sarcastic) !!!

[2018-11-01 15:08] tobiasdiez commented on #4357
Yes, this issue should be fixed now (and it is for me). Please make sure that you run the newest version. The dialog was completely rewritten and now should also look differently.

[2018-11-01 15:56] Siedlerchr commented on #4424
Please try again with the latest development version:
On Windows 10 looks fine to me
![grafik](https://user-images.githubusercontent.com/320228/47863239-1728a380-ddf7-11e8-8f05-2987412546e0.png)

[2018-11-01 16:13] Siedlerchr commented on #4388
I talked to the  biblatex guys  plk/biblatex#833 and it's an error in the specification. It does not make sense to add the fields double. Year and months are only valid in required fields

[2018-11-01 16:13] #4388 closed

[2018-11-01 16:34] Siedlerchr commented on #4344
@dnstarostin  In Preferences -> General there is a checkbox "Enfocre legal chars in genereated keys".
If this is checked the colon will be dropped from the key. If you disable it, it works fine.

[2018-11-01 16:34] #4344 closed

[2018-11-01 16:37] Siedlerchr commented on #4380
We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-11-01 16:46] Siedlerchr commented on #4359
I am not a Mac Expert, but it might have to do sth with the font being able to display all unicode chars.
On Windows 10 I see the following.

![grafik](https://user-images.githubusercontent.com/320228/47865997-ea2bbf00-ddfd-11e8-9108-b6a3206b6eb5.png)

@LinusDietz  Could you please check this on your Mac?

[2018-11-01 16:49] Siedlerchr commented on #4170
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-11-01 16:49] #4170 closed

[2018-11-01 16:53] Siedlerchr commented on #4321
Could you please test with the latest version? I can no longer reproduce this.
When I start it from terminal java -jar JabRef.jar do sth and then exit by clicking on the x on the window right top JabRef shuts down correctly. It takes a couple of seconds until all Threads are stopped, but then it works fine.

[2018-11-01 16:55] Siedlerchr commented on #4414
This should be fixed thanks to @Ali96kz  in #4439

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-11-01 17:00] Siedlerchr commented on #3974
As I do not have an account and can't access it atm, is this issue resolved?

[2018-11-01 17:02] Siedlerchr commented on #3837
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2018-11-01 17:02] #3837 closed

[2018-11-01 17:04] Siedlerchr commented on #725
We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-11-01 17:07] #4356 closed

[2018-11-01 17:08] tobiasdiez commented on #4356
Thanks to @shahamish150294 this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-11-01 17:52] dnstarostin commented on #4344
Thank you.

On Thu, Nov 1, 2018 at 7:46 PM Christoph <notifications@github.com> wrote:

[2018-11-01 18:54] AEgit commented on #4441
Is it always an incorrect number, or does this only happen the first time you assign a item to a new group? I noticed this behaviour before, but as far as I remember you get the correct numbers of items contained in a group, if you save and close JabRef and then reopen it.
This is still, obviously, a bug, but a less serious one, I guess - it is basically the updating process of the groups panel, t

[2018-11-01 19:52] tobiasdiez commented on #4442
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-11-01 20:09] tobiasdiez opened #4449 "Add validation checker for other IDs"
We should add validation algorithms to other types of IDs (pmid, ean, ...).

For further reference: [python implementation](https://github.com/inveniosoftware/idutils/blob/master/idutils/__init__.py)

[2018-11-01 20:09] #4449 closed

[2018-11-01 20:11] Siedlerchr commented on #4371
In addtion, the font size of the maintable should also be adjustable by the global settings or separate

[2018-11-01 22:31] DOFfactory commented on #4371
I am not sure how much research guys at Microsoft and Google need to conduct and how many publications they need to review. What I can say is that my user-case (and many of my colleagues-scientists) depends a lot on overview and being able to review quickly list a lot of results in an easily discernible way. This means, being able to squeeze a biblatex database through search or filtering based on

[2018-11-02 02:05] shahamish150294 commented on #4356
The latest build seems to reflect the changes. Thank you @tobiasdiez and @Siedlerchr  for your help!

[2018-11-02 04:08] crystalfp commented on #4424
OK, fixed in the November 1st version.
Thanks a lot!
mario

[2018-11-02 07:28] #4424 closed, assigned to nobody

[2018-11-02 13:50] stefan-kolb commented on #4423
How does Jabref deal with that problem?
You need to manually enter the Captcha in the web browser at the moment.

[2018-11-02 13:54] stefan-kolb commented on #4383
Currently, JabRef tries to extract the PDF fulltext link from the website behind the DOI and many other sources. If it doesn't work then you don't have access to these articles most of the times.

What are  you expecting except froim that behavior? Should JabRef write the PDF URL in the URL field so you can retrieve the PDF by yourself?

[2018-11-02 13:57] sanjayankur31 commented on #4321
Confirming that it doesn't happen with the dev snapshot here either: JabRef-5.0-dev--snapshot--2018-11-02--master--611e35a6b.jar

With the current stable release (4.3.1), it doesn't exit on quit. The processes still hang around and must be killed manually.

[2018-11-02 15:43] Siedlerchr commented on #4321
Okay, thanks for confirming that it works @sanjayankur31  Due to a lack of resources we only maintain the latest version. Therefore bugs should always be tested/confiremd with the latest snapshot, as they might already be fixed.

[2018-11-02 15:43] #4321 closed

[2018-11-02 15:47] DOFfactory commented on #4383
Yes, it is one of the solutions.

However, often I do have access, JabRef is just unable to parse the PDF through a browser, which has an active cookie through my institutional library. Hence the ticket #4382, where EZProxy integration might solve this issue easily.

In addition, often the paper is Open Access, however, JabRef still fails to download the freely available PDF. It might be somehow t

[2018-11-02 15:55] Siedlerchr commented on #4383
JabRef includes the following fulltext fetchers and queris them for a fulltext of a pdf.
We do had/have sometimes had troubles with ScienceDirect.

https://github.com/JabRef/jabref/blob/611e35a6b8f3032bd9e87b6b09c341f414683eac/src/main/java/org/jabref/logic/importer/WebFetchers.java

[code]

[2018-11-02 15:58] stefan-kolb commented on #4383
I think we need specific examples here, if maybe one of our fetchers can be improved.

[2018-11-02 16:09] DOFfactory commented on #4383
Excellent, but this list can be further expanded as it is clearly not sufficient, as highlighted earlier. Especially with scientific social networks like ResearchGate or Academia.edu, where individual researchers upload their manuscripts anyway.

[2018-11-02 21:36] chrisjmendoza commented on #4183
I'm working on this. Already implemented a "New Entry" button next to new article. Working on implementing fly-out.

[2018-11-02 21:48] Siedlerchr commented on #4441
Sometimes the number update if you switch to another db and then back again.

[2018-11-03 20:11] hsvia opened #4456 "preferences->entry table columns not editable 5.0"
JabRef 5.0-dev
There is no relation any more between   preferences->entry table columns    and the
real window in a library. Neither the _field names_ nor the _columns width_ are related
to the main library window. This was working in 4.3.1

That would not be an issue if the settings of the main window would be restored
at startup. Unfortunately it is not restored, so one has to restore the _colum

[2018-11-04 11:05] ilippert commented on #4356
JabRef 5.0-dev--snapshot--2018-11-02--master--611e35a6b
Linux 4.18.16-200.fc28.x86_64 amd64
Java 1.8.0_172

Sorry, but in my version drag/drop of a pdf onto an existing entry (both in table and in fiel field of editor) does not result in any effect: no file linked.

Only if I use the + button next to the file field in the entry editor, then I can add a single entry. Here, at least, I would also li

[2018-11-04 11:16] Siedlerchr commented on #4356
@ilippert  Have you checked the preferences?

[2018-11-04 11:34] ilippert commented on #4356
I guess I checjked preference  Entry editor  Default drag & drop: Copy, rename and link file.

The problem is is difficult to reproduce: two times I managed by now to drag a file from external file browser onto the file field and then a link became visible (as expected). But I cannot reliably reproduce this linking.
I did not yet manage at all to drag & drop the file onto the specific entry table

[2018-11-04 11:48] Siedlerchr commented on #4356
It should not only work in the file field, it should work on the whole entry editor.

[2018-11-04 11:55] Siedlerchr commented on #4456
Duplicate of #4437

[2018-11-04 11:55] #4456 closed

[2018-11-04 12:06] ilippert commented on #4356
just tried again. Interestingly, when I drag & drop a file on the entry editor after phase of non-use, the link is produced. I then remove the link to test again. Now, a second later, I cannot re-perform this effect: no link is produced.

[2018-11-04 16:03] Siedlerchr commented on #4456
You can rearrange the columns and adjust their width directly in the maintable. That is stored and restored

[2018-11-04 16:40] Siedlerchr commented on #4414
@AEgit  I found and fixed the underlying issue. It is a simple fix which makes the feature working again.
https://builds.jabref.org/fixgroupsmove/

Note that the entry count number on the group does not update, although the move is succesful, but that is another issue

[2018-11-04 17:22] hsvia opened #4458 "Closed JabRef processes remain running after "closing""
Hi together,

when I close a 5.0-dev "Jabref program" the process itself remains running forever until I kill them explicitly. If another "Jabref program" is started, another process is added and so on. The processes are no longer visible or accessible for the user. Nevertheless, the JabRef installer detects them and forces me to kill them.
Below a screenshot of my process-explorer with **3 runnin

[2018-11-04 17:40] Siedlerchr commented on #4458
Cannot confirm this on Windows 10 with the JabRef 5.0-dev--snapshot--2018-11-04--master--185c47a7a
After I exit JabRef it closes down, it actually needs a few seconds until it is shutdown.

The other issue is the same as  #4023

[2018-11-04 18:05] hsvia opened #4459 "Change of columns in the maintable not possible; arrangement not stored 5.0DEV"
Hi together, I really appreciate your work !

The arrangement of the maintable should be operated as communicated in #4456.

The problems appear with the 2 win-systems referenced at the end.
**Please do not treat me as a duplicate of #4437, my different libraries generate additional problems.**

### Below the arrangement before closing and after saving:
![adjustedlib1](https://user-images.githubus

[2018-11-04 19:03] Siedlerchr commented on #4458
Due to a lack of resources we are only able to support the latest version. There might be some bugs in older versions, which are already fixed. In this case we won't fix it on the JabRef 4.3.1 side. So only 5.x versions will shutdown flawlessly

[2018-11-04 19:03] #4458 closed

[2018-11-04 19:15] Siedlerchr commented on #4437
Agree with @tobiasdiez  The preferences option should be completely removed, this should already be sufficient as there is already a change listener present in `PersistenceVisualStateTable`  which stores the width

[2018-11-04 19:54] hsvia commented on #4459
Hi together,

there are actions leading to a "reset" of the arrangement:
1) every time one resizes the jabRef program window
2) every time one resizes the groups window
3) Most times when one selects different groups from the group window

I hope this helps

JabRef 5.0-dev--snapshot--2018-11-04--master--185c47a7a
Windows 8.1 6.3 amd64
Java 1.8.0_191

[2018-11-04 21:46] Siedlerchr commented on #4414
Thanks for the update, will check it out with open entry editor. The crash might be coming from the fact that the move group dialog is still swing and the rest javafx.
I added the dialog to the list of things to be converted.

[2018-11-05 12:18] schniepp opened #4461 "Working with PostgreSQL database is unusably slow"
JabRef version 4.31  on Ubuntu 16.04

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Connect to PostgreSQL db with ≈3,400 entries.
2. See that it takes over 8 minutes the database has still not loaded completely.

This is on a very fast server. The Internet connection from here is only about 1

[2018-11-05 15:33] olesundw opened #4462 "Freeze when double click entry to edit entry 5.0DEV"
JabRef version jdk1.8.0_172
on Mac OS Mojave 10.14

- [-] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists.

Steps to reproduce the behavior:
1. Run the command line to open JabRef (.bib file has 200 entries)
2. Double click one entry to open "edit entry" window
3. Then JabRef has frozen for about 60 seconds, and nothing shows.
4. Double c

[2018-11-05 16:00] Siedlerchr commented on #4462
Thanks for your report, unfortunately it seems some java bug itself where we can't do anything about at the moment, I fear:
https://bugs.openjdk.java.net/browse/JDK-8211304

[2018-11-05 17:46] programmer102 opened #4463 "Redesign User interface for Related work"
Hi
I am writing this request for improving the user interface of the related article tab . I want to add some feature for better understanding of the recommendations. How can i start it ?

Please use the GitHub issue tracker only for bug reports and suggestions for improvements.
Feature requests, questions and general feedback is now handled at http://discourse.jabref.org.
Thanks!

[2018-11-05 18:08] Siedlerchr commented on #4463
Hi, the Related Articles feature is maintained by Mr Dlib @JabRef/mrdlib and it has been redesigned in the current dev version.  I suppose you talk to the guys.

[2018-11-05 18:20] olesundw commented on #4462
Thanks for the useful information.

[2018-11-06 10:37] nilsbecker commented on #3974
Hm. I repeated the search for the article mentioned above, from ISI, and they have not changed their capitalization on export. So the "ISI bug" remains.

My original report was a result of this ISI bug -- autogenerating keys gives undesired results when the imported bibtex file has incorrect capitalization enforced by extra brackets.

I think as a workaround / data-sanitizing step, it would make s

[2018-11-06 10:47] PJozeph commented on #4427
I will go for this.

[2018-11-06 11:55] Siedlerchr commented on #4427
Thanks for your interest, but @sbeitzel already provided a PR fixing this. However you might want to take a look at other open issues

[2018-11-06 19:35] #4462 closed

[2018-11-06 21:13] Siedlerchr commented on #4427
Thanks to @sbeitzel  this issue got fixed!

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-11-07 09:14] AurelienBioprojet opened #4464 "Shared DB Connection issue in development version 5.0"
The server and DB connection works fine with Jabref 4.x. but the following connection error appeared using dev 5.0 with our shared database (MySQL 5.7) hosted on Windows Server 2008 R2.

"The server timezone value 'Paris, Madrid (heure d'été)' is unrecognized or represents more than one timezone. You must configure the server or JDBC driver to use more specific time zone value if you want to utili

[2018-11-07 09:33] DOFfactory opened #4465 "Color Picker for Groups"
Would it be possible to use a color-picker and icon-picker for JabRef Groups? It can be next to the line, as it seems that the color is defined by HEX anyway ...

![jabref color](https://user-images.githubusercontent.com/10846169/48122648-5718dc00-e278-11e8-9bf1-f9e3487e1014.png)

[2018-11-07 10:32] Siedlerchr commented on #4464
Hi, in the 5.0 dev we updated the MySQL driver to support newer versions of MYSQL.
Maybe we can add a parameter timezone to the configuration.

[2018-11-07 11:06] thenolfar commented on #4458
I don't know if this is the right Issue,
but when I run JabRef4.3.1 on ubuntu from terminal with java -jar, after closing the window, the process does not erminate. So when I want to close the terminal, it complains that a process is still running.
I do not encounter data loss or any problems because of it, though.

[2018-11-07 11:53] jmkeil commented on #3537
Hi. I tested the old steps to reproduce with JabRef-5.0-dev--snapshot--2018-11-06--master--5548f8f04.jar. I see some improvements (new entry now appears immediately), but there are still some problems.

New steps to reproduce:

1. Open JabRef
2. Open the groups view
3. Create a new Document
4. Click "All entries"
5. Paste some Bibtex
    * Entry appears (as expected)
    * **entry counter of  "All

[2018-11-07 11:56] Ali96kz commented on #3189
When I press edit group that show `org.jabref.model.groups.AbstractGroup#name` instead of `org.jabref.gui.groups.GroupNodeViewModel#displayName`, why? What's the difference between them?

[2018-11-07 12:22] jmkeil opened #4466 "Error logged after adding new entry if autosave is disabled"
JabRef version JabRef-5.0-dev--snapshot--2018-11-06--master--5548f8f04 on Windows 8.1

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. disable autosave
2. create a new library
3. save the new library using "save as" (filename test.bib)
    * file created (as expected)
4. add an entry
    * error

[2018-11-07 12:33] jmkeil opened #4467 ""Save" has no effect for new libraries without a file yet"
JabRef version JabRef-5.0-dev--snapshot--2018-11-06--master--5548f8f04 on Windows 8.1

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. create a new library
2. click on "save" (not "save as")
    * nothing happens (expected: file browser appears to select file, as for "save as")

[2018-11-07 12:40] Siedlerchr commented on #3537
@jmkeil  Thanks for your report. The entry number bug is known. If you switch to another db and then back it should be correct again. See issue #4441

[2018-11-07 12:40] Siedlerchr commented on #4458
@thenolfar  Please use the latest development version from https://builds.jabref.org/master/ The bug is only fixed there.

[2018-11-07 12:42] Siedlerchr commented on #4466
Do you have autosave enabled? Might be a Duplicate of #4352

[2018-11-07 13:07] jmkeil commented on #4466
Autosave was disabled. Enabling autosave causes other similar errors in the log.

However, I notices, that the log entry already appears after creating the new entry and before "save as".

[2018-11-07 13:10] AurelienBioprojet commented on #4464
It seems there's no major change about timezone support between MySQL version 5.x and 8.0.
https://dev.mysql.com/doc/refman/8.0/en/time-zone-support.html

What is the change between v4.x and v5.0?
Did you add the timezone parameter in the jdbc connection string for v5.0?
If yes, it would be a good idea to add this optional parameter in the shared DB login window.
If no, it would be needed to popul

[2018-11-07 13:20] Siedlerchr commented on #4464
In 5.0dev we use the version 8 of the ConnectorJ jdbc library. The easiest option would be to add a field to the dialog where the user can enter the timezone data string.
https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-usagenotes-known-issues-limitations.html

[2018-11-07 13:35] tobiasdiez commented on #4465
I'm working on this

[2018-11-07 14:10] AurelienBioprojet commented on #4464
Using ConnectorJ v8, many properties about date and time disappeared.
https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-properties-changed.html

Your option (free text field) seems a good and easy solution since _The server's time zone is overridden by setting the Connector/J connection property serverTimezone_
https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-other-changes.html

Tha

[2018-11-07 15:02] jmkeil commented on #3537
Yes, this is the same bug. So this issue can stay closed. Thanks.

[2018-11-07 19:37] tobiasdiez commented on #4427
Thanks to @sbeitzel this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-11-07 19:37] #4427 closed

[2018-11-07 19:46] tobiasdiez commented on #3189
The `displayname` is a formatted version of `name`. For example, if `name` contains latex commands like `Hell\'{o}` then `displayname` is the unicode version `Helló`.

[2018-11-07 22:42] bernhard-kleine commented on #4427
seems ok now.

[2018-11-08 04:40] wujastyk opened #4469 "Preference screen doesn't display"
JabRef version

JabRef 5.0-dev--snapshot--2018-11-07--master--144522d61
Linux 4.15.0-38-generic amd64
Java 1.8.0_191

- [ yes] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Start Jabref
2. Click "Options".  Menu appears.
3. Select "Preferences".  Nothing happens.  Ever.  The program doesn't freeze.

[2018-11-08 07:44] Siedlerchr commented on #4469
Seems all normal to me in todays version 144522d

[2018-11-08 09:42] PJozeph commented on #4467
I will go for this

[2018-11-08 11:06] bernhard-kleine commented on #4465
+1

[2018-11-08 14:41] andre8s commented on #4025
Dear Tobias,

thank you for your feedback and sorry for my late response. Recent weeks were quite busy, and in the meantime I migrated to another laptop which is running Win10.

I have now switched from Jabref 4.31 to the latest snapshot of 2018-11-07. It seems that this version is somewhat more stable, I do not get the corrupted screen anymore, and the memory consumption seems also stable – even

[2018-11-08 15:01] wujastyk commented on #4469
JabRef 5.0-dev--snapshot--2018-11-07--master--144522d61
Linux 4.15.0-38-generic amd64
Java 1.8.0_191

Wrong (non) behaviour still there on my system.

[2018-11-08 16:03] Siedlerchr commented on #4025
@andre8s  Thanks for your reply. Most the issues regarding groups are already filed at issues. Please do yourself and us a favor and check for existing issues and or open a new one  if you can't find anything related to your problem. This helps us to keep the overview.

[2018-11-08 16:17] hrittich opened #4471 "NullPointerException when starting JabRef 4.3.1"
Hi,

I am trying to use JabRef version 4.3.1 on my Fedora 28. Unfortunately, I get the following error when starting.

    $ java -version
    openjdk version "1.8.0_191"
    OpenJDK Runtime Environment (build 1.8.0_191-b12)
    OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)
    $ java -jar JabRef-4.3.1.jar
    17:12:37.963 [AWT-EventQueue-0] INFO  org.jabref.logic.importer.OpenDatabase -

[2018-11-08 16:50] hrittich commented on #4471
Hi,
I am sorry for bothering you. It is a bug in Fedora. The solution can be found [at reddit](https://www.reddit.com/r/Fedora/comments/84esww/openjfx_on_fedora_is_not_working/).

The following command resolves the issue:

    sudo dnf install java-1.8.0-openjdk-openjfx java-1.8.0-openjdk-openjfx-devel

Regards

[2018-11-08 16:55] Siedlerchr commented on #4471
Yeah, you were missing openjfx. Would you please be so kind and edit the fedora section?
We had already installation instructions for Fedora 23.
http://help.jabref.org/en/Installation#fedora-23-and-oracle-java

[2018-11-08 16:55] #4471 closed

[2018-11-08 16:57] Siedlerchr commented on #4469
Hi, please try to post a complete error mesage/stack trace from the console/terminal if you run it via java -jar JabRef.jar

Another option would be to try resetting the preferences: http://help.jabref.org/en/CommandLine#reset-preferences--d-key

[2018-11-09 00:55] koji33 commented on #3995
BTW, look and feel is set to default on Mac: com.apple.laf.AquaAndFeel. I tried some other availabilities in vain.

On the other hand, direct importing from the command line works well.

Importing in unknown format: Downloads/some.ris
Format used: RIS
File: grouptree.fxml not found, attempting with camel case
File: grouptree.css not found, attempting with camel case

[2018-11-09 04:19] Ali96kz commented on #3382
I can't reproduce these bug. Is these bug still exists?

[2018-11-09 10:17] AEgit commented on #4469
I cannot reproduce this bug with:

JabRef 5.0-dev--snapshot--2018-11-07--master--144522d61
Windows 10 10.0 amd64
Java 1.8.0_191

[2018-11-09 12:49] andre8s opened #4472 "Strange focus behaviour of search field above literature entry list"
JabRef version JabRef 5.0-dev--snapshot--2018-11-07--master--144522d61
on Windows 10 10.0 amd64
Java 1.8.0_181

Steps to reproduce the behavior:
1. Open a literature database
2. Use search field above entry list e.g. for searching an author name
3. Double-click on one of the found entries to open its edit section
4. Click on the 'x' at the right side of the search field in order to empty it and ty

[2018-11-09 15:49] eddie8de opened #4473 "Fedora 29: Any versions above 3.8.2 do not start"
In repositories, the version 2.10 is the latest one.

Any 3.x versions including 3.8.2, I can start with "java -jar JabRef-3.8.2.jar"

**But any 4.x version, I can not start:**
16:39:37.290 [AWT-EventQueue-0] ERROR org.jabref.FallbackExceptionHandler - Uncaught exception occurred in Thread[AWT-EventQueue-0,6,main]
java.lang.NoClassDefFoundError: javafx/scene/control/TextField
	at org.jabref.gui.Ja

[2018-11-09 15:54] Siedlerchr commented on #4473
See FAQ/Installation instructions
http://help.jabref.org/en/Installation#fedora-and-openjdk

[2018-11-09 18:36] eddie8de commented on #4473
Why closed? Nothing FAQ related!

[2018-11-09 18:57] Siedlerchr commented on #4473
You have either installed the wrong Java version and or the wrong javafx version or are missing the openjfx files. Maybe you have more than one Java version installed or the wrong javafx versions.

[2018-11-09 19:00] Siedlerchr commented on #4473
See issue #4471

[2018-11-09 19:02] eddie8de commented on #4473
I checked that before posting the issue, so I'm pretty sure that it's only this one correct version, but I'll double check on Monday (sorry, the PC is at work).

[2018-11-09 19:24] Siedlerchr commented on #4473
Okay, you could also try to install the oracle jdk. This should work. Otherwise, I unfortunately have no idea.

[2018-11-09 20:53] wujastyk commented on #4469
Here's the error trace from the console:
java -jar ~/Dropbox/bin/JabRef--master--latest.jar
13:52:33.208 [JavaFX Application Thread] INFO  org.jabref.logic.importer.OpenDatabase - Opening: /home/dom/Dropbox/localtexmf/bibtex/bib/biblio4-utf8.bib
13:52:48.050 [JavaFX Application Thread] ERROR org.jabref.FallbackExceptionHandler - Uncaught exception occurred in Thread[JavaFX Application Thread,5,mai

[2018-11-09 21:00] wujastyk commented on #4469
I reset all the preferences, using -d all, and now JabRef is behaving properly again, and I can reach the Options screen.

If I change an option and save the preferences, and then run JabRef--master--latest.jar witout "-d all" then the behaviour reverts to the original problem.  I can't get to the Options screen.

JabRef 5.0-dev--snapshot--2018-11-09--master--bab9ae819
Linux 4.15.0-38-generic amd6

[2018-11-09 21:07] skanskan commented on #4414
Now it seems to work. It moves and copies properly between groups, though it doesn't update the number of entries on each of them.

[2018-11-10 08:35] Siedlerchr commented on #4414
Yeah, the number update is another issue already filed here . If you switch to another library and back the numbers should be correct again

[2018-11-10 08:41] GongSiqiu opened #4474 "Can't input Chinese characters in biblatex source"
JabRef version
JabRef 5.0-dev--snapshot--2018-11-09--master--bab9ae819
Linux 4.14.77-041477-generic amd64
Java 1.8.0_181
 on Ubuntu 18.04

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1.Open and entry
2. Choose biblatex source
3.Input Chinese characters
I can't input Chinese characters in biblate

[2018-11-10 16:32] wujastyk commented on #4469
I deleted all findable config files for jabref, inlcuding in ~/.java/.UserPrefs/org/jabref, and now I can open and edit Options.

[2018-11-10 17:11] Siedlerchr commented on #4469
Okay, thanks for your feedback. The error looks like the underlying reason is somehow related to  #4459

[2018-11-10 17:11] #4469 closed

[2018-11-11 08:50] ukleine opened #4475 ""mark imported entries""
JabRef 5.0-dev--snapshot--2018-11-09--master--bab9ae819
Linux 4.12.14-lp150.12.25-default amd64
Java 1.8.0_171

This issue is similar to #1534 (actually the same for an old version). After an import of a new entry, this entry should be highlighted/and or at the top at the table for further inspection. Worked fine in 4.3.1.

[2018-11-11 12:11] rvb-033 opened #4476 "Cannot load JabRef"
Good afternoon,
I am using Jabref 3.8.1 on Windows 10 and I cannot open JabRef. I have been using it since ages and changed nothing that I know on my machine. I managed to restart it yesterday by re-installing the package and suppressing the keyword list (large, probably +/- 1000) from the .bib file and had to redefine all my preferences. This morning the thing did not want to load again whatever

[2018-11-11 15:54] Siedlerchr commented on #4476
Probably you have either some JabRef Instance open in the task manager (try to kill all JabRef proceses)
And then try the latest development verison.
Please make a backup of your bib file before.
https://builds.jabref.org/master/

[2018-11-12 05:54] Ali96kz opened #4477 "GroupTreeViewModel delete or implement TODO."
Latest master.
A lot of commented code in `org.jabref.gui.groups.GroupTreeViewModel`.

[2018-11-12 08:20] laolux commented on #4473
I have exactly the same problem on my freshly installed Fedora 29.
JabRef 3.8.2 works fine, 4.1, 4.3.1 and master-latest do not.

I have installed:
java-1.8.0-openjdk, version 1.8.0.191.b12 (java-1.8.0-openjdk-1.8.0.191.b12-8.fc29.src.rpm)
java-1.8.0-openjdk-openjfx, version 1.8.0.191.b12 (java-1.8.0-openjdk-1.8.0.191.b12-8.fc29.src.rpm)

java -version:
openjdk version "1.8.0_191"
OpenJDK Runtime

[2018-11-12 08:32] rvb-033 commented on #4476
Thanks,
I installed the latest version 5.0 snapshot and it seems to work.
Do you know if and when the feature enabling to sort the entry table on the three columns criteria will be restored in V5.0 ?
Case sensitive keywords is a great idea, So is the filter on keywords. The couniting mechanism of each keyword number of occurence works without overloading the machine. I dit not use V4.n because I n

[2018-11-12 08:32] #4476 closed

[2018-11-12 08:55] AEgit commented on #4414
I can confirm again that this bug is fixed in:

JabRef 5.0-dev--snapshot--2018-11-11--master--50875f967
Windows 10 10.0 amd64
Java 1.8.0_191

Note, however, that the crashing behaviour reported in https://github.com/JabRef/jabref/issues/4414#issuecomment-435709161 persists (I was not sure, whether comment https://github.com/JabRef/jabref/issues/4414#issuecomment-437432632 referred to the main topi

[2018-11-12 08:57] Siedlerchr commented on #4476
@rvb-033 The three column filter is already implemented. but works a bit different now.  It uses the native mechanisms of the tables.
You can sort by multiple columns if you click on the table header and press shift to select other (e.g. author ascending + shift  + click on title column header )  By holding shift and clicking on the table column header, you can also switch between ascending/descen

[2018-11-12 09:03] Siedlerchr commented on #4473
Hm. that seems to be an issue with openjfx specifically on Fedora 29. It would be interesting to see, if the Oracle jdk works fine. https://www.oracle.com/technetwork/java/javase/downloads/index.html
Another thing is that this seems to be global problem with JavaFX, according to that report here, even the simplest app doesn't work:
https://ask.fedoraproject.org/en/question/128641/package-javafxsce

[2018-11-12 09:09] Siedlerchr opened #4478 "crash in entry editor after moving entry to groups"
1. Move items from one group to another
2. Open the item view/panel, switch between tabs including the "BibTex Source" tab (without making any modifications)
3. llose the item view/panel
4. Try to move the same items to another group

Followup from #4414  reported by @AEgit

[2018-11-12 09:50] laolux commented on #4473
Ok, really seems to be a Fedora 29 problem. I found a bug report describing that openjdk-openjfx is pretty much broken in Fedora 29: https://bugzilla.redhat.com/show_bug.cgi?id=1644712
Someone is working on it, but might take a while.
So I suggest to close this bug as it is unrelated to JabRef.
It would be nice if someone could mention in the documentation that JabRef 4.x does not work with Fedora

[2018-11-12 10:39] ilippert opened #4479 "multi-line fields not necessarily working"
following issue https://github.com/JabRef/jabref/issues/555 , it should be possible to define some fields as multi-line fields by adding these fields in the Preferences/File/Do not wrap section.

Not all the fields that I listed there are actually shown/represented as multi-line fields in the entry editor.

JabRef 5.0-dev--snapshot--2018-11-11--master--50875f967
Linux 4.18.17-200.fc28.x86_64 amd64

[2018-11-12 10:47] Siedlerchr commented on #4473
You can easily edit the installation instructions page. Just scroll to the bottom and there is an edit vu

[2018-11-12 17:52] AndresSan6 commented on #4464
Hello! I can help with this issue, will start working on it today.

[2018-11-13 12:33] programmer102 commented on #4463
Hi

I have developed a new interface for eralted work in java fx scene builder. I need some help with integration .

[2018-11-13 19:10] tobiasdiez opened #4480 "Exception when downloading file with parameters"
JabRef version 5dev on Windows 10

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open entry editor > General fields tab
2. Using the "Download button" next to the file field, try to download an url with parameters like `https://www.jstor.org/stable/pdfplus/10.2307/2373250.pdf?acceptTC=true`
3.

[2018-11-13 19:15] tobiasdiez commented on #3049
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-11-13 19:19] tobiasdiez commented on #923
This should be fixed in the latest development version (the dialog can be accessed via Options > Bibtex key pattern). Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-11-13 19:31] rvb-033 commented on #4476
Good evening.
I just tested the sorting method. It works fine.
So far, V5.0 works OK for me and I can load my database without problems. I
don't undestand why my V3.n stopped working.
I think you can close the ticket.
Thanks for your help.
Regards,
Hervé

Le lun. 12 nov. 2018 à 09:57, Christoph <notifications@github.com> a écrit :

[2018-11-13 21:39] DOFfactory commented on #4321
Hm, thanks @jeremylea for the feedback. Unfortunately, I have disabled the telemetry and anonymous statistics, and rarely I still experience the aforementioned issue. Therefore, I am afraid, your solution, although it might be on the right path, does not fully resolve the issue.

[2018-11-14 07:45] Ali96kz commented on #4467
@PJozeph Do you work on it?

[2018-11-14 14:03] Holzhauer commented on #3049
Works on my system (ubuntu 18.04) now. Thanks!

[2018-11-14 14:50] MazerRackhem opened #4481 "JabRef Loads Very Slowly Windows 10 (4.3.1) and screen goes black."
JabRef version 4.3.1

Hi, I'm a relatively new JabRef user. I used to have a Mac machine at work and used Bibdesk before. I love all of the JabRef features. However, the program loads so slowly on my machine it's almost unusable. I only have about 50 entries total so far. However, it takes JabRef as long as 10 minutes to open up a database file. Just a few moments ago I loaded a database with just

[2018-11-14 15:15] MazerRackhem commented on #4481
A further note that may be relevant. Whenever I open a .bib file I get the message "A back for X.bib was found, do you want to restore X.bib from the backup?"

Every time I load a file this happens.

[2018-11-14 17:56] Siedlerchr commented on #4481
Please try the latest development version from http://builds.jabref.org/master/ there has been a lot of improvement regarding performance and other fixes.

[2018-11-14 20:10] DOFfactory opened #4482 "Edit search cursor stays at the beginning"
JabRef 5.0-dev--snapshot--2018-11-11--master--50875f967
Windows 10 10.0 amd64
Java 1.8.0_172

Often when I hit the search bar if there is already a text, it expands visually, however, the search cursor is at the beginning of the bar and is not moving. On double-click it does not select the whole phrase, I have to use Delete to individually delete all the search text - Backspace is not working obvi

[2018-11-14 20:13] DOFfactory commented on #3367
JabRef 5.0-dev--snapshot--2018-11-11--master--50875f967
Windows 10 10.0 amd64
Java 1.8.0_172

I can second this, this still happens on v5.0. Sometimes the focus is lost and shows the previous searched/selected entry, especially if a new entry has been generated via DOI search. So irritating!

[2018-11-14 22:02] tobiasdiez commented on #1742
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-11-14 23:17] AndresSan6 commented on #4464
Hello, I made a PR #4483 where I am adding the requested feature.

[2018-11-15 04:17] Ali96kz commented on #4482
Can't reproduce bug.
1) type text in a search bar.
2) clicked to row in a table
3) Clicked to search bar
Cursor is at the end. By double clicking select whole text.

Also you can use `Ctrl + F` that will automatically select whole text.

[2018-11-15 04:45] Ali96kz opened #4485 "Add undo for group"
Add `undo` operation for:
1) Group editing
2) Adding a group
3) Remove subgroups
4) Remove group and subgroups

[2018-11-15 08:15] DOFfactory commented on #4482
![jabref](https://user-images.githubusercontent.com/10846169/48539226-d761c180-e8b6-11e8-8dd5-4687bfb98534.png)

I don't know but at my end it shows me this ... the cursor stays _constantly_ at the beginning - does not move while I type.

[2018-11-15 08:20] Ali96kz commented on #4482
I am new contributor. Can you say how did you open that search bar.
![jabref](https://user-images.githubusercontent.com/15236829/48539531-a1860280-e8e1-11e8-9c13-dcd615033554.png)

[2018-11-15 09:49] Ali96kz commented on #4482
I reproduced issue. I will fix it.

[2018-11-15 15:03] tobiasdiez commented on #4482
Just as a guess: the reason for this bug is the manual binding. If this is the case, then it should be easy to fix by using bindBidirectional

[2018-11-15 15:43] skanskan opened #4489 "After downloading an article I can't broswe for the folder to save it."
Hello.

JabRef_windows-x64_5_0-dev--snapshot--2018-11-15--master--81f15e9e6.exe
Windows 7 x64

1. Select an entry on your bibliography
2. Go to the menu "Quality" -> "Lookup Full Text Document"
3. If something is found  A Windows will be opened.
4. Select "Save File"
5. The option "Browse" doesn't work.

[2018-11-15 15:46] skanskan opened #4490 "Looking up Full Text Document of multiple entries simultaneously."
Hello.

JabRef_windows-x64_5_0-dev--snapshot--2018-11-15--master--81f15e9e6.exe
Windows 7 x64

The option "Quality -> Lookup Full Text Document" doesn't work if you have several entries selected, it doesn't produce any result, it only works if you go one by one.

It would be nice to be able to let Jabref find and download all possible entries at once.

PD: I've tried several times and some of them

[2018-11-15 15:55] skanskan opened #4491 "removing all associated downloaded pdf (full text) and marks?"
Jabref 5.0 on Window 7 or 10.

I've used the option "look up full text" for some of the entries on my bibliography.
A pdf was downloaded for each entry (if available) and th entry was marked with a symbol as it's linked to that pdf.
How can I remove all those marks and pdfs selecting all the entries simultaneously?

[2018-11-16 03:43] sammo3182 opened #4493 "Super tiny font in the searching window"
JabRef 5.0-dev--snapshot--2018-11-11--master--50875f967
Windows 10 10.0 amd64
Java 1.8.0_192

I'm using a 4k screen on a Thinkpad X1. I got super tiny fonts when using the web searching engine, as shown here:
![image](https://user-images.githubusercontent.com/6463211/48596440-04d06d00-e994-11e8-910d-97281d3b6420.png)

Additionally, sort of a question: In previous versions, when I searched some aut

[2018-11-16 10:55] #4493 closed

[2018-11-16 11:02] tobiasdiez commented on #4489
When a fulltext document was found, then it should be downloaded to the default file directory and linked to the entry without showing a dialog as an intermediate step, similarily to how it works when the same action is triggered from the button next to the file field in the entry editor.

[2018-11-16 11:10] tobiasdiez commented on #4474
The workaround posted in https://github.com/FXMisc/RichTextFX/issues/146 should work.

[2018-11-16 11:58] skanskan commented on #4489
But there is a button to select other folder and it doesn't work.
I think it's not an important bug but I report it.

[2018-11-16 13:06] vanukkalla opened #4494 "RIS export empty"
Would  it be possible to add key bindings for export (ctrl+E) and export selected entries (ctrl+shift+E)?

[2018-11-16 16:27] fspreng opened #4495 "Export to clipboard: preselect last used export format"
When calling the export functionality of JabRef via "File"-->"Export"/"Export selected entries", the previously used export format is preselected as "Save as type" in the opening "Save as" window based on the information stored for the user preference key named "lastUsedExport". This behavior is much appreciated by my colleagues and me. When right-clicking one or multiple selected entries in the e

[2018-11-16 18:31] tobiasdiez commented on #4467
Thanks to @Ali96kz should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-11-16 18:31] #4467 closed

[2018-11-16 18:46] tobiasdiez opened #4496 "Submit dialog with Ctrl + Enter"
**Is your suggestion for improvement related to a problem? Please describe.**
If the user fills out a form, has the focus in a text field and hits `Ctrl + Enter` then he expects that the dialogs default action is performed (which is usually "OK"). Right now nothing happens.

**Describe the solution you'd like**
 `Ctrl + Enter` should invoke the dialogs default action in every dialog.

[2018-11-16 18:48] tobiasdiez commented on #4464
Thanks to @AndresSan6 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-11-16 18:48] #4464 closed

[2018-11-16 19:40] rs-aesi opened #4497 "4.3.1 fails to build on Slackware-14.2/x86_64"
I'm configuring a new desktop running Slackware-14.2/x86_64. The jdks
available are openjdk-8u171_b11 and openjdk7-7u181_b01. This is the result
when I try to load the application:

]$ java -jar JabRef-4.3.1.jar Exception in thread "main" java.lang.UnsupportedClassVersionError: org/jabref/JabRefMain :
Unsupported major.minor version 52.0
        at java.lang.ClassLoader.defineClass1(Native Method)

[2018-11-16 20:52] Siedlerchr commented on #4497
The error indicates that the Java version or the Java home path environnement variable is not set correctly. You need jdk 8 and openjfx 8.

[2018-11-16 23:42] rs-aesi commented on #4497
On Fri, 16 Nov 2018, Christoph wrote:

Christoph,

   Okay. I'll install it; there's a SlackBuilds.org package for it.

   There might be a java application here that still depends on java7. I'll
uninstall it, and only build it if an application complains.

   No update-alternatives on Slackware.

Regards,

Rich

[2018-11-18 13:55] rs-aesi commented on #4497
On Fri, 16 Nov 2018, Christoph wrote:

Christoph,

   I removed the jdk packages and installed openjdk(7) because it's a
prerequisite for openjdk8 (at least on Slackware) and openjfk which mates
with openjdk8. Although I expected this to allow JabRef-4.3.1 to load it
didn't:

Installed packages:
openjdk-7u181-x86_64-1_SBo
openjdk8-8u181-x86_64-1_SBo
openjfx-8u60-x86_64-1_SBo

$ JabRef
Exception in

[2018-11-19 13:37] jmkeil commented on #4467
I have tested it with JabRef-5.0-dev--snapshot--2018-11-18--master--64f320971.jar and it works well. Thank you.

[2018-11-20 07:43] #4113 closed

[2018-11-20 11:11] DOFfactory opened #4500 "Lost focus when filling in dates"
JabRef 5.0-dev--snapshot--2018-11-18--master--64f320971
Windows 10 10.0 amd64
Java 1.8.0_172

It is extremely frustrating when one tries to fill in a field `Date`, and I start with `2018-` and the focus drops to the `Author` field and one basically rewrites the already filled in `Author` field. The focus is also lost in the entry list panel, I have to search for the highlighted line - which is los

[2018-11-20 15:48] CharlesVilliers commented on #3995
After I updated macOS High Sierra to Mojave, my perfectly running JabRef 4.2 freezes, not when opening a library file, but as soon as I want to open the entry editor.
The latest development version of JabRef 5 looks really good but is slow and unresponsive, the entry editor takes five seconds to show another entry.

[2018-11-20 18:56] skanskan commented on #4478
I have the same problem.

[2018-11-20 20:35] skanskan opened #4501 "Unable to find some articles."
I don't know why I'm unable to find many articles if I use the embedded search tool on Jabref.

For example I've tried searching:
_Statistical Issues in Modeling Chronic Disease in Cohort Studies_
both with the Pubmed and Google Scholar search options, but nothing is found.

But if I go to Google scholar web site I can find it without problem.

https://scholar.google.es/scholar?hl=es&as_sdt=0%2C5&

[2018-11-20 21:52] kirk86 commented on #556
Apparently there is a bug as I understand it. And jabref devs should further investigate it. If one sets the expernal pdf viewer from Options->Preferences->External Programs then obviously it does not work. On linux it only works if one sets the viewer as recommended by @denoza. A noob question to the devs, why there's not consistency across user preferences?

[2018-11-21 16:31] rs-aesi commented on #4497
On Sun, 18 Nov 2018, Christoph wrote:

Christoph,

   Unfortunately, it doesn't have the solution.

   When I try to invoke JabRef I get this error:

$ JabRef
Error: Could not find or load main class org.jabref.JabRefMain

   Installed on this host are:

$ java -version
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (IcedTea 3.9.0) (linux-gnu build 1.8.0_181-b13)
OpenJDK 64-Bit Server VM

[2018-11-22 13:39] ueberferret opened #4506 "Jabref freezes when selecting style in libreoffice plugin"
I installed jabref 4.3 on a new windows 10 machine using the standard installer.
I open a library, select Tools|OpenOffice/LibreOffice connection. The docker appears on the left as it should. I connect to my Libre office document. I can even insert and format citations. But as soon as I click on the "Select style" button JabRef becomes totally unresponsive. Any click or key press produces a messag

[2018-11-22 14:54] dropbearII commented on #4241
I just tested the latest master and development snapshop. The file attachment is still not working. I've tried adding via General -> "+" and via right clicking on the enry.

Win 7, 64bit
 https://builds.jabref.org/master/JabRef-5.0-dev--snapshot--2018-11-21--master--c19f3a46a.jar
Java version 8.0.1910.12

[2018-11-22 15:14] ueberferret commented on #4506
Update: when reinstalling jabRef with choclatey the issue goes away. IMy guess is that this is because chocolatey also installs jdk 1.8 on top of the jdk 1.11 that came with my new windows install.

[2018-11-22 15:30] Siedlerchr commented on #4506
Yes, JabRef requires java 1.8. Newer versions are currently not supported.

[2018-11-22 15:30] #4506 closed

[2018-11-22 20:18] tobiasdiez commented on #4241
@dropbearII what exactly is not working for you?

[2018-11-24 01:48] timobaumann opened #4508 "export to Harvard/RTF incorrect when name contains (properly escaped) "and""
JabRef version 3.2

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists (JabRef-5.0-dev--snapshot--2018-11-23--master--742cfce7e.jar)

The export filter interprets all "and"s in name fields as breaking multiple names even when the author is properly escaped with curly braces.

Steps to reproduce the behavior:
1. consider the bibtex
[cod

[2018-11-24 09:48] Siedlerchr commented on #4508
Probably related to the latex to Unicode converter which kills the braces

[2018-11-24 23:00] skanskan opened #4509 "Where can I download Jabref 5.0 dev?"
Hello

I downloaded a JabRef 5.0 dev snapshot some weeks ago but I'm not able to find it again.
https://github.com/JabRef/jabref/releases
Contains version version 4.3.1
Where is the link to the 5.0?

[2018-11-25 10:50] Siedlerchr commented on #4509
You can download the snapshots from builds.jabref.org/master

[2018-11-25 11:18] #4509 closed

[2018-11-25 15:32] #4315 closed

[2018-11-26 06:34] Siedlerchr commented on #4364
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2018-11-26 06:34] #4364 closed

[2018-11-26 06:49] Siedlerchr commented on #4447
Is this issue now resolved for you?

[2018-11-26 12:04] DOFfactory commented on #4500
Ok, I believe I identified what is the issue here. The problem is the format one tries to insert the date. It is expecting the format `DD-MM-YYYY`, and once typed in this way, it "reformats" the date to the biblatex standard `YYYY-MM-DD`. This way the typing does not lose focus and does not jump to the Author field.

However, if one is aware of the biblatex date standard and starts to type it in t

[2018-11-26 14:39] funclesz opened #4516 "Preferences window not shown JabRef 5.0 dev"
JabRef 5.0-dev--snapshot--2018-11-26--master--89d4d745c
Windows 7 6.1 amd64
Java 1.8.0_191

The preferences window is no longer shown. Is that a known issue?

Try to select: Menu - Options - Preferences

[2018-11-26 14:47] funclesz opened #4517 "Entry-preview"
JabRef 5.0-dev--snapshot--2018-11-26--master--89d4d745c
Windows 7 6.1 amd64
Java 1.8.0_191

At the moment I use "Keyword Groups" a lot to manage my PDF's.
I have the Entry-preview open.
When you select a Keyword from the groups panel, the entry-list displays the matching references.
However, in the Entry-preview, the last selected reference is still shown.
For me it would work best if either the f

[2018-11-26 15:59] skanskan commented on #4501
Another example
No search engine in Jabref is able to find
Markov 1906  "Extension of the law of large numbers to dependent quantities"

The first occurrency here:
https://scholar.google.es/scholar?q=markov+1906&hl=es&as_sdt=0%2C5&as_ylo=1905&as_yhi=1910

Google scholar doesn't allow me to export the cite.
But you can find it on other sites such as
http://www.citeulike.org/user/JCMartinez-Ovando/a

[2018-11-26 16:29] Siedlerchr commented on #4516
Hi, please look at the error console, there should be an error logged. You can also try to reset your preferences

[2018-11-26 17:03] DOFfactory commented on #4517
If you implement this suggestion, I would kindly request to make it optional. I would rather prefer the behaviour as it is now.

[2018-11-26 18:30] funclesz commented on #4516
I probably overlook something. I see only the Event log, is that the error log you mean?
The even log says: "Uncaught exception occurred[JavaFX Application Thread,5,main]

Is there a simple way to reset the preferences?

[2018-11-26 19:05] Siedlerchr commented on #4516
Please add the whole log output, the stack trace helps us to locate the error .
For preferences resetting have a look at the help here https://help.jabref.org/en/CommandLine#reset-preferences--d-key

[2018-11-27 10:34] mgmverburg commented on #3113
Currently my JabRef is using 2.5GB of RAM for a library with less than 50 entries. I only installed and started using JabRef yesterday and today started wondering why my PC became slow (8GB of RAM only currently), and noticed JabRef was using this much.

JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_191

[2018-11-27 10:43] Siedlerchr commented on #3113
Please use the development version available at http://builds.jabref.org/master/
Please make a  backup of your library.

[2018-11-28 07:11] ishaan007 commented on #4494
@Siedlerchr I would like to get started on this, could you help out with steps to build the code and which java files to look into for this particular fix.

Thanks

[2018-11-28 07:37] Siedlerchr commented on #4494
@ishaan007  Thanks for your interest!  Check out the Contributing.md https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md
and the how to setup a local workspace https://github.com/JabRef/jabref/wiki/Guidelines-for-setting-up-a-local-workspace

[2018-11-28 07:39] Siedlerchr commented on #4494
The relevant java files are probably in the basePanel where the exportAction is called

[2018-11-28 07:59] ishaan007 commented on #4494
Thanks for this information @Siedlerchr. I have built the code. How do I run the app locally now?
![image](https://user-images.githubusercontent.com/5724510/49137140-95eb0080-f311-11e8-8936-c882625c590b.png)

[2018-11-28 08:01] Siedlerchr commented on #4494
Either you setup Eclipse using ./gradlew eclipse or you import it into Intellij.
To run you can use ./gradlew run

[2018-11-28 10:10] dschrempf commented on #3925
Since I just wanted to file an issue, but found this one here: Has there been any progress made on this issue?

[2018-11-28 11:47] sgibb opened #4521 "Sorting of read-status isn't working as expected"
JabRef 5.0-dev--snapshot--2018-11-26--master--89d4d745c
Linux 4.18.0-2-amd64 amd64
Debian Linux buster
Java 1.8.0_191

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

After clicking on the read-status (the eye symbol) column header I would expect the following order: unread, skimmed, read (or in decreasing order: read, skimmed, unr

[2018-11-29 01:03] alexteichmann79 opened #4522 "Problem with preview DGPs (inbook, incollection)"
JabRef version 4.3.1-jar, 5.0-dev.jar on Windows 10

- [ x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

when using the style "Deutsche Gesellschaft für Psychologie (German), the previews of the entry types inbook and incollection put the title of the book in braces after the title of the chapter. This is not standard, I think.

@InCo

[2018-11-29 07:40] Siedlerchr commented on #4522
Hi,

thanks for noticing this. As this style is part of the CSL styles, it is an external style which we can't do anything about, JabRef just includes the style collection from the CSL repository.  So you should file an issue about the style format here: https://github.com/citation-style-language/styles

[2018-11-29 07:40] #4522 closed

[2018-11-29 15:08] raffam commented on #2867
I still have the same issue

Installing `javafx` did *not* solve the problem

Can we re-open this?

java -version
openjdk version "11.0.1" 2018-10-16
OpenJDK Runtime Environment (build 11.0.1+13-Ubuntu-2ubuntu1)
OpenJDK 64-Bit Server VM (build 11.0.1+13-Ubuntu-2ubuntu1, mixed mode, sharing)

uname -a
Linux raffa-kubuntu 4.18.0-11-generic #12-Ubuntu SMP Tue Oct 23 19:22:37 UTC 2018 x86_64 x86_64 x8

[2018-11-29 15:31] Siedlerchr commented on #2867
JabRef explicit requires JDK8 and openjfx8!

[2018-11-30 11:45] dschrempf opened #4523 "Integrity checker should be applicable to marked entries"
Hello,

it should be possible to check the integrity of the subset of the library also. Since my library is very large, integrity checking takes a long time, and sometimes I only want to check some of my entries.

Thank you!

[2018-11-30 15:57] GongSiqiu opened #4525 "Can't import files through find unlinked files"
JabRef 5.0-dev--snapshot--2018-11-29--master--37be33450
Linux 4.9.0-8-amd64 amd64
Java 1.8.0_181

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Quality
2. find unlinked files
3. scan directory
4. import
Then the window will disappear and the files are not imported.

<details>
  <summary>Log Fil

[2018-11-30 20:08] alick commented on #4473
The fedora bug https://bugzilla.redhat.com/show_bug.cgi?id=1644712 is fixed now, and JabRef 4.3.1 can work fine on Fedora 29.

However, jabref master snapshot still won't work, due to missing libjfxwebkit.so in Fedora's packaging of openjfx. See https://bugzilla.redhat.com/show_bug.cgi?id=1547378 The reason is libjfxwebkit depends on ffmpeg and binary blobs, which are not allowed in (official) Fed

[2018-12-01 02:36] bicodoc commented on #4521
Hi.  I'm new to java and new to GitHub and would like to take on my first open source project.  I have forked/cloned/re-branched the jabref code, have prepped eclipse, including eclEmma and am ready to look at the code.  But I don't know which file or class to look at!  Eclipse shows multiple src subdirectories and none of them have names which might indicate a reading function.  Please advise.  M

[2018-12-01 08:50] Siedlerchr commented on #4521
Welcome!

First of all look in maintable and look at the View Model class to find out how the data in the maintable is added and setup.
For further questions you can ask in gitter chat. And take a look at the wiki, there is a high level architecture overview of JabRef

[2018-12-01 11:25] rvb-033 opened #4526 "Various issues witn JabRef 5.0"
Good morning,
I am running JabRef 5.0, release 29/11/2018 and Java 8 update 191 on Windows 10 V.1511. My computer is a I5 3.10Ghz, 8Mo. To my standards it is a big machine, it has been dimensioned to handle .raw image processing and does it pretty well.
My data base is, I believe, large : +/-4Mo, 7000+ records, probably +/-1000 Keywords. It is UTF-8 encoded.
I would like to report three issues :
-

[2018-12-01 12:15] Siedlerchr commented on #4526
Thanks for your report. Just a question?
How do you do copy paste?
Are you aware that you can directly paste bibtex code on the maintable?  And copy works the same way.
I personally had no problem copying pasting this way. Even with accents or other Unicode chars

[2018-12-02 04:13] bicodoc commented on #4521
Hi.  I'm unable to sign in to gitter because of Firefox "Content Security Policy", which has no search entry on the Firefox preferences page.  I've looked at the wiki, and looked at BibEntryTableViewModel.java in org.jabref.gui.maintable, but have found no enlightenment there.  If simply finding the code that needs to be fixed is going to be so difficult, I may not have the time to contribute.  Ca

[2018-12-02 04:39] stefanct opened #4527 ""Rename file" fails silently #2"
The "Rename file" feature does not work for me (at least in some instances) in 4.3.1 and current 5.0 master (65a1a03b9). When that menu entry is clicked the file widget flashes shortly but the context menu remains as if no click happened, and more importantly the file is not renamed but an uncaught exception is thrown:

	04:55:15.960 [JavaFX Application Thread] ERROR org.jabref.FallbackExceptionHa

[2018-12-04 09:52] noirchen opened #4529 "Wrong journal name "Astronomy Journal" should be "Astronomical Journal""
I am not sure whether this has been reported or not. In the journal abbreviation list, one journal "Astronomical Journal" is incorrectly spelled as "Astronomy Journal". The abbreviation is correct "Astron. J." though.

[2018-12-04 20:40] andrewufrank commented on #2933
I have 3.8.2 and did not succeed to install a new one (could you point to a reliable installation instruction for debian - I have no experience with java); however, I could use the manage keywords till I reset the preferences to the defaults - now I have the same issue as descibed above. Could you indicate what the changes were and some guess what aspects of the preferences could affect the manage

[2018-12-05 20:50] tobiasdiez commented on #4521
@bicodoc Thanks for your interest to fix this issue. The sorting of the ranking column is handled as follows:
https://github.com/JabRef/jabref/blob/ed7ea5060ae9c854f840ae335117cab176c615fb/src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java#L200-L202
I guess you just need to add a similar comparator for the read-status.

[2018-12-06 08:13] oe1rsa commented on #4506
The same issue happened to me today. Unfortunately installing with chocolatey didn't help.
I am running on a win7 box and my Jabref Info reads:
JabRef 4.3.1
Windows 7 6.1 amd64
Java 1.8.0_192
Some observations: I remember it was working some days ago, and I even managed to import a *.jstyle script from my linux box to windows before it stopped working and started to freeze.

[2018-12-06 08:16] Siedlerchr commented on #4506
Please try to use the latest development version. The OO dialog is also currently reworked in #4341

[2018-12-06 08:30] oe1rsa commented on #4506
ok the freezing of the whole program stopped, but now I cannot connect to the writer nor can I open the style window. It seem as if the freezing is just of the oo pane.

[2018-12-06 08:50] oe1rsa commented on #4506
after a little more trying: behavior is almost the same as with the 4.3.1 version with the only difference that after clicking the style button just the oo pane is freezing. i.e. I can still do everything else with Jabref.
Is there a debug log or similar available? Can I put the settings of the oo connector into some default state?

[2018-12-06 08:54] Siedlerchr commented on #4506
Hi, you can try resetting the preferences, but I am not sure if the Open Office preferences are affected then.
You could try to modify ther preferences as I outlined here:
https://github.com/JabRef/jabref/issues/3263#issuecomment-391641422

[2018-12-06 09:33] oe1rsa commented on #4506
No, unfortunately this did not help. Btw.: I am using all 64 bit. Could this be the problem?

[2018-12-06 09:57] DOFfactory opened #4530 "Linked file icon missing"
JabRef 5.0-dev--snapshot--2018-12-03--master--c94398f4e
Windows 10 10.0 amd64
Java 1.8.0_172

When I have a PDF with the corresponding `bibtexkey` already in the mapped folder, Jabref **correctly** automatically links the file with the bibtexkey. However, the icon is **missing** in the entry list (see attached screenshot).

The desired behaviour should be showing an attachment icon as soon as ther

[2018-12-06 15:13] tobiasdiez commented on #4530
This should be easy to implement, but we need to be careful about possible performance problems.

[2018-12-06 15:18] DOFfactory commented on #4530
I am not sure I get it. My issue is that the Jabref automatically detects a linked file (based on bibtexkey) in the File field (as per the screenshot). My only issue is that this detection is not represented in the entry preview. All I want is to have an "attachment" icon in the entry list, I do not think this should need extra computational resources other than with other entry list items.

I bel

[2018-12-06 19:54] tobiasdiez commented on #4437
The buttons now have the correct size thanks to @morganlovato.

However, the other issues remain and in addition:
- [ ] The Field name is not editable
- [ ] The value in Field name is not identical with table header

[2018-12-06 23:42] bicodoc commented on #4521
Thanks for the reply and the info.  It’ll take me a little while to get a handle on how this all fits together, but I’ll start on it this evening.
On Dec 5, 2018, at 2:50 PM, Tobias Diez <notifications@github.com> wrote:

[2018-12-07 13:57] rvb-033 commented on #4526
Copy / paste method is : right click on the entry, select the fist option in the pop-up, right click on an other entry, select paste.

Do you want screenshots ?

[2018-12-08 07:37] dnstarostin opened #4532 "JabRef does not save new entry"
When I am making a new entry, and am working in the entry window, no matter how many times I press "Save", I get an empty entry when I close the entry window and go back to the list view.

[2018-12-09 08:51] #4365 closed

[2018-12-09 08:52] tobiasdiez commented on #4365
Thanks to @Ali96kz this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-12-09 19:33] wujastyk commented on #4365
I've just tested today's snapshot

JabRef 5.0-dev--snapshot--2018-12-09--master--b52c97239
Linux 4.15.0-42-generic amd64
Java 1.8.0_191

and when I do ctrl-shift-C or use the cursor popup to copy the preview, then I get the string "null" with a newline copied to memory fourteen times:

null
null
null
null
null
null
null
null
null
null
null
null
null
null
null

If I select the preview text and the

[2018-12-09 19:42] wujastyk commented on #4526
I am experiencing terribly slow data entry in the entry-editor too.

JabRef 5.0-dev--snapshot--2018-12-09--master--b52c97239
Linux 4.15.0-42-generic amd64
Java 1.8.0_191

Both in the field-tabs, and in the biblatex area, it can take two seconds from keypress to the appearance of a single character on the screen.  Needless to say, Jabref 5 is unusable until this is improved.

Autocompletion is off.

[2018-12-10 17:45] arunikayadav42 commented on #4496
Can I work on this issue?

[2018-12-10 20:01] tobiasdiez commented on #4496
@arunikayadav42 Sure! Also have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and feel free to drop by in our [developer chat](https://gitter.im/JabRef/jabref) if you have questions!

[2018-12-11 17:34] wujastyk commented on #4516
I had this problem.  I solved it by hunting down and deleting all jabref configuration files on my disk and reinstalling JabRef 5.

[2018-12-12 13:04] bruot commented on #4461
I also have long processing times with a smaller database of about 600 entries. About half an hour to paste 600 entries to the remote PostgreSQL DB when creating the tables. Then, it takes about 2 min to open it.

This occurs on both versions 4.3.1 and 3.8.2.

[2018-12-12 13:18] oe1rsa opened #4534 "Jabref freezes when selecting style in libreoffice plugin"
JabRef version 5.0-dev on Windows (German)

- [x ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The bug has already been reported in issue #4506 but has been closed without resolution.

Steps to reproduce the behavior:
1. Start Jabref
2. Press Alt-0
3. Press topmost button, in German reads "Stil wählen"

Result is that the OO/libreoo

[2018-12-13 11:37] mercergeoinfo opened #4535 "pdf links not working"
Running both windows-x64_4_3_1 as well as the4.3.1.jar I have the same issues on Windows 10.
Have reinstalled the .exe with no change to problem.

1. Rename PDF's not functioning at all
    - have tried with and without the "Upgrade external PDF/PS links to use the 'file' field
    - the library and the pdfs are in the same directory
2. Behaviour of "Cleanup entries" unpredictable, ranging from de

[2018-12-13 17:12] tobiasdiez commented on #4535
Can you please give a more detailed explanation of what goes wrong and how to reproduce the behavior. Thanks

[2018-12-13 19:49] aman-coolinc1 commented on #4494
Hello,

ctrl+e is not available for Export
ctrl+alt+e can be used and for export selected entries (ctrl+shift+E) can be used,
is it fine, i have done changes and tested

[2018-12-13 21:58] tobiasdiez commented on #4535
Sorry, but with this information I can still not reproduce your problem. Which bibtexkey pattern do you use, what is the file name and location before and after the cleanup operation?

[2018-12-14 03:58] nmancus1 commented on #4489
I'd like to start on this one, @tobiasdiez.  Any tips on where to look first?

[2018-12-14 05:33] aman-coolinc1 commented on #4437
Hi,
Remove everything related to the width from the preference dialog (but not from the preference themselves)

Do you mean we should remove these things from the dialog
![image](https://user-images.githubusercontent.com/8446821/49984889-ea3be480-ff8f-11e8-9fbe-b3ecf74b8ec5.png)

[2018-12-14 05:34] aman-coolinc1 commented on #4437
![image](https://user-images.githubusercontent.com/8446821/49984910-0049a500-ff90-11e8-9dba-cf43ba99dc7f.png)

[2018-12-14 06:02] aman-coolinc1 commented on #4495
I would like to work on this.

[2018-12-14 07:40] Siedlerchr commented on #4495
Thanks to  @nmancus1  this issue is now fixed.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2018-12-14 07:40] #4495 closed

[2018-12-14 07:44] Siedlerchr commented on #4535
Do you have the option "Enforce legal characters in bibtex keys" activated and how does your bibtey key pattern look? Did you ran Generate bibtey key before attaching the pdf?

[2018-12-14 07:46] Siedlerchr commented on #4437
@aman-coolinc1  Yes, exactly the things you marked. This is because, you can change the column size  directly in the main table,

[2018-12-14 07:55] Siedlerchr commented on #4489
You could start looking in the `linkedFilesFilesEditorViewModel` there is a metho for fetching fulltext.
And otherwise I agree with @tobiasdiez  it makes sense to have the same behavior in the entry editor next ot the file field and in the menu.

And the action from the menu is probably the "FindFullTextAction" class.

[2018-12-14 08:11] mercergeoinfo commented on #4535
The bibtex keys were generated first using [auth][year].
Enforce legal characters was activated.
Here is an example of a file path after several attempts, in various
configurations and with 3 versions of the programme (stable exe, jar and
development):
 file     =
{\:PDF\:PDF:/\:PDF/\:PDF\:/\:Meyer2009_Article_AMulticriteriaApproachForFlood.pdf/\:PDF/\;//\:Meyer2009_Article_AMulticriteriaApproachF

[2018-12-14 12:30] mercergeoinfo commented on #4535
One more point that may or may not be related (probably not) but JabRef
processes aren't killed when the programme closes, they stick around and
have to be closed manually in Activity Monitor

On Fri, 14 Dec 2018 at 09:11, andrew mercer <mercergeoinfo@gmail.com> wrote:

[2018-12-14 12:48] Siedlerchr commented on #4535
Please only use the latest version to test. The active processes are a known issues of 4.x

[2018-12-14 16:04] fspreng commented on #4495
Works for me. Many thanks!

[2018-12-14 16:23] wujastyk opened #4537 "Entry-editor typing lag"
I am experiencing terribly slow data entry in the entry-editor.  I first reported this in #4526, but I'm making a separate report here for clarity's sake.  This makes the present JabRef snapshot unusable.

JabRef 5.0-dev--snapshot--2018-12-14--master--49c3ef396
Linux 4.15.0-42-generic amd64
Java 1.8.0_191

Both in the field-tabs, and in the biblatex area, it can take two seconds from keypress to t

[2018-12-15 19:47] sgibb commented on #4521
Thanks @aman-coolinc1. Sorting by "read-status" is working as expected now!

[2018-12-17 09:22] rvb-033 commented on #4526
Latest version (december 14th) has a far better behaviour regarding entry-editor performances.
Thanks,
Hervé

[2018-12-17 10:40] fspreng commented on #3667
My colleagues and I would much appreciate if this problem was resolved - at least for other groups containing automatically generated subgroups than the "All Entries" group. Many thanks in advance!

[2018-12-17 12:33] fspreng opened #4539 "Automatically created groups: "entrytype" not working as a keyword"
Right now, specifying the type of an entry ("entrytype") as a keyword for the automatic generation of groups is ineffective (I also tried "type", "jabref-entrytype" and "bibtextype" as values of "Field to group by"). I tested this using the latest release as well as the current development version on both Win 7 and Win 10 (all English). For other functionalities of Jabref, e.g. the definition of d

[2018-12-17 14:14] tobiasdiez commented on #4489
Thanks to @nmancus1 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-12-17 14:14] #4489 closed

[2018-12-17 14:16] tobiasdiez commented on #4532
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-12-17 14:16] #4532 closed

[2018-12-17 14:20] #4529 closed

[2018-12-18 19:03] nmancus1 commented on #4490
@tobiasdiez I can take a look at this, since I was already in this class for issue #4489, and noticed the same behavior.

[2018-12-18 22:51] wujastyk commented on #4537
JabRef 5.0-dev--snapshot--2018-12-17--master--2754c2891
Linux 4.15.0-42-generic amd64
Java 1.8.0_191

No improvement with the latest changes, unfortunately.

This [screencapture](https://www.dropbox.com/s/s374yj56dfta7ii/jabref-slowkeys.mp4?dl=0) illustrates the lag between typing and the appearance of characters on the screen.  I was whacking the keys somewhat to make sure they were audible. :-)

[2018-12-18 22:53] wujastyk commented on #4526
JabRef 5.0-dev--snapshot--2018-12-17--master--2754c2891
Linux 4.15.0-42-generic amd64
Java 1.8.0_191

No improvement with the latest changes, unfortunately.

This screencapture
<https://www.dropbox.com/s/s374yj56dfta7ii/jabref-slowkeys.mp4?dl=0>
illustrates the lag between typing and the appearance of characters on the
screen. I was whacking the keys somewhat to make sure they were audible. :-)

[2018-12-19 11:36] tobiasdiez commented on #4490
Sure, feel free to work on this issue!

[2018-12-20 08:44] tobiasdiez commented on #4461
We have some database related tests, they might be a good starting point https://github.com/JabRef/jabref/tree/master/src/test/java/org/jabref/logic/shared

However, I would wait until https://github.com/JabRef/jabref/pull/4520 is merged. This PR already improves the DB performance and maybe this fixes this issue as well.

[2018-12-20 12:32] NorwayMaple commented on #4461
Any other issues I can work on? I wanted to take a break from JavaFX, but if there's not a strong need, I can work on the importer dialog. Feel free to move this conversation to Gitter.

[2018-12-20 16:44] bruot commented on #4461
I think there may be two issues related to the DB requests:

  - Single requests can be quite slow and make the user wait. Solution: speed can be improved, or it could be an idea to let the user continue using Jabref before requests end.
  - Some operations seem to generate many DB requests: They could be grouped to be sent as a single request.

Regarding the second point, these operations seem to

[2018-12-20 18:53] stefanct opened #4544 "Downloads from arxiv saved with wrong file suffix"
This is with the current snapshot (JabRef 5.0-dev--snapshot--2018-12-19--master--949d20496). Opening the attached bibtex library and trying to download the respective PDF via the entry's general tab leads to a file name ending in `.01203v1` instead of `.pdf`. The contents are fine though. This is most probably due to the URL used by arxiv: `https://arxiv.org/abs/1801.01203` but that shouldn't be a

[2018-12-21 07:39] Siedlerchr commented on #4535
@stefanct  Could you be more precise? What did you do and what happened and what was the expecte outcome?

[2018-12-21 10:12] stefanct commented on #4535
I was referring to the problem where the `java` process lurks around after JabRef was supposed to quit. If I can reproduce it I'll investigate. What information would help? `stdout` and `stderr` output? Any other log? Specific settings or CLI options?

[2018-12-21 10:38] Siedlerchr commented on #4535
@stefanct  Log information, what you did before closing JabRef etc. If you have an older verrsion open in parallel etc. Please report your changes here #4458

[2018-12-21 17:58] dliessi commented on #725
Sorry for being so late. I have just tested with `JabRef-5.0-dev--snapshot--2018-12-19--master--949d20496.jar` and the problem persists.
I would like to add that the fields in the Optional fields 2 list do not simply disappear, but are moved to the Optional fields list.

[2018-12-21 23:52] wujastyk commented on #4537
JabRef 5.0-dev--snapshot--2018-12-19--master--949d20496
Linux 4.15.0-43-generic amd64
Java 1.8.0_191

So much improved!  Using 5.0 now possible again.  Thank you!

[2018-12-21 23:52] #4537 closed

[2018-12-21 23:53] wujastyk commented on #4526
JabRef 5.0-dev--snapshot--2018-12-19--master--949d20496
Linux 4.15.0-43-generic amd64
Java 1.8.0_191

Typing lag issue now fixed, at least 90% improvement.

[2018-12-22 00:39] stefanct commented on #4535
Since I was not even able to find any documentation on a log file and `-verbose` really didnt cut it either... **and** PDF import being completely broken in current HEAD (which kinda worked in 4.x) **and** all kind of unhandled exceptions(!?)... I am off to Zotero-land. That has its own problems and I really liked some of the stuff in JabRef that actually worked (e.g., fully .bib-based DB, custom

[2018-12-22 00:51] rachelwu21 commented on #4437
I'm working on this.

[2018-12-22 09:16] Siedlerchr commented on #4535
@stefanct  Sorry to hear that you are facing problems, but without any information from your side we can't do anything about it. We don't have a crystal ball. And JabRef 5.x is still under heavy development.
And please be aware that we are fully developing JabRef in our free time and some of us are having a full time job.

Custom filters? What are you referring to? Groups? #4441 ?
Please open an i

[2018-12-22 09:43] Siedlerchr commented on #725
I cannot reproduce it.
1. create a new custom entry type -> `mycustomentrytype` or modify an existing field e.g. article add field `Mittnum`
2. add some fields
![grafik](https://user-images.githubusercontent.com/320228/50372780-0fa2a100-05d5-11e9-95ee-c3a4b9f0237b.png)
3. save
4. create an entry in entry editor with the new type => All fields are correct listed
5. open customize entry types again

[2018-12-22 09:44] #4383 closed

[2018-12-22 09:46] stefan-kolb commented on #4461
Unfortunately this issue is known. The synch is done way too many times I think. There should be one or more duplicate issues for this already.

[2018-12-22 09:50] stefan-kolb commented on #4501
Hi, this works for me. Maybe you tried too many times and Google search is blocked aftwerwards. We cannot do anything about that.
![image](https://user-images.githubusercontent.com/2141507/50372917-3eba1200-05d7-11e9-8ac2-2cb7dcccb984.png)
![image](https://user-images.githubusercontent.com/2141507/50372933-71fca100-05d7-11e9-8ae1-6da5c7d05124.png)

[2018-12-22 10:29] eddyup opened #4548 "Jabref without java"
Is there any hope that Jabref can be run without java? I know there must be massive work to do, but I ues jabref on macOS, and it always does not response, this bother me so much.

[2018-12-22 13:33] tobiasdiez commented on #4548
JabRef is written completely written in Java and this will definitely not change in the forseeable future.

The freeze issue on MacOs should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-12-22 13:33] #4548 closed

[2018-12-22 14:01] schniepp commented on #4461
I played around with python (using the psycopg2 library) to access my JabRef (PostGreSQL) database remotely. I have ≈4,000 entries, but I was surprised how blazingly fast this went via python. Getting all keys, or all filenames of attached PDFs, or all group information for all entries — it all happened within very few seconds or even fractions of a second. This compares to minutes that many JabRe

[2018-12-22 17:13] dliessi commented on #725
Did you close and reopen JabRef in between?

I get the following:
1. select entry type "article" and click "Default"
2. close and reopen JabRef: all fields lists of entry type "article" still contain the default fields
3. add "abstract" to "Required fields" in "article": both "Optional fields" and "Optional fields 2" contain the default fields, and they still do so if I close and reopen "Customize

[2018-12-24 09:32] #3189 closed

[2018-12-24 09:32] tobiasdiez commented on #3189
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-12-27 05:11] wujastyk commented on #4365
Yes, seems to be fixed now in the development release.  Many thanks!

[2018-12-27 22:31] Siedlerchr commented on #2955
Please try the latest development version in case you encounter any problems. Please remember to create a backup of your Bib file before trying out the new version

[2018-12-28 18:44] douglasrizzo opened #4557 "Wrong bibtexkey is generated when first author uses BibTeX extended name format"
JabRef version 4.3.1

- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Have an entry in the database in which the first author name is written using the BibTeX extended name format, for example:
[code]
2. Under _Options > Preferences > BibTeX key generator_, use a key format that mentions the auth

[2018-12-28 18:53] douglasrizzo opened #4558 "Wrong sorting by author/editor when BibTeX extended name format is used"
JabRef version 4.3.1

- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Have an entry in the database in which the first author name is written using the BibTeX extended name format, for example:
[code]
2. In the main table, click the header of the column _author/editor_ to sort entries by author/e

[2018-12-28 19:04] Siedlerchr commented on #4558
Hi, JabRef and BibTeX don't support semantic annotations of authors, e.g. given or prefix.
JabRef applies a similiar author parsing algorithm as bibtex. So you can just write Hado P van Hasselt and JabRef will figure the name parts automatically.

And also please always test the latest dvelopment version (There's a reason why we put that in the issue description)

http://mirrors.ibiblio.org/CTAN/m

[2018-12-28 19:05] Siedlerchr commented on #4557
See the other issue .JabRef does not support this extended name format,

[2018-12-28 19:05] #4557 closed

[2018-12-28 20:12] tobiasdiez commented on #4558
@NorwayMaple this might be a good issue for you. In the end it concerns mainly https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/model/entry/AuthorListParser.java and does not involve any frontend programming.

[2018-12-28 22:49] tobiasdiez commented on #4465
This is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2018-12-28 22:49] #4465 closed

[2018-12-29 13:13] Siedlerchr commented on #4534
in PR #4341 the LibreOffice/Open Office panel got reworked completely and I would like you to try out the version from here and report back if this issue is fixed: http://builds.jabref.org/ooPanel/

[2018-12-29 14:17] Siedlerchr commented on #4500
I can not reproduce this in the current master. I tried both 2018-12-21 and 21.12.2018 as example dates.
The date only gets reformatted if I leave the field with tabs

[2018-12-29 15:18] DOFfactory commented on #4500
Yes, I can confirm that this issue is not present anymore in the newest build. Thanks for looking into this.

[2018-12-30 15:35] NorwayMaple commented on #4558
@tobiasdiez I was thinking of working on the issue I mentioned on Gitter relating to multiple instances of JabRef. See the issue there for details.

[2018-12-30 18:47] douglasrizzo commented on #4558
@Siedlerchr the problem is not necessarily how JabRef actually parses author names, but that there are some annotations in the "name-level" that are actually useful and can't be directly translated by simply parsing an author's name. In my example, the `useprefix` annotation alters the behavior of some citation styles. If `useprefix=true`, the citation style prints "van Hasselt" in citations and r

[2019-01-01 18:02] Le-wi commented on #2288
Hi, I'd like to take this one :)

[2019-01-01 19:13] tobiasdiez commented on #2288
Happy new year! Feel free to work on this issue and also have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md). Moreover, feel free to drop by in our [developer chat](https://gitter.im/JabRef/jabref) if you have questions!

[2019-01-01 19:44] Le-wi commented on #2288
Happy new year as well :+1:

[2019-01-03 07:17] champagnealexandre opened #4563 "Impossible to get JabRef running on MacOS Mojave 10.14.2"
JabRef version 4.3.1 and 5.0 on MacOS Mojave 10.14.2

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

_Sorry in advance for the lengthy message but it is necessary for an accurate description of the problem._

I'm facing systematic crashes with both 4.3.1 and 5.0 on MacOS Mojave. I tried **both the dmg installers and the jar files*

[2019-01-03 09:20] Siedlerchr commented on #4563
@LinusDietz   @halirutan  Are you running mojave?

[2019-01-03 10:08] stekeller commented on #4027
Having the same issue with the latest JabRef version (4.3.1) on Windows 10.

[2019-01-03 10:20] DOFfactory commented on #4482
![search](https://user-images.githubusercontent.com/10846169/50632858-80d54300-0f49-11e9-9037-ecddb061977e.png)
Any updates on this? Still not working, moreover, some strange elements pop-up...

[2019-01-03 10:27] DOFfactory opened #4564 "Edit entry workflow - lost focus"
JabRef 5.0-dev--snapshot--2018-12-31--master--a4e735b38
Windows 10 10.0 amd64
Java 1.8.0_172
on Windows 10

Steps to reproduce the behavior:
1. Open Jabref, select an entry under "All entries"
2. Click on any other group, entry table stays open, entry list changes
3. Click back to "All entries" -> the previously edited entry is not re-selected (or highlighted) in the entry list

Expected behaviour

[2019-01-03 14:51] Siedlerchr commented on #4447
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2019-01-03 14:51] #4447 closed

[2019-01-03 14:52] Siedlerchr commented on #4380
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-01-03 14:52] #4380 closed

[2019-01-03 14:56] Siedlerchr commented on #4466
I can no longer reproduce this.
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version

[2019-01-03 14:56] #4466 closed

[2019-01-03 16:54] DOFfactory opened #4566 "Window entry editor width not respected"
JabRef version
JabRef 5.0-dev--snapshot--2018-12-31--master--a4e735b38
Windows 10 10.0 amd64
Java 1.8.0_172
on
Windows 10

Steps to reproduce the behavior:
1. Options -> Preferences -> Entry Table Columns -> I set the widths -> Click both Update to current column width as well as current column order. I have enabled rank, relevance, quality.
2. Put computer to sleep, or change to different window.

[2019-01-03 17:00] Siedlerchr commented on #4566
That's a known issue and this is currently in the process of beeing fixed in #4546

[2019-01-03 17:54] DOFfactory commented on #4566
Oh, ok, sorry for the new report

[2019-01-05 12:39] #4544 closed

[2019-01-05 12:39] Siedlerchr commented on #4544
Thanks to @stefan-kolb  this should be fixed  in the latest master.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-01-05 16:18] #2181 closed

[2019-01-05 16:20] tobiasdiez commented on #4566
Duplicate of #4437

[2019-01-05 16:20] #4566 closed

[2019-01-05 20:16] SzyBer opened #4567 "Automatic Bug Report - 20190105211612"
JabRef 5.0-dev--snapshot--2019-01-05--master--e1cfec9c5
Windows 10 10.0 amd64
Java 1.8.0_191

Steps to reproduce:

1. ...
2. ...
3. ...

<details>
<summary>Detail information:</summary>

[code]

</details>

[2019-01-05 20:18] SzyBer commented on #4567
Hi, this happens when I go to options / preferences. A couple of days ago, I was able to edit the prefrences. What happened? Best regards, Bernd

[2019-01-05 20:18] #4567 closed

[2019-01-05 21:58] Siedlerchr commented on #4567
As I told you in the forum thread we need the whole stack trace. There have been changes to the preferences, so you might need to run `java -jar JabRef.jar -d `all to reset the prefs.

See also #4516

[2019-01-05 22:01] Siedlerchr commented on #4563
Have you tried uinstalling (remove) JabRef completely before installting a new version (not upgrading!).
Can you run jabref from the terminal and do you see any errors in the console then when it crashes?

[2019-01-05 22:04] Siedlerchr commented on #4516
Can you run it from terminal with java -jar JabRef.jar and show the whole output?

[2019-01-05 22:05] Siedlerchr commented on #2288
Thanks to @Le-wi  this issue should be fixed in the latest master now!

[2019-01-05 22:05] #2288 closed

[2019-01-06 03:43] amolrbhagwat commented on #4496
@tobiasdiez Since the last comment was 26 days ago with no follow up, I assume this is not being actively worked on. Is that right?

I checked the behavior which is requested by this issue, and indeed, Ctrl+Enter doesn't trigger the default action/submit on the dialogs. I tested this using the 'Connect to shared database and the Preferences dialogs, both which are JavaFX based. I also noticed that

[2019-01-06 11:46] champagnealexandre commented on #4563
Here is the output :

[code]

[2019-01-06 12:31] champagnealexandre commented on #4563
Hey in the meantime, as long as I properly close the library when I'm finished working - JabRef 4.3.1 seems to be working fine (I'll update on this as I continue setting up my library) - can I continue using it by just killing the process to exit JabRef? I just don't want to corrupt anything, but I presume that wouldn't cause any serious trouble?

[2019-01-06 14:30] Siedlerchr commented on #4563
The problem with the process should be fixed in the latest Master version. It was just a leftover thread which did not exit correctly. Therefore, it's safe to kill the remaining process.

Does the master / latest dev version hang at the same place?

[2019-01-06 15:39] champagnealexandre commented on #4563
Let's say I wipe 4.3.1 and test the master `JabRef_macos_5_0-dev--snapshot--2019-01-05--master--d281ece4b`. If I open JabRef, create a new BibTeX library, then do `Import into current library` on a PDF file, I get the import dialog but as soon as I press `Ok` **JabRef crashes immediately** (logfile [here](https://drive.google.com/open?id=1o0l12Ubmkpi9ka070E1L5ccvXx5IbE38)). Interesting fact : `Imp

[2019-01-06 15:48] champagnealexandre commented on #4563
Additional info : seems a bit weird, but when I add my hostname to the loopback address in `/etc/hosts`, i.e. the following line :

[code]

then I can import **one** entry item in 5.0 without any problem. However, deleting that entry and importing a second one crashes JabRef.

[2019-01-06 21:09] AEgit commented on #3189
Can confirm this has been fixed in:

JabRef 5.0-dev--snapshot--2019-01-05--master--d281ece4b
Windows 10 10.0 amd64
Java 1.8.0_191

[2019-01-07 02:39] FDU-SE-LAB opened #4568 "Your project JabRef/jabref is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 07:17] Le-wi commented on #2288
This is so exciting, thanks for tagging beginner issues!

[2019-01-07 11:18] DOFfactory opened #4569 "Key generator not so automatic"
JabRef 5.0-dev--snapshot--2019-01-05--master--e1cfec9c5
Windows 10 10.0 amd64
Java 1.8.0_172

I have enabled the automatic key generator with the following pattern:
[code]

Whenever I add a new entry manually, starting with entry of `Author`, then `Title`, and `Date`, the resulting key generated is always `__`. I always need to delete this in order to have the key re-generated.

What should be the

[2019-01-07 12:02] Siedlerchr commented on #4569
Do you have "Overwrite existing keys" enabled?

[2019-01-07 12:14] DOFfactory commented on #4569
Yes, under Preferences > BibTeX key generator::

- [x] Generate keys for imported entries
- [x] Warn before overwriting keys
- [ ] Do not overwrite existing keys

[2019-01-07 17:33] fordham007 commented on #4563
I have similar problems running JabRef 4.3.1 under Mojave 10.14.2

But they don't seem to be identical: my main issue is that JabRef is very, very, very, slow - coloured spinning wheel shows, app shows as "Not Responding" in ActivityMonitor - but does eventually complete actions. And will close.

Only solution I can find proposed is to hack the /etc/hosts file to show the local host name explicitl

[2019-01-07 18:10] champagnealexandre commented on #4563
fordham007,

Do you mind typing the following commands in the MacOS terminal to determine which Java version you're on and pasting the results here?

First execute
[code]
then
[code]

Also, editing "system files" is pretty common in the *nix world (which MacOS is a part of). Technically, you would have to do something like
[code]
then enter the administrator account's password, modify the file, an

[2019-01-07 20:33] tobiasdiez commented on #4563
@champagnealexandre Thanks for the detailed feedback. We are currently investigating the root for the huge performance and freezing issues on MacOS. It appears however that these problems come from some multi-threading issues that are hard to debug. So it may take some time until we can provide a fix. So probably the best bet is to keep using 4.3.1 for the moment.

@LinusDietz can you send me plea

[2019-01-07 20:39] tobiasdiez commented on #4569
I see where you are coming from but I believe that automatically updating leads to more frustration. It's a good idea when you add new entries. However, imagine you edit older ones and then your latex build fails just because you changed a year and forgot that the bibtexkey updates automatically... For this reason, I think, editing the key should be conscious process.

That being said, with your c

[2019-01-07 20:54] champagnealexandre commented on #4563
No problem, thanks! Will this issue be updated as 5.0 is investigated or is there a separate issue I can follow?

And except for one single crash that happened yesterday, 4.3.1 seems to be working well enough so I can live with that ;-) I'll open separate issues if this reoccurs for 4.3.1.

Thanks again.

[2019-01-07 20:54] tobiasdiez commented on #2288
@Le-wi we have to thank you for your help! Looking forward to review the next PR from you ;-)

[2019-01-07 21:04] matthiasgeiger commented on #4569
I agree with the reasoning of @tobiasdiez and would not like to have this "automated" key generator.

[2019-01-07 21:05] DOFfactory commented on #4569
Hi @tobiasdiez, I absolutely agree with you, bibtex keys should not change without approval of the user.

My use-case is that the autogeneration when adding new entries does not work as it should, as after filling in the necessary entry fields all the bibtex key inserts automatically are the `_` elements, without the entry fields.

All I had in mind is that if my BibTeX key generator is defined as