[2021-04-21 09:32] Ryyyc commented on #7616
@Siedlerchr Hi, there seem to be some problems when making a pull request.
Some test cases did not seem to pass, but I tested the code on the branch `main` on the local machine, and some test cases also failed. What should I do?

[2021-04-21 09:38] AEgit commented on #7650
See https://github.com/JabRef/jabref/issues/7624

[2021-04-21 11:58] Fifi-wang commented on #7343
I have reproduced this bug and I think it is not related to dark mode. I'm interested in this bug.

[2021-04-21 13:06] funnym0nk3y opened #7658 "Default file location is ignored with auto cleanup"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists
- [x] I can not test the latest dev version as last time I did that I could not get it to run with the latest release again.

When trying to cleanup all the entries the option to move the files into the defa

[2021-04-21 19:27] #6916 closed

[2021-04-22 03:09] Ryyyc commented on #7627
Hello, can you successfully test the Check connection in the preferences?

[2021-04-22 14:49] vlawhern opened #7660 "Unable to download some arXiv links if the "eprint" field is missing"
JabRef version 5.3 developmental portable JAR

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

I am unable to automatically download some arXiv links if the "eprint" field is missing. For example, this BibTeX reference works:

[code]

but this one doesn't:

[code]

with the only thing different is the eprint field.

In

[2021-04-22 19:32] #7616 closed

[2021-04-22 19:33] Siedlerchr commented on #7616
Thanks to @Ryyyc  this should now be fixed in the latest main (currently building)

[2021-04-23 07:21] tobiasdiez commented on #7660
This can be fixed by runing the [EprintCleanup](https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/logic/cleanup/EprintCleanup.java) on a copy of the entry at https://github.com/JabRef/jabref/blob/2af578f6a9311dace0ec3270e678cc3ae31bad8e/src/main/java/org/jabref/logic/importer/fetcher/ArXiv.java#L118 before proceeding to get the arXiv id from the eprint field.

[2021-04-23 07:36] #5850 closed

[2021-04-23 07:39] JavuesZhang commented on #7660
Hi, I think I have solved this problem with the help of @tobiasdiez . I will open a PR later.

[2021-04-23 09:50] Aloofwisdom commented on #6199
I am currently working on this issue, but I get a little lost  now. Could you give me some hints or start points on that issue @Siedlerchr?

[2021-04-23 12:00] mercergeoinfo opened #7662 "New Entry - jumps to Search"
JabRef 10.5
Windows 10 18363.1500

When creating a new entry (Library/New Entry), editing the "Required Fields".
After entering a few characters to "Author" or "Editor" the cursor jumps to the search window and searches for the characters entered.
The result is, of course, an incorrect name, a citation key one or two letters long and no small amount of frustration.
This happens every time, regardl

[2021-04-23 12:38] #7195 closed

[2021-04-23 15:41] Siedlerchr commented on #6199
@Aloofwisdom  Thanks for your interest. JabRef uses the xjc tool (which uses jaxb) to automatically generate java classes from an xsd/xml schema (see the gradle task generateSource).

The problem is that in the XSD defintion the element  `<pdf-urls>` contains a list of `<url> `with a style attribute. However, there can also be `<url>` without a style attribute.
However, as you see that actually xm

[2021-04-23 17:05] Aloofwisdom commented on #6199
@Siedlerchr Your illustration is pretty clear, thanks. I will make a pull request as soon as I finish.

[2021-04-23 19:28] #6908 closed

[2021-04-23 20:08] #7660 closed

[2021-04-24 08:40] #7041 closed

[2021-04-24 09:43] tobiasdiez commented on #7660
Thanks to @JavuesZhang this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2021-04-24 10:13] Ali96kz commented on #7582
@tobiasdiez I wanna develop it. Am I need to develop UI under that task or it will be a separate task?

[2021-04-24 10:38] #7343 closed

[2021-04-24 10:39] Siedlerchr commented on #7343
Thanks to @Fifi-wang  the issue is now resolved.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-04-24 11:26] tobiasdiez commented on #7582
Nice, thanks for your interest!

I think one new dialog needs to be implemented, similar to to File > Shared database > Connect to a shared database, where people can enter their credentials. But you can also start by first implementing the backend, and write tests for it (also similar to the existing database integrations). Maybe @Siedlerchr already started working on it and/or wants to pair prog

[2021-04-24 15:53] jorgman1 commented on #5850
Thanks for the fix!

[2021-04-25 06:55] Ryyyc commented on #7516
@Siedlerchr After my experiment, open the .bib file which is bounded to the shared database will automatically update to the latest version in the database. However, the database will not save after modifying this .bib file.

I still don't quite understand what this issue refers to. Could you please give me some help?

[2021-04-25 07:49] Ryyyc commented on #7305
@Siedlerchr Hi, I verified the download URL of the RFC resource.

There will be different URLs for different versions, the main difference is the official release version and the draft version.

For example, rfc1945
![rfc-bib](https://user-images.githubusercontent.com/47767371/115984860-b9e2c700-a5db-11eb-8f76-f9e16b3619e7.png)

It has three versions
+ draft-fielding-http-spec
+ draft-ietf-http-v1

[2021-04-25 10:58] Siedlerchr commented on #7305
So when the draft redirects to the "release" version, it should be sufficient to fetch the draft and follow any redirects?

[2021-04-25 11:11] Ryyyc commented on #7305
The problem now is that for some bibtex items that do not have the "release" version,  JabRef will not be able to download correctly.
In other words, the current JabRef can only download the bibtex item with the "release" version and cannot download the draft version without the "release" version.  E.g https://datatracker.ietf.org/doc/draft-ietf-sidrops-aspa-verification/bibtex/.

We may need to a

[2021-04-25 11:21] SuXiChangZhen commented on #7395
Hi, I am a software engineering student and interested in this issue. Is it better if the first entry always has a smaller dictionary order when merge two entries. Hope I understand the issue correctly.

[2021-04-25 17:05] m-mauersberger commented on #7516
It is about selecting the Bib file in the opening dialog of shared database connection (where you also can type in server address, user name and so on).

This tick and the corresponding file path should be remembered like the other inputs in this dialog.

[2021-04-26 09:06] AEgit commented on #7662
Please try the current development version and check whether the problems persists:
https://builds.jabref.org/main/

Do not forget to create a backup of your JabRef database before trying the dev version.

[2021-04-26 18:12] #6199 closed

[2021-04-26 18:38] #7641 closed

[2021-04-26 18:54] #7016 closed

[2021-04-27 06:09] Siedlerchr commented on #7641
Thanks to @Gan-Cheng  this issue should now be resolved in the latest main version

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-04-27 07:18] mlep commented on #7016
@JavuesZhang I can confirm this is now fixed. Thank you for improving JabRef!

JabRef 5.3--2021-04-26--add694a
Linux 4.19.0-16-amd64 amd64
Java 15.0.2
JavaFX 16+8

[2021-04-27 08:40] dbitouze commented on #7641
Many thanks to both of you.

Unfortunately, I cannot test because I don't own any Windows machine. But I'll report troubles if students of mine have again such a trouble.

[2021-04-27 12:52] sparusaurata opened #7673 "Creating entry via mEDRA (using DOI) doesn't work"
When I try to create a new entry by giving a DOI with the mEDRA service, an error is raised:

![image](https://user-images.githubusercontent.com/17063513/116244196-fcd1a580-a767-11eb-9a89-f77d06222e80.png)

… even if the DOI resolver at mEDRA.org finds the reference.

- JabRef version 5.2 on Linux Mint 20.1.
- Bug reproduced [here](https://discourse.jabref.org/t/error-when-creating-and-entry-via-d

[2021-04-27 16:44] #1018 closed

[2021-04-27 16:44] #7606 closed

[2021-04-27 17:25] Siedlerchr commented on #1018
This issue is now finally closed and fixed in the latest development snapshot

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-04-27 17:26] Siedlerchr commented on #6267
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-04-27 17:31] Siedlerchr commented on #7673
Thanks for your report. It seemed maybe some temporary issue, or might be specific to your DOI. I tested a few DOIs with medra, but works for me.
Can you please post your DOI here you tried?

[2021-04-27 18:13] mlep commented on #7673
I tried with this one: 10.5194/npg-24-569-2017
JabRef replies that mEDRA did not find any entry, but works on mEDRA website.

JabRef 5.3--2021-04-26--add694a
Linux 4.19.0-16-amd64 amd64
Java 15.0.2
JavaFX 16+8

[2021-04-27 18:33] Siedlerchr commented on #7673
Just use the normal DOI fetcher. JabRef will automatically check if the DOI belongs to medra or not.
However, yours belongs to crossref and JabRef gets a HTTP 504 error, gateway timeout, so a problem on the CrossRef site.
Totally odd.

[2021-04-27 18:37] sparusaurata commented on #7673
I tried this one: `10.1016/0304-3975(95)00073-6`.

This what I initially wanted to do, but it didn't work (see [here](https://discourse.jabref.org/t/error-when-creating-and-entry-via-doi/2679)) so I used mEDRA as indicated [in the docs](https://docs.jabref.org/collect/add-entry-using-an-id).

[2021-04-28 00:12] Pikayue11 commented on #6197
Hi, I think it has already been 4 weeks and I am interested in this issue. Could I try to fix it?

[2021-04-28 09:33] Ryyyc commented on #7305
@Siedlerchr I think this bug can be solved by judging whether the identifier prefix contains "draft". I also added some testcases. See PR [7674](https://github.com/JabRef/jabref/pull/7674).

[2021-04-28 10:08] JoKalliauer commented on #6267
`
JabRef 5.3--2021-04-27--d320975
Linux 5.11.15-100.fc32.x86_64 amd64
Java 15.0.2
JavaFX 16+8
`
![Screenshot from 2021-04-28 12-07-20](https://user-images.githubusercontent.com/15687581/116386683-4da1d680-a81a-11eb-86e6-bd56b04fddb6.png)

[6267.bib.txt](https://github.com/JabRef/jabref/files/6390979/6267.bib.txt)

![Screenshot from 2021-04-28 12-05-53](https://user-images.githubusercontent.com/156

[2021-04-28 10:25] Siedlerchr commented on #6267
Thanks, might have overlooked something will check it

[2021-04-28 15:22] calixtus commented on #5825
Hint: ControlsFX provides a TableView2 as a drop-in replacement for TableView claiming having solved this issue. However, this issue has had a longer discussion in the jdk bugtracker.
See this discussion on stackoverflow:
https://stackoverflow.com/questions/24694616/how-to-enable-commit-on-focuslost-for-tableview-treetableview#25291137

[2021-04-28 17:34] Siedlerchr commented on #7650
This should be fixed now!

[2021-04-28 17:34] #7650 closed

[2021-04-28 19:30] ilippert commented on #7042
happy to close this for now

[2021-04-28 19:30] #7042 closed

[2021-04-29 07:45] LePingKYXK opened #7676 "Feature Required: combine and save the "clicked" references in JabRef into a ".bib" file"
First of all, I want to thank you for developing JabRef. It is really a great tool for collecting, managing and citing references.

I have a big BibTeX file collected by JabRef. When citing, it is convenient to click one of the references in the JabRef GUI. However, when compiling, the output PDF file could not show references, because of without a ".bib" file with the same directory of the ".tex"

[2021-04-29 08:17] Siedlerchr commented on #7676
Hi,

this is already possible. Just mark the ones you want to copy/export. In the Menu ->  File ->  Export -> Save selected as plain bibtex

Hint: You can also change the path in the tex file to point to your bib file
https://tex.stackexchange.com/questions/6805/bib-library-file-in-a-different-directory-how-to-use-mendeley-centralised-b

[2021-04-29 08:29] mlep commented on #7676
An workflow that maybe helpful: first, compile your LaTeX document with your big .bib file. Then, let JabRef extract the cited references into a dedicated bib file (Menu Tools ->  New sublibrary based on AUX file...)

[2021-04-29 14:25] LePingKYXK commented on #7676
Hi,
Thank you for your reply. It works for me.

[2021-04-29 14:59] #7676 closed

[2021-04-29 15:09] #6267 closed

[2021-04-29 15:18] Siedlerchr commented on #7673
I cannot reproduce this. The normal DOI fetcher works fine for me with your DOI. Mabye it was a temporary issue at CrossRef

[2021-04-29 19:37] JoKalliauer commented on #6267
I can confirm the issue is fixed. Thanks

[code]

[2021-04-29 20:35] panklucznik commented on #7627
Hi, thanks for the reply. No, I cannot, but it doesn't produce output other than the short message that connection failed.

[2021-04-30 01:06] Ryyyc commented on #7627
I am having difficulties with the proxy test that requires certification, can I contact you for some help?

[2021-04-30 10:14] dmitry-kabanov opened #7679 "Drag-and-drop and move file to file directory in macOS does not work"
JabRef version  on
[code]

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists (in `JabRef 5.3--2021-04-29--cfb14b2 Mac OS X 10.16 x86_64 Java 15.0.2 JavaFX 16+8`)

Steps to reproduce the behavior:
1. Open Entry editor on "General" tab.
2. Drag and drop file from, say, `Downloads` folder to the `File` field while pressing `O

[2021-04-30 12:44] Siedlerchr commented on #7679
Thanks for the report. This is unfortunately a javafx issue. On Mac, the modifier keys are ignored. I already submitted a bug to the jdk/javafx team:
https://bugs.openjdk.java.net/browse/JDK-8264172

But I will look into the renaming with the file directory pattern.

[2021-05-01 16:06] #7351 closed

[2021-05-02 08:03] isisgiraldo opened #7681 "JabRef not opening in Ubuntu 20.04.2 LTS"
My JabRef stopped opening yesterday. I tried uninstalling and reinstalling it again, but it still doesn't work.
It is not longer functional.

[2021-05-02 10:31] kainagel commented on #4096
Before you close this issue because of inactivity: Global search was the feature I used most in jabref.  Now I need to go manually through all tabs ... :-(

[2021-05-02 11:18] ju-sh opened #7682 "Are some scripts duplicates?"
There are two scripts that seems to be doing similar stuff in the [scripts/](https://github.com/JabRef/jabref/tree/main/scripts) directory: `bib-file-generator.py` and `bib-file-generator.rb`.

Are both being used (couldn't find where they were being used)?

Wasn't sure if some scripts were abandoned scripts that are no longer used.

If they are still used, wouldn't it be better to use the same la

[2021-05-02 12:42] Siedlerchr commented on #7682
Hi,
those scripts are not really used. They are just helpers if you need to generate a huge bib file for testing with many thousand entries

[2021-05-02 14:02] Siedlerchr commented on #7681
Hi, sorry for the inconvenience. Have you tried resetting your preferences?
https://docs.jabref.org/advanced/commandline

[2021-05-02 14:20] ju-sh commented on #7682
Okay. Just wanted to attract some attention to the scripts in case some of them had got irrelevant and can be removed or something. :-)

[2021-05-02 14:20] wujastyk commented on #6627
JabRef 5.3--2021-04-30--f504ff0
Linux 5.4.0-72-generic amd64
Java 15.0.2
JavaFX 16+8

I hope the JSTOR resolver will come back.  For scholars in the humanities, JSTOR is more important than all the other online repositories together

[2021-05-03 03:01] Fifi-wang commented on #7299
Hello, I would like to ask, has this bug been resolved? I can't reproduce it successfully on Windows system.

[2021-05-03 06:07] #7682 closed

[2021-05-03 10:21] ilippert commented on #6559
JabRef 5.3--2021-04-29--cfb14b2
Linux 5.11.16-200.fc33.x86_64 amd64
Java 15.0.2
JavaFX 16+8

problem continues

[2021-05-03 20:26] #7305 closed

[2021-05-04 10:58] AtrusRiven commented on #6966
- This issue is still relevant although not very urgent. Would be a »nice to have«.
- At the moment the context menu option `Open File` is greyed out when multiple entries are selected. It would be nice (in addition to the bulk copy option) to be able to open all files of multiple entries.
- Possible use case: Reviewing the content of multiple texts while looking for specific content.
![Screenshot

[2021-05-04 11:18] tobiasdiez commented on #6207
Given the amazing progress over the last few days (especially once all of the above PRs are merged), should we close this issue and return to our "only refactor if you work on this part of the code anyway" policy?

(Then I would also suggest to copy most of the issue text to the contribution guide / how to write tests).

[2021-05-04 14:13] ThomasJorna opened #7701 "Plain text parser yield connection error"
JabRef 5.2--ArchLinux--1
Linux 5.11.16-arch1-1 amd64
Java 15.0.2

Steps to reproduce:

1.  Enter double spaced lines of plain text into the Jabref plain text parser.
2. Click "Add to current library"
3. Get the error: "There are connection issues with a JabRef server. Detailed information: Could not process citation. Connection refused."

Paste your log details here.

<details>
<summary>Detail inf

[2021-05-04 14:15] ThomasJorna commented on #7701
For reference, this is the text being pasted, although it does not appear to be text dependent.
[code]

[2021-05-04 14:38] ThomasJorna commented on #7701
Seems that when starting it already fails to connect, might be a me issue.

``java
➜  ~ jabref --debug
16:32:55.645 [JavaFX Application Thread] DEBUG org.jabref.logic.logging.JabRefLogger - Showing debug messages
16:32:55.671 [JavaFX Application Thread] DEBUG org.jabref.logic.remote.client.RemoteClient - Could not ping server at port 6050
java.net.ConnectException: Connection refused
	at sun.nio.c

[2021-05-04 15:41] k3KAW8Pnf7mkmdSMPHz27 commented on #7701
On a possibly related issue, using [the example in the docs](https://docs.jabref.org/collect/newentryfromplaintext) I get a `java.net.ConnectException: Connection refused` from

https://github.com/JabRef/jabref/blob/3fb11761ad2927b65a3660098c2dba9d0418bc3a/src/main/java/org/jabref/logic/importer/fetcher/GrobidCitationFetcher.java#L49

[2021-05-04 19:18] #6207 closed

[2021-05-04 19:21] Siedlerchr commented on #7701
Seems lke our Grobid server is down again. @LinusDietz  @koppor

[2021-05-04 19:31] Siedlerchr commented on #4257
I also like the idea. They could then also used in the preview if they are stored as field

[2021-05-05 04:25] XDZhelheim commented on #5804
I think I got some clues.

Referring to https://github.com/zotero/translators/pull/2101, there is an API to query `bibtex` with DOI.

The format of URL is: `https://dl.acm.org/action/exportCiteProcCitation?targetFile=custom-bibtex&dois=<doi1>,<doi2>,...` (and encode it).
For example: https://dl.acm.org/action/exportCiteProcCitation?targetFile=custom-bibtex&dois=10.1145%2F3129790.3129810%2C10.1145%

[2021-05-05 09:03] Holzhauer commented on #6819
Unfortunately, it does not work reliably in the latest built (JabRef 5.3--2021-05-04--bbd04cc, Linux 5.8.0-50-generic amd64, Java 15.0.2, JavaFX 16+8). It works for one out of six custom fields, and I could not find a reason why it works for the single one. A difference I spot is that for the working custom field, the cursor appears vertically centered in the input field, whereas it is placed on t

[2021-05-05 19:57] mlep commented on #6997
Issue still relevant.

[2021-05-05 20:50] koppor commented on #7346
@GreyCanis Can you refine your issue with <kbd>Ctrl</kbd>+<kbd>E</kbd>? It works with the latest build at https://builds.jabref.org/main/

[2021-05-05 20:50] koppor commented on #7346
Refs https://github.com/JabRef/jabref/issues/6403

[2021-05-06 06:29] christophe-gouel commented on #6967
Since Nov 2020, I have used JabRef without autocompletion and was very satisfied with it. To check if the issue was still relevant, I have just reactivated the autocompletion. After 30 seconds, the processors were fully saturated and closing JabRef (5.2) was not enough since it stays open in the background.

So the issue is still there, but if people are happy to work without autocompletion, which

[2021-05-06 08:52] LinusDietz commented on #7701
@Siedlerchr Server is up again.

[2021-05-06 08:52] #7701 closed

[2021-05-06 08:52] mlep opened #7706 "DOI link: opens in preview and causes an exception"
JabRef 5.3--2021-05-05--a3f093d
Linux 4.19.0-16-amd64 amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

When clicking on the DOI link displayed in the preview panel, the webpage is displayed in the preview (which is unexpected), and barely unusable (because it is very small), and then an exc

[2021-05-06 13:24] Siedlerchr commented on #7706
Hi do you use one of the CSL styles or the custom jabref style? If the latter one, can you paste it? By default it's not displayed for me in the preview

[2021-05-06 14:05] Ryyyc commented on #7100
I tested it in the latest version of JabRef. Now JabRef will automatically download the V2 version if it exists.
It seems that this issue has been solved, maybe this issue can be closed. @Siedlerchr

[2021-05-06 14:21] #7100 closed

[2021-05-06 14:39] Ryyyc commented on #7038
I randomly selected a test—— “Assigned numbers,” Request for Comments, no. 1010. RFC Editor, May 1987, doi: 10.17487/RFC1010.

![ok](https://user-images.githubusercontent.com/47767371/117316743-72054f00-aebb-11eb-9deb-dd3787ade245.png)

Now jabref is working. Maybe this issue can be closed. @Siedlerchr

[2021-05-06 14:44] #7038 closed

[2021-05-06 14:44] Siedlerchr commented on #7038
Our GrobidServer was down, we restarted/fixed it

[2021-05-06 15:18] Ali96kz commented on #7582
@tobiasdiez Do we really need _apollographql-client_ ? we can simply send _HTTP POST_ like these
[code]

[2021-05-06 15:52] tobiasdiez commented on #7582
Strictly speaking a client library is not needed, and you can go ahead as you said with simple http requests. However, a proper client gives you automatic error handling, parsing of the result, type security based on the schema and your graphql queries etc.

For example the code from https://www.apollographql.com/docs/android/essentials/get-started-java/
[code]
looks quite straigthforward and you

[2021-05-07 03:49] XDZhelheim commented on #6966
Hello, I'm trying to work on this issue. So far I successfully added a new option in the right click menu. But when multiple entries selected, it is disabled, same as `Open file` option. Which part of codes should I modify to enable it?

[2021-05-07 04:47] XDZhelheim commented on #6966
Finally made it. There is a `needsEntriesSelected` condition.

I will draft a PR in the coming few days ASAP.

[2021-05-07 09:08] mlep commented on #7706
Indeed, I have a customize preview style. Here it is:
[code]

Note: in Options -> Preferences, tab Entry preview, **a left-click on the selected style raises an exception** (see below).
Do you want me to open a specific issue?
<details>
  <summary>Details about another uncaught exception details</summary>
java.lang.IllegalArgumentException: Visible paragraphs' last index is [-1] but visibleParInde

[2021-05-07 12:40] mlep opened #7710 "Cleanup action: some fields in random order"
JabRef 5.3--2021-05-05--a3f093d
Linux 4.19.0-16-amd64 amd64
Java 16.0.1
JavaFX 16+8

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

In the cleanup actions (Menu `Quality -> Cleanup entries`, and Menu `Library -> Library properties`), most of the field values in the drop-down menu are in alphabetical order, but some are

[2021-05-07 13:12] SuXiChangZhen commented on #6877
@Siedlerchr Hi, I am intersted in this issue. But I wonder how to design the UI to let user enter the api key. Which one is better, add in the preferences or pop up a dialog when exception occur?

[2021-05-07 14:30] JasonGross commented on #6877
I think it should be in preferences.  The setting should be stateful; I shouldn't have to reenter it every time an error occurs.  (And it should be possible to go back to the default key, which it wouldn't be if there was a stateful change that could only be entered on error.)

[2021-05-07 14:38] SuXiChangZhen commented on #6877
Thank you for your reply. I agree with you, and I think other api keys(like ieee) should also be included in the preferences. Otherwise, it may seem odd if only springer's api key can be changed.

[2021-05-07 14:42] Ryyyc commented on #7673
I ran some tests:

<br>

mEDRA url: https://data.medra.org/10.3303/CET2184030
+ GET request without http header "Accept: application/vnd.citationstyles.csl+json", it has been redirected many times, and the resource website can be accessed normally(in the browser).
+ GET request with http header "Accept: application/vnd.citationstyles.csl+json", it directly gets the response result we want.
[code]

[2021-05-07 15:00] Siedlerchr commented on #7673
@Ryyyc  You can test also with 'Accept: application/x-bibtex'

[2021-05-07 15:03] Siedlerchr commented on #6877
Yep and gui wise mabye under the Network tab. @calixtus  is the master of preferences atm, maybe he has a btter idea

[2021-05-07 15:17] SuXiChangZhen commented on #6877
OK, I get it. My teammate @Ryyyc and I was thinking put it in the "Customization" where user can custom DOI URI.

[2021-05-07 15:22] dateri commented on #7710
I think this is because `java.util.LinkedHashSet` is used to store these fields. I will new a pr about it.

[2021-05-07 15:27] Ryyyc commented on #7673
The response of test https://data.medra.org/10.3303/CET2184030 with 'Accept: application/x-bibtex' is still `200 OK`.
[code]
<br>

The response of test https://data.medra.org/10.5194/npg-24-569-2017 with 'Accept: application/x-bibtex' is still `404 Not Found`.
[code]

[2021-05-07 16:45] SuXiChangZhen commented on #7710
I also worked on this issue, so I put my modification in my pr. But I am not sure if the separator should be added.

[2021-05-07 18:22] Siedlerchr commented on #7706
Seems like it's requires some listener to intercept links and then call the "normal" opening methods.
 https://stackoverflow.com/questions/15555510/javafx-stop-opening-url-in-webview-open-in-browser-instead

[2021-05-07 18:34] mlep commented on #7706
A long time ago, indeed, it opened in an external browser.
But for a while, it was not possible to save the custom preview settings, so it was not possible to try it.

Digging in the development releases:
-  the one published on January 21, 2021 did not do anything when clicking on the URL located in the preview.
-  the one published on January 21, 2021 behaves as the current one (display of the w

[2021-05-08 04:29] chrisdebrunner commented on #6967
I was able to reproduce this error under RHEL 7 with JabRef 5.2, but not under Mac OS X 11.1 with JabRef 5.2.  Note that under RHEL 7, JabRef 5.2 crashes if I start it by executing ${JabRefRoot}/bin/JabRef, so I instead execute ${JabRefRoot}/lib/runtime/bin/JabRef.

[2021-05-08 09:13] MrGhabi commented on #5464
Hello, I have reproduced the issue. Could I have a try to fix it?

[2021-05-08 10:02] apurvachuri commented on #4682
Hi,

We have created a pull request: https://github.com/JabRef/jabref/pull/7714

Any suggestions/feedback would be appreciated!

[2021-05-08 10:12] Siedlerchr commented on #7710
Thanks to  @dateri the fields are now sorted alphabetically again

[2021-05-08 10:12] #7710 closed

[2021-05-08 11:47] mlep commented on #7710
Indeed, the issue is solved now. Thank you @dateri for your contribution to JabRef. I wish you can find other interesting issues to solve!

[2021-05-08 12:04] mlep opened #7716 "Some more fields in random order"
JabRef 5.3--2021-05-08--4f398d8
Linux 4.19.0-16-amd64 amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

I have found some other drop down menus where fields are not sorted (like in issue #7710):
- List of fields (i.e. exact same list as issue #7710):
    - Menu `Library -> Library properties

[2021-05-08 12:05] mlep commented on #7716
Ping @dateri, maybe?

[2021-05-08 12:22] dateri commented on #7716
Yeah, I think they need be also sorted. I'll fix them soon.

[2021-05-08 12:24] Siedlerchr commented on #7716
I think for new entry the ID list should be ordered by things that are used the most first. Doi should be on top.

Same applies to formatter.

[2021-05-08 13:31] dateri commented on #7716
@Siedlerchr maybe sort them by displayName is enough cause the number of types of formatter and ID list are not so large as the number of fields？And i have no idea about how to store the number of times they use (add a database?).

[2021-05-08 14:59] sparusaurata opened #7718 "JabRef breaks hard links to .bib files"
I use JabRef version 5.2 on Linux Mint 20.1.
When I open a `.bib` file and modify it with JabRef, its inode number is modified and the hard links are broken. An example:
[code]

[2021-05-08 18:42] Siedlerchr commented on #5825
From what I see it should be sufficient to use the TextField2TableCell implementation to achieve this

https://github.com/controlsfx/controlsfx/blob/jfx-13/controlsfx/src/main/java/org/controlsfx/control/tableview2/cell/TextField2TableCell.java

[2021-05-08 18:53] Siedlerchr commented on #7718
This is correct in so far that JabRef writes all content to a temporary file first and then replaces the existing file in an atomic move where possible.

[2021-05-08 20:13] sparusaurata commented on #7718
And would it be conceivable to do it some other way (naive question)?
(In my case using hard links is necessary because I work in a git repo, and symbolic links would not be pushed correctly to remotes.)

[2021-05-08 21:27] Siedlerchr commented on #7718
This somehow refs https://github.com/JabRef/jabref/pull/6694 There is a lengthy discussion.
I have been working on this saving already and I am experimenting if this works fine if I directly write to the bib file.

May I ask why you need a hard link? Why don't you edit the file directly in the repo?

[2021-05-08 22:08] sparusaurata commented on #7718
The main `.bib` file, located in some root folder, is used by several projects (and associated git repos) located in subfolders. That's why I created a (hard) link to the main bibliography in each repo.

An easy workaround (that is sufficient for my projects) is to create copies instead of links, and to renew them from time to time. But in general it doesn't seem very satisfactory.

[2021-05-08 22:11] gliargovas commented on #4652
Hello,
Me with my colleague @gdrosos have been assigned this issue. Unfortunately we had some obligations and we have postponed its relosution. In the last days we have been working on it and trying to understand it. We are thinking of adding a column at CheckTreeView to include the date of last modification which will be dependent of the first column. We have also managed to show the date of the

[2021-05-09 08:03] Ryyyc commented on #7057
I also found another problem, different articles can have the same `Citationkey`. I am not sure if this is the expected behavior.

I don’t really understand how crossref works, in other words, how does it work with `Citationkey`.
I only found crossref in `BibTeX source`.
When I add A to the crossref in B and modify A, the content preview of B does not update.
A can be added to B's crossref twice.

[2021-05-09 09:22] ilippert commented on #7057
this sounds like a familiar problem. Worth checking this indeed.

Sorry, I am not sure I understand the issue you are formulating here. Would you rephrase, please?

[2021-05-09 09:44] Ryyyc commented on #7057
Create *First* (the `Citationkey` of *First* is **First**) and *Next*, before add **First** to *Next*'s `corssref`:

![before](https://user-images.githubusercontent.com/47767371/117567114-191cfd00-b0ed-11eb-80ee-01c47546599a.png)

<br>

After added **First** to *Next*'s `corssref`:
The `Year` of *First* seems to be previewable in *Next*.

![next](https://user-images.githubusercontent.com/47767371/

[2021-05-09 10:13] aloofluo commented on #6837
Hi @MaxSchambach, Could you give a detailed instruction on how to reproduce the bug?

[2021-05-09 13:56] cfgnunes opened #7719 "The "Aux file" on "Edit group" doesn't support relative sub-directories path"
JabRef version 5.2--2020-12-24--6a2a512
On Ubuntu 20.04.2 - Linux 5.8.0-50-generic amd64

The "Aux file" on "Edit group" doesn't support relative sub-directories path.

- [X]: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. Open the "Edit group" window on groups interface
2. On "Aux file" put the "latex.o

[2021-05-09 15:11] ilippert commented on #7057
Thank you a lot, this helps.

you have successfully identified a bug the year date should be updated immediately. I suggest you create a new bug report and reference the discussion here.

[2021-05-09 16:18] Siedlerchr commented on #7673
I think this is something on the Medra/DOI publisher side. I had this problem with other EU publications as well, they did not return bibtex but html from the website despite the Accept header. Maybe you can contact the support and ask them

[2021-05-09 16:18] #7673 closed

[2021-05-10 02:30] aloofluo commented on #7719
Working on this and I will try to make a pr soon.

[2021-05-10 04:42] SuXiChangZhen commented on #7111
@k3KAW8Pnf7mkmdSMPHz27 Hi, I am interested in this issue. Where can I get started and What is the expected behavior of citation key generation? Thank you.

[2021-05-10 09:33] lpilz commented on #6626
I can second that problem - experiencing exactly the same bug constantly. It is possible to recover by going into 'Preferences' and clicking 'Save'.

jabref 5.2-1
Arch Linux running 5.12.1-arch1-1 and XFCE4
openjdk version "1.8.0_292"
OpenJDK Runtime Environment (build 1.8.0_292-b10)
OpenJDK 64-Bit Server VM (build 25.292-b10, mixed mode)

[2021-05-10 09:47] lpilz commented on #6626
Ah, just saw #6818. This bug should be fixed with #7507 - now we just have to wait for release ;)

[2021-05-10 09:54] Siedlerchr commented on #6626
@lpilz  You can try the latest dev version which includes this bug fix https://builds.jabref.org/main/

[2021-05-10 12:03] lpilz commented on #6626
Cheers :) Since I'm lazy and using the packaged AUR version, I think I'll just wait for it to make it to stable :+1:

[2021-05-10 19:38] #7716 closed

[2021-05-11 01:54] cfgnunes commented on #7719
Thanks, @aloofluo! 💙

[2021-05-11 17:43] k3KAW8Pnf7mkmdSMPHz27 commented on #7111
Hello @SuXiChangZhen, thank you for your interest!

Pretty much all approaches start with the "alternative text modifier" as described above,
https://github.com/JabRef/jabref/blob/b0af521e3173e4b55673cd27563ca981ad607e8b/src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java#L549-L553

It is listed as the last modifier in the [JabRef documentation](https://docs.jabref.org/setup/ci

[2021-05-12 02:51] SuXiChangZhen opened #7730 "Entry with crossref does not update immediately"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

put the discussion #7057 here. If the field of the entry does not set, and the entry has a crossref, the preview will use the field of crossref entry. However, when change the field in crossref entry, it wi

[2021-05-12 03:10] SuXiChangZhen commented on #7730
From my current debug, it may because the crossref entry does not inform its child entry to update when its field changes. So I add the crossref entry's observable values to child entry and the problem seems be fixed. I am not sure if it is an appropriate solution.

[2021-05-12 08:24] MaxSchambach commented on #6837
I have just tried it with the newer JabRef 5.2 version.
Using the macOS version, everything works as expected.
Under Linux however, seraching from IEEEXplore fails:

  - Under "web search", select IEEEXplore
  - Type some test string in the search field and click search

Error thrown:
"A network error occured while fetching from [URL]"

Using "Test" as a search string, the URL is
`http://ieeexplor

[2021-05-12 08:54] ilippert commented on #7718
I have been frustrated for years about this.

My workaround is now simplistic: I store my core library at a specific place X. And in the bibtex file I reference that file F with its complete path.

[2021-05-12 08:57] ilippert opened #7731 "Crossref to also crossref file"
I have an entry A, say an edited volume, and have linked to it a file AF.

Entry B crossreferences A.

The entry table successfully uses some data of A to present data for B.
I am frustrated because the link to AF is not shown for B in the entry table.

Proposal. IFF B does not have own files attached, offer AF in the entry table.

[2021-05-12 13:03] Ryyyc commented on #5804
One solution is to get the DOI from the HTML results of the search page, then use the export interface to get the JSON format data, and finally parse them.

Search API: https://dl.acm.org/action/doSearch?AllField=<queryString>
Export API: https://dl.acm.org/action/exportCiteProcCitation?targetFile=custom-bibtex&format=bibTex&dois=<doi>,<doi>,...

[2021-05-12 13:12] XDZhelheim commented on #5804
Yes, I have tried. The difficulty is how to build a script to get DOI from the web page. ACM digital lib uses some anti-crawler techniques.

[2021-05-12 13:52] Ryyyc commented on #5804
<br>

I used a browser and curl for testing. The browser access is all normal. The curl response requires cookies, so the cookie should be included in the request.

[code]

[2021-05-12 14:10] XDZhelheim commented on #5804
Nice work.

But if I remember correctly, the old ACM fetcher searches in "ACM Guide to Computing Literature", which means the query URL is https://dl.acm.org/action/doSearch?AllField=lidar&expand=all

[2021-05-12 14:18] Ryyyc commented on #5804
Thank you for your reminder, but I did not find this in the original code file.
Maybe we need a little help from @koppor .

[2021-05-12 19:05] sparusaurata commented on #7718
But this wouldn't solve my git problem, would it? (See [that comment](#issuecomment-835495739).)

[2021-05-13 16:41] SuXiChangZhen commented on #7111
Thank you for your advice. I think I understand the need. I will make a pr soon.

[2021-05-13 20:13] #6966 closed

[2021-05-13 20:29] tobiasdiez commented on #6966
Thanks to @XDZhelheim this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2021-05-13 22:49] k3KAW8Pnf7mkmdSMPHz27 commented on #7719
@cfgnunes where is your `.bib` file? Is it in the same directory as `latex.out/`? What is the `.aux` file path relative to?

[2021-05-15 07:00] Fifi-wang commented on #7679
Hello, I want to know whether this bug has been resolved because my behavior under Windows system is in line with expectations.

[2021-05-15 07:05] EricLee543 commented on #7233
It seems that this issue has been solved.

[2021-05-15 07:07] Fifi-wang commented on #7679
Hello, for this question, I would like to ask, does the rename here involve the movement of files? That is, we should move the file to a place that conforms to the file directory pattern and change its name? @Siedlerchr

[2021-05-15 09:48] #7233 closed

[2021-05-15 16:56] ilippert commented on #6559
JabRef 5.3--2021-05-15--0a26d31
Linux 5.11.19-200.fc33.x86_64 amd64
Java 16.0.1
JavaFX 16+8

I also suspect that the comment on the search bar detects something important! It seems to be a good predictor of how to get CPU use at 100%.

[2021-05-15 17:35] Siedlerchr commented on #6559
Do you have autocomplete enabled?

[2021-05-15 18:12] ilippert commented on #6559
autocomplete is enabled for the entry editor.

[2021-05-15 18:35] CodeSJS opened #7737 "import hangs for ris files with "ER - " field, also other bib files common from journal web sites"
JabRef version JabRef 5.3--2021-05-15--0a26d31
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

- [X ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Certain files I download from journals cause import to hang.  (I looked through other bug reports concerning "import hangs" and this seems to be different.  Apologies if duplicat

[2021-05-15 22:28] panklucznik commented on #7627
I am very sorry for the delay. Of course, how can we contact directly?

[2021-05-16 00:24] Ryyyc commented on #7627
I am glad to get your help, contact me via my email ruanyc@mail.sustech.edu.cn.

[2021-05-16 11:21] EricLee543 commented on #7613
I am interested in this issue. Does group means library tag?

[2021-05-16 13:48] Gan-Cheng commented on #7129
I have reproduced this issue in the new version. Could I try to fix it?

[2021-05-17 01:46] weimdall opened #7739 "Group Intersection - Free search"
JabRef version 5.2 on (Arch) Linux 5.12.3 amd64

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. Create two free search groups
2. Restart (otherwise, group color is not shown - bug 2 ? )
3. Try an intersection

![2021-05-16-213318_1920x1080_scrot](https://user-images.githubusercontent

[2021-05-17 04:47] Noname690 commented on #7737
I have reproduced this issue in the latest version . And I want try to fix it , could you give me some advise  , thank you @Siedlerchr

[2021-05-17 06:49] mlep commented on #7716
@Siedlerchr ID fetchers were mostly sorted (mEDRA is not)

[2021-05-17 06:51] mlep commented on #7716
@dateri Thank you for tackling this issue. I wish you will find some other interesting issues to solve in JabRef!

[2021-05-17 07:13] EricLee543 commented on #7739
Hello, I am interested in this issue. Do you mean the intersection failed after restart? I seem to have encountered this bug without restart.

[2021-05-17 07:22] mlep commented on #7739
Isn't it a duplicate of issue #6998 ?

[2021-05-17 11:14] damanti-me commented on #7376
i also experience that issue !
Win10, ad64, version5.2

[2021-05-17 12:56] BugInMaths commented on #7376
Can you search with the Intro button in that version?

[2021-05-17 13:01] damanti-me commented on #7376
I dont exacly know what you mean with "intro" Button, but when i press the return key it has the same effect as clicking "Search".

[2021-05-17 13:11] BugInMaths commented on #7376
Oops, in spanish it is "Introducción", always thought it was "Introduction" in english, not "enter". That answers my question, thank you.

[2021-05-17 13:49] Siedlerchr commented on #7376
@BugInMaths  For the translation of JabRef feel free to modify the Spanish translation https://crowdin.com/project/jabref

[2021-05-17 20:09] Siedlerchr commented on #7679
No, I think these are two different cases.
Renaming +  Moving are two separate options.

[2021-05-17 20:26] Siedlerchr commented on #7737
@Noname690  I would take a look at the RIS Importer and debug what happenns when the importer cones to this line.
You can also start with a Unit test to reproduce this

[2021-05-17 20:30] CodeSJS commented on #7737
How can I do this?

From: Christoph ***@***.***>
Sent: Monday, May 17, 2021 4:27 PM
To: JabRef/jabref ***@***.***>
Cc: Singer, Sherwin ***@***.***>; Author ***@***.***>
Subject: Re: [JabRef/jabref] import hangs for ris files with "ER - " field, also other bib files common from journal web sites (#7737)

@Noname690<https://urldefense.com/v3/__https:/github.com/Noname690__;!!KGKeukY!g0ZyhezQd2W3VLpS

[2021-05-17 20:35] #7451 closed

[2021-05-17 20:42] #6197 closed

[2021-05-18 01:14] idadoudou opened #7751 "Add a search for the journal abbreviations"
**Is your suggestion for improvement related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The journal brief list is too long, it is difficult to find a journal. If we can search in the list, it will be better.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additio

[2021-05-18 02:16] Fifi-wang commented on #7679
Thanks a lot!

[2021-05-18 19:37] #6271 closed

[2021-05-19 09:08] Noname690 commented on #7737
![4T2~J6YMXU}9066${JQTB5G](https://user-images.githubusercontent.com/56827551/118786104-11671080-b8c4-11eb-8e80-85563cd06f29.png)
The entries after processing are like this , I think the problem may cause by that

[2021-05-19 09:50] jmmelko opened #7756 "JabRef refuses to launch without warning if an illegal character is found in journal abbreviations"
Hi,

On Windows 10 (but I expect it to happen on other platforms as well)
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

When a double quote character is present in the journal abbrevations file, the app refuses to launch (i.e. it quits just after starting), without any error dialog box.

Launching jabref.bat produces the following output (truncated to 1st error):

[code]

To s

[2021-05-19 13:24] CodeSJS commented on #7737
Yes, for ris files the “ER – “ at the end is the problem.  If one removes that last line it’s OK.

I have not been able to determine which line causes problems in the bib file.  In the past, I removed all non-essential without isolating which one was the problem.  I will work on removing lines one by one and try to isolate the problem with bib files.

Thanks for your work on Jabref!
  Sherwin

Fro

[2021-05-19 19:07] EricLee543 commented on #6142
![image](https://user-images.githubusercontent.com/43877209/118869342-d8588b80-b917-11eb-9120-f63bb14f481d.png)
I have implemented a simple demo like this. However, there is a problem. I can only load 1000 icons. If I load all of the icons, there will be UI lags.
Do you think 1000 icons are enough? Maybe we can keep the previous way, and  add a limited(1000 icons) icon picker.

[2021-05-19 19:36] #7076 closed

[2021-05-19 20:17] tobiasdiez commented on #6142
That looks very nice! Good job.

Concerning the performance problem, how did you implement the grid? It might be necessary to use something like https://github.com/FXMisc/Flowless to not create 1000 buttons but only a couple (essentially what fits in the display) and reuse them when scrolling. I would suggest you open a draft PR where we can discuss these things.

[2021-05-20 13:51] mlep opened #7757 "Deprecated fields are not deprecated (in BibTeX mode)"
JabRef 5.3--2021-05-15--0a26d31
Linux 4.19.0-16-amd64 amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

For a library in BibTeX mode, if an entry of type `@Article` contains the field `month`, JabRef displays it in the tab `Deprecated fields`. In BibTeX, the field `month` is an optional fiel

[2021-05-20 16:28] quade-butler commented on #5446
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

I am also running into this issue. It is only occurring with one of my libraries and not any others.

[2021-05-20 16:45] AEgit commented on #5446
Cheers!

[2021-05-20 22:41] #5804 closed

[2021-05-20 23:15] koppor commented on #7618
What you are explaining in the table, is the optimistic offline lock.

(Assumption: "local version" = ".bib" file, Then, it is easy, too)

As soon as the "client" is started, it knows the version of the .bib file when it was last synched. Then, it loads the local bib file. In case of any differences, it increases the version number. Then, it starts synchronizing with the server.

Cold start: The c

[2021-05-20 23:17] koppor commented on #156
With the part at https://github.com/JabRef/jabref/issues/7618#issuecomment-845543064, we came up with a solution how optimistic offline lock also works for locally stored files. We did not came up with an idea in 2015.

[2021-05-20 23:26] koppor commented on #7618
I found our implemenatation: org.jabref.logic.shared.DBMSSynchronizer#synchronizeLocalDatabase, called from org.jabref.logic.shared.DBMSSynchronizer#pullChanges.

The tests are in org.jabref.logic.shared.SynchronizationTestSimulator.

Oh, wow, with that in mind, one has "just" to implement `org.jabref.logic.shared.DatabaseSynchronizer` for synchronization with JabRef online. And everything works.

[2021-05-21 07:00] tobiasdiez commented on #7618
You are right, the algorithm is very similar to the optimistic lock. However, there you only have one "version" that is incremented upon change and used for the comparison. This works perfectly when you always have connection to the server and can directly push changes. However, when you are offline and change an entry this may lead to problems, as described above:

That's why I proposed to have a

[2021-05-21 11:48] lpilz opened #7762 "Cannot open PDF files in JabRef Snap"
JabRef version 5.2--2020-12-24--6a2a512
Arch Linux
Linux 5.12.1-arch1-1
Snap(d) 2.50-1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists
 - ~~Does not apply~~

Steps to reproduce the behavior:
1. Open Library with linked files or link new files
2. Click the PDF icon/"Open File" in context menu
3. `Native open operation no

[2021-05-23 14:27] #7111 closed

[2021-05-24 14:35] koppor commented on #7618
The client has to be smart enough to note that it locally changed something. This is what you described by "keeping a copy of the last synced state".

I agree, we don't keep the copy. Since we thought about these issues, we found out that BibTeX data is key/value object. key1 could be authors, key2 journal, etc. - Thus, we can put versions into fields!

This also answers your question:

If the ser

[2021-05-25 07:42] WolfgangFahl opened #7770 "Duplicate Detection"
I am using paste of a DOI to add references and find it astonishing that duplicates are not detected and another
"identical" entry is created.
I'd expect a warning in this situation at least "DOI" already assigned to ...

[2021-05-25 09:54] ilippert commented on #7120
still desirable

[2021-05-25 12:37] HoussemNasri commented on #7392
Hi @BenArou, I need to know if you're still working on this before I take a look into it.

[2021-05-25 15:30] ploedige commented on #5867
I have the same problem on Arch with Qtile.
The workaround of @hemker works for me.

[2021-05-26 08:14] lpilz commented on #7762
It seems that this is not a permissions-related snap bug, since file annotations from PDFs can be retrieved

[2021-05-27 07:03] kimim opened #7771 "App Icon is too dark"
**Is your suggestion for improvement related to a problem? Please describe.**
Change APP icon color from dark blue to light or azure blue, then it will be significant in the Taskbar(Windows).

[2021-05-27 17:50] k3KAW8Pnf7mkmdSMPHz27 commented on #7057
@ilippert you are referring to that the content of the crossref field disappear? (e.g., `crossref    = {CiteMe3}`)

@Ryyyc

Just because you can, doesn't mean that you should 😛
Citation keys are supposed to be unique, and if they are not they might lead to a lot more problems than just with crossref.
If a user is using the generate citation keys feature it will append a letter to the citation key

[2021-05-27 18:16] ilippert commented on #7057
Yes. The problem is indeed that if  `crossref = {CiteMe3}` is deleted, then the entry with citation key "CiteMe3" gets deleted.

[2021-05-28 09:47] jmmelko opened #7773 "Journal Abbreviations does not handle protecting curly braces"
Hi,
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

When importing a bibTex citation from a publisher, uppercase abbreviations of editors names is often protected with curly braces, like that:
```{IEEE} Journal of Quantum Electronics```

If the journal abbrevations list contains the unprotected version:
```IEEE Journal of Quantum Electronics```

Jabref does not recognize the jou

[2021-05-28 09:52] jmmelko opened #7774 "Journal Abbrevations: custom user list is not reloaded after saving changes"
Hi,

JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

1/ Create a new journal abbrevation list, and create a new entry, or load an existing one, with an abbreviation *not* in the Jabref builtin list
2/ click on "save changes"
3/ try to toggle the journal name => does not work
4/ quit and relaunch: it works

Suggestion: reload the list after modification

[2021-05-28 10:24] Siedlerchr commented on #7774
Please always try the latest main version before reporting an issue https://builds.jabref.org/main/
There have been already some fixes regarding journal abbreviations, so your issue might be fixed already

[2021-05-28 11:40] antalk2 commented on #7615
When finished inserting and syncing, JR tries to move the cursor back to its original position.
I have seen such failure of gotoRange() when this original position was overwritten
in the process. This may happen if the cursor was inside or at the edge of a citation mark,
or in the bibliography section. If the reference is added to the list of references, the internal state
(the state written to th

[2021-05-28 12:31] ytzemih commented on #7615
But in this case the new citation is lost.

Thanks for handling this issue.

 1. I can also provoke an exception when placing the cursor in the bib.
 2. I can also NOT do this when placing it in or at the rear edge of a citation mark.
 3. **But** I was able to reproduce it when putting the cursor directly _at the front edge_ of a citation mark. I must have done had occasionally, hence, the excepti

[2021-05-28 13:58] Melchior-S commented on #7658
I am having a similar issue. When trying to move files to the default file location files are copied to the bibfile location even though I have set the default file location. This happens if I use cleanup entries (Alt + F8) or the right click menu option for moving files.

In the cleanup entries menu the bibfile directory path is displayed as the target path for moving files (at least I know where

[2021-05-28 18:33] k3KAW8Pnf7mkmdSMPHz27 commented on #7658
@funnym0nk3y are you also using relative file locations?

@Melchior-S have you tried using the [user specific library location](https://docs.jabref.org/finding-sorting-and-cleaning-entries/filelinks#directories-for-files)? I am not sure how well it works for your setup (I am only using one computer)

I also wanted to make sure that you have disabled the "Search and store files relative to library

[2021-05-28 20:57] antalk2 commented on #7615
1. It can detect it.
2. There is an associated cost in time. At 23 pages with a lot of citations "Cite" can take 4 seconds
    without updating the bibliography.
   The code behind is comparing each citation mark to each citation mark,
   because I originally wrote it to diagnose the mess that may happen if one inserts a citation
   within another. A simplified version would be enough for "Cite"

[2021-05-29 06:44] jmmelko commented on #7774
Yeah sorry, I did a search in Issues, and found nothing, so I assumed it was not fixed.
But sometimes issues are fixed that aren’t reported.

i can’t update easily since my pc is IT managed.

[2021-05-29 08:11] ytzemih commented on #7615
Great! Regarding time consumption: An alternative would be to let the user insert citations and only update the bibliography on demand or on save, for example.

Also, it's very unlikely that one places the cursor inside the bibliography when inserting a citation. I recall I tried "updating" the bibliography when the cursor is inside it and that seemed to work without exception.

Thanks, again.

[2021-05-29 09:58] Melchior-S commented on #7658
@k3KAW8Pnf7mkmdSMPHz27 Sorry yes "Search and store files relative to library file location" was enabled. Disabling this feature resolves my issues.

Its a fresh install of V5.3. Not sure if this is a configuration that was bought across from my previous configuration or if it was enabled by default.

[2021-05-29 10:59] antalk2 commented on #7615
In the Openoffice/Libreoffice panel [Settings]/[Automatically sync bibliography...]
lets you turn off the bibliography update.

[2021-05-29 11:26] ytzemih commented on #7615
Ah, thanks! Perfect.

[2021-05-29 14:00] funnym0nk3y commented on #7658
@k3KAW8Pnf7mkmdSMPHz27 Yes, I want to use relative locations. Is there an issue with relative locations?

[2021-05-29 18:32] Melchior-S commented on #7658
@funnym0nk3y, just in case this is useful to you. My general file directory for my library is defined as a relative directory "../../Papers" (two directories up and in a folder called papers). With relative locations disabled my documents are still correctly copied to this location when I select clean-up entries or right click move to file location. However, if your files are stored in multiple lo

[2021-05-29 21:06] Siedlerchr commented on #7658
@Melchior-S  @funnym0nk3y I am having troubles to understand if this works now for you or not.
To make the process a bit more clear:

JabRef uses the first existing file directory it finds in this order:
1. Library settings: User specific file directory;  Can be relative
2. Library settings: General file directory; Can be relative
3. Options → Preferences → Linked files, item Main file directory.

[2021-05-30 10:26] funnym0nk3y commented on #7658
I tried it with the following settings:

1. `.\Dateien`
2. `.\Dateien`
3. Pointing to the same directory, but with an absolute path.
4. Unchecked

Now all the files are not found anymore. When linking them again it seems to work.

[2021-05-30 11:31] Siedlerchr commented on #7762
Can you please test the latest snap version edge? (should be 5.3.x)

[2021-05-30 11:32] Siedlerchr commented on #7771
Can you please make a screenshot?

[2021-05-30 11:36] Siedlerchr commented on #7770
Which JabRef version are you using? If I remember correctly, there has been some improvement to the duplicate detection in the current dev version. https://builds.jabref.org/main/

[2021-05-30 11:48] lpilz commented on #7762
I have tested it and am getting the same error
`Native open operation not successful: java.io.IOException: Failed to show URI:file:<filepath>`
Additionally I am getting this error:
`java.net.UnknownHostException: <my-pc-name>: No address associated with hostname`

[2021-05-30 16:32] WolfgangFahl commented on #7770
JabRef 5.3--2021-05-15--0a26d31

[2021-05-31 08:10] Melchior-S commented on #7658
@Siedlerchr Sorry if my last post was unclear.

As stated in a previous post above if I disable "Search and store files relative to library file location" then files are copied to the file location I specify in the "library settings: General file directory" (works correctly). Based on the directory search order you listed above it seems everything is working as intended.

To me it is just not intu

[2021-06-01 15:06] jmmelko commented on #7774
Bug is still there in most recent portable version:
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

[2021-06-01 15:08] jmmelko commented on #7773
bug still there in:
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

Braces should be there to protect from changing case of acronyms, not protective whatever happens, especially not protection against abbrevations. I think.

[2021-06-01 16:38] scfrank commented on #4877
JabRef 5.2--2020-12-24--6a2a512
Mac OS X 10.15.7 x86_64
Java 15.0.1

I'm getting this error; it's always the same file/entry since yesterday; I haven't edited this entry today and I just got it again. I cannot see any difference between the two versions (you will have to believe me since I can't resize the window enough to show the full entry). The error doesn't go away regardless if whether I 'di

[2021-06-01 20:32] jmmelko opened #7785 "Read status not applied as a batch on selected entries"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

* select several entries
* Edit->Read status -> [change status]

=> only the first or last entry of the selection is modified.

It works with the priority status, though

[2021-06-01 20:36] jmmelko opened #7786 "Library import: no "select all" option"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

When importing another library into the current one, a dialog opens in which you have to select entries.
There is a "select new entries", which is not reliable (I tried with existing entries that had been modified: the software does not see them as new), and a "unselect all".

Why not add a "select all"?

Ctrl-click and shift-click

[2021-06-01 21:05] k3KAW8Pnf7mkmdSMPHz27 commented on #7773
The latest version of JabRef, including the portable version, can be found at [builds/main](https://builds.jabref.org/main/) and it should be

[code]

I can't test that it is the same version for Windows, but it would surprise me if it were different.

Remember to take a backup off your library before trying the latest build!

[2021-06-01 21:19] mlep commented on #7785
@jmmelko  It seems to work for me using the development version.
After backing up your library, could you try it, please? (https://builds.jabref.org/main/)

[2021-06-02 05:51] jmmelko commented on #7773
still there in true latest:

JabRef 5.3--2021-05-31--edb8df5
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

(btw, why is the official jabref page pointing to fosshub which hosts outdated builds instead of builds.jabref.org ?)

[2021-06-02 05:52] jmmelko commented on #7785
fixed in 5.3, closing

(btw, why is the official jabref page pointing to fosshub which hosts outdated builds instead of builds.jabref.org ?)

[2021-06-02 05:52] #7785 closed

[2021-06-02 05:52] jmmelko commented on #7774
stil there in latest:

JabRef 5.3--2021-05-31--edb8df5
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

(btw, why is the official jabref page pointing to fosshub which hosts outdated builds instead of builds.jabref.org ?)

[2021-06-02 05:53] jmmelko commented on #7756
bug still there in latest:

JabRef 5.3--2021-05-31--edb8df5
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

[2021-06-02 06:46] tobiasdiez commented on #7786
Thanks for your suggestion. Can you please elaborate on why you want to import duplicate entries? If you later want to merge them with an existing entry, this is already possible in the import dialog: you have a small icon next to the duplicated item that lets you manage the import / merge strategy for this entry.

[2021-06-02 06:48] tobiasdiez commented on #7773
On fosshub you find the latest stable builds, on build.jabref.org the latest development builds.

[2021-06-02 08:03] kimim commented on #7771
when JabRef is active:
![active](https://user-images.githubusercontent.com/5523431/120446223-ec8e9500-c3bb-11eb-9a55-e403eba8cc43.PNG)

when JabRef is inactive:
![inactive](https://user-images.githubusercontent.com/5523431/120446241-f1534900-c3bb-11eb-88a2-9cd5e6a16d38.PNG)

[2021-06-03 22:38] #7737 closed

[2021-06-04 06:18] Siedlerchr commented on #7737
@CodeSJS  Thanks to @Noname690 this issue is now fixed in the latest development build http://builds.jabref.org/main

[2021-06-04 17:53] Siedlerchr commented on #7762
@LyzardKing  you worked on this feature for snaps, if I remember corrreclty, any idea?

[2021-06-04 18:44] Siedlerchr commented on #7582
I took a look at the apollo stuff and as usual it's the f*cking module system which throws errors again:
I just added:
    implementation("com.apollographql.apollo:apollo-runtime:2.5.8")

[code]

[2021-06-04 21:24] tobiasdiez commented on #7582
Did you report this already?

[2021-06-05 09:16] tobiasdiez commented on #7582
Also, we don't need the normalized cache (at least not now), so using the exclude mechanism should work. Something like
[code]

[2021-06-05 10:19] Siedlerchr commented on #7582
I had to exclue api as well:
  implementation ("com.apollographql.apollo:apollo-runtime:2.5.8") {
    exclude module: "apollo-normalized-cache"
    exclude module: "apollo-api"

   }

From the docs it seems like runtime should be sufficient. At least it compiles now.

[2021-06-05 10:25] Siedlerchr commented on #7582
I will look into the code gen stuff later

[2021-06-05 10:53] btut commented on #7267
Hi,
`The reason it's a concern is because currently the gen process can be interrupted without warning`
Why would that be a problem? If the user wants to interrupt, why not interrupt? The question is if there is a need to revert all the entries that were assigned a new key to the old key in case of an interruption.

[2021-06-05 10:58] tobiasdiez commented on #7582
Nice, please also coordinate with @Ali96kz who already did good work towards the integration in https://github.com/JabRef/jabref/pull/7796.

[2021-06-05 12:02] tp-1000 commented on #7267
@btut
I don't disagree, I think the process should be stopped if the user intends to stop it, but _**only**_ if they intend to stop it.

It's been awhile since I've checked the issue out but what I'm remembering was starting the process and continuing to work (which I think was just clicking on entries to examine). This would stop the gen process and without notification. If more clarification wou

[2021-06-05 12:17] btut commented on #7267
`but only if they intend to stop it`
so you suggest something like a confirmation dialogue on cancel?

`This would stop the gen process and without notification`
I see. I'd have to check that. The thing is I don't have a library large enough to test this. There is no way I'm fast enough to hit that cancel button before the operation is done... Do you know of any huge bib files available for downlo

[2021-06-05 12:32] tp-1000 commented on #7267
I think at very lease a dialog asking if they want to stop the process. I don't know all conditions that could interrupt and it may make more sense to just block with a dialog? Again, as you found out its pretty quick if you aren't doing very many... but then the question became if its so quick the blocking dialog will not be seen, why bother having it display the progress.

There are some script

[2021-06-05 14:16] k3KAW8Pnf7mkmdSMPHz27 commented on #7267
Yup. The implementation slows down significantly based on the number of entries in the library and the amount of duplicates of the particular key. Is this a problem that needs fixing?

[2021-06-05 15:32] btut commented on #7267
`Yup. The implementation slows down significantly based on the number of entries in the library and the amount of duplicates of the particular key. Is this a problem that needs fixing?`
I did not yet experience any performance issues since I never worked with huge libraries. Will try out in the next days.
Didn't yet check the implementation of the key-generator either, but this sounds like the gen

[2021-06-05 16:08] Siedlerchr commented on #7582
I am having trouble with the mutation query, I never worked with graphql before, but in the playground it seems to work:

https://www.graphql-code-generator.com/

<img width="1686" alt="grafik" src="https://user-images.githubusercontent.com/320228/120897786-295ec400-c628-11eb-8f3e-a1a12f00d0a6.png">

I also tried to run it locally using the java codegen plugin on the schema:
[code]

local stack tr

[2021-06-05 16:25] CodeSJS commented on #7737
Thanks!  I downloaded the latest build.  Jabref now imports every ris or bib file I saved as problem-causing.

Regards,
    Sherwin

From: Christoph ***@***.***>
Sent: Friday, June 4, 2021 2:18 AM
To: JabRef/jabref ***@***.***>
Cc: Singer, Sherwin ***@***.***>; Mention ***@***.***>
Subject: Re: [JabRef/jabref] import hangs for ris files with "ER - " field, also other bib files common from journal

[2021-06-05 16:37] Siedlerchr commented on #7582
Ah fuck this shit, would have been to easy with the api exclusion. and the generated code is also somehow useless

[2021-06-05 16:58] tobiasdiez commented on #7582
Why did you needed to exclude the api package? If it was for an subdependency, you can try to add a separate `implementation(....api)` with its own exclude.

[2021-06-05 17:17] Siedlerchr commented on #7582
another split dependency...

[2021-06-05 17:20] Domquatzo commented on #7773
Is this issue still open? I am new to the project and would like to contribute. What are some classes one should look into?

[2021-06-05 17:26] tobiasdiez commented on #7582
OK, then using a finer exclude pattern should work indeed.
[code]

[2021-06-05 17:29] Ali96kz commented on #7582
@tobiasdiez @Siedlerchr  I will complete these issue, I just need help with adding dependency on apollographql

[2021-06-05 18:08] Ali96kz commented on #7582
Still failed to build project :(

[2021-06-05 18:25] Siedlerchr commented on #7582
@tobiasdiez  The problem is already in the runtime dependency.

error: module java.xml.bind reads package com.apollographql.apollo from both apollo.api.jvm and apollo.runtime
error: module java.xml.bind reads package com.apollographql.apollo.exception from both apollo.api.jvm and apollo.runtime

Gradle shows the following dependency graph (./gradlew dependencies)
So I guess it should be sufficient

[2021-06-05 18:42] tobiasdiez commented on #7582
@Siedlerchr https://github.com/JabRef/jabref/pull/7796#issuecomment-855279605

I don't have a dev pc available right now so I cannot add the jar file manually. But I think this should work.

The apollo-runtime is really necessary, see https://github.com/apollographql/apollo-android/tree/main/apollo-runtime/src/main/java/com/apollographql/apollo

[2021-06-06 14:17] mahmutelmas06 commented on #7786
I have the same issiue. I cannot import PDF files at once. Drag and Drop doenst work.. How to add multiple PDF files to library ?

[2021-06-06 17:58] tobiasdiez commented on #7618
Thanks again. I thought a bit more about the per-field vs per-entry versioning system. Disadvantages I see with per-field are as follows:
- Higher data volume: At the begin of the sync session, you need to query the server for the version of each field. That's almost the same payload as just querying the complete library. For a relatively normal database of 10k entries, you will need to query 100k

[2021-06-06 23:40] koppor commented on #7383
Would it be OK for you to submit pull requests to https://github.com/JabRef/jabref/blob/main/docs/advanced-reading/ui-recommendations.md? Would you feel more comfortable in the WYSIWG editing of GitBook?

[2021-06-07 05:31] koppor commented on #160
tex stackexchange question: https://tex.stackexchange.com/q/6393/9075

[2021-06-07 08:52] koobs commented on #7383
I'm happy to do both, have just been overwhelmed the past few months. Is there a long term desire for the project to provide a front end to ease documentation contribution? Happy to follow whatever the project wants to do in that regard

[2021-06-07 08:56] koobs commented on #7383
Concretely what I need to do is take my set of notes,including those here, that describe concrete implementation changes and reverse derive the guidelines/patterns, then organise that in an easy to consume and structured set.

What might be an idea is to close this issue as "done" modulo the UI/UX changes, and treat any future improvements in and as a separate logical issue/pr

[2021-06-07 13:19] JoKalliauer opened #7803 "URL/Eprint/DOI - Dropdown in main table not working"
[code]

- [ x ] I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. open [Bug.bib.txt](https://github.com/JabRef/jabref/files/6609139/Bug.bib.txt)
2. click on the linked identifier of the article
3. in about 8 out of 9 cases it opens the URL(wrong), otherwise it opens the dropdown-menu (right)

However the dr

[2021-06-07 14:06] mlep commented on #7803
I can confirm this bug: a left click opens the URL.
The drop-down menu is displayed for a very short time. This does not allow for selecting one of the identifiers.

JabRef 5.3--2021-06-07--62969da
Linux 4.19.0-16-amd64 amd64
Java 16.0.1
JavaFX 16+8

[2021-06-07 15:22] m-mauersberger commented on #7159
I could still reproduce the issue with

JabRef 5.3--2021-06-07--62969da
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

But now it appears only from the second new entry in subgroup S1 (first new entry works fine).

[2021-06-07 15:35] k3KAW8Pnf7mkmdSMPHz27 commented on #7267
@btut it checks all keys on each entry and each collision. I think `occurenceCount` isn't used anymore and the method can be made slightly quicker (and more readable) by using `database.getEntryByKey` instead. You can use a hash set instead of `database.getEntryByKey` but I think you'd get a slight performance decrease because we don't expect many citation key collisions.

Additionally, it seems t

[2021-06-07 16:52] btut commented on #7267
`Additionally, it seems that we are assuming that any entry can be changed at any time during the key generation, which is why it is iterating through all bibentries. Creating a high-performing alternative while avoiding concurrency issues is probably not worth your time, even if we are not doing XP.`
Ah yes, that makes lots of sense! Let's leave it as-is then.

[2021-06-07 17:25] antalk2 opened #7805 "Openoffice / LIbreoffice bibliography order"
JabRef version JabRef 5.3--2021-05-24--59fb185

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

- Create Smith2x.bib with two entries with (author year title)
  - Smith 2000 Alpha
  - Smith 2000 Beta
- Start a new document
- Cite each above, individually, in reverse order.
- Choose Default Author-year style
- Refresh (g

[2021-06-07 19:09] koppor commented on #7618
(Notes from DevCall 2021-06-07)

TLDR: Version bibtex entry, make merge server-side in one transaction --> offer options to user

# Where to store version?

- store in the entry
  - URL or URI? (clickable or not)
  - `jabref: https://jabref.org/entries/koppor-shared-bib/entry-1-clientid5-v1`
    - https://www.w3.org/Provider/Style/URI  (Cool URIs don't change)
  - what if user edits entry manually

[2021-06-07 19:33] koppor opened #7806 "Add ChipView for web search interface"
The issue is detailed at https://github.com/koppor/jabref/issues/341. Please follow that link.

[2021-06-07 19:33] koppor commented on #7411
Add simple lucene query validation. Add cool follow-up at https://github.com/JabRef/jabref/issues/7806.

[2021-06-07 20:37] tautomer commented on #7762
Not sure if is' appropriate to reply here, but I experience similar problems on Windows.
The latest nightly build has the same problem.

[code]

`Open file` actually opens My Documents, and `Open folder` results in a "File not found" error.

![image](https://user-images.githubusercontent.com/15900605/121084206-5dfc8800-c7ae-11eb-84cd-bde9c635056f.png)

![image](https://user-images.githubuserconten

[2021-06-07 21:18] Abhay2412 commented on #7771
I would like to work on this issue if it's fine

[2021-06-08 05:49] protist commented on #6348
To add a bit more detail, any manual changes to column widths is not saved between sessions. To replicate:

1. Change column width
2. Save and quit
3. Launch JabRef again

Expected behaviour: columns should have the same width as previously defined.
Observed behaviour: columns reset to the default width.

This is particular annoying for fields such as "Year", which barely require any width, but ta

[2021-06-08 06:58] ilippert commented on #5857
I still think this is a valuable feature :)

[2021-06-08 07:01] ilippert commented on #7057
I suggest to consider the issue here in relation to the issue/feature request proposed at https://github.com/JabRef/jabref/issues/6404

[2021-06-08 07:01] ilippert commented on #6404
please let us keep this open

[2021-06-08 07:04] ilippert commented on #6448
still a good idea - and maybe linked to conversation at https://github.com/JabRef/jabref/issues/5461

[2021-06-08 11:26] funnym0nk3y commented on #5872
This issue is still present in the latest nightly.

[2021-06-08 22:00] koppor commented on #7277
In the current version, this query returns results.

![grafik](https://user-images.githubusercontent.com/1366654/121263182-8d49ec80-c8b5-11eb-936e-f8e622f09d08.png)

![grafik](https://user-images.githubusercontent.com/1366654/121263197-920ea080-c8b5-11eb-81f7-5e4010fa5983.png)

Nevertheless, we added an initial query syntax validation at https://github.com/JabRef/jabref/pull/7809.

[2021-06-09 05:37] koppor commented on #7575
@WolfgangFahl We will use [Lucene Syntax](https://lucene.apache.org/core/2_9_4/queryparsersyntax.html) in our next release. You can have a sneak look at https://builds.jabref.org/pull/7809/merge/.

In your concrete case, the query should be `doi:"10.1007/s11192-020-03391-y"`, because fields and content are separated by `:`. Moreover, `-` is a Boolean not in Lucence, thus we need to put quotes arou

[2021-06-09 07:03] ilippert commented on #6188
Another consideration for performance: in case JabRef can detect whether it is in active use (e.g. some form of interaction within the last few seconds), then indexing could be stopped, so that indexing only runs when JabRef is not currently in use.

[2021-06-09 07:07] ilippert commented on #7277
confirmed with
JabRef 5.3--2021-05-31--edb8df5
Linux 5.12.8-300.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

[2021-06-09 08:52] LyzardKing commented on #7762
I can't replicate this issue with the latest snap on ubuntu.
Could there be something wrong with the path set in the options folder?

[2021-06-09 09:29] lpilz commented on #7762
@LyzardKing I double checked the paths and they are correct. Even the path shown in the error message is the right one.

@tautomer I'm not sure this is the same problem. It seems, that for me JabRef finds the files (it shows the correct annotations in the `File annotations` tab), however it just can't open them.

Additionally using `Open Folder` via the context menu just fails quietly for me.

[2021-06-09 15:27] AEgit commented on #4682
JabRef 5.3--2021-06-08--9d1c448
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

Please re-open this ticket, since there are two issues I have encountered so far:

(1) Note, that the new "Add group" button adds groups at the bottom of the group panel NOT below a selected group. So, if your database contains lots of groups (say thousands like in my case) and I want to "Add a group" at a specific plac

[2021-06-09 15:41] AEgit commented on #5475
JabRef 5.3--2021-06-08--9d1c448
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

I think the issue is still present in the current dev version.

[2021-06-09 15:43] AEgit commented on #5461
The issue persists in:

JabRef 5.3--2021-06-08--9d1c448
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

[2021-06-09 15:56] mlep commented on #4682
I agree with @AEgit.

About

Is it possible to have no group selected?
From what I have on the screen, there is always one group selected (at least the group "All entries" is selected).

Some other issues:
- since all user-created groups are subgroups of "all entries", when you had a group, it is always a subgroup of something ("All entries", at least). So, "Add group" should be renamed "Add subgr

[2021-06-09 18:09] calixtus commented on #4682
Thanks for the suggestions. I'll try to sum the remaining issues up:
[ ] New group should be added below currently selected group, if no group is selected, add new group at the end
[ ] Add keyboard shortcut to delete group
[ ] Reword "Add group" to "Add subgroup"
[ ] Distinguish grey of a disabled button from the grey of the not highlighted button.

Did I miss something?
About the wording this is

[2021-06-09 18:45] mlep commented on #4682
@calixtus I could not get "the grey of a disabled button". Unexpectedly, the button is grey while a group is selected: For one of my files, the button is blue with the"all entries" group is collapsed, but becomes grey when this group is expended.

[2021-06-09 19:16] mlep commented on #4682
I am now able to make reproducible the issue with the grey button:
1) open the file https://github.com/JabRef/jabref/blob/main/src/test/resources/testbib/jabref-authors.bib
2) click on "Add group", enter a random name, and click OK
    At this stage the "Add group" button is blue
3) click on "Add group", enter a random name, and click OK
    The  "Add group" button becomes grey

It occurs when the

[2021-06-09 19:56] tautomer commented on #7762
Indeed, this isn't the same problem. [I just found the issue that really matches my problem.](https://github.com/JabRef/jabref/issues/7259)

Sorry about this. I deleted my original comment just in case it will mislead anyone else.

[2021-06-09 20:13] tgkolda commented on #5461
Yes, the issue is persisting for me too, and I would very much like to see it resolved. For instance, the Title field does not wrap, but the abstract field does even though the "source" does not have line breaks. I'm using the latest official release...

JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

[2021-06-09 20:36] koppor commented on #5475
In 2021, I am fan of [tinylog](https://tinylog.org/v2/) in contrast to 2017, where I tried to convince people to use jcabi: https://github.com/JabRef/jabref/pull/3015

[2021-06-09 21:21] tobiasdiez commented on #4682
While technically true, I think, it better to leave the button text at "Add group" if "All entries" is selected. What about "Add group" if no group or "All entries" is selected; but "Add subgroup" if a proper group is selected?

[2021-06-10 08:13] protist opened #7810 "journalList.mv files collect in /tmp"
JabRef version
[code]
on Arch Linux

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. Launch JabRef
2. Monitor `/tmp`
3. Observe the creation of directories and new `journalList.mv` files, such as `/tmp/journal10325059816431707548/journalList.mv`.

Over the course of two days, I have

[2021-06-10 21:14] #7267 closed

[2021-06-10 21:30] koppor commented on #6294
This somehow refs https://github.com/koppor/jabref/issues/85, where I described a way to avoid crossref (which is contradicting the proposal here)

[2021-06-10 21:33] koppor commented on #7057
Refs https://github.com/JabRef/jabref/issues/6294

[2021-06-10 21:34] koppor commented on #7057
IT terms:

- cascading delete versus non-cascading delete
- composition versus association

[2021-06-10 23:31] koppor commented on #7810
Should have been fixed in https://github.com/JabRef/jabref/pull/7811. In a few days, one can try the current development version from https://builds.jabref.org/main/

Currently blocked by signing issues - https://github.com/JabRef/jabref/runs/2798330514?check_suite_focus=true

[2021-06-11 02:39] protist commented on #7810
Thanks @koppor! I'm building from source, so I've just installed it now. It seems to work perfectly! Good idea to rename the directories. It took a little bit of investigating to work out what was producing the files previously. They are now deleted after quitting as expected. Thank you for the quick fix!

[2021-06-12 19:30] ilippert commented on #5484
Still needed! Also note that we might want to have a conversation about crossref user experience, given related issues such as https://github.com/JabRef/jabref/issues/7057

[2021-06-12 19:33] ilippert commented on #6294
Thank you for noting this friction!

If of any use, I would be happy to organise some form of structured conversation on use cases or use philosophies of crossref. Should we consider a discourse/forum conversation about this?

[2021-06-13 11:09] tobiasdiez commented on #7618
I finally found a bit more time to think about this.

Olly had a very good point during the DevCall pointing out that users can also edit entries outside of JabRef, and this needs be picked up by JabRef before it syncs (so the scenario is: user closes jabref > edits bib file manually > starts jabref). Regardless of where we save the local version number (in the entry or in a separate file next to

[2021-06-13 19:59] Siedlerchr commented on #7786
Thanks to @brapana  this issue is now resolved int he latest main!

[2021-06-13 19:59] #7786 closed

[2021-06-13 20:01] Siedlerchr commented on #7803
I can confirm this issue also on mac

[2021-06-14 08:40] AEgit commented on #4237
Here again my request to address this problem (missing floating mode). As long, as this issue is not solved, I cannot switch from JabRef 3.8.2 to JabRef 5. Since JabFox requires JabRef 5, this is quite unfortunate and makes working with JabRef much slower for me.

As far as I understand the links mentioned here can help in solving this problem:
https://github.com/JabRef/jabref/issues/4237#issuecom

[2021-06-15 07:08] calixtus commented on #7618
Does this mean we need keep two files in the future for one library - a library file and a hash file? This would be probably the worst solution imho.

[2021-06-15 07:22] tobiasdiez commented on #7618
One could also store the hash in the entry itself.

But why do you think a separate file is not a good solution? There are certain advantages of storing this externally, like not polluting the entry with sync-related data (makes it easier to send the entry to other people) and users cannot accidentally delete/modify the sync-data making everything more robust. On the other hand, it shouldn't be to

[2021-06-15 11:40] calixtus commented on #7618
My concern was regarding the portability of the libraries across different PCs. Would you have to share the hash files then too?

[2021-06-15 11:43] #7751 closed

[2021-06-15 12:11] tobiasdiez commented on #7618
No, the user doesn't need to copy these hash files and they are solely managed by JabRef.
If the hash file is not existing, then JabRef downloads the most recent version of the entries from the database, and compares them with the local entries. Any changes are treated as conflicts and need to be handled manually by the user (since we don't know which version is older/newer). And then the hash fil

[2021-06-15 15:38] calixtus commented on #7618
Yes, that was more or less what I meant. 😅
But if you say the performance disadvantage is negligible if not sharing the hash file as well, I guess it's ok.

[2021-06-15 19:24] #7147 closed

[2021-06-16 00:18] gdrosos commented on #7771
Hi @Abhay2412 , I would like to know if you're still working on this before I take a look into it.
Thanks in advance!

[2021-06-16 09:19] jorgman1 opened #7826 "Add posibility to just copy the DOI"
**Is your suggestion for improvement related to a problem? Please describe.**
I'm currently writing a review for a paper, where I usually provide DOIs to facilitate authors retrieving the references. To copy the DOI I need to open the respective entry, navigate to the correct tab and then copy it.

**Describe the solution you'd like**
It would be helpful to include a further entry in the copy menu

[2021-06-17 21:57] #7773 closed

[2021-06-18 09:03] m-mauersberger opened #7830 "Microsoft Office XML 2007 export: Inventor of patent not properly formatted"
JabRef 5.3--2021-06-17--38d7a30
Linux 5.3.18-lp152.78-default amd64
Java 16.0.1
JavaFX 16+8
MS Word 2016

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists
- [ ] Does this problem persist with other versions of MS Word?

Patents are not properly exported to MS Office 2007 XML when using Word 2016. Following little changes

[2021-06-19 13:59] ilippert opened #7833 "search for x, then generate/add new entry, search filter is lost"
JabRef 5.3--2021-06-08--9d1c448
Linux 5.12.9-300.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

*Use case*
I search for an entry with author name X.
Then I find I do not have the desired publication in the database.
Therefore I generate a new entry.
At this point the search/filter is removed.

*what should be different?*
I would not expect the search filter to be cleared.

[2021-06-19 17:37] gdrosos commented on #7805
Hello, I would like to work on this issue. Any pointers would be appreciated.
Thanks in advance.

[2021-06-19 19:23] #7094 closed

[2021-06-20 10:49] #7830 closed

[2021-06-20 11:06] ilippert commented on #6559
JabRef 5.3--2021-06-17--38d7a30
Linux 5.12.11-300.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

meanwhile slightly updated system - no significant change.

I often seem to observe, that jabref hangs when I search for something and then go for entry editor tab that includes a local file field.

[2021-06-20 12:10] antalk2 commented on #7805
Uhh.

- I put this bug report here as a reminder.
The main reason for not solving it right away is that the code is in transition.
I reorganized the part handling bibliography and citation mark generation [here](https://github.com/koppor/jabref/pull/496).
Due to the amount of changes had to break it into smaller parts for review: https://github.com/JabRef/jabref/pulls?q=is%3Apr+is%3Aopen+oobranch

[2021-06-21 12:28] Siedlerchr commented on #7830
Thanks for the report! For entrytype = patent, the author is now export as inventor.
Please try the latest version https://builds.jabref.org/main/

[2021-06-21 18:39] koppor commented on #4682
- Emphasized: ![grafik](https://user-images.githubusercontent.com/1366654/122810825-1575bc00-d2d0-11eb-8c77-37cae8f0238f.png)
- ~~After often used:~~ ![grafik](https://user-images.githubusercontent.com/1366654/122810925-31795d80-d2d0-11eb-9c3f-427cca5cb084.png)

Open discussion: How to introduce first-time users to JabRef and how to educate them. We need to interview users (user studies, ...) to r

[2021-06-21 18:41] koppor commented on #4682
Add highlighting of the button - similar to search (mouse over - on whole button)

![grafik](https://user-images.githubusercontent.com/1366654/122811579-f7f52200-d2d0-11eb-87ba-747221a103ef.png)

Similar to "add group" button

[2021-06-21 20:25] koppor commented on #7277
![grafik](https://user-images.githubusercontent.com/1366654/122823379-94262580-d2df-11eb-99d0-614e716b5798.png)

[2021-06-21 20:48] #7411 closed

[2021-06-22 08:20] ilippert commented on #7277
I like the wording "Invalid query element 'X". I am not sure non-techy users get the "at position 12" when they have a longer string.

Much more tricky perhaps: could the red background be restricted to the invalid query element?

[2021-06-22 15:58] mlep opened #7844 "Crowdin: confusion in translation percentage. Old/new path."
Following https://github.com/JabRef/jabref/pull/7843, I went to Crowdin.
It indicated 96% completion for French.
When clicking on the flag, it was either 0% or 100% depending on the directory structure.
See by yourself:
![ksnip_20210622-175513](https://user-images.githubusercontent.com/6931104/122958341-0d2a8900-d383-11eb-9d00-3224372eba9d.png)

For other languages such as simplified Chinese, perc

[2021-06-22 16:22] Siedlerchr commented on #7844
Hi yes, we noticed that as well. This seems like it's an artifact of the branch switching from master to main. We just turned on the sync yesterday and hoped it will normalize. I will see if I can delete the master without losing any data

[2021-06-23 11:38] mlep commented on #7844
Indeed, things are back to normal!

[2021-06-23 11:38] #7844 closed

[2021-06-24 16:42] JoKalliauer opened #7848 "change `WM_CLASS` from `org.jabref.gui.JabRefMain` to `jabref`"
**Is your suggestion for improvement related to a problem?**
If you filename your `*.desktop`-file (on linux) different than the `WM_CLASS` then you have two problems
- first you can't add them to favourites via right-click
- secondly jabref is twice in the menu, one pinned one, and one for the opened instances

![Screenshot from 2021-06-24 18-19-10](https://user-images.githubusercontent.com/15687

[2021-06-24 18:48] Siedlerchr commented on #7848
Thanks for the info. I checked JabRef's code and the only case where it's used is in the desktop-template file:
https://github.com/JabRef/jabref/blob/main/buildres/linux/JabRef.desktop
So I guess it should be sufficient to change it in this file as it gets copied over/is the basis.

If you want to test it locally, you could do a `./gradlew jpackage` to generate the installer/executable for your sy

[2021-06-25 00:36] ahmedelhori commented on #5867
The issue is still there on arch i3wm

[2021-06-27 11:25] koppor commented on #5362
Still two tasks opened to get this done.

[2021-06-27 11:28] koppor commented on #6856
This refs https://github.com/JabRef/jabref/issues/6191

[2021-06-27 19:22] #3148 closed

[2021-06-27 20:51] koppor commented on #7526
@wujastyk May I ask whether in the jabref event log. Are there any other exceptions there? If not, may I ask whether you clicked on "Customized preview style" or at another style?

![grafik](https://user-images.githubusercontent.com/1366654/123559061-1a3be380-d79a-11eb-8624-5133d3076a17.png)

[2021-06-27 20:53] koppor commented on #7526
@wujastyk In any case, could you open a separate issue for that? We are working on a fix for the "Edit" functionality, mark that part as fixed, but do not want to lose your input.

[2021-06-27 21:21] koppor commented on #4183
@tmrd993 May I ask for an update? Is there some chance to get this into JabRef?

[2021-06-27 21:25] koppor commented on #4183
For the implementation, please also investigate #550. That request asks that JabRef also recognizes `10.1016/j.jrmge.2015.08.004` as DOI and `978-3-86680-192-9` as ISBN.

This issue describes that the lower part of the "new entry" dialog should be duplicated to a toolbar **submenu** only for an id:

![grafik](https://user-images.githubusercontent.com/1366654/123559816-ae0fae80-d79e-11eb-928e-f0138

[2021-06-27 21:25] koppor commented on #550
The functionality described by Tobias is https://github.com/JabRef/jabref/issues/4183.

[2021-06-27 21:26] koppor commented on #550
Current state of the dialog:

![grafik](https://user-images.githubusercontent.com/1366654/123559816-ae0fae80-d79e-11eb-928e-f0138be6f6bd.png)

[2021-06-27 21:37] koppor commented on #7575
This report is relates to https://github.com/JabRef/jabref/issues/550 in the way that #550 asks for the "new entry" dialog and here the feature is asked for the web search.

[2021-06-27 22:29] #7526 closed

[2021-06-27 23:11] wujastyk commented on #7526
JabRef 5.3--2021-06-22--b6697fe
Linux 5.4.0-77-generic amd64
Java 16.0.1
JavaFX 16+8

The error was the same; the event log was empty; no, I didn't use Customized preview style (only):

![image](https://user-images.githubusercontent.com/762246/123562230-9e767280-d76a-11eb-85a6-84fab79b3535.png)

[2021-06-28 06:51] WolfgangFahl commented on #7575
My own tool http://ptp.bitplan.com/ tries to analyze the input of the query and "guess" what the search looks for. I didn't implement a DOI mode yet but intend to do so. When I am at it i hope to share the ideas and code for the solution.

[2021-06-28 11:28] dirkziegenbalg opened #7853 "Icons in Entry Edit Window not visible in Dark Mode"
JabRef version 5.3--2021-06-27--aa60dd6 on Windows 10

I have tested the latest development version from http://builds.jabref.org/main and the problem persists

The icons in the entry edit window are frequently too dark to be visible in dark mode. A bright color would be better suited

Steps to reproduce the behavior:
1. change to dark mode
2. edit an entry
3. view icons

<img width="1625" alt="Sc

[2021-06-28 12:01] mlep opened #7854 "JabRef 5.3: Missing translations"
JabRef 5.3--2021-06-27--aa60dd6
Linux 4.19.0-17-amd64 amd64
Java 16.0.1
JavaFX 16+8

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

This issue aims at reporting the strings that cannot be translated in JabRef 5.3 alpha (i.e. before release).
Please, cross the box when solved.

- [x] `Enable field formatters` (in `Quali

[2021-06-28 13:29] btut commented on #7810
Sorry, I tried to reproduce with the current main branch but can't. I was probably working with outdated code when I reported the issue still being current.

[2021-06-28 13:30] #7810 closed

[2021-06-28 13:50] #4652 closed

[2021-06-28 15:41] #7854 closed

[2021-06-28 20:17] k3KAW8Pnf7mkmdSMPHz27 commented on #7526
@wujastyk I think it relates to how the `codeArea` is shown/updated. Commenting out https://github.com/JabRef/jabref/blob/9fe76174fcb41ab62dab984ff42e1790d11f44c9/src/main/java/org/jabref/gui/preferences/preview/PreviewTab.java#L155 either makes it harder to trigger or removes it.

I find it easiest to trigger switching between customized preview style quickly using the arrow keys.

If you haven't

[2021-06-28 20:30] Siedlerchr commented on #7848
@JoKalliauer  Can you please test this version? https://builds.jabref.org/pull/7858/merge/

[2021-06-28 20:59] JoKalliauer commented on #7848
I tried:

[code]

and the problem persist

[code]

![Screenshot from 2021-06-28 22-58-07](https://user-images.githubusercontent.com/15687581/123703206-5cc9f280-d864-11eb-9a6f-ca30ecb7d56c.png)

[2021-06-28 21:43] wujastyk commented on #7526
will do.

[2021-06-28 21:48] wujastyk opened #7860 "Selecting an Entry preview style triggers an Uncaught Exception"
JabRef 5.3--2021-06-28--9fe7617
Linux 5.4.0-77-generic amd64
Java 16.0.1
JavaFX 16+8

Following on from #7652 :

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. Select options/preferences/Entry preview
2. click one of the selected styles in the right window
3. Get an Uncaught Exceptio

[2021-06-28 21:52] k3KAW8Pnf7mkmdSMPHz27 commented on #7860
Refs. https://github.com/JabRef/jabref/issues/7526#issuecomment-869237536

[2021-06-29 09:17] mlell opened #7861 "Cite author-only or year-only in LibreOffice integration"
**Is your suggestion for improvement related to a problem? Please describe.**
Because my boss and collaborators are used to Word and it's change-tracking features, I am also stuck with it. Nevertheless, I use JabRef for my citations (in an ODT document that is then converted to DOCX before sending it around). It works fairly well, but there is the problem that it does not suppport every use-case I

[2021-06-29 09:54] Siedlerchr commented on #7861
@antalk2  is currently restructuring and improving the code for the Libre Office citation feature, so maybe he has an idea if this could be possible

[2021-06-29 16:39] tmrd993 commented on #4183
I had stopped working on it because of finals, I'll get back on it if I find the time but I'm not claiming it or anything, if someone else wants to solve this feel free to.

[2021-06-29 19:41] betochf commented on #7806
Does someone still working on this, I would like to try it

[2021-06-29 21:28] antalk2 commented on #7861
Background:

- "(Doe, 2003)" is a special case of "(Doe, 2003a,b; Jones 2004, p. 34)"
   In the code: a group of consecutive  citations (those sharing a pair of parentheses): CitationGroup
   Reference to a source + pageInfo : Citation

   When citation marks (the text) are created, within a CitationGroup citations are
   - sorted (either Year-Author-Title or Author-Year-Title)
   - joined (Doe, 2

[2021-06-30 19:36] MartinX3 opened #7863 "Release of 5.3"
**Is your suggestion for improvement related to a problem? Please describe.**
Arch linux moved to Java 16, which means, that JabRef 5.2 can't be build anymore (forces java 15).

**Describe the solution you'd like**
Tagging a 5.3 release we can build in our AUR.

**Additional context**
N/A

[2021-06-30 20:39] Siedlerchr commented on #7863
Hi, our development build already supports Java 16. And we will release the 5.3 soon.

[2021-07-01 01:25] wujastyk opened #7864 "Exception when pasting an entry with a publication date-range of the form 1910/1917"
JabRef version:

JabRef 5.3--2021-06-28--9fe7617
Linux 5.4.0-77-generic amd64
Java 16.0.1
JavaFX 16+8

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:

1. Created the following entry in one database:
[code]

2. Copied it (right click, copy)
3. Moved to the other database window
4. Right

[2021-07-01 13:09] mlell commented on #7861
Thank you so much for investing so much thought in this.

Remarks to some of your questions:

## Author-only/year-only and numeric styles

Maybe it helps to think about use-cases. One would be a text like

  How would this read in numeric style? "`[Doe and Smith]` pointed out ([`1`])".
So in that case author-only stays author-only but year-only becomes the citation index.
Disadvantage: That introd

[2021-07-01 17:02] Siedlerchr commented on #7848
I looked a bit more into it, but except from changing the Startup_WM_CLASS it's not possible.
The class is automatically assigned by javafx.
https://github.com/cryptomator/cryptomator/issues/956#issuecomment-787061581

[2021-07-02 00:16] ramiromagno commented on #5526
A slightly stricter command seems to work even with the *About* window:

[code]

Note that:

[code]

gives

[code]

while

[code]

returns

[code]

The first option is what I use in the regex of the `title` field in the `for_window` command.

[2021-07-02 16:22] k3KAW8Pnf7mkmdSMPHz27 commented on #7864
What is the intended meaning of the date? In this case, JabRef tries to interpret it as `Month/Year`.

[2021-07-02 16:24] k3KAW8Pnf7mkmdSMPHz27 commented on #7864
Oops, I misread.

[2021-07-02 16:38] wujastyk commented on #7864
It's Biblatex syntax for a range of dates or the two dates of a two-volume MVbook.

[2021-07-02 16:40] k3KAW8Pnf7mkmdSMPHz27 commented on #7864
@wujastyk, yup, I just saw :P
[The biblatex package 2.3.7 (page 38)](https://ctan.math.illinois.edu/macros/latex/contrib/biblatex/doc/biblatex.pdf) has some more information, and

https://github.com/JabRef/jabref/blob/be41c40566f202e6c8e9426f623664c6f13b6910/src/main/java/org/jabref/model/entry/Date.java#L22-L34

is likely part of the issue

[2021-07-02 17:36] Siedlerchr commented on #7864
Refs #2753

[2021-07-02 19:24] funnym0nk3y opened #7869 "Exception when coming from standby"
JabRef 5.3--2021-05-23--932778e
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

When I turn my PC back on whith jabref open it throws to exceptions as listed below. It does not seem to break anything.

Steps to reproduce the behavior:
1. Put the PC to sleep
2. Trun it back

[2021-07-02 21:34] Siedlerchr commented on #7869
Thanks for the report, this is interesting, I wonder if any other Windows users can report the same.
As this seems to be an error coming from the JAVA, Could you elaborate a bit more on your desktop environment(number of displays, graphics card)?
It could make sense to report a bug to the java developers then if it can be reproduced easily

[2021-07-03 07:04] funnym0nk3y commented on #7869
I'm using two displays, one with 1680x1050 and one with 4k. They have different scaling percentages, I think one is 100% and one is 125%. Also I'm using an AMD RX570 graphics card with the latest drivers.

I forgot to mention that those errors cumulate. If I don't click them away, they cumulate with each sleep cycle.

[2021-07-04 05:55] WolfgangFahl opened #7870 "Stuck in creating library entry after Fetcher 'DOI' did not find an entry ..."
Steps to reproduce the behavior:

Im am trying to add a reference to
http://dx.doi.org/10.2777/1524
by creating a new article entry using the doi 10.2777/1524:
![grafik](https://user-images.githubusercontent.com/1336221/124374607-f64a3780-dc9c-11eb-9c68-6e5e615ba402.png)
![grafik](https://user-images.githubusercontent.com/1336221/124374596-dadf2c80-dc9c-11eb-96e0-8f89f1bfa935.png)

and get stuck h

[2021-07-04 12:28] AtrusRiven commented on #4681
Is there planning on working on this? I don't know what the devs are planning but it could be merged with #4682 and #4683 (and other issues related to the topic?).

[2021-07-04 12:29] AtrusRiven commented on #4682
Is there planning on working on this? I don't know what the devs are planning but it could be merged with #4681 and #4683 (and other issues related to the topic?).

[2021-07-04 12:29] AtrusRiven commented on #4683
Is there planning on working on this? I don't know what the devs are planning but it could be merged with #4681 and #4682 (and other issues related to the topic?).

[2021-07-04 17:25] ThiloteE opened #7871 "Show entries that are not within a group (within a separate group)"
JabRef 5.3--2021-07-02--eed637a
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

**The Problem:**

In a large database with many entries and many groups, it is hard to find entries that are duplicates and/or not attached to a specific project and or group. I am frustrated when i have to go through all the entries by hand as this takes a long time.
This becomes increasingly important if one deletes a

[2021-07-04 18:37] ThiloteE opened #7872 "Group-Popup sometimes pops, sometimes does not."
JabRef 5.3--2021-07-02--eed637a
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

The popup that shows the whole groupname sometimes shows up and sometimes does not.

The reason why i noticed this was, because i had a very long groupname but resizing the groupframe will move

[2021-07-04 19:01] koppor commented on #7870
Video of the issue: https://www.loom.com/share/1a7fb6101a8e4d499c4a39f2d9f11108

Solution approach:

Add buttons: "Add entry manually" and "Return to dialog" (Refs https://github.com/koppor/jabref/issues/149)

[2021-07-04 19:22] koppor opened #7874 ""Related Articles Tab" always returning "no recommendations for this entry""
[Mr. Dlib](https://mr-dlib.org/)'s API is currently down. This powers our "[Related Articles Tab](https://docs.jabref.org/advanced/entryeditor#related-articles-tab)". Thus, this tab always returns "no recommendations for this entry"

![grafik](https://user-images.githubusercontent.com/1366654/124397042-a3f52f00-dd0d-11eb-918c-374fd4c1fc32.png)

For the next release, this needs to be working again.

[2021-07-04 21:07] Siedlerchr commented on #7874
See also https://discourse.jabref.org/t/related-article-tab-not-working/2756/3

[2021-07-04 21:16] ThiloteE opened #7881 "Out of bounds Error after import and clicking on group. Btw. Event Log doesn't record."
JabRef 5.3--2021-07-02--eed637a
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

**Description of bug:**

Error message, Out of bound read.

**Steps to reproduce the behavior:**
1. Import my .ris file (that was created by citavi 6.
2. click select an entry in the main field,

[2021-07-04 21:31] ThiloteE opened #7882 "Uncaught exception occured in Thread. Illegal character [?] in URL imported from Citavi."
JabRef version 5.3--2021-07-02--eed637a on Windows 10 10.0 amd64; Java 16.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

![20210704 Fragezeichen Error](https://user-images.githubusercontent.com/73715071/124400033-cc862480-dd1f-11eb-9698-c81f1ce5fe71.jpg)

Steps to reproduce the behavior:
1. import .bib file origin

[2021-07-05 02:16] koobs commented on #7297
Not stale

[2021-07-05 09:09] Pimpodile opened #7884 "Error: Could not connect to the update server"
JabRef version  on
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

Still broken in
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

The internal update function is broken.

Steps to reproduce the behavior:
1. Click on "Check for updates

[2021-07-05 09:53] ThiloteE commented on #7872
I realized the video doesn't show and only plays the audio. Here the video compacted in a zip-file for you to download:

[2021-07-04 20-02-16-1 Group-Popup sometimes pops - sometimes does not.zip](https://github.com/JabRef/jabref/files/6763346/2021-07-04.20-02-16-1.Group-Popup.sometimes.pops.-.sometimes.does.not.zip)

[2021-07-05 16:21] Siedlerchr commented on #7884
Cannot reproduce this in the latest dev version. https://builds.jabref.org/pull/

[2021-07-05 16:33] Siedlerchr commented on #7882
Can you please check if the citavi export has the url listed with the prefix http or http:// ?
` //books.google.de/books?hl=`
From the error message it seems the prefix is missing and therefore JabRef does not recognize this as an url and tries to parse it as a local file path

[2021-07-05 16:58] koppor commented on #7884
Solution options:

1. Silently trust SSL certificate for this call
2. Silently trust all SSL certificates
3. Preference for "trust all SSL certificates"
4. Offer user a button to ignore SSL check for the current call
5. Offer user to install an SSL certificate into JabRef SSL key chain

[2021-07-05 17:22] koppor commented on #7884
@Pimpodile We found a work around - could you please test https://builds.jabref.org/pull/7890/merge/?

[2021-07-05 17:30] ThiloteE commented on #7882
This is the BibTex source that caused the error; You can see it is http**s** instead of http or http://

Here you can see the entry in citavi:

![20210704 Fragezeichen Error - Citavi entry](https://user-images.githubusercontent.com/73715071/124503729-70c2a680-ddc6-11eb-88ae-255d9828f9e1.jpg)

Don't worry, in Citavi, there also is a https:// in front, it just doesn't show in the UI outside of the e

[2021-07-05 17:39] Siedlerchr commented on #7882
Thanks, indeed, I can reproduce this partly. It is incorrectly assumed to be a file

[2021-07-05 20:45] koppor commented on #6837
We got a world-wide limit of 200 calls/day for IEEE. IEEE cannot provide unlimited API access for all JabRef users. We are working on a solution, but we cannot promise anything yet.

[2021-07-05 21:35] koppor commented on #6837
Please discuss on the rate limit at https://discourse.jabref.org/t/ieee-rate-limit/2222.

[2021-07-05 22:21] koppor commented on #4683
@AtrusRiven proposed three tabs at https://github.com/JabRef/jabref/issues/4681#issuecomment-737300403. Thus, that issue is the more recent one. I close this to keep the number of opend issues low.

[2021-07-05 22:21] #4683 closed

[2021-07-05 22:21] koppor commented on #4681
Screenshot for two groups available at @https://github.com/JabRef/jabref/issues/4683.

[2021-07-05 22:24] koppor commented on #4682
@AtrusRiven: @calixtus volunteered to work on this issue and handle the checklist presented at https://github.com/JabRef/jabref/issues/4682#issuecomment-857931172.

https://github.com/JabRef/jabref/issues/4681 is a rather large one and needs to be handled separately. It is not on our roadmap for this year, though. It could be possible that other volunteers work on it.

[2021-07-05 22:27] koppor commented on #7848
@Siedlerchr That means, we are waiting for someone filing a JavaFX issue and working on fixing that issue?

[2021-07-05 22:41] koppor commented on #7294
@vigmond We changed the search Syntax in version 5.2. Could you please retry your query with the new syntax? See https://docs.jabref.org/collect/import-using-online-bibliographic-database#search-syntax for details. I assume you would have liked to search for `au:"Example Author"`?

[2021-07-05 22:52] koppor commented on #7806
@betochf Just go ahead. I would propose to work on https://github.com/koppor/jabref/issues/341. Then, one can work on https://github.com/JabRef/jabref/issues/7423. WDYT?

[2021-07-05 22:57] koppor commented on #4096
This issue also includes to have a **global search window** showing the search results for **all** opened databases. One can see this in JabRef 3.8.2.

[2021-07-05 23:00] koppor commented on #7833
Refs https://github.com/JabRef/jabref/issues/4096

[2021-07-05 23:02] koppor commented on #7423
The global search is issue https://github.com/JabRef/jabref/issues/4096 (and not directly related to this issue - and thus can be handled separatetly).

[2021-07-06 07:20] Siedlerchr commented on #7863
@MartinX3  We just released version 5.3 which builds fine with jdk16. https://github.com/JabRef/jabref/releases/tag/v5.3

[2021-07-06 07:20] #7863 closed

[2021-07-06 08:35] ThiloteE opened #7891 "Entry Preview - Error: java.lang.IllegalArgumentException: Visible paragraphs' last index is [-1] but visibleParIndex was [0]"
JabRef 5.3--2021-07-05--482bed7
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Errormessage

Steps to reproduce the behavior:
1. Open Entry Preview
2. Choose "Modern Language Association 8th edition" (not sure if generic of only this one, i did not try others)
3. click on

[2021-07-06 08:52] Siedlerchr commented on #7891
Duplicate of #7860

[2021-07-06 08:52] #7891 closed

[2021-07-06 13:12] AtrusRiven commented on #4682
Thanks a lot, @koppor and @calixtus!

[2021-07-06 14:25] tmrd993 commented on #4183
I'm not sure I understand the requirements, is it supposed to be a Menu object inside the toolbar that opens up a text input for the id? Is there some graphical example of this?

This is how I pictured it:

![3zhPH](https://user-images.githubusercontent.com/47194464/124616777-a7f09080-de76-11eb-9772-fa8cd2bf5ede.png)

[2021-07-06 14:32] zenny commented on #6009
I am running JabRef 5.3 in VoidLinux and this issue emerged today:

[code]

[code]

[2021-07-06 17:58] betochf commented on #7870
Hey, would like to give this a try

[2021-07-06 19:00] vigmond commented on #7294
Thanks. It works with one caveat. Your documentation lists the boolean operators as lowercase (and,or) when in fact, only the uppercase versions work (AND,OR).

[2021-07-07 06:42] sankayop commented on #6824
issue is still relevant

[2021-07-07 07:35] leeqifeng commented on #4169
nice try

[2021-07-07 08:51] Pimpodile commented on #7884
Thanks, it works -  i get the "up to date" popup now!

[2021-07-07 08:51] #7884 closed

[2021-07-07 14:05] lpilz commented on #7762
@LyzardKing This issue still persists for me with the update to 5.3

[2021-07-07 15:25] LyzardKing commented on #7762
I wonder if it's an issue with the Arch snapd implementation..

[2021-07-07 19:20] betochf commented on #7870
I think I could solve this, it should be a customDialog instead of errorDialog?

[2021-07-07 19:22] betochf commented on #7806
@koppor, yeah that's great... will give them a look and see which one I can make

[2021-07-07 21:30] koppor commented on #1065
PR https://github.com/JabRef/jabref/pull/6035 partly introduces a WorldCat fetcher. However, it only implements `org.jabref.logic.importer.EntryBasedFetcher`, which is "Useful to complete an existing entry with fetched information", but not for a "real" search.

A `org.jabref.logic.importer.SearchBasedParserFetcher` or a `org.jabref.logic.importer.SearchBased` should be implemented. Including the

[2021-07-08 03:28] bear-jordan commented on #5867
Work around is good for me too. I am running Arch with KWin though.

[2021-07-08 09:12] homocomputeris opened #7893 "Creating a new library in JabRef 5.3 takes 6 seconds on macOS 11.4"
JabRef 5.3--2021-07-05--50c96a2
Mac OS X 11.4 x86_64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Simple basic operations (create a library, add an entry, etc.) take a lot of time.

Steps to reproduce the behavior:
1. Install JabRef or download a dev version
2. Open JabRef
3. Press 'New libra

[2021-07-08 09:43] Siedlerchr commented on #7893
Hi, just one question, do you have an M1 based Mac?

[2021-07-08 13:28] homocomputeris commented on #7893
Hi.
Yes, this video was recorded on M1. However, with 5.2 I experienced the same issues (very similar to https://github.com/JabRef/jabref/issues/7441) on Intel.
I'll check 5.3 again on Intel.

I do know that on Linux it runs smoothly.

[2021-07-08 13:34] Siedlerchr commented on #7893
We hope that we can soon switch to jdk17 and javafx17, which hopefully should bring performance improvements for m1 macs as well.
On my Intel macbook I see no issues
Refs https://github.com/JabRef/jabref/issues/7175

[2021-07-08 19:22] #7238 closed

[2021-07-08 22:13] homocomputeris commented on #7893
It's basically the same on Intel
JabRef 5.3--2021-07-05--50c96a2
Mac OS X 11.4 x86_64
Java 16.0.1
JavaFX 16+8

https://user-images.githubusercontent.com/7422433/124997112-a0c5b000-e039-11eb-8819-d089bc9d46db.mov

[2021-07-10 04:26] ilippert commented on #7288
still is a good idea

[2021-07-10 04:27] ilippert commented on #7304
still an annoying issue

[2021-07-10 11:06] koppor opened #12712 "Fix SLR issues"
https://discourse.jabref.org/t/systematic-review-tool-feedback/2791

[2021-07-10 19:21] #6517 closed

[2021-07-11 12:15] Siedlerchr commented on #7882
The problem is that the file field is in incorrect format. The file field parser splits it somehow into https+ the rest of the url

[2021-07-11 15:37] funnym0nk3y opened #7895 "Allow PDF auto renaming to preserve some words"
**Is your suggestion for improvement related to a problem? Please describe.**
In my workflow I download the PDFs and link them to the biblatex entry in Jabref. Then I start reading and marking them. Because I want to keep the original file I usually save the marked file as `original file name - marked.pdf` and link it to the same entry. Sometimes the filename pattern changes or I forgot to to rena

[2021-07-12 02:24] ilippert commented on #7313
maybe label this low priority? but still good idea.

[2021-07-12 08:55] jelasity opened #7896 "Every word of title is protected in imported records"
Hi, I realized that in entries imported using the web browser plugin, every word of the title is protected to preserve "title case" capitalization. This is incorrect behavior, because the capitalization of the title is defined by bibtex styles. Only specific words should to be protected such as proper names.

I was not able to find any possibility to switch this behavior off (eg in preferences, or

[2021-07-12 17:39] masa312f commented on #7313
Hi illippert,
Thank you for your support. I still want to have this option for linking/transferring files to the entry of interest.
I hope if I could have a knowledge to modify the software.....

[2021-07-12 19:37] k3KAW8Pnf7mkmdSMPHz27 commented on #7325
This is still open and I am not currently working on it. It ended up spilling needing further down the line changes and I forgot to write about that here,

[2021-07-13 08:51] rkouznetsov opened #7905 "Middle-button paste in X sometimes works but more often does not"
JabRef version
JabRef 5.3--2021-07-05--bed9ac9
Linux 5.4.0-73-generic amd64
Java 16.0.1
JavaFX 16+8

Installed from snap in ubuntu 18.04

Steps to reproduce the behavior:
1. Open Help-about dialog
2. Select version with mouse
3. Switch to a favourite text-editor
4. Press middle mouse button in the editor's text field

In other most applications selected text would be pasted to the window. In Jabre

[2021-07-13 09:02] mlep commented on #7896
I have tried to import a reference from a website using the JabRef plugin: the title did not show any protected word. So, I guess it is not JabRef that protect every word (maybe the original website or the plugin?).
The clean-up feature may help (Menu Quality), but I do not know which field formatter to use.

[2021-07-13 09:45] jelasity commented on #7896
Actually, only capitalized words are protected in my case, and since most publishers serve the title in title case, practically every word is capitalized (and thus protected). So my question is how to change this behavior. The preferred behavior would be not protecting anything. In the rare cases when something needs to be protected, it can be done later.

[2021-07-13 11:27] lpilz commented on #7762
Is there anything I can do to help you debug this?

[2021-07-13 12:27] LyzardKing commented on #7762
Is the folder in the user home directory?

[2021-07-13 12:56] vchouraki commented on #4273
This is still a problem (checked today with v5.3 portable on Windows 10). Did not check if there was any trouble with the Firefox extension though.

I understand that the persons maintaining JabRef have other priorities. I think this issue could be closed but then, it would be fair to deactivate the Medline / Pubmed fetcher and explicitely mention that importing Pubmed results in JabRef can be man

[2021-07-13 13:12] idadoudou opened #7906 "Please record search history"
I hope the search history can be recorded. Then I can browse what I have searched, how I have searched, and what I next do to refine my search. Thank you.

**Is your suggestion for improvement related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of

[2021-07-13 20:39] koppor commented on #7870
I am not sure whether a JavaFX class `CustomDialog` exists. It should be a custom dialog (see other dialogs in JabRef). HTH.

[2021-07-13 20:41] Siedlerchr commented on #7870
Have a look at `JabRefDialogService`

[2021-07-13 20:45] koppor commented on #4183
Looks good. The implementation should try different Ids and try to fetch it. --> The user should not be required to input the Id type. Only the Id (as you shown it).

The position should be below the button (as I interpret your screenshot)

![grafik](https://user-images.githubusercontent.com/1366654/125522339-4da067da-d566-4cad-b215-8ead7d212605.png)

[2021-07-13 20:47] koppor commented on #4654
Search in PDFs will be implemented in #2838

[2021-07-14 19:26] #3382 closed

[2021-07-14 19:35] k3KAW8Pnf7mkmdSMPHz27 opened #7908 "The directory pattern is not considered when checking if a file can be moved"
JabRef version  on
[code]

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. In `Options` -> `Preferences` -> `Linked files`, make sure that
	1.1. There is an absolute path for `Main file directory`
	1.2. `Search and store files relative to library file location` is **OFF**
	1.3. There

[2021-07-14 19:47] Siedlerchr commented on #2753
still relevant

[2021-07-14 19:51] pat-richter commented on #2961
This issue still persists with JabRef 5.3. I get annoyed/irritated quite often, but still can't detect the issue behind.

A simple solution would be to add some more information (modification date), as already suggested.
Instead, I would like to see a third button.

Button 1: Use current file
Button 2: Use backup file
Button 3: Compare files

The third button should open the dialog which is also s

[2021-07-14 19:53] calixtus commented on #4654
Hi @doctor-ian , our GSoC student @btut put a lot of effort into implementing this feature in #2838. I would like to ask you to try out the latest main branch build on builds.jabref.org if the feature is implemented as you asked.

[2021-07-14 20:07] koppor commented on #6190
Current state: https://docs.jabref.org/finding-sorting-and-cleaning-entries/mergeentries

The main issue is that we do not show the result in the dialog

![grafik](https://user-images.githubusercontent.com/1366654/125686059-6f472473-d1ab-4aba-ac39-4d2994982097.png)

[2021-07-14 20:46] koppor commented on #6190
When working on that, one could also solve https://github.com/JabRef/jabref/issues/2961 (see especially https://github.com/JabRef/jabref/issues/2961#issuecomment-880164801).

[2021-07-14 20:53] wujastyk opened #7909 "Can't save bibliography after a false "modified by another program" message."
JabRef 5.3--2021-07-12--b6a287f
Linux 5.4.0-77-generic amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. edited an entry
2. tried to save file
3. got the error message in the snapshot below.  The library was _not_ modified by another program!  I was just w

[2021-07-14 22:00] wujastyk commented on #2753
This came up again here:  #7864

[2021-07-15 06:37] #7637 closed

[2021-07-15 06:38] Siedlerchr commented on #7637
Thanks to the fix from @michel-kraemer  this issue is now resolved in the latest development build.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-07-15 08:33] mlep opened #7912 "Add sub-group: uncaught exception"
JabRef 5.3--2021-07-15--cb8fb55
Linux 4.19.0-17-amd64 amd64
Java 16.0.1
JavaFX 16+8

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

When adding a sub-group, an uncaught exception is raised, and no sub-group is created.

Steps to reproduce the behavior:
1. In the group panel, right-click on a group name and select "Add

[2021-07-15 09:06] jorgman1 opened #7913 "Version number in daily build"
JabRef 5.3--2021-07-15--cb8fb55
Linux 4.4.0-53-generic amd64
Java 16.0.1
JavaFX 16+8

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. When I installed the latest build, I was warned about a downgrading (because the new version number is lower)

Is this a desired behaviour because of

[2021-07-15 10:02] koppor commented on #7913
This is something with GitVersion. I currently don't have time to think of our GitVersion config. @tobiasdiez do we need to go to 6.0 because we seem to messed up something?

[2021-07-15 11:54] mordred111 opened #7914 "Updating JabREf"
Good Morning,

I would like to update my copy of JabRef to the latest version (5.2) but I am unsure how to do this.

1) Uninstall current version and then install the new version??

2) Install new version over the top of the existing one??

Please advise

Many thanks

Michael Message

PS Might be useful to include an 'Update' instruction in the Intallation Documentation - just a thought

[2021-07-15 12:32] Siedlerchr commented on #7914
Hi,

Please note that 5.3 is the newest version. You can simply install the new version. No need to manually uninstall. you can install over the top.
Feel free to adjust the documentation https://docs.jabref.org/installation (Right top -> "Edit on Github")

[2021-07-15 12:32] #7914 closed

[2021-07-15 19:25] #7274 closed

[2021-07-16 15:29] #7826 closed

[2021-07-16 17:21] michaelpollmann opened #7915 "Update to Version 5.3 (from 5.2) Deleted Custom Style File in Install Location on Windows 10"
JabRef version 5.3 (updated from 5.2) on Windows 10

I had saved a custom style file in the install directory (c:\Program Files\JabRef\) and installed the new version into the same directory. After installing the new version, I noticed that the style had changed back to the default. In the menu, the custom style was still selected, but the file does not exist any more on the disk.
While I was warn

[2021-07-16 18:12] JoKalliauer commented on #7803
I can confirm this issue also on Win 11

[code]

![JabRef](https://user-images.githubusercontent.com/15687581/125991149-c7f34104-66f2-4068-b42b-3c2a73057dd0.png)

[2021-07-16 18:15] JoKalliauer opened #7916 "Windows 11 recogniced as Windows 10"
JabRef version JabRef 5.3--2021-07-16--c99d61c on Windows 11

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. About JabRef

![JabRef](https://user-images.githubusercontent.com/15687581/125991416-ac82a37a-9435-444d-9d77-25ddd5a5dd52.png)

[2021-07-16 23:21] Siedlerchr commented on #7916
Thanks for testing JabRef on Windows 11!
We just read the OS properties: No magic from our side involved
https://github.com/JabRef/jabref/blob/c99d61c2c7a51d11702892039589a4c84920d628/src/main/java/org/jabref/logic/util/BuildInfo.java#L15-L17

[2021-07-16 23:21] #7916 closed

[2021-07-16 23:26] bfrodsham commented on #7908
Hello!
I'm new to open-source contributions and would like to take on this issue. Any tips or recommendations for where to start would be appreciated! Thanks.

[2021-07-16 23:29] Siedlerchr commented on #7915
Thanks for the feedback. JabRef uses the WIX-toolset/installer with the default options from jpackage to create the installer. No idea if your case is possible or if this is some Windows defualt requirements.

Regarding persistent directories: Preferences are stored in the registry (at least uner windows), otherwise JabRef can also be used as a portale installation. So you can put your styles wher

[2021-07-17 00:00] Siedlerchr commented on #7913
This is now fixed, all newer versions now wil be 5.4.x

[2021-07-17 00:00] #7913 closed

[2021-07-17 07:58] Joe11028 commented on #7853
I think we can redesign the dark-theme by adjusting the color of components then it will looks prettier. And Is there anyone work on the issue?

[2021-07-17 09:40] Siedlerchr commented on #7853
@Joe11028  Thanks for your interest! Feel free to work on this!
'You will find the Dark Theme and the Base.css here https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/gui/Dark.css

See also this reference guide for the javafx componnents https://openjfx.io/javadoc/16/javafx.graphics/javafx/scene/doc-files/cssref.html

[2021-07-17 14:44] Joe11028 commented on #7853
@Siedlerchr Okay, thank you for providing informations. I think we should only changed the specific components' color rather than redesign the dark theme, I will try my best to work on this issue.

[2021-07-17 14:50] k3KAW8Pnf7mkmdSMPHz27 commented on #7908
Hello @bfrodsham, welcome!

We have tried to gather quite a few resources for getting started in https://devdocs.jabref.org/contributing, and we strive to keep them up-to-date.

If you have any specific questions, there is the Gitter channel as well https://gitter.im/JabRef/jabref

I haven't spent enough time on this issue to know for sure where are the best starting points in the code, but the li

[2021-07-17 14:54] k3KAW8Pnf7mkmdSMPHz27 commented on #7908
Oups, and probably the most important part, make sure you can replicate the problem in a running copy of JabRef!

[2021-07-18 08:00] Joe11028 commented on #7853
@Siedlerchr I'm now can sure the issue caused by the icon from the imported package(org.kordamp.ikonli.materialdesign). The icons' color can not be changed after we switch to dark theme. So we have two ways to solve this issue:
Add another set of icons that suitable for dark theme. Or don't modify icons, but let the icon-button background color be different from the main body background color, so

[2021-07-18 15:57] jorgman1 commented on #7826
Thanks for the quick fix. :)
It might be better to name the field just "Copy DOI" instead of "Copy DOI url", because it just copies the text in the DOI field without appending https://doi.org/. (Which is really fine!)

[2021-07-19 15:37] calixtus commented on #7731
Maybe a bindings problem with the reference to the crossrefd bibentry...?

[2021-07-19 17:20] Marathon2112 opened #7925 "Write XMP to PDF fails to match citation keys with special characters"
The feature added in #7814 works pretty well, except when the citation keys include special unicode character (e.g. the sharp s in Weiß_2018). In these cases, JabRef returns "Cannot find [...] in library."

Opening the '.bib' library in a standard text editor shows that the unicode character is saved correctly into the database.

JabRef 5.3--ArchLinux--1
Linux 5.12.15-arch1-1 amd64
Java 16.0.1
Jav

[2021-07-19 17:50] #7374 closed

[2021-07-19 17:50] Siedlerchr commented on #7374
Fixed by #7918

[2021-07-19 18:25] Siedlerchr commented on #7359
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-07-19 18:25] #7359 closed

[2021-07-19 20:08] calixtus opened #7926 "Remaining issues from 7809"
Work for @calixtus as promised. https://github.com/JabRef/jabref/pull/7809

[2021-07-19 20:13] Siedlerchr opened #7927 "Dark Theme : Search -> Import entries dialog text not readable"
Latest JabRef version from main.

1. Have Dark Theme enabled
1. Search for an entry in the web search
2. Import entries window opens
3.  See the color of the abstract text is black

<img width="974" alt="Bildschirmfoto 2021-07-19 um 21 27 49" src="https://user-images.githubusercontent.com/320228/126221029-b0a0cb75-e002-4f23-977e-db2a29f12975.png">

[2021-07-19 20:34] k3KAW8Pnf7mkmdSMPHz27 commented on #7927
Good starting points are,

1. https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/gui/Base.css, the default theme, where most of our .css are stored.
2. https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/gui/Dark.css, which is where changes most likely should be made.

[2021-07-19 22:51] LivingUserError opened #7928 "Reserved characters should be automatically escaped when entries in the Bib are created"
I'm using

JabRef 5.3--2021-07-05--50c96a2
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

and when I added a source to my bibliography and later quoted that source with BibLatex respectively Biber, suddenly my Latex project wouldn't compile anymore. It took me quite a while to figure this out, but it turns out that source contains a '%' in  the abstract and that caused an error further down the li

[2021-07-20 13:58] Siedlerchr commented on #7928
Hi,
for a discussion see #3148. The solution now is to use  Quality-> Cleanup -> Field formatters -> abstract + latex cleanup
That will encode the %-sign

[2021-07-20 14:00] #7928 closed

[2021-07-20 14:47] k3KAW8Pnf7mkmdSMPHz27 commented on #7731
It is possibly solved if #7730 is fixed (as long as we are talking about the entry-editor and not the maintable). It should be mitigated by #7754. I am not sure if all the buttons/menus will work as expected for files after #7730.

[2021-07-20 15:46] k3KAW8Pnf7mkmdSMPHz27 commented on #7288
@ilippert, is the issue with

1. "Autolink files" with "Use regular expression search": Files aren't automatically linked?
2. The menu "Lookup" with "Search for unlinked local files": Doesn't deal with duplicated bibentries?

[2021-07-20 19:22] #4293 closed

[2021-07-21 00:29] calixtus commented on #7731
Monday I hot word that maybe some students from a computer science course are looking into this issue the next days.

[2021-07-21 00:52] k3KAW8Pnf7mkmdSMPHz27 commented on #7731
Ok. I don't know what the simplest solution is in that case.

I haven't seen any new PR/commits from @SuXiChangZhen so I am assuming it is ok that I finish the currently open PR and someone else can continue with a complete solution (or a complete solution only for the file field).
I think the last of the suggestions in https://github.com/JabRef/jabref/pull/7754#discussion_r641697015 is the most l

[2021-07-21 06:27] calvinmorett commented on #7927
@k3KAW8Pnf7mkmdSMPHz27 is there process I can do to so that I can make a browser-inspectable mock up of this entry section? Specifically, looking to bring it into the browser so I can use the inspect tools, to see what variables are targeted/attached here from the dark.css.

[2021-07-21 06:37] Siedlerchr commented on #7927
@calvinmorett  Have a look at the sceniv view tool https://github.com/JonathanGiles/scenic-view
You bascially start JabRef, then scenic view and then you can inspect the gui

[2021-07-21 12:41] jorgman1 commented on #7912
I encounter the same problem in Windows 7

JabRef 5.4--2021-07-19--5624b85
Windows 7 6.1 amd64
Java 16.0.1
JavaFX 16+8

<details open>
<summary>Exception details</summary>

`java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
	at org.jabref.merged.module@5.4.29/javafx.fxml.FXMLLoader$MethodHandler.invoke(Unknown Source)
	at org.jabref.merged.module@5.4.29/javafx.fxml.FXMLLoader

[2021-07-21 14:41] btut opened #7930 "Creating Groups fails since JabRef 5.4"
JabRef 5.4--2021-07-19--5624b85 on Linux 5.8.0-59-generic amd64
Java 16.0.1
JavaFX 16+8

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. Click Add group

Adding groups fails with an exception.

<details>
  <summary>16:25:41.532 [JavaFX Application Thread] ERROR org.jabref.gui.Fallback

[2021-07-21 14:46] calvinmorett commented on #7927
@Siedlerchr Stuck on the dialog "Scanning for JavaFX application" in scenic view, JabRef never registers. Troubleshooting, any suggestions is certainly appreciated, thanks.

[2021-07-21 14:48] Haini commented on #7912
The problem should be fixed with https://github.com/JabRef/jabref/pull/7931

[2021-07-21 14:50] btut commented on #7930
Duplicate of #7912

[2021-07-21 14:50] sarwalr opened #7932 "Java Error in JabRef 5.3 "Uncaught exception occured in Thread[Java FX Application Thread.5.main]"
JabRef version: 5.3
OS: Debian 10

Steps to reproduce the behavior:
1. ...Open bib file
2. ...Double click on an entry to open details
3. ...Error appears

A similar issue was raised with version 5.0 but is now closed.
(https://github.com/JabRef/jabref/issues/5446)

[JabRef-Java-Error.txt](https://github.com/JabRef/jabref/files/6856675/JabRef-Java-Error.txt)

[2021-07-21 15:35] k3KAW8Pnf7mkmdSMPHz27 commented on #7927
You might have to check if there is a workaround for Java 16

There is also https://github.com/JonathanGiles/scenic-view/issues/56

[2021-07-21 15:56] k3KAW8Pnf7mkmdSMPHz27 commented on #7927
@Siedlerchr do you have any experience with loading `.css` into the [scene-builder](https://gluonhq.com/products/scene-builder/)? (I.e., do you know if it is possible/a good idea)

[2021-07-21 16:10] #7912 closed

[2021-07-21 16:30] Siedlerchr commented on #7927
I got it to work when I start jabref from eclipse, guess because the release version is stripped out of some debug modules or whatever
<img width="1225" alt="grafik" src="https://user-images.githubusercontent.com/320228/126525212-375bab21-0890-460d-9cb3-0911b63a9db8.png">

[2021-07-21 19:20] koppor commented on #7932
@sarwalr It seems that you are not running using the bundled JRE. Am I right? - Then, there are three options: A) start `JabRef/bin/JabRef`, B) use the snapcraft build, C) help packaging JabRef to Debian. See https://github.com/koppor/jabref/blob/about/jabref-in-debian.md for details. I did not have time the last years to continue working on that.

    java.lang.UnsatisfiedLinkError: no jfxwebkit

[2021-07-21 19:22] #7320 closed

[2021-07-21 20:36] k3KAW8Pnf7mkmdSMPHz27 commented on #7927
Yup. I have cloned both Scenic View and JabRef and are building them from the Gradle projects in IntelliJ, which also seem to work. Might be overkill.

@calvinmorett how do you run JabRef? (or have you gotten it working through some other means?)

<img width="1280" alt="Skärmavbild 2021-07-21 kl  16 33 55" src="https://user-images.githubusercontent.com/2598631/126556665-5431b2cb-3aa6-484b-b67b-a2

[2021-07-21 22:13] calvinmorett commented on #7927
Still troubleshooting,

@k3KAW8Pnf7mkmdSMPHz27 `@calvinmorett how do you run JabRef? (or have you gotten it working through some other means?)`

I just run the application, JabRef.exe. Could this be the reason why scenic-view isn't picking up on it?

[2021-07-21 22:50] k3KAW8Pnf7mkmdSMPHz27 commented on #7927
It doesn't pick it up when I run `JabRef.app`, I guess .exe is the same

[2021-07-21 23:16] calvinmorett commented on #7927
Installed eclipse, will try that next.

[2021-07-22 04:32] Siedlerchr commented on #7927
./gradlew run should also work. See the devoloper docs how to setup your development environment

[2021-07-22 06:04] calvinmorett commented on #7927
It's registering 2 java applications, but no JavaFX applications when running scenicview.bat after starting JabRef.exe

[code]

[2021-07-22 06:49] Siedlerchr commented on #7927
@calvinmorett  https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace
I recommend Intellij as the Eclipse formatter has some problems.

You start scenic view from the folder bin\scenivew.bat it already ships with a jdk.
You probably need to modify the line to:

`pushd %DIR% & %JAVA_EXEC%  -m org.scenicview.scenicview/org.scenicview.ScenicView --add-opens java.

[2021-07-22 17:48] calvinmorett commented on #7927
Okay, I haven't installed Intellij yet, but did make the .bat file change that you suggested. That change did seem to register JabRef as a JavaFX application in the log, but still kept showing scanning in the UI in SV.

![image](https://user-images.githubusercontent.com/11654917/126685088-7778da2f-61a1-45ea-8375-73a2941d288d.png)

[code]

[2021-07-22 20:07] Siedlerchr commented on #7927
Try running JabRef with `./gradlew run ` in the source folder where you cloned the project source code repo.
You need to have jdk16 installed (as noted in the docs)

[2021-07-22 21:09] k3KAW8Pnf7mkmdSMPHz27 commented on #7731
Ok, turns out that I was wrong. #7754 has probably nothing to do with this one since it only is relevant for the main table, not the entry editor. Terribly sorry for the confusion!

[2021-07-22 21:10] C0lliNN opened #7933 "Error when creating a new library"
Steps to reproduce the behavior:
1. Run the application
2. Click in the "New Library" icon

<details>
  <summary>Log File</summary>
java.util.NoSuchElementException: No value present
	at java.base/java.util.Optional.get(Optional.java:143)
	at org.jabref/org.jabref.model.database.BibDatabaseContext.getFulltextIndexPath(BibDatabaseContext.java:223)
	at org.jabref/org.jabref.logic.pdf.search.indexing

[2021-07-22 22:41] calvinmorett commented on #7927
Did `./gradlew run`
it finished executing
[code]
Platform running
Launching ScenicView v11.0.2
Startup done
Creating server
Server done
Number of running Java applications found: 0
0 JavaFX applications found
Loading agent from: C:\Users\ideas\Documents\sv\scenicview\lib\scenicview.jar
[code]

[2021-07-23 03:22] JIANGJiaXiu commented on #6099
Hi, we are a group of 8 students from Harbin IT. We are going to work on this issue as an assignment of a course. Hopefully we will try to submit a PR before Aug 6th. Any help will be appreciated as all of us are new contributors to OSS. Thanks a lot!
JiaXiu Jiang

[2021-07-23 09:04] calvinmorett commented on #7927
While not the fastest approach, I'll just add a new CSS style sheet to pull into JabRef, and go individually through each variable, to identify ambiguously named variables, and to see what variable is being assigned.

![image](https://user-images.githubusercontent.com/11654917/126759789-7e3e7038-bc54-4436-b053-76dfde1a291c.png)

I've found the variable causing the cause of why dark mode search ite

[2021-07-23 09:30] Siedlerchr commented on #7927
I guess we need to have a different color for active/inactive

[2021-07-23 12:01] calixtus commented on #6099
Thanks for your interest in this issue.
Implementation of this would probably not more than 5 minutes. Important thing is here to present the thought process of why you would chang the order and how.
So before sending a pull request, please provide your rationale.

[2021-07-23 19:06] samuelVJrobinson commented on #6348
I agree with the previous comments. This would be extremely useful to have in future versions of JabRef.

[2021-07-23 19:22] #7322 closed

[2021-07-24 03:44] rlkamalapurkar commented on #6009
Same issue in Windows PowerShell when launched using the batch file.

[code]
[code]

[2021-07-24 08:41] #7933 closed

[2021-07-24 09:11] HifeFish opened #7936 "Module java.instrument not found"
JabRef version 5.3 and 5.4 on Ubuntu 16.04

- [v] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. Run Jabref from a terminal.
2. Error message:
[code]

This happens when JabRef 5.3 is installed from .deb package, in the portable version and the snap version. Same behaviour in the portable v

[2021-07-24 10:03] Siedlerchr commented on #7936
I dont know why this happens, but I suggest you install jdk16

[2021-07-25 00:45] calvinmorett commented on #7927
@Siedlerchr Are you going to set specific classes for the queries results or should we target the current with pseudo classes?

Either way, would it be possible for you to provide the classes?

[2021-07-25 10:50] Siedlerchr commented on #7927
Maybe @calixtus  has an idea

[2021-07-25 11:53] k3KAW8Pnf7mkmdSMPHz27 commented on #7927
Isn't it set by one of the “base” colors? (see the `base.css` file)

I am not sure what you have tried/not but it is likely easier to explore the CSS in that file as it is more complete. (unless you have already tried that)

[2021-07-25 12:21] JIANGJiaXiu commented on #6099
Thanks for your reply!

We agree with @koppor that

- Cut/Delete feels similar to merge entries (as one entry is deleted)

- Attach file is similar to Open file

As to Merge entries, we think it should be put between Cut and Delete Entry, since it has similar function as Delete Entry, and its shortcut is similar to Paste and Cut (using ctrl +) .
As to Attach file, it’s an operation to a local file

[2021-07-26 00:36] calvinmorett commented on #7927
@k3KAW8Pnf7mkmdSMPHz27 current approach was to add a custom stylesheet. The way that worked was I was able to edit most things and see the change in real time to then add comments to what was being affected by the CSS classes I was sort of editing.

I haven't considered until now pulling in all the base.css styles into the custom stylesheet, thanks for the excellent suggestion though it will not h

[2021-07-26 09:05] mlep commented on #7912
@Haini Indeed, this is fixed in JabRef 5.4--2021-07-24--1cdd807 .
Thank you for making JabRef a better software!

[2021-07-26 12:56] ThiloteE commented on #7882
Just saying, when i enter the URL in Citavi, it doesn't stick to the URL field, but the URL immediately "turns" into a "local web file". It is the one in the bottom red rectangle.

[2021-07-26 14:18] Siedlerchr commented on #7882
Ah thanks for the clarification. Im thinking of a search and replace Regex

[2021-07-26 15:11] wujastyk opened #7942 "JabRef freezes when trying to search"
JabRef version

JabRef 5.4--2021-07-24--1cdd807
Linux 5.4.0-80-generic amd64
Java 16.0.1
JavaFX 16+8

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:
1. start program
2. type the first five chars of a search string
3. JabRef freezes, or goes to sleep.

The System Monitor (top) shows 1.3

[2021-07-26 21:27] thethinker990 commented on #4877
JabRef 5.4--2021-07-24--1cdd807
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

Still happening, at least no entry was duplicated.

IDK where it comes from. First appeared today after I added several Online Resources. Probably something with the abstract. Only opened the JabRef Program + Bibfile without any other program.

In the background my OneDrive is running  (which syncs the bibfile). Never h

[2021-07-27 16:28] ggieling opened #7943 "Record creation using DOI sometimes results in wrong year"
JabRef version  on

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

@article Data imported via a DOI reference can produce the wrong publication year

Steps to reproduce the behavior:
1. click to create a new entry (library is in biblatex mode)
2. in the select entry type dialog paste a DOI reference (e.g. 10.1111/bph.1

[2021-07-27 19:22] #7345 closed

[2021-07-27 19:22] #7335 closed

[2021-07-27 20:33] bfrodsham commented on #7908
Hey @k3KAW8Pnf7mkmdSMPHz27,

I'm slowly moving along on the issue. In the free time I have to work on the issue, I've finally set up a workspace as given in the [guide](https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace), and now I'm focusing on replicating the problem.

I'm trying to understand step two in your instructions. What would qualify as a linked

[2021-07-27 22:44] tobiasdiez commented on #7943
This seems to be a problem with the metadata provided by crossref, which JabRef uses under the hood. This particular paper can be found at: https://search.crossref.org/?from_ui=&q=10.1111%2Fbph.15016#. There you find "published Jan 2021", which would be correct. However, if you click "Actions" and then "Cite", all of the export options report March 2020 as the published data. In fact, the JSON out

[2021-07-27 22:44] #7943 closed

[2021-07-27 22:50] bschiela opened #7944 "New entries are sometimes prepended to the .bib file"
When importing a new entry using the browser plugin, it is appended/prepended to the .bib file somewhat inconsistently.  At least the following conditions seem to hold:
1. If JabRef is already open, the new entry is appended.
2. If JabRef is initially closed, the new entry is prepended.

It would be nice to have a setting to specify that new entries should always be either appended or prepended (o

[2021-07-28 19:56] Siedlerchr opened #7945 "Support Citation File Format (CFF, yaml) as an import/export format"
JabRef should be able to parse Citation File Format (CFF) and export into it.
Information about the format can be found here.

https://citation-file-format.github.io/
See also https://github.com/citation-file-format/cff-converter-python

Implementation details.
Look at other importers, org.jabref.logic.importer
For YAML parsing, JabRef includes already the jackson yaml parser
https://github.com/Fa

[2021-07-28 20:03] ilippert commented on #4688
And I would love this change request in a real version :)

[2021-07-28 21:56] koppor commented on #7944
Which setting to you have in "Save sort order"? --> See our documentation at https://docs.jabref.org/setup/databaseproperties#save-sort-order

[2021-07-28 22:02] koppor commented on #7944
Thank you for offering to work on this. I think, the pointer to the documentation could be helpful. Maybe you know <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>F</kbd> in IntelliJ to globally search for a text string. With that, you can also find the routine the UI calls when adding an entry.

[2021-07-29 06:56] ilippert commented on #6343
JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.4-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

The field turns red when entering `-` and a hover tip signals an `invalid query element '-' at position` X. I think this is a good solution for now. Therefore I close this issue.

[2021-07-29 06:56] #6343 closed

[2021-07-29 07:00] ilippert commented on #6559
JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.4-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

no change ;)

[2021-07-29 10:48] Codeberg-AsGithubAlternative-buhtz commented on #4674
Again I have to say it is so impolite to close an Issue 1) via a bot 2) just because it is "to old". 2) does not mean it is not important anymore.

No I fully migrated to Citavi including all disadvantages of Citavi. But it works better for my use cases.

If someone want to migrate to there is a helper script migrating JabRef bib-files incl. attachments completely to Citavi 6.*.
https://codeberg.o

[2021-07-29 11:59] koppor commented on #4674
@Codeberg-AsGithubAlternative-buhtz Thank you for the input. Could you also provide a script to migrate from Citavi to JabRef (which is 100% open source and a non-profit e.V.). Then users would have easily the freedom of choice 🤩

[2021-07-29 12:49] Codeberg-AsGithubAlternative-buhtz commented on #4674
Point for you. The JabRef_2_Citavi script can be a good base for such a project. If anyone needs it I will support it.
https://codeberg.org/buhtz/Migrate_Citavi_2_JabRef

[2021-07-29 15:20] ggieling commented on #7943
Tobias

Thank you for your response. I contacted CrossRef and from what I read in their answer, the system should be queried via their api and not via actions > cite, and the answer at least suggests that their api allows for querying the separate dates.

See their answer below, I hope it helps in solving the issue.

-----
All DOI metadata is provided to us directly by the publishers. Crossref doe

[2021-07-29 15:42] tobiasdiez commented on #7943
Thanks for contacting them and reporting back.

We essentially just call the crossref API and asking for the bibtex representation (indirectly via the doi content negotiation API they refer to in their response). For the article in question, this would be https://api.crossref.org/works/10.1021/ml100273k/transform/application/x-bibtex. As you can see, the year is `2010`. So the "print" data is simp

[2021-07-31 05:34] k3KAW8Pnf7mkmdSMPHz27 commented on #7908
With linked file I meant an entry with the location of a file on the hard drive in the “file” field. I don't have access to a computer for a couple of days so I can't send an example.

I think the simplest way of creating an entry with a linked file might be using the web-search feature of JabRef and download the (often) linked pdf in the entry-editor. I am not sure but arxiv might be good for thi

[2021-07-31 15:53] #7882 closed

[2021-07-31 15:54] Siedlerchr commented on #7882
@ThiloteE JabRef should now be able to parse the file field correctly, I added a fix.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-07-31 20:27] Siedlerchr commented on #7942
Hi,

have you tried to disable autocomplete? That has an effect on the search

[2021-07-31 21:56] ThiloteE commented on #7882
works like a charm via

JabRef 5.4--2021-07-31--720fd8e
Windows 10 10.0 amd64
Java 16.0.1
JavaFX 16+8

good job! :)

for everybody that stumbles upon this thread in future:
the solution looks like this:

![image](https://user-images.githubusercontent.com/73715071/127753250-2ae7d027-e494-4a1c-a39a-7c87874b900a.png)

[2021-08-01 00:18] ThiloteE commented on #2146
I think this issue is still relevant.

i read that @antalk2 is currently restructuring and improving the code for the Libre Office citation feature.

Any ideas how to make "import csl style for LO/OO implementation" work?

[2021-08-01 00:32] wujastyk commented on #7942
I do not have autocomplete enabled.

[2021-08-01 08:21] 1190201923 commented on #7012
Hi,we are a group of 7 students from Harbin Institue of Technology.Our open source software testing class asked us to contribute to an open-source project.We'd love to help with this issue.Is anyone currently working on this issue?If not can we take it? We are all new contributors to open-source projects.If possible could we get some guidance on which part of the code we should look into first. Th

[2021-08-01 09:49] ilippert commented on #7341
still of interest

[2021-08-01 12:53] Siedlerchr commented on #7341
There might be some fix coming with the next javafx version

[2021-08-02 09:25] antalk2 commented on #2146
- I assume preview uses HTML.
 [OOTextIntoOO.write](https://github.com/antalk2/jabref/blob/77fbf1eb170767a351cfb0e779ccd5b3a85f9474/src/main/java/org/jabref/model/openoffice/ootext/OOTextIntoOO.java#L148) is (going to be) used to emit markup into the document. It understands some basic HTML tags. Its parser is not very flexible, but easy to add new tags. Does not understand entities (probably shou

[2021-08-02 11:35] ilippert commented on #7288
Well, my proposal was to think more broadly: one dimension mentioned in https://github.com/JabRef/jabref/issues/7288#issue-778185582 is that JabRef could search the "Main file directory" for pdfs and also offer to link these to already existing entries in the library. Another dimension is to add more folders, beyond the "Main file directory" for searching.

[2021-08-02 18:12] #7719 closed

[2021-08-02 18:35] koppor commented on #6101
Could reproduce in the latest dev build:

1. Select entry with attached PDF
1. <kbd>F4</kbd> does nothing
2. Right click on entry
3. Press <kbd>F4</kbd> --> works
4. Select another entry with attached PDF
3. Press <kbd>F4</kbd> --> works

[2021-08-02 18:38] koppor commented on #7882
Refs https://github.com/JabRef/jabref/issues/98

[2021-08-02 18:42] koppor opened #7959 "Key bindinds dialog: Broom symbol saves setting even when pressing "cancel""
JabRef version of today on Windows

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/main and the problem persists

Steps to reproduce the behavior:

1. ![grafik](https://user-images.githubusercontent.com/1366654/127908478-c790099b-096b-4dee-8b28-bc8ae8aad4e4.png)
2. ![grafik](https://user-images.githubusercontent.com/1366654/127908501-91fe969b-8f7f-4

[2021-08-02 18:51] koppor commented on #4795
Current status:

- ![grafik](https://user-images.githubusercontent.com/1366654/127909463-da20b24f-0c80-42e1-bc90-3b52538b2253.png)
- ![grafik](https://user-images.githubusercontent.com/1366654/127908928-721837fe-0658-49f6-96fc-183d935ba51c.png)
- ![grafik](https://user-images.githubusercontent.com/1366654/127909095-a1ebef27-6c06-4f66-821e-713d98125d4f.png)
- ![grafik](https://user-images.githubuse

[2021-08-02 18:55] koppor commented on #7322
@docrjp We would really love if you contributed some more build-in themes. See https://docs.jabref.org/advanced/custom-themes for documentation how to do it. The core developers need to focus on fixing high-priority issues.

[2021-08-02 18:58] koppor commented on #7323
This scheduled be fixed with https://github.com/JabRef/jabref/issues/7335.

[2021-08-02 20:03] koppor commented on #6188
@AEgit We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you.

[2021-08-02 20:03] #6188 closed

[2021-08-02 20:39] koppor commented on #4096
In JabRef 4.3.1, it was toggle button

![grafik](https://user-images.githubusercontent.com/1366654/127920516-0262f9d6-65cc-4d1b-847c-ff4d9db248ac.png)

## Keep Search String throughout all opened tabs

### JabRef main (as of today)

![grafik](https://user-images.githubusercontent.com/1366654/127920819-d231d9a3-e003-49a6-bd9f-734a584c1d54.png)

![grafik](https://user-images.githubusercontent.com/13

[2021-08-02 20:53] RhodevdDool commented on #7731
Hi, is anyone currently working on this? If not, I'd like to give it a try.
Apart from the devdocs and the above information, is there anything specific I should know about this?

[2021-08-02 20:59] calixtus commented on #7731
Hi @RhodevdDool, thank you for your interest in JabRef programming. We always appreciate if people want to contribute. About this issue: Currently there is a student group from china (?) working on this. Their teacher told me, that they should be done on the 8. of august. If there is no PR then present, this issue should be available again.

[2021-08-02 21:16] tobiasdiez opened #7961 "Fulltext search: Show display of index creation progress"
**Is your suggestion for improvement related to a problem? Please describe.**
Currently, no progress or indication of the background index creation is shown. This may irritate some users because they may think that there is a performance bug in jabref due to the high usage of resources.

**Describe the solution you'd like**
Show an indicator of the progress (how many files to go etc) in the progre

[2021-08-02 21:37] tobiasdiez opened #7962 "Improve display of fulltext search results"
In general the fulltext search is working great. Nice feature @btut !
A few points in the ui of the search results tab can still be improved in my opinion:
- The "search results" header in tab is not giving any new information. Either add the search term there or remove the header completely (preferred in my opinion).
- Sometimes I only get the file name without any further details. In this case i

[2021-08-02 22:00] RhodevdDool commented on #7731
@calixtus Thank you! I used JabRef for my thesis, and am excited to maybe contribute in turn. I'll check it out in a week.

[2021-08-02 22:20] koppor commented on #7288
For the first dimension (which I meant here): We could use the duplication check algorithm "magically" during the synchronization. - Detail question @ilippert: Would you like to have more control what JabRef does (e.g., by deciding each file one-by-one) or trust the "JabRef magic" and fix minor issues afterwards?

For the second dimension: Files in these folders are linked in absolute paths. Would

[2021-08-02 22:26] calixtus commented on #7731
😍 This is exactly how most of us started with JabRef programming! Either as a distraction from the thesis or - just like you - after we were done. But don't forget: Working on JabRef should be fun!

[2021-08-02 22:53] koppor commented on #2146
Yes. However, CSL can do more: org.jabref.logic.citationstyle.CitationStyleOutputFormat: asciidoc, html, rtf, text, fo.

Sounds good!

I have no clue about the "Pageinfo" usage of JabRef. Do you have one (since you intensively touched JabRef's code)?

Side note (requried for the next question): I quote from the [Zotero page](https://zotero-odf-scan.github.io/zotero-odf-scan/):

`{ | Smith, (2012)

[2021-08-02 23:51] koppor commented on #7012
This issue needs much thinking. Please read on at https://github.com/JabRef/jabref/issues/7010 to get to know the issue around JabRef's internal handling of `#`.

Deep links to methods are:

- org.jabref.logic.importer.fileformat.BibtexParser#parseFieldContent
- org.jabref.logic.bibtex.FieldWriter#write

[2021-08-02 23:52] koppor commented on #7010
Note that `org.jabref.logic.importer.fileformat.BibtexParser#parseFieldContent` does not respect JabRef's preferences of field resolving. Thus, the solution proposed at https://github.com/JabRef/jabref/issues/7010#issuecomment-812917351 does not work.

[2021-08-03 00:06] koppor commented on #7010
When reading a `bib` file it is not correct.

I'll try to expand my comment from https://github.com/JabRef/jabref/issues/7010#issuecomment-708160312

We DO NOT have a "good" model for BibTeX strings in JabRef. The currently (bad) model is that each value field of BibTeX is a `String`. One sees it best at `author = {First Author and Second Author}`. A good model would be

    author = List(Author.o

[2021-08-03 00:28] 1190201923 commented on #7012
Roger, our team will go to see it right away.

[2021-08-03 01:07] adam3smith commented on #2146
CSL Maintainer here  --  I don't have a lot of time to provide feedback here (other than that we're always happy to have people use/implement CSL!), but a couple of notes:

Is not at all an official Zotero format. It's the format a 3rd party add-on uses to convert documents edited in any software (e.g. Scrivener) to generate actual Zotero citations. You can look at what Zotero does in the LO Refer

[2021-08-03 02:14] team10-h commented on #6601
Hello, we are a group of 8 students from Harbin Institute of Technology from China. Our Open Source Software Development class asked us to contribute to an open-source project. We chose this issue among the projects provided by Mr.Treude and we are interested in helping with this issue. Is anyone currently working on this issue? If not can we take it? We are all new contributors to open-source pro

[2021-08-03 06:09] ytzemih commented on #4096
Thanks for this summary. It's a pity to see that this clean search concept (which is a faithful extension of what is there now) got lost over the years. I wonder what the reason was.

[2021-08-03 06:27] Siedlerchr commented on #4096
It got lost by the transformation of the old GUI to the new GUI technology, but we are planning to reimplement this

[2021-08-03 06:28] Siedlerchr commented on #2146
cc @mohit038  Might be of interest for you, some background information on the CSL stuff

[2021-08-03 06:33] ytzemih commented on #4096
I see, that makes sense. Thanks for letting me know.

[2021-08-03 06:53] calixtus commented on #6601
Hi, thanks for your interest in JabRef. Your teacher already announced your team, so you are free to take it.
Please be aware that there has already been an approach to fix this back in may. So most of to rationale and a part of the solution can be found there. Please make sure you read and understand the discussion in #7729 .
If you have questions, we are happy to answer them. Happy coding!

[2021-08-03 08:52] Siedlerchr commented on #7942
Ah, it might be related to the new pdf search feature @btut  Do you filter  for filetype/extension pdf?

[2021-08-03 14:36] wujastyk commented on #7942
No, I don't filter for filetype.

[2021-08-03 14:58] btut commented on #7962
Thanks for the feedback.

That would definitely help.

That makes highlighting much harder, but I'll have a look. I agree it would be helpful.

As the default open action for linked files is to open them in an external viewer, I would do the same here. I guess the jump to the correct page would then just work for a defined set of viewers though.

I'll have a look.

[2021-08-03 15:01] btut commented on #7961
Right now the progress is shown as indeterminate, as it is quite hard to estimate (the last file in the queue could be the size of all others combined). Something like `indexing file 13/42` would be easy, but not much more expressive than just the indeterminate loader IMO.

[2021-08-03 15:03] btut commented on #7942
I'll have a look.
Worst case there is a race condition somewhere in the pdf-search when searching while indexing.

[2021-08-03 15:45] koppor commented on #7961
I like that, because user can expect that file sizes vary. Similar to the progress of a backup tool.

If users would like to have more, the progress could add the file sizes. Like an asynchronous update of the total number of files and total file size like [rclone](https://rclone.org/) does.

[2021-08-03 16:08] tobiasdiez commented on #7961
The currentfile / all files counter sounds like a sensible thing.
I should also add that the progress icon in the upper right corner currently does not reflect that the indexing is going on, i.e. it shows the tick although if you click on it then it shows the progress bar for "indexing pdfs".

[2021-08-03 16:10] tobiasdiez commented on #7962
Have a look at the textflow control: it allows to have differently styled text https://docs.oracle.com/javase/8/javafx/api/javafx/scene/text/TextFlow.html

[2021-08-03 16:18] calixtus commented on #7926
I looked into the remaining issues of #7809. They are basically the extraction of the telemetry subsystem out of the Globals singleton. I believe that has to happen as soon we refactor the whole Globals complex or at least in preparation for it. But this has to happen another time i think. So i'll close this one for now.

[2021-08-03 16:18] #7926 closed

[2021-08-03 16:24] btut commented on #7962
I'm having enough trouble with TextFlow in #7929 (tl;dr: It's not suitable if space is constrained and you want to avoid scrollpanes - which would be acceptable here). But yes, that looks like to way to go!

[2021-08-03 16:25] btut commented on #7961
Then let's do the currentfile / all files counter for now.

[2021-08-04 07:24] tobiasdiez commented on #7959
Maybe somewhat controversial idea: Make all preference changes persistent immediately without the need to hit the "save" button. The "save your changes" strategy feels a bit old-style. Would also make the code considerably more simple since you could simply bind an option to a javafx binding that sets / gets directly in the preference object.

[2021-08-04 07:57] Siedlerchr commented on #7959
I hate these automatically saving things, especially if there is no undo or you accidentally clicked somewhere. And I, personally,  always feel like: Are my changes really saved?
Some discussions:
https://ux.stackexchange.com/questions/2754/autosave-ui-pattern
https://ux.stackexchange.com/a/109174

[2021-08-04 08:42] tobiasdiez commented on #7959
Yeah, as I said, somewhat controversial topic. However, it seems like most applications go towards this auto-save of preferences. At least the following apps do:
- VS Code
- Firefox
- Modern MS Office apps

So the user expectation might go towards always safe.

[2021-08-04 10:53] ilippert commented on #7288
I would love a "wizard" that asks me for each case, what to do about the file. As in: `I found file X in folder Y. It does not belong to an entry in your library yet. But entry Z (give me a hover tip on the entry's content) seems to match file X. Check this checkbox, if you want these to be linked (or moved)`

I could imagine a table-like layout:
column 1: file x@folder y.
column 2: candidate entr

[2021-08-07 12:14] xoquon opened #7969 "No start possible: Unsupported JavaFX configuration and amdgpu.ids: No such file or directory"
JabRef version 5.4.49 (Snap 1211 (edge)) or 5.3.450 (Snap 1180) on

- Xubuntu 20.04 with current LTS kernel 5.11.0-25-generic on
- AMD Ryzen 7 PRO 4750U with Radeon Graphics,
- 32 GB 3200 Mhz RAM,
- X.Org 1.20.11 with amdgpu,ati driver.

- [X] I have tested the latest development version from http://builds.jabref.org/main and the problem persists

JabRef was working fine with Kernel 5.8 until upgr

[2021-08-08 10:02] ilippert commented on #7942
I confirm the issue with

JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.7-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

[2021-08-08 10:18] ilippert opened #7970 "exception - arraycopy"
JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.7-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

Hi, got this repeatedly - I have no idea how. After a while the entry editor stopped showing anything. But I was able to close JabRef and restart it.

I will note here if it reappears. Otherwise I am happy for this to be closed.

<details>
  <summary>Log File</summary>

[code]
</details>

[2021-08-08 10:30] ilippert commented on #6559
JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.7-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

I have now disabled autocomplete.

But I have changed one aspect today - with seeming success: the jabref _preference_ window told me to not include specific signs twice today: once in the entry editor dialogue and once in the custom editor tabs dialogue. I checked and found I was using a "prohibited" sign

[2021-08-08 13:35] ilippert opened #7971 "exception upon importing entries via ISBN"
JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.7-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

This exception happens repeatedly whilst I am importing entries via the ISBN search.

<details>
  <summary>Log File</summary>

[code]
</details>

[2021-08-08 13:43] ilippert commented on #6294
Refs https://github.com/JabRef/jabref/issues/7731

[2021-08-08 13:51] ilippert commented on #6294
Regarding

this request could also work with https://github.com/JabRef/jabref/issues/4183 - i.e. a flyout popup that searches something fitting for a selected (or entered) string.

i.e. a user might mark/select an entry in the table, and then clicking on the new entry/flyout would offer to generate a new entry that crossreferences the marked entry.

[2021-08-08 17:14] ilippert commented on #6559
I have now run JabRef for many hours today without the problems I had for a year or so. So, maybe that was the issue.

Suggestion: could JabRef notify the user in a more accessible way that their preferences are set with a problem - such as saying, Dear user, you have an illegal field name OLD1, OLD2 in the Preferences section "entry editor" and the "custom editor tabs". This risks unstable behavi

[2021-08-08 18:00] Siedlerchr commented on #6559
Thanks for the analysis! I'm sure we can add a preferences migration. Can you please specify which "illegal character" you entered/had there?
And we can also add a check when saving the changes

[2021-08-08 18:17] ilippert commented on #6559
Ok, further testing:

in the preferences/_entry editor_, when I add the  "illegal character" `-`, I do not get a warning. And I am able to add the "illegal character".

When I add `-` at _custom editor tabs_, I get the warning
![Screenshot from 2021-08-08 20-10-23](https://user-images.githubusercontent.com/20518297/128641559-41326ca7-86ae-44ab-b5dc-6dfb7c8f7216.png)

and the save button lets me sa

[2021-08-08 18:25] ilippert opened #7972 "year field not updated in entry table"
JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.7-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

I found a phenomenon similar to https://github.com/JabRef/jabref/issues/7730: When I change the date field in an entry, the year column in the table is not updated.

[2021-08-08 18:27] ilippert commented on #6102
Let me add this exception I got a moment ago - might be related

<details>
  <summary>Log File</summary>
org.jabref.logic.exporter.SaveException: Problems saving: java.nio.file.NoSuchFileException: /home/il/Documents/Studies/Publications&Products/Resources/Literature-bibtex.bib.tmp -> /home/il/Documents/Studies/Publications&Products/Resources/Literature-bibtex.bib
	at org.jabref@5.3.21/org.jabref.

[2021-08-08 23:01] k3KAW8Pnf7mkmdSMPHz27 commented on #7927
@calvinmorett not sure if you are still looking at this issue but perhaps these two links are relevant,

1. https://stackoverflow.com/questions/47562036/javafx-textflow-set-default-text-color , in this case, perhaps `TextFlowLimited > Text` is a usable selector (based on Scenic-View and the above link). It can at least set the text to a static color using `-fx-fill`.
2. Based on https://stackoverf

[2021-08-11 05:53] btut commented on #7942
I implemented the file-type filter, but am not sure that fixes anything. @wujastyk and @ilippert could you please try that fix?

[2021-08-11 08:31] btut commented on #7961
Sorry for the delay. I implemented the `currentfile / all files` in #7981.

This was intended behaviour actually. I wanted it to actually be completely in the background and only have the progress shown on demand. Now you might ask why and I am afraid I don't have a satisfactory answer. I now agree that having the indicator reflect the progress of the indexing as well would be helpful. Some change

[2021-08-11 08:32] btut commented on #7942
Great! I'll let you know once that is the case. Thank you!

[2021-08-11 08:50] tobiasdiez commented on #7961
I agree that you don't want to have the index operation for each file showing up in the progress pane. It's just too much noise. Thus, I would say showing one "Indexing" task per database is perfectly fine.
But what I don't understand is why you then cannot "have the indicator reflect the progress". With https://github.com/JabRef/jabref/pull/7981 you do now have an indexing task that has a progres

[2021-08-11 09:20] btut commented on #7961
I guess the usual use-case is not to add lots of individual files in a single use of JabRef, is that correct? Just to clarify, when starting JabRef, there would still be just one task per database updating the index (in case pdf's changed since JabRef was last started). Then, additional tasks would be added for each new/removed pdf. So it's not terribly overwhelming, but I still think having one t

[2021-08-11 13:26] frantik2477 opened #7982 "Don't activate group when expanding or collapsing"
When I want to assign an entry to a subgroup, I have to first expand the parent group and then drag-and-drop my entry in the appropriate subgroup. The problem is that when I expand the group, by clicking on the arrow on the right, the group gets activated (the entry table only shows the group entries) and, therefore, I have to go back to "All entries" and locate my entry again. The parent group ge

[2021-08-11 14:35] btut commented on #7942
Thanks @wujastyk for your time! Unfortunately the filtering is not yet in main, you would have to build from source to try the modification (the PR build is not up yet).
In the meantime, it would be great if you could give me some more details:

- How large is your library?
- How many files do you have linked in your library?
- If you start JabRef, wait for the indexing to be done (click the backg

[2021-08-11 14:47] ilippert commented on #7942
Hi, not asked, but still providing. I have +10k entries with say 1k files linked. I have no idea for how long to wait for the indexing to be done as there is no percentage given ;) (that would probably count as an improvement)

[2021-08-11 14:54] ilippert commented on #7942
I cannot reproduce the error anymore reliably - with autocompletion off. No idea what changed (maybe the decisive change was my reconfiguration reported at https://github.com/JabRef/jabref/issues/6559#issuecomment-894776319 )

[2021-08-11 17:35] btut commented on #7942
Your right, that would count as an improvement ;) #7981

Good news. But what do you mean reliably? Does it still happen from time to time?

[2021-08-11 20:40] ThiloteE commented on #7982
While i agree that this is very suboptimal, a workaround for now could be to enter it manually in the bib file (the {} biblatex source field):

`groups           = {groupname 1, groupname 2, subgroup 1,},`

Btw. when i did some tests on this, i realized that subfolders ALWAYS have to have different names, otherwise the entries mix up.

What is advisable:
Parentfolder 1, Subfolder1, Subfolder 2
Par

[2021-08-12 00:31] wujastyk commented on #7942
@btut
JabRef 5.4--2021-08-10--3c5a316
Linux 5.4.0-80-generic amd64
Java 16.0.2
JavaFX 16+8I

I don't see that "background-progress-status-indicator " button.  Is it perhaps not present for Linux users?
![image](https://user-images.githubusercontent.com/762246/129119671-282ad1c2-8a1e-4802-8895-76cab53e279b.png)

I have 5000 entries and 7000 files in my PDF directory (but obviously not all linked).

[2021-08-12 07:13] mlep commented on #7942
About the status button: I have it on my Linux computer:
![ksnip_20210812-090910](https://user-images.githubusercontent.com/6931104/129153627-4e98a4dc-f2c1-4f12-a4f1-1f8017ecdf05.png)

JabRef 5.4--2021-08-10--3c5a316
Linux 4.19.0-17-amd64 amd64
Java 16.0.2
JavaFX 16+8

[2021-08-12 09:15] btut commented on #7942
I am a linux user as well and i see the indicator. On your screenshot it looks like the separator is there and that there is some space reseverd for the indicator, but it does not show. Did you by any chance notice that it was missing before upgrading to 3c5a316?

[2021-08-12 09:18] Siedlerchr commented on #7942
Try to resize the window to the right?

[2021-08-12 11:09] calixtus commented on #7942
If an item in the toolbox is not displayed because the window is too small, at least a chevron should show with a context menu providing the hidden toolbar buttons

[2021-08-12 15:11] frantik2477 commented on #7982
Thanks for your answer, @ThiloteE.

Yes, manually adding the desired group names in the "groups" field can work, but then you have to be careful about typos etc, especially if have many groups to deal with. And yes, subgroups are not really assigned to their parent groups and hence they do all need to have different names. But this has been the case in older versions of JabRef as well, I think. An

[2021-08-12 21:55] #6099 closed

[2021-08-13 07:06] mlep commented on #6099
@rayinfinite  : thank you for making JabRef UI more consistent!

[2021-08-13 10:49] ruilvo commented on #5858
I have this exact issue, as filed. Commenting to try re-opening it.

[2021-08-13 10:59] ruilvo commented on #5858
For completeness:

[code]

My problem is *exactly* what the OP describes. I use the web extension a lot because it gathers more stuff than DoI. It's often that I add something via DoI or file, and then visit the webpage to get the extra information, and get it merged. But right now, I end up having to import, accept the merge error, and then manually merging.

As the OP mentioned, the little butto

[2021-08-13 15:00] btut opened #7984 "Importing PDF with 'Any file' filter parses PDF as BibTeX instead of using PdfContentImporter or PdfXmpImporter"
All files imported without explicitly selecting an importer in the file-choose dialog are parsed as BibTeX files before trying any of the dedicated importers.
This is done [in the importUnknownFormat method](https://github.com/JabRef/jabref/blob/ca0db06db12e21ea439ed1f34383439473830152/src/main/java/org/jabref/logic/importer/ImportFormatReader.java#L158-L183).
The method:

- First tries to parse t

[2021-08-13 17:24] Siedlerchr commented on #7984
Thanks for the investigation, I  would move to the status as it was before.

[2021-08-15 04:13] wujastyk commented on #7942
Yes, I now see the background-progress-status-indicator.  Sorry for being so stupid, everyone :-)

But I can't click it to see what's happening, because as soon as I start typing a search, everything freezeees.

[2021-08-15 08:36] ilippert commented on #7072
When I attach a file, it does attach, but I get an error in

JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.8-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

<details>
  <summary>Log File</summary>
[code]
</details>

[2021-08-15 08:37] ilippert commented on #7072
This is the complete error message that JabRef offers to me.

I did not press any keys whilst drag & drop.

[2021-08-15 08:41] ilippert opened #7986 "Entry editor columns not well adjusted"
JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.8-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

![Screenshot from 2021-08-15 10-31-24](https://user-images.githubusercontent.com/20518297/129472287-f501822e-93ab-444a-9af8-b66424c3073a.png)

shows the three "columns" view of the entry editor with two left hand columns of fields.
This is the default view on my system.

This has been a visibility bug (for

[2021-08-15 10:35] ilippert commented on #4877
JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.8-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

yeah, still happening.

A related issue (should I create a new one): it used to be the case that after a library's name a star indicated a change of the file. I cannot see this anymore. It was usefull, imho.

[2021-08-15 10:46] ilippert commented on #5904
@Siedlerchr, I still appearance this problem in

JabRef 5.3--2021-07-16--c99d61c
Linux 5.13.8-200.fc34.x86_64 amd64
Java 16.0.1
JavaFX 16+8

[2021-08-15 19:30] Siedlerchr commented on #7971
The error could be related to some threading error in combination with Timestamp/Modification Date.
I'm trying to reproduce this but cannot in the latest dev version (5.4..)
Do you have any save formatters enabeld?

[2021-08-15 21:07] koppor commented on #7986
This refs #6856 and https://github.com/JabRef/jabref/issues/6191.

[2021-08-15 23:36] ThiloteE commented on #7982
#3176 seems related. Very old issue.

[2021-08-16 00:17] ThiloteE commented on #7871
![non-group entries shown without group colour](https://user-images.githubusercontent.com/73715071/129495808-0a698928-183e-4af9-8ddf-c252a5747b7b.jpg)

One can see a non-group item when using the ALL ENTRIES group and checking the group colour. No colour means: The entry is not assigned to a group.

Entries that have a group entry in the bib file, but that very group has not been created in JabRef

[2021-08-16 06:21] ilippert commented on #7971
Hi, "save formatters", as in "linked file name conventions"? Or what to search for in the Preferences?

[2021-08-16 06:28] Siedlerchr commented on #7971
Hi, the Save actions in the LIbrary properties at the bottom

[2021-08-16 06:39] ilippert commented on #7072
error still at JabRef 5.4--2021-08-15--96061b7
Linux 5.13.9-200.fc34.x86_64 amd64
Java 16.0.2
JavaFX 16+8

[2021-08-16 07:20] btut commented on #7942
The attempted fix is now merged. @wujastyk could you please:
- update to the current main
- Open your library
- Try to start a search
- If that fails:
  - restart jabref
  - Observe the background-progress-indicator and wait for the indexing task to be done (takes about a minute for 100 files on my machine - will only be done once per pdf. Once comlete, the index will be stored and not rebuilt eac

[2021-08-16 07:53] ilippert commented on #7971
Thanks, no save formatters enabled.

[2021-08-16 07:56] Siedlerchr commented on #7986
See https://github.com/JabRef/jabref/issues/6901#issuecomment-691493493 for the code

[2021-08-16 09:30] ilippert opened #7987 "Could not save file"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Fedora

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reprod

[2021-08-16 09:55] starsareintherose opened #7988 "Auto renmae and move the attachment files option"
**Is your suggestion for improvement related to a problem? Please describe.**
After a bib file is imported, the attached files can be moved to a  dest dir using some rule, such as year or just one single dir. And rename the files in some rules, such as bibtex or so on.

**Describe the solution you'd like**
Like existed rename function, it should give options to do it.

**Additional context**
Add a

[2021-08-16 11:47] starsareintherose commented on #7988
clean

[2021-08-16 11:47] #7988 closed

[2021-08-16 13:27] btut commented on #7961
@tobiasdiez do you have any more thoughts on this? I am struggling to decide how to move forward.

[2021-08-16 13:58] btut commented on #7962
I've spend some more thought on this, please see my ideas / plan below:

True, I removed it.

Hm, I'll investigate how this may happen. I think it shouldn't. If it is unavoidable, I'll add a message.

I see how this could be irritating. However, as of now the index does not store any location information. We can only tell that the hits are separated. So the only thing we could do would be visual s

[2021-08-16 14:56] wujastyk commented on #7942
JabRef 5.4--2021-08-15--96061b7
Linux 5.4.0-81-generic amd64
Java 16.0.2
JavaFX 16+8

I tried a search and the results were as before, a freeze after typing about four chars.

I killed and restarted and didn't search.  As soon as the background-progress-indicator displayed, it seemed to show that indexing was already complete.

![Screenshot from 2021-08-16 08-51-48](https://user-images.githubuserc

[2021-08-16 14:59] btut commented on #7962
Actually, we could do that with GROBID. But that would be a little much for now. Let's stick with page numbers and add sectioning later on.

[2021-08-16 15:29] btut commented on #7942
Ah, good to know. This means the index was already completed at some point. So we can exclude a concurrency issue with the index-creation.
Could you share your log output? Maybe we can find something interesting there.

[2021-08-16 17:13] wujastyk commented on #7942
It's a chicken and egg thing.  If I start a search, the program freezes and I can't open the log.  If I don't do a search, the log is empty.

[2021-08-16 18:18] koppor opened #7995 "Disable tab "Related Articles""
- [ ] ![grafik](https://user-images.githubusercontent.com/1366654/129610652-ba2cc8e9-a2ea-4506-812d-44188c145b38.png)
- [ ] Disable Mr. DLib tests on the CI

---

- Mr. DLib is currently down
- Mr. Dlib did not receive improvements the last year
- Mr. Dlib will be upa gain in some months

[2021-08-16 18:30] koppor commented on #7942
- Refs https://github.com/koppor/jabref/issues/513

[2021-08-16 18:34] koppor commented on #7874
Workaround by https://github.com/JabRef/jabref/issues/7995.

[2021-08-16 18:59] #7853 closed

[2021-08-16 19:23] koppor commented on #6815
- [ ] Use the discussion as test cases for unicode conversion (especially the round-trip https://github.com/JabRef/jabref/issues/3644)

[2021-08-16 22:31] ThiloteE opened #7996 "Search for an entry without triggering group or other fields"
**Problem**
- when i search for an entry that is within a group and the groupname is similar to what i search for, the group field triggers and thereby unfortunately shows all entries within that group, even though there are many entries that are not relevant to my search.
- the problem intensifies when having hundreds of groups and thousands of entries
- Search commands such as "not group and tit

[2021-08-16 23:39] ThiloteE commented on #4237
The following statements are based on the most current version of JabRef.
(JabRef 5.4--2021-08-15--96061b7
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 16+8)

I would like to argue that the problem description as described in the first post is currently not a bug, but **a feature**. Changing this now would be one step forward, but one step back.

- As far as i am aware, there is no other way to search

[2021-08-16 23:44] ThiloteE commented on #4237
Turns out Citavi has even more additional search options:

![image](https://user-images.githubusercontent.com/73715071/129642394-20ccf725-c1e1-45ac-b4f3-f89748ab8df5.png)

(I post this not as advertisement, but as inspiration for a possible solution to our problems.)

[2021-08-17 06:12] starsareintherose opened #7997 "Custom configure search full text online"
**Is your suggestion for improvement related to a problem? Please describe.**
Could I know where can be modified if I want to use a different way to search full text online?

**Describe the solution you'd like**
For example use doi or ISBN to find the full text.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-08-17 06:45] mlep commented on #7997
If I understand your demand properly: In JabRef 5.3, go to Options -> Preferences, tag Customization.

[2021-08-17 06:52] starsareintherose commented on #7997
Thanks, but it just provides a way to custom the URL. But if I would like to direct download the file from the URL and attach it, how can I do it? a similar way to do it is in Zotero. Such as the way sci-hub, I know it would meet the danger of the law, but JabRef doesn't need to do so, just give the users this option. It can also be used in other servers besides scihub

[2021-08-17 07:09] Siedlerchr commented on #7997
HI,
JabRef by default searches multiple sources for the full text. You can also manually download a file. in the entry editor -> General tab -> Next to the file field is an icon button (third icon) which lets you download from as a direct url. You just enter the URL to the pdf file and JabRef will download it.

[2021-08-17 07:15] starsareintherose commented on #7997
Could you give me a screenshot, sorry for my understanding. And could this function be used by batch?

[2021-08-17 07:22] Siedlerchr commented on #7997
<img width="1176" alt="Bildschirmfoto 2021-08-17 um 09 21 19" src="https://user-images.githubusercontent.com/320228/129681906-d8ba0d01-2615-49c6-ac71-ed8051fa7c7d.png">

This only is per entry

[2021-08-17 07:26] starsareintherose commented on #7997
I set the customization using `https://sci-hub.se/` and then use this option, it asks me to fill the download URL manually and I can't do it by batch, so I would think this is a function suggestion.

[2021-08-17 09:56] btut commented on #7942
@wujastyk thanks again for your help. I talked to the maintainers about the issue yesterday. I got a big library from @koppor, hoping to run into the same issues as you, but the search still works fine for me (both while and after building the index).
There are two more things we can try out:
- please disable fulltext search (disable the rightmost toggle button on the right of the search bar)
![Sc

[2021-08-17 10:05] ilippert commented on #7942
I would recommend also sending along the preferences. I suggest that because in a case with search & crashes I traced the issue back to preference settings.

[2021-08-17 11:07] Siedlerchr commented on #7072
Good news, this might be fixed with the upcoming JavaFX17 version which will be released soon

[2021-08-17 19:28] #6142 closed

[2021-08-17 21:13] tobiasdiez commented on #7961
Why is it only a placeholder task?

I'm not that familiar with how you implemented the index background tasks (and don't really have the time to dive into this), but maybe something like the following gives some ideas:
- You have one global queue of pdfs that need to be indexed.
- You have one background tasks that if run checks the queue and indexes all pdfs in the queue (sequentially, in the sam

[2021-08-17 21:46] tobiasdiez commented on #7962
That would be a very good start, and with the added page numbers very helpful. The section can be added later indeed.

Sadly, adding the webview is a very expansive operation, so I'm not sure how the performance is (but that can be easily tested if you search for a very common term). On the other hand, I would really advice not to use a html-based display. Lucene also seems to provide a method to

[2021-08-18 07:18] btut commented on #7961
Overall I think your approach would probably be more comprehensible and easier to maintain (no need for the placeholder task), but:

The problem that I am currently trying to solve is that the 'average progress indicator' in the menu shows no task running while indexing because of the use of the placeholder task that is never running. With your suggestion, the issue would be the other way around,

[2021-08-18 07:25] starsareintherose opened #7998 "Could I custom the cite output? (VIM)"
**Is your suggestion for improvement related to a problem? Please describe.**
Now I use vim to write my markdown file and use JabRef to cite. But now I can only input `@{citationkey}`, however, the citation in markdown format is `@citationkey` or `[@citationkey]`, so how can I custom `{}` as ` ` (nothing)  to meet the rule of citation key

**Describe the solution you'd like**
Though I can modify t

[2021-08-18 07:34] tobiasdiez commented on #7961
The background task can also simply stop once the queue is empty, and be restarted if another PDF is added to the queue. I think this is more effective than having the background task check the queue every few milliseconds.

[2021-08-18 07:41] btut commented on #7961
Oh, I thought tasks can only run once.

Definitely. I expected there to be a locking flag in CuncurrentLinkedQueue to avoid the busy wait, but stoping and restarting sounds like a great way to solve this! Thanks!

[2021-08-18 08:08] Siedlerchr commented on #7998
Yes, this is possible.
In the latest development version https://builds.jabref.org/main/ (JabRef 5.4...), you will find it under Preferences -> External Programs
![image](https://user-images.githubusercontent.com/320228/129862005-90f24cfb-645a-422f-9b1b-5317f829d05d.png)

[2021-08-18 08:50] Siedlerchr commented on #7998
Ah now I see what you mean. It's hard-coded at the moment to curly braces.

https://github.com/JabRef/jabref/blob/bb011c9313367a28990ae213b3920fe6cd10d1dc/src/main/java/org/jabref/gui/push/PushToVim.java#L61-L64

[2021-08-18 09:59] btut commented on #7961
Update: I implemented your idea in d229eee. It simplifies a lot and works like a charm (except a workaround needed to avoid multiplying the tasks when restarting 5811f87)! Thanks a lot!

[2021-08-18 10:05] btut commented on #7962
I have to say you kinda have me in love with the section idea now... I looked into what Grobid provides and I think that is quite helpful. Also, it probably would improve the results themselves because Grobid manages to keep sentences together (e.g. in two-column documents, thats not always the case with other readers, depending on the document). Unfortunately I still think it is a lot of overhead

[2021-08-18 10:28] Siedlerchr commented on #7962
For the Textflow I think we have highlighting in the open office editor where you can edit citation details (e.g page number)

[2021-08-18 10:39] btut commented on #7962
I think the UI part is very easy. Finding out what to highlight is the "problem".

[2021-08-18 10:46] starsareintherose commented on #7998
So, if I want to use ` ` instead of `{}`, I need to recompile it or anywhere I change, for the compiled software.

[2021-08-18 10:58] Siedlerchr commented on #7998
I think we need to add a field in the prefs to allow to specify the braces type.
@calixtus  Would this be useful to add an extra field there or maybe a radio button? Might be the case for other applications as well

[2021-08-18 11:01] ThiloteE opened #7999 "Find and replace an existing group while selecting {}bibtex source leads to error"
### JabRef version

Latest development branch build

JabRef 5.4--2021-08-15--96061b7
Java 16.0.2
JavaFX 16+8

### Operating system

Windows 10

### Details on version and operating system

Windows 10, 10.0 amd64, 21H1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development versio

[2021-08-18 11:02] rajatshrm648 commented on #7970
hi @ilippert  , I want to solve this problem
Can you plz tell me in which file did you get this exception?

[2021-08-18 11:05] ilippert commented on #7970
I am afraid I do not know which file was opened at this point.

[2021-08-18 11:23] Siedlerchr commented on #7970
Did you modify the bibtex source?

[2021-08-18 11:25] ilippert commented on #7970
At least I can state that I routinely modify the bibtex source

[2021-08-18 11:27] Siedlerchr commented on #7970
Okay, this might be an indicator and would correlate with the stack trace

[2021-08-18 11:42] starsareintherose commented on #7997
So, the possible way to make it is to directly download the PDF or any other things from custom doi by batch.

[2021-08-18 11:52] calixtus commented on #7998
Mh, I believe we need to change how the cite command is implemented. Instead of just combining the latex cite command \cite with the curly braces, we should implement a simple template

[2021-08-18 12:23] ThiloteE commented on #7999
Reproduction of Problem in Video:
https://user-images.githubusercontent.com/73715071/129897377-5c3219b8-ec1b-4343-994c-1a052db55fbe.mp4