[2016-06-17 20:34] giacomociani commented on #1503
I see... I misunderstood its functionality. Thanks for the prompt answer!

Giacomo

[2016-06-17 20:34] #1503 closed

[2016-06-18 00:32] melTr opened #1504 "Normalize bibtex acts strangely"
JabRef  version 3.3 or 3.4 Ubuntu 14.04
I use "normalize to Bibtex" quite often on manual entries. Before, the result was almost often correct. But in this version, I can't get it.

Paste those authors:
Cristina Bosoi, Mariana Oliveira, Rafael Ochoa Sanchez, Mélanie Tremblay, Gabrie TenHave, Nicoolas Deutz, Christopher F. Rose, Chantal Bemeur

Normalize to bibtex give : Cristina Bosoi, Mariana Oli

[2016-06-18 14:32] olivierfruchart opened #1505 "Issue when searching a regular expression"
JabRef version 3.5dev 2016-06-14 on Windows 10

In the search textbox if one types keywords="dzy", then I expect that entries are shown only if there is at least one keyword with this exact sequence. Instead, entries are also select, if one keyword contains a "z", another one a "d" and one with a "y". This behavior remains whetever the search options checked, regular expression on or off.

[2016-06-18 20:19] Siedlerchr commented on #1505
Hi, thanks for your report.
In the 3.4 release  on Win7 it works accurate.
Having one entry with keyword dzy and other entries with keyword "d" and "z"  and using your search terms it correctly  displays only one result.

Did you check the Float/Filter Option in the Search?
It can either hide all other entries or just gray them out. Maybe this is the problem?

[2016-06-19 15:00] olivierfruchart commented on #1505
Hi, thanks for the feedback.
I finally found out the problem. Entries with a tag always appear at the top of the list in the 'float' mode, even if they do not fit the search. In the 'filter' mode they are not visible, which is more consistent. Thus it is not a bug but rather an annoying feature. In my view, tagged entries not fulfilling the search may appear first atop the grayed items, however no

[2016-06-19 16:02] koppor commented on #661
When using a development version, the dialog looks like this:

![updatedialog](https://cloud.githubusercontent.com/assets/1366654/16178437/00f97f98-3648-11e6-924a-4b4ea64ea5c1.png)

[2016-06-20 07:34] matthiasgeiger commented on #661
Is this really necessary?
We are not working with "Release Candidates" or "Beta Versions" - but the newest "development version" is simply a snapshot of current master - which changes (in phases where someone has time for development) daily or even more frequent - i.e., users of the dev versions will see this dialog every time they start JabRef.
I would prefer the following: If a dev version is in

[2016-06-20 07:57] matthiasgeiger commented on #1500
Thanks for your report!

I can confirm this behavior for JabRef 3.4 and also the current development versions: In the UI grouping still works (i.e., although the new group name is displayed, internally it is still searched for the old term and therefore the group entries are still found correctly) - however, in the serialization the old name of the group is used in the `groups` field.

[2016-06-20 08:05] matthiasgeiger commented on #1504
Thanks for your report!

I can confirm this behavior in JabRef 3.4 and the current development versions.

We are currently working on an improvement of the "Normalize to BibTeX" functionality (see #1181 and #1470).

[2016-06-20 08:06] matthiasgeiger commented on #1181
Please check whether your improvement also solves #1504 by adding the example as an additional test case.

Thanks!

[2016-06-20 08:14] matthiasgeiger commented on #1505
Thanks for your feedback!
Yes, if the option "Float marked entries" is activated in the prefs ("Entry Table" tab) the entries are still floating even if they do not match the active search.

@simonharrer I think that @olivierfruchart is right: The marking entries should placed beneath the search hits. WDYT?

[2016-06-20 08:23] matthiasgeiger commented on #1498
Hi Mélanie,
thanks for your report!
I think your issue should be solved if you change the order of the formatters in the Preview settings so that the `HTMLChars` is the last one:
So instead of
`\begin{author} \format[HTMLChars,AuthorAbbreviator,AuthorAndsReplacer]{\author}\end{author}` please try:
`\begin{author} \format[AuthorAbbreviator,AuthorAndsReplacer,HTMLChars]{\author}\end{author}`

Does t

[2016-06-20 08:28] gianlucabaldassarre commented on #1502
Hello Lenhard,

Thanks a lot for your very useful indications on the use of newline ( new-line , new line , line ending , end of line , EOL, line break) in JabRef.

I confirm that in JabRef 3.4 if you set:
Preferences -> File -> Do not wrap the following fields when saving: --> Add  comment  (separated from other fields with a ; )
then the newlines are no more deleted from the comment field by Jab

[2016-06-20 08:28] #1502 closed

[2016-06-20 09:23] gianlucabaldassarre opened #1506 "Key generator: how to obtain LastnameLastname2016WordsOfTitleWithUpperFirstLetter ?"
JabRef version 3.4 on Debian 8 Jessie

Hello, I would like to set the key generator of JabRef so that it produces a key of the type:
[authors][year][title]
but I would like that the words of the title are all forced to have an initial upper letter to facilitate the reading of the key (by ``forced'' I mean independently of the fact that the words of the title are lower or upper case in the title fi

[2016-06-20 10:16] matthiasgeiger commented on #1506
Hey Gianluca,
this is currently not possible.

But I agree that the feature would be useful to improve readability of such bibtex keys. We'll see whether we can add this in a future release.

[2016-06-20 12:52] tobiasdiez commented on #1495
I could implement that the whole hierarchy is always written in the groups field. But what about cases where the same group name is used on the same level, i.e. 1 > A > a and 1 > A > a with different entries? should this case just be forbidden upon creation of the group?

[2016-06-20 13:04] simonharrer commented on #1505
Yep, this seems to be a bug.

[2016-06-20 13:58] tobiasdiez commented on #661
I would prefer an automatic update of the dev version via install4j. We really need as much testers of the dev version as possible and thus it should be very very easy to stay up-to-date with the recent version (maybe add a mechanism that the popup is only displayed once a day or so). Also the funding argument does not apply in the case of the dev version.

[2016-06-20 14:05] simonharrer commented on #661
install4j seems to be quite complicated to handle - @stefan-kolb can probably say something about this. I am not sure if investing time into this which is not completely necessary is worth the effort. Maybe we can achieve something quickly, but I am not sure.

[2016-06-20 14:54] gianlucabaldassarre commented on #1506
Hello,

Thanks, that would be very useful!
I guess other people would use that feature to make the words of title more easily readable within the keys. Also, this would allow to standardise the title part of keys as in some references they come with an upper initial letter, in some others with a lower initial letter, and in yet some other with both (upper for keywords, lower for conjunction words)

[2016-06-21 10:19] rvb-033 commented on #1425
I confirm the issue with V3.4 downloaded Saturday. I have a 7000 records database and 3 groups (publication, authors and keywords).

[2016-06-21 10:32] rvb-033 opened #1507 "Keywords management works only with the comma as a delimiter"
I am running V3.3 under windows 8 on an I5 computer.
For convenience and practical reasons I am using the semicolon (;) as a delimiter in the keywords list.
I specified it in the options/preferences/groups menu.
When I use the Keywords Management Tools, keywords are modified as instructed but the resulting keywords lists are re-compiled with a comma (,) instead of the semicolon (;).
Additional que

[2016-06-21 14:56] anassal opened #1508 "On duplicate group names"
In JabRef version 3.4:

If you create a group structure like this:
[code]
And then assign an article to the group _Treatment_ under _Asthma_ it will also appears in the other _Treatment_ group.

I guess this is a bug?

If group names should be unique (regardless of the hierarchy), the above structure could be renamed like this:
[code]
However, I suggest that:

- Each group is identified by both it

[2016-06-21 19:51] Alfonsib opened #1509 "Link to online help does not exist"
Hi!

I use latest release of JabRef (3.4, x64). Until the 2.x series, JabRef installed its help with the program. It seems to have been replaced with an Online help link, which does not work on my system (Win7 Pro SP1). What can be done?

[2016-06-21 20:26] jkulesza opened #1510 "Autocompletion based on frequency of previous occurrences"
Does it make sense to introduce autocompletion logic to suggest entries ranked by number of previous occurrences?  In this way, more common terms will be suggested ahead of alphabetically superior ones.

For example, assume I have two Journals in my database: Journal of Medical Physics (50 Entries), Journal of Medical Biophysics (2 Entries).  As I type Journal...of...Med... the Biophysics journal

[2016-06-22 06:01] koppor commented on #1509
What does "not work on my system" mean? Is the browser opened? Which page is displayed in the browser?

Due to other planned support channels, we reconfigured our DNS entries and it seems that help.jabref.org had DNS issues. I just fixed it. DNS usually takes 24 to 48 hours to update. Could you check again in a few hours?

1. Open http://help.jabref.org/ in your browser.  Does the following page a

[2016-06-22 06:55] lenhard commented on #1508
Thanks for spelling this out so nicely, but the bug has already been reported in #1495.

So, I am closing this as a duplicate.

[2016-06-22 06:55] #1508 closed

[2016-06-22 08:12] anassal commented on #1495
@tobiasdiez I think so: duplicate names should not be allowed for sibling groups, just like file names in a classic file system.

[2016-06-22 08:21] koppor commented on #1495
@tobiasdiez I don't get your example. Does that mean, that it is not possible to have the same group `a` associated with two different entries? (With `a` being nested in `A`, being nested in `1`). I would allow two entries belonging to the same group... Maybe, I did get something wrong.

[2016-06-23 11:28] Siedlerchr commented on #1249
@melTr Biblatex explicitly needs the Date format in ISO, from the BibLaTeX reference manual:
http://tug.ctan.org/macros/latex/exptl/biblatex/doc/biblatex.pdf
2.3.8 Date Specifications

specification in yyyy-mm-dd format. Date ranges are given as yyyy-mm-dd/yyyy-mm-dd.[...]

The formatted display of the date in the citation/bibliography is depending on the biblatex style and language you use and of

[2016-06-24 08:13] teertinker opened #1512 "Global search broken in 3.4"
JabRef version <3.4> on <Ubuntu 16.04>  OpenJDK

Steps to reproduce:

1. Have multiple bib files open
2. go to file 2 search for a term that is also present in file 1  (no special options)

the following happens usually - either using filtered or highlighting mode :
![image](https://cloud.githubusercontent.com/assets/8830305/16331961/a815ca1c-39f3-11e6-8b7d-78caddea08ee.png)

closing the window an

[2016-06-25 07:51] tobiasdiez commented on #1275
I think I finally found the origin of this bug and just pushed a new version to the Mozilla rep. It should be reviewed in the next days and then become officially available. Until then you might want to try it out under https://addons.mozilla.org/en-US/firefox/addon/jabfox/versions/?page=1#version-1.0.2

Let me know if this fixes the bug for you.

[2016-06-25 07:55] bernhard-kleine commented on #1275
This is strange, I thought you have already found it two weeks ago,
since that time firefox no longer crashed, as far as I know.

Thanks for you efforts

Bernhard.

Am 25.06.2016 um 09:51 schrieb Tobias Diez:

--
--
spitzhalde9
79853 lenzkirch
bernhard.kleine@gmx.net
www.b-kleine.com, www.urseetal.net
-
thunderbird mit enigmail
GPG schlüssel: D5257409
fingerprint:
08 B7 F8 70 22 7A FC C1 15 49 CA

[2016-06-25 07:57] #1275 closed

[2016-06-25 11:24] rvb-033 commented on #1507
Hello, tobiasdiez,
A I understand it, you modified the code to fix the issue. When and where will the patch be available, or would you like me to test it ?
Regards

[2016-06-25 20:34] tobiasdiez commented on #1507
Yes, I tried to fix it. It would be really helpful if you could try it out. The preliminary test build is available under http://builds.jabref.org/fix1507/.

[2016-06-26 12:15] tobiasdiez opened #1513 "Search results not updated after import"
JabRef version latest dev on Windows 10

Steps to reproduce:
1. Search for something, say "test"
2. Import an entry which would be matched by the search (say it was written by the author "test")
3. View is not updated to incorporate new hit
4. Also not updated after pasting a new entry

[2016-06-26 12:39] tobiasdiez opened #1514 "Autocompletion not updated after import"
JabRef version latest dev on Windows 10

Steps to reproduce:
1. Import an entry (via --importToOpen), say with "test" as author
2. Author information in this entry is not used to update the search autocompletion. That is, searching for `tes` does not provide the autocompletion option `test`.

[2016-06-26 14:00] jonasstein opened #1515 "broken umlauts in "about JabRef" window"
JabRef version 3.4 on Gentoo Linux

Steps to reproduce:
Open About Jabref in the menu.
see screenshot
![2016-06-26_jabref3 4_about](https://cloud.githubusercontent.com/assets/298682/16362751/0933965c-3bb7-11e6-9d9f-a9dfd1072f51.png)

[2016-06-26 14:04] jonasstein opened #1516 "typo Isbn -> ISBN"
JabRef version 3.4

Isbn should be ISBN (https://en.wikipedia.org/wiki/International_Standard_Book_Number)
Doi should be DOI (https://en.wikipedia.org/wiki/Digital_object_identifier)

see screenshot
![2016-06-26_jabref3 4_isbn](https://cloud.githubusercontent.com/assets/298682/16362770/a670ac98-3bb7-11e6-96d9-03abe133ba93.png)

[2016-06-26 15:01] koppor commented on #1516
URL, URI, ISSN are also candidates for other casing.

Maybe we should display the fields as we currently write them out:
everything in lower case.

Would that also be fine with you?

isbn, doi, url

[2016-06-26 15:04] koppor commented on #1515
This is a dublicate. Maybe you can find it when searching for gradle in the
issuea.

(excuse brievety, using FP2 on the road)

[2016-06-26 15:09] jonasstein commented on #1516
Why not write it in their correct spelling? I am not in the development team, so I do not have the right to decide about spellings, but to my understanding it would be very logical to write things as they are written. Please correct me, if I miss some obvious point here. Best regards, Jonas

[2016-06-26 15:42] jonasstein commented on #1515
@koppor thank you. I found it in #1178 I close the bug here.

[2016-06-26 15:42] #1515 closed

[2016-06-26 17:25] rvb-033 commented on #1507
I tested it. It works fine. Just one remark : the keywords lists are recompiled without the space that comes after the semicolon, but this does not seem to cause problems.
This version is still too slow due to the group management issue (my database is 7000 records and has tree groups). Suggestion : if you can, try to update the groups upon operator request instead of automatically. It is less ele

[2016-06-26 19:18] tobiasdiez commented on #1507
Thanks for testing. Yes you have to specify the semicolon as well as the space as a separator, i.e. `>; <`.

Will try to further improve the group performance.

[2016-06-27 07:05] stefan-kolb commented on #1509
I recently added a test that all help links are available (return status 200), so this should normaly work...

[2016-06-27 07:26] koppor commented on #111
We now have our discussion forum hosted using [discourse](https://www.discourse.org/) at http://discourse.jabref.org/. All discussion forums on sourceforge should be read-only now. I can't set the mailing list read only. Thus, we have to wait until the users really switch to discourse.

[2016-06-27 07:57] oscargus commented on #1484
Sorry for late reply. My guess is that the export filter does not run the Unicode to HTML converter for unknown reasons, since it works for the other HTML variants. I will not have time this week to look more into it.

[2016-06-27 17:53] Siedlerchr opened #1519 "ISBN2BibTex adds the word "Seiten" in Biblatex pagetotal number"
JabRef version 3.4  Windows 7 x64

ISBN2BibTex fetcher includes the word "Seiten" in pagetotal.

Sample ISBN:
978-0131873216

In the pagetotal field, I get "988 Seiten".
It should be only the number.
Quote from BibLaTeX manual:

[2016-06-27 18:10] bruehldev commented on #1504
I've added the possibility to normalize the comma separated names. Also i trimmed spaces of the names and separated the different syntax cases to enable more stability.
The related tests are in the test file.

[2016-06-28 07:20] simonharrer commented on #1512
Does JabRef 3.3 work correctly?

[2016-06-28 07:21] simonharrer commented on #1519
Hm, maybe this is related to the external service.

[2016-06-28 07:31] matthiasgeiger commented on #1512
Thanks for your report.

I cannot reproduce this behavior with JabRef 3.4 (on Win10).

In your first screenshot the title of the opened search window indicates that no global search has been performed but a search in a single bib file.

What is your exact workflow?
After entering the search term you click on "Global suchen" (or "Search globally")? Or are you using a shortcut?

[2016-06-28 07:38] Siedlerchr commented on #1519
Yeah, that seems to be related to  the Ebook.de API.
I maybe find some time to look into that.

[2016-06-28 08:13] teertinker commented on #1512
Thank you very much @matthiasgeiger! Its a bit embarrassing, since I am using JabRef for so long. Apparently, I was clicking the "Pop search out" symbol from time to time and didn't realise that its not for global search. A careful read of the window title would have directed me to the failure.

[2016-06-28 08:13] #1512 closed

[2016-06-28 09:42] simonharrer opened #1521 "Promote discourse.jabref.org"
- [x] README ~~with a badge~~
  - badges for discourse seem not to be available
- CONTRIBUTING.md as we would like users to participate there
- [x] Alter issue-template so that features and enhancements can be discussed in "To propose new features and enhancements please use http://discourse.jabref.org/c/features"
- Add label for issues which have a discourse thread attached?

[2016-06-28 10:00] #1431 closed

[2016-06-28 13:35] tobiasdiez opened #1523 "Display error message if fetcher has connection problems"
Background: http://discourse.jabref.org/t/trouble-accessing-medline/44/4

[2016-06-28 13:42] tobiasdiez commented on #1425
We tried to further improve the performance. Could you please try out the latest development version http://builds.jabref.org/master/? Thanks!

[2016-06-28 13:50] #1507 closed

[2016-06-28 14:08] AEgit commented on #1425
I can confirm that the performance has significantly improved with the new development version:
JabRef_windows-x64_3_5dev--snapshot--2016-06-28--master--a24b544

Adding a new entry works (nearly?) immediately (there might (?) be a minimal delay of max. half a second, but this is totally acceptable).
I would say, this bug has been fixed now.

One thing to add: If "Show number of elements contained

[2016-06-28 17:52] rvb-033 commented on #1425
Sorry about it, I could not use this version. The window is frozen, and
accepts one command per minute or so. I had a message "coud't connect to
the update server" (JabRef is running on a machine that is not connected
to the web).

Regards

Le 28/06/2016 15:42, Tobias Diez a écrit :

[2016-06-28 17:59] simonharrer commented on #1425
@bartsch-dev this is caused by #1459 can you fix this, please?

[2016-06-28 18:03] koppor commented on #1425
@AEgit Did you find an old binary? Otherwise, here is one: https://4750-17634071-gh.circle-artifacts.com/0//home/ubuntu/jabref/build/releases/JabRef-3.4dev--snapshot--2016-05-17--master--db843c9.jar. On 2016-05-18, there was more then one build and some of them touched the group tree functionality. Therefore, I point you to an older development build.

[2016-06-28 18:05] AEgit commented on #1425
@koppor

Yep, found an old binary. But it's no problem anymore (see my recent post). The current development version has adressed the problem.

[2016-06-28 19:34] bartsch-dev commented on #1425
@simonharrer this is very strange.
I could not reproduce the frozen window or any effect on the performance of JabRef.
Furthermore, when the message `couldn't connect to the update server` is displayed the updatecheck has already finished and should have no effect anymore.

[2016-06-28 20:12] koppor commented on #1425
@rvb-033 I provide a recent build without the update checker at http://builds.jabref.org/no-update-checker/. Does this behave different than a snapshot of http://builds.jabref.org/master/?

[2016-06-28 20:23] simonharrer commented on #1425
@bartsch-dev did you turn off your internet connection for testing?

[2016-06-28 21:09] bartsch-dev commented on #1425
I did.

[2016-06-29 08:40] ajbelle commented on #1153
Sorry Gents, too busy to help further beyond this post. @tobiasdiez I checked and I do not think anything has changed. Installed Ver3.4 just then, and saved my .bib file (no errors detected and very fast save). Then openned it with Ver2.1 and tried saving (takes a long time). It returned the same as my original report with rogue "#" being detected.
![default](https://cloud.githubusercontent.com/as

[2016-06-29 11:58] mairdl commented on #1267
This bug couldn't be reproduced, also @tschechlovdev is revising the MedlineImporter. I'd suggest to close this issue.

[2016-06-29 12:22] matthiasgeiger commented on #1267
I think the problem is that there are at least two different medline formats. Our "Medline" and "Medline Plain" importer used in JabRef expects an XML format. However, if you export in MEDLINE format [at pubmed](http://www.ncbi.nlm.nih.gov/pubmed/?term=some+obscure+disease) you'll get something like [this](https://www.nlm.nih.gov/bsd/disted/pubmedtutorial/030_080.html) (as @buhtz has said this loo

[2016-06-29 12:25] matthiasgeiger commented on #1267
@buhtz However, to solve you problem you have to change your workflow slightly: If you export not to "medline" but to "XML" format you'll be able to import more than one entry correctly using the "Medline" or "All Formats" importer.

[2016-06-29 14:59] lynyus opened #1527 "'Get BibTeX data from DOI' Removes Marking"
If I right-click on a 'marked' entry  in the main table and successfully update the BibTeX data from DOI, the entry is no longer marked.

Version: 3.5dev, commit 87389811baa50f750853e2b1fd1de07e10bf13e3

[2016-06-29 15:15] mlep commented on #1521
I have just noticed that the mailing lists are still mentioned in http://www.flosscoach.com/index.php/communication-jabref#mailing-lists

[2016-06-29 15:19] mlep opened #1528 "Entry table: Familly name partly displayed"
JabRef version JabRef 3.5dev--snapshot--2016-06-28--master--12ae6e3 linux 3.11-2-amd64 amd64  Java 1.8.0_66 on Linux Mint LMDE

If the author is entered as
`Iglesias de la Cueva, Julio José`
the entry table displays
`Iglesias de la Cueva`
which is the expected behavior.

However, If the author is entered as
`Julio José {Iglesias de la Cueva}`
the entry table displays
`de la Cueva`
which is the inc

[2016-06-29 16:43] Siedlerchr commented on #1519
Like I thought, it is already included in the Bib(la)tex response from the ebook.de API.
@koppor  Do you know who is responsible for the API from ebook.de?

[2016-06-29 16:43] Siedlerchr opened #1530 "Integrity checker should not check for "odd number of #" in url field"
Jabref 3.4, Windows 7x64

Enter the following entry and then run the integrity check:
You get
`url	| odd number of unescaped '#'`
However, biber etc handle the url field as verbatim, when the reference is printed

[code]

[2016-06-29 17:07] koppor commented on #1519
I contacted Oliver from @freiheit-com. Let's see.

[2016-06-29 17:18] matthiasgeiger commented on #1521
@koppor can you edit this information?

[2016-06-29 19:02] matthiasgeiger commented on #1530
refs #1188 and #1217

[2016-06-29 19:09] matthiasgeiger commented on #1153
@ajbelle this comment is not really related to this issue, is it?

A general comment: We changed a lot of stuff in the last year, but opening files saved with version 2.X in a version 3.X should always be possible.
However, the other way round is **NOT** expected to be working - especially not if features like groups are used which are not part of "standard bibtex".

[2016-06-29 19:16] matthiasgeiger commented on #1528
I think JabRef has the same difficulties in detecting which part of this name are fornames and what is the surname :wink:

This seems to be related a duplicate of #1499 - where also names in braces are not displayed correctly.

[2016-06-29 19:16] #1528 closed

[2016-06-29 19:18] matthiasgeiger commented on #1499
Same problem also for other names which are using braces - see #1528

[2016-06-29 19:21] matthiasgeiger commented on #1527
Thanks for the report!

Behavior is confirmed...

[2016-06-29 19:35] oscargus opened #1531 "Support \relax for author first name abbreviations"
JabRef version: latest dev

Steps to reproduce:
1. Use \relax to specify a two (or more) letter abbreviation of an authors first name, say `{\relax Ch}ris Kross`
2. Instead of `Kross` showing up in the author column of the main table, it now says something like `relax Kross`

A simple (and ugly) way would be to just add relax as a known latex command that is replaced with an empty string. However,

[2016-06-29 19:46] oscargus commented on #1531
Relates to #1499

My guess is that using the BibTex name formatter should solve most of these problems.

[2016-06-29 21:56] koppor commented on #1521
@igorsteinmacher Can you take care?

[2016-06-30 00:27] ajbelle commented on #1153
Yes @matthiasgeiger, you are right. The reason ver2.1 identified the issue was in #1188 which merged with this one. It picked it up when I openned my .bib with old ver2.1  install by mistake, making me think something was no longer being checked. As I said, ver2.1 takes a lot longer to save (bad) but may save future grief when BibTeX wont typeset (Good, especially with LyX that 'hides' BibTeX faul

[2016-06-30 07:20] mlep opened #1533 "Translation for JabRef 3.5"
@JabRef/translators @oscargus

JabRef 3.5 is planned for release in a few days.
So, it is time for us to tidy up the localizations!

I have just updated the translation status of each file (https://github.com/JabRef/jabref/wiki/Translating-JabRef), so you can quickly grasp which files you should pay attention to (https://github.com/JabRef/jabref/tree/master/src/main/resources/l10n).

Thanks for ke

[2016-06-30 07:55] matthiasgeiger opened #1534 ""Mark entries imported into database" does not work correctly"
JabRef version 3.4, 3.5dev on Windows 10

Steps to reproduce:

1. Preference setting General -> "Mark entries imported into an existing database" is activated
2. Import an entry, e.g., using JabFox
3. The entry is not marked (and therefore not floating at top)

[2016-06-30 09:24] DazedandConfuzius opened #1536 "Missfunction autogenerate bibtex keys?"
Hi,
I am trying to autogenerate autogenerate my bibtexkeys with the specification [auth][year] as detailed [here](http://jabref.sourceforge.net/help/LabelPatterns.php). However, JabRef also adds the title even though I have not specified that anywhere (as far as I can see). My only speculation would be, that at the same time, I am telling JabRef to create Pdf names with [auth][year][title]. Am I d

[2016-06-30 09:46] matthiasgeiger commented on #1536
Thanks for your report.

I could reproduce this using JabRef 3.4 - however, after checking whether the problem is still there in 3.5dev it was working correctly, both in JabRef 3.5dev AND 3.4. :confused:

I'll try to reproduce this again - should be caused by some strange preference problems :disappointed:

It would be helpful if you could export your preferences (using "Export Preferences") in th

[2016-06-30 14:54] DazedandConfuzius commented on #1536
Hey, thanks for replying so fast. I hope the attached txt file is what you were asking for?

[JabRef preferences.txt](https://github.com/JabRef/jabref/files/341708/JabRef.preferences.txt)

[2016-07-01 22:37] Siedlerchr commented on #1484
I tested a bit around and a simple workaround would be to set the charset in the html documents. When no one is set, it is treated default as ASCII (at least in FF)
For UTF8 it would be enough to add:
`<meta charset="utf-8" /> `
directly after the html open tag.
Then no escaping is necessary.

Despite that, it seems that on Export no Formatter is run.

[2016-07-02 13:51] AriaAsuka opened #1538 "Cannot searching from google scholar"
JabRef version  3.4 on  Arch Linux 4.5.4

Steps to reproduce:

1. I get nothing through searching feature from google scholar, there is "status: searching" displaying on status bar all the time. But I can achieve expected results with JabRef 3.4 on Windows 7.

[2016-07-03 08:22] matthiasgeiger commented on #1538
Thanks for your Report!

Can you please check whether there are some errors in the error Console ("Help" -> "Show error console").

[2016-07-03 10:25] AriaAsuka commented on #1538
The log below
18:24:49.994 [AWT-EventQueue-0] WARN  net.sf.jabref.JabRefGUI - There seem to be problems with OpenJDK and the default GTK Look&Feel. Using Metal L&F instead. Change to another L&F with caution.
18:25:04.911 [JabRef CachedThreadPool] WARN  net.sf.jabref.logic.net.URLDownload - Could not copy input
java.net.SocketException: Unexpected end of file from server
	at sun.net.www.http.HttpC

[2016-07-04 06:51] #1509 closed

[2016-07-04 09:55] Braunch commented on #1425
@rvb-033 Can you add further descriptions of what you did when the problem occurred? @bartsch-dev is willing to fix this but he needs more information to reproduce it.

[2016-07-04 11:14] tobiasdiez opened #1540 "Automatic update without inet connection freezes JabRef"
As explained in https://github.com/JabRef/jabref/issues/1425#issuecomment-229128390 and https://github.com/JabRef/jabref/issues/1425#issuecomment-229157628 there might be a problem with the new automatic update functionality if the user has no connection to the internet.

[2016-07-04 11:15] tobiasdiez commented on #1425
Please continue the discussion about the update functionality at https://github.com/JabRef/jabref/issues/1540. Since the performance issues seem to be (finally) fixed, I close this issue now.

[2016-07-04 11:37] rvb-033 commented on #1425
I am at work now (lunch pause). I will try again this evening, say in 6
hours. Is it okay for you ?
Le 4 juil. 2016 11:55, "Braunch" <notifications@github.com> a écrit :

[2016-07-04 11:41] mairdl commented on #1267
I tested the RISImporter if it only imports one entry, but it correctly imports all entries. The RISImporter seems to work fine. I talked to @obraliar about the RISImporter and he mentioned that there is no "Medline RIS" format.

[2016-07-04 12:05] matthiasgeiger commented on #1425
Well, I'm not sure whether this is really caused by the updating mechanism. This might as well be just the last update of the status bar before JabRef freezes. @rvb-033 I would be good if you can try to show the contents of the "error console" (Help -> Show error console) if this is still possible. If not, you try starting JabRef via a terminal/bash using the command `java -jar jabref-3.5dev.....j

[2016-07-04 12:18] Braunch commented on #430
Could this be closed?

[2016-07-04 12:19] Braunch opened #1542 "Bad web search error messages"
The web search gives inconsistent, wrong or no feedback, when trying to fetch without being connected to the internet.

Steps to reproduce:

1. Disconnect from the internet
2. Enter something into the web search text field
3. Press fetch
4. Enjoy flickering windows and exceptions depending on the selected search portal

The error messages should be consistent and tell the user what went wrong.

[2016-07-04 12:37] lecc0r commented on #430
Yes!

[2016-07-04 12:39] #430 closed

[2016-07-04 12:47] Siedlerchr commented on #1542
Maybe some of the Localised Error Messages from the Update-Checker can be reused here..

[2016-07-04 12:55] Siedlerchr commented on #1538
Thanks for the detailed error message.
A SocketException indicates  that the Remote host (Google) unexpectedly closed the connection.
Is this reproducible, e.g. does it happen every time?
Do you use a Proxy?

[2016-07-04 12:56] lecc0r opened #1543 "Failing Look Up Full Text Document on Wiley Online Library"
JabRef version 3.4 on Windows 8

Hi there, I guess it is known that the "Look Up Full Text Document" function is not able to download PDFs from Wiley Online Library; however, I would like to place some emphasis on it.

Steps to reproduce:

Example publication: http://onlinelibrary.wiley.com/doi/10.1002/kin.550241008/abstract
I do have the required permissions to access and download the publication

[2016-07-04 13:12] Siedlerchr commented on #1543
Hi,
Beside the Error message, could you please check, if there are some more details in the Log?

At the moment JabRef only tries to fetch the fulltext from the the following sources, in this order:
1. DOI-Resolution
2. ScienceDirect
3. SpringerLink
4. ACS
5. Arxiv
6. IEEE
7. Google Scholar

As a workaround you can manually enter the url to the pdf file: General->File->Download from URL.

[2016-07-04 13:37] motokito commented on #882
@simonharrer
- Github api doesn't support attach file. (have a look at this link: [https://developer.github.com/v3/issues/#create-an-issue](url))
- So i will implement a function to create a issue with the details about the version and log, if it is okay.

[2016-07-04 14:06] matthiasgeiger commented on #882
Is it possible to post a new issue in the name of the (logged in) GitHub user? I suppose it is not.... and using a "generic bug reporting user" is also not sensible for me as there is no way to contact the actual user to ask questions...

Another option would be to fill in the issue form using some GET parameters: https://github.com/JabRef/jabref/issues/new?title=bla&body=blubb

[2016-07-04 14:15] oscargus commented on #1484
I checked this a bit more now and @Siedlerchr is completely correct. The missing thing is the charset definition.

JabRef does not have a Unicode to HTML converter, only Unicode to/from LaTeX and HTML to/from LaTeX.

I'll soon be committing a fix, adding the charset.

[2016-07-04 14:25] oscargus commented on #1484
Ideally one should add the charset actually used for the file. However, this is not possible with the current export functionality as far as I can tell.

[2016-07-04 14:39] AriaAsuka commented on #1538
It happen every time and I use shadowsocks.

On 7/4/2016 20:55, Christoph wrote:

--
*/Cordially,/
/Alice Aria/
* From: butterflyonleft@gmail.com <mailto:butterflyonleft@gmail.com>

[2016-07-04 14:42] AriaAsuka commented on #1538
The terminal shows

kbibtex(2262) OnlineSearchAbstract::hanleErrors: Search using "Google
Scholar" failed (error code 202 ( "Error downloading
http://scholar.google.com/ - server replied: Forbidden" ), HTTP code 403
: "Forbidden")

On 7/4/2016 20:55, Christoph wrote:

--
*/Cordially,/
/Alice Aria/
* From: butterflyonleft@gmail.com <mailto:butterflyonleft@gmail.com>

[2016-07-04 15:10] stachch opened #1547 "JabRef should focus opened file on startup"
JabRef 3.4, windows 7 6.1 amd64, Java 1.8.0_92

Steps to reproduce:

1. Start empty JabRef
1. Open `publications.bib`
1. Close JabRef
1. Double click on `bibliography_c1.bib` in Windows Explorer
1. JabRef focuses `publications.bib`

![image](https://cloud.githubusercontent.com/assets/15067652/16564845/0e293104-420a-11e6-9f07-97f644545c85.png)

JabRef should focus `bibliography_c1.bib` instead

[2016-07-04 16:00] Siedlerchr commented on #1538
@AriaAsuka  There we see the reason HTTP code 403 -Forbidden. So this is not a Problem of JabRef.
Seems like Google Scholar has blocked your  Proxy-IP.
A quick Google Search turned up with this, maybe that helps you:
https://github.com/sjtug/kxsw/wiki/Google-Scholar

The only improvement we can do in JabRef is do display a more clear Error message
Refs #1542

[2016-07-04 16:01] Siedlerchr commented on #1542
Further improvement  idea: Display HTTP Error Code (e.g. 403 Forbidden). That came up in #1583

[2016-07-04 18:13] rvb-033 commented on #1425
Good evening,

Please find appended :
- current JabRef and java version I am running,
- console capture,
- 3 screen hard copies, one as soon as the software displayed something
(note the could'nt connect to the update server - normal this machine is
off-line), second while it was trying to update the groups list, third,
groups updated and records list blank (I copied the console at this
point in t

[2016-07-04 19:04] matthiasgeiger commented on #1425
Sorry but GitHub strips the images if you reply via mail. Can you please send them directly to me (matthias.geiger@uni-bamberg.de) or upload them via mail. Thanks in advance!

I think it would also be helpful if you could send me your bib file for debugging - of course we will not publish it but only use it internally.

[2016-07-04 19:10] matthiasgeiger commented on #1547
Thanks for your suggestion.

Just remembered that I also proposed this improvement in #1288. Thus, I'll close this as a duplicate.

[2016-07-04 19:10] #1547 closed

[2016-07-05 10:43] bartsch-dev commented on #1542
As I just noticed #1523 addresses the same issue.
Therefore this or the other one should be closed and reference to the other one.

[2016-07-05 10:45] matthiasgeiger commented on #1523
Follow up at #1542

[2016-07-05 10:45] #1523 closed

[2016-07-05 19:36] bartsch-dev commented on #1425
@rvb-033 Thanks for the log. At first glance I cannot see anything indicating a problem.
Have you tried the build without the version checker? Does the performance problem occur there too?
http://builds.jabref.org/no-update-checker/

[2016-07-05 21:20] koppor commented on #1540
Tested on Win10 with a JabRef without large Groups. No freeze.

[2016-07-06 11:15] rvb-033 commented on #1425
I will test this version this evening (six hours from now).

Hervé

2016-07-05 21:36 GMT+02:00 bartsch-dev <notifications@github.com>:

[2016-07-06 12:19] stefan-kolb commented on #1510
Autocompletion needs a complete rewrite. We will consider your request when working on this topic.

[2016-07-06 14:07] matthiasgeiger commented on #1425
Okay...
Hervé has sent me the screenshots stripped from his last reply and I am now able to reproduce his problems.
The issues are NOT caused by a missing web connection and the auto-updater but still are related to the groups tree.

@rvb-033 You said above that you have a database consisting of 7000 entries and 3 groups - but this was not really right :wink:
Yes, there are 7000 entries - but that

[2016-07-06 14:12] matthiasgeiger commented on #1540
I'll close here as the problems mentionend in  #1425 are not caused by the update mechanism.

[2016-07-06 14:12] #1540 closed

[2016-07-06 14:12] #1538 closed

[2016-07-06 18:44] rvb-033 commented on #1425
Good evening,

Please accept my deepest apologies for the wrong manipulation of your
software and for my wrong explanations. I hope I did not cause too much
trouble.
I tested the package without updater and it is difficult to tell whether
or not there is an improvement. I did not try to measure which version
it faster.
Removing the "Show number of entries contained in each group" really
makes the

[2016-07-06 19:23] matthiasgeiger commented on #1425
No need to apologize. For non-developers it is often hard to understand what might go wrong, how to describe it and to decide what information is needed to reproduce the strange behavior.

We are glad that you can now use JabRef again without any trouble. However, as other users want to use the counting feature we'll try to come up with a solution for this.

Regarding your offer: With @mlep we alr

[2016-07-07 06:41] matthiasgeiger commented on #1521
Should we integrate a link "Online forum" in the "Help" menu?

[2016-07-07 06:44] koppor commented on #1222
We are currently trying to focus on other things. :fire:
We will come back later to this topic, therefore closing adding [on-hold label](https://github.com/JabRef/jabref/issues?utf8=%E2%9C%93&q=label%3Aon-hold+) and closing the issue for now.

[2016-07-07 06:44] #1222 closed

[2016-07-07 06:44] simonharrer commented on #1521
With the icon https://materialdesignicons.com/icon/forum?

[2016-07-07 06:44] koppor commented on #1303
We are currently trying to focus on other things. :fire:
We will come back later to this topic, therefore closing adding [on-hold label](https://github.com/JabRef/jabref/issues?utf8=%E2%9C%93&q=label%3Aon-hold+) and closing the issue for now.

[2016-07-07 06:44] #1303 closed

[2016-07-07 06:46] matthiasgeiger commented on #1521
Potentially... but I don't think this is really needed in the menu if it is not used anywhere else. But using the icon doesn't hurt, though ;-)

[2016-07-07 07:48] tobiasdiez opened #1550 "Groups edit mode still present after restart"
JabRef version latest dev on Windows 10

Steps to reproduce:

1. Activate Groups Edit mode (under Groups Settings)
2. Deactivate it again, everything looks fine
3. Restart JabRef and edit mode is active again

By the way, what is the purpose of this edit mode??

[2016-07-07 08:01] koppor commented on #1550
[The help](http://help.jabref.org/en/GroupsHelp) talks about double clicking for edit mode.

What does your edit mode describe? Maybe, it is an ancient feature? Does git blame or a `gitk --all` on the Java class implementing that edit mode give some hints?

[2016-07-07 08:18] koppor opened #1551 "NPE when starting JabRef"
JabRef-3.5dev--snapshot--2016-07-06--master--d5b42a0

[code]

No UI is opened, but the JAR is still active.

JabRef should stop when startup doesn't work

Steps to reproduce:

1. Close all opened tabs in JabRef
2. Update to latest master branch
3. `gradlew run`

[2016-07-07 08:21] koppor commented on #1551
@oscargus It seems that this might be caused by your code cleanups (#1546), isn't it?

[2016-07-07 08:27] koppor commented on #1551
I solved this by a quick fix. I don't get, why the refactoring causes NPEs during runtime. @tobiasdiez Could you comment?

[2016-07-07 08:27] #1551 closed

[2016-07-07 08:52] oscargus commented on #1551
Interesting!

[2016-07-07 09:00] tobiasdiez commented on #1551
Proper fix in https://github.com/JabRef/jabref/pull/1552. To be honest, I'm not sure why the previous code does not result in an NPE.

[2016-07-07 09:14] Siedlerchr opened #1553 "Add Fieldformatter for splitting title on Colon in title and subtitle"
JabRef 3.4

It would be nice to have a formatter which splits the Title on Colon into title and subtitle.
Example:
`  title         = {Thumbs Up?: Sentiment Classification Using Machine Learning Techniques},
`
should become:
[code]

[2016-07-07 18:18] tobiasdiez opened #1554 "Import dialog hidden behind main window"
JabRef version latest dev (but also previous versions) on Windows 10

Steps to reproduce:

1. Open JabRef
2. Open another program which is now in the front
3. Import some entry into JabRef using the cmd line option (e.g. using JabFox)
4. JabRef gains focus. However, the opened import dialog is hidden behind the main window.

[2016-07-07 19:58] Siedlerchr commented on #1554
Same applies when using the fetcher.

2016-07-07 20:18 GMT+02:00 Tobias Diez <notifications@github.com>:

[2016-07-08 08:26] #1484 closed

[2016-07-08 08:55] davydden commented on #1092
@Siedlerchr any updates to this issue?

[2016-07-08 09:09] Siedlerchr commented on #1092
@davydden  Unfortunately not. Atm I have not that much time due do university. But I hope that I soon have more time in a few weeks.

[2016-07-08 12:24] oscargus opened #1558 "Consistent casing of file types. Best practice?"
Currently the naming of file types is quite inconsistent: PDF, pdf, Zip, ZIP, AUX, aux, etc...

I'm not sure if I have a strong opinion here, but it would be nice to have it consistent.

Also, one one occasion it says `.bib file`, i.e. a dot before the file ending. Some of them have a dash, like `Zip-archive`.

Any opinions on the correct way of doing it? Lower case, except when starting a sentenc

[2016-07-08 21:25] oscargus commented on #1338
There is now a PR in #1563 which adds a button in the entry editor for the crossref field and that the crossref column is clickable. Regarding linking between entries in general this is discussed in https://github.com/koppor/jabref/issues/14 .

[2016-07-10 03:28] syangmz opened #1566 "blvutiretdu"
JabRef version  on

Steps to reproduce:

1. ...
2. ...
3. ...

[2016-07-10 07:04] matthiasgeiger commented on #1566
Spam?

[2016-07-10 07:04] #1566 closed

[2016-07-11 08:28] lenhard commented on #1026
@stefan-kolb: Any updates here?

[2016-07-11 09:30] lenhard commented on #1558
I agree that this should be consistent, but have no strong opinion in which way. We should probably just reach an agreement during a devcall and document that.

[2016-07-11 09:32] stefan-kolb commented on #1026
Right now it keeps the comment, but inserts an additional newline between the comment and the entry.

[2016-07-11 09:36] lenhard commented on #1026
The newline is inserted if you change the entry, right? That is the desired behavior on reformatting.

If you do not change the entry, the comment should stay as is.

[2016-07-11 09:50] stefan-kolb commented on #1026
If that's desired everything is ok now.

[2016-07-11 09:50] #1026 closed

[2016-07-11 10:26] #1534 closed

[2016-07-11 11:50] lenhard commented on #1530
Fixed by #1567

[2016-07-11 11:50] #1530 closed

[2016-07-11 16:01] bartsch-dev commented on #573
I'm implementing this at the moment.
A Shortcut executes the global search and opens the result dialog (which isn't modal).
Should the same shortcut focus an old result dialog if there is one in the background? (Thus only one global search can be done at a time).

[2016-07-12 15:41] sirpercival opened #1578 "JabRef app hangs on startup"
JabRef version 3.4 on Mac OS X 10.11.5

Steps to reproduce:

1. Download and install JabRef 3.4 for Mac.
2. Double click on the JabRef application icon, or attempt to open a .bib file by double-clicking.

When I do this, JabRef doesn't open any windows. It just sits there, and doesn't respond to anything. I have to force quit.

If I run the .jar file from the command line with `$ java -jar JabRef-

[2016-07-12 18:29] koppor commented on #1578
Thank you for reporting this issue. We think, that it is #1481 and is already fixed.
Please use a development build from http://builds.jabref.org/master

We leave this issue open until the next release to keep other users reporting the same issue.

[2016-07-13 07:59] sciunto commented on #573
@bartsch-dev Thanks for looking at this!

I would answer yes to your question.

BTW, the fact that the window is not modal is really annoying for some window manager (like i3) because I can't close the window with ctrl-q or ctrl-w... If something could be done on that side too, that would be awesome.

[2016-07-13 09:38] #1500 closed

[2016-07-13 09:41] tobiasdiez commented on #1500
Thanks for your report. The bug should be fixed now with https://github.com/JabRef/jabref/pull/1539.

[2016-07-13 10:10] AEgit commented on #1500
I can confirm: This bug has been fixed in the newest build "2016-07-13--master--304d280".

[2016-07-13 10:14] AEgit commented on #1495
I can confirm this bug for the build "2016-07-13--master--304d280".

[2016-07-13 10:15] tobiasdiez commented on #1500
Thanks for the feedback!

[2016-07-13 10:27] AEgit commented on #1500
Thanks for the quick fix!

[2016-07-13 12:12] lenhard opened #1579 "Desired Architecture"
Following the discussion from today's devcall, here comes an outline of our desired high-level architecture for JabRef and some data on the status quo. This is a refinement from [our high-level documentation](https://github.com/JabRef/jabref/wiki/High-Level-Documentation).

@JabRef/developers Please have a look, mention anything that you find worth remarking or discussing, and eventually I will up

[2016-07-13 14:12] #1490 closed

[2016-07-13 14:12] stefan-kolb commented on #1490
@donovaly This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2016-07-13 14:24] lenhard commented on #1356
Implemented by #1572

[2016-07-13 14:24] #1356 closed

[2016-07-13 14:27] tobiasdiez commented on #1425
With the recent improvements, the performance should now be on an acceptable level. For really big databases the option "show number of hits" makes some problems but this is to expect from the computational complexity of the feature.
Thus I close this issue for now.
If the performance problems should resurface, then please feel free to comment here again and we will reopen the issue.

[2016-07-13 14:27] #1425 closed

[2016-07-13 15:16] obraliar commented on #344
This is my imagination of this feature:

- UI/Preferences:

![autosave_mockup](https://cloud.githubusercontent.com/assets/15609468/16808238/fae4f0ba-491b-11e6-9036-93a328233b39.png)

- Functionality:
  - Event based saving
  - Time based saving

- Decisions:
  - Should we keep the already existing Autosave mode?
  - Should we add a new item "Autosave" to the list of the preferences? (There is no p

[2016-07-13 16:12] koppor commented on #344
What is the existing autosave mode?

I would not make "Autosave on every" configurable. It is always saved after each change.

I would not offer the choice between timebased and eventbased. Just eventbased. Or something sensible such as IntelliJ does. The recovery should also be done automatically.

Reason: There should be less configuration possibilities. JabRef should just do it right.

[2016-07-13 16:21] obraliar commented on #344
Time based autosave already exists.

Okay, in that case I'm going to replace it completely.

[2016-07-13 16:47] catasaur commented on #1578
Just to let you know - I had the same problem with the same versions of Jabref and Mac OS X, and the following development build starts successfully for me:

JabRef_macos_3_5dev--snapshot--2016-07-13--master--190497d .dmg

[2016-07-13 17:33] tobiasdiez commented on #344
I'm also in favor for only supporting event-based auto-save and only the following configuration options:
- Enable / Disable
- Disable for huge databases (with a fixed limit which we have determined before)

I think the backup functionality is very important, but of course should be adopted to work with the auto-save method. For example, it is relative pointless to save the same data to two files

[2016-07-13 18:31] tobiasdiez opened #1580 "Improve installer"
After using the installer for the first time since ages, I noticed few points which could/should be improved:
- [ ] One needs to grant admin rights to the installer two times: directly at the start and also for running the uninstaller of the previous version
- [x] the "install4j" text near the dark gray rule in the picture below should be replaced by JabRef (or remove it completely)
- [ ] maybe de

[2016-07-13 21:35] stefan-kolb commented on #1580
I don't know if your first bullet point cannot be solved. We need to request (or want to) the same privileges for the uninstaller as for the installer. This is handled by the uninstaller, so we can probably not pass this on.

I removed the install4j watermark completely in both installer and uninstaller.

[2016-07-13 21:36] oscargus commented on #1249
@Siedlerchr : @melTr is talking about a LayoutFormatter to export the .bib-file to some other suitable format (or to use with OpenOffice/LibreOffice).

[2016-07-13 21:37] #1578 closed

[2016-07-13 21:40] Siedlerchr commented on #1249
Ah now I get it :) It was a bit confusing for me.

[2016-07-14 09:41] lenhard commented on #111
Didn't we make some progress here? The website is completely moved, right?

[2016-07-14 10:01] simonharrer commented on #1580
To reduce size, we could remove unused .class files, as we mostly only use a few classes from our dependencies. This requires some work with gradle, and as JabRef only requires 25 MB, I do not see the point in investing the time.

[2016-07-14 11:26] koppor commented on #111
No content has been moved. E.g., integrated in the documentation. This applies for the wiki and the content of the discussion forum at sourceforge. The PHP redirects are also not in place.

Example redirect:
 - https://github.com/JabRef/htdocs/blob/master/contact.php
 - Not in place at various other places: All PHP files in help, eg.., https://github.com/JabRef/htdocs/blob/master/help/BaseFrameHel

[2016-07-14 12:35] koppor commented on #938
Idea (as discussed with @hummelriegel): Add bibtexs of cited entries to the PDF. This is especially useful for a self-written paper.

[2016-07-14 12:43] simonharrer commented on #1558
What a nightmare to rename all this with git+windows :(

[2016-07-15 07:01] #1264 closed

[2016-07-15 07:55] #1527 closed

[2016-07-15 08:22] #1249 closed

[2016-07-15 10:57] Braunch commented on #1225
PR: https://github.com/JabRef/jabref/pull/1525

[2016-07-15 11:40] koppor commented on #1444
Should be fixed by #1487, isn't it?

[2016-07-15 11:40] #1444 closed

[2016-07-15 12:30] lenhard commented on #1553
Just a thought on that: This suggestion goes somewhat beyond what formatters can do at the moment. Currently, formatters take a string (typically a field value) and transform it into another string. Your suggestion would need to operate on a complete entry, not just a single field.

We would have to rework the current formatter framework to get this working (some work, but might be worthwhile).

[2016-07-15 13:09] Siedlerchr commented on #1553
This is not that important for me. I think it is more related to the biblatex-style formatting.
I would therfore close that issue.

[2016-07-15 13:09] #1553 closed

[2016-07-15 13:13] lenhard commented on #1533
I guess since v3.5 is release now, we can close this issue.

[2016-07-15 13:13] #1533 closed

[2016-07-15 13:14] oscargus commented on #1553
But it can be added as a cleanup action.

[2016-07-15 14:26] oscargus commented on #1416
The `\begin{title}...\end{title}` is to make it optional based on the existence of a non-null `title` field.

[2016-07-15 14:59] lenhard commented on #1516
Implemented and merged with #1589

[2016-07-15 14:59] #1516 closed

[2016-07-15 15:11] koppor commented on #1303
Revent forks can be investigated at http://forked.yannick.io/JabRef/jabref. There seem to be courses taking place for increasing test coverage of JabRef -> https://github.com/gabrielmldantas/jabref/pulls. I commented on both PRs whether they want to integrate their tests at our code base.

[2016-07-15 21:10] dliessi opened #1592 "LibreOffice: wrong numbers in citation labels"
JabRef version 3.5 on Mac OS X 10.11.5.
LibreOffice 5.1.4.2.

Steps to reproduce:

1. Connect to LibreOffice text document.
2. Select style Default [number].
3. Insert twice the same citation.
4. Click on the update button.

Expected result:

Actual result:

Example bibliography:
[code]

Screenshot:
![testjabref](https://cloud.githubusercontent.com/assets/5209500/16888553/0bc9600c-4ae1-11e6-8672-8

[2016-07-16 14:45] pirlite2 commented on #1264
This issue is still not fixed! An 'S' with caron _still_ displays as a little rectangle! (Version 3.5 under Mint 17.3).

[2016-07-16 14:49] oscargus commented on #1264
It is fixed in the current master, so in the next version it shouldn't be
an issue.

There are almost daily improvements of JabRef but at some stage one will
have to release a new version. This was fixed the day after 3.5 was
released.

[2016-07-16 14:53] koppor commented on #1267
@mairdl: Is there a test case for the importing of all entries? -> Please provide a reference.

@mairdl: @matthiasgeiger Provided a reference to a file at https://github.com/JabRef/jabref/issues/1267#issuecomment-229340023. Is a variant (with pseudo abstract field - if there is an abstract) of that file tested?

:+1: for renaming. @zellerdev Could you do that? And probably dive into the difference

[2016-07-16 18:10] tobiasdiez commented on #139
This might be helpful: http://stackoverflow.com/questions/33253757/java-apache-pdfbox-extract-highlighted-text

[2016-07-17 01:15] Goldfinger2007 opened #1598 "Database export in MySQL and PostgreSQL"
I have issues with the SQL exports under JabRef version 3.5

For PostgreSQL the steps to reproduce are:

1. I created groups in the groups interface
2. I used "file->connect to external SQL database" and connected successfully to PostgreSQL version 9.4 server localhost, username postgres serverType PostgreSQL
3. There are no entries exported in the table "entry_group". The table "entries" is fille

[2016-07-17 08:08] koppor commented on #1598
We are reworking our completely database support at #1451 to support synchronization with different users at the same time. Thus, the import/export functionality will be gone and thus this issue too.

Please try the recent build available at http://builds.jabref.org/SharedDatabaseSupport/ and provide feedback at #1451. Would that be possible?

[2016-07-17 10:48] Goldfinger2007 commented on #1598
Will do. You can close this issue.

[2016-07-17 10:48] #1598 closed

[2016-07-17 11:56] oscargus commented on #1579
Some comments/questions, primarily based on the experience from #1593:

* Where will the `String`constants from `Globals` end up? These are:
[code]
It seems like `FILE_FIELD` is so established now that it is not needed to be in `Globals`. `FOLDER_FIELD` is one used in one place in the code and I'm not even sure that the code does something useful. `DIR_SUFFIX` can probably be hard coded as well. `

[2016-07-17 12:00] oscargus commented on #1579
Where should `event` end up?

[2016-07-17 14:54] oscargus commented on #1592
There is a version that should fix this at http://builds.jabref.org/fix1592/ (in 15 minutes or so). Please try it out.

[2016-07-17 16:42] #1338 closed

[2016-07-17 17:10] dliessi commented on #1592
It works as expected now.
Thanks for fixing it so quickly!

[2016-07-17 18:03] #1592 closed

[2016-07-17 18:36] matthiasgeiger opened #1600 "CLI mode does not work with .exe"
JabRef version 3.5 on Win10

Steps to reproduce:

1. Try to run some CLI commands, e.g., `jabref -h`
2. nothing is displayed

(works fine with the jar: `java -jar JabRef-3.5.jar -h`)

Caused by install4j? Can we fix this or should we document that the CLI mode is only supported using the jar?

[2016-07-18 07:39] lenhard commented on #1579
Thanks for your feedback!

The `event` package is relatively simple. Since it is tightly coupled to model classes, which throw the events, it should be located in the `model` package (`model.event` probably). This should be possible out of the box right now.

Regarding the constants in `Globals`: I think we should keep constants and not use hard coded values, even if `FILE_FIELD` is sufficiently e

[2016-07-18 09:13] simonharrer commented on #1579
:+1: for moving the event package to the model.

I would create a class with all the standard field names, and put this in the model. Then, this could be used within the model as well.

Regarding preferences: I think, too, that this should be an evolutionary process with the ultimate goal of having no preferences in there. I do not have a plan that fits all situations. What would be best:

- GUI c

[2016-07-18 14:29] motokito commented on #882
@matthiasgeiger
I have tried to handler the create of new issue with automatics Binding of List - Entries about URL:
But there are some problems:

- First one: the URL Length is limit by ca. 2000 char (take a look at screenshot)
![01](https://cloud.githubusercontent.com/assets/13031192/16918055/6287d502-4d04-11e6-98bc-bc4a2ad92369.PNG)

- Second one: the methode openBrowser() of JabrefDesktop.clas

[2016-07-18 15:53] tobiasdiez commented on #882
@motokito Maybe a POST request works (instead of GET with parameters)

[2016-07-18 21:34] stefan-kolb commented on #1580
I don't see any real possibility to resolve the remaining two items.
For a) I don't think install4j supports this as installer and uninstaller are two separate entities in the chain
and b) decreasing installer size can only be achieved reasonably by removing some dependencies completely. If this is possible this can be done on a per item basis in a concrete PR.

Therefore, I vote for closing this

[2016-07-18 22:20] #1580 closed

[2016-07-18 23:38] sambo57u opened #1603 "DOI import from Physical Review C missing page number"
JabRef version  on  3.5

Steps to reproduce:

1. click on world icon to import from DOI to BibTeX
2. Choose any DOI e.g. 10.1103/PhysRevC.93.064002
3. Click Fetch

Everything is imported except the article number. Physical review no longer has regular page numbers but an article number, which is used in place of page number in citing articles.
Thanks for the great program.

[2016-07-19 10:10] lenhard commented on #1603
Thanks for your report!

However, I think that the problem is on the side of the journal and not on JabRef. When I follow the DOI you gave above, I arrive at the following bibtex entry on export:
[code]
In BibTeX, an article number is stored in the `number` field. If the journal exports data in the wrong BibTeX fields, there is nothing we can do.

Can a second person please re-check and close on c

[2016-07-19 10:44] tobiasdiez commented on #1603
I can confirm the problem. If you fetch via JabRef's "DOI to BibTeX" then the pages field is empty. As @lenhard said if you go directly to the publisher website you get `pages = {064002}` (which is probably the expected format for PhysRevC)

[2016-07-19 11:22] matthiasgeiger commented on #1603
I'm not big DOItoBibTeXFetcher expert but there is no bug here, as JabRef does not access the information provided at the page that is resolved after clicking the DOI but directly gets the BibTeX data from a the dx.doi.org service.

For the given DOI the result is this one:
[code]

-> No pages information

[2016-07-19 13:50] sambo57u commented on #1603
Yes and no....I looked at the raw data for the article at crossref.org and it is somehow resolved incorrectly.
For example the raw data has "issue":"6" but had no "number" field. The issue shows up as number
in the curl pull. There is no "pages" field but a "article-number":"064002" field that is used as page in
citing.

I will report this to the journal if you can clarify to me where the problem

[2016-07-19 14:04] matthiasgeiger commented on #1603
The "problem" is the conversion of the stored raw metadate you posted above to BibTeX.

This conversion is not performed by JabRef, but by crossref itself. We are just querying the generated BibTeX for a DOI (which is the one posted by me above - you can also see the result directly in the web at http://search.crossref.org/?q=10.1103%2FPhysRevC.93.064002 after hitting the "Actions" -> "Cite" butto

[2016-07-19 14:20] sambo57u commented on #1603
Thanks for the info.

[2016-07-19 14:28] lenhard commented on #1603
We had this discussion on other occasions as well (Google scholar fetcher): We have to rely on publishers and indexing services to supply us with proper BibTeX entries.

If we start with screen scraping and implement custom solutions for certain publishers, we end up nowhere. Such code would certainly not be stable and we would have to fix it every time a publisher makes tiny changes to its format

[2016-07-19 14:28] #1603 closed

[2016-07-19 14:57] stefan-kolb commented on #1600
The installer allows to configure the app launcher as GUI or Console, but not both.
it is possible to set a `-console` flag so that the standardoutput gets redirected to the console.
Somehow theres a function for command line parameters (http://stackoverflow.com/questions/29751721/is-it-possible-to-pass-through-commandline-parameters-to-the-execute-launcher) but I haven't found out how to pass the

[2016-07-19 15:25] stefan-kolb commented on #1600
You can try out a version from the `comsole` branch. http://builds.jabref.org/comsole/
If you use `JabRef -console` the console mode gets launched. At the moment it breaks, as we do not recognize this option internally. You can then pass all normal options like `Jabref -console -h`. it behaves a little wierd as it "restarts" a new command inside the prompt but kind og emulates the console behavior

[2016-07-20 18:13] motokito commented on #882
@tobiasdiez
Can you explain and give ne some Tipps. How should I implemented this solution ?
I am very thx you about it 😊

[2016-07-20 21:23] oscargus commented on #882
http://stackoverflow.com/questions/4205980/java-sending-http-parameters-via-post-method-easily

[2016-07-21 07:22] matthiasgeiger opened #1609 ""New file link" opens wrong folder in FileDialog"
JabRef version 3.5 and current 3.6dev on Windows 10

Steps to reproduce:

1. Define a "main file directory" for a DB or globally
2. Try to create a "new file link" by hitting the "+" in next to the file field
3. The file dialog does not open the "main file directory" but its parent folder

[Reported by @bkleine in the discourse forum](http://discourse.jabref.org/t/external-file-links-not-properly-

[2016-07-21 08:01] Siedlerchr commented on #1609
I will try to work on this in the next days. See #1336

[2016-07-21 12:15] tschechlovdev commented on #1063
I've added the nbib fields to Medline and MedlinePlain. So I think this issue can be closed now.

[2016-07-21 13:07] #1063 closed

[2016-07-21 14:49] Braunch opened #1610 "Groups Panel closes when selecting different database"
JabRef version JabRef build from master 21.07.2016 on Ubuntu 14.04 and on Windows 8

Steps to reproduce:

When I...
1. Have two databases opened
2. I open the groups panel in the first one
3. I switch to the second db and open the groups panel too
4. I switch back to the first one (groups panel is still opened)
5. I switch to the second db
...then the groups panel closes without being manually clo

[2016-07-21 14:56] motokito commented on #882
@oscargus  Thx you about the links.
But i have some problem, that:
if one is not logged in to github, it will redirect one to login page. Once logged in, it will redirect one to the create new issue page. Now if we using GET method, it will fill in the parameter from the URL. But when using the POST method and we are not logged in. We will also get redirected to the login page and can not send our

[2016-07-21 15:35] Braunch commented on #882
I did not read through the whole of it but oAuth sounds like something worth having a look on https://developer.github.com/v3/oauth/

[2016-07-21 16:42] zellerdev opened #1612 "MedlinePlain Importer throws StringIndexOutOfBoundsException"
While trying to solve #1267 I found a bug in the MedlinePlain Importer. When I import a Medline .txt file a StringIndexOutOfBoundsException occurs.

JabRef version
JabRef 3.5
linux 4.4.0-31-generic amd64
Java 1.8.0_92

Steps to reproduce:
1. Select more than one entry from the [PubMed](http://www.ncbi.nlm.nih.gov/pubmed) site .
2. Select "Send to File" and then choose "Medline" Format.
3. Open Jab

[2016-07-21 16:53] zellerdev commented on #1267
When using the current Version of JabRef (3.5) the issue shouldn't be reproducible. Because it is not possible to import a .txt file with the RIS importer anymore.
Furthermore, you selected "MEDLINE" as the format. So you should use MedlinePlain to import the file. Unfortunately, there is a bug hidden in the MedlinePlain importer. See #1612 for more details. We are working on it.

[2016-07-21 16:57] boceckts commented on #1612
#1611

[2016-07-21 19:33] simonharrer opened #1613 "Installer adds install4j instead of JabRef icon for installed app"
![image](https://cloud.githubusercontent.com/assets/375693/17036002/9c3b8f04-4f8a-11e6-934f-9bb3a6a44545.png)

[2016-07-21 19:48] Siedlerchr commented on #1613
Confirmed on Win7, too.

2016-07-21 21:33 GMT+02:00 Simon Harrer <notifications@github.com>:

[2016-07-22 08:19] stefan-kolb commented on #1613
Is this in Apps& features?

[2016-07-22 08:28] simonharrer commented on #1613
There as well.

[2016-07-22 08:29] stefan-kolb commented on #1613
So also in the "Startmenu"?

[2016-07-22 08:55] Siedlerchr commented on #1613
@stefan-kolb  Nope. The icon in the start menu is the correct logo, both on Win7 and Win10

[2016-07-23 10:12] stefan-kolb commented on #1521
Any more work to do here or are we good for now?

[2016-07-23 11:53] oscargus commented on #1345
Implemented in #1590.

[2016-07-23 11:53] #1345 closed

[2016-07-24 18:13] oscargus commented on #1321
Now, I got some time to work on this. There are basically two cases in the code (although it looks like more):

`\command` where currently the command is stripped unless it is recognized. Will change it to keep command.
`\command{argument}` where currently the command is stripped and argument is kept. Will change it to keep command if argument is empty.

[2016-07-24 20:34] oscargus commented on #207
And with #1581 single combining accents are working for LaTeX to Unicode.

[2016-07-24 22:22] oscargus commented on #1610
Have you checked the groups preferences? There may be some combinations there which causes the problem.

[2016-07-25 06:15] #636 closed

[2016-07-25 06:49] #1321 closed

[2016-07-25 12:11] Braunch commented on #1610
I think I found the cause of the behaviour. The groups pane closes when the database that is opened has no groups defined. Makes kind of sense, since the user does not use groups in that db. But it does look weird and results in the entry table jumping around on the screen, although the user didn't intentionally close the groups panel. I even can imagine the use-case that a user did not use groups

[2016-07-25 12:21] Braunch commented on #1610
I just saw that this is an option you can set in the preferences:
![image](https://cloud.githubusercontent.com/assets/15339195/17101117/07d15448-5273-11e6-8041-fbe265546893.png)

So not really a bug, only a questionable option IMHO.

[2016-07-25 13:55] simonharrer commented on #1610
I would simplify this by removing these two options and either the group window is shown, or it isn't, depending on the group toggle status.

[2016-07-26 05:44] #1521 closed

[2016-07-26 07:23] bartsch-dev commented on #573
@sciunto In case you haven't seen it: I'm implementing it in #1549!

[2016-07-26 07:30] koppor commented on #1558
Can this be done using `sed/s/zip/ZIP/g *.properties` with a review using git gui and line-based adding to index?

[2016-07-26 07:36] matthiasgeiger commented on #1558
During the dev call we were not quite sure what the general scope of your question is @oscargus

The general rule of thumb should be:  the extension alone should be used in lowercase - if used in a sentence/context uppercase should be used ("Please select a PDF file").

An example for this is the manage file type dialog:
![filetypes](https://cloud.githubusercontent.com/assets/676652/17129450/8005d

[2016-07-26 07:47] #350 closed

[2016-07-26 07:47] koppor commented on #350
We are currently trying to focus on other things. :fire:
We will come back later to this topic, therefore closing adding [on-hold label](https://github.com/JabRef/jabref/issues?utf8=%E2%9C%93&q=label%3Aon-hold+) and closing the issue for now.

[2016-07-26 07:51] lenhard commented on #207
@oscargus: So what is missing to mark this issue as closed?

[2016-07-26 07:57] lenhard commented on #386
As far as I can understand, the problem in this issue is fixed. Hence, I will mark it as closed.

Feel free to reopen if you disagree!

[2016-07-26 07:57] #386 closed

[2016-07-26 08:00] oscargus commented on #1558
Makes sense. I should have been more clear. These are some examples of current strings:

[code]

The "correct" should be
[code]
?

[2016-07-26 08:02] lenhard commented on #1558
@oscargus Yes, that is correct.

[2016-07-26 08:09] lenhard commented on #834
Since the decision is no action, we can mark this issue as on hold and close it.

[2016-07-26 08:09] #834 closed

[2016-07-26 08:10] simonharrer commented on #1613
Hm, not fixed with the current master. Is probably something else that has to be set.

[2016-07-26 08:13] matthiasgeiger commented on #1600
Adjust documentation to indicate that CLI mode should only be used with jar

[2016-07-26 08:15] matthiasgeiger commented on #1554
http://stackoverflow.com/questions/309023/how-to-bring-a-window-to-the-front

[2016-07-26 08:21] lenhard commented on #1550
This is just some rather old way of assigning entries to groups.

Will be removed with the migration to the new group feature in JavaFx. We have drag and drop functionality for assigning entries to groups.

[2016-07-26 08:21] oscargus commented on #207
With some sort of priority

**High**
[ ] Single combining accents LaTeX -> HTML (doable)

**Medium**
[ ] Double combining accents LaTeX -> unicode (doable)
[ ] Double combining accents LaTeX -> HTML (doable)

**Very low**
[ ] Double combining accents Unicode -> LaTeX (hard and more rarely needed I would guess)
[ ] Double combining accents Unicode -> HTML (hard and more rarely needed I would guess)

[2016-07-26 08:22] simonharrer commented on #1613
Sorry, I am mistaken. Was fixed.

[2016-07-26 08:22] #1613 closed

[2016-07-26 08:28] lenhard commented on #861
Since we do not really have a concrete issue here (except for "the gui should be better structured"), I will close this.

Feel free to open more concrete suggestions and PRs. More general discussion could also go to http://discourse.jabref.org/

[2016-07-26 08:28] #861 closed

[2016-07-26 09:04] matthiasgeiger commented on #1550
Additional note regarding usability: For assigning multiple entries sequentially in one group using "ctrl" while clicking on the entries to add allows for multiple selection.

[2016-07-26 13:10] tschechlovdev commented on #898
I would like to take care of this issue. But  in my opinion a JAXB parser would be easier than just using a DOM parser. Would this be also ok?

[2016-07-26 13:58] sciunto commented on #573
thanks @bartsch-dev

[2016-07-26 15:08] Siedlerchr commented on #898
JAXB sounds like a good idea. Mabye you can reuse some of your code.

[2016-07-26 15:21] lenhard commented on #730
What is the status here? Could you maybe explain a little bit what this issue is about and what the problem is? I do not really get it from the current description.

[2016-07-26 22:22] oscargus commented on #1154
There is a Java 8 (java.time) date picker at https://github.com/LGoodDatePicker/LGoodDatePicker

[2016-07-26 22:23] oscargus commented on #1558
Most (all?) of this is fixed in #1629.

[2016-07-26 22:25] oscargus commented on #1198
Since this is more internal developer-related I move it to https://github.com/koppor/jabref/issues/145

[2016-07-26 22:25] #1198 closed

[2016-07-27 09:35] oscargus opened #1632 "Unrobust reading of bad @Comment"
JabRef version <Latest master>

I got a BIB file from a comment to clean up and it couldn't be read. The "Error opening file" gave the informative message "null".

The reasons seems to be this line:

[code]

as the log message says (the line above is line 5):

[code]

Not sure what I expect to happen, but maybe that the error message "Error in line 5: Expected { but received   " is shown. Not sure

[2016-07-27 10:05] Siedlerchr commented on #1632
The `@Comment` is a legal way of commenting out sth. The line should be ignored by the parser.
I found some more details explaining this:
http://maverick.inria.fr/~Xavier.Decoret/resources/xdkbibtex/bibtex_summary.html#comment

[2016-07-27 10:09] oscargus commented on #1632
Good link! If we trust it, I quote:

_Actually, the rule is that everything from the @Comment and to the end of line is ignored._

[2016-07-27 10:13] matthiasgeiger commented on #1632
... I think the current implementation is "wrong" with respect to the information provided in the link as JabRef only accepts `@comment { .... }` as valid comments... right? @lenhard

[2016-07-27 10:21] oscargus commented on #1632
The tricky/interesting thing here is probably that by writing @Comment instead of an entry type, the next lines are also treated as comments (as they do not start with @ or are inside a non-Comment entry type). So it is quite important to keep those comment lines. :-)

[2016-07-27 10:27] Siedlerchr commented on #1632
I tried to find some more information on this topic, but I can't find any more details, if it used as block or not.
Even in the original BibTeX manual it is just written that `@Comment` is allowed for compatibility reasons of _Scribe_

[2016-07-27 10:50] lenhard commented on #1632
I had a quick look at the parser.

@matthiasgeiger: Currently, we accept `@comment`, but the casing does not matter (`@cOmMeNt` should also work with the current implementation).

@oscargus: The error occurs, because the parser expects something that starts with `@` to be eventually followed by `{`. If it doesn't find an opening curly bracket, it throws this error. That is really independent of co

[2016-07-27 11:40] Siedlerchr commented on #1632
@lenhard  the official BibTex source can be found here: https://www.ctan.org/tex-archive/biblio/bibtex/base
However, there is no gold-standard, but most parsers I gave a quick look accept at least `@Comment{}`

[2016-07-27 12:07] lenhard commented on #1632
@Siedlerchr yes, unfortunately it is a bit scarce on comments.

So far I do not see a consensus here. Is there something that we should change about the parser? @JabRef/developers what do you say? If yes, what exactly is it and how would the desired behavior look like?

[2016-07-27 12:20] oscargus opened #1633 "Searching for ( in specific fields"
JabRef version: Latest developer

Search for e.g. `booktitle=(` without regex or `booktitle=\(` with regex. It seems like the parser does not find the field as it says `any field that contains booktitle=(`. Maybe a weird case, but I actually wanted to do that right now.

Searching for `(` works well though.

[2016-07-28 14:25] lenhard commented on #1579
There is one more thing I am wondering about: How should the GUI access preferences? Should it directly read preferences from `JabRefPreferences`, i.e.:

`String defaultLabelPattern = prefs.get(JabRefPreferences.DEFAULT_LABEL_PATTERN);`

Or should it reuse more specific preferences classes that we introduce at various places, i.e.:

[code]

@simonharrer, @tobiasdiez, @oscargus : What do you think?

[2016-07-28 14:40] oscargus commented on #1579
I actually didn't understand earlier that the preferences are written to different locations as is discussed in #1626. I thought it was enough to have separate keys and everything was fine... This is then clearly relevant for moving/injecting preferences from/in logic. (Or am I missing something more?)

I'd say that the GUI code should access Globals.prefs and the logic code use a special class. H

[2016-07-28 14:45] matthiasgeiger commented on #1579
The idea of the specific preferences was to avoid cluttered method signatures, right?
I.e., `doTheWork(SomePreferences withThisPrefs)` instead of `doTheWork(String pref1, boolean pref2, int pref3, ...)` especially in the case that preferences are used during initialising an object (which, however should be avoided to simplify pref changes :wink:).

If we stick to those "specific preferences" and d

[2016-07-28 16:03] tobiasdiez commented on #1632
As far as I know `@Comment` is a value-only entry type, exactly like `@Preamble`. Thus it expects an argument (which might be empty) between braces.
Since there is no defined bibtex standard, I would propose to use the [official biblatex parser](
https://github.com/ambs/Text-BibTeX) as an authoritative source. I don't have the time to check the code carefully, but https://github.com/ambs/Text-BibT

[2016-07-28 16:22] tobiasdiez commented on #1558
I know I'm a bit late to the party, but I'm not completely satisfied with `BIB file` and `AUX file` and thought that we arrived at a different result in the dev call. Speaking of a `PDF file` kind of makes sense if one think of it as an abbreviation of `a file which is in "Portable Document Format"`. Hence one uses `PDF` as an acronym. But for `BIB file` there is no such interpretation. What is re

[2016-07-28 18:35] Siedlerchr commented on #1558
Just my 0,02€, we should not spend too much on this, as I doubt that the normal user really thinks about if it is now BIB or bib or whatever.

[2016-07-28 21:27] oscargus commented on #1632
I read up a bit and it seems like @Comment in the (authoritative) BibTeX application works in two ways:

* If it is followed by a brace, everything is commented out until the next matching brace (with "brace" being at least {}, "", and, based on Tobias link, ()). See a footnote in Tame the BeaST for this, where it is stated that the only practical use for it is to comment out large parts of a bib-

[2016-07-29 07:38] matthiasgeiger commented on #1351
Removed.

[2016-07-29 07:38] #1351 closed

[2016-07-29 07:49] matthiasgeiger commented on #1600
Done.

[2016-07-29 07:49] #1600 closed

[2016-07-29 08:43] lenhard commented on #1632
Have a look at #1638

Comments marked by `@Comment` are now supported, regardless of whether they use brackets or not. I have added automated tests for this and tested it manually, but @oscargus please verify with the bib file of your colleague.

Essentially, it took a mere five lines of code (one try catch block) and a change in one method call to implement this. The fact that so few changes are

[2016-07-29 09:18] oscargus commented on #1632
@lenhard Loads well! Some (expected) info from the logger, but nothing else. It moved four entries for unknown reasons (from random places at the end to the beginning of the file), but unlikely that it has anything to do with this. No `@Comment` nearby.

[2016-07-29 09:28] lenhard commented on #1632
Fixed by #1638

[2016-07-29 09:28] #1632 closed

[2016-07-29 09:35] AEgit opened #1639 "Jabref websearch: Google Scholar shows no results on second pop-up menu"
JabRef 3.5
windows 10 10.0 amd64
Java 1.8.0_101

The Jabref websearch with Google Scholar does not show any results on the second pop-up menu
Steps to reproduce:

1. Set Web search in Jabref to "Google Scholar"
2. Copy "On the relationship between tooth shape and masticatory efficiency: a finite element study" into the Web search field
3. Fetch
4. One article is found
5. Tick the "Keep" box and cl

[2016-07-29 10:24] oscargus commented on #1639
I can confirm it. Probably related to the email you found in that it is a consequence of Google Scholar changing format on the web page. Here it seems like they changed relative links to full links as the error message reads:

[code]
so what was earlier a relative link `/...` is now a full link `http://...`.

[2016-07-29 10:33] oscargus commented on #1639
There will be a fix at http://builds.jabref.org/fix1639 in five or so minutes that you can try out.

[2016-07-29 10:35] AEgit commented on #1639
Thank you very much! Man, Jabref and its developers are just great - the more I'm using it, the happier I am I haven't switched to a (commercial) alternative!

[2016-07-29 10:51] AEgit commented on #1639
I can confirm that the bug has been fixed in:

JabRef 3.6dev--snapshot--2016-07-29--fix1639--e838541
windows 10 10.0 amd64
Java 1.8.0_101

[2016-07-29 10:54] oscargus commented on #1639
Great! Thanks for the positive words and for reporting and checking it! Not always that it is solvable in five minutes/one line though. :-)

[2016-07-29 10:59] #1639 closed

[2016-07-29 11:32] lenhard commented on #1579
Since we have a consensus on the high-level architecture, I now documented it in https://github.com/JabRef/jabref/wiki/High-Level-Documentation

Therefore, I am closing this issue. It can be reopened if necessary and we can also discuss more specific architectural things in new issues.

[2016-07-29 11:32] #1579 closed

[2016-07-29 14:46] lenhard commented on #1058
Refs: #1579

I think we have a consensus here, so I am closing this issue. Feel free to reopen for further discussion if needed.

[2016-07-29 14:46] #1058 closed

[2016-07-29 14:59] lenhard commented on #1141
As part of housing keeping, I am moving this rather open ended list of things to the forum: http://discourse.jabref.org/t/resources-for-search-engines/95

Feel free to bash me for it :-)

[2016-07-29 14:59] #1141 closed

[2016-07-29 15:06] lenhard commented on #777
We have a working implementation of a google scholar fetcher, so I assume that this old issue can be closed.

[2016-07-29 15:06] #777 closed

[2016-07-29 15:37] anassal opened #1643 "Searching with double quotes in a specific field ignores the last character"
In v 3.5

- `title="systematic review"` actually searches for  `title="systematic revie"`
- `title="systematic revieww"` actually searches for `title="systematic review"`

[2016-07-29 20:06] koppor commented on #1154
Usage of prepared statements should be solved by #1451.

[2016-07-29 20:46] koppor commented on #777
Maybe @loveneeshr can explain which UI steps he wants to take. Drag'n'drop from web browser? Maybe he should take a look at [JabFox](https://github.com/JabRef/JabFox).

[2016-07-30 06:29] jdpipe opened #1646 "LO plugin: ReferenceHeaderParagraphFormat messed up after 'refresh'"
Often when I click the 'refresh' button in the LO toolbar, my 'References' heading above my bibliography reverts from being properly styled (all caps, bold) to unstyled (roman, no longer all caps). It still appears centred. The line still has the correct paragraph style, but for some reason the character style is temporarily lost. If I type 'ctrl-M' to remove direct formatting from that heading-pa

[2016-07-30 07:50] oscargus commented on #1646
Is this a new bug or did it happen before the database extraction was added?

[2016-07-30 07:57] asnobli opened #1647 "RIS import"
1. doi import does not work with the DO or M3 (RIS standard fields)
2. patent is imported as "other"

[2016-07-31 10:39] AEgit commented on #1513
JabRef 3.6dev--snapshot--2016-07-29--fix1639--e838541
windows 10 10.0 amd64
Java 1.8.0_101

I guess the following problem is related to this (otherwise I would have to open a new issue):

Steps to reproduce:
1. Turn un "Gray out non-hits"
2. Search for something, e.g. "test" and select an entry, that is assigned to a (static) group
3. Drag'n'drop this entry to another (static) group, i. e. assign

[2016-07-31 20:54] Siedlerchr opened #1653 "Removal of layout-extension field in CustomExport"
While working on #1336 I noticed that in my opinion the extension field is not necessary.
In the code there are some checks to make sure we have` .layout`  field and that the field is not empty.
However, while one can theoretically enter text there, it does not make any sense as the extension is normally set by the selected layout file.
Before removing it, I just wanted to ask if there is maybe a

[2016-08-01 10:29] tschechlovdev commented on #1647
Thanks for reporting. Could you please write the steps to reproduce and the file(s) you have used ? That would help me a lot.

[2016-08-01 14:39] tobiasdiez commented on #1653
Isn't the extension of the file I want so save? So for example if I create a custom BibToHTML exporter, then the extension will be `html`.

[2016-08-01 14:57] Siedlerchr commented on #1653
@tobiasdiez I guess you are right, it is obvious. I totally did not think about it :facepunch: :wink: (github has no facepalm emoticon)

[2016-08-01 16:26] #1653 closed

[2016-08-01 19:05] Mixopteryx commented on #282
I had the same problem. Fixed it by exporting the preferences and changing the line `<entry key="entryEditorHeight" value="4"/>` to `<entry key="entryEditorHeight" value="500"/>` and reimporting.

[2016-08-02 05:52] tobiasdiez commented on #282
I reopen the issue since I think JabRef should prevent heights which are too small.

[2016-08-02 07:03] matthiasgeiger commented on #282
There was a bug related to this that has been already fixed (#1450 and #1463) - but intential small sizes where not covered by this fix.

What would be a "height which is too small"? Use 10-50px minimal size to indicate that the editor is open?

[2016-08-02 09:03] oscargus commented on #662
I'm wondering if the note field is the best choice since BibTeX always adds this to the reference. I would suggest comment or review.

[2016-08-02 12:38] Mixopteryx commented on #282
For me 30 px seems like a sensible minimum, at least at my system (windows 7). Then I see the top menu and would know that I could just drag it up. Its still not usable for anything so I wouldn't mind a bigger minimum size.
This wasn't intentional by me. I do not know how I managed to set the size of the entry editor to 4 px in the first place. The least height I can make by dragging seem to be 29

[2016-08-02 12:51] stefan-kolb opened #1663 "Opening the Merge BibTeX dialog on multi-monitor setup"
When running JabRef in a multi-monitor setup, e.g. on the second screen, the merge BibTeX dialog always appears on the first screen and not on the screen where the current JabRef instance is running on.

Also applies to other dialogs!

[2016-08-02 12:53] stefan-kolb opened #1664 "Auto-create groups from AUX file"
Create groups of papers cited in a paper via an aux-file

[2016-08-02 12:54] matthiasgeiger commented on #1554
As the fix is even simpler I won't open a PR for this but directly fix it in master.

The ImportInspectionDialog has not set the JabRefFrame as its owner...

[2016-08-02 12:56] #1554 closed

[2016-08-02 13:30] tschechlovdev opened #1665 "Importing an entry, that were exported with BibTeXML format failed."
JabRef version
JabRef 3.5
windows 8.1 6.3 amd64
Java 1.8.0_25

Steps to reproduce:

1. Select an entry in JabRef
2. Go to "File" and then select "Export"
3. Use "BibTeXML" as export format.
4. Import the exported entry into a new database

I get hte following warning:
"1. The character reference must end with the ';' delimiter."

And after that no entries were imported.

[2016-08-02 13:35] tschechlovdev commented on #1665
I think the reason for this is, that by the authors, the "," gets exported as "and &#44 ". So for example ``von Hippel, Eric`` gets exported as ``von Hippel and &#44 Eric ``. And then a SAXParser Exception is thrown, because after ``&#44`` is a ';' missing.

[2016-08-02 13:38] #1643 closed

[2016-08-02 13:42] stefan-kolb commented on #1663
See http://stackoverflow.com/questions/4627553/show-jframe-in-a-specific-screen-in-dual-monitor-configuration

[2016-08-02 13:47] simonharrer commented on #1633
The problem is that this is not detected as a grammar based search, but as a contains-based or simple search. You can circumvent the problem by searching for booktitle="(" which should work as expected. We could improve the search grammar, but this just takes too much time right now. Hence, I close this.

[2016-08-02 13:47] #1633 closed

[2016-08-02 16:42] lorenzolan opened #1667 "libreoffice inserting empty citation modifies following characters"
JabRef version <2.10> on <Ubuntu 16.04> with LibreOffice 5.1.4.2

Steps to reproduce:

1. Working on a LibreOffice document (with LibreOffice 5.1.4.2), with JabRef openoffice/libreoffice connection.

2. Insert empty citation (using button from the panel on the left) correctly inserts an empty citation at the cursor location; citation appears in the bibliography by clicking the "update" button, as

[2016-08-02 16:52] boceckts commented on #1665
I think the authors aren't escaped at all because with my test file I also found out that &#45, &#34 and &#39 are not escaped in the authors field. After adding a";" after each of these codes I was able to import my xml file.

[2016-08-02 17:14] matthiasgeiger commented on #1667
Thanks for your Report!

You said that you are using JabRef 2.10. Can you please check whether this is still an issue with the most recent Version 3.5?

[2016-08-02 17:37] oscargus commented on #1633
OK! Didn't think of using "", but clearly that is a good (enough) approach!

[2016-08-03 06:45] matthiasgeiger commented on #1665
I think the field gets generally escaped correctly, but the `;` which marks the end of an HTML entity such as `&#44;` is stripped or interpreted as an delimiter between different authors.

[2016-08-03 06:50] matthiasgeiger commented on #1558
I agree with @Siedlerchr and close this again :wink:

[2016-08-03 06:50] #1558 closed

[2016-08-03 07:36] stefan-kolb commented on #730
I'm not really sure why we still need this or how we should proceed with this feature.

[2016-08-03 07:37] stefan-kolb commented on #1237
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-08-03 07:37] #1237 closed

[2016-08-03 07:38] stefan-kolb commented on #1498
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-08-03 07:38] #1498 closed

[2016-08-03 07:38] stefan-kolb commented on #1519
@koppor Any news on this topic?

[2016-08-03 11:13] #1610 closed

[2016-08-03 11:44] #1612 closed

[2016-08-03 11:46] stefan-kolb commented on #1665
Related to #1337?!

[2016-08-03 12:04] #1267 closed

[2016-08-03 12:08] stefan-kolb commented on #419
Can we please document this and close the issue in the near future? I'm not really into this so I'd prefer if some of the participants can fix this documentation issue.

[2016-08-03 12:14] stefan-kolb commented on #1407
I just tried this and it's really a theoretical problem because the message box is just sized as big as the group name. If you move the mbox or you have two monitors it's still there for you. This is such a small improvement and will probably never happen so that we defer it to the UI rework.

[2016-08-03 12:27] stefan-kolb commented on #393
This is out of our hands. Closing this for now, should be retrievable for reference anyway.

[2016-08-03 12:27] #393 closed

[2016-08-03 12:35] matthiasgeiger commented on #1665
Not only related but a duplicate ;-)

[2016-08-03 12:35] #1665 closed

[2016-08-03 12:35] pgarciabaez opened #1669 "JabRef 3.5 cannot connect ot LibreOffice on ubuntu"
I have problems to connect JabRef and LibreOffice. I use:

* JabRef 3.5 (same problem with JabRef-3.6dev--snapshot--2016-08-03--master--f77daac.jar)
* LibreOffice 4.2.6.3
* Java 1.8.0_20
* Ubuntu 14.04.1
Here you can see the error output of my console:

Manual connection:
[code]

Automatic connection:
[code]

[2016-08-03 12:46] AEgit opened #1670 "FossHub hacked: Is Jabref also affected?"
FossHub has been hacked, see:

https://www.reddit.com/r/pcmasterrace/comments/4vw21h/massive_psa_do_not_download_classic_shell_read/

and

http://www.heise.de/newsticker/meldung/FossHub-kompromittiert-Software-Installer-mit-Malware-infiziert-3286347.html
(German only)

The software installer has been infected with a Malware that overwrites the boot loader.

As Jabref ist offered on FossHub as well

[2016-08-03 13:00] matthiasgeiger commented on #1670
Thanks for informing us about this issue.

The files that are the moment distributed by fosshub don't seem to be affected.

The Signatures shown at fosshub are the right ones and the files hosted there still have the same checksum:
[code]

So - as far as I can tell ATM the JabRef installers should do no harm. Nevertheless we'll link to other trustworthy download sources until the situation at foss

[2016-08-03 13:52] teertinker commented on #1669
I think I had these problems some times ago.
The reason seems to be that the path for files like unoil.jar of LO changes sometimes. My solution was to search for unoil.jar in my filemanager and copy the file (and a couple of others in the same directory, which are used by JabRef as well) to the path JabRef is looking for.

The error dialog popping up, when one tries to connect to LO is pretty help

[2016-08-03 14:04] AEgit commented on #1670
Glad to hear I was of any help!

[2016-08-03 15:33] tobiasdiez commented on #1237
@melTr Could you please export your preferences and upload them here along with the bib file (or send it to developers@jabref.org. Thanks.

[2016-08-04 07:16] matthiasgeiger commented on #1237
Thanks for sending us your settings. The reason is the one I suspected already above: You have customized the entrytype  "article" to have the following "required" fields: `author;title;journal;year;volume;pages` - and these fields are always shown, regardless whether you are in BibTeX oder BibLaTeX mode.

For you as a user there are two options which are both not really satisfying:
You can either

[2016-08-04 09:04] #1288 closed

[2016-08-04 11:18] mlep commented on #419
Previous Q&A removed by  @matthiasgeiger .
I have just added a Q&A about save actions .
This should also be documented in an help file. I have just created a specific issue for this.

[2016-08-04 12:32] tobiasdiez commented on #419
So I think we can close this.

[2016-08-04 12:32] #419 closed

[2016-08-04 12:42] davydden opened #1674 "Google Scholar web search -- Cannot download entry"
JabRef version 3.5 on Mac OS X 10.11.6, Java  1.8.0_20.

Steps to reproduce:

1. choose Google Scholar for Web search, enter `Truesdell rational continuum mechanics`
2. Choose the first book from the list `A first course in rational continuum mechanics`, click ok.
3. Empty list with nothing to choose but with an error log

[code]

[2016-08-04 12:46] matthiasgeiger commented on #1674
Google has changed its underlying source code and thus JabRef 3.5 fails to download the right data.

The issues has already been reported (https://github.com/JabRef/jabref/issues/1639) and is fixed in the recent development builds.

Thus, if you rely on the Google Scholar fetcher please use a dev build from here: http://builds.jabref.org/master/

[2016-08-04 12:47] davydden commented on #1674
@matthiasgeiger thanks for the prompt reply. Should have searched issues list better.

[2016-08-04 12:47] #1674 closed

[2016-08-04 13:32] tobiasdiez commented on #1441
Also add cleanup operation "Recreate BibKeys" after all other cleanup operations but before PDF rename.

[2016-08-04 13:33] tobiasdiez commented on #1341
Thanks @jkulesza for your suggestions. I split them in separate issues so that they are easier to keep track of:
- Report broken links in entry editor: http://discourse.jabref.org/t/show-warnings-of-integrity-checker-directly-in-entry-editor/
- Improve cleanup workflow (i.e. recreate bibtex keys and fix order): https://github.com/JabRef/jabref/issues/1441

[2016-08-04 13:33] #1341 closed

[2016-08-04 13:37] tobiasdiez commented on #995
Duplicate of https://github.com/koppor/jabref/issues/130

[2016-08-04 13:37] #995 closed

[2016-08-04 14:06] tobiasdiez commented on #1284
The new Firefox add-on framework WebExtensions (which tries to be compatible with chrome) also uses native messaging, see http://stackoverflow.com/questions/37769533/how-to-execute-a-command-line-program-in-firefox-webextensions or https://wiki.mozilla.org/WebExtensions/Native_Messaging. So if somebody of you implements the listener part in JabRef, I'm willing to try to port JabFox to the new WebE

[2016-08-04 21:48] koppor commented on #1519
I wrote them a reminder email just now.

[2016-08-04 22:47] oscargus commented on #1669
The manual connection dialog problem should be solved in http://builds.jabref.org/fixpartsof1669 (available in a few minutes) so that you at least can try it that way.

Regarding the actual connection issue, it is as @teertinker says related to the location of the four jar files juh.jar, jurt.jar, ridl.jar, unoil.jar depending on version and distribution they tend to end up in different locations.

[2016-08-04 22:50] oscargus commented on #1519
If it is not solved externally, I would suggest adding a simple replace before 3.6 is released.

[2016-08-05 07:41] mlep opened #1679 "Submission of a pull request: help file updated?"
Currently, when a pull request is submitted, default check boxes are included:

[code]

To better maintain JabRef, I suggest to add one more:
[code]

[2016-08-05 07:54] matthiasgeiger commented on #1679
I generally agree with you - but I fear that this is seen controversial by my fellow @JabRef/developers :wink:

Writing/Updating documentation is a hard and time-consuming task not really liked by developers. (Moreover, developers are always writing eays to understand and easy to use self-explanatory stuff :wink:)

Adding the bullet point to the template could be done easily, but enforcing the upd

[2016-08-05 08:15] arnyeinstein commented on #409
Hi, any news on the problem with sciencedirect? I would be very grateful if it would work again.
Cheers
Renger

[2016-08-05 08:24] oscargus commented on #1679
I also think it makes sense, but maybe one shouldn't enforce it. Still good as a reminder though.

A related question: how are the translations synchronised? I mean, I can edit the English one, but how can we make sure that the translators are at least informed that there is something to change?

[2016-08-05 08:26] oscargus commented on #1679
Meaning: we can add the bullet, but maybe shouldn't enforce ticking it for the sake of continuing the development. Also, sometimes you do something, get some feedback and change it a bit, so writing documentation is something that you do not want to do in the first version anyway. And once you're done with the feature you just want to merge it...

[2016-08-05 08:32] mlep commented on #1679
Yeah: writing doc is boring, and the developers are not in the best position to write it.

Any idea for a mechanism to signal PRs that affect the doc?

@oscargus : currently, translations are not synchronized. To my knowledge, only the English help is maintained at the moment.

[2016-08-05 11:20] oscargus commented on #409
I did just now email them to see if we can get an API key which is OK to include in the repository. In that case it should be rather straightforward to parse the search results and provide a BibTeX entry for each (Json or XML).

[2016-08-05 12:48] grimes2 opened #1681 "Latex code in groups"
JabRef version 3.5 on Windows 10

Steps to reproduce:
1. (Main menu) Groups
2. Toggle groups interface
3. Automatically create groups for database (Magic wand symbol)
4. Generate groups for author last names
5. (Some) Group entries are created in Latex code (example: B{"{o}}hmer)
6. Selecting entries fails (no result)

[2016-08-05 12:50] jdpipe opened #1682 "ooplugin: it shouldn't be permitted to cite a publication that doesn't yet have a bibtex key"
When using Jabref with LibreOffice, I can insert a reference to an entry before assign a bibtexkey to the entry. When I do so, I get "[??]" in my document. If I then click the refresh (circular arrow) icon in the ooplugin sidebar, then I get a popup message in Jabref saying "your OpenOffice/LibreOffice document references the BibTexKey 'null', which could not be found in the current database".

I

[2016-08-05 12:51] jdpipe commented on #1646
I has been like this for a very long time. At least since 2012, I think.

[2016-08-05 12:52] oscargus commented on #1210
I think we could at least implement something extracting the urn information and move it to the "correct" field. This should be possible for:
* ISBN
* ISSN

For NBN (through the links above) the information extraction is nationality dependent. At least for the Nordic countries there is a feasible path to get a BibTeX record.

[2016-08-05 13:03] oscargus commented on #1681
I tried this now and to me it works (current development version, but I do not see that anything should have been fixed since 3.5). I'm wondering if it related to how the names are written? To me, the following works: `Palom\"aki`, `Curtic\u{a}pean`, `P\'{a}pay`, `K\"{a}llstr\"{o}m`. After doing Latex -> Unicode -> Latex it also works for `Curtic{\u{a}}pean`, etc.

Do you have the number of entrie

[2016-08-05 13:06] oscargus commented on #1682
When working on another (code) enhancement related to the keys (#1676), I realized that in quite a few cases JabRef simply assumed that the key is set. This is clearly one of the cases causing actual issues. I'll have a look at it.

[2016-08-05 13:47] oscargus commented on #1682
You can try a test build in five minutes at http://builds.jabref.org/fix1682 (I'm usually not this quick, but now I was looking for a small thing to fix and this fit well.)

[2016-08-05 13:48] oscargus commented on #1682
Although the check box is a really good idea, it was a bit too much of a hassle to fix it right now.

[2016-08-05 13:50] oscargus commented on #1646
OK, great! (As in, "Great, I didn't cause it"...) Thanks for the feedback.

[2016-08-05 14:13] grimes2 commented on #1681
Show number of elements is off. Toggling Show number of elements and then automatically generate groups generates also Latex code groups, but these Latex code groups are now filled with elements. Strange!

[2016-08-05 14:45] oscargus commented on #1646
I checked it now and it is not obvious what to do about it. The code is very straightforward, so I cannot really tell what might go wrong:

[code]
So basically, insert text, change the paragraph format of the currently selected/inserted text. I tried to step debug this and cannot really see what can be improved here.

However, I saw an issue/comment (that I cannot find at the moment), where the ch

[2016-08-05 15:00] oscargus opened #12706 "Replace all Yes/No/OK/Cancel dialogs"
As brought up by @Siedlerchr in https://github.com/JabRef/jabref/pull/1683  http://ux.stackexchange.com/questions/756/what-are-some-alternatives-to-the-phrase-are-you-sure-you-want-to-xyz-in-confi

We currently have 50 instances of `JOptionPane.showConfirmDialog` where for sure this is not followed.

[2016-08-05 15:30] oscargus commented on #1681
OK, I think I found the reason. The groups are not loaded correctly. So while the generate group contains ` B{\"{o}}hmer`, the loaded group contains `B{"{o}}hmer` (despite being saved as `B{\\\\"{o}}hmer`). I mark this as a bug and hope that someone with more insight can sort it out.

[2016-08-05 16:14] pgarciabaez commented on #1669
Thanks @oscargus, now with fixpartsof1669 I can change the search paths of JabRef.

The locations of the four files in my system are:
* juh.jar: /usr/lib/ure/share/java/juh.jar
* jurt.jar: /usr/lib/ure/share/java/jurt.jar
* ridl.jar: /usr/lib/ure/share/java/ridl.jar
* unoil.jar: /usr/lib/libreoffice/program/classes/unoil.jar

As @teertinker said I put the four files in the same directory, but stil

[2016-08-06 07:38] oscargus commented on #1669
After some googling a wild guess is that the path to `soffice` (`/usr/lib/libreoffice/program`?) is not in your system `PATH`.

(I can also note that in LibreOffice 4 the required jars are in different directories, while in version 5 they have moved to the same. JabRef dropped support for different directories, and therefore version 4, some time ago, but it makes sense to simply move them to the s

[2016-08-06 16:56] pgarciabaez commented on #1669
I include the path of soffice in the system PATH, but still I have problems to connect.  Here you can see the output error of my console:

Warning: -nologo is deprecated.  Use --nologo instead.
Warning: -nodefault is deprecated.  Use --nodefault instead.
Warning: -norestore is deprecated.  Use --norestore instead.
Warning: -nolockcheck is deprecated.  Use --nolockcheck instead.
Warning: -accept=pi

[2016-08-06 17:27] Siedlerchr commented on #1669
@pgarciabaez  Another hint I found is that you must add the path to the `libjpipe.so` to your system path as well.

PS: Please add your ExceptionLog between Code-Tags (Just 2-times the code button or 4 backticks ). Makes it easier to read as it gets better formatted

[2016-08-06 22:22] giacomociani opened #1687 ""Month" field ascending/descending sorting swapped"
JabRef version 3.5 on Windows 10 64-bit

When sorting according to "month", "ascending"/"descending" are switched.

For "year", for example, descending order results in later years at the top, as expected.
For "month", however, descending order results in January at the top, and December at the bottom, which is inconsistent.

This affects both the main view and the order in which the entries are s

[2016-08-07 15:52] oscargus commented on #1687
Looking at the code it reads:

[code]

so something special is happening for month. However, that link is not leading anywhere as the sourceforge bug tracker is disabled for JabRef.

Should be quite easy to fix though.

[2016-08-07 21:42] oscargus commented on #1646
Possibly related to #1667

[2016-08-08 05:28] jdpipe commented on #1682
I tried it, worked fine. Thanks, Oscar!

[2016-08-08 08:15] purvakulkarni7 opened #1692 "NullPointerException while installing Jabref v3_2 on Mac OS X EI Capitan 10.11.6"
While installing Jabref v3_2 on my Mac OS X EI Capitan 10.11.6, I get a NullPointerException with the following error log.

[code]

The installation still completes. When I open my database and try to fetch a new entry using Google Scholar, I can see the entry in the preview window, but when the go to the next window which generates the key, the window is blank. Here is a screenshot.

<img width="

[2016-08-08 08:24] mlep commented on #1692
- Installation problems on Mac OSX should be solved in version 3.5 of JabRef. See http://www.jabref.org/blog/
- About Google Scholar, there is an issue with version 3.5 (and perhaps earlier versions). See: https://github.com/JabRef/jabref/issues/1639. This bug should be fixed in the development version, which you can find here: http://builds.jabref.org/master/

[2016-08-08 12:29] TLCFEM opened #1694 "Cannot import references in Chinese from Google Scholar."
JabRef 3.6dev--snapshot--2016-08-06--master--381b569
windows 7 6.1 amd64
Java 1.8.0_101

Function: Web Search.

Problem: Cannot import references in Chinese from Google Scholar.

Test with following string.

微分求积方法及其在力学应用中的若干新进展

Items in the inspection window are all empty.

Any relavent codes handling these things?

Can anyone check it?

Attached are two pics.

![aaaa](https://cloud.githubuserco

[2016-08-08 19:01] Siedlerchr commented on #1694
Confirmed. Seems like there is some Encoding problem in the fetcher. I'll take a look

[2016-08-08 20:01] Siedlerchr commented on #1694
I digged a bit further and the problem is getting the last URL in the `downloadToString`  method in the URLDownload class.
I also tested a downloadToFile method, Same result.
Opening URL in Browser is okay. Still need to figure out why JabRef does not get the Chinese chars.
Some encoding of the stream I think. Will investigate further tomorrow.
http://scholar.googleusercontent.com/scholar.bib?q=in

[2016-08-09 02:28] TLCFEM commented on #1694
I found another problem.

After searching for roughly 40 items by Web Search, now I cannot fetch anything. Just no item in result window. Then I visit scholar using browser and the page gives me this.

![aaa](https://cloud.githubusercontent.com/assets/19872523/17502557/0db12566-5e3d-11e6-80d7-4cc3a04076f3.png)

After verification, I can get proper results.

I do not know the mechanism of the fetch

[2016-08-09 07:01] matthiasgeiger commented on #1679
Good idea!

I'll create a new "label" `doc-update-needed` and add another bullet point to the PR template:
[code]

[2016-08-09 07:08] matthiasgeiger commented on #1694
Google scholar is blocking "automatated" crawls after generating too much traffic in short time. We already use the two-step approach with the prefetched list before crawling the actual bibtex data to circumvent this.
However, after *too much* crawls JabRef - or more correct: your IP adress - will be blocked.

Thus, the Google Scholar fetcher is not the best way to obtain lots of entries at the sa

[2016-08-09 07:11] matthiasgeiger commented on #1694
Side note: Using JabFox it is also possible to correctly import the entry you mentioned in your initial bug report

[2016-08-09 11:36] stefan-kolb commented on #1670
We will introduce code signing before switching back to Fosshub.

[2016-08-09 11:43] #1692 closed

[2016-08-09 11:47] matthiasgeiger commented on #1679
Decision during DevCall: Developers should check whether documentation is affected. If documenation is outdated due to a PR an issue should be opened at the [help.jabref.org](https://github.com/JabRef/help.jabref.org) repo.

[2016-08-09 11:51] matthiasgeiger commented on #1679
Done in 8ea1ee0.

[2016-08-09 11:51] #1679 closed

[2016-08-09 12:08] #1257 closed

[2016-08-09 12:19] koppor commented on #779
We are currently trying to focus on other things. :fire:
We will come back later to this topic, therefore closing adding [on-hold label](https://github.com/JabRef/jabref/issues?utf8=%E2%9C%93&q=label%3Aon-hold+) and closing the issue for now.

[2016-08-09 12:19] #779 closed

[2016-08-09 15:25] stefan-kolb commented on #1667
@lorenzolan Can you please check whether this is still an issue with the most recent Version 3.5?

[2016-08-09 17:27] koppor opened #1703 "Improve shared database feature"
Follow up of #1451

- [x] Database properties dialog:
  - [x] Do not show "Save sort order" - database sorts arbitrarily :innocent:
  - [x] Do not show "Database protection" - makes no sense in a shared database setting
- [x] Session restore: JabRef should open all `[shared]` tabs after startup
- [x] Store last used connection in the "open remote database dialog"
- [x] "open remote database dialog

[2016-08-09 18:17] koppor commented on #1324
@vogler Work around: Set the relative directory for each bibtex database. Please report if that works for you.

![grabbed_20160809-201655](https://cloud.githubusercontent.com/assets/1366654/17528115/42ef24e0-5e6e-11e6-90ed-437014292b1f.png)

[2016-08-09 18:21] Siedlerchr commented on #1324
@koppor  This issue is fixed in #1336 (Working directoy)

[2016-08-09 19:20] Siedlerchr commented on #1703
- [ ] Use `AssumeTrue(DevEnvironment.isCIServer())`  switch to disable database tests locally. Prevents failing tests, if no db is running locally.

[2016-08-09 23:54] koppor commented on #1703
Alternative solution: #1705 to make it explicit when to call the database tests. I know that one can also run the tests using the ide, but I would like to keep the consistency with our integration tests. Please follow up at #1705.

[2016-08-10 04:12] ajbelle commented on #1505
Although this is closed I post here as a user report as I think my experience on Win7 JabRef 3.5 is related to the “uncertain” search nomenclature that is required.  Also issue #1505
regarding the apparent heterogeneous regex-regular expression implementation seems involved. IMHO being able to search reliably IS ESSENTIAL and of high priority for large database situation, and it is one of the poor

[2016-08-10 04:25] ajbelle commented on #1633
Although this is closed I post here as a user report as I think my experience is related to the “uncertain” search nomenclature that is required.  Also related is issue #1505 regarding the apparent heterogeneous regex-regular expression implementation. IMHO being able to search reliably IS ESSENTIAL and of high priority for large database situation.
I was attempting to do a general search with a s

[2016-08-10 09:22] mtecfred opened #1707 "JabRef3.5 Export into external SQL-database issues Error Unknown column 'afterword' in 'field list' ""
JabRef 3.5 windows nt (unknown) 10.0 x86  Java 1.8.0_25 latestst downloads from yesterday 08/09/2016 JabRef_windows_3_5.exe and JabRef_windows-x64_3_5.exe

Steps to reproduce:

1. File \\ SQL Export into an external  SQL-database
 throws the following execption:

"com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Unknown column 'afterword' in 'field list' "

Please advise if there is a wa

[2016-08-10 10:01] koppor commented on #1707
We completely reworked the database code. We now offer concurrent editing at the database. Unfortunately, the schema had to change completely.

Please try the most recent recent build at: https://builds.jabref.org/master/

A documentation is in preparation at https://github.com/JabRef/blog.jabref.org/issues/1

[2016-08-10 10:13] boceckts commented on #1647
I can import the doi using the M3 field. Make sure the "-" sign is at the fourth position and the doi has to be in the originally specified [doi](https://en.wikipedia.org/wiki/Digital_object_identifier#Display) format. An url can not be parsed (just yet).
For example I can read a .ris file with the field `M3  - doi:10.1000/182` and the doi displayed in jabref is 10.1000/182.
However looking at the

[2016-08-10 11:37] tobiasdiez opened #1708 "Improve ProtectedTermsFormatter"
As a follow up to https://github.com/JabRef/jabref/pull/1620 and https://github.com/JabRef/jabref/pull/1706, the ProtectedTermsFormatter code should be further improved:
- Remove usages of `setProtectedTermsLoader`. The loader is essential for the formatter to work and thus should be injected as a dependency through the constructor.
- Remove ProtectTermsFormatter from CleanupPreset. Protected term

[2016-08-10 12:58] mtecfred commented on #1707
Thanks so far for the update. Unfortunately the Oracle DBMS Driver is
not available in both versions, see attached file.

With version 2.1.1 ist working fine.

net.sf.jabref.shared.DBMSConnector - Oracle-Driver not available

Am 10.08.2016 um 12:01 schrieb Oliver Kopp:

--

Michael Freude

Institute of Medical Technology

Hamburg University of Technology

Am Schwarzenberg-Campus 3 1.046

21073 Ham

[2016-08-10 13:18] pgarciabaez commented on #1669
Thanks @oscargus @Siedlerchr and @teertinker , I include `libjpipe.so` in my `LD_LIBRARY_PATH` and now I can connect. Issue solved.

PS: Excuse me, I will use code-tags from now

[2016-08-10 13:18] #1669 closed

[2016-08-10 13:47] lorenzolan commented on #1667
The problem seems to be solved with Jabref 3.5

[2016-08-10 13:47] #1667 closed

[2016-08-10 14:10] koppor commented on #1707
That means, you could connect to Oracle using the 2.11 version?

[2016-08-10 14:16] oscargus commented on #1669
Great! I will try to check the default locations and add a FAQ for this.

This also lead to the code tags being inserted in the default form, so no worries, something good came out of it. :-)

[2016-08-10 14:23] mtecfred commented on #1707
Yes, I'm able to connect to a remote database and to export the whole
JabRef contents into a former created remote database.

I checked it via sql console at the remote system and also with MS
Access via odbc connection.

I also can import it back from the remote sql-server by using an empty
JabRef file that is filled by the new import.

JabRef Version 2.11 © 2003-2015

Am 10.08.2016 um 16:10 schr

[2016-08-10 16:36] #1324 closed

[2016-08-10 17:20] Siedlerchr opened #1711 "Support Native filedialogs (JavaFX only)"
Currently the jFileChooser in Swing does not show a native file dialog.
However, JavaFX does.
With the new implementation in #1336 a further change is made easier.
Steps to consider:
- [ ] Investigate if JavaFx FileChooser supports all relevant methods needed
- [ ] Integration into Swing dialogs

http://docs.oracle.com/javafx/2/ui_controls/file-chooser.htm
http://javafxtuts.com/javafx-file-chooser

[2016-08-10 17:22] Siedlerchr commented on #1324
@vogler  Fixed. Please try out the latest dev build from:
http://builds.jabref.org/master/

[2016-08-10 17:23] #1711 closed

[2016-08-10 17:24] tobiasdiez commented on #1711
Good idea and should be definitely done (after migration to javafx happened).

[2016-08-10 17:56] bernhard-kleine commented on #1609
On a first glance it does not open the intended directory but requires a further click on the "browse" button to open the link. This is a different behaviour as before. Actually I prefer when the link is opened. I have installed: JabRef_windows-x64_3_6dev--snapshot--2016-08-10--master--8342956.exe

[2016-08-10 18:49] Siedlerchr commented on #1609
I rechecked the code and you are partly right.
1) When you click the "+" sign on an entry, then the open dialog **should** be directly shown (no further click necessary.  (will fix this)
2.) However, when you do Quality-> Lookup full text document, then the open dialog is only shown after you click on Browse.

[2016-08-10 19:11] Siedlerchr commented on #1609
Please test again with the version from here:
http://builds.jabref.org/fix1609/

[2016-08-10 21:13] stefan-kolb opened #1713 "Don't do 2 requests for a full-text download"
See https://github.com/The-Compiler/qutebrowser/issues/1557

Reported by @lynyus

http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.224.1999&rep=rep1&type=pdf

[code]

Always checking for isPDFMimeType is a problem. Hits the URL often. Although, we need it for validating the links twice...

[2016-08-10 22:24] oscargus commented on #1682
Fixed in #1683

[2016-08-10 22:24] #1682 closed

[2016-08-10 22:50] oscargus commented on #1708
OK, then you can tell me how to do that considering the static initializer in https://github.com/JabRef/jabref/blob/master/src/main/java/net/sf/jabref/logic/formatter/Formatters.java

[2016-08-10 23:11] ajbelle opened #1715 "Ver3 and later will not cope with LARGE .bib files on 32bit win7 Laptop"
On my 64bit destop Win7 PPC I have used all Jab vers3 up to 3.5 with all providing a significant increase in speed over pre Ver3. My .bib file of 49.34MB has 29,933 entries. However on my  Dell Latitude dual core laptop running 32bit win7 and Java Ver8.91. editing this file has not been possible since Ver3!

JabRef does display the pop-up that some entries still have no bibtexkey, but it gets no f

[2016-08-10 23:13] oscargus commented on #1708
I'm sure you mean something else with CleanupPreset than https://github.com/JabRef/jabref/blob/master/src/main/java/net/sf/jabref/logic/cleanup/CleanupPreset.java but I cannot figure out what right now.

And I cannot really say that I still think the injection of JournalAbbreviationLoader in lots and lots of methods and classes is a good idea as such. For CleanupWorker it is injected in case someo

[2016-08-10 23:23] koppor commented on #1715
We did not change that much from [2.11.1](https://sourceforge.net/projects/jabref/files/jabref/2.11.1/) to 3.0. Did you try [2.10](https://sourceforge.net/projects/jabref/files/jabref/2.10/) and [2.11.1](https://sourceforge.net/projects/jabref/files/jabref/2.11.1/), too? Could it be that the issue was introduced in one of these versions?

We internally collect bib files of others for testing. I ca

[2016-08-11 00:42] tobiasdiez commented on #1708
Regarding your questions:
- Simply don't use static fields. `List<Formatter> getConverters(arguments required to initialized them)` and similar for the other types. Static fields work great for static thinks, but the formatters can depend on the state (preferences) and thus are not static.
- I can't find the code I was thinking about. Can you please point me to the location where the ProtectTermsF

[2016-08-11 05:53] ajbelle commented on #1715
THX @koppor. You may be right because returning to my desktop PC I found that I had corrupted files (a small example of which I attach as a .zip

).  If you search with a text editor on the last entry JabRef loads you will find the following entry is incomplete and is then followed by a complete version!!! This has been done by JabRef_windows-x64_3_6dev--snapshot--2016-08-10--master--4db7557.exe w

[2016-08-11 05:55] ajbelle commented on #1715
THX @koppor. You may be right because returning to my desktop PC I found that I had corrupted files (a small example of which I attach).  If you search with a text editor on the last entry JabRef loads you will find the following entry is incomplete and is then followed by a complete version!!! This has been done by JabRef_windows-x64_3_6dev--snapshot--2016-08-10--master--4db7557.exe which I insta

[2016-08-11 10:06] matthiasgeiger commented on #1257
Starting from version 3.6 key pattern  preferences will bemigrated upon first start of the new JabRef version.

[2016-08-11 10:07] oscargus commented on #1715
A hint here is that the incomplete entry ends just before the @ in the email address. No idea what that means, but my give a hint to those more knowledgeable in the parser/writer.

Did the previous version of you bibfile by any chance have quotation marks around that field?

[2016-08-11 12:00] matthiasgeiger opened #1716 "Parsing/Writing of Entry fields containing an @ broken"
JabRef version 3.6dev

Steps to reproduce:

1. Use the character "@" in a field of an entry
2. Save the file; Entry looks like this:

[code]
3. Change the entry
4. Save again - file is broken:

[code]

I don't have any clue why this is happening. But this is clearly a blocker for a 3.6 release. @lenhard You want to waste some of your valuable vacation time? :wink:

[2016-08-11 12:01] matthiasgeiger commented on #1715
Okay I can reproduce the behavior that breaks your file @ajbelle

Issue is tracked at #1716 as this is unrelated from the performance issue you originally reported here.

[2016-08-11 12:27] matthiasgeiger commented on #1716
Caused by https://github.com/JabRef/jabref/pull/1638/files#diff-db4bf84f8c8b14426629f6fbb0ac1665R637 ...

Let's see whether I can quickly fix this without breaking the "@Comment" functionality introduced in #1638

[2016-08-11 23:03] ajbelle commented on #1715
@matthiasgeiger THX and yes. I checked again last night with uncorrupted files and the behaviour reported in my first post still occurs on the 32bit Win7 duo-core (4 CPU) laptop.
Only V3.0 gets the large .bib file open (I tried a slightly smaller version with the same results), but then any interaction immediately locks the processor to 25% or more for 30+ seconds as if it is processing the whole

[2016-08-11 23:39] ajbelle commented on #1716
Original reported USER robustness feature request.
Ver2.9.2 managed to read the file that had been corrupted by Ver3.6dev, but could not open if   Ver3.6dev saved it/exported it again! The development version could open the file it created, but not any second saved or exported versions! Doesn't make sense to me, but again a pre V3 seems more robust. Robustness is more important than speed for me.

[2016-08-11 23:49] koppor commented on #1715
@ajbelle Good look with our PhD! It would be really nice if you tested JabRef 2.10 and 2.11.1 available at https://sourceforge.net/projects/jabref/files/jabref/. This would help us to track down the root cause of the high CPU load.

[2016-08-12 09:38] matthiasgeiger opened #1721 "Wrong usage of BibEntry field `id`"
The field `id` in `BibEntry` is the internal ID used by JabRef and **NOT** the bibtexKey (which is set using (`setCiteKey(...)`). Moreover, the ID should be unique.

However, a lot of the importers and also at other spots either the bibtexkey, or a fixed value is used to set the ID.

I'm not sure whether this is already causing real trouble, but it is at least a source for potential bugs if we rel

[2016-08-12 10:07] #1716 closed

[2016-08-12 10:28] stefan-kolb commented on #1235
@koppor Did StuPro look at this when they reimplemented the hotkeys?

[2016-08-12 10:33] stefan-kolb commented on #1293
I can reproduce this issue on Ubuntu.

[2016-08-12 10:39] oscargus commented on #1721
I think it is only `EntryFromPDFCreator` that actually does something wrong (the remaning search hits on "id" in importers is the "id" field in the import rather than the entry field, at least after a quick search). I fully agree with you that there should be no disadvantages and only advantages that the constructors handles the id (I do not even see the purpose of `setId()` then, all other uses o

[2016-08-12 10:48] oscargus commented on #1721
It would probably be good to do the corresponding changes in `BibtexString` as well.

[2016-08-12 11:02] oscargus commented on #1293
And I can reproduce it on CentOS (not surprisingly).

[2016-08-12 11:07] oscargus commented on #1293
If you type text in Web search and select it while in the other tab, the search text will not be highlighted when you return (first time). It is even enough to select it once and then leave the cursor in that field (but not if you do not select it first).

[2016-08-12 11:20] koppor commented on #1235
@mairdl and @Braunch did not look at it during #1525 and do not know the reason why this causes issues. There, however, seems to be https://github.com/mairdl/jabref/pull/2, but I think, this code is lost somewhere in the git universe. @Braunch Can you have a look?

[2016-08-12 15:56] tobiasdiez commented on #1721
As far as I know the id is used only in two places:
- keep the order of bib entries when writing the file (IdComparator or something like this)
- sync with external database

I'm not sure, but I kind of remember that the recent database sync redesign introduced another id field. If this is the case, then I would propose to remove the old id completely.

[2016-08-12 17:06] cr333 opened #1723 "Mac OS X: Crash of JabRef 3.5/3.6-dev when using custom keyboard layouts"
I just downloaded the OS X installer linked under http://www.jabref.org/#downloads and installed JabRef in the default location with default settings (OS X 10.10.5 Yosemite).

When I start JabRef, it crashes after a few seconds in JavaApplicationStub:
[code]
See the [full crash report](https://gist.github.com/cr333/4e0d715d96fb2004ed26e7cdbc2f7686) for details.

I observe the same behaviour in Jab

[2016-08-12 17:14] koppor commented on #1723
@chochreiner Could you have a look?

@cr333 Could you check older releases (e.g., 3.0) in case you have some time? - We just want to get an idea of the issue.

[2016-08-12 17:19] oscargus opened #1724 "ConcurrentModificationException when removing a field in the source editor"
JabRef version latest dev on both CentOS and Windows 10

Steps to reproduce:

1. Remove a field completely in the source editor
2. Save database (or change tab or change entry)

[code]

[2016-08-12 17:25] oscargus commented on #1721
Also: detect circular referencing when resolving strings.

[2016-08-12 18:02] oscargus opened #1726 "Big undo/redo text in status bar"
The more advanced undo/redo messages are quite nice (I think), but now I realized that they are also shown in the status bar on undo/redo. I think that easiest (and best?) solution is simply to remove the update of the status bar on undo/redo.

[2016-08-12 21:04] stefan-kolb commented on #1726
I'm not sure whats the point here. Can you explain a little bit more please?

[2016-08-12 21:22] oscargus commented on #1726
It is just a heads up that I have realized that the following can happen:

<img width="794" alt="capture16" src="https://cloud.githubusercontent.com/assets/8114497/17637408/994d3990-60e3-11e6-8cf4-7b119811e822.PNG">

Just so no one have to write upset issues about it. :-)

[2016-08-12 21:23] stefan-kolb commented on #1726
Oh ouch ok...

[2016-08-13 07:58] bernhard-kleine commented on #1609
I tested it with that version. It works. However I experienced repeatingly file save issues: The first time an entry was cut before I was fully saved, interestingly the same entry was completely saved just after that faulty saved one. The next time, there were three entries not completely saved, however the completely entries were just behind. (Detected by editing the file with Notepad++). The err

[2016-08-13 08:20] Siedlerchr commented on #1609
@bernhard-kleine Thanks for your feedback. Would you please open a new issues for this and provide some steps for reproducing? As many details as possible. That helps us to track the error/faulty save process.

[2016-08-13 08:20] #1609 closed

[2016-08-13 09:02] chochreiner commented on #1723
I only have 10.11.6 (15G31) running on my mac and I I cannot reproduce the issue
you may try to delete the following file:
~/Library/Preferences/net.sf.jabref.plist

[2016-08-13 10:02] bernhard-kleine opened #1727 "When saving some entries are only partially saved but the completely saved entries follow the uncomplete ones."
JabRef version JabRef 3.6dev--snapshot--2016-08-10--fix1609--6aaeee5
windows 7 6.1 amd64
Java 1.8.0_66

Steps to reproduce:

1. Save a bib file and run biber with that file
2. Biber encounters errors
3. Check with the .blg file which line is errorneous
4. Correct i.e. delete the incomplete entries with Notepad++.

I have encountered this now twice. First one was with one of about 2000 entries, the

[2016-08-13 10:08] oscargus commented on #1727
Can you please try the latest dev build? We corrected an issue which sounds similar to this (at least if the incomplete entry ends just before an @) in #1717 .

[2016-08-13 13:57] cr333 commented on #1723
I deleted ~/Library/Preferences/net.sf.jabref.plist but still got the same crash with 3.6-dev.

JabRef 3.0 throws a NullPointerException during installation ([see log file](https://gist.github.com/cr333/3c558565567eb5ca443d6108371315c2)), but installation finishes and JabRef starts up and appears to work fine. Same for 3.2.

JabRef 3.3 installs without problems, but then crashes in the same way as

[2016-08-13 15:21] matthiasgeiger commented on #1723
Can you please check whether the same problem occurs if you use the .jar Version (runnable with out installation)

Thanks!

[2016-08-14 17:53] #1519 closed

[2016-08-14 22:30] #1724 closed

[2016-08-14 22:31] #1726 closed

[2016-08-15 01:54] ajbelle commented on #1715
@koppor THX Oliver. I installed  2.10 and 2.11.1 on the 32bit Win7 laptop and tested as you asked. The results were the same as Ver  2.9.2. with slight difference in timing of when things finally showed up, but operation was fine. I hope this helps.

On my main I7 machine I have noticed that with each release the amount of stuff JabRef seems to do automatically with each operation increases (Withi

[2016-08-15 06:00] koppor commented on #548
Refs #123

[2016-08-15 11:05] lenhard commented on #548
@koppor: Why did you add "Refs #123" here? We decided not to replace the parser and writer, but to keep and improve them. Thus, #123 is a non-issue, there is no reason to link back to it.

[2016-08-15 13:15] koppor commented on #548
The decision not to use a grammar is documented at #123. I just put the
reference in case someone wonders why we did not use an existing library.
Architectural-Decisions-Complete 😇

[2016-08-15 13:51] grimes2 opened #1742 "Program output symbol"
JabRef version 3.5 on Windows 10, HiDPI 125%
Steps to reproduce:

1. Help | Show error console
2. The red symbol is cut (not full visible)

Remark: The name error console and the red alert symbol is misleading, because it is simply the progam output.
![output](https://cloud.githubusercontent.com/assets/15456836/17666276/cc439506-62ff-11e6-9edb-77556cd2593d.png)

[2016-08-15 13:58] Siedlerchr commented on #1742
Thanks for your report.
 We are aware of the bad design of the error console and are currently redesigning the error console using the new GUI Technology JavaFX. Additionally it will have some more features, e.g. with the possibility to create an issue.  See #1383 for the work in progress.

Therefore I will close this issue.

[2016-08-15 13:58] #1742 closed

[2016-08-15 19:59] oscargus opened #1745 "Weird editing in empty entries"
JabRef version latest master

Steps to reproduce:

1. Create empty database (not really required)
2. Create two empty entries of the same type
3. Mark one of the entries and open entry editor
4. Add some text in a field and mark another field
5. The text appears in the other entry!

Selecting entries back and forth gives that the information is added to both entries. However, saving and loading on

[2016-08-15 20:58] cr333 commented on #1723
I tried all versions between 3.0 to 3.5, and none of the .jars opened. This was with Java version "1.6.0_65", which I believe is [Apple’s Legacy Java 6 runtime](https://support.apple.com/kb/dl1572).

Then I installed the latest JRE from java.com (Version 8 Update 101), and all of the .jars now open correctly.

However, when I use the JabRef installers for OS X, I see the same crashes as before. Th

[2016-08-15 22:03] chochreiner commented on #1723
Can you please post the output of:

/usr/libexec/java_home -verbose

and can you check, if the installation of the current JDK [1] fixes the issue

[1] http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html

[2016-08-15 22:31] cr333 commented on #1723
Thanks for the suggestions. This is what I get:
[code]

Installing the JDK didn't fix the issue. JavaApplicationStub still crashes in 3.5 as before (I didn't test all versions).

[2016-08-16 07:45] koppor opened #1747 "Describe migration from JabRef 2.11 to 3.6"
Setting:

 * User uses JabRef 2.11 to work with an external database
 * User uses JabRef 3.6dev and connects to external database
 * User sees no entries
 * User switches back to JabRef 2.11.
 * User sees no entries (to be confirmed)

Desired: The old entries should be shown in both cases.

Is that possible? Should the user use JabRef 2.11 to rescue his data?

@mtecfred

[2016-08-16 07:57] koppor opened #1748 "Check import .bib file"
Setting connecting to database written by JabRef 2.11.

 * User uses JabRef 2.11 to work with an external database
 * User uses JabRef 3.6dev and connects to external database
 * User sees no entries
 * User imports `bib` file with entries "Import into current database"
 * JabRef shows "Aktualisierung verweigert. Den Eintrag, den Sie zur Zeit bearbeiten, ist auf der geminsam genutzen Datenbank nic

[2016-08-16 08:37] Siedlerchr commented on #1723
@cr333  JabRef3.x needs Java 8. So I think the problem is that the java6 is still registered as the main java environment.  Mabye you could try uninstalling that first and then test again with the installer/java8?

[2016-08-16 10:26] cr333 commented on #1723
(Resolution at the bottom.)

So I removed all Java from my machine, including [Apple’s Java 6](http://superuser.com/a/712783/403176), [Oracle’s JRE 8](https://www.java.com/en/download/help/mac_uninstall_java.xml) and [JDK 8](http://docs.oracle.com/javase/8/docs/technotes/guides/install/mac_jdk.html), and restarted my computer.

Installing JabRef 3.5 downloads the JRE, but when started, it still cr

[2016-08-16 10:49] sa3016 opened #1750 "Biblatex Export to Word 2007 xml: date field is not exported"
JabRef 3.5 windows 10 10.0 amd64 Java 1.8.0_92

Jabref can import and recognize year of biblatex file, but cannot export xml 07 word format with year.

Steps to reproduce:

1. prepare a biblatex file
2. import it into Jabref
3. export it as 07 word xml

I am asked to create an issue here. (http://discourse.jabref.org/t/export-bib-to-2007-office-xml/142)

[2016-08-16 11:32] matthiasgeiger commented on #1723
Thanks for your reply! And good to hear that your problem has been fixed!

I'll rename your bug report to indicate that custom keyboard layouts are causing this trouble and will close it afterwards.

[2016-08-16 11:32] #1723 closed

[2016-08-16 11:52] Siedlerchr commented on #1750
Thanks for your report! I tried with a recent 3.6 dev version and could not reproduce the behavior.
So i suggest, you should try again with the latest dev version from http://builds.jabref.org/master/

[2016-08-16 11:59] mlep commented on #1750
I could reproduce this issue with the master build using the test BibLaTeX file http://mirrors.ctan.org/macros/latex/contrib/biblatex/bibtex/bib/biblatex/biblatex-examples.bib (file suggested in https://github.com/JabRef/jabref/wiki/BibTeX ).
In the xml file, most of entries no not have a year.

[2016-08-16 12:06] Siedlerchr commented on #1750
@mlep Then I maybe misunderstood sth:
If a year is set in the  `year `field , then it is in the xml file.  If it has a only a `date ` field set, the date is not exported. If it has both fields set, then the year is exported correctly.

Check the example `"he Importance of Being Earnest: A Trivial Comedy for Serious People`
A possible workaround is to have both fields set.

[2016-08-16 12:25] mlep commented on #1750
My guess was: if there is information about the year in the BibLaTeX entry (in the field year or in the field date), this information should be found in the xml file.

Currently, because this filter exports the entries without this information, the xml file maybe, in practice, of limited use.

[2016-08-16 12:45] Siedlerchr commented on #1750
Okay, so I file this as a bug. Because in biblatex we have either date or year field as required. And when only date field is there, then the export does not export any year/date things

[2016-08-16 14:04] grimes2 opened #1751 "Toolbar: Tooltip missing"
JabRef version 3.5  on Windows 10

1. JabRef Toolbar
2. Button for Web search interface (globe symbol)
3. Tooltip missing (should be: Toggle web search interface)

[2016-08-16 14:08] matthiasgeiger commented on #1751
Thanks for your report! This should be easily fixed for the next release...

[2016-08-16 16:01] oscargus commented on #1750
Yes, we should add a mapping from date to year if there is no year field available.

[2016-08-16 18:04] Siedlerchr commented on #1750
I will try to fix that

[2016-08-16 20:02] oscargus commented on #1751
Fixed in #1754

[2016-08-16 20:02] #1751 closed

[2016-08-16 20:32] oscargus commented on #1499
Just a minor note: `AuthorList` seems to parse this as well as `\relax` properly. I wonder where it goes wrong...

[2016-08-16 20:52] oscargus commented on #1499
There is a working version to be tested at http://builds.jabref.org/fix1499/

Turned out that the problem was very simple to solve. So simple that it was hard to find...

[2016-08-16 21:04] oscargus commented on #1497
Some notes after solving #1499. One should parse the whole author field using `AuthorList` for each author one can then check if all parts but `getLast()` is `null`, the name is a corporate name. For `PersonName` it would make more sense to provide the last name (from `getLastOnly()` to include the von part) and the first names (from `getFirst()`) and then split the first name into First and Middl

[2016-08-16 22:02] Siedlerchr commented on #1497
I will take a look at this together with #1750
A sample xml from word with corporate looks as following (Exported from Word 2013)
[code]

[2016-08-17 00:23] grimes2 opened #1757 "Empty Error setting field"
JabRef version 3.5 on Windows 10

Steps to reproduce:

1. Insert [{a in article's title field
2. Save database
3. Error setting field empty
4. forced: Kill JabRef process

![jabref - c__users_lange_downloads_test bib_ bibtex mode _2016-08-17_01-54-20](https://cloud.githubusercontent.com/assets/15456836/17719978/bf292780-641e-11e6-8084-b4e528022000.png)
(covering another message box: Error: Braces

[2016-08-17 01:41] grimes2 commented on #1742
The cut symbol appears everywhere in JabRef:
![cut](https://cloud.githubusercontent.com/assets/15456836/17721589/9d4e7b62-642b-11e6-80e8-466aabcecb45.png)
125% HiDPI, 120 DPI

![uncut](https://cloud.githubusercontent.com/assets/15456836/17721600/b394df24-642b-11e6-8598-627083edb6f4.png)
100%  HiDPI, 96 DPI

So it is a HiDPI issue of Java/JabRef.

[2016-08-17 04:50] oscargus commented on #1742
The cropped symbol is a Java issue (since the latter examples are one-liners calling a standard Java notification dialog).

[2016-08-17 06:36] mlep commented on #1757
Thank you for your report.
I have tried to reproduce it with the current development version (on my linux computer): It shows the message box "Error:Braces don't match", but I could click on "OK" and continue editing the file. So, it seems to work.
Please, could you try with the dev version on your windows 10?
You can find the development version here: http://builds.jabref.org/master/

[2016-08-17 07:12] grimes2 commented on #1757
Same bug with the development version. Please try to save database repeatedly, because the bug is not always reproducible.. [{a is the only entry in title field. (I think the problem is, that two braces don't match, so two exeptions are thrown)

[2016-08-17 07:20] #1499 closed

[2016-08-17 07:20] oscargus commented on #1531
Fixed (or rather re-enabled) in #1755.

[2016-08-17 07:20] #1531 closed

[2016-08-17 07:24] oscargus commented on #1757
I can reproduce it. You (or at least I) have to click on the save icon, pressing Ctrl+s doesn't trigger the crash.

[2016-08-17 07:29] oscargus commented on #1757
Interesting:
* Ctrl + s => two error dialogs, continue working
* File -> Save database => one error dialog, continue working
* Save button in toolbar => crash with blank (after a very short time) error dialog

My guess is that this may be related to some old code where we catch more or less any exception and ignore it...

[2016-08-17 07:35] oscargus commented on #1757
I can also add that it doesn't seem related to any EDT issue (although there is one solved in #1725 that will be triggered later in the save process, but JabRef freezes before getting there).

[2016-08-17 07:36] grimes2 commented on #1742
I found this: http://superuser.com/questions/988379/how-do-i-run-java-apps-upscaled-on-a-high-dpi-display
dpiAvare=true in java.manifest?

[2016-08-17 08:30] mlep opened #1758 ""Database properties" window: add a button to open the help file"
In the window "Database Properties", there is no link to the help file, while this help file exists ( http://help.jabref.org/en/DatabaseProperties  ).

[2016-08-17 10:18] oscargus commented on #1758
Try it out at http://builds.jabref.org/fix1758/ in a few minutes.

[2016-08-17 10:51] mlep commented on #1758
It works.
Thanks!

[2016-08-17 10:59] AEgit opened #1760 "Preview not updated properly"
JabRef 3.6dev--snapshot--2016-07-29--fix1639--e838541
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. Select an entry. The entry preview (correctly) appears at the bottom of Jabref.
2. Now select several entries, e. g. the first two entries below the entry you had intially selected. I've done this by holding SHIFT and clicking onto the last entry I want to select.
3. Three entries ar

[2016-08-17 11:42] #1758 closed

[2016-08-17 12:52] grimes2 opened #1762 "Google Scholar: Preview with wrong encoding"
JabRef 3.6dev--snapshot--2016-08-16--master--257ba21 windows 10 10.0 amd64 Java 1.8.0_101

Steps to reproduce:

1. Web search interface
2. Google Scholar
3. Fetch
4. Preview with wrong encoding

![scholar](https://cloud.githubusercontent.com/assets/15456836/17736650/550a85cc-6489-11e6-9f4f-d0068af0cac6.png)

[2016-08-17 13:43] stefan-kolb opened #1763 "File-Save/Save as should already suggest .bib ending"
Currently it is set on All files.

![image](https://cloud.githubusercontent.com/assets/2141507/17738393/5e607f48-6491-11e6-94f0-1d5393bdfc8a.png)

[2016-08-17 15:36] #1763 closed

[2016-08-17 17:01] Siedlerchr commented on #1750
As part of the reworking in #1765  , I already fixed the exportation of the year.
@sa3016  @mlep  Please try again with the newest version from here:
http://builds.jabref.org/office07/

If you notice any other things which look odd regarding the export, please report.

[2016-08-17 17:35] mlep commented on #1750
Thanks for fixing the year. It works very well!

Other odd things (since you asked...):
- fields *journaltitle* (should be treated the same as *journal*), *volume* and *number* are not exported.
- LaTeX encoding (like *{\'e}*) is exported as is.

[2016-08-17 18:12] Siedlerchr commented on #1750
Thanks for the test. I will look into that the next days. I already noted that not all fields are exported correctly.
Things I am aware of:
- Author exporting as Corporate (there is an issue already for that)
- Day/Month not exported

[2016-08-17 18:53] oscargus commented on #1750
One way would be to use getFieldOrAlias which solves some of these things
automatically.

[2016-08-17 19:35] mlep opened #1767 ""Find duplicates" window: add a button to open the help file"
There is now a help page describing the feature "Find duplicates": help.jabref.org/en/FindDuplicates .
A help button should be added to the "Find duplicates" window.

[2016-08-17 20:49] Siedlerchr commented on #1750
@oscargus  I already used it for the year.

[2016-08-17 21:22] grimes2 commented on #1763
Same issue with Open database, Save selected (.bib), Export/Import preferences (.xml) etc.

[2016-08-17 21:32] Siedlerchr commented on #1763
@stefan-kolb My idea was to (only) use setFilter when we have a single ext.
See #1764

[2016-08-18 06:12] Mattri commented on #1750
Another issue concerning MS Word 2007 XML-Export:

If you have a list of authors in BibTeX separated with lowercase "and", everything works well during export, i.e. first, middle and last names of authors are converted correctly. Yet, if "AND" in capital letters is applied as separation, the parsing does not work.

[2016-08-18 06:17] Mattri commented on #1750
Is this a missing feature or bug in MS Word 2007 XML-Export?

In BibTeX there is the field "Language". In MS-Bib there is the tag <b:LCID>. From my point of view, the BibTeX-field is not yet considered in order to determine the correct language code in MS-Bib.

[2016-08-18 07:39] stefan-kolb commented on #1763
@Siedlerchr Could be an option, but maybe this is not what we want in every dialog? So I just made it explicitely.

[2016-08-18 07:40] stefan-kolb commented on #1763
@grimes2 Thanks for pointing this out, I'll take care of this.

[2016-08-18 07:50] Siedlerchr commented on #1750
@Mattri  Thanks for your report. Regarding the language field, there is already code for translating the lang field to LCID, but it may be not functioning correctly.

[2016-08-18 07:56] koppor opened #1768 "Ensure that binaries can be uploaded to FossHub"

[2016-08-18 08:02] koppor commented on #661
We are currently trying to focus on other things. :fire:
We will come back later to this topic, therefore closing adding [on-hold label](https://github.com/JabRef/jabref/issues?utf8=%E2%9C%93&q=label%3Aon-hold+) and closing the issue for now.

[2016-08-18 08:02] #661 closed

[2016-08-18 08:21] koppor commented on #654
Relates to #119

[2016-08-18 08:21] #654 closed

[2016-08-18 08:23] oscargus commented on #653
Focus on CitationStyles #654 .

[2016-08-18 08:23] #653 closed

[2016-08-18 08:28] koppor commented on #730
- [ ] Remove Optional fields and Optional fields 2 from the logic. It should be only used in the UI.

[2016-08-18 08:52] tschechlovdev commented on #898
#1666 is merged, so I think this can be closed.

[2016-08-18 08:56] #898 closed

[2016-08-18 10:19] grimes2 commented on #1763
For open dialogs with multiple extensions is would be nice to have "All supported types (*.bibx, *.bib, *.txt, ...)" as default.

[2016-08-18 10:23] stefan-kolb commented on #1763
Can you please open a new issue for this?

Am 18.08.2016 12:19 nachm. schrieb "grimes2" <notifications@github.com>:

[2016-08-18 10:35] grimes2 opened #1771 "Open dialog: All supported types as default"
For open dialogs with multiple extensions is would be nice to have "All supported types (*.bibx, *.bib, *.txt, ...)" as default. (File > Import into new database)

[2016-08-18 11:26] stefan-kolb commented on #1771
Could you specify which actions are affected? This would tremendously help us to get this consistent :smile:

[2016-08-18 11:26] #1767 closed

[2016-08-18 11:38] grimes2 commented on #1771
File > Import into new database
File > Import into current database

Both actions support same extensions (around 10 database format extensions).

[2016-08-18 13:54] stefan-kolb commented on #1771
This should be fixed in current `import-dialogs`. Please try the latest build from http://builds.jabref.org/import-dialogs.

[2016-08-18 14:19] grimes2 commented on #1771
It works. But I tested only with a few import formats. Thanks. Much better now.

[2016-08-18 14:24] stefan-kolb opened #1776 "ArXiv fetcher seems to be broken"
Check current builds. https://travis-ci.org/JabRef/jabref/builds/153277476

[2016-08-18 16:19] Siedlerchr opened #1779 "Integrity check should report empty BibTexKey as problem, too"
JabRef version 3.6dev
Steps to reproduce:

1. Create an entry with no BibTeyKey but otherwise all fields set
2. run Integrity Check
3. Integrity check reports no problem

Warning about empty BibtexKey occurs only at startup. However, the integrity checker should report the empty bibtex key, too.

[code]

[2016-08-18 16:21] Siedlerchr commented on #1776
Mabye not our fault:
`arXiv.org will be down for maintenance August 18th 2016 from 8:20am to 9:20am EDT. To view articles please use the mirrors. The submission system and user log-in will be unavailable during the maintenance time.
`

[2016-08-18 16:31] Siedlerchr commented on #1776
Update: It's a jabref problem. Server Response is okay (did a quick capturing with wireshark)

[2016-08-18 16:50] tobiasdiez commented on #1776
Yes, it is a problem with JabRef. The query
http://export.arxiv.org/api/query?search_query=ti:"slice theorem for Frechet"
works fine. Maybe there is a problem with the accents, since
http://export.arxiv.org/api/query?search_query=ti:"slice theorem for Fréchet"
results in a bad response. However, accents should be stripped https://github.com/JabRef/jabref/blob/5fdb61f6577d0801218cf779fadffb13902b14

[2016-08-18 17:48] Siedlerchr commented on #1776
3.5 works fine when entering an identifier.
Only entering words does not work.

[2016-08-18 18:15] Siedlerchr commented on #1776
Our Cookie Handler class should be removed.
When I remove/comment out the usage of our cookieHandlerImplemenation then arxiv works again...

[2016-08-18 18:33] Siedlerchr commented on #1762
Confirmed. Mabye somehow related to #1694

[2016-08-18 19:15] koppor commented on #1768
Refs #1670

[2016-08-18 19:42] matthiasgeiger commented on #1762
Have not checked the source... @oscargus Have you made a change in one of your recent PRs that always an encoding must be set in the fetchers? I don't exactly remember this...

[2016-08-18 20:35] oscargus commented on #1762
Yes, put what I did was to remove
[code]
and replace  `downloadToString()` with a direct call to `downloadToString(Globals.prefs.getDefaultEncoding())`, see https://github.com/JabRef/jabref/commit/90044ac423016f8b5931ea6a4067ff314ed3047a

While this is the only change from our side, it is not obvious that this should affect it.

[2016-08-18 21:02] oscargus commented on #1762
Could it be that they are not using HTML-encoded characters anymore, but UTF-8?

[2016-08-19 10:00] stefan-kolb commented on #1776
Strangely enough the build is working again...

[2016-08-19 10:39] Siedlerchr commented on #1776
Makes one believe in supernatural things going on here ;) Especially on travis...
Nonetheless we should get rid of that Cookie class.

[2016-08-19 11:56] stefan-kolb commented on #1727
@bernhard-kleine Can you please try the latest dev build?

[2016-08-19 12:33] #1771 closed

[2016-08-19 12:55] matthiasgeiger commented on #1762
Okay... I think I got it.

The problem is that we are using the user agent "JabRef" google is serving the results not in "UTF-8" but in "ISO-8859-1"... We are using `new URLDownload(urlQuery).downloadToString(Globals.prefs.getDefaultEncoding());` - which is generally a bad idea. Thus it works if a user is using ISO-8859-1 as default encoding but not in all other cases...

The question is how solve

[2016-08-19 13:02] Siedlerchr commented on #1762
Hm. Theoretically UTF-8 would be the prefered version. Not sure if google treats our "JabRef" Useragent any differently than any other string (except for the encoding)

[2016-08-19 13:06] oscargus commented on #1762
I think hard-coding is fine. As long as the imported entries are converted
to plain ASCII-LaTeX it should work fine for either case (probably slightly
better for UTF-8, depending on how clever Google is). If we should try to
convert to some other encoding we open for lots of work (or at least the
need for some library).

I'd go with some Mozilla-like-string and UTF-8, as is done in some of the
oth

[2016-08-19 14:59] tobiasdiez commented on #1762
Best would be JabRef as user agent and UTF-8 as response, if this is somehow possible.

[2016-08-19 17:19] matthiasgeiger commented on #1762
Found at http://www.codesimple.net/2006/08/google-maps-utf-8-problem_9034.html

Will check later if this also helps for Google scholar queries...

[2016-08-19 18:40] matthiasgeiger commented on #1694
The encoding problem should be fixed with #1785.

You can checkout a devbuild at http://builds.jabref.org/fix-scholar-encoding/ to check whether searching for chinese letters is working again!

[2016-08-19 19:02] #1776 closed

[2016-08-19 19:06] matthiasgeiger commented on #1694
Okay... better luck this time ;-)

Should be working now: http://builds.jabref.org/fix-scholar-encoding

[2016-08-19 20:10] grimes2 commented on #1779
Empty required fields are indicated with a red entry number field. So it might be more intuitive, that an empty bibtexkey field is also red.

[2016-08-19 20:21] Siedlerchr commented on #1779
Refs: https://github.com/koppor/jabref/issues/152

[2016-08-19 21:44] Siedlerchr commented on #1750
@Mattri  Regarding the language mapping, I looked a bit deeper and think that we can not provide a complete mapping for all kind of languages, because the LCID Language codes are not easy translatable into the internally java used. Currently we only support English.

@mlep
I just fixed some more issues and field mappings. Not only for export, but for import, too.
Patent in MS Bib is imported as pa

[2016-08-20 08:15] grimes2 commented on #1763
Another two cases:

AUX: Tools > New subdatabase based on AUX files > Browse
CLASS: Options > Manage custom imports > Add from folder

[2016-08-20 08:21] grimes2 opened #1788 "Inconsistency in dialogs DIRECTORY_ONLY: open and select directory"
![_2016-08-19_20-01-36](https://cloud.githubusercontent.com/assets/15456836/17829962/5c9bb634-66bf-11e6-8216-fdb726afecd0.png)

![_2016-08-20_10-05-56](https://cloud.githubusercontent.com/assets/15456836/17829964/61042a94-66bf-11e6-8444-f75012858147.png)

[2016-08-20 09:16] stefan-kolb commented on #1788
Can you please post where you open those dialogs?

[2016-08-20 09:22] grimes2 commented on #1788
Select directory: Quality > Find unlinked files > Browse
Open: File > Database properties > Browse (only one example)

[2016-08-20 09:49] grimes2 commented on #1771
Another case:

JAR/ZIP: Options > Manage custom imports > Add from JAR

[2016-08-20 09:57] grimes2 commented on #1763
LAYOUT: Options > Manage custom exports > Add new > Browse

[2016-08-20 10:00] Siedlerchr commented on #1763
@grimes2  You do not need to mention all dialogues here. That are probably all dialogs that use a single file extension to filter (much easier to search for in the code)

[2016-08-20 13:17] grimes2 opened #1795 "Wrong table background color in author/editor field"
JabRef 3.6dev--snapshot--2016-08-19--fix-scholar-encoding--b3671a0
windows 10 10.0 amd64
Java 1.8.0_101

In entrytype article author is a required field. The background color for required fields should be grey. But the color of the author field is white. (Default color codes are activated)

[2016-08-20 13:51] oscargus commented on #1795
A guess: your column is actually showing "author/editor"? I had a look at the code the other day, but couldn't figure out how to deal with it with multiple fields.

[2016-08-20 14:01] grimes2 commented on #1795
That's bad. So the coloring doesn't make sense. By the way, the editor field in entrytype book is also a required field.

[2016-08-20 14:15] oscargus commented on #1795
There is an easy approach:

* check if any of the fields in a column are required, in that case mark it
as required (similar to optional, but with priority for required).

The problem is the potential confusion if the article has an editor, but
not an author. Then it looks like the mandatory field is filled, but it is
not. The option of having white background in that case may also be quite
confus

[2016-08-20 14:56] grimes2 commented on #1795
I have now removed these combined fields author/editor and journal/booktitle. I have removed editor, because it is for me of minor interest and I made two seperate columns journal and booktitle.

[2016-08-20 14:59] stefan-kolb commented on #1788
Only the dialog Quality > Find unlinked files > Browse uses the Choose Directory button?!

[2016-08-20 15:10] grimes2 commented on #1788
Yes, it is much more easy to change that dialog title/button, but semantically Select directory is correct. (Open is for open files)

[2016-08-20 15:11] stefan-kolb commented on #1788
I used the default JFileChooser description for now, which is `Open`

[2016-08-20 15:58] oscargus commented on #1788
I think something stating directory is preferable.

[2016-08-20 16:23] grimes2 commented on #1788
My proposal:
For the window title: Select directory
For the button: Set directory

[2016-08-20 19:04] oscargus opened #1798 "Reference to old "pdfDirectory" in the code"
In `UrlDragDrop` there is the following piece of code:

[code]

This should be changed to use, if nothing else, the correct directory and preferably the correct file name.

[2016-08-20 19:31] Siedlerchr opened #1799 "Get bibtex data from DOI - UI Thread blocks if http request is long running"
JabRef version 3.6dev latest
Steps to reproduce:
1.  Entry with DOI  `10.13140/2.1.3259.2169`
2.  GetBibTex Data from entry
3. UI blocks because of long running request (atm the download returns a 405 Gateway timed out, therefore long running).

=> Download/Request should be made in Backround Thread

[2016-08-20 20:47] Siedlerchr commented on #1750
Current status:
 - Author exporting as Corporate (there is an issue already for that)
- ~~Day/Month not exported~~ Only Year and Month can be exported (or are extracted from the date field)
- ~~PatentNumber gets exported as issue: (http://discourse.jabref.org/t/customize-word-2007-xml-export-filter/149)~~
- ~~LaTeX encoding (like {\'e}) is exported as is.~~ Authors are now converted as unicode, to

[2016-08-20 20:51] oscargus commented on #1799
This would be a good situation to start using https://docs.oracle.com/javase/7/docs/api/javax/swing/SwingWorker.html

[2016-08-20 21:39] oscargus commented on #1750
You may try BibUtils https://sourceforge.net/p/bibutils/home/Bibutils/ and see how/if it is mapped. (Unfortunately, the source seems hard to find...)

[2016-08-20 21:52] #1762 closed

[2016-08-20 21:55] oscargus commented on #1694
I merged #1785 and hope that the encoding issue here is fixed. Feel free to reopen if it doesn't work for you @TLCFEM .

[2016-08-20 21:55] #1694 closed

[2016-08-21 10:28] stefan-kolb opened #1802 "Aux file import close button reopens the dialog"
After closing the aux file import dialog it gets reopened before closing it again via the close button really closes it.

[2016-08-21 10:30] stefan-kolb commented on #1802
Development bug in my branch sorry.

[2016-08-21 10:30] #1802 closed

[2016-08-21 11:20] grimes2 commented on #1788
I' ve tested JabRef 3.6dev--snapshot--2016-08-21--more-file-dialogs--d1d0572:

Quality > Find unlinked files > Browse: Pressing "Select" is not updating the directory field with new path. A refresh problem?

[2016-08-21 12:12] stefan-kolb commented on #1788
@grimes2 Thanks for pointing this out, I pushed a fix right now.

[2016-08-21 12:55] grimes2 commented on #1788
Another issue: Preferences > File > Main file directory: Button cropped

Apart from that: LGTM. Thanks.

[2016-08-21 14:23] grimes2 commented on #282
I can't minimize the entry editor in newest development version. Is this fixed already? Can't find the commit.

[2016-08-21 15:48] stefan-kolb commented on #1788
@grimes2 Also fixed this. Thanks a lot for your detailed testing! :+1:

[2016-08-21 20:54] grimes2 opened #1803 "Working directory is set to full path including filename"
JabRef 3.5
windows 10 10.0 amd64
Java 1.8.0_101

1. File > Open database, open a bib file
2. Show preferences, string working directory
3. string is a full path (with bib file) not a directory

"Save database as" works correct.

[2016-08-21 21:38] Siedlerchr commented on #1803
Confirmed in the dev version.

[2016-08-21 21:59] Siedlerchr opened #1804 "Url field vanishes after running "Check integrity""
Originally reported by Sait_Umar in the forum:

http://discourse.jabref.org/t/check-integrity-removing-my-url-fields/123/4

JabRef 3.5 and Jabref 3.6dev
windows 7 6.1 amd64
Java 1.8.0_102

Tested both biblatex and bibtex entries:

Steps to reproduce:
1.  Create a new bib database (In file.bib some entries contain url fields)
2.  Enter entry with url content http:://www.google.de
2.  Run "check int

[2016-08-21 22:33] oscargus commented on #1803
I haven't found any consequences after a quick check. Can be fixed by replacing all `file.getPath()` by `file.getParent()` when setting the preference.

[2016-08-22 03:53] mariofiorini opened #1805 "import inspection window not working with fetched entries"
JabRef version 3.5
I am having trouble with the import inspection window not working with fetched entries. Below I include a specific paper that I was looking for using Google Scholar "Risk selection and heterogeneous preferences in health insurance markets with a public option" (but the result would the same with another paper). I find the paper but then the import inspection window is still empt

[2016-08-22 05:10] oscargus commented on #1805
Google changed the structure so that the actual bib-files were on a different server, see https://github.com/JabRef/jabref/issues/1639 . This should be fixed in the current master. Please try it out at http://builds.jabref.org/master and report back if it is the same issue.

[2016-08-22 05:21] mariofiorini commented on #1805
I tried the master and it works fine there! thanks for this.

[2016-08-22 05:33] oscargus commented on #1805
Great!

[2016-08-22 05:33] #1805 closed

[2016-08-22 06:32] grimes2 opened #1806 "Wrong Database properties encoding"
JabRef 3.6dev--snapshot--2016-08-22--master--74afbb7
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. File > Database properties > Database encoding > Big5 (was/is windows-1252)

[2016-08-22 07:14] mlep commented on #1750
The mapping for *number* seems to be *Issue*. See:
- https://mahbub.wordpress.com/2007/03/24/details-of-microsoft-office-2007-bibliographic-format-compared-to-bibtex/
- https://bib2word07xml.codeplex.com/SourceControl/latest#Program.cs

The *official* method to find the mapping seems to be *use Microsoft Word and look at the output*...
( https://msdn.microsoft.com/en-us/library/bb258052(v=office.1

[2016-08-22 09:09] Siedlerchr commented on #1750
Ah yes, I see that this is a BibTeX only thing http://www.cs.arizona.edu/~collberg/Teaching/07.231/BibTeX/bibtex.html , because both BibLaTeX and Word have an Issue, Volume and Edition field, DOI is an extra field, too.
I think, will check if the issue field is set and then otherwise use the value of number.

This is a sample I created in Word 2013:
[code]

[2016-08-22 10:03] grimes2 opened #1808 "Import Preferences don't set font size"
JabRef 3.6dev--snapshot--2016-08-22--master--74afbb7
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. Change Preferences > Appearance > Set table font to font size 14
2. Export preferences (xml)
3. Change Preferences > Appearance > Set table font to font size 10
4. Import preferences (xml)
5. fontsize is still 10 (should be 14)

Remark:
font size is saved in xml:
`<entry` key="fontSiz

[2016-08-22 11:00] stefan-kolb commented on #1806
Probably relates to #1790

[2016-08-22 11:04] stefan-kolb commented on #1806
@oscargus I don't know if its good to make encoding optional. This might cause a lot of problems? Maybe just return a default encoding UTF-8 if no encoding was set?

[2016-08-22 11:13] oscargus commented on #1806
The alternatives are to

a) always provide it in the constructor
b) have an unremovable Globals dependency in MetaData

Earlier it was set to `Globals.prefs.getDefaultEncoding()` upon construction. Now it is set to the same value upon access, so probably slightly better even, in case it is changed, so I doubt that it actually has to do with #1790. Of course, another way would be to fall back to UT

[2016-08-22 11:14] stefan-kolb commented on #1806
@oscargus I already got the problem in the code:
[code]

[2016-08-22 11:27] oscargus commented on #1806
Ahh, I thought I had searched for all `getEncoding()` and handled it... Thanks!

[2016-08-22 12:10] grimes2 opened #1813 "Request: Import/Export preferences dialog with working directory as default"
The current default directory is user-dir. I think, the correct place for the xml file is the working directory (or a subdirectory of it). The working directory variable should work now.

Talking about this dialog:
![image](https://cloud.githubusercontent.com/assets/2141507/17858466/264fed2a-6886-11e6-9dd0-dbec9591ae3c.png)

[2016-08-22 12:13] #1806 closed

[2016-08-22 12:27] #1803 closed

[2016-08-22 12:36] oscargus commented on #1808
I do not know if it is related, but if one just does the following:

1. Press "Set table font" and change something. Press "OK".
2. Press "Set table font" and everything is back to before the change in 1.

I guess this is related to the preference change not actually happening before pressing "OK" in the Preferences dialog and the font dialog is initialized from `GUIGlobals.currentFont`.

[2016-08-22 13:01] oscargus commented on #1757
I looked a bit more intro this and what happens is that for ctrl+s the first dialog shows up and then is the save action not performed until "OK" is clicked. Then during the actual save, the next dialog shows.

When pressing the toolbar button, the save action starts despite the first dialog not being confirmed. Then, after a while, a second dialog shows up and then it freeze. It seems related to

[2016-08-22 14:39] stefan-kolb commented on #1813
@JabRef/developers We got a few different working dirs. Maybe we should discuss if we really need them or just use one working dir for all dialogs:
[code]

[2016-08-22 14:54] stefan-kolb commented on #1813
Especially `FILE_WORKING_DIRECTORY` is debatable. used for external file type application selection and in the file dialog of the general tab of an entry.

[2016-08-22 15:03] #1788 closed

[2016-08-22 15:05] stefan-kolb commented on #1798
`UrlDragDrop .java` is never used in current master?!

[2016-08-22 15:10] stefan-kolb commented on #1798
See #1454, #121

[2016-08-22 15:12] stefan-kolb commented on #1798
Also, the `FieldProperties.URL` seems to be never used at the moment.
[code]

[2016-08-22 15:50] obraliar commented on #1748
This issue is solved and can be closed.

[2016-08-22 15:51] #1748 closed

[2016-08-22 16:19] Siedlerchr commented on #1813
Working Directory is clear, it is always the location of the bib file (if not otherwise set).
Yeah, I  think File_Working_Directory is confusing, especially for adding a file to an entry. There I would expect  to open the dlg in the Working_Directory.  However, some may prefer having two different dirs for that. No idea. Ask the users.

[2016-08-22 17:19] stefan-kolb commented on #1813
It's not really about the user right now it's about the concept because it's inconsistent at the moment.

[2016-08-22 17:25] oscargus commented on #1757
OK, I think I know what the problem is, but I do not really know how to solve it.

* Ctrl-s => trigger `SaveDatabaseAction` in `EntryEditor` which runs `updateField` that trigger the first dialog, waits for it to press OK and then invokes the actual save action using `BasePanel.runCommand()` that invokes `exporter` `SaveDatabaseAction` which blocks the ui in the end of `init` in the three-step ini

[2016-08-22 20:06] Siedlerchr opened #1820 "Globals.pref dependency in BibEntryAssert"
I just add another case here, I found out in #1765  which needs some special care:

In `MsBibImporterTestfiles` it is theoretically not needed, but if I remove it fails with an NPE, reason is
`getListFromInputStream(InputStream is)`  in `BibEntryAssert` loads prefs from Globals.prefs

@oscargus  As you are currently reworking that globals stuff, just one thing I noticed. Maybe you can add fix, thi

[2016-08-22 20:21] oscargus commented on #1820
Included in #1819. :-)

[2016-08-22 20:22] oscargus commented on #1820
But I haven't touched the tests for specific importers (yes).

[2016-08-22 20:38] oscargus commented on #1820
Now I touched the importers...

[2016-08-22 21:43] #1820 closed

[2016-08-23 04:58] oscargus commented on #1721
There is another potential use case: when clicking on an entry in the integrity check dialog the entry is selected based on BibTeX key. Here it would be better to select it based on Id  (although of course show the key as now).

[2016-08-23 06:22] oscargus commented on #1804
Caused by:

[code]

[2016-08-23 06:59] grimes2 commented on #1813
My user opinion regarding `FILE_WORKING_DIRECTORY`: You can remove the variable, text field, browse button in the preferenes. And also remove the checkbox below and set `WORKING_DIRECTORY` as default for the entry editor dialog.

[2016-08-23 07:15] #1798 closed

[2016-08-23 07:49] #1804 closed

[2016-08-23 07:54] stefan-kolb commented on #1536
@matthiasgeiger Any updates here with the preferences upload?

[2016-08-23 08:06] stefan-kolb opened #1824 "Localization"
@mlep We are doing a feature freeze for 3.6 right now. It would be great if you can take over the localization stuff for the next release :smile:

[2016-08-23 08:10] #1760 closed

[2016-08-23 08:11] stefan-kolb commented on #1760
Thank you for your report :+1:
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2016-08-23 08:22] koppor commented on #1670
We ordered a [OSS certificate at certum](https://www.certum.eu/certum/cert,offer_en_open_source_cs.xml), due to some order processing issues, the certificate won't make it in 3.6. Nevertheless, FossHub is up and running with new security and can be reused for download hosting again.

[2016-08-23 08:22] #1670 closed

[2016-08-23 08:33] mlep commented on #1824
I am not sure I understand you: by "take over the localization stuff", do you mean version 3.6 or 3.7?

[2016-08-23 08:40] mlep commented on #1824
@JabRef/translators @oscargus :
JabRef 3.6 is scheduled for release this Friday (August 26), it is time for us translators to wrap up the localization.
Please, find below the current status for each localization file.
*Watch out*: some strings waiting for translation have been added in the middle of the file (and not at the bottom.

src/main/resources/l10n/Menu_in.properties: 5 empty values.
src/m

[2016-08-23 09:01] AEgit commented on #1760
I can confirm that this issue has been fixed in:
JabRef 3.6dev--snapshot--2016-08-23--master--9ac0e67

It seems now, however, that the default for the groups interface has changed. Beforehands, the groups interface was automatically toggled on. Now, even if I toggle on the groups interface, save the database, close it and then reopen it the groups interface won't appear automatically. I have to to

[2016-08-23 09:07] stefan-kolb commented on #1760
@AEgit This is a different issue. Can you please open a new one for this? I think this should be saved between interactions.

[2016-08-23 09:08] AEgit commented on #1760
Alright, I just wanted to check, whether it's not just me who has missed a change in the settings/preferences.

[2016-08-23 09:14] AEgit opened #1825 "Default of groups interface has changed? Groups interface doesn't appear automatically anymore."
JabRef 3.6dev--snapshot--2016-08-23--master--9ac0e67
windows 10 10.0 amd64
Java 1.8.0_101

It seems as if the default for the groups interface has changed (see also https://github.com/JabRef/jabref/issues/1760#issuecomment-241671690).
Before updating to the current version (JabRef 3.6dev--snapshot--2016-08-23--master--9ac0e67), the groups interface was automatically toggled on (JabRef 3.6dev--snap

[2016-08-23 09:29] stefan-kolb commented on #1825
The groups interface doesn't toggle automatically anymore if there are groups inside the database, this is expected #1610.
However, we should still save the current state of the groups interface if it is opened or not and reopen it after closing JabRef or opening a new database.

[2016-08-23 09:31] AEgit commented on #1825
Thanks for the explanation: So it is just the current state of the groups interface that needs to be saved.

[2016-08-23 16:20] oscargus opened #1827 "Strange group undo code"
Consider the following code in `GroupChange`:

[code]

Clearly both the old and the new version of the groups are identical.

I do not know what the consequences are, but I would guess it is hard to undo certain group changes....

I traced the source backwards but it was like this (from a functional perspective) when the source was moved to GitHub.

[2016-08-23 20:09] Siedlerchr commented on #1824
To search for empty lines, open the the files in an editor which supports RegEx (e.g. Notepad++ on Windows)  and search for:
`.=\r\n`  On Windows and on Unix/Mac
`.=\n`

German translation is now complete.

[2016-08-24 01:29] cdvanlangenberg opened #1833 "Fetch from google scholar"
I have issues with fetching from google scholar (I use version 3.5)
It is the exact same issue as in https://github.com/JabRef/jabref/issues/1639

from log:
[JabRef CachedThreadPool] WARN  net.sf.jabref.importer.fetcher.GoogleScholarFetcher - Cannot download entry from Google scholar
java.net.UnknownHostException: scholar.google.comhttp
	at java.net.AbstractPlainSocketImpl.connect(Unknown Source)

[2016-08-24 02:42] koppor commented on #1833
Which issue with the installer do you have?

[2016-08-24 02:43] koppor commented on #1833
Thank you for reporting this issue. We think, that is already fixed in our development version. Please try downloading the `jar` from http://builds.jabref.org/master/ and test it with that until we sorted out the issues with the installer.

[2016-08-24 02:52] cdvanlangenberg commented on #1833
I tired the above dev exe let me try the jar

[2016-08-24 03:00] cdvanlangenberg commented on #1833
cannot install the dev version
internal error occurred:  error code 34

[2016-08-24 06:21] mlep commented on #1824
@Siedlerchr : is it possible to carry out the same kind of search through the edit mode of gitHub? (i.e. in the browser)

[2016-08-24 06:30] cdvanlangenberg commented on #1833
I used dev 3.6 and it works fine, Thanks for the update.

[2016-08-24 06:30] #1833 closed

[2016-08-24 07:30] grimes2 commented on #1757
AFAIK it's recommended to use for this cases methods or statements that are synchronized.

[2016-08-24 08:07] Siedlerchr commented on #1824
@mlep  Yes! Just hit Strg+F in the Editor window and click the (first option?`) titled RegExp search:
`.=\n` should work

![regexgithub](https://cloud.githubusercontent.com/assets/320228/17923053/728b19dc-69e2-11e6-97cc-0111ca8f3e11.png)

[2016-08-24 08:17] oscargus commented on #1824
=$ also works where $ is the regex for end of line.

[2016-08-24 08:28] mlep commented on #1824
Well, it does not work for me  :cry: , as show by the red rectangle around the search string...
![capture du 2016-08-24 10 21 01](https://cloud.githubusercontent.com/assets/6931104/17923470/970648de-69e4-11e6-8353-4f2091a6e53e.png)
It does not find anything for .=\n  ,  =\n  or even just \n
(tested with Chromium and Firefox)

[2016-08-24 08:34] matthiasgeiger commented on #1824
Using the search @oscargus proposed should work.

[2016-08-24 08:46] mlep commented on #1824
Indeed, it does! (I was testing the \n solution while he wrote its comment, and sent mine without noticing it). Thanks for your help!

[2016-08-24 11:50] stefan-kolb commented on #1827
@tobiasdiez probably one for you to explain.

[2016-08-24 13:08] stefan-kolb commented on #1687
Link just says that month sorting was not working. I also tested it and my month sorting doesn't work at all...

[2016-08-24 13:15] stefan-kolb commented on #1687
Thank you for your report :+1:
This should be fixed in current `month-sorting`. Please try the latest build from http://builds.jabref.org/month-sorting.

[2016-08-24 18:40] ph0boss opened #1841 "Impossible to set EtAlString empty"
JabRef version 3.5

Steps to reproduce:

1. Use a style with Authors formatting as follows:
article=\format[Authors(LastFirst,Initials,FullPunc,1,1,EtAl=)]{\author}
In this example EtAlString is set to be empty.
2. Use it to cite something.
3. Author is formatted as follows:
Surname, N. et al.

[example_style.jstyle.zip](https://github.com/JabRef/jabref/files/435439/example_style.jstyle.zip)

[2016-08-24 20:34] Siedlerchr opened #1843 "Globals.pref dependency in BibTexParserTest - KeyPattern"
Just noticed one more Globals.prefs dependency: @oscargus  Do you want to take care of it?
in `BibTexParserTest`  in `integrationTestCustomKeyPattern`

[code]

[2016-08-24 20:44] oscargus commented on #1843
If I recall correctly something else will break if one removed the Globals.prefs initialization. I think it is that ParserResults creates a MetaData() object which is not free from Globals (yet). Nowadays I try to add some comments to the setUp-method of the test to motivate why Globals.prefs is still initialized...

[2016-08-24 20:48] oscargus commented on #1843
So even if you can write JabRefPreferences.getInstance().getKeyPattern() there you still need the Globals.prefs init in setUp. The only remaining Globals in MetaData is the keyword separator which is needed for the groups. However, I haven't really found a nice way to propagate it (and I'm pondering if I should just propagate that as a String or create a GroupsPreferences class only containing thi

[2016-08-24 20:50] oscargus commented on #1843
And feel free to take care of it if you like. I will probably do it eventually otherwise, but not in the near future as it feels right now.

[2016-08-24 20:56] Siedlerchr commented on #1843
Ah okay thanks for the info, I will check if it works with getInstance() otherwise I will add a comment.

[2016-08-24 21:01] oscargus commented on #1843
One way may be to assign a private JabRefPreferences field as there are quite a few tests that need an instance. But it may not be enough and Globals.prefs is still needed. Excellent if you want to give it a try!

[2016-08-24 21:02] oscargus commented on #1843
BibDatabaseContext is the major obstacle for Globals free logic-tests btw. If that is imported one can just forget about it... And I have no idea how to clean it in a simple way as it relies quite heavily on it.

[2016-08-25 01:33] obraliar commented on #1747
This issue is solved and can be closed.

[2016-08-25 03:25] giacomociani commented on #1687
Works fine now! Thanks.

[2016-08-25 06:14] #1687 closed

[2016-08-25 06:23] mlep commented on #1824
**Status update**

We now have full menus for Turkish, French, Swedish and German.
For the other menus, it is about 5 strings to translate (only). A short way to go!

Messages are full for Turkish and German (French is under way).

src/main/resources/l10n/Menu_in.properties: 5 empty values.
src/main/resources/l10n/Menu_tr.properties: ok
src/main/resources/l10n/Menu_zh.properties: 5 empty values.
s

[2016-08-25 06:59] #1747 closed

[2016-08-25 07:06] oscargus commented on #1841
Thanks for the report. I can confirm that there is code prohibiting setting the string empty. However, as there seems to (at least) one use case and I do not really see why it should be prohibited, there is a fixed version in https://builds.jabref.org/fix1841/ in five minutes. Please try it out.

[2016-08-25 07:17] matthiasgeiger opened #1849 "Check JRE install files for Mac OS X"
See http://discourse.jabref.org/t/release-of-jabref-3-5/70/5 and http://discourse.jabref.org/t/error-installing-on-mac/160

Automatic installation of JRE seems to fail using the Mac OS X installer.

[2016-08-25 09:59] mlep opened #1850 "CLI: --fetch causes exception"
JabRef3.5 and JabRef-3.6dev--snapshot--2016-08-25--masterb73b236.jar
on Linux Mint.

Help file (although outdated --- I am in the process of updating it) states that the list of available fetchers can be printed out by typing in `Jabref --fetch`.

In fact, this causes an error message to be displayed (JabRef complains no option is given for this option), displays the help, and display another mess

[2016-08-25 11:49] Siedlerchr commented on #1750
Most fixes/features done in #1765. For the rest I will create a follow up issue.

[2016-08-25 11:49] #1750 closed

[2016-08-25 11:49] oscargus commented on #1841
I close this as we merged the fix. Feel free to reopen it if it doesn't work. (3.6 will be released tomorrow and should include it.)

[2016-08-25 11:49] #1841 closed

[2016-08-25 12:24] Siedlerchr opened #1851 "Ms Office 2007 xml Import/Export"
Follow up from  #1750  and #1765

TODO:
- [x] Export Company/Author as Corpoate #1497
- [x] Language to LCID mapping
- [x] Support for Custom Entry types (http://discourse.jabref.org/t/customize-word-2007-xml-export-filter/149/4)

[2016-08-25 13:58] mlep commented on #1824
@JabRef/translators @oscargus
**A new string has just been added**
It is `Connecting...`
Easy to translate!

[2016-08-25 14:45] Siedlerchr commented on #1824
German is already done. Good.

2016-08-25 15:58 GMT+02:00 MLEP <notifications@github.com>:

[2016-08-25 15:24] stefan-kolb commented on #1849
Files are there...http://files.jabref.org/jres/macosx-amd64-1.8.0_92_unpacked.tar.gz

[2016-08-25 15:29] ph0boss commented on #1841
Maybe it works.. I couldn't try it because select style button doesn't work. Nothing happens when I press it. I tried both the link you provided and the latest master. Fedora 25 64bit.
Running  as $ java -jar ./JabRef-3.6dev--snapshot--2016-08-25--master--40ae061.jar
Should I file another bug report about this issue?

[2016-08-25 16:26] oscargus commented on #1841
Strange... I'll have to look into that. As it is (should be) unrelated to this, it would be great if you can file a new bug report, although I'll still hopefully remember it for tonight.

[2016-08-25 16:36] oscargus commented on #1841
OK, I think I found the problem. If you add a "default" style you should be able to test it (unless you have it already, but when I tried you example I got an error from not having a style for default, only article). I'll try to fix that problem in the source so that it behaves slightly better, at least shows a dialog instead of throwing errors.

[2016-08-25 16:51] oscargus opened #1858 "Allow preview of different entry types in OO/LO style select dialog"
(Relates to #1857 )
Now, only the `default` style is shown in the preview field. It would be useful to have a dropdown list to select between the different available styles. Both to avoid the need of a default style (which still is required in many ways though) and also to actually be able to see what all entry types looks like (still, the example is only an article entry...).

An alternative solu

[2016-08-25 18:13] grimes2 commented on #1757
Ok, if added the keyword `synchronized` to the corresponding method.
EntryEditor.java, line 1088: `public synchronized void actionPerformed(ActionEvent event)`

- Toolbar button (save database): Now there is no freeze anymore. A message "Error: Braces don't match" pops up, but then a "save database as" dialog. :confused:

[2016-08-25 18:31] koppor opened #1859 "Filename generation for PDF download includes URL query if no access"
Steps to reproduce:

1. Download paper information using DOI 10.1007/978-3-642-36926-1_23
2. Fetch PDF
3. `...vdAW2013 - The P2P Approach to Interorganizational Workflows.8153&rep=rep1&type=pdf` is offered as file name

Changing the filename leads to a file of 1kb.

[2016-08-25 18:34] ph0boss commented on #1841
Yeah, now both issues are fixed. Thanx for such quick help!

[2016-08-26 03:15] lgmcode opened #1862 "Highlight the groups whose item is selected"
Feature requests: when I select an item in the list, the groups it belongs to can be highlighted.
The menu 'Groups->Highlight groups matching any selected entry' does not work as expected.
Thanks!

[2016-08-26 06:43] mlep commented on #1824
Italian menus are now fully translated (thank you @ambro2!)
So, menus are now complete for five languages: Turkish, French, Swedish, German and Italian.

[2016-08-26 06:47] stefan-kolb commented on #1824
Great, thank you @JabRef/translators for all your efforts :+1:

[2016-08-26 08:01] oscargus commented on #1824
I added Norwegian menu translations in #1821 . Unfortunately also a few more Menu translations (although very simple ones).

[2016-08-26 08:03] stefan-kolb commented on #1859
This is an error of `SpringerLink.java`?! I cannot reproduce it right now, as I have access to this article...

[2016-08-26 08:05] stefan-kolb commented on #1859
Please check the log which fetcher found the "PDF".

[2016-08-26 08:20] mlep commented on #1824
Done for the French.
@oscargus : I did not have the right to directly modify the files. I am afraid you are going to have to copy-paste my comments...

[2016-08-26 08:35] stefan-kolb commented on #1849
Recheck for 3.7 and code-signing!

[2016-08-26 08:56] #1824 closed

[2016-08-26 09:08] #1768 closed

[2016-08-26 09:11] tobiasdiez commented on #1827
I have no idea, sorry. The code is also at least 2 years old: https://github.com/JabRef/jabref/blob/8dee2af2379dc80e8bba486fb81dbf5dd480daac/src/main/java/net/sf/jabref/collab/GroupChange.java

[2016-08-26 09:18] stefan-kolb commented on #1178
Gradle issue is merged but we cannot see that it is working for us. Reinvestigate this for v3.7.

[2016-08-26 09:35] mlep opened #1864 "Studies of JabRef: something to learn?"
@JabRef/developers :
I have just updated the list of papers citing JabRef: https://github.com/JabRef/jabref/wiki/JabRef-in-the-media

Now that JabRef 3.6 is out, I thought you may lack of activities :smile: .
Suggestion: look at these papers to find out new ideas about usage and programming in JabRef.

[2016-08-26 09:52] matthiasgeiger commented on #1864
#Wow... I wasn't aware that JabRef has been analyzed this much :wink:
Thanks for collecting the information!

However, at least my time is limited so I can't promise to have a look at the papers immediately. :disappointed:

I'll close this, as it isn't an "issue" in the real sense.

[2016-08-26 09:52] #1864 closed

[2016-08-26 10:03] mlep commented on #1864
I did not know where to put it...

[2016-08-26 10:08] matthiasgeiger commented on #1864
No problem ;-)

You can send such stuff to the developers@jabref.org mailing list.

[2016-08-26 10:15] stefan-kolb commented on #1663
Reason is inside `PositionWindow.java` where the saved location of non modal windows is always adapted to be inside the bounds of the first monitor, to not allow settings outside the screen.

[2016-08-26 10:30] lenhard commented on #1843
In a perfect world (that is: JabRef architecture), `BibDatabaseContext` should be in model. Given its current coupling to global classes, this is illusive, however.

[2016-08-26 11:25] oscargus commented on #1843
With #1856 it is actually not so illusive anymore. One dependency left in MetaData and then we can move MetaData and BibDatabaseContext.

[2016-08-26 12:19] koppor commented on #1859
Oh, I'm just relocating and won't be in  [Dagstuhl](http://www.dagstuhl.de/de/programm/kalender/semhp/?semnr=16341) the next time. I'll try to reproduce in Stuttgart on September, 5th. I'll reopen as soon as I can reproduce.

[2016-08-26 12:19] #1859 closed

[2016-08-26 13:08] koppor commented on #1495
@HainesB reported a similar issue at https://sourceforge.net/p/jabref/mailman/message/35303493/. Maybe, he is willing to test the fix as soon as we had time to implement it.

[2016-08-26 14:54] lenhard opened #1866 "Invalid field content lost when selecting different entry"
JabRef version 3.5 onwards.

As first mentioned in https://github.com/JabRef/jabref/pull/1863#issuecomment-242715011

Steps to reproduce:
1. Insert `{a` in article's title field
2. Select different bib entry
3. Return to first entry, field is reset to prior value

Although the field value is invalid. It should not simply be deleted without a message. Instead, it should still be present and, possib

[2016-08-26 15:06] lenhard commented on #1862
Could you please clarify "does not work as expected". What exactly is going wrong?

[2016-08-26 21:07] oscargus commented on #1496
I happened to solve this (I think), when trying to enable full text search for multiple files. Please see #1869

[2016-08-27 12:25] oscargus opened #1871 "File name generation preferences"
In the `Import` preference tab there is a setting `File format pattern` under the heading `Default PDF file link action`. However, the result of this field is used for any automatic file name generation, so maybe it makes sense to move it to the `File` tab?

As far as I can tell there is no information in the help files related to this either.

Related: in #1869 I included some code so that if the

[2016-08-27 12:27] oscargus commented on #1757
Fixed in #1863.

[2016-08-27 12:27] #1757 closed

[2016-08-27 13:02] oscargus commented on #1092
I tried a workaround: `\entrytype\\\bibtexkey` hoping that that should lead to something good. However, I got `Article_Brisigotti2006.pdf` so something is replacing the `\\` (escaped `\`) with `_`. Might be one approach to enable it. (The same thing happens for `/` btw, I'm on Windows, so it seems that it makes sense. Maybe add a formatter that outputs the file system separator?

[2016-08-27 13:04] oscargus commented on #1871
Relates to #1416 and #1092

[2016-08-27 13:14] oscargus commented on #1843
I close this as recents PRs have removed the need for Globals in all but one logic test (`CleanupWorkerTest`).

[2016-08-27 13:14] #1843 closed

[2016-08-27 13:28] Siedlerchr commented on #1092
I wanted to take care of this in the next days.  @oscargus :
My idea was to intdroduce a) either a second field similar to the existing one for filenames or b) to have one field for both.
I like option b), but I think it could have side effects, as the layout stuff is also used for displaying entry previews  and for html output

When we internally use the Paths methods from nio, the file system se

[2016-08-27 13:29] Siedlerchr commented on #1871
Yeah, I always wondered about this, too. Would make sense to move it to files tab.  See #1092  for my idea of having either one common field or two separate ones.

[2016-08-27 13:51] oscargus commented on #1092
Yes, maybe having two fields makes sense. The question otherwise is when the /\ to _ mapping occurs. I'm thinking that if it happens for each field and not for the complete layout it should just be to add a new formatter. As long as it is not used everything will be as before. Although I agree that it is sort of ugly from a nio-perspective.

[2016-08-27 13:55] grimes2 commented on #1757
For Ctrl-S and File > Save database the invalidBackgroundColor (red) is only flashing up for a short period of time. This is, because the FieldEditorFocusListener sets the ValidBackgroundColor (white) on focusLost. I think this is not necessary, because the EntryEditor sets the ValidBackgroundColor already. Should I fix that?

[2016-08-27 14:19] oscargus commented on #1757
If you think you have a solution it would be excellent! Please also see #1866 in case they are related somehow. I guess we really need to figure out some good logic for these things (how FocusLost, Save, selecting a new entry etc interact), but since I do not really see a "total rewrite" solution anything that improves it is welcome.

Btw, I learned today that if the JabRefFrame is used as parent

[2016-08-27 14:28] cogsys-michael opened #1873 "Group names are matched wrong"
JabRef version 3.6 (also 3.5) on Ubuntu 14.04

Group membership of entries is stored in the groups-field. Groups are identified by their name. Multiple groups are separated by commas. It seems that during matching (for marking group memberships in the groups interface), group names are split at commas and spaces. These facts lead to the following undesired behaviours:
1. If an entry's group field

[2016-08-27 14:33] cogsys-michael commented on #1873
Possible duplicate of #1495.

[2016-08-28 08:23] ajbelle commented on #1715
Update: I migrated V3.5 to my home desktop PC is 64Bit Intel I7  Win7 home edition and the news is not quite as bad as the 32Bit lap-top but after creating a few more groups in the database this PC too started the very delayed response to user input. The only difference I can see from my Uni PC is that I only have 4GB of RAM, instead of 32GB. Checking usages indicates that it is operating within m

[2016-08-28 08:58] ajbelle commented on #1633
An update to my previous post that is part of my confion and I think is a BUG.

When searching for an expression it can be enclosed in `"expression words"` however the closing " removes the _s_ so it finds  _expression word_ !	I doubt debugging would pick this up becasue it will find the target _expression words_  It will also annoyingly pick up _expression wordsmith_ and _badexpression word_ . To

[2016-08-28 09:34] oscargus commented on #1633
@ajbelle The issue of the last character disappearing was reported in #1643 and is claimed to be fixed in https://github.com/JabRef/jabref/commit/2c9c7ddfea4cb28defe9831cf0df388555f3ca9b (with tests showing that it probably is). Have you tried version 3.6?

The `allfields` approach should be quite feasible to implement, although somehow it would be even better if not specifying a field leads to th

[2016-08-28 09:52] oscargus commented on #1633
@ajbelle Turned out that I just as well could add those lines right now. Please try it out at https://builds.jabref.org/bettersearch in a few minutes. Both `allfields` and `keyword` are added.

However, when trying it I realized that `not keyword==LES` would find entries which has at least one keyword that isn't `LES` rather than not containing any keyword that is `LES`. I wonder if I should add y

[2016-08-28 10:14] oscargus commented on #1715
@ajbelle You are probably correct in that we do not have that big databases with many groups. However, it is clearly in our interest to get hold of one of those, so if you could send it to @koppor (email in this profile) it would really be helpful (or maybe you already have).

Although we have generated "large" artificial databases and improved performance quite a bit based on those in some areas,

[2016-08-28 15:49] oscargus commented on #1633
Sorry, I was wrong about the discussion above regarding `anykeyword`.

[2016-08-28 16:04] oscargus opened #1877 "Keyword separator behaviour (again, from a groups perspective)"
Let me rephrase this: the use of the keyword separator is ambiguous in JabRef.

It is by default set to `, `. This leads to:
1. StringTokenizer splits on both `,` and ` `
2. when adding keywords `, ` is used as a separator

Clearly these two behaviors are just by luck sometimes compatible. Based on 1. it would be better to have `,` as the default.

In addition, the EntryUtil method for splitting o

[2016-08-28 16:17] oscargus commented on #1877
I might not have been in that PR, but it is not working as expected anyway.

[2016-08-28 16:30] oscargus commented on #1877
OK, new info. It wasn't in that commit, but it seems like StringTokenizer is not handling spaces in the separator well...

[2016-08-28 16:34] Siedlerchr commented on #1877
String Tokenizer ist really really legacy code.  Should either be String.split or scanner
http://stackoverflow.com/questions/691184/scanner-vs-stringtokenizer-vs-string-split