[2020-11-10 07:38] koppor commented on #7083
When using citation styles, you get the style-dependend preview for free (no documentation for JabRef existing yet --> https://docs.jabref.org/collaborative-work/export/customexports). We know that not all fields are available there.

Future work:

- Add a `.jabref` folder in the $HOME directory, where `preview.txt` can be put (instead of the preferences, which have a character limit)
- Maybe swit

[2020-11-10 07:54] calixtus commented on #7085
JabRef is internally using pixels to define widths. A solution would be to change every width indication to 'em'.

[2020-11-10 08:09] crystalfp commented on #7085
Is this something that I can change in a custom theme?

[2020-11-10 12:53] AtrusRiven commented on #7083
Thanks for the quick reply!

My idea was to make the default preview (which already is independent from citation styles) more suitable without the necessity to adjust the citation style for the adjustments of these styles are non-trivial if you want to have them to be really consistent. A complete and consistent preview by default could help a lot, especially to those who do not work with automate

[2020-11-10 13:35] k3KAW8Pnf7mkmdSMPHz27 commented on #7010
Some thoughts regarding solution 1.

1. Should issue #7012 also be quick fixed?
2. Are linking to anchors allowed? (e.g., `(a link)[#an-anchor]`  )
3. Is it an option to attempt to identify a String constant instead? There is already code that I believe is to this end (it was part of the initial commit so I can't find any associated issue/PR),
https://github.com/JabRef/jabref/blob/f5c52a2ef6aafa35

[2020-11-10 14:38] calixtus commented on #7085
I was just taking a note for us or somebody, who wants to work on this issue. The em - indications are dependend on the font size an should automatically scale. There should be plenty of examples ion the web about this (eg https://stackoverflow.com/questions/32999605/how-can-i-change-the-base-font-size-in-javafx-8-modena-theme-that-would-cascade#33001277 )
To solve this issue a lot can be done by

[2020-11-10 19:57] calixtus commented on #6601
Just for some inspiration: This is how it works in the windows explorer:
![image](https://user-images.githubusercontent.com/50491877/98726744-328bf900-2397-11eb-8aca-e6563d7ad068.png)
![image](https://user-images.githubusercontent.com/50491877/98726807-459ec900-2397-11eb-9816-bd4de813f100.png)

[2020-11-10 20:36] calixtus commented on #5842
For those who maybe work on that:
You could also change the graphic style of the stars by css (see https://github.com/controlsfx/controlsfx/blob/jfx-13/controlsfx/src/main/resources/org/controlsfx/control/rating.css )

[2020-11-10 21:11] koppor commented on #7010
Not though thourghly, but yes, on the one hand sounds good.

On the other hand, I am thinking whether `%` as character would be better. OK, maybe, there are also fiels with `#` out there

Damn it. Sure thing. Also URLs having fragments. `#`.

Disable bibtex field resolving completly in abstract? Maybe, this refs your solution proposed at https://github.com/JabRef/jabref/issues/7012#issuecomment-70

[2020-11-10 21:24] koppor commented on #7083
I have to think how to include localization in the preview

[code]

Think, in English, this is `Eds.,Ed.`.

[2020-11-10 22:39] gyowannyqueiroz commented on #6999
👋 I'm new to the project and looking for a good first issue to get started.  I'm curious, why the color property is being stored in the database as an object of type `javafx.scene.paint.Color`? I got a feeling the color data is lost during serialization. I'll try to change the color property type to `String` and see if it works.

[2020-11-11 00:41] k3KAW8Pnf7mkmdSMPHz27 commented on #7010
Hum, yup, my regex was not thought through enough. I was going for Unicode support and thought that a `#` before a String would either be consumed or be "illegal". `#[a-zA-Z1-9._-]+#` is still better than `.*#[^#]+#.*`, if there is no Unicode support. I don't know enough about BibTeX/biblatex to find good edge cases.

I suppose my argument is that it might be easier to match the strings rather tha

[2020-11-11 07:09] Siedlerchr commented on #7010
I think that kind of setting seems to be a viable solution
I have seen comments with latex code.

[2020-11-11 08:36] Siedlerchr commented on #7010
You might need to spearate the fields by semicolon like for the wrap fields

[2020-11-11 11:01] sbecuwe commented on #6815
I tried both ISO-8859-1 and UTF-8. Language is English, library mode is BibTeX.
I turns out to be more tricky.

- When I use the original BibTeX file or a copy of it, the described behavior is reproducible.
- When I make a copy of the original file and delete all lines, apart from the ones in the attachment, Lefevre et al is no longer found by the search operation...

I double checked the file typ

[2020-11-11 13:09] LuVogel commented on #6186
We got a question about converting files using Calibre. Since Calibre is written in python, we're looking for a possibility to use these python-functions in our java project. Is there any option? The user have to install Calibre and set the directory path in the jabref preferences, so JabRef can use Calibre to convert the files.

[2020-11-11 13:54] Siedlerchr commented on #6186
@LuVogel  Calibre seems to have a command line interface. This can be called from JabRef.  https://manual.calibre-ebook.com/generated/en/cli-index.html  So your approach would work

See for example in the PushToExternalAplpication how JabRef can call other tools on the command line or in the JabRefDesktop implementations

[2020-11-11 15:56] k3KAW8Pnf7mkmdSMPHz27 commented on #6815
@sbecuwe I don't know if you'd be willing to share the original BibTeX file with me (I am **NOT** a JabRef developer, I am a volunteer). It would be easier to try to pinpoint what is going on using the debugger rather than going through the code. Also, I appreciate that you seem to be spending more time on this issue than you were probably intending to =/

In a nutshell,

1. The behaviour you desc

[2020-11-11 16:23] k3KAW8Pnf7mkmdSMPHz27 commented on #7010
@Siedlerchr it appears to have been a user bug, it is now working as expected 😳

Add a third option? Along the lines of "Only resolve strings in..." with some defaults (author, title, date, etc.?), perhaps add categories?
I guess this could be considered "Solution 1.b", as it attempts to avoid the issue rather than resolving anything.

[2020-11-11 16:37] k3KAW8Pnf7mkmdSMPHz27 commented on #156
I don't think I can close this issue, but I'll be starting with export and "Push entries to external application (Overleaf)" features next week and see if I can get some inspiration for the synchronization issue meanwhile.

[2020-11-11 18:00] Siedlerchr commented on #156
@k3KAW8Pnf7mkmdSMPHz27 That is really nice! I wrote the initial feature years ago and recently reworked it to successfully connect to overleaf. Might look complicated at first 😏
The general logic is that JabRef establishes/hooks into the web socket connection that overleaf uses to report changes.
It's working bidirectional.
Key challenge is to apply the incoming changes from overleaf which are cha

[2020-11-12 00:49] OmarAshkar opened #7094 "Changing the annotation old path after cleaning"
In the Other Fields 's annotation box, it appears the old path annotation that is actually changed after Alt+F8. But this field appears not to be affected with that change. The problem is that when I try to export the library to another software, this annotation remains as the actuall path of the files.

I am expecting that after cleaning and renaming, this field will be updated just as the actual

[2020-11-12 06:49] koppor commented on #156
@k3KAW8Pnf7mkmdSMPHz27 Nice to hear! My main concerns are written there https://github.com/JabRef/jabref/pull/2866#issuecomment-388264343. You can reach me via mail or skype (same user name). Let's discuss details.

[2020-11-12 06:50] koppor commented on #156
I think, this is already implemented in https://github.com/koppor/jabref/pull/445, isn't it?

[2020-11-12 07:30] koppor commented on #156
Related work regarding synchronization: https://github.com/JabRef/jabref/pull/5669

[2020-11-12 09:23] teertinker commented on #6447
Can also confirm that it works.

[2020-11-12 09:42] teertinker commented on #6824
The problem persists in the current master. At the moment, I can't use either JabRef 5.1 oder 5.2 because of this problem. I have to kill (closing jabef is not enough - see picture) the program after each search on my ubuntu and my windows machine.

I did a quick test with the testjabref.bib - it causes the same problem - so its not related to my bib file

![grafik](https://user-images.githubuserc

[2020-11-12 09:47] Siedlerchr commented on #6824
Try disabling Autocomplete in the Preferences, many user reported that this helped

[2020-11-12 09:48] mlep commented on #6447
Fixed, indeed. Thank you @Siedlerchr!

[2020-11-12 10:09] teertinker commented on #6824
Wow. That helped immediately! Thank you @Siedlerchr. I hope, auto completion is disabled by default.

[2020-11-12 12:35] AtrusRiven commented on #7083
Localization wouldn't be the priority in my opinion (even though very useful). We could just include `Eds.,Ed.`, and everyone could make his own localization if preferred (in case implementation of localization might be relatively too laborious).

[2020-11-12 18:22] #6903 closed

[2020-11-12 19:17] Siedlerchr commented on #6199
I came across this issue and it's inded a problem of the generated unmarshaller. I am not an expert in xml and those schema stuff. But from my opinion it should be necessary to adjust the xsd schema to add some kind of content attribute for the url attribute to represent the text without a style.

[code]
The xsd file is here:
https://github.com/JabRef/jabref/blob/master/src/main/resources/xjc/endn

[2020-11-13 13:38] AtrusRiven commented on #6447
Every time I open JabRef something in the customized entry preview style I have already changed many times is reset again.
- Instead of
`\begin{comment}<BR><BR><b>Comment: </b>\format[HTMLChars]{\comment}\end{comment}`
- the following reappears again:
`\begin{comment}<BR><BR><b>Comment: </b>\format[Markdown,HTMLChars]{\comment}\end{comment}`

So, `Markdown` keeps reappearing in the `\format[]` com

[2020-11-13 13:58] mlep commented on #6447
@AtrusRiven Which version of JabRef are you using?
Note: the fix is in the development version (https://builds.jabref.org/master/)

[2020-11-13 15:11] AtrusRiven commented on #6447
I'm using the actual master build (`5.2--2020-11-10--f5c52a2`).

[2020-11-13 15:21] Siedlerchr commented on #6447
Indeed, can reproduce this. for some reason it's not saved after a restart or reset on a restart.

[2020-11-13 16:01] Siedlerchr commented on #6447
@AtrusRiven  You have triggered an edge case, it's the Preferences Migration that is executed on startup that overwrites your changes. Just add a space after the HtnlChars Formatter Name : `\format[HTMLChars ]{\comment}` to prevent an exact match.

https://github.com/JabRef/jabref/blob/b9be53e056d92837d827efc2a70a06ff733ad0b7/src/main/java/org/jabref/migrations/PreferencesMigrations.java#L313-L319

[2020-11-13 17:42] AtrusRiven commented on #6447
Thanks, now it works. What is this replacement for?

[2020-11-13 18:50] Siedlerchr commented on #6447
It's a migration if you come from a previous version. E.g. If some internal fields or prefs got renamed
 Migrations are run on startup. As the newer versions support Markdown,the preview should show that as well.

[2020-11-13 19:50] calixtus commented on #6690
Bug seems depend on the SmartConstrainedResizePolicy. Tried with TableView.CONSTRAINED_RESIZE_POLICY and the bug did not occur. Workaround is by disabling "fit table horizontally on screen".

Will think about this one. Maybe this will require a more general solution...

[2020-11-13 21:38] cdormann commented on #6146
Sorry for this extremely long lack of response. I had for the time being moved to BibDesk (which for various reasons I am not so fond of). I now tried the JabRef update and it works nicely, as it should. Happy to be back!
Carsten

[2020-11-14 15:49] #7053 closed

[2020-11-14 21:15] HoussemNasri commented on #6417
I'd like to work on this, @tmrd993 If you still working on it tell me

[2020-11-14 22:41] calixtus commented on #6417
Hi @HoussemNasri , have fun coding. Maybe @tmrd993 can show what he already did and you both can join forces?
Don't forget to ask, if you encounter a problem or need help in our gitter jabref developer chat https://gitter.im/JabRef/jabref

[2020-11-14 22:55] Sylvan1985 commented on #6870
Hi PremKolar,
I think that due to the version of your Checkstyle.
![image](https://user-images.githubusercontent.com/52154597/99158591-9a8d5880-2691-11eb-98e4-482c0cf9f3b9.png)
For the version 8.37 I'm using, this problem doesn't appear. I hope that helps.

[2020-11-15 06:20] PremKolar commented on #6870
Thanks I'll try later

[2020-11-15 15:10] HarryEClarke opened #7099 "Incorrect handling of escape sequence for the character ø"
In the author field, if the Latex sequence \o is entered, this results in JabRef ignoring the rest of the name, but displays subsequent names OK in the formatted box. For example M\olgaard is displayed as just M. JabRef allows the file to be saved, but Bibtex does not accept the sequence, although Latex does.

If the latex sequence \{o} is entered, this results in the character ø being displayed F

[2020-11-15 20:27] nicoborghi opened #7100 "arXiv paper download & library update"
It would be very helpful if it was possible to:

1. **Directly download an arXiv paper** instead of the link to the online version (see Figs.).
2. **Scan the whole library to check if new versions of the arXiv (or similars) papers are available**, and eventually download them. In the case of arXiv you could use the url and check if `https://arxiv.org/abs/...v2 `  does exist.

Alternatively, if it'

[2020-11-15 22:49] Sylvan1985 commented on #7085
There're other similar problems in the preferences, due to the fixed prefWidth. Like in the Entry table, the Colums will be hard to see and set.
![Size_pr](https://user-images.githubusercontent.com/52154597/99199106-0dfa9d00-275a-11eb-9488-190ffc9c62b4.png)

[2020-11-16 14:19] k3KAW8Pnf7mkmdSMPHz27 commented on #7099
Hello @HarryEClarke , which version of JabRef are you using?

`M\olgaard` is incorrect BibTeX (I'd guess `M{\o}lgaard`?), I don't have a good reference, but there are a [couple of discussions on stackexchange](https://tex.stackexchange.com/questions/57743/how-to-write-%C3%A4-and-other-umlauts-and-accented-letters-in-bibliography). Perhaps the warning box next to the author field should be displaye

[2020-11-16 14:40] k3KAW8Pnf7mkmdSMPHz27 commented on #6942
@tmrd993 are you looking into this issue?

[2020-11-16 15:08] HarryEClarke commented on #7099
I am using version 5.1 of JabRef, running under Windows 10
The Format of Author and Editor names is set to NatBib
Enclosed is a screen shot of a test author
![JabRef2](https://user-images.githubusercontent.com/23401969/99268752-778faf80-281d-11eb-84c0-f97d8d4d4ad2.png)

[2020-11-16 15:47] sambo57u opened #7105 "jabref not starting on Linux"
JabRef 5.2--2020-11-16--1dc91ca
Installed from rpm
Fedora Linux 33

After updating to the devel version of today the jabref fails to start with error message:

Error: Could not find or load main class org.jabref/org.jabref.gui.JabRefLauncher in module org.jabref

this is by executing /opt/jabref/bin/JabRef OR the script in /opt/jabref/lib/runtime/bin

Changing the srcript line to:
"$DIR/java"  -p

[2020-11-16 16:15] tmrd993 commented on #6417
No, you can go ahead and work on it.

I only skimmed over the files but I am pretty sure you need to look at https://github.com/JabRef/jabref/blob/1dc91ca3083a25e69516a1d0c71fc876ddb665aa/src/main/java/org/jabref/gui/importer/actions/OpenDatabaseAction.java#L39

This is the action that gets executed when the user loads a database from the menu.

When a database wasn't closed, the program opens it

[2020-11-16 16:30] khatchad opened #7106 "Can't find (writable) JabRef.cfg when installing via snap"
I installed JabRef version 5.0.44 on Ubuntu 20.10 and ran into [this issue](https://github.com/JabRef/jabref/issues/6086#issuecomment-596536235), for which I am trying to apply the suggested fix. However, I cannot find a *writable* `JabRef.cfg` using `snap` to install `JabRef`.

[2020-11-16 16:34] khatchad commented on #7106
Updated to say *writable*. Even root cannot edit snap files.

[2020-11-16 16:44] Siedlerchr commented on #7106
It turns out it's a security measure and that's on purpose.
https://askubuntu.com/a/919098
You can however install the deb version from here https://www.fosshub.com/JabRef.html
5.1 is the latest release.
The deb is self containing as well, e.g. it includes the necessary java runtime etc.

[2020-11-16 16:44] #7106 closed

[2020-11-16 16:48] khatchad commented on #7106
Yes, that's what I have done. But, snap also has its own user directory under `$HOME/snap`. Would it be possible to place the configuration file there?

[2020-11-16 17:07] HoussemNasri commented on #6417
For now, I am trying to deal with opening the database using action and these are the steps I am following

1. open an empty tab without starting the loading process yet
2. start loading the data on a background thread and with it a progress bar
3. when data loaded stop the progress bar and load data into the tab we opened

My current issue is the following, with the current `LibraryTab`, opening

[2020-11-16 18:09] Siedlerchr commented on #7106
@LyzardKing any idea?

[2020-11-16 18:27] juejung commented on #7105
Same happens with .deb version https://builds.jabref.org/master/jabref_5.2-1_amd64.deb from 11/16/20 on Ubuntu 18.04.
Haven't tried changing the script line as suggested above.

[2020-11-16 19:08] Siedlerchr commented on #7105
Hmm I did some changes yesterday,  to maybe revert some back. The script is normally auto-generated

[2020-11-16 19:14] k3KAW8Pnf7mkmdSMPHz27 commented on #7099
1. Regarding the part to the right in your screenshot, I believe it is the preview, in which case it is **incorrectly(?)** identified as a latex command that JabRef can't handle (which is also why everything afterwards is ignored)
https://github.com/JabRef/jabref/blob/1dc91ca3083a25e69516a1d0c71fc876ddb665aa/src/main/java/org/jabref/logic/layout/format/HTMLChars.java#L142-L151
2. Regarding the sav

[2020-11-16 21:33] k3KAW8Pnf7mkmdSMPHz27 commented on #6394
I'll start looking at this

[2020-11-17 06:35] ilippert commented on #7105
Same here - does not start jabref-5.2.255-1.x86_64

[2020-11-17 06:40] ilippert commented on #7105
Maybe I misunderstood - I edited `/opt/jabref/lib/runtime/bin/JabRef`with the suggested line. Still does not run.
Fedora 33.

[2020-11-17 08:28] Siedlerchr commented on #7105
Can you please test the version from here? I reverted some changes, so hopeuflly it works again:
https://builds.jabref.org/pull/7107/merge/

[2020-11-17 10:51] HarryEClarke commented on #7099
I agree, that when saving it is treating \{ as an escaped brace, which is different behaviour to what is displayed in

I can confirm that M{\o}lgaard  does work for me, in both saving the file, and with Bibtex.

[2020-11-17 11:20] syhue opened #7108 "Document Viewer do not show all pages"
The document viewer started with the second page instead of the first page.

[https://discourse.jabref.org/t/document-viewer-do-not-show-all-pages/2421](Link)

[2020-11-17 11:55] AtrusRiven commented on #7105
On Windows neither (no reaction at all). Neither with the actual master nor with the 7107 @Siedlerchr mentioned.

[2020-11-17 14:02] juejung commented on #7105
Just tried https://builds.jabref.org/pull/7107/merge/
It still does not start. Tested on Ubuntu 20.04
I had to revert to the version from last Thursday (.deb package from 11/12/2020)

[2020-11-17 14:27] sambo57u commented on #7105
Same here using the rpm version on Fedora 33. Here is one hint, the automatically generated script contains the line:

"$DIR/java"  -p "$DIR/../app" -m org.jabref/org.jabref/org.jabref.gui.JabRefLauncher  "$@"

note the repeated org.jabref after -m. Replacing this with:

"$DIR/java"  -p "$DIR/../app" -m org.jabref/org.jabref.gui.JabRefLauncher  "$@"

works!

[2020-11-17 15:19] Siedlerchr commented on #7108
Yep, I could confirm this in the 5.2-dev.
The page iterating happens here:
https://github.com/JabRef/jabref/blob/8777c16a99bd83e4a30ddafc859c0c2208b68733/src/main/java/org/jabref/gui/documentviewer/PdfDocumentViewModel.java#L22-L31

[2020-11-17 15:31] Siedlerchr commented on #7105
@sambo57u  Thanks for the hint!
Can you please all try with the new version from here? https://builds.jabref.org/pull/7107/merge/ That should be correct again

[2020-11-17 16:01] wujastyk opened #7109 "Installation problem with 5.2.257-1 (17 Nov 2020)"
JabRef version  on

5.2.257-1 (17 Nov 2020).

Linux Mint 20 Cinnamon

Can't start the program so I can't give the full version info.

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Launch the program
2. See this error message:
[code]

The installation didn't complain:

[code]

[2020-11-17 16:05] juejung commented on #7105
Ok, the .deb version from https://builds.jabref.org/pull/7107/merge/  works again on Ubuntu 20.04. Thanks.

[2020-11-17 16:25] sambo57u commented on #7105
It is also working (rpm version) on Fedora 33.

[2020-11-17 16:28] AtrusRiven commented on #7105
Working for Win10, too. Thanks a lot!

[2020-11-17 16:34] Siedlerchr commented on #7109
Duplicate of #7105
Fix is on the way.

[2020-11-17 16:34] #7109 closed

[2020-11-17 16:38] Siedlerchr commented on #7105
Thanks for the quick feedback! I merged the fix now (currently building) , so all master versions will then work again.
The culprit was a gradle update that required modifications withthe nodulebname

[2020-11-17 21:19] tobiasdiez commented on #6999
Thanks to @HoussemNasri  should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

Thanks @gyowannyqueiroz for your interest but @HoussemNasri was too quick ;-). I'm sure there are other issues that you may find interesting to work on.

[2020-11-17 21:19] #6999 closed

[2020-11-17 23:18] ilippert commented on #7105
solved

[2020-11-18 08:38] ilippert commented on #7072
Same happens regulary - just documenting the errors, in case that is helpful.

JabRef 5.2--2020-11-17--a335f0d
Linux 5.9.8-200.fc33.x86_64 amd64
Java 15.0.1

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-11-18 08:48] Siedlerchr commented on #7072
It's always the same error, so no need to report it everytime, but I fear it's somehow related to javafx. I am not sure if we can do anything about this atm.
Coul you please give some more information about your GUI toolkit? KDE? GTK? Gnome?
There was a similar thing in OSX which got fixed in the latest javafx application.

[2020-11-18 08:59] #7105 closed

[2020-11-18 09:05] mlep commented on #7105
@ilippert With this version, and under Linux, JabRef opens but the "group" and the "web search" interfaces do not open. An exception is raised.
Do you have the same issue?

Exception details:
java.lang.IllegalStateException: Cannot load org.jabref.gui.groups.grouptree
	at org.jabref.merged.module@5.2.264/com.airhacks.afterburner.views.ViewLoader.load(Unknown Source)
	at org.jabref@5.2.264/org.jabr

[2020-11-18 09:10] Siedlerchr commented on #7105
@mlep  The group error is probably related to another issue which was fixed recently

[2020-11-18 09:15] mlep commented on #7105
@Siedlerchr OK, thanks for the info. I will wait for the next build.

[2020-11-18 09:19] ilippert commented on #7105
at
JabRef 5.2--2020-11-17--a335f0d
Linux 5.9.8-200.fc33.x86_64 amd64
Java 15.0.1
I cannot use the Google Search; but I can use the groups.

[2020-11-18 09:27] ilippert commented on #7072
Ok, thanks a lot.
This is gnome, Fedora 33, Wayland.

[2020-11-18 10:43] ilippert opened #7110 "JabRef freezes (Linux)"
JabRef 5.2--2020-11-17--a335f0d
Linux 5.9.8-200.fc33.x86_64 amd64
Java 15.0.1

Across about 24h of working with this version, JabRef reliably crashes every time. I have not detected any pattern yet, no error messages. I run this version on Fedora 33. How about you, @sambo57u?

[2020-11-18 10:47] aschloe commented on #7085
By the way, in the latest master version this only happens if you leave the preferences window briefly and reopen it, without closing JabRef. That's because when restarting JabRef, the preferences window no longer respects the custom font size.
Is there already an issue for that separate bug?

[2020-11-18 12:33] mlep commented on #7105
In JabRef 5.2--2020-11-18--6669a6e too, The group window does not open and an exception is raised.
@Siedlerchr: please, could you point me to the relevant issue?

[2020-11-18 12:43] Siedlerchr commented on #7105
@mlep  #6999 and #7096  was the fix. Guess it may have something to do with the group color stuff

[2020-11-18 14:48] sambo57u commented on #7110
I have not recently but I only use it as a bib file for latex and not extensively. It used to freeze when I was trying to import into the current library in the past but recently it has been working.

[2020-11-18 15:14] Siedlerchr commented on #7110
There are only known issues regarding search when autocomplete is enabled

[2020-11-18 17:06] IsaacRoles commented on #7058
I was looking into solving this issue and was hoping you could clarify something. Are you looking to switch to the Material Design icon pack from Ikonli (https://kordamp.org/ikonli/cheat-sheet-materialdesign.html) or the Fontawesome/Fontawesome5 packs (https://kordamp.org/ikonli/cheat-sheet-fontawesome.html, https://kordamp.org/ikonli/cheat-sheet-fontawesome5.html)?

I ask because it seems that th

[2020-11-18 17:39] tobiasdiez commented on #7058
Good that you ask! I was mislead by the name of the library and thought we were currently using Fontawesome (the font). But you are right, it's Material Design. So I'd say migrate to the Material Design icon pack from Ikonli for now. Except if you strongly prefer the Fontawesome5 icons, then we can discuss to change them.

[2020-11-18 17:44] IsaacRoles commented on #7058
Thanks for getting back so quickly! I'll stick to Material Design for now. I think it would be better to maintain the current look. It should be relatively easy to switch to any other icon pack from Ikonli in the future should things change.

[2020-11-18 19:27] Siedlerchr commented on #7058
Yes, Material Design Icons are the ones we currently use. (see IconTheme.java)
Just a note, because it's confusing of the name, The MDI = Material Design Icons contain material design from google  and many more community created icons
https://kordamp.org/ikonli/#_materialdesign

[2020-11-18 22:29] k3KAW8Pnf7mkmdSMPHz27 commented on #6394
Should an entries group always show up in `StandardField.GROUPS`? I haven't been able to find any discussion regarding this topic.

[2020-11-19 11:00] mlep commented on #7105
@Siedlerchr Does it require a new issue to be created?

[2020-11-19 16:38] HoussemNasri commented on #6417
Can anyone explain to me what this code is doing
https://github.com/JabRef/jabref/blob/0412684218478d90e0a41d2a3c4be0a84af2793c/src/main/java/org/jabref/gui/JabRefGUI.java#L149-L171

[2020-11-19 17:15] calixtus commented on #6417
This code should autoload the databases on startup.
First if block handles the shared databases (like Overleaf or some sql database), second if block handles, if someone uses the command line to merge some other database in the currently opened database, third block is the very simple autoload last opened librarys on startup.

[2020-11-20 10:39] scfrank commented on #4790
For the next person looking for this feature: In Jabref 5.1 it's in the 'Lookup' menu -> 'Search for unlinked local files',  fn F7.

[2020-11-21 05:41] tlannaax opened #7111 "Citation key, make it possible for an empty field to fall back to a custom field"
Nowadays, most articles from online database already have their unique identifiers.
I personally prefer to use [authorsAlpha][eprint] as the default pattern for citation key.
It expands the default [author][year] pattern (the information of [year] is already contained in [eprint]); moreover, it automatically avoid duplicate keys.
However, it is not compatible with old articles with no [eprint] fie

[2020-11-21 10:00] jorgman1 opened #7112 "Execution fails in Linux"
JabRef 5.2.272-1 (2020-11-20) on Linux Mint 18.1 Cinnamon 64.bit (3.2.7)

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Try to execute jabref
2. In JabRef 5.2.194-1 (2020-10-23) I get some errors printed on the terminal, but JabRef starts

<details>
  <summary>Log in 5.2.272-1</s

[2020-11-21 10:28] Siedlerchr commented on #7112
There seems to be something broken with the groups tree, I think @mlep had a similar problem.
Would it be possible to share your library? It would help us to reproduce the errors
If you don't want to share it public, you can send it to developers@jabref.org

[2020-11-21 16:51] Siedlerchr commented on #7112
Thanks for reporting this issue. We found the problem was due a recent change. This issue is now fixed again in master(currently building)

[2020-11-21 16:51] #7112 closed

[2020-11-21 16:55] Siedlerchr commented on #7111
This should be possible at least to define a fallback
https://docs.jabref.org/setup/citationkeypatterns#citation-key-patterns

@k3KAW8Pnf7mkmdSMPHz27 Do you know if it's possible to define a fallback field?

[2020-11-21 16:56] Siedlerchr commented on #7105
@mlep  Does it work again in the latest master?

[2020-11-21 17:08] sambo57u commented on #7105
Yes, it is working on the current master jabref-5.2.272

[2020-11-21 17:42] #6777 closed

[2020-11-21 18:14] Siedlerchr commented on #6777
@ytzemih Thanks to @k3KAW8Pnf7mkmdSMPHz27  this issue is now fixed. We also fxed another issue where regex search did not find some entries

[2020-11-21 18:32] ytzemih commented on #6777
@Siedlerchr @k3KAW8Pnf7mkmdSMPHz27 Nice to hear. Thanks for the effort. Will try it out as soon as it is in the build.

[2020-11-21 18:37] Siedlerchr commented on #6777
The new dev version should be already avaiable.

[2020-11-21 18:41] ytzemih commented on #6777
@Siedlerchr Brilliant, just downloaded it, tried it, and it seems to work properly for me. Thanks, again.

[2020-11-21 19:35] mlep commented on #7105
@Siedlerchr I still have the issue with the group panel with the version
JabRef 5.2--2020-11-21--6f35c36
Linux 4.19.0-12-amd64 amd64
Java 15.0.1

Some details:
With the group panel initially closed,
- if no file is opened on startup, the group panel opens and closes fine.
- if a file (like https://github.com/JabRef/jabref/blob/master/src/test/resources/testbib/jabref-authors.bib) is already opened

[2020-11-21 19:53] jorgman1 commented on #7112
Thank you for the quick fix. It works with the newest master.

[2020-11-21 20:05] Siedlerchr opened #7114 "NPE in groups panel opening"
@Siedlerchr I still have the issue with the group panel with the version
JabRef 5.2--2020-11-21--6f35c36
Linux 4.19.0-12-amd64 amd64
Java 15.0.1

Some details:
With the group panel initially closed,
- if no file is opened on startup, the group panel opens and closes fine.
- if a file (like https://github.com/JabRef/jabref/blob/master/src/test/resources/testbib/jabref-authors.bib) is already opened

[2020-11-21 20:06] Siedlerchr commented on #7114
@mlep can you send us the bib file? (developers@jabref.org)

[2020-11-21 20:14] mlep commented on #7114
Well, the bib file is in JabRef repository! ;-)
https://github.com/JabRef/jabref/blob/master/src/test/resources/testbib/jabref-authors.bib

[2020-11-21 20:46] calixtus commented on #7114
already found a solution, bug was introduced #7014
Fix incoming

[2020-11-21 20:53] mlep commented on #7114
@calixtus Ohhh, that was fast!

[2020-11-21 20:55] calixtus commented on #7114
I just encountered this problem while refactoring some code. It was pure coincidence. 😄

[2020-11-21 21:31] #7114 closed

[2020-11-21 22:14] Siedlerchr commented on #7114
And it should be fixed now

[2020-11-21 23:03] HoussemNasri commented on #6417
@calixtus Thank you for responding, but I have another question, my code will close tabs automatically so to achieve this I copied this method from `JabRefFrame` and called it whenever I close a tab
https://github.com/JabRef/jabref/blob/b0af521e3173e4b55673cd27563ca981ad607e8b/src/main/java/org/jabref/gui/JabRefFrame.java#L1157-L1162

The tab disappear indeed, The problem is when I close the app i

[2020-11-22 10:42] mlep commented on #7114
Indeed, I can confirm this issue is fixed in JabRef 5.2--2020-11-21--b0af521
Linux 4.19.0-12-amd64 amd64
Java 15.0.1

Thanks!

[2020-11-22 14:50] k3KAW8Pnf7mkmdSMPHz27 commented on #7111
You are referring to `eprint`?

It would be better if it supported fields/bracketed expressions as well, yup.

You might be able to workaround the issue using the [replace regular expression feature with an empty string](https://docs.jabref.org/setup/citationkeypatterns#replace-regular-expression). I am not familiar enough with regex and the `year`/`eprint` fields to come up with something good, b

[2020-11-22 14:58] Siedlerchr commented on #7099
Reading this I think the issue can be closed as JabRef works here as intended.

[2020-11-22 14:58] #7099 closed

[2020-11-22 15:08] Siedlerchr commented on #6870
I close this issue, please reopen if it persists

[2020-11-22 15:08] #6870 closed

[2020-11-22 15:16] tlannaax commented on #7111
Yes, eprint or even doi. I don't like the [year] field because new articles tend to have both a preprint and a reprint with different [year]. When I update the reprint info from a preprint, the year changes, which then messes up the bibtex key and the pdf file names.  I then decided to use eprint instead of year which is unique and persistent.

I do have my personal workaround via regex.
I set the

[2020-11-22 15:30] k3KAW8Pnf7mkmdSMPHz27 commented on #7111
Nice! Might be that others can use this meanwhile.

Agreed.

[2020-11-22 15:49] ilippert commented on #6622
JabRef 5.2--2020-11-21--b0af521
Linux 5.9.8-200.fc33.x86_64 amd64
Java 15.0.1

problem persists.

[2020-11-22 16:57] calixtus commented on #6417
Can you make a pull request with your changes so far? Then we can discuss this more easily. About autosave: @Siedlerchr is most experienced with this part of the code.

[2020-11-22 17:20] Siedlerchr commented on #6417
@HoussemNasri  The autosave / tab shutdown closing seems plausible and should be done.A tab has an attach bibdatabasecontext so this is correct

[2020-11-22 21:37] Siedlerchr commented on #6959
The solution would be to create another BooleanExpression in the ActionHelper class, e..g needsSharedDatabase
filter there
And in the action you can then bind it, e..g:
this.executable.bind(ActionHelper.needsEntriesSelected(stateManager));

[2020-11-22 21:41] Siedlerchr commented on #6831
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2020-11-22 21:41] #6831 closed

[2020-11-22 21:43] Siedlerchr commented on #6533
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-11-22 21:43] #6533 closed

[2020-11-23 01:41] G-Sheridan commented on #6856
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-23 06:24] Siedlerchr commented on #6856
Hi, this is not a good first issue because it requires deep understanding of the concepts of bibtex and the code of JabRef and the javafx gui stuff. It's a large issue.
in addition,it is a critical key/core component of JabRef and needs to be working 100%

Do you have any link to your tool so that we can test it or do you have a paper?

[2020-11-23 06:38] koppor commented on #6856
I think, the discussion is also whether a good-first-issue should be something being a quick win for the contributor or whether it should be hard-to-do, but afterwards, the contributor knows nearly everything about the software. We optimize for the former when putting GFI labels.

A nearly forgotten property of GFI issues is that the total number of GFI issues should not be too high. A GFI should

[2020-11-23 13:05] HoussemNasri commented on #6417
I am trying a new approach by adding a new tab with 0 entries then when data is ready I call a method from LibraryTab to update BibdatabaseContext but the problem is that Groups Pane doesn't update and keep showing 0 entries.
I took some code from add() method in JabRefFrame to reinitialize Backup and Autosave.
This is the method in LibraryTab to update BibdatabaseContext
[code]

[2020-11-23 16:15] boinappi opened #7120 "Associate Entry Table Columns with Database"
__Context:__
I am using JabRef for organizing and documenting my research progress, using a lot of custom entries. I also use it for my library organization. Now when switching between these libraries, the entry table columns should be different. I always have to change them manually by importing preferences and can never use both libs at the same time.

__Suggestion:__
Save the entry table column

[2020-11-23 19:01] Siedlerchr commented on #6454
I just tried to reproduce the issue here, but for me it's working fine. JabRef and JabFox both work fine on macOSX. I can iport the linked article fine.
there have also been recently some improvements regarding error handling in the import window.

[2020-11-23 19:41] #6622 closed

[2020-11-23 19:44] Siedlerchr commented on #6622
This issue should now be resolved in latest master.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-11-23 20:07] calixtus commented on #6840
Agenda:
[x] Set default sync to keywords to disabled #6846
[ ] Understand problems with synchronisation
[ ] Create cleanup for non-syncd keywords

[2020-11-23 21:25] ilippert commented on #6622
JabRef 5.2--2020-11-23--350ec1f
Linux 5.9.9-200.fc33.x86_64 amd64
Java 15.0.1

Hi, in this version, when I edit the bib code directly, it takes some seconds until the `*` appears next the the library's name, indicating the unsaved change of the file.

[2020-11-23 21:26] ilippert commented on #6622
But saving now works- thanks!

[2020-11-24 06:11] ilippert commented on #7120
If I may add to this feature request: it would be amazing if it could also be saved in what way the library was last sorted (e.g. after author, or year, or timestamp, etc (up or down).

[2020-11-24 15:43] ilippert commented on #6627
Dear @joethei, sorry, would you mind letting me know how I can "use" this feature?

JabRef 5.2--2020-11-23--350ec1f
Linux 5.9.9-200.fc33.x86_64 amd64
Java 15.0.1

[2020-11-24 16:31] joethei commented on #6627
@ilippert either use the web search in the bottom left to search for a paper the same way that you would search on the website itself or use Complex Search Querys.
Importing from a direct url is currently not supported.
You should also be to search for fulltext documents after you have added an entry to get the pdf version(if you do have access to it from your network).

[2020-11-24 16:57] AtrusRiven opened #7123 "Check Status of "case sensitivity" and "regular expression" in Search Field not identifiable"
In the search field, it is no longer possible to uncheck `regular expression` and `Case sensitive`.

[2020-11-24 17:03] AtrusRiven commented on #7123
Interesting. It still works but only if the software already has found something. I didn't find anything so tried to change case sensitivity but nothing happened. With a search that actually finds something the settings work.

[2020-11-24 17:06] AtrusRiven commented on #7123
I suppose the problem for me lies in the fact that it is not identifiable in the search field if the two settings are checked or unchecked. Is it possible to change that? At the moment, the symbols are permanently white.

[2020-11-24 17:22] wujastyk commented on #6627
I'm sorry @joethei, but I don't understand what you've just said.  "bottom left"?  Complex web search (alt+4) doesn't display "jstor" in the dropdown search options.

![Screenshot from 2020-11-24 10-21-17](https://user-images.githubusercontent.com/762246/100129550-f187f000-2e3e-11eb-8503-5885f7427b3b.png)

[2020-11-24 17:40] joethei commented on #6627
I am sorry, I mixed up some terminology there. web search is in the bottom left of my screen. With Complex search i meant the SearchBasedFetchers.
JSTOR is showing up in the dropdown on my screen
![JabRef_2020-11-24_18-39-49](https://user-images.githubusercontent.com/7150512/100131552-7ba67780-2e84-11eb-96eb-8d9ee98570ff.png)

[2020-11-24 17:44] wujastyk commented on #6627
Thanks!  I'm using
JabRef 5.2--2020-11-23--350ec1f
Linux 5.4.0-54-generic amd64
Java 15.0.1

... oh! Wait!  I found it.  I had to scroll down.  Duh.  It wasn't obvious to me that there were hidden entries.
Many thanks for the clarification.

[2020-11-24 18:11] Siedlerchr commented on #7123
You may want to check the css. Maybe some css definitions missing for the search buttons.

The GUI for the search is defined here
 https://github.com/JabRef/jabref/blob/4cf2fb06d3d876d2043f65ca0e51c3c4185fd05c/src/main/java/org/jabref/gui/search/GlobalSearchBar.java

[2020-11-24 19:25] k3KAW8Pnf7mkmdSMPHz27 commented on #7123
Do they show up when you click in the search field?

The current `visibleProperty()` bindings looks strange to me when the search field is not selected.

E.g.,
<img width="375" alt="Skärmavbild 2020-11-24 kl  14 21 53" src="https://user-images.githubusercontent.com/2598631/100141450-746d7280-2e60-11eb-860a-aae78147cdf7.png">

[2020-11-24 19:31] AtrusRiven commented on #7123
Can't see the icons either, when the search bar isn't selected.

@Siedlerchr : Perhaps a short hint where to look in order to figure out what to adress in the CSS (sorry for not having an expertise in Java :-) ) Thanks!

[2020-11-24 19:52] Siedlerchr commented on #7123
No problem, the search field buttons are defined here . Glyph icon refer to the icon on the button.
https://github.com/JabRef/jabref/blob/0412684218478d90e0a41d2a3c4be0a84af2793c/src/main/java/org/jabref/gui/Base.css#L922

[2020-11-24 19:57] DominikVoigt commented on #7123
I do not quite grasp the issue?
Do you want to see the regex and case sensitive search buttons when the search bar is not focused?

[2020-11-24 19:59] AtrusRiven commented on #7123
@Siedlerchr Thanks a lot!
@DominikVoigt Both. My problem is that the buttons do not indicate whether they are selected or not. The problem of @k3KAW8Pnf7mkmdSMPHz27 additionally is that the buttons are invisible when the bar is not focused.

[2020-11-24 20:15] AtrusRiven commented on #7123
I just realised that the toggle status is only with my custom dark theme undistinguishable. In light and normal dark theme it works (though it's only barely visible in normal dark theme). Therefore my problem is just a problem with something in my custom theme. Have to figure out what went wrong. Thanks for your help!

[2020-11-24 20:15] #7123 closed

[2020-11-24 20:52] Siedlerchr commented on #7123
@AtrusRiven  It might be the same problem as  #6791 which also  about the dark theme having that issue

[2020-11-24 21:00] AtrusRiven commented on #7123
Yes, your're right, that's the same. Thanks. I'll comment there.

[2020-11-24 21:31] Siedlerchr commented on #6791
For referenes:
The ToggleButton Style in the css applies to both the regex and the case sensitvy button, e.g. both are defined as ToggleButton
The properties of the toggle button:
https://openjfx.io/javadoc/14/javafx.graphics/javafx/scene/doc-files/cssref.html#togglebutton

[2020-11-24 21:49] koppor commented on #6627
Can some documentation be added to https://docs.jabref.org/collect/import-using-online-bibliographic-database? 😇

[2020-11-24 23:29] k3KAW8Pnf7mkmdSMPHz27 commented on #6791
I believe the classes are set to `icon-button` in https://github.com/JabRef/jabref/blob/350ec1f1ba4dc13c3e9f5a07f4fac801e85a93dc/src/main/java/org/jabref/gui/icon/IconTheme.java#L339-L344

[2020-11-25 06:00] ilippert commented on #6627
Hi, I have now used the JSTOR search the first two times. Thanks for implementing it! Experience: when I search for an author last name only, I do get a limited list of entries (not all available on jstor, not the article I am looking for). When I combine the last name with a keyword from the title, I do not get any results. When I only search for the stable URL number, I do not get anything. I am

[2020-11-25 07:12] joethei commented on #6627
Anything passed into the search gets send directly to jstor, so you should see the excact same results.
Only if you use something like `author:"Henke"`
does actually search only in authors.
Usage of the direct URL is currently not supported, I will open a PR shortly.

[2020-11-25 07:32] ilippert commented on #6627
I can confirm `author:"Henke"` searches in authors. But it does not get me the entry I need. Strange. If I search for `author:"Christopher R. Henke"` then I get it.

[2020-11-25 07:46] joethei commented on #6627
The search results for author:"Henke" are the same ones when using the advanced search on the website itself, JabRef does not do anything special here so that is to be expected.

[2020-11-25 08:54] ilippert commented on #5904
Sorry; I am afraid the issue reoccurs:
JabRef 5.2--2020-11-23--350ec1f
Linux 5.9.9-200.fc33.x86_64 amd64
Java 15.0.1

I use the Annote field to annotate the entry. And the cursor jumps occasionally back to the first line's beginning.

Should this be a new issue, or reopened here?

[2020-11-25 12:46] ilippert commented on #7110
Ok, haven't experienced freezing anymore for a few days now.

[2020-11-25 12:46] #7110 closed

[2020-11-25 12:46] DominikVoigt commented on #6627
@ilippert regarding the combination of multiple fields does JSTOR behave differently from the integrated search provided by JabRef (regarding the result set)?

[2020-11-25 12:48] ilippert commented on #7011
Is this still an issue?

[2020-11-25 13:09] ueen commented on #7011
For me in 5.1: yes

[2020-11-25 13:10] ilippert commented on #7011
and in the current master version? https://builds.jabref.org/master/

[2020-11-25 13:14] ueen commented on #7011
wait ill try

[2020-11-26 08:29] Blubbaa commented on #6690
Had the same bug on
[code]
Workaround by disabling the setting under "entry table -> fit table horizontally on screen" worked!

[2020-11-26 16:20] lanzen commented on #4383
Did anyone manage to implement this?

[2020-11-26 17:23] Siedlerchr commented on #4383
@lanzen  Regarding sci-hub. We won't implement this as we don't want to get in trouble with the publishers.

[2020-11-26 18:39] lanzen commented on #4383
Very understandable (and in retrospect I should have realised before even
asking). Thank you for your answer!

On Thu, 26 Nov 2020, 18:23 Christoph, <notifications@github.com> wrote:

[2020-11-27 03:37] koobs opened #7127 "Additional Short DOI fatal exception cases: java.lang.IllegalArgumentException: <string> is not a valid DOI/Short"
[code]

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Summary
---------

JabRef produces fatal exceptions for files containing non-DOI-related strings such as `10:51` (a timestamp) and `10/B(C)/15` (an arbitrary designation/ID)

The ShortDOI parsing subsystem was improved in #6920 to fix failure cases, but it appea

[2020-11-27 11:49] Linguista opened #7128 "Any regex in citation key generator produces empty field"
JabRef version 5.1 on Kubuntu 20.04

Any use of a regex in Options > Preferences > Citation key generator > Key Patterns > Key Pattern produces an empty field.

Steps to reproduce the behavior:
1. Start with any key pattern, e.g.` [authEtAl][year][shorttitle:capitalize`]
2. Add a regex to a field, e.g. `[authEtAl][year][shorttitle:capitalize:regex("Del", "")]`
3. Hit enter, save preferences.
4. Op

[2020-11-27 12:27] k3KAW8Pnf7mkmdSMPHz27 commented on #7128
Hi @Linguista, I am not completely up to date on my JabRef version knowledge. There were an earlier version with a bug in the regex modifier that occurred with space after `,` and the empty replacement ``. Could you try `regex("Del","_")` instead?

[2020-11-27 13:27] Linguista commented on #7128
Thanks very much -- you hit the nail on the head. Both the space between the regex fields and an empty replacement string break the citation generation on any field that has them. I can avoid the space, but adding garbage strings to citation keys obviously isn't idea. I'll check out the dev builds.

[2020-11-27 14:19] igelstorm opened #7129 "Automatic keyword groups do not update in group list when keywords change"
JabRef version 5.1--2020-08-30--e023aa0 on Windows 10.

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists. *The problem persists in 5.2--2020-11-26--f1a2fa7.*

## Summary

It is possible to create dynamic, auto-generated groups based on the contents of a field, e.g. `keywords`. (In the Groups interface, `Add subgroup`,

[2020-11-27 15:07] k3KAW8Pnf7mkmdSMPHz27 commented on #7128
While not ideal, if you are worried about using the dev version you can use the "Replace (regular expression)" feature to later remove the garbage string.

`\\W` appears to works for me. Could you give an example of what you are using it for? I'd not expect to use it for that purpose. Does something along the lines of `(\\bword\\b)` work? (example is from https://www.regular-expressions.info/wordb

[2020-11-27 15:10] k3KAW8Pnf7mkmdSMPHz27 commented on #7128
I don't think there is, but it could perhaps be an idea for a new issue with this as a feature request? (I have never used JabRef for non-english citations, I don't know how useful this is to others)

[2020-11-27 15:44] Linguista commented on #7128
Yes! `\\b" is exactly what I needed... with one addition. I'm searching on lowercase words but I had the `capitalize` command right before it, which was making everything fail!

Duh!

Thanks so much for your help.

[2020-11-27 21:36] luis-valdez commented on #6959
Hi! Can I work on this?

[2020-11-27 22:28] Siedlerchr commented on #6959
Sure. Go ahead, if you have any questions ask here or in our gitter channel

[2020-11-29 16:01] #6791 closed

[2020-11-29 16:01] tobiasdiez commented on #6791
Thanks to @kingmanas and his team, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-11-29 16:04] #7108 closed

[2020-11-29 16:05] tobiasdiez commented on #7108
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-11-30 07:29] mlep commented on #6791
This is now working as expected. Thank you @kingmanas!

[2020-11-30 18:36] Siedlerchr commented on #7128
So if I understood this correctly, this issue is solved in the latest development version and you also have a custom solution.

[2020-11-30 18:36] #7128 closed

[2020-11-30 20:58] luis-valdez commented on #6959
Hello I'm back. I think I have a solution almost worked out but I need a little help.

I added the binding in `PullChangesFromSharedAction.java`
[code]

The problem is I'm still not sure how to make the validation in the `ActionHelper.java`. So far my approach is something like this:
[code]
The problem is that in the `.isEqualTo` I'm not sure with what I should compare it to detect when the user i

[2020-12-01 06:45] Siedlerchr commented on #6959
Idea is good so far, for checking if it's a shared database you better check the bibdatabasecontect e.g
databaseContext.getLocation() == DatabaseLocation.SHARED)

[2020-12-01 08:43] jpschneiders opened #7147 "Customized general fields are not imported"
JabRef version JabRef 5.2--2020-12-01--706865f on Windows 10

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:

1. Export preferences with customized general fields from a JabRef instance.
2. Import these preferences (an example is joined to this report as text file [2020_Pref_Jabref.t

[2020-12-01 13:13] HoussemNasri commented on #7129
GroupSidePane updates also when you navigate from and back to the tab

[2020-12-01 18:19] JohanDelValleV commented on #6901
Is this issue still open? I'm looking for OP projects to contribute @Siedlerchr

[2020-12-01 18:46] Siedlerchr commented on #6901
@JohanDelValleV Thanks your your interest! Yes, the issue is still available. And it would be really nice to have this issue fixed.
 For getting started follow our contribution guide.
Code wise the layout is calculated by the code I posted above.

If you need any help, ask here or in our gitter channel

 https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md

[2020-12-01 22:48] calixtus commented on #6959
`Bindings.createBooleanBinding` is probably your friend here. Be aware that you can combine two Bindings with `.and()`

[2020-12-02 02:47] jonathan-g commented on #6921
This error has stopped. I'm closing the issue.

[2020-12-02 02:47] #6921 closed

[2020-12-02 06:47] luis-valdez commented on #6959
Update:

I came up with this solution:
[code]
But now the problem is that the validation is only being done at the start when I run the program. I'm guessing It's related to the `StateManager.java` but I'm fairly new to JavaFX so I'll keep looking into it.

[2020-12-02 07:20] Siedlerchr commented on #6959
You need to add the check for the active database property in the booleanBinding itself. The Bindings are wrapper around Observables. Observables update whenever their values changes.

I think something like this could work:
you may need to add some null checks
[code]

[2020-12-02 07:32] luis-valdez commented on #6959
Thanks a lot @Siedlerchr I really appreciate your help. I'll look into it.

[2020-12-02 08:24] calixtus commented on #6959
orElse(null) is always a bad idea...
Try using .isEmpty() inside the lambda expression.

[2020-12-02 13:58] AtrusRiven commented on #7129
At the moment, when you edit the group and then press `Ok` the whole automatically collected entries are being actualized. That's a workaround that avoids closing and opening the window again. But that should be fixed if possible.

Another thing caught my attention: When you edit a group that collects entries based on a specific keyword the circle box `Generate groups from keywords in the followin

[2020-12-02 15:24] AtrusRiven commented on #4681
### Three Tabs in the Group Sidebar
As I realized in the actual 5.2 build there still is only one group in the group interface. Are there further plans to implement these suggestions? I'd also find it very useful to differentiate into three different tabs between groups that differentiate in following way:

tab name/title | groups | keywords | special
--- | --- | --- | ---
**differentiation accord

[2020-12-02 15:50] AtrusRiven opened #7149 "Name of Group Icons not properly working"
`JabRef 5.2--2020-11-21--b0af521; Windows 10 10.0 amd64; Java 14.0.2`

In the edit menu of the groups you can set an icon for the group in the sidebar. This works when selecting a single word icon name, i.e. `book` or `eye`. It doesn't work when trying to set another name, i.e. with a dash, i.e. `eye-check`. The solution of this bug could be related to #7058.

[2020-12-02 18:35] Siedlerchr commented on #7149
Yep, it's a known problem and it's related ot that issue.

[2020-12-03 10:25] Codeberg-AsGithubAlternative-buhtz opened #7152 "Get full text: ignores library specific file directory"
[code]

My relevant settings:

Library Properties -> General file directory -> "./Files"
Options -> Preferences -> Linked files -> Main file directory -> [empty]

When I press the "Get full text" symbol for an entry in "General" tab beside the "File" field a PDF is downloaded and stored.
But it is stored not in "./Files" (the library specific general file directory) but in the mail file directory.

[2020-12-03 17:18] bazjo commented on #6944
I can reproduce this issue on all versions from 5.0-alpha to the current development build across linux, macOS and Windows for both MySQL (MariaDB 10 database) and PostgreSQL (ElephantSQL).

Behaviour is as follows: Connection to database (no SSL and no local library is used) works fine (however #6869 affects me too), upon first connection, all tables are generated. Adding groups works fine. Entri

[2020-12-03 19:49] Siedlerchr commented on #6944
I found the issue for #6869, a fix is on the way

[2020-12-03 20:22] #6869 closed

[2020-12-03 20:22] tobiasdiez commented on #6869
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-12-04 07:52] Siedlerchr commented on #7152
You need to uncheck the option "Search and store files relative to the library directory" because that takes precendece over all other file directories.
https://docs.jabref.org/finding-sorting-and-cleaning-entries/filelinks

[2020-12-04 08:31] Codeberg-AsGithubAlternative-buhtz commented on #7152
OK, then you have to redesign something.

The words of that option does not make it possible to link it to the "get full text" feature. I  wouuld assuem that most of the users does not understand this.

Main question: Why is this option needed? Who use it? Why would a user store its PDFs in a library specific sub-folder (e.g. `./Files`) but the "Get full text" files to a different directory. Makes

[2020-12-04 08:41] Siedlerchr commented on #7152
The Get Full Text uses the settings for the file directory as well.  So does not matter if you add a file locally or download it.  Feel free to adjust the help accordingly (Just click "Edit on Github at the help page")

The checkbox was previously named "Store files at bib file location". There are cases/users that have all pdfs and their bib file in the same folder. So when you tick that box, all

[2020-12-04 08:51] #6959 closed

[2020-12-04 09:19] Codeberg-AsGithubAlternative-buhtz commented on #7152
This is definitly not the case as I reported.
"Get Full Text" does not use "General file directory" of the "Library Properties".

[2020-12-04 10:35] m-mauersberger opened #7159 "Shared database: Additional phantom entry when adding an entry in a subgroup"
JabRef 5.2--2020-12-03--a06f2e0
Linux 4.12.14-lp151.28.83-default amd64
Java 15.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists.

Steps to reproduce the behavior:
1. Open a(n empty) shared database.
2. Add some entries to "All entries". Works fine.
3. Add a subgroup S1.
4. Add an entry to subgroup S1. Two entries

[2020-12-04 12:39] jorgman1 commented on #6502
If you remove these journals from the abbreviation lists, wouldn't you get a "journal not in abbreviation list" error when running the quality check?

[2020-12-04 14:30] mlep commented on #6690
Note: I am experiencing the same behavior with only 2 opened files, but this is rare (and I have not found how to reproduce it yet)

[2020-12-05 17:11] Siedlerchr commented on #7152
Still cannot reproduce:

Preferences -> Linked File:
<img width="847" alt="grafik" src="https://user-images.githubusercontent.com/320228/101258748-d792bb00-3724-11eb-8cee-d05d29bbd5c0.png">

LIbrary properties:
<img width="790" alt="grafik" src="https://user-images.githubusercontent.com/320228/101258771-ebd6b800-3724-11eb-9dcc-050447d6e592.png">

The File is located in /users/christophs/_JABREFTMP

[2020-12-06 17:48] #6417 closed

[2020-12-06 19:42] Siedlerchr commented on #7081
Pleas ask such questions in our support forum. https://discourse.jabref.org/

[2020-12-06 19:42] #7081 closed

[2020-12-07 00:35] #7048 closed

[2020-12-07 18:28] Siedlerchr commented on #7159
Thanks for your investigation, I will try to look into that as well.

[2020-12-07 19:15] koppor opened #7168 "Remove menu for study bib"
We are blocked by https://bugs.openjdk.java.net/browse/JDK-8240567. Can be readded after https://github.com/JabRef/jabref/pull/7126 is merged

[2020-12-07 20:01] koppor commented on #6454
I will test this and report back.

[2020-12-07 20:04] koppor commented on #6488
Cannot reproduce with latest master. Please comment if the problem persists.

[2020-12-07 20:04] #6488 closed

[2020-12-07 20:06] khatchad opened #7169 "mathesis type option should not include curly braces"
## Version
JabRef 5.1--2020-08-30--e023aa0
Linux 5.8.0-29-generic amd64
Java 14.0.2

## Steps to reproduce the behavior
1. Create a `@MastersThesis` entry
2. Select type as "mathesis" under the optional fields UI.

## Expected outcome
In the bibtex source: `type = mathesis,`

## Actual outcome
In the bibtex source: `type = {mathesis},`

[2020-12-07 20:11] koppor commented on #6690
The underlying discussion is https://github.com/JabRef/jabref/issues/967.

We seem to have a cool initial implementation done using the `ResizePolicy`. See https://github.com/JabRef/jabref/issues/967#issuecomment-357275095.

In short the idea of #967:

- Columns have optimal width
- Sum of widhts matches window size
- Let this width be optX

There is a column min column width and thus a min window

[2020-12-07 20:13] koppor commented on #6690
Hint: https://github.com/edvin/tornadofx/wiki/TableView-SmartResize

[2020-12-07 20:18] koppor commented on #6454
I tried with today's master build. Works fine. @bernhard-kleine Please report if the problem persists.

[2020-12-07 20:18] #6454 closed

[2020-12-07 20:18] koppor commented on #6454
System: Windows 10 latest beta

[2020-12-07 20:37] koppor commented on #7169
## Context

![grafik](https://user-images.githubusercontent.com/1366654/101401948-5c233c00-38d3-11eb-8795-8567f85705d2.png)

## Comment

We read the BibLaTeX manual. Somehow, there is the type defined. I did not knew that at all. Think, we should remove that field. Refs https://github.com/JabRef/jabref/issues/6856

The default is that you do not need to set it manually. Please leave the field alon

[2020-12-07 20:49] khatchad commented on #7169
I am using the `moderncv` class for my resume. And, you are correct, if I remove the `type = mathesis`, I get the same results. It's redundant. I agree that it should be removed.

[2020-12-08 00:41] khatchad commented on #7169
Note though that the `type` field itself may be necessary for other entry kinds other than `@MastersThesis`, or there may be types other than `mathesis` that make sense for `@MastersThesis`. I have not checked these.

[2020-12-08 02:39] luis-valdez commented on #7010
Hello, is this issue still open?

If it is, I would like to work on it.

[2020-12-08 19:40] ilippert commented on #5857
I still think this is a valuable feature :)

[2020-12-08 19:41] ilippert commented on #5872
I still think this is a valuable feature :)

[2020-12-08 19:47] ilippert commented on #6294
I would very very much love to see this feature worked on :)

[2020-12-08 19:49] ilippert commented on #6343
I wonder how difficult this feature is. If it is not much work, then I think it would really help minimise puzzlement for users who are not everyday users of jabref. I repeatedly stumble upon it after some weeks in which I do not search for literature...

[2020-12-08 19:50] reox commented on #5526
still relevant

[2020-12-08 19:51] ilippert commented on #6346
no idea, happy to close this. but maybe somebody else closes this who can better judge the exception.

[2020-12-08 19:51] Siedlerchr commented on #5654
Works fine in the current master.

[2020-12-08 19:51] #5654 closed

[2020-12-08 19:51] ilippert commented on #6404
oh, this would be such an amazing feature!

[2020-12-08 20:01] Siedlerchr commented on #5526
Seems like it's a javafx bug: https://bugs.openjdk.java.net/browse/JDK-8246795

[2020-12-08 20:04] Siedlerchr commented on #6343
@DominikVoigt  As you have more insight, I think the text of the dialog has been changed, correct?

[2020-12-08 20:05] mlep commented on #6099
Issue still valid.

[2020-12-08 20:06] Siedlerchr commented on #5768
In the latest master, stars can be clicked directly to set the rank:
<img width="1125" alt="grafik" src="https://user-images.githubusercontent.com/320228/101535587-2a74a880-3999-11eb-8104-491eb155bf45.png">

[2020-12-08 20:06] #5768 closed

[2020-12-08 20:09] ilippert commented on #6343
JabRef 5.2--2020-12-07--c770310
Linux 5.9.11-200.fc33.x86_64 amd64
Java 15.0.1

just testing it.
When I try to use google search nothing happens. when I type `-` into the search field, the field turns red.

[2020-12-08 20:13] Siedlerchr commented on #6000
It's related to the autosave and normal save happening

[2020-12-08 20:15] Siedlerchr commented on #6142
Refs #7058

[2020-12-08 20:17] #6150 closed

[2020-12-08 20:18] Siedlerchr commented on #6302
Unfortunately still relevant

[2020-12-08 20:20] Siedlerchr commented on #6448
Still a good idea. Should be easily done in the custom entry types dialog

[2020-12-08 20:20] rs-aesi commented on #6097
On Tue, 8 Dec 2020, github-actions[bot] wrote:

There's a work-around so this no longer needs anyone's time.

Thanks,

Rich

[2020-12-08 20:23] Siedlerchr commented on #6097
Closing in favor of https://github.com/JabRef/jabref/issues/6901#issuecomment-691493493 which contains some hints on where the code is located for fixing this

[2020-12-08 20:23] #6097 closed

[2020-12-08 20:33] wujastyk commented on #5547
JabRef 5.2--2020-12-07--c770310
Linux 5.4.0-56-generic amd64
Java 15.0.1

It's working fine now.

[2020-12-08 20:41] wujastyk commented on #6458
JabRef 5.2--2020-12-07--c770310
Linux 5.4.0-56-generic amd64
Java 15.0.1

Seems to be fine now.  I can't get that same behaviour in a few tests.
Thanks!

[2020-12-08 20:41] #6458 closed

[2020-12-08 21:09] #5540 closed

[2020-12-08 21:10] koppor commented on #5804
We need the ACM fetcher - or we need to drop it.

[2020-12-08 21:11] koppor commented on #5849
No time on work on this.

[2020-12-08 21:11] #5849 closed

[2020-12-08 21:16] koppor commented on #6197
This issue is still relevent.

[code]

Then

![grafik](https://user-images.githubusercontent.com/1366654/101542357-f2726300-39a2-11eb-9048-13f54db0a873.png)

Then

[code]

[2020-12-08 21:20] koppor commented on #6218
For me, testing is important. We should have test coverage. Therefore, we should work on this. We could also decide to drop Oracle support. However, there was much energy spent on it - and it theoretically works.

I think, the following image is good for testing: https://hub.docker.com/r/oracleinanutshell/oracle-xe-11g

We should move to Dockerunit probably: https://dockerunit.github.io/

[2020-12-08 22:03] sambo57u commented on #6009
The issue is still occurring exactly the same way with jabref 5,2 daily development versions on Fedora 33 Linux.

[2020-12-08 23:01] #6157 closed

[2020-12-09 03:09] JofielB commented on #5804
Hello, is this issue still available? And if is available I would like to take it

[2020-12-09 07:54] calixtus commented on #6334
Still two easy guickwins open.

[2020-12-09 07:58] calixtus commented on #5804
Go for it! :-) If you have questions, don't hesitate to ask at our gitter dev chat ( https://gitter.im/JabRef/jabref ). If you want to learn more about JabRef-programming in general have a look at our dev docs ( https://devdocs.jabref.org/ )

[2020-12-09 08:28] #5777 closed

[2020-12-09 08:48] jhh931 commented on #6288
My latest experience with this was on:
JabRef 5.2--2020-12-02--f22968e
Windows 10 10.0 amd64
Java 14.0.2

As the manual currently says, on https://docs.jabref.org/general/entryeditor#drag-and-drop-behavior-settings,
drag-and-drop behaviour is now modified (on Windows using Shift, Alt or Ctrl). For me this works as specified and as I need, so I'm closing this issue now.

[2020-12-09 08:48] #6288 closed

[2020-12-09 17:29] JosephRedfern opened #7175 "Support for Apple Silicon (macOS on ARM)"
Apologies if this has already been discussed -- I have searched on both GitHub issues and Discourse but may have missed it.

Are there plans to provide macOS builds targeting Apple Silicon/M1/ARM64? What (if any) are the barriers to such builds being released, and is there anything that can be done to help with this?

JabRef appears functional under Rosetta 2, but native release would be optimal f

[2020-12-09 18:52] Siedlerchr commented on #7175
Thanks for the question, it has not yet been discussed. I agree that this would be a nice thing to have.

JabRef depends both on the JDK version and javafx (openfjx)
The JDK environment seems to be already available for mac arm already.  At least some experimental builds.
https://openjdk.java.net/jeps/391
The other thing is OpenJFX
https://bugs.openjdk.java.net/browse/JDK-8257222
To summarize, not

[2020-12-09 19:23] jorgman1 commented on #6177
issue is still relevant

[2020-12-09 21:25] bernhard-kleine commented on #5475
@tobiasdiez ,  @Siedlerchr Is this issue with the Log4j2 resolved, then this should be closed, otherwise it should remain open, even its last activity was 6 months ago.

[2020-12-10 10:14] AEgit commented on #5475
I think the issue is still present in:

JabRef 5.2--2020-11-07--df80c13
Linux 5.4.0-53-generic amd64
Java 15.0.1

[2020-12-10 10:30] AEgit commented on #5461
The issue persists in:

JabRef 5.2--2020-12-09--d1fb9e2
Windows 10 10.0 amd64
Java 14.0.2

[2020-12-10 10:33] AEgit commented on #5464
The issue persists in:
JabRef 5.2--2020-12-09--d1fb9e2
Windows 10 10.0 amd64
Java 14.0.2

[2020-12-10 10:34] Siedlerchr commented on #5475
Yep, issue is still here, apache log4j team did not fix it yet. Were thinking of switching to another log framework maybe.

[2020-12-10 10:39] AEgit commented on #6057
I am not aware of that any of the above-mentioned suggested changes have been included (there have been performace-related improvements which were very welcome at the time - but I do not think the specific issue mentioned here have been tackled), so I reckon this issue is still present it:

JabRef 5.2--2020-12-09--d1fb9e2
Windows 10 10.0 amd64
Java 14.0.2

[2020-12-10 10:41] AEgit commented on #6188
As far as I am ware of, this feature has not been added to JabRef at the moment:
JabRef 5.2--2020-12-09--d1fb9e2
Windows 10 10.0 amd64
Java 14.0.2

[2020-12-10 18:52] Siedlerchr commented on #4342
@tb77phd  I could reproduce the issue and it seems it's done on purpose. The "dash" character, addtional whitespace and other unwanted latex chars
https://github.com/JabRef/jabref/blob/e955c46850e4738830198a889c3f09870b88ab30/src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java#L570-L573

[2020-12-10 21:42] JofielB commented on #6334
Hello, I just test the google thing, and it looks like it is still happening
![issue google](https://user-images.githubusercontent.com/32725639/101833078-aedc3e00-3af5-11eb-9edc-f95d53f5b1ca.png)
If no one is working on it I would like to give it a look

[2020-12-10 21:43] JofielB commented on #5804
Nice, I am gonna start working on it

[2020-12-10 21:47] calixtus commented on #6334
Should be available. Have fun coding.

[2020-12-11 10:35] ksos01 opened #7176 "Shared Databases: creating new entries does not work, importing existing libraries does"
Disclaimer: I hope I do not missed important information within the tutorials...

Setup:
- OS: Windows10 64-Bit
- JabRef version tested: 5.1 and 5.2 (09.12.2020) against PostgreSQL
- PostgreSQL: 12 and 13
- Java 1.8.0_261-b12

Steps done:
- starting the postgreSQL service -> creating database ->creating user for database (all done by pgadmin4, localhost)
- starting JabRef -> open shared database -

[2020-12-11 11:12] Siedlerchr commented on #7176
Thanks for the issue report. I will look into this later.

[2020-12-11 13:44] AtrusRiven opened #7177 "Java Exception when trying to open the preferences with missing custom theme"
When trying to open the preferences dialogue a java exception occurs:
`Cannot load org.jabref.gui.preferences.preferencesdialog`

[2020-12-11 14:05] AtrusRiven commented on #7177
Could solve the problem: Obviously, a broken path of the custom theme CSS (due to a change of the name of the folder containing the custom theme CSS) caused the exception. After reinstalling the release version, having been able to change all paths in this version (this version didn't have the custom theme feature) and reinstalling the current master branch version, all works again. Maybe a better

[2020-12-11 19:14] Siedlerchr commented on #7176
@ksos01  Thanks for the report. I could reproduce it and fix it.
Can you please test this version?
https://builds.jabref.org/pull/7178/merge/

[2020-12-12 00:09] JofielB commented on #6334
Hello, while going through the investigation of this issue I found out that when you make a search at; IEEEXplore, JSTOR, MathSciNet, SAO/Nasa ADS, Springer, and zbMATH an exception is raised (similar to Google Scholar one). I was wondering if solving this problem should be part of the google one or should be put in another issue?

[2020-12-12 00:40] JofielB commented on #6334
Another thing I was wonder was about how to handle the issue with Google Scholar because the problem says that there shouldn't be any exception raised when there are no entries found but the error that is throwing is a 429 (too many requests I believe). So I was wonder if the best approach to solve this is that: none exception should be shown when you make research and send the track to the error

[2020-12-12 07:58] calixtus commented on #6334
Fixing the fetchers is a never-ending story. You can, but it's not directly part of this issue. Be aware that some probably just don't work because of call limits, not working api keys or because the server is not accessible again (grobid). Google scholar is down, because the website has changed. There is already a pr open trying to fix it.

[2020-12-12 22:32] koppor opened #7180 "Manually adding a group via group field does not work anymore"
JabRef build today.

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:

See https://github.com/JabRef/jabref/issues/6690#issuecomment-668440560

Alternatively, manually edit the bib entry

![grafik](https://user-images.githubusercontent.com/1366654/101996322-c2dc9700-3cd1-11eb-885c-aa88

[2020-12-13 10:47] PremKolar commented on #7127
Hi,
I wrote the short-doi improvement you mentioned.
The strings _10/B(C)/15_ and _10:51_ by themselves should not be interpreted as short dois anymore. I will look into it and try to find out what's wrong.

[2020-12-13 11:54] PremKolar commented on #7127
I have detected the problem. Line 78 in DOI.java:

`+ "(?:\\s/?)"                       //   /10/ab12 or  10/ab12  (but not eg "2020/10/ab12")`

I will create a pull request...

[2020-12-13 13:46] ilippert commented on #6559
JabRef 5.2--2020-12-12--86e2c82
Linux 5.9.12-200.fc33.x86_64 amd64
Java 15.0.1

gets me again 90%ish CPU load with `openjdk version "14.0.2" 2020-07-14`.

https://github.com/JabRef/jabref/issues/6559#issuecomment-683448217 points me to bellsoft-java. I use `bellsoft-java15` now. That works fine.

[2020-12-13 14:46] #7168 closed

[2020-12-13 15:54] xiajunwen1007 opened #7184 "Automatically change dark/light theme according to system"
Is there an easy way to do this by custom theme？On web browser, I can use @media (prefers-color-scheme: dark) {} to do this. But it doesn’t  seem to work on jabref.
  Thanks a lot for your working! Love this app so much!

[2020-12-13 18:04] AtrusRiven commented on #7083
Made some improvements for the entry preview that should be more entry type sensitive.

[2020-12-13 18:21] Siedlerchr commented on #6944
@attractedtofire  @bazjo  @m-mauersberger  Can you please test this version? I found the issue
https://builds.jabref.org/pull/7178/merge/

[2020-12-13 18:32] Siedlerchr commented on #3736
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-12-13 18:32] #3736 closed

[2020-12-14 01:48] JofielB commented on #6197
Hello, I would like to work on this issue

[2020-12-14 06:41] ZanderChang opened #7190 "Messy code in Windows 10 20H2"
JabRef version 5.1 on Windows 10 20H2

I update my Windows 10 to 20H2 and everything becomes messy code, including title and text.

![2](https://user-images.githubusercontent.com/12554961/102048560-58833e00-3e1a-11eb-9fa8-9ff712a6610c.jpg)
![1](https://user-images.githubusercontent.com/12554961/102048563-5a4d0180-3e1a-11eb-8faf-d72719e771c6.jpg)

Please tell me how can i fix it?

[2020-12-14 07:06] geoffcallender commented on #3840
I've spent a couple of hours on this and my findings are very unclear...

I can no longer recreate the issue.

If the Vimeo video has not been pre-loaded, when you tap on it you'll a button for sound (note that we are using muted=1) and another for full screen. If you tap either, then the next bit of speech will cause the video to pause. This can be prevented by setting autopause=0 (by hand, throu

[2020-12-14 08:36] ilippert commented on #5484
Given that the feature suggested here was once implemented, and is still considered useful, I hope for this request to be considered by this great community.

[2020-12-14 13:05] m-mauersberger commented on #6944
Loading and updating shared database works with both most of the time:

(1) Windows 10 10.0 amd64
Java 14.0.2

(2) Linux 4.12.14-lp151.28.83-default amd64
Java 15.0.1

Where "most" means about 1 in about 5 directly after startup. In the error case, shared database is immediately disconnected when loading. So pulling changes asks for reconnection. I could not exactly find out under which circumstan

[2020-12-14 13:09] m-mauersberger commented on #6944
I experienced for both systems above that the tick on "Remember password" is saved although I have to type it in again. Maybe I have to specify a keystore? But then I can't browse something because the button is greyed out.

When I try to log in to database without password (tick remember is on) an exception window appears.

[2020-12-14 13:44] ilippert commented on #3148
same issue under
JabRef 5.2--2020-12-13--931c4cb
Linux 5.9.13-200.fc33.x86_64 amd64
Java 15.0.1
with `%` sign in field annote

[2020-12-14 17:09] ksos01 commented on #7176
@Siedlerchr Hi, I tested the linked build against PostgreSQL 12 and 13. Adding new entries now works from importing as well as the "plus" button. I tested it for multiple entry types as well after disconnecting and reconnecting to the database.

Thank you very much for your efforts! I will further test it the coming weeks, if I find something strange I will let you know.

[2020-12-14 19:05] Siedlerchr commented on #6944
Hm, for me, the password is remembered correctly:
![grafik](https://user-images.githubusercontent.com/320228/102120200-7795c600-3e42-11eb-8990-77e701c40370.png)

[2020-12-14 19:17] #7176 closed

[2020-12-14 19:17] #6944 closed

[2020-12-14 19:22] Siedlerchr commented on #7190
Hi, as this seems to come from the windows update,  you can try to change the font setting in your windows regional settings.

[2020-12-14 20:01] Siedlerchr commented on #6944
The fix is now merged in master

[2020-12-14 20:02] Siedlerchr commented on #2294
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-12-14 20:02] #2294 closed

[2020-12-14 20:43] k3KAW8Pnf7mkmdSMPHz27 commented on #7180
What do you mean by "manually adding a group via group field"? Is there a way of doing this without editing the bib entry?

Should creating a group by editing a bib entry work? I am thinking that there can be some confusion regarding empty ExplicitGroups (the ones with manually added entries)? Should they remain in the group list or be removed? What happens if you make a typo (i.e., will it create

[2020-12-14 20:50] Siedlerchr commented on #7180
Adding a new group by adding a new group in the entry's group field. Does not make any sense toe me

[2020-12-14 21:12] k3KAW8Pnf7mkmdSMPHz27 commented on #7180
I just don't know what this issue refers too. Following the steps in https://github.com/JabRef/jabref/issues/6690#issuecomment-668440560 I get the result I expect ("For fun" is empty)?

If the issue is that it is not possible to change the name in the .bib file manually, that should have been the case for quite a while, but the old format should still be supported? I suppose an alternative would b

[2020-12-14 21:45] #7127 closed

[2020-12-14 22:03] koppor commented on #7180
I see your point. I would say that deletion of "wrong" empty static groups is simpler than creating explict groups by hand. I am more a guy editing the BibTeX source than using some UI. Since JabRef perfectly shows the BibTeX source, I just edit that. I can add new authors, keywords, ... and all grouping works (hopefully ^^). Why not at explicit groups?

... some more thoughts ...

Using drag'n'dr

[2020-12-15 08:52] ZanderChang commented on #7190
Well, it seems my Windows 10 Home only supports Simplified Chinese and 202H almost messes everything up. A macbook would be a better choice :).

[2020-12-15 08:52] #7190 closed

[2020-12-15 10:10] ilippert opened #7194 "Move file to file directory ceased working"
JabRef 5.2--2020-12-13--931c4cb
Linux 5.9.13-200.fc33.x86_64 amd64
Java 15.0.1

I have attached files in the entry editor. I should be able to use the contextual menu to move the file into the "file directory". But that moving is disabled. I did not change my settings.

But note, drag&drop file on entry table line still works.

[2020-12-15 14:18] k3KAW8Pnf7mkmdSMPHz27 opened #7195 "Unselect entries in the main table and opacity of disabled icon-buttons"
**Is your suggestion for improvement related to a problem? Please describe.**
1. At the moment you can't unselect bib entries in the main table. This is perhaps a useless feature but it is part of my "default behaviour". If I am editing a bib entry in a small library, and I want to close the entry tab I click on an empty row in the main table, and I expect the bib entry to be unselected and the en

[2020-12-15 16:23] el-paso opened #7196 "Support "Push to" for VScode"
I really love JabRef.
My Latex Workflow is based on VScode.
Please bring my two biggest love together.
That would make me happy and i will donate a chocolate with Baola!

![image](https://user-images.githubusercontent.com/34002966/102242118-01549a80-3efa-11eb-8983-0c47aac4d34d.png)

[2020-12-15 16:24] el-paso commented on #7196
Alternatively add an "Copy" Button under "Generate"
= Half of a Balboa chocolate
![image](https://user-images.githubusercontent.com/34002966/102242440-58f30600-3efa-11eb-8df2-ef1d180b450f.png)

[2020-12-15 20:22] JofielB opened #7197 "Modify the "Directory not found" alert to show a more descriptive path"
### Problem Description
When you try to download a pdf (`Lookup -> Search full documents online `) and you don't have a file directory set, an alert tells you that you should follow a path to set your file directory:` Preference -> File`. But that path is not correct because to set the file directory you need to follow this path: `Options -> Preference -> Linked Files -> Main File Directory`

###

[2020-12-15 21:44] JofielB commented on #6334
For the finding duplicate problem I thought of these possible solutions:
- **Firts possible solution:** It could be that when you enter that dialog of "duplicates found" an icon appears on the duplicates files and if you decide to continue with the import, merge the files and not create a copy of the file

- **Second possible solution:** Don't show the "duplicate found" alert and automatically mer

[2020-12-15 22:26] koobs commented on #7127
Thank you @PremKolar, I'll test latest master with #7191 applied to confirm resolution

[2020-12-15 23:34] JofielB commented on #6177
Hello, just to be sure the desire solution would be something like this:
1. create or open at least 2 libraries
2. Make a web search for anything
3. Select 1 or more things you want to important
4.  Start importing
4.  **A dialog view appears and asks you in what library you want to make the imports (solution)**
5. The imports are done

[2020-12-16 01:25] k3KAW8Pnf7mkmdSMPHz27 commented on #7010
I think this issue is still open, but I do not know how it should be solved.

[2020-12-16 07:53] Siedlerchr commented on #7197
Please be aware that a main file directory can be empty and you can add relative paths in the library properties. https://docs.jabref.org/setup/databaseproperties#override-default-file-directories

[2020-12-16 12:53] teertinker commented on #7196
Hello,
alternatively you can select your entry and just copy your key with ctrl+shift+k

see:

![copybibkey](https://user-images.githubusercontent.com/8830305/102350898-e8092800-3fa5-11eb-8531-098c0917d063.gif)

[2020-12-16 13:01] Siedlerchr commented on #7196
See also: https://github.com/JabRef/jabref/issues/6775#issuecomment-678586218
It's a problem with VSCode
Closing this as Duplicate

[2020-12-16 13:01] #7196 closed

[2020-12-16 13:17] jorgman1 commented on #6177
Something like that. The button to select the library could be in the current import window. It is large. Or it could be a dropdown list.

[2020-12-16 13:28] calixtus commented on #6334
I thought a little bit about this.
Clearly, the "marked with an icon" part is an artifact of a long gone feature of JabRef.
Reimplementing this in the table would be a bit more work. An alternative could be to display a list of duplicates and display a merge button, which opens a merge dialog. Again, a bit more work.
The most simple solution would be to just change the info text and to relabel the

[2020-12-16 15:11] xiaodongcentury commented on #4169
Hi, i am using JabRef (JabRef 5.2--2020-12-14--e9be339 Linux 5.9.0-4-amd64 amd64 Java 15.0.1) on Debian sid.
After importing the Chinese essay, manually insert a space or comma, such as 王, 阳 or 王 阳, the citationkey will generate successfully, but the Reference section of essay will display "王 阳"(there is a space between王 and 阳, not "王阳".
How could you resolve this problem, thanks!
![image](https:/

[2020-12-16 19:39] k3KAW8Pnf7mkmdSMPHz27 commented on #6394
What is the expected behaviour for when you have a group selected, so that only entries in the .aux file is shown, and a change occur so that an entry is added/removed?
I am ok with an entry not being *removed* from the view (as it is indicated by the group color anyway, as shown in the screenshot below), but what about when they are added?

<img width="323" alt="Skärmavbild 2020-12-16 kl  14 35

[2020-12-16 19:49] k3KAW8Pnf7mkmdSMPHz27 commented on #6394
I am assuming that it should behave in the same way as for searches (the bib entry gets added/removed immediately but the entry editor still show the entry if it was selected)

[2020-12-16 20:18] tobiasdiez commented on #6334
Where does the duplicate message appears?
In the import dialog, duplicates are indeed marked with an icon (to the right of the entry).

[2020-12-16 22:31] JofielB commented on #6334
@tobiasdiez  You are right an icon actually appears
![icon issue](https://user-images.githubusercontent.com/32725639/102414305-88b21480-3fb3-11eb-824c-dc6f15295e60.png)

 And the duplicate message appears when you import something that has that icon
![show dialog](https://user-images.githubusercontent.com/32725639/102414387-aed7b480-3fb3-11eb-85eb-e0c38edc9a8a.png)

[2020-12-16 23:13] JofielB commented on #6334
@calixtus Would this be the desired dialog or should I change something else?
![dialog](https://user-images.githubusercontent.com/32725639/102417726-7a66f700-3fb9-11eb-8f20-ba5fb86510f0.png)

[2020-12-17 02:12] xiaodongcentury opened #7199 "Chinese author of essay reference section displays extra space"
Hi, i am using JabRef (JabRef 5.2--2020-12-14--e9be339 Linux 5.9.0-4-amd64 amd64 Java 15.0.1) on Debian sid.

JabRef version  on

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

After importing the Chinese essay, manually insert a space or comma, such as 杨 秀群, the citationkey will generate successfully, but the Refer

[2020-12-17 09:54] ilippert opened #7200 "Exception upon copy (org.jabref.preferences.PreferencesService.getFieldWriterPreferences())"
JabRef 5.2--2020-12-14--e9be339
Linux 5.9.13-200.fc33.x86_64 amd64
Java 15.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. select entry
2. press `CTRL+C` to copy / alternatively, use context menu to copy

The entry is not copied - cannot paste it anywhere.
However, copying the

[2020-12-17 12:01] homocomputeris opened #7201 "[authorsAlpha] uses full surname instead of 3 first letters"
JabRef 5.1--ArchLinux--2
Linux 5.9.15-1-clear amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Set Default pattern to [authorsAlpha:lower][year][shorttitleINI:lower]
2. Generate a key
3. Field `author = {John Downs},` produces the key `downs2017ato,`.
However,

[2020-12-17 16:10] AEgit commented on #5522
JabRef 5.2--2020-12-14--e9be339
Windows 10 10.0 amd64
Java 14.0.2

The issues mentioned in https://github.com/JabRef/jabref/issues/5522#issuecomment-643632385 persist in the current dev version.

[2020-12-17 19:45] ibe-314 opened #7202 "Add support to add an entry from zbmath.org via its zbMATH id"
JabRef supports adding entries via different kind of ids (https://docs.jabref.org/collect/add-entry-using-an-id). Right now, it is not possible to add an entry from [zbmath.org](https://zbmath.org) via its zbMATH id, however it is possible to add entries by searching its database (https://docs.jabref.org/collect/import-using-online-bibliographic-database).

I would like to implement the possibilit

[2020-12-17 21:16] k3KAW8Pnf7mkmdSMPHz27 commented on #7201
While I do not know what the correct output is for the BibTeX style "alpha", the latest development build produces "dow" for `author = {John Downs}` with citation pattern `[authorsAlpha:lower]`.

It is recommended that you backup your library before you try a development build!

[2020-12-17 22:42] k3KAW8Pnf7mkmdSMPHz27 commented on #7199
Hi @xiaodongcentury! I just have some follow up questions,

You mean without space/comma?

1. Do you mean the preview section in JabRef?
2. Do you mean the citation key?

Are you referring to an [ideographic comma](https://en.wiktionary.org/wiki/ideographic_comma)? Should it not be included?

[2020-12-17 22:55] koppor commented on #6394
According to the documentation (at https://docs.jabref.org/finding-sorting-and-cleaning-entries/groups#using-the-cited-entries-of-a-latex-document), the `.aux` file is hot reloaded. Since the group changed, I would like to see all changes in the maintable, too. Which means: removal causes removal and addition causes addition. 😇

[2020-12-18 00:14] JofielB commented on #6177
Nice, I am gonna try to add that dropdown to the Import window

[2020-12-18 03:32] koobs opened #7203 "PdfContentImporter: java.lang.StringIndexOutOfBoundsException: String index out of range: 3"
### JabRef Version

[code]

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

### Summary

JabRef PDF Importer crashes attempting to process a PDF file

 * PDF Source: [21Lucy Anna Smith MSc Thesis 2015.pdf](https://github.com/JabRef/jabref/files/5713479/21Lucy.Anna.Smith.MSc.Thesis.2015.pdf)

### Additional Details (i

[2020-12-18 04:22] koobs opened #7205 "Importer: JabRef stops responding (hangs) during PDF Import"
### JabRef Version

[code]

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

### Summary

JabRef stops responding ("hangs") while processing files during import and provides no user-visible mechanism  for progress. The length of the hang is proportional to the number of files selected, particularly evident during the

[2020-12-18 05:00] koobs opened #7206 "Unlinked files Importer: Continue (fall-through) when individual files fail to be processed"
### **Is your suggestion for improvement related to a problem? Please describe.**

When a user is attempting to import a "not small" (>1) number of files and the import process is completely stopped due to a single or  small number of errors, the followings impacts present themselves:

  * The user is confused as to the state of the import, and library as a whole
  * The user must elect to either

[2020-12-18 10:48] AEgit commented on #6998
Note, that this issue appears to (indirectly) be related to the problem that there is still not floating mode available for the main table in JabRef 5 (https://github.com/JabRef/jabref/issues/4237; see also comment here: https://github.com/JabRef/jabref/issues/4237#issuecomment-433863717).

Implementing the floating mode might (?) solve some of the groups issues mentioned here by design. Sorry for

[2020-12-18 14:08] xiaodongcentury commented on #7199
Thanks.
Without space/comma, the citationkey will not generate successfully.
What i mean is for most Chinese article, the author name of reference section will be a whole, such as "杨秀群", but not "杨 秀群". For example:
![image](https://user-images.githubusercontent.com/20276890/102621902-3facbc80-417b-11eb-83d0-b6715445cc1b.png)

But now, I insert the citation item to a tex file from the JabRef, the

[2020-12-18 15:20] calixtus commented on #6334
The most sophisticated solution would be to implement a listview in a custom Dialog (already exists) allowing to select the duplicate you want to merge an stehen Open the merge entries dialog (already exists) and to store the result.
But I believe, if you don't want to put too much time in this, the first solution would be sufficient.

[2020-12-18 17:16] k3KAW8Pnf7mkmdSMPHz27 commented on #7199
If it is the author's name in the pdf file that has an extra space, I don't think there is anything you can do in JabRef. The reason why you need that space/comma in the authors' name field has to do with how BibTeX/biblatex handles name (there are a lot of post/discussions on the topic, e.g., https://nwalsh.com/tex/texhelp/bibtx-23.html) and cannot be changed by JabRef.

In theory the gb7714 pack

[2020-12-18 17:20] k3KAW8Pnf7mkmdSMPHz27 commented on #7199
A potential workaround could be to remove the space after generating the key or to use a different citation key pattern but I'd guess that might lead to further issues later on.

[2020-12-18 19:28] JofielB commented on #6334
Just to be sure, the sophisticated solution flow would be something like this:
1. Import entries dialog
2. (if you have duplicates) custom dialog with listview
3. merge entries dialog
4. store results and finish process

[2020-12-18 19:34] #7052 closed

[2020-12-18 22:05] calixtus commented on #6334
Yes, i think so. You can take a look at the merge dialog of intellij for some inspiration.
![image](https://user-images.githubusercontent.com/50491877/102665361-0ed18500-4185-11eb-8cd0-017664d5f275.png)

![image](https://user-images.githubusercontent.com/50491877/102665506-37597f00-4185-11eb-8fb4-ead19fc74f38.png)

JabRef already provides a merge dialog. Not bad, yet not perfect.

[2020-12-19 03:22] xiaodongcentury commented on #7199
Thanks!
From the https://www.fosshub.com/JabRef-old.html, i download the jar file ([v5.0-alpha] JabRef Platform independent runnable JAR),
![image](https://user-images.githubusercontent.com/20276890/102679434-db294600-41ea-11eb-823e-4b2e15706725.png)
then open it.
Although there is no space/comma in Chinese author name, the citationkey is successfully generated, and the pdf file generated displays

[2020-12-19 11:59] Siedlerchr commented on #7205
Thanks for the report! This is indeed a problem, I looked into the code. The import is executed on the main javafx thread:
https://github.com/JabRef/jabref/blob/c0153bd501754d220e34f45ca689851f8ffd5fbd/src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesDialog.java#L192-L195

Needs to be a proper background task.

[2020-12-19 13:50] #7203 closed

[2020-12-19 15:17] systemoperator commented on #6512
Would still be relevant.

[2020-12-19 15:17] systemoperator commented on #6185
Would still be relevant.

[2020-12-19 15:23] systemoperator commented on #5902
Issue still persists. Description has been updated.

[2020-12-19 15:32] systemoperator commented on #5833
Issue still persists. Description has been updated.

[2020-12-19 16:54] systemoperator commented on #5858
Issues still persists. Description has been extended.

[2020-12-19 17:13] Siedlerchr commented on #5833
Seems like JabRef creates group for the first name as well, but only fills the ones for the last names. I don't really understand how it's working

[2020-12-19 17:14] systemoperator commented on #6334
@JofielB Just to be sure, that you don't miss any detail concerning importing a duplicate reference, see #5858, which outlines what is working and what not.

In my opinion, the existing workflow concerning the duplicates would be acceptable, if it was working as expected. Fixing these errors would apparently be much less effort.

[2020-12-19 17:18] Siedlerchr commented on #7202
Welcome! I think this will be a really cool thing for JabRef to have.
For getting started check out our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)
The existing zbMath fetcher is here https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/importer/fetcher/ZbMATH.java

You probably just need  to implement the IDBasedFetcher /IdBasedParserF

[2020-12-19 17:48] k3KAW8Pnf7mkmdSMPHz27 commented on #5833
Should I look at it as part of the solution to #6394? I haven't looked at the details of this one but it would surprise me if it does not have overlap with the issues I am having updating the count badge and refreshing the content.

The scope of #7173 keeps expanding "naturally" anyway 😧

[2020-12-19 18:22] k3KAW8Pnf7mkmdSMPHz27 commented on #7199
Good that you got it to work! In the interest of keeping it working for future releases, I hope you don't mind answering some further questions?

* You are using the default citation key pattern `[auth][year]`?
* The correct citation key should be `秀群2020` (**not** `杨秀群2020`)?
* When the citation key does not generate successfully, do you mean that the resulting key is `2020`?

[2020-12-19 18:33] tobiasdiez commented on #6334
I think also the "do not remember" solution is fine. Merging is a nice feature, but I would put this directly in the import dialog. For example, JabRef could warn you with a message when you select an already-present entry, and offer the option to directly merge.

[2020-12-19 18:38] ibe-314 commented on #7202
Thank you for the information. I already had a look at the code and found the zbMath fetcher :-) I won't have that much time this year but I will work on the fetcher the first week of January.

[2020-12-20 01:29] koobs commented on #7205
@Siedlerchr My pleasure, you're welcome, and thank you for the assessment :)

[2020-12-20 03:52] xiaodongcentury commented on #7199
Thank you!
The old version ([v5.0-alpha] JabRef Platform independent runnable JAR) works, but not the newer master version (JabRef 5.2-1).
1. yes, i am using default citation key patter.
2. the citation key of old version is 杨秀群2020, and the pdf file generated displays correctly. While the mater version is 秀群2020, and the pdf file generated displays incorrectly.
3. If there is no space/comma betwe

[2020-12-20 05:58] koobs commented on #3925
Confirming issue on latest master

[code]
For the following `journaltitle`s: Wear, Chemosphere, Energy Procedia, Aquaculture, Zebrafish

[2020-12-20 12:09] tobiasdiez commented on #7184
For Swing applications, one could use `UIManager` to get the system color. But this information is sadly not available for JavaFX (the UI framework we use). So there is sadly nothing we can do right now. If you really want this feature, please open an issue at https://bugreport.java.com/bugreport/ requesting the ability to determine the system theme from JavaFX.

[2020-12-20 12:09] #7184 closed

[2020-12-20 12:13] tobiasdiez commented on #7180
You can add en entry to an existing group by editing the groups field, but it's not possible to create a new group this way (and never has been).

[2020-12-20 12:13] #7180 closed

[2020-12-20 12:32] tobiasdiez commented on #7199
I did a bit of research, but it seems there is no agreed standard of how to put Chinese names in bibtex. By default the naming parsing of biblatex and JabRef assume that name parts are separated by space. Maybe the strategy outlined at
https://github.com/plk/biblatex/issues/416#issuecomment-738335693 works for you.

[2020-12-20 12:36] xiaodongcentury commented on #7199
Thanks!
But the older version ([v5.0-alpha] JabRef Platform independent runnable JAR) does works.
I'll check your solution whether it works.

[2020-12-20 12:36] tobiasdiez commented on #7195
I think both ideas are good. Would you mind creating PRs for them? (we already have ActionHelper.needsEntriesSelected so this should be straigthforward)

[2020-12-20 12:41] tobiasdiez commented on #7199
We have improved the author parsing from 5.0 to 5.1, and made it align better with biblatex. So the reason why it works in the alpha is actually a bug that was fixed later (unfortunately it leads to problems for chinese names).

Another idea would be to put the name (or parts of it?) in braces, e.g. `{杨秀群}` or `杨{秀群}`. That's actually a syntax used for organizations (e.g. `{United Nations}`) but m

[2020-12-20 12:49] xiaodongcentury commented on #7199
Ah, that's a lot of work to do.
Anyway, thank you.

[2020-12-20 12:51] k3KAW8Pnf7mkmdSMPHz27 commented on #7199
I don't have time to write a full answer to this right now but you both are right.
The handling was improved but there is a bug because the name in this specific instance is considered by Java to start with a lower case letter (and therefore gets removed).
I'll submit a PR for this and another issue in ≈ 8 hours.

[2020-12-20 12:54] xiaodongcentury commented on #7199
@k3KAW8Pnf7mkmdSMPHz27 Thanks

[2020-12-20 12:58] xiaodongcentury commented on #7199
@tobiasdiez it seems like the {} doesn't work, whether whole name or part of it.
![image](https://user-images.githubusercontent.com/20276890/102713849-e0c77e80-4305-11eb-8afc-1b04a02cbfb6.png)
The generated key only contain year, there is no author.

[2020-12-20 13:00] koppor commented on #7180
Thank you for clarification @tobiasdiez!

[2020-12-20 17:23] #3925 closed

[2020-12-20 17:23] tobiasdiez commented on #3925
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-12-21 01:58] koobs commented on #3925
@tobiasdiez #6502 may be a dupe of this issue and/or #7208 may resolve it.

[2020-12-21 07:47] Siedlerchr commented on #6502
The abbrev check for the journal fields in the entry editor is now removed in the latest master. No more triangle

[2020-12-21 07:47] #6502 closed

[2020-12-21 15:02] systemoperator commented on #5833
@k3KAW8Pnf7mkmdSMPHz27 If you find some time, it would be great.

[2020-12-21 19:02] Siedlerchr commented on #7200
Encountered this issue as well. Reason is that at when Globals.ClipboardManager gets initialized in Globals before the JabRefPreferences are initialized.

[2020-12-21 19:12] calixtus commented on #7177
We'll will take a look at this. Unfortunately, I believe this problem may sit deeper in the javafx library, since the css' are handled there... We will see.

[2020-12-21 19:46] koppor commented on #6369
- [ ] Jstor: Result differs
- [ ] CiteSeer: Result differs
- [ ] TitleFetcher: Change format
- [ ] Disable CompositeFetcherTest on CI
- [ ] Grobid: Server down

---

- [ ] Google Scholar. Refs #7075
- [ ] Jstor: 403?
- [x] IEEE: 403 --> rate limit

---

- [ ] ACM Fetcher --> disable or rewrite (https://github.com/NatashaDudi/jabref/blob/develop/src/main/java/org/jabref/logic/importer/fetcher/ACMPo

[2020-12-21 20:28] #7200 closed

[2020-12-21 22:34] k3KAW8Pnf7mkmdSMPHz27 commented on #7195
Great!
I'll split it over two PRs. One dealing with the opacity/disabled, which should be finished quicker, and one trying to figure out when it is reasonable to "lose" a selection.

[2020-12-21 22:57] devjuliet commented on #7197
Is this up for grabs? I would like to contribute @Siedlerchr 😄

[2020-12-22 00:41] koobs commented on #3925
@tobiasdiez Confirming resolution (see screenshot) on:

[code]

![2020-12-22 11_38_17-Integrity check should not list _abbreviation detected_ · Issue #3925 · JabRef_j](https://user-images.githubusercontent.com/1011612/102835243-15af0080-43ee-11eb-88ca-01579a257faa.png)

[2020-12-22 00:42] koobs commented on #6502
Confirming resolution (see screenshot) on:

[code]

![2020-12-22 11_40_40-_research 20201220 biblatex bib – JabRef](https://user-images.githubusercontent.com/1011612/102835393-80603c00-43ee-11eb-8d00-ba6380aaa5b7.png)

[2020-12-22 00:51] koobs commented on #6189
CrossRef has a Journals resource that might be handy.

[CrossRef API Documentation: Resources](https://github.com/CrossRef/rest-api-doc/#resource-components)

Example API Calls:

* Journal information via ISSN: https://api.crossref.org/journals/2158-5571
* Journal Works via ISSN: https://api.crossref.org/journals/0276-1459/works
* Journal Query: https://api.crossref.org/journals?query=Nature%20Bio

[2020-12-22 06:12] Siedlerchr commented on #7197
@devjuliet Welcome to JabRef, feel free to work on that issue!
see our contribution.md for getting started.
If you have any questions, just ask here or in our gitter channel

[2020-12-22 07:50] Siedlerchr commented on #7206
I am currently reworking the dialog and I thought about marking/showing a similar dialog as in the copy files dialog (Tools -> Copy  linked files to folder)
<img width="856" alt="grafik" src="https://user-images.githubusercontent.com/320228/102863289-a7406180-4432-11eb-99c7-668b8f583be1.png">

[2020-12-22 09:48] sankayop commented on #5660
Was this issue solved? I'm having the same issue with latest version:
JabRef 5.2--2020-11-19--0412684
Linux 5.9.11-3-manjaro amd64
Java 15.0.1

[2020-12-22 09:52] bulmust commented on #5660
Yes, it works with following version.

JabRef 5.1--2020-08-30--e023aa0
Linux 5.4.0-47-generic amd64
Java 14.0.2

[2020-12-22 10:03] sankayop commented on #5660
Thanks for your fast answer,
In my case, it looks like I can't get my default document viewer to switch from Evince (Gnome) to Okular but I guess the issue is probably more on my default application configuration (xdg-mime) than on jabref itself.
Sorry for spamming.
I was just wondering how did you solve your issue but now I know :)

[2020-12-22 10:07] sankayop commented on #5660
Ok, now I feel stupid...
It was indeed more on the default app configuration.
I just right-clicked on a pdf file (in GUI file explorer), then on properties > Open with>Okular) and now, Jabref opens it with my default pdf viewer: Okular...

If it can help somebody on the net, at least, these messages will not be lost :)

[2020-12-22 10:11] Siedlerchr commented on #5660
@sankayop  Thanks for the info! You may want to add this as an FAQ entry: https://docs.jabref.org/faqgeneral so people searching for this will find it easier
Just click on "Edit at github" in the top right corer

[2020-12-22 10:33] sankayop commented on #5660
@Siedlerchr : done :)

[2020-12-22 12:17] k3KAW8Pnf7mkmdSMPHz27 opened #7226 "Style of checkboxes while searching in preferences"
JabRef 5.2--2020-12-22--d83ef74
Mac OS X 10.15.7 x86_64
Java 15.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When searching for an option in JabRef preferences, the checkbox has incorrect styling. The "unchecked" behaviour, while distinct from the "checked", is confusing since it still has a checkmark in it.

[2020-12-22 15:42] k3KAW8Pnf7mkmdSMPHz27 commented on #5833
There are multiple issues with getting this working properly and they are unfortunately not connected to #6394 so I won't continue with it for now, but these are my notes for now

1. The first problem is the use of `KeywordListSearchStrategy` in `WordKeywordGroup`, this means that any author with a "," before/after the last name is ignored (e.g., `Turing, Alan` should not be listed under "Turing")

[2020-12-22 19:39] #6563 closed

[2020-12-22 19:39] #6506 closed

[2020-12-22 19:39] #6484 closed

[2020-12-22 19:39] #6401 closed

[2020-12-22 19:39] #6376 closed

[2020-12-22 19:39] #6395 closed

[2020-12-22 19:39] #6374 closed

[2020-12-22 19:39] #6353 closed

[2020-12-22 19:39] #6349 closed

[2020-12-22 19:39] #6243 closed

[2020-12-22 19:39] #6193 closed

[2020-12-22 19:39] #6148 closed

[2020-12-22 19:39] #6124 closed

[2020-12-22 19:39] #6025 closed

[2020-12-22 19:39] #6087 closed

[2020-12-22 19:39] #5957 closed

[2020-12-22 19:39] #5895 closed

[2020-12-22 19:39] #5871 closed

[2020-12-22 19:39] #5818 closed

[2020-12-22 19:39] #5813 closed

[2020-12-22 19:39] #5719 closed

[2020-12-22 19:39] #5658 closed

[2020-12-22 19:39] #5633 closed

[2020-12-22 19:39] #5562 closed

[2020-12-22 21:26] sankayop commented on #4654
I would also love this feature
 :+1: for JabRef developers !

[2020-12-23 00:13] JofielB commented on #6177
I don't gonna be able to continue working on this issue but for the ones that may take this issue in the future I will leave the following tips:
- You can change the import window design to add the dropdown at this file: `ImportEntriesDialog.fxml`
- The `ImportEntriesDialog.fxml` has assigned the `ImportEntriesDialog.java` as a controller
- Another import file to check is the `ImportEntriesViewMod

[2020-12-23 02:28] JofielB commented on #6334
I think I will not be able to continue working on this issue but I already made a pull request with the first accepted changes on the duplicates dialog, so, if some take this issue in the future, can continue from this point.

The above pull request has the following duplicate dialog
![Issue test](https://user-images.githubusercontent.com/32725639/102950770-84d93300-4488-11eb-846f-830e5652ccb1.png

[2020-12-23 07:33] calixtus commented on #6334
Hey, thanks for the changes already made. They are perfectly fine.
And don't feel sad about not been able to continue here. The changes you made are already good and completely sufficient to fix the originally mentioned part of the issue.
We always tend to dream about possible additional features that could be added. But it always comes down to your freedom to say stop. I think that's what communi

[2020-12-23 14:16] mlell commented on #5498
On my Ubuntu 20.10 machine passing of command line arguments did not work when I installed JabRef via `snap`. But when I used the .deb file from the Releases section of this GitHub page, I was able to get an acceptable size using

_JAVA_OPTIONS='-Dglass.gtk.uiScale=2.0' /opt/jabref/bin/JabRef

(the variable content is documented [here](https://wiki.archlinux.org/index.php/HiDPI#JavaFX))

[2020-12-23 14:57] Siedlerchr commented on #5498
The underlying problem seems to be again a javafx/linux bug https://bugs.openjdk.java.net/browse/JDK-8258464

[2020-12-23 19:42] #6218 closed

[2020-12-23 19:43] #5353 closed

[2020-12-23 19:43] #5337 closed

[2020-12-23 19:43] #5331 closed

[2020-12-23 19:48] Siedlerchr commented on #5000
Can no longer reproduce in newest version on OSX.

[2020-12-23 19:48] #5000 closed

[2020-12-23 21:19] sankayop commented on #6824
Thanks @Siedlerchr , disabling autocomplete helped directly.

[2020-12-23 21:45] calixtus commented on #5046
This was resolved by #6287

[2020-12-23 21:45] #5046 closed

[2020-12-24 01:09] wujastyk commented on #4959
JabRef 5.2--2020-12-23--071f428
Linux 5.4.0-58-generic amd64
Java 15.0.1

Now fixed.  Thanks!

[2020-12-24 01:09] #4959 closed

[2020-12-24 13:34] Siedlerchr opened #7233 "OSX 11.1 - Keyboard shortcut for deleting entries from table does not work"
Current master (5.2-dev)

1. Select entries in the table
2. Press cmd + backspace or only backspace
 => Nothing happens

Deletion from menu works fine.

[2020-12-24 15:20] koppor commented on #6627
We had to disable JSTOR because we always get an error from JSOR (done at https://github.com/JabRef/jabref/pull/7229). Thus, I need to reopen the issue to track fixing that issue.

[2020-12-24 15:20] koppor commented on #6369
We disabled ACM, Google Scholar and JSTOR at https://github.com/JabRef/jabref/pull/7229. We have different follow-up tickets and PRs. Thus, I can close this issue.

[2020-12-24 15:20] #6369 closed

[2020-12-24 15:23] koppor commented on #5804
Internal reference for JabRef developers: Implementation using the screen-scraping technology is available (privately) at https://github.com/NatashaDudi/jabref/blob/develop/src/main/java/org/jabref/logic/importer/fetcher/ACMPortalFetcher.java?rgh-link-date=2020-12-21T19%3A46%3A53Z.

@JofielB How are your implementation efforts going?

[2020-12-24 15:27] koppor commented on #6394
Removed from the milestone as we are going to release v5.2 today - and there is the PR https://github.com/JabRef/jabref/pull/7173 opened working on fixing the issue.

[2020-12-24 15:38] k3KAW8Pnf7mkmdSMPHz27 commented on #6394
Sorry about the delay, hopefully it means it gets "right" in the end!

[2020-12-24 15:39] Siedlerchr commented on #6394
No problem, we just wanted to release today, no matter if it's done or not. Will probably create another release afterwards more soon

[2020-12-25 10:17] WangYuzhe opened #7236 "JabRef 5.2 cannot open document link"
After I updated the Jabref to the newest version (JabRef 5.2--2020-12-24--6a2a512), it could not open the document through the file link. The open button F4 becomes gray now.

My OS is Windows 10.

[2020-12-25 10:29] Hsins opened #7237 "Translation of Traditional Chinese"
I would like to translate the JabRef user interface into Traditional Chinese. Could you please add the new language on Crowdin for me?

I have tried to contact @koppor on Crowdin but don't get response.

[2020-12-25 11:08] koppor commented on #7237
We have four choices in crowdin for it

* Chinese Traditional
* Chinese Traditional, Hong Kong
* Chinese Traditional, Macau
* Chinese Traditional, Singapore

Which one should I configure?

[2020-12-25 11:15] Siedlerchr commented on #7236
Please check the settings, linked files, main file directory if it's set

[2020-12-25 11:17] Siedlerchr commented on #7237
I think we need to add the new language also to the jabref language enum

[2020-12-25 11:19] DOFfactory opened #7238 "Autosave query when no changes were made"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

JabRef stable (v5.2) asks to save changes to the library while none were made.

Steps to reproduce the behavior:
1. Disable the Autosave option in Preferences
2. Close and reopen JabRef
3. Open Preferenc

[2020-12-25 11:20] Siedlerchr commented on #7237
https://github.com/JabRef/jabref/blob/d83ef740486dc2f1b72f7e625ad2a22b019280de/src/main/java/org/jabref/logic/l10n/Language.java

[2020-12-25 12:18] WangYuzhe commented on #7236
Hi Christoph,
Thanks for your response. It now works after I set the linked file in the preferences setting.

[2020-12-25 12:18] #7236 closed

[2020-12-25 12:56] DOFfactory opened #7239 "Export to MODS format fails (wrong dash in pages field)"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

This error happens on the v5.2 stable.

Steps to reproduce the behavior:
1. Export to MODS xml
2. error (see below)

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-12-25 13:08] Siedlerchr commented on #7239
Can you please paste the bibtex entry?
it seems like you have a non number in the page field

[2020-12-25 13:13] DOFfactory commented on #7239
Hm, that might be difficult, it is my whole bibtex library (1000+ records).

That being said, why JabRef requires numbers in the page field? It is often the case that some introduction chapters are using roman numbering (distinguishable from the rest of the manuscript)...

[2020-12-25 14:20] Siedlerchr commented on #7239
Good question. Need to look which field exactly is producing the error.
Maybe you can paste the entry with the field pages containing the value
R404–R405?

[2020-12-25 14:30] DOFfactory commented on #7239
This was helpful, the article is this: [https://www.sciencedirect.com/science/article/pii/S0960982216303189](https://www.sciencedirect.com/science/article/pii/S0960982216303189). The PDF is accessible, and indeed it is pages R404–R405.

My biblatex source looks (as a result of parsing from Scopus) as follows:

[code]

[2020-12-25 14:49] mlep commented on #7239
Note : the field `pages` contains an utf8 en-dash (–) and not a LaTeX en-dash (--).

[2020-12-25 15:51] #7237 closed

[2020-12-25 16:35] Siedlerchr commented on #7239
Thanks for the hint @mlep.
@DOFfactory
It works fine if you replace the dash by either a minus `-` or a double minus `--`.
Normally, the Normalize page numbers (Quality, Cleanup)  should take care of the replacement, but I discovered that there is a bug. The replaced value never got returned.

[2020-12-25 17:15] Siedlerchr commented on #7237
@Hsins I added Traditional Chinese now as well to the user Interface language selector and configured the crowdin sync correctly. The next version will then contain this changes.

[2020-12-26 10:06] DOFfactory commented on #7239
Cool, thanks!

[2020-12-27 09:11] gpeteinatos commented on #7194
JabRef 5.2--2020-12-24--6a2a512
Linux 4.15.0-126-generic amd64
Java 15.0.1

Same problem.

[2020-12-27 16:45] humbleambition commented on #6517
Fantastic, you're working on this already then.
Any idea when this is likely to get fixed?

[2020-12-27 22:11] faeludire commented on #7226
Hi, I would like to help contribute to fixing this issue. Thanks.

[2020-12-28 11:17] Siedlerchr commented on #7226
@faeludire  Welcome to JabRef. I suggest you take a look at the PreferencesSearchHandeler and the PreferencesDialog.css
You probably need to adjust the rule for the searchHighlight in the css or define a more specific one for checkboxes
The checkbox style schema is explained here:
https://stackoverflow.com/a/44889214

[2020-12-28 12:13] PremKolar opened #7256 "@PremKolar As you recently adapted the DOI find in text. I just stumbled upon an issue, which results in an error when the method finds a DOI with a dot at the end:"
@PremKolar  As you recently adapted the DOI find in text. I just stumbled upon an issue, which results in an error when the method finds a DOI with a dot at the end:
This results in a not found error from doi.org

**doi:10.1007/s10549-018-4743-9.**
It would be cool if you could add a replacement at the end

The following text is coming from the PDF content importer. It extracts the text content of

[2020-12-28 12:20] #6942 closed

[2020-12-28 12:20] #7199 closed

[2020-12-28 12:20] tobiasdiez commented on #6942
Thanks to @k3KAW8Pnf7mkmdSMPHz27 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-12-28 12:21] tobiasdiez commented on #7199
Thanks to @k3KAW8Pnf7mkmdSMPHz27  this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-12-28 13:17] xiaodongcentury commented on #7199
Thank you ALL!
The JabRef 5.3--2020-12-28--78b08b5 works perfectly with Chinese names.
Thanks again.
And i believe this issue will be closed.

[2020-12-28 14:18] #7226 closed

[2020-12-28 14:19] Siedlerchr commented on #7226
Thanks to @faeludire  this is now fixed.

[2020-12-28 14:27] k3KAW8Pnf7mkmdSMPHz27 commented on #7226
It is appreciated @faeludire !

[2020-12-28 15:36] blubbrezn opened #7259 "External files do not open anymore (Windows 10)"
JabRef 5.3--2020-12-28--c8798ef
Windows 10 10.0 amd64
Java 14.0.2

I updated JabRef from an unknown version to 5.2, than the external file links in the entrys didn't work anymore.
When I click on them it just opens the default documents folder.
I tried update to the latest dev version (JabRef 5.3--2020-12-28--c8798ef) but the problem persisted.
It is exactly the same behaviour as in #6863.

Before

[2020-12-28 15:37] Siedlerchr commented on #7259
Hi, please check Preferences -> Linked files -> Main file directory This is probably not set

[2020-12-28 16:05] blubbrezn commented on #7259
thanks this was the problem. I did look at this setting, but didn't set it, as all the files are not in the same directory and I use absolute paths to the files.

[2020-12-28 16:05] #7259 closed

[2020-12-28 16:19] EliasBRL opened #7261 "File links completely broken after update to v5.2"
JabRef version 5.2 on Windows 10

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I like to keep a local PDF copy of all papers I read. The PDFs are in the same directory as my `JabRef.bib`. In JabRef version 5.1, I linked each PDF to its JabRef entry via `General -> File -> +`.

After updating to version 5.2, all li

[2020-12-28 16:26] Siedlerchr commented on #7261
Duplicate of #7259

[2020-12-28 16:26] #7261 closed

[2020-12-28 16:30] #7256 closed

[2020-12-28 17:08] koppor commented on #5888
Some links from https://github.com/JabRef/jabref/issues/152:

- Homepage: http://bitbucket.org/bibsonomy/bibsonomy-jabref-plugin/wiki/Home
- Issue in their bug tracker: http://bitbucket.org/bibsonomy/bibsonomy-jabref-plugin/issues/1912/integrate-code-in-jabref-master-branch

[2020-12-28 17:31] DOFfactory opened #7262 "Missing Import all Entries and dealing with Duplicates"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

This issue is present on the v5.2 stable.

Steps to reproduce the behavior:
1. Import a `.bib` file
2. Offered options are: **Select all **_new_** entries** or **Unselect all** (see screenshot)

There sh

[2020-12-28 18:11] DOFfactory opened #7264 "Missing Key Bindings"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

This issue is present on the v5.2 stable.

Steps to reproduce the behavior:
1. Open Edit > Read Status > ...
2. Open Options > Customize key binding > Edit
3. One cannot edit the key bindings present in

[2020-12-28 19:43] #6616 closed

[2020-12-28 19:44] DOFfactory opened #7265 "v5.2 not responding when Saving library"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

This issue is present on the v5.2 stable.

Steps to reproduce the behavior:
1. Create a larger file with 3000+ entries
2. Try to save it...

Cannot help myself but it is really disappointing to see JabRe

[2020-12-28 19:48] DOFfactory commented on #7265
Update: in case anybody wants to hunt some bugs, I disabled in the Library properties the `Enable field formatters` and things got a bit better. I believe we all acknowledge that this is sub-optimal.

[2020-12-28 20:37] koppor commented on #1975
@DominikVoigt implemented a lucene parsing at https://github.com/JabRef/jabref/pull/6799. This could be a good basis to solve this issue.

[2020-12-28 20:39] DOFfactory opened #7266 "No cleartype/subpixel rendering in Preview"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

This issue is present on the v5.2 stable.

Steps to reproduce the behavior:
1. Enable any preview
2. Cleartype settings are not used

Would enhance readability if cleartype/subpixel rendering settings ar

[2020-12-28 21:08] DOFfactory opened #7267 "Citation key generation on large number of entries not showing up in Background Tasks"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

This issue is present on the v5.2 stable.

Steps to reproduce the behavior:
1. Select a large number of entries
2. Auto-generate citation keys based on presets
3. No background tasks shown

Would be grea

[2020-12-28 21:11] Siedlerchr commented on #7169
I think this issue can be closed, as the field type is not necessary, but it's still listed in the biblatex spec.

[2020-12-28 21:11] #7169 closed

[2020-12-28 22:34] koppor commented on #7169
I put the "freeze" label on it as we should come back later this time. In case the field `type` really produces wrong BibTeX output, it should be fixed.

I marked the difference in the submitter's comment:

![grafik](https://user-images.githubusercontent.com/1366654/103246743-d3913c00-4964-11eb-9a9e-32dde38c6af5.png)

what to do:

1. Create a minimal MWE-bibtex including a `.tex` and a `.bib` file

[2020-12-28 22:36] koppor commented on #6616
This is not that important. We could add an azure instrumantation to check whether the issue really occurs.

[2020-12-29 11:42] ilippert commented on #7194
still a problem in
JabRef 5.3--2020-12-28--020cc97
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1

@Siedlerchr, sorry I presume far too many issues are calling for attention. However, I allow myself to mention you here because I  think this issue should be given some priority because it affects file handling, which I presume to be quite key for users. Now that 5.2 is out (congratulations!), this i

[2020-12-29 12:37] Siedlerchr commented on #7194
Thanks for mentioning this issue. Slipped through the attention. Fortunately, it was only a simple issue. Fix is on it's way

[2020-12-29 13:26] ghost opened #7270 "Option to disable automatic online version check please"
Option to disable automatic online version check please, I do not want any automatic check of ANY kind without my setting it.

I noticed on launching that it checked for a new version automatically and I did not set that option. This was a non consentual data transfer and usage tracking.

This is a method for also tracking every time I launch the app. I do not want this tracking please.

I may hav

[2020-12-29 17:42] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
Is the issue that the title is needed unchanged? As @Siedlerchr says, `[title]` makes modifications to the title, `[TITLE]` should not, so perhaps that works (note that it does not "resolve" latex)?

[2020-12-29 17:49] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
Actually, would `[TITLE:latex_to_unicode:regex(":",";")]` work?

[2020-12-29 17:55] fullben opened #7272 "Application Dialogs Open on Wrong Display"
JabRef version 5.2 on Windows 10

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open JabRef on a system with at least two displays
2. Move the application main window to a non-primary display (as far as I can tell, JabRef always opens on the primary display on launch)
3. Perform

[2020-12-29 18:52] faeludire commented on #7270
Just understand this issue a bit more, would you want the option to prevent all external network connectivity or just calls to check for latest version updates?

[2020-12-30 12:43] #7194 closed

[2020-12-30 18:25] isserstedt opened #7274 "Issue with INSPIRE web search"
In my opinion, the INSPIRE web search does not work as expected anymore:

The search for, e.g., "Tanabashi:2018oca" should yield exactly one result but instead I get 10. In addition, among the search results is not the one I was looking for.

Furthermore, the key "Barrie:2019pqc" gets truncated to "Barrie2019" even though I turned off "Overwrite existing keys" in the preferences. This happens with

[2020-12-30 19:50] #6620 closed

[2020-12-30 20:28] Iey4iej3 commented on #5498
I don't know why modifying `/opt/jabref/lib/app/JabRef.cfg` no longer works after having updated to 5.2. The environment variable `_JAVA_OPTIONS` works, however.

[2020-12-30 21:37] Siedlerchr commented on #7274
@DominikVoigt  Do you have an idea? Is this related to the new search syntax?

[2020-12-31 04:20] eustomaqua commented on #4877
I got the same issue even after trying this example, here is my case:
- JabRef 5.2 (5.1 as well)
- Windows 10
- the .bib file is only 14 KB

I feel like the new version is not working as well as JabRef 3.8.2, including but not limited to the speed of saving bibs, the mistaken deletion by "The library has been modified by another program", the cannot-open-by-clicking the .bib file directly (you mus

[2020-12-31 04:30] eustomaqua opened #7275 "Saving issues including but not limited to "The library has been modified by another program""
**Is your suggestion for improvement related to a problem? Please describe.**
**(A clear and concise description of what the problem is. Ex. I'm always frustrated when [...])**

I got the same issue as [https://github.com/JabRef/jabref/issues/4877](https://github.com/JabRef/jabref/issues/4877) even after trying [this example](https://github.com/JabRef/jabref/issues/4877#issuecomment-501544917), he

[2020-12-31 04:30] wujastyk commented on #4877
JabRef 5.2--2020-12-24--6a2a512
Linux 5.4.0-58-generic amd64
Java 15.0.1

I've been getting this again too.  Driving me mad.

[2020-12-31 12:20] DOFfactory commented on #7262
In addition to this issue, please find below a 1st hand experience from a person conducting a systematic literature review (SLR). When conducting SLR, one scrapes multiple databases, and in an iterative way one has to report the number(s) of results, including and excluding duplicates.

The issue is that currently JabRef (v5.2) does not help in sorting and counting these duplicates. It facilitates

[2020-12-31 13:52] ilippert opened #7277 "SearchAll error with specific signs"
JabRef 5.3--2020-12-28--020cc97
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. select Web Search provider SearchAll
2. Copy `The Neoliberal Politics of “Smart”` into search field

Effect:
the field turns red. I have to remove the quo

[2020-12-31 15:27] faeludire commented on #7277
That seems to be a feature. 😀   See https://github.com/JabRef/jabref/pull/6805

Hovering over the text input provide more information regarding the error.

<img width="526" alt="Screenshot 2020-12-31 at 15 24 02" src="https://user-images.githubusercontent.com/17176053/103415987-7079f200-4b7c-11eb-85f0-9a84fe494f93.png">

[2020-12-31 17:22] bjhamilton commented on #4293
Hi!

I want to combine explicit groups + keywords to create nested groups by keyword, is this possible? For example, if I create a group called TEST_GROUP, but configure JabRef to create groups by keyword field, can I nest my keywords underneath a specific group like ` keyword = {TEST_GROUP:keyword_1;},` (using the colon ':' to nest) ?

Reason is I like to use keyword groups, but they can get mess

[2020-12-31 17:23] bjhamilton opened #7278 "Can I create nested groups by keyword?"
Hi!

I want to combine explicit groups + keywords to create nested groups by keyword, is this possible? For example, if I create a group called TEST_GROUP, but configure JabRef to create groups by keyword field, can I nest my keywords underneath a specific group like ` keywords = {TEST_GROUP:keyword_1;},` (using the colon ':' to nest and semi-colon ';' as separator (in my configuration I changed t

[2020-12-31 19:54] #880 closed

[2020-12-31 20:02] Siedlerchr commented on #3548
As there have been made some improvements to the shared database feature I guess this can be closed.

[2020-12-31 20:02] #3548 closed

[2020-12-31 20:05] Siedlerchr commented on #4273
Unfortunately still a problem. The jaxb needs handling of math xml somehow

[2020-12-31 20:06] Siedlerchr commented on #4328
No longer a Problem I think

[2020-12-31 20:06] #4328 closed

[2020-12-31 21:29] Knusper commented on #2999
Issue still not resolved.

On Thu, Dec 31, 2020, 16:50 github-actions[bot] <notifications@github.com>
wrote:

[2021-01-01 11:51] ilippert commented on #4582
JabRef 5.3--2020-12-28--020cc97
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1

The Preference/Appearances Font override option still works well.

I guess my idea of a [First Start Wizard](https://github.com/JabRef/jabref/issues/4582#issuecomment-753050957) might still be a good idea. If somebody reacts to it here positively, I will formulate that as a Feature request.

[2021-01-01 11:53] ilippert commented on #4688
In
JabRef 5.3--2020-12-28--020cc97
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1
the layout is still the old.

[2021-01-01 14:39] DOFfactory commented on #4582
Any chance of providing for the main entry table also a compact view option (something like it was in v3.4)? Additional lines between the rows would be great for example. Changing the font for a more readable one would be preferred. In addition, many of us use the preview as the main source of info (with our own custom made profiles), and the functionality of having more entries to select (for exa

[2021-01-01 15:06] tobiasdiez commented on #550
There is still no "New entry from ID" dialog. In the best case, this would be implemented as a new button in the toolbar that opens a small flyout pane.

[2021-01-01 15:21] tobiasdiez commented on #4129
Maybe one can also use a scaling of the materialdesign dot (or maybe they provide in the meantime a different dot).

[2021-01-01 15:56] tobiasdiez commented on #7270
Although I do understand your concerns, we will not implement such an option to disable the update check. In the past, we had so many people that were using outdated versions (> 10 years old). These support requests draws to many resources from our too small team. You can already disable to be informed about a given version, this seems to be a sensible compromise.

Of course, we do not use this up

[2021-01-01 15:56] #7270 closed

[2021-01-01 16:42] k3KAW8Pnf7mkmdSMPHz27 commented on #7278
Hi @bjhamilton !

I am not sure what you'd like, could you try to use `>` instead of `:` and see if the correct groups are generated? I am getting this results with a similar setup,

<img width="329" alt="Skärmavbild 2021-01-01 kl  11 41 54" src="https://user-images.githubusercontent.com/2598631/103442670-64e30580-4c26-11eb-9ca4-2f509c89ad81.png">

[2021-01-01 21:01] bjhamilton commented on #7278
I am unable to configure this. How did you do it exactly?

[2021-01-01 21:20] koppor commented on #5804
@JofielB Happy new year. May I ask for some progress regarding that issue?

You can get some inspiration from https://github.com/koppor/jabref/pull/476

[2021-01-02 02:41] k3KAW8Pnf7mkmdSMPHz27 commented on #7278
Which version do you use? The screenshot is from JabRef 5.2--2020-12-22--d83ef74.

<img width="712" alt="Skärmavbild 2021-01-01 kl  21 21 11" src="https://user-images.githubusercontent.com/2598631/103449528-540eb000-4c77-11eb-9b61-e56b2baacd9a.png">

The point was rather if those are the groups/subgroups you want?

keywords looks like `TEST_GROUP_1>keyword_1;`

[2021-01-02 16:01] isserstedt commented on #7274
@Siedlerchr The old search syntax still works. Actually, there is no old syntax as far as I know. I guess the issue is related to the new API since INSPIRE got an extensive overhaul in 2020.

Regarding the unwanted key formatting, I have no clue where this could come from. But I doubt that the INSPIRE API provides a truncated/wrong key.

[2021-01-02 16:29] Siedlerchr commented on #7194
This is now fixed in the latest master version.

[2021-01-02 16:34] #7272 closed

[2021-01-02 16:36] ilippert commented on #7194
confirmed.
JabRef 5.3--2020-12-30--afdb194
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1

[2021-01-02 16:39] Siedlerchr commented on #7272
Thanks to @faeludire  this is now  fixed in the latest master version.

[2021-01-02 17:55] JClaverie opened #7281 "Cannot "Move file to file directory" anymore"
Hello,

I have libraries with file directory. With the previous versions, I had no problem to use the option "Move file to file directory" or "Move file to file directory and rename file". With the new 5.2 version, these options are greyed out.

I verified my paths and all is OK. I tried to add the paths in "User-specific file directory" and nothing changes.

Thanks for the support.

Best regards

[2021-01-02 19:12] Siedlerchr commented on #7281
Hi this issue has just been fixed in the latest development version.
We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this versio

[2021-01-02 19:12] #7281 closed

[2021-01-02 20:55] tobiasdiez commented on #7275
As you say, this is a duplicate of https://github.com/JabRef/jabref/issues/4877.

[2021-01-02 20:55] #7275 closed

[2021-01-02 21:02] tobiasdiez commented on #7278
The answer of k3KAW8Pnf7mkmdSMPHz27  should solve your problem.

Please use the forum the next time for questions. discourse.jabref.org/ Thanks!

[2021-01-02 21:02] #7278 closed

[2021-01-02 21:22] cnmicha commented on #7038
Same issue here

[2021-01-03 12:02] JClaverie commented on #7281
Thanks very much! It works with the newest version (5.3).

[2021-01-03 13:58] eustomaqua commented on #7275
I'm sorry? But #4877 didn't solve the problem?

[2021-01-03 14:14] tobiasdiez commented on #7275
Sorry for not writing a proper explanation.
#4877 is still open, that means the problem is not yet fixed. Moreover, we do not want to have more than one issue for the same problem, because this makes issue management harder. Thus, I've closed this issue in favor of #4877.

[2021-01-04 00:17] docrjp commented on #7177
I'm having a look at this as a first contribution attempt.

I was able to reproduce the issue as reported:

1. Made up a nonsense path in the custom theme text box of the preferences dialog.
2. Restarted app successfully.
3. Clicked again on menu Options -> Preferences
4. Dialog box pops up with uncaught exception in JavaFX application thread including stack trace.

Observation: the bad CSS path d

[2021-01-04 01:48] soydou opened #7283 ""move file to file directory and rename file" is grey and can not work"
JabRef version  on
JabRef version 5.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In the version of 5.1, the "move file to file directory and rename file" can work, but after upgrading to 5.2, it doest not work.

My system is Fedora 33 and Centos 8.

Steps to reproduce the behavior:
1. ...
2. ...
3. ...

<detail

[2021-01-04 07:39] eustomaqua commented on #7275
Got it. (I opened the issue because #4877 was close then.)
I'll keep an eye on #4877, thanks

[2021-01-04 09:14] calixtus commented on #7177
Hi @docrjp , thank you very much for diving into the code and creating a fix. Can you create a pull request with your changes, so it's somewhat easier to discuss them.

[2021-01-04 10:18] Siedlerchr commented on #7283
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-01-04 10:18] #7283 closed

[2021-01-04 11:02] AtrusRiven commented on #4681
I consider this an important step for UI usability and clarity. Should be linked with #4682 and #4683 in a "metaissue".

[2021-01-04 11:03] AtrusRiven commented on #4682
I consider this an important step for UI usability and clarity. Should be linked with #4681 and #4683 in a "metaissue".

[2021-01-04 11:03] AtrusRiven commented on #4683
I consider this an important step for UI usability and clarity. Should be linked with #4681 and #4682 in a "metaissue".

[2021-01-04 11:37] tobiasdiez commented on #4682
The submenu for how to deal with the subgroups should also only be shown if the group has actually subgroups.

[2021-01-04 14:34] AEgit commented on #2117
JabRef 5.3--2021-01-04--10180ed
Windows 10 10.0 amd64
Java 14.0.2

The issue appears to be now slightly different (some might consider it solved?). In an empty database the following DOI will generate the bibtex key `Huttenlocker2007`as expected:

`10.1671/0272-4634(2007)27[316:psgesn]2.0.co;2`

But if the database already contains the item `Huttenlocker2007`, then the new item `Huttenlocker_2007`

[2021-01-04 14:41] AEgit opened #7287 ""About JabRef" results in exception"
JabRef 5.3--2021-01-04--10180ed
Windows 10 10.0 amd64
Java 14.0.2

Using `Help` -> `About JabRef` results in an exception. Note, that this does not happen the first time you click on `About JabRef`. But the second time you attempt you click on `About JabRef` (and every consecutive attempt) results in an exception. The following error message appears:

`Uncaught exception occurred in Thread[JavaFX

[2021-01-04 14:56] AEgit commented on #2869
JabRef 5.3--2021-01-04--10180ed
Windows 10 10.0 amd64
Java 14.0.2

The issue persists in the latest development version of JabRef.

[2021-01-04 15:01] Siedlerchr commented on #7287
We now also have the weird behaviour that you can open some dialogs multiple times

[2021-01-04 15:03] AEgit commented on #3176
JabRef 5.3--2021-01-04--10180ed
Windows 10 10.0 amd64
Java 14.0.2

The issues as described in https://github.com/JabRef/jabref/issues/3176#issue-254365305 (with the updates from https://github.com/JabRef/jabref/issues/3176#issuecomment-327133037) persist in the current developer version of JabRef.

[2021-01-04 15:10] AEgit commented on #3436
JabRef 5.3--2021-01-04--10180ed
Windows 10 10.0 amd64
Java 14.0.2

The issues persists in the latest developer version of JabRef. The only change to the original issue description appears that instead of selecting/marking in blue another random group, now always the `All entries` group is selected, when the filter is removed.

[2021-01-04 15:24] AEgit commented on #4674
JabRef 5.3--2021-01-04--10180ed
Windows 10 10.0 amd64
Java 14.0.2

All the related issues reported in https://github.com/JabRef/jabref/pull/4838#issuecomment-480762744 persist in the current developer version of JabRef.

[2021-01-04 15:27] AEgit commented on #4808
JabRef 5.3--2021-01-04--10180ed
Windows 10 10.0 amd64
Java 14.0.2

The issue mentioned in https://github.com/JabRef/jabref/issues/4808#issuecomment-524628653 persists in the current development version of JabRef.

[2021-01-04 15:43] AEgit commented on #7287
Note, that this bug must have been introduced in the last 18 days or so. I tried an earlier developer version 18 days ago (see https://github.com/JabRef/jabref/issues/5522#issuecomment-747538385), where I did not encounter this bug (at least I do not remember having seen it).

[2021-01-04 15:47] koppor opened #7288 "Find unlinked files should propose to link to existing entry (if it exists)"
Source: https://github.com/JabRef/jabref/pull/7172#issuecomment-745293123

Instead of only suggesting importing the pdf as a new entry, JabRef should also suggest to link the file to a fitting existing entry (by adding a button in the file tree next to the file for which an entry might already exist).

[2021-01-04 15:54] koppor opened #12947 "Add more file test cases"
Implement the test cases of https://github.com/koppor/jabref/issues/380#issuecomment-714070246 systematically.

[2021-01-04 16:13] ibe-314 commented on #7202
Hi,
I implemented the IdBasedParserFetcher interface for the zbmath fetcher and it worked on my Computer (with `gradlew run.`)
However, I have a problem testing jabref. Even on the master branch (without my changes) neither `gradlew test `nor `gradlew check` work. The "How to test" (https://devdocs.jabref.org/getting-into-the-code/testing) did not help me. What do I have to do in order to be able

[2021-01-04 16:25] koppor commented on #7287
Should work again in the latest build (appearing in ca. 10 minutes)

[2021-01-04 16:25] #7287 closed

[2021-01-04 16:37] #7239 closed

[2021-01-04 16:53] evanhorn opened #7291 "Rendering/conversion of π in Abstract/preview panel"
JabRef version  on
JabRef 5.3--2021-01-04--eff250b
Linux 5.4.0-58-generic amd64
Java 15.0.1

- [X ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In the abstract and comment fields, the LaTeX command $\pi$ renders "pi" rather than the expected "π" (lower case pi) in the preview panel. However, the LaTeX form of all other

[2021-01-04 18:32] AEgit commented on #7287
JabRef 5.3--2021-01-04--eca13dd
Windows 10 10.0 amd64
Java 14.0.2

I can confirm this has been fixed in the current developer version. Well done!

[2021-01-04 20:02] vigmond opened #7294 "medline search not working in 5.2"
JabRef version 5.2  on Linux Rpm/portable

- [] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Medline search shows syntax error (red field) if a search field is specified and no result returned

Steps to reproduce the behavior:
1. open Medline/Pubmed web search
2. enter jones [au]
3. click search

<details>
  <summary>Lo

[2021-01-04 20:07] vigmond opened #7295 "portable Linux does not start"
JabRef version 5.2 on Linux portable

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

running bin/JabRef fails with

[code]
However, running `lib/runtime/bin/JabRef` works

Steps to reproduce the behavior:
1. go to installation directory
2. bin/JabRef

<details>
  <summary>Log File</summary>

[code]
</details>

[2021-01-04 21:50] #7291 closed

[2021-01-04 21:51] Siedlerchr commented on #7291
Thanks for reporting that issue. Thanks to @k3KAW8Pnf7mkmdSMPHz27 it's now fixed in the latest development version (available in approx 30 minutes)

[2021-01-04 21:56] Siedlerchr commented on #5937
Will check that, but could be obsolete by the recent key binding Changes from @calixtus

[2021-01-04 22:01] Siedlerchr commented on #7202
Hi, it should be fine to just run the specific test for the fetcher from your IDE.
The Github Actions automatically execute the tests when you create the PR, so you can see the results there

[2021-01-04 22:37] evanhorn commented on #7291
Thanks for the quick response, this fixed the issue!

[2021-01-04 23:35] JofielB commented on #5804
@koppor Hello and Happy new year. I am sorry for taking me so long to respond to this. I wasn't able to have any kind of progress and I am not pretty sure that I will be able to keep working on this issue.

[2021-01-05 01:55] koobs opened #7297 "Restore /nightly/ builds (archive) to improve bug/regression bisection"
**Is your suggestion for improvement related to a problem? Please describe.**

As a user/contributor who reports bugs and regressions, we would like to be able to assist in "bisecting" the window within which bugs or regressions are introduced, to assist developers (save them time), in isolating root causes (commits, changes, etc).

As contributors, this ability to isolate a bug or regression wind

[2021-01-05 02:11] k3KAW8Pnf7mkmdSMPHz27 commented on #7291
Thank you for the detailed description, it makes it easier to narrow things down 😉

[2021-01-05 02:47] koobs commented on #7294
@vigmond Can you include a screenshot of the syntax error, and/or a traceback / log file if one is produced

[2021-01-05 03:22] melTr commented on #7294
On my side, I don't have error or log. Results just never appeared. And strangely I'm not able to start a search by just clicking "enter". Other searches works.

Same in 5.2 or JabRef 5.3--2021-01-04--0d995d6
Linux 4.15.0-128-generic amd64
Java 15.0.1

[2021-01-05 04:35] sbubin commented on #6487
Same issue. Jabref 5.2 on Windows 10. Cannot open a bib file by double clicking on it when the full path of that file contains spaces. If is is copied to a location with no spaces in the path then it works fine. I hope this bug gets fixed soon as I remember experiencing this annoying behavior of Jabref for quite some time.

[2021-01-05 06:15] vigmond commented on #7294
I could not get a screenshot because the popup message window is too brief. So, if I enter a search field (eg, [au]),
the input field goes pink and a blue lozenge briefly pops up with the message

`This query uses unsupported syntax.
`

[2021-01-05 09:43] renatobellotti commented on #7058
Which version are you using? I cannot use the brain icon (number 389 in https://kordamp.org/ikonli/cheat-sheet-materialdesign2.html)

[2021-01-05 15:52] michael-hoss opened #7299 "Uncaught exceptions when editing an entry's booktitle with nonempty regexp search string"
JabRef 5.2--2020-12-24--6a2a512
Windows 10 10.0 amd64
Java 14.0.2

Since I also had this bug in JabRef 5.1 and previous versions and I could not find a related issue, I did not try the latest build (sorry).

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I get the "uncaught exception"s shown below when I do the foll

[2021-01-05 16:53] Siedlerchr commented on #7295
In which folder did you extract the zip file? Do you have it extracted to a folder called "bin"? e..g home/myusnerame/bin/Jabref..?

[2021-01-05 17:47] vigmond commented on #7295
yes

[2021-01-05 17:51] Siedlerchr commented on #7295
That's a known issue of java. other folders work

[2021-01-05 19:19] vigmond commented on #7295
Thanks. i confirm that moving it to another directory works.

I would suggest putting that warning into the installation instructions.

[2021-01-05 19:48] #6640 closed

[2021-01-05 20:32] Siedlerchr commented on #7295
Feel free to add this to the install instructions https://docs.jabref.org/installation
Just click on Edit on github

[2021-01-05 20:39] vigmond commented on #7295
is this a Linux only issue?

[2021-01-06 14:15] xiaodongcentury opened #7303 "Two separate libraries in JabRef don't generate unique citationkey"
My JabRef version and OS information as follows:
JabRef 5.3--2021-01-04--0d995d6
Linux 5.9.0-4-amd64 amd64
Java 15.0.1
the citationkey mode is [auth][year]
In library1, there is a book citation, the author is bob, and year is 2012, so the citationkey is bob2012, for example.
In library2, there is an article citation, the author is bob and mike, and year is 2012, so the citationkey is bob2012.
JabR

[2021-01-06 14:58] Siedlerchr commented on #7303
Hi, I think you need to adapt your Autolink pattern to respect the entry type, e.g. insert `[entrytype]` to respect the  folder structure.
https://docs.jabref.org/finding-sorting-and-cleaning-entries/filelinks#auto-linking-files

[2021-01-06 15:18] lc9275 commented on #3068
I am closing this, as all these issues have been fixed (as far as i can tell). Thanks a lot!

[2021-01-06 15:18] #3068 closed

[2021-01-06 16:30] ilippert opened #7304 "Upon import of entry, new entry does not show up in prior selected order of entry table"
JabRef 5.3--2021-01-04--eca13dd
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1

This is not a new phenomenon, but has been the case for ages - but it is a bug to useability:
I have a Library with thousands of entries. When adding/importing an entry, the order of the columns change.

Steps to reproduce the behavior:
1. Sort entry table according to a column (I often sort by timestamp)
2. then impor

[2021-01-06 18:22] cmosek commented on #7038
Happened to me as well, it seems that JabRef is trying to connect to 131.159.24.23 (one63.cm.in.tum.de) on port tcp/8070

[2021-01-06 18:45] cmosek opened #7305 "RFC fetcher compatibility with drafts"
RFC fetcher does not process drafts IDs, because `prefixedIdentifier` does not begin with `rfc` prefix.

Example URL for draft's raw bibtex resource https://datatracker.ietf.org/doc/draft-ietf-sidrops-aspa-verification/bibtex
URL structure is the same as in RFC resource, so no change in fetching part is required.

Ref: #3971 5d23970 @jacksonrya

Thanks in advance.

[2021-01-06 19:11] cnmicha commented on #7038
@cmosek I notified the server owner via email.

[2021-01-06 19:49] #5151 closed

[2021-01-06 19:49] #5079 closed

[2021-01-06 19:49] #5065 closed

[2021-01-06 19:49] #5052 closed

[2021-01-06 19:49] #4941 closed

[2021-01-06 19:49] #4843 closed

[2021-01-06 19:58] michael-hoss opened #7307 "Automatic hiding of "The library has been modified by another program" when it is again the same as before"
**Description**
I edit a .bib file in JabRef, save it, commit all changes to a local git branch, and then rebase that local branch onto another branch that has had no changes in the .bib file. After the successful rebase, I get "The library has been modified by another program (Dismiss/review changes)" even though after the instantanously working rebase, the .bib file is as before.

**Describe the

[2021-01-07 04:34] maphouse commented on #6824
Solved for me too, big save

[2021-01-07 08:19] xiaodongcentury commented on #7303
Thanks, i don't familiar with regular expression. Maybe change "Library properties", and use "User-specific file directory" is more easier.

[2021-01-07 08:23] #7303 closed

[2021-01-07 12:12] #7264 closed

[2021-01-07 12:17] #7202 closed

[2021-01-07 12:28] Siedlerchr commented on #7264
Thanks to @Shadow-Devil  this is now implemented in the latest master. You can now define custom keybindings for these actions

[2021-01-07 15:19] fewww opened #7309 "row numbers"
In the last two versions of Jabref, the row numbers are disappeared from the left side. Can anybody help me, how to display the row numbers?

[2021-01-07 15:45] Siedlerchr commented on #7309
Hi,

This can be enabled in the Preferences -> entry table -> add the column "Index"
Next time, please ask such questions in the discussion forum https://discourse.jabref.org/

[2021-01-07 15:45] #7309 closed

[2021-01-07 16:36] fewww commented on #7309
Thank you.

Christoph <notifications@github.com> ezt írta (időpont: 2021. jan. 7., Cs,
16:46):

[2021-01-07 17:28] Linguista opened #7310 "Uncaught exceptions when genertaing citation keys (among other things)"
JabRef 5.2--2020-11-26--f1a2fa7
Linux 5.4.0-050400-generic amd64
Java 15.0.1

I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists.

JabRef throws uncaught exception errors when generating citation keys. Library is moderately big (~1600 entries). Messages is: `Uncaught exception occurred in Thread[pool-3-thread-5,5,main]`.

Steps to reproduce

[2021-01-07 17:34] Linguista opened #7311 "Generating citation keys silently fails after a few entries"
JabRef 5.2--2020-11-26--f1a2fa7
Linux 5.4.0-050400-generic amd64
Java 15.0.1

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Citation key generation on a moderately large library (~1600 entries) fails after a small number of generated keys.

Steps to reproduce the behavior:
1. Select all entries in library.
2. Hit

[2021-01-07 17:50] ilippert commented on #7072
It is still the same issue
JabRef 5.3--2021-01-07--129abaa
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1

[2021-01-07 17:55] ilippert commented on #6744
JabRef 5.3--2021-01-07--129abaa
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1

JabRef does not seem to react at all to the "Open Folder" Action.

[2021-01-07 17:58] ilippert commented on #5071
Recent versions of JabRef have worked well for me.
but
JabRef 5.3--2021-01-07--129abaa
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1

seems very slowly reacting (takes several seconds to switch between entries in entry table). Although the use of the system's resources is fine.

[2021-01-07 17:59] ilippert commented on #7295
Has been reported in https://github.com/JabRef/jabref/issues/5591 - it seems

[2021-01-07 18:18] Siedlerchr commented on #6744
Open folder works fine for me on Mac. @LyzardKing  You looked into this file opening, do you know what is necessary for "opening folder" on linux?

[2021-01-07 19:05] Siedlerchr commented on #7310
Problem is: 	`at org.jabref@5.2.298/org.jabref.gui.LibraryTab.updateTabTitle(Unknown Source)` needs to be wrapped in FX thread

[2021-01-07 19:25] bjhamilton commented on #7278
@tobiasdiez You didn't give me an opportunity to reply.

This is not a solution.  The nested groups do not capture the bib entries. Notice how @k3KAW8Pnf7mkmdSMPHz27 they are at zero? When I tested this, I can create the nested group entries, but they never seem to increment from zero.

[2021-01-07 19:46] #5102 closed

[2021-01-07 19:46] #4788 closed

[2021-01-07 19:46] #4781 closed

[2021-01-07 19:46] #4745 closed

[2021-01-07 20:08] ilippert commented on #4877
potentially the same at https://github.com/JabRef/jabref/issues/7307

[2021-01-07 20:43] k3KAW8Pnf7mkmdSMPHz27 commented on #7278
I believe the point was that a discussion regarding if something can be done in JabRef, or how it can be done is better kept on https://discourse.jabref.org/. Then what should/shouldn't happen can be sorted out there.

The subsubgroups in my screenshot contain 0 entries, which I'd guess is a bug. But if **those are not the subgroups, structure and names, you'd expect based on those entries**, it i

[2021-01-07 20:52] LyzardKing commented on #6744
@horror-vacui @ilippert
What jabref package are you running?
I can confirm it's happening to me as well now..
I'll look into it, but the last time I looked at it it worked

[2021-01-07 21:01] LyzardKing commented on #6744
@Siedlerchr
If I set the file directory in the preferences dialog, then try to "move file to file directory" I get the error "file directory is not set or does not exist"
This is a new (to me) error, and it could be the underlying cause of the openFolder not working... could it?

[2021-01-07 21:20] LyzardKing commented on #6744
If I run gladlew run I get this error.. am I missing some dependency?

[2021-01-07 21:28] k3KAW8Pnf7mkmdSMPHz27 commented on #7310
Isn't it fixed? @Linguista uses version 2020-11-26, #7170 were merged 2020-12-7.
Perhaps I am doing something wrong but I can't reproduce it in the current https://builds.jabref.org/master/

[2021-01-07 21:34] Siedlerchr commented on #6744
Try executing gradlew clean before once.
Hm did you restart jabref after changing the preferences?

[2021-01-07 21:49] LyzardKing commented on #6744
Ok.. cleaning worked.. I must have forgotten to run that earlier ;)
But it's still not reading the preference correctly

[2021-01-07 21:56] LyzardKing commented on #6744
https://github.com/JabRef/jabref/blob/c8f7be89ad704065474decb61851e42416caf88d/src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java#L208

This seems to return an Empty... so no path is passed to the open method

[2021-01-07 22:23] LyzardKing commented on #6744
The error seems to be in reading the settings database...
The path string is correct, but the database preferences returns an empty array..

[2021-01-07 22:31] Siedlerchr commented on #7310
Yeah, I just saw v5.2 but forgot that 5.2 was the xmas release so that should be fixed. I looked into the master and was wondering as well. So I guess it is solved.

[2021-01-07 22:31] #7310 closed

[2021-01-07 22:31] bjhamilton commented on #7278
I'm just merely trying to create nested groups with keywords. Of course I didn't use your structure, I applied your suggestion to my library, but the result was the same, i.e. that of the nested groups capturing zero entries, which I agree with you, looks like a bug.

So, If this is a bug, what would have transpired given the premature closure of this question was me signing up for an account on h

[2021-01-07 22:40] Siedlerchr commented on #6744
Can you try to reset your preferences and try again with a new path? Or did you have checked "Search and store files relative to library location" enabled? -> That takes precedence

[2021-01-07 22:44] Siedlerchr opened #7313 "Move/copy a PDF file for an entry WITHOUT renaming (drag and drop)"
Originally posted at https://discourse.jabref.org/t/move-copy-a-pdf-file-for-an-entry-without-renaming/2495

[2021-01-07 22:45] Siedlerchr commented on #7313
As the modifiers are OS dependent, we can maybe change copy to just copy without rename

[2021-01-07 23:00] LyzardKing commented on #6744
It works.. The folder path was not set properly.
It must be my fault... I recently changed computer and just imported everything as is...

[2021-01-08 10:56] ilippert commented on #5071
Ok, today under
JabRef 5.3--2021-01-07--aef49f4
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1
JavaFX 15.0.1+1
it works well again ;)

[2021-01-08 12:10] tobiasdiez commented on #7278
If the generated subgroups don't match any entries, than this sounds indeed like a bug. Feel free to create a new issue and provide the steps required to reproduce it.

I'm sorry if it's inconvenient to you to register at our discourse forum. It's the only option we currently provide for user support. The github issue tracker is exactly for this: track issues. I can assure you that maintaining Jab

[2021-01-08 12:34] ilippert commented on #7313
How about this:
in the preferences under "linked files", a dropdown menu offers diverse default actions for dragging file onto entry.
Then, for instance, I would define as a default action "copy without rename"; somebody else "move with rename".
I would presume that individual users have specific file handling routines that are highly tight to their work practices and requirements. So, allow the u

[2021-01-08 14:58] Siedlerchr commented on #7072
Can you please try again with the latest version? I updated the javafx version

[2021-01-08 15:46] cmiramon opened #7320 "Disabling autocompletion for title field"
JabRef 5.2--2020-12-24--6a2a512
Linux 5.4.0-60-generic amd64
Java 15.0.1

Hello,
I would like to enable autocompletion for the author field but disable it for the title field.

Even if I change the Options -> Preferences -> Entry editor -> Fields to suppress 'title',  autocompletion is still enabled for the title field.

Thank you for this great software....

 Here is the start  my ~/.java/.userPr

[2021-01-09 14:26] koppor commented on #4795
Curent state:

* File > Save-All needs to be disabled
* Export needs to be disabled (Can we disable a complete submenu?)
  ![grafik](https://user-images.githubusercontent.com/1366654/104094051-df4aff80-528e-11eb-9e84-4fcc86f7bf81.png)
* Edit -> Copy selected entries needs to be disabled
  ![grafik](https://user-images.githubusercontent.com/1366654/104094066-f5f15680-528e-11eb-8dff-02131d4653f8.png

[2021-01-09 19:51] #6653 closed

[2021-01-10 08:46] ilippert commented on #7288
I think I offer a relevant and related way of using JabRef: I have a folder in which all the linked files of JabRef are located.
I have also a different folder in which I collect pdfs that are not yet linked at all to JabRef. Once I link them I also move them to JabRef.

If possible, it would be amazing if JabRef could search one/a number of specified other folders also for combinations of author

[2021-01-10 12:46] ilippert commented on #7072
Hi,
at
JabRef 5.3--2021-01-09--86852c6
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1
JavaFX 15.0.1+1

I do not get any reaction - no error message but neither is a pdf attached.

[2021-01-10 15:32] docrjp opened #7322 "Add some more built in themes, especially high contrast dark"
The idea is to improve the handling of built in themes, and in so doing, deliver a user facing benefit in the form of some additional useful themes that can be selected easily without CSS knowledge. In particular, I suggest a high contrast dark theme that would be of benefit for accessibilty. Other suggestions for distinct themes welcome.

This is a follow up on #7177 and in response to a discussi

[2021-01-10 15:34] docrjp opened #7323 "Validate user input of custom theme paths and provide visual feedback"
Present to the user hints that the custom theme path is not valid, or cannot be found. The feedback should be bound to the input such that it is immediate (i.e. a hint next to the textbox). That is, it should not necessary to apply the preference changes to get an error message.

This is a follow up on #7177 and in response to a discussion in review of the related pull request: https://github.com/

[2021-01-10 15:38] #7177 closed

[2021-01-10 15:49] Siedlerchr commented on #7322
See one theme for example from @AtrusRiven https://docs.jabref.org/advanced/custom-themes

[2021-01-10 19:17] Siedlerchr commented on #7323
An example is for example the SharedDatbaseLogin dialog, it shows how those Icon based Validators work and can be connected to input.

[2021-01-10 19:24] ilippert commented on #6744
I run

JabRef 5.3--2021-01-09--86852c6
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1
JavaFX 15.0.1+1

and nothing happens when I press `Open Folder` nothing happens.

[2021-01-10 21:01] wujastyk commented on #6391
Behaviour now as documented.

[2021-01-10 21:01] #6391 closed

[2021-01-10 22:10] koppor opened #7325 "When assigning a group color to a group, not all entries are marked"
1. Open library with existing group from old JabRef version
2. Select group
3. Edit group color
  ![grafik](https://user-images.githubusercontent.com/1366654/104136662-dd209800-5397-11eb-9efb-07791c215838.png)
4. Dialog "Change of Grouping Method" appears.
  ![grafik](https://user-images.githubusercontent.com/1366654/104136670-e9a4f080-5397-11eb-9559-33a4cda12fde.png)
5. Click "OK"
6. Group is uns

[2021-01-10 22:23] koppor commented on #7325
[code]

[2021-01-10 22:47] stefan-kolb commented on #7011
Thank you for your report :+1:
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2021-01-10 23:02] LyzardKing commented on #6744
@ilippert how did you install jabref? The deb, rpm, tar, snap, or flatpak?
This could be useful to debug.
Also what distro are you running on?

[2021-01-11 02:10] bjhamilton opened #7326 "(Sub)Subgroups by keyword in Groups pane do not capture nested keyword entries"
JabRef version:

[code]
This bug report relates to my **Question** raised [here](https://github.com/JabRef/jabref/issues/7278), which turns out to be a bug.

- [ * ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behaviour:
1. Using your own library open JabRef and click the '+' for a new group in t

[2021-01-11 06:33] koppor commented on #7325
@k3KAW8Pnf7mkmdSMPHz27 May I ask whether you could have a look here?

[2021-01-11 10:20] ilippert commented on #6744
Thanks, I run Fedora 33, installing master via rpm.

[2021-01-11 11:53] LyzardKing commented on #6744
Did you verify that in settings the folder containing the files is set?
If that's the case I can try making a custom build with a debug message in the function that runs on openFolder

[2021-01-11 14:31] k3KAW8Pnf7mkmdSMPHz27 commented on #7326
@bjhamilton I'll just briefly answer parts of your PS. I want two things to be clear,
1. I am a volunteer contributor to JabRef. This is my opinion and how I view things,
2. I am intentionally brief and it is not meant to be terse. However, I obviously need to work on my communication skills, and I am trying to be brief to avoid creating **more** confusion 😝 Please try to interpret everything as i

[2021-01-11 16:45] k3KAW8Pnf7mkmdSMPHz27 commented on #7325
I have never noticed the **name** of the dialog window before.

My assumption, so far, is that it appears because when you make changes to a group it often implies changes in the bibentries as well. E.g., an explicit group will modify the GROUP field of all entries if you change its name, and the same should happen for all Keyword groups. It is perhaps a little bit misleading and appear in too man

[2021-01-11 18:45] #7197 closed

[2021-01-11 20:16] tobiasdiez commented on #7326
I think this is bound to happen if communication only takes place only and one doesn't know each other already in real life, especially combined with expectations and frustrations on both sides (user: "This is not working as I want it to be - shit - Please fix it asap!", developer: "God damn, another broken thing. I wanted to work on something else actually. - Please give at least enough informati

[2021-01-11 20:44] bjhamilton commented on #7326
Don't leave on the basis you believe you have not been constructive. I don't take this view. I was being playful and didn't intend to cause a bad impression. My apologies.

100%! Great software.

Yes. I will update soon.

[2021-01-11 21:09] #7326 closed

[2021-01-11 21:31] bjhamilton opened #7333 "JavaFX exception when making hierarchical groups"
[code]

- [ * ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

This follows on from updating my library after resolving a [previous issue](https://github.com/JabRef/jabref/issues/7326). The parent group `By keyword` now uses `;` as the first delimiter and `>` as the second.

When I update library entries under a subgroup

[2021-01-11 23:50] tb77phd commented on #4342
Huh, I was not aware of a difference between [title] and [TITLE]. I tried right now and it worked when the issue was a dash in the filename. It did not work when the issue was parentheses. Thanks for the suggestion!

[2021-01-12 12:18] tobiasdiez commented on #7326
Glad it worked for you. May I ask you to revise the documentation accordingly so that other users have a smoother path using that feature: https://github.com/JabRef/user-documentation/blob/master/en/finding-sorting-and-cleaning-entries/groups.md

[2021-01-12 12:32] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
🤦 that does make sense, I missed that. If I am not mistaken, the expanded bracket will be interpreted as regexp, so parenthesis will be seen as a regexp matching groups and probably you won't get any result at all if they are unmatched.

In your current version you **might** be able to solve it using either "\\Q...\\E" or "\Q...\E", e.g., `\\Q[TITLE:latex_to_unicode:regex(":",";")]\\E`, see https:

[2021-01-12 14:12] GCE-Galotta commented on #4654
This would be great.

[2021-01-12 15:22] ilippert commented on #6744
JabRef 5.3--2021-01-11--7f26a3a
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1
JavaFX 15.0.1+1

JabRef preferences/Linked files has a main file directory set.

[2021-01-12 16:48] docrjp opened #7335 "Change theme preferences without requiring a restart"
LIve reloading is currently supported for editing the contents of a theme's CSS file. This can be taken further, allowing live reload even when changing between built in and custom themes.

This lays useful groundwork for #7322 and #7323

See also pull request discussion for previous issue #7177: PR https://github.com/JabRef/jabref/pull/7292#discussion_r554558270

[2021-01-12 18:32] masa312f commented on #7313
I strongly agree to allow users to choose/assign the default drag-&-drop action and functions of modifier keys in the Preferences.

[2021-01-12 22:21] k3KAW8Pnf7mkmdSMPHz27 commented on #7325
(Just to state it plainly, I'll look into it after #7173 is merged, it doesn't make sense to do so before)

[2021-01-12 22:42] koppor commented on #6688
@hebinhao1993 We know that this is an uncommon concept at users in the computer science field. However, we have many users in other fields. They do not know such directories. It is easier for them to have the backup file nearby.

Note that https://gitignore.io is fully aware of these extensions - they will be ignored at a git commit if you use their generated .gitignore file: https://www.toptal.co

[2021-01-12 22:42] #6688 closed

[2021-01-12 23:53] jpdehollain opened #7337 "Custom web address for accessing articles through DOI"
When I click on the `Open` button next to the DOI of an entry it opens a web browser to the address `https://doi.org/[DOI]`, which then redirects to the article website. In order to access articles in subscription-based journals, my institution has a shortcut that involves modifying the address to the doi site (e.g. for my institution it is `https://doi-org.ezproxy.lib.uts.edu.au/[DOI]`). It would

[2021-01-13 00:27] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
I am not sure if it was supposed to be a difference, but it is. And I am trying to make it official by sneakily making people use it 🤫

[2021-01-13 09:08] #6394 closed

[2021-01-13 11:34] tobiasdiez commented on #6394
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2021-01-14 12:54] calixtus opened #7340 "Multiple messages in the SnackBar"
If JabRef has do display several messages very shortly after each other, the messages are stacked and played one after each other. This is confusing, since the SnackBar is still displaying a message, which is already obsolete. E.g. if you cycle quickly through the preview styles.

A simple solution would be to stack the messages inside an already showing SnackBar, separated by a new line and to le

[2021-01-14 14:40] bjhamilton commented on #7326
Sure.

[2021-01-14 14:42] ilippert opened #7341 "remember location of earlier position of jabref window on displays"
running Linux, Fedora 33, wayland.

JabRef 5.3--2021-01-13--4d8e4f0
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1
JavaFX 15.0.1+1

I use several monitors. I am frustrated because JabRef forgets its location to which I had moved it before when it starts anew. Solution: remember location.

[2021-01-14 14:43] ilippert opened #7342 "remember the location of the jabref window on screen."
running Linux, Fedora 33, wayland.

JabRef 5.3--2021-01-13--4d8e4f0
Linux 5.9.16-200.fc33.x86_64 amd64
Java 15.0.1
JavaFX 15.0.1+1

I use several monitors. I am frustrated because JabRef forgets its location to which I had moved it before when it starts anew. Solution: remember location.

[2021-01-14 14:44] ilippert commented on #7342
github mistakenly told me this is not opened.

[2021-01-14 14:44] #7342 closed

[2021-01-14 14:44] bjhamilton commented on #6998
I can replicate this. Looking forward to this bugfix.

[2021-01-14 16:38] KWaniova opened #7343 "Uncaught exception when searching in dark mode"
JabRef version 5.2 on Windows 10, Ubuntu 20.04.1, Mac OS Catalina 10.15.7

Steps to reproduce the behavior:
1. Set JabRef to dark mode.
2. Create new empty library.
3. In web search input on the left side enter covid and click search button.
4. Click on Select all new entries.
5. Click on import entries button.

![JAB-200](https://user-images.githubusercontent.com/61587204/104620081-df803c00-568e-

[2021-01-14 17:04] KWaniova opened #7344 "Unhandled exception when searching with regular expression"
JabRef version 5.2 on Windows 10, Ubuntu 20.04.1, Mac OS Catalina 10.15.7

Steps to reproduce the behavior:
1. Open some library with several entries.
2. Click on first article.
3. Set on regular expresion checking in the search field.
4. Paste this **10.1126/science.1188363** or **13.155//1313** or 13/ input value in search field.

![JAB-98](https://user-images.githubusercontent.com/61587204/1046

[2021-01-14 17:07] gassowska commented on #6563
Bug still exists in version 5.2 on Windows 10, Ubuntu 20.04.1 LTS and Mac OS Catalina 10.15.7.

[2021-01-14 17:15] GreyCanis opened #7345 "Some search are not working: MathSciNet, Springer and AirXiv"
JabRef version 5.2 on Windows 10, Ubuntu 20.04.1 and Mac OS Catalina 10.15.7

When I want to search on MathSciNet, Springer or AirXiv I get "Unhandled exeption"

![JAB-162](https://user-images.githubusercontent.com/59370307/104624763-448a6080-5694-11eb-83cc-26bd05d1be07.jpg)

Steps to reproduce the behavior:
1. Open the JabRef app
2. Create new library.
3. Select Springer, MathSciNet or AirXiv as

[2021-01-14 17:45] GreyCanis opened #7346 "Some shortcuts are not working"
JabRef version 5.2 on Windows 10, Ubuntu 20.04.1 and Mac OS Catalina 10.15.7

Some keyboard shortcuts are not working:
- Ctrl + E : open editor of highlighted reference
- Ctrl + Shift + U : create new unpublished
- Ctrl + Shift + R : create new report
- Ctrl + Shift + P : create new proceedings
- Ctrl + Shift + T : create new phdthesis
- Ctrl + Shift + M : create new masterthesis

Steps to reprodu

[2021-01-14 18:07] koppor commented on #7345
Do you have a valid MathSciNet subscription? I would propose to try zbMath instead.

Regarding Springer, the JabRef key might hit limits. We will contact them.

arXiv works on our side.

[2021-01-14 18:15] koppor commented on #7346
@GreyCanis Do you by accident know the last version where it works?

[2021-01-14 18:19] Siedlerchr commented on #7346
We removed some default keybindings for them recently https://github.com/JabRef/jabref/blob/71ed32e4b2de69efa760f69d4a701a0055098fe7/src/main/java/org/jabref/gui/keyboard/KeyBinding.java#L68

[2021-01-14 18:25] koppor commented on #7346
At the PR https://github.com/JabRef/jabref/pull/6960 the discussion is included.

[2021-01-14 20:06] #4564 closed

[2021-01-14 20:06] #4523 closed

[2021-01-14 20:06] #4485 closed

[2021-01-14 20:06] #4477 closed

[2021-01-14 20:06] #4475 closed

[2021-01-14 20:06] #4423 closed

[2021-01-14 20:06] #4461 closed

[2021-01-14 20:06] #4239 closed

[2021-01-14 20:06] #4221 closed

[2021-01-14 20:06] #4161 closed

[2021-01-14 20:06] #4152 closed

[2021-01-14 20:06] #3974 closed

[2021-01-14 20:06] #3787 closed

[2021-01-14 20:06] #3628 closed

[2021-01-14 20:06] #3626 closed

[2021-01-14 20:06] #3483 closed

[2021-01-14 20:06] #3252 closed

[2021-01-14 20:06] #3216 closed

[2021-01-14 20:06] #3138 closed

[2021-01-14 20:06] #2299 closed

[2021-01-14 20:06] #2648 closed

[2021-01-14 20:06] #2282 closed

[2021-01-14 20:06] #2160 closed

[2021-01-14 20:06] #2205 closed

[2021-01-14 20:06] #1887 closed

[2021-01-14 20:06] #1858 closed

[2021-01-14 20:06] #1505 closed

[2021-01-14 20:06] #1646 closed

[2021-01-14 20:06] #1456 closed

[2021-01-14 20:06] #1354 closed

[2021-01-14 20:06] #1247 closed

[2021-01-14 20:06] #1076 closed

[2021-01-14 20:06] #908 closed

[2021-01-14 20:06] #878 closed

[2021-01-14 20:06] #840 closed

[2021-01-14 20:15] timobaumann commented on #4508
the problem persists exactly as before.

[2021-01-14 20:18] timobaumann commented on #4508
@Siedlerchr , @github-actions , can you please re-open this? apparently us standard humans can't re-open our own issues in the github tracker... thanks.

[2021-01-14 20:46] koppor commented on #7346
@GreyCanis Are all "create new" important for you? https://github.com/JabRef/jabref/pull/6960#issuecomment-700630352

We discussed an see that 4 out of the 5 mentioned key bindings lead to an entry not having a DOI. Thus, the DOI fetcher cannot be used. See https://docs.jabref.org/collect/add-entry-using-an-id for that functionality.

As workaround, you can change your key bindings. See https://do

[2021-01-14 20:48] Siedlerchr commented on #4508
@timobaumann  So the problem exists in the latest development version 5.x?

[2021-01-14 20:50] timobaumann commented on #4508
yes. Downloaded most recent:
JabRef 5.3--2021-01-13--4d8e4f0
Linux 5.4.0-53-generic amd64
Java 15.0.1
JavaFX 15.0.1+1

put the bibtex from above, export to Harvard.

[2021-01-14 20:55] j0hannes commented on #3787
Just for the record: changes of the entry type are now correctly detected and displayed.

[2021-01-14 21:16] Siedlerchr commented on #4508
Okay, thanks for the feedback. I think I found the problem.
The RTFChars kills the extra braces and it's called before the authors formatter. That's why the authors formatter treats this as two different authors and cuts it at the "and"

[2021-01-14 21:45] Codeberg-AsGithubAlternative-buhtz commented on #3483
This is so great how to take care of Issues. Ignore them for months and then let them close by a bot.

[2021-01-15 12:48] Nirostar opened #7349 "When typing a "-" after a long title into web search the application freezes"
JabRef 5.3--2021-01-14--e66f5be
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 15.0.1+1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The following also works with other titles containing "-". And also with other search engines. The below example triggers the bug every time:

Steps to reproduce the behavior:
1. Under We

[2021-01-15 15:19] ilippert opened #7351 "new time field creation date - missing possibility to read other field names; missing backup of old information"
JabRef 5.3--2021-01-14--e66f5be
Linux 5.10.6-200.fc33.x86_64 amd64
Java 15.0.1
JavaFX 15.0.1+1

In the past I set a field timestamp to all entries. And this JabRef version simply deleted that information!
that's a loss for users who actually use the timestamp information.  now I see a modificationdate field, but that simply tells me todays date, because I updated to this master version today.

[2021-01-15 19:57] Siedlerchr commented on #4508
@k3KAW8Pnf7mkmdSMPHz27  I just debugged this and found out that the  AuthorLastFirst formatter somehow kills the braces for corporate authors `{Organization for Economic Cooperation and Development}` is turned into `Organization for Economic Cooperation and Development` and the AuthorAbbreviator then think it's two different authors.
`\format[AuthorLastFirst,AuthorAbbreviator,RTFChars]{\author} (\

[2021-01-15 19:58] #7344 closed

[2021-01-15 19:59] Siedlerchr commented on #7344
Thanks to @k3KAW8Pnf7mkmdSMPHz27  This should now be fixed in the latest development version (ready in roughly half an hour)

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2021-01-15 20:00] Siedlerchr commented on #7351
Refs : https://github.com/JabRef/jabref/pull/7334

[2021-01-15 20:06] Siedlerchr commented on #7343
Can you pleae expand the details of the first exception and paste the details here?

[2021-01-15 20:57] k3KAW8Pnf7mkmdSMPHz27 commented on #4508
In theory `Author.java` should kill the braces... I have considered extending it with an `Author.isInstitute` method... perhaps that would be an idea? (assuming this is the issue for you)
Is it a similar issue to
https://github.com/JabRef/jabref/blob/e173764f2ee6ac17cad359935bf57cfa4bef85ea/src/main/java/org/jabref/logic/citationkeypattern/BracketedPattern.java#L493-L510
?

My best guess is that i

[2021-01-15 21:04] k3KAW8Pnf7mkmdSMPHz27 commented on #4508
I am sorry, I don't really have more time to look at it today. I can take a closer look tomorrow. https://github.com/JabRef/jabref/pull/7301#discussion_r555309584 might also relate to the issue.

[2021-01-15 21:09] Siedlerchr commented on #4508
@k3KAW8Pnf7mkmdSMPHz27  Yes, there needs to be a kind of check for institution that is  the problem here.

[2021-01-15 21:31] jvera701 commented on #5804
Hello, can I work in this issue ? I am new to open source software and want to contribute

[2021-01-16 00:53] Fantazstic opened #7354 "Field "urldate" does not become YearAccessed, MonthAccessed, DayAccessed when exporting to MSWord"
JabRef 5.2 2020-12-24
Windows 10 10.0 amd64
Java 14.0.2

- [Yes] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Add online source to library (BiBlaTeX mode on, I couldn't find online or electronic on the default mode)
2. Add urldate using calendar selector
3. Export selected items to MS

[2021-01-16 13:03] koppor commented on #5804
@jvera701 After checking @JofielB's reply, it is very OK for you to try. Always keep test-driven development in your mind and try to use the "play" button in IntelliJ. See <https://www.jetbrains.com/help/idea/performing-tests.html> for details.

[2021-01-16 14:21] k3KAW8Pnf7mkmdSMPHz27 commented on #4508
I don't understand what the correct output format should be for this issue. Should it contain curly braces?

If I understand `\format[AuthorLastFirst,AuthorAbbreviator,RTFChars]{\author}` correctly It will call both `AuthorLastFirst` and `AuthorAbbreviator` (left to right?)?
Barring the problem with wether or not this should be possible, they are both based on `Author.getLastFirst` so calling them

[2021-01-16 14:26] k3KAW8Pnf7mkmdSMPHz27 commented on #4508
My current belief regarding the formatters and `AuthorList.parse` is that
1. Formatters always output in a way that can be shown to the user (no BibTeX formatting)
2. `AuthorList.parse` only supports BibTex formatting (with one small extension to allow comma separated authors)

[2021-01-16 15:12] Siedlerchr commented on #4508
Ah okay thanks for the insight. So I will try with only one author formatter and the rtfchars I think the layout file hasn't been touched for years...

[2021-01-16 16:05] Siedlerchr opened #7356 "Convert layout resources to new authors formatter"
While fixing the Harvard exporter, I noticed that all layout files still use the old AuthorsFormatter chaining:

https://github.com/JabRef/jabref/tree/master/src/main/resources/resource/layout

The format for author formatting has changed to https://docs.jabref.org/collaborative-work/export/customexports
 it's now seomthing like `\format[Authors(LastFirst,....),HTMLChars]`

JabRef version  on

- [

[2021-01-16 19:22] #7354 closed

[2021-01-16 19:22] tobiasdiez commented on #7354
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2021-01-16 20:02] KWaniova commented on #7343
Sure

I tried it on the newest version of JabRef 5.3 and this is what happend

![exception](https://user-images.githubusercontent.com/61587204/104821609-683cda80-583d-11eb-9696-4eec48778427.jpg)

these are details of expanded exception

`java.lang.NullPointerException
	at org.jabref.merged.module@5.3.75/javafx.collections.ListChangeBuilder.findSubChange(Unknown Source)
	at org.jabref.merged.module

[2021-01-16 20:10] KWaniova commented on #7344
Yeah, in the newest build it works.

[2021-01-16 23:38] Fantazstic commented on #7354
It works as intended now, thanks!

However, MonthAccessed needs to be exported to text rather than numbers. For example instead of "01" it should be converted to "January". This is standard practice for academic referencing styles, to write out the full month. MS Word also states "Example: January" when Month Accessed is selected.

[2021-01-17 11:23] ueen commented on #7011
JabRef 5.3 doesnt start anymore (Win7) it appears in TaskMgr processes for about a second (JabRef.exe) before disappearing..

[2021-01-17 12:26] Siedlerchr commented on #7354
@Fantazstic  I've just created a follow up fix. It's a simple line change and changing some test files.

[2021-01-17 20:05] #6666 closed

[2021-01-17 20:21] AEgit commented on #6101
JabRef 5.3--2021-01-16--e17dc8e
Windows 10 10.0 amd64
Java 14.0.2
JavaFX 15.0.1+1

The issue persists in the current dev build as described in:
https://github.com/JabRef/jabref/issues/6101#issuecomment-655431748

[2021-01-17 21:16] tobiasdiez opened #7359 "Import from CLI fails sometimes"
JabRef 5.2--2020-12-14--e9be339
Windows 10 10.0 amd64
Java 14.0.2

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Go to https://arxiv.org/abs/1109.0517
2. Send to JabRef using Browser Extension
3. Get following error:

For some reason, JabRef tries to find the import format althou

[2021-01-17 21:18] Siedlerchr commented on #7359
I think this is the same underlying bug as in https://github.com/JabRef/jabref/pull/7347

[2021-01-17 21:29] tobiasdiez commented on #7354
This should be fixed now as well. Thanks for the report @Fantazstic

[2021-01-17 21:43] koppor commented on #5031
We are currently trying to focus on other things. :fire:
We will come back later to this topic, therefore closing adding [freeze label](https://github.com/JabRef/jabref/issues?q=label%3A%22status%3A+freeze%22+) and closing the issue for now.

[2021-01-17 21:43] #5031 closed

[2021-01-18 00:19] Fantazstic commented on #7354
I can confirm these bugfixes are working on the master branch, thanks again!

[2021-01-18 07:47] bjhamilton commented on #7333
Doesn't seem to be happening now.

[2021-01-18 07:47] #7333 closed

[2021-01-18 08:36] LyzardKing commented on #7359
I can't reproduce this issue on Linux.
Both the snap and flatpak import the reference correctly.

[2021-01-18 13:25] tobiasdiez commented on #7359
Thanks, that's good to know. Than it might be a problem with the powershell script that is used as the communication bridge between Firefox and JabRef.

[2021-01-18 17:27] #4508 closed

[2021-01-18 17:40] bazjo commented on #6869
This still was an issue in the latest release, should be finally fixed with https://github.com/JabRef/jabref/pull/7364

[2021-01-18 17:53] matteodelabre commented on #5526
It seems the WM_CLASS attribute has changed in a recent release. The following command works now:

[code]

[2021-01-18 18:02] Siedlerchr commented on #4508
@timobaumann This issue is now resolved in the latest master. For other layout based exporters see issue #7356

[2021-01-18 18:24] timobaumann commented on #4508
Thanks @Siedlerchr !

[2021-01-18 18:47] Siedlerchr commented on #7359
The bibtex I receive on mac looks like this: The error in your stacktrace is coming from importFile, but that is never called when I import when debugging.

[code]

And from your stacktrace I see why it fails:
https://github.com/JabRef/jabref/blob/e66f5be7d82c7a7618fe327fe958ec57a25ea598/src/main/java/org/jabref/cli/ArgumentProcessor.java#L99-L118

[2021-01-18 19:16] koppor commented on #6840
@DominikVoigt I have some detailed information in this. Should be a "Fingerübung", because of your experience at https://github.com/JabRef/jabref/pull/7334

[2021-01-18 19:48] #5833 closed

[2021-01-18 20:29] koppor commented on #5507
Still some fetchers left to implement pagination. UI has to be developed.

[2021-01-18 20:41] koppor commented on #6857
Note that in https://github.com/JabRef/jabref/pull/7160 there also was another rendering implemented.

[2021-01-18 21:06] AEgit commented on #6857
Would this proposal solve https://github.com/JabRef/jabref/issues/4237?

Note also, that with such an implementation individual items potentially take up much more space in the main table, i. e. you cannot display as many items as before in the main table (if the complete entry preview is being shown).

[2021-01-18 23:39] koppor commented on #4342
This is NOT in our documentation. See https://docs.jabref.org/setup/citationkeypatterns.

I know at https://docs.jabref.org/setup/citationkeypatterns#bibentry-fields, we use upper case letters. IMHO this is wrong. It should be `[title]`, `[date]` there, too.

The implementation having a difference between `title` and `TITLE` comes from following feature:

https://docs.jabref.org/setup/citationkeyp

[2021-01-19 00:21] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
Imo, the motivation for keeping the difference between `title` and `TITLE` is that a user doesn't necessarily expect, nor can deal with, a raw bibentry field. \_**I**\_ have tripped on the difference between [authors] and [author], and given how much time I have spent in that part of the source code, that is saying something. `[authors]` vs `[AUTHOR]` on the other hand.

* `Title[title:abbr]` -> `

[2021-01-19 03:13] koobs opened #7365 "Add option to "Create desktop icon" to Windows installer"
Summary
----------
JabRef on Windows automatically installs a Desktop icon during installation, and there is no provision allowing users to not create an icon.

_Originally posted by @jorgman1 in https://github.com/JabRef/jabref/issues/5657#issuecomment-557477020_

Note: This icon is created in `<DRIVE>:Users\Public\Desktop` for an administrator permission installation.

Proposal
---------

- [ ]

[2021-01-19 07:22] koobs opened #7366 "Add duplicate count/progress to Possible Duplicates dialog"
Summary
---------

As a user, when finding/managing duplicates, it is not possible to know how far through the process you are, or how many entries are left to be processed. The requisite information is apparently already available, but it is only shown *after* closing the `Possible duplicate entries` dialog (see screenshot below)

![2021-01-19 18_04_32-](https://user-images.githubusercontent.com/

[2021-01-19 08:07] ilippert opened #7367 "Linux JabRef does not start at all"
I am using
jabref-5.3.85-1.x86_64, downloaded morning of 19th Jan GMT with bellsoft-java15.x86_64 on Fedora 33.

JabRef does not start.

Happy to provide details if you tell me which commands to run in the shell ;)

[2021-01-19 18:23] ilippert commented on #7367
@systemoperator sorry to bother, does the latest master run on your Linux machine?

[2021-01-19 18:41] Siedlerchr commented on #7367
Can you try to start it from the script under runtime/bin/JabRef ?

[2021-01-19 18:46] ilippert commented on #7367
I get this result

<details>
  <summary>Log File</summary>

[code]
</details>

[2021-01-19 19:01] Siedlerchr commented on #7367
Hm, this is odd. Seems like somehow the data from our build info are not passed down... As far as I know, nothing to that has changed.  I will try something and prepare a new branch build.

[2021-01-19 19:09] sambo57u commented on #7367
I just tried this on the same configuration and it worked.  I put an alias in /etc/bashrc

alias jabref="/opt/jabref/bin/JabRef 2>/dev/null"

after this open a new window and it should work. The logger errors are always there. This is using the rpm version of Jabref
5.3.85

[2021-01-19 21:00] systemoperator commented on #7367
@ilippert I can confirm your stated issue with your mentioned master build on Ubuntu 16.04, using OpenJDK 15.

The problem is that `Globals.BUILD_INFO.azureInstrumentationKey` is empty (""), which throws an exception in `com.microsoft.applicationinsights.TelemetryConfiguration.setInstrumentationKey()` when called in

https://github.com/JabRef/jabref/blob/ee2e2dba313c070c491ad75f545536d870743231/sr

[2021-01-19 21:21] Siedlerchr commented on #7367
The build info key should be set by the CI and gradle
Hmm, as far as I know nobody changed it (at least I guess).

[2021-01-19 22:07] #6840 closed

[2021-01-19 22:29] koppor commented on #4342
Summary: Documentation is wrong. Only upper case field names are used to access the fields of the Bibentry directly. Thus, I updated the documentation accordingly:

![grafik](https://user-images.githubusercontent.com/1366654/105100654-e1daff80-5aad-11eb-8431-24b45cc1158c.png)

Long answer:

Thefore, I raised Option A in my last comment, which I would prefer for strong typing. (This probably also r

[2021-01-20 01:47] k3KAW8Pnf7mkmdSMPHz27 commented on #4342
Yes. The "special field markers" are matched case-sensitive, while "bibentry plain fields" are matched case-insensitive. What you are seeing with upper case fields is the fallback (yes, it is ugly).

My bad, and thank you for the update. I guess I wanted to keep the original vocabulary that a "special field marker" is a "field marker" even if it is not a bibentry field, just based on a bibentry fi

[2021-01-20 01:58] koobs commented on #7057
@Siedlerchr No longer waiting for feedback (OP responded)

[2021-01-20 07:27] ilippert commented on #7367
Hi @sambo57u with the proposed alias I get this result

<details>
  <summary>Log File</summary>

[code]
</details>

[2021-01-20 07:59] horror-vacui commented on #6744
I've written the jabref version in the description of the issue. I was using Xubuntu 18.04 LTS than. I have the same jabref, but on 20.04 LTS now. I think, I have installed it through the deb package.

Sorry, but I am not sure what you mean by that...

[2021-01-20 09:28] LyzardKing commented on #6744
@horror-vacui
In Jabref:
1. open the Options Menu
2. select Preferences
3. select Linked Files form the list on the left
4. What value do you have in Main file directory? Is it the correct folder where your files are located?