[2020-05-27 09:44] LuckyOne09 commented on #6470
Hello, I feel that I can handle this possibly. I will try to write a reasonale description for this ^_^

[2020-05-27 09:50] crystalfp opened #6532 "New entry from DOI, entries always for bibtex not biblatex"
JabRef 5.1--2020-05-23--03e3663
Windows 10 10.0 amd64
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

At least importing an entry from a DOI fills the Bibtex fields and not, as the library is defined, the biblatex ones.

Steps to reproduce the behavior:
1. Set the Default bibliographic mode to biblatex
2

[2020-05-27 09:55] anduls opened #6533 "Automaticially set extern file links"
JabRef version  on

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. create new bibtex lib e.g. test.bib
2. create a new Journal entry, create a bibtex key, e.g. Joe.pdf
3. put a Joe.pdf  in the same folder as the bib file
4. press F7 or Quality menu "Automatically set external fil

[2020-05-27 10:01] calixtus commented on #6453
Hi @gianlucabaldassarre , I took a look into the issue. I was able to partly recreate the problematic behaviour of jabref on my linux machine, although it does not happen every time I'm saving. I made an attempt to fix it, but I'm not quite sure, if it really works. Would you be so kind to test this build here ( https://github.com/JabRef/jabref/suites/720256702/artifacts/7152221 ) and to report, i

[2020-05-27 10:10] crystalfp opened #6534 "Deleting an entry selected in the search field gives exception"
JabRef 5.1--2020-05-23--03e3663
Windows 10 10.0 amd64
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Deleting an entry selected with the search field gives an exception.

Steps to reproduce the behavior:
1. Create new entry from DOI: 10.1126/science.1188363
2. In the search field enter 10.1126/science.1

[2020-05-27 10:40] mr-j-s opened #6536 ""Manage field names & content" logic and appearance"
JabRef 5.1--2020-05-26--0d7156b
Windows 10 10.0 amd64
Java 14.0.1

I had troubles with understanding of the logic of "Edit"-"Manage field names & content" menu today. I was trying to get rid of certain fields, but they were not disappearing, in the end I figured out that to use "Clear fields" or "Set fields" you need to tick the box "overwrite existing field values", which is quite obvious now. Bu

[2020-05-27 11:18] mr-j-s commented on #6534
JabRef 5.1--2020-05-26--0d7156b
Windows 10 10.0 amd64
Java 14.0.1

Tried to reproduce by adding this citation to an existing library, got 16(!) exception messages directly after step 2, i.e. pasting the DOI in the search field (after search was performed).

<details>
  <summary>Exception1 details</summary>

[code]

</details>

After step 3 I got 8 more exceptions (there is a difference from first

[2020-05-27 11:25] Siedlerchr commented on #6534
Did you save between importing and searching (or have you autosave enabled) ?

[2020-05-27 11:25] LuckyOne09 commented on #6470
Hi, after investigating this issue. I found some confusing thing. After I set the "default bibliography mode" to biblatex in the preference dialog, I create a new library whose library mode in the library property is still BibTex. Did I misunderstand something?

Followings are related screenshots:

 "default bibliography mode" in the preference dialog:
![image](https://user-images.githubuserconten

[2020-05-27 11:27] LuckyOne09 commented on #6470
If I don't misunderstand anything, I think the related setting in the dialog should be removed? I will appreciate it very much if you could give me some guidance ^_^

[2020-05-27 11:35] Siedlerchr commented on #6470
@LuckyOne09  It's a bit confusing indeed.
Historically, in older JabRef versions there was only one option "New library" with the "global" default mode you selected in the settings.
Default biblatex -> New library would have created biblatex library.
Default BibTeX-> New library would have created bibtex library.

At some point in history this has been changed to have both options in the menu.
And

[2020-05-27 12:47] mr-j-s opened #6538 ""Cleanup entries" formatter "Clear" doesn't work?"
JabRef 5.1--2020-05-26--0d7156b
Windows 10 10.0 amd64
Java 14.0.1

[v] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Select all entries in the database, in my case they all have DOI.
2. Open "Cleanup entries". Immediately a message appears at the bottom "Doing a cleanup for 56 entries.

[2020-05-27 15:02] FossHub commented on #6526
Can anyone from Jabref team confirm that the file signatures match? We upload what we receive from the team, but considering we replicate the files to multiple CDN providers, this could be a bug. The project manager should see the file signatures along with the virus scan results.

[2020-05-27 15:49] thanaset opened #6540 "Clicking on .bib files won't open them in JabRef"
JabRef version 5.0 on Windows 10

Opening .bib files from within JabRef is fine but clicking on a .bib file in Windows Explorer results in a blank page on JabRef.

Steps to reproduce the behavior:
1. Double click on a .bib file icon.

[2020-05-27 16:01] mlep opened #6541 "Opening the menu 'Library properties' marks the database as modified"
JabRef 5.1--2020-05-26--0d7156b
Linux 4.9.0-12-amd64 amd64
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When opening the menu "Library properties", the database is instantaneously marked as modified (a star is displayed in the title of the tab).

Steps to reproduce the behavior:
1. Open a library
2. C

[2020-05-27 16:26] Siedlerchr commented on #6526
@jkbsc   Dpes the file from our github release page works?
https://github.com/JabRef/jabref/releases

[2020-05-27 16:28] Siedlerchr commented on #6540
Duplicate of #6487
Could you also add your findings there?

[2020-05-27 16:28] #6540 closed

[2020-05-27 16:41] tgkolda commented on #5461
I am really having trouble viewing and editing author and title fields that go outside the box because they no longer wrap in the edit box. Is there a fix planned for this?

[2020-05-27 16:53] thanaset commented on #6487
Same issue here.

JabRef version 5.0 on Windows 10

Opening .bib files from within JabRef is fine but clicking on a .bib file in Windows Explorer results in a blank page on JabRef.

Steps to reproduce the behaviour: double click on a .bib file icon.

[2020-05-27 22:21] koppor commented on #6488
Confirmed.

In other words: The user started with an *empty database*. He imports a single entry. This entry is added. Then, JabRef complains that a duplicate exists. This is really wired.

Wild guess: Side-effect of https://github.com/JabRef/jabref/pull/6332, but I haven't checked.

[2020-05-28 03:01] cakexxx opened #6543 "Error： Uncaught exception occurred in Thread"
JabRef version  on

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
 Write comment for one of the references

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-05-28 03:07] cakexxx commented on #6543
JabRef 5.0--2020-03-06--2e6f433
Windows 10 10.0 amd64
Java 13.0.2

[2020-05-28 06:47] gianlucabaldassarre commented on #6453
Hi, the link you sent (
https://github.com/JabRef/jabref/suites/720256702/artifacts/7152221) seems to
lead me to download a linux version of JabRef (after unzipping the file, I
got the files:
jabref_5.1-1_amd64.deb, jabref-5.1-1.x86_64.rpm,
JabRef-5.1-portable_linux.tar.gz),
while I am using now this system:
JabRef 5.1--2020-05-14--46777c2
Windows 10 10.0 amd64
Java 14.0.1

On Wed, 27 May 2020 at

[2020-05-28 06:51] Siedlerchr commented on #6453
@gianlucabaldassarre  https://github.com/JabRef/jabref/suites/720256702/artifacts/7152223
This one should be the right one for windows

[2020-05-28 11:36] calixtus commented on #6453
I'm confused. I thought this is a linux specific issue. Does this affect windows too?

[2020-05-28 11:38] jkbsc commented on #6526
****

Same behaviour. It feels as if this version maybe works and there is something up with my configuration.  I did a CRC check on the two files (Fosshub and the above) and they are identical.

[2020-05-28 11:48] gianlucabaldassarre commented on #6453
System:
JabRef 5.1-PullRequest6528.455--2020-05-26--0965648
Windows 10 10.0 amd64
Java 14.0.1

@Siedlerchr: the problem of the cursor jumping at the beginning of multi-line fields when saving is still there (with https://github.com/JabRef/jabref/suites/720256702/artifacts/7152223)

@calixtus: I confirm, the problem is also in Windows 10 system (see system features above).

[2020-05-28 11:49] Siedlerchr commented on #6526
Could you also please try the latest dev version?
https://builds.jabref.org/master/
if it doesn't work either, it seems something on your system is broken

[2020-05-28 12:08] FossHub commented on #6526
You just confirmed that the files are identical on FossHub and GitHub. At this point, the problem is not on our end. Thank you!

[2020-05-28 12:18] tobiasdiez commented on #6420
Maybe the color code changes upon saving? (I slightly remember there was something like that in the code...)

[2020-05-28 12:42] Codeberg-AsGithubAlternative-buhtz commented on #5904
Can confirm that the curors still jumps to the beginning when saving.

JabRef 5.1--2020-05-26--0d7156b
Windows 10 10.0 amd64
Java 14.0.1

[2020-05-28 14:30] wolfgang-noichl commented on #2409
JabRef 5.0--2020-03-06--2e6f433
Linux 5.4.0-31-generic amd64
Java 13.0.2
Xfce 4.14

Here, everything looks nice except the font size is still not scaled. I think under Xfce the relevant attribute is changed by `xfconf-query -c xsettings -p /Gdk/WindowScalingFactor -s 2`, if that somehow helps. Just switching font sizes within JabRef doesn't really solve the issue if you have to switch between a no

[2020-05-28 14:53] koppor commented on #2409
This refs https://github.com/JabRef/jabref/issues/5498, doesn't it? - Should we open a new issue? Do you want an issue to be opened? I think, this issue does not fully match your detail @wolfgang-noichl

[2020-05-28 15:21] wolfgang-noichl commented on #2409
Yeah, I think it's the same, sorry for re-posting.

[2020-05-28 15:24] crystalfp commented on #6534
Not able to reproduce by creating an empty library. Anyway using the attached library and following these passes it happens every time:
1. Open the attached library after changing extension
2. Add new entry for DOI  10.1016/j.apergo.2010.08.010
3. Search for  10.1016/j.apergo.2010.08.010 (I have put a space at the end, but maybe it is a red herring)
No need to delete or save the library, as soon a

[2020-05-28 15:27] #6459 closed

[2020-05-28 15:28] tobiasdiez commented on #6459
Thanks to @k3KAW8Pnf7mkmdSMPHz27 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-05-28 15:28] tobiasdiez commented on #6465
Thanks to @k3KAW8Pnf7mkmdSMPHz27 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-05-28 15:30] tobiasdiez commented on #6388
There were some improvements of the citation key generator in https://github.com/JabRef/jabref/pull/6479, can you please check if they also resolve this issue here. Thanks!

[2020-05-28 15:37] crystalfp commented on #6465
Well, no change. Same as before for `{Apple Inc.}`. I used the version
JabRef 5.1--2020-05-27--c119ca2
Windows 10 10.0 amd64
Java 14.0.1
Downloaded right now from builds.jabref.org/master

[2020-05-28 15:51] k3KAW8Pnf7mkmdSMPHz27 commented on #6465
@crystalfp the PR was merged 22 min ago. I don't know how long it takes to build a new development version but I'd guess it will be included in JabRef 5.1--2020-05-28.

[2020-05-28 15:53] Siedlerchr commented on #6465
@crystalfp  You were a bit too fast, the new version is still building. It should be ready in roughly 10 minutes or so: https://github.com/JabRef/jabref/runs/717321958

[2020-05-28 15:57] Siedlerchr commented on #6543
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-05-28 15:57] #6543 closed

[2020-05-28 16:42] #5891 closed

[2020-05-28 16:44] Siedlerchr commented on #5891
thanks to @silverhorse  and @abadar this issue is now fixed.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-05-28 16:45] Hollyqqqqq commented on #6527
Hi, I am interested in this issue.
If no one is working on this issue, I'll try to work on it these two days.^_^

[2020-05-28 17:41] k3KAW8Pnf7mkmdSMPHz27 commented on #3356
@Siedlerchr this "problem" might still exists in Mac OS X.

<img width="587" alt="Skärmavbild 2020-05-28 kl  13 33 12" src="https://user-images.githubusercontent.com/2598631/83174468-71c7d580-a0e8-11ea-819b-9e5fe1553479.png">

I have managed to get some inconsistent behaviours on this one (sometimes italic and bold works as expected and sometimes not at all, and sometimes like on the screenshot,

[2020-05-28 17:46] Siedlerchr commented on #3356
For the author/editor field it's not that relevant, title or any other fields are more important

[2020-05-28 18:01] tobiasdiez commented on #3356
Maybe related: https://docs.jabref.org/installation#some-characters-are-not-displayed-in-the-main-table-math-characters-or-some-upper-cased-letter

[2020-05-28 18:29] Hollyqqqqq commented on #6527
Hi, I have add the menu items as following:
![image](https://user-images.githubusercontent.com/55199983/83178854-b6d52180-a153-11ea-9e26-b4bb2cec7d41.png)

Is it enough or it needs more other menu items?

[2020-05-28 18:34] #6515 closed

[2020-05-28 18:48] Siedlerchr commented on #6527
@Hollyqqqqq  Thanks, that looks good to me! That should be sufficient for the moment

[2020-05-28 18:51] k3KAW8Pnf7mkmdSMPHz27 commented on #3356
I could look at it tomorrow, the behaviour is the same/similar in author/title and I can get it to both work/break, the only difference between the 2 screenshots are a resizing event.

<img width="536" alt="Skärmavbild 2020-05-28 kl  14 38 21" src="https://user-images.githubusercontent.com/2598631/83180142-f9194700-a0f0-11ea-8ea2-13a6c01059dc.png">

<img width="536" alt="Skärmavbild 2020-05-28 k

[2020-05-28 18:52] Hollyqqqqq commented on #6527
OK^_^
I will try to write some tests, and then create pr.

[2020-05-28 18:58] Siedlerchr commented on #3356
@k3KAW8Pnf7mkmdSMPHz27  The entry preview is controlled over html code in the preferences under Entry preview.  It's essentially a web browser component. (WebView)
The main table uses plain Unicode as it does not support html formatting,

I guess there is something wrong with the latex2unicode parsing as well
And tip: you can also make the preview a new tab in the entry editor

[2020-05-28 19:42] k3KAW8Pnf7mkmdSMPHz27 commented on #3356
I see 😀

I'll not put more time into this then, I am off to find some more beginner friendly issue to tackle 😎

[2020-05-28 20:42] Siedlerchr commented on #3356
Feel free to take any open issue you want.
We still have enough for everyone 😉😜
Easy beginner issues are also tagged with the good first issue label

[2020-05-28 21:43] k3KAW8Pnf7mkmdSMPHz27 commented on #6154
Just checking if there is something here I can help with?

[2020-05-28 22:27] tobiasdiez commented on #6154
Do you have experience with signing / adding apps to the apple store? So far none of the core developers found the time to read through the docs to find what exactly need to be done etc. So if you know which steps to take and/or can help with certain aspects, then this would be awesome!

[2020-05-29 01:24] Hollyqqqqq commented on #6417
@sustcstar Hi, do you still work on this issue? My teamate and I want to try this issue if you are not doing it now.  ^_^

[2020-05-29 02:02] sustcstar commented on #6417
Yeah, I have been doing this for two days.
If finally I give up, I will tell you.

[2020-05-29 02:05] Hollyqqqqq commented on #6417
OK, best wishes!

[2020-05-29 04:49] crystalfp commented on #6465
Unfortunately this version (2020-05-28 21:01) does not starts. No message, no error, nothing. Removed previous version and reinstalled. Nothing. Is there any debug flag to see what happens?
Thanks!

[2020-05-29 06:05] jkbsc commented on #6526
Agreed, something up with my configuration. Thanks for the help.

[2020-05-29 06:05] #6526 closed

[2020-05-29 06:48] crystalfp commented on #6465
If I run the portable version it not starts. Putting command line option `-h` gives the following errors:
[code]
Could be an hint?

[2020-05-29 06:50] Siedlerchr commented on #6465
@crystalfp Try to reset your preferences, add the commandline swtich `-d all`
cc @calixtus  Related to your changes?

[2020-05-29 07:00] calixtus commented on #6465
I noticed this behaviour already before, I thought this was already reported as an issue.

[2020-05-29 08:50] koppor commented on #6526
Is this an issue that other users also might encounter. Then it would be a good thing to add it to the FAQ.

[2020-05-29 09:00] Hollyqqqqq commented on #6527
Sorry, I got stucked into how to run tests although I have some ideas to write tests. There are always errors like "Error(19, 33) java: program package org.jabref.logic.journals not exist" when running both original tests and the tests I added. I have troubles to solve these errors.

Then, I will just create pr for codes that fix this issue and skip the tests codes for the moment.

[2020-05-29 09:39] jkbsc commented on #6526
Ok, so analysing my errors in case it helps with the FAQ:

- I used # apt install path/to/jabref_package.deb and this fails.
- When I used # dpkg -i  path/to/jabref_package.deb, I now believe that it
  always worked, whether I used the fosshub file, the jabref download or,
  lastly, the 5.1 version as linked in the bug report

However, I was looking for a command

$ jabref

on the command line, wh

[2020-05-29 10:05] crystalfp commented on #6465
Anyway, we are drifting to a different problem. I'll wait for another build to check the fix. Thanks!
FYI: `-d all` do nothing. Same error.

[2020-05-29 10:22] calixtus commented on #6465
The newest portable version should start if you start JabRef with the mentioned commandline switch. But back to the main problem: Bracket names are not kept together as they are in biber and latex.

Could be related to the issue mentioned in the post merge discussion in #6479 ?

[2020-05-29 12:23] systemoperator commented on #6420
I've tried to find some differences in the variable `changes` in

https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java#L46

but there is quite a lot information contained. I could not find any differences, only things which are equal.

[2020-05-29 12:41] systemoperator commented on #6420
What I could find is that in "metadata change", the originalMetaData entry had subscribers, but the newMetaData entry doesn't.

[2020-05-29 12:53] tobiasdiez commented on #6420
@ https://github.com/JabRef/jabref/issues/6420#issuecomment-635943587
This looks like a bug. The change scanner should only return things that are different...

What you you mean by the "subscribers" for the metadata change? What's the content of
https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/logic/bibtex/comparator/MetaDataDiff.java#L35 ?

[2020-05-29 19:07] k3KAW8Pnf7mkmdSMPHz27 commented on #6154
Unfortunately not.
I was hoping someone had started the process and I were offering myself for testing/misc. 😛

Mostly I have quite a bit of spare time, and I believe this is essential to Mac users. I'd even be happy going through the documentation on the off-chance it will help someone later.

[2020-05-29 21:41] mpatas commented on #6467
Yes, it looks like the change has been made, the development build has this improvement. Thank you.

[2020-05-30 03:19] braincident commented on #6530
For me it seems not necessary to check if the DOI field exactly starts with "doi:", if it is listed in the RIS file, it should be already verified. So importing and loading will just be fine.
Even if the DOI is listed and imported in wrong format, users can still check and correct it in the APP.

[2020-05-30 03:30] crystalfp commented on #6465
The original problem and the last no-start one have been solved in:
JabRef 5.1--2020-05-29--ed275b6
Windows 10 10.0 amd64
Java 14.0.1
I'm going to close this issue.
Thanks!
mario

[2020-05-30 03:30] #6465 closed

[2020-05-30 03:38] jasciiz commented on #6401
I will try

[2020-05-30 08:00] ilippert opened #6559 "jabref does not shut down (on Linux); process keeps running"
- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

JabRef 5.1--2020-05-29--ed275b6
Linux 5.6.14-300.fc32.x86_64 amd64
Java 14.0.1

Not on every run, but often, shutting down jabref does not cleanly proceed. A process continues to run for many minutes. Maybe related to https://github.com/JabRef/jabref/issues/5071 ?

If y

[2020-05-30 11:23] KaenbyouR opened #6560 "Connection Check for HTTP Proxy"
Hi there, I would like to request a feature for HTTP Proxy connection check. Unlike some IDE such as IntelliJ IDEA, there do not have a check button for proxy connection. I would like to have a URL written, and verify if a connection via proxy to that URL is ok. A dialog box shown said that "Connected successfully" or "Connection failed". Thx

[2020-05-30 14:36] Addicted-to-coding opened #6562 "Can't connect to libreoffice"
Hi,
I'm using jabref version 5.0 and LibreOffice 5.1.6.2 installed on Ubuntu 16.04. When I try to connect a LibreOffice file with jabref, I get the error
Autodetection failed
no office executable found!
The exception stacktrace was
com.sun.star.comp.helper.BootstrapException: no office executable found!
	at org.jabref/org.jabref.gui.openoffice.Bootstrap.bootstrap(Unknown Source)
	at org.jabref/org

[2020-05-30 17:38] Siedlerchr commented on #6562
Hi,
do you use the deb version or the snap variant? (The snap variant does not work with libre office due to restrictions)
Have you installed the libreoffice-java-common libs?
https://docs.jabref.org/cite/openofficeintegration#known-issues

[2020-05-30 18:05] Siedlerchr commented on #6541
I debugged it and found out that as soon as no saveActions are present for the current library metadata, then the default save actions are set for the current library metadata and a Changed-Event is posted which marks the library with an asterisk.

I think the line 131 is wrong here. Opening without changing anything should not have any effect, metadata should only be changed when I click save.  W

[2020-05-30 18:42] Addicted-to-coding commented on #6562
I installed jabref_5.0-1_amd64.deb from here:https://www.fosshub.com/JabRef.html?dwl=jabref_5.0-1_amd64.deb
Yes, I have libreoffice-java-common installed

[2020-05-30 21:54] Stang-wm commented on #6401
Maybe the point is "User could select the config file's position when generating 'Jabref.xml' file in memory-stick mode"? Thus I think program should have a mode confirm dialog box when starting the program, as Jabref probably use the existence of "Jabref.xml" as a way to determine current mode, so the file's position could not be adjustable freely.

[2020-05-31 02:14] chenyuheng opened #6563 "unknown exception related to background tasks button"
JabRef version 5.0 on Windows 10

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Restore the jabref window to a small enough size.
2. Click the toggle button of tool bar in the right.
3. Click on the rightmost button in the tool bar (the background tasks button)
4. Click on the de

[2020-05-31 02:41] ShiqingLiu commented on #6351
Actually, I think save action is fine. It needs restart to come into work. But is it the correct logic?

[2020-05-31 07:22] ShiqingLiu commented on #6055
It seems it is not reproduceable in the latest version. Could you provide more information about this issue? Thanks.

[2020-05-31 08:28] ZhouSky commented on #5815
I'd like try to solve it.

[2020-05-31 10:02] djwoodhouse opened #6568 "IEEE Search crash"
JabRef 5.0--2020-03-06--2e6f433
Mac OS X 10.15.4 x86_64
Java 13.0.2

Steps to reproduce:

1. Web search IEEEXplore for anything ...
2. Exception
org.jabref.logic.importer.FetcherException: A network error occurred
	at org.jabref/org.jabref.logic.importer.SearchBasedParserFetcher.performSearch(Unknown Source)
	at org.jabref/org.jabref.gui.importer.fetcher.WebSearchPaneViewModel.lambda$search$1(Unkn

[2020-05-31 10:09] Stang-wm commented on #6342
Thanks for your issue, but there are some problem during my reproduce procedure - How did you define a customized preview style in `Entry Preview` tab inside "Preference"? And if you have correctly set the style of that preview?

[2020-05-31 11:30] DOFfactory commented on #6342
I defined customized entry in the tab: JabRef Preferences >> Entry Preview >> select 'Preview' >> select 'Edit'

Here, I have a customized preview:

[code]

Now, if you go back to the entry table, and you have selected the customized 'Preview', you right-click on the Preview and select 'Print Entry Preview'. The resulting PDF is empty.

[2020-05-31 15:51] Siedlerchr commented on #6563
Thanks for the report, I could reproduce it on Windows as well.
I guess it's because the dialog is shown outside the window bounds.

[2020-05-31 16:23] Stang-wm commented on #6342
It seems that I am unable to reproduce this bug.. I follow that instructions and a PDF file with content inside is generated.
<img width="640" alt="Snipaste_2020-06-01_00-18-09" src="https://user-images.githubusercontent.com/18418456/83357292-20e10700-a39e-11ea-98f4-6d19a7d45ecd.png">

[2020-05-31 16:29] DOFfactory commented on #6342
Yup, it seems to be fixed since when I reported it. Closing.

[2020-05-31 16:29] #6342 closed

[2020-05-31 17:02] #6472 closed

[2020-06-01 04:55] #6527 closed

[2020-06-01 04:55] tobiasdiez commented on #6527
Thanks to @Hollyqqqqq this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-06-01 10:36] rs028 commented on #5632
Just for future reference, I had to change the permissions to 755 of the following files:

[code]

[2020-06-01 12:41] swekia commented on #6262
Hey,

Thank you for your reply. I've tried out this version:
JabRef 5.1--2020-05-31--455ed8b
Windows 10 10.0 amd64
Java 14.0.1

and still the problem exists. =(

[2020-06-01 14:46] #6529 closed

[2020-06-01 14:48] Siedlerchr commented on #6529
Thanks to @Hollyqqqqq  this is now implemented in the latest master version. (currently building).
When that menu is open, you will be able now open the libraries by using the number keys.-

[2020-06-01 16:22] Siedlerchr commented on #6562
Did you install libre office as snap? If yes, then remove the snap version and install the non snap version

[2020-06-01 21:45] koppor opened #6574 "Add support for biblatex-software"
See https://www.softwareheritage.org/2020/05/26/citing-software-with-style/

We should add the new types and fields in BibLaTeX mode.

[2020-06-01 23:18] systemoperator commented on #6420
The content of `changes` at

https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/gui/collab/DatabaseChangeMonitor.java#L46

looks as follows:

![image](https://user-images.githubusercontent.com/3658393/83462926-c19df800-a46c-11ea-99b7-da6fb63db8db.png)

The content of `changes` at

https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653e

[2020-06-01 23:18] sustcstar commented on #6417
I give up on this issue, everyone please feel free to take it

[2020-06-01 23:23] systemoperator commented on #6420
But I suspect properly fixing #6394 could fix this as well, because everything started with that.

[2020-06-01 23:37] systemoperator commented on #6525
The reason is, that this reproducible case is caused by something different.

[2020-06-02 14:01] bernhard-kleine commented on #6454
Today, with the latest snapshot of today,  import via Zotero worked, while via JabFox didnot. This is sad, since the Jabfox import collects infomation which can not be automatically retrieved via Zotero or using the DOI.
It is still the import window where JabRef chokes.

[2020-06-02 16:11] urielz commented on #5650
FYI this issue seems to be resolved in JabRef 5.1--2020-06-01--aa2ac70.

I'll leave this open for a while in case someone else wants to chime in.

Thanks

[2020-06-02 17:23] #5815 closed

[2020-06-02 17:24] Siedlerchr commented on #5815
Thanks to @ZhouSky  this is now fixed in the latest master version (currently building)

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-06-02 20:19] #6042 closed

[2020-06-03 05:27] crystalfp opened #6576 "langid field not provided if not already present in the entry"
JabRef 5.1--2020-05-29--ed275b6
Windows 10 10.0 amd64
Java 14.0.1
- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The field "langid" is no more offered by the entry editor. If the field is already present in the .bib file it appears in the editor under "Other fields" tab. This field is needed for multi-language bibli

[2020-06-03 05:54] avm19 opened #6577 "Invalid Bibtex records / DOI not extracted from imported PDF files"
Observed behaviour:
Some PDF files are imported as invalid Bibtex records of type `@Misc` with empty Bibtexkey and with _only one_ field `file`. I suppose, this is caused the failure to extract DOI from the first page of a PDF file.  ([JabRef docs ](https://docs.jabref.org/collect/findunlinkedfiles) say "In case a DOI is found on the first page, the DOI is used to generate the BibTeX information")

[2020-06-03 06:02] avm19 commented on #5815
This bug seems to have been fixed (at least, no exception pops up), thank you. Kudos to @ZhouSky !

[2020-06-03 06:34] Siedlerchr commented on #6576
JabRef only provides the field language. However, you can simply add the field langid to the entry types using the Customize Entry types dialog.
Just type in langid in the field combobox and add it as required or optional

[2020-06-03 07:48] tobiasdiez commented on #6420
Thanks for the investigation. It's strange. I don't see any problems with the equals method of the groups:
https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/model/groups/AbstractGroup.java#L58-L60
It's also strange that you experience this problem since https://github.com/JabRef/jabref/commit/bc57d22f2a4ae8912d263608cf0a606fbbecd43a, since this

[2020-06-03 09:26] AEgit commented on #6042
JabRef 5.1--2020-06-02--46fd96b
Windows 10 10.0 amd64
Java 14.0.1

I can confirm, that this has been implemented in the current dev version. I am glad to see, that by not displaying the groups item count, the CPU performance required when starting JabRef is much lower, than when the item count is shown. So this has definitely improved performance. Well done!

Note, however, that changing the group

[2020-06-03 09:33] systemoperator commented on #6525
I'm closing this, because this concrete issue is caused by #6420 and discussed there onwards.

[2020-06-03 09:33] #6525 closed

[2020-06-03 09:38] AEgit commented on #5735
JabRef 5.1--2020-06-02--46fd96b
Windows 10 10.0 amd64
Java 14.0.1

Quick update: If you disable the groups item count as implemented in the current dev version (https://github.com/JabRef/jabref/issues/6042), the entry preview is shown immediately (or there is a a delay of max. 1 sec) once JabRef has opened. For people with very large databases (>20,000 entries) and several thousands of groups, thi

[2020-06-03 09:39] calixtus commented on #6042
Thank you very much for testing the current dev build. Glad to see that you like the improvement.
Thanks also for the issue report. It is a well known problem, that some preferences only take effect after restarting JabRef. We are already working on it, but as this is a deeper architectural issue, it will take some time to fix.

[2020-06-03 09:41] AEgit commented on #6042
Cheers! Yes, I am not really bothered by this - just restarting JabRef is not much of a hassle to me. But I am really happy to see, that the performance of JabRef (at least when starting JabRef - I have to figure out, whether this also makes any difference when assigning a large number of items to a group) could be improved by this approach. Thanks again for you hard work!

[2020-06-03 09:49] systemoperator commented on #6420
@tobiasdiez I have concretized the description and reproducibility of the issue its description https://github.com/JabRef/jabref/issues/6420#issue-612206411 Can you reproduce it this way?

[2020-06-03 10:03] crystalfp commented on #6576
OK, this works. Thanks for remembering me JabRef functionalities I never used. But:
1) I added `langid` as optional, but the + button is disabled, I have to click in the other (left) field to have it enabled.
2) The dropdown menu of this field is useless because it lists only few field, seems the ones already added, so I have to type `langid`
3) In the editor the new field is added at the beginnin

[2020-06-03 10:14] Siedlerchr commented on #6576
We are already  working on improving the handling and manually defining an order which will be used in the entry editor as well
Refs #6152 and #6338

[2020-06-03 10:20] crystalfp commented on #6576
OK, so the solution is already in the making. Perfect, thanks! So I close this issue.

[2020-06-03 10:20] #6576 closed

[2020-06-03 10:31] webanck commented on #6224
Hello, I see date processing is still in the pipes !
Almost two years ago (see [here](https://discourse.jabref.org/t/custom-export-filter-month-field/1214)), I asked for a way to write a custom export with dates from the biblatex `date` field to bibtex `year`, `month` and `day` fields.
An error is still raised when the `date` field doesn't resolve as a full ISO date, any clue on how to solve this

[2020-06-03 10:37] webanck opened #6579 "Custom export format biblatex date field to bibtex year, month and day ones."
Hello, I see date processing is still in the pipes ! (See issues #1249 and #6224)

Almost two years ago (see [here](https://discourse.jabref.org/t/custom-export-filter-month-field/1214)), I asked for a way to write a custom export with dates from the biblatex `date` field to bibtex `year`, `month` and `day` fields with an emphasis on the `month` field (I am not the first one, see [here](https://di

[2020-06-03 10:46] webanck commented on #6579
Well, in fact, it is very easy to solve now as all fields seem well treated as valid aliases now.

The custom export filter as
[code]
will now output entries as
[code]

[2020-06-03 10:53] rezaeimohammad opened #6580 "Error: Uncaught exception occured in Thread [JavaFX Application Thread,5,main]"
I tested it for two versions:

JabRef 5.0--2020-03-06--2e6f433
Linux 5.6.0-1-amd64 amd64
Java 13.0.2. -->
and
JabRef 5.1--2020-05-29--ed275b6
Linux 5.6.0-1-amd64 amd64
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
when I turn on  linux, the  Jabref work perfectly but wh

[2020-06-03 11:18] webanck commented on #6579
Well, in fact, it only works for the month of May because it is already a 3 characters long string, but for January for instance, the full month name will be output, instead of `Jan`.
So my initial problem is still not solved :(
There is no formatter documented to output the month in the same format as the bibtex field !
Even the undocumented [RisMonth](https://github.com/JabRef/jabref/blob/master

[2020-06-03 11:23] Siedlerchr commented on #6579
Have you seen the DateFormatter? https://docs.jabref.org/collaborative-work/export/customexports#built-in-export-formatters

[2020-06-03 11:42] webanck commented on #6579
Yeah, I tried but it doesn't work, as you saw (I added an explicit mention about it in the first message of this issue).

[2020-06-03 11:52] reox opened #6581 "Extra comma in entry preview"
JabRef version
[code]
 on
Debian testing/sid

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
Each entry in the preview has an extra comma in the title string.

biblatex entry:
[code]
looks like this:
![image](https://user-images.githubusercontent.com/431045/83633546-6a4d7400-a5a1-11e

[2020-06-03 11:56] Siedlerchr commented on #6579
I currently see no existing solution, so you would need to write your own Formatter which can format Months

[2020-06-03 12:53] systemoperator commented on #6420
@tobiasdiez You are right about commit bc57d22. It is not the cause of this issue. I have tested this issue before this commit now and it persists. (Sorry for the confusion.)

[2020-06-03 15:37] ihesham commented on #6487
Same issue above

[2020-06-03 16:32] Siedlerchr commented on #6487
I have exported my Windows 10 registry settings for the file association and open with application.
While I have the dev version installed it should theoretically also work with the 5.0
It assumes that JabRef is installed under C:\Program Files\JabRef
Just remove the .txt file extension and execute it

WARNING: TRY AT YOUR OWN RISK
[jabref_fileassociation.reg.txt](https://github.com/JabRef/jabref/

[2020-06-03 16:57] #6577 closed

[2020-06-03 16:59] Siedlerchr commented on #6577
Thanks for reporting that issue. JabRef first checks for XMP metadata to be present and then tries the "magic" PDF extraction. However, the XMP parser did not correctly indicate that the entry is empty (contains no fields) and therefore the PDF extractor was not called.

This should now be fixed in the latest master (currently building, ready in ~30min)

[2020-06-03 17:02] Siedlerchr commented on #6581
Thanks for reporting this issue. Could you please tell us if you are using the JabRef Preview style or any other of the CSL styles?

[2020-06-03 17:42] mr-j-s commented on #6487
Tried that, didn't fix the issue with double-click.

[2020-06-03 18:10] mr-j-s commented on #6487
I think I noticed something important:
double-click works for me not only from Desktop, but also from D:\biblio.bib and even e.g. D:\1\biblio.bib or D:\a\biblio.bib
BUT
if I try to open "D:\1 1\biblio.bib", it fails as usual (there is a space in the folder name)
I tried to replace al the spaces with underscores in the path to one of my .bib files and it also started to work.
Finally, I renamed it

[2020-06-03 21:22] systemoperator commented on #6420
For the case, where an `*.aux` is attached and the group gets updated, the diff is caused by the following line:

https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/model/groups/GroupTreeNode.java#L134

where `Objects.equals(group, that.group)` is `false`.

[code]

More concretely, it's finally the filePath which causes the problem at:

https://

[2020-06-04 01:04] avm19 opened #6582 "Remember the size of "Possible duplicate entries" window"
Current behaviour:
In the "Find duplicates" dialogue (**Quality -> Find duplicates**) each "**Possible duplicate entries**" window pops up with the default size. If the size of the window changed (to see all content without scrolling), the same window for the next collision will appear with its default size. This creates uncomfortable user experience.

Desired behaviour:
If the user resizes or mov

[2020-06-04 06:00] reox commented on #6581
Honestly, I did not even knew there was a setting :D
you mean this here?
![screenshot-20200604_07591591250383](https://user-images.githubusercontent.com/431045/83720453-61a87c80-a639-11ea-8caa-81b2a1527410.png)

Looks like I'm using IEEE.

[2020-06-04 06:13] Siedlerchr commented on #6581
Yes, that's what I meant.
In the Entry Preview in the entry editor you can cycle through the selected styles using F9.
All Styles except the Preview are from the https://citationstyles.org/ repository.
And I also took a quick look, it's correct IEEE style to have a comma after the Title. https://ieeeauthorcenter.ieee.org/wp-content/uploads/IEEE-Reference-Guide.pdf

[2020-06-04 06:13] #6581 closed

[2020-06-04 06:24] reox commented on #6581
Okay I see, looks like I must have accidentality pressed F9 and was lost then...
Thanks for pointing this out. I do not quite understand why IEEE has the comma inside the quotation marks - but okay, if they like it that way ^_^

[2020-06-04 09:10] houshuang opened #6583 "Bibtex citekey has non-ASCII letters"
JabRef version 5.0, MacOS 10.14.16

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I added a citation, and autogenerated a cite key, it contains a non-ASCII letter.

According to a 7-year old issue:

https://sourceforge.net/p/jabref/bugs/155/

![image](https://user-images.githubusercontent.com/61575/83737883-e607f90

[2020-06-04 15:29] systemoperator opened #6585 "Exceptions occur when starting JabRef with an opened library which contains a group of cited entries"
Exceptions occur when starting JabRef with an opened library which contains a group of cited entries and subsequently the group's content will not be reloaded on startup.

Will be partially fixed by #6584.

[2020-06-04 15:39] AEgit commented on #6583
Just a quick question: Have you actually tested the issue using the current dev version? You have ticked the field, but the version you report above (5.0) does not represent the current latest development version (see https://builds.jabref.org/master/).

If you have not used the latest development version, always remember to make a backup of your JabRef database, before installing the dev version.

[2020-06-04 16:29] houshuang commented on #6583
5.0 is my installed version but I did download and test the latest
development version today.

On Thu, 4 Jun 2020 at 17:39, AEgit <notifications@github.com> wrote:

--
https://networkedthought.substack.com <http://networkedthought.substack.com> --
Networked Thoughts and Learning newsletter

[2020-06-04 16:30] AEgit commented on #6583
I reckon, the behaviour in the latest dev version is the same, isn't it?

[2020-06-04 16:31] houshuang commented on #6583
Indeed

On Thu, 4 Jun 2020 at 18:30, AEgit <notifications@github.com> wrote:

--
https://networkedthought.substack.com <http://networkedthought.substack.com> --
Networked Thoughts and Learning newsletter

[2020-06-04 17:00] Siedlerchr commented on #6583
Hmm. Maybe the Characters are not in the unwanted chars list in the preferences

[2020-06-04 19:40] systemoperator commented on #6585
Is it intended, that the default group "All entries" is of type `TexGroup`?

[2020-06-05 03:20] jorgman1 commented on #5850
This behaviour still persist in the latest version (JabRef 5.1--2020-05-04--b5599c9; Windows 7 6.1 amd64; Java 14.0.1).

How should I put the journal name?

[2020-06-05 13:33] calixtus commented on #6293
Let's follow the mac related issue in #6419 .

[2020-06-05 15:57] ilippert commented on #6559
This continues to be a problem with the recent builds.

[2020-06-05 18:50] ilippert commented on #5071
Just to ask those who are part of this conversation: does anybody of you also experience that jabref does not cleanly shut down and uses high amounts of CPU? I noted that about a week ago ... https://github.com/JabRef/jabref/issues/6559

[2020-06-05 19:09] tobiasdiez commented on #6583
Maybe the simplest solution would be to create new formatter that converts everything to ASCII (and maybe activate it by default).
https://github.com/JabRef/jabref/blob/7cc57474b7aa991ef6ea148d4030d4bb68ee69bf/src/main/java/org/jabref/logic/formatter/Formatters.java#L43-L50

[2020-06-05 21:18] tobiasdiez opened #6588 "Delete online link after download"
**Is your suggestion for improvement related to a problem? Please describe.**
When downloading an linked online file, the online link is kept.

**Describe the solution you'd like**
Automatically delete online link. Since some people might prefer to keep the link, a new preference option would be good I guess.

[2020-06-05 21:20] tobiasdiez opened #6589 "Download of files put them in subfolders"
Just a quick note for now: after downloading a linked online file, it was put in the folder `standardRoot/citationkey/`. Not sure why and under which conditions this is reproducible.

[2020-06-05 21:22] tobiasdiez commented on #6583
Yes we have, but I don't think unicode characters are illegal (at least not for biblatex). Moreover, illegal characters would be simply removed, but here we would like to replace them by their asci equivalent.

[2020-06-05 21:30] AEgit commented on #5071
@ilippert : I have not come across this issue, but I should also mention, that:
a) I usually run JabRef on Windows (rarely on Linux)
b) I do not use the current dev version 5.1 in a productive environment, but version 3.8.2 (I cannot switch before the following feature request is implemented: https://github.com/JabRef/jabref/issues/4237). So I am only testing version 5.1 for a short period of time

[2020-06-05 23:23] nonglobal commented on #6367
I have provided the info asked on May 4 (see me post).

Here a resumée:

- Reinstall do not solve the problem.
- The issue is present for me in portable and rpm versions.
- I tested the development version (5.1-1) and I got the same error.

What else I can do for provide more information?

[2020-06-06 07:45] Siedlerchr commented on #6589
Did you specify a file fit name or file dir pattern?

[2020-06-06 11:49] Siedlerchr commented on #6369
* Grobid is failing due to Connection refused
* IEEE is failing due to API key probably
*  MrDLibFetcherTest Gateway Timeout
*  AstrophysicsDataSystemTest (needs ne API ?=>https://github.com/adsabs/adsabs-dev-api)

[2020-06-06 11:52] #6530 closed

[2020-06-06 11:55] Siedlerchr commented on #6530
This should be now fixed in the latest master (currently building, ready in roughly half an hour)
We know use our internal DOI parser to check for anything that looks like a valid doi (with or without prefix/url) and add the parsed DOI.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of

[2020-06-06 12:28] Siedlerchr opened #6591 "Entry Preview Tab has no name in DropDown List"
Current master

![grafik](https://user-images.githubusercontent.com/320228/83944202-f067f580-a801-11ea-99d6-671be41f1d68.png)

[2020-06-07 15:32] Siedlerchr commented on #6589
I could reproduce it using some arxiv fulltext download

[2020-06-07 15:52] Siedlerchr commented on #6589
The issue is here:
https://github.com/JabRef/jabref/blob/a080191bc07f51e0caa77e549c31be6ba0346786/src/main/java/org/jabref/gui/fieldeditors/LinkedFileViewModel.java#L451

If the parameter is empty string the citeky is returned.
https://github.com/JabRef/jabref/blob/7cc57474b7aa991ef6ea148d4030d4bb68ee69bf/src/main/java/org/jabref/logic/util/io/FileUtil.java#L283-L288

[2020-06-07 16:13] tobiasdiez commented on #6589
@btut could you please have a look at this. If I'm not mistaken, then you added this in https://github.com/JabRef/jabref/pull/6381. Thanks!

[2020-06-07 16:49] crystalfp commented on #6530
On the build/master page there is still the JabRef 5.1--2020-06-04--7cc5747 that has not solved the problem. I'll wait for a new one. Thanks!

[2020-06-07 17:19] Siedlerchr commented on #6530
Thanks for the hint, the build got canceled by GitHub. I re triggered a new one just now.
https://github.com/JabRef/jabref/runs/745120654

[2020-06-07 17:23] crystalfp commented on #6517
Also using the example from the page: https://docs.jabref.org/collect/newentryfromplaintext gives "0 entries were parsed from your query" with JabRef 5.1--2020-06-04--7cc5747 (latest available today)

To diagnose the problem I started `JabRef.bat --debug` from the portable installation. After other errors not directly related to my problem, here is the output when I ask to parse the entry from the

[2020-06-07 17:52] Siedlerchr commented on #6517
WE have our own grobid server, but there are also currently some issues. We are trying to investigate this. See also #6587 #6369

[2020-06-07 18:20] crystalfp commented on #6530
OK! Version JabRef 5.1--2020-06-06--5676d65 solved the problem. Thanks!

[2020-06-08 12:25] mo0ep opened #6601 "Add right click menu for main table header"
It would be nice if right-clicking on the main table header (where the column names are), provided a menu which either allowed to edit the viewed columns/fields directly or provided a link to the preferences.

Maybe a list of the currently and most commonly used fields would show up to be activated/deactivated in the right click menu and for more detailed adjustments a reference to the settings wo

[2020-06-08 17:03] wujastyk opened #6602 "DOI fetcher for medra"
**Is your suggestion for improvement related to a problem? Please describe.**

A DOI I was searching for recently didn't work from within Jabref.   10.2143/JIABS.41.0.3285748

When I tried [Crossref.org](http://crossref.org) directly, it also didn't work. When I queried the publisher, they said they registered their DOIs with [Medra,](https://www.medra.org/) not Crossref, because they are a Europe

[2020-06-08 17:30] Siedlerchr commented on #6602
Thanks, yeah I always thought that all DOIs can be resolved from every register. But apparently not.
But this implementation should be straight forward as it supports content negotiation as well for bibtex
http://data.medra.org/

[2020-06-09 06:20] koppor commented on #6453
Refs https://github.com/koppor/jabref/issues/390

[2020-06-09 06:34] koppor commented on #6453
Options:

- Remove normaliaztion --> no, we need it
- Normalize field during save of text editor

[2020-06-09 06:46] koppor commented on #4699
Try of @Siedlerchr:

- `master` branch used
- `setupKeyBindings` in MainTable removed

Next step:

- Do this change in this PR.
- Test on Win, Mac, Linux
   1. key binding of copy change to `Ctrl+Shift+Alt+Q`
   2. key binding of paste change to `Ctrl+Shift+Alt+P`
   3. try to paste in entry editor
   4. try to paste in main table
   - paste: bibtex entry
   - paste: plain text

[2020-06-09 06:51] koppor commented on #6369
API keys: Howto for getting a sandbox key for developers

ADs-Fetcher: This is the PR switchting to the new API, isn't it? --> https://github.com/JabRef/jabref/pull/5501

[2020-06-09 14:27] #6591 closed

[2020-06-09 21:39] wujastyk opened #6604 "Can't edit "Set up general fields""
JabRef version  on

JabRef 5.1--2020-06-08--b810356
Linux 5.3.0-53-generic amd64
Java 14.0.1

Steps to reproduce the behavior:
1. Options/Set up general fields
2. Don't change anything.   (Or do.)
3. Hit OK
4. Error popup.

![image](https://user-images.githubusercontent.com/762246/84203676-117d5000-aa67-11ea-9bb9-34f1b1f505c1.png)

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-06-10 00:16] #4938 closed

[2020-06-10 00:30] notuntoward commented on #6352
Hey there, I'm getting a "stale status" warning, but  I did provide the requested info.  @Siedlerchr or @calixtus are you there?

[2020-06-10 05:56] RickVandoorne commented on #6487
I did a test and got the same behavior as @mr-j-s .

If the file path to the ".bib" file has any spaces in it at any point, then when double clicking on the ".bib" file JabRef opens to a blank page, but it does not open the ".bib" file itself.

If there are no spaces in the file path. Then JabRef opens the ".bib" file as would be expected.

This file path did **not** work: "D:\New Folder\Reference

[2020-06-10 05:58] RickVandoorne commented on #6487
I have a space in the path to my desktop which explains why this did not work for me earlier.

[2020-06-10 06:29] Siedlerchr commented on #6487
I could reproduce this as well using a space in the folder. I checked the registry,, there the open with is correctly wrapped in spaces. Maybe an issue with our commandline parser

[2020-06-10 07:56] ilippert opened #6605 "found trace of crash - unknown reason"
On
JabRef 5.1--2020-06-08--b810356
Linux 5.6.16-300.fc32.x86_64 amd64
Java 14.0.1

I found this this morning, a trace from jabref - no idea where it comes from. Do close this issue if this is not interesting. I will report if I find something like this again - but have no idea how it occurred.

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-06-10 09:32] Siedlerchr commented on #6369
Just got mail that the INSPIRE has now an official API:
https://github.com/inspirehep/rest-api-doc

[2020-06-10 09:33] Siedlerchr commented on #6229
@larsgw  FYI: Just got mail from the INSPIRE team, they now have an official API:
https://github.com/inspirehep/rest-api-doc

[2020-06-10 23:29] calixtus commented on #6352
Hi @notuntoward , sorry for the delay. I really can't remember, that JabRef had this feature, but that does not mean, that it had not. However, i'm going to remove the stale and waiting label, so this issue won't be closed, but kept open for someone, who is interested in working on this.
We keep this feature in mind, maybe put this on proposal for a small university project, but please accept my a

[2020-06-10 23:44] ilippert commented on #6559
JabRef 5.1--2020-06-08--b810356
Linux 5.6.16-300.fc32.x86_64 amd64
Java 14.0.1

Issue is still present - Jabref hangs my system... no error messages.

[2020-06-11 02:20] notuntoward commented on #6352
Thanks for the reply.

You can try out the back/forward buttons by installing JabRef 4.x, the latest of which is available [here](https://www.fosshub.com/JabRef-old.html).  I've switched back to this version because of the lack of these controls in 5.x.

Below is a screenshot showing the back/forward buttons on the the 4.3.1 main menu.
![image](https://user-images.githubusercontent.com/3851891/843

[2020-06-11 02:25] notuntoward commented on #6124
Hey @Siedlerchr, I'm getting a "this issue will be removed because you haven't answered a question" warning, yet I _have_ answered the question.  Do you need anything else?

[2020-06-11 06:22] mlep commented on #6447
Sorry for the delay in testing the fix.
The behavior changed, but I am afraid **the issue is not fixed**.
Now (JabRef 5.1--2020-06-09--595f085), the preview cannot be redefined: The changes in the preview (carried out at step 5) are not saved (after step 7). When I go back to the preferences, my changes in the  preview code are not recorded.

[2020-06-11 06:32] mlep commented on #6055
I have tried to reproduce it with JabRef 5.1--2020-06-09--595f085, but could not...
Behavior solved by a PR merged in the meantime?

[2020-06-11 06:32] #6055 closed

[2020-06-11 18:08] Mebus commented on #6073
Hallo,

i get the same problem on Fedora Linux 23:

[code]
My version information is:

[code]

Mebus

[2020-06-11 18:21] Mebus commented on #6073
Is there a workaround for this?

Mebus

[2020-06-13 13:36] Siedlerchr commented on #5522
Thanks to @dextep  the Preview in the preference is now also fixed.
From the comment this leaves us with:

- [ ] OO manage citations dialog
- [ ] [textfields black/only on hover](https://github.com/JabRef/jabref/issues/5522#issuecomment-548921233)

[2020-06-13 14:02] dextep commented on #5522
Can you explain how to reproduce this issue?

[2020-06-13 14:14] dextep commented on #5522
OO manage citations dialog seems to be also done

![image](https://user-images.githubusercontent.com/20928760/84570990-de9dc980-ad90-11ea-9583-98824acb5fdf.png)

[2020-06-13 14:18] Siedlerchr commented on #5522
@dextep  Yes, thanks, the style selection was probably fixed with your preview changes.

The only other dialog is Manage citations:
1. Open new Libre Office writer document
2 Connect to LibreOffice from JabRef
3. Insert some citations/references
4.Open Manage citations

The relevant code is here:
https://github.com/JabRef/jabref/blob/8520833e684aa9e305dd8745e45696ffd6d984fb/src/main/java/org/jabre

[2020-06-13 14:39] AEgit commented on #5522
JabRef 5.1--2020-06-13--be30871
Windows 10 10.0 amd64
Java 14.0.1

Cheers for the improvements. Well done!

Note, however, that the issue with the group coloration and the item number persists, if an item is assigned to a new group (https://github.com/JabRef/jabref/issues/5522#issuecomment-557922759), i. e. you get a grey background colour with a white item count.

Furthermore, the current chosen

[2020-06-13 17:55] dextep commented on #5522
@Siedlerchr unfortunately I can't connect JabRef with OpenOffice, because connecting process doesn't stop.

[2020-06-13 18:04] Siedlerchr commented on #5522
You need at least Version 5.x or newer of Libre Office. And you need to open a (new). document in writer
For Linux you need libre office common Java library

[2020-06-13 18:05] calixtus commented on #5522
refs #6353 #6562

[2020-06-13 21:31] #6541 closed

[2020-06-13 21:31] Siedlerchr commented on #6541
Should now be fixed in latest master (currently building, ready in roughly half an hour)

[2020-06-14 15:36] Siedlerchr commented on #6576
@crystalfp The order of the fields in the CustomEntryTypesDialog now reflects the order of the fields in the entry editor. Note that it still distinguishes between optional/required fields. Fields are grouped by required/optional.
The fields can be reordered with drag and drop.

I would like you to test the current implementation. Maybe you have some ideas how to imrpove the user experience
https:

[2020-06-14 21:51] dextep commented on #5522
@Siedlerchr i have question, how should i set text color here? via .setStyle() and check if the black theme is enabled from `JabRefPreferences` ?

https://github.com/JabRef/jabref/blob/8520833e684aa9e305dd8745e45696ffd6d984fb/src/main/java/org/jabref/gui/openoffice/ManageCitationsDialogView.java#L79-L91

[2020-06-15 05:41] #6589 closed

[2020-06-15 05:41] Siedlerchr commented on #6589
Now fixed in latest master

[2020-06-15 08:24] crystalfp commented on #6576
Thanks @Siedlerchr ! The drad-and-drop works, but it has no effect on the ordering in the entry editor. I put the evergreen `langid` as optional after Number, but in the editor it comes as first entry in the Optional fields tab.

[2020-06-15 14:02] VivaldoMendes opened #6614 "JabRef 5.0 freezes"
I have a problem with JabRef 5.0, which I did not have in older versions.  I am using Windows 10, and the latest versions of Java and JabRef

I used to add a new column entry (which I called Obs), and I added as well an `\href{}` to each title entry -- like this `\href{DOI: ....}{title}`  --  in order to make my life easier with the hyperlinks within citations. It works perfectly with LateX, the p

[2020-06-15 14:38] VivaldoMendes commented on #6614
Well, I have some further news. I installed the latest version of Java and JabRef in a windows 10 machine, kept the package in default mode, no special features added, and it freezes entry after entry.  I can only add a new entry, if I shut down JabRef and re-start it again, time after time.

What is happening? Is it the new version of Java?

[2020-06-15 15:14] Moriaty0o0 opened #6615 "jabref can't parse bib file when the bibtexkey field contains symbol "=""
JabRef 5.1--2020-06-15--ed96faa
Windows 10 10.0 amd64
Java 14.0.1

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

jabref can't parse bib file when the bibtexkey field contains symbol =.
the error information :
error occurred when parsing entry: 'error in line 1626: expected = but received , '. Skipped entry.

for so

[2020-06-15 15:26] Moriaty0o0 commented on #3531
i find the bug in preview with JabRef 5.0--2020-03-06--2e6f433 on windows:
Comment: [Formatter not found: Markdown]

[2020-06-15 16:29] VivaldoMendes commented on #6614
Solved. I was using an old method to create entries into JabRef: {}BibTexsource.  This seems to be not working by now.

Instead, copy + past the BibTex code directly into the main table WORKS perfectly.

[2020-06-15 16:29] #6614 closed

[2020-06-15 19:23] btut commented on #6589
Thanks!

[2020-06-16 05:38] reox commented on #5904
Interestingly, the jumping to the start seems to have disappeared in
[code]
(But I'm not quite sure yet, it is hard to trigger on purpose...)
However, I still get a "The library has been modified by another program" warning which says the comment has changed:
![image](https://user-images.githubusercontent.com/431045/84735583-2c3e5000-afa4-11ea-82d2-160b9a6beca3.png)

[2020-06-16 06:11] Siedlerchr commented on #5904
@reox  We are currently investigating this issue and discovered that it has to do with different line break characters. See #6528

[2020-06-16 15:52] bernhard-kleine commented on #4877
Were any efforts directed to this error? Should we test it with a newer snapshot?

[2020-06-16 16:54] reox commented on #4877
Recently, I did not noticed it *on saving* however, there are still other occurrences - like in the linked issue regarding the comment field.

[2020-06-16 20:00] wujastyk commented on #4877
JabRef 5.1--2020-06-15--ed96faa
Linux 5.4.0-37-lowlatency amd64
Java 14.0.1

Just had this error on saving a single new mvBook entry this morning.

![Screenshot from 2020-06-16 13-56-05](https://user-images.githubusercontent.com/762246/84822166-7c83d500-afd9-11ea-8493-0655aa1cb4cf.png)

I clicked "review changes" but there were none.  Just the text of the entry I had just typed.

![Screenshot from

[2020-06-16 21:52] koppor opened #6616 "Investigate why InaccessibleObjectException occurs"
Refs https://github.com/JabRef/jabref/pull/6519#issuecomment-636326145

[2020-06-17 05:55] mlep commented on #6447
ping @Siedlerchr @leitianjian

[2020-06-17 05:58] mlep commented on #6541
Thank you @Siedlerchr, this is fixed in JabRef 5.1--2020-06-16--bc63ccb.

[2020-06-17 19:33] #6420 closed

[2020-06-17 19:33] #6585 closed

[2020-06-17 19:56] musm opened #6617 "Rename PDF to format doesn't respect title capitalization."
JabRef 5.0--2020-03-06--2e6f433
Windows 10 10.0 amd64
Java 13.0.2  on

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Rename PDF doesn't respect the `title` capitalization. In previous version of JabRef this wasn't an issue.

[2020-06-18 00:16] #3259 closed

[2020-06-18 05:50] krantisaran opened #6618 ""The library has been modified by another program""
JabRef version  on

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Whenever I make any change to an entry in my database, I get a "The library has been modified by another program" message. When I click Review Changes and then Accept Changes, a second later the same message will reappear over and over. If I edit ano

[2020-06-18 07:02] Siedlerchr commented on #6618
Duplicate of #5870 #6525 #6420

[2020-06-18 07:02] #6618 closed

[2020-06-18 11:18] koincidencia commented on #6568
I have the same issue and I think the IEEExplore api key is no longer valid. If I open [the link from the log](https://ieeexploreapi.ieee.org/api/v1/search/articles?apikey=86wnawtvtc986d3wtnqynm8c&querytext=https%3A%2F%2Fieeexplore.ieee.org%2Fdocument%2F131271) in a browser I got the following message: `<h1>Developer Inactive</h1>`

[code]

[2020-06-18 11:28] systemoperator commented on #6394
#6586 slightly reduced the problem, since when the library gets reopened or JabRef gets restarted, then all groups get freshly parsed and properly created now, but the underlying problem still persists in all other cases.

[2020-06-18 11:29] Siedlerchr commented on #6568
@koincidencia  We got a new key and it will be available in the newest developer version soon,
cc @calixtus

[2020-06-19 00:17] telvinzhong commented on #6582
I can take a crack at this!

[2020-06-19 03:27] avm19 opened #6620 "Batch "Cleanup entries" function does not work if order by file name"
The following operation:

does not work properly if applied to **a group of selected entries** when the entries are **sorted by "File"**.

Steps to reproduce:
- [provided some files in the database have absolute path in the "File" field and can be converted to relative paths, and the base directory path is specified for the database to make it possible]
- select those files (shift+Click)
- Quality

[2020-06-19 10:30] StephanJohn opened #6621 ""Printed" and "Readstatus" are not remembered, when removed from "Keywords""
JabRef 5.0--2020-03-06--2e6f433
Windows 10 10.0 amd64
Java 13.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

**The special fields _Printed_ and _Readstatus_ do not work independently of the _Keywords_ field:**

I added the _Printed_ field to show up in the main table. If I click the printer icon next to an "art

[2020-06-19 10:38] Siedlerchr commented on #6621
Hi there is a setting in the preferences, sync special fields to keywords. I guess this setting is enabled and causes the behavior

[2020-06-19 11:22] mlep commented on #6621
Shouldn't the checkbox "sync special fields to keywords" be unchecked by default?
It is not obvious for a user that special fields and keywords are/should/need to be linked, and this leads to confusion.

[2020-06-19 19:24] ilippert opened #6622 "file save does not work when editing bib code in entry editor"
JabRef 5.1--2020-06-13--0432100
Linux 5.6.18-300.fc32.x86_64 amd64
Java 14.0.1

Steps to reproduce the behavior:
1. edit an entry in the source field within the entry editor
2. press ctrl+s
3. close file
4. open file

Effect: the final change was not saved.
it gets saved when the user shifts to another field of the entry editor and then presses ctrl+2.

[2020-06-20 09:48] ilippert commented on #6559
Sorry, it is really quite terrible - jabref simply does not shut down - a process continues to run and slow down my computer. no error messages.

[2020-06-20 10:48] Siedlerchr commented on #6559
Seems to be some linux issue, I cannot reproduce it on Windows. Maybe some file watching is still in the background active?

[2020-06-20 11:43] jhh931 opened #6623 "Serach options (integrated in auto-complete): states not visible"
JabRef version 5.0  on Windows 10

When using Autocompletion (by chacking the box under Preferences -> Entry editor,
the user can toggle 3 options: RegEx (on/off), case sensitivity (on/off)  and Float/Filter.
For the first two, the user cannot see what the current state is.

![Untitled](https://user-images.githubusercontent.com/20792626/85200962-e06d0d00-b2fb-11ea-8f56-6963fc57a361.jpg)

[2020-06-20 11:55] ilippert opened #6624 "exception when filling new group dialog wrongly"
JabRef 5.1--2020-06-17--ef0a6bb
Linux 5.6.18-300.fc32.x86_64 amd64
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. add subgroup
2. collect by keywords
3. generate groups by ... enter "field=specifier"

I recognise this may not be the content expected.

Solution: An err

[2020-06-20 11:56] jhh931 opened #6625 "Settings in Searching: suggest to separate these from autocompletion"
JabRef 5.0 under Windows 10.

Usability of Jabref is reduced for me by the following issue related to searching (i.e. searching for  entries within the current library).

 The options for using RegEx or not and searching case-sensitive or not are only available via Auto-complete:
![Untitled](https://user-images.githubusercontent.com/20792626/85201098-03e48780-b2fd-11ea-83e3-03924edcdcf7.jpg)
. I d

[2020-06-20 12:17] ilippert opened #6626 "columns widths cannot be controlled - independent of subgroup"
JabRef 5.1--2020-06-17--ef0a6bb
Linux 5.6.18-300.fc32.x86_64 amd64
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
no idea

but have a look at this screencast
https://owncloud.itu.dk/index.php/s/i6Gww3znBx4t71A

[2020-06-20 13:24] ilippert opened #6627 "add resolver for jstor"
**Is your suggestion for improvement related to a problem? Please describe.**
I am typically frustrated when I want to integrate a paper from jstor in my library. jstor is a key social science/humanities platform; not all papers/journals come with doi.

**Describe the solution you'd like**
add resolver that can resolve jstor stable links, taking such a form https://www.jstor.org/stable/26878966

[2020-06-20 13:56] ilippert commented on #6559
thanks for reacting. It is running for hours, literally... it must have been introduced, I assume, at some point before 2020-05-29--ed275b6. I am not aware of a change of my file system.

now
JabRef 5.1--2020-06-17--ef0a6bb
Linux 5.6.18-300.fc32.x86_64 amd64
Java 14.0.1

ok, I am testing systematically for some minutes:

- 3 minutes running with 1 file. no problem to shut down, CPU at around 2-10%

[2020-06-20 15:33] EtienneHanelt opened #6628 "Cursor jumps to start of field"
JabRef version 5.1--2020-06-17--ef0a6bb
 on Linux 5.6.0-1011-oem amd64 (Ubuntu 20.04)

- [y] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When trying to type anything, the cursor jumps to the beginning of the field, making it impossible to type. This happens every time. The bug was introduced a couple of weeks ago. I tr

[2020-06-20 16:20] Siedlerchr commented on #6576
Thanks, indeed I could reproduce it. It seems this ordering does not work when it's a non standard field.

[2020-06-20 16:46] sanjayankur31 commented on #6559
I also see this on Fedora 32:
[code]

Often when I've closed Jabref, processes are still running:
[code]

![jabref-processes](https://user-images.githubusercontent.com/102575/85207001-b3315680-b31d-11ea-94e2-21644cd60572.png)

I haven't tried the dev builds yet. I can collect more info if someone can tell me what info is needed.

[2020-06-20 17:22] Siedlerchr commented on #6559
Try a  `kill -QUIT <pid>`  to get thread dump from the jvm

Alternatively
You could try to use jconsole: https://docs.oracle.com/en/java/javase/14/management/using-jconsole.html#GUID-EFDD2B40-6E4B-45E9-84B2-5E6D609065AE
Or you could try jstack to get a thread dump.
https://programmer.ink/think/jdk14-performance-management-tool-introduction-to-jstack.html

[2020-06-20 22:27] ilippert commented on #6559
`kill -QUIT <pid>` does not generate any visible result; process is not killed.

Just to check: for jstack and jconsole - do I need to download jdk14 from oracle?

[2020-06-21 05:25] crystalfp opened #6629 "Icon in start menu is dull"
The JabRef icon in start menu is dull compared to the other icons (see screenshot)
![image](https://user-images.githubusercontent.com/865866/85217338-22e02980-b390-11ea-8624-2a7af86c3d9c.png)
Could the logo be more saturated (the background is OK)?
Thanks!
mario

[2020-06-21 07:24] Siedlerchr commented on #6559
You need jdk 14, you can use the openjdk variant.
https://bell-sw.com/pages/downloads/

[2020-06-21 09:21] limimiking commented on #6568
Encountered the same issue, looking forward to the new version

[2020-06-21 11:11] calixtus commented on #6568
The new ieee-key should now be integrated in the dev builds on builds.jabref.org. Please understand, that we cannot provide the key for builds directly from source, as IEEE has a limited number of access queries and therefore we cannot publish this key in the source like before.

So in the next master build and of course in the next main release, this should be fixed.

[2020-06-21 11:11] calixtus commented on #6568
Please remember to backup your library before testing a dev release.

[2020-06-22 05:34] Siedlerchr commented on #6628
Duplicate of #5904
We are working on a fix

[2020-06-22 05:34] #6628 closed

[2020-06-22 10:17] ilippert commented on #6559
Hi, please find the `jstack -l -e` output in the txt file

[jstack-jabref.txt](https://github.com/JabRef/jabref/files/4812619/jstack-jabref.txt)

[2020-06-22 10:53] Siedlerchr commented on #6559
Thanks, that looks indeed helpful. It is somehow related to the search and to the recent implementation of the authors parser #6552

[2020-06-23 02:11] wujastyk commented on #6627
+1

[2020-06-23 06:08] koppor opened #6636 "Mac OS X: Search for umlauts"
the search function got extremely slow, often stalls after each letter - search does not work anymore for Umlauts and other special symbols like searching for 'M{\"u}ller' [typing 'Müller' neither works as "ü" input via long-pressing "u" doesnt work; typing "Müller" elsewhere and then copying over into Jabref works - quite annoying

Dev version of last week: die beschriebenen Umlautprobleme besteh

[2020-06-23 06:14] koppor commented on #6369
![grafik](https://user-images.githubusercontent.com/1366654/85367428-7fc31780-b529-11ea-97d0-cb47286af7c1.png)

https://github.com/JabRef/jabref/runs/794938868

[2020-06-23 07:05] Siedlerchr commented on #6636
Windows 10:
Entry author `M{\"{u}}ller, P.`
Search works with Müller.
Searching for `M{\"{u}}ller` does not work.

Probably some keyboard layout stuff

[2020-06-23 07:25] ilippert commented on #6400
I have not experienced this bug for a long time.

[2020-06-23 07:27] LyzardKing commented on #6627
@ilippert Did you try importing the reference from the browser extension?
That seems to work for the jstor links.

[2020-06-23 07:32] ilippert commented on #6189
Generally, it might be of interest to query whether journals are listed as open access journals.
https://doaj.org/api/v1/docs

[2020-06-23 07:33] ilippert commented on #6627
thanks for the hint, I m not using any extension.

[2020-06-23 07:42] LyzardKing commented on #6627
With it you can pull the reference directly from the webpage in the browser and import it in jabref

[2020-06-23 15:05] Codeberg-AsGithubAlternative-buhtz commented on #5904
Not disappeared by me. Cursor still jumps in

[code]

[2020-06-23 15:39] wujastyk commented on #6627
Great solution.  Thanks!

[2020-06-24 02:08] alex-petrov-vt commented on #6624
Hi, in this case, would it be a good idea to set delimiter and hierarchical delimiter to some default value (for example ',' and '<'), if none were specified by user. If so, I could probably fix this one.
I am new to open source and I'm just starting to explore JabRef codebase, so I wanted to double check if that adjustment would make sense overall. Thanks

[2020-06-24 12:21] purplewakanda commented on #1134
The same issue exists in the current version

[2020-06-24 15:30] koppor opened #6638 "New fetcher: "Collection of Computer Science Bibliographies""
Example query:

http://liinwww.ira.uka.de/bibliography/rss?query=jabref&sort=score

Result: RSS

Example:

![grafik](https://user-images.githubusercontent.com/1366654/85585543-619c0b00-b640-11ea-8447-d20a0901a3ff.png)

[2020-06-25 07:58] sebastian-boecker commented on #5244
**show the preview as a tab**: You have to restart JabRef after enabling this option so it becomes effective. Is that a bug?

[2020-06-25 08:17] AEgit commented on #5244
@sebastian-boecker : See here https://github.com/JabRef/jabref/issues/5464

[2020-06-25 10:15] mind000 commented on #6602
Hi,
this could be my first time contribution. I've already set up the local project and worked on the issue by myself.

I think I've made the modification needed to retrieve DOI metadata from mEDRA, but I'm facing an issue on several DOIs and I'm waiting an answer from mEDRA team.
Some of their registered DOIs, queried through their content negotiation api at [https://data.medra.org/](https://data

[2020-06-25 10:57] Siedlerchr commented on #6602
@mind000  Welcome! That sounds already good! Thanks for taking this issue. If you don't mind, you can already create a PR so we can review your code changes

[2020-06-25 10:58] liubenyuan opened #6639 "Enable one column libreoffice panels"
**Is your suggestion for improvement related to a problem? Please describe.**
I am using jabref with LibreOffice, the connect panel is 3x3 grid with small icons on top. It is very inconvenient when citing references because the 3x3 grid makes the main panel of jabref narrower.

**Describe the solution you'd like**
would it be possible that this LibreOffice plugin is 1 column, i.e., a side panel.

[2020-06-25 15:25] zackbatist opened #6640 "Better handling of duplicates across groups"
I am importing a series of bib files into distinct groups as part of a literature review. Each bib file may contain entries that appear in other bib files. My goal is to consolidate all duplicates while retaining information pertaining to their membership to multiple groups.

To import, I navigate to an empty group, with the 'automatically assign entries to selected group' field selected in import

[2020-06-26 06:17] krantisaran commented on #4877
I have the same problem. Every time I make any change, the dialog box comes up:

![JabRefDebug1](https://user-images.githubusercontent.com/66490625/85826825-9e801300-b7a2-11ea-8696-eb6652e9c150.png)

Here are my general File preferences:

![JabRefDebug2](https://user-images.githubusercontent.com/66490625/85826872-adff5c00-b7a2-11ea-9a89-e8a534d41022.png)

[2020-06-26 07:51] JoKalliauer commented on #4877
@krantisaran

1)Can you show the differences in the suggested changes? It seems it sees changes in the Title.
2)Does the related entry contain any ampersand (&) ?
3)Can you open the bib-file in a text-exitor that shows the line-endings and ensure that it only contains LF ("\n") but no CR ("\r")?
4)Do you use the current version (something like JabRef 5.1--2020-06) download: https://builds.jabref.o

[2020-06-27 00:26] alex-petrov-vt commented on #6624
#6642

[2020-06-28 02:14] jmdesantos opened #6644 "Uncaught exception"
JabRef version 5.0--2020-03-06--2e6f433 on Ubuntu 18.04

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Tested with development version 5.1: it is the same, and so many warning windows open that freezes the computer.

Upon opening, scrolling down the entries after a few seconds multiple windows titled "Uncaught exce

[2020-06-28 07:47] HankPPeng opened #6645 "Fonts problem of JabRef 5.1"
I cannot change the **font** in Jabref's perference, but the **font size**. I want to change the default font because it looks hard...

[2020-06-28 14:51] krantisaran commented on #4877
Thanks for your questions.

The example was only for illustrative purposes. If I make changes in any field, then all those fields come up as suggested changes.

As best as I can recall, the entries that trigger this error do not contain an amperstand.

I'm sorry, I don't understand what LF and CR endings are.

Yes, I was using the current build 5.1.

Mac.

Hope that helps! Thanks again for all you

[2020-06-28 14:58] Siedlerchr commented on #6576
@crystalfp  Could you please test the latest build from here https://builds.jabref.org/pull/6152/merge/ again?
The issue with the order is now resolved.

[2020-06-28 17:10] wujastyk commented on #6388
Seems to be fixed now.  Many thanks!

![image](https://user-images.githubusercontent.com/762246/85953729-c2249400-b92f-11ea-84b9-04d77abf9183.png)

[2020-06-28 17:10] #6388 closed

[2020-06-28 17:31] rs-aesi opened #6646 "Alt-F3 does not open keyword group view"
I'm running JabRef-5.1.dev (portable linux, 2020-06-24 21:56) and the Alt-F3 chord does not display the keyword groups. Using the menu View -> Groups works.

[2020-06-28 20:40] sambo57u commented on #6644
I can confirm the exact same behavior but it is not happening now. It also always happened at the same location
when scrolling down. It is not happening with the last development version. Did you check it? I had the feeling
it was something to do with translation of title stings with some latex combinations causing a problem.

[2020-06-28 20:51] JoKalliauer commented on #4877
I'm not a developer, but I think they might be helpful

That's a slightly differnet bug than reported originally.
My bug-report was about the message when saving the file, independet if you make changes or not.
Not shure if it should be disscussed here ore you should file a new bug-report. (I would go for a new one, since this one is way too long.)

This are two different characters for starting a

[2020-06-28 21:01] jmdesantos commented on #6644
Yes, I tried w the development version too. It opened so many windows that my computer froze.
Regards,
Juan Manuel

Sent from my iPhone

[2020-06-28 22:14] tobiasdiez commented on #6639
Instead of using a fixed grid, a more flexible layout in forn of a Flowpane should be used. In this way the buttons can still be aligned in rows if there is enough space but move to the next row if the width is decreased. http://www.java2s.com/Code/Java/JavaFX/FlowPanepreferredwidthallowsfortwocolumns.htm

[2020-06-29 05:11] koppor commented on #6621
I remember our internal discussion, that we should migrate the functionality to the groups feature. Therefore tagging as "jabcon".

The development history is that at the introduction of the feature, the developer was not sure what's best: keywords or seperate fields. Some were arguing that "keywords" should be the ones provided by the **publisher** and not be modified (at all costs). Others were

[2020-06-29 07:49] crystalfp commented on #6576
OK, seems to work. The only minor thing is the spacing of the added item in the list. In the Optional Fields tab below I added the `langid` field:
![image](https://user-images.githubusercontent.com/865866/85987184-98ca3d80-b9ed-11ea-9e98-405712b3c15c.png)

[2020-06-29 13:53] ilippert commented on #5904
JabRef 5.1--2020-06-25--d364ffb
Linux 5.6.19-300.fc32.x86_64 amd64
Java 14.0.1

cursor still jumps

[2020-06-29 16:33] krantisaran commented on #4877
Thanks for your response! Your suggestion to activate and deactivate "Always reformat BIB-file on save and export." was very helpful. The prompt still occurs whenever I change an entry, but it now does not cycle endlessly. Progress!

I went through my bib file with a text editor and removed a number of characters that might have caused a problem. The most dramatic change -- and what has rendered J

[2020-06-29 19:40] ilippert opened #6653 "A fatal error has been detected by the Java Runtime Environment"
JabRef 5.1--2020-06-25--d364ffb
Linux 5.6.19-300.fc32.x86_64 amd64
Java 14.0.1

I have no idea how this specific error emerged. however, I can report that it correlated with me logging in as another user simultaneously on my fedora linux work station. when I wanted to switch back, my initial user was not able to get back to the window manager (gnome), i had to restart. after that I found this log

[2020-06-30 03:41] wujastyk commented on #4877
JabRef 5.1--2020-06-25--d364ffb
Linux 5.4.0-39-lowlatency amd64
Java 14.0.1

In case this helps, I use "annote" and "annotate" fields a lot, including
with line breaks, "\\". But I don't have any entries ending "\\}"

[2020-06-30 10:28] DOFfactory opened #6654 "Custom keygenerator modifier not working"

[2020-06-30 10:35] #6654 closed

[2020-06-30 10:59] daniel-price commented on #6638
@koppor Hello, I'd like to start working on this as my first issue.
I've already had a look at the contribution guide and set up the local project, and had a look at some of the other fetchers.

[2020-06-30 11:21] koppor commented on #6638
Thank you for choosing JabRef as project. - Just go ahead. You can create a draft pull request if you want to!

[2020-06-30 13:43] m-mauersberger opened #6663 "Shared PostgreSQL database not fully syncing user inputs"
JabRef 5.1--2020-06-30--5f2b994
on Linux 4.12.14-lp151.28.52-default amd64 (openSUSE Leap 15.1)
with Java 14.0.1

I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When I use shared PostgreSQL database, user inputs are not synced properly. Only the first character is saved to database.

Steps to reproduce the behavior:
1. I have a shared P

[2020-06-30 22:22] alex-petrov-vt commented on #6646
Are you referring to the group interface? If so, the hotkey for that is Alt+3 and not Alt+F3, but I may be misunderstanding your question

[2020-06-30 23:06] rs-aesi commented on #6646
On Tue, 30 Jun 2020, alex-petrov-vt wrote:

I must have mis-typed on my post. Alt-3 does not open the group interface
(nor does Alt-F3). I just tested alt-3 and the group interface did not open.

Regards,

Rich

[2020-06-30 23:50] alex-petrov-vt commented on #6646
Hmm, weird. It seems to be working for me on Ubuntu 20.04 and JabReg 5.1

[2020-07-01 01:06] rs-aesi commented on #6646
On Tue, 30 Jun 2020, alex-petrov-vt wrote:

I run Slackware-14.2/x86_64. Shrug.

Rich

[2020-07-01 06:24] #6604 closed

[2020-07-01 06:25] Siedlerchr commented on #6604
Thanks to @alex-petrov-vt  this should now be fixed in the latest master (currently building)

[2020-07-01 08:03] krantisaran commented on #4633
JabRef 5.1--2020-06-25--d364ffb
Mac OS X 10.15.5 x86_64
Java 14.0.1

I have just got this error while trying to paste a bib entry into the bib source field. The first time the error box came these were the details:

`java.lang.IndexOutOfBoundsException: [ fromIndex: 2, toIndex: 3, size: 1 ]
	at org.jabref.merged.module@5.1.639/com.sun.javafx.scene.control.ReadOnlyUnbackedObservableList.subList(Unk

[2020-07-01 10:16] ilippert commented on #6559
happily I can report that jabref

JabRef 5.1--2020-06-30--5f2b994
Linux 5.6.19-300.fc32.x86_64 amd64
Java 14.0.1

has now been running for 3h without problems - let's see for how long it runs ;)

[2020-07-01 14:11] MelleNi commented on #6501
Same issue here on 10.14.6 with all versions. Absolutely unusable.

[2020-07-01 15:22] Siedlerchr commented on #6338
@domhardt  @ElisEck

You can now use drag and drop to reorder to the fields. The order is now also reflected in the entry editor.
You can't delete the Standard Entry Types. They will be re added upon reopening the dialog. That's actually a safety measure to prevent accidental breaking of JabRef.

The new version (currently building) will be available at
https://builds.jabref.org/master/

[2020-07-01 16:38] wujastyk commented on #6604
JabRef 5.1--2020-07-01--c83ea3f
Linux 5.4.0-39-lowlatency amd64
Java 14.0.1

Confirming the fix.  Many thanks!

[2020-07-01 18:51] #6073 closed

[2020-07-01 20:05] koppor commented on #6663
@abepolk Can you have a look?

[2020-07-01 20:08] koppor commented on #6629
Pull Request welcome

[2020-07-01 23:00] ilippert commented on #6559
ending my observation for the day. jabref successfully ran for 16h, well interrupted by computer sleeping. but still. and CPU use was very low. great, too.

[2020-07-02 17:14] ilippert commented on #6559
I am afraid I must report that the same jabref version has the old behaviour today again ;( too optimistic, I was. So, no visible change.

[2020-07-02 20:54] abepolk commented on #6663
Sure! I'm actually in the final week of a coding bootcamp (a web development training class) and working on my final project, so at this moment I don't have time to write the fix. But I took a look, and it appears similar to a problem I ran into before. I think https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/model/database/event/CoarseChangeFilter.java was meant to address th

[2020-07-02 20:59] abepolk commented on #6663
https://github.com/JabRef/jabref/issues/4461#issuecomment-517959009

[2020-07-03 10:41] ElisEck commented on #6338
@Siedlerchr Tank you so much, works quite well!

[2020-07-03 10:52] bernhard-kleine opened #6666 "Import again: While one entry could be imported via Jabfox, another could not."
JabRef 5.1--2020-07-01--a336842
Windows 10 10.0 amd64
Java 14.0.1

- [ +] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

https://doi.org/10.1186/s12915-020-0760-3 could be imported, while
https://doi.org/10.1210/endrev/bnaa009 could not.
Steps to reproduce the behavior:
1. ...
2. ...
3. ...

<details>
  <summary>Log File<

[2020-07-03 20:53] nonglobal commented on #6367
I appreciate any help.

[2020-07-05 08:34] zoushucai commented on #4633
I had the same problem,
[code]
[code]

[2020-07-05 10:31] Siedlerchr commented on #4633
This seems to be related to the journal abbreviations

[2020-07-05 16:33] Siedlerchr commented on #4633
@krantisaran  Can you please test again with the latest master?  Note that you can also directly paste the bibtex code on the main table.
@zoushucai  Could you please add some steps what you did`?

[2020-07-05 16:35] Siedlerchr commented on #6645
Controlsfx provides a FontChooser diallog: http://fxexperience.com/2013/07/announcing-controlsfx-8-0-1/

[2020-07-05 16:41] Siedlerchr commented on #6644
Could you please check in your bib file if you have save actions defined?  Open the bib file with a text editor and at the end of the file there is something like `@Comment{jabref-meta:...` which lists save actions. Please remove that line.

[2020-07-05 16:48] #6624 closed

[2020-07-05 22:01] AEgit commented on #5735
Second reaction to github-actions bot:
I am not sure, whether this issue should be closed - I report the current situation here:
https://github.com/JabRef/jabref/issues/5735#issuecomment-638083998

If people are happy with this performance, then you can close the issue. But there is definitely still a noticeable delay until the entry preview is shown, if the group item count is displayed. If it is

[2020-07-06 00:22] #6467 closed

[2020-07-06 04:30] bernhard-kleine commented on #5735
For 3264 entries about 7 sec.

[2020-07-06 13:14] bernhard-kleine commented on #5850
This has not been solved. Why do we get this status: stale messages. It is very annoying.

[2020-07-06 13:44] urielz commented on #5650
Closing this now.

[2020-07-06 13:44] #5650 closed

[2020-07-07 05:09] krantisaran commented on #4633
JabRef 5.1--2020-07-06--5e5c137
Mac OS X 10.15.5 x86_64
Java 14.0.1

I don't get *that* particular error again. However the latest build has caused bug #4877 to come back again with endless cycles, and it did cause this error message which may be related to #4633:

`java.lang.NullPointerException
	at org.jabref@5.1.756/org.jabref.gui.collab.EntryChangeViewModel.makeChange(Unknown Source)
	at org.j

[2020-07-07 05:42] LyzardKing commented on #6666
Hi. I tried to import these references and they both work on the latest version of jabref + the extension.
Could you try again after opening the web console of your browser to see a log?

[2020-07-07 06:25] koppor commented on #6645
Nice idea. This will be fixed when https://github.com/JabRef/jabref/pull/6036 is ready to go, since that PR covers more features than "just" the font size

To reduce the number of open issues, I'll close this out. Feel free to comment on https://github.com/JabRef/jabref/pull/6036 asking for a how-to for changing the font size.

[2020-07-07 06:25] #6645 closed

[2020-07-07 06:54] crystalfp opened #6672 "Confused plain text citation to entry"
JabRef 5.1--2020-06-17--ef0a6bb
Windows 10 10.0 amd64
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Paste the following citation (from https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2414478) into "New entry from plain text":
[code]
the result is:
[code]
As you see the authors are messed up and the

[2020-07-07 10:18] bernhard-kleine commented on #6666
As is evident from the partial screenshot, the first item is imported, the endorev entry is not. A log is not possible since jabref is immediately unresponsive. This screenshot with the empty right display is all the is possible.
If you tell me whether there is a way to grab the offending software, I would be willing to try. For me this is a serious blocking of my work.

![grafik](https://user-ima

[2020-07-07 10:28] LyzardKing commented on #6666
The log can be enabled from the browser where you have the extension running.
In firefox you can open from the menu Web Developer > Web Console
in chrome from the menu More Tools > Developer Tools > Console
Then you can press the jabfox button and check the output

[2020-07-07 11:59] koppor commented on #6672
Refs https://github.com/JabRef/jabref/issues/4826 --> https://github.com/JabRef/jabref/pull/5614, because we switched from a shut-down service and afterwards self-made implementation to GROBID.

Maybe, we cannot do anything about it and have to get in contact with the [grobid](https://github.com/kermitt2/grobid/) developers.

I remember a comment many years ago stating: In case there is a DOI in a

[2020-07-07 12:15] crystalfp commented on #6672
Yes! Perfect.
The disappeared manual entry method could have solved the problem of this strange formatted citation. In the current version I'm forced to create an empty entry and manually selecting, copying and pasting the various fields from the citation.
Anyway, JabRef is fantastic, only I don't understand this removal.
Thanks!
mario

[2020-07-07 12:15] #6672 closed

[2020-07-07 12:43] koppor commented on #6672
@crystalfp Are you really talking about following dialog?

![grafik](https://user-images.githubusercontent.com/1366654/86782916-f3077600-c05f-11ea-8d5c-08e3464532c6.png)

You would be the first person I'm meeting who used that dialog! We had a long discussion about the dialog. My wish would be: 1. User pastes text, 2. JabRef identifies fields by using Grobid or other services 3. User can override

[2020-07-07 12:55] Siedlerchr commented on #6672
@crystalfp  as long as you have a DOI you can simply paste it on the maintable and it will be resolved automatically

[2020-07-07 19:08] koppor opened #6677 "Check SourceSpy"
As reported by our link checker, SourceSpy is down:

![grafik](https://user-images.githubusercontent.com/1366654/86829714-04b74080-c095-11ea-91af-aa81a54205f3.png)

We are ignoring the site at link checks from now on: https://github.com/JabRef/jabref/commit/865bf3c15629c07ae550e4a16e33c9853e609634 to get PRs working: https://github.com/JabRef/jabref/pull/6675#issuecomment-655035934

I did not find

[2020-07-08 09:05] zoushucai commented on #4633
@Siedlerchr  Yes, it does have something to do with journal abbreviations. When I loaded a relatively large journal abbreviation table (the csv file has about 12M), the problem appeared,

[2020-07-08 09:18] wangmax0330 opened #6678 "Can't find bundle for base name l10n/JabRef, locale en"
## reproduce
* git clone https://github.com/JabRef/jabref.git
![image](https://user-images.githubusercontent.com/7903596/86901322-09d0ca00-c13f-11ea-877d-5446ce1fced5.png)
* import to idea
* debug JabRefLauncher
![image](https://user-images.githubusercontent.com/7903596/86900783-5bc52000-c13e-11ea-94a6-a632d150a867.png)
## environment
 Windows 10 x64  1903
 jdk-14.0.1
 gradle 6.3

## log
![image](

[2020-07-08 09:22] Siedlerchr commented on #6678
Hi, did you follow the setup guide? https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace#setup-for-intellij-idea

[2020-07-08 09:33] szhorvat commented on #5937
This problem is still present in the released version, and somehow it seems to be by far the biggest annoyance/hindrance when I work with JabRef. I am very much looking forward to a fix.

[2020-07-08 09:42] private0815 commented on #6101
"The F4 shortcut does not work when you open JabRef, but if you right click on any entry just once, then F4 works just fine."

I have the same issue on Windows 10, Ubuntu 19.10 with XFCE, and Ubuntu 20.04 with KDE.

The Ubuntu instances were installed from recent .deb-files, all Jabref 5.

Windows:
JabRef 5.0--2020-03-06--2e6f433
Windows 10 10.0 amd64
Java 13.0.2

[2020-07-08 09:44] wangmax0330 commented on #6678
i  follow the guide ,and this problem is resolved; but  after i run, i  see nothing,the app interface not appear
![image](https://user-images.githubusercontent.com/7903596/86904028-b3658a80-c142-11ea-9ce8-01e2ebff226a.png)

[2020-07-08 09:44] AEgit commented on #6101
@private0815 Can you reproduce the issue with the current dev build?
See here: https://builds.jabref.org/master/

Before installing the dev build, always remember to make a backup of your JabRef database.

[2020-07-08 10:05] #6638 closed

[2020-07-08 10:09] koppor commented on #6678
Select the project:

![grafik](https://user-images.githubusercontent.com/1366654/86906000-2b1bc100-c113-11ea-812d-cbd1115fbdd8.png)

Press <kbd>F4</kbd>

Go to SDKs. Double check that Java 14 is active

![grafik](https://user-images.githubusercontent.com/1366654/86906046-3e2e9100-c113-11ea-85a4-a6acb811571d.png)

Then go to "Projekt" and check that Java 14 is active there, too

![grafik](https://u

[2020-07-08 10:11] private0815 commented on #6101
@AEgit Thanks for your answer.

Yes, same problem, tested on Windows. I can check Ubuntu if necessary later today.

The same behaviour also applies to two other shortcuts, i.e. Ctrl+Shift+O "Open folder", F3 "Open Url or DOI".
Delete, copy and paste work as expected.

I also created a new Bibtex and Biblatex library but the problem persists. Once per JabRef restart the context menu has to be opene

[2020-07-08 10:23] AEgit commented on #6101
JabRef 5.1--2020-07-07--e7bc5d1
Windows 10 10.0 amd64
Java 14.0.1

Ok, I can now reproduce this behaviour. <kbd>F4</kbd>, <kbd>Ctrl+Shift+O</kbd>, and <kbd>F3</kbd> do NOT work, unless you right click any entry at least once. So I can confirm the bug report.

Fortunately, however, at least the current workaround does not require much user interaction. Still, this obviously needs to be fixed.

[2020-07-08 13:35] wangmax0330 commented on #6678
Thank you,i follow the steps;but after i run JabRefLauncher.java ,and still got the problem;i dont know what cased this

[2020-07-08 13:40] Siedlerchr commented on #6678
Did you run ./gradlew assemble?

[2020-07-08 15:04] koppor commented on #6678
The error message indicates that a wrong Java version is used:

![grafik](https://user-images.githubusercontent.com/1366654/86935107-c37a6b80-c13c-11ea-97f3-c84aa8d7dc9f.png)

See the source code of JabRef (found by <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>F</kbd>)

![grafik](https://user-images.githubusercontent.com/1366654/86935248-e9a00b80-c13c-11ea-8d7b-548e0032ec4d.png)

Check the JRE used for r

[2020-07-08 16:55] koppor commented on #6678
In case this still doesn't work, please provide Screenshots of the JDK you have configured. Just to double-check. We recommend [Snipaste](https://www.snipaste.com/) as screenshot tool.

[2020-07-08 17:17] Siedlerchr commented on #6678
It's probably not the Java version which causes the problem but missing ressources.it's a misleading error message.

[2020-07-08 18:21] koppor commented on #6678
The mentioned message is only output if the Java check fails. I checked the provided screenshot again and hightlighted two things: 1. Java 1.8.0 Update 171, 2. the error message only being output at that part of the code.

![grafik](https://user-images.githubusercontent.com/1366654/86955847-87550400-c158-11ea-9c2d-011f45c2e6f4.png)

[2020-07-09 00:21] #6262 closed

[2020-07-09 00:21] #6562 closed

[2020-07-09 01:14] wangmax0330 commented on #6678
please look at this ,
## Project Structure
![image](https://user-images.githubusercontent.com/7903596/86985646-527e9680-c1c4-11ea-8963-26548e6abaa7.png)
![image](https://user-images.githubusercontent.com/7903596/86985656-59a5a480-c1c4-11ea-9de7-c7537da47415.png)
## run configuration
![image](https://user-images.githubusercontent.com/7903596/86985627-472b6b00-c1c4-11ea-8d78-6b3a48668a31.png)

[2020-07-09 01:19] wangmax0330 commented on #6678
i use jdk14.0.1
java9Fail is true,but versionFail is false;
![image](https://user-images.githubusercontent.com/7903596/86986006-2d3e5800-c1c5-11ea-9c7a-50f435a2b410.png)

[2020-07-09 02:55] wangmax0330 commented on #6678
Everybody,i have resolve this problem;
i used LibericaJDK-14 rather than oracle jdk 14, and have everything done!
why the oracle cannot run still a question

![image](https://user-images.githubusercontent.com/7903596/86991817-92e51100-c1d2-11ea-9085-d172e3f744c6.png)
![image](https://user-images.githubusercontent.com/7903596/86991805-8f518a00-c1d2-11ea-8769-85e4d0799846.png)
![image](https://user-

[2020-07-09 04:25] koppor commented on #6678
Good to hear that it runs now.

I assume you run JabRef with the internal IntelliJ runner (and not with gradle) - as recommended in the "getting started guide".

[JavaFX is not part of the default JDK any more](https://www.reddit.com/r/java/comments/82qm9x/javafx_will_be_removed_from_the_java_jdk_in_jdk_11/). It needs to be installed separately if not using a special JDK. This is what you encounte

[2020-07-09 09:48] #6602 closed

[2020-07-09 09:56] AEgit commented on #6101
@Siedlerchr Can you please reopen this issue?

[2020-07-09 21:44] k3KAW8Pnf7mkmdSMPHz27 commented on #3920
I can try to fix this one.

[2020-07-09 22:11] koppor commented on #3920
This is a hard one, but just goahead!

[2020-07-10 07:44] zongxian commented on #6487
If the path contains Chinese characters, it will have the same error.

[2020-07-10 19:41] k3KAW8Pnf7mkmdSMPHz27 commented on #3920
@koppor **right now** directory names are allowed to contain unicode. Unless there have been complaints, shouldn't that remain the case?

I currently believe there are two issues the solution depends on
1. Is unicode allowed in the directory path?
2. Is it too much of a performance hit to call the `LatexToUnicodeAdapter`? (the "latex-free" string will not have been cached)

I prefer to use the `La

[2020-07-10 20:41] Siedlerchr commented on #3920
Unicode path names are perfectly valid.
you can even use emoji on windows 10.

https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#file-and-directory-names

Regarding performance. Don't know but I would also go for the latex2unicode adapter. Seems reasonable to me. Don't you have the latex free author already in the author list class?
The author patterns are just equivalent to meth

[2020-07-10 20:57] k3KAW8Pnf7mkmdSMPHz27 commented on #3920
@Siedlerchr , @koppor earlier pointed out that,

but perhaps that is only relevant for the bibtex key? I am not entirely sure about the use case (except for organizing pdfs). Does people use it to organize plots, etc. that they later import into a .tex file?

No, the latex-free methods cache full "patterns" (e.g., `authorsLastOnly`), unfortunately not individual authors or this particular pattern.

[2020-07-10 21:04] k3KAW8Pnf7mkmdSMPHz27 commented on #3920
Actually, you could use `AuthorList#getAsLastNamesLatexFree` and parse that string. That would remove the performance bottle-neck at the cost of having a "hacky" solution.

[2020-07-10 21:12] k3KAW8Pnf7mkmdSMPHz27 commented on #3920
Never mind. Unless the user has the exact right preferences it would amount to the exact same solution but with an extra split operation at the end.

`Author`s fields are currently not latex-free. I'd consider it an option to change that, and cache latex-free `Author`s instead of `AuthorList`s.

[2020-07-11 18:12] Siedlerchr commented on #5904
I think i fixed the issue with cursor jumping. This might also fix the library changed.
Could you please test this version from here? https://builds.jabref.org/pull/6528/merge/

[2020-07-12 07:56] ilippert commented on #5904
thanks a lot!

JabRef 5.1-PullRequest6528.793--2020-07-11--93eaf4f
Linux 5.7.7-200.fc32.x86_64 amd64
Java 14.0.1

seems to have fixed this, tells my 10 min testing. i would post it here, if it reappears anytime soon?

[2020-07-12 09:18] Siedlerchr commented on #5904
Yes, if you encounter the problem again with that version please let us know.

[2020-07-12 09:19] Siedlerchr commented on #4877
Could you please test this version? https://builds.jabref.org/pull/6528/merge/

[2020-07-12 12:00] #6678 closed

[2020-07-12 14:20] bernhard-kleine commented on #4877
Firstly, I added a Journal name and immediately hit Ctrl-S, that worked, then I added at year to the next entry and that gave

![grafik](https://user-images.githubusercontent.com/9216487/87248741-858e8780-c45b-11ea-808f-d57d15402a06.png)

[2020-07-12 14:32] ilippert commented on #4877
JabRef 5.1-PullRequest6528.793--2020-07-11--93eaf4f
Linux 5.7.7-200.fc32.x86_64 amd64
Java 14.0.1

"The libary has been modified by another program" is still there.

[2020-07-12 14:35] ilippert commented on #4877
just as a reminder / for info, the `java.nio.file.NoSuchFileException` "error" was also discussed at
https://github.com/JabRef/jabref/issues/6102

[2020-07-12 14:37] ilippert commented on #6102
these days I have been seeing the phenomenon again - the same as in https://github.com/JabRef/jabref/issues/4877#issuecomment-657228272 I guess?

[2020-07-12 15:13] ilippert commented on #6559
JabRef 5.1-PullRequest6528.793--2020-07-11--93eaf4f
Linux 5.7.7-200.fc32.x86_64 amd64
Java 14.0.1

a correlation: when jabref CPU use goes up, I cannot save the library anymore.

[2020-07-12 16:50] Siedlerchr commented on #6102
The problem lies here:
https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/logic/exporter/AtomicFileOutputStream.java#L196

And I finally found the root cause. It's a threading problem when you have austosave enabled and at the same time manually hit save.
The Autosave Backup manager also calls the writer.close method, through a different path.
T

[2020-07-12 18:29] tobiasdiez commented on #6102
What about writing to a unique temporary file (in the users temporary file folder, with some random name)? Then you don't need to worry about locking etc (since the `move` command is atomic).

Moreover, I think, it's time to finally remove the BackupManager stuff...simply make a copy of the bib file upon loading a library (and say keep the last 10 versions). We run into so many problems with the b

[2020-07-12 18:33] ilippert commented on #6102
I see mozilla and others simply writing to `/tmp/` - i do not know whether that is possible for all unixes. but it would make sense to me.

in case the BackupManager is to keep x versions, I would say: let the user define x. I suggest so because many users will have already other backup/versioning software and might constrain x to 1; and other might like a higher number of backup versions.

[2020-07-13 17:18] ilippert opened #6684 "unknown exception"
JabRef 5.1--2020-07-13--6344401
Linux 5.7.7-200.fc32.x86_64 amd64
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

sorry, no idea yet, when this exception occurs. it occurred a few times whilst adding new entries.

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-07-13 17:52] Siedlerchr commented on #6684
It's related to the autosave backup manager which is on the wrong thread. Nothing critical.
I hope I find some time to work on that general restructure of thatautosave backup

[2020-07-13 18:00] DaniloMurer opened #6685 "Cannot run JabRef from Source"
Hello together,

I wanted to run JabRef from source following the documentation: https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.

Everything builds correctly with gradle except that if I'm trying to run it, I get an error.
The error looks like following:

![2020-07-13 19_59_58-JabRef – JabRefMain java  JabRef main  IntelliJ IDEA](https://user-images.gi

[2020-07-13 18:01] ilippert commented on #6684
by now I have autosave disabled. but exceptions still take place.

[2020-07-13 18:26] j0hannes opened #6686 "Two versions of module org.jabref found"
JabRef version 5.1 on Linux (latest build)

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

JabRef won't run because of the following problem:
[code]

Steps to reproduce the behavior:
1. Install JabRef from JabRef-5.1-portable_linux.tar.gz (I use the Arch package that I maintain, but that shouldn't make a difference

[2020-07-13 18:42] Vince250598 commented on #6391
I looked into it and i have a few questions i'm asking myself.
First, i noted that almost every tab has its own previewPanel(Required fields, Optional Fields, Deprecated Fields, Other Fields, General, Abstract, Comments). I really don't think it's necessary to have one per tab, correct me if there's a reason.
I think this is the reason for this issue: when debugging i was looking at PreviewPanel's

[2020-07-13 19:41] Siedlerchr commented on #6685
Hm, that looks like some intellij stuff. Does a ./gradlew run on the command line in the folder work?
And we recently noticed that some people had problems with jdk versions that do not contain a javafx installation. In that case we recommend the liberica jdk:
https://bell-sw.com/pages/downloads/?version=java-14&package=jdk-full

[2020-07-13 19:44] Siedlerchr commented on #6686
Do you clear the lib directory before copying over the new stuff? Seems like you have some old leftovers.
Due to the installer requirements the jabref libs are named  with an increasing minor number everytime a build is produced.
I downloaded the latest master and it contains only one version: JabRef-5.1.791.jar

[2020-07-13 20:09] Siedlerchr commented on #6391
Thanks for tackling this issue! I took a quick look and experimented and could confirm that each tabs has it's own instance of preview panel associated.
And to maybe solve the mystery, I think the issue lies here:
https://github.com/JabRef/jabref/blob/7cc57474b7aa991ef6ea148d4030d4bb68ee69bf/src/main/java/org/jabref/gui/entryeditor/EntryEditor.java#L230-L248
You are effectively creating a new Inst

[2020-07-13 20:28] DaniloMurer commented on #6685
Hello @Siedlerchr,

With the gradlew run command everything worked. Is there a fix so I can run it with Intellij?
Otherwise I think it doesn't matter.

Thank you very much.

Greetings from Switzerland

[2020-07-13 20:31] Siedlerchr commented on #6685
Another use recently had the same issue, maybe this screenshot help : https://github.com/JabRef/jabref/issues/6678#issuecomment-655425132
cc @koppor

[2020-07-13 20:36] j0hannes commented on #6686
OK, my bad. It seems the src directory wasn't cleaned up and so files of previous versions made it into the package. I should have wondered why this time the package had twice the size of its predecessor.

[2020-07-13 20:36] #6686 closed

[2020-07-14 09:19] Codeberg-AsGithubAlternative-buhtz commented on #5904
Can confirm the fix for this version
[code]

[2020-07-14 11:08] DaniloMurer commented on #6622
Has anyone picked this issue up? If not I'd like to give it a try.

[2020-07-14 11:43] Siedlerchr commented on #6622
@DaniloMurer  You can take a look at it. But be warned that the source code editor tab is a complex issue and modications can produce nasty side effects. The code is in gui/entryeditor/SourceTab,java.
I guess it's related to the focusedPropertyListener

[2020-07-14 13:54] DaniloMurer commented on #6622
Ok thanks for the advice and the warning. I'm going to try my best maybe I can find a solution to this.

[2020-07-14 14:33] DaniloMurer commented on #6622
I'm new to this whole Open-Source project, so I wanted to ask why I'm not able to create a new branch and how I can move the issue inside of the project.

Thanks in advance

[2020-07-14 14:35] Vince250598 commented on #6391
The problem is that when i'm in the Required fields and i press F9 to cycle through the preview layouts, it doesn't change the preview panel associated with the required fields tab, it changes the one in the comments tab. It's as if F9 didn't act on the right PreviewPanel. But when i use the popup menu it works as intended.

[2020-07-14 14:43] Siedlerchr commented on #6391
Okay that's weird, but sounds like  that somewhere the key listener in the wrong panel is triggered or takes precedence over another.
You might want to check the key listener events, e.g. In which tab the event is executed.

[2020-07-14 14:46] Siedlerchr commented on #6622
Feel free to ask here or in the developer channel. You might want to read the contribution guide for our contribution process
https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md

[2020-07-14 14:52] DaniloMurer commented on #6622
Ok thank you very much. I got it how to make the branch so that's not a problem anymore.

Greetings

[2020-07-14 15:36] Vince250598 commented on #6391
The problem is there for the other shortcuts of the popup menu: previous preview layout and copy preview. Altough, copy preview works properly if you click in the PreviewPanel before copying, if you don't click it just copies the last PreviewPanel that you clicked(in another tab for example)

[2020-07-14 19:52] Vince250598 commented on #6263
I think it's fixed in the unreleased(development) version. When i download JabRef from Github i don't have this issue but when i download it from the website this issue persists.

[2020-07-14 21:30] ilippert commented on #6263
I confirm - thus closing this for now

[2020-07-14 21:30] #6263 closed

[2020-07-14 22:04] koppor commented on #6685
What does `git status` output? Was the run command modified in some way?

[2020-07-15 04:08] hebinhao1993 opened #6688 "Can JabRef automatic save (.bak,.sav) file in ~/.cache/jabref/ rather than the directory of the bib file"
JabRef will genereate .bak and .sav file in the directory of the bib file. Can JabRef support generate these file in the diretory like ~/.cache/jabref/<the path of bib file>

[2020-07-15 06:30] Siedlerchr commented on #6688
Currently not, but we are trying to change that backup concept as it can lead to timing issues when autosave is enabled,
Refs #6453

[2020-07-15 06:36] DaniloMurer commented on #6685
@koppor I did run git status on the master branch, I didn't modify anything on the run configuration. It just won't work when I'm running it through Intellij. The `gradlew run` command does work though.

[2020-07-15 07:23] hebinhao1993 commented on #6688
Thank you for your reply.

[2020-07-15 09:54] koppor commented on #6685
This is Oracle JDK, isn't it? Quick fix: Change the runner to Gradle in IntelliJ.

 Other fix: Install LibericaJDKFull (the "full" is important! - choco install libericajdk-full). This is what Christoph meant in https://github.com/JabRef/jabref/issues/6685#issuecomment-657753592.

[2020-07-15 10:23] DaniloMurer commented on #6685
@koppor I used the Oracle Open JDK 14 with JavaFx installed via Jmods. I'll try to change the runner to Gradle.

Greetings

[2020-07-15 10:45] DaniloMurer commented on #6685
So I found a fix to my little problem.

So if someone also has these problems follow the following steps:

First make sure that everything is set up according to the documentation: https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.

After that create a new Gradle run configuration in intellij:
![SNAG-0786](https://user-images.githubusercontent.com/2973610

[2020-07-15 10:53] koppor commented on #6685
Thank you for the update.

I can see that you can handle IntellIj settings with ease. May I ask whether you cold spend some time to install LibericaJDKFull alongside the OpenJDK and configure IntelliJ to use it? That way, I would be enabled to claim that following the workspace setup guideline really includes setting up LibericaJDKFull.

The other reason I'm asking is that development speed signif

[2020-07-15 11:00] DaniloMurer commented on #6685
@koppor Yes I can give it a try this evening and give some feedback how it worked out.

[2020-07-16 07:55] mlep opened #6690 "Selecting a group impacts column width"
JabRef 5.1--2020-07-13--6344401
Linux 4.9.0-12-amd64 amd64
Java 14.0.1

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

With "all entries" selected in the group panel, column width can be adjusted by grabbing the column separator and moving it sideways. This is the expected behavior.
But after selecting a subgroup an

[2020-07-16 08:17] mlep opened #6691 "Groups: "All entries" not highlighted on start-up"
JabRef 5.1--2020-07-13--6344401
Linux 4.9.0-12-amd64 amd64
Java 14.0.1

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

A minor UI inconsistency:
On start-up, JabRef displays all entries, but the group "All entries" is not highlighted.

[2020-07-16 12:21] tobiasdiez commented on #6685
Also the Console should have a more detailed output of what actually went wrong (the screenshot above doesn't include any information about the error).

[2020-07-16 15:18] koppor commented on #6688
On Windows, there could be `%APPDATA%` used.

[2020-07-17 15:08] Vince250598 opened #6692 "Cannot build source code, com.tobiasdiez.easybind.EasyBind.listBind doesn't exist"
- [yes] : I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. clone JabRef github repository
2. try to gradle build
3. build fails: jabref/src/main/java/org/jabref/gui/JabRefFrame.java:992: error: cannot find symbol
            EasyBind.listBind(taskProgressView.getTasks(), stateManager.getBackgroundTasks(

[2020-07-17 15:15] #6625 closed

[2020-07-17 15:16] Siedlerchr commented on #6625
Thanks to @calixtus  this should be fixed now in the latest master

[2020-07-17 15:16] Siedlerchr commented on #4907
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-07-17 15:16] #4907 closed

[2020-07-17 15:19] Siedlerchr commented on #6692
Thanks for mentioning, I just saw this at our CI server as well
Ping @tobiasdiez

[2020-07-17 15:20] Vince250598 commented on #6692
should i make a pull request to update the function name to bindContent, i read it changed to this name in the EasyBind commit history

[2020-07-17 15:22] Siedlerchr commented on #6692
Yes, go ahead!

[2020-07-17 15:24] #6453 closed

[2020-07-17 15:25] Siedlerchr commented on #6453
The multiline comment issue just got merged. Please wait until the new development version is ready

[2020-07-17 15:33] #6692 closed

[2020-07-17 16:23] tobiasdiez commented on #6692
Thanks for reporting and fixing this @Vince250598!

[2020-07-17 16:26] tobiasdiez commented on #6677
As the build fails again because some link is (temporarily) down, I think the link checker should work similar to the fetcher tests (i.e. don't run every time etc) and not as part of the checkstyle tests...

[2020-07-17 16:42] Siedlerchr commented on #6102
@tobiasdiez  The backup manager is not that problem it's the autosave manager.
change anything in a field. Autosave is triggered. Now hit a manual save repeatedly
The autosave manager also calls the writer.close in the savePartOfDatabase which then triggers the file moving. However, as it's a move, the original file is already moved.

I also discovered an issue with the FileOutputStream locking. T

[2020-07-17 17:27] koppor commented on #6677
I wrote the SourceSpy guys. No reply yet. We still need to keep the check to be reminded that the site is down. Nevertheless files a PR moving the check to a monthly one. See https://github.com/JabRef/jabref/pull/6695.

[2020-07-17 19:55] tobiasdiez commented on #6102
Yeah I understand, that's why I suggested that every write process should have their own temporary file.

[2020-07-18 03:06] wujastyk opened #6696 "Add option to resolve ARK references, from Archive.org etc. simliar to DOI"
Archive.org auto-assigns an [Archival Resource Key](https://en.wikipedia.org/wiki/Archival_Resource_Key) (ARK) to every item in its collection.  ARKs are used by other institutions too.  They function pretty much in the same way as DOIs.  The main resolver for ARKs is [http://n2t.net](http://n2t.net).  They are designed to be persistent URIs.  Many people use the ordinary URL of items in Archive.o

[2020-07-18 10:38] koppor opened #6697 "Failing architecture tests"
Just as to remind that this is known, but not yet fixed.

We cannot fix it today, but hopefully a PR will come in soon.

[code]

[2020-07-18 10:53] jhh931 commented on #6625
I am now testing the Portable version of:

- JabRef 5.1--2020-07-13--6344401
- Windows 10 10.0 amd64
- Java 14.0.1

The GUI elements I would expect based on [Rework search bar #6682](https://github.com/JabRef/jabref/pull/6682) are not visible for me.

![Capture](https://user-images.githubusercontent.com/20792626/87851013-0edb0980-c8f5-11ea-9d26-516b04eb861f.JPG)

Please let me know if I can do add

[2020-07-18 11:02] Siedlerchr commented on #6625
@jhh931  Please install the latest version (18.07)

[2020-07-18 11:02] Siedlerchr commented on #6697
It depends on OS.newline which is in logic. Need to move OS to model as well

[2020-07-18 11:08] calixtus commented on #6625
The buttons should be visible if you click on the search bar in the most recent development version.

Remember to always backup your data before using a development version.

[2020-07-18 18:38] jhh931 commented on #6625
Check: in V 18.07, the buttons appear when clicking on the search bar.
So on this point we're OK.

(This version does have another issue w.r.t. files linked to my entries; should I report this?)

[2020-07-18 19:03] Siedlerchr commented on #6625
Please open a new issue for the problem with the linked files

[2020-07-18 20:47] AEgit commented on #6101
@Siedlerchr Has this issue now actually been fixed? Or was this issue mistakenly closed by the github-actions bot?

[2020-07-18 21:03] Siedlerchr commented on #6101
Sorry I forgot to remove the labels the last time.
Thanks for your investigation.
So an easy fix would be to auto select the first entry when starting jabref

[2020-07-18 21:51] jhh931 opened #6698 "Cannot find linked files"
JabRef 5.1--2020-07-18--ee2c985
Windows 10 10.0 amd64
Java 14.0.2
The portable version.

Under the General tab, linked files are reported as 'cannot find' and attempting to open them has no effect.

In the GUI I see this:
![Untitled](https://user-images.githubusercontent.com/20792626/87862507-3bbd0a00-c951-11ea-9d0c-c43fb51b9f98.jpg)

The Bibtex file portion is

And the file 'c:\Users\hogemajh\App

[2020-07-18 21:51] jhh931 commented on #6625
Done:
https://github.com/JabRef/jabref/issues/6698

[2020-07-19 12:24] rezaeimohammad commented on #6073
I have same problem with Jabref.
It is possible to write clear solution about it?

[2020-07-19 13:17] Mebus commented on #6073
Maybe rebooting your systems helps :-P

Mebus

[2020-07-19 13:53] rezaeimohammad commented on #6073
Thanks
Yes, But the rebooting system is the final solution. I have several open application and I can not reboot my system for each time.

[2020-07-19 14:17] Siedlerchr commented on #6073
https://docs.jabref.org/faqgeneral#q-unable-to-monitor-file-changes-please-close-files-and-processes-and-restart-you-may-encounter-errors-if-you-continue-with-this-session

[2020-07-19 14:55] rezaeimohammad commented on #6073
thanks, Now Jabref work perfectly

[2020-07-19 22:05] koppor opened #6699 "Using master of forks is dangeours"
1. We update `master` in a GitHub actions "cron job".
2. The `master` of forks is also updated
3. The updates of the forks do NOT happen at the same time
4. That leads to **different** commit ids at each `master` branch
5. That leads to strange pull requests, when conributors merge `master` instead of `upstream/master` (strange behavior e.g. at https://github.com/JabRef/jabref/pull/6641#issuecomme

[2020-07-20 02:07] krantisaran commented on #4877
JabRef 5.1--2020-07-18--ee2c985
Mac OS X 10.15.6 x86_64
Java 14.0.2

The problem seems to have gotten worse.

Now, when I try and add an entry, JabRef for some reason wants to delete scores of entries for no apparent reason:

![JabRefErrors](https://user-images.githubusercontent.com/66490625/87892766-9fcbf500-ca5b-11ea-9c10-b8bb635464bc.png)

Opening this version of JabRef, I also noticed that all

[2020-07-20 02:16] krantisaran commented on #4877
And when I try and save the file having "unmark all changes" I get this error:

`org.jabref.logic.exporter.SaveException: Problems saving: java.io.IOException: Error in field 'TITLE of entry Jackson1990a': Braces don't match. Field value: Luminous Mind Among the Logicians -- An Analysis of {P}ram\=a\{d}nav\=arttika
	at org.jabref@5.1.800/org.jabref.gui.exporter.SaveDatabaseAction.saveDatabase(Unkn

[2020-07-20 06:31] Siedlerchr commented on #4877
Please try to delete the .bak file next to your jabref file and also hit dismiss when you encounter the library has changed

[2020-07-21 04:23] krantisaran commented on #4877
Thanks. I deleted the .bak file (without closing and restarting JabRef) but it didn't allow me to do so:

`org.jabref.logic.exporter.SaveException: Problems saving: java.io.IOException: Error in field 'TITLE of entry Jackson1990a': Braces don't match. Field value: Luminous Mind Among the Logicians -- An Analysis of {P}ram\=a\{d}nav\=arttika
	at org.jabref@5.1.800/org.jabref.gui.exporter.SaveDataba

[2020-07-21 05:57] Siedlerchr commented on #4877
@krantisaran  The error says it clear, you have a missing or wrong curly brace in the field:
`TITLE of entry Jackson1990a': Braces don't match. Field value: Luminous Mind Among the Logicians -- An Analysis of {P}ram\=a\{d}nav\=arttika`

[2020-07-21 06:31] krantisaran commented on #4877
Thanks! Fixed now -- there was a duplicate entry I hadn't noticed (I had fixed it in one but not the other). Sorry, I should have caught that myself.

(Unfortunately, the library has been modified message continues).

[2020-07-21 06:40] tobiasdiez commented on #5031
There is some initial progress at #5378, but I don't have time right now to work on this further. @anyone fell free to reuse it as a basis for your own PR.

[2020-07-21 10:20] amaxi99 opened #6704 "JabRef freezes on Windows 10 with autocompletion feature"
JabRef 5.1--2020-07-20--df8b2e5
Windows 10 10.0 amd64
Java 14.0.2

During entering text in any text box with autocompletion activated CPU load goes up to almost 100% and the system almost freezes (even for text boxes for which no autocompletion is used). JabRef has to be closed. After closing there is still a "JabRef" entry in the Task Manager using all CPU power which has to be killed.

With auto

[2020-07-21 12:05] ilippert commented on #5882
JabRef 5.1--2020-07-20--9cd9390
Linux 5.7.8-200.fc32.x86_64 amd64
Java 14.0.2

open file (F4) works for me on Fedora Linux.

In my reading, this issue can be closed.

[2020-07-21 12:59] #5882 closed

[2020-07-22 09:28] AEgit commented on #5882
JabRef 5.1--2020-07-20--9cd9390
Linux 5.4.0-42-generic amd64
Java 14.0.2

Hmmm, it does not crash for me anymore, but there are other issues:

1) Every time I try to open a PDF, a new window "Open with" opens, which asks me which application should be used to open the PDF. Given that the default PDF reader should be set in Ubuntu (if I doubleclick a PDF in the file manager, it will automatically o

[2020-07-22 22:09] stefan-kolb commented on #6605
Thanks for reporting. I think we will need more information to reproduce this, tho. So please feel free to raise this issue again when it occurs to you again in a known context!

[2020-07-22 22:09] #6605 closed

[2020-07-23 14:40] mlep opened #6705 "Main table: linked files and identifiers: inconsistencies"
JabRef 5.1--2020-07-20--9cd9390
Linux 4.9.0-13-amd64 amd64
Java 14.0.2

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

This is about 2 inconsistencies in the user interface concerning the _Linked identifiers_ column (in comparison with the _Linked files_  column):
- When several files are linked to an entry, a speci

[2020-07-24 05:46] reox commented on #5904
I'm on
[code]
and still have this issue :(. On some occasions the cursor will  jump to the beginning of the comment field.
Should the fix be in that version already? Or do I need to fix the library file first or something like that?

[2020-07-24 09:52] m-mauersberger commented on #6663
Thank you for caring for my problem with JabRef. May I ask if there is already a light at the end of the tunnel, i.e. the bug appears to be fixed in one of the next commits? Or is it still open?

I'm sorry for being too impatient... At the moment, solving this issue decides whether my colleagues and I can use the software at all or not.

[2020-07-24 12:31] abepolk commented on #6663
My pleasure. I am not sure it is fixed - I do not remember fixing it myself. If anyone else wants to look into this, see my comment above and the comment before the one linked to.

[2020-07-24 21:44] AEgit commented on #6698
Just an idea - could you link a file that is found in folder whose path does not contain spaces (in your example "My Local Documents" contains spaces). I remember, that this caused some issues in the past, but I thought it had been fixed in the meantime.

[2020-07-25 06:47] mattys101 opened #6707 "Improvement of Duplicate Detection"
Please see the original write-up for this on the features request page: https://discourse.jabref.org/t/more-control-on-the-duplicate-finder/120/8

Adding the issue here based on the recommendation of Chirstoph's response to the above.

[2020-07-26 15:32] Siedlerchr commented on #6699
Something like this should work:` if: github.repository == ‘JabRef/jabref’`

[2020-07-27 00:47] ddunig2 commented on #6639
I can make this change if that's alright.

[2020-07-27 06:30] Siedlerchr commented on #6639
@ddunig2  Sure, go ahead

[2020-07-27 10:40] m-mauersberger commented on #6663
I had a look at the concerning File `CoarseChangeFilter.java` and have a question about:
At which exact instant `FieldChangeEvents` are fired? Is there an event for every single text input or for every 'completed' field? In the latter case, maybe it would be better to link the Filter to this event of completion. Does `FieldChangedEvent` depend directly on the GUI input or indirectly on some specia

[2020-07-27 15:41] Siedlerchr commented on #6697
Argh. It depends on l10n which is also in logic. Should I add an exception for this case?
I know the reason for our architecture, but due to one instanceof check I already had to move OS and NormalizeCleanupFormatter down to model.

[2020-07-27 16:00] Siedlerchr commented on #6369
Springerlink is giving m,e 401 locally when I debug

[2020-07-27 16:34] koppor commented on #6369
@DominikVoigt Can you confirm for SpringerLink? 😅

[2020-07-27 17:10] DominikVoigt commented on #6369
If I supplement the API key that is hardcoded into the SpringerLink fetcher with my own API key all tests execute.

[2020-07-27 17:14] koppor commented on #6697
Please try to keep model with inbound dependencies only. This allows for offering JabRef as a programming library.

[2020-07-27 17:24] hemantgs commented on #6574
Hi @koppor
Is this issue available, for me to work on ?

[2020-07-27 17:37] koppor commented on #6574
Sure, shouldn't be too hard. - The hard part is to understand the style and the idea/implementation of JabRef's pre-defined types. The code itself will be may be 10 to 50 LOC.

[2020-07-27 17:48] hemantgs commented on #6574
Cool,

I was just going through the code at avery high level,  figured adding the new _biblatex-software_ entries to the `StandardField`  enum would make it available for `BibEntry.java`
Am I on the right track ?

[2020-07-27 18:16] mlep commented on #6690
@koppor @Siedlerchr @tobiasdiez
I have noticed that you are getting ready to release version 5.1 of JabRef.
I want to attract your attention on the present issue: if other users have the same issue, that will block them from using version 5.1.

[2020-07-27 19:58] koppor commented on #6574
Does the GUI behave differently then? - This is a good first issue, because one needs to go through the code and understand, what's happening why. And why somewthing does not happen if one changes something. I assume, you know the "call hierarchy" feature etc? Ctrl+Mouse-click

[2020-07-27 20:01] #6699 closed

[2020-07-27 20:13] koppor commented on #6663
Doesn't the JavaDoc indicate something? We kindly invite you to investigate further. All core developers are occupied by other tasks (more than the visible 306 isses). In case you don't have time, we have to hope that someone dives into here (or that enough money is coming in (via [donations](https://donations.jabref.org)) that we can fund a developer.

[2020-07-27 20:19] koppor commented on #5771
Should be fixed now.

[2020-07-27 20:19] #5771 closed

[2020-07-27 20:38] tobiasdiez commented on #6340
The size of the installer should now be drastically smaller. Can you please check if the webkit issue is still present, and in case it is how you discovered that all os-specific versions are shipped. Thanks!

http://builds.jabref.org/master/

[2020-07-27 21:19] koppor commented on #6697
I tried to dig down the root cause:

- 1a43290a5e306a4ceb2c58d2d01ec9bca4163516 move formatter down to model. Did this happen directly in the master branch? There is no PR linked from the commit.
- The call to `NormalizeNewlinesFormatter` was introduced in #6528 by @calixtus to fix https://github.com/JabRef/jabref/issues/5904.

## Notes

- `public abstract class Formatter {` was always in `org.jab

[2020-07-28 05:28] Siedlerchr commented on #6697
https://github.com/JabRef/jabref/pull/6717#issuecomment-664556955

[2020-07-28 07:48] #6639 closed

[2020-07-28 07:48] tobiasdiez commented on #6639
Thanks to the quick initiative of @ddunig2 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-07-28 09:36] hemantgs commented on #6574
Ah it did not ,so I was wrong ! I think I am getting the hang of it , I was looking at the code , so a new entry for each of  `biblatex-software` extension's

- software
- software versions
- software modules
- code fragments
Need to appear in the `New Entry` pane , With the corresponding fields from the style documentation. An entry for Software is already there , the others need to be added to t

[2020-07-28 22:27] ddunig2 commented on #6639
Glad I can help! @tobiasdiez why check the build? Is there something else I need to do for this issue?

[2020-07-28 22:38] ddunig2 commented on #6629
Would simply making the logo more saturated be ok? Also should one consider not overshadowing the other icon when editing the jabref icon?

[2020-07-28 22:52] tobiasdiez commented on #6639
This was directed to @liubenyuan, so that he/she can verify that the fix indeed works as expected. No further action required from your side, except for looking for your next issue that you want to fix ;-).

[2020-07-29 02:10] liubenyuan commented on #6639
Sure, I will download the test version and try it.

[2020-07-29 02:11] ddunig2 commented on #6629
The images on the right are the original, the left are the edited versions, Which one would be more suitable from the three on the left?

![jabrefIcon](https://user-images.githubusercontent.com/36016544/88748413-f5b93080-d11e-11ea-8d4d-626aaeab1aaf.JPG)

[2020-07-29 02:13] ddunig2 commented on #6629
I actually am not sure how to get the start menu. @koppor It would help if you can help me.

[2020-07-29 05:12] koppor commented on #6574
The "Software" might come from the IEEE style. Could you make a table showing the different fields. Column A: field name; column B field in IEEE present (exiting in jabref), column C field present in biblatex-software. Then a cross if it exists, empty else?

It would be helpful if the examples of https://packages.oth-regensburg.de/ctan/macros/latex/contrib/biblatex-contrib/biblatex-software/sample

[2020-07-29 10:26] hemantgs commented on #6574
Comparison of the both :
| Column        | JabRef-Software | biblatex-software |
|---------------|-----------------|-------------------|
| AUTHOR/EDITOR |:heavy_check_mark:|:heavy_check_mark:                   |
| TITLE         |:heavy_check_mark:|:heavy_check_mark:                   |
| DATE          |:heavy_check_mark:|:heavy_check_mark:                   |
| SUBTITLE      |:heavy_check_mark:| :

[2020-07-29 17:04] KunAndrew commented on #6707
Hi. Can I start working on this?

[2020-07-29 18:35] Siedlerchr commented on #6707
@KunAndrew  Sure, go ahead! To get started check out the [Contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)
As I outlined in the forum answer already, the code for the Duplication algorithm is located in this class:
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/bibtex/DuplicateCheck.java

One first easy step would be the comparison of t

[2020-07-29 19:22] calixtus opened #6724 "Bring back floation mode in search"
Some users and core developers asked to bring back floatation mode on search (non-fitting entries are greyed out instead of not being shown at all).
By converting the UI to JavaFX had to be temporarily removed to continue on reworking the ui, since seemed to be quite complicated to implement in JavaFX. So there is possbily some research on this matter needed before an implementation can be done.

[2020-07-29 19:32] tobiasdiez commented on #6724
Duplicate of https://github.com/JabRef/jabref/issues/4237

[2020-07-29 19:32] #6724 closed

[2020-07-30 05:24] calixtus commented on #6724
Oh, did not see that. Sorry

[2020-07-30 13:16] ilippert commented on #6340
JabRef 5.1--2020-07-29--00a4fb2
Linux 5.7.10-201.fc32.x86_64 amd64
Java 14.0.2

my perception is that the file size is smaller, and jabref runs as before.

[2020-07-30 19:16] Sethur commented on #6340
Looks good to me on Windows 10 as well.

If you now package only the truely required Java modules you can maybe even get the installer close to 100 MB again.

[2020-07-31 07:29] zalois opened #6726 "How to display serial numbers in the first column as in previous versions"
**Is your suggestion for improvement related to a problem? Please describe.**
Displaying serial numbers in the first column as in previous versions.

[2020-07-31 15:49] abepolk commented on #6663
I'm not sure, but if I remember correctly a `FieldChangeEvent` is fired for each typed letter, not for submission. The purpose of `CoarseChangeFilter` is to allow only relevant changes to be listened to when individual keystrokes do not matter.

[2020-08-01 14:02] szhorvat opened #6727 "Cannot sign up on discourse.jabref.org with Google"
When I try to register on https://discourse.jabref.org/ using Google, I get this error message:

![image](https://user-images.githubusercontent.com/1212871/89103209-53e05f00-d410-11ea-85bb-85ca5ec6934f.png)

This happens both in Firefox and Chrome.

I hope this is an acceptable place to report this. I mentioned it here a few weeks ago and got no feedback: https://github.com/JabRef/www.jabref.org/i

[2020-08-01 14:31] Siedlerchr commented on #6727
Sorry that your first report did go unnoticed. @koppor  Seems like you need to readd this auth stuff

[2020-08-01 18:14] Siedlerchr commented on #6726
Hi,
Please ask questions in our forum the next time. To answer your question:
Preferences -> Entry table -> add the column index
You might need to tick the checkbox Show special fields

[2020-08-01 18:14] #6726 closed

[2020-08-02 08:52] koppor commented on #6340
@Sethur Your wish is hard to do, since it is not a quick win. Quickly checking https://github.com/JabRef/jabref/blob/125a0c126372782e90a52c81a96f504b15f054c9/build.gradle#L562, it seems that we already do that. I created a follow-up issue https://github.com/koppor/jabref/issues/444.

Maybe, our third party libraries (such as citeproc-java) need many modules (refs https://github.com/JabRef/jabref/p

[2020-08-02 08:52] #6340 closed

[2020-08-02 09:05] koppor commented on #6369
Springer mailed us on 2020-04-29:

[2020-08-02 10:14] tobiasdiez commented on #6727
I tried to follow https://meta.discourse.org/t/configuring-google-login-for-discourse/15858 but the JabRef account is not registered at https://console.developers.google.com/.

[2020-08-02 11:14] koppor commented on #6369
## State as of 2020-08-02

Source: https://github.com/JabRef/jabref/runs/937189942

- Grobid: java.net.ConnectException: Connection timed out
- IEEE: Results differ
- CollectionOfComputerScienceBibliographiesFetcher: Assertion error
- LibraryOfCongressTest: Results differ
- CiteSeerTest: no answer
- DoiFetcherTest: Results differ
- AstrophysicsDataSystemTest: Results differ
- Springer: `@DisabledO

[2020-08-02 11:40] #4699 closed

[2020-08-02 11:42] Siedlerchr commented on #6293
We had to revert this fix as it is breaking copy pasting via keyboard shortcuts and results in duplicate entries on mac when you paste in a new library. Codewise this seems to be a general issue

[2020-08-02 11:47] koppor commented on #6727
- @matthiasgeiger used to have an eye on it. Currently busy with other things
- We had an `oauth2` client configured somehow (I think, @matthiasgeiger's app)
- I created an application as described at the tutorial linked at https://github.com/JabRef/jabref/issues/6727#issuecomment-667655008 (and also in the discourse settings - https://discourse.jabref.org/admin/site_settings/category/all_results?

[2020-08-02 11:50] koppor commented on #6727
@szhorvat I don't have many google accounts to test things. Could you please describe the steps, what you are doing. Is the following assumption right:

1. Open https://discourse.jabref.org/
2. Click on "Sign up"
3. Then, the error appears?

I just checked now and in my private Firefox window, Google asks me for my Google login data.

[2020-08-02 11:55] Siedlerchr commented on #6629
Hi, thanks for your interest.
The Logos need to be put in the buildRes folder and named according to this guide:
https://docs.oracle.com/en/java/javase/14/jpackage/override-jpackage-resources.html#GUID-405708DC-0243-49FC-84D9-B2A7F0A011A9

I think we need to try it out. For mac this wozld be also cool, the JabRef icon is hardly visible in the dock.

[2020-08-02 11:59] szhorvat commented on #6727
@koppor It appears fixed now. Do you still need feedback?

[2020-08-02 13:24] koppor commented on #6727
Glad to know that it works. Hope that Google approves our application.

If the issue comes back, feel free to reopen this one.

[2020-08-02 13:24] #6727 closed

[2020-08-02 13:26] koppor commented on #6629
I think, the modified icon should also be placed to https://github.com/JabRef/jabref/tree/master/src/main/resources/icons.

I like the second one (on the left) most.

[2020-08-02 13:43] szhorvat commented on #6727
Thanks for the very quick help on a Sunday!

[2020-08-02 13:51] koppor commented on #6727
You're welcome! JabRef is a free-time project and most of my freetime is on the weekend 😅.

[2020-08-02 15:06] Siedlerchr commented on #6466
@homocomputeris  This should now be fixed in latest master
<kbd>cmd</kbd>+ <kbd>C</kbd> and <kbd>cmd</kbd>+ <kbd>V</kbd> should work now

[2020-08-02 15:10] Siedlerchr commented on #6293
The problem is that on MacOSX the command + v triggers the keyEvent which is handled in MainTable and consumed.
However, afterwards it still propagates to the owner of  the keybinding, the EditAction which then is triggered like if someone had pressed the MenuItem manually.
Seems to be this bug: https://bugs.openjdk.java.net/browse/JDK-8205915

[2020-08-02 15:14] Siedlerchr commented on #6369
We should add the Springer key to the build secrets as well

[2020-08-02 16:06] koppor commented on #6369
I will aquire a sepearate key for Springer and enable Springer tests in a separate PR.

[2020-08-02 16:09] ddunig2 commented on #6629
To begin, should the logo be an SVG file? Also, I'd like to try the logo on that start menu if possible, but I still do not know how to get that start menu up.

[2020-08-02 17:48] Siedlerchr commented on #6629
We use the java jpackage tool to build native installations for each operation system and in the link above I posted  it's explained how the files have to be named and as which format.  See "Launcher" in the document. That is probably the right way.

It should be sufficient to put them in the buildRes subfolder for each OS: https://github.com/JabRef/jabref/tree/master/buildres
They should then be

[2020-08-02 17:57] Siedlerchr commented on #6154
As I've now got a mac at hand and need to read about that whole developer certification stuff for apple ios apps for work, I will take a look at this as well.
I found this script which could help:
https://stackoverflow.com/a/61908574

[2020-08-02 18:45] horror-vacui opened #6730 "User interface: Simplify Select Entry type form"
Coming from 10+ years in Zotero and then Mendeley where I've always used the web scrappers of the applications, JabRef's Select Entry Type forms seems overwhelming at first sight with all the different article types. A new user wants to create his new entry as simple as possible, and looking at that form gives them the feeling that they have to study these article types first. If a user has troubl

[2020-08-02 18:56] koppor commented on #6369
Rate limit of IEEE

- 10 calls / second
- 200 calls / day

Source: Key agreement

[2020-08-02 18:58] Siedlerchr commented on #6730
Thanks for your suggestions, We always have to keep the balance between power users and newcomers.

1. If you have an DOI you can simply paste it on the table and JabRef will automatically create an entry, For other there is already a suggestion: #4183
2. We have another button in the toolbar which  is called New article. Our telemetry data showed that 90% of the entry types are  articles so we ad

[2020-08-02 18:58] Siedlerchr commented on #6369
We should execute the fetcher tests maybe once a month on CI and not on every PR

[2020-08-02 19:11] koppor commented on #6369
Since a few months, we DO NOT execute the fetcher tests on each PR.

We currently the fetcher tests, when

- something in the fetcher code changed
- each wednesday

See https://github.com/JabRef/jabref/blob/master/.github/workflows/tests-fetchers.yml

[2020-08-02 19:12] koppor commented on #6369
The discussion on this move can be found at https://github.com/JabRef/jabref/pull/5807.

[2020-08-02 20:47] homocomputeris commented on #6466
@Siedlerchr It works for text in text fields. Thanks!

[2020-08-02 21:25] Siedlerchr commented on #6466
For the paste button from the Menu, this issue is tracked here. There is a jdk/javafx bug which triggers events twice and thefore the buttons in the menu won't work on the maintable. Refs #6293

[2020-08-02 21:25] #6466 closed

[2020-08-02 22:39] horror-vacui commented on #6730
Thanks for the prompt answer. There were some new and useful information to me, though I've used jabref a few times and searched and googled how to use it.

Your reply *might* indicate that there is only article and book type, but I've 19 different document types in the new entry form. Although the entry type can be changed, it is not 100% straightforward which one to choose. Proceedings, inProcee

[2020-08-03 08:01] tobiasdiez commented on #6730
The user interface is indeed way too complicated for the normal workflow. I would suggest to split the entry types into two categories: "common" (or "often used", "recommended") and "others".

[2020-08-03 15:36] ilippert commented on #6730
I like the "often used" and "other/more".
Now the question is, who defines often? I suggest the following:
for a new library, we define a default recommendation. For an existing library, automatise a scan, once a month, to count which entry types are most used in this library and offer the top 5 entry types. And/or, allow to define in the Preferences which entry types to "promote" to be "recommend

[2020-08-03 15:40] ilippert commented on #6559
JabRef 5.1--2020-08-03--586044a
Linux 5.7.11-200.fc32.x86_64 amd64
Java 14.0.2

still not functional on
JabRef 5.1--2020-08-03--586044a
Linux 5.7.11-200.fc32.x86_64 amd64
Java 14.0.2

I am very happy to conduct more tests/provide more logs if that might help.

[2020-08-03 19:01] Siedlerchr commented on #6378
With the current master I encounter a simliar issue on MacOS:
Error: Modules org.jabref.merged.module and javafx.graphics export package javafx.scene.text to module org.jabref
Howerver, CI runs fine.
I used liberica 14

[2020-08-04 06:29] koppor commented on #6690
@mlep Could you make a video using https://www.loom.com/?

[2020-08-04 06:40] koppor commented on #6293
Decision: Disable in the code only for Mac - to get it working on Windows and Linux again.

[2020-08-04 07:09] mlep commented on #6690
Here it is:
![Capture-vido-2020-08-04-090348qsdfqf](https://user-images.githubusercontent.com/6931104/89263767-1ce99380-d632-11ea-9669-f41500fd2a22.gif)

[2020-08-04 07:49] mlep commented on #6690
I have tried to narrow it down.
To reproduce the bug, it seems you need to have 3 opened files (and the groups of one of the files must be different from the others (this later condition being quite common in real life, right?).

Let's play with the file https://github.com/JabRef/jabref/blob/master/src/test/resources/testbib/jabref-authors.bib

1) In a directory, copy jabref-authors.bib into jabre

[2020-08-04 16:25] tobiasdiez commented on #6730
Here is the data from our analytics:
![image](https://user-images.githubusercontent.com/5037600/89318764-85ab2d00-d67f-11ea-9e52-e387688f98ce.png)
I would simply take the top 5 as "often used". In the order they appear there, maybe put "Mics" at the end of the list because that should be the last resort and it is generally recommended to choose more specialized types.

[2020-08-04 16:29] pettmannj opened #6737 "File association breaks for file names >205 characters"
JabRef version 5.0 on Windows 10 x64 (Build 19041)
I have tested this on 5.1 (development) with the same result.

When a linked files (tested with PDF) with file names >205 characters is started from JabRef it shows an explorer windows, rather than opening in the proper application. This can happen either if automatically or manually renamed. Interestingly enough, deleting from the file system sti

[2020-08-04 16:44] ilippert commented on #6730
Thanks a lot for the statistics. good to know. I think this is a good start. Still, as a researcher in a specific field, with specific conventions of which literature gets published/referenced, I still think, that it would be amazing if we could adapt such a list individually. Of course, this is not a priority.

[2020-08-04 17:36] Siedlerchr commented on #6378
Okay, I now instaleld AdoptOpenjdk 14.02 and it worked fine so I guess there is a problem with already exiting javafx modules in the jvm beause jabref pulls javafx as dependency
@wamserma  I guess to solve your problem you need to explicitly install the AdoptOpenJDK
https://adoptopenjdk.net/releases.html?variant=openjdk13&jvmVariant=hotspot

[2020-08-04 18:07] Siedlerchr commented on #6685
@DaniloMurer  any news on this?

[2020-08-04 22:01] koppor commented on #6685
Somehow refs https://github.com/JabRef/jabref/issues/6378

[2020-08-04 22:01] koppor commented on #5591
Is there any JDK issue which we can link here?

[2020-08-04 22:14] #6588 closed

[2020-08-05 09:19] Siedlerchr commented on #6076
Now we just need it for windows as well. Probably inlcude this in the wix installer scripts.

[2020-08-05 09:27] LyzardKing commented on #6076
I'm not expert... in fact not at all...but could a change like this in the JabRef-post-image.wsf work?
`        contents = contents.replace("</Product>", "<RegistryKey Root=\"HKMU\" Key=\"Software\\Google\\Chrome\\Extensions\" Action=\"createAndRemoveOnUninstall\" ForceCreateOnInstall=\"yes\"><RegistryValue Type=\"string\" Value=\"bifehkofibaamoeaopjglfkddgkijdlh"/><Property Id=\"update_url\" Valu

[2020-08-05 10:45] fhoefling commented on #2633
The issue is still present in version 5.1, and it is really annoying. I'm using the same hard-link approach as @TLCFEM

@tobiasdiez Can you please reopen this unsolved issue? If this is not possible, I will file a new one.

[2020-08-05 11:28] tobiasdiez commented on #2633
I'm afraid that this is limitation of the current implementation that cannot be removed. Here is our strategy:
https://github.com/JabRef/jabref/blob/9f9695807feea0f7e969313a78a02e5b9ad92abd/src/main/java/org/jabref/logic/exporter/AtomicFileOutputStream.java#L25-L32
We do not write directly to the existing file as this lead to many problems.

[2020-08-05 11:30] tobiasdiez commented on #6076
That looks promising indeed. Not sure when I find the time to try this.

[2020-08-05 11:41] fhoefling commented on #2633
Thanks for the very quick reply and the link to the strategy.

What is the purpose of the temporary file? What would be bad with this
approach:

1) create a backup of the original file
2) write directly to the orginal file
3) remove the backup

If anything goes wrong during 1), the backup is deleted. If an error
occurs during 2), there is the backup.

I see that moving the temporary is faster than

[2020-08-05 13:04] AlexPars opened #6738 "Delete and Cut functionalities do not work anymore"
JabRef development Release as of August 5, 2020, on Windows 10

Issue: Delete and Cut functionalities do not work anymore

I was not able to delete an entry. I have tried Delete from Edit menu, Delete icon, Cut from Edit Menu

[2020-08-05 14:24] Siedlerchr commented on #6738
Duplicate of #6293 This is a side effect of my recent mac fix. Will try to add a workaround.
Keyboard shortcuts do work fine

[2020-08-05 14:24] #6738 closed

[2020-08-05 17:57] amaxi99 opened #6739 "unable to delete an entry"
JabRef 5.1--2020-08-05--3d68514
Windows 10 10.0 amd64
Java 14.0.2

With the latest development builds it is not possible to delete an entry. Neither "del" key nor right-click-menu "delete" do anything. This does not even work for a single entry in a newy created library.

[2020-08-05 19:25] Siedlerchr commented on #6739
Duplicate of #6738

[2020-08-05 19:25] #6739 closed

[2020-08-05 19:38] Siedlerchr commented on #6739
Wokaround should be trash icon in the toolbar. This issue is a side effect of a mac bug.  Fix is on its way

[2020-08-05 19:58] koppor opened #14686 "Replace swing undo"
This library looks pretty cool: https://github.com/ValeriusGC/jundo

Alternative https://github.com/GerdHirsch/java-UndoRedoFramework (not on maven central)

[2020-08-06 08:37] DOFfactory opened #6742 "Inconsistent file attachment naming"
JabRef 5.1--2020-08-03--586044a
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behaviour:
1. Define your file naming convention in JabRef
2. Drag & Drop the file into the new entry -> it renames the file properly and moves it to the folder defined by the user

[2020-08-06 08:54] Siedlerchr commented on #6742
This needs some more thinking what the user expects. Downloads do respect the file directories and patterns already.
However, you can always do a right click on the file and execute the move/rename or you globally execute the cleanup action.

[2020-08-06 08:58] DOFfactory commented on #6742
Well, indeed, it is somewhat inconsistent. I have a naming convention set up, drag & drop respects it, search for fulltext, as well as download from link respects it, but manual add does not respect it.

Thanks for the manual rename option, I will try it next time.

[2020-08-06 09:34] horror-vacui opened #6743 "Change the line spacing in table and groups"
Is there a way to change the line spacing between entries in the main table and in the groups tab? I am OK with manually editing a config file if its not in the GUI. (I have not found it.)

I have already so many groups that they does not fit into my screen and scrolling takes time. Also due tot he higher distance between them it is harder manually to find what I am looking for, since I can not ke

[2020-08-06 09:46] horror-vacui opened #6744 "General --> File --> right mouse button --> Open Folder opens pdf viewer"
Clicking on Open Folder item opens my pdf viewer (okular in my case), instead of a file manager.

Steps to reproduce the behavior:
1. Select an entry with an attached pdf
2. Go to the General tab
3. RMB (right mouse button) on the pdf file
4. Click Open Folder
![jabref_file_open_folder](https://user-images.githubusercontent.com/31111509/89517708-6543b580-d7da-11ea-826d-0c571250f3ea.png)

There is

[2020-08-06 12:25] fhoefling commented on #2633
@tobiasdiez I have a suggestion for an improved strategy for atomic file
output. The only requirement is a swap operation between two files, which
can be implemented as a sequence of moves via a temporary. If one accepts
this swap as being atomic, either performance can be improved or
hard-links can be preserved.

An atomic swap is actually available in the Linux kernel:
https://stackoverflow.com/

[2020-08-06 13:23] Siedlerchr commented on #2633
Just note that an Atomic move is only possible on the same file system, only in the same folder.

[2020-08-06 14:19] tobiasdiez commented on #2633
Thanks for your input.

We do not want to write to the file immediately as this may leave the file in an inconsistent state if something goes wrong during the writing process. So that's not an option.

So the only advantage of the two swaps is that the symlinks are still working, since we write to the original file? To be honest, that sounds like a lot of complication just for symlinks. Moreover,

[2020-08-06 14:30] ilippert opened #6745 "cannot delete selected entry"
JabRef 5.1--2020-08-05--3d68514
Linux 5.7.11-200.fc32.x86_64 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Deleting entry not possible

Steps to reproduce the behavior:
1. mark an entry
2. press `delete` or use context menu and select `delete`

Result: the entry is not deleted

[2020-08-06 15:08] Siedlerchr commented on #6745
Duplicate of #6739 . I just merged a fix. It was a side effect of a mac osx fix.

[2020-08-06 15:08] #6745 closed

[2020-08-07 16:41] Siedlerchr commented on #6405
Okay, this seems to be a bit weird. I debugged a bit further and found out that the problem lies in the following lines when saving:
https://github.com/JabRef/jabref/blob/7cc57474b7aa991ef6ea148d4030d4bb68ee69bf/src/main/java/org/jabref/logic/bibtex/BibEntryWriter.java#L58-L62

The second entry, the one with "lichman" has the flag changed = false and the getParsedSerialization() returns an empty s

[2020-08-07 20:22] koppor commented on #6405
The code at hand ensures that entries are only written in JabRefs cool new "layout" if there is a change. This was a year-long discussion before you joined JabRef. - The idea is that JabRef stores the characters as they are read when reading the file. It writes out the characters as is when writing - except the user has changed something. - This is what the if condition states.

Now to the issue:

[2020-08-07 21:38] Siedlerchr commented on #6405
@koppor  Thanks for the explanation. That was indeed very helpful and let me to the root issue, that the clone method does not set the changed flag when the entry type is Misc and therefore equals the default entry type.

[2020-08-07 22:08] calixtus commented on #6369
- IEEE returns a bad URL: https:/ieeeexplore… (Note: only one slash). Problem seems to be serverside
- LibraryOfCongress returns bad year ( year = {c201} instead of year = {2011} )
- The JabRef BibEntry builder seems to automatically add an url-field, which is not included in the returned result from the server. Will do some research on this.
- ADS seems to be identical on first sight. Not sure wh

[2020-08-07 22:52] Siedlerchr commented on #6369
citesser => journaltitle instead of journal

[2020-08-08 09:04] koppor commented on #6369
@DominikVoigt added a conversion layer at https://github.com/JabRef/jabref/pull/6687. Thus, it should not matter whether journaltitle (BibLaTeX) or journal (BibTeX) is returned. -- the layer converts to the format required by the target database

[2020-08-08 18:05] Siedlerchr commented on #6154
Signing in principle works locally on my machine with our cert from Tobias.
However, it seems the new hardening etc requires jdk15 jpackage
https://bugs.openjdk.java.net/browse/JDK-8237490

Other Todos:
- [ ] Import p12 signs and add the to keychain Evaluate https://github.com/Apple-Actions/import-codesign-certs
- [ ] Add parameters to jpackage config
- [ ] Find out what those entitlements are and

[2020-08-10 00:27] #6367 closed

[2020-08-10 06:04] DaniloMurer commented on #6685
Hello together,

Sorry if im answering this late but I was on a longer vacation so I hadn't the time to look at this closer. Today Im trying with LibericaJDK to see if this works out better.

Regards

[2020-08-10 06:23] mlep commented on #6626
Looks like a behavior similar to #6690

[2020-08-10 09:46] crystalfp opened #6753 "Problems for preview of an entry with % sign in title"
JabRef version 5.1-PullRequest6152.694--2020-06-28--314bc7d\
Windows 10 10.0 amd64 \
Java 14.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In the preview of an entry containing % sign in the title these disappear.

Steps to reproduce the behavior:
1. Load the following entry in a biblatex library:
[code]
2. Se

[2020-08-10 17:10] DaniloMurer commented on #6685
Hello together, I stumbled across a new problem, in this one the class "EasyBind" misses the method "listBind()". I don't know were this problem came from, I tested it on the master.

Regards

[2020-08-10 17:11] DaniloMurer commented on #6685
Here is the screenshot for further investigation.

![grafik](https://user-images.githubusercontent.com/29736103/89810365-3ceeea80-db3d-11ea-8455-f9e2df59d6af.png)

[2020-08-10 17:38] AlexPars opened #6754 "Enhancement: also retrieve abstract when adding bib entry through DOI"
It would be very useful if the bib entry in JabRef constructed from a DOI would also include the abstract that is available in that DOI.

Also, it would be good if the bib entry constructed from a DOI would use journaltitle rather than journal, to be consistent with biblatex format

Example: extract bib entry info from DOI:  10.1016/j.orl.2020.07.016 or https://doi.org/10.1016/j.orl.2020.07.016

[2020-08-11 06:26] diatomicDisaster opened #6758 "Snap doesn't build on Ubuntu Raspi ARM64"
I'm on Linux Ubuntu Mate 20.04 Raspberry Pi ARM64 edition. I've successfully installed the JabRef snap from the snap store following the snap instructions here https://docs.jabref.org/collect/jabref-browser-extension

I've also installed the browser extension for both Firefox and Chromium. However when I try to run the final step - connecting the package to the extension - I run up against the fol

[2020-08-11 12:29] Siedlerchr commented on #6685
@DaniloMurer  Please try again. First mege the latest upstream/master and then rerun gradlew run to process the updated dependencies

[2020-08-11 15:10] KunAndrew commented on #6707
Should I do "option to mark the entries as not duplicates" within this pull request?

[2020-08-12 09:56] BSVogler opened #6757 "Subpixel font rendering on macOS"
JabRef version

JabRef 5.0--2020-03-06--2e6f433
Mac OS X 10.15.6 x86_64
Java 13.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Every text/label is blurry as the subpixel rendering is off. See the screenshot for an example.
![Bildschirmfoto 2020-08-12 um 11 50 27](https://user-images.githubusercontent.com/801818

[2020-08-12 10:03] tobiasdiez commented on #6754
The abstract is sadly not available through the crossref API, see e.g https://api.crossref.org/v1/works/10.1016/j.orl.2020.07.016.

@DominikVoigt is working on the conversion to biblatex, and this is tracked in https://github.com/JabRef/jabref/issues/895.

[2020-08-12 10:03] #6754 closed

[2020-08-12 10:11] Siedlerchr commented on #6757
I am using the latest development version on a 2019 macbook pro with 10.15.6

<img width="274" alt="Bildschirmfoto 2020-08-12 um 12 01 13" src="https://user-images.githubusercontent.com/320228/90002894-99fcb480-dc93-11ea-8e84-44bf9624390d.png">

Some linux user had problems. https://github.com/JabRef/jabref/issues/4998
You might try that preferences switch. Or you modify the sh start script in App

[2020-08-12 10:12] Siedlerchr commented on #6754
I guess it's more a legal issue: Abstracts are copyright protected

[2020-08-12 12:04] mlep opened #6759 ""Sentence case" and "Title case" not enforcing a capital after a period"
JabRef 5.1--2020-08-11--7ddfd9c
Linux 4.9.0-13-amd64 amd64
Java 14.0.2

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

A title can be composed of two sentences, like "Bibliographic software. A comparison".
When applying the "sentence case" the title is converted into "Bibliographic software. a comparison".
The "sent

[2020-08-12 12:32] AlexPars commented on #6754
Thank you for clarifications and for the great piece of software that is JabRef.

[2020-08-12 13:26] diatomicDisaster commented on #6758
@LyzardKing @tobiasdiez Note that the above output I posted is not when trying to install via Snap, but occurs when I clone the main repo and try to build. Presumably this is because the build tools supplied are only for an AMD64 architecture. When I try to install the snap it simply returns an error stating:

[code]

Which I guess it expected behaviour if the snap is not supported on arm64 archit

[2020-08-12 13:34] diatomicDisaster commented on #6758
It appears this issue was discussed elsewhere earlier in the year, but no resolution is given in this thread https://discourse.jabref.org/t/jabref-on-arm64/1860

[2020-08-12 13:36] Siedlerchr commented on #6758
@diatomicDisaster  The ./gradlew run should work. But your error suggests an issue with the jdk installation.
You could try to use the jdk14 from here: https://bell-sw.com/pages/downloads/

[2020-08-12 13:43] Siedlerchr commented on #6758
See also: https://bell-sw.com/pages/liberica-release-notes-14.0.2/

[2020-08-12 13:49] Vince250598 commented on #6753
The problem is in the class HTMLChars in the format method. The case '\%' falls under the last else of the method where there's a TODO. I added 2 small modifications so it works with this case but i didn't do extensive testing.

`@Override
    public String format(String inField) {
        int i;
        String field = inField.replaceAll("&|\\\\&", "&amp;") // Replace & and \& with &amp;

[2020-08-12 14:20] Siedlerchr commented on #6753
@Vince250598  Thanks for looking into it. It would be really cool if you could create a PR with your changes. That helps us to better see the differences. Regarding tetsts, we already have automated tests (HTMLCharsTest) for this class so your changes can easily be tested.

[2020-08-12 14:27] diatomicDisaster commented on #6758
Ok I've just tried with the bellsoft JDK, but get the following error:
[code]

**However** I have been able to install a working version of JabRef via the Ubuntu repo directly, the problem I then have is that when I try to link the browser extension. Following the instructions given here https://docs.jabref.org/collect/jabref-browser-extension (granted they are for Debian, but they should be the s

[2020-08-12 14:35] Siedlerchr commented on #6758
@diatomicDisaster  You need to download the jdk14 (not 11) as the error message indicates

[2020-08-12 14:40] BSVogler commented on #6757
I don't know which preference switch you are referring to.

The linked issue is about an option available on Linux.
Adding  `-Dprism.lcdtext=false` to the startup script fixes this issue. Shouldn't this be enabled by default on macOS?

[2020-08-12 15:26] diatomicDisaster commented on #6758
@Siedlerchr Apologies, it's hot today. I've built it 'successfully' (no errors during the process). But I can't run the compiled binary `jabref/build/image/bin/JabRef`. It seems to give the same error as I experienced when installing the snap package. Where it complains about not being able to load an AMD64 '.so' on an AARCH64 platform.

[2020-08-13 00:26] #5735 closed

[2020-08-15 00:26] #4633 closed

[2020-08-15 18:50] #6753 closed

[2020-08-15 18:51] Siedlerchr commented on #6753
Thanks  to @Vince250598  this issue should now be fixed in the latest master (currently building, ready in approx 30 min)
http://builds.jabref.org/master/

[2020-08-16 02:43] crystalfp commented on #6753
The latest master fixed it. Thanks!

[2020-08-18 00:51] wa03 opened #6765 "ssl PKIX path builder exception"
Hello,

I am unable to use the DOI entry generation approach. As far as I can tell it's traced back to a certificate issue. I have spent the past several hours tracing this down and I'm pretty sure that there's something going on with my company's setup. We have a proxy setup with requires us to trust certain certificates (the appliance inspects incoming traffic).

I am using the jabref-standalone

[2020-08-18 06:22] #6405 closed

[2020-08-18 06:36] Siedlerchr commented on #6405
@xx256xx  This issue is now  fixed in the latest master

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-19 12:10] m-mauersberger commented on #6663
Finally, I set up IntelliJ [by this documentation](https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace) for testing some changes in JabRef source code.

I have tried to change `CoarseChangeFilter` in order to quickly find out how it would work. It seems that `fieldChange.getDelta() > 1` does not achieve the filtering function assumed. Because `FieldChangeEv

[2020-08-19 12:25] mwip opened #6770 "Preferences are not stored"
JabRef version 5.0 / 5.1--2020-08-19--9adfd5b on Ubuntu 20.04

Linux 5.4.0-42-generic amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Preferences that I make in the `Options -> Preferences` are not stored at all. Namely, I want to change the default Key pattern to `[auth:lower][year][veryshorttitle

[2020-08-19 13:11] Siedlerchr commented on #6770
Did you press enter after entering the new pattern? That is a common problem.

[2020-08-19 13:12] Siedlerchr commented on #6663
Thanks for your detailed analysis and your changes. It would be great if you could create a pull request with your changes. That makes it easier for us to see the changes and review the code

[2020-08-19 13:38] abepolk commented on #6663
It's been a while since I looked at this and I don't completely remember enough details to quickly respond, but thank you for picking up where I left off! I will review your code further if I have time. Feel free also to connect with me on LinkedIn and message me separately for help with Git or making a pull request if you're new.

[2020-08-19 14:19] mwip commented on #6770
That indeed solves the problem -- thanks.

That said, I think behaviour this is very counter intuitive. Even if it is as intended, one should be alterted that some settings will not be stored.

[2020-08-19 14:37] #6351 closed

[2020-08-19 14:41] Siedlerchr commented on #6770
We are aware of this and fully agree with you. Unfortunately it's the default behavior of the underlying javafx gui framework which we cannot change. However, we have
 @calixtus

[2020-08-19 14:49] calixtus commented on #6770
No I did not. In fact, it's a well known bug in JavaFX. There are possible workarounds, some work better, some not, they all come with sideeffects (e.g. https://gist.github.com/james-d/be5bbd6255a4640a5357). We do have this on our priority list, but this would take some more work.
see https://bugs.openjdk.java.net/browse/JDK-8089514
and here https://github.com/kleopatra/swingempire-fx/tree/master9

[2020-08-19 16:57] #6175 closed

[2020-08-19 17:18] calixtus commented on #6770
refs #6432 #5825

[2020-08-19 17:43] Siedlerchr commented on #5825
Idea for a workaround: Add a hint in the table
https://github.com/JabRef/jabref/issues/6770#issuecomment-676480063

[2020-08-19 17:43] Siedlerchr commented on #6770
I'll close that now. Added the idea from calixtus to the linked issue

[2020-08-19 17:43] #6770 closed

[2020-08-19 18:03] m-mauersberger commented on #6663
Thank you for your hints and help offering!
I made a pull request #6771 with which maybe we can find a solution.

At the moment, the changes does not work as intended... Do you have an idea?

[2020-08-20 11:01] yexu55065 opened #6775 "Push applications: Application to push entries to Visual Studio Code？"
Dear developer，

I use Visual Studio code and latex to edit papers, but I need application to push entries to visual studio code. Can I have this function.

Many thanks and best regards

[2020-08-22 22:36] ytzemih opened #6777 "regexp search throws exception when entering slash"
JabRef 5.1--2020-08-22--dc55a76
Linux 5.4.19-050419-generic amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open bib file
2. Switch to regexp search
3. Enter something with a "/" in it, e.g. bla/bla
4. For each matching entry you get an exception (see details bel

[2020-08-24 04:35] krummja commented on #5867
Having the same issue in i3wm.

[2020-08-24 11:48] Zhengguo-Xu opened #6787 "Settings in "Enable field formatter" in "Cleanup entries" do not work"
JabRef version jabref_5.1-1_amd64.deb (build 2020-08-22)  on Linux (Ubuntu 20.04)

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Settings in "Enable field formatter" in "Cleanup entries" do not work at all.

Steps to reproduce the behavior:
1. create new entrytype book with the following info.
    + title: test for

[2020-08-24 13:32] sambo57u commented on #6474
I have been still having this issue but now jabref hangs immediately after trying to open a new bib file to import into current library (jabref-5.1.884-1.x86_64 on Fedora Linux 32 with all updates). I am attaching my main library and new.bib that contains a single entry to import into current library. Thanks!
[test.zip](https://github.com/JabRef/jabref/files/5118099/test.zip)

[2020-08-24 14:20] AEgit commented on #6474
JabRef 5.1--2020-08-22--dc55a76
Linux 5.4.0-42-generic amd64
Java 14.0.2

I am afraid, using the test.zip file you provide I am not able to reproduce the issues you report. Importing your new.bib file works as expected when using your main library VU_bibtex_master.bib. Running the tests on Ubuntu 18.04.5 (64 bit) within a Virtualbox instance.

[2020-08-24 15:03] sambo57u commented on #6474
I wonder why? I am using the rpm version of the development version and making a link from:
/opt/jabref/lib/runtime/bin/JabRef to /usr/bin/jabref. The script JabRef contains:
DIR=/opt/jabref/lib/runtime/bin
"$DIR/java"  -p "$DIR/../../app" -m org.jabref/org.jabref.JabRefLauncher  "$@"

It works fine for other things except for import.

[2020-08-24 15:06] AEgit commented on #6474
I am using the snap package - but yes, as you say, this is really weird. Does it still work on your laptop as you mentioned here https://github.com/JabRef/jabref/issues/6474#issuecomment-628130088 ? If that's the case it sounds like an issue related to the individual hardware/software configuration on which JabRef has been installed.

Let's see whether someone else can reproduce your problem.

[2020-08-24 15:09] sambo57u commented on #6474
A few days ago it was hanging on the laptop as well. I will test it again later today...and report.

[2020-08-24 18:22] Siedlerchr commented on #6787
Thanks for reporting. I could confirm this bug and I prepared a fix.
If you disable the checkbox "Enable field formatters" it should work. The logic is apparently the wrong way.

[2020-08-24 19:39] #5860 closed

[2020-08-24 22:42] sambo57u commented on #6474
Same behavior on the laptop.....it has actually gotten worse since before the hanging happened after hitting the button but you would see the bib entries in the import window. Now the import window is totally white and the cpu is working at 100%. Only
way to stop it is to kill jabref with the message "Application "org.jabref.jabrefmain" is not responding".

[2020-08-24 22:51] sambo57u commented on #6474
Just dowloaded jabref-5.1.891-1.x86_64 and it started working.....perhaps something got fixed. I will keep testing with new
versions and report

[2020-08-25 05:19] koppor commented on #6369
@Siedlerchr Thank you for the hint --> @DominikVoigt's layer doesn't help here as the fetcher tests directly check the fetcher result - and not the reformatting by the intermediate layer.

[2020-08-25 15:12] mlep opened #6791 "Dark theme: Search: case sensitive is case insensitive (and vice-versa)"
JabRef 5.1--2020-08-25--2ce90ad
Linux 4.9.0-13-amd64 amd64
Java 15-ea

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

With the dark theme, if the "case sensitive" button is activated in the search bar, the search is case unsensitive.
And if the "case sensitive" button is deactivated in the search bar, the search is

[2020-08-26 06:30] mlep commented on #6791
The same goes with the button for regular expression search: when supposedly activated (i.e. button in bold), search works like if the button is not activated. And vice-versa:

- `title=modeling`  ==> "Found 7 results."
- `title=modelling`  ==> "Found 5 results."
- `title=modell?ing`  and regular expression button bold ==> "No result found."
- `title=modell?ing`  and regular expression button dimm

[2020-08-26 07:02] Siedlerchr commented on #6791
Thanks for the investigation, seems like the the CSS colors/highlighing are wrong in the Dark.css
Maybe sth with the active/armed.
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/Dark.css

[2020-08-26 10:03] parmeshgajjar opened #6793 "Application has become slow and unresponsive"
Hi,

My version of jabref has become very slow and unresponsive. If I type something into the search box, it takes about 10 seconds before the text I typed appears.

I have 1 bib file open which is less than 1Mb in size, but on task manager JabRef is using 800Mb of RAM.

Any advice on whether this is a bug or how I can return the application to normal are much appreciated. Upto now it has been gre

[2020-08-26 10:24] AEgit commented on #6793
There have been performance improvements in the recent development builds. The recent master build can be found here:
https://builds.jabref.org/master/

Note: Always make a backup of your JabRef database before using development versions (in case something goes wrong).

[2020-08-26 18:56] koppor commented on #6685
Does the update at https://github.com/JabRef/jabref/pull/6794 help?

[2020-08-26 18:58] koppor commented on #6793
@parammittal16 Please also provide the base line for your comparison. I tried with JabRef 2.0 this week. I agree that this verison starts faster. However, it has not as much features as this vesion. And also doe snot support high-res displays (refs https://github.com/JabRef/jabref/issues/2409).

[2020-08-26 20:02] #6787 closed

[2020-08-26 20:27] koppor commented on #6369
Refs https://github.com/JabRef/jabref/issues/3854 (as background information)

[2020-08-26 21:42] koppor commented on #6369
- Grobid runs in a time out. @LinusDietz can you check please?
- org.jabref.logic.importer.fetcher.ArXivTest has some differences, need to check later

[2020-08-27 06:20] koppor opened #12729 "Export markdown file containing all papers + links"
JabRef can export any files (see https://docs.jabref.org/collaborative-work/export/customexports). - Refs: https://github.com/koppor/jabref/issues/392

Since static page generators on Markdown are en-vogue, JabRef should offer a built-in Markdown export.

Example rendering: https://ozimmer.ch/papers/

Derived requirements:

- Top lists the 5 last publications
- Group by type
  - Subgroup

A JabRef

[2020-08-27 06:28] mlep opened #6796 "Dark theme: Entry table: Header of index without the proper color"
JabRef 5.1--2020-08-26--fd5bc52
Linux 4.9.0-13-amd64 amd64
Java 15-ea

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

A tiny issue: the header of the index column (with the symbol #) does not follow the color scheme of the dark theme. The symbol is black while it should be gray.
See top left-hand corner:
![Capture d

[2020-08-27 08:54] ytzemih commented on #6293
I've just added an update to #6740

[2020-08-27 09:38] calixtus commented on #6293
😫

[2020-08-27 09:39] calixtus commented on #6293
Thanks for your update. We'll look into it.

[2020-08-27 14:00] mlep opened #6801 "Win10: JabRef 5.1 does not start"
JabRef-5.1.msi
JabRef-5.1-portable_windows.zip
Both downloaded a few days ago from http://builds.jabref.org/master/

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

After installation of JabRef-5.1, JabRef does not start:

- Installation of JabRef-5.1.msi without problem, but then, when JabRef is launched, it does no

[2020-08-27 14:11] parmeshgajjar commented on #6793
The JabRef 5.0 on my laptop has only just started to become sluggish. For example, if I start to type something into the search box I can't see what I'm typing until 10-20 seconds later. JabRef 5.0 worked fine until about 2-3 weeks ago. Any suggestions on what I could adjust to get the performance back? I have tried 'repairing' the installation, and uninstalling and reinstalling.

For a base-line

[2020-08-27 14:18] AEgit commented on #6793
Have you tried the current dev build as suggested above? JabRef 5.0 has been known to have an abysmal performance in certain use cases - the developer build contains various fixes that tried to address this problem.

Note: Always make a backup of your JabRef database before using development versions (in case something goes wrong).

[2020-08-27 14:32] mlep commented on #6801
Same issue as https://github.com/koppor/jabref/issues/465 ?

[2020-08-27 14:46] parmeshgajjar commented on #6793
I can try the development build.

Is there any reason why the performance should suddenly deteriorate?

[2020-08-27 14:48] Siedlerchr commented on #6801
bat file is located in JabRef-5.1-portable_windows\JabRef\runtime\bin

[2020-08-27 14:49] mlep commented on #6801
Thanks.
And completely not obvious.

[2020-08-27 14:50] AEgit commented on #6793
The following thread (and links therein) report some of the performance issues with version 5.0:
https://github.com/JabRef/jabref/issues/5071

Maybe your problem is linked to one of the issues reported there?

[2020-08-27 15:22] koppor commented on #6801
The .exe should work nevertheless

[2020-08-27 16:08] vatsal-M commented on #6796
Our team @ISD14-LNMIIT wants to work on this issue. Please assign this issue to us!
@Siedlerchr

[2020-08-27 16:27] parmeshgajjar commented on #6801
I have the the same problem

[2020-08-27 16:29] parmeshgajjar commented on #6793
5.1 does not work on my system #6801 - it simply does not load up.

Any other ideas on rebooting the performance?

[2020-08-27 16:36] Siedlerchr commented on #6801
@mlep  @parmeshgajjar  Can you please try this one? https://builds.jabref.org/pull/6802/merge/

[2020-08-27 16:42] Siedlerchr commented on #6796
Thanks for taking this issue! At the same time you could also take a look at #6791 also an issue with the dark theme. Probably some color definitions confused.

For getting started please read through our [Contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)
Codewise the DarkTheme is located here:
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gu

[2020-08-27 18:36] parmeshgajjar commented on #6801
I have tried it and it works fine. It also appears to have better performance (so far, fingers crossed) that #6793. The immediate feedback is that the startup is rapid, and the search problem I was having in #6793 is also mostly resolved. It still uses a large amount of memory but I can live with that if the performance is ok. I will continue to monitor.

[2020-08-27 18:40] #6801 closed

[2020-08-27 21:36] koppor commented on #6793
Seeing https://github.com/JabRef/jabref/issues/6801#issuecomment-682121002, I close this issue to keep the amount of (unncessarily) opened issues low.

We will do a release the next few hours (have to wait until we are unblocked by Apple).

[2020-08-27 21:52] #6793 closed

[2020-08-28 05:42] vatsal-M commented on #6796
Surely, our team will loook into this issue too

[2020-08-28 05:48] Siedlerchr commented on #6293
I guess the problem is that it doesn't work when the focus is not on the maintable
: https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/edit/EditAction.java

[2020-08-28 07:43] ytzemih commented on #6293
I see, can anyone using Linux confirm this issue still being there?

[2020-08-28 07:45] Siedlerchr commented on #6293
Also I noticed that the paste bug in macos is now present in the TextField. I think wee need to disable it there.

[2020-08-28 11:50] sumitsantape30 commented on #6691
Hey! I am beginner and I would like to work on this issue, can you suggest me the ways to get started?

[2020-08-28 17:28] RolfTMeles opened #6806 "Memorize external .jstyle files"
The two standard citation styles don't fit my needs. So I created my custom jstyle file. But I have to add and select it anew anytime I start jabref.

It would be nice if jabref would save the filepath and lastly chosen style file, it would save some clicks.

I am running:
JabRef 5.0--2020-03-06--2e6f433
Linux 5.4.0-42-generic amd64
Java 13.0.2

I tried saving the .jstyle file on an external SD ca

[2020-08-28 18:22] Siedlerchr commented on #6806
Hi, this should the fixed in the 5.1 version which will be released today/soon

[2020-08-29 09:52] RolfTMeles commented on #6806
Under
JabRef 5.1--2020-08-28--5540b93
Linux 5.4.0-42-generic amd64
Java 14.0.2
Everything works just as I dreamt of! Thank you so much!

[2020-08-29 09:52] #6806 closed

[2020-08-29 20:33] Siedlerchr commented on #6691
@sumitsantape30  Hi welcome to JabRef!
For getting started please read through our [Contribution](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) Guide It explains also how to setup your workspace
Codewise the solution would be to add a call to select first here:
https://github.com/JabRef/jabref/blob/5540b93caf05b165ab12dee5ad8991e4065285b6/src/main/java/org/jabref/gui/groups/GroupTr

[2020-08-29 20:38] Siedlerchr commented on #6538
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-29 20:38] #6538 closed

[2020-08-29 20:40] Siedlerchr commented on #6449
This seems to be not an issue on JabRef's side but more an issue on where you put the installations As suggested, portable versions can be used in addtion to the installer

[2020-08-29 20:40] #6449 closed

[2020-08-29 20:42] Siedlerchr commented on #6378
@wamserma Can you try to use the AdoptOpenJDK version and report back if that works for you?

[2020-08-29 20:45] Siedlerchr commented on #6223
We recently discovered and fixed a bug related to cleanup. Can you please try again with the latest master
 https://builds.jabref.org/master and report back if it works for you.

[2020-08-29 20:46] Siedlerchr commented on #6134
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-29 20:46] #6134 closed

[2020-08-29 20:48] Siedlerchr commented on #6095
Can you please test if this is still an issue in the latest master version?
https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-29 20:50] Siedlerchr commented on #5916
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-29 20:50] #5916 closed

[2020-08-29 20:53] Siedlerchr commented on #5866
I think this issue is not in JabRef's , it's beyond our realm and we cannot do anything about this. Therefore I'm closing this issue.

[2020-08-29 20:53] #5866 closed

[2020-08-29 20:59] Siedlerchr commented on #4494
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2020-08-29 20:59] #4494 closed

[2020-08-29 21:01] Siedlerchr commented on #3816
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-29 21:01] #3816 closed

[2020-08-29 21:02] Siedlerchr commented on #3945
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-29 21:02] #3945 closed

[2020-08-29 21:02] Siedlerchr commented on #3945
Fulltext downloads of PDFs now respect the file directory pattern and the file name pattern as well.

[2020-08-29 21:04] Siedlerchr commented on #895
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-29 21:04] #895 closed

[2020-08-30 06:14] hemantgs commented on #6705
Hey @calixtus , I just opened a #6809 for this :smiley:  , can you please have a look

[2020-08-30 08:45] mr-j-s commented on #6538
Seems to work now, thank you.

[2020-08-30 09:52] tmrd993 commented on #6759
The issue is that the sentence case formatter and the title case formatter both work on the entire paragraph instead of splitting it into individual sentences. The same problem should occur when the title has any of the following characters as terminal points: `!`, `?`, `;`, `:`, `.`

This is how the sentence case formatter formats the input:
[code]

This works correctly for any **individual** sen

[2020-08-30 16:22] Siedlerchr commented on #6677
It's working again, so I close this issue.

[2020-08-30 16:22] #6677 closed

[2020-08-30 16:35] Siedlerchr commented on #6627
Ideas for a fetcher implementaiton:
1  Search endpoint (Open access); https://www.jstor.org/open/search/?theme=open&Query=japanese+emperor
2. Sarch HTML for: ` class="cite-this-item button secondary" href="/citation/info/10.7249/j.ctt1287m9t.15" `
3 Extrac the id after the /info
2. Call https://www.jstor.org/citation/text/10.7249/j.ctt1287m9t.15  with the id after the parameter text/ to get bibtex

[2020-08-30 17:35] vsht commented on #6559
It seems that installing `bellsoft-java14` according to https://bell-sw.com/pages/repositories/#yum fixes the issue for me
on Fedora 32 (using the latest dev build of JabRef).

Without Liberica JDK installed (i.e. just having the standard OpenJDK from Fedora repos)
JabRef generates 100% CPU load on all cores roughly 1 min after being launched.

[2020-08-30 19:56] koppor commented on #6293
Fixed in master, will be included in the v5.1 release. Should be released in a few hours.

[2020-08-30 21:29] koppor commented on #1975
Steps:

1. Dive into our powerful search syntax: https://docs.jabref.org/finding-sorting-and-cleaning-entries/search
2. Compare with lucene
3. Evaluate whether a switch is possible
4. Get rid off ANTLRv4
5. Add an ADR

[2020-08-31 08:21] gonced8 commented on #5867
Having the same issue in i3wm also

[2020-08-31 08:41] sbecuwe opened #6815 "inconsistent behavior: accents in search"
JabRef version 5.1 on macOS 10.14.6

I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists.

It seems the way accents are handled in author names, is not consistent.

- "Lef{\\`e}vre, V." is found when entering "Lefevre" in the search field. The same holds for "Pr{\\'e}vost, M." when entering "Prevost".

- However, "M{\\"u}hlbach, G." is not fo

[2020-08-31 08:55] jhh931 commented on #6293
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

Paste button does not function. Neither does ^v.

[2020-08-31 09:07] jhh931 commented on #6698
The problem persists for path+file names without spaces.

Also in the now released 5.1 (portable):
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

[2020-08-31 09:13] koppor commented on #6293
@jhh931 What did you copy? I tried copy from the maintable and paste into it.

[2020-08-31 09:15] ytzemih commented on #6293
JabRef 5.1--2020-08-30--e023aa0
Linux 5.4.19-050419-generic amd64
Java 14.0.2

Copy and paste per button and per keyboard shortcuts works for me under Linux.
However, what I can't do: Copy by keyboard and paste by button. So, as long as you stay with one method, it seems to work. (for me)

[2020-08-31 10:23] gldhnchn opened #6817 "Relative paths broken since 5.1"
JabRef 5.1--2020-08-30--e023aa0
Linux 5.4.0-42-generic amd64
Java 14.0.2

Today i received the update notification and installed the new jabref version 5.1 on my Ubuntu 20.04 via the .deb package. Since I have installed the update, I cannot open linked files with F4, click on the file symbol or with _right click -> open file_. Nothing happens and _Open file_ in the right click menu is grey. Every

[2020-08-31 10:30] gldhnchn commented on #6817
Sorry for the trouble, I solved the issue. I had to check the option `Preferences->File->Search and store files relative to library file location`. I don't know whether this option is new or why it is unchecked after the upgrade.

[2020-08-31 10:30] #6817 closed

[2020-08-31 11:50] jhh931 commented on #6293
Hey - I got some fresh new insights. Steps to reproduce:

1. Open two different bibfiles (A and B) with a couple of entries
2. Select and copy one or more entries from the entry table of file A (via Ctr-C or via the Copy button). (GUI says: "Copied x entries")
3. Switch to the entry table of file B (by clicking on the tab)
4. Right now, ^v does not work. Paste button does not work.
5. Click _below

[2020-08-31 12:05] Siedlerchr commented on #6293
We probably need to remove the if for the focus owner check for maintable and assume the maintable as default if not text input control
@calixtus

[2020-08-31 12:42] tmrd993 commented on #6759
May I work on this? If yes, what are the requirements? Do we want 100% accurate conversion at all times?

[2020-08-31 12:44] Siedlerchr commented on #6759
I guess the proposed RegEx solution is sufficient if it fits for 90% of the cases. Let's ask the other devs @JabRef/developers

[2020-08-31 12:49] serialc opened #6818 "When enlarging JabRef window, columns shrink in width"
JabRef 5.1--2020-08-30--e023aa0
Linux 5.4.0-42-generic amd64
Java 14.0.2

Steps to reproduce the behavior:
1. Resizing JabRef window works fine on opening, scaling column width with window size.
2. Have more than 2 files/tabs open.
3. Change the width of a column (e.g., Year).
4. **Enlarge** the JabRef window width.
5. JabRef responsively **shrinks** all the columns, except the rightmost (as if yo

[2020-08-31 12:52] mlep commented on #6818
Similar to #6690

[2020-08-31 13:00] Holzhauer opened #6819 "Content selector does not seem to work for custom fields"
JabRef version JabRef 5.1--2020-08-30--e023aa0 Linux 4.15.0-112-generic amd64  Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The content sectors just do not show up when entering text in the input fields that are connected with content selectors.

[2020-08-31 13:06] Siedlerchr commented on #6819
Have you enabled autocomplete?

[2020-08-31 13:22] profiack opened #6821 "I cannot include books by placing the ISBN."
Hello, I use Jabref for some time. I updated today to version 5.1 (Windows 10). I cannot include books by placing the ISBN.