[2019-10-14 19:02] koppor commented on #5417
@Siedlerchr Can you provide the link to the build? I disabled the build 12 hours ago so that we build using GitHub workflows (as decided above).

[2019-10-14 19:05] koppor commented on #5417
Reading https://forum.snapcraft.io/t/personal-files-request-for-kontena-lens/13504/4?u=koppor it seems to be required that we are patient. Since I asked at the thread our supporter for an approval, I would suggest that we wait until Sunday with an explicit request. - Then I would ask @LyzardKing to write down the request since I am not aware of the details and cannot properly join the discussion.

[2019-10-14 19:07] Siedlerchr commented on #5417
https://build.snapcraft.io/user/JabRef/jabref/702124
(a day ago ) Did not know that you disabled the build there.

[2019-10-14 19:15] cmoralesmx commented on #4652
Hi, I would like to have a go at this one. Any pointers?

[2019-10-14 19:27] Siedlerchr commented on #4652
Hi,
The dialog is here:
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/externalfiles/FindUnlinkedFilesDialog.java

A first step would be to convert the dialog to the MVVM pattern, e.g. extract it to an fxml and a controller so that it's easier to expand it
https://github.com/JabRef/jabref/wiki/Code---JavaFX

In the next step you could add a filter option e.g based on dat

[2019-10-14 19:43] tobiasdiez commented on #4652
Just add a new column for the changed date and then the user can filter based on this column.

[2019-10-14 19:58] b0n541 opened #5447 "Action "Import into current library" is active without any open library"
JabRef version 5.0.0 (develop) on Ubuntu 18.04

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Start JabRef
2. Choose menu File - Import - Import into current library
3. Try to import some bib entries
4. Alert dialog with NullPointerException is shown

![Screenshot from 2019-10-14 21-57-20](http

[2019-10-14 20:04] Siedlerchr commented on #5447
The import into current library should be disabled if  there is no library open

[2019-10-14 20:09] LyzardKing commented on #5417
It takes some time for the request to be approved.
I'll write a request, then link it here, so you can keep an eye on it.
Then I'll link the previous forum post with the methodology followed in developing the feature (https://forum.snapcraft.io/t/personal-file-under-mozilla-native-messaging-hosts/13627) in the new request.
Is this acceptable?

[2019-10-14 20:14] b0n541 commented on #5447
Yes, I'll try to find a fix for that.

[2019-10-14 20:18] tobiasdiez commented on #5447
https://github.com/JabRef/jabref/blob/d2ddff574cfdb8d60a09f8f783f6bee92b85c60c/src/main/java/org/jabref/gui/actions/ActionHelper.java#L9-L11
should be helpful

[2019-10-14 20:21] b0n541 commented on #5447
Yes, I already found that one... :-D

[2019-10-14 20:26] koppor commented on #5417
Sure!

[2019-10-14 20:27] LyzardKing commented on #5417
Great! So I'll open the request now :)

[2019-10-14 20:31] LyzardKing commented on #5417
By the way.. the terminal fix in the docker image worked... the apt log is still very long, but the snapcraft stuff is very limited and readable

[code]

[2019-10-15 06:56] LyzardKing commented on #5417
There's still other parts of the log that can be cut down (regarding the upload), but that's up to the snapcraft tool to remove on "dumb" terminals :)

[2019-10-15 07:00] j0hannes commented on #5299
@homocomputeris, I have adapted the package, could you try?

[2019-10-15 08:31] Siedlerchr commented on #5446
Could confirm this under windows, too:
1. Create a new biblatex library
2. Paste a doi
3. Double click to open the entry editor

[2019-10-15 10:57] homocomputeris commented on #5299
@j0hannes Great, it works, thanks a lot!.
Two small issues: there is no `.desktop` file in Gnome 3 anymore, and
[code]
which is a dependency, probably?

[2019-10-15 10:57] AEgit commented on #5446
JabRef 5.0.0-dev--2019-10-14----d2ddff574
Windows 10 10.0 amd64
Java 12.0.2

I can confirm this issue as well.

[2019-10-15 11:04] Siedlerchr commented on #5299
@homocomputeris  The logger issue is a known problem. We are working on it.
Regarding the desktop file see #5444

[2019-10-15 11:34] j0hannes commented on #5299
@homocomputeris, there should be a .desktop file: /usr/share/applications/JabRef.desktop

[2019-10-15 11:38] homocomputeris commented on #5299
@j0hannes I have found it (see above) but it has old paths:
[code]

[2019-10-15 11:43] j0hannes commented on #5299
@homocomputeris, what do you mean by "old paths"?

The icon is stored in /usr/share/pixmaps/ and doesn't need a full path here. On my machines, the icon is shown in the launcher, and clicking on it starts the application.

![Screenshot_20191015_134248](https://user-images.githubusercontent.com/3944397/66828580-b33cb380-ef51-11e9-9e74-511bcebd88f8.png)

[2019-10-15 11:56] homocomputeris commented on #5299
@j0hannes Well, I don't know why it doesn't appear in my system's Gnome menu.

I've reinstalled the package, and I have
[code]
[code]

[2019-10-15 13:04] j0hannes commented on #5299
@homocomputeris, according to [this page](https://developer.gnome.org/integration-guide/stable/desktop-files.html.en) it should work like that.

[2019-10-15 13:20] LyzardKing commented on #5299
Does `desktop-file-validate /usr/share/applications/JabRef.desktop` return anything?

[2019-10-15 13:25] j0hannes commented on #5299
In my case it doesn't; I did that check before pushing the new version.

[2019-10-15 13:26] LyzardKing commented on #5299
Your launcher is shown in the menu, so it's correct.
The command only shows errors.

[2019-10-15 14:01] homocomputeris opened #5449 "Null error while writing XMP metadata"
ArchLinux package by j0hannes #5299
[code]
[code]
- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

An error with no description:

Happens with different PDFs.
The event log is empty.

Steps to reproduce the behavior:
1. Create an entry
2. Add link to a local PDF in the General tab
3. Select this file
4. Tool - Write XMP...
5. A pop-

[2019-10-15 15:35] #5447 closed

[2019-10-15 17:05] koppor commented on #5424
Not sure whether we have test cases for that in https://github.com/JabRef/jabref/tree/master/src/test/resources/testbib.

[2019-10-15 17:09] koppor commented on #5447
Refs #4665

[2019-10-15 20:37] homocomputeris commented on #5449
The one from my snippet is https://agenda.infn.it/event/2620/attachments/29206/34301/TPSA.pdf

Basically, it doesn't write to any PDF.
For example, from these links I downloaded jabref-authors.bib and one PDF, and, say, I want to write the 1st entry metadata to the PDF:
[code]

[2019-10-15 20:53] j0hannes commented on #5446
JabRef 5.0.0-dev--2019-10-14----d2ddff574
Linux 5.3.6-arch1-1-arch amd64
Java 12.0.2

[2019-10-16 08:38] Doc73 opened #5452 "Error in importing jstyles"
JabRef 5.0.0-dev--2019-10-15----2a5507fd3
Linux 5.2.0-0.bpo.3-amd64 amd64 (Debian 10 Buster)
Java 12.0.2

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. add jstyle file for OpenOffice/LibreOffice from GUI
2. click OK
3. :sob:

<details>
  <summary>Log File</summary>

[code]
</details>

Here is o

[2019-10-16 09:32] cmoralesmx commented on #4652
I sent a draft pull request to keep you updated on the progress, shall we continue the discussion there?

[2019-10-16 12:16] Siedlerchr commented on #5452
I figured out the problem. The key is that the preview checks for the default layout.
Quick workaround is to add a format for the entry type "default" in the jstyle.

The real bugfix needs to check if the default layout getDefaultBibLayout is present or return another one from the HashMap in OoBibStyle.

[2019-10-16 18:41] #5383 closed

[2019-10-16 19:02] tobiasdiez commented on #5446
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-16 19:03] tobiasdiez commented on #5244
In the latest development version, you have now the option to show the preview as a tab in the entry editor (Preferences > Entry preview). Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-16 19:13] j0hannes commented on #5446
Now Java just crashed when starting Jabref, core dump attached.

[hs_err_pid78360.log](https://github.com/JabRef/jabref/files/3735996/hs_err_pid78360.log)

Note that "The crash happened outside the Java Virtual Machine in native code."

[2019-10-16 19:22] Siedlerchr commented on #5446
The exception is thrown from some network/proxy detection class in the VM. Do you maybe have an old instance of java or jabref lurking around?

[2019-10-16 19:48] j0hannes commented on #5446
I have Java 12.0.2 and the JabRef version from today.

[2019-10-16 19:48] wujastyk commented on #5255
JabRef 5.0.0-dev--2019-10-16----2588a1cf0
Linux 5.0.0-31-generic amd64
Java 12.0.2

Ibus has started working in today's release.  Thank you!

[2019-10-16 20:16] wujastyk commented on #5255
JabRef 5.0.0-dev--2019-10-16----2588a1cf0
Linux 5.0.0-31-generic amd64
Java 12.0.2

Ibus has started working in today's release.  Thank you!

[2019-10-16 20:16] #5255 closed

[2019-10-16 20:27] juejung commented on #5446
@tobiasdiez Thanks, it works again under:
Ubuntu 18.04 with Gnome desktop with the latest .deb build.

JabRef 5.0.0-dev--2019-10-16----e36daae20
Linux 5.0.0-31-generic amd64
Java 12.0.2

[2019-10-16 21:44] j0hannes commented on #5446
@Siedlerchr, you were right, the problem's gone now.

[2019-10-17 07:23] calixtus opened #5458 "JFXColorPicker not compatible with JDK12"
There seem to be some compatibility issues with JFoenix ColorPicker and JDK12 JabRef is using in the GroupsDialog, which is failing to load.

https://github.com/jfoenixadmin/JFoenix/issues/966

I prepared a temporary drop-in replacement fix with the standard ColorPicker of JavaFX.

JabRef 5.0.0
Windows 10 10.0 amd64
Java 12.0.2-bellsoft

- [x] I have tested the latest development version from http

[2019-10-17 07:50] AEgit opened #5460 "Entry editor: Keep it open as default"
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

At the moment, it is not possible to have the entry editor open all the time. This is a problem, since the new changes to the entry preview make it part of the entry editor:
https://github.com/JabRef/jabref/issues/5244

This makes it difficult to quickly cycle through all entries (see also https://github.com/JabRef/jabref

[2019-10-17 07:52] tobiasdiez commented on #5460
What do you mean by "always open"? If I open the entry editor, it usually stays opens until I close it again. And you can click on a new entry to edit it (without that the editor closes).

[2019-10-17 07:53] AEgit opened #5461 "Entry editor: Text in entry row is not being wrapped"
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

The current entry editor does not wrap text in entry rows. This leads to a massive waste of screen space. Text in entry rows should be wrapped (= do an automatic return) to reduce the waste of screen space.

This problem has also been reported here:
https://github.com/JabRef/jabref/issues/5244#issuecomment-528031151

For

[2019-10-17 07:57] AEgit commented on #5460
Yes, but I would like to see the old JabRef behaviour, where after opening JabRef the entry preview was immediately visible. At the moment, this is only possible after clicking onto the entry (note, that Strg+E does not work).
I think it is more intuitive to always have the entry preview open, instead of just the main table. Since the entry preview is now part of the entry editor, the entry editor

[2019-10-17 08:07] AEgit opened #5462 "Entry editor: Formatting of entry preview is lost after performing search"
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

If a search is performed, the formatting of the entry preview is lost.

Entry preview before performing search:

![Entry_preview_no_search](https://user-images.githubusercontent.com/12767489/66990108-7db4d900-f0bd-11e9-9937-b04b89335490.png)

Entry preview after performing search:

![Entry_preview_with_search](https://use

[2019-10-17 08:11] AEgit commented on #5412
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

Might be a duplicate of https://github.com/JabRef/jabref/issues/5446#issuecomment-542845715 which is fixed in the most recent version.

[2019-10-17 08:12] Siedlerchr commented on #5462
This is a duplicate and has to do with the search highlight function.

[2019-10-17 08:12] #5462 closed

[2019-10-17 08:19] AEgit opened #5463 "Entry preview: Does not adapt to dark mode"
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

The entry preview does not adapt to dark mode. This issue has already been reported by @Siedlerchr here (including an image):
https://github.com/JabRef/jabref/issues/5244#issuecomment-528028140

[2019-10-17 08:40] AEgit commented on #5374
Note, that the visibility problem of the scroll bar also affects the "Preferences" dialog:

1. Mouse cursor is on the right half of the "Preferences" dialog (i. e. does not touch the "Preferences" list). The scroll bar is invisible:
![Preferences_Scroll_bar_invisible](https://user-images.githubusercontent.com/12767489/66992638-0f264a00-f0c2-11e9-951d-fa50a4b6cab7.png)

2. Mouse cursor is on the le

[2019-10-17 08:47] AEgit commented on #5044
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

As far as I can tell, this issue is fixed in the current dev version.

[2019-10-17 08:55] AEgit commented on #4303
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

Can confirm that this appears to be fixed in the current dev version.

[2019-10-17 08:58] AEgit commented on #5263
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

Can confirm that this has been fixed in the current dev version.

[2019-10-17 09:15] AEgit opened #5464 "Entry preview as tab: Full change only takes effect after restart of program"
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

The entry preview can now also be displayed as a separate tab in the entry editor (see https://github.com/JabRef/jabref/issues/5244). To achieve this, you do the following: Options -> Preferences -> Entry preview -> Show preview as tab in entry editor -> Save

After saving, the entry preview is shown as a separate tab. BU

[2019-10-17 10:16] AEgit commented on #5413
JabRef 5.0.0-dev--2019-10-17----e81d58c51
Windows 10 10.0 amd64
Java 12.0.2

Cannot confirm this issue.

I managed to install JabRef (using the msi) to "C:\Program Files\JabRef_dev" (which I use to test the current development version of JabRef). In fact, it would be a big problem for me, if it was not possible to change the installation directory, because my working installation of JabRef (versio

[2019-10-17 10:51] lilasie opened #5465 "Automatic Bug Report - 20191017124839"
JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_221

Steps to reproduce:

1. ...
2. ...
3. ...

Paste your log details here.

[2019-10-17 10:51] #5465 closed

[2019-10-17 10:52] lilasie opened #5466 "Automatic Bug Report - 20191017124839"
JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_221

Steps to reproduce:

1. ...
2. ...
3. ...

Paste your log details here.

[2019-10-17 10:52] lilasie opened #5467 "Automatic Bug Report - 20191017124839"
JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_221

Steps to reproduce:

1. ...
2. ...
3. ...

Paste your log details here.

[2019-10-17 10:53] lilasie commented on #5467
Opening: A:\D\Dendro project - literature\my lib.bib
Uncaught exception occurred in Thread[JavaFX Application Thread,5,main]
java.lang.NullPointerException
	at org.jabref.gui.entryeditor.EntryEditor.lambda$setFocusToField$12(EntryEditor.java:286)
	at com.sun.javafx.application.PlatformImpl.lambda$null$5(PlatformImpl.java:295)
	at java.security.AccessController.doPrivileged(Native Method)
	at com.s

[2019-10-17 10:53] lilasie commented on #5466
Opening: A:\D\Dendro project - literature\my lib.bib
Uncaught exception occurred in Thread[JavaFX Application Thread,5,main]
java.lang.NullPointerException
	at org.jabref.gui.entryeditor.EntryEditor.lambda$setFocusToField$12(EntryEditor.java:286)
	at com.sun.javafx.application.PlatformImpl.lambda$null$5(PlatformImpl.java:295)
	at java.security.AccessController.doPrivileged(Native Method)
	at com.s

[2019-10-17 11:32] lilasie opened #5468 "Automatic Bug Report - 20191017133119"
JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_221

Steps to reproduce:

1. ...
2. ...
3. ...

Paste your log details here.
Opening: A:\D\Dendro project - literature\my lib.bib
Could not invoke method
java.lang.NumberFormatException: Illegal embedded sign character
	at java.math.BigInteger.<init>(Unknown Source)
	at java.math.BigInteger.<init>(Unknown Source)
	at org.jabref.logic.exporter.BibTeXMLE

[2019-10-17 12:32] AEgit commented on #5467
Please try the latest development version of JabRef, which might already contain a fix for your problem:
https://builds.jabref.org/master/

Do not forget to create a backup of your database before using the current development version.

[2019-10-17 12:32] AEgit commented on #5466
Please try the latest development version of JabRef, which might already contain a fix for your problem:
https://builds.jabref.org/master/

Do not forget to create a backup of your database before using the current development version.

[2019-10-17 12:33] AEgit commented on #5468
Please try the latest development version of JabRef, which might already contain a fix for your problem:
https://builds.jabref.org/master/

Do not forget to create a backup of your database before using the current development version.

[2019-10-17 13:08] tobiasdiez commented on #5467
By the way, the description and the steps to reproduce are not optional. The same applies to the title. Close until this is fixed.

[2019-10-17 13:08] #5467 closed

[2019-10-17 13:09] #5466 closed

[2019-10-17 13:09] #5468 closed

[2019-10-17 13:23] lilasie commented on #5468
Excuse me but how to use these files there? I'm sorry but I have absolutely no idea I started using jabref a few weeks ago, and now there's a problem that I can't edit at all my librabry, edit window doesn't open. You've sent me link to a list of file's but I' do  not know which to download and what to do with it

[2019-10-17 13:27] AEgit commented on #5468
1. You should report how to reproduce the problem you encountered. Just posting the error message is not enough (applies to all your bug reports).

2. Create a copy of your JabRef database (just make a copy of your .bib file). This serves as a backup in case something goes wrong when using the current development version.

3. Download JabRef-5.0.0-msi and then install it.

[2019-10-17 14:14] lilasie commented on #5468
Well if someone is brainy enough to use that code. I can simply manage my library from jabref inteface, using the code is dark magic for me. And jabref is the best tool for me to manage my pdfs with literature I use, couldn't find better sofware to orginize my library and be able to find quickly just what I'm looking for in wast folders of old and new stuff.
Thank you for help, I can use edit wind

[2019-10-17 14:17] lilasie commented on #5468
Well if someone is brainy enough to use that code. I can simply manage my library from jabref inteface, using the code is dark magic for me. And jabref is the best tool for me to manage my pdfs with literature I use, couldn't find better sofware to orginize my library and be able to find quickly just what I'm looking for in wast folders of old and new stuff.
Thank you for help, I can use edit wind

[2019-10-17 14:20] AEgit commented on #5468
Yes, I have noticed that as well, since the new .msi installer was introduced. It is not really a problem, since JabRef runs flawlessly and you can just have the console window in the background, but I am curious myself, why this was introduced (maybe to automatically log error messages).

@tobiasdiez Can you explain why the most recent development versions of JabRef on Windows launch the Windows

[2019-10-17 15:43] gitclone-510 commented on #5464
Hey , hows it going? I would like to work on this issue if nobody has picked it up yet

[2019-10-17 16:14] wujastyk opened #5469 "Uncaught exception on startup with a database"
JabRef version

JabRef 5.0.0-dev--2019-10-17----26a1d29a3
Linux 5.0.0-31-generic amd64
Java 12.0.2

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Start the program with a couple of databases open from the last session.  The exception box pops up immediately.

The problem might be connected wit

[2019-10-17 16:57] JoHaHu commented on #4949
I will try to resolve this issue.

[2019-10-17 18:55] #5277 closed

[2019-10-17 19:18] tb77phd commented on #5413
I tried again into a different folder and it still got installed into C:\Program Files\JabRef. I wonder if it is because my working installation 4.3.1 is **not** in C:\Program Files\JabRef? I may try later on a different computer to install 4.3.1 into default and then install the 5.0.0 msi into a different folder.

[2019-10-17 20:25] #5069 closed

[2019-10-17 20:28] tobiasdiez commented on #5452
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-17 20:32] tobiasdiez commented on #5069
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-17 20:34] Siedlerchr commented on #5250
Does this still happen with the latest snapshots?

[2019-10-17 20:41] tobiasdiez opened #5474 "Remove background command line window"
Currently, a console window is shown in the background. Reason is the `command-line` argument to `jpackage` which enables command line input. Thus, currently we have to life with the background console window.

Java bug report: https://bugs.openjdk.java.net/browse/JDK-8234469

[2019-10-17 20:43] tobiasdiez commented on #5277
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-17 20:50] tobiasdiez commented on #5468
In short: it's a limitation of the software that is used to create the installer https://github.com/JabRef/jabref/issues/5474

[2019-10-17 20:53] j0hannes commented on #5250
I will reopen it when the same thing happens again.

[2019-10-17 20:53] #5250 closed

[2019-10-17 20:55] tobiasdiez commented on #5246
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

I'll leave this open as the code needs be improved.

[2019-10-17 20:59] tobiasdiez commented on #5307
Can this be closed now, or is there more work needed to make the snap working? @LyzardKing @koppor

[2019-10-17 21:06] LyzardKing commented on #5307
The snap still is not pushing from the build system.
I think this can be closed since it's related to an older version of the snap.
The one currently on the store should mostly work, but it's not up to date.
For the updated version we need to wait for the validation of the permission for the browser addon.
Or while we wait we could remove that part and upload a version without the browser integrat

[2019-10-17 21:23] tobiasdiez commented on #5307
Ok, then we just leave this issue open for now and wait...

[2019-10-17 21:24] LyzardKing commented on #5307
What do you think?
Is it better to upload a working snap without the browser integration?
Keeping in mind that the extension can still be installed and work

[2019-10-17 21:34] AEgit commented on #5468
Ah, cheers!

[2019-10-17 21:48] wbmacleod commented on #5250
I am moved to the rpm version with no trouble.  Since alpha things are fine
re java 11 - having the rpm is a great improvement.  many thanks! bm

On Thu, Oct 17, 2019 at 4:34 PM Christoph <notifications@github.com> wrote:

--
W. Bentley MacLeod
New York, New York

[2019-10-17 22:10] tobiasdiez commented on #5307
I would say we wait for about a week to get the permission. If this doesn't work out (or we are still waiting), we could push a temporary snap without the extra JabFox stuff.

[2019-10-17 22:12] LyzardKing commented on #5307
Ok! :)
A week is about what they usually say to wait on the forum before starting the vote as far as I can tell..
In any case a working snap is ready to be pushed. But I wouldn't want to confuse the store upload in any way..

[2019-10-18 01:24] taerim25 commented on #5463
UPDATE: Preview content itself was updated in form of HTML injected in `previewView = new WebView()` (located in PreviewViewer.java). I was able to change the color of WebView object itself, but it wouldn't show on the app as the injected HTML is placed on top of it. I can modify the css of the injected HTML by manually making a new css file and embedding it on to the HTML, but that wouldn't make

[2019-10-18 04:20] koppor commented on #5307
If publish another snap, we have to cancel the voting and restart it at a
later time. Since the current snap state is not that critical, I would vote
for "waiting".

Galileo Sartor <notifications@github.com> schrieb am Fr., 18. Okt. 2019,
00:12:

[2019-10-18 05:42] Siedlerchr commented on #5463
@tobiasdiez do we have a variable for checking if Dark Mode is enabled?

[2019-10-18 06:23] Doc73 commented on #5452
@tobiasdiez
No, same error:
<details>
  <summary>Log File</summary>
java.lang.NullPointerException
	at org.jabref/org.jabref.gui.openoffice.StyleSelectDialogView.lambda$new$0(Unknown Source)
	at org.jabref.merged.module/javafx.scene.control.Dialog.setResultAndClose(Unknown Source)
	at org.jabref.merged.module/javafx.scene.control.DialogPane.lambda$createButton$3(Unknown Source)
	at org.jabref.merg

[2019-10-18 06:24] bernhard-kleine commented on #4303
@tobiasdiez
There seems to be something very strange with Jabfox:
The files JabRef.bat and JabRef.ps1 are not to be found where they seemed to be. They are obviously gone from master since the directory master/buildres/windows has only files to support linux. The file JabrefHost.ps1 is obviously not the file to where the $jabRefJarFileName is to be changed.
I wonder whether the move of Jabref.jar

[2019-10-18 06:31] bernhard-kleine opened #5475 "ERROR StatusLogger Log4j2 could not find a logging implementation."
JabRef 5.0.0-dev--2019-10-18----bc26c3ac5
Windows 7 6.1 amd64
Java 12.0.2

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. When opening jabref a console starts with this error message
     ERROR StatusLogger Log4j2 could not find a logging implementation. Please add log4j-core to   the classpath.

[2019-10-18 06:55] AEgit commented on #5277
JabRef 5.0.0-dev--2019-10-18----bc26c3ac5
Windows 10 10.0 amd64
Java 12.0.2

I can confirm that this has been fixed in the current dev version.

[2019-10-18 07:00] AEgit commented on #5475
JabRef 5.0.0-dev--2019-10-18----bc26c3ac5
Windows 10 10.0 amd64
Java 12.0.2

I can confirm this "issue". As mentioned by @bernhard-kleine I do not know, whether the error is an actual problem, since JabRef starts flawlessly.

As explained by @tobiasdiez the console starts due to a limitation of the software that is used to created the installer: https://github.com/JabRef/jabref/issues/5468#issueco

[2019-10-18 07:09] Siedlerchr commented on #5475
We also have a ticket open at the log4j guys.
It should not be a problem for n the user as JabRef works with it.

[2019-10-18 07:11] Siedlerchr commented on #5452
Please delete the wrong style and readd it. It should be marked as invalid.

[2019-10-18 07:15] Doc73 commented on #5452
I had already deleted it. Indeed, to be more precise, I had not even added it in this PC from which I write

[2019-10-18 07:20] AEgit commented on #5461
The following tickets are connected to this issue:
https://github.com/JabRef/jabref/issues/4479
https://github.com/JabRef/jabref/issues/555

The following changes might be have caused the problem in the first place:
https://github.com/JabRef/jabref/issues/4126 --> Title/author/instituition/year field were changed to single-line fields: In my opinion, at least the title and the author field should

[2019-10-18 11:09] matthiasgeiger commented on #5461
The problem is more or less the difference between display and serialization: "Multiline fields" are fields that have a lot of contents and line breaks should be preserved during saving and loading (e.g. abstract). Other fields like author are per definition "single line fields" as there are no line breaks allowed.

What it makes a bit difficult is the technical handling in the user interface when

[2019-10-18 12:15] bernhard-kleine commented on #5475
the versions from 2019-08-25 didnot show the console. What has changed inbetween?

[2019-10-18 12:39] egonw opened #5476 "possible duplicate name in AUTHORS file"
See https://github.com/JabRef/jabref/blob/master/AUTHORS#L59-L60

When I disregard unicode, the names are identical. When I look at this commit, that too suggests it's really the same person: https://github.com/JabRef/jabref/commit/61df0d7de74469941ec1f57989f36132fedc9fe1

[2019-10-18 13:54] AEgit commented on #5475
@bernhard-kleine : See here
https://github.com/JabRef/jabref/issues/5468#issuecomment-543356121

and here:

https://github.com/JabRef/jabref/issues/5475#issuecomment-543553962

[2019-10-18 14:18] egonw opened #5478 "Install instructions mention Java 11 but build expects Java 12"
I'm following the build instructions from http://help.jabref.org/en/Installation#building-from-source (link given by the README), and running into a few issues. The first was easy to solve, but at least at Debian 10 you need to set JAVA_HOME (minor issue).

A bigger problem is that Java 11 does not seem enough anymore, and I get this error in the `./gradlew assemble` step:

[code]

[2019-10-18 14:22] Siedlerchr commented on #5478
Yes, sorry We recently upgraded to jdk 12 in #5426  and forgot to update the documentation

[2019-10-18 14:28] Siedlerchr commented on #5478
I upgraded the wiki part. If no jdk12 is avaiable in your repos you can install the version from here:
https://bell-sw.com/pages/java-12.0.2/
See you later ;)

[2019-10-18 14:28] #5478 closed

[2019-10-18 14:28] Siedlerchr commented on #5476
Thanks, feel free to fix it!

[2019-10-18 14:30] egonw commented on #5476
Will do. Wanted to double check :)

[2019-10-18 14:46] Siedlerchr commented on #5463
@taerim25 Actually there is a preferences key which stores which theme the user has selected. So you could use this for checking and adapting the css,

[2019-10-18 16:24] Siedlerchr opened #5479 "UI: Group pane is very small when having LO connector opened"
![grafik](https://user-images.githubusercontent.com/320228/67111026-5dc40900-f1d4-11e9-8ca9-6bda4b113c2e.png)

OO/LO panel should be scrollable or a bit smaller

[2019-10-18 17:09] matthiasgeiger commented on #5479
As the buttons do not really need that much space to display the label text maybe an easy solution would be to reduce their size and put more buttons in one row (floating layout depending on the width of the panel)

[2019-10-18 18:28] #5476 closed

[2019-10-19 03:45] Codeberg-AsGithubAlternative-buhtz commented on #5255
Sorry, but it still not works for me.

JabRef 5.0.0-dev--2019-10-18----bc26c3ac5
Linux 4.19.0-6-amd64 amd64
Java 12.0.2

All other applications are fine here. But only JabRef not working.

I tried the main windows search field, the entry editors author field and the bib-source-code entrie field.

[2019-10-19 03:46] Codeberg-AsGithubAlternative-buhtz commented on #5069
Confirmed. It is fixed and working for me.
Thanks a lot.

[2019-10-19 10:19] calixtus commented on #5476
I thought AUTHORS is autogenerated by script. So fixing it here will probably have no impact after the next time scripts/generate-authors.sh is called.

[2019-10-19 10:49] Siedlerchr commented on #5476
Thanks for the hint. I forgot that.

[2019-10-19 12:20] tobiasdiez commented on #5257
@koppor are you or somebody else actively working on this?

[2019-10-19 12:24] koppor commented on #5257
I will ask at the back office.

[2019-10-19 15:34] tobiasdiez commented on #5079
Sadly there is nothing we can do here as it goes back to java bug: https://bugs.openjdk.java.net/browse/JDK-8087910

[2019-10-19 15:44] AEgit commented on #5079
Do you think it would be worthwhile to create a workaround for this? The bug report (https://bugs.openjdk.java.net/browse/JDK-8087910) is from 2014 and it does not appear, that someone is working on this.

[2019-10-19 15:52] tobiasdiez commented on #5079
It's an irritating issue and I would really like to fix it. But the bug is deep in their code and I don't see an option to fix it or provide a workaround.

[2019-10-19 18:32] AEgit commented on #5079
I see, thank you for the explanation. Is there a way to convince them, that this bug is worthwhile being fixed (maybe through reporting the issue directly there)?

[2019-10-20 05:29] luo-chuan opened #5484 "Feature request: 'jump to entry' in 'crossref'"
I am so sorry, but I cannot open the forum. Please excuse me feedback here.

JabRef version: 4.3.1 on Windows 10 and Ubuntu 18.04

I installed the version of 3.8.2 by `sudo apt install jabref` . In the 'general' table of a entry, when I double click a 'crossref', it can jump to the corresponding entry. And there is  buttom of 'jump to entry' on the right.

But after I upgrade to the version of 4.3

[2019-10-20 08:18] matthiasgeiger commented on #5484
Thanks for the suggestion - I think this is reasonable and should be reimplemented.

Also related to the "crossref" feature is already #5284

[2019-10-20 11:37] dheckl opened #5485 "Crossref API parameter query.title deprecated"
JabRef version 5.0-alpha on Mac OS X 10.15 x86_64

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When trying to lookup a DOI for an entry, I get the error "An I/O exception occurred". The answer from api.crossref.org says: "Parameter query.title has been deprecated. Please use query.bibliographic instead. See https://status.cross

[2019-10-20 13:28] CaptainDaVinci opened #5486 "Workspace set up guide for eclipse is not easy to follow"
The steps described in the [wiki](https://github.com/JabRef/jabref/wiki/Guidelines-for-setting-up-a-local-workspace#set-up-eclipse) for setting up a workspace on eclipse is not easy to follow. For e.g,
* It does not mention the test libraries that should be moved to the class path.
* The `jhm` class is not present in the modulepath list.
* The step about module dependencies cannot be followed corr

[2019-10-20 15:05] koppor opened #12728 "Make abbreviations also working for conferences"
Abbreviations are listed at https://github.com/JabRef/abbrv.jabref.org.
The system is currently not used for conference proceedings (field `booktitle`)

Support abbrevations also for "booktitle" (data model, GUI) (This is https://github.com/JabRef/jabref/issues/1285)

[2019-10-20 15:06] koppor opened #12271 "New integrity checker for booktitle"
create a checker (Integrity Check) which detects year numbers, locations, page numbers in the booktitle string (should be moved to their appropriate fields) and issue a warning to the user

(Source: https://github.com/JabRef/jabref/issues/1285#issuecomment-214207810)

Examples:

- `European Conference on Circuit Theory and Design, {ECCTD} 2015, Trondheim, Norway, August 24-26, 2015`
- `2015 {IEEE}

[2019-10-20 15:10] koppor commented on #1285
I split the issue and ideas in smaller issues. Therefore closing this.

[2019-10-20 15:10] #1285 closed

[2019-10-20 16:57] tobiasdiez commented on #5463
Thanks to the good work of @taerim25 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-20 17:48] AEgit commented on #5463
JabRef 5.0.0-dev--2019-10-20----dfad2fdea
Windows 10 10.0 amd64
Java 12.0.2

Cannot confirm. The entry preview is not visible at all. And sometimes the exception reported below occurs, when trying to open the entry preview/entry editor. Note, that the issue does not appear, if the dark mode is not activated, so it is very likely that this issues are related to the attempted fix herein:

[code]

[2019-10-20 18:10] Siedlerchr commented on #5463
@tobiasdiez I guess it's due to the variable you replaced with the constant

[2019-10-20 19:59] koppor commented on #4810
Also explained at https://github.com/JabRef/jabref/issues/4167#issuecomment-485262955.

Refs https://github.com/JabRef/jabref/issues/5085.

[2019-10-20 19:59] koppor commented on #4877
Refs https://github.com/JabRef/jabref/issues/5085

[2019-10-21 10:13] #5460 closed

[2019-10-21 13:21] tobiasdiez commented on #5460
Thanks to @CaptainDaVinci tihs is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-21 15:56] AEgit commented on #5460
JabRef 5.0.0-dev--2019-10-21----0f0dce621
Windows 10 10.0 amd64
Java 12.0.2

Amazing, that was quick! I can confirm, that this issue has been fixed in the current dev version.

[2019-10-21 18:26] #5485 closed

[2019-10-21 18:28] #5469 closed

[2019-10-21 18:32] Siedlerchr commented on #5485
Thanks to @CaptainDaVinci  this issue is now fixed!

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-10-21 18:33] Siedlerchr commented on #5486
On my main machine a `./gradlew run` and then a `./gradlew eclipse ` plus copying over the log manager seems to work. Need to check my laptop.

[2019-10-21 18:50] juejung opened #5496 "Blank input editor - Uncaught exception occured in Thread[JavaFX Application Thread,5,main]"
Ubuntu 18.04 with Gnome desktop:
Installed from .deb file downloaded from https://builds.jabref.org/master/jabref_5.0.0-1_amd64.deb
JabRef version:
JabRef 5.0.0-dev--2019-10-21----0f0dce621
Linux 5.0.0-32-generic amd64
Java 12.0.2

Steps to reproduce the behavior:

1. Open JabRef with .bib file
2. Exception is thrown
3. Entry editor is blank (Just a white field. I'm in dark mode)
4. Exception is t

[2019-10-21 19:10] CaptainDaVinci commented on #5486
Thanks for the update, do I have to copy `build/generated/sources/annotationProcessor/java/main/org/jabref/gui/logging/plugins` to `src/main/java/org/jabref/gui/logging` after creating a directory for plugins in it?

[2019-10-21 19:16] Siedlerchr commented on #5486
Yes. That's a thing I have not yet automated. The underlying problem is that Eclipse and gradle do not yet work with those annotation processing stuff really good (different folders etc)
Maybe we can simply commit the file without needing to generate it always. Need to check this out.

[2019-10-21 19:45] dheckl commented on #5485
Fix looks good. Thanks to all for the quick fix.

[2019-10-21 20:31] Siedlerchr commented on #5496
It's an issue with the dark theme path. The light theme should work in the meantime

[2019-10-21 20:55] juejung commented on #5496
@Siedlerchr True, I can confirm this. The light theme works.

[2019-10-22 04:46] matthiasgeiger commented on #5469
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master.
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the

[2019-10-22 07:45] AEgit commented on #5496
Duplicate of:
https://github.com/JabRef/jabref/issues/5463#issuecomment-544274760

[2019-10-22 13:09] homocomputeris opened #5498 "[Enhancement] HiDPI scaling on Linux with Gnome 3"
JabRef looks very different depending on resolution.
In QHD the elements are more or less reasonable (although the toolbar is hidden when the window is snapped #5499), the UHD version is just not usable because the buttons are smaller that the scaled mouse pointer.

2560×1440 QHD, 100% scale in Gnome 3:
![jabref_2k](https://user-images.githubusercontent.com/7422433/67288359-1e036700-f4dd-11e9-8c02

[2019-10-22 13:14] homocomputeris opened #5499 "[Enhancement] Move the toolbar to the left"
Somewhat relevant to #5498

The toolbar (with the New article, New entry, Copy, Paste, etc. buttons) should stick to the right because:
1. It is the de facto standard for those who read and write left-to-right
2. It disappears (» is shown instead) in QHD when the window is _half the screen width_ (e.g. it's snapped to one side):
![jabref_where_are_the_buttons](https://user-images.githubusercontent

[2019-10-22 13:54] LucasB98 commented on #5284
Hello,

We are a team of three students from France and we would be glad to try to help solving this issue.
It will be our first contribution to an OpenSource project.

[2019-10-22 14:29] Siedlerchr commented on #5284
@LucasB98  Bonjour et merci de l'intérêt que vous portez à JabRef 😸

Please follow our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) for getting started and for setting up the workspace ( I would suggest you use Intellij as there are currently some difficulties with eclipse has some problems atm).
If you have all setup, the relevant classes for this behaviour a

[2019-10-22 15:01] AEgit commented on #5499
Can you specify what you mean by "toolbar"? Do you mean the groups panel? The menu buttons in the first row? The menu buttons in the second row (= toolbar in JabRef manual: see http://help.jabref.org/en/BaseFrame)?

Probably the best thing would be to provide another screenshot with the "toolbar" marked.

[2019-10-22 15:08] homocomputeris commented on #5499
This.

[2019-10-22 15:19] homocomputeris commented on #5499
The toolbar is also hidden in Windows 10 in 4k:
<img width="960" alt="Capture2" src="https://user-images.githubusercontent.com/7422433/67301661-fff33200-f4ef-11e9-9c50-038297116b9e.PNG">
:

[2019-10-22 15:20] homocomputeris commented on #5498
It is better scaled in Windows with 3840×2160:
<img width="1920" alt="Capture" src="https://user-images.githubusercontent.com/7422433/67301812-3fba1980-f4f0-11e9-9055-6f6bc883e96d.PNG">

[2019-10-22 15:33] AEgit commented on #5499
JabRef 5.0.0-dev--2019-10-21----0f0dce621
Windows 10 10.0 amd64
Java 12.0.2

Hmmm, I have a 40' screen (3840*2160) and the complete toolbar is shown. But I remember, that I saw similar problems like you mentioned (maybe it was on my Linux installation - I don't remember) so I am not completely sure, whether your problem can or cannot be reproduced.

![Untitled](https://user-images.githubuserconten

[2019-10-22 15:35] homocomputeris commented on #5499
As far as I can see, your window in maximized. Snap it to one edge or just make it half of the screen's width.

[2019-10-22 15:37] AEgit commented on #5499
Same window, same monitor, same resolution, but now just using 1/4 of the screen. The toolbar is still completely visible:
![quarter](https://user-images.githubusercontent.com/12767489/67303331-39c13a00-f4ea-11e9-809d-94c0ebf0553e.png)

[2019-10-22 15:40] homocomputeris commented on #5498
A GIF that compares relative size of the interface:
Linux 2.5K — Linux 4K — Windows 4K
![out](https://user-images.githubusercontent.com/7422433/67303562-e7384b80-f4f2-11e9-86d0-cbd1fed1a724.gif)

[2019-10-22 15:41] homocomputeris commented on #5499
Thanks, then it's a bug not a request.

[2019-10-22 15:43] AEgit commented on #5499
Which version of JabRef are you using? It could be a Linux-only bug (maybe I will have time later on to test it on my Linux installation), but it is strange, that I cannot replicate your problem on my Windows machine when you report the same problem for Windows.
Maybe it is tied to the size of the screen? What size is your display?

[2019-10-22 15:50] homocomputeris commented on #5499
It appears in my Windows 10.

Well, that would be strange. Might depend on GPU.

[2019-10-22 15:55] AEgit commented on #5499
What JabRef version are you running on Windows 10? Go Help -> About JabRef -> Copy Version and paste it here. If you have the same version as I do, then it is really strange.

[2019-10-22 16:00] homocomputeris commented on #5449
I tried it today with the latest snapshot on Windows 10: the same `null` error is raised

[2019-10-22 18:41] juejung opened #5500 "Groups not showing in groups panel"
Ubuntu 18.04 with Gnome desktop:
Installed from .deb file downloaded from https://builds.jabref.org/master/jabref_5.0.0-1_amd64.deb
JabRef version:
JabRef 5.0.0-dev--2019-10-21----0f0dce621
Linux 5.0.0-32-generic amd64
Java 12.0.2

Steps to reproduce the behavior:
1. Open JabRef
2. Open bibfile
3. Groups are not showing anymore in groups panel in latest development version

[2019-10-22 19:50] tobiasdiez commented on #5499
Duplicate of #4907

[2019-10-22 19:50] #5499 closed

[2019-10-22 19:52] tobiasdiez commented on #5498
You can change the (font) size in the preferences. This should then scale everything accordingly.

[2019-10-22 23:24] homocomputeris commented on #5498
Well, changing this value every time I connect to a screen is definitely not the thing I want to do.
Can't the factor be taken from the shell and applied automatically?

[2019-10-23 07:37] Siedlerchr commented on #5500
Cannot confirm. Works fine under windows.

[2019-10-23 08:27] Siedlerchr opened #5502 "Error installing jabref deb package in ubuntu: native messaging host is not a dir"
Latest version of JabRef:`  sudo dpkg -i jabref_5.0.0-1_amd64\(1\).deb `

[code]

I manually checked it, the dir is not existing. /usr/lib/mozilla only has a subfolder plugins

Linux osboxes 4.15.0-62-generic #69-Ubuntu SMP Wed Sep 4 20:55:53 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu 18.04
Firefox 69

[2019-10-23 09:05] LyzardKing commented on #5502
[code]
I think the issue is I used the destination, so it created only `/usr/lib`...
It should be enough to fix the postinst file...
I'll test now and upload a fix

[2019-10-23 10:05] LyzardKing commented on #5502
I created a branch (https://github.com/JabRef/jabref/tree/debRpmInstall) with the fix, so I can use it to also build and test the rpm before pushing to master.
For now if you want to test it the deb should work, so this fix can be merged.

[2019-10-23 10:08] tobiasdiez commented on #5498
I don't see a way to automate this. Suppose the user has two monitor's with different resolution. How should JabRef know on which monitor it is displayed and which base value to choose for the font? Moreover, there are so many things that influence the effective size on the screen besides the resolution (dpi scaling e.g).

[2019-10-23 10:16] Siedlerchr commented on #5502
Thank for the quick action, just create a PR and then we can checkout the branch build

[2019-10-23 10:21] LyzardKing commented on #5502
Done. If you want to test it before merging.. I tested on a freshly installed ubuntu-mate that did not have the mozilla folder before the install.
After a removal I only remove the json, although we could check IF the folder is empty and then remove that as well, but it might be unnecessary...

[2019-10-23 11:27] Codeberg-AsGithubAlternative-buhtz commented on #5255
#ReOpen

New facts:
I used "Anki" yesterday. It is an application I am using very rare. It is for learning with flash cards - Japanese in my case. So I heaviliy use Japanese input methode here.
But it did not work.

I reported that in the Anki support section and waiting for feedback.
https://anki.tenderapp.com/discussions/ankidesktop/36513-ibus-anthy-not-working

What changed between this Anki us

[2019-10-23 11:30] Codeberg-AsGithubAlternative-buhtz opened #5504 "ZIP "ungültig""
I tried to download the JabRef windows portabel zip file from the developers snapshots download section today. I tried several times.

But Windows 10 told me the zip file is "ungültig" (corrupt).

Open the same file with 7zip works fine.

So something is unusual with your zipper that Windows can not open it. Should be fixed asp because most of the Windows users using the windows inbuild zipper.

[2019-10-23 12:40] Siedlerchr commented on #5502
thanks works now. Only the "grep" is showing of course the dir not found, but it works:
`grep: /usr/lib/mozilla/native-messaging-hosts/org.jabref.jabref.json: No such file or directory`

[2019-10-23 12:41] Siedlerchr commented on #5500
Works also fine under linux.
Note that it takes a moment to load the groups.

[2019-10-23 12:52] Siedlerchr commented on #5496
It's hard to debug. The problem is that it works in gradle or eclipse fine etc but not loading from the "jar" path. However, it's the same path also used in the prefs to load the dark theme and there it works also when using the installer version. I have no clue.

[2019-10-23 13:02] LyzardKing commented on #5502
The grep should be from the postrm..
The check needs to be more consistent..
I think this can be solved by adding a check if the file exists..
I'll test it now.

[2019-10-23 13:21] LyzardKing commented on #5502
@Siedlerchr I pushed a fix on the same branch.
If you can test it once it builds let me know if it solves the issue

[2019-10-23 13:29] AEgit commented on #5504
I can confirm this issue.

[2019-10-23 14:00] juejung commented on #5500
@Siedlerchr Ok, I can confirm that it works under Linux. The reason why groups disappeared was that my bibfile did not have the group info

[code]

[2019-10-23 14:12] Siedlerchr commented on #5500
This is odd. We didn't change anything to the groups stuff recently. Did you accidentally open the  bib file with an older version of JabRef? (pre 5.0)

[2019-10-23 14:22] homocomputeris commented on #5498
Well, Gnome apps, Firefox, IntelliJ-based IDEs (written in Java) have no obvious troubles when they switch between HD and UHD.

I'm not really familiar with Java but the docs mention that OpenJFX can get [the current screens DPI](https://openjfx.io/javadoc/13/javafx.graphics/javafx/stage/Screen.html#getDpi())

And to clarify: the scaling doesn't work properly if _only one_ screen is used. With 2-m

[2019-10-23 14:26] juejung commented on #5500
@Siedlerchr No I didn't. I keep an eye on it when I update to newer development versions to see whether it happens again.
One thing I did notice is that when I hit the save button in JabRef I keep getting the message "The library has been modified by another program" and the buttons "Dismiss changes" and "Review changes" appear. When I click "Dismiss Changes" nothing seems to happen and I do have

[2019-10-23 15:00] juejung commented on #5500
@Siedlerchr Nevermind, the saving issue is a known issue. #5085. This can be closed.

[2019-10-23 18:01] amontero90 commented on #5253
This behaviour is still present in the with the deb package in

https://builds.jabref.org/master/jabref_5.0.0-1_amd64.deb

Built in 2019-10-21

[2019-10-23 18:15] j0hannes commented on #5253
The same version from sources works for me.

[2019-10-23 18:23] amontero90 commented on #5253
And by sources you mean.. exactly the same link I provide above?

I just tested again on a fresh installation of Kubuntu 19.10. The behaviour is exactly the one that j0hannes described in the first comment. I can also reproduce what AEgit described with the snap package even though my files are stored in the same unit as JabRef.

[2019-10-23 18:31] j0hannes commented on #5253
These are the sources: https://builds.jabref.org/master/JabRef-portable_linux.tar.gz

Shouldn't make a difference to what you find in the deb package, though.

[2019-10-23 19:28] #5500 closed

[2019-10-23 20:16] h8azo24bkei opened #5505 "Better Merge of Groups for Duplicates"
When the "Find Duplicates" Quality Feature is used, it provides an interactive dialog to merge the entries presenting three options for each attribute: Either, I can use the value from the left entry, the right entry's value, or skip the field.

In my library, I work heavily with groups and ran into situations, where duplicate entries were assigned to different groups. In this scenario, these thre

[2019-10-23 21:40] koppor commented on #5417
I received following email:

Rejecting use of system-files as per https://forum.snapcraft.io/t/system-files-permission-for-jabref-native-messaging-hosts-integration/13702/2

To check review details, go to https://dashboard.snapcraft.io/snaps/jabref/revisions/551/review/

Upload status: Rejected

[2019-10-23 22:08] LyzardKing commented on #5417
I can't view the page, but I replied to the comment on the forum..

[2019-10-24 03:08] Codeberg-AsGithubAlternative-buhtz commented on #5255
Because there are a lot more reports about this and similar problems with IBus I asked on the Debians input method mailing list and tried to summarize the current state of postings.

https://lists.debian.org/debian-input-method/2019/10/msg00047.html

[2019-10-24 09:52] reox opened #5506 "Cannot log in via github to discourse"
I know this is probably not the right place to ask this question, but I hope it reaches someone who might can look into this:
I try to log in to discourse.jabref.org via github oauth but all I get is this error message:
[code]

In the github settings, I can see that I authorized jabref's discourse to access my e-mail.
I even tried with Google Chrome and Firefox, but I get the same error message al

[2019-10-24 09:57] Siedlerchr commented on #5506
I have the same issue since a while. @koppor

[2019-10-24 10:54] tobiasdiez commented on #5496
I've a fix and PR is coming in the next few days.

[2019-10-24 16:15] amontero90 commented on #5253
Update: seems to be a permissions problem. The path for the application in my system is `/opt/jabref/bin/JabRef`. However, if I run `sudo /opt/jabref/bin/JabRef` it is possible to open PDF files as usual. This might offer some workarounds.

[2019-10-24 16:30] j0hannes commented on #5253
To my surprise I couldn't open PDF files on my other machine, which is set up identically to the one where it worked after upgrading. Ther error message was `kf5.kio.widgets: Malformed URL: ""`.

After changing the standard library path for PDFs from a symlink to the real path, opening those PDFs worked again. It seems as if symlinks are problematic for JabRef or one of its components. Running it

[2019-10-24 16:35] JoHaHu opened #5507 "Paging support for fetchers"
So far only a predetermined number of search results are shown. I would like support for pagination.
For this we have to do the following:
* The GUI has to be adapted
* Introduce an interface for paginated fetchers
* Migrating the implementation of fetchers (also possible step-by-step)

If there were no concerns, I would take a look.

[2019-10-24 16:41] matthiasgeiger commented on #5507
:+1:

A lot of users would appreciate that!

However, it should be configurable by fetcher as not all fetchers allow it technically, or we have other constraints like  banning if to much requests are created in short time.

[2019-10-24 16:43] Siedlerchr commented on #5253
Thanks for the hint with symlinks . There might be an option which needs to be passed to the path methods
and also the hint for snaps.

[2019-10-24 16:51] amontero90 commented on #5253
@j0hannes... I think they are different (although possibly related) errors. The one that you mention seems to be a path issue. A very similar error occurs if your links (the links that JabRef uses to the files) are broken; in particular, when the file path is not well configured. The links in my situation are well configured, since I can open pdf files without changing them. Anyways, thanks for th

[2019-10-24 18:46] tobiasdiez opened #5508 "Make it easier to import single entries"
**Is your suggestion for improvement related to a problem? Please describe.**
If you import a single entry (e.g. a bib file containing only one entry), then the import dialog opens and one needs to select the entry by hand, before one can click "Import".

**Describe the solution you'd like**
Preselect the entry, so that one can directly click "Import".

[2019-10-24 18:50] tobiasdiez opened #5509 "Improve message when changing the theme"
After changing the theme in the preferences (Preferences > Appearance), a message is displayed à la "Changed theme to: xyz", where "xyz" is "Base.css" or "Dark.css" depending on the new theme. These should be replaced by better names such as "Light theme" or "Dark theme".

Code implementation: Introduce enum for themes with the properties "display name" (localized), "name" (for storage in the pref

[2019-10-24 18:57] jairus-crabb commented on #5509
Hello, I am a new GitHub user and would like to tackle this issue!

[2019-10-24 19:04] mgroth0 opened #5510 "Reordering Groups does not work after previous drag & drop"
Can we reorder groups? I don't mean the automatic alphabetized "sort all subgroups (recursively)" which I can click in the context menu. I mean can I manually choose the order of my groups? It seems that drag and drop only works if I'm adding a group as a subgroup into another group.

[2019-10-24 19:48] Siedlerchr commented on #5510
Sure you can drag and drop the groups in any order. You can move a group onto another group to make it a subgroup or you move in between two groups to put it there
If you move a subgroup to the all entries group, it should become another top level group.
Also moving subgroups works by moving them onto the parent group

[2019-10-24 20:09] mgroth0 commented on #5510
Thank you! Nice workaround but for larger lists of groups is unrealistic. I'd suggest a new feature where the drag listener detects if the cursor is near the top or bottom of the receiving cell, and if so tries to insert the dragged group in between two cells.

[2019-10-24 20:59] LyzardKing commented on #5417
The discussion is now open again and proceeding.
I uploaded a branch with a fix suggested by the snapcraft forum:
the extension was calling the jabref app from outside the confinement.
Now it's fixed and it works.
It would be nice to automatically test the snap.., but that's for the future I guess
The thing to do now would be (once it builds) to merge the branch https://github.com/JabRef/jabref/pu

[2019-10-25 00:48] jairus-crabb commented on #5478
Hi, I'm a newbie. I'm also experiencing this same issue. I initially started with Java 13 since Java stopped supporting it recently, but found this thread and switched over to Bell's Java 12 that you posted above.

Still receiving the exact same errors as the original poster. I've checked PATH, JAVA_HOME, etc. Followed all the instructions over at: https://github.com/JabRef/jabref/wiki/Guidelines-

[2019-10-25 06:32] Siedlerchr commented on #5478
Best is to ask in our gitter chat, there are some folks who use Intellij https://gitter.im/JabRef/jabref

[2019-10-25 07:20] Krzmbrzl commented on #5478
I just encountered the same issue when following this instructions: http://help.jabref.org/en/Installation

I downgraded to Java 11 via the `build.gradle` and was able to successfully build JabRef as per the instructions though. So I don't know if Java 12 is actually really required :thinking:

[2019-10-25 07:25] Siedlerchr commented on #5478
@Krzmbrzl We explicitly moved to jdk12 in JabRef (although we previously used java 11 in the 5.0 alpha) to be able to check if it runs on newer jdks as well (13 does not yet work). And as the build tools now generates a custom jdk for running JabRef it's irrelevant for the end user which jdk he has installed.
So please change it to java 12 again.
https://builds.jabref.org/master

[2019-10-25 08:01] #5496 closed

[2019-10-25 08:03] Siedlerchr commented on #5496
This should now be fixed in the latest master.

[2019-10-25 08:03] Siedlerchr commented on #5463
This should be fixed now in the latest master.

[2019-10-25 08:03] #5463 closed

[2019-10-25 09:02] Krzmbrzl commented on #5478
Nah I won't do that as I don't have Java 12 on my system. But I don't intend pushing these changes anywhere else so that's my personal mess :)

[2019-10-25 09:03] AEgit commented on #5510
Similar to:
https://github.com/JabRef/jabref/issues/4869#issuecomment-480845941 (see also discussion there)

[2019-10-25 09:10] AEgit commented on #5496
JabRef 5.0.0-dev--2019-10-25----681d6aa6f
Windows 10 10.0 amd64
Java 12.0.2

I can confirm that this has been fixed in the current dev version. Nice work!

[2019-10-25 09:10] AEgit commented on #5463
JabRef 5.0.0-dev--2019-10-25----681d6aa6f
Windows 10 10.0 amd64
Java 12.0.2

I can confirm that this has been fixed in the current dev version. Nice work!

[2019-10-25 10:18] tobiasdiez commented on #5478
There are a few places in Intellij were one could select the JDK to run/compile the project. All of these have to be set to JDK 12 (or "use module/project").

For example:
- Build, Execution, Deployment > Compiler
- Project Settings > Project > Project SDK and Pattform Settings > SDK
- Edit run configuration

Hope this helps!

[2019-10-25 11:13] P4trice commented on #5508
PR #5513 sent.

If you have any feedback or issues with it, please tell me.

[2019-10-25 12:24] Siedlerchr commented on #5507
Refs https://github.com/koppor/jabref/issues/347

[2019-10-25 13:22] AEgit commented on #3607
See also:
https://github.com/JabRef/jabref/issues/5105

[2019-10-25 13:55] juejung commented on #5496
@Siedlerchr
Ubuntu 18.04

JabRef 5.0.0-dev--2019-10-25----fdd06d742
Linux 5.0.0-32-generic amd64
Java 12.0.2

I can also confirm that this has been fixed in the current dev version (.deb) on Ubuntu 18.04. Thanks.

[2019-10-25 14:52] mgroth0 commented on #5510
Ok I had a feeling it might already be implemented. Actually, this did not work for me when I made this post. I wasn't sure if it was a bug or a missing feature. But I just pulled the latest commit and rebuilt it, and now drag and drop reordering is working as expected.

[2019-10-25 15:18] mgroth0 commented on #5510
Actually, this issue started to happen again. And I figured out how to reproduce it:

1. Start up JabRef normally. Drag and drop reordering of groups should work fine.
2. Drag and drop an article into a group.
3. Try to drag and drop reorder a group again. It does not work.

Since articles can't be drag and dropped in between groups, my guess is that some flag  indicating that the dragged item can

[2019-10-25 15:21] AEgit commented on #5510
JabRef 5.0.0-dev--2019-10-25----681d6aa6f
Windows 10 10.0 amd64
Java 12.0.2

Can confirm for the current dev version.
After dragging an article to a group, it is no longer possible to insert a group between two other groups using drag'n'drop. It is possible, however, to assign a group as a new subgroup of another group using drag'n'drop.

[2019-10-25 16:04] mgroth0 commented on #5510
Thanks, I think I fixed it.

I'm having issues with git so I can't pull request. Please add
[code]
or something similar to src/main/java/org/jabref/gui/groups/GroupTreeView.java line 215

I don't understand why this wasn't here before so perhaps someone could check that my fix isn't causing any new problems.

[2019-10-25 20:16] Siedlerchr opened #5516 "Dark Theme: Wrong font color for textfield text in merge window"
Latest master.

1, Merge two entries

![grafik](https://user-images.githubusercontent.com/320228/67601563-f9292100-f774-11e9-9992-c08fc9b8a805.png)

[2019-10-25 22:32] koppor commented on #5506
Please try again. I registred the app for GitHub, Facebook, and Twitter with my personal accounts.

[2019-10-26 08:32] reox commented on #5506
yes, it works now!

[2019-10-26 08:36] #5506 closed

[2019-10-26 08:45] #5374 closed

[2019-10-26 09:06] martinacat commented on #5516
Hello! Is the desired colour for the field `-fx-light-text-color (#9aa3af)`?

[2019-10-26 09:16] tobiasdiez commented on #5424
It works as expected in the latest dev version and I added a test to make sure it stays like this: https://github.com/JabRef/jabref/commit/9fd49bcb2560a46c7f319dd59fdd9a58845415ce

[2019-10-26 09:16] #5424 closed

[2019-10-26 09:18] tobiasdiez commented on #5384
It indeed works as expected now!

[2019-10-26 09:18] #5384 closed

[2019-10-26 09:22] tobiasdiez commented on #5375
It works as expected for me.

[2019-10-26 09:30] tobiasdiez opened #5520 "Add file associations when installing"
Latest development version does not associate bib files with JabRef (using Windows installer, but probably applies to Linux and Mac as well).

jpackage has the following option:

The documentation is a bit sparse at this point. Probably needs a bit of experimentation using different formats. Relevant part of the build script: https://github.com/JabRef/jabref/blob/9fd49bcb2560a46c7f319dd59fdd9a5884

[2019-10-26 09:36] martinacat commented on #5516
Like this?

<img width="843" alt="Screenshot 2019-10-26 at 10 36 00" src="https://user-images.githubusercontent.com/17515408/67617589-72a82a00-f7dc-11e9-9a36-c7d286e8c857.png">

[2019-10-26 10:51] koppor commented on #5375
@tobiasdiez Could you provide a screenshot how it looks on your side?

[2019-10-26 16:31] AEgit commented on #5374
JabRef 5.0.0-dev--2019-10-26----9fd49bcb2
Windows 10 10.0 amd64
Java 12.0.2

I can confirm this has been fixed in the current dev version for the light theme. Personally, I would prefer to have a bigger contrast difference, when the cursor is not found in the groups window, but maybe this is just something I need to get used to.
Something that might need to change as well, is the thickness/width o

[2019-10-26 18:41] mwhitis commented on #5520
@tobiasdiez  - I'd like to have a go at this if no one has claimed.

[2019-10-26 19:55] UltimaBGD commented on #5520
Can I poke around at this?

[2019-10-26 20:51] tobiasdiez commented on #5520
Welcome @UltimaBGD! Feel free to work on this issue. Also have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and feel free to drop by in our [developer chat](https://gitter.im/JabRef/jabref) if you have questions!

[2019-10-26 21:30] AEgit opened #5522 "Dark theme: Visibility problems with current colouring scheme (group colouring and scroll bars)"
JabRef 5.0.0-dev--2019-10-26----9fd49bcb2
Windows 10 10.0 amd64
Java 12.0.2

The current colour scheme employed for the Dark Theme, has a few problems (see also https://github.com/JabRef/jabref/issues/5516). Among those are that the group colouration (indicating that the selected item was assigned to the coloured group) makes it sometimes impossible to see the number of assigned group items: Basic

[2019-10-26 21:35] AEgit commented on #5510
@tobiasdiez : Have you seen the issue and fix reported by @mgroth0 ? I reckon as long as the fix has not been implemented, this issue needs to be re-opened.

[2019-10-27 06:47] parammittal16 opened #5523 "Fix typos in external-libraries.txt file"
JabRef version  on

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Grammatical typos in the external-libraries.txt file

Steps to reproduce the behavior:
1. Fix typos

<details>
  <summary>Log File</summary>

[code]
</details>

[2019-10-27 08:50] #5516 closed

[2019-10-27 08:50] tobiasdiez commented on #5516
Thanks to @martinacat this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-27 09:22] reox opened #5526 "Make dialogs float automatically on tiling window manager"
I'm using JabRef 5.x snapshots on a tiling window manager (i3 / debian bullseye/sid).
The problem with that is, that all dialogs, for example adding new entries, downloading full text, adding groups, cleanup etc... will create a new window which is not floating but tiling by default.
But in my opinion, these windows should float on their own.

The magic keyword here is, to set the `_NET_WM_WINDOW_

[2019-10-27 10:41] Siedlerchr commented on #5516
Thanks a lot for the fix! Really good looking now!

[2019-10-27 10:43] #5449 closed

[2019-10-27 10:44] Siedlerchr commented on #5449
Thanks to @tobiasdiez  this issue should be fixed now

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2019-10-27 11:21] martinacat commented on #5516
No worries! 👍 ✨

[2019-10-27 12:16] #5332 closed

[2019-10-27 12:20] Krzmbrzl opened #5527 "[Q]: Fulltext download removed?"
I found this question on SE: https://tex.stackexchange.com/questions/310774/downloading-the-full-texts-for-the-whole-database-in-jabref-3-3 and it references #1323. The issue is closed and from it I assumed that this functionality has been implemented somewhere in JabRef 3.x. However I can't seem to find it in the 5.x series. Has this feature been removed in the meantime or is it just to be found

[2019-10-27 12:20] koppor commented on #5523
Thank you for reporting. In this project, it is not mandatory to open an issue of a problem one fixes directly afterwards.

Did you check our https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md - we do not require to open an issue.

Another #hacktoberfest learning: Read `CONTRIBUTING.md` of a repository. 🎉

[2019-10-27 12:20] #5523 closed

[2019-10-27 12:36] Krzmbrzl commented on #5527
Okay I found the option I was searching for. In the Entry-editor under `General` in the `File` field one can right-click on a URL-entry and chose to download the file.

[2019-10-27 12:36] #5527 closed

[2019-10-27 12:39] Krzmbrzl commented on #5253
I ran into (seemingly) the same issue on KDE Neon. If I try to open a PDF, I only see the Okular icon jumping around my cursor but then it vanishes without Okular starting.

I also found out that if I have Okular open already, I can open PDFs without problem (they appear in new tabs in the same Okular instance as this is the way I have Okular configured).

Info from JabRef's about-page:
[code]

[2019-10-27 12:51] Siedlerchr commented on #5527
In the menu there is an option lookup fultext as well

[2019-10-27 12:59] Krzmbrzl opened #5529 "Open PDF options"
In the settings under `External programs` -> `Open PDF` the only options are `Adobe Acrobat Reader` and `Sumatra Reader`. To me a generic field (e.g. `Other`) is missing here as one can't assume that all JabRef users have either one of those readers installed.

For instance I am running JabRef on Linux with `Okular` as my reader of choice. In my case neither of the two options is selected and it s

[2019-10-27 13:00] Krzmbrzl commented on #5527
That options doesn't seem to download anything though. It finds the URLs (if any) and stores them as linked "files" but it won't doenload any PDFs

[2019-10-27 13:17] Krzmbrzl commented on #4877
[code]
I can also confirm the bug. Happens every time to me though. If I can help by providing more information, just state what you'd need :)

[2019-10-27 14:31] koppor commented on #2389
@gregoa We worked on it and think, we fixed it. Could you try the latest build at https://builds.jabref.org/master and report back if it works for you.

[2019-10-27 14:34] koppor commented on #4877
@Krzmbrzl Thank you for the feedback and offer. I have a long-termin solution in my mind (see https://github.com/JabRef/jabref/issues/5257#issuecomment-532958631), but currently did not find the time to do it.

[2019-10-27 16:11] namanvats commented on #5509
I am working on it.

[2019-10-27 16:43] tobiasdiez commented on #4877
@Krzmbrzl you have coding experience, right? This bug is a bit hard to fix for us since non of the core developers can reproduce it. So it would be nice if you could try to debug it and find the origin of the problem (and in the best case also provide a solution).

[2019-10-27 16:46] gregoa commented on #2389
On Sun, 27 Oct 2019 07:31:16 -0700, Oliver Kopp wrote:

I tried with the linux portable version, and I can confirm that it
works, i.e. I can both Ctrl-C/Ctrl-V and
select/paste-with-middle-click.

Thanks for implementing this feature!

Cheers,
gregor

--
 .''`.  https://info.comodo.priv.at -- Debian Developer https://www.debian.org
 : :' : OpenPGP fingerprint D1E1 316E 93A7 60A8 104D  85FA BB3A 68

[2019-10-27 16:50] Krzmbrzl commented on #4877
I do. However I am very busy atm and I'm afraid won't find the time necessary to do so properly... Plus I think I can't even set it up on my machine as I don't have JDK 12 available on my system

[2019-10-27 16:53] tobiasdiez commented on #4877
Sure, no problem. In case you find bit of time, you find everything that you need to setup the build locally here: https://github.com/JabRef/jabref/wiki/Guidelines-for-setting-up-a-local-workspace

[2019-10-27 19:12] jairus-crabb commented on #5478
I was able to get rid of this error by specifying Java 12 for Gradle, but now I'm getting an error due to possible duplicate VM options? The module overrides specified in the installation instructions also show up if you go to Run/Degub configurations for JabRef Main. You'll see them listed in "VM Options", as I remove them, the first one in that list will show up with the error:

Error occurred d

[2019-10-27 19:38] UltimaBGD commented on #5520
As of now, I have tried to input the
--file-associations
option within the Installer Options list with a path to a properties file. As of now it seems to be locating the file, but fails building with a null pointer exception for reasons I am not sure of.

[2019-10-27 20:00] koppor commented on #5399
We need to create different MSI installer filenames, too. This would fix https://discourse.jabref.org/t/downloading-the-snapshot-from-today-2019-10-17-fails/1775/3 with our current upload infrastructure.

[2019-10-27 20:11] Siedlerchr commented on #5529
The preferences are obsolete, more or less historic things.
Since several versions (maybe v4?) bvy default JabRef delegates file opening to the system and simply calls "xdg-open" with the filepath as argument on linux.

The code is in JabRefDesktop/NativeDesktop. Should be cleaned up.

For custom external types, you can configure an apporiate applicaiton.

[2019-10-27 20:54] Siedlerchr commented on #5399
But we still need to have symlink in the form jabref-latest-master-windows.msi to the latest snapshot then, because otherwise this is is not useful for people who uses wget or any other tool to automatically fetch the latest version.
Didn't we had this before already?

[2019-10-27 20:59] Siedlerchr commented on #5502
Will test it tomorrow on my VM (Reminder for myself)

[2019-10-27 21:01] LyzardKing commented on #5502
thanks @Siedlerchr
I rebased on master to be sure it's in sync...
So the latest version on the branch should be fine.
I guess that if it works for me and on your vm we can say it's fine ;)

[2019-10-27 21:06] tobiasdiez commented on #5520
Thanks for having a look at this. Could you please post the full exception details here, then I'll have a look.

[2019-10-27 21:12] #5349 closed

[2019-10-27 21:12] Siedlerchr opened #5532 "NPE when using middle mouse click on windows (clipboard)"
Windows 10, latest master:

Refs #2389 / #5482

[code]

[2019-10-27 21:15] koppor commented on #5349
Does this ref https://github.com/JabRef/jabref/pull/3871#issuecomment-375055243 somehow?

[2019-10-27 21:24] Siedlerchr commented on #5532
The `Toolkit.getDefaultToolkit().getSystemSelection()` returns null on windows, because according to the javadoc platforms that don't have a SystemSelection return null:
https://docs.oracle.com/javase/9/docs/api/java/awt/Toolkit.html#getSystemSelection--

[2019-10-27 21:33] #5502 closed

[2019-10-27 22:20] davidemdot commented on #5532
@Siedlerchr

Please check #5533

**:"D**

[2019-10-28 05:58] Krzmbrzl commented on #5529
So the solution woul be so simply remove these menu entries altogether?

[2019-10-28 07:54] #5532 closed

[2019-10-28 10:11] LyzardKing opened #5537 "importBibtex imports to an untitled library in a new instance"
As the title suggests, with the recent jabref updates the --importBibtex option opens a new instance of JabRef, and automatically adds the reference to a new "untitled" library.
Last time I used this functionality it asked confirmation and added to the running Jabref and lib.

[2019-10-28 11:07] Siedlerchr commented on #5537
A quick look in the code reveals that it checks if there is a currentBasePanel active.
I guess the base panel is not yet there due to the lazy loading stuff

[2019-10-28 12:10] LyzardKing commented on #5537
And that should work for the untitled library, but why is it launching another instance in the first place?
Should the cli part not look for an open instance in the first place?

[2019-10-28 12:15] Siedlerchr commented on #5537
The point for debugging would be: https://github.com/JabRef/jabref/blob/f14b12b9d863af5079f194eba4590bd8785026de/src/main/java/org/jabref/cli/ArgumentProcessor.java#L87-L98

[2019-10-28 16:05] LyzardKing commented on #1284
Implementing chrome/opera should be simple enough :tm:
I tried quickly and we'd need to change from a page_action to a browser_action
(meaning that it would show a button not in the url bar but on the right, with the other extensions)
The problem then seems to be that chrome does not give access to `browser.*`, using instead `chrome.*`
Mozilla made a polyfill that is a no-op in firefox (it would m

[2019-10-28 16:06] LyzardKing commented on #1284
[code]

This has to be saved as org.jabref.jabref.json in one of the paths set in:
https://developer.chrome.com/apps/nativeMessaging

[2019-10-28 16:08] LyzardKing commented on #1284
Most of the polyfill errors seem to come from the Zotero directory when I test via web-ext.
`web-ext run -t chromium --chromium-binary /usr/bin/google-chrome-stable`
(I set a custom binary only because I want to use chrome and not chromium...but that's another story)

[2019-10-28 16:41] UltimaBGD commented on #5520
Sorry for the late response, I will post a write-up of my attempts and the scan from Gradle, and we will see if I am missing something obvious. I will try to get to it later today.

[2019-10-28 16:49] Siedlerchr commented on #5452
I cannot reproduce your issue. This should be fixed now. Could you please test again?

[2019-10-28 17:02] Doc73 commented on #5452
@Siedlerchr
I just tested it again, but with the same result... :-(
I'm attaching a zip file containing a screencast to document my issue.

[Screencast_28-10-2019_17:57:27.zip](https://github.com/JabRef/jabref/files/3779804/Screencast_28-10-2019_17.57.27.zip)

[2019-10-28 17:06] Siedlerchr commented on #5452
Could you please also post your style file again? Or is it still the one above?

[2019-10-28 17:08] Doc73 commented on #5452
Here is the style used in the above test, but I have the same issue with other styles:

[code]

[2019-10-28 17:18] Siedlerchr commented on #5452
Hm. this is odd. On Windows your style works fine.
1. Check if your styles are all in UTF8 encoding
2. Try to reset your preferences and restart JabRef.
There might be some invalid value in the preferences.

[2019-10-28 17:21] Siedlerchr commented on #5522
Preview Panel in OpenOffice styles needs also to be adapted.  Refs #5463
Select  View -> OpenOffice/LibreOfice  ->  Select style

![grafik](https://user-images.githubusercontent.com/320228/67701004-6d4f0900-f9af-11e9-94e2-b08e0ed7de62.png)

[2019-10-28 17:28] Doc73 commented on #5452
1. UTF8 is default on Linux
2. Tested with clean preferences, but with the same issue. :-(

[2019-10-28 17:44] Siedlerchr commented on #5452
Ah now I could reproduce it. It happens when you **don't** click on the style you added (no style is "highlighted").
So JabRef tries to get the selected style, but if non is selected it fails.
Will prepare a fix.

If you click on it so that's it is highlighted it will work:
![grafik](https://user-images.githubusercontent.com/320228/67702903-d5ebb500-f9b2-11e9-84fc-9f5b75c55bfb.png)

[2019-10-28 17:46] #3703 closed

[2019-10-28 17:47] Siedlerchr commented on #3703
Thanks to @JoHaHu  this issue is now resolved.

[2019-10-28 17:48] Doc73 commented on #5452
:smile:
It was a Columus' Egg!

[2019-10-28 18:54] LyzardKing commented on #1284
The polyfill is already in Zotero upstream, so it can be inherited by the import I guess..
https://github.com/zotero/zotero-connectors/commit/27123202a46aeae76e9340c6bf95f2989cbad281
I'm not sure how

[2019-10-28 19:03] reox commented on #4877
I have this issue too:
[code]

unfortunately I dont see any log output, as the debian package from the snapshots does not ship with log4j:
[code]

I suspected that maybe the `noatime` flag on my filesystem might causing this, but I verified on another filesystem with `relatime` that I get this message too.

[2019-10-28 19:20] JoKalliauer commented on #4877
As a provisional workaround you can just add a button in the preferences to dissable the changes-feature.

[2019-10-28 19:55] JoHaHu commented on #4949
This issue can be closed.

[2019-10-28 20:43] tobiasdiez commented on #4949
Thanks to @JoHaHu this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-10-28 20:43] #4949 closed

[2019-10-28 20:48] tobiasdiez commented on #1284
Cool that you are working on this. I sadly don't have time right now to really support you here, but if you have any concrete questions feel free to ask.

[2019-10-28 21:06] LyzardKing commented on #1284
One question is the integration with zotero..
I don't have too much time  either, and in the next couple of weeks I'll have even less..
I noticed that zotero integrate the polyfill, as evidenced in lines like this in the zotero-connectors gulpfile.js

`var injectIncludeBrowserExt = ['browser-polyfill.js'].concat(injectInclude, ['api.js'], injectIncludeLast);`

Unfortunately I'm not sure how to pul

[2019-10-28 21:27] tobiasdiez commented on #1284
It should be sufficient to put the browser-polyfill in the Zotero folder and add it in the following places:
https://github.com/JabRef/JabFox/blob/afed0dc2c427014a6ee77237de2b983f23830b23/manifest.json#L11
https://github.com/JabRef/JabFox/blob/afed0dc2c427014a6ee77237de2b983f23830b23/manifest.json#L94
https://github.com/JabRef/JabFox/blob/afed0dc2c427014a6ee77237de2b983f23830b23/gulpfile.js#L11

F

[2019-10-28 21:43] LyzardKing commented on #1284
It still doesn't work.. I had already added it to those places, except for the background.js
Is it normal that gulp creates a zotero (lowercase) folder?

[2019-10-28 22:05] tobiasdiez commented on #1284
😢
I would suggest you open a PR with your current progress and I'll have a look. But since I'm on conference this weak, it might take a week until I find the time.

[2019-10-28 22:20] LyzardKing commented on #1284
done

[2019-10-28 23:02] koppor opened #5540 "Keyboard shortcuts do not work anymore"
- Expected: I press <kbd>Alt</kbd>+<kbd>F</kbd>, then the file menu opens
- Expected: I press and hold <kbd>Alt</kbd>, then all menu shortcuts are shown

Doesn't JavaFX support keyboard shortcuts for menus anymore?

[2019-10-28 23:05] koppor commented on #4877
Related:

[code]

We should remove the `sav` and `bak` feature. This is so 2000. I forced to keep it in 2015, but I regret it now. Version control and backup feature are now common things.

Maybe, if we just remove `bak` and `sav` (and directly save to `bib`), all these change detection issues could be resolved.

[2019-10-29 01:16] UltimaBGD commented on #5520
Okay, so I added an additional line to the installerOptions for Windows following the same format as the other file paths.

I know it is able to locate the properties file I was creating as I tried specifying an incorrect pathname a number of times, and it would give an error stating that the filename could not be found in addition to the null pointer exception. When adding `--file-associations` i

[2019-10-29 05:21] DaveJarvis opened #5542 "NullPointerException when deleting many entries"
1. Load up a bibliography file with about 1,000 references.
1. Select all the entries.
1. Press the `Delete` key.
1. Confirm, if prompted.

[code]

[2019-10-29 05:42] LakminiSenanayake commented on #5275
I am investigating on this issue.

[2019-10-29 06:51] reox commented on #5526
For now, you can use the following workaround on i3 to make all windows expect the main window float:
[code]

[2019-10-29 08:26] Siedlerchr commented on #5520
I found this bug report which seems to be related:
https://bugs.openjdk.java.net/browse/JDK-8232935?filter=37667

[2019-10-29 08:41] UltimaBGD commented on #5520
So it seems to be isolated to when no mimetype is provided. I will check it out.

[2019-10-29 08:47] Siedlerchr commented on #5520
Note that there has been a new release of the jpackage tool (v64)
Build 14-jpackage+1-64 (2019/10/28)

[2019-10-29 09:02] UltimaBGD commented on #5520
On the version we are currently on, that bug report is indeed the same cause. Adding a mime-type does allow for the build to continue.

[2019-10-29 09:27] Siedlerchr commented on #5520
@UltimaBGD  Thanks for your testing and your digging into the issue! It would be reall nice if you could prepare a Pull Request to fix this issue and to fix our build.

[2019-10-29 09:38] AEgit commented on #5542
Please report which operating system, JabRef version and Java version you are using.
Help -> About JabRef -> Copy Version

[2019-10-29 09:53] UltimaBGD commented on #5520
I'm poking around with the new version to see if I can figure out what's making it go wrong, after that I can make a PR.

[2019-10-29 11:29] tobiasdiez commented on #5275
@LakminiSenanayake Nice!

I prefer if we don't add a step before the integrity check dialog. Keep it simple for most users and provide access to customized integrity checks in the dialog itself for more advanced use cases.

[2019-10-29 12:06] tobiasdiez commented on #5540
This is supported but you need to tell javafx what to underline, e.g. `setText("_File")`. Thus, to make this work all localizations have to be reworked to include mnemnonics. See also https://medium.com/@zoha131/handling-keyboard-shortcuts-in-javafx-2972ba950a48

[2019-10-29 13:47] LakminiSenanayake commented on #5275
Sure @tobiasdiez , still doing technical investigations and will get back with more details

[2019-10-29 15:40] AEgit commented on #5542
Please try the latest development version:
https://builds.jabref.org/master/

Do not forget to create a backup of your JabRef literature database, before installing the development version (since it still has some known bugs).

[2019-10-29 16:17] koppor commented on #5540
We had these translations at JabRef 3.x. Have to search why we dropped them. There probably is the PR (where we documented it; I bet, we put it as issue for future-Olly, who found it now), but not an ADR.

[2019-10-30 01:15] UltimaBGD commented on #5520
I poked around a bit with the version update, and I'm not too sure what's going on. It seems like there's an issue in the windows script Jabref-post-image.wsf. This is in the build folder, so this file does seem to be generated. It could be that something else doesn't have support for the newest version, or something else entirely. Unfortunately I am going to be busy for a couple of days and won't

[2019-10-30 04:54] #4269 closed

[2019-10-30 04:59] koppor commented on #3787
Refs #5085 #4143

[2019-10-30 06:36] Siedlerchr commented on #5520
Hi, thanks for investigating. The wsf script is located under the buildres folder.

[2019-10-30 16:05] wujastyk opened #5546 "Link file (without copying) doesn't work"
JabRef 5.0.0-dev--2019-10-29----3b6c355ae
Linux 5.0.0-32-generic amd64
Java 12.0.2

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. open Preferences/Entry Editor
2. set Default drag & drop action to "Link file (without copying)"
3. The file nevertheless is renamed using the bibtex key.

[2019-10-30 16:07] wujastyk opened #5547 "LaTeX to Unicode and vice versa has stopped working"
JabRef 5.0.0-dev--2019-10-29----3b6c355ae
Linux 5.0.0-32-generic amd64
Java 12.0.2

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. In editor, right click when in a text field.
2. unicode <-> LaTeX conversion doesn't work at all or not properly.

This is a regression: it was working properly in

[2019-10-31 09:32] matthiasgeiger commented on #4574
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master.

[2019-10-31 09:32] #4574 closed

[2019-10-31 10:33] Siedlerchr commented on #5547
Hm. I jus tested it. Latex 2 Unicode works. In the log I can only see the other way round does not work

[2019-10-31 18:54] wujastyk opened #5550 "cannot switch to biblatex mode"
JabRef 5.0.0-dev--2019-10-31----ac7875a96
Linux 5.0.0-32-generic amd64
Java 12.0.2

This used to be a problem once before, #420

5  dev apparently can't switch from bibtex to biblatex library format.  I would expect to find this under "Library/Library Properties" although it used to be under "File/Properties" in the past.

[2019-10-31 18:58] wujastyk opened #5551 "Name behaviour when generating a bibtexkey"
JabRef 5.0.0-dev--2019-10-31----ac7875a96
Linux 5.0.0-32-generic amd64
Java 12.0.2

JabRef version  on

- [ X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behaviour:
1. Fill out Author and date.
2. Author in the form "Surname, Firstname."
3. Preferences set the default key pattern to "[auth4:lower]-[year]"
4. H

[2019-10-31 19:02] AEgit commented on #4574
JabRef 5.0.0-dev--2019-10-28----075f191dd
Windows 10 10.0 amd64
Java 12.0.2

As far as I can tell, this issue has been fixed in the most recent dev version.

[2019-10-31 20:09] wujastyk commented on #5255
JabRef 5.0.0-dev--2019-10-31----ac7875a96
Linux 5.0.0-32-generic amd64
Java 12.0.2

IBUS working again.

[2019-11-01 10:27] Doc73 opened #5552 "Custom Journal Abbreviations Lists not working"
Dear Devs,

JabRef 5.0.0-dev--2019-10-31----ac7875a96
Linux 5.2.0-0.bpo.3-amd64 amd64 -- Debian 10 Buster
Java 12.0.2

Steps to reproduce the behavior:
1. Add a list of abbreviations
2. txt files are not seen
3. I converted my list in csv
4. Import csv file
5. JabRef don't see any abbreviation and abbreviations don't work

My list is this, but I use a file in my machine: [https://github.com/JabRef

[2019-11-01 13:52] Siedlerchr commented on #5552
@davidemdot could you pleasettake a look?

[2019-11-01 14:25] davidemdot commented on #5552
@Doc73 Please could you try with this file?

https://github.com/JabRef/abbrv.jabref.org/blob/csv/journals/journal_abbreviations_annee-philologique.csv

We should merge `csv` branch with master in the `abbrv.jabref.org` repository. I will send a PR.

[2019-11-01 14:37] Doc73 commented on #5552
@davidemdot
Yes, it works!
As I see, the syntax has changed

[2019-11-01 15:00] Doc73 commented on #5552
@davidemdot
EDIT: Jabref seems not seeing lots of the items in database. For example, SCO (= Studi Classici e Orientali) doesn't appear

[2019-11-01 15:09] davidemdot commented on #5552
@Doc73 Thanks, I have just detected an error in the converted file. It is already solved. Please [try again](https://github.com/JabRef/abbrv.jabref.org/blob/csv/journals/journal_abbreviations_annee-philologique.csv).

[2019-11-01 15:26] Doc73 commented on #5552
@davidemdot
Yes, now it works, but I found two missing items. I can add them, if you want

[2019-11-01 15:36] davidemdot commented on #5552
@Doc73 Good! Those items were not in [the TXT file](https://github.com/JabRef/abbrv.jabref.org/blob/master/journals/journal_abbreviations_annee-philologique.txt).

[2019-11-01 15:44] Doc73 commented on #5552
@davidemdot Yes, they were in my personal file :-D

[2019-11-01 16:57] #5552 closed

[2019-11-01 17:24] Siedlerchr commented on #5551
Could you please add the entry here so that we can better check it?

[2019-11-01 17:55] wujastyk commented on #5551
A MWE:

@Article{john-2019,
  author = {Smith, John},
  date   = {2019},
}

![Screenshot from 2019-11-01 11-54-09](https://user-images.githubusercontent.com/762246/68045091-5ace1b80-fc9e-11e9-989a-2f22a8bb1154.png)

![Screenshot from 2019-11-01 11-54-52](https://user-images.githubusercontent.com/762246/68045157-7df8cb00-fc9e-11e9-914b-a06fc1f19086.png)

[2019-11-01 18:01] Siedlerchr commented on #5551
Okay, I can get the same behavior . For reference the help says:
`[authN]: The first N characters of the first author’s last name`

Seems like the author parser doesn't parse it correctly

[2019-11-01 19:28] Siedlerchr commented on #5522
Preview in the preferences is also affected:

![grafik](https://user-images.githubusercontent.com/320228/68050724-12d2e700-fce6-11e9-9566-13f7458c6082.png)

[2019-11-01 19:29] Siedlerchr commented on #5522
And there is another issue: Some textfields show the text with black color, but only white on hovering.
e.g. in the import tab

[2019-11-01 22:26] reox opened #5555 "Too long time for status popups"
**Is your suggestion for improvement related to a problem? Please describe.**

I'm using the 5.x snapshots of JabRef.

My usual workflow for adding articles is like this: copy DOI, go into JabRef, press Ctrl+N, Press Ctrl+V, Enter, Press Alt+F7, Press Alt+F8.
I also have auto-saving activated.
When I do this, I see a lot of status popups / messages at the bottom, i.e.
[code]

each of the popups st

[2019-11-02 04:27] Codeberg-AsGithubAlternative-buhtz commented on #5255
JabRef 5.0.0-dev--2019-11-01----4a9373423
Linux 4.19.0-6-amd64 amd64
Java 12.0.2
Debian 10 (last update 2019-11-02 5:00 UTC+1)

I can confirm, JabRef and IBUS-Anthy works again on my system.

Sideinformation: Anki (the other app) still not working.

[2019-11-02 08:04] UltimaBGD commented on #5520
Oh, I see, it ultimately gets moved. So, what I did find is that in the script it opens

`var wxsFilePath = installerConfig + "JabRef.wxs";`

This .wxs file, which according to the installer config, should be here:

`var jabRefRoot = fileSystem.GetFolder(".").ParentFolder.ParentFolder.ParentFolder.ParentFolder.Path;
        var installerConfig = jabRefRoot + "/build/installer/config/";
`

This is,

[2019-11-02 14:07] tobiasdiez commented on #5520
Thanks for digging into this! There were some recent changes to how the `main.wxs` file (which is the general version of `JabRef.wxs`) is treated: https://hg.openjdk.java.net/jdk/sandbox/rev/bc43733cd5cf
Probably, this contains some bugs leading to the error now.

As this is very critical, I would propose we add the wxs file for now and hope the bug is fixed upstream in jpackage. @UltimaBGD could

[2019-11-02 14:09] tobiasdiez commented on #5555
Agree. Especially, the auto-save should never display a notification.

[2019-11-02 17:13] DaveJarvis commented on #5542
[code]

[2019-11-02 17:31] PUKK commented on #4475
JabRef 5.0.0-dev--2019-11-01----4a9373423
Linux 4.12.14-lp151.28.20-default amd64
Java 12.0.2

In the latest development version, imported entries are not properly sorted but shown at the end of the list. After a restart of Jabref, the imported entries are shown at the proper position.

[2019-11-02 17:39] PUKK opened #5557 "key generation partially broken"
JabRef 5.0.0-dev--2019-11-01----4a9373423
Linux 4.12.14-lp151.28.20-default amd64
Java 12.0.2

Since years I use the key generation pattern "[auth4:lower][shortyear]". Used to work perfectly and still does if the first author is given as "Firstname Lastname" but if it is given as "Lastname, Firstname" it now uses the first name for the key generation which is certainly not what is expected (and no

[2019-11-02 17:41] Ka0o0 commented on #5555
Hello,

If the issue is still not addressed, I would like to contribute.
For me the requirements were a bit unclear, so I tried to make myself my own picture in regards to notification. For me, it feels like notifications are used quite often.
Sometimes, I think they might be obsolete, as either the default expectation of a user is reported or changes are directly visible in the UI.
I summarized m

[2019-11-02 17:54] Siedlerchr commented on #5557
Duplicate of #5551

[2019-11-02 17:54] #5557 closed

[2019-11-02 18:56] UltimaBGD commented on #5520
I will have to do a bit more testing as I tried running the .msi file and it ends with error code 2343.

The build definitely runs, but for the time being, the MSI installer is broken. I will look more around at that.

In addition, just as an update as to the original point of this issue, I have not implemented the file associations yet as I thought this would take precedence, and in the event the

[2019-11-02 19:06] Ka0o0 commented on #5551
Hi,
I would like to tackle this bug.
I found that in `BracketedPattern.java` on line 846 the comma is removed and therefore the AuthorList is not correct.
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/bibtexkeypattern/BracketedPattern.java#L846

I would fix this issue by not applying `BibtexKeyGenerator.removeUnwantedCharacters` before extracting the author but afterw

[2019-11-02 20:51] #5551 closed

[2019-11-02 20:51] tobiasdiez commented on #5551
Thanks to @Ka0o0 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-02 20:52] Siedlerchr commented on #5520
Thanks for your ongoing investigation!
Seems like the jdk people fixed that with a recent commit https://hg.openjdk.java.net/jdk/sandbox/rev/920f6770d71c

[2019-11-02 20:53] UltimaBGD commented on #5520
Okay, so what should the recommended course of action be for now?

I can still ensure the windows build passes for now with a PR, or we can wait.

[2019-11-02 20:55] tobiasdiez commented on #5520
You can also try to put this file https://hg.openjdk.java.net/jdk/sandbox/file/bc43733cd5cf/src/jdk.jpackage/windows/classes/jdk/jpackage/internal/resources/main.wxs into `buildres/windows` (maybe renamed to `Jabrex.wxs`).

[2019-11-02 20:57] tobiasdiez commented on #5520
If this is really the fix, then temporarily disabling `win-dir chooser` should also work, right?

[2019-11-02 21:06] UltimaBGD commented on #5520
I'll test both of those and get back to you in a bit

[2019-11-02 21:07] tobiasdiez commented on #5555
Thanks for the throughout analysis. The notifications should be shown only if there is no visible change (or the change might be so minimal that users don't notice them). Thus, I agree with the items you listed except for the following:
- `Preferences recorded`  although expected, there is no visible feedback and it doesn't hurt to notify the user about a successful action.
- Notifications related

[2019-11-02 21:10] Siedlerchr commented on #5551
Please note that the binary  for windows is currently not beeing updated due to a bug in the release system. Linux and Mac are not affected.

[2019-11-02 21:14] reox commented on #5555
Do you know [Darktable](https://www.darktable.org/)? I think they have a nice system implemented: They use stackable progressbars and system notifications.
So if you do some things after each other, the progressbars will stack up. If one item is finished you get a notification into the system bus (depending on your OS and bus system you use).

[2019-11-02 21:34] Siedlerchr commented on #5555
I think eclipse also has this multiple progress bars window for tasks to be performed

[2019-11-03 00:46] UltimaBGD commented on #5520
Disabling `win-dir chooser` seems to prevent the MSI from opening. It gives me no other information other than a hard crash.

Running it with the new file still gives error 2343.

[2019-11-03 02:16] UltimaBGD commented on #5520
More testing, I found out this new version does create a main.wxs file! I moved the script to use that, except now this error occurs

`java.io.IOException: Command [C:\Program Files (x86)\WiX Toolset v3.11\bin\light.exe, -nologo, -spdb, -ext, WixUtilExtension, -out, C:\Users\Altima\Desktop\gitDocuments\jabref\build\distribution\JabRef-5.0.0.msi, -ext, WixUIExtension, -loc, C:\Users\Altima\Desktop\

[2019-11-03 02:59] UltimaBGD commented on #5520
So: Today I learned the hard crashes were NOT crashes. Just when the `win-dir chooser` is not set, it doesn't open up in a way I expected. That DID work.

That being said, still testing this to see if we can get the directory chooser back, and if so I will clean my workspace entirely and redo the work and prep for a PR.

[2019-11-03 03:24] UltimaBGD commented on #5520
Installer still closes with 2343.

So, for the other PR, I can either change the script to point to "main.wxs" when it is generated or I can take that file, rename it to JabRef.wxs, and place it into the buildres folder and tell the script to look there instead. Is there any preference to the approach?

[2019-11-03 06:52] tobiasdiez commented on #5520
Good job! I would prefer to put the file in the buildres folder.

[2019-11-03 06:59] #5508 closed

[2019-11-03 07:00] tobiasdiez commented on #5508
Thanks to @P4trice this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-03 09:05] UltimaBGD commented on #5520
Okay, there is a PR up to support the latest version of Jpackage.

[2019-11-03 09:20] Ka0o0 commented on #5555
Okay I think there are multiple tasks here:

- Remove obsolete notifications
- Implement Spinner/Progress notification for longer tasks
- Disable actions that are not possible

To keep this issue as small as possible, I would suggest we just remove the obsolete notifications for this issue, add another UI improvement issue for the spinner and another for disabling not possible actions. What do you

[2019-11-03 10:58] Ka0o0 commented on #5550
Hi,
just as clarification: should this be like a switch in the library properties or shall this be implemented as in Jabref4 where it was an action which needed to be triggered from the main menu?

[2019-11-03 11:40] Krzmbrzl opened #5561 "Group badges don't update after assignment"
JabRef 5.0.0-dev--2019-10-25----681d6aa6f
Linux 5.0.0-32-generic amd64
Java 12.0.2

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Add new entry that is not in any group
2. Manually assign a group to the entry via drag&drop onto an existing group
3. In the entry list, the groups-column is not up

[2019-11-03 11:50] Siedlerchr commented on #5550
I think it's sufficient to have a switch in the library properties as this is an action which is probably not what most users will do on a regular basis.
In addtion the File menu there is already an option to create a new library either in bibtex or biblatex.

[2019-11-03 14:09] bernhard-kleine opened #5562 "Quality check on the journaltitle field not working proberly"
JabRef 5.0.0-dev--2019-11-03----921f44283
Windows 7 6.1 amd64
Java 12.0.2

- [ +] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. type e.g. European Journal of Biochemistry into the journaltitle field
2. by the button to the right of that field change the text to the abbreviated Journaltitle.
3. The co

[2019-11-03 19:34] koppor commented on #5555
@Ka0o0 Thank you for the precise task list. Maybe you can add https://github.com/koppor/jabref/issues/96 to your list? 😇 . The third issue ("Disable actions that are not possible") is https://github.com/JabRef/jabref/issues/4795 and somehow refs https://github.com/koppor/jabref/issues/156

[2019-11-03 19:43] #5452 closed

[2019-11-03 19:43] tobiasdiez commented on #5452
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-03 20:55] LyzardKing commented on #5537
This is still an issue in the last builds...
I'm not sure how to debug this.
Is the open instance of jabref be set by line 92 (`result.setToOpenTab();`)?

[2019-11-04 07:51] tobiasdiez commented on #5537
Yes, I guess that libraries with `setToOpenTab` are opened as new tabs. It might be sufficient to simply remove that line...

(You can debug this by adding command line arguments to the start configuration in IntelliJ.)

[2019-11-04 08:45] LyzardKing commented on #5537
Removing that line makes no difference..
I wonder why the open instance of jabref is not being recognized any more..

[2019-11-04 16:02] Doc73 commented on #5452
@tobiasdiez
Yes, it's fine! Thank you so much! :+1:

[2019-11-04 19:04] Ka0o0 commented on #5555
I've added the later two ones but I don't quite understand how koppor#96 fits into this issue?

[2019-11-04 20:19] Ka0o0 commented on #5550
I considered adding it into the library properties panel but there is a button which label changes depending on the current library type. To keep things simple, I added another menu item like it used to be in Jabref 4.x for now in PR #5565.

Maybe we can change this for a later 5.x release.

[2019-11-05 16:03] Siedlerchr commented on #5537
Have you checked that it's enabled in the preferences? e.g. allow only a single instance of jabref?

[2019-11-05 17:05] LyzardKing commented on #5537
@Siedlerchr Do you mean the `remote operation` option in `advanced`?
It's checked, but on linux it never made a difference.
(I noticed I forgot to add the os to the original post..)

[2019-11-07 14:41] Siedlerchr commented on #5486
I updated the instructions for eclipse now and clarified some details

[2019-11-07 14:41] #5486 closed

[2019-11-07 14:42] Siedlerchr commented on #5555
Thanks to @Ka0o0  this isssue should be resolved now.
There should be no longer save messages on autosvave

[2019-11-08 00:01] LyzardKing commented on #5537
I get the same issue if I --importToOpen file.bib
It always opens a new instance of JabRef..

[2019-11-08 00:53] UltimaBGD commented on #5520
My apologies, it seems like I won't have the time to get back to this for a week or two. If it is still an issue when I have time, I will work on it. Hopefully all I wrote in here thus far will provide help if anyone else works on it.

[2019-11-08 08:08] tobiasdiez commented on #5520
No problem! Thanks for your good work on this issue (and to get the installer working again).

[2019-11-08 09:18] LyzardKing commented on #5520
In the linux launcher I removed the properties file since it only had the reference to the bib resource
(MimeType=text/x-bibtex) and it was only used in linux at the time.
I had introduced it in the attempt to build the deb/rpm info with jpackage,
but it seemed to me to be confusing to have an additional file for a single line declaration.
If it ends up being shared with the windows (and mac?) bui

[2019-11-08 09:47] koppor commented on #5507
The epic behind is "JabRef for Literature Surveys". I described another step at https://github.com/koppor/jabref/issues/369.

Finally, it would be great if JabRef offered "repeatable literature survey". Meaning: JabRef stores the search properties (queries, sort order, what was excluded, ...) in a JSON file. A reviewer can open the JSON file in JabRef an click on "repeat". Then, the search is repe

[2019-11-08 11:39] tobiasdiez opened #5577 "Windows installed application does not start"
Workaround: change the line "app.runtime=$ROOTDIR\runtime" to "app.runtime=$APPDIR\runtime" in JabRef.cfg file in the app folder.

I've reported this bug to the jpackage devs.

[2019-11-08 13:24] LyzardKing commented on #5537
This issue apparently only applies to the deb install.
The rpm works properly..

[2019-11-08 13:27] koppor commented on #561
ParCit fails on the test string: `Kopp, O.; Martin, D.; Wutke, D. & Leymann, F. The Difference Between Graph-Based and Block-Structured Business Process Modelling Languages Enterprise Modelling and Information Systems, Gesellschaft für Informatik e.V. (GI), 2009, 4, 3-13`

![grafik](https://user-images.githubusercontent.com/1366654/68479988-f2e67a80-0233-11ea-87aa-82a69bb00791.png)

[2019-11-08 21:59] UltimaBGD commented on #5520
The properties file should be able to be shared amongst the installers considering the only information in it should be the mimetype, extension, icon and description. If the icon is different across operatin systems, then potentially not.

[2019-11-08 22:16] LyzardKing commented on #5520
Is it not only for information on what it should open?
I might have misunderstood the description on  https://jdk.java.net/jpackage/
but it seemed to me that the properties file should contain associations to allow launching the application.
In the case of jabref this would be mimetype and extension..
I'm not sure about the other two..
I thought they were other associations..
Or they could be an i

[2019-11-08 22:18] UltimaBGD commented on #5520
I think the icon would ultimately be what you see when you have the association made, like how you see a small notepad when a txt file is associated to open in notepad.

[2019-11-08 22:23] LyzardKing commented on #5520
Yes, so the last thing I said and thought of.. I had dismissed it too soon :)
In that case I think that it could be useful to share a single file, since I believe all the parts should be common to the different systems..

[2019-11-08 22:32] LyzardKing commented on #5520
Windows could need an `.ico` instead of a `.png` though..
so our dream of a shared file might be short lived..
I seem to remember macos accepting png for icons..but this was back in the olden days...
A test seems like a good idea!

[2019-11-08 22:48] tobiasdiez commented on #5520
The best "documentation" I could find are the jpackage unit tests

- File format: https://hg.openjdk.java.net/jdk/sandbox/file/fbaf2e6402ad/test/jdk/tools/jpackage/helpers/jdk/jpackage/test/FileAssociations.java
- Icon path: https://hg.openjdk.java.net/jdk/sandbox/file/fbaf2e6402ad/test/jdk/tools/jpackage/share/FileAssociationsTest.java references TKit.ICON_SUFFIX which according to https://hg.ope

[2019-11-08 22:50] tobiasdiez commented on #5071
@AEgit the most recent developement version now includes the latest performance improvements. Could you please check what still needs improvement. Thanks!

[2019-11-09 09:51] koppor commented on #4826
Some more keywords: anystyle (https://github.com/koppor/jabref/issues/315), ParsCit, text2bib (https://github.com/JabRef/jabref/issues/561).

A basic implementation was merged at https://github.com/JabRef/jabref/pull/5206 (UI Screenshot: https://github.com/JabRef/jabref/pull/4985).

[2019-11-09 10:31] Ka0o0 opened #5579 "Adopt recommended file save actions upon database mode change"
Hi,
As first discussed in #5565 currently save actions do not change if one switches from biblatex to bibtex or vice versa.
For a user it might be confusing if the recommended saving actions are not updated.

Ideally, when changing the database mode and the user has selected the recommended save actions, the save actions should be updated as well.
Recommended save actions were introduced in #2051.

[2019-11-09 11:55] AEgit opened #5580 "Problem with current installer: Installation path can no longer be specified"
JabRef 5.0.0-dev--2019-11-09----42053a819
Windows 10 10.0 amd64
Java 12.0.2

The current developer version of JabRef apparently does not allow any more to specify the installation path. I realised this because I always had two installations of JabRef.

1) The one I use for actual work (version 3.8.2)
2) The second I use to test new features/stability/bugs/etc. (version 5.0.0-dev)

The first one wa

[2019-11-09 11:57] AEgit commented on #5071
@tobiasdiez Due to the issues with the current Windows installer (see https://github.com/JabRef/jabref/issues/5580#issue-520403252) and since the snap package on Linux also does not seem to work yet (see https://github.com/JabRef/jabref/issues/5417) I cannot test the current developer version, I am afraid.

[2019-11-09 12:30] tobiasdiez commented on #5580
Problem is known and due to a bug in jpackage. Hopefully, the next jpackage update resolves it.
https://github.com/JabRef/jabref/blob/42053a819183c587adf5da39c9791e765edca2a7/build.gradle#L585-L586

[2019-11-09 12:47] AEgit commented on #5580
Cheers, ok, then let's hope they fix this quickly - as long as they don't fix it, I cannot test any developer versions of JabRef any more.

[2019-11-09 13:17] Siedlerchr commented on #5580
@AEgit  You can also use the windows portable verisons as well. Just unzip it to a dir.

[2019-11-09 13:19] Siedlerchr commented on #5417
@LyzardKing  What is the status here? Can we get the snap build running again?

[2019-11-09 16:49] koppor commented on #5417
I triggered another manual review today:

![grafik](https://user-images.githubusercontent.com/1366654/68532035-41217980-0319-11ea-88d0-5d51f1bdadc8.png)

![grafik](https://user-images.githubusercontent.com/1366654/68532012-f273df80-0318-11ea-83f2-5974c0ef642f.png)

[2019-11-09 16:50] koppor commented on #5417
The thread at https://forum.snapcraft.io/t/system-files-permission-for-jabref-native-messaging-hosts-integration/13702/13 does not read that positive:

[2019-11-09 16:53] LyzardKing commented on #5417
That reply regards snap versions of the browsers..
unfortunately the discussion didn't go far..
I explicitly said that for now the supported browsers are non snaps

[2019-11-09 16:59] LyzardKing commented on #5417
I wonder if we should try for a classic confinement instead.
That would give access to the whole system (like deb/rpm have) and could be used
also to push to the tex editor (not possible in the strict confinement).
The snap might be larger...and it would still depend on the permission being accepted..
Another idea is to keep the strict confinement without the special permission and use the shell s

[2019-11-09 17:55] LyzardKing commented on #5071
The snap can be installed from `https://builds.jabref.org/master/`
It won't auto update and you need to install with --dangerous (since it's not from the store)
But for testing it can be done.

[2019-11-09 22:46] koppor commented on #400
Just for reference: The desired functionality is now possible. Needs to be documented though... --> https://help.jabref.org/en/CleanupEntries

[2019-11-09 23:08] carlg0ransson commented on #5509
Hey, I just created a pull request for this issue #5584

[2019-11-09 23:21] koppor commented on #5399
@Siedlerchr You refer to the long discussion at https://github.com/JabRef/jabref/pull/5312, especially https://github.com/JabRef/jabref/pull/5312#issuecomment-534897776.

Also refs https://github.com/JabRef/jabref/issues/5398.

[2019-11-10 00:13] koppor commented on #5580
Refs https://github.com/JabRef/jabref/pull/5572 and https://github.com/JabRef/jabref/pull/5570 and https://github.com/JabRef/jabref/pull/5559.

[2019-11-10 00:16] koppor commented on #5542
Refs https://github.com/JabRef/jabref/pull/5410 - maybe, this is fixed by the refactorings by @NorwayMaple

[2019-11-10 00:18] koppor commented on #5542
@DaveJarvis We have a linux archive available at http://builds.jabref.org/master/ - just unzip it. - I don't quite see above whether you did that. We do not ship a fat jar anymore since from Java 11 on the JRE should be adapted to the application (and we ship the JRE)

[2019-11-10 00:20] koppor commented on #5555
https://github.com/koppor/jabref/issues/96 related to "Disable actions that are not possible". In case no database is opened, more actions are not possible. I think, one has to check if a database is opened. In this context, one could also think about a background picture. (At least it is closer to this issue than probably most other issues here ^^).

[2019-11-10 10:14] tobiasdiez commented on #5509
Thanks to @carlg0ransson this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-10 10:14] #5509 closed

[2019-11-10 16:24] NorwayMaple commented on #5542
The only difference my refactorings would change is that `GlobalSearchBar.performSearch` would be executed only once rather than 1000 times. Not sure if this would help.

[2019-11-10 19:15] DaveJarvis commented on #5542
[code]

[2019-11-10 19:52] reox commented on #5555
Thanks for all the fixes, it already looks much better!

I think you can also remove the "looking for full text online" status message, as there is a window too.
On another but maybe similar issue regarding status messages:
I had to use Jabref 4 recently and I noticed that there is even a dialog which shows the current progress of downloading, which seems to be removed in 5.x? Or do I have to some

[2019-11-11 05:55] koppor commented on #834
No freeze anymore as there are no non-writable fields anymore

[2019-11-11 07:43] reox opened #5591 "Portable Snapshot does not find libjava.so"
JabRef version
[code]

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Download a portable snapshot for linux
2. unpack
3. run ./bin/JabRef

Will give the following error:
[code]

When running strace, you can see that it does not search for the runtime folder but stops at the lib folder:
[code]

[2019-11-11 07:52] Siedlerchr commented on #5591
@LyzardKing  do you have any idea what the problem might be?
There was also a simliar report in https://github.com/JabRef/jabref/issues/5542#issuecomment-552224289

[2019-11-11 08:21] LyzardKing commented on #5591
On Ubuntu I've never had any issue, like in the Debian vm the OP tested..
A while back I tested it on Fedora, I might have a look at that again on the vm..
@reox if you can try on a later centos vm, or a freshly installed one, just to rule out
some strange config on your system..
We can try and debug this..

[2019-11-11 09:01] LyzardKing commented on #5591
It works on Fedora 30, I need to download a centos iso to test that, so it'll take a while..

[2019-11-11 09:13] rolandog commented on #4947
Hello. I'm reporting here, as the issue is still open, and it's somewhat related to the bug, but it might be Linux-version specific or it might belong to a different component.

For context, my configuration is as follows: I've set up the `Copy, rename and link file` option for `Default drag & drop action` and the `External file links`'s `Main file directory` set.

Basically, I drag & drop, but th

[2019-11-11 19:01] reox commented on #5591
I used the CentOS 7 live installer to download JabRef. I could start it without a problem - so the problem is probably the specific configuration.
Does anyone has an idea where to look at? Does the portable version somehow uses ldconfig? I think the installation is quite standard, but I cant be sure...

[2019-11-11 19:22] koppor commented on #5591
This is what @DaveJarvis reported at https://github.com/JabRef/jabref/issues/5542#issuecomment-552224289 for Arch Linux (Manjaro)

[code]

[2019-11-11 22:44] tobiasdiez opened #5602 "Gui tests are broken"
All special types of tests (fetcher, database and gui) are currently broken. At least the fetcher tests should be fixed before the release of 5.0.

I would also vote to remove the "allow failure" for these tests (as soon as they are fixed).

[2019-11-11 23:23] koppor commented on #5602
For reference:

- Test results before junit5 conversion: https://travis-ci.org/JabRef/jabref/builds/610556163?utm_source=github_status&utm_medium=notification
- Test results after junit 5 conversion: https://travis-ci.org/JabRef/jabref/builds/610581351?utm_source=github_status&utm_medium=notification

We once decided to allow failures at the fetcher tests, because we cannot control the online serv

[2019-11-12 04:58] fmartelg opened #5603 "Rename of files does not work"
JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_231

Problem:  I want to rename pdf file to `Bibtexkey - title` format from random name.

Steps to reproduce:

1. search for a specific entry e.g. "Andrews"
2. There is only one result.  Double click to display bibtex source:
`@TechReport{Andrews2018,
  author = {Isaiah Andrews and Emily Oster},
  title  = {Weighting for and External Validity},
  year

[2019-11-12 06:13] Siedlerchr commented on #5602
Note that the database Tests were not executed in gradle correctly before my PR.

[2019-11-12 08:30] tobiasdiez commented on #5603
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-12 09:36] AEgit commented on #5580
@Siedlerchr Thanks for the heads up. Hmmm, at the moment I will wait until this issue is solved. Due to the problems with the installer, I cannot even uninstall the last dev version I had installed and I would like to avoid cluttering my system with different dev versions, where I might loose track of them. If it takes too long, though, I will have to consider your suggestion. Thanks again!

[2019-11-13 01:22] Mobius91 commented on #4535
I've just encountered the exact issue described here, although I am running JabRef 4.3.1 on Ubuntu 16.04.

I found that the issue only occurs when "Convert to BibTeX format" option is selected in the Cleanup Entries tool.

This problem does not occur when "Convert to biblatex format" is used; this option appears to function perfectly fine.

My current workaround involves converting to biblatex for

[2019-11-13 01:59] fmartelg commented on #5603
Thanks for quick response.  The clean up works as intended in the latest release.  However, I get a pop up window with the following error:

Uncaught exception occurred in Thread[pool-3-thread-3,5,main]
Not on FX application thread; currentThread=pool-3-thread-3,5,main

The exception stacktrace was:

java.lang.IllegalStateException: Not on FX application thread; currentThread = pool-3-thread-3
	at

[2019-11-13 02:20] fmartelg opened #5604 "Oversized Libray properties dialog"
JabRef version 5.0-alpha

- [x ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

1. - In the toolbar section where he icons are located I see three icons, about 3x empty space, a long search box and then more empty space and >>> where, once clicked, I can see the other icons.
3. - Click Library > Library properties, and oversize window o

[2019-11-13 02:54] fmartelg commented on #5603
Utility does not deal with corner cases that have very long titles like:

[code]

Steps to reproduce - Option 1
1. Select entry with long title
2. Click on clean up icon
3. Output: "No entry needed a cleanup" - this message is misleading. Better options:
  1. "Title too long to clean up"
  2. "Truncated title in clean up due to character limit"

Steps to reproduce - Option 2
1. Select entry with l

[2019-11-13 03:17] fmartelg opened #5605 "Writing XMP data to PDF does not work"
JabRef 5.0-alpha
Windows 10 10.0 amd64
Java 11.0.4-bellsoft

Steps to reproduce:

1. select entry
2. Tools > Write XMP metadata ...
3. Error

Paste your log details here.

<details>
<summary>Detail information:</summary>

[code]

</details>

[2019-11-13 07:44] calixtus commented on #5604
Hi @fmartelg , at least about the font size: should be available via options -> preferences -> appearance.

[2019-11-13 23:07] tobiasdiez opened #5607 "Travis build fails due to missing help pages"
Unit tests that checks for correct help pages currently fails. Thus, we need to add redirects for the old links, and in addition upgrade the links to the new ones.

[2019-11-13 23:17] #5116 closed

[2019-11-13 23:20] tobiasdiez commented on #5550
Thanks to @Ka0o0 this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-13 23:20] #5550 closed

[2019-11-13 23:22] tobiasdiez commented on #5605
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-14 02:00] fmartelg commented on #5604
Options -> preferences yields this menu + error. I don't see option "appearance" but maybe I am missing something
<img width="845" alt="Annotation 2019-11-13 205805" src="https://user-images.githubusercontent.com/2328896/68820201-86ff7a00-0658-11ea-99f8-3bf89074d8d7.png">

[2019-11-14 02:17] fmartelg commented on #5605
@tobiasdiez

Same error on version

[code]

[2019-11-14 04:49] koppor commented on #5607
Would it be OK to just fix the tests? Redirects are much effort. See last
paragraph at
https://github.com/JabRef/help.jabref.org/issues/76#issuecomment-553632191

Tobias Diez <notifications@github.com> schrieb am Do., 14. Nov. 2019, 00:07:

[2019-11-14 05:32] calixtus commented on #5604
You can scroll scroll down the list on the left. The scrollbars should already be a little bit more visible on the latest dev-build.
The bad visibility of that tab is probably another issue here.

[2019-11-14 08:48] reox commented on #5591
I do not know if you have fixed anything, but on my machine it came good now:
[code]

Looking at strace verifies, that JabRef finds the libjava.so without any problem.

[2019-11-14 09:48] AEgit commented on #5604
@fmartelg : Are you using the 5.0 Alpha version from https://github.com/JabRef/jabref/releases?

If so, you might want to try the latest development version: https://builds.jabref.org/master/
(I think at the moment you have to use the portable version, since there is a problem with the installer.) Before installing the dev version, always remember to make a backup of your database, in case somethi

[2019-11-14 09:50] AEgit commented on #5605
@fmartelg : As far as I can tell, you are using the 5.0 Alpha version from https://github.com/JabRef/jabref/releases.

If so, you might want to try the latest development version: https://builds.jabref.org/master/
(I think at the moment you have to use the portable version, since there is a problem with the installer.) Before installing the dev version, always remember to make a backup of your dat

[2019-11-14 10:16] Siedlerchr commented on #5605
If you have any previous 5.x version installed, you might need to uninstal it first

[2019-11-14 10:22] Siedlerchr commented on #5591
Thanks for your investigation, This seems like a bug in the jpackage tool. Apparently it searches "bin" for the libjava.so and seems to get confused

[2019-11-14 12:45] j0hannes opened #5610 "JabRef freezing completely"
JabRef version 5.0 dev

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open JabRef
2. Click on File > Open

JabRef freezes and won't react to anything. Closing the application via Ctrl+C is not possible. After killing it, a zombie process remains in the process table.

When restarting the applic

[2019-11-14 13:57] tobiasdiez commented on #5607
can you make a central redirection of help.jabref.org/whatever to docs.jabref.org with search "whatever"? Otherwise this would render the help functionality of all old JabRef versions useless, and we all know how long users stick to old versions.

[2019-11-14 14:05] tobiasdiez commented on #5591
I indeed read something about a bug in jpackage when the folder contains `bin`. Could be already fixed in the latest jpackage update that we use since this morning.

[2019-11-14 14:09] j0hannes commented on #5610
I could nail it down to a problem with the underlying file system. JabRef tried to list the directory that it had used last. That directory was on a virtual filesystem which was unresponsive at that time, so the application became a zombie process after being killing.

[2019-11-14 14:09] #5610 closed

[2019-11-14 16:40] koppor commented on #5607
I added redirects for *all* existing pages in https://github.com/JabRef/user-documentation/commit/d599612374642f54aea264114b534213f5e0ac2c#diff-d6fddecc411644916195eccfcde4023c this morning 😅.

[2019-11-14 16:42] koppor commented on #5607
An arbitrary redirect on GhPages without own CI is only possible with 404: https://github.com/JabRef/contribute.jabref.org/blob/master/README.md (part of the explanation)

[2019-11-14 20:25] wujastyk opened #5611 "Entry preview journal formats have disappeared"
JabRef 5.0.0-dev--2019-11-14----8f7188d2d
Linux 5.3.0-23-generic amd64
Java 13.0.1

Steps to reproduce the behavior:
1. Options/Preferences/Entry Preview
2. all the journal formats have disappeared (the "Available" window is empty)

![Screenshot from 2019-11-14 11-43-49](https://user-images.githubusercontent.com/762246/68893311-19982b80-06e2-11ea-8300-7e773b983fcd.png)

[2019-11-14 20:25] wujastyk commented on #5550
Yes, fixed.  Thanks.

On Wed, 13 Nov 2019 at 16:20, Tobias Diez <notifications@github.com> wrote:

[2019-11-14 20:34] wujastyk commented on #5547
JabRef 5.0.0-dev--2019-11-14----8f7188d2d
Linux 5.3.0-23-generic amd64
Java 13.0.1

- Unicode to LaTeX is working
- LaTeX to Unicode is working, but all the Unicode chars are now surrounded by curly brackets {}.

Thus,
Puṇya\-pattana\-vidyā\-pı̄ṭhādhi\-kṛtaiḥ prā\-kaśyaṃ nı̄taḥ
->
Puṇya\-pattana\-vidy{\={a}}\-p{\i{\={}}}ṭh{\={a}}dhi\-kṛtaiḥ pr{\={a}}\-ka{{\'{s}}}yaṃ n{\i{\={}}}taḥ
->
Puṇya\-{p}{a}

[2019-11-15 16:58] digdig opened #5615 "Jabref5.0 snapshot-2019-11-14 On macOS Sierra cannot save user's Display settings."
Everytime I open the Jabref, the left column is too wide and the entry details on the bottom shows, leaving the main window very small.

When I drag and resize it, and close the bottom entry's details part, it looks good until I quit and reopen the program again. It seems that the UI failed to remember my adjustment. I have search the settings and found no place to set.

<img width="1188" alt="屏幕快

[2019-11-15 20:41] jorgman1 opened #5616 "Error StatusLogger"
I have just installed the newest dev-version and get the two windows when opening JabRef. The second one is the normal JabRef, but the first one is like a command line, with JabRef logo and title containing the following message:

"ERROR StatusLogger Log4j2 could not find a logging implementation. Please add log4j-core to the classpath. Using SimpleLogger to log to the console..."

Version: JabRef

[2019-11-15 21:31] jorgman1 opened #5617 "Choose installation folder in Windows"
**Is your suggestion for improvement related to a problem? Please describe.**
The new installation script in windows (.msi) installs JabRef directly without asking the destination folder.

**Describe the solution you'd like**
It would be nice, to choose the destination.

[2019-11-15 21:55] AEgit commented on #5617
Duplicate of https://github.com/JabRef/jabref/issues/5580

[2019-11-15 21:58] AEgit commented on #5616
Duplicate of https://github.com/JabRef/jabref/issues/5474 and https://github.com/JabRef/jabref/issues/5475

[2019-11-16 05:29] jorgman1 commented on #5616
Thank you @AEgit I had not seen them.

[2019-11-16 05:29] #5616 closed

[2019-11-16 05:30] #5617 closed

[2019-11-16 09:51] AEgit commented on #5616
You are welcome!

[2019-11-16 11:40] Siedlerchr commented on #2581
Chimbori was removed, and ottobib was added. Ottobib uses worldcat for searching ISBN

[2019-11-16 17:42] KarlMagnusLarsson opened #5622 "Entry preview: Error while generating citation style"
JabRef 5.0.0-dev--2019-11-16----3fbeef03d
Mac OS X 10.13.6 x86_64
Java 13.0.1

Steps to reproduce:

1. Select any entry from an open bibliography.
2. Double left click on entry to show the different fields in the lower portion of the window.
3. The right hand side shows "Error while generating citation style", instead of a preview of the citation.

Jabref-5.0.0 has been in this state for a couple

[2019-11-17 16:12] #5580 closed

[2019-11-17 16:12] tobiasdiez commented on #5580
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-17 16:16] tobiasdiez commented on #1284
A preliminary test version for Chrome is now available under https://chrome.google.com/webstore/detail/jabref-browser-extension/bifehkofibaamoeaopjglfkddgkijdlh?authuser=2. It should work out of the box with the most recent development build https://builds.jabref.org/master/ (or follow the steps outlined at https://github.com/JabRef/JabRef-Browser-Extension/blob/master/README.md for a manual insta

[2019-11-17 16:44] Ka0o0 commented on #5615
I can confirm this behavior is occurring. I will further investigate it and report back.

[2019-11-17 17:05] AEgit commented on #5580
JabRef 5.0.0-dev--2019-11-17----151a216a2
Windows 10 10.0 amd64
Java 13.0.1

Can confirm that his has been fixed in the current dev version.

[2019-11-17 17:53] AEgit commented on #5071
JabRef 5.0.0-dev--2019-11-17----151a216a2
Windows 10 10.0 amd64
Java 13.0.1

@tobiasdiez Tried the current dev version. This one is much improved in terms of performance. Switching between different groups and articles is now much smoother. Well done!

The following performance issues remain:
1. Assigning an item to a group has a heavy impact on the CPU. Now, if you assign just a single item, this

[2019-11-17 18:33] tobiasdiez commented on #5071
Thanks for the feedback. I'll try to have a look at the remaining performance issues in the next days.

[2019-11-17 18:34] tobiasdiez commented on #5577
This is now fixed.

[2019-11-17 18:34] #5577 closed

[2019-11-17 18:48] wujastyk opened #5626 "Today's "master builds" .deb won't install (2919-11-17)"
- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. ...
2. ...
3. ...

<details>
  <summary>Log File</summary>

[code]
</details>

[2019-11-17 18:58] tobiasdiez commented on #5399
With the latest update of jpackage, this issue has now increased priority as trying to install a dev version although a dev version is already installed results in the following:
![error](http://www.steelbytes.net/wp-content/uploads/2014/11/msi_error_1638_another_version_already_installed.png)

Thus, the user has to manually deinstall the previous version.

@koppor This also means that if we relea

[2019-11-17 19:22] LyzardKing commented on #5626
The change to build.gradle isn't in the branch...
It might have been excluded in a merge..
I can look into the issue properly tomorrow.
I think the addition was a replacement of the include line with: `include "native-messaging-hosts/**", "jabrefHost.py"`
I'm not on my computer now, so I can't test it...

[2019-11-17 21:25] LyzardKing commented on #5626
@wujastyk It should be fixed in the branch..
If you want to test it once it uploads (if it works :wink: )

[2019-11-18 01:40] Marathon2112 opened #5632 "Error opening file: Cannot run "xdg-open" (error 13)"
I get the following error when I click on the "linked files" icon in the entry table:

[code]

JabRef 5.0.0-dev--2019-11-17----3f0aa5803
Linux 5.3.11-zen1-1-zen amd64
Java 13.0.1

[2019-11-18 05:24] koppor opened #5633 "File annotations should be parsed if a file is attached"
If a new file is attached, the tab "File Annotations" should be shown immediately - and not at refocus.

Video:

![jabref-rulez-2](https://user-images.githubusercontent.com/1366654/69026638-f9ab8500-09cb-11ea-8152-2e511c4c4bf5.gif)

In case one plays around with it - approx each second time, just a new entry is created instead of attaching the file.

[2019-11-18 05:31] #5626 closed

[2019-11-18 11:34] #5615 closed

[2019-11-18 11:35] tobiasdiez commented on #5615
Thanks to @Ka0o0 this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-18 11:46] tobiasdiez commented on #5632
Are you using the snap version?

[2019-11-18 12:52] bernhard-kleine opened #5637 "latest windows install version is afunctional"
Today 18.11.2019 I wanted to install the latest version. It did not work. Comparing the file sizes in the master directory, I notice that JabRef-5.0.0.msi as well as the portable windows zip file were very much to small.

![grafik](https://user-images.githubusercontent.com/9216487/69053855-a0167b00-0a0a-11ea-92d4-9f2e0ea86258.png)

[2019-11-18 13:04] Siedlerchr commented on #5637
Thanks for the report, I noticed that the build did not upload correctly. I triggered a rebuild which willl hopefully work
https://github.com/JabRef/jabref/runs/307878630

[2019-11-18 13:07] Siedlerchr commented on #5622
Can  confirm this. Think it is a follow up issue from #5585
I debugged it down and it triggers the ArgumentException which is ignored.

Actual exception and stack trace.
I looked into my JabRef folder and it seems like there is some problem with the csl-locale git submodule

[code]

[2019-11-18 13:15] AEgit commented on #5637
Note, that this can happen when the newest build has just been uploaded. It appears, that the Windows build is usually the one, that takes the longest to upload (at least coming from my experience it always seemed to be the one that is the last to be fully uploaded to the Master directory). The download will appear in the Master directory as being ready to download, but actually the build is still

[2019-11-18 13:20] bernhard-kleine commented on #5637
Most probably that is not the case here: I loaded it at 13:45 according to the date on my file. The time between downloads were some 3 min. The latest at 13:13. BTW Siedlerchr has already confirmed incomplete downloads.

[2019-11-18 13:22] AEgit commented on #5637
Yes, in this particular case, this might not apply. But I wanted to leave this comment here, in case someone else encounters the problem again in the future: I did, a couple of times, and was about to submit a bug report before I realised that I just had to wait a little bit, until the build upload was complete. So my post is just meant as future reference, but - as you say - it might not apply to

[2019-11-18 13:22] Siedlerchr commented on #5611
They are still there, they just a moment to load and therefore to appear

[2019-11-18 13:27] Siedlerchr commented on #5622
After I deleted and readded the csl-locale submodule it works again for me when running from eclipse.
So I guess there might be something wrong with the modules in the installer

[2019-11-18 13:35] bernhard-kleine commented on #5637
@Siedlerchr The download stopped again at 144.7 MB, the same file size as before. That is most probably wrong.

[2019-11-18 13:39] AEgit commented on #5637
The upload for the Windows build appears to have failed:
https://github.com/JabRef/jabref/runs/307971519

@Siedlerchr Can something be done about this? The error message of the for the Windows deployment is:
`[error]Node run failed with exit code 134`

[2019-11-18 13:44] Siedlerchr commented on #5637
I think this is a bug from the SFTP Upload script. Will create a bug report
In the meantime you can download the artifact from the action: https://github.com/JabRef/jabref/suites/316024234/artifacts/355189

[code]

[2019-11-18 15:06] wujastyk commented on #5626
Yes, the .deb master build of 18 Nov installed fine.

[2019-11-18 15:08] wujastyk commented on #5611
No, for me they do not appear even after several minutes.  The "Available"
window remains blank for as long as I am willing to wait.

[2019-11-18 16:08] Marathon2112 commented on #5632
No, I'm using the `jabref-latest` package on the AUR (uses [https://builds.jabref.org/master/JabRef-portable_linux.tar.gz](url) as a source).

[2019-11-18 16:40] tobiasdiez commented on #5637
We had the same problem a few weeks ago, and it disappeared again without us doing anything. It's probably a temporary problem with our build server. Closing this for now. Please report back if this is not resolved in a few days.

[2019-11-18 16:40] #5637 closed

[2019-11-18 18:37] jfkpdq opened #5638 "Opening PDF in reader fails: conflict between java and xdg-open"
I can't open attached PDFs in my reader (MasterPDF5 that I linked in settings), apparently a permission issue between java and xdg-open.

Built package (20191016-1) from AUR: https://aur.archlinux.org/packages/jabref-latest/

`java.io.IOException: Cannot run program "xdg-open": error=13, Permission non accordée [Permission denied] at java.base/java.lang.ProcessBuilder.start(Unknown Source) at java

[2019-11-18 18:46] LyzardKing commented on #5638
Duplicate of #5632

[2019-11-18 18:48] LyzardKing commented on #5632
@Marathon2112 Could you try the portable install? to see if the problem is with the aur package or the official build as well?
You can use the one you link to in the comment

[2019-11-18 19:01] wujastyk commented on #5632
JabRef 5.0.0-dev--2019-11-18----fc47b266a
Linux 5.3.0-23-generic amd64
Java 13.0.1

Not a problem for me with today's master beta (deb).

[2019-11-18 19:50] Marathon2112 commented on #5632
@LyzardKing Works with the portable install. Must be a problem with the AUR package. Closing, thanks.

[2019-11-18 19:50] #5632 closed

[2019-11-18 20:05] alexkarezin opened #5639 "Add reference to architecture diagrams for high-level packages"
**Is your suggestion for improvement related to a problem? Please describe.**
Not a problem, requesting an addition to Wiki page

**Describe the solution you'd like**
Add reference to architecture diagrams for `model`, `gui` and `logic` packages
https://sourcespy.com/github/jabref/

**Additional context**
Not sure how to submit PR for Wiki page. Please advise. I have staged the change here.
https:

[2019-11-18 20:44] Marathon2112 commented on #5632
For reference, solved by making `jexec` executable:
[code]

[2019-11-18 20:44] Marathon2112 commented on #5638
For reference, solved by making `jexec` executable:
[code]

[2019-11-18 21:25] #5638 closed

[2019-11-18 21:27] tobiasdiez commented on #5622
@koppor what do you think about replacing the git submodules by git subtrees? Then we also don't run into these problems that some people are pushing changes to the submodule commit hash as part of PRs.

[2019-11-18 21:33] tobiasdiez commented on #5639
Thanks, these diagrams look really cool. I added the link: https://github.com/JabRef/jabref/wiki/High-Level-Documentation

[2019-11-18 21:33] #5639 closed

[2019-11-18 21:37] koppor commented on #5622
Reading https://codewinsarguments.co/2016/05/01/git-submodules-vs-git-subtrees/ -- +1 for subtrees.

Should we go for the "squashed" history? --> https://stackoverflow.com/a/51774939/873282 --> "Alt Squashed history"

[2019-11-19 02:09] tdupu commented on #3995
Still a problem for me.
Mac OS X 10.14.6 Mojave.

[2019-11-19 03:06] digdig commented on #5615
@tobiasdiez @Ka0o0 Thanks for the effort, I can confirm that the left panel now can remember its size after closing, but **the bottom show details** is still occurring even I close it before exit.

[2019-11-19 11:50] #5520 closed

[2019-11-19 11:51] tobiasdiez commented on #5520
@UltimaBGD Thanks for your investigations. With your help, I was now able to fix this issue. (There still might be some problems with the file icon on Linux...)

[2019-11-19 11:55] tobiasdiez commented on #5622
Yes, squashed history sounds good (I don't think we care about the detailed changes to the style files).

[2019-11-19 13:04] Siedlerchr commented on #5637
Today the error seems to be gone.

[2019-11-19 13:40] AEgit commented on #5637
Indeed, the full Windows dev version can be downloaded again.

[2019-11-19 13:58] Siedlerchr opened #5643 "Cannot open integrity check dialog (Error from controlsfx)"
latest master:

Problem is the following line in controlsfx:
`    private static final Image filterIcon = new Image("/impl/org/controlsfx/table/filter.png");`

[code]

[2019-11-19 16:47] bernhard-kleine opened #5645 "medline import does not work"
JabRef 5.0.0-dev--2019-11-19----ae02dcb46
Windows 7 6.1 amd64
Java 13.0.1

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. into the (websearch)Medline/Pubmed enter a number e.g. 29316417 and press search
2. the dialog pops up and shows "Processing 29316417"
3. nothing furthers happens, I waited 7

[2019-11-19 20:06] koppor commented on #5607
Fixed at https://github.com/JabRef/jabref/pull/5609.

[2019-11-19 20:06] #5607 closed

[2019-11-19 21:48] Ka0o0 commented on #5615
@digdig thanks for testing it out. I misunderstood it then. I checked if the bottom panel remembers the size.
I will have a look at it

[2019-11-19 21:59] koppor commented on #5643
Maybe, this will be fixed with https://github.com/controlsfx/controlsfx/pull/1214 and a new release of @controlsfx.

[2019-11-20 01:14] digdig commented on #5615
Thanks, I mean when I close the bottom, it will apear again when restart.-------- 原始邮件 --------发件人： Kai Takac <notifications@github.com>日期： 2019年11月20日周三 05:48收件人： JabRef/jabref <jabref@noreply.github.com>抄送： digdig <hiluming@gmail.com>, Mention <mention@noreply.github.com>主    题： Re: [JabRef/jabref] Jabref5.0 snapshot-2019-11-14 On macOS Sierra cannot save user's Display settings. (#5615)@digdig

[2019-11-20 06:00] koppor commented on #5622
PR to switch to git subtrees created: https://github.com/JabRef/jabref/pull/5647

[2019-11-20 10:06] AEgit commented on #5504
This issue appears to be fixed in the current dev version.

[2019-11-20 10:17] egarpor commented on #3995
This worked, version

However, it is quite slow when adding an entry or making an edit to an existing entry.

[2019-11-20 10:31] Siedlerchr commented on #3995
@egarpor Please try to remove the old JabRef installation before installing the latest snapshot

[2019-11-20 11:39] #5504 closed

[2019-11-20 20:07] urielz opened #5650 "duplicate file links"
"Quality" -> "Automatically set file links" works however it produces two identical file links.

JabRef 5.0.0-dev--2019-11-20----5376dcfb6
Mac OS X 10.13.6 x86_64
Java 13.0.1

[2019-11-20 23:51] tobiasdiez opened #5651 "Display error in custom entry types dialog"
Most recent development version.
![image](https://user-images.githubusercontent.com/5037600/69288049-a36f5980-0bf8-11ea-82c3-ed2b6919aa76.png)

The list should show only the name of the entry type (e.g `Lecturenotes`) instead of the `toString` output. Moreover, the label "Currently unknown:" can be removed.

[2019-11-21 01:56] jfk88 opened #5653 "Import option "Copy, Rename, Link" behaviour in v5-dev"
I don't know if this a bug or the expected behaviour of the "Copy, Rename, Link" option but I got this when importing a PDF (I cannot be sure of the correct order of the execution of course):

1. File is copied into my JabRef folder.
2. _Original_ file is renamed in its current location.
3. Renamed file is linked to the database.

Ergo I got a correctly renamed PDF in the program which is not the

[2019-11-21 06:56] shichuzhu commented on #2955
Just tested with
JRE 1.8.0_231
Ubuntu 18.04.3 LTS
JabRef 4.3.1

The problem still exists. And unchecking "collecting and sharing telemetry data" does solve the problem.

[2019-11-21 06:59] koppor opened #5654 "Generate BibTeX key does not work in "BibTeX source" panel"
I pasted the following bibtex entry - and wanted to generate the key using <kbd>Ctrl</kbd>+<kbd>G</kbd>.

[code]

Note that it sometimes works - I haven't found out. Here a video where it did not work:

![jabref-rulez-3](https://user-images.githubusercontent.com/1366654/69314550-bc95fb80-0c34-11ea-8bc7-502c30539edf.gif)

[2019-11-21 07:40] Siedlerchr commented on #2955
@shichuzhu  Please try the latest develioment version from 5.x..
Version 4.x is no longer supported. http://builds.jabref.org/master/

[2019-11-21 08:15] m0m0khan commented on #2046
I am having this issue on JabRef 4.3.1 running on kubuntu. I tried changing my MAC and IP addres both but still getting this error. Can anybody help me?

[2019-11-21 09:13] koppor opened #12275 "Add mass addition of bib information"
In short: https://docs.jabref.org/advanced/how-to-expand-firstnames for many entries

We have
![grafik](https://user-images.githubusercontent.com/1366654/69323661-79915380-0c47-11ea-8e4d-75291fad2fe3.png)

But we don't have following for all entries:

![grafik](https://user-images.githubusercontent.com/1366654/69323696-831abb80-0c47-11ea-88f0-435692b6ae2f.png)

Maybe: Mass-cleanup of all entries:

[2019-11-21 09:14] AEgit commented on #2046
@m0m0khan Have you tried using the current developer version of JabRef (https://builds.jabref.org/master/)?

Before using the dev version, create a backup of your JabRef database in case something goes wrong.

[2019-11-21 09:24] m0m0khan commented on #2046
I downloaded it, but I am unable to run it (I am new on Linux). This file is tar.gz and I dont know how to excute JabRef after extracting the file. Can you help me here please?

[2019-11-21 09:35] AEgit commented on #2046
Uaagg, to be honest, the Linux version is also not running for me at the moment :D
having said that, though, in my case this is because I want to use the snap version, which is currently blocked due to certain external issues, that are outside of the reach of the JabRef developers.

Coming back to your question: Can you tell me, which distribution of Linux you are running? Is it Ubuntu? Or any oth

[2019-11-21 10:04] m0m0khan commented on #2046
@AEgit I am using Kubuntu (KDE). Not able to run the dev version yet :(

[2019-11-21 10:05] AEgit commented on #2046
Which version of Kubuntu?

[2019-11-21 10:43] m0m0khan commented on #2046
@AEgit It's 18.04.3 LTS

[2019-11-21 10:56] AEgit commented on #2046
Sorry for taking so long to reply - I had to setup a Linux virtual machine, since I am mainly using on Windows when at work. As far as I can tell, the tar file should work immediately, without any issues.
Just untar the file and doubleclick on the JabRef application (found in JabRef-portable_linux/JabRef/bin). This should start JabRef.

If it does not work, you might have to set the execution bit,

[2019-11-21 11:01] m0m0khan commented on #2046
Thanks, It's working!

[2019-11-21 11:02] AEgit commented on #2046
Cheers!

[2019-11-21 12:15] bernhard-kleine opened #5657 "Install of jabref.5.0.0.msi is flawed and to complicated"
JabRef 5.0.0-dev--2019-11-21----eb79ebad6
Windows 7 6.1 amd64
Java 13.0.1

- [+] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

1. The installation does not automatically remove a previous version but asks the users to use the Systemsteuerung (system control) to do it themselves.
2. The installation does provide an desktop icon to start

[2019-11-21 13:23] AEgit commented on #5657
The first point is a duplicate of:
https://github.com/JabRef/jabref/issues/5399#issuecomment-554775210

[2019-11-21 17:05] bernhard-kleine commented on #5399
Why do you not think about removing the previous version and then installing the new one"?

[2019-11-21 18:17] jusneuma commented on #5401
Hi, I am getting the same error as lizliz

/snap/jabref/550/bin/desktop-launch: line 574: /snap/jabref/550/jabref/bin/JabRefMain: No such file or directory

Has this been solved?
I am using Fedora 30 and I have trouble to run any jabref version later than 3.8 because of JavaFX related issues. I read that the snap edge version could work with Fedora, but now I run into this issue.

[2019-11-21 18:17] homocomputeris opened #5658 "Find and Replace raises IllegalStateException"
JabRef 5.0.0-dev--2019-11-21----699754c77
Linux 5.3.11-zen1-1-zen amd64
Java 13.0.1

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
Use Find and Replace

[code]

[2019-11-21 19:14] LyzardKing commented on #5401
The snap version in the store is not up to date, since we are waiting for some extra permissions before we can upload the new version.
Meanwhile you can download the snap from https://builds.jabref.org/master/
and install with `snap install jabref_5.0.0_amd64.snap --dangerous`
It will not auto-update when the full version is uploaded to the store..so you should check that
from time to time.
Or you

[2019-11-21 19:57] tobiasdiez commented on #4877
I think this issue is a direct consequence of #5257. The user saves the library, which changes the file, which leads JabRef to check for changes. Normally, there are none (as the user just saved) but due to the bug #5257 JabRef thinks that every entry changed. (This also explains why accepting the changes, all entries are duplicated.)

Concerning the backup feature, I agree the `sav` file is not n

[2019-11-21 20:16] koppor commented on #5257
Refs https://github.com/JabRef/jabref/issues/5124

[2019-11-21 21:31] koppor commented on #4877
Note to self: We really need `.bak` because of `AtomicFileOutputStream`.

[2019-11-22 10:22] jorgman1 commented on #5657
To point 2:

I would suggest adding two checkboxes in the installation menu. Hence, the user could decide whether he wants the folder in the start menu and the desktop shortcut.

[2019-11-22 10:39] Siedlerchr commented on #5657
1. It should already be possible to overinstall (aka replace the previous version with the newer)

[2019-11-22 10:40] Siedlerchr commented on #5658
The problem seems to be the autosaveback which posts to the event bus where the listener is not on the fx thread

[2019-11-22 10:43] Siedlerchr commented on #5653
Refs #5563

[2019-11-22 11:04] jusneuma commented on #5401
Thank you for the reply. Unfortunately, I cannot install that version.
`snap install jabref_5.0.0_amd64.snap --dangerous`
`error: cannot open: "jabref_5.0.0_amd64.snap"`
Any idea why that might be? Sorry, I am new to snap, maybe it has an easy solution?

[2019-11-22 11:41] bernhard-kleine commented on #5657
@Siedlerchr , actually it is not for unknown reasons.
3. The program should know to which directory the previous version has been installed and offer that dir for overinstalling.

[2019-11-22 12:04] jusneuma commented on #5401
The rpm version does work! Thanks for that!

[2019-11-22 12:06] LyzardKing commented on #5401
To install the snap you first have to download it, then run the install command in the same directory..
It should work.. let me know if you try again..

[2019-11-22 13:17] bulmust opened #5660 "Can not open file with Okular version 1.3.3"
JabRef version 5.0.0-dev on Linux Mint 19.2 Mate

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The JabRef 5 can not open a pdf file with my default document viewer okular (version 1.3.3). To open file, I press F4 shortcut and right-click->open-file.

Steps to reproduce the behavior:
1. I changed my default document viewer to xre

[2019-11-22 14:38] tobiasdiez opened #5661 "Special columns are not displayed correctly"
Latest dev version. Special columns such as `qualityassured` simply display the text (e.g `qualityassured`) instead of the icon.

[2019-11-22 14:43] tobiasdiez opened #5662 "Provide option to automatically download files upon import"
**Is your suggestion for improvement related to a problem? Please describe.**
Usually, when importing entries using the browser extension, they include urls to PDFs etc. After the import, one has to go to the general tab and then download these files manually.

**Describe the solution you'd like**
Add an option in the import dialog (checkbox), that allows to automatically download all linked files

[2019-11-22 15:58] Siedlerchr commented on #5661
@calixtus  You recently worked on this feature?

[2019-11-23 02:04] jamesp670 opened #5664 "soft link for main file directory fails silently (linux edition)"
JabRef version  on

- [ X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:

We commence with a bibtex entry Gurney2019 and ~/papers/Gurney2019.
The entry doesn't link to the PDF.

1. Go to Options/Preferences/File.
2. set path to /home/powellj/papers (the soft link)
3. Make sure there's no file link for G

[2019-11-23 15:05] koppor commented on #4183
Refs #550

[2019-11-23 20:28] tobiasdiez commented on #5547
It's working properly for me under Windows.

[2019-11-24 11:04] tobiasdiez commented on #5546
After a long discussion in the last dev call, we have decided to remove the preference option that controls the default drag and drop action (see #5668). You can use the modifier keys like `Ctrl` or `Alt` to change the drop behavior.

[2019-11-24 11:04] #5546 closed

[2019-11-24 15:41] calixtus commented on #5661
Oh, thanks. Didn't see that. Thanks for the fix.

[2019-11-24 17:25] #5653 closed

[2019-11-24 18:31] tobiasdiez commented on #5653
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-24 19:02] tobiasdiez commented on #5522
Thanks to @ageofadz this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-24 20:04] AEgit commented on #5522
JabRef 5.0.0-dev--2019-11-24----8780a5632
Windows 10 10.0 amd64
Java 13.0.1

While there have been changes, these have not addressed the issues reported here (completely):

1) The group colouration (indicating that the selected item was assigned to the coloured group) makes it still impossible to see the number of assigned group items. The colour has changed from green to greyish-white, but since

[2019-11-24 20:10] AEgit commented on #5522
Note, that there is another colouring problem. When you try to assign an item to a new group, using drag'n'drop, the respective group is coloured in pink, which also makes it nearly impossible to see the name of the group.

![Untitled2](https://user-images.githubusercontent.com/12767489/69500820-78398280-0ef6-11ea-8cda-6a753557b3b7.png)

[2019-11-24 20:16] AEgit commented on #5071
JabRef 5.0.0-dev--2019-11-24----8780a5632
Windows 10 10.0 amd64
Java 13.0.1

Note also, that it appears, as if the search has become slower again. Not as bad as it was in the past (https://github.com/JabRef/jabref/issues/2852#issue-229895128), but it seems, that the latest versions have seen a performance decrease there as well. Entering a search term using a large database results in lagged input

[2019-11-24 21:45] #3874 closed

[2019-11-25 19:40] AEgit commented on #5522
@tobiasdiez I think this issue needs to be re-opened (see problems reported above).

[2019-11-25 19:42] tobiasdiez commented on #5522
@ageofadz do you have time to create a follow-up PR, which also fixes the remaining issues? That would be great! Let me know in case you are hitting a wall and need help navigating the code (although by now you should know where to look more or less).

[2019-11-25 19:49] tobiasdiez commented on #5664
Thanks for your report. Could you please respond to this comment, where @LyzardKing tried to reproduce the problem but couldn't: https://github.com/JabRef/jabref/pull/5666#issuecomment-558047319. Moreover, it would be nice if you could try the version from https://builds.jabref.org/followSymLinks/ and see if this fixes your problem. Thanks!

[2019-11-26 05:55] UltimaBGD commented on #5520
I'm glad I was able to help!

[2019-11-26 06:53] reox commented on #5591
I tested it today with the snapshot from 2019-11-25 and it still fails when Jabref is installed to $HOME/bin.

[2019-11-26 16:05] melTr opened #5675 "Counts of selected items"
Hi
In version 5, the line number are removed. I used previously those lines to help me counting how many results I had instead of manually counting them.
Have you considered showing in state bar the number of selected items? For now, only the number of search results are shown, meaning I have to narrow my search to exactly fit my sub-selection to know how many items are selected.
Thanks.

[2019-11-26 23:43] seyi852002 opened #5677 "Automatic Bug Report - 20191127014059"
JabRef 4.3.1
Windows 10 10.0 x86
Java 1.8.0_231

Steps to reproduce:

1. ...
2. ...
3. ...

Paste your log details here.

[2019-11-27 09:37] AEgit commented on #5677
Please provide any details on the issue. Otherwise this bug report will be closed.

[2019-11-27 12:26] CarodePourtales commented on #4183
Hello,
We have to work on an open source project with a group of 6 students for a course in an engineering school and we chose to work on your project. We also choose this issue. Could you gave us further details  on what you want ? Thank you a lot !

[2019-11-27 12:52] tobiasdiez commented on #4183
@CarodePourtales Thanks for your interest!

The feature should work as follows:
- Add a button in the toolbar
- When the user clicks this button, then a flyout should be displayed with a textbox where the user could insert an ID (DOI, ISBN, ...).
- JabRef then tries to determine the type of the identifier, fetches the corresponding bibliographic information and then creates a new entry with this d

[2019-11-27 12:55] #5677 closed

[2019-11-27 13:32] CarodePourtales commented on #4183
Thanks but isn't the issue resolved like the picture shows or do you want something more ?
![Capture d’écran 2019-11-27 à 14 30 27](https://user-images.githubusercontent.com/49019500/69727278-823fc900-1122-11ea-9686-29653f0028b3.png)

[2019-11-27 13:48] tobiasdiez commented on #4183
Yes, the feature in itself kind of exists. The idea was to move the functionality from the lower part of this dialog to the button in the toolbar. In addition, the `ID type` combobox should be replaced by an automatic detection of the identifier type (if possible).

So it's a bit of work, but not that involved (depending on how much time you are supposed to invest, it might make sense to look at a

[2019-11-27 14:09] koppor commented on #4183
Please also read along the discussion at https://github.com/JabRef/jabref/issues/550#issuecomment-397175552. It should provide an idea of the user requirements.

[2019-11-27 19:14] jfk88 commented on #5653
Thank you Tobias, I confirm works.

[2019-11-27 19:46] #5661 closed

[2019-11-27 22:47] Ka0o0 commented on #5615
My investigations have shown that `clearAndSelectFirst` in `BasePanel`. It is therefore the intended behavior. @digdig if you feel like this is not how it should be like please open a new feature request issue here on GitHub where we can discuss it separately.

[2019-11-27 23:08] Ka0o0 commented on #5658
I would like to tackle that issue. However, I was not able to reproduce it with autosave. @homocomputeris had you opened multiple libraries and auto save enabled?

[2019-11-27 23:20] Ka0o0 opened #5679 "Throttle autosave actions"
**Is your suggestion for improvement related to a problem? Please describe.**
While I was debugging for issue #5658 I noticed that when doing a find and replace the save action will be performed for every change in entries.

**Describe the solution you'd like**
A common way of limiting unnecessary write operations is to introduce some sort of throttling. It works in a way that the application wait

[2019-11-28 06:54] #5664 closed

[2019-11-28 08:22] digdig commented on #5615
@Ka0o0 Thanks, this behavior is acceptable for me.

[2019-11-28 09:09] bulmust opened #5681 "How can I fetch a references bibtex key with special character?"
Version: JabRef 5.0.0-dev--2019-11-21----782953d0a

- I tried following command but it is not recognized.

[code]
On the other hand if I enter `/opt/jabref/bin/JabRef -f INSPIRE:neutrino` it works. Thus, I need to understand how should I put special characters (: , . , etc.) in the fetch syntax.

- Also, how can I add fetched reference to current bib file? I do not want to add created temporary 'u

[2019-11-28 09:44] tobiasdiez commented on #5681
Did you tried to add quotes, i.e. `/opt/jabref/bin/JabRef -f INSPIRE:"arXiv:1007.5048"` ?

Please use our forum for questions the next time: http://discourse.jabref.org/

[2019-11-28 09:55] bulmust commented on #5681
Yes, I tried following command:
`/opt/jabref/bin/JabRef -f INSPIRE:'arXiv:1007.5048'`

I will continue this topic on http://discourse.jabref.org/

[2019-11-28 09:55] #5681 closed

[2019-11-28 10:23] lromero21 commented on #5651
Hi, can I work on this?

[2019-11-28 10:30] tobiasdiez commented on #5651
Sure, feel free to work on this issue! Also have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and drop by in our [developer chat](https://gitter.im/JabRef/jabref) if you have questions!

[2019-11-28 19:39] #5257 closed

[2019-11-28 19:46] tobiasdiez commented on #5257
Hopefully, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-28 19:47] tobiasdiez commented on #5124
Hopefully, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-28 19:47] #5124 closed

[2019-11-28 19:47] tobiasdiez commented on #5085
Hopefully, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-28 19:47] #5085 closed

[2019-11-28 19:48] tobiasdiez commented on #4877
Hopefully, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-11-28 19:49] tobiasdiez commented on #4430
This should be fixed now. A few remaining performance issues are mentioned at https://github.com/JabRef/jabref/issues/5071#issuecomment-554769666

[2019-11-28 19:49] #4430 closed

[2019-11-28 19:51] tobiasdiez commented on #5417
@LyzardKing can you ask them again what the current status is? (I know you already did it a few times without response...). @koppor can you trigger a re-review or something like this?

Reference: https://forum.snapcraft.io/t/system-files-permission-for-jabref-native-messaging-hosts-integration/13702

[2019-11-28 20:07] koppor commented on #5417
---------- Forwarded message ---------
Von: Snap Store <noreply@canonical.com>
Date: Fr., 22. Nov. 2019 um 21:43 Uhr
Subject: Status update for version 5.0.0 (637) of JabRef

Version 5.0.0 (637) upload for jabref to the Snap Store has been rejected.

The reviewer provided the following feedback:

Rejecting for now while this is still being discussed in the forum.

[2019-11-28 20:08] koppor commented on #5417
I am not deep into the topic - thus, I cannot support @LyzardKing in the forum.

[2019-11-28 20:12] bernhard-kleine commented on #5657
@tobiasdiez: I wonder why the file size of jabref.5.0.0.msi during update is shown as the final size, not the actual one. I was irritated since downlaoding of a partial file is without use.

[2019-11-28 21:41] bernhard-kleine commented on #4877
Testing the new version I notices two errors:
`ERROR SaveDatabaseAction A problem occurred when trying to save the file K:\BuchprojektSpringer\VierteAuflage\Literatur\
EndokrinologieKunde20190320VS5.0.bib
 org.jabref.logic.exporter.SaveException: Problems saving:
        at org.jabref/org.jabref.gui.exporter.SaveDatabaseAction.saveDatabase(Unknown Source)
        at org.jabref/org.jabref.gui.expor

[2019-11-28 22:09] wujastyk commented on #4877
I just fetched

JabRef 5.0.0-dev--2019-11-28----ce0e8870c
Linux 5.3.0-23-generic amd64
Java 13.0.1

- from the master builds,
- made a small change
- hit "save"
- and still had the old error

![image](https://user-images.githubusercontent.com/762246/69833421-f6e13900-11f0-11ea-9bb9-6030bb3665c4.png)

But maybe I need to wait a little longer before fetching a new master build?

[2019-11-29 06:37] #5660 closed

[2019-11-29 07:50] LyzardKing commented on #5417
They should be reaching out to verify that the account and the name on the snap store is owned by you (the proper upstream for jabref)...

[2019-11-29 10:00] AEgit commented on #4877
JabRef 5.0.0-dev--2019-11-28----ce0e8870c
Windows 10 10.0 amd64
Java 13.0.1

Using the minimum example provided by @sfo in https://github.com/JabRef/jabref/issues/4877#issuecomment-501544917 I can confirm that this issue has been solved.

So far I have not been able to reproduce the issue reported by @wujastyk in https://github.com/JabRef/jabref/issues/4877#issuecomment-559610890

I was also not a

[2019-11-29 10:18] AEgit commented on #4430
JabRef 5.0.0-dev--2019-11-28----ce0e8870c
Windows 10 10.0 amd64
Java 13.0.1

This issue, indeed, appears to be fixed in the current version of JabRef (the remaining issues can be found here: https://github.com/JabRef/jabref/issues/5071#issuecomment-554769666). Big shout out to @tobiasdiez for the continuous support!

[2019-11-29 13:16] stefan-kolb commented on #5413
@tb77phd any new findings?

[2019-11-29 13:24] stefan-kolb commented on #5399
Refs #5657

[2019-11-29 14:03] homocomputeris commented on #5658
@Ka0o0 Yes, I have autosave enabled but only 1 library

[2019-11-30 02:02] wujastyk commented on #4877
JabRef 5.0.0-dev--2019-11-29----ea5e632e4
Linux 5.3.0-23-generic amd64
Java 13.0.1

Still getting it :-(

[2019-11-30 06:22] matthiasgeiger commented on #4877
@wujastyk Above you mentioned that you are using Dropbox to synchronize. Can you please check whether this problem is also happening in a folder that is not synced?

Thanks!

[2019-11-30 10:15] AEgit commented on #4877
@wujastyk Does it happen with your own database or can you reproduce the issue also with the minimum example provided in https://github.com/JabRef/jabref/issues/4877#issuecomment-501544917? If the former is the case, the problem might be related to the size of the database and/or the speed of your storage device. If the latter is the case, then the issue probably has not been solved.

[2019-11-30 11:05] wujastyk commented on #4877
JabRef 5.0.0-dev--2019-11-29----ea5e632e4
Linux 5.3.0-23-generic amd64
Java 13.0.1

Yes, I'm afraid it still happens even when I switch off Dropbox.

[image: image.png]

[2019-11-30 14:55] reox commented on #4877
I still have the same problem with my bib file (~850 entries) but not with the minimal example.

[code]

[2019-11-30 19:39] wujastyk commented on #4877
I should have said: I'm testing on a large database too.  Ca. 4000.  Does
size ever matter?

On Sat, 30 Nov 2019 at 07:55, reox <notifications@github.com> wrote:

[2019-12-01 00:34] github-actions[bot] opened #5689 "Outdated dependencies"
There are outdated dependencies!
See https://github.com/JabRef/jabref/actions?query=is%3Afailure for details.

[2019-12-01 10:09] #5689 closed

[2019-12-02 09:14] bernhard-kleine commented on #4877
JabRef 5.0.0-dev--2019-11-28----ce0e8870c
Windows 7 6.1 amd64
Java 13.0.1

For me the error "the library has been changed" is gone.

[2019-12-02 09:58] CarodePourtales commented on #550
Hello, I understand what you want but I don't understand what is the type of an entry from Id , is it "InCollection" ?
If it's the same type for every ID (InCollection), I would like to do as for Article and use NewEntryAction method with StandardEntryTrype.InCollection, is that ok ? Thanks

[2019-12-02 10:13] CarodePourtales commented on #550
Hello, I understand what you want, should I create a new NewEntryAction method for this new button or should I use the one already created used for the classic New Entry but if a type ? Thanks

[2019-12-02 10:23] reox commented on #4877
Maybe its a linux or filesystem thing?
on
[code]
I still have the problem. Here the bib file is on NFS.

[2019-12-02 10:24] AEgit commented on #4877
@reox Do you also have the problem with the minimum example file (https://github.com/JabRef/jabref/issues/4877#issuecomment-501544917)? Or is it your own (larger?) library?

[2019-12-02 10:26] reox commented on #4877
@AEgit I tried on this PC also: No, with the minimal example I do not have the problem.

[2019-12-02 11:05] mlep opened #5698 "JabRef 5.0: Main menus "File" & "Library" are confusing"
Testing JabRef 5.0beta (JabRef 5.0.1-dev--2019-11-29----9043f8008), and after using JabRef 4.3.1, I find the main menu confusing, especially the menu File and the menu Library:
- under File, the main items are about "Library" (Open library, Save Library, etc.)
- under Library, there is an item "Library properties".

Suggestion:
- move the item "Library properties" to the menu File.
- rename the me

[2019-12-02 11:56] tobiasdiez commented on #550
The functionality and the code should be moved to a new class. In addition, I would also add a new menu item.

[2019-12-02 11:59] tobiasdiez commented on #5698
The logic was that everything reaching outside (open/save/import/export/...) is under "File", while everything specific to the currently open library is under "Library".

Is this really confusing? I find it quite intuitive.

[2019-12-02 14:15] mlep commented on #5698
I got the logic now. It makes sense.
To me, the consequence of this logic would be to adapt the name of the items, i.e. the word "library" should not appear in the menu File.

[2019-12-02 14:35] mlep opened #5699 "Dark theme: not for "Restart required" window (and others)"
A glitch...

JabRef 5.0.1-dev--2019-11-29----9043f8008
Linux 4.9.0-11-amd64 amd64
Java 13.0.1

- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists **(No. I could not. See other issue)**

In dark theme, the window asking to restart JabRef remains in light mode.

Steps to reproduce the behavior:
1. Set JabRef to dark theme
2. In Preferenc

[2019-12-02 14:40] mlep opened #5700 "Cannot update JabRef using .deb from master (Linux)"
JabRef 5.0.1-dev--2019-11-29----9043f8008
Linux 4.9.0-11-amd64 amd64
Java 13.0.1

After installing the above version using the .deb package (from https://builds.jabref.org/release-5-0-beta/), I wanted to test the last development version (from http://builds.jabref.org/master/).

The package updater could not install it because "A more recent version is already installed".

[2019-12-02 14:45] mlep opened #5701 "Untranslated strings"
JabRef 5.0.1-dev--2019-11-29----9043f8008
Linux 4.9.0-11-amd64 amd64
Java 13.0.1

Strings that are not translated in the GUI of JabRef:
- In the group panel: the field to search a string within the groups displays "Filter groups". "Filter groups" is not translated.
- In preferences: BibTeX key generator: key patterns: The header of the table (Name, Key pattern, Reset all) are not translated.

[2019-12-02 15:09] Siedlerchr commented on #5700
Hi,

thanks for reporting.
The beta is not yet ready to be released (the PR ist not yet merged), there are still some minor things in the deployment workflow we need to adapt regarding the version number. As the beta PR is not merged, the master has a lower version number than the beta.
Refs #5684  Once it's merged it should be working fine again.

[2019-12-02 15:09] #5700 closed

[2019-12-02 16:46] wujastyk commented on #4877
JabRef 5.0.0-dev--2019-12-02----9d620f18d
Linux 5.3.0-23-generic amd64
Java 13.0.1

Still there for me, unfortunately.

[2019-12-02 16:49] bernhard-kleine commented on #4877
My claim that the error is gone, was wrong: In the dark scheme it was not obvious, but is still there.

[2019-12-02 16:56] tobiasdiez commented on #4877
So let's be systematic about it (most of us are scientist, so why not try to actually apply what we teach students ;-) ). As this will involve a bit of playing around with your file, please make sure to make a backup before.

1. Can you always replicate the bug with your database?
2. With the minimal example above?
3. On which OS? Linux or Windows? Or both?
4. Does it matter where the database is

[2019-12-02 17:01] bernhard-kleine commented on #4877
I copied one entry of my library into a fresh library. I saved it as test.bib. I added a date and saved it again. The error appeared.
This is really a minimal example.
JabRef 5.0.0-dev--2019-11-28----ce0e8870c
Windows 7 6.1 amd64
Java 13.0.1

[2019-12-02 17:09] tobiasdiez commented on #4877
@bernhard-kleine can you please answer my questions above? None of the core developers can reproduce the problem, which makes this issue particularly difficult to fix (its like finding a needle in a haystack, but without looking). We want to fix it, but we really need your help for this!

[2019-12-02 17:42] bernhard-kleine commented on #4877
1. no
2. no
3. on win7
4. when I save the minimal file to another dir, it works without error. Upon resaving, the error reappears.
5. no see 4)
6. no
7. I added a group, the error was gone, it is a chamaeleon,
8. see screenshot.
9. I changed the timestamp in the editor. Jabref informs about the change but does not pinpoint it in the dialog box
![grafik](https://user-images.githubusercontent.com/92

[2019-12-02 18:01] tobiasdiez commented on #4877
Thanks! How does the dialog look like when the bug occurs? Does it also says added and removed entry, both being empty?

[2019-12-02 18:02] reox commented on #4877
scarifice my .bib for the science :D

yes. Both on CentOS and Debian. Pressing Ctrl+S triggers it. Also pressing like Alt+F8 triggers it. (Did not test others, but I'm pretty sure other actions do this as well)

No, the empty database does nothing.

I only have CentOS and Debian machines here :(

Currently the library is saved on a ext4 with the following options: `rw,noatime,nodiratime,discard`

[2019-12-02 18:12] bernhard-kleine commented on #4877
@tobiasdiez I have never seen any data in this dialog box.

[2019-12-02 18:44] CarodePourtales commented on #550
Thanks a lot, that would you like as a  "lookup" because so far I am using entry.toString().

![Capture d’écran 2019-12-02 à 19 43 03](https://user-images.githubusercontent.com/49019500/69985702-0e475b80-153c-11ea-819e-8715a25f2584.png)
![Capture d’écran 2019-12-02 à 19 43 26](https://user-images.githubusercontent.com/49019500/69985703-0e475b80-153c-11ea-9bd7-6e17070db4e6.png)

[2019-12-02 19:38] koppor commented on #550
Thank you for providing screenshots!

The identifier should be guessed. Meaning: The ISBN, the DOI, ... classes should be asked whether they can parse the identifier. If yes, the identifier type is found. That should happen directly after pasting. The belonging (fetched!) entry can be displayed inline in the same dialog.

There should be no separate dialog showing the fetched result. The fetched r

[2019-12-02 21:09] tobiasdiez commented on #550
I agree with @koppor. Please have a look at https://github.com/JabRef/jabref/issues/550#issuecomment-397175552 for how it should like (approximately).
For the display of the entry, it is probably worthwhile to reuse (reuse, not copy!) the following code:
https://github.com/JabRef/jabref/blob/9d620f18dc3574c814e4f02c78184d208b28d91d/src/main/java/org/jabref/gui/importer/ImportEntriesDialog.java#L13

[2019-12-03 00:11] github-actions[bot] opened #5703 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2019-12-03 06:49] reox commented on #4877
I also tested this now on the CentOS machine and can replicate the behaviour there as well:

* When I start up JabRef, it shows me the readstatus/priority changes, if I accept them, there are no further messages when manually saving
* But if I restart JabRef, it will complain about the same entries again.
* Or I can get rid of this message for ever by disabling the keyword sync
* If I start a clea

[2019-12-03 08:01] tobiasdiez commented on #4877
Perfect, I think I know now the reason for this bug. Fix should be coming in the next few days!

[2019-12-03 10:59] HarryPommier opened #5704 "Very small display with high DPI screen on linux"
Hi,

JabRef appears really small (text, menus, icons...) on 4K, high dpi screen on linux Mint 18 with Cinammon.

To fix this, I changed my /usr/lib/java-wrappers/java-wrappers.sh, line 305
exec $JAVA_CMD $JAVA_ARGS $cp "$@"
by
exec $JAVA_CMD $JAVA_ARGS $cp -Dsun.java2d.uiScale=2 "$@"

It works well for me, but might not be very clean.
Could someone generalize this idea ?

Thanks.

[2019-12-03 12:48] Siedlerchr commented on #5622
Git subtrees fixed the thing with the missing resources. Now I get the following error in the portable version of JabRef with loading the csl:
[code]

[2019-12-03 13:08] tsmithe opened #5707 "SSL exception using arXiv importer"
JabRef 5.0.0-dev--2019-12-02----9d620f18d (installed using the nightly deb file)
Linux 5.3.0-2-amd64 amd64  (Debian testing)
Java 13.0.1

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I have observed this bug across JabRef and JRE versions, with JREs provided by both Oracle and Bell Soft. I am reporting the bug as observed with J

[2019-12-03 13:29] Siedlerchr commented on #5707
Hi,
thanks for your report. I recently encountered this as well and it seems it's a temporary problem of the arxiv site. I just tried again with the current master and it's fine for me at the moment.

So I would say try again later.

[2019-12-03 13:33] tsmithe commented on #5707
Yes, odd, it just worked again for me. But it also seemed much more prevalent with JabRef 4.3, but perhaps that was illusory. And why don't I get an SSL error if I browse to https://export.arxiv.org in Firefox?..

[2019-12-03 13:36] Siedlerchr commented on #5707
Hm. I really believe it was a "hickup" or a short outage. Browsing the site in Firefox it's fine again.

[2019-12-03 13:45] tsmithe commented on #5707
Occurring again just now ...

[2019-12-03 20:07] bernhard-kleine opened #5708 "Cutting some of the bibtexkey raises error: Bale13 -> Bal13"
JabRef 5.0.0-dev--2019-11-28----ce0e8870c
Windows 7 6.1 amd64
Java 13.0.1

- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. I imported an entry via zotero (since jabfox doesnot work
2. the resulting bibtexkey has been e.g. Bale13 or Heinrich87
3. These I reduce to Bal13 or Hei87.
4. Immediately an

[2019-12-04 07:39] Siedlerchr commented on #5708
Cannot reproduce this under Windows 10

[2019-12-04 08:29] LucasB98 commented on #5284
We noticed that in crossref field, you can enter your own bibtexkey in crossef.
An exemple: if I create an entry in a library with John as Author and John2019 as bibtexkey, I noticed we can put John2019 as crossref. But i think that's not normal. What do you think about it ?

[2019-12-04 11:34] tobiasdiez commented on #5284
That's a good observation. I think, we shouldn't prevent people from entering the same key (maybe he wants to change the key immediately after), but there should indeed be a warning (realized using an integrity check).

[2019-12-04 11:36] tobiasdiez commented on #5708
I also had this. It's not restricted to the bibtex key and also occurs for other fields.

[2019-12-04 11:43] #5399 closed

[2019-12-04 11:43] #5657 closed

[2019-12-04 11:44] tobiasdiez commented on #5399
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-12-04 11:44] tobiasdiez commented on #5657
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-12-04 14:16] AEgit commented on #5657
@tobiasdiez There are currently two .msi installers on the Master website. They were uploaded at different times and one of them appears to have a size of 0 Bytes. Which one is the correct one to download?

[2019-12-04 15:43] GuillaumeD-IMTA commented on #550
@CarodePourtales how is it going? Do you need help ?

[2019-12-04 16:23] awa5114 commented on #4948
is it possible to deactivate the autolink behavior altogether?

[2019-12-04 17:35] CloudFenrir commented on #5701
Hello, I will take this bug if no one else is doing it

[2019-12-04 17:38] CloudFenrir commented on #5701
Hello, I will take this bug if no one else is doing it

[2019-12-04 18:33] Andlon commented on #4423
I also have the same problem., JabRef 4.3.1 on Debian 10. However, I respectfully disagree with your conclusion here: I think it would be appropriate for JabRef to return an error, instead of just closing the window without warning. The user experience right now is a little frustrating, because there's no error and also nothing in the Event Log.

[2019-12-04 18:50] tobiasdiez commented on #5657
Thanks. There was a problem with the upload. I retriggered the script, there should be working version in about 30 min. https://builds.jabref.org/master/JabRef-5.0.msi

@koppor could you please cleanup the build/master folder? Thanks!

[2019-12-04 21:43] bernhard-kleine commented on #5399
@tobiasdiez The closing was premature. In the master dir there is still the file jabref-5.0.0.msi which is named as all the files before. No number to make it unique. And the other points about overinstalling are not yet tackled.

[2019-12-05 09:29] AEgit commented on #5657
@tobiasdiez All master builds have now disappeared, i. e. there is no build at all at the moment, that can be downloaded. Are you aware of this, i. e. is something being uploaded at the moment and just not visible or is there a problem?

[2019-12-05 09:42] Siedlerchr commented on #5657
I am triggering a new build now. Will take 30minutes or so.

[2019-12-05 10:32] AEgit commented on #5657
@Siedlerchr Thank you very much!

JabRef 5.0-alpha--2019-12-04--5dcb565
Windows 10 10.0 amd64
Java 13.0.1

I can confirm that this issue has been fixed in the current dev version. Thanks to everyone involved!

[2019-12-05 10:37] AEgit commented on #5698
I also do not see any problems with the current scheme. If you really wanted to change something, then maybe, as @mlep suggested, replace the word "Library" with "File" in the File menu, but to be honest, I don't think even that is necessary (it might actually cause more confusion).

[2019-12-05 10:47] tobiasdiez commented on #5399
We had some problems with our build server. Should be fixed now.

[2019-12-05 10:53] bernhard-kleine commented on #5657
confirmed! Thanks a lot!

[2019-12-05 15:27] AEgit commented on #4909
Could this be one of the reasons behind the performance problems reported here:
https://github.com/JabRef/jabref/issues/5071#issuecomment-554769666
?

[2019-12-05 15:30] AEgit commented on #4909
See also:
https://github.com/JabRef/jabref/pull/5680

[2019-12-05 17:10] melTr opened #5713 "Remembering sorting of maintable"
Hi,
Using JabRef 5.0-alpha--2019-12-04--5dcb565 (but was present in earlier version).
In 4.* version, maintable was always sorted by date (my choice). However in 5.*, each time I restarted the program, the sorting returned to default alphabetical order of author.
Thanks
Mélanie

[2019-12-05 18:44] Siedlerchr commented on #5713
Hi,
thanks for your report. This is a known issue. We had it once activated in 5.x. but the approach was killing the performance so we had to disable it. We are investigating other solutions for this problem.

Duplicate  of #4224

[2019-12-05 18:44] #5713 closed

[2019-12-05 22:39] ddunig2 commented on #4688
Is this issue taken? If not may I tackle it?

[2019-12-06 05:15] koppor commented on #4719
The dialog shows like that:

![grafik](https://user-images.githubusercontent.com/1366654/70297735-7e313c80-17ef-11ea-9b42-4ce2e0947f50.png)

When working on that, https://github.com/JabRef/jabref/issues/725 should also be addressed

[2019-12-06 12:29] #5643 closed

[2019-12-06 21:15] tobiasdiez commented on #5622
Everything works if you run from code (Intellj). However, when using the installer I still have an empty list of citation styles in the preference dialog.

[2019-12-06 21:49] Siedlerchr commented on #5622
When you run from installer or portable the exception above is logged on the console window behind JabRef.
From my point of view this looks like a modularity issue. Maybe some module access stuff

[2019-12-07 09:47] tobiasdiez commented on #5622
@michel-kraemer can you please have a look at this, as this seems to be a problem with citeproc 2.0. Thanks!

[2019-12-07 09:50] #5679 closed

[2019-12-07 09:54] tobiasdiez commented on #5645
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-12-07 11:52] bernhard-kleine commented on #5645
I installed this version:
JabRef 5.0-alpha--2019-12-07--d0f6c2b
Windows 7 6.1 amd64
Java 13.0.1

and jabref gets still stuck with the import dialog. The problems is not solved!!!

[2019-12-07 13:10] tobiasdiez commented on #5537
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-12-07 13:12] tobiasdiez commented on #5645
Does it only applies to the above id, or to every ID / query you try?

I tried it and it worked for me. Moreover, we have automatic tests in place which also pass. Thus I guess there is a problem with your connection or something like that.

[2019-12-07 13:16] Siedlerchr commented on #5645
Running from source code works, it takes approx 5 mins and then it's there, but running the installer I have the same effect.

[2019-12-07 14:02] bernhard-kleine commented on #5645
Whis was with an different ID

[2019-12-07 14:13] bernhard-kleine commented on #5645
@Siedlerchr  5mins is still much to long.

[2019-12-07 14:25] bernhard-kleine commented on #5645
BTW I have in the meantime fetched a couple of entries via Zotero and that worked flawlessly. I.e, my internet connection is working very well.

[2019-12-08 11:23] nathanlesage opened #5719 "Add options for remotely controlling/accessing JabRef (Command-Line or x-callbacks)"
Hey, as discussed on Twitter, over at Zettlr we're currently thinking about ways to interact between the app and several reference managers. Everytime you write something, it might happen that you want to change something in a specific citation or just want to open the linked PDF-File. In this case, it would be great to have a small interface to tell reference managers "Hey, please jump to that en

[2019-12-08 13:50] CarodePourtales commented on #4183
Hello, I was wondering what a crossref id looks like, because I am using Regex to know what IDBasedFetcher I should use to parse the ID the user enters but I don't know what the user should enter to use a Crossref fetcher.
Thanks

[2019-12-08 15:34] CarodePourtales commented on #4183
It looks like that : for Doi, diva and many other fetchers it works because the pattern is very particular and I can use REGEX, but I don't understand Crossref
![Capture d’écran 2019-12-08 à 16 32 43](https://user-images.githubusercontent.com/49019500/70391709-6bc62700-19d8-11ea-83c6-2a0e21539e1e.png)

[2019-12-08 15:35] CarodePourtales commented on #4183
I will of course change the look of the string showed but it is just a prototype for the moment

[2019-12-08 17:45] matthiasgeiger commented on #4183
👍

Crossref is a fetcher for DOI data (see https://search.crossref.org/)

[2019-12-08 19:17] tobiasdiez commented on #5719
That should be relatively straightforward to implement: https://stackoverflow.com/questions/26363573/registering-and-using-a-custom-java-net-url-protocol

Do you also have the database name, or just the citation key?

Side remark/question: As you may know some reference manager include knowledge management and note taking to some extend. This is still one of JabRef's weaknesses. Do you think it wo

[2019-12-08 21:50] nathanlesage commented on #5719
Sounds good! I am not sure what options one might end up needing — therefore I'd design the API to be extendable. I haven't yet made so much experience using JabRef (albeit I will be implementing it in a project I'm working on currently, because having one bibTex file is much better for working in a team than Zotero's internal database!) So concerning database name — I don't know how often one mig

[2019-12-09 00:27] ddunig2 commented on #5479
May I take take this issue?

[2019-12-09 07:16] reox commented on #4654
I would love such a feature! Also a nice addition would be to search in all attached files.

For now, I use pdfgrep if I need to search something. You can make use of xargs to spawn multiple instances to search faster (if your hardware allows it):
[code]
Unfortunately, pdfgrep seems not be capable of grepping in annotations only.

[2019-12-09 08:01] LyzardKing commented on #5537
I tried the latest build from master and it behaves the same, opening a new blank window.
This time it doesn't add the reference to the new blank window, but neither to the original window..
So I'm left with the original unchanged bib window, and a blank one, with no tab open.

[2019-12-09 09:06] Vencesdab commented on #5284
About the warning you propose, should it be made a new issue ?

[2019-12-09 09:52] Vencesdab commented on #5701
Actually, there are other untranslated things in the Preferences that I found out :
- In Entry table columns, Columns and the list under it are not translated.
- In Entry preview, the first (and only) box to check ("Show preview as tab in entry editor") is untranslated
- In Entry editor, the 5th box "Show 'LaTeX Citations' tab" is untranslated.
- In Entry editor, Autocompletion, the name of this p

[2019-12-09 10:00] CloudFenrir commented on #5651
Hello, I want to help but how can I get to that option? Which are the steps to deploy the error?

[2019-12-09 10:19] mlep commented on #5701
Thank you @Vencesdab for looking at this issue.

There are two reasons strings may appear untranslated in the GUI:
- programming does not allow for translation.
- translation is not provided in language XYZ.

My issue concerned only the first case (but I did not mention it. My mistake).

Except for the case "In Entry table columns, Columns and the list under it are not translated.", the strings yo

[2019-12-09 11:40] tobiasdiez commented on #5284
I think it would be best to directly implement it as part of your PR, if that is possible.

[2019-12-09 11:41] tobiasdiez commented on #5537
Do you start with having an instance of JabRef open?

[2019-12-09 12:31] LyzardKing commented on #5537
Yes, i have the open instance with my bibliography file active

[2019-12-09 16:11] Siedlerchr commented on #5479
@ddunig2  Sure, go ahead!  Read the [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and for questions ask here or in our gitter chat

[2019-12-09 18:29] webanck commented on #4199
I have the same bug with release version 4.3.1:
[code]

[2019-12-09 20:43] #5603 closed

[2019-12-09 20:44] tobiasdiez commented on #5603
Thanks to @Ka0o0 the rename should work now in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-12-09 20:44] tobiasdiez commented on #4199
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2019-12-09 20:46] tobiasdiez commented on #5537
ok, than this is another bug. What I fixed was that starting a new instance with the cmd option works as expected.

[2019-12-09 23:06] LyzardKing commented on #5537
So with this fix it should work if I don't have an instance open already?

[2019-12-10 00:11] github-actions[bot] opened #5728 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2019-12-10 00:30] CloudFenrir commented on #5675
Hello, I'll work on this issue, it seems no else is doing it.

[2019-12-10 10:33] LucasB98 commented on #5284
We searched a way to compare the crossref field to the bibtexkey of the current entry. Do you know in which file this can be done?
We found the class BidirectionalListBinding that seems to be related to this task. But we are not quite sure, and it's really far in terms of function calls from EntryLinkList.
Can you help us please :)

[2019-12-10 10:45] Siedlerchr commented on #5284
What Tobias means is you should use the integrity checker logic (Quality-> Check integrity)
The integrity check is located under org.jabref.logic.integrity .Take a look at the FieldChecker implementations. Both Crossref (Standard field) and the Key field (internal fields) fields of the class BibEntry.
The ListBIndings are only for the gui to provide helper functions for dealing with javafx

[2019-12-10 15:21] tb77phd commented on #5413
Sorry, haven't had a chance to test with a different computer. I did, however, install the 5.0.0 again on my work computer and the issue is the same: I specified a folded I wanted it in, but it installed into the default. This could be related to my 4.3.1 not being in default C:\Program Files\JabRef folder.