[2020-08-31 13:30] serialc commented on #6818
Thanks @mlep. I had three files open, now with two files it no longer happens.
I've added that to the OP. I think you're right that it's likely the same issue as #6690.

[2020-08-31 13:37] mlep commented on #6690
Note: the 3 users reporting column shrinkage are using Linux

[2020-08-31 14:56] #5790 closed

[2020-08-31 14:58] Siedlerchr commented on #6821
@profiack  Can you plasee give an example? Do you get an error message?

[2020-08-31 15:17] #6293 closed

[2020-08-31 17:39] Holzhauer commented on #6819
Yes, autocomplete is enabled, but it does not seem to have any effect on content selectors. I noticed that content selection works for native fields (e.g. Keywords), but not for custom ones. For customs ones, the "Manage content selectors"-dialog shows "UnknownFiled{name='topic'}, e.g. When I try to add a new content selector with the proper name ("topic") it says "Field name "Topic" already exist

[2020-08-31 18:18] Ed-Roumen opened #6824 "Performance issue in Jabref5.1 using "search" function to find specific records"
JabRef version

 JabRef-5.1.msi

I just installed the new Jabref5.1 to see how it works with my literature.bib database that is about 29,900 Kb in size.
The database loads and shows pretty fast, a major improvement on some earlier 5.1 development versions :-)
However, when I try search on authors, the program seems to enter in a "never-ending loop" and becomes non-responsive whilst at the same con

[2020-08-31 19:34] Siedlerchr commented on #6293
This issue should now  be finally fixed in the new master.
https://builds.jabref.org/master/

[2020-08-31 19:49] Siedlerchr commented on #6636
I can reproduce the same behaviour as under Windows. Typing unlauts etc is no problem on mac.
Searching for the latex encoded umlaut/stirng does not really make sense

[2020-08-31 19:49] #6636 closed

[2020-08-31 19:52] Siedlerchr commented on #6622
Is this still a problem?

[2020-08-31 20:05] Siedlerchr commented on #6698
Hm. Have you changed some fie directory settings? Normally JabRef should store the files as relative links.

[2020-08-31 20:08] Siedlerchr commented on #6623
Thank you for reporting this issue. We think, that is already fixed in our current release version!

[2020-08-31 20:08] #6623 closed

[2020-08-31 20:12] Siedlerchr commented on #6474
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2020-08-31 20:12] #6474 closed

[2020-08-31 20:12] #6378 closed

[2020-08-31 20:13] Siedlerchr commented on #6354
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-08-31 20:13] #6354 closed

[2020-08-31 20:13] Siedlerchr commented on #6317
Is this still an issue in the current release version 5.1?

[2020-08-31 21:05] mlep opened #6827 "Wiki: translation from Crowdin: redirection needed"
In the wiki table of content (https://github.com/JabRef/jabref/wiki), clicking on `Development --> Integrating new translations from Crowdin` should redirect to https://docs.jabref.org/faqcontributing/how-to-translate-the-ui instead of displaying its own (old) instructions (https://github.com/JabRef/jabref/wiki/Integrating-new-translations-from-Crowdin).

[2020-08-31 21:24] Siedlerchr commented on #6827
Thanks, it works!

[2020-08-31 21:25] #6827 closed

[2020-08-31 22:03] Siedlerchr commented on #6317
@calixtus  Maybe you have an idea?

[2020-09-01 07:53] ilippert commented on #6622
Will take some days until I can check. Thanks for asking!

On 31 August 2020 21:52:48 CEST, Christoph <notifications@github.com> wrote:

--
Sent from my LineageOS device with K-9 Mail. Please excuse my brevity.

[2020-09-01 07:59] DaniloMurer commented on #6622
Hello, yes the issue does still persist and I'm not sure if I've got enough free time to fix this issue.

Regards

[2020-09-01 08:39] mr-j-s commented on #6317
For me seems to be still a bit blurry (checked in v. 5.2)

![image](https://user-images.githubusercontent.com/18900780/91827420-1ead7380-ec3f-11ea-950f-317eac4b50f4.png)

[2020-09-01 10:36] #6039 closed

[2020-09-01 10:54] #6705 closed

[2020-09-01 12:12] mlep commented on #6705
I can confirm this is fixed. @hemantgs: thank you!

[2020-09-01 12:17] #6109 closed

[2020-09-01 12:19] calixtus commented on #6317
Tested it with my linux machine at 100% screen scaling and it's crisp like a fresh cookie.
It's probably a bug about screen scaling and JavaFX.
Although this is a bit annoying, but no critical bug and doesn't make JabRef unusable, I'll put this in line for future fixing efforts, as soon as the high-priority bugs are fixed. Please understand that our resources are limited, since we are working on J

[2020-09-01 12:59] #6317 closed

[2020-09-01 13:40] systemoperator commented on #6317
For your information: In my case, it's still blurry with the current master build in the very same situations as described above.

[2020-09-01 14:16] tobiasdiez commented on #6390
Thanks for your kind words!

[2020-09-01 14:16] #6390 closed

[2020-09-01 15:10] Doc73 opened #6830 "Field width too small"
JabRef version 5.1--2020-08-30--e023aa0 on Debian GNU/Linux 10 Buster

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Start JabRef
2. Select a bibitem
3. Select a tab, for ex. "Optional fields"
4. Look at the width of fields (I attach a screenshot)

![jabref](https://user-images.g

[2020-09-01 15:13] Siedlerchr commented on #6830
You can change the setting of the preview to be a separate tab. You can also resize the pane in the middle

[2020-09-01 15:20] Doc73 commented on #6830
@Siedlerchr
If I resize the panel in the center, only the fields on the left enlarge. The only solution, it seems, is to set the preview on a separate tab, but it is not very elegant

[2020-09-01 15:21] tobiasdiez commented on #6582
Thanks to @gdstewart this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-09-01 15:21] #6582 closed

[2020-09-01 15:25] tobiasdiez commented on #6501
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-09-01 15:25] #6501 closed

[2020-09-01 15:43] tilltnet commented on #6501
Yes, it works smooth now! Thanks for the fix!

[2020-09-01 15:49] calixtus commented on #6317
Thanks, yes, I took a quick look at stackoverflow: https://stackoverflow.com/questions/23728517/blurred-text-in-javafx-textarea
Maybe it's related to scrollpanes and screen scaling.
If you like, you are always free to take a shot on fixing it, but it's hard for us to work on this issue, since we were not able to reproduce this issue on our machines.

[2020-09-01 15:58] Siedlerchr commented on #6830
And I noticed this issue has already been reported before. Duplicate of #6097

[2020-09-01 15:58] #6830 closed

[2020-09-01 15:59] koppor commented on #5160
@DrFelder Could you please re-check with v5.1? We worked on the customize entry functionality there!

[2020-09-01 15:59] #6568 closed

[2020-09-01 16:03] Siedlerchr commented on #5555
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-09-01 16:03] #5555 closed

[2020-09-01 16:22] andlaus opened #6831 "add an INSTALL.md file for the build instructions"
**Problem**

When trying to build jabref for the first time, my first shot `gradle build` failed after doing random stuff for quite a while.

**Solution**

Adding a simple `INSTALL.md` file which explains that one needs to use Java 14 and call the `./gradlew` script should do the trick. Build instructions for Windows and MacOS would be a nice bonus, as would be if `gradle build` bailed out with a

[2020-09-01 16:26] koppor commented on #4096
For the student project: Implement the search popup, where the ALL opened libraries are searched for papers. Start an old JabRef version (3.8.1 or so) using JRE8 to see the functionality.

[2020-09-01 16:41] koppor commented on #6831
I think, a link from INSTALL.md to https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is enough 😇

[2020-09-01 16:43] andlaus commented on #6831
I also got a build error:

[code]

[2020-09-01 17:51] tobiasdiez commented on #6663
Thanks to you :-) this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-09-01 17:51] #6663 closed

[2020-09-01 17:54] Siedlerchr commented on #6831
@tobiasdiez any idea why thse jakarty activaiton thing fails?

[2020-09-01 18:04] bernhard-kleine opened #6832 "Medline import not functional!"
JabRef 5.2--2020-09-01--35f5078
Windows 10 10.0 amd64
Java 14.0.2

- [+] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. I tried to add PMID 8040303 from within jabref.
2. the Medline/pubmed windows is opened and I get stuck with this window:
![grafik](https://user-images.githubuserconte

[2020-09-01 18:28] DominikVoigt opened #6834 "New DOI icon is confusing and inconsistent"
The new icon used for DOIs is confusing since the chain icon is crossed out.
Furthermore, the DOI icon in the entries is inconsistent with the DOI icon in the header.

Suggestion: Either revert the icon back or use a normal chain icon.
Furthermore, make the DOI icon used in the header and entries consistent.

![image](https://user-images.githubusercontent.com/43381984/91891570-8ee4e500-ec91-11ea-9

[2020-09-01 18:28] koppor commented on #3953
The discussion seems to be that there are users having bib files in sub directories. Maybe some paper work. The thing is we should try not to contradict possible workflows.

Refs https://github.com/JabRef/jabref/issues/160

I like the solution outlined at https://github.com/JabRef/jabref/issues/3953#issuecomment-381691097

[2020-09-01 21:55] koppor commented on #4257
In other words: The [setup of the entry preview](https://docs.jabref.org/setup/preview) should enable to show PDF comments.

Somehow refs https://github.com/koppor/jabref/issues/392

[2020-09-01 22:05] koppor commented on #6187
Internally, JabRef stores this information by the field "`cites`". See https://docs.jabref.org/advanced/entryeditor/entrylinks for details.

[2020-09-01 22:19] djwoodhouse opened #6837 "IEEE Seach not working"
I get the following error
org.jabref.logic.importer.FetcherException: A network error occurred while fetching from https://ieeexploreapi.ieee.org/api/v1/search/articles?apikey=s6kcbenkaxdu55c8k8983pw9&querytext=earthing
	at org.jabref@5.1.60000/org.jabref.logic.importer.SearchBasedParserFetcher.getBibEntries(Unknown Source)
	at org.jabref@5.1.60000/org.jabref.logic.importer.SearchBasedParserFetche

[2020-09-01 22:28] ilippert commented on #6559
JabRef 5.2--2020-09-01--35f5078
Linux 5.8.4-200.fc32.x86_64 amd64
Java 14.0.2

as recommended by @vsht, I now use `bellsoft-java14`. My immediate observation is this: CPU load is ok. However, I still cannot close jabref. Process continues to run.

[2020-09-01 22:32] ilippert commented on #6622
JabRef 5.2--2020-09-01--35f5078
Linux 5.8.4-200.fc32.x86_64 amd64
Java 14.0.2

problem persists.

[2020-09-01 22:33] #6140 closed

[2020-09-01 22:34] ilippert commented on #6354
thanks, yes, problem is solved.
JabRef 5.2--2020-09-01--35f5078
Linux 5.8.4-200.fc32.x86_64 amd64
Java 14.0.2

[2020-09-01 23:58] koppor commented on #6187
Related work: "showme". Details at https://github.com/koppor/jabref/issues/413.

[2020-09-02 00:05] #6560 closed

[2020-09-02 00:05] tobiasdiez commented on #6560
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-09-02 07:03] Jayanth-kumar5566 commented on #5867
same issue with i3wm

[2020-09-02 09:14] koppor commented on #6742
We have primary and secondary behavior

Current behavior:

* button
  * primary: link
* drag'n'drop
  * primary: move and rename
  * secondary (pressing <kbd>Shift</kbd>): link

Behavior choices

* link
* copy
  * copy and rename
  * copy and keep original name
* move
  * move and rename
  * move and keep original name

Options:

- [ ] change behavior of button
- [ ] Second button
- [ ] Secondary

[2020-09-02 10:03] koppor commented on #6621
Decision:

- For JabRef 5.2, we change the default to "not sync".
- We will offer a migration from keywords to special fields

@StephanJohn May I ask how you configured JabRef?

[2020-09-02 10:03] #6621 closed

[2020-09-02 10:07] koppor opened #6840 "Offer migration from special fields in keywords to special fields as fields"
Refs https://github.com/JabRef/jabref/issues/6621

[2020-09-02 10:21] StephanJohn commented on #6621
@koppor: I hadn't been aware of the "sync keywords to special fields" option, so this had been set to "enabled" by default.

[2020-09-02 10:21] Siedlerchr opened #6841 "Module error in chipview in entry editor"
When running from Eclipse
Introduced in #6228

java.lang.IllegalAccessError: class com.jfoenix.controls.JFXAutoCompletePopup (in module com.jfoenix) cannot access class com.sun.javafx.stage.PopupWindowHelper (in module javafx.graphics) because module javafx.graphics does not export com.sun.javafx.stage to module com.jfoenix

JabRef version  on

- [x] **Mandatory**: I have tested the latest develop

[2020-09-02 10:27] Siedlerchr commented on #6832
May have been a temporary issue. Works fine for me.
Please  be aware that the current development version is currently under heavy development.

[2020-09-02 10:43] Siedlerchr commented on #6559
I think we finally found the issue for the problem with the shutdown. The fix just got merged, so it would be nice if you could test  the new version in a few hours.

[2020-09-02 10:51] vsht commented on #6559
In my case

JabRef 5.1--2020-08-28--5540b93
Linux 5.8.4-200.fc32.x86_64 amd64
Java 14.0.2

JabRef already shut downs properly. My only issue was the CPU load and that one got fixed by installing
that other JVM.

[2020-09-02 11:12] koppor commented on #4686
This is a minimal change. We think of doing some more UI chainging change.

[2020-09-02 11:12] #4686 closed

[2020-09-02 11:40] #6697 closed

[2020-09-02 11:50] szhorvat opened #6843 "Shortcut to paste BibTeX source no longer works in version 5.1 (macOS)"
JabRef 5.1--2020-08-30--e023aa0
Mac OS X 10.14.6 x86_64
Java 15

Steps to reproduce the behavior:
1. Go to the BibTeX tab source of an entry
2. Delete all text and ensure that the input cursor is in the box where the BibTeX source goes
3. Copy some text to the clipboard and press Command-V

Expected: The text should be pasted.

Actual: Nothing happens.

Note: Right click, Paste does work.

This pr

[2020-09-02 11:53] szhorvat opened #6844 "Some input fields are unusably narrow (macOS)"
JabRef 5.1--2020-08-30--e023aa0
Mac OS X 10.14.6 x86_64
Java 15

Some of the fields to enter optional BibTeX fields are unusably narrow unless JabRef's window is made very wide. Here's a screenshot:

<img width="1067" alt="image" src="https://user-images.githubusercontent.com/1212871/91977801-7a512d00-ed23-11ea-8cef-9ed0c0c0a07a.png">

I do not recall seeing this problem in 5.0. I assume it is new

[2020-09-02 11:54] Siedlerchr commented on #6843
@szhorvat  you can directly paste the code on the maintable.
And this issue should also be fixed in the current development version

[2020-09-02 11:56] Siedlerchr commented on #6844
Duplicate of #6097
You can also change the entry preview setting to have it as an extra tab.

[2020-09-02 11:56] #6844 closed

[2020-09-02 12:09] szhorvat commented on #6843
Is there a plan for a 5.1.1 release? 5.1 seems to have broken a few things that I use, and is overall a step down from 5.0 for my specific use cases ... (I'm sure it fixed many things that affected others...)

[2020-09-02 12:19] Santrace commented on #6698
I had the same problem, without changing a file directory setting.

It was fixed just by adding the "main file directory" adress, in "Options" ; "Preferences" ; "File".
Now, I can open an article from this file or another.

Thank's for the help,  @Siedlerchr .

[2020-09-02 12:21] #6698 closed

[2020-09-02 14:48] tb77phd commented on #4342
An update to this two years old issue;

I have recently come back to JabRef and this issue still persisted in 5.1. Since I had over a 1000 files that were unlinked, I decided to revert to an old version to try things.

Recap of issue: I use the Regular Expression `**/.*[title].*\\.[extension]` to link files. In the versions since September 2018, JabRef could not find files that contained non-alpha

[2020-09-02 17:25] Siedlerchr commented on #6843
@szhorvat We are sorry for that. We are planning the next release to be sooner. Pleas keep in mind that we are all working in our free time at this project and don't get paid for it.

I'm a mac user as well and can therefore tell you that the issue with the copy paste is already fixed in the current development version. https://builds.jabref.org/master/
It was one of the first things we fixed afte

[2020-09-02 17:25] #6843 closed

[2020-09-02 18:12] mlep commented on #6490
Other suggestions:
- only one button is needed for Select all and Unselect all
- only one button is needed for Expand all and Collapse all

[2020-09-02 18:15] mlep commented on #4525
JabRef 5.2--2020-09-02--5c9edc9
Linux 4.9.0-13-amd64 amd64
Java 14.0.2

Working for me.
Fixed by PR #6567 ?

[2020-09-02 18:25] mlep opened #6848 "Search for unlinked local files: "collapse all" button expands tree"
JabRef 5.2--2020-09-02--5c9edc9
Linux 4.9.0-13-amd64 amd64
Java 14.0.2

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In the window "Search for unlinked local files", after scanning the directory, a click on "Collapse all" does not collapse the tree. But this button can be used to expand the tree.

Steps to reprodu

[2020-09-02 18:51] #6532 closed

[2020-09-02 19:23] mlep opened #6851 "Drag & drop of PDF: not on empty library"
JabRef 5.2--2020-09-02--5c9edc9
Linux 4.9.0-13-amd64 amd64
Java 14.0.2

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Drag & drop of a PDF file (to create a new entry) does not work if the library file has no entry.

Steps to reproduce the behavior:
1. Menu File --> New library (the table entry space displays "No c

[2020-09-02 20:25] #6841 closed

[2020-09-02 21:10] koppor commented on #6834
Since this is an external link, the icon should be the normal link icon - not crossed out

[2020-09-02 21:26] Siedlerchr commented on #6615
The equal sign is illegal in the key. Therefore JabRef is right that the entry is invalid.

[2020-09-02 21:26] #6615 closed

[2020-09-02 21:40] koppor opened #6855 "On start, JabRef should show the main table only (and no entry editor)"
As user, when starting JabRef, I want to get an overview on all my references. All entries are equally important at first. Thus, when starting JabRef, the entry editor should not be opened.

We accept that the rendered view of the selected entry won't shown any more.

[2020-09-02 21:49] fabiojavamarcos commented on #6834
It seems the chain is crossed out when there is no information from the URL or the DOI. When the information is available, the chain is a regular one (not crossed out). Finally, when both are missing, no icon is shown. Is this behavior correct?

[2020-09-02 22:05] mlep commented on #6834
In JabRef 5.2:
- the chain is crossed out when there is only one link identifier.
- the chain is not crossed out when there are several link identifier.
- no symbol when there is no link identifier

To me it looks fine, except for the crossed out chain: I do not understand the rationale.

[2020-09-02 22:09] koppor commented on #6834
Crossed out is crossed out. Thus, interpretation as "one" is strange.

Can we create a custom icon?

## Alternative 1

- chain with a small one - having one entry attached
- chain with a small * - for more than one entry (or the real number of links showing)

## Alternative 2

- single chain - having one entry attached
- two chains overlapping - having multiple links attached

## Discusion

I am o

[2020-09-02 22:25] Siedlerchr commented on #5867
I searched around and it seems to be an issue in the javafx version 14:
https://bugs.openjdk.java.net/browse/JDK-8251240

[2020-09-02 22:26] koppor opened #6856 "New concept for the entry editor"
Borrow from ReadCube: (Source: https://www.g2.com/products/readcube-papers/reviews)

![grafik](https://user-images.githubusercontent.com/1366654/92043002-9680b880-ed7b-11ea-8686-77233d4d6765.png)

* Visually render field in different typography
* Group fields semantically
* Require fields always present (maybe in gray and place holder, e.g. `<authors>`)

Available fields:

- journal / booktitle

[2020-09-02 22:54] koppor commented on #4342
May I ask whether there is test data for this somewhere?

- .bib file
- .pdf files with the filenames

Maybe, three BibTeX entries and three unlinked files.

[2020-09-02 23:20] koppor opened #6857 "New concept for list main table"
Instead of being a "real" table, the entries should be rendered "properly":

![grafik](https://user-images.githubusercontent.com/1366654/92046687-6806db80-ed83-11ea-9a3c-65694d3ded3f.png)

(Source: https://support.papersapp.com/support/solutions/articles/30000031839-what-are-lists-how-do-i-make-them-in-readcube-papers-)

- Maybe using the entry preview? https://docs.jabref.org/setup/preview
- Mayb

[2020-09-02 23:46] koppor commented on #6017
It is worked on at https://support.papersapp.com/support/solutions/articles/30000031839-what-are-lists-how-do-i-make-them-in-readcube-papers-.

[2020-09-02 23:58] koppor commented on #6190
Should also support to merge keywords and groups (see https://github.com/koppor/jabref/issues/12).

[2020-09-03 00:13] koppor commented on #6305
Other UI suggestion at https://github.com/koppor/jabref/issues/108.

[2020-09-03 00:32] fabiojavamarcos commented on #6834
For Alternative 2
- single chain: there is an icon called "link" available immediately in the library.
- two chains: keep the "link_variant" that has two chains overlapping.

Do you agree?

[2020-09-03 04:23] crystalfp opened #6859 "Invisible buttons for File field"
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

- [x ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The buttons near the File field are not visible (screenshot 1). If the File entry has problems all the following fields disappear (screenshot 2).

Steps to reproduce the behavior:
1. Open a library cont

[2020-09-03 04:27] crystalfp commented on #6859
If I remove the file entry from the library, the buttons return visible.

[2020-09-03 04:41] crystalfp opened #6860 "File not found popup even if the file has just been added"
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Added a file, the correct path appears in the file field, but it is highlighted and hovering gives "Could not find file: ..."

Steps to reproduce the behavior:
1. Load a library containing the following

[2020-09-03 05:53] crystalfp commented on #6860
If you add twice the same file and then delete the first one the warning disappears and the library does not change.

[2020-09-03 07:20] mlep commented on #6857
Nice challenge!
JabRef 6 on the way!

I guess users will want to display entries the way they are used to (different habits depending on the profession). So, using entry preview?

[2020-09-03 08:44] bernhard-kleine commented on #6832
I had tried with the previous version and the new snapshot. I didnot work. Upon retrying I was successfull. Today I tried  32517655 first via Jabfox, which did not work, then via Medline import. I got stuck again. At least for me the import via Medline and Jabfox are seriously compromised and not really functional. Which I do not like at all.

[2020-09-03 08:56] Siedlerchr commented on #6832
@bernhard-kleine  Ah okay. The way with the new entry dialog worked for me direclty:
<img width="514" alt="Bildschirmfoto 2020-09-03 um 10 55 43" src="https://user-images.githubusercontent.com/320228/92093899-25212400-edd4-11ea-92a1-c45ed5f40aba.png">

[2020-09-03 08:59] jhh931 commented on #6698
At some point I started using absolute file links in combination with leaving "main file directory" empty. This worked fine under 5.0, not under 5.1.

 I now re-introduced a "main file directory" and did a manual serach & replace in my bib files.
With that the issue is solved on my end.

As a side note, I found out that the absolute paths still work when using this format:
`  file        = {:c\:\\

[2020-09-03 09:02] Siedlerchr commented on #6860
@crystalfp  PLease check your settings for the file directory in the preferences. Other users reported simliar issues in the forum. It seemeed that somehow the setting main file directory got changed

[2020-09-03 09:29] #6855 closed

[2020-09-03 09:33] crystalfp commented on #6860
That is! Seems this old library had never set the directory.

[2020-09-03 09:33] #6860 closed

[2020-09-03 09:38] Siedlerchr commented on #6859
Thanks for the report. Even if the file is invalid, the buttons should still be visible and a proper error message sould be shown

[2020-09-03 10:19] bernhard-kleine commented on #6832
That worked?! What is difference to the call to Websearch Medline? May be with that solved and the Import Dialogue functional, JabFox import will become working again. That would be very time saving.

[2020-09-03 10:36] #6834 closed

[2020-09-03 10:44] SengerM commented on #4027
I am having the same problem with Google Scholar. When I hit "search" it starts and keeps searching for an infinite amount of time. I have JabRef 5.1 on Ubuntu 20.04.

[2020-09-03 11:04] jhh931 commented on #6824
Same here: my 5.1 version gets unresponsive (or very slow) during searches.

JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

[2020-09-03 11:09] Siedlerchr opened #6862 "Fix shared database tests"
Currently, in the latest master version the SharedDatabaseTests are failing with the following error

[code]

To execute the tests locally you need to setup a shared SQL Databse, PostgresSQL
The postgresSQL must run on localhost with the following setup:
DBname: postgres
User: postgres
Pasword: postgres

Alternatively change the values in the class `TestConnector`, method  `DBMSConnectionPropertie

[2020-09-03 11:12] DominikVoigt commented on #6857
Propose list view from fetcher result dialog:
![image](https://user-images.githubusercontent.com/43381984/92108052-0aa47600-ede7-11ea-807b-798e2a940e6b.png)

[2020-09-03 11:54] DominikVoigt commented on #6832
Hey there, the Pubmed/Medline API that is called using the ID-based import dialog is different from the API that is called in the web search. Currently, the web search is not "smart" enough to differentiate text field search/ ID-based search.
For a workaround please use the ID-based import dialog and select the correct ID-type:
![image](https://user-images.githubusercontent.com/43381984/92110627-4

[2020-09-03 13:49] bernhard-kleine commented on #6832
I will start to use this. However, the JabFox firefox plugin still uses the Websearch import window. At that does not work.

[2020-09-03 14:59] rs-aesi commented on #6017
On Wed, 2 Sep 2020, Oliver Kopp wrote:

Oliver,

I don't see the relevance of that link to using keyboard shortcuts when
editing text in JabRef.

Regards,

Rich

[2020-09-03 15:20] podkop opened #6863 "External files do not open anymore (Windows 10)"
JabRef version 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64, Java 14.0.2

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

After updating JabRef from 5.0 to the newest version downloaded from here: https://www.fosshub.com/JabRef.html ("JabRef Windows Installer"), external files linked to the bibliography entries do

[2020-09-03 16:18] tb77phd commented on #4342
I can do that. Is it possible to upload PDFs and a .bib file here?

[2020-09-03 16:25] tb77phd commented on #4342
[bib_pdfs.zip](https://github.com/JabRef/jabref/files/5169896/bib_pdfs.zip)
I hope uploading a ZIP with PDFs and a .bib file works.

[2020-09-03 17:22] k3KAW8Pnf7mkmdSMPHz27 commented on #6617
Do you have an example of what happens, and what it should have been?

I am not sure if that is a recent change, but in the [online documentation](https://docs.jabref.org/setup/bibtexkeypatterns#title-related-key-patterns) `[title]` does not respect capitalization.

How does what you want differ from the output of `[fulltitle]`?

[2020-09-03 18:07] k3KAW8Pnf7mkmdSMPHz27 commented on #6583
'è' and 'é' are legal characters but they should be replaced by 'e'.

[Normalizing](https://docs.oracle.com/en/java/javase/14/docs/api/java.base/java/text/Normalizer.html#normalize(java.lang.CharSequence,java.text.Normalizer.Form)) with NFC fixes the issue for me.

I agree with @tobiasdiez that there should be a formatter, as it would allow users to remove Unicode from file/dir names if they want

[2020-09-03 18:47] k3KAW8Pnf7mkmdSMPHz27 commented on #6399
I can't shed much light on the underlying issue, but I don't think it should be the latex2unicode converter. Adding the following test case to `LatexToUnicodeFormatterTest.java` works for me,

[code]

where the unicode on the left comes from yaytext.com.

[2020-09-03 18:56] k3KAW8Pnf7mkmdSMPHz27 commented on #5889
Would `[shorttitle:regex(" ", "")]` work?
Perhaps it is an idea for a new modifier?

[2020-09-04 06:31] crystalfp opened #6865 "Fields URL and urldate overlap if the URL is long"
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The fields `URL` and `urldate` overlap if the URL is longer than one line.

Steps to reproduce the behavior:
1. Load a library containing:
[code]
2. Go to the `Optional Fields` tab and scroll to the URL

[2020-09-04 06:45] mlep opened #6866 "Preferences: Search: Many items are not found"
JabRef 5.2--2020-09-03--1283f9f
Linux 4.9.0-13-amd64 amd64
Java 14.0.2

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In the preferences window, the search feature misses many (existing) items.

Steps to reproduce the behavior:
1.Options -> Preferences
2. In the search field, type in *mark*.
-> "Mark new entries wi

[2020-09-04 07:31] m-mauersberger opened #6867 "Double key binding for inserting new TechReport and pulling changes from shared database"
JabRef version 5.2 on openSUSE Leap 15.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open a shared database.
2. Press "Ctrl+Shift+R".
3. Changes from shared database are pulled **and** a new TechReport is inserted.

Maybe this is quickly done... ;)

[2020-09-04 08:19] PremKolar commented on #6848
Hi, I would like to try to fix this as my first issue :)

[2020-09-04 08:24] PremKolar commented on #6848
I think there is no bug actually..
When you hit Collapse all, every directory **except** the root one gets collapsed. Expand all, _expands all_...
I think it makes sense and works well.. There is no use on collapsing the root level.

[2020-09-04 08:24] DrFelder commented on #5160
It has been a long time since I last used JabRef (must've been while writing my bachelors degree :D), but I will gladly reinstall it and re-check.

[2020-09-04 08:34] PremKolar commented on #5835
Hi, I would like to try and fix this.

[2020-09-04 08:53] m-mauersberger opened #6869 "Password for shared PostgreSQL database will not be remembered"
JabRef version 5.2--2020-09-03--1283f9f on openSUSE Leap 15.1.

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open a shared (PostgreSQL) database and tick "Remember Password" (without "Use SSL").
2. Reopen the database.
3. The password has not been remembered and there are `TimeO

[2020-09-04 09:00] mlep commented on #6848
Well, maybe the issue is limited to:
When everything is collapsed (only the root directory is shown), "Collapse all" should not expand the tree.

[2020-09-04 09:52] koppor commented on #6017
My bad - I had the wrong link in my clipboard. Too many parallel things.

The right link is https://github.com/JabRef/jabref/pull/6037

[2020-09-04 10:19] PremKolar opened #6870 "Problems setting checkstyle file"
Hi,
I'm not sure whether this is a bug, my incompetence or a problem of idea or of the checkstyle plugin.
When I try to add the checkstyle configuration file as described in the manual, I get the following error message:

`com.puppycrawl.tools.checkstyle.api.CheckstyleException: cannot initialize module TreeWalker - Unable to instantiate 'InvalidJavadocPosition' class, it is also not possible to i

[2020-09-04 15:22] rs-aesi commented on #6017
On Fri, 4 Sep 2020, Oliver Kopp wrote:

Oliver,

It's Friday so too many parallel things are acceptable. :-)

muachilin's post looks promising, but that's not what I see in 5.2.dev
installed yesterday (2020-09-03). The choices under Options -> Customize key
bindings show the CUA set (see attached image), not the Emacs set that
allows ctrl-a (go to head of line), ctrl-e (go to end of line), ctrl-d

[2020-09-04 15:23] rs-aesi commented on #6017
On Fri, 4 Sep 2020, Oliver Kopp wrote:

Oliver,

It's Friday so too many parallel things are acceptable. :-)

muachilin's post looks promising, but that's not what I see in 5.2.dev
installed yesterday (2020-09-03). The choices under Options -> Customize key
bindings show the CUA set (see attached image), not the Emacs set that
allows ctrl-a (go to head of line), ctrl-e (go to end of line), ctrl-d

[2020-09-04 16:48] Siedlerchr commented on #6017
This feature is not yet implemented.

[2020-09-04 17:24] rs-aesi commented on #6017
On Fri, 4 Sep 2020, Christoph wrote:

Christoph,

I'm surprised that implementing it in 5.x when it was present in earlier
versions (not sure about 4.x but certainly in earlier ones) is so difficult.

I look forward eagerly to having it available as I much prefer the editing speed
the emacs chords provide.

Stay well,

Rich

[2020-09-05 06:25] koppor commented on #6093
@VivaldoMendes Please try JabRef 5.1. Feel free to reopen this issue if the problem persists.

[2020-09-05 06:25] #6093 closed

[2020-09-05 06:26] #6400 closed

[2020-09-05 06:27] koppor commented on #6400
@ilippert Thank you for reporting back. I'll close this issue then. Feel free to reopen if this bug appears again.

[2020-09-05 06:32] koppor commented on #6267
I don't understand the issue.

Wild guessing:

1. open a bib library
2. add an entry
3. fetch the same entry via a DOI
4. see that the DOI fetch result is different from the entry inserted at 2?

@JoKalliauer It would be really helpful if you could invest time to describe the issue in a more understandable way. We are planning to craft issues for external contributors and this seems to be ones. Th

[2020-09-05 19:35] JoKalliauer commented on #6223
[code]

With the settings described above `journal` still dont get converted to `journaltitle`.

![2020-09-05](https://user-images.githubusercontent.com/15687581/92312302-bd2f3100-efbf-11ea-8297-90ae65aba01f.png)

[2020-09-05 19:44] JoKalliauer commented on #6267
@koppor biblatex (differently to bibtex) uses `journaltitle` instead of `journal`

How to fix this issue:
Since the DOI-database has imho bibtex, you need to convert them bevore importing/comparing using folloging option:

![2020-09-05 (1)blur](https://user-images.githubusercontent.com/15687581/92312443-d71d4380-efc0-11ea-9241-4c229ddb6ace.png)

[2020-09-05 22:59] JasonGross opened #6877 "JabRef should support users entering their own API keys for the lookup services that use API keys"
I am running into the same issue as https://github.com/JabRef/jabref/issues/6395 . As per https://github.com/JabRef/jabref/issues/6369#issuecomment-667648423, this is probably Springer rate-limiting JabRef's API key.  If there's no way to permanently fix this problem, I'd suggest adding a dialog box that lets advanced users enter their own API keys, to work around the app-limits.

[2020-09-06 10:14] JoKalliauer commented on #4633
Thanks issue is solved in:
[code]

[2020-09-06 10:20] JoKalliauer commented on #6224
Thanks to @catarinagomespt : As the author I want to confirm that it is fixed in:
[code]

[2020-09-06 10:21] nickhalmagyi opened #6878 "Paste in Bibtex Source field does not work"
JabRef version 5.1 on OSX

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Use the + button to add new article
2. attempt to paste a bibtex item
3. observe that paste fails

[2020-09-06 11:52] Siedlerchr commented on #6878
Paste the bibtex on the maintable instead. Jabref will automatically create a new entry. Also works for DOIs

[2020-09-06 12:40] nickhalmagyi commented on #6878
I see so is the paste functionality deliberately disabled in the bibtex source panel? Paste seems to work in other panels.

[2020-09-06 13:38] Siedlerchr commented on #6878
Normally it should work as well, but we had to implement a workaround for a bug in jdk which would paste things twice in the other input fields.
This is probably a consequence of that
We need to check if we can tweak the work around for the source field.

[2020-09-06 22:07] JasonGross opened #6880 "Cleanup entry "Move DOIs from note and URL field to DOI field and remove http prefix" incorrectly recognizies urls ending with "2010/stuff" as DOIs"
JabRef version 5.2--2020-09-06--c0b139a on Windows 10 10.0 amd64, Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Save the file
[code]
  as a `.bib` file.

2. Open this file in JabRef
3. Click on the one entry to select it
4. Click Quality -> Cleanup entries / Alt+F8
5

[2020-09-07 11:50] PremKolar commented on #6880
Can I please do this??
Looks like fun! :)
PLease!

[2020-09-07 11:58] Siedlerchr commented on #6880
@PremKolar  Sure, go ahead!

[2020-09-07 14:05] Bassbiest commented on #6863
I can confirm all of the above.

JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

[2020-09-07 14:55] Siedlerchr commented on #6863
Check your settings for the file directories.

[2020-09-07 15:08] Bassbiest commented on #6863
The settings for default file directories were empty. Setting general or user-specific file directory worked. I can open files directly from JabRef again.

[2020-09-07 15:25] Siedlerchr commented on #6863
It's a nasty bug which somehow slipped into the 5.1 release.

[2020-09-07 20:06] PremKolar commented on #6880
This is not as straight forward as I thought.
The problem is with the _short_ dois. These can look like

- 10/1234
- doi:10/1234
- 10/2021
- 10/d8dn
- https://doi.org/d8dn
- etc..

I don't think there is a way to safely detect these in a url or in some other field. My only idea was to not delete the entry in respective original field in the case of a found short doi, so as not to lose the informat

[2020-09-07 20:16] mlep opened #6888 "Dev-docs: automatic add of ADRs to table of content"
https://github.com/JabRef/jabref/pull/6873#issuecomment-688019794 stats that "We have a little TOC generator tool available at https://adr.github.io/adr-log/. It is not that good, but might be helpful."

Install it to keep the list of ADRs up-to-date.

[2020-09-07 22:44] JasonGross commented on #6880
This one isn't matched because there's no 10, though, right?

I think that detecting what comes before the 10 and ensuring that it's a valid separator would already be a great improvement.

Another option is to query doi validity (I think there's already something like this in automatically searching for dois for an entry).  If the matched doi isn't valid (I don't think 10/summary is, for example)

[2020-09-08 07:25] crystalfp opened #6890 "Icon doesn't show in Start menu | JabRef.exe does not start (JRE15 issue)"
JabRef 5.2--2020-09-07--aa14db9
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

On the Start menu the JabRef icon is substituted with the icon of a generic file.

Steps to reproduce the behavior:
1. Disinstall JabRef
2. Install official version (5.1) or the one from master
3. Look a

[2020-09-08 07:58] PremKolar commented on #6880
This one isn't matched because there's no 10, though, right?

Exactly! that's the 2nd Problem.

Ok yes, validating the doi is of course the obvious solution to this problem.. thanks for the idea!
I have quite a busy week ahead, but I should have found some time by the end of the week! :)

[2020-09-08 08:01] Siedlerchr commented on #6880
Please keep in mind that the Cleanup actions can be executed for all entries in your library. So if you have thousands of entries you would generate 1000 requestss to the DOI resolver

[2020-09-08 08:08] crystalfp commented on #6890
If I open the shortcut I see the cause of the problem:

![image](https://user-images.githubusercontent.com/865866/92449872-f5e72a00-f1ba-11ea-935a-a1a8eb080ed6.png)

Manually changing the icon to `JabRef.ico` solved the problem.

[2020-09-08 08:10] PremKolar commented on #6880
right..
I will test scalability and limit the validations to ambiguous cases only!

[2020-09-08 08:56] crystalfp commented on #6821
It works for me adding a new entry and, on the new entry dialog, select ISBN and enter, for example: 978-8820007256

[2020-09-08 11:02] podkop commented on #6863
@Bassbiest

Can you please specify, which settings are you talking about?

[2020-09-08 11:09] Siedlerchr commented on #6863
@podkop  See the help on the file directories: https://docs.jabref.org/finding-sorting-and-cleaning-entries/filelinks#directories-for-files

[2020-09-08 12:18] crystalfp commented on #6865
Also without content the URL field spacing below (and/or field height) seems not right:

![image](https://user-images.githubusercontent.com/865866/92475699-1f657d00-f1de-11ea-9876-36d4c085699f.png)

[2020-09-08 13:47] Siedlerchr commented on #6865
Might be that one of the fields is defined as multiline

[2020-09-08 14:04] profiack commented on #6821
I apologize for the delay in the response, as I was in poor health.

I reinstalled Jabref and there were no more errors.

 If there is any further observation, I inform you. Thank you very much.

Em seg., 31 de ago. de 2020 às 11:58, Christoph <notifications@github.com>
escreveu:

[2020-09-08 14:08] #6821 closed

[2020-09-08 15:23] crystalfp opened #6891 "Add entry for plain text does not complain, but nothing happens"
JabRef 5.2--2020-09-07--aa14db9
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Add entry for plain text does not complain, but nothing happens with a specific text copied from an article's bibliography.

Steps to reproduce the behavior:
1. Put the following text in the "Add entry f

[2020-09-08 15:29] mlep commented on #6891
Duplicate of issue #6517 ?

[2020-09-08 15:30] crystalfp commented on #6865
OK, but the result is not nice or readable. Could be multiline, but not overlapping the following field.

[2020-09-08 15:49] crystalfp commented on #6891
You are right! Sorry for the duplication. Maybe the text could be another example for #6517

[2020-09-08 17:46] jonathan-g opened #6892 "Key generator regex() function not handling character classes"
## Summary

the `regex()` operator in the citation key generator is not handling character classes (`[<characters>]`) correctly.

## JabRef Version

JabRef version 5.1--2020-08-30--e023aa0 on Windows 10 10.0 amd64 with Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

## Description

When the regular expre

[2020-09-08 19:19] k3KAW8Pnf7mkmdSMPHz27 commented on #6892
Thank you for the very detailed description @jonathan-g !
I'll look into this but I don't think the main issue is with the regex modifier.

@Siedlerchr , I believe this will be fixed in #6706 (because `CitationKeyGenerator` doesn't parse brackets correctly). [This is the relevant test case in the PR that fails](https://github.com/JabRef/jabref/pull/6706/commits/bde630394b942fe896c2e7eb8ba7e64d3fd4

[2020-09-08 22:44] k3KAW8Pnf7mkmdSMPHz27 commented on #5889
`[shorttitle:regex(" ","")]` probably won't work until #6893 is merged. Perhaps `[shorttitle:regex(" ","_")]` is a possible workaround until then.

[2020-09-09 04:51] crystalfp opened #6894 "Institution field repeated twice in preview"
JabRef 5.2--2020-09-07--aa14db9
Windows 10 10.0 amd64
Java 14.0.2
- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In the Report entry type the standard preview has the "Institution" field repeated twice.

Steps to reproduce:

1. Load a library containing:
[code]
2. Look at the standard preview:

![image](https://user

[2020-09-09 06:45] Siedlerchr commented on #6894
school is an alias for institution , see section 2.2.2 Data Fields in the biblatex manual, so this is correct.
ftp://ftp.tu-chemnitz.de/pub/tex/macros/latex/contrib/biblatex/doc/biblatex.pdf#subsubsection.1.5.6
Btw, You can modify the default preview style (HTML) in the preferences

[2020-09-09 06:45] #6894 closed

[2020-09-09 12:47] crystalfp commented on #6894
Understand but disagree. I understand they are synonymous, even more so only one should go there.
It is a very minor problem, but visually it is really annoying, especially if the institution name is long.
A feature request, maybe?

[2020-09-09 13:01] Siedlerchr commented on #6894
@crystalfp  in general I would agree with you, however, there is a minor difference.

The manual says about the field `school`

The default preview code is supposed to support both biblatex and bibtex mode.
But you can simply delete one of the lines in the Preferences under -> Entry preview -> Preview -> Edit field

[code]

[2020-09-09 13:06] podkop commented on #6863
@Siedlerchr Thanks a lot, got it. I guess it is clear that option "_Search and store files relative to library file location_" should be switched on by default for compatibility with previous versions.

There is a related issue. Links to files where the absolute path is given do not work. I guess they worked before 5.0. Maybe this functionality was removed intentionally. However, I know a use case

[2020-09-09 13:24] crystalfp opened #6896 "Answering with updated authorizations to Mr. DLib. gives a uncaught exception in Thread[...]"
JabRef 5.2--2020-09-07--aa14db9
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Answering with updated authorizations to Mr. DLib. gives a uncaught exception in Thread[...]

Steps to reproduce the behavior:
1. Go to the related articles tab (on a thesis entry).
2. Today Mr. DLib ask

[2020-09-09 13:28] crystalfp commented on #6894
OK, thanks for the clarification! Deleted the "school" preview entry and now I'm happy.

BTW, lately I'm opening a lot of issues, but when you really use a tool that helps your work this happens. Continue with the good work! Thanks!

[2020-09-09 13:47] Siedlerchr commented on #6894
@crystalfp  Thanks for the kind words! No problems with opening bug reports. It helps us to improve JabRef and to spot problems or bugs we might have not noticed otherwise.

[2020-09-09 14:20] mlep commented on #6536
Exploring this feature, here are my observations and answer to the question.

Observations:
- For "Append to fields:", **"Overwrite existing field values" does not make sense**, because this action assumes the field is already existing, and, anyway, if the field is empty (no value) JabRef does not store it.
- For "Rename field to", **"Overwrite existing field values" does not make sense**, because

[2020-09-09 14:37] ilippert commented on #6559
Hi

JabRef 5.2--2020-09-03--1283f9f
Linux 5.8.6-201.fc32.x86_64 amd64
Java 14.0.2

hmm, sorry, I am afraid whilst it does work to close jabref now without error messages, it also happened at least one time that the process was not actually ended.

[2020-09-10 12:02] MaxSchambach commented on #6837
I am experiences the same Issue. It seems like the used API Key is no longer valied. Viewing the API request in the browser, it returns "Developer Inactive".

[2020-09-10 15:50] szhorvat opened #6900 "Incorrect preview formatting with "American Physical Society" layout"
JabRef 5.1--2020-08-30--e023aa0
Mac OS X 10.14.6 x86_64
Java 15

The following screenshot shows how a certain entry is formatted with the "American Physical Society" layout. Notice the word "ČAsopis" in the last line. It should be "Časopis" (the "A" should not be capitalized). This may be happening because of how the first accented letter is entered (see screenshot).

<img width="997" alt="image"

[2020-09-10 18:58] rs-aesi opened #6901 "Inability to enter data in Optional Fields"
Running the 5.2-linux-portable build of 2020-09-09. The optional fields tab has 2 columns on the left for data entry and a preview of the entire entry on the right. However, text cannot be entered in the right column and that whole window cannot be expanded to allow data entry.

The attached screen shot illustrates the situation. Notice in the right side window the volume number (8) at the end of

[2020-09-11 11:08] daesters commented on #6534
I have the same problem.
Some of my entries are in the group called "Selected". When I want to remove an entry (or several entries), I get the same error

JabRef 5.1--2020-08-30--e023aa0
Linux 5.4.0-47-generic amd64
Java 14.0.2

--- Full Traceback
java.lang.IndexOutOfBoundsException: [ fromIndex: 0, toIndex: 2, size: 1 ]
	at org.jabref.merged.module@5.1.60000/com.sun.javafx.scene.control.ReadOnlyU

[2020-09-11 11:53] ilippert opened #6902 "drag file on entry generates exception"
JabRef 5.2--2020-09-08--6dec174
Linux 5.8.7-200.fc32.x86_64 amd64
Java 14.0.2

I have dragged an entry from Nautilus on an entry in the entry table and got the exception. The file got well linked to the entry.
<details>
  <summary>Log File</summary>

[code]
</details>

[2020-09-11 13:56] szhorvat commented on #6900
I found a very similar issue (possibly with the same root cause):

<img width="1636" alt="image" src="https://user-images.githubusercontent.com/1212871/92934012-42df3080-f447-11ea-8f95-9ed66daa8e9f.png">

Notice how "P" is incorrectly capitalized in "(P,s)-Digraph"

[2020-09-11 14:55] rs-aesi commented on #6901
Update: this same problem exists with the stable 5.1 release (linux-portable-5.1).

[2020-09-11 20:03] andrejdam opened #6903 "Error of "Uncaught exception in Thread[..." when trying to resync references"
Hi there guys,

After updating to JabRef 5.1, updating to LibreOffice 7.0.1.2, loading APA6.jstyle (included at the end of this report), and trying to resync references and references list, I get this error:

JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

Please help quick, I am in the final editing phase of my thesis and can't afford to lost any time because of program errors

[2020-09-11 20:59] Siedlerchr commented on #6903
Thanks for your report. It's probably due to the libre office version 7.
I would suggest reinstalling an older version of Libre office, version 6.x should work fine.

[2020-09-11 21:09] andrejdam commented on #6903
Hi @Siedlerchr , thanks for your answer. Alright, I'll try to revert back to LO 6 something and see if that fixed the problem--and let you know how it went.

[2020-09-12 14:01] Siedlerchr commented on #6901
Yeah, it's a problem if the entry preview is shown as part of the entry editor.
You can only expand the colum if you move the preview to the right or you can tick the options show preview as own tab.

The code for calculating the column constraints and witths in the "compressed" mode is here:
https://github.com/JabRef/jabref/blob/1d2ecffa1b07d930c0ff936e2574d102aaf7255d/src/main/java/org/jabref/gu

[2020-09-12 14:17] Siedlerchr opened #6904 "Microsoft Word Integration simliar to LibreOffice"
A longstanding wish by many users.
It should be possible to enter citations into Word directly from JabRef, simliar to the Open/LibreOffice functionality.
Currently JabRef only supports exporting to the word XML file format used by internal citation manager in Word.

https://discourse.jabref.org/t/microsoft-word-and-cls-bibliography-styles-integration/2133

It should be invesitgated, if this is po

[2020-09-12 14:43] teertinker opened #6905 "Jabref 5.1 can't connect to libre office"
Hello,
I have a Ubuntu 20.04 with
-openjdk 11
- libreoffice 7 (snap)
  -with jre support
  - with an open writer document
- the recent jabref 5.1.

I can't connect to libreoffice. The libreoffice plugin shows the following error message.

In the past the was some trouble about snap. But the held page of JabRef does not state anything about it, so I suppose the problem is somewhere else.

I would a

[2020-09-12 15:13] Siedlerchr commented on #6905
Just to clarify, do you have an open writer document before connecting?
You need to open a new/existing writer document before connecting from JabRef

[2020-09-12 15:20] teertinker commented on #6447
Hello,
may it is helpful to change to topic of the bug. I just wanted to report a new bug and did find this one only by accident. Maybe something like "Changes in entry preview are not saves"

[2020-09-12 15:35] teertinker commented on #6905
Writer document is opened.
May be of further interest: LibreOffice shows /snap/libreoffice/191/usr.... as path for the JRE

unoil.jar is located in the following paths:
/snap/libreoffice/191/lib/libreoffice/program/classes/unoil.jar
/usr/lib/libreoffice/program/classes/unoil.jar
/usr/share/java/unoil.jar

I did also try to connect manually to "/snap/libreoffice/191/lib/libreoffice/program/" but it

[2020-09-12 15:40] Siedlerchr commented on #6905
Snaps are sandboxed and can't be acessed from other applications. You have to use the non snap version of LIbreOffice.
@LyzardKing  can say more about this

[2020-09-12 16:06] LyzardKing commented on #6905
The snap cannot run other applications (not included in the snap)
Also, the jabref snap would need access to the necessary files in the libreoffice directory.
The non snap jabref should be able read the snap libreoffice, but I'm not sure how it works.
@Siedlerchr What is the connection like in the libreoffice cite function?

[2020-09-12 16:25] teertinker opened #6906 "Cannot delete standard entry types"
Ubuntu 20.04, JabRef 5.1
The following image shows the dialog to customize entry types. I want to delete the entry "Patent" because I never use it. I click on the trash icon. "Patent" disappears. I accept changes. I open the entry type dialog again.

Result:
"Patent" appears again

Expected behavior:
"Patent" is deleted

Alternative behavior:
"Patent" is a standard field in bixtex, the trash icon

[2020-09-12 16:27] Siedlerchr commented on #6905
The general process is as follow:
JabRef searches autoamtically the typical /or the provided path for the required uno jars.
Then the LO-UNO Bridge is instanitated
Finally JabRef connects to the running process (Inteprocess communcation)

For LibreOffice versions < 7 we needed a workaround because of the java module path stuff etc. I have not yet tested the general connection to LO 7. We use the S

[2020-09-12 16:31] Siedlerchr commented on #6906
Thanks for the report. Actually, you cannot delete the standard entry types. They are always recreated.
However, you can remove/modfiy the fields of the entry type.

=> We should show the trash icon only for custom entry types

[2020-09-12 16:45] rs-aesi commented on #6901
On Sat, 12 Sep 2020, Christoph wrote:

Christoph,

I cannot move the preview further to the right. Setting the preview in its
own tab puts it at the leftmost tab position. Is there a way to display it
on the right side instead?

There's also a tab called 'LaTeX Citations'. I've no idea what it's for; I
have no need for whatever it does. Can this be removed?

Putting the preview in its own tab reso

[2020-09-12 16:45] ilippert commented on #6559
Just crashed still with 80% CPU load

JabRef 5.2--2020-09-09--46e9fe2
Linux 5.8.7-200.fc32.x86_64 amd64
Java 14.0.2

[2020-09-12 16:52] LyzardKing commented on #6905
If we opt for using the libreoffice snap the only way to make this work would be to have libreoffice expose a content interface(https://snapcraft.io/docs/content-interface) and connect to that. Then the communication via socket should work.
If we stick with the libreoffice non snap (and non flatpak I believe) version the only solution seems to be to set the jabref snap to classic mode, so it has f

[2020-09-12 17:11] Siedlerchr commented on #6901
You can drag the preview a bit more to the right at that line
<img width="1569" alt="Bildschirmfoto 2020-09-12 um 19 08 21" src="https://user-images.githubusercontent.com/320228/93000958-bf4b3f80-f52b-11ea-8c9d-88110d641278.png">

@rs-aesi  Unfortunately, it's not possible to change the tab order.
However, you can disable the Related Articles Tab and the Latex Citations tab under Options -> Entry

[2020-09-12 17:28] ilippert commented on #6559
JabRef 5.2--2020-09-09--46e9fe2
Linux 5.8.7-200.fc32.x86_64 amd64
Java 14.0.2

does not reliably shut down. Sometimes the process keeps running after the window closes.

@Siedlerchr - sorry to report this. Should I open a new issue or would you reopen this?

[2020-09-12 17:32] Siedlerchr commented on #6559
Thanks for the report. I am working on a solution. Think have found the underlying issue.

[2020-09-12 19:45] teertinker commented on #6905
Hello I don't understand much, but just in case it is useful: I installed jabref downloading the deb file.

[2020-09-12 20:47] LyzardKing commented on #6905
Ok, so in your case the issue is that the libreoffice snap cannot be accessed from the host.
So jabref might be able to read the .jar files, but not to communicate with libreoffice.
Mostly this is an issue to raise with the libreoffice project.

[2020-09-13 14:20] andrejdam commented on #6903
Hi again @Siedlerchr ,

I tried reverting back to LO 6.3.2.2 (the version I had before I installed 7.x) but the same problem persists.

[2020-09-13 14:40] andrejdam commented on #6903
OK, so I reverted back to JabRef 5.0-beta 89 which worked previously, to no avail.

I tried deleting the JR_bib section within the document, and again JabRef is stuck with the same error message.

What could this be?!

[2020-09-13 15:35] Siedlerchr commented on #6903
@andrejdam
Hi, I think I probably found the issue, can you please check again your jstyle file in a text editor, it might be an issue with having typographical quotation marks in the jstyle file instead of the normal ones,

[code]
Must be:
[code]

Here is a corrected variant:
[code]

[2020-09-13 23:44] mpatas opened #6908 "Allow viewing symmetric difference between groups"
Sometimes a scenario like this happens:

1. A "big" group (like "Physics") corresponding to a large area, exists. Papers get assigned to it.
2. Several papers in a subarea (for example, "Mechanics") are found.
3. A subgroup for that subarea is created, with the "big" group being an union of its "own" papers and papers of this subgroup.
4. The same process is repeated.
5. Dividing group into many s

[2020-09-14 14:20] andrejdam commented on #6903
@Siedlerchr Christian, thanks for the solution--it really works!

Interestingly enough, I took the APA6 style file from here https://discourse.jabref.org/t/apa-citing-with-libreoffice-using-a-jstyle-sheet/609/2

There might be more people that would be perplexed at the sudden issue when resyncing, so maybe someone ought edit the text over there as well. And also, maybe add in the automatic checker

[2020-09-14 14:30] Siedlerchr commented on #6903
@andrejdam  Glad to hear it works now. I think it would make sense to add the correct style to the jstyles repo we have.
Will do that.

[2020-09-14 17:07] andrejdam commented on #6903
That's a great idea.

Just make sure that ReferenceParagraphFormat refers to something else, as References bulleted list is my own creation and doesn't exist in the standard styles that are included with LO.

Thanks for your assistance again.

[2020-09-14 18:35] teertinker commented on #6905
I suppose the issue does affect multiple users, because snap is now the common format for ubuntu. If it can't be resolved, the help page should describe the problem accordingly.

[2020-09-14 18:58] teertinker opened #6915 "Entry preview problem with import preferences"
Hello I am still trying to migrate from 4.3.1 to 5.1 on my ubuntu 20.04 system. Since the entry preview currently cannot be modified within preferences (changes are not saved), I wanted to import my entry preview via import preferences. In general this works, however, there seems to be a problem with the replace formatter.

Currently my database uses some abbreviations which are replaced by html t

[2020-09-14 19:56] LyzardKing commented on #6905
Yes, it should. I'm testing the various combinations to describe clearly which integrations work with the different install methods.
Just to be sure, you're using the snap for libreoffice, right? Not Jabref?

[2020-09-15 06:33] koppor commented on #5160
@DrFelder May I ask for an update?

[2020-09-15 06:34] koppor commented on #6095
@bernhard-kleine May I ask for an update?

[2020-09-15 06:37] koppor commented on #6646
I will try to install XFCE here and try to use the hotkey

[2020-09-15 06:38] koppor commented on #6685
We think the issue is solved. If not, please comment.

[2020-09-15 06:38] #6685 closed

[2020-09-15 06:48] koppor commented on #6904
Initial code: https://github.com/JabRef/JabRef4Word - this is based on Docear4Word.

[2020-09-15 06:55] #6878 closed

[2020-09-15 07:36] bernhard-kleine commented on #6095
Soory I missed the status change.

No, I tested it today. The bug is not happy any longer. Can be closed.

[2020-09-15 07:43] #6095 closed

[2020-09-15 08:14] marc-reichenbach opened #6916 "IEEE fetcher broken"
Dear all,

I'm not so familiar with filing bug reports, therefore please apologize if I made a mistake. For me IEEE fetcher (access via VPN from University) did not work.

**Sample Entry:**
@InProceedings{Fey2010RealizingRealTime,
  author     = {Dietmar Fey and Marcus Komann and Marc Reichenbach and Ralf Seidler},
  booktitle  = {13th {IEEE} International Symposium on Object/Component/Service-Ori

[2020-09-15 08:39] BartLH opened #6917 "JabRef doesn't start, "IOException reading next record""
JabRef version 5.1.60000 and 5.2.78 on Windows 10

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Try to open JabRef by running JabRef.exe or runtime\bin\JabRef.bat

Result: JabRef crashes before it even opens.

<details>
  <summary>Console output</summary>

[code]
</details>

[2020-09-15 12:30] rs-aesi commented on #6646
On Mon, 14 Sep 2020, Oliver Kopp wrote:

Oliver,

The menu says it is Alt-3 rather than Alt-F3.

Regards,

Rich

[2020-09-15 16:06] teertinker commented on #6905
Yes: Jabref deb and LO snap (Version 7.0)

[2020-09-15 17:17] tobiasdiez commented on #6904
Another idea would be to fork Zotero's word plugin: https://github.com/zotero/zotero-word-for-windows-integration
This would reduce the maintenance cost in the future, for both JabRef and Zotoro. In the long term this may lead to one open source word plugin that can communicate to several bibliographic managers, instead of that each one has there own plugin.

[2020-09-15 19:03] teertinker commented on #6915
Sorry, I will close this issue. I did resolve the problem. I was somehow raised through the new Markdown Formatter. Everything works if the Markdown Formatter is put after Replace Formatter. So user stupidity and no JabRef error

[2020-09-15 19:03] #6915 closed

[2020-09-16 10:09] tobiasdiez commented on #6904
On a second look, the zotero plugin still uses the old C++ interface while Microsoft is hard pushing the new Javascript-based Office Addons: https://docs.microsoft.com/en-us/office/dev/add-ins/word/?view=word-js-preview
They work on Windows as well as on Mac (and web). So it seems they are the future-oriented technology.

Still, I think we should coordinate with the Zotero team.

[2020-09-16 11:09] IfIWantedTo commented on #5890
Hi @joelostblom, I am currently working on this as my first issue. Since I am very new to JabRef I don't quite know my way around yet. It would help me alot if you could give me directions on how to recreate the error. Only if you have the time and energy to do so of course.

[2020-09-17 05:21] koppor commented on #919
Implemented in https://github.com/JabRef/jabref/pull/5749.

[2020-09-17 05:21] #919 closed

[2020-09-17 06:30] teertinker commented on #6824
On my Windows machine I have the same problem. The current JabRef version becomes almost unusable there. After hitting a search term CPU usage goes up to 90% and never drops again.
Jabref5.1 2020-08-30
Windows 10 amd64
Java 14.0.2

On my Ubuntu machine I do not experience any issues with the same version.

[2020-09-17 12:50] stefan2904 commented on #6908
I think I was looking for something similar when trying to find the papers in my library which have NOT been cited in a paper. (Doing a set operation `all entries` minus `cited entries`).

[2020-09-18 14:12] PremKolar commented on #6906
can i do this?

[2020-09-18 17:29] jonathan-g opened #6921 "Uncaught Exception occurred in Thread"
JabRef version JabRef 5.2--2020-09-09--46e9fe2 Windows 10 10.0 amd64 Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:

Frequently, JabRef (both the current release and the development version) pop up dialog boxes reporting "Uncaught exception occurred in Thread[pool-7-thre

[2020-09-19 10:31] Siedlerchr commented on #6921
The problem is coming from the autosave manager.  You could try to disable autosaving in the preferences
I am working on a fix in #6694 which should also fix that.

[2020-09-19 19:34] Toromtomtom opened #6922 "DoiResolution Fetcher fetches whole book for some Springer conference papers"
JabRef version 5.1 on OpenSUSE Leap 15.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Have the conference paper [Map2Check Using LLVM and KLEE](https://doi.org/10.1007/978-3-319-89963-3_28) in your library
2. "Search full text documents online"
3. JabRef downloads a PDF of the

[2020-09-19 19:35] jonathan-g commented on #6921
Thank you. I have turned off autosave. I will report back on whether this resolves the problem.

[2020-09-20 20:09] #6880 closed

[2020-09-21 09:19] BartLH commented on #6917
No one has any idea?

For now I've installed 4.3.1 again which works, but I'd like to be able to use the latest stable(?) update.

[2020-09-21 09:39] Siedlerchr commented on #6917
This seems to a problem with reading the journal abbreviations
 Does this still happen in the latest development version? I recently fixed an issue related to hat.

[2020-09-21 09:59] BartLH commented on #6917
Thanks, I've tried the latest dev version (5.2.89) again to see if that fixed it, but the error is the same.

<details>
<summary>Console output</summary>

[code]
</details>

[2020-09-21 17:39] #3920 closed

[2020-09-21 20:38] wujastyk opened #6930 "Cannot generate preview based on selected citation style."
JabRef version  on

JabRef 5.2--2020-09-21--6a6db58
Linux 5.4.0-47-generic amd64
Java 14.0.2

- [ x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Preview doesn't work.

Steps to reproduce the behavior:
1. Go to "Preview" tab.
2. Receive the error message "Cannot generate preview based on selected citation style."
3. Pre

[2020-09-21 21:24] koppor commented on #6869
My idea won't help you much: Somewhere in the preferences. I think, it is `org.jabref.logic.shared.prefs.SharedDatabasePreferences`.

The JabRef team decided to remove any preference storing related tests, because tests should not change the developer's productive settings.

Are the connection properties themselves remembered?

I see following in the code - it could be that while switching from Ja

[2020-09-21 23:47] NRJank commented on #5314
with issue closed should start from .bat work again? due to apparent security/permissions issues with user folder in 5.1 I had been using shortcut to .bat file as per ["Fail to launch JVM" problem solution](https://discourse.jabref.org/t/failed-to-launch-jvm-error-prevents-jabref-to-startup/1980/10) as only way to start the program.  just checked 5.2 dev build and getting both Fail to launch JVM e

[2020-09-21 23:54] NRJank opened #6932 "Jabref flagging NASA DOI as invalid"
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

(same issue on previous JabRef 4.3.1)

- [ no] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists
[unable to run 5.2 dev version to check.](https://github.com/JabRef/jabref/issues/5314#issuecomment-696439091)

NASA DOI is flagged as invalid, so links to open/lo

[2020-09-22 04:13] koppor commented on #6869
Maybe because of the changes at https://github.com/JabRef/jabref/pull/6853?

[2020-09-22 15:59] Siedlerchr commented on #6932
I tested this with the 5.2 snapshot.
FIrst of all, JabRef's statement that the above mentioned DOI is invalid, is correct.
JabRef follows the DOI spec and the DOI spec says that it needs a prefix with "10".

I have no idea and could not find any further information. Theoretically it should be possible to search for this using the SOA/NASA database fetcher in JabRef.

[2020-09-22 16:13] Siedlerchr commented on #6922
JabRef's DOI  Resolution fetcher is kind of quick and dirty search, it simply looks for the first link to a pdf on the site to which the DOI redirects. And for Springer, there is only a download for the whole book.
An idea for enhancement would be to check if the url contains springer, to call the Springer fetcher.

[2020-09-22 16:43] NRJank commented on #6932
Interesting. I was surprised to see the format myself, but doi.org seems to have no problem with it.  The [spec does state that DOIs use 10](https://www.doi.org/doi_handbook/2_Numbering.html#2.2.2).  and that part of ISO 26324 is paywalled. Nonetheless, Nasa uses 2060 and DOI resolves it for them.

[2020-09-22 17:03] Toromtomtom commented on #6922
I see. Would it also make sense to not return anything if the URL contains springer? Because AFAIU the Springer fetcher is running in parallel anyways.

I'll have a go at this and see if I can open a PR.

[2020-09-22 17:08] NRJank commented on #6932
i dropped an inquiry to doi.org since that seems in conflict with their stated naming convection. we'll see if they respond.

[2020-09-22 17:29] Siedlerchr commented on #5314
@NRJank  You probably need to modify the bat file again and add the arguments again. Please note that the Launcher class changed (the argument after the "-m"
`pushd %DIR% & %JAVA_EXEC%  -p "%~dp0/../app" -m org.jabref/org.jabref.gui.JabRefLauncher`

[2020-09-22 18:01] Siedlerchr commented on #6930
Hm. this is odd. I tested both Windows and Mac and did not encounter any issues. And it's also add that you don't see any error messages in the log.
Do the styles show up in the list on the left when you open the preferences?

[2020-09-22 18:02] Siedlerchr commented on #6922
If it's running in parallel then it indeed makes sense to cancel it/return nothing

[2020-09-22 18:09] NRJank commented on #5314
Ok, thanks. Just confirming that with that change I can load 5.2 with the bat file.

[2020-09-22 19:21] NRJank commented on #6932
from DOI.org staff:

"The identifier you have cited for the NASA Technical Report is a handle, not a DOI. The DOI System is a specific implementation of the Handle System. Handles should be resolved on the web via the Handle System Proxy, in this case that URL would be https://hdl.handle.net/2060/19660017401 and not the DOI proxy. While handle and DOI resolution on the web are similar, the proxy s

[2020-09-22 19:45] wujastyk commented on #6930
Yes, they do.  I've tried moving the styles out of my right-hand list, and
then back into it, in case that caused some kind of update or reset.  No
luck.

On Tue, 22 Sep 2020 at 12:02, Christoph <notifications@github.com> wrote:

[2020-09-22 20:22] Siedlerchr commented on #6932
Thanks for posting the response.
That explains a lot. In short handles are just some kind of persistent unique identifier for managing urls or other resources.
I read a bit about that and it seems like DOI is a special  implementation of a handle system
https://project-thor.readme.io/docs/project-glossary

To sum up, JabRef's behavior is correct.

[2020-09-22 20:22] #6932 closed

[2020-09-22 20:24] dawidm opened #6934 "In entry types editor selected field is not removed after first click"
JabRef 5.2--2020-09-22--129c36e
Ubuntu 20.04 (Linux 5.4.0-42-generic amd64)
Java 15

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When a field is selected, it's not removed after the first click on it's remove icon. Doesn't happen for the fields that are not selected.

Steps to reproduce the behavior:
1. Open entr

[2020-09-22 20:39] NRJank commented on #6932
seems so. Jabref -could- manage handles in general, but there's a URL field for that.

[2020-09-23 15:28] NRJank opened #6935 "multiple monitors - Entry Editor context menu always appears on main monitor even when Jabref isn't"
JabRef 5.2--2020-09-21--0da0f0c
Windows 10 10.0 amd64
Java 14.0.2

- [YES] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

On a two-monitor system, Jabref always opens on the last monitor it was on when it was closed, but the context menu for the Entry Editor seems to always only appear on whatever windows designates as th

[2020-09-23 18:20] NRJank opened #6936 "irregularly losing ability to edit data in biblatex source tab"
JabRef 5.2--2020-09-21--0da0f0c
Windows 10 10.0 amd64
Java 14.0.2
[Yes ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Having difficulty identifying trigger to reproduce problem.

When adding to / editing database, I sometimes lose the ability to edit any of the data in the biblatex source tab.  I can switch to the tab,

[2020-09-24 04:46] krunal-shah commented on #3582
I am trying to rename the linked files to something like `First1 Last1 First2 Last2 ...` where `Firsti` and 'Lasti' are the first  and last names of the 'ith' author.

Any help on how this can be achieved would be greatly appreciated.

Thank you.

[2020-09-24 08:30] mlangiu opened #6939 "Management is abbreviated with outdated "Manage." instead of "Manag.""
JabRef version 5.0
Several entries of the standard list of abbreviations containing "Management" are abbreviated with outdated "Manage." instead of the current "Manage."

See e.g. https://en.wikipedia.org/wiki/Management_Science_(journal)

[2020-09-24 08:59] mlep opened #6940 "UI: keywords are not always keywords"
In JabRef (5.2) "keyword" is used for two purposes:
- the field "keywords" and its content. And its use and management: the menu Edit -> Manage keywords, and the regular expression "anykeyword" for searching.
- To specify a string of characters in a group. The "add subgroup" UI involves so-called "keywords", but these "keywords" do not refer necessarily to the keywords field. For example, "Collect

[2020-09-24 11:22] #6906 closed

[2020-09-24 14:36] #6934 closed

[2020-09-24 14:38] TheDom42 opened #6942 "Regex of University Institution too broad for citekey generation"
[code]

- [x]  **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

- **Steps to reproduce the behavior:**
    - Add an entry where the author is an institution (other than an university) and contains a term beginning with `uni` (see below for example)
    - Enclose the institution in {}
    - Let Jabref generate the `citekey`

[2020-09-24 15:44] NRJank commented on #5941
I missed this when filing my issues report yesterday, that sees the same problem with context menu on the wrong screen.  (I think I may have accidentally filtered on OS.) [That issue appears on Windows](https://github.com/JabRef/jabref/issues/6935), so this seems to not just be a linux problem, and it appears in both 5.1 and the recent 5.2 dev build.

[2020-09-24 15:46] NRJank commented on #6935
somehow missed a very similar open issue #5941 that's tagged as a linux issue.  so seems to be a cross-OS problem.

[2020-09-24 16:05] ytzemih commented on #5941
@NRJank Thanks for confirming. Still there for me, with

JabRef 5.2--2020-09-16--5bb159d
Linux 5.4.19-050419-generic amd64
Java 14.0.2

[2020-09-25 10:48] attractedtofire opened #6944 "JabRef not syncing changes to shared databases (Mysql/MariaDB and Postgresql)"
JabRef 5.1--ArchLinux--1, Linux 5.8.10-arch1-1 amd64, Java 14.0.2

I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists:
Dev Version tested:
JabRef 5.2--2020-09-24--75b6770, Linux 5.8.10-arch1-1 amd64, Java 15
(The same problem exists with the latest MAC Version)

Databases tested:
PostgreSQL 12 (local)
PostgreSQL instance from elephantsql
Mar

[2020-09-25 11:58] Gena928 commented on #6867
Just realised this bug does not depend on Shared Database.
I.e. you can open any library, press "Ctrl+Shift+R" and a new TechReport will be inserted.

I'll try to fix that.

[2020-09-25 20:48] fabiojavamarcos commented on #6866
I am using JabRef version 5.0 with MacOS 10.14.6 and java OpenJDK 14.0.2 2020-07-14 and I saw the same behavior. I am going to take a look.

[2020-09-25 21:39] #6863 closed

[2020-09-25 22:35] fabiojavamarcos commented on #6866
I found the problem. Trying to fix it.

[2020-09-26 00:37] fabiojavamarcos commented on #6866
Fixed. Submitting the PR soon.

[2020-09-26 05:43] koppor commented on #6944
Good to hear that people start using the feature and reporting issues. @m-mauersberger is currently working on the code (refs https://github.com/JabRef/jabref/pull/6868).

Could you test the lastest development build at https://builds.jabref.org/master/?

[2020-09-26 13:34] hao203 opened #6947 "Export to word xml or other software files without issue field"
JabRef version  on

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. import the entry of journal reference, number = issue.
2. export the entries to word xml, without issue field. It's still the number field. The reference in word actually don't have the number field.
3. when use re

[2020-09-26 15:01] Siedlerchr commented on #6947
Hi, I'm not sure I fully understand your problem, but I think it's correct behaviour her, JabRef follows the biblatex spec.
bibtex/biblatex  number field => word xml: number field (except for entry type patent)
bibtex/biblatex issue field => word xml: issue field

So you just have to manually add/fill out the field issue.

For an overview of mapping fields
https://docs.jabref.org/advanced/knowledg

[2020-09-26 15:56] #6583 closed

[2020-09-26 16:05] Siedlerchr commented on #6583
Thanks to @k3KAW8Pnf7mkmdSMPHz27  this should be fixed now in the latest development version.

The new version is currently building and approx ready in half an hour

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-09-26 21:07] attractedtofire commented on #6944
Hello Koppor,
thank you for getting back so quickly!

Sure thing, glad if I can assist:
I just checked with JabRef 5.2--2020-09-26--deb2f20, Linux 5.7.19-1-ck-broadwell amd64, Java 15 (for the time being just against ElphantSQL).
It is still not syncing anything but this time it is throwing a whole bunch of read timeouts (I paste one bellow) and than crashes after trying to sync for about a minute

[2020-09-27 06:45] m-mauersberger commented on #6944
I got a similar `socketTimeOut` in #6869 but it was not directly related to syncing to PSQL database at all. Synchronization (without SSL) worked as intended.
I suspect it has something to do with SSL socket (see log). Maybe this could also be the reason for your sync fail, @attractedtofire?

[2020-09-27 07:16] attractedtofire commented on #6944
Hi m-mauersberger!

Funny, I don't think I checked the "use SSL" checkbox in the first place. I just tried the dev build again against MySQL (MariaDB 10.1.40) without SSL and got the same error as in my initial issue report (attached bellow).

<details>
java.sql.SQLTransientConnectionException: (conn=13281484) Parameter at position 1 is not set
	at org.mariadb.jdbc.internal.util.exceptions.Excepti

[2020-09-27 09:14] hao203 commented on #6947
Hi，Siedlerchr
Thanks. I viewed the field mappings. But in word reference, there was no number field.
I confused that when I import one entry of article in jabref， it is the number field instead of the issue field. That is weird. We usually use issue field in other reference softwares,  such as endnote.
If jabref still insist on number field, the communication with other  reference softwares would

[2020-09-27 19:03] Siedlerchr commented on #6947
Thanks for the feedback. The bibtex export from your example should have used the field number. The field issue does not exist in bibtex originally. Only number. Only biblatex has it.
JabRef follows the biblatex spec, but can display also custom fields. So simply copy the value from the field issue to the field number. You can see the field issue in the Other fields tab.

http://mirrors.ctan.org/m

[2020-09-28 06:46] Siedlerchr commented on #6369
Currently there seems to be a latex/unicode conversion issue in the INPIRE test
[code]

[2020-09-28 08:23] Gena928 commented on #6867
@tobiasdiez
need an advice. ))) Looks like there are 2 actions on "ctrl+shift+R" key combination:
- pull changes from shared database;
- create new technical report;

I see it in `KeyBinding.java` file. Which one is better to change?
I propose to change keybinding for `NEW_TECHREPORT` constant from `ctrl+shift+R` to `ctrl+alt+R`.

[2020-09-28 09:19] m-mauersberger commented on #6867
I would do it otherwise because there are a lot of 'New' key bindings on `ctrl+shift+... ` (e.g. New Report, New Proceeding,...).

[2020-09-28 10:07] Gena928 commented on #6867
ctrl+shift+
ctrl+shift+

[2020-09-28 10:18] Gena928 commented on #6867
OK, the followed combinations are already assigned:
ctrl+shift+(A, C, D, E, I, K, L, M, N, O, P, R, S, T, U)

ctrl+shift+W?
ctrl+shift+J?

[2020-09-28 12:15] mwittchen opened #6957 "Enable Auto Sync per default for Open/LibeOffice"
JabRef 5.1--2020-08-30--e023aa0
Ubuntu 18.04.3 LTS
Java 14.0.2
Libreoffice 6.0.7.3

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Instead of showing a Number in brackets as citation when using the "default [Number] style file" a minus sign with space "- " is printed when citing in LibreOffice. The "default [Author]

[2020-09-28 12:28] tobiasdiez commented on #6867
Personally, I would remove the default keybinding for "new techreport". I don't think that many people use that regularly to justify having a keybinding for it (but keep it as an option for people to set it later).

It may be a good idea to revise the keybindings in general, and come up with a consistent layout. Most of the current bindings are a result of step-by-step additions, instead of having

[2020-09-28 12:48] Gena928 commented on #6867
OK, I'll look into Microsoft guidelines.
Meanwhile, @m-mauersberger what do you think about removing hotkey for "Pull changes from shared database" ?

[2020-09-28 12:52] Siedlerchr commented on #6867
I think the hotkey for pulling changes is important for Databases that do not support pushing

[2020-09-28 13:06] attractedtofire commented on #6944
Some promised updates:

I checked the latest dev build (JabRef 5.2--2020-09-28--b1d4747, Linux 5.8.12-arch1-1 amd64, Java 15) against a local postgres installation. The situation remains largely the same (see error log below), with the difference that now at least the "ENTRY" table and the "ENTRY_SHARED_ID_seq" do get populated. Nothing in FIELD or METADATA though. Manual sync via "pull changes" d

[2020-09-28 13:09] Siedlerchr commented on #6944
Seems there is something missing in the parameter for the postgres statement. Maybe I find time to look into it later

[2020-09-28 15:50] Siedlerchr commented on #6957
Thanks for the report. Indeed, I could reproduce this with the latest dev version and LO 6.4.x

[2020-09-28 16:21] Siedlerchr commented on #6957
I digged into it and it's correct. The "magic" happens when you press the sync button manually or enable Auto Sync
Maybe one could add a section to the help here:
https://docs.jabref.org/cite/openofficeintegration#using-the-openoffice-libreoffice-interface
![grafik](https://user-images.githubusercontent.com/320228/94459066-21a47100-01b7-11eb-813d-de7b9b7e9d4a.png)

[2020-09-28 16:35] Siedlerchr commented on #6944
I tested locally with Postgres version 10 and it worked fine. Maybe there have been some changes in the later version,

[2020-09-28 16:59] attractedtofire commented on #6944
Cool. I'll test against v10 later tonight!
I had the same issue against MySQL/MariaDB before though.

On September 28, 2020 6:35:56 PM GMT+02:00, Christoph <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-09-28 17:07] #6866 closed

[2020-09-28 18:04] Siedlerchr commented on #6944
I will try with version 12 or newer later or the next days

[2020-09-28 18:06] m-mauersberger commented on #6867
For me the same, I would keep it. Mh, what about "Alt+Shift+R" for pull changes?

[2020-09-28 18:10] Gena928 commented on #6867
Looks like `alt+shift+R` can be used.
I'll test it tomorrow on Mac & Windows.

[2020-09-28 22:29] attractedtofire commented on #6944
I just tested the b1d4747 build against a local Postgres 10.3 server with the same results as before: it will connect, set up the tables and populate the ENTRY table but not sync anything else and deliver the same error as before.

Don't know if related:  I have noticed the db connection resulting in the following entry showing up in the postgresql logs:
FATAL:  unsupported frontend protocol 1234.

[2020-09-29 06:06] #6707 closed

[2020-09-29 06:21] Siedlerchr commented on #6707
@mayrmt  Thanks to the groundwork by @KunAndrew  and the finishing of us, we could merge it

[2020-09-29 06:54] #5835 closed

[2020-09-29 07:03] mlep commented on #6866
@fabiojavamarcos I have just tested the feature. It works like a charm now! Thanks a lot for your contribution to JabRef development. That will make life easier for many people!

[2020-09-29 07:06] Gena928 commented on #6867
Seems like `alt+shift+R` is OK.
In case if no more comments, I'll create a pull request.

[2020-09-29 07:38] Gena928 commented on #6867
Ouch ))
I've created a pull request and it shows 56 commits and 2 files change. Looks like this is because I created the branch from my Master, but it should be created from JabRef/Master.

Is that a problem? If yes, I will create a new commit.

[2020-09-29 08:00] m-mauersberger commented on #5071
Performance issues persist for me when using a large database (~5000 entries) as well: database operations take ~5-10s. I want to use it as shared DB but the problem is the same for local and shared databases. Even if no changes are present, reloading of (shared) database takes the same time!

Maybe it has something to do with the `EventBus`? Just as a quick idea: Can it be the reason for slow dow

[2020-09-29 08:09] m-mauersberger opened #6959 "Exception when "pulling changes" from local database"
JabRef 5.2--2020-09-29--2d92025
Linux 4.12.14-lp151.28.67-default amd64
Java 15

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Load a local database.
2. Click on "Pull changes from shared database"
3. Exception has been thrown.

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-09-29 08:55] mwittchen commented on #6957
Thank you for diving into the details and finding a solution for the problem! This also works when "- " citations are already inserted into the document, which get exchanged for the correct citations when enabling "automatically sync". I think updating the help/documentation is not enough, as the "author/year" citation styles are correctly inserted into the document without enabling "auto sync" or

[2020-09-29 09:01] Siedlerchr commented on #6957
@mwittchen I think the difference is that JabRef recalculates the numbers, let's say you have citation A [1] and citation B [2] and you now insert citation C after citation A,  JabRef needs to recalculate the numbers. So that citation B now becomes [3].

[2020-09-29 09:40] mwittchen commented on #6957
@Siedlerchr I understand the underlying technical problem when using the number citation style. Nevertheless I guess that the average JabRef user is not aware of this and might come to the conclusion that JabRef is not working properly. Maybe the best "bug fix" is to activate auto sync as a default regardless of the chosen citation style and the user has to turn auto sync off manually if he does n

[2020-09-29 10:11] Siedlerchr commented on #6957
I've edited the title and added it as feature request

[2020-09-29 10:35] Gena928 commented on #6796
@Siedlerchr,
if possible, I would like to offer 2 solutions for this issue:
1) Convert column into "field column".
Column header will change its color as required. But we are loosing a tooltip - "Index". I noticed, that all other columns with text in header do not contain tooltips. So, maybe it's OK.

2) Change column header from "#" into an icon.
In this case we are not loosing tooltip. Example:

[2020-09-29 10:45] mwittchen commented on #6957
Thanks!

[2020-09-29 12:49] Siedlerchr commented on #6796
@Gena928  Thanks for taking this.
I am actually not that deep into the main table column model. Maybe @calixtus or @tobiasdiez  can say more

[2020-09-29 14:17] tobiasdiez commented on #6796
Another idea would be to add a style class to the node in https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java#L132 which sets the right font color.

[2020-09-29 14:26] fabiojavamarcos commented on #6866
It is a pleasure to help!

[2020-09-29 14:50] Gena928 commented on #6796
@tobiasdiez
thanks for Idea. I found a stylesheet `Dark.css` and feel like `.text-unchanged` is what we need.
`header.getStyleClass().add("text-unchanged");`

<img width="403" alt="Screenshot 2020-09-29 at 17 46 57" src="https://user-images.githubusercontent.com/20572030/94574473-d99b5200-027b-11eb-8840-fdb577ebbbb6.png">

Can I create a pull request?

[2020-09-29 14:59] Siedlerchr commented on #6796
@Gena928  Sure, go ahead! Another issue with the Dark Theme was reported here, maybe you can also take a look at that #6791

[2020-09-29 15:38] calixtus commented on #6796
Are there any examples where "text-unchanged" is also used?

[2020-09-29 16:23] Gena928 commented on #6796
I found only one more entry in package `org.jabref.gui.mergeentries`.
Class `DiffHighlighting`.
Method `public static Text forUnchanged(String text)`

[2020-09-29 20:07] szhorvat commented on #6843
Unfortunately, this is a hit-or-miss. Sometimes it works, sometimes the Paste menu item is inexplicably greyed out. Right now I can't even paste between two databases concurrently open in JabRef. I can't determine what causes this, it seems random whether it works or not (does not depend on the copied entry).

[2020-09-29 20:07] IsaacRoles commented on #6796
I was able to solve the same issue with these small changes to:
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java#L132
and
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/icon/IconTheme.java

![Screenshot from 2020-09-29 15-55-19](https://user-images.githubusercontent.com/71780917/94609598-0431de80-026d-11eb-89

[2020-09-29 22:36] calixtus commented on #6796
Thank you all for your proposals, but I don't think that both are not a real solution for this issue.

As the css-class text-unchanged for the header is used for something completly unrelated to the header text color. Following this proposal would result in strange behaviour, if someone later decides to change the color of text-unchanged to something else, if he want's to change the color of uncha

[2020-09-29 22:43] calixtus commented on #6936
@NRJank Thanks for this bug report. I'm actually a bit curious, why the antlr parser is complaining. Please report back, if you can find a way to reproduce the bug.

[2020-09-29 22:47] calixtus commented on #5941
thanks for reporting, i'll put this in the line on high, seems like jabref is hard to use with the dislocated menus on multiple screen setups.

[2020-09-29 22:49] calixtus commented on #6935
@NRJank thanks for reporting and for linking to the other issue. I'll mark this as duplicate, if that's fine for you. I have put the other issue report in our soon to fix bug list.

[2020-09-29 22:49] #6935 closed

[2020-09-29 23:10] NRJank commented on #6936
haven't found anything consistent yet. couple other times it happens I tried repeating the previous few actions after reopening and it didn't happen. since I'm not always working in that biblatex source tab, its hard to tell when the problem kicks in.

regarding the ANTLR error in the log, consistently the first time I open Jabref I get the Statuslogger errors.  just clicking on any item in the da

[2020-09-30 00:21] mpatas opened #6962 "Adding simple "Copy" in addition to "Copy preview" to right-click menu of preview"
Perhaps it would be worth to add a simple "Copy" in addition to "Copy preview" to right-click menu of preview pane. Sometimes it is convenient to copy just a part of preview (selected beforehand), and to use right-click menu for that, as in many other programs. But in JabRef (version 5.1) right-click menu only allows one to copy the whole preview. By the way, Ctrl-C still works, and thus is a work

[2020-09-30 06:27] Siedlerchr commented on #6843
@szhorvat  Are you using the latest development version? There have been also some follow up fixes

[2020-09-30 06:31] szhorvat commented on #6843
@Siedlerchr OK, I'll try today's dev version because 5.1 has been a pretty rough ride. If you are aware of any serious/dangerous (= data loss) issues in today's build, please do give me a warning.

[2020-09-30 06:39] Siedlerchr commented on #6843
As always, when trying out a new version it's recommended to make a backup of your library. Otherwise I don't see any problems.

[2020-09-30 10:59] tobiasdiez commented on #6796
I agree completely with @calixtus.

[2020-09-30 18:50] calixtus commented on #6936
Thank you for the quick response. I believe we need to wait, until some regular reproducibility can be seen or another user is affected by this issue. We'll keep it open.
The antlr issue seems to be another problem. I'll ask @tobiasdiez , if hes got an idea, since he is - I believe - the most experienced one of us with the external dependency resolution in github.

[2020-10-01 10:10] i-regular opened #6964 "Cannot add special characters like curley brackets or copy/pase in Bibtex source entry"
Dear community and developers,

I recently downloaded version 5.1 of JabRef for macOS (Catalina).  If I open an entry and go to the "Bixtex source" tab I cannot insert any special characters like { or [. Furthermore I cannot copy paste using the usual shortcuts like cmd + c and cmd + v, this only works if I right click. It was possible to do all this in version 5.0

Steps to reproduce the behavior

[2020-10-01 11:52] Siedlerchr commented on #6964
Thanks for your report.
Copy pasting works again in the latest development version  from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.
You can also paste bibtex directly on the maintable without creating a new entry first.

The entering of the curly braces seems to be a bug in the external libr

[2020-10-01 14:33] AtrusRiven opened #6966 "Bulk Copy/Open files"
I would find it very helpful if it were possible to copy/open multiple attached files at once (after having selected multiple entries and having right-clicked and having selected from the context menu: "copy/open all files attached to the selected entries").

[2020-10-01 15:06] tobiasdiez commented on #6936
The antlr dependency is defined in
https://github.com/JabRef/jabref/blob/18371b51187890fca1437a8382b806f4c3c27f6c/build.gradle#L137-L138
and it looks like 4.8 should be used for the generation as well as for the runtime. Anyway, I don't think this warning is really related to this issue, and I also wouldn't spent time fixing ANTLR 4 since this only used for the search syntax and we wanted to switc

[2020-10-01 16:27] umuen opened #6967 "Runaway process, High CPU and RAM usage for large databases when autocompletion preference is enabled"
JabRef version JabRef 5.2--2020-09-29--2d92025 on Mac OS X 10.15.7

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

**Symptoms:**

- Starting JabRef results nearly always in runaway behaviour, laptop cooling system kicks in, a 'top' shows 600-800% processor used by jabref. Sometime this starts directly, sometimes onl

[2020-10-01 17:42] Siedlerchr commented on #6966
I'm not entirely sure what you exactly mean, but do you know about the Autolink files feature?
Maybe that's what you wantto achieve
https://docs.jabref.org/finding-sorting-and-cleaning-entries/filelinks

[2020-10-01 18:06] mlep commented on #6936
I have noticed the same thing with my BibTeX database.
It is a recent problem. It happens from time to time (like one an hour)
Nothing in the log.

JabRef 5.2--2020-09-29--8a44d41
Linux 4.9.0-13-amd64 amd64
Java 15

[2020-10-01 19:18] IsaacRoles commented on #6957
I am interested in solving this issue if you want to assign it to me. I am looking for a good first issue to solve.

[2020-10-01 20:06] Siedlerchr commented on #6957
Thanks for your interest. This issue is a good opportunity to understand the project. To get started follow our contribution guide  https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md
And just create a PR

[2020-10-01 21:07] AtrusRiven commented on #6966
Be it that I want to give all PDFs (full texts) related/belonging to multiple entries to another person. At the moment, I have to pick and copy the files one by one by right-clicking on every entry and select "Open folder" where the related file is selected. But it would be very helpful if I could copy all files related to multiple entries in one single step.
Another use case would be to open (ins

[2020-10-02 00:01] akwala commented on #6696
I'd like to take this on. I've read the Contribution document. Will touch base shortly in your chat channel.

[2020-10-02 06:09] Siedlerchr commented on #6966
@AtrusRiven  You are lucky, for the bulk copying/exporting there is already a feature in JabRef.
You select multiple entries and go to Tools -> Copy linked files to folder and JabRef will export all linked files from the entries to a folder you specify. Maybe that feature helps you already?

[2020-10-02 10:34] AtrusRiven commented on #6966
Thanks, @Siedlerchr! That does the trick for copying/exporting. I'd be glad if it were possible to add the feature "open linked files" (in addition / parallel to the bulk copy feature).
Thanks for your fast help!

[2020-10-02 11:51] hao203 commented on #6947
Really thank you.

[2020-10-02 12:03] #6947 closed

[2020-10-02 13:33] nickorlov commented on #4606
Support! If I open pdf file (size 54,5 MB), after few hours Document Viewer freezes.

[2020-10-03 13:18] koppor commented on #3122
I got the tooling hint to publish an rpm: https://copr.fedorainfracloud.org/

[2020-10-03 14:05] Siedlerchr commented on #6967
Thanks for the report. I could partially reproduce this. I tested with a library of around 6500 entries. It seems to be related to the search. When I search the cpu goes up, but stil okay, but when I then cancel (or X the search), my laptop fan also goes  high. Trying to quit it seems not to work either. Somehow a thread is still active in the backgrond.

[2020-10-03 14:12] magsilva commented on #6936
I have also noticed this problem since JabRef 5.0. I think I could create an example to reproduce the error.

1. Select an entry. You may access the "BibTeX source" tab to verify that you can edit the entry.
2. Modify any field, adding some symbol that would make the entry invalid. For instance, you can add a '{' in any field.
3. Save the database. An error will be shown (as expected).
4. Fix the

[2020-10-03 15:02] magsilva commented on #6936
This patch seems to do the trick. It re-enables codeArea as editable if the source code is correct (we cannot fix the error introduced in step 2 in the source area, but we can fix it by editing the field, which will trigger the listener and call the 'updateCodeArea()' method, which will enable the codeArea if the source of the BibTeX entry is syntactically correct).

[code]

[2020-10-03 15:13] Siedlerchr commented on #6936
@magsilva  Would you be so kind to submit a PR? That would be really great!

[2020-10-03 15:15] calixtus commented on #6936
I don't understand yet, why the code area is disabled at all...

[2020-10-03 18:34] Siedlerchr commented on #6892
@k3KAW8Pnf7mkmdSMPHz27  Is this issue now fixed?

[2020-10-03 18:58] k3KAW8Pnf7mkmdSMPHz27 commented on #6892
@Siedlerchr no, not yet. I have not published a branch for this issue yet

[2020-10-03 20:26] #6964 closed

[2020-10-03 20:36] #6759 closed

[2020-10-03 20:54] Siedlerchr commented on #6759
Thanks to @tmrd993  this issue is now fixed in the latest master version (currently building)

[2020-10-03 21:36] mjfs opened #6974 "Alternative serialization format as core data file (e.g. YAML in addition to BibTeX)"
Alternative serialization format support (e.g. YAML in addition to BibTeX)

Probably many use cases where `JabRef`'s data file is used include `Pandoc`. Although it is common to use `BibTeX` as input into `pandoc-citeproc`, `YAML` serialized `BibTeX` (citeproc YAML) is also an option. When using `Pandoc`'s flavour of `markdown`, `YAML` is also the format of the metadata block.

It would be fantast

[2020-10-03 22:07] Siedlerchr commented on #6974
Thanks for your suggestion. JabRef is based on bibtex and therefore bibtex/biblatex will always be the main format. However, those functionality could be made avaiable as importer/exporter. JabRef support already several export and import formats.

With JabRef's custom exporter capabilitles it should also be possible to manually build the format for the yaml exporter.
https://github.com/JabRef/jab

[2020-10-04 18:02] Siedlerchr commented on #6936
Thanks to @magsilva  this issue should now be resolved in the latester development version (currently building).

[2020-10-04 18:02] #6936 closed

[2020-10-04 18:05] Siedlerchr commented on #6890
DId you encounter this problem again?

[2020-10-04 19:53] Gena928 commented on #6796
Good day everyone.
If possible, I would like to get your advice, before creating a pull request.
I've added CSS class to `Dark.css` & `Base.css`:
[code]
Then I added this css class to [MainTableColumnFactory.java After line 132](https://github.com/JabRef/jabref/blob/1caaadd2f576d2f4843e398c7cf5d8d4ffcc1886/src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java#L132)

`header.getStyleCl

[2020-10-04 20:14] calixtus commented on #6796
Sounds reasonable. Does it work?
If it's the same for dark.css and for base.css it should be sufficient to add it to base.css, as dark.css only makes some modification to the base.css.

[2020-10-05 03:15] bulkpool commented on #2633
I would like to contribute and solve this problem. Please allow me to fork the software

[2020-10-05 04:56] crystalfp commented on #6890
Deinstalled an installed from http://builds.jabref.org/master/
Now JabRef does not start anymore, but the icon is present.
What I don't know is if the icon has been installed by the installer or is a relic of my previous setting it manually.
Now trying to make JabRef working again...
Thanks!
mario

[2020-10-05 05:02] crystalfp commented on #6890
Well, removing the shortcut from the Start menu, after installation does not appear in the start menu. No JabRef folder containing JabRef link to the program.
I cannot get the program version because it does not starts. But is the version downloaded today at 4.42 CET

[2020-10-05 05:10] crystalfp commented on #6890
Temporary made JabRef start by running runtime/bin/JabRef.bat

JabRef 5.2--2020-10-04--31f894c
Windows 10 10.0 amd64
Java 15

[2020-10-05 05:49] Siedlerchr commented on #6890
Thanks for the feedback. That's odd. We will investigate that

[2020-10-05 05:52] Siedlerchr commented on #6890
@crystalfp  Can you please test to start the Jabref.exe from the cmd? Do you get any errors?

[2020-10-05 06:20] crystalfp commented on #6890
I have to run JabRef.bat from runtime\bin, the JabRef.exe in the installation directory does nothing.
[code]
The same problem happened before, unfortunately I don't remember how I had solved it.
Thanks!
mario

[2020-10-05 06:24] Gena928 commented on #6796
@calixtus
thanks for comment. I removed CSS class from `Dark.css` and the picture is still OK.
<img width="561" alt="Screenshot 2020-10-05 at 09 21 34" src="https://user-images.githubusercontent.com/20572030/95046183-51d69d00-06ec-11eb-8349-77f4eef39335.png">

<img width="561" alt="Screenshot 2020-10-05 at 09 16 04" src="https://user-images.githubusercontent.com/20572030/95046190-59964180-06ec-11e

[2020-10-05 06:51] mlep commented on #6759
@tmrd993 It works now! Thank you for solving this issue.

[2020-10-05 06:55] Siedlerchr commented on #6796
@Gena928  Yes, that's good, so go ahead and crate your PR!

[2020-10-05 07:58] calixtus commented on #6796
Looks good. Can you please also check some of the dialogs that use a table that they are fine too?

[2020-10-05 08:38] Gena928 commented on #6796
Sorry, can't find them. )) I see that `MainTable` can be created only via `BasePanel.getMainTable`.
When I trace usage of `BasePanel.getMainTable` I see that only 2 methods are using it:
- PreferencesDialogViewModel (refresh method of `MainTable`)
- GlobalSearchBar (selectFirst method of `MainTable`);

Sorry, are there any dialogs, that use `MainTable`?

[2020-10-05 12:35] #6796 closed

[2020-10-05 13:06] calixtus commented on #6796
Ooops, did not think before writing. Sorry. :-D

[2020-10-05 13:33] mlep commented on #6796
@Gena928 Thank you for fixing this!

[2020-10-05 14:44] AtrusRiven opened #6984 "Modifying custom themes"
The dark visual theme has a very low contrast, over time resulting in a quite taxing reading experience:
![2020-10-05 16_41_28-JabRef](https://user-images.githubusercontent.com/29101440/95093988-ad734b80-0729-11eb-94f4-96ca82da3fa1.png)
It would be better if the font color were white instead of grey respectively could be changed.

[2020-10-06 03:27] crystalfp commented on #6890
Forgot to add the Java Error log:
[hs_err_pid5340.log](https://github.com/JabRef/jabref/files/5331222/hs_err_pid5340.log)

[2020-10-06 04:37] AntonioDEM opened #6986 "JabRef for Safari"
is there any way to insert an extension for safari?

[2020-10-06 05:12] AntonioDEM opened #6987 "difficulty importing from FireFox browser"
JabRef v5.1  on Mac OS X 10.15.7 Catalina - FireFox 81.0.1

this is the first time I use JabRef, I usually find Zotero very comfortable as it has a great extension.

I'm having difficulty importing from FireFox browser.
when i press "ctrl-alt-j" i have these two situations:

**1.** **on a website** where I look for the meaning of the "identity function" for example.

JabRef extension does not appe

[2020-10-06 07:05] alito21 commented on #6690
I am experiencing the same problem under Windows 10.

[2020-10-06 12:56] Siedlerchr commented on #6890
@crystalfp  Thanks. Could you please try this version? if the exe starts?
https://builds.jabref.org/pull/6988/
I changed the jdk

[2020-10-06 16:40] calixtus commented on #6984
you can actually change the font color by customizing the dark.css file ( https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/Dark.css ) and including it as a custom theme in preferences->appaerance.
This is a yet not documented feature, as the implementation of this feature is still 'in motion'.

[2020-10-06 17:45] IsaacRoles commented on #6908
Unless I am misunderstanding, I believe that there is already a way to do this. If you add the Groups heading to the entry table you can sort your articles by which groups they are in.

![Pic 2](https://user-images.githubusercontent.com/71780917/95239903-a60b7b00-07d9-11eb-8120-94f80979366e.png)

In this example I have the group Nature and the subgroup Politics. I am able to see that two articles

[2020-10-06 19:27] MaciekChudek commented on #5867
Based on the the [javafx issue](https://bugs.openjdk.java.net/browse/JDK-8251240), running with environment variable GDK_DISPLAY=1 fixes this issue under XMonad (another tiling window manager).

[2020-10-06 19:52] AtrusRiven commented on #6984
Thanks for your quick response and that interesting hint! Where in the preferences is it possible to activate the custom theme? Such an adjustment can not be performed at first glance in my preferences (Version 5.1):
![2020-10-06 21_49_40-JabRef preferences](https://user-images.githubusercontent.com/29101440/95253054-2358df00-081e-11eb-8a1f-13defd24a260.png)
Thanks again!

[2020-10-06 20:17] Siedlerchr commented on #6986
Theoretically, this should be possible with Safari 14. Only the distribution seems to a bit more complicated
https://developer.apple.com/documentation/safariservices/safari_web_extensions

https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari

@LyzardKing  Maybe has an idea if this would be possible

[2020-10-06 22:37] BartLH commented on #6917
Bump. Feedback was given over two weeks ago, but the tag is still 'waiting-for-customer-feedback'.

[2020-10-07 03:27] crystalfp commented on #6890
No, it does not start. But creates the following error log:
[hs_err_pid11668.log](https://github.com/JabRef/jabref/files/5338099/hs_err_pid11668.log)
And the installation does not put the JabRef icon in the start menu.

[2020-10-07 06:08] Siedlerchr commented on #6917
Sorry for the delay. It's related to the journal abbreviations .have you tried to reset your preferences?
Just start JabRef from the commandline and add the switch -d all as argument

[2020-10-07 06:09] Siedlerchr commented on #6984
@AtrusRiven  This feature is only available int he current development version:  https://builds.jabref.org/master
Please remember to make a backup of your library before trying-out this version.

[2020-10-07 07:51] LyzardKing commented on #6986
It should be possible...
I'm not sure how the implementation of native-messaging is in safari, but according to this page it shouldn't be too bad:
https://developer.apple.com/documentation/safariservices/safari_web_extensions/messaging_between_the_app_and_javascript_in_a_safari_web_extension

[2020-10-07 09:18] BartLH commented on #6917
Cool, that fixed it. Thanks!
However, I used a clean portable version for testing. Does that mean that the portable version somehow reads the preferences of the specific machine it's being run on?

[2020-10-07 09:28] Siedlerchr commented on #6917
@BartLH  Yep, it acesses the preferences (on Windows the registry) as well. The portable and installer version aren't really different,  the installer only installs it to the program files, creates start menu and registers its uninstaller as well

[2020-10-07 09:28] #6917 closed

[2020-10-07 10:33] AtrusRiven commented on #6984
Thanks, @Siedlerchr , although the client does not launch somehow. I'll try it when released. :-)

[2020-10-07 15:05] candrews commented on #5866
Has anyone reported this issue to Pango? If so, can you please provide a link to it?

[2020-10-07 15:51] Siedlerchr commented on #5866
It might be fixed in javafx 15 (we plan to use that soon), at least there was something I read about pango

[2020-10-08 06:09] Toromtomtom commented on #6922
Fixed by https://github.com/JabRef/jabref/commit/ce9f714f6d01c8a49fccf5c8df9cbf5bc3e8403f.

[2020-10-08 06:09] #6922 closed

[2020-10-08 06:54] mlep opened #6991 "UI: two menus for "Manage external file types""
There is two ways to access the window "Manage external file types":
1. Options -> Manage external file types
2. Options -> Preferences, tab External programs, button "Manage external file types"

Considering the management of external file types is seldom, I suggest to keep only the second way. Moreover, it helps in having  all the preferences in the Preferences window.

JabRef 5.2--2020-10-07--4

[2020-10-08 19:50] MaciekChudek commented on #5867
This seemed to work yesterday, but I cannot replicate the workaround today. Not sure what changed, please disregard.

However, here is another workaround that seems to work and might help diagnose the issue. Click and hold on menu (e.g. "file"), drag cursor out of JabRef window (e.g., into neighbouring tiled window, status bar, etc.). Release and menu stays open.

Alt then cursor keys also work fo

[2020-10-08 20:13] gonced8 commented on #5867
I believe someone already mentioned this, but you're able to use the buttons if you click on the bottom half of the button

[2020-10-09 01:19] skeric commented on #6848
Hi, I would like to work on that issue.

[2020-10-09 09:37] mlep opened #6994 "Menu View: Alt+ keyboard shortcuts do not work."
JabRef 5.2--2020-10-07--4b1b7b4
Linux 4.9.0-13-amd64 amd64
Java 15

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The View menu lists the following shortcuts (among others):
- 'Alt+3' for Groups interface
- 'Alt+0' for OpenOffice/Libreoffice
- 'Alt+4' for Web search

None of them are working.
I am using the default

[2020-10-09 12:44] mlep opened #6997 "Groups: "All entries" should always display all entries"
JabRef 5.2--2020-10-07--4b1b7b4
Linux 4.9.0-13-amd64 amd64
Java 15

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Currently, the group "All entries" can be edited as any other group.
This is OK for the name, description, icon and color.

This leads to surprising results when a "Collect by" item is activated (by def

[2020-10-09 16:11] vatsal-M commented on #6791
Our team @ISD14-LNMIIT wants to work on this issue. Please assign this issue to us!
@Siedlerchr @mlep

[2020-10-09 16:13] vatsal-M commented on #6791
We are a team of college undergrads and we have to solve an issue on Github as our project. We are following the team software process and as such it will take about 2 weeks for us to resolve the issue but we will ensure high-quality work.

[2020-10-09 16:21] vatsal-M commented on #6791
We (ISD14-LNMIIT) had been assigned a different issue on jabref but one of the team members got COVID-19 and we also had our mid-term exams because of which we didn't make a pull request and when we were about to make a pull request we saw that the issue has been closed. This is a very important project and we will ensure that this issue will be resolved as soon as possible. Please consider this t

[2020-10-09 17:17] tmrd993 commented on #6942
The regex matches anything that starts with `uni`. This regex would fix your example `(?<![\w\d])(University|Uni)(?![\w\d])` but it only works for the two terms in the middle (university, uni) which means it would only work for institutions written in english. Using a hardcoded list with translations of `university` would work better in this case. We could parse the institution and check if the te

[2020-10-09 19:01] mlep opened #6998 "Groups: Union/Intersection: needs re-selection of groups to take effect"
JabRef 5.2--2020-10-07--4b1b7b4
Linux 4.9.0-13-amd64 amd64
Java 15

The group pane allows to choose between an intersection and a union when selecting several groups.

- [x] Groups: Union/Intersection: need restart of groups to take effect

   Issue: When clicking on the Intersection/Union button, an information message is displayed, but the list of entries in the table of entries is not changed.

[2020-10-09 19:22] Siedlerchr commented on #6998
Good observation, guess it's related to the fact
 that the selected mode is stored in the preferences and not immediately saved/persisted and reloaded

The information message shows the current mode. The toggle button hover should always show the next mode.
Might be a timing thing related to the preference

[2020-10-09 19:27] k3KAW8Pnf7mkmdSMPHz27 commented on #6942
I am by no means an expert on these issues, but my thoughts are,

1. Regarding `shortauthor`, I don't have much of an opinion. Since the institution key, to the best of my understanding, is a heuristic/convenience feature, I don't see the drawback of using it.
2. I'd agree that the regex is a bit on the broad side.

Oupsie. That is my fault,
https://github.com/JabRef/jabref/blob/c22553352de5e25274

[2020-10-10 20:59] weimdall opened #6999 "Group's color not saved"
JabRef 5.2--2020-10-07--4b1b7b4
Linux 5.8.14-arch1-1 amd64
Java 15

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When I assign a color to a group, it is not saved properly, and not even shown in the list.

Steps to reproduce the behavior:
1. Assign a color to a group (Free search expression mode)
![2020-10-10-1651

[2020-10-10 21:20] kywelch17 commented on #6991
is this problem still relevant? would like to work on it if so.

[2020-10-11 04:32] crystalfp opened #7000 "Nothing happens creating entry from specific ISBN"
JabRef 5.2--2020-10-07--4b1b7b4
Windows 10 10.0 amd64
Java 15

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Creating entry from ISBN do nothing without any message stating the reason.

Steps to reproduce the behavior:
1. Open the new entry dialog
2. Select ID type: ISBN and enter the following ID: 88-17-21041-2
3.

[2020-10-11 09:42] crystalfp commented on #7000
The same problem for ISBN: 9788845253119

[2020-10-11 10:39] mpatas commented on #6908
Well, it is a workaround. But not a very convenient one. Especially if there are other interfering "outside" groups, or when one already uses all space for some other columns...

[2020-10-12 00:48] akwala commented on #6696
Drafting the spec for this enhancement... Please provide feedback and tips, useful info, etc. are also welcome. (I'm just beginning to look at the code.)

### Implement a new `ID Type`, _ARK_, that is similar to _DOI_

- Add _ARK_ to the "General" tab in the entry detail window with the same buttons/functionality as _DOI_ – use http://n2t.net/ to resolve an _ARK_.
![Screenshot_20201011_200058_scal

[2020-10-12 09:23] mlep commented on #6998
@Siedlerchr  In the preferences, do the two radio buttons "Display only entries belonging to all selected groups" and "Display all entries belonging to one or more of the selected entries" could be removed? (what is their use?)

[2020-10-12 15:23] wujastyk commented on #6696
Yes, parallel treatment to DOI for lookup and resolution seems the right
way, as far as I can see.

On Sun, 11 Oct 2020 at 18:48, aslam karachiwala <notifications@github.com>
wrote:

[2020-10-12 21:03] Siedlerchr commented on #6696
Hi, ARK is not a fetcher as far as I see there no way to get bibtex from an ark link.
I would just implement it in the entry editor view model/field  for the eprint type. Similar to Arxiv maybe.
I vaguely remember there is some handling for the eprint field

[2020-10-12 21:26] #6957 closed

[2020-10-13 04:58] crystalfp commented on #6890
Is it true that latest build (JabRef 5.2--2020-10-12--46cc82c, Windows 10 10.0 amd64, Java 15) does not put an entry in Start menu and does not associate .bib to JabRef? Before downgrading to the latest official version, I want to be sure it is not a problem from my side.
Thanks!

[2020-10-13 06:15] #6848 closed

[2020-10-13 06:16] Siedlerchr commented on #6848
Thanks to @skeric  this issue should now be fixed

[2020-10-13 06:25] Siedlerchr commented on #6890
Normally it should work. I will check that.
@crystalfp  Can you please test if this version starts with the exe?  https://builds.jabref.org/pull/7008/merge/
If not, please post the log here

[2020-10-13 06:28] Siedlerchr commented on #6999
Maybe relevant: #6374

[2020-10-13 06:45] mlep commented on #6999
Bug is present for "Free search expression" group, but not for "Explicit selection" or "Searching for keywords" groups.

[2020-10-13 06:48] Siedlerchr commented on #5160
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2020-10-13 06:48] #5160 closed

[2020-10-13 07:51] crystalfp commented on #6890
Deinstalled and rebooted before installing 7008/merge.
It does not start, nor it adds icons in Start Menu.
Here is the error log file: [hs_err_pid3296.log](https://github.com/JabRef/jabref/files/5369737/hs_err_pid3296.log)
I don't know if it is relevant, but the Java I have installed is 32bits: "C:\Program Files (x86)\Java\jre1.8.0_261\bin\java.exe" and the JabRef one (from the log file) seems 64b

[2020-10-13 07:57] Codeberg-AsGithubAlternative-buhtz commented on #6890
In reference to https://discourse.jabref.org/t/5-2-dev-do-not-start/2344/6?u=buhtz
pull 7008 from 13.10.2020 08:19

The msi-version still do not start, no error output or any log.

The portable-version do not start but create a log. See attachment.
[hs_err_pid13436.log](https://github.com/JabRef/jabref/files/5369807/hs_err_pid13436.log)

[2020-10-13 08:01] mlep commented on #6848
It works now! Thank you @skeric!

[2020-10-13 08:11] crystalfp commented on #6890
The Java 32bits was a red herring. Installed JRE 64bits and nothing changed.
@Codeberg-AsGithubAlternative-buhtz if you run from a writable directory the error log will be created. If you simply double click on the exe file, nothing appears because the directory under C:/Program Files/ is protected

[2020-10-13 08:18] Codeberg-AsGithubAlternative-buhtz commented on #6890
Than you should fix JabRef to write its log in the appropriated directory and also create a usefull output on stderr. I did not double click. I started via command line.

[2020-10-13 09:06] manurare opened #7010 "Markdown comments dissapear on new start when having # chars"
JabRef version 5.1--2020-08-30--e023aa0 on Ubuntu 20.04

Hi all!
I am trying to add comments in the comment tab to different entries to get myself an own insight of what I am reading. I've read that from version 5.1 on the markdown style is available. What I am trying to do is create sections in the comment: goal, achievement, method, failure... like this:
#### Goal (#### Goal)
Lorem ipsum dolor s

[2020-10-13 09:31] mlep commented on #7010
Indeed, a basic markdown support was added (https://github.com/JabRef/jabref/pull/6232).
But maybe it is too basic: while markdown syntax such as `**bold**` is preserved, using the pound (`#`) character affects JabRef behavior. I believe this is because JabRef uses `#` for BibTeX strings.

[2020-10-13 10:14] tobiasdiez commented on #6974
@mjfs with the pullrequest #7007 by @joethei YAML export will be possible in the next version. It would be nice if you could assist @joethei and other users by adding a documentation for working with markdown and bibtex at docs.jabref.org. For example, describe how it works with `pandoc-citeproc` and also with the new YAML export.

By the way, I can strongly recommend Zettlr for scientific markdow

[2020-10-13 10:16] Siedlerchr commented on #6890
Thanks all for the testing, I am in contact with the official Java Development Team regarding the error, because it's an error coming from the JDK itself. I will keep you updated.
@crystalfp  JabRef ships with it's own version of the jdk.
@Codeberg-AsGithubAlternative-buhtz  The crash happened in the JAVA VM.

[2020-10-13 12:01] ueen opened #7011 "Could not save file."
org.jabref.logic.exporter.SaveException: Problems saving: java.nio.file.AccessDeniedException:xxx
	at org.jabref@5.1.60000/org.jabref.gui.exporter.SaveDatabaseAction.saveDatabase(Unknown Source)
	at org.jabref@5.1.60000/org.jabref.gui.exporter.SaveDatabaseAction.save(Unknown Source)
	at org.jabref@5.1.60000/org.jabref.gui.exporter.SaveDatabaseAction.save(Unknown Source)
	at org.jabref@5.1.60000/or

[2020-10-13 12:51] judober opened #7012 "Error when adding file containing # to entry with character"
JabRef version 5.2--2020-10-13--fdaf25a on Windows 10

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Add bibtexentry for https://link.springer.com/book/10.1007%2F978-3-662-53281-2
2. Add file
3.  Apply format pattern: "Filename format pattern": [bibtexkey] - [title:latex_to_unico

[2020-10-13 12:51] skeric commented on #6848
@Siedlerchr and @mlep, you're welcome

[2020-10-13 12:58] mlep commented on #6936
After using JabRef for several days, the issue did not occur. So, I guess it is solved! ;-)
Thank you @magsilva!

[2020-10-13 13:01] #6892 closed

[2020-10-13 13:02] Siedlerchr commented on #7012
@k3KAW8Pnf7mkmdSMPHz27 I just merged your other PR, does this maybe fix this is as well?

[2020-10-13 13:19] k3KAW8Pnf7mkmdSMPHz27 commented on #7012
@Siedlerchr I don't think so. I'll take a look at it. I don't know how the source file line should look...

[2020-10-13 13:58] k3KAW8Pnf7mkmdSMPHz27 commented on #7012
I can't reproduce. I'd guess that a workaround is to use `:regex("[{}]","")` rather than `remove_braces_formatter` (the brackets in regex were only an issue for citation keys, not filenames).

@judober could you paste the bibtexentry or link to it? I am not familiar with springer's webpage and the one I got from google scholar does not match yours.
Also, I'd appreciate if you check if the workarou

[2020-10-13 14:00] k3KAW8Pnf7mkmdSMPHz27 commented on #7012
@Siedlerchr I don't know what is going on in this issue, but I don't think my PR should impact this.

[2020-10-13 14:06] Siedlerchr commented on #7012
Okay. I think the regex or so does not make sense because the # is interpreted as bibtex string.
@judober It would be really nice if you could show how it should look like, e.g what the expected outcome shoud look like

[2020-10-13 14:43] judober commented on #7012
I tested again and I think I have to close Jabref and open it again in order to reproduce (will update original post). Just added the entry through doi, loaded the pdf (probably any pdf will do) and draged in on the entry. When I click the pdf symbol after restart my documentsfolder is opened but neither the pdf folder nor the pdf. Also I have the weird file-entry in the biblatex source that cause

[2020-10-13 15:58] k3KAW8Pnf7mkmdSMPHz27 commented on #7012
I can reproduce it from the "new entry" button in the GUI.
<img width="476" alt="Skärmavbild 2020-10-13 kl  11 54 33" src="https://user-images.githubusercontent.com/2598631/95885329-22a6d800-0d4b-11eb-8424-7eefabcb5670.png">

On a side note, I also get
`11:54:05.303 [JavaFX Application Thread] WARN  org.jabref.logic.citationkeypattern.BracketedPattern - Key generator warning: unknown modifier 're

[2020-10-13 16:51] wujastyk opened #7013 "Citation key missing its hyphen"
JabRef version

JabRef 5.2--2020-10-13--e955c46
Linux 5.4.0-48-generic amd64
Java 15

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. setup the citation key generator as follows

![image](https://user-images.githubusercontent.com/762246/95891116-d86d2900-0d41-11eb-8a3c-cd6105d2abe9

[2020-10-13 17:37] Codeberg-AsGithubAlternative-buhtz commented on #6890
Useless because the bug ticket can not be monitored because the system is restricted to high level users. No way to create an account for normal persons like me. Thanks Oracle. ;)

[2020-10-13 18:35] wujastyk commented on #7013
I think I've solved my own problem, but this is still a recent change in Jabref's behaviour, and Jabref's behaviour is a bit obscure.

Looking at the cite-key setup page,

![image](https://user-images.githubusercontent.com/762246/95901122-1d985780-0d50-11eb-815b-a7b6cdc0bcba.png)

the problem I was encountering was caused because the hyphen was included in the list of "remove the following charact

[2020-10-13 19:24] k3KAW8Pnf7mkmdSMPHz27 commented on #7012
It doesn't seem like there should be an issue if there is only one `#` (based on `BibDatabase#resolveContent`). The split (`{:Ham81 - Organische Leiter, Halbleiter }{und Photoleiter.pdf:PDF},`) happens as soon as you have two (e.g., you can add it to the title `Organische leiter, halbleiter ##und photoleiter`). Perhaps that's why it hasn't been an issue before?

I'd guess adding it to `FileNameCle

[2020-10-13 20:24] Siedlerchr commented on #7012
@k3KAW8Pnf7mkmdSMPHz27  Good idea to add it to the illegal chars to avoid problems

[2020-10-13 20:44] Siedlerchr commented on #7012
I don't know how feasible this is, probably needs more thinking. Normally in LaTex you can escape those "illegal" chars using a backslash.  And we have already a LatexCleanUpFormatter who does this for certain things. I remember having % signs in the abstract field needed to be escaped.
I tried to escape the # using backslashes as well in the regex, but JabRef still mangles it.

Refs also #7010

O

[2020-10-13 21:02] k3KAW8Pnf7mkmdSMPHz27 commented on #7012
If this is a rarely used feature, perhaps it should be opt-in rather than opt-out? Or perhaps with some defaults for `title`, `author` instead of all STANDARD_FIELDS? (see `preferences -> file -> Resolve strings for standard BibTeX fields only` for the current settings)

[2020-10-13 21:32] k3KAW8Pnf7mkmdSMPHz27 commented on #7012
You are right. The more I look into it, the more sense it makes to solve it rather than avoiding it.

[2020-10-14 04:58] koppor commented on #7012
Can you try to remove `_formatter` in the settings? Meaning, it should read `remove_braces`.

I also added an issue https://github.com/JabRef/user-documentation/issues/318 hopefully guessing right what's going on there.

[2020-10-14 05:10] koppor commented on #7010
Maybe the internal handling of `#` takes place at a wrong thing. Currently, it is from the data model to writing and reading. Not from the data model to the presentation. The decision back then was that BibTeX data is presented as key/value and the value is a simple string (sequence of characters). When using BibTeX strings, the data gets a list of strings (character sequences) and BibTeX strings.

[2020-10-14 08:42] mlep opened #7015 "Secondary sorting: not working for some special fields"
JabRef 5.2--2020-10-13--fdaf25a
Linux 4.9.0-13-amd64 amd64
Java 15

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In the entry table, entries can be sorted by clicking on the column title (primary sorting). By holding the SHIFT key, a second sorting criteria can be used.
It works with a primary sorting and a second

[2020-10-14 08:56] mlep opened #7016 "Toggle of special fields does not work for sorted entries"
JabRef 5.2--2020-10-13--fdaf25a
Linux 4.9.0-13-amd64 amd64
Java 15

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When entries are marked and sorted by a special field, "toggling" the special field of these entries does not work.

Steps to reproduce the behavior:
1. open the file jabref-authors.bib (https://github.

[2020-10-14 09:26] koppor commented on #6696
JabRef needs to construct the BibTeX. It needs to apply some heuristics. For the example, the BibTeX is only

[code]

There is a side issue: We support `doi` as field (`doi = {10.1007/s00450-019-00407-8}`), but `eprint = {doi:10.1007/s00450-019-00407-8}, eprinttype = {doi}` is the same.

@wujastyk I wonder why `ark` appears both in `eprint` and `eprinttype`. Isn't the prefix `ark:` enough?

[2020-10-14 09:59] Siedlerchr commented on #6627
Thanks to @joethei  this feature is now implemented

[2020-10-14 13:31] koppor commented on #7011
I assume that if https://github.com/JabRef/jabref/issues/2633 is fixed, this issue is also fixed.

[2020-10-14 15:43] vatsal-M commented on #6791
@Siedlerchr Can you assign @ISD14-LNMIIT this issue as I'm a part of this team?

[2020-10-14 17:33] akwala commented on #6696
By "issue" do you mean this shouldn't be the case?

I wondered whether the "ark:/" should be in the `eprint` field. Is there a convention or rule for what comprises an `eprint` value?

(I am new to BibTeX.)

[2020-10-14 17:59] wujastyk commented on #6696
I have never seen an ARK reference without the ark:/ prefix.  So I have
presumed that it is not to be split off.  But I could be wrong.

There's a statement of the standard here:

   - https://en.wikipedia.org/wiki/Archival_Resource_Key

that says the structure is:

[http://NMAH/]ark:/NAAN/Name[Qualifier]
The NMAH, Name Mapping Authority Host, is the resolver (commonly
http://n2t.net).  But it doe

[2020-10-14 19:37] THgithub19 commented on #3925
Science still gets a yellow warning mark in Jabref 5.1, issue not resolved.

[2020-10-14 20:10] Siedlerchr opened #7017 "Update to JavaFX 15"

[2020-10-14 20:12] Siedlerchr commented on #6890
We downgraded the windows version back to java 14, so the exe issue should not be longer a problem.

[2020-10-14 20:30] Siedlerchr opened #7019 "Add Cleanup for copying over physcial review article id as the page number (revtex)"
[Background, Request from the forum](https://discourse.jabref.org/t/page-number-in-physical-review-entries/2247/5):

[code]

-------
Idea for solution: Implement a CleanUp, simliar to the DOI Cleanup: https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/cleanup/DoiCleanup.java

1. Access the BibEntry object
2. Check for existence of field DOI
3. extract the article id from i

[2020-10-15 06:57] Codeberg-AsGithubAlternative-buhtz commented on #6890
Can confirm that this version is running with Windows 10

JabRef 5.2--2020-10-14--a768f6e
Windows 10 10.0 amd64
Java 14.0.2

[2020-10-15 12:06] AlexPars commented on #6890
This development build is running under Windows. However, the "Check Integrity" option does not work anymore under the development build for the last few days

[2020-10-15 12:45] Siedlerchr commented on #6890
@AlexPars  Works fine for me. Can you please open a new issue with some details e.g. what exactly is not working.

[2020-10-15 13:10] PremKolar commented on #7016
Can I do this?

[2020-10-15 13:23] AlexPars commented on #6890
will open a new issue. The problem is the following: I can run "Check integrity" (Quality -> Check Integrity) , and at the end of run I am getting a pop-up message "Error occurred: Integrity check failed" , with no other details

[2020-10-15 14:17] sambo57u commented on #7019
We need this badly....I wish I could program in java but can't. I have been suffering from this for a long time and have to do it
by hand after every import.

[2020-10-15 14:32] crystalfp opened #7020 "Error message before starting new entry from ID"
JabRef 5.2-PullRequest7008.168--2020-10-12--67c873b
Windows 10 10.0 amd64
Java 15

The new entry dialog has always the ID field marked with red corner and red "!". But this error message makes sense only if I push Generate without putting anything in the ID field and without pushing any of the predefined entry types. But in this case the Generate button is correctly disabled. So the message can be

[2020-10-15 14:48] crystalfp commented on #6890
Yea! This version JabRef 5.2--2020-10-14--a768f6e starts from the exe! Thanks!
Unfortunately installation elicit the classical Windows protection dialog:

![image](https://user-images.githubusercontent.com/865866/96144942-00f15080-0f05-11eb-8607-c23c645dea87.png)

and does not put an entry in the Start menu, but correctly associates JabRef to .bib files.

We are almost there!
Thanks for your effor

[2020-10-15 16:09] Siedlerchr commented on #7020
Similar issue and proposed solution: https://github.com/JabRef/jabref/pull/6418#issuecomment-645950155

[2020-10-15 16:09] #4947 closed

[2020-10-15 16:09] #7017 closed

[2020-10-15 16:13] Siedlerchr commented on #6890
@crystalfp The Windows protection dialog will always come because we don't have a code signing certificate yet (that costs money). We tried to buy one but it was not successful. We will probably try this again once our non profit org is officially registered.

I just merged a change which should now create a start menu folder as well. Should be ready in half an our so.

[2020-10-15 16:15] Siedlerchr commented on #6791
I can only assign persons.

[2020-10-15 16:17] Siedlerchr commented on #4947
This issue should now finally be solved! (A new build is currently on the way)

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-10-15 16:19] Siedlerchr commented on #5866
I just merged in the new javafx version. According to the changelog https://github.com/openjdk/jfx/blob/jfx15/doc-files/release-notes-15.md
this issue might be finally fixed

[2020-10-15 16:53] sambo57u commented on #5866
I can confirm that it is fixed! Thanks.

[2020-10-15 19:57] AlexPars opened #7021 ""Check integrity" cannot be completed on Windows"
The problem is the following: I can run "Check integrity" (Quality -> Check Integrity) , and at the end of run I am getting a pop-up message "Error occurred: Integrity check failed" , with no other details

This is run under Windows 10

JabRef 5.2--2020-10-14--a768f6e
Windows 10 10.0 amd64
Java 14.0.2

The Event log is empty

[2020-10-15 20:41] Siedlerchr commented on #7021
Could you please add a Screenshot?
 That might help us to identify the dialog and hopefully the cause

[2020-10-15 20:53] AlexPars commented on #7021
![Jabref_IntegrityCheckFailed](https://user-images.githubusercontent.com/37603697/96184764-e9b36280-0f06-11eb-8f81-aa76cea186a6.PNG)

snapshot of error

[2020-10-15 22:59] BenjaminDAnjou commented on #7019
Note that there is a subtlety here. The Physical Review journals changed their article numbering at the end of the 20th century. For instance:

https://journals.aps.org/pra/edannounce/PRAv60i4.html
https://journals.aps.org/prb/edannounce/PRBv62i17.html

Before, they had normal page numbers. They then moved to electronic article IDs.

So I think it's really necessary to check if a page number alrea

[2020-10-16 02:24] crystalfp commented on #6890
I confirm that JabRef 5.2--2020-10-15--13a80ba solved all problems.
If you don't mind, I close this issue.
Thanks again for your work!
mario

[2020-10-16 02:24] #6890 closed

[2020-10-16 12:26] wc-chan commented on #6730
Is anyone working on this? I'd like to give this a go.

[2020-10-16 12:55] Siedlerchr opened #7022 "Snap build no longer working"
From the action:

https://forum.snapcraft.io/t/failed-to-generate-snap-metadata-adopt-info-refers-to-part-synfig-studio-but-that-part-is-lacking-the-parse-info-property/18733/11
https://github.com/JabRef/jabref/runs/1262693776?check_suite_focus=true

[2020-10-16 22:20] Siedlerchr commented on #7021
Thanks. I figured out that the failure does not report any details. I added a change that should display an exception or so in the details of the dialogs. It would be nice if you could try the new master version then and report back (with hopefully more details) on the concrete error.

[2020-10-17 08:08] LyzardKing commented on #7022
I'll look into it.
I think it's mostly an temporary issue in build.snapcraft.io, because nothing changed on our part..
I'll test locally and see if we can override the setting.

[2020-10-17 10:48] teertinker commented on #7010
I was just thinking, users may apply the markdown formatter to other fields (e.g. like abstract) to use the new markdown function. So just escaping the comment field may not be a real solution

[2020-10-17 12:49] tmrd993 commented on #7019
Hello
I'd like to work on this if that's okay.

[2020-10-17 12:52] sambo57u commented on #7019
That would be great! (cok memnun olurum!)

[2020-10-17 14:31] AlexPars commented on #7021
Thank you for enabling the details. With the latest development build (from 2020-10-16), I am getting the following details

Illegal char <:> at index 4: http://arxiv.org/pdf/2002.10199v2

The error is due to additional character(s) automatically added when an arXiv article was added to bib file
file         = {:http\://arxiv.org/pdf/2002.10199v2:PDF},

[2020-10-17 14:50] AlexPars commented on #7021
Update: after removing the extra character : in all arXiv bib entries with file = {:http://arxiv.org/pdf..., the "check integrity" operation was finished successfully. Thus this issue can be closed

That added capability (of having the details of the error shown) was very useful. Thank you for it.

On a side note, one may need to look into why that additional character : was added to file field in

[2020-10-17 14:58] Siedlerchr commented on #7021
Thanks for the feedback. There have recently been some internal changes to the handling of files and urls. Probably related.

[2020-10-17 15:00] Siedlerchr commented on #7019
@tmrd993 go ahead, just create a PR withyour changes

[2020-10-17 15:41] #6456 closed

[2020-10-17 15:42] Siedlerchr commented on #6456
Thankst to @joethei this should now be fixed in the latest development version

[2020-10-17 15:42] tmrd993 commented on #7019
@Siedlerchr Okay, I'll probably have a PR ready by tomorrow at the earliest.

I looked around and I'm not 100% sure where the article id is found for every case. For example, in the case above, it's the last number and it's seperated from the preceding string with a dot. However in this case:
`10.1093/ajae/aaq063`
There is no dot to seperate the id. Is the id only composed of digits? Is it `aaq063

[2020-10-17 15:50] Siedlerchr commented on #7019
@tmrd993  No need to hurry. I asked the people in the forum if they can help you answering your question.
Sponatenously, I would have guessed the last encountered digit sequence but no idea if it can be alphanumeric  as well.

[2020-10-17 16:02] sambo57u commented on #7019
Yes, for APS journals (Physical Review A,B,C, etc) the id is the numerical stuff after the last dot in doi. In citation this is cited
as the page number in the official citation. Only when pulled from doi.org it does not pull the page.

The others may be working correctly when pulled. So far the only journals I had this happen are the APS journals.

[2020-10-17 16:02] #7021 closed

[2020-10-17 16:07] BenjaminDAnjou commented on #7019
I confirm, the article ID is the number after the last dot in the DOI. That's what should be put in the page number field.

The general format of APS doi is https://doi.org/10.1103/[journal].[volume].[articleID].

As I said before, the page number should not be changed if it already exists. There were proper page numbers in APS journals before around 1998-1999.

Best

[2020-10-17 16:21] BenjaminDAnjou commented on #7019
Actually I just double checked and even old articles use the number of the first page as article ID in the DOI. So if you take the number after the last dot in the DOI, it's either the first page (for old articles) or the article ID (for new articles).

Nowadays, people usually only put the first page in the citation. So if you put the number after the last dot in the DOI as page number, that woul

[2020-10-17 17:19] alshehab211 commented on #7019
I also confirm that for all APS journals the page number is the last number after the last dot in the DOI. There is only one exception when the article is Rapid (e.g Physical Review B: Rapid Communications) then we need to add (R) after the page number which I think we will have to do it manually since it is not contained in the DOI. For example this article https://doi.org/10.1103/PhysRevB.102.14

[2020-10-18 09:09] vatsal-M commented on #6791
@Siedlerchr Is there any acceptance test for the issue? if there is then could you tell us about that as we will run it and provide a quality solution

[2020-10-18 10:42] Siedlerchr commented on #6791
Just test it manually, create a PR, then we will review the code changes and merge if all is good.

As I outlined earlier, the issue is probably a CSS issue in the Dark.css. The dark theme can be enabled in the preferences of JabRef.
The dark.css just overwrites some properties of the Base.css

[2020-10-18 11:05] vatsal-M commented on #6791
@Siedlerchr ok thank you!

[2020-10-18 11:35] munissbedi opened #7024 "Subgroups lost .....classification lost..Error occured when parsing entry "error in line 4833:EOF in Midstring' skipped entry"
I am nearing the end of my thesis and the jabref has really hurt me with a sudden error and I lost the classification into groups  and subgroups .......I could not note down the error or take the screen shot .....If any body has a solution please share

[2020-10-18 14:15] Siedlerchr commented on #7024
Hi, sorry for your issues. The error indcates that you have invalid bibtex in that line. Probably some unescaped curly braces or wehatever or a curly brace too much. Try to open it in a text editor and go that line.

[2020-10-18 14:23] tobiasdiez commented on #7019
In addition to the great PR from @tmrd993 that implements this, could you (@alshehab211 @sambo57u @BenjaminDAnjou) please also contact APS and/or Crossref and notify them that the information that they provide is incorrect/incomplete. Thanks!

[2020-10-18 14:36] alshehab211 commented on #7019
@tobiasdiez That is a great idea. I will contact them regarding the issue, Thanks a lot for the effort, @Siedlerchr ,  @tobiasdiez , and @tmrd993

[2020-10-18 14:36] BenjaminDAnjou commented on #7019
I would gladly contact them. But just to make sure I get this right, could you tell me exactly what I need to inform them about? What information do they not provide and more importantly where do they fail to provide it?

I am not sure I understand the issue completely on a technical level, so I'd appreciate some directions.

Best

[2020-10-18 14:38] munissbedi commented on #7024
Thanks but another issue ....I upgraded to Jabref-5.1 ......It opened the bibliography from backup and it just opened back up with around 70 entries less....I think it was not doing back up for long but every time i opened it just showed me all the files ....now I am at loss what to do......two problems -
1. I have pdf files, any way to retrieve metadata directly into jabref
2. It is not attaching

[2020-10-18 14:44] Siedlerchr commented on #7019
They should simply provide the article ID in the field "pages" in the bibtex data that is returned when acessing the DOI with the "application/x-bibtex"  HTTP Accept header.
Background: JabRef calls for example the url dx.doi.org/10.123456 with a specifid HTTP reader that indicates that we want to get bibtex data back. So it would be the easiest if it would contain the "pages" field.

[2020-10-18 14:48] Siedlerchr commented on #7024
It's generally recommend to manually backup the bibtex library if you try out a new version (jiust copy the bib file).
JabRef also creates a sav and or a bak file next to the bib file. These are just bibtex files with
Second, I would recommend trying out the latest development version, it contains several fixes (also for the path probem)
https://builds.jabref.org/master/

The attaching path is tha

[2020-10-18 14:51] munissbedi commented on #7024
Although when i am trying to attach the pdf ....it is showing the message could not find the file........although the file is actually present in that location ......any way out

[2020-10-18 14:52] munissbedi commented on #7024
orange highlight of the pdf file when i attach

[2020-10-18 14:56] Siedlerchr commented on #7024
what i said above. check the main file directory setting under preferences.

[2020-10-18 15:14] munissbedi commented on #7024
thanks I changed file directory and its working... ...But any way I can recover my last week work also  or like zotero extract metadata from pdfs to rewrite the bibliography quickly

[2020-10-18 16:02] sambo57u commented on #7019
I have contacted the APS about this issue two years ago. I got a response saying they are working on it as a high priority issue, but nothing happened. It is best to fix it assuming that APS will not do anything.

[2020-10-18 16:11] BenjaminDAnjou commented on #7019
I have contacted them Hopefully getting many messages will get them to think about it again.

[2020-10-18 17:21] Siedlerchr commented on #6862
I digged a bit into this.
The problem occurs here. Somehow the SharedEntryNotPresent should have been filled.
It's only posted  in the `removeNotSharedEntries` from synchronizeLocalDatabase
Maybe there is some timing/call order issue

[code]

[2020-10-18 18:20] #6991 closed

[2020-10-18 18:27] #6691 closed

[2020-10-18 18:39] Siedlerchr commented on #6154
I just discovered that JabRef is also avaiable via homebrew cask:
https://formulae.brew.sh/cask/jabref

[2020-10-18 21:50] #6867 closed

[2020-10-19 07:11] LyzardKing commented on #7022
The version is pulled form the JabRef.cfg file included in the tar file,
but the version string is missing from that file now..

[2020-10-19 07:20] Siedlerchr commented on #7022
@LyzardKing  Thanks for the investigation. No idea wh the file is missing. Maybe jpackage no longer includes it in jdk15.
 you can use the "snapcraft"  branch https://github.com/JabRef/jabref/tree/snapcraft for your changes. for testing because otherwise the snap build won't be triggered

[2020-10-19 08:16] LyzardKing commented on #7022
I'm running tests locally, when i have something proper I'll upload to that branch then

[2020-10-19 14:05] LyzardKing commented on #7022
Why does `git describe` return `v_2.9.2-12400-gaf203b655`?
If I add `--tags` I get the correct version (`v5.1-191-gaf203b655`)

[2020-10-19 14:50] Siedlerchr commented on #7022
They changed something. I see that there is a hidden .jpackage.xml file in the app/lib folder
[code]

[2020-10-19 15:01] LyzardKing commented on #7022
I set it to read from there.
The tag issue is something related to how the tags are built on github, not a jpackage thing.

[2020-10-19 15:02] LyzardKing commented on #7022
I uploaded to the snapcraft branch.. should I open a PR or can we merge directly from there?

[2020-10-19 15:08] Siedlerchr commented on #7022
You can open a PR, makes it easier to see the actions.
I also wanted to try if the cfg is correclty generated when I put the                     '--app-version', "${project.version}",
to the image options.

[2020-10-19 15:17] LyzardKing commented on #7022
(on a different note.. could you bump the 5.1 release to stable in the snap store?

[2020-10-19 15:24] Siedlerchr commented on #7022
I promoted it to candidate and stable now. It was beta previously

[2020-10-19 18:12] #7022 closed

[2020-10-19 18:15] Siedlerchr commented on #6482
Does this error stil occur?

[2020-10-20 07:00] ilippert commented on #6482
Thanks for asking.
I am afraid I cannot say. I guess not - I am posting most exceptions I get and it probably has not occurred anymore if I did not post it again. If you give me a note what to check for, what kind of operations to conduct, then I will test the current master for it. I do not know the code well enough (no capacity to read this error code) to know what journallist or the exception c

[2020-10-20 07:53] mlep commented on #6691
Trying the development version, I confirm that this issue is solved. Congratulation @Niffler, and many thanks!

[2020-10-20 07:54] mlep commented on #6991
The menu is not here anymore, making the UI more consistent. Thank you @schrothbn!

[2020-10-20 09:03] ilippert commented on #6626
JabRef 5.2--2020-10-19--af203b6
Linux 5.8.15-201.fc32.x86_64 amd64
Java 15

The issue is still: I have no control over column width.

See screencast at https://owncloud.itu.dk/index.php/s/aP2ztvdeUAaB1vP

[2020-10-20 09:07] ilippert commented on #6626
yes, https://github.com/JabRef/jabref/issues/6626#issue-642365907 reproduces #6690, and I still can reproduce this today.

But https://github.com/JabRef/jabref/issues/6626#issuecomment-712705920 indicates an issue that also is different from #6690 in that independently of group selection I cannot control group width.

[2020-10-20 09:10] ilippert commented on #6818
See also https://github.com/JabRef/jabref/issues/5872

[2020-10-20 09:10] ilippert commented on #6348
This enhancement is also related to https://github.com/JabRef/jabref/issues/6626 https://github.com/JabRef/jabref/issues/6818 https://github.com/JabRef/jabref/issues/6690

[2020-10-20 10:55] #7019 closed

[2020-10-20 10:56] tobiasdiez commented on #7019
Thanks to @tmrd993 this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

Please let us know if you here something from APS or crossref.

[2020-10-20 11:56] alshehab211 commented on #7019
@Siedlerchr @tobiasdiez @tmrd993 Thanks a lot for your help!
I will check it and let you know

[2020-10-20 12:31] alshehab211 commented on #7019
It is perfectly working now! Thanks again

[2020-10-20 17:39] AlexPars opened #7032 "Extra character added to bib field "file" when adding an arXiv article"
This is the cause of issue [7021 ](https://github.com/JabRef/jabref/issues/7021) that was closed.

This is run under Windows 10

JabRef 5.2--2020-10-19--af203b6
Windows 10 10.0 amd64
Java 14.0.2

Extra character is automatically added by Jabref to bib field "file" when an arXiv article was added to bib file using the ID "arXiv" option in "New entry". This caused errors when running "Check integrit

[2020-10-21 05:27] teertinker opened #7034 "Auto Sync per default for Open/LibeOffice"
With #6985 auto sync has been enabled per default. I think this feature may have drawbacks. If the library is synced every time I see two possible problems.
1. Parsing long manuscripts takes sometimes a lot of time, if the list of references is refreshed each and every time.
2. The workflow in libreoffice may get disrupted. JabRef pushes many commands to libreoffice while refreshing. As a result,

[2020-10-21 10:53] deliaJacobs commented on #4257
We are group of students of the university of Basel and in our project we try to solve this issue. As we understand it, we are supposed to create a new tab for annotations, where a link to an annotation in a PDF can be found. Is this correct? Further we are not sure how the part about the preview is meant. Could you maybe explain this some more?
Thank you for the information!

[2020-10-21 13:09] tmrd993 commented on #7000
As far as I know, JabRef has two sources for ISBN fetching. This behaviour happens if the ISBN is valid, but the actual book isn't available at any of the two sources. An invalid ISBN actually has an exception thrown, that's what you are seeing when you remove or add digits to the ISBN.

[2020-10-21 16:59] tmrd993 commented on #7000
https://github.com/JabRef/jabref/blob/4cf2fb06d3d876d2043f65ca0e51c3c4185fd05c/src/main/java/org/jabref/logic/importer/fetcher/IsbnFetcher.java#L44-L60

I think we could throw a FetcherException here if the bibEntry is still empty after trying ottobib?

[2020-10-21 17:12] crystalfp commented on #7000
Any feedback to the user instead of nothing is a sorely needed thing

[2020-10-22 01:01] koppor commented on #4257
For gathering some more background, I would recommend to fire-up Mendeley and get an impression how PDFs are handled in Mendeley.

This issue stronlgy relates to https://github.com/JabRef/jabref/issues/6857. In this issue, the handling of a **single** entry preview is meant, whereas in #6857, the complete list is discussed.

Example: https://latextemplates.github.io/LNCS/

A user highlighted "mode

[2020-10-22 01:13] #6974 closed

[2020-10-22 11:38] ytzemih opened #7035 "Hyphen introduced by key generation is removed"
JabRef 5.2--2020-10-20--4cf2fb0
Linux 5.4.19-050419-generic amd64
Java 15

- [X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In Settings -> citation key generator, the characters "-`ʹ:!;?^+" are removed by default.
If you use the default pattern "[auth][year]-[shorttitle]", the hyphen gets removed, which seems to be a

[2020-10-22 14:12] AtrusRiven commented on #6984
Is there a possibility to adjust the font, too? In my case, I want to change the font of the area `{} biblatex source`. In the `CSS` mentioned above, there is no possibility to change the font, only colors. Thanks a lot!

[2020-10-22 14:46] calixtus commented on #6984
Maybe this helps with don't settings in css?
https://guigarage.com/2014/10/integrate-custom-fonts-javafx-application-using-css/

[2020-10-22 15:46] Siedlerchr commented on #7035
I don't remember exactly why, but we had a long discussion somewhere about this and the list of unwanted characters which we decided to make user configurable and to include the hypen. I think a hypen can produce weird results when you ave authors which already have a hypen in their name, e.g. Jean-Baptiste
 Therefore, I see not an issue here.  It has also been recently documented in our help page

[2020-10-22 15:46] #7035 closed

[2020-10-22 15:58] AtrusRiven commented on #6984
Thanks for your quick reply. That sounds very promising. Have you any idea what the corresponding element in JavaFX is which I I'd have to adress in CSS? Unfortunately, I know very little about JavaFX. Thanks again!

[2020-10-22 16:02] ytzemih commented on #7035
Ah, I see. The proposed fix is straightforward, anyway. Thanks!

[2020-10-22 19:08] #7034 closed

[2020-10-22 23:05] #7000 closed

[2020-10-23 13:07] crystalfp commented on #6517
Tried various entries from article references, but no one succeeded. Maybe I'm doing something wrong, but don't understand what.
Could be useful for you if I send you all the failed references?
For now I wait for the next official release before testing again.
Thanks!

[2020-10-23 15:58] nitram509 commented on #6517
Thank you for the offer, @crystalfp .
Actually, the root cause is already known, so this would add no new information.

I guess the maintainers already have this on their "radar".

[2020-10-24 15:17] humbleambition opened #7038 "New Entry from Plain Text not working"
Cntrl+Shft+N for "New Entry from Plain Text" always results in:
"0 entries were parsed from your query"

![image](https://user-images.githubusercontent.com/64739261/97085245-b2257400-15f2-11eb-9899-1f4e84653450.png)

[2020-10-24 16:11] Siedlerchr commented on #6902
This should be fixed in the latest master with the new javafx version

[2020-10-24 16:11] #6902 closed

[2020-10-24 17:34] Siedlerchr commented on #6862
Okay, I think I found the underlying issue:
1. A FieldChangedEvent is triggered due to
`bibEntryOfClientB.setField(StandardField.YEAR, "2009"); `
2. The FieldChangeEvent calculates the delta
https://github.com/JabRef/jabref/blob/a0ca87530991900db5b34df3683aa010dffe97c8/src/main/java/org/jabref/model/entry/event/FieldChangedEvent.java#L61-L70

3. Delta is 0 because the length of the field is the sa

[2020-10-24 18:55] humbleambition commented on #7038
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

[2020-10-24 19:02] humbleambition commented on #7038
Updated to newer version:
JabRef 5.2--2020-10-24--2555b2d
Windows 10 10.0 amd64
Java 14.0.2

Now an attempt to part plain text reference produces this error:
"There are connnection issues with a JabRef server. Detailed information: connection timed out"
![image](https://user-images.githubusercontent.com/64739261/97091408-228fbd80-1612-11eb-87cc-13246912ee34.png)

[2020-10-25 08:17] ilippert commented on #7038
I had the same experience a few days ago

[2020-10-25 17:19] Siedlerchr commented on #6944
I can connect to PostgresSQL 13 .0 fine on OSX and all database tests are working fine for postgres

[2020-10-25 18:13] ilippert opened #7041 "unknown exceptions"
JabRef 5.2--2020-10-24--2555b2d
Linux 5.8.16-200.fc32.x86_64 amd64
Java 15.0.1

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/

I received the exception after generating a new blank entry and trying to change its entry type by clicking on the type "button" righthand of the entry editior.

<details>
  <summary>Log File</summary>

[code]
</det

[2020-10-25 18:26] Siedlerchr commented on #7041
Could not reproduce this under OSX, but just a question, do you have maybe a search running or a new empty library when you try to insert?

[2020-10-25 18:59] ilippert commented on #7041
the library was not empty. I am not sure about search, but I believe 99% no search was running.
Now I have chaecked again, and I cannot reproduce the problem. Meanwhile I had quit JabRef and started it anew.

[2020-10-25 19:21] ilippert opened #7042 "another unknown exception / OS Linux issues"
JabRef 5.2--2020-10-24--2555b2d
Linux 5.8.16-200.fc32.x86_64 amd64
Java 15.0.1

I do now know how this occurred. The current JabRef master is crashing much more often then a version I used the days before.

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-10-26 14:12] robert-do commented on #6207
Hello koppor
Lars and I have chosen the project which is related to this task. We wanted to ask you whether you can recommend us some specific functions which we could write a test for as part of the project which will benefit you the most.
Kind regards,
Robert

[2020-10-26 17:27] Infovarius opened #7048 "Don't remove any field automatically"
JabRef version JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2 on Windows 10

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

I use "review" field for my own reviews of read article, and "comment" field for any auxilliary information (about other versions, possibility to find a source text and so on

[2020-10-26 18:29] tmrd993 commented on #6417
Is anyone actively working on this? I'd like to work on it but I don't want to step on anyones toes.

[2020-10-26 18:46] calixtus commented on #6417
Feel free to take this issue.
Be aware that recently part of our architecture changed.
BasePanel is now Library tab.

[2020-10-27 13:05] manurare opened #7049 "Create disjoint subgroups"
Hi,

I would like to know if it possible to create disjoint groups where entries cannot be shared between them. So I have 3 subgroups (read, skimmed, pending) under the same subgroup. Once I read a paper from the pending group and I move it to the read group for example I would like to automatically be removed from the pending. Is this possible? I know between skimmed and read it is possible by fi

[2020-10-27 18:44] homocomputeris commented on #6501
@tobiasdiez  The issue appears again in 5.1 and 5.2-master 2020-10-26: the spinnig ball, freezes, very long wait times to switch tabs, etc.

[2020-10-27 21:43] homocomputeris opened #7050 "Can not invoke com.sun.glass.ui.Window.isMaximized"
JabRef 5.1--2020-08-30--e023aa0
Mac OS X 10.15.7 x86_64
Java 15

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open JabRef
2. Enter full screen (green window button)

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-10-27 21:45] homocomputeris commented on #6466
Keyboard shortcuts do not work once again
[code]

[2020-10-28 06:59] Siedlerchr commented on #6466
They should work fine in the latest development version from builds.jabref.org/master

[2020-10-28 07:48] Siedlerchr commented on #7050
I cannot reproduce this in the latest master, using 10.15.7 as well.  From the log It seems you are trying to import some preferences.
I also tried to import the preferences,  but cannot reproduce it as well in the latest master version. Works fine.

[2020-10-28 09:34] #7032 closed

[2020-10-28 12:09] koppor commented on #6207
Dear Lars and Robert,

We aim for 100% code coverage. You can check existing coverage with IntellIJ or Eclipse. You should see which classes have not that many tests.

I would love to see automated tests for features described in the user documentation. However, this is much work.

I assume you checked the integrity package (mentioned in the issue description) for current test coverage?

Cheers,

[2020-10-28 20:25] Xethy opened #7052 "Programm on second screen, popup on first screen."
JabRef 5.1--2020-08-30--e023aa0
Windows 10 10.0 amd64
Java 14.0.2

 on

- [ ] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Inconvenience Problem; programm on second screen, popup on first screen.

Steps to reproduce the behavior:
![Error](https://user-images.githubusercontent.com/73614306/97492365-b986ad80-1963-11eb-831

[2020-10-28 20:31] homocomputeris commented on #7050
I did but I don't think that's the issue.
The probrem is, I believe, that JabRef tries to create a modal window but fails because the main window is maximized, and something breaks.

[2020-10-29 14:40] chrisdebrunner commented on #6967
I see a similar problem with Jabref 5.1 under RHEL 7.9. I start JabRef and it uses 5-10% CPU after startup. Then I type into the search field, and CPU jumps to 600-700% and stays there even after I cancel the search (press the "x" at the right end of the search box) and if I close the GUI by clicking the close box in the upper right. I have to kill the JabRef process from the command line.

[2020-10-29 15:35] k3KAW8Pnf7mkmdSMPHz27 commented on #7049
Hello @manurare . I don't use the groups utilities in JabRef but I'd be willing to take a look at it if you can bare with me and my questions 😛

Regarding disjoint groups, I believe the answer is "sort of". There are [dynamic groups based on free form search](https://docs.jabref.org/finding-sorting-and-cleaning-entries/groups#types-of-groups) which support [search syntax](https://docs.jabref.org/f

[2020-10-29 15:44] k3KAW8Pnf7mkmdSMPHz27 commented on #7049
Issue #6908 seem related (regarding extending set operations)

[2020-10-29 20:32] #6579 closed

[2020-10-29 20:34] Siedlerchr commented on #6579
Thanks to @joethei there's now a new Short Month Formatter

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.
.

[2020-10-29 20:40] Siedlerchr commented on #7048
Hi, if I remember correctly review and comment have been merged together since 4.x.
For your use case I would propose to define a new general field with another name

[2020-10-29 20:45] Siedlerchr commented on #7052
Thanks for the report. Could you please test the latest development version? We switched to javafx 15 and maybe that issue is no longer present?
Otherwise I only found this old Java issue which is marked as resolved
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8160073

[2020-10-29 20:46] Siedlerchr commented on #7050
Hmm. Can you reproduce it always? Do you use an external monitor?

[2020-10-30 08:25] Siedlerchr commented on #6998
I looked ab bit more into this.
The problem is that the groupViewMode is only used in the MainTableDataModel read from the preferences and passed to the  matcher in groups.

https://github.com/JabRef/jabref/blob/fcf61462ae3867cb4bcfe75466772db63726a8bb/src/main/java/org/jabref/gui/maintable/MainTableDataModel.java#L46-L56

Here the value is used.
https://github.com/JabRef/jabref/blob/fcf61462ae386

[2020-10-30 08:40] Siedlerchr commented on #6482
Judging from the error log it seem you edited the journal field in the biblatex source tab. I tried to reproduce this, but could not. And it may be related to another fix which I did to the loading of journal abbreviaton.
Therefore I would vote to close this and you reopen it when you encounter it

[2020-10-30 08:40] #6482 closed

[2020-10-30 08:48] Siedlerchr opened #7053 "Saving new library still shows "untitled*" in the tab bar"
Latest master version,

![grafik](https://user-images.githubusercontent.com/320228/97678707-8ee84200-1a94-11eb-9cd7-8731b4cd9d21.png)

1. open an existing library
2. create a new empty library
3. import one entry in the new library
4. Press ctrl + s, enter name of library
5. Tab bar does not update. still shows the star and no title of the library

Maybe coming from  #6129

[2020-10-30 12:48] Siedlerchr commented on #7042
From the log it seems happened while eiditing/changing an entry which then fired the method for updating the time stamp field. Did you modify something in the source tab of an entry?

[2020-10-30 15:43] manurare commented on #7049
Hey,

Thanks for the answer. You gave me a really good hint. Actually for the pending group I did like `keywords|readstatus != "read" and keywords|readstatus != "skimmed"`.

The funny thing now is that (at least in my JabRef 5.1--2020-08-30--e023aa0) if you manage a group by free search expression, the color and icon you had assigned to that same group dissapear and the default color/icon (gray, r

[2020-10-30 15:57] manurare opened #7054 "Free search expression in groups sets icon and color to default"
JabRef 5.1--2020-08-30--e023aa0 Ubuntu 20.04

- I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

No matter the free expression I input into a particular group. Every time I restart the program the group's icon and color are set to the default gray and triangle.

An example would be: If I want to check whether readstatus or keyword do not

[2020-10-30 16:35] ilippert commented on #7042
yes, that was most definitively the case. A normal operation for me.

[2020-10-31 00:00] pistepilvi commented on #6757
I just installed JabRef 5.1 on a Mac Mini (2018) running MacOS 10.15.7 and encountered what appears to be the same issue.

Is the startup script the following file? _/Applications/JabRef.app/Contents/runtime/Contents/Home/bin/JabRef_
When I add "-Dprism.lcdtext=false" and launch that file, the text looks much better, but instead of the JabRef menu bar, a Java menu bar appears. When starting JabRef

[2020-10-31 09:29] crystalfp opened #7055 "Fields on two columns in the entry editor have unequal width"
JabRef 5.2--2020-10-15--13a80ba
Windows 10 10.0 amd64
Java 14.0.2

Steps to reproduce:

1. Open any library and double click on a book entry
2. Select the "Optional fields" tab
3. Look at the entry editor and entry preview bottom half of the screen (see screenshot 1) the two columns have different width and not occupy the same amount of space.
3. Move the separator between the two to the left. The

[2020-10-31 13:03] homocomputeris commented on #7050
Well, I tried to import settings several times, it crashed each time.

Not when this happened.

[2020-10-31 14:37] Siedlerchr commented on #7050
Can you please provide the settings file you are trying to import? This will hopefully allow me to reproduce the issue (will take until Monday that Ihave access to my Mac again)

[2020-10-31 17:56] ilippert opened #7057 "deleting entry removes the entry label from the other entires that crossref it"
JabRef 5.2--2020-10-26--3fe34a0
Linux 5.8.16-200.fc32.x86_64 amd64
Java 15.0.1

Steps to reproduce the behavior:
1. generate entry with label/key AAA
2. generate entry B that cross-references AAA
3. delete entry AAA from table

Result: Entry B misses the AAA cross-ref. It should be preserved.

[2020-10-31 22:11] homocomputeris commented on #7050
[code]

[2020-10-31 22:13] homocomputeris commented on #7050
The file is called `jabref_config` (GH does not let upload it)

[2020-11-01 01:44] tobiasdiez opened #7058 "Switch from FontAwesomeFX to Ikonli"
As FontAwesomeFX doesn't seem to be updated anymore and also doesn't include the latest 5.0 icons, we should switch to [Ikonli](https://kordamp.org/ikonli/). They have native JavaFX support as well.

I'll mark this as good-first-issue, because the code changes should be relative localized. However, there are changes required to many files, including grade build resources - so this task is perhaps

[2020-11-01 20:42] k3KAW8Pnf7mkmdSMPHz27 commented on #7054
Isn't it the same issue as #6999?

[2020-11-01 23:30] manurare commented on #7054
Yes my bad did not see it. I close it now

[2020-11-01 23:30] #7054 closed

[2020-11-03 09:34] crystalfp opened #7068 "The entry preview window does not load my customized visual theme"
JabRef 5.2--2020-10-15--13a80ba
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The entry preview window does not load my customized visual theme as the rest of the GUI. I loaded my customized visual theme (copy of the source `Dark.css` file) but was not able to change colors of the

[2020-11-03 10:03] crystalfp commented on #7052
In almost latest version it does not happen anymore.
JabRef 5.2--2020-10-15--13a80ba
Windows 10 10.0 amd64
Java 14.0.2

[2020-11-03 10:09] Siedlerchr commented on #5941
@NRJank  @ytzemih  Can you plaese test this again with the latest development version? We recently upgraded the javafx version and it seems the issue is solved
https://builds.jabref.org/master/
Remember to make a backup of your library

[2020-11-03 11:24] DOFfactory opened #7069 "Citation Key Generator not respected"
JabRef 5.2--2020-10-29--e08ac4e
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Define a citation key generator in Preferences
2. Generate new citekey
3. missing hyphens

![image](https://user-images.githubusercontent.com/10846169/97979437-772ff70

[2020-11-03 11:56] Siedlerchr commented on #7069
Duplicate of #7035
You need to remove the hypen from the unwanted character list under Settings -> Citation key generator
![grafik](https://user-images.githubusercontent.com/320228/97982386-ff180000-1dd3-11eb-9c89-97ccbe5314fe.png)

[2020-11-03 11:56] #7069 closed

[2020-11-03 12:04] DOFfactory commented on #7069
Oh, thanks. That was the solution! 👍

[2020-11-03 12:13] DOFfactory opened #7070 "EntryType not respected in File Directory Pattern"
JabRef 5.2--2020-10-29--e08ac4e
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Define Linked File > File directory pattern = PDFs\EntryType
2. Move and drop a file to the entry
3. The file gets added to .../PDF/EntryType/citekey instead of .../PD

[2020-11-03 12:22] Siedlerchr commented on #7070
Hi, it's not yet documented completely, but it's the same syntax that is also used in the Citation Key Generator:
You need to put [entrytype] in square brackets to denote it's a field marker, otherwise it's interpreted as literal.
https://docs.jabref.org/setup/citationkeypatterns#other-field-markers

[2020-11-03 12:46] DOFfactory commented on #7070
Thanks for the update, I am afraid it still does not work. I just tried changing it, and drop the file, but it does not work.

![image](https://user-images.githubusercontent.com/10846169/97987102-07276e00-1ddb-11eb-9d97-562cc921fcc8.png)

[2020-11-03 13:00] Siedlerchr commented on #7070
Try with forward slashes, that should also work on windows. I did a quick  test on mac, that worked fine.

[2020-11-03 13:07] DOFfactory commented on #7070
Thanks, this was helpful. On Windows 10 restarting JabRef was required to make this working

[2020-11-03 13:07] #7070 closed

[2020-11-03 13:31] crystalfp commented on #6984
See https://discourse.jabref.org/t/documentation-to-build-a-visual-theme/2382/2 How I solved the low contrast problem.
Hope it helps

[2020-11-03 13:55] AtrusRiven commented on #6984
Thanks, but if I’m correct that's exactly the solution @calixtus mentioned [above](https://github.com/JabRef/jabref/issues/6984#issuecomment-704404017). My question is: How can the the box for the preview be adressed in this `dark.css` in order to change the font and other styles (like background)?

[2020-11-03 14:09] crystalfp commented on #6984
#7068

[2020-11-03 14:13] christophe-gouel commented on #6967
I have exactly the same issue with JabRef 5.1 under Windows 10 and a library of around 5000 entries. A search (or just some waiting time) starts the problem and closing JabRef normally is not enough.

![image](https://user-images.githubusercontent.com/668630/97995574-f7158b80-1de6-11eb-9007-8c48645b4b6d.png)

[2020-11-03 14:15] AtrusRiven commented on #6984
Thanks!

[2020-11-03 14:15] Siedlerchr commented on #7068
The file is right, but the highlight function is only used for highlighting search results in the preview.
The real problem lies here:
https://github.com/JabRef/jabref/blob/6dec1747d8a1c89f6c62fc1d1939d88411f17eba/src/main/java/org/jabref/gui/preview/PreviewViewer.java#L119-L129

[2020-11-03 14:17] AtrusRiven commented on #6984
And how is it possible to address the font in the `{} biblatex source` view?

[2020-11-03 14:35] Siedlerchr commented on #6984
The relevant control for the biblatex source view is:
[code]
this is from the Base.css

[2020-11-03 15:09] crystalfp commented on #7068
Maybe simply adding a toggle "The custom theme is a dark theme" to pass the test `if (theme.getType() == Theme.Type.DARK) {` is sufficient.

[2020-11-03 15:52] Siedlerchr commented on #7068
I would just change the condition and replace it with != Theme.Type.LIGHT

[2020-11-03 16:01] crystalfp commented on #7068
Eagerly waiting for this change. Thanks!

[2020-11-03 18:13] AtrusRiven commented on #6984
Changing the following does the trick for me:

`.code-area .text { -fx-font-family: X; }`

But oddly it’s not possible to select other font families than the generic ones, e.g. `Consolas` does not work. Any clues?
Thank you very much for the quick and helpful response!

[2020-11-03 18:54] #6862 closed

[2020-11-03 19:12] Siedlerchr commented on #6984
Try puttting  the font name in single quotes
[code]

[2020-11-03 20:03] AtrusRiven commented on #6984
I’ve already tried this. Unfortunately, that doesn’t work either.

[2020-11-04 04:09] rcmusgrave commented on #6134
@Siedlerchr I was also having the problem with pasting bibtex source in 5.1, and this seems to be solved in the development version of 5.2 that I just downloaded.

[2020-11-04 07:38] #7068 closed

[2020-11-04 08:46] ytzemih commented on #5941
@Siedlerchr thanks for checking that. I've just installed
JabRef 5.2--2020-11-04--67f67a1
Linux 5.4.19-050419-generic amd64
Java 15.0.1
and, unfortunately, in Ubuntu 19.10 Gnome and in i3, I am still seeing the same result, matching the screenshots above.

It is worth mentioning, the main dropdown menus are on the right screen, so is the context menu in the entry list.
However, the context menu in

[2020-11-04 08:57] Siedlerchr commented on #7050
I still cannot reproduce it. The only thing I see that after the modal dialog of the preferences import, the preferences window is hidden behind the main window.

Can you maybe record a video/screencast with the steps you do?

[2020-11-04 08:58] Siedlerchr commented on #7050
I now could reproduce it

[2020-11-04 10:02] ilippert opened #7072 "dragging read-only file on entry generates exception"
JabRef 5.2--2020-11-03--b5bcea4
Linux 5.8.17-200.fc32.x86_64 amd64
Java 15.0.1

Upon dragging a pdf (without write file permissions) on an entry, I got this exception.

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-11-04 16:10] k3KAW8Pnf7mkmdSMPHz27 commented on #5889
`[shorttitle]` should work as @joelostblom describes and currently `regex` is a viable workaround. Should this issue be closed and a separate one opened regarding the `PDF`/`pdf` issue?

[2020-11-04 16:49] Siedlerchr commented on #5889
If the things are working now as expected (the issue was about version 5.0beta), the issue can be closed

Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Pleas

[2020-11-04 16:49] #5889 closed

[2020-11-04 17:30] Siedlerchr commented on #6967
Thanks all for the reports. Does it help if you disable the autocompletion in the preferences?

[2020-11-04 20:19] AtrusRiven opened #7074 "Adjusting the Preview Box"
How is it possible to change the content displayed in the preview box?

In my use case, I have a custom field `Own_citation` where I manually insert the citation of the entry in my very own citation style. I don’t use any automated referencing but copy this citation manually into my texts. I’d like to display this custom field in the preview area, for example, between the regular metadata (`author

[2020-11-04 20:43] k3KAW8Pnf7mkmdSMPHz27 commented on #6777
I just realised I don't know how the regexp search is supposed to work.... Is it correct that regexp should only works for fields (e.g., `citationkey = Turing\d[0-9]*`) which in turn does not get highlighted in the preview?

Right now, if I were to search only for `Turing\d[0-9]*` everything inside of a preview that matches that regexp would be highlighted while only entries containing a literal m

[2020-11-04 21:20] Siedlerchr commented on #7074
Yes. See the help.
https://docs.jabref.org/setup/preview
You can edit that in the Preferences - > preview.
You can display any field using the same syntax as for other fields.
Please ask  questions in our forum the next time. http://discourse.jabref.org/
The github issue tracker is primarily used for managing bugs

[2020-11-04 21:20] #7074 closed

[2020-11-04 21:20] k3KAW8Pnf7mkmdSMPHz27 commented on #6271
If you allow regexp,
<img width="378" alt="Skärmavbild 2020-11-04 kl  16 16 08" src="https://user-images.githubusercontent.com/2598631/98168837-298fb900-1eb9-11eb-8f71-285e471f5496.png">

does `groups = ContainsFunction and not groups = Earthquake|Flood|Landslides|Rainfall|Wind` work?

**Note that space has a special meaning, to search for "Contains Function" use Contains.Function**

[2020-11-04 21:27] Siedlerchr commented on #6777
Regarding the search, have you enabled the regex mode?
https://docs.jabref.org/finding-sorting-and-cleaning-entries/search#regular-expressions-and-casing
(the search is actually based on an Antlr4 grammar, you find that in buildres)

The highlight function is pretty simple, it does not work with JabRef's search grammar. It's just for highlighting search words.
It's based on https://markjs.io/

[2020-11-04 21:38] k3KAW8Pnf7mkmdSMPHz27 commented on #6777
I believe so 😬
Note the "no results found".

<img width="642" alt="Skärmavbild 2020-11-04 kl  16 32 47" src="https://user-images.githubusercontent.com/2598631/98170430-f995e500-1ebb-11eb-9f0d-9a923f7f1b22.png">

I have ogled Antlr4 a bit, the issue is that I don't know what should happen. Preventing the exception can either be done by escaping the slash or using `new RegExp` (which is what I trie

[2020-11-04 22:10] Siedlerchr commented on #6777
You are right that should show results.
try Debugging if the correct mode is correctly activated (class is GlobalSearchBar)
Might also be an issue with multiple open libraries. That can cause quirks

[2020-11-04 22:11] k3KAW8Pnf7mkmdSMPHz27 commented on #6777
Ok, in that case I will include it in the PR for this issue.

[2020-11-05 08:32] Siedlerchr commented on #6777
@k3KAW8Pnf7mkmdSMPHz27  I did a quick test and it seems like the regex search only works in combination with a field:
e.g. `author=Liu.*`
See:
https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/model/search/rules/SearchRules.java#L7

[2020-11-05 10:26] christophe-gouel commented on #6967
Yes, it seems to solve the problem. Thanks.

[2020-11-05 10:36] umuen commented on #6967
Yes, indeed, everything seems fixed on my machine when autocompletion is disabled.

thanks
uwe

[2020-11-05 11:30] AtrusRiven commented on #7074
Thanks for the help. Sorry for overseeing this. Obviously doesn't work before #6447 is fixed.

[2020-11-05 12:29] Siedlerchr commented on #6447
Still reproducible in the current dev version. Problem is that the chosenListProperty does not know when the preview layout changed. probably need to add a property to that as well

[2020-11-05 12:31] Siedlerchr commented on #7074
Thanks for pointing out that issue #6447, thought it had been fixed already

[2020-11-05 15:03] crystalfp commented on #6984
@AtrusRiven The preview window takes colors from your custom theme in JabRef 5.2--2020-11-04--fcbe9c5.
@Siedlerchr Your suggested method does not work for me, but I can change the preview font (and colors) by:
[code]

[2020-11-05 15:17] k3KAW8Pnf7mkmdSMPHz27 commented on #6777
@Siedlerchr as far as I can tell that is the case. Note that `Liu.*` is a `GrammarBasedSearchRule`. I am using a break-point at https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/model/search/rules/SearchRules.java#L16
while debugging.

But, right now I believe
https://github.com/JabRef/jabref/blob/fcbe9c52e099a783a67b1445e2b9bb6f4c485fa0/src/ma

[2020-11-05 15:24] Siedlerchr commented on #6984
@crystalfp  Yes, that's because the preview component is actually a WebView component (The preview is html code), so there you need plain css.
Normally you can modifiy the preview and save it (#6447)

Regarding the bibtex code area, I think I found the solution, you need another selector:

#bibtexSourceCodeArea .text{
    -fx-font-family: 'Phosphate';
}
This works for me (I'm on a mac)

[2020-11-05 15:43] Siedlerchr commented on #6777
Ah yes you are right regarding the simple search. Overlooked that.
You might want to ask @tobiasdiez what he did there 4 years ago :-P
https://github.com/JabRef/jabref/pull/1995

[2020-11-05 15:48] AtrusRiven commented on #6984
@crystalfp The issue with the styling has already been solved/explained. My last question referred to the content. That’s already addressed in #6447 as @Siedlerchr mentioned above.

@Siedlerchr Thanks, that’s very interesting. On Windows (`JabRef 5.2--2020-11-04--fcbe9c5`) the view is not titled »{} BibTeX source« but »{} biblatex source« and the font in general can only be modified with `.code-ar

[2020-11-05 15:53] crystalfp opened #7076 "Strange date in preview for WWW entry"
JabRef 5.2--2020-11-04--fcbe9c5
Windows 10 10.0 amd64
Java 14.0.2

The preview for a `@WWW` entry using "American Psychological Association 7th edition" style shows a strange date:
![image](https://user-images.githubusercontent.com/865866/98263068-a63c9900-1f86-11eb-8803-bb2042c01589.png)
The date show, repeated twice, is the `urldate`, not the `date`.

Steps to reproduce:

1. Make available the p

[2020-11-05 16:12] AtrusRiven commented on #6984
Something attracted my attention:
- When using **`-fx-font-family`** only a single font family (as I mentioned: a generic one) works, i.e. `-fx-font-family: 'Ubuntu Mono', 'Consolas', Serif;` ignores the complete line and shows the default font (= sans-serif). Only `-fx-font-family: Serif;` works and uses the serif font.
- When using **`font-family`** even `font-family: 'Ubuntu Mono', 'Consolas',

[2020-11-05 17:18] Siedlerchr commented on #6984
@AtrusRiven  Yes, you can only speficy one font. Multiple comma separated fonts don't work.
I am just testing on Windows and I notice that not all fonts can be rendered, Comic Sans for example works
Some other fonts won't be rendered.
Regarding the serif: There are some logical fonts which get automatically mapped.
![grafik](https://user-images.githubusercontent.com/320228/98269781-772a2580-1f8e-1

[2020-11-05 17:28] AtrusRiven commented on #6984
Thanks for the research!

[2020-11-05 19:12] tobiasdiez commented on #6777
Please don't put much energy in the ANTLR code. It is obsolete and should be replaced by Lucene: https://github.com/JabRef/jabref/issues/1975

[2020-11-05 19:45] chrisdebrunner commented on #6967
I also did not see the problem anymore after disabling autocompletion.

I was glad to learn that autocompletion could be turned off, as it would pop up an annoying menu and disable typing whenever I typed a { or } in the Title field (and presumably the other affected fields).

Thank Siedlerchr for proposing this simple workaround.

--Chris

[2020-11-06 08:37] Siedlerchr commented on #6447
The issue is now finally resolved in the latest master (currently building)

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-11-06 08:53] Siedlerchr commented on #6984
As #7068 and #6447  are now fixed I consider this issue as closed.

[2020-11-06 08:53] #6984 closed

[2020-11-06 12:04] calixtus commented on #5842
I'm looking into it.

[2020-11-06 14:42] k3KAW8Pnf7mkmdSMPHz27 commented on #6777
@Siedlerchr @tobiasdiez Ok, in that case I will try to "patch" the issue(s) rather than delving deeper into it.

[2020-11-06 15:57] Siedlerchr commented on #6777
I think you just need to add and addtional if check for regex and then call either the regex rule  or the contains. That looks like the simples way
https://github.com/JabRef/jabref/blob/4e220f618a755cb7dc18882653ea46e3ed049c9e/src/main/java/org/jabref/model/search/rules/GrammarBasedSearchRule.java#L234-L235

[2020-11-06 16:09] robert-do commented on #6241
Hi davidcbenson
Lars and I would like to solve this issue. Can you maybe provide us with some more detailed information (maybe with some printscreens)? We have not been able to reproduce the error and we stuck at the first step because we do not know what a file link is. Thank you for the effort,
Robert

[2020-11-06 17:07] #7024 closed

[2020-11-06 17:16] Siedlerchr commented on #6997
I can edit the group All entries, but the changes are not saved, e..g it's always reset to default.
I think it makes sense to disable the dialog "edit group" for all entries. And I could theoricalyl also remove the group. I get a conifmration that the group is removed, but actually it's not.
I see it more of an usabily issue.

[2020-11-06 22:23] Tafnab opened #7080 "Doesn't build on Linux--- Gradle problems"
JabRef version master -->

- [ X] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

PLEASE DOWNLOAD a clean version of any Linux distro and see if you can build your package. I bet you can't.

The following build error occurs on multiple distros:
Deprecated Gradle features were used in this build, making it incompatible with

[2020-11-06 22:24] #6017 closed

[2020-11-06 22:44] Siedlerchr commented on #7080
No, gradle 7 is incorrect. You need to use the provided gradle wrapper version.
./gradlew build

[2020-11-07 00:32] Tafnab commented on #7080
The result of your instructions:
`$ ./gradlew build

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/home/jim/.gradle/wrapper/dists/gradle-6.3-bin/8tpu6egwsccjzp10c1jckl0rx/gradle-6.3/lib/groovy-all-1.3-2.5.10.jar) to method java.util.AbstractCollection.hugeCapacity(int)
WARNING: Please consider re

[2020-11-07 05:49] zalois opened #7081 "How to configure Vim server on mac system"
<img width="422" alt="Screen Shot 2020-11-07 at 1 18 14 PM" src="https://user-images.githubusercontent.com/9462454/98433245-410cb300-2100-11eb-8d5c-9bb7c655f47c.png">
Thanks!
I don't know how to configure vim server on mac system.
My vim is brew macVim.

[2020-11-07 08:47] Siedlerchr commented on #7080
Are you able to read or are you just stupid? Because all others are able to read the guide.
tip: there is a section prerequisites.
GO,RTFM

[2020-11-07 08:47] #7080 closed

[2020-11-07 13:20] ilippert commented on #7072
another log case for the same error - but without read-only file.

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-11-07 13:54] AtrusRiven commented on #6447
Works in ´5.2--2020-11-06--2f27dd3´ and `5.2--2020-11-07--df80c13` (Win 10, `Java 1.8.0_271-b09`). Thanks for fixing!

[2020-11-07 16:49] AtrusRiven opened #7083 "Improvements for the Entry Preview"
The preview does not differentiate between different entry types. Of course, there’s the possiblity to display the entries in a certain citation style that employs this differentiation, but in my opinion, the preview display should be independent from the citation styles. No differentiating between entry types, thus, results in an ambiguous display in some cases, crossing the metadata’s logical or

[2020-11-08 00:18] davidcbenson commented on #6241
Robert,

Thanks for looking into this, but I have stopped using Jabref, and don't
really care to restart. Sorry.

David

On Fri, Nov 6, 2020 at 10:09 AM robert-do <notifications@github.com> wrote:

--
Sincerely,

David Benson
cyberstratprof@gmail.com

[2020-11-08 03:28] ilippert commented on #7072
Exception, but file was attached.
<details>
  <summary>Log File</summary>

[code]
</details>

[2020-11-08 16:29] Siedlerchr commented on #6241
@robert-do  Thanks for looking into it. You are correct, I cannot reproduce the issue either, so it was probably fixed by some other refactoring/bug fix.

[2020-11-08 16:29] #6241 closed

[2020-11-08 18:23] Siedlerchr commented on #7057
Thinking about it, I see the behaviour of JabRef correct, as the label is an (internal) reference to the entry. When the entry no longer exists, to what should it refer? It would be inconsistent.

[2020-11-08 18:24] Siedlerchr commented on #7055
Duplicate of #6901
Problem/Fix is outlined here:
https://github.com/JabRef/jabref/issues/6901#issuecomment-691493493

[2020-11-08 18:24] #7055 closed

[2020-11-08 22:45] k3KAW8Pnf7mkmdSMPHz27 commented on #6815
I'll start looking into this

[2020-11-09 03:04] crystalfp opened #7085 "Changing font size makes font size field too small"
JabRef 5.2--2020-11-04--fcbe9c5
Windows 10 10.0 amd64
Java 14.0.2

- [x] **Mandatory**: I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Changing font size makes font size field too small (see screenshot below)

Steps to reproduce the behavior:
1. Go to Preferences > Appearance and tick "Override default font setting"
2. Set font size to

[2020-11-09 07:16] crystalfp commented on #7055
Well, outlined. Not solved.
And #6901 has been closed too.
This means, in my opinion, that this bug will not be solved.
Also the suggestion to put the preview window as another tab **does not** remove it form the side of the "Optional fields" tab.

[2020-11-09 07:58] Siedlerchr commented on #7055
No 6901 is still open!

[2020-11-09 08:06] crystalfp commented on #7055
Opps! Sorry. Seen a "Closed" icon, put was for another issue...

[2020-11-09 10:25] ilippert commented on #7057
I like to offer a friendly disagreement. Your argument seems to miss temporality. Only because _now_  no referenced entry exists, it does not mean it **will not exist in future**. JabRef does and cannot know about the future. But JabRef could ask the user about their future intentions (and of course a default might follow your reasoning).
I see two options

- add this to the preferences world or
-

[2020-11-09 18:47] k3KAW8Pnf7mkmdSMPHz27 commented on #6815
I can't replicate. @sbecuwe , if this problem still remains, could you send me your settings for "Language", "Default encoding" and "Default library mode" (in JabRef Preferences, see below)?

<img width="722" alt="Skärmavbild 2020-11-09 kl  13 44 40" src="https://user-images.githubusercontent.com/2598631/98583101-d8edd680-2291-11eb-84b3-171f628ecdd7.png">

[2020-11-10 07:21] koppor commented on #7010
Quick recap:

left: BibTeX; right: Entry Editor

[code]

## Solution 1

[code]

Just check for `#` at the beginning of a line. If yes, do not do any replacement magic.

- Good, because no documentation needs to be changed
- Bad, because "quick handling" is introduced

## Solution 2

     field1 = value     -> §value§
     field2 = {value}   -> value

     field1 = value # value --> §value§ # §valu