[2016-08-28 17:28] oscargus commented on #1633
@ajbelle If you try out the very latest version I renamed these fields to `anyfield` and `anykeyword` as it gets a bit more fluent when you read the query.

`anyfield contains fruit and anykeyword matches banana`

[2016-08-28 17:42] oscargus commented on #1877
And in MedlineImporter the author decided to use `; ` as separator and ignore the preferences (the separator from the preferences is available in ImportFormatPreferences).

[2016-08-28 18:10] ph0boss opened #1878 "Citations in Libreoffice can't be copied to another part of the same document."
JabRef version  on

Actually I'm not sure if that is a problem with libreoffice or jabref. There was a thread discussing the issue on https://sourceforge.net/p/jabref/mailman/message/34627238/ but I found no bug reported. There was also a bug reported in LO, I'm not sure if it is the same.
https://bugs.documentfoundation.org/show_bug.cgi?id=63553&redirected_from=fdo
Steps to reproduce:
1. Insert a

[2016-08-29 11:13] stefan-kolb opened #1879 "Installer Code Signing"

[2016-08-29 12:04] oscargus opened #1881 "New database is marked as changed"
If a completely new database is created there should be no confirmations required to close it.

[2016-08-29 12:07] matthiasgeiger commented on #1873
Hi Michael!
Thanks for your report. I can confirm the behavior - and yes, you are right this a quite serious problem (and also related to #1495 but not exactly a duplicate).

Regards
Matthias

[2016-08-29 12:10] matthiasgeiger commented on #1881
This is already the case?

*File* -> *New Database*

*- do nothing - *

*File* -> *Close Database*

No message is shown.

[2016-08-29 12:16] grimes2 opened #1882 "Invalid Bibtexkey freeze"
JabRef 3.7dev--snapshot--2016-08-28--master--a2eb303
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. Entry editor > Bibtexkey
2. Insert {
3. Button Save database
4. Freeze

Remark: Same freeze as in #1757, but with bibtexkey field. So same solution to fix as in #1863. I'll fix that.

[2016-08-29 13:06] oscargus commented on #1881
Not in my development version... Just noticed it, so I think it is something quite recent.

[2016-08-29 15:08] Siedlerchr commented on #1881
I can confirm this behaviour in the dev version on Windows, to

[2016-08-29 19:14] swamptromp opened #1886 "Google search issue in version 3.6 [Fixed in DevBuilds]"
Hello,

Although JabRef 3.6 resolved issues with Google Search, I am still having problems. Google search worked for me for a few hours (I am trying to set up my entire library, so I have been using the search function a lot), but suddenly stopped fetching any search results. In the meantime, Springer and other searches continue to work - it sounds just like the 3.5 issues described on the forum.

[2016-08-29 19:53] Siedlerchr commented on #1886
Hello @swamptromp, thanks for your report,   I guess you ran into the Google limit. Google blocks your IP for a while, if you do too many automated requests (spam/bot protection) (as noted here)
https://github.com/JabRef/jabref/issues/1694#issuecomment-238435978

A solution would be to use the Browser Addon JabFox to import the entries

There is currently nothing we can do and I am not sure if we

[2016-08-29 19:59] Siedlerchr opened #1887 "Display better error message if Google download limit is reached / Show Catpcha dialog"
Investigate if it is possible to show a more specific error message or to display the captcha dialog.

Other approach:
I know that jdownloader2 opens a browser window for sites where you have to enter the google recaptcha (I'm not a robot/select images) dialog and then after you click/select the captcha, the link gets added.

Another/combined approach, also used in jdownloader2:
You can enter your

[2016-08-29 20:14] swamptromp commented on #1886
Ah, thanks so much for this @Siedlerchr! Great to know, glad it isn't a longer-term issue.

[2016-08-29 21:13] oscargus commented on #1881
My bad. I'll add a PR fixing this in a minute.

[2016-08-30 09:41] jfponge opened #1892 "bug report on JabRef 3.6: impossible to automatically generate a BibTex key using Ctrl-G or the magic wand"
bug report on JabRef 3.6: impossible to automatically generate a BibTex key using Ctrl-G or the magic wand

[2016-08-30 11:26] grimes2 commented on #1892
JabRef 3.7dev--snapshot--2016-08-28--master--a2eb303
windows 10 10.0 amd64
Java 1.8.0_101

works for me.

[2016-08-30 11:39] stefan-kolb commented on #1892
Thank you for your report :+1:
However, I cannot reproduce this behavior on the current `master`. Can you please try the latest build from http://builds.jabref.org/master.

[2016-08-30 11:42] oscargus commented on #1506
I can give this a go. @gianlucabaldassarre could you live with "of" being written as "of" or do you really want "Of"? (I can see that in this case you do want "Of", but we spent some time solving "of". ;-)

I think the modifier "title" can be a good name for the "of"-case. What about the first? "firstupper"?

[2016-08-30 11:53] #1881 closed

[2016-08-30 11:54] #1663 closed

[2016-08-30 13:14] jfponge commented on #1892
I found a solution to this problem in Tools then Preferences by selecting the automatic generation of BibTex keys when they are empty.

[2016-08-30 13:14] jfponge commented on #1892
Thank you for your reply

[2016-08-30 13:27] swamptromp commented on #1886
Hi, I have one more question. I verified my identity via the Google Scholar website, and although I can now get results through Google Scholar, JabRef still won't return google search requests, even after reinstalling it. Does this problem just go away after a set amount of time?

[2016-08-30 14:26] grimes2 commented on #1813
I want to work on this issue. But I need your ok, that this change from user-dir to working-dir for the preferences xml is useful.

[2016-08-30 14:42] oscargus commented on #1506
@gianlucabaldassarre You can try out a version at https://builds.jabref.org/implement1506 in a few minutes. I went with `title` and `camel` where you would like to use `camel`.

[2016-08-30 15:20] Siedlerchr commented on #1813
@JabRef/developers  Any comments on this? From my point of view it's okay to change it to working-dir

[2016-08-30 15:24] grimes2 opened #1895 "Compiling last master failed"
I've difficulties to compile last master (Latest commit 6bfac2b). Is this only my problem or a problem with the master?

[2016-08-30 15:36] Siedlerchr commented on #1886
@swamptromp  As it works for me, I can only try to give an explanation. I still think that your JabRef is blocked (uses a specific user agent)
Your Google Scholar settings in the browser (e.g. the fact that you are successfully authorized) are stored in a cookie.  However, JabRef does currently not support any form of authentication and therefore is not able to store your account info.

Maybe we c

[2016-08-30 15:44] Siedlerchr commented on #1895
Hi, I have no problems. Could you please specify some more details, e.g. which IDE do you use? Did you run gradlew check (or eclipse or build)?  It is always useful to run gradlew <target> before because it takes care of external library-dependencies etc.

My workflow is (eclipse user)
(Git bash)
git fetch upstream
git merge upstream/master
git push
./gradlew eclipse

PS: Sonst kannst du mich auch

[2016-08-30 16:01] grimes2 commented on #1895
Problem solved. @Siedlerchr: Thanks for your help.

[2016-08-30 16:01] #1895 closed

[2016-08-31 03:13] tobiasdiez commented on #1886
@JabRef/developers did we tried to get clearance/allowance from google for the userargent = JabRef? This might be worth a try.

[2016-08-31 12:13] grimes2 opened #1897 "Integrity check should report year not consisting of 4 numerals"
Field year should consist of four numerals (year = {1986}). Other formats are allowed (year = {about 1986}), but should be reported by Check integrity.
EDIT: Because these formats are allowed, it should be not reported by Check integrity.

[2016-08-31 13:03] Siedlerchr commented on #1897
Yeah, but the official bibtex spec defines it a bit more detailed bibtex spec: http://ftp.fernuni-hagen.de/ftp-dir/pub/mirrors/www.ctan.org/biblio/bibtex/base/btxdoc.pdf

dard styles can handle any year whose last four nonpunctuation characters are
numerals, such as ‘(about 1984)’.

[2016-08-31 13:11] grimes2 commented on #1897
Interesting, but then this is not allowed: '(1984 but I am not sure)' or '(1984a)'

[2016-08-31 15:05] #1882 closed

[2016-08-31 21:24] stefan-kolb commented on #1813
Issue not closed yet, see my comment on file prefs.

[2016-09-01 08:35] oscargus opened #1902 "Newline character should be set in database properties"
Currently, the newline character is set in the preferences. However, the original reason for allowing this was to ease the use of version management systems, see https://sourceforge.net/p/jabref/feature-requests/857/ (commented in the code). Unfortunately, it means that the current solution is user (or even computer) dependent, rather than database dependent. Hence, it would make sense to have an

[2016-09-01 09:48] mlep commented on #1886
@JabRef/developers : [The help about Google Scholar](http://help.jabref.org/en/GoogleScholarHelp) states that
[code]
Is this trick currently valid?

[2016-09-01 09:52] AEgit opened #1903 "Main table non updated properly when newly assigning an article to a group"
JabRef 3.7dev--snapshot--2016-08-31--master--4913665
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:
1. Start with a database that contains a few articles and a few groups
2. Assign an article to a group, to which it had not been assigned previously
3. The article is assigned to the new group (confirmed by checking the respective bibtex field), but it is not displayed properly in the "ma

[2016-09-01 09:57] AEgit opened #1904 "Proposed enhancement: Search for groups"
I propose to add a search functionality just for groups (unfortunately my Java knowledge is nearly non-existent, so I can only propose this, but not contribute). For large databases with many groups (I have >900 groups) it is a bit of a hassle having to scroll to the group of interest. It would be nice to have a search feature (similar to what is already available articles) just for groups. When s

[2016-09-01 10:05] Siedlerchr commented on #1886
@tobiasdiez  I remember that the User Agent previously was set to JabRef, but that led to the problem with then non utf-8 response. Maybe we should contact Google?

[2016-09-01 10:35] oscargus commented on #1886
@mlep Yes, I think so. It was added quite recently.

[2016-09-01 10:37] oscargus commented on #1886
@Siedlerchr That was solved by explicitly asking for UTF-8, see #1785

[2016-09-01 10:57] Siedlerchr commented on #1904
@oscargus  Relates to #1876, Is there a "group" pseudo field already?

[2016-09-01 11:07] oscargus commented on #1904
One can search for groups=xxx in the normal search and that will highlight/filter the entries in that group.

@AEgit Is that enough or do you mean having a search box in the groups side panel to easily filter out groups there? (Which I think is a quite reasonable way to implement it.)

[2016-09-01 11:10] grimes2 commented on #1897
My interpretation is: The Year Checker should check for "last nonpunctuation character should not be an alphabetic character". I would like to implement this.

[2016-09-01 11:16] Siedlerchr commented on #1897
You're welcome :) should be relatively simple to check if the last 4 chars of the field string are numeric.
Go for it :+1:

[2016-09-01 12:04] AEgit commented on #1904
@oscargus

I was thinking about a search box in the groups sides panel - the issue with filtering is, that you still have to scroll in the group side panel, if you want to see the actual group (not just the articles entries associated with the group). Reason for this could be, that you want to assign the group to another group (as a subgroup) - currently that can only be done by scrolling to the a

[2016-09-01 13:24] tobiasdiez commented on #1904
Good idea!
I think, I'll try to implement it during the redesign of the groups interface (work-in-progress, https://github.com/JabRef/jabref/pull/1438).

[2016-09-02 08:31] Mattri commented on #1851
Hello Christoph,

in the meantime, I've been testing MS Office 2007 XML export of version 3.6. Integration of custom entry types as `<b:BIBTEX_entry>` seems to be a good idea and can be used for generating appropriate citations in Word. I noticed one more problem, though: the "Location"-field of BibTex is not exported correctly. Say, you have set "Location" to "Berlin". Then, in the MS-Bib XML thi

[2016-09-02 08:51] Siedlerchr commented on #1851
Hello Mattri,
thanks for your report! I will check it.
` Integration of custom entry types as <b:BIBTEX_entry> seems to be a good idea `
Yeah, I thought the same and theoretically it should already be there, because the field is just calling `entry.getType()` But I will check for custom entry types,too.

In the meantime I created a help page with all entry and field mappings between JabRef and MsO

[2016-09-02 08:56] #1897 closed

[2016-09-02 13:07] grimes2 opened #1908 "Shortcut for Check Integrity"
For my workflow "Check integrity" gets more and more important. I wish I could have a (default) shortcut (keybinding) for that action.

[2016-09-02 22:02] Siedlerchr commented on #1851
@Mattri  I fixed the location bug.  When only one "word" is present (e.g. Berlin) it is threated as city.

[2016-09-03 09:40] grimes2 opened #1912 "Integrity Check: check for field edition"
Official bibtex spec:
The edition of a book - for example, “Second”. This should be an ordinal, and should have the first letter capitalized.
A check for "should have the first letter capitalized" in the field edition should be added. I would like to implement this.

[2016-09-03 10:20] Siedlerchr commented on #1912
You could also check if the biblatex spec says something related forthe  fields:
https://www.ctan.org/pkg/biblatex?lang=de

[2016-09-03 10:37] Siedlerchr commented on #1912
You have to treat bibtex and biblatex mode different. (there should be a flag or whatever to indicate this somewhere related to the bib database code)
Especially for the edition field, biblatex says  in section   2.2.2

The edition of a printed publication. This must be an integer, not an ordinal. Don’t say edition={First} or edition={1st} but edition={1}. The bibliography style converts this to a

[2016-09-03 16:50] Siedlerchr opened #1916 "Refactor Integrity Checker"
Follow up from #1914
As we have a nice functional interface (checker ) we could use lambdas instead of the private static class things... Would clean up the code, for example it would look like this:

[code]

[2016-09-03 17:08] tobiasdiez commented on #1916
You are right, checker as private static classes are ugly.
In my opinion, all these checker should live in separate files (accompanied with their own test files). Otherwise Checker.java gets to big.

Most of these checker only work on one field and thus it may be worthwile to introduce a new abstract class:
[code]

[2016-09-03 18:54] Siedlerchr commented on #1916
Yeah I already thought about that, too. A dedicated class for each checker would have been my idea, too.

[2016-09-04 15:23] lenhard commented on #1908
The keybindings have recently been reworked by @JabRef/stupro Maybe this is something that can easily be added?

Do you have a suggestion for which keys would be appropriate for such a binding?

[2016-09-04 16:22] stefan-kolb commented on #1916
+1 for extracting them to separate classes with explicit tests!

[2016-09-04 16:32] Siedlerchr commented on #1851
@Mattri  I  just merged the fix for the location export bug. You soon could try the latest master from here:
http://builds.jabref.org/master/

[2016-09-04 16:39] Siedlerchr commented on #1851
@Mattri I just tested to export a custom entry type. The entrytype is corectly set in the
`<b:BIBTEX_entry>` field
And in the xml file:
[code]

Sample Bib file:
[CustomEntryType.bib.txt](https://github.com/JabRef/jabref/files/454005/CustomEntryType.bib.txt)

[2016-09-05 07:09] oscargus commented on #1916
Separate classes has been the decision for a few months, yes.

[2016-09-05 07:21] ajbelle commented on #1633
Thank you @oscargus your solution is brilliant.  It all seems to be working as you say and I can now use `anyfield contains ‘searchWord’ and abstract!= ‘searchWord’ and review!= ‘searchWord’ `which picks up all my own fields without all the junk hits!
You were correct the #1643 issue is fixed in Ver3.6 :-) Sorry I missed that :-(
Thanks also for the identically equals == head up. `not entrytype==b

[2016-09-05 07:43] ajbelle commented on #1715
Thank you @oscargus.

**I confirm that it is the Groups that is killing JabRef.** The attached files (contains just the groups I set up) which even my 32MB RAM university PC started to show UI lags! I have had to remove the groups making JabRef not nice for the purpose I hoped and significantly increases the manual work I have to do.

The reason I have not sent my database is that it 'part belongs

[2016-09-05 07:49] Mattri commented on #1851
@Sidlerchr I tried the dev snapshot. However, the .exe throws a Java-Error during initialization. I ran the .jar and did the MS-Bib Export. The issue with broken exports of "Location" is still there, works only randomly, e.g. "Södertälje" is exported correctly, while "Tokyo" isn't.

[2016-09-05 08:32] Siedlerchr commented on #1851
@Mattri  I just see that the master build did not get updated correctly (still from 02.09). I will build an upload it manualy

[2016-09-05 09:48] #1396 closed

[2016-09-05 11:42] tschechlovdev opened #1920 "Importer/Exporter for MODS format"
Since JabRef has an exporter for the MODS format, it would be nice to have also an importer for this format.
There is a XML schema available [here] (http://www.loc.gov/standards/mods/mods-3-6-announcement.html), so I think it would be the best to write the importer with a JAXB parser.
But then it could happen, that exporting in MODS format and importing in MODS format are not working correctly. So

[2016-09-05 11:52] koppor commented on #1920
+1

[2016-09-05 15:31] grimes2 commented on #1916
Yes, I'll open a new issue for that.

[2016-09-05 15:37] grimes2 opened #1922 "Integrity Check: Extract all checkers to it's own file"
A subtask of #1916 is to extract all checker classes in IntegityCheck.java to it's own file. I would like to do this improvement of code-quality.

[2016-09-05 15:58] lenhard commented on #1922
Be our guest and go ahead :-)

[2016-09-05 18:53] Siedlerchr commented on #1851
@Mattri  I just uploaded the most recent version to my personal cloud
https://siedlerchr.owncube.com/index.php/s/NaXpmdT0ZatFD5H
[Uploading JabRef-3.7dev.zip…]()

[2016-09-06 09:47] Mattri commented on #1851
@Siedlerchr thanks for the fixed version. There are a few more issues from my side: since I organize my references with custom entry types (necessary corporate rules) source type is set to "Misc" for all of my entries with "BIBTEX_Entry" added for the custom entry type. This is OK. However, some fields are ignored and do not show up in the MS-Bib-XML. For example, I use a custom type for reports w

[2016-09-06 10:04] Siedlerchr commented on #1851
Yeah, that should be possible. If you could provide me some sample bib file (if you do not want it public here, send it to developers@jabref.org), I wil test it and check the possibilites.

[2016-09-06 11:35] Mattri commented on #1851
I generated a sample file containing a set of custom entry types. All fields should be exported

[sample_file_Mattri.zip](https://github.com/JabRef/jabref/files/456583/sample_file_Mattri.zip)

[2016-09-06 12:22] obraliar commented on #1703
This issue could be closed.

[2016-09-06 12:31] grimes2 commented on #1912
I think, this issue can be closed.

[2016-09-06 12:40] Braunch commented on #662
I see some troubles using already existing fields. If the user wants to use the review function, the pdf comments will be in the way. Also the review field is editable and we don't want to have editable pdf comments, so that the user won't accidentally change the comments when he doesn't want to. The pure text field of the notes and the review field can be very confusing because you can not show t

[2016-09-06 13:07] #1912 closed

[2016-09-07 06:19] koppor commented on #383
Implemented in https://github.com/JabRef/jabref/pull/1925

[2016-09-07 06:19] #383 closed

[2016-09-07 06:59] lenhard commented on #1922
Solved by #1926

[2016-09-07 06:59] #1922 closed

[2016-09-07 08:48] tobiasdiez commented on #662
Sounds like a good solution, @Braunch. JabRef could internally store the extracted PDF comments if the extraction is time-consuming. But I also wouldn't write it into a BibTex field (because then you run into all kinds of synchronization problems).

[2016-09-07 11:08] Siedlerchr commented on #1851
@Mattri  I just fixed the problems with the key and the number export.  Key is now exported as `<b:BIBTEX_Key>` . Number gets exported as `number `field if the entry type is not patent and the field issue is not present.

In the meantime I would like you to check if all fields are listed here in the help file (except the things mentioned above).
http://help.jabref.org/en/MsOfficeBibFieldMapping

I

[2016-09-07 17:11] #1550 closed

[2016-09-07 20:42] koppor commented on #1550
Refs #1438

[2016-09-08 01:34] ajbelle opened #1936 "# in file names is now escaped with \\"
JabRef Ver 3? (not sure when JabRef made the changes) on Win7.

per issue #1188 and @tobiasdiez I understand code has been added to escape # within the bib file  to avoid JabRef crashing. I unfortunately have **#** in the legacy filesnames I inherited from Endnote (example follows)

`  file        = {://wu caltech 1961 #97-2-1400983301/wu caltech 1961 #97-2.pdf:PDF},`

has been changed by JabRef t

[2016-09-08 03:19] koppor commented on #463
@motokito You addressed the issue with **no database** in #1743. Simon also talked about selection of multiple entries. I checked the context menu of entries. For instance, "Print Entry Preview" prints the currently selected entry and and "Attach File" does not do anything at all.

Can you please use [complex.bib](https://github.com/JabRef/jabref/blob/master/src/test/resources/testbib/complex.bib)

[2016-09-08 03:33] koppor commented on #1813
@grimes2 Where is the text field for `FILE_WORKING_DIRECTORY`? And the checkbox? I see only the screenshot with Export Preferenes.

In the preferences, I see:

![grabbed_20160908-052540](https://cloud.githubusercontent.com/assets/1366654/18336081/b7a49018-7584-11e6-88e4-50470cd353c9.png)

In the context menu of a database, I see:

![grabbed_20160908-052617](https://cloud.githubusercontent.com/asse

[2016-09-08 05:21] Doc73 opened #1937 "Help pointing on wrong web pages"
JabRef version 3.6 on Debian 8 Jessie
Steps to reproduce:

1. click on Help inside Jabref
2. A browser opens at [https://help.jabref.org/it/](https://help.jabref.org/it/)

Obviously, this depends on the fact that my operating system is in Italian and that there is no documentation in this language.
Could you make sure that, in the absence of documentation in a particular language, Jabref points to

[2016-09-08 07:51] grimes2 commented on #1813
I was wrong. It is the textbox for the 'FILE_DIRECTORY' and the checkbox below (Use tie BIB file location as primary file directory) toggles between `FILE_DIRECTORY` and `WORKING_DIRECTORY`. This is ok, but I don't know the purpose of `FILE_WORKING_DIRECTORY` and I doubt it's working properly, because the variable is set to a full path (with file name). It is really confusing. I mixed up the direc

[2016-09-08 08:07] lenhard commented on #1937
Thanks for reporting! Your suggestions of using the english localization as default for help pages sounds reasonable.

[2016-09-08 08:19] Siedlerchr commented on #1937
Refs: https://github.com/JabRef/help.jabref.org/issues/41
Maybe it would be nice to create a redirect to the default eng page as 404 page
https://help.github.com/articles/redirects-on-github-pages/

[2016-09-08 08:32] lenhard commented on #1937
To implement redirection, we would have to add redirect statements for all unavailable localizations to all english help pages, am I right?

Sounds pretty doable, overall.

[2016-09-08 08:40] Siedlerchr commented on #1937
@lenhard  Two step solution: First copy all english pages to all languages (don't replace existing ones).
So when you click a link from an japanese hel file about exports and the target pages does not yet exist, it automatically shows up the english page.

2nd step: Additionally just modding the 404 error file to set up a redirect to the english index.

I will look into that. I also wanted to chec

[2016-09-08 10:26] radeksimik opened #1938 "Cursor jumps away from the search field"
JabRef version 3.6 on Mac OS X 10.11.6

Steps to reproduce:

1. Typing a string to be searched into the search field on the top left of the window.
2. At the same time, the entry editor (at the bottom) is open.
3. Problem: Sometimes (didn't find the pattern) the text-cursor jumps away from the search field into one of the slots of the entry editor. From that point on, typing happens not in the sea

[2016-09-08 12:54] bartsch-dev opened #1939 "Rework syncLang.py"
After #1933 has been finished & merged I want to rework `syncLang.py`.
E.g. when there are unambiguous Duplicates (e.g. one has no or both have the same Value) I want to solve them automatically.

I plan to have a Gradle task which fixes obsolete, missing, and unambiguous  duplicate properties and sorts all Properties in all language files the same order as they are in the English File.
A task whi

[2016-09-08 15:05] AEgit commented on #1938
I can confirm this problem - unfortunately I've also not been able to find the pattern behind it, so I did not report the bug.

[2016-09-08 15:46] oscargus commented on #1939
It would be great if a task could generate the summary in md table format and automatically update a suitable Wiki page and that this is executed on the master.

[2016-09-08 19:12] mlep commented on #1939
Like the table on this wiki page: https://github.com/JabRef/jabref/wiki/Translating-JabRef-Interface

[2016-09-09 15:51] Siedlerchr opened #1943 "Use XMLUnit for XMl comparison in tests"
Atm the XML files are just compared as strings. Major disadvantage: Hard to spot the error when there is an error.

Well, then I discovered this awesome library called XMLUnit and tried a bit around with it.
The best thing is, it has support for throwComparisonFailure which allows to show a nice side by side comparison window in the IDE:
https://github.com/xmlunit/user-guide/wiki/CompareMatcher#th

[2016-09-09 19:53] grimes2 commented on #1178
File AUTHORS is encoded in UTF-8 without BOM. All other files are encoded in ANSI. What is the reason for the different encoding?

[2016-09-09 21:28] koppor commented on #1178
What are "all other files"? Language files are encoded in UTF-8. Source
code also in UTF-8. I'm currently not in ANSI encoding. Is it ISO ...-15?
Windows CP 8..? Or 7bit only?

[2016-09-09 21:43] grimes2 commented on #1178
"all other files" is for example CHANGELOG.md. Here are the screenshots in notepad++, that demonstrates the different encoding of the files:
![authors_in_notepad](https://cloud.githubusercontent.com/assets/15456836/18403735/e1a46858-76e6-11e6-909a-36f014da2ec8.png)
![changelog_in_notepad](https://cloud.githubusercontent.com/assets/15456836/18403741/ea0a4e54-76e6-11e6-9d04-d3ed7116c552.png)
The fil

[2016-09-09 21:56] Siedlerchr commented on #1178
My changelog is in UTF8...like all other files

2016-09-09 23:43 GMT+02:00 Jürgen Lange <notifications@github.com>:

[2016-09-09 22:13] grimes2 commented on #1178
I've now cloned the upstream master again, to exclude that it is an problem introduced by me. Same result: AUTHORS still has another encoding than all the other files.
System: windows 10, Notepad++

[2016-09-10 01:04] yanfeit opened #1946 "Can't open attached PDF file"
JabRef version 3.6 on Mac OS X 10.11.5

Steps to reproduce:

1. I upgraded JabRef to version 3.6. Now I can't open attached PDF file by right click---> Open file.
2. The left bottom Status shows External viewer called. But nothing happens.

[code]

[2016-09-10 14:54] stefan-kolb commented on #1946
Thank you for your report :+1:
However, I cannot reproduce this behavior on the current `master`.
Please try to reset the external application for PDF in the `Options - Manage external file types dialog.`
![image](https://cloud.githubusercontent.com/assets/2141507/18411399/f5789fda-7776-11e6-9b8e-23594f3aee0f.png)
Otherwise, please try to reset the preferences `Options - Preferences - Reset Prefer

[2016-09-10 16:05] yanfeit commented on #1946
Thank you for your response. I can not solve my problem by reseting the preference. By the way, I didn't change preference before.

I also tried to reinstall JabRef, but it can not solve my problem. I tried to attach a PDF file to an entry, then open PDF by right click. But nothing happens. But if I try to open URL or DOI, Chrome can open the link for me.

Can you please tell  me if I can find a p

[2016-09-10 16:31] Siedlerchr commented on #1946
Thanks for your report. Can you please check if you have som errors in your log?
Help->Show Error console?

[2016-09-10 17:07] yanfeit commented on #1946
![image](https://cloud.githubusercontent.com/assets/13397298/18412219/3a27ef48-7757-11e6-8b02-2bca7698e3f6.png)

This is what I have in my error console. Thanks!

[2016-09-10 21:25] ChristopherHackett commented on #1065
I've been looking at the fetchers and noticed this ticket. From a quick look at the API docs it seems that a key would be required. Does this community have a designated person who "owns" API keys ... as this will required embedding in the distribution? I see that the ScienceDirect fetcher has an embedded API key.

[2016-09-10 22:26] tobiasdiez commented on #1065
@ChristopherHackett Thank you for having a look at the worldcat fetcher.

I created a sandbox wskey for you, which should be enough for playing around with the API.

| Name | TestKey |
--- | ---
| Key | aMHOf2rfzUt3fuKkb7DXX8pkBv1AmcBWwwoSfwpt8CMhdUdxXscB4ESOmBPs4NlmYJmFtcSZ3Q5kMxzb |
| Secret | guSz2IxhsM2Zh3H0o0LIkw== |

Let us know if you have any questions about the implementation. My recent P

[2016-09-10 23:17] ChristopherHackett opened #1949 "Wrong error message for No File Directory"
JabRef version JabRef 3.6 on Mac OX X 10.11.6

Steps to reproduce:

1. Ensure that "Main file directory" is empty under File in preference
2. Attempt to download file using "get full text"
3. Note that the message tells you to go to the wrong location (see screen shots) as this setting is not under external programs

<img width="550" alt="screen shot 2016-09-11 at 00 09 50" src="https://cloud.gith

[2016-09-11 00:15] ChristopherHackett commented on #1258
Debugging the code it seems a url is scraped from the site and then accessed. From this URL in the browser a redirect happens to the pdf but in the full text fetcher the redirect does not happen. Might require cookies or some user agent tweaking.

[2016-09-11 08:57] ChristopherHackett commented on #1258
It looks like pre-flighting the request with HEAD is the issue as the response comes back with text/html content type not application/pdf. Looking at the HTTP spec it say

"The metainformation contained in the HTTP headers in response to a HEAD request SHOULD be identical to the information sent in response to a GET request."

Which means the behavior is different but not incompatible with the sep

[2016-09-11 09:59] koppor commented on #1949
Related: https://github.com/JabRef/jabref/pull/1921

[2016-09-11 10:33] koppor commented on #825
Thank you for reporting this issue. We think, that is already fixed in our development version (by merging #1549).
Please use a development build from http://builds.jabref.org/master
The fix will be included in the next release.

[2016-09-11 10:33] #825 closed

[2016-09-11 10:35] koppor commented on #617
Thank you for reporting this issue. We think, that is already fixed in our development version.
Please use a development build from http://builds.jabref.org/master
The fix will be included in the next release.

We are well aware, that <kbd>cursor up</kbd> and <kbd>cursor down</kbd> does not work as expected in the global search dialog. @bartsch-dev takes care.

[2016-09-11 10:35] #617 closed

[2016-09-11 11:29] Siedlerchr commented on #1258
@ChristopherHackett  Thanks for your effort. We are currently in "negotiations" with Elesevier regarding the usage of an API key. So, until we have the okay from them..we wait.

[2016-09-11 13:46] #1943 closed

[2016-09-11 20:09] Siedlerchr commented on #1178
Fixed with #1954

[2016-09-11 20:09] #1178 closed

[2016-09-11 20:18] Siedlerchr commented on #1916
- [ ] Create StartsWitchUpperCaseChecker with Fields to check  as parameter
- [ ] Look for other checkers to unify

Linking follow up issue from here: https://github.com/JabRef/jabref/pull/1930#issuecomment-246172096

[2016-09-12 05:45] koppor commented on #1178
@grimes2 I think your observation has something to do with the default charset of Notepad++. I assume if you [change the default encoding to UTF-8](http://superuser.com/questions/292086/how-can-i-enforce-so-notepad-uses-utf-8-every-time-i-create-a-new-file). I opened the CHANGELOG.md in notepad++, converted it to ANSI, saved. Nothing changed according to git. I also searched for `[^\x20-\x7E\t\n\r

[2016-09-12 10:18] #1949 closed

[2016-09-12 10:38] bartsch-dev opened #1956 "Stable library version for citationStyles"
The last stable version was in 13-Sep-2013 ([according to MavenCentral](http://search.maven.org/#search|ga|1|citationstyles)) and they contain only the old 1.0  CitationStyles.

For the new v1.0.1 CitationStyles we have to use the snapshots (for now, I asked in the official CitationStyles repo for a stable release citation-style-language/styles#2221)

Important for PR: #1928

[2016-09-12 10:45] Siedlerchr opened #1957 "Abstract Action and Lambdas"
Unfortunately it is not yet possible to use lambdas in AbstractActions.
I googled a bit around and found this (see also the linked PR) which introduces a nice solution for the problem:

What is your opinion about?

https://github.com/triplea-game/triplea/issues/410

https://github.com/triplea-game/triplea/pull/439/files

[2016-09-12 11:11] simonharrer opened #1958 "URL with encoded html characters is shown as a violation regarding the integrity check"
JabRef version 3.7dev (latest) on Windows 10

Steps to reproduce:

1. Have an entry with url field `http://www.thinkmind.org/index.php?view=article&amp;articleid=cloud_computing_2013_1_20_20130`
2. Check integrity
3. As url has `&amp;` inside it, an integrity check violation is shown. But the url is perfectly valid and no integrity check violation should be shown.

[2016-09-12 11:35] koppor opened #1959 "Improve JavaFX about dialog"
Follow up of #1947

- [x] clicked link should stay blue (see screenshot below)
- [x] is it possible to link https://github.com/koppor/keep-a-changelog/blob/master/CHANGELOG.md#unreleased instead of CHANGELOG.md. During a release, we will replace that by something like `https://github.com/JabRef/jabref/blob/master/CHANGELOG.md#36---2016-08-26`
- [x] Spell "Used libraries" instead of "Used Libraries

[2016-09-12 11:56] Siedlerchr commented on #1958
Integrity check for url should be disabled generally. At least in biblatex all URL related fields are treated as verbatim

[2016-09-12 12:18] grimes2 commented on #1959
For authors and developers it is important to know the actual snapshot version (latest commit hash) of JabRef.
![about](https://cloud.githubusercontent.com/assets/15456836/18435241/50a98226-78f2-11e6-862c-a8310b796d82.png)
Here the version is truncated. An idea is to add the complete version as a tooltip.

[2016-09-12 14:29] tobiasdiez commented on #1957
Good idea but I would push it a bit further and construct a fluent builder API.
[code]
This can also be extended to create special builders for certain cases. For example `Action.forSelectedEntries(entries -> doSomethingWithTheEntries).withBlablaBlub...`

It would be nice to make it compatible to the [JavaFX Action interface](http://controlsfx.bitbucket.org/org/controlsfx/control/action/Action.htm

[2016-09-12 15:01] cr333 opened #1963 "UTF8 text decoding issue in About dialog"
The About dialog shows some names incorrectly (see screenshot). It looks like the UTF8 bytes are not interpreted correctly.

![jabref-3 6-about](https://cloud.githubusercontent.com/assets/8134692/18440697/0453ad9c-7902-11e6-8ad4-d0c477bd97b3.png)

This is with JabRef 3.6 on Windows 10 with Java 1.8.0_101.

[2016-09-12 15:07] cr333 commented on #1938
Same for me with JabRef 3.6 on Windows 10 (1511). The cursor jumps away sometimes (but not every time) when the partial search term is a valid text completion. For example, searching for "bilateral" may mean that the cursor jumps away after "bi" as this is the surname of some author (Bi). But this is somehow not reproducible.

[2016-09-12 15:19] Siedlerchr commented on #1963
Thanks for your report. Fortunately this issue has been already resolved in the latest development version.
You can try out the latest development version from here: http://builds.jabref.org/master/
Refs #1954

[2016-09-12 15:19] #1963 closed

[2016-09-12 15:29] Siedlerchr commented on #1957
Yeah, the idea of compatibility with javafx sonds good. However, most of the time the AbstractAction is only used for adding a single Action do an input/action Map.

When I understand you correctly, you want to further get rid of our Custom Action classes?

[code]

[2016-09-12 15:48] koppor commented on #1959
Why not just simply in the next line with normal font size?
"dev info: snapshot--2017..."

The tool tip is too hidden for me.

[2016-09-12 15:52] boceckts commented on #1959
@koppor discussion moved to #1962 with new screenshots and new way to find the link to the changelog of the used version.

[2016-09-12 20:58] koppor commented on #1181
Fixed by #1470

[2016-09-12 20:58] #1181 closed

[2016-09-12 22:26] murrayE commented on #1892
Where in the OS X version 3.6 of JabRef is that preference to allow automatic generation of BibTeX keys when they are empty?

[2016-09-12 22:35] murrayE opened #1966 "JabRef on OS X hangs when use Magic Wand to generate BibTeX key"
JabRef version3.6 on Mac OS X 10.11.6 is frequently, but not always, freezing when, after entering required fields and some optional fields, I return to Required fields and click the "Magic Wand" to try to generate a BibTeX key. Int freezes to the point that I cannot even bring up the OS X Dock.

I'm new to JabRef (please be gentle!) and so don't know where the log file is stored.

Note: I did see

[2016-09-13 07:13] #1959 closed

[2016-09-13 07:14] koppor commented on #1966
@chochreiner @steimlfk Can you have a look?

Can you send us an example entry and your BibTeX key generator pattern?

[2016-09-13 07:29] jfponge commented on #1892
[Doc1.docx](https://github.com/JabRef/jabref/files/469113/Doc1.docx)
I send you a screen copy where you will find how to select the automatic generation of BibTex keys. Unfortunately in French, I am sorry...

[2016-09-13 08:00] oscargus commented on #1936
A note to whoever tries to solve this. There is a `FieldProperty` called `VERBATIM` which among others are used to avoid checking for an odd number of `#`. This probably should be used here as well to not escape the field (same thing with e.g. the url field which may contain `#`).

[2016-09-13 08:13] stefan-kolb commented on #1957
This issue doesn't seem too important for me. No strong opinion here.

[2016-09-13 08:17] koppor commented on #1936
This somehow refs  #574.

[2016-09-13 08:20] koppor commented on #1956
The usage of `SNAPSHOT` is intentional by the developers (see https://github.com/citation-style-language/styles/issues/2221#issuecomment-246404544): They ensure that this artifact always includes all citation styles. Further, they have quality control in place ensuring that nothing breaks at `SNAPSHOT` (https://github.com/citation-style-language/styles/issues/2221#issuecomment-246456294). So it is

[2016-09-13 08:20] #1956 closed

[2016-09-13 08:21] koppor commented on #1850
The updated help file is available at http://help.jabref.org/en/CommandLine

I think, it is currently not possible to list all fetchers, is it?

[2016-09-13 08:22] stefan-kolb commented on #1946
@yanfeit We need to see the full log messages. The picture is cropped in your post...Although it dosn't look like any errors occured.

[2016-09-13 08:51] oscargus commented on #1958
There is `FieldProperty.VERBATIM` that can be used as there are more fields which are verbatim in BibLatex.

[2016-09-13 08:54] stefan-kolb commented on #1958
Like this? ` if (!InternalBibtexFields.getFieldProperties(field.getKey()).contains(FieldProperty.VERBATIM)) {`

[2016-09-13 09:11] Siedlerchr commented on #1936
Probably refs #1970 , too.
@oscargus  Is the file field marked as verbatim already?

[2016-09-13 09:22] ajbelle commented on #1633
I have a regular issue with https://builds.jabref.org/bettersearch crashing my Win7 box. The most consistent cause is editing something and then selecting the undo icon. There seems to be other situations, but I am never sure I have't pressed a key by mistake.

This did not occur for me with ver3.6

[2016-09-13 11:21] #1958 closed

[2016-09-13 11:29] stefan-kolb commented on #1813
We remove `FILE_WORKING_DIRECTORY` and use `WORKING_DIRECTORY` instead.

[2016-09-13 11:31] koppor commented on #1813
@grimes2 Do you mean "Main file directory" and "Use the BIB file location as primary directory"?

[2016-09-13 11:42] koppor commented on #1877
Refs #1950

[2016-09-13 11:47] lenhard commented on #1866
Fixed by #1893

[2016-09-13 11:47] grimes2 commented on #1813
Yes. I think this layout is not intuitive. Default "Main file directory" should be the working directory. The checkbox "Use the BIB file location as primary directory" should be replaced by radio buttons: a) Use custom main file directory, b) Use BIB file directory. (This are just some ideas)

[2016-09-13 11:50] lenhard commented on #1866
Correcting: Though indicated by the PRs, the issue is not really solved.

[2016-09-13 12:02] tobiasdiez commented on #1359
Decision from devcall: use google.

[2016-09-13 12:04] alexandre-a-denis commented on #1966
I've got the same problem with exactly the same setup and found out it was coming from this entry: [http://dblp.uni-trier.de/rec/bib2/conf/ijcai/DingZLD15.bib](http://dblp.uni-trier.de/rec/bib2/conf/ijcai/DingZLD15.bib)

[2016-09-13 12:09] grimes2 commented on #1813
@stefan-kolb Can you explain? I thought, `FILE_WORKING_DIRECTORY` is essentially the same as `FILE_DIRECTORY`.

[2016-09-13 12:12] Siedlerchr commented on #1284
I'll try out with with Native Messging

[2016-09-13 12:47] grimes2 commented on #1966
Confirmed.

DBLP conf/ijcai/2015 is an invalid BibTeXkey, because of the whitespace.

[2016-09-13 12:57] yanfeit commented on #1946
@stefan-kolb Thanks! The problem has been fixed. I restart my computer, then it works fine now.

[2016-09-13 13:01] #1946 closed

[2016-09-13 14:05] oscargus commented on #1936
@Siedlerchr yes, I think so. Check InternalBibtexFields (unless it was added in the big refactoring PR not yet merged...).

[2016-09-13 15:37] murrayE commented on #1892
Yes, I was able to avoid crashes by checking the Preference:

   BibTeX key generator > Generate keys before saving (for entries without a key).

(French no problem!)

But then what is the point of the “Magic Wand” tool? It’s superfluous, so far as I understand, if that preference is checked, And if the preference is _not_ checked, then I get the crashes at times when I try to use the Magic Wand.

[2016-09-13 16:48] jfponge commented on #1892
Yes, me too, I was unable to use the Magic Wand. I hope all these problems will be solved in a further version pf Jabref…

Best regards,

PONGE Jean-François

Museum National d'Histoire Naturelle

CNRS UMR 7179

4 avenue du Petit Château

91800 BRUNOY (France)

tel. +33 6 78930133

e-mail: ponge@mnhn.fr

 <http://mecadev.cnrs.fr/index.php?post/Ponge-Jean-Fran%C3%A7ois> http://mecadev.cnrs.fr/index

[2016-09-13 18:14] tobiasdiez opened #1974 "Proper error messages in case http requests return different response code"
The fetchers completely ignore the response code and just fail with an IOException without giving any details. It would be better to check the response code and provide a better the error message.

For unirest:

[code]

For `HttpURLConnection` it is a combination of `getErrorStream` and `getResponseCode`.

In the end it may be worth to unify the URL download stuff, refs https://github.com/JabRef/j

[2016-09-13 18:21] tobiasdiez opened #1975 "Reuse query parser"
Instead of parsing a search query using a custom grammar we should reuse some existing query parser. For example, [Lucene's query parser](https://lucene.apache.org/core/2_9_4/queryparsersyntax.html) with [QueryParser.parse](https://lucene.apache.org/core/4_0_0/queryparser/org/apache/lucene/queryparser/classic/QueryParserBase.html#parse%28java.lang.String%29).

Triggered by https://github.com/JabRe

[2016-09-14 06:54] oscargus commented on #1633
Sorry to hear about your problem @ajbelle . My guess is that it is not directly related to the actual search PR, but to something else we have changed, but I will double check the code I added.

Indeed, the help file should be improved, especially with good examples!

[2016-09-14 12:05] simonharrer commented on #1975
Be aware that a lot of groups rely on the current search query grammar, and they will break if this is changed.

[2016-09-14 12:21] simonharrer opened #1979 "For toggle icons, the icon should stay the same"
JabRef version JabRef 3.7dev--snapshot--2016-09-14--master--ff7c9b2 windows 10 10.0 amd64  Java 1.8.0_102

Steps to reproduce:

1. Open JabRef, see Toggle Global Search with strike-through globe
2. Toggle button
3. Globe is activated, but the icon changed to a normal globe

I would expect that if it is active, the toggle status already shows this, and the icon stays the same. Hence, I would propos

[2016-09-14 12:41] grimes2 opened #1980 "Java Code Convention"
In the JabRef code I found several violations of the Java Code Conventions.
Examples are:

(Eclipse Java Convention formatter used)

The question is:
Should we use a formatter to unify the complete old code?
If yes, which formatter?

[2016-09-14 12:47] Siedlerchr commented on #1980
I do not see the importance to reformat the whole code...I think it is enough when someone touches the code to reformat it.
We have a custom JabRef Code Formatter for Eclipse. If you use gradlew eclipse, the formatter automatically gets added. You can check it under Source->Cleanup

[2016-09-14 13:08] lenhard commented on #1980
The code used to violate code conventions and common sense practically all over the place. The policy so far was to gradually move the code towards the code conventions whenever one touches it. So, if you modify code or add new code, it definitely has to confirm to the code conventions.

Reformatting all code might be a little over the top, since it changes everything and making sure that nothing

[2016-09-14 13:15] #1980 closed

[2016-09-14 14:33] oscargus commented on #1980
I've used quite a lot of static code analysis tools to get rid of warnings and similar things. FindBugs, SonarLink, and PMD are quite nicely integrated in Eclipse, but especially the latter two may need a bit of configuration to not get too many issues (many which are not really relevant).

Eclipse does indeed reformat the code as in your examples and as @lenhard says this usually treated as posit

[2016-09-14 19:49] #1979 closed

[2016-09-15 08:52] bertvv commented on #1966
I have a similar (the same?) issue on Linux, JabRef 3.6, openjdk version "1.8.0_102"

What I see is that the user interface becomes unresponsive when the Bibtexkey field has the focus and a non-default key pattern (in my case `[authEtAl][year]`) was chosen.

[2016-09-15 08:56] koppor commented on #1966
@bertvv In any database or a certain one? Does it also happen at [complex.bib](https://github.com/JabRef/jabref/blob/master/src/test/resources/testbib/complex.bib)?

[2016-09-15 10:04] grimes2 commented on #1966
JabRef 3.7dev--snapshot--2016-09-14--master--560a545
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. File > New Bibtex database
2. Bibtex > New entry > Article
3. author: a, year: 2000, crossref: a
4. Save database
5. Restart Jabref
6. Mark entry
7. Ctrl-G (Autogenerate Bibtexkey)
8. Freeze

[2016-09-15 11:16] bertvv commented on #1966
@koppor It happens in any BibTeX file. I reproduced the error with complex.bib, but also special-fields.bib (2 entries, author field filled out), and articlewithtitle.bib (1 entry, author field entry empty).

I've attached a full thread dump while Jabref was frozen: [jabref-issue-1966-thread-dump.txt](https://github.com/JabRef/jabref/files/474455/jabref-issue-1966-thread-dump.txt)

[2016-09-15 11:21] stefan-kolb opened #1985 "Enforce String literal inside Localization.lang() calls"
Introduced by the global search bar of Stupro.
We need to enforce that we use Strings or concatenated Strings inside our Localization.lang calls and no variables. otherwise our detection LocalizationConsistencyTest cannot work correctly.
Fixed by https://github.com/JabRef/jabref/commit/05e7f0def59b7c34707f9e0a1f3dc17db678d1f0.

We should accept a String in "" or a concatenated String " " +var +  "

[2016-09-15 11:23] stefan-kolb commented on #1985
@JabRef/stupro @koppor Would be nice if Stupro can take care of this.

[2016-09-15 14:03] bartsch-dev commented on #1939
I just wrote a script for the help pages including a status output, something like this for the localization files?
(jabref/help.jabref.org#77 in the first post, just scroll down a little)

[2016-09-15 14:54] lenhard commented on #1966
I can reproduce the bug with the instructions from @grimes2

From the thread dump by @bertvv, this looks very much like a deadlock of the event dispatch thread (Swing) and the Guava event bus. That means it might be the fault of the newly added event system (which would totally not surprise me).

@JabRef/stupro should have a look at this.

[2016-09-15 15:02] lenhard commented on #1938
I have been trying to reproduce this, but fail to do so. My cursor stays in the search field, also with search terms that are valid text completions.

Sorry, but as long as we haven't found a way of reproducing this, there is also no chance of fixing it.

[2016-09-15 18:35] koppor commented on #1252
This is

[2016-09-15 18:54] radeksimik commented on #1938
It's frustrating. I just sat down to try to find the pattern, but have failed to reproduce the effect even once. I want to mention two points, just in case they help others look for the pattern:

- The target of the jumping was often (though not exclusively) the field "Crossref". The field is always empty in my database, so it's not the case that the target of the jumping is the string being searc

[2016-09-15 19:23] AEgit commented on #1938
I've also tried to reproduce it, but as you say it kind of happens in a random way. One point that you mention is interesting: You have a large database and so have I (currently >8000 entries). It would be interesting to see, if everyone who is affected, has a large database.

I also tried to reproduce the problem with a smaller database, but there it never happened (but I have to say, I only trie

[2016-09-15 19:31] koppor commented on #1938
Please try our latest build at <https://builds.jabref.org/master>. We worked on the search bar and it should be much better now.

[2016-09-15 19:33] koppor commented on #1938
@bartsch-dev Could you have a look at it? Use a large database with 10.000 entries.

[2016-09-16 07:20] lenhard opened #1992 "Provide console output for --aux command line option"
As indicated [in this tex.stackexchange question](http://tex.stackexchange.com/q/329271/10721), the aux export feature via the command line works, but is not so very informative. The command does not provide output to the console and just writes a bib file in case of success.

In case of failure, nothing is printed to the console and there is also no bib file written to the file system. This makes

[2016-09-16 08:06] radeksimik commented on #1938
The bug is back and I have some new observations:

Initial conditions (the first one is necessary, the second one maybe not):

1. The entry editor is open.
2. The cursor is within one of the fields of the entry editor.

Search & jump:

1. I intend to type "lenertova" in the search field.
2. I type "l" and the cursor immediately jumps into the entry editor, so I type "en" there before I manage to s

[2016-09-16 08:07] AEgit opened #1993 "Performance issue with new search"
JabRef 3.7dev--snapshot--2016-09-16--master--629c3f0
windows 10 10.0 amd64
Java 1.8.0_101

With the current master branch (master--629c3f0) there is a significant decrease in performance when using the "search" feature of Jabref compared to a previous master branch (master--4913665).

Before the update entering a search term led to an instantaneous search and nearly instantaneous results. Now I ha

[2016-09-16 08:09] AEgit commented on #1938
@radeksimik: Did you try the new master build? I ran into an additional (unrelated) problem with it. See here: https://github.com/JabRef/jabref/issues/1993

[2016-09-16 08:22] AEgit commented on #1993
Ok, my current workaround is to use the latest release version (JabRef 3.6) which does not exhibit these performance problems.

[2016-09-16 09:16] lenhard commented on #1993
I cannot confirm this on my ~2200 entry database. There search returns instant results. However, my database is also considerably smaller than yours. Also, I am not up to date with the recent changes in search. @koppor?

Also, @JabRef/developers What is the largest test file we have for testing performance?

[2016-09-16 09:50] koppor commented on #1993
@bartsch-dev Can you have a look?

[2016-09-16 11:04] grimes2 opened #1996 "Unnecessary other field tab"
JabRef 3.7dev--snapshot--2016-09-16--master--629c3f0
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. File > New Bibtex database
2. Bibtex > New entry > Article
3. Entry editor optional field volume: a
4. Save database
5. File > Switch to Biblatex mode
6. File > Switch to Bibtex mode
7. Unnecessary "other field" tab (with doublet field volume)

[2016-09-16 14:09] AEgit commented on #1993
@lenhard
If needed, I could send you an older (and smaller) copy of my database (still >6000 entries). It has the same issues as my current database, albeit Jabref seems a bit faster with the smaller database: Still, if I open this database with Jabref 3.6 and use the search feature I get instant results. If I open the same database with JabRef 3.7dev--snapshot--2016-09-16--master--629c3f0 I have

[2016-09-16 14:15] lenhard commented on #1993
@AEgit ok, thanks! You can send it to joerg.lenhard@kau.se Then I will see how search works with my machine and delete your file afterwards.

It would be cool if one day we had a huge file for JabRef for testing purposes. Maybe we could go for auto-generated entries, but then again randomized data will never be representative of real actual data.

[2016-09-16 14:18] tobiasdiez commented on #1993
I can confirm the performance problems with a DB of 6000 entries.
@lenhard there is one big file of mine in the admin rep.
@AEgit You don't need to send your file. But thanks for the offer.

[2016-09-16 14:33] lenhard commented on #1993
Thanks! I played around with the file a little bit and also noticed a delay, albeit less than a second, which would not annoy me. But that is very person-dependent and also, of course, machine-dependent.

If performance has been better before, we should try to at least keep it at that level.

[2016-09-16 14:42] tobiasdiez commented on #1993
The performance benchmarks confirm the problem:
27.06.2016 (no idea which build):
Benchmark                             Mode  Cnt         Score        Error  Units
Benchmarks.htmlToLatexConversion     thrpt   20      3675.747 ±     93.344  ops/s
Benchmarks.inferBibDatabaseMode      thrpt   20     16084.549 ±    715.908  ops/s
Benchmarks.keywordGroupContains      thrpt   20      5970.994 ±    478.2

[2016-09-16 15:09] AEgit commented on #1993
@ Everyone:

Thank you for your quick replies. Yea, I prefer it if I can avoid sending the file - maybe once I'll have the time to go through the database and delete all the stuff, that shouldn't be public, I could make it available (but currently I don't have the time). As pointed out by lenhard, the changes that let to the performance drop must have happened between the following two builds:

Ja

[2016-09-16 15:13] bartsch-dev commented on #1993
I made some quick tests and the entry search in the searchworker is about 8 times slower since 543c176200ec793d1272fc65fd763492ebd3105a than before.
https://github.com/JabRef/jabref/blob/master/src/main/java/net/sf/jabref/gui/search/SearchWorker.java#L43
To be precise it is the `collect`part of the lambda.

[2016-09-16 15:25] bartsch-dev commented on #1993
Making the stream a parallelStream makes it significantly better but still worse than before (around 2 times slower).

[2016-09-16 15:25] lenhard commented on #1993
Stupid question: Why don't we execute the lambda in parallel? E.g.:

[code]
instead of

[code]
In theory that should result in an instant performance improvement on machines with multiple cores.

[2016-09-16 15:35] lenhard commented on #1993
@bartsch-dev You bet me by 17 seconds with suggesting parallelization ;) Well, 2 times slower is better than 8 times slower.

Anyways, if lambda expressions cause the delay we should probably think about re-implementing performance-critical operations in the old style. @bartsch-dev can you reimplement that fragment in an interative style and see how it performs?
Something like (this is pseudocode)

[2016-09-16 15:39] bartsch-dev commented on #1993
It's not really the lambda that causes that problem.
If I insert the same lambda one commit before (not that I changed it in any remarkable way) it performs much better.

[2016-09-16 16:07] tobiasdiez commented on #1993
Well, the `search()` benchmark just uses the `SearchQuery` directly (without the SearchWorker). And even there the performance is 8 times slower.

[2016-09-16 17:55] wilthan commented on #1938
I see exactly the same issue as described by radeksimik. My database has >7000 entries.

[2016-09-16 20:10] oscargus commented on #1993
Could it be related to the Unicode stuff?

[2016-09-16 20:51] Siedlerchr commented on #1937
@bartsch-dev  Could you add a redirect for that case, too? Or should we link to default en index in help?

[2016-09-16 21:26] Siedlerchr commented on #1284
Found some snippet, which could he helpful:
http://pastebin.com/seCcZqK4

[2016-09-17 08:12] grimes2 opened #2001 "Regression: New entry in Biblatex mode freezes"
JabRef 3.7dev--snapshot--2016-09-16--master--fcec333
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. File > New Biblatex database
2. Bibtex > New entry > Article
3. Freeze

[2016-09-17 09:48] koppor commented on #2001
This calls for an integration test. Refs #1700. I tried with b1ec0e3c2cc24072cd0d0fbe6d233dbf8011c12d and English UI and I can confirm this issue.

[code]

I think, it works in JabRef 3.6, thus we do not need a CHANGELOG entry for it.

[2016-09-17 09:48] NikoKrause commented on #613
Could there be implemented an option to get the old (3D) icons back?
Maybe add a checkbox under Options -> Settings -> Appearance -> Use old 3D icons

The new icons are flat and monochrome. I can get used to the new icons, but still it would be great if I at least had the chance to choose between old and new ones.

[2016-09-17 09:57] koppor commented on #613
If you find someone who a) is willing to provide icons for all actions (there are quite a few new ones) for until at least 2018 and b) is willing to implement the style switch, be our guest. Otherwise, I really fear that we have not enough resources to maintain two different icon sets. We are trying to focus on the opened issues, then work on the feature requests on discourse, then to work on http

[2016-09-17 10:02] NikoKrause opened #2003 "Standard look and feel doesn't work"
Hey,

I'm using JabRef 3.6 on Linux Mint 18 Cinnamon.

The Standard look and feel doesn't work.
Here is a screenshot, with `Standard look and feel: com.sun.java.swing.plaf.gtk.GTKLookAndFeel` enabled
![bildschirmfoto vom 2016-09-17 11-53-01](https://cloud.githubusercontent.com/assets/8415124/18607490/29ce0da4-7cce-11e6-99e9-5d824002eff0.png)

And here is a screenshot with `use other look and feel:

[2016-09-17 10:06] bartsch-dev commented on #1937
If you create an empty `it` directory and run the python script it will create the index and all the redirects for to English pages.
Currently you have to create the includes for new languages manually.
The main index you also have to edit yourself.

[2016-09-17 10:07] Siedlerchr commented on #2003
Did you restart JabRef after changing the look and feel?

2016-09-17 12:02 GMT+02:00 NikoKrause <notifications@github.com>:

[2016-09-17 10:08] NikoKrause commented on #2003
Also I can't scroll to the color choosers, when I `use other look and feel: com.sun.java.swing.plaf.gtk.GTKLookAndFeel `

See red arrows at the bottom of this picture:
![bildschirmfoto vom 2016-09-17 12-04-38](https://cloud.githubusercontent.com/assets/8415124/18607540/69decbda-7ccf-11e6-82e9-7d0cf09a161e.png)

[2016-09-17 10:09] NikoKrause commented on #2003
@Siedlerchr
Yes, I restarted JabRef. Before and after checking the box

[2016-09-17 10:11] koppor commented on #1937
Done in https://github.com/JabRef/help.jabref.org/commit/e0a9ba70c99289f87018914eef944d7c6cda38e8 and also added an initial [README.md](https://github.com/JabRef/help.jabref.org/blob/gh-pages/_scripts/README.md). Currently, I get page build failures, but I get

Currently, no idea, how to solve that

This is only a quick hack. We should tell JabRef to direct to localized help pages only if the help

[2016-09-17 10:15] bartsch-dev commented on #1937
You have to add `link-to-main-it.html` and `link-to-toc-it.html` in the `_includes` folder (just copy and rename the English one).

[2016-09-17 10:36] Siedlerchr commented on #2003
@JabRef/developers  Anyone of you using Linux Mint and can confirm this?

[2016-09-17 10:48] NikoKrause commented on #613
I see you have a lot to do. Like I said, I can get used to the new icons. It was only a suggestion.

Can you tell me were the icons are stored?
I only found the external icons for emacs, texstudio, etc.

[2016-09-17 11:14] Siedlerchr commented on #613
@NikoKrause  The icons are from [materialdesign](https://materialdesignicons.com/) webfont and are loaded in this class::
https://github.com/JabRef/jabref/blob/master/src/main/java/net/sf/jabref/gui/IconTheme.java

[2016-09-17 12:35] #2001 closed

[2016-09-17 12:38] mlep commented on #2003
About "can't scroll to the color choosers": I can confirm this under Mint LMDE Cinnamon, both with the default Look&Feel and the javax.swing.plaf.metal.MetalLookAndFeel
And it is not only limited to the color chooser: same with other items (e.g. Entry table columns, BibTeX key generator)

[2016-09-17 12:43] koppor commented on #1937
Thank you for reporting this issue. We think, that is already fixed in our development version.
Please try a development build from <http://builds.jabref.org/master>
The fix will be included in the next release.

@Doc73 I assume, you have no time to provide (and eventually maintain) the Italian help (help.jabref.org/it/)? Neverthelss, may I ask for translations for our user interface? It is curren

[2016-09-17 12:43] #1937 closed

[2016-09-17 12:58] stefan-kolb commented on #2003
I think GTK look and feel might be disabled if you use linux and openjdk. There was a problem which urged us to skip it as default L&F. Maybe this is related. The code for this is somewhere in the JabRef startup class.

[2016-09-17 13:05] Doc73 commented on #1937
@koppor
I'm very sorry, but I have no time and, above all, I'm not a programmer and I do not really know how to contribute to the translation. I simply do not know where to start. :cry:

[2016-09-17 13:21] koppor commented on #1937
You don't need to be a progammer! - Nearly all of our translators are no programmers! :innocent:

For the huge help, we have a howto at : https://github.com/JabRef/help.jabref.org/blob/gh-pages/CONTRIBUTING.md

For translating the menus, it is very easy:

1. Click on https://github.com/JabRef/jabref/blob/master/src/main/resources/l10n/Menu_it.properties
2. Click on the pencil
3. Edit directly in t

[2016-09-17 13:29] Doc73 commented on #1937
Ah, ok! It's not so difficult.
I can not promise anything, but I put in my bookmarks the pages of the localization.

Thank you very much! :+1:

[2016-09-18 22:24] tobiasdiez commented on #1284
And here is an add-on demonstrating the usage of the messaging API (also contains a python script for receiving messages): https://github.com/mdn/webextensions-examples/tree/master/native-messaging

[2016-09-19 09:35] ajbelle commented on #1633
Yes @oscargus I had no time to check what code change it may, but the undo capability for edit seems totally broken.  Sorry for posting on your issue, it was simply the bettersearch build I downloaded.  I am very impressed with your update (and from the behaviour do not think it is the cause).

[2016-09-19 11:39] tschechlovdev commented on #1337
I will rewrite the exporter with jaxb, since the importer is already written with jaxb. This should also fix the bug.

[2016-09-19 16:28] Siedlerchr commented on #1996
Fixed with #2002

[2016-09-19 16:28] #1996 closed

[2016-09-19 19:08] bernhard-kleine opened #2011 "Add cleanup for escaping comments"
JabRef 3.6
windows 7 6.1 amd64
Java 1.8.0_66

Steps to reproduce:
1. import from pubmed the ID 27623067:
2. run pdflatex with a file where this used
3. failure to compile due to % sign in the abstract: error message ! File ended while scanning use of \field.

files to reproduce the error can be found here:
http://b-kleine.com/technical/tex_20160918/

edit: this error must have happened very recent

[2016-09-19 20:41] bernhard-kleine opened #2012 "month fields in braces results in a warning"
JabRef 3.6
windows 7 6.1 amd64
Java 1.8.0_66

Steps to reproduce:
1. load the pubmed/medline entry ID 27623067
2. make sure that the % signs in the abstract are escaped to \%
3. the compilation with the actual biber gives a warning:
   Utils.pm:164> WARN - month field 'Sep' in entry 'PRR+16' is not an integer - this will probably not sort properly

This is due to (from texexchange):

Such month ab

[2016-09-19 20:52] tobiasdiez opened #2013 "Rework used encodings"
I think JabRef sometimes uses encodings which are a bit counter-intuitive or where a better alternative might be available. Triggered by https://github.com/JabRef/JabFox/issues/33.

In this issue, I try to collect the current usage of encodings so that we get an overview. Feel free to edit this list.

| Operation | Currently used | Suggestion |
| --- | --- | --- |
| Import from cmd (`--importToOpe

[2016-09-19 21:14] grimes2 commented on #2012
With Quality > Cleanup entries
The field formatter is month: Normalize month.

[2016-09-19 21:29] Siedlerchr commented on #2012
Thanks for your report! I can confirm the behavior. The cleanup as proposed by @grimes2  does the job.

As the cleanup works, I would suggest adding a case for the Integrity Checker, according to BibLaTeX manual, [section 2.3.9](http://ftp.fau.de/ctan/macros/latex/contrib/biblatex/doc/biblatex.pdf)

[2016-09-20 03:12] grimes2 commented on #2012
I would like to do the MonthChecker.

[2016-09-20 06:14] tobiasdiez commented on #2012
Perfect!
And the month-cleanup should be performed automatically for the pubmed fetcher. @zellerdev are you willing to have a look at this and rewrite the MedlineFetcher using the new framework (no need to ask the user how much entries he wants to fetch, just take the default value from the API).

[2016-09-20 06:52] bernhard-kleine commented on #2012
with the cleanup the warnings are gone.

[2016-09-20 07:01] lenhard commented on #2013
One thing that we talked about earlier with regard to the `BibtexParser`: The encoding supplied in the bib file (%Encoding) is currently completely ignored by JabRef. The parser explicitly ignores it upon reading a file and it is stored nowhere. On writing the file, the encoding set in the preferences is used.

I want to note that this is nothing we "broke", JabRef has always done that as far as I

[2016-09-20 13:00] tobiasdiez commented on #2013
Its ignored by the parser but not by the importer: https://github.com/JabRef/jabref/blob/ee08252a495c8951206201829651a2c320893735/src/main/java/net/sf/jabref/logic/importer/fileformat/BibtexImporter.java#L43

[2016-09-20 13:02] lenhard commented on #2013
I see. My knowledge seems to be confined to the deeper parts of our parsing stack ;-)

[2016-09-20 13:37] lenhard commented on #1600
Let me add that the console works in principle, there is just now output. For instance, it is possible to use the aux export feature with the 3.6 exe just fine, e.g.: `JabRef.exe -n -a main.aux,test.bib references.bib` will create `test.bib` (supposing the others exist), but there will just be no output.

[2016-09-20 13:38] lenhard commented on #1992
After some more investigation, I can say that the output is there, as long as you explicitly execute the jar file with java. That means, no standalone jar file execution or exe execution will work with the `--debug` option. The only solution something of the form: `java -jar Jabref-X.X.jar --debug`.

This seems fair enough, since using `java -jar` is also documented here: https://help.jabref.org/e

[2016-09-20 13:38] #1992 closed

[2016-09-20 13:41] baderas opened #2016 "Commandline help text not correct (e.g., "-f,--fetch <FILE>" does not use a file)"
JabRef version 3.5 Windows 10 x64

Steps to reproduce:
1. `java -jar JabRef-3.5.jar -h`
2. Look at output

See http://help.jabref.org/en/CommandLine

`<FILE>` is always used as argument name. This is wrong for some command line items, for example `-f,--fetch <FILE>` is used as `"--fetch=Medline:cancer"`. The correct help entry would be `-f, --fetch <SearchTerm>` with an explanation how `<SearchTer

[2016-09-20 14:11] lenhard commented on #2016
Let me add that fetching alone will not do much. It will fetch, but the results will cease to exist when the invocation terminates. To get actual output, the fetch command should be chained with `-o`.

Having said that, the documentation can certainly be improved. @baderas: Could you provide a pull request? Improving the textual output of the command line is certainly a good entry point.

[2016-09-20 14:16] koppor commented on #2016
We think that the command lie should be `--fetch=Medline:cancer test.bib`

[2016-09-20 17:16] jkulesza opened #2019 "Delete Duplicate Export Format "ISO 690" or Rename to Distinguish"
JabRef version 3.6 Mac OS 10.11.6 X

Steps to reproduce:

1. Select entry/entries.
2. Right-click -> Copy... -> Export to Clipboard

There are two entries for ISO 690 in the "Select export format" dialog.

[2016-09-20 17:32] jkulesza opened #2021 "Cannot import non-XML preferences, cannot import BibTeX key generator preferences"
JabRef version 3.6 on Mac OSX 10.11.6

Steps to reproduce:

1. Install JabRef 3.6 in a different location than JabRef 3.5.

The Preferences -> BibTeX key generator preferences appear lost.

2. Import preferences -> browse to preferences location.
3. Select file format: "All Files" and the format does NOT change (it remains XML file).

Renaming my preferences file from jabref.prefs to jabref.prefs.

[2016-09-20 19:29] grimes2 commented on #1779
I try to implement this. This is the result:

![emptybibtexkey](https://cloud.githubusercontent.com/assets/15456836/18685316/cc303e9a-7f77-11e6-85fb-1d0150996e68.png)

I've added AuthorTitleYear, because bibtexkey is missing. This is in agreement with the warning on startup.

[2016-09-20 20:12] Siedlerchr commented on #1779
Looks good! That would be enough.
If you create PR, we would be pleased :+1:

[2016-09-20 20:24] simonharrer commented on #1779
Does the "click on item jumps to entry in main table" still work if there is no citekey?

[2016-09-20 22:42] grimes2 commented on #1779
Unfortunately no.

[2016-09-21 06:49] Siedlerchr commented on #1779
@simonharrer  I have not looked into the code, but I think that the key is used as reference to located the entry...Maybe we should switch that do id?

[2016-09-21 07:16] matthiasgeiger commented on #2021
I'll have a look.

[2016-09-21 07:22] Siedlerchr commented on #2011
Thanks for your report! As this is not only a pubmed related thing, but a more general problem.
So, I suggest creating a CleanUpAction to automatically encode %-signs.

[2016-09-21 07:54] koppor commented on #2011
This CleanUpAction should also be included in the `doPostCleanup` method of all fetchers. Refs https://github.com/JabRef/jabref/pull/1929#r78319240 @tobiasdiez

[2016-09-21 08:46] tobiasdiez commented on #2011
Note that biber writes on this topic

I think JabRef should not escape special characters, especially not always on writing. The cleanup operation is ok because then the user has to decide what he wants to do. For the same reason as above, I would not include it in the `doPostCleanup` operation of the pubmed fetcher.

[2016-09-21 08:48] tobiasdiez commented on #1779
We should switch it to `BibEntry`, i.e. just keep a reference to the entry and the use/create a method `highlight(BibEntry)`

[2016-09-21 10:33] Braunch commented on #1235
Fixed by #1815

[2016-09-21 10:33] #1235 closed

[2016-09-21 12:20] bernhard-kleine opened #2025 "Quality-> Integrity does not accepted ranges R56-70 or S45-46"
JabRef 3.6
windows 7 6.1 amd64
Java 1.8.0_66

Steps to reproduce:

1. Import from medline PMID 24791920
2. Run Check Integrity
3. S87--96 (S stands for supplement) is labelled as "should contain a valid page range"

Likewise PMID 24928941 which is a review R75--96 is labelled as "should contain valid page range"
"päpstlicher als der Papst" I dare not translate that but I know people will understan

[2016-09-21 12:29] mlep commented on #2025
Well, BibTeX-wise, the message is true becauxe, according to BibTeX reference manual (http://distrib-coffee.ipsl.jussieu.fr/pub/mirrors/ctan/biblio/bibtex/base/btxdoc.pdf):
[code]
See issue https://github.com/JabRef/jabref/issues/416

[2016-09-21 13:04] #2025 closed

[2016-09-21 14:42] johann-petrak opened #2026 "JabRef locks up and hangs after clicking Generate BibTeX button"
JabRef version 3.6 on Ubuntu 16.04, using Oracle java 1.8.0_45. Running on the Mate desktop.

This only happens sometimes, but it already happened several times to me, I could not figure out a pattern of what may cause it.

I entered the authors, title, journal name and year in a new article entry, then clicked the "Generate BibTeX"  button. This made JabRef become unresponsive: no interaction wit

[2016-09-21 14:52] Siedlerchr commented on #2026
Thanks for your report! Could you please test with the current master version from here? http://builds.jabref.org/master/
There have been some fixes regarding freezes lately so it might be that your problem is alredy resolved.

PS: You should update your java version, for ubuntu I can recommend using the webupd8 ppa:
http://www.webupd8.org/2012/09/install-oracle-java-8-in-ubuntu-via-ppa.html

[2016-09-21 15:24] johann-petrak commented on #2026
Is there a way to get pre-compiled development snapshots?
The link on the downloads page leads to an error page:
https://builds.jabref.org/master/

[2016-09-21 23:34] Tercus commented on #1886
I am running into the same problem. When I visit the google scholar page in my browser I have no problems (I get redirected to scholar.google.de though). When I copy the URL from the error log I DO get the message to prove that I am human.
Even weirder is that my search term does not show up anywhere in the URL.

Error log (newly opened, searched for "test"):
`01:30:53.119 [JabRef CachedThreadPool

[2016-09-22 09:02] stefan-kolb commented on #1886
That part should be your search term `&q=CGMSBFhDZhcYrbCMvwUiGQDxp4NLfnqIFz9y9s9bYeUiRVwogv02XcI`. Dunno why it is encoded in some way.

[2016-09-22 09:23] stefan-kolb opened #2029 "Localization tests refer to nonexistant Gradle tasks"
e.g. to remove obsolete or missing language keys

`gradlew -b localization.gradle generateMissingTranslationKeys`

Caused by #2010

[2016-09-22 09:30] #2019 closed

[2016-09-22 10:33] bartsch-dev opened #2032 "Add deprecated JavaDoc"
Add to each deprecated field/method/class a deprecated tag in the JavaDoc (additionally to the annotation) with a hint to which field/method/class to use instead.
#### Background:

The Annotation is for the compiler, javadoc for the developer and I do not want to dive into the code to find a replacement for the deprecated code.

[2016-09-22 10:34] #1939 closed

[2016-09-22 10:40] bartsch-dev commented on #1293
With the new searchbar I cannot reproduce this, can anyone else?

[2016-09-22 11:05] tobiasdiez commented on #1779
The checker for empty keys is now in place with #2022. I'll keep this open nonetheless as a reminder that we should fix the highlight functionality at some point.

[2016-09-22 14:51] #1337 closed

[2016-09-22 15:19] grimes2 commented on #1808
Import Preferences also doesn't import "push to application Lyx/Kile", it is set to "push to Emacs" instead.

[2016-09-22 15:20] stevenlbressler opened #2036 "Cannot download from Medline"
JabRef version  on

Steps to reproduce:

1. ...
2. ...
3. ...

[code]

[2016-09-22 15:26] stevenlbressler commented on #2036
I am using JabRef 3.6 on a mac (os x version 10.8.5). I have been downloading references from Medline for years without any issues, but now I get the following message in response to any web search fetch:
No references found

and the JabRef status remains as:
Fetching Medline by term

even after the search. This problem occurs even for fetches that I know should produce a reference list.

[2016-09-22 15:47] stevenlbressler opened #2038 "JabRef Web search fetch"
I am using JabRef 3.6 on a mac (os x version 10.8.5). I have been downloading references from Medline for years without any issues, but now I get the following message in response to any web search fetch:
No references found

and the JabRef status remains as:
Fetching Medline by term

even after the search. This problem occurs even for fetches that I know should produce a reference list.

Steps to

[2016-09-22 18:52] Siedlerchr commented on #2036
Thanks for your report!
There has been some work on the Medline fetcher a while ago, But I did not know if it was merged into 3.6 @zellerdev  Could you please check that?

[2016-09-22 18:54] Siedlerchr commented on #2038
I close this one here and we continue discussing the problem in #2036

[2016-09-22 18:54] #2038 closed

[2016-09-22 19:02] stevenlbressler commented on #2036
Thanks for responding so quickly. Are you a jabref developer? I am a
long-time jabref user, and it has been great to me overall. Anyway, I don't
know how to check the Medline fetcher in 3.6, but it started to work for me
after my posting. This leads me to think that the problem somehow had to do
with my university internet connection (although other web-based
applications were still working).

Ste

[2016-09-22 19:55] tobiasdiez opened #2042 "Add shortcut for removing an entry form a group"
One can easily add an entry to a group by drag-and-drop. However, the only way to remove an entry is Rightclick on entry -> Remove from group -> Select group there.
Proposal: add drag-and-drop onto a group while holding shift key pressed = remove from target group.

[2016-09-22 20:13] Siedlerchr commented on #2036
@stevenlbressler Good to know that it works again! Maybe it was a temporary problem at the server side of Medline. So I'm closing this here.
Yes, I am one of the Developers (since a couple of months).

[2016-09-22 20:13] #2036 closed

[2016-09-22 20:15] stevenlbressler commented on #2036
#2038 pertains to the same issue and should also be closed.

Steven L Bressler, PhD
Interim Director and Professor
Director of Ph.D. Program
Center for Complex Systems & Brain Sciences
Florida Atlantic University

On Thu, Sep 22, 2016 at 4:13 PM, Christoph <notifications@github.com> wrote:

[2016-09-22 20:39] stefan-kolb commented on #2042
Just hit del?

[2016-09-22 20:49] #1703 closed

[2016-09-22 22:09] #970 closed

[2016-09-23 00:19] koppor commented on #1337
@thomaszumbrunn Please use a development build from http://builds.jabref.org/master
The fix will be included in the next release.

[2016-09-23 00:25] koppor commented on #1293
@teertinker We think, that is already fixed in our development version.
Please use a development build from http://builds.jabref.org/master
The fix will be included in the next release.

[2016-09-23 00:25] #1293 closed

[2016-09-23 05:43] thomaszumbrunn commented on #1337
Thanks a lot. Works like a charm.

[2016-09-23 08:49] AEgit opened #2046 ""Error while fetching from Google Scholar" and potential solution to the problem"
Yesterday I ran into the following error message when trying to use the inbuilt Web search of Jabref (Google Scholar was selected):

"Error while fetching from Google Scholar"

This problem has already been mentioned here:
http://discourse.jabref.org/t/error-while-fetching-from-google-scholar/181

It has been suggested that Google is blocking access due to "automatic crawling". Well, I haven't don

[2016-09-23 08:59] simonharrer opened #2047 "Idea: Integrity Check Regarding Groups"
The larger the .bib file grows, the more groups one will have. But there is no support in detecting unused (no entry associated) or duplicate (two groups associated with the same set of entries) groups.

[2016-09-23 09:38] lenhard commented on #2046
Good to know, thanks for the info!

Changing the MAC address will be impossible (or rather not desirable) from within JabRef, though.

Refs # #1886

[2016-09-23 13:50] lenhard commented on #2012
If I understand all the comments here correctly, the issue is fixed with #2015 and we can close it.

[2016-09-23 13:52] lenhard commented on #1727
This issue has been fixed and I am closing it to inactivity. Feel free to reopen if the problem reappears

[2016-09-23 13:52] #1727 closed

[2016-09-23 13:54] lenhard commented on #2026
Probably related: #1892

[2016-09-23 14:01] lenhard commented on #2011
I strongly support @tobiasdiez on this. A long time ago, we decided the following development rationale for JabRef: "If in doubt, do as biber does".

Moreover, this cleanup should go into `LatexCleanupFormatter`, I think. This formatter already takes care of escaping and fixing LaTeX-related stuff.

[2016-09-23 14:03] lenhard commented on #1862
Closing due to inactivity.

[2016-09-23 14:03] #1862 closed

[2016-09-23 14:05] lenhard commented on #2016
I just noticed that this issue is in a sense a duplicate of #1850. I am closing the older one and we can track further discussion here.

[2016-09-23 14:05] lenhard commented on #1850
Further discussion regarding the help and console messages for fetch will be tracked in #2016

[2016-09-23 14:05] #1850 closed

[2016-09-23 14:25] lenhard commented on #555
I just stumbled upon this old issue during house keeping. Since `comment` is no official field, we will certainly not hard-code special handling for it. However, the behavior desired here can be achieved by adding `comment` to the list of non-wrapable fields (preferences-file), since these are ignored during new line elimination.

[2016-09-23 14:25] #555 closed

[2016-09-23 15:03] tobiasdiez commented on #2012
Not quite fixed yet; the medline fetcher still produces "wrong" month fields. @zellerdev will take care of it.

[2016-09-23 17:10] Fjanks opened #2049 "Automatic text replacement while typing second author's name"
JabRef version 3.6 on openSUSE 13.2

Steps to reproduce:

This happens only if the name of the first author already exists in another article of the same database. Lets assume there is an article with the author "J. Borges".
Then I create a new BibTex entry and start typing in the author-field "J. Borges and J. Wilkins". At the moment I arrive at "J." some text before is automatically replaced and

[2016-09-23 21:00] Siedlerchr commented on #2049
Thanks for your report! I think you refer to the autocompletion  feature of authors.
And I could reproduce the behaviour in the actual dev version.
As a workaround you can disable/change the behaviour of the autocompletion in Settings -> Entry Editor.

[2016-09-24 09:17] AEgit commented on #2049
I can confirm this bug - it has been around for a while, but I was never sure, whether I could reproduce it, so I did not report it.

[2016-09-24 09:48] Siedlerchr opened #2050 "Investigate why XML export/import tests not executed"
Noticed in #1942

[2016-09-24 10:01] Siedlerchr commented on #2050
Hm. Running the tests in eclipse they are all executed succesfully. The Paramterized tests work.
@boceckts  Could you please check that in intellij, too?
`BibTeXMLImporterTestFiles` should execute 40 tests

[2016-09-24 12:07] tobiasdiez commented on #705
Keyword separator was unified in #1950.

[2016-09-24 12:07] #705 closed

[2016-09-24 12:08] #1877 closed

[2016-09-24 12:10] tobiasdiez commented on #628
With #1950 the code base is now in place to support hierarchical keywords. The following steps are need to completed the feature:

- [ ] Move keyword delimiter from preferences to metadata (database properties)
- [ ] Add hierarchical delimiter and change parsing logic in `KeywordList` accordingly
- [ ] Change UI to support hierarchical keywords

[2016-09-24 12:41] devster31 opened #2052 "Can't fetch DOI information"
JabRef version 3.6

Steps to reproduce:

1. Choose DOI to Bibtex in the web search interface
2. Insert the DOI
3. Press Fetch

I'm using JabRef from a closed network with a firewall, but I can easily access dx.doi.org from a web browser and I have no problems with many other sites, however JabRef can't fetch the informations automatically. I'm launching JabRef JAR file using `java.exe` on a Window

[2016-09-24 13:58] koppor commented on #2052
Could you try to set proxy preferences?

![grabbed_20160924-155228](https://cloud.githubusercontent.com/assets/1366654/18808907/44992104-826f-11e6-94a8-f161edb75981.png)

Maybe, also `java -Dhttp.proxyHost="hostname" -Dhttp.proxyPort="portnumber -jar JabRef.jar` could help.

[2016-09-24 15:00] AEgit commented on #2052
Just to make sure: Does this problem occur with any DOI or just with some? Because some DOIs also don't work for me (usually if the article has just been published the same day). Could you post any of the DOIs that don't work for you just to see, whether it is a general problem or not?

[2016-09-24 15:46] devster31 commented on #2052
I will try to set proxy preferences if I can find them, but it doesn't seem to use them for the browser.
I did try a wide variety of DOIs, some were extremely recent, but still resolved from dx.doi.org and they all resolve from my home.
[code]
It's probably some connection configuration that I can't find that's preventing JabRef or Java itself from connecting to the resolvers.
I'll try with `--deb

[2016-09-24 15:48] AEgit commented on #2052
I've just tried both DOIs that you provided and I can resolve them from within Jabref, so yea, it has to be a problem with your connection.

[2016-09-24 15:49] AEgit commented on #2046
Shall I close this one? I just wanted to let people know about a potential solution to the problem (if they ever come across it).

[2016-09-24 17:16] lenhard commented on #2046
We should document your solution to preserve it. Closed issues are sometimes hard to find via search engines. Let us leave this issue open until we have added one or two sentences to http://help.jabref.org/en/GoogleScholar That way, your solution will really be preserved.

[2016-09-24 17:17] AEgit commented on #2046
Ok.

[2016-09-24 17:26] tobiasdiez opened #2054 "Ignore update does not work"
JabRef version 3.5 on Windows 10

Steps to reproduce:

1. Open JabRef 3.5 -> Update notification appears
2. Click "Ignore this update"
3. Close and Restart JabRef -> update notification appears again

@JabRef/stupro

[code]

[2016-09-24 18:14] matthiasgeiger commented on #2021
The keypattern part should be fixed for version 3.6... (see #1704)

@jkulesza Are you using the "portable mode" of JabRef, i.e., your prefs are always saved in an XML file?

Normally JabRef 3.6 should automatically use (and convert) the preferences from earlier versions without manual import as the prefs are stored in a system file/registry.

[2016-09-24 19:15] jkulesza commented on #2021
@matthiasgeiger, No, I'm not (knowingly) using JabRef in "portable mode."  I originally installed it, imported my saved preferences (exported on another computer), and then they are loaded on each launch with no action on my part.  Only after performing the upgrade did I have a problem.

From your comment, it seems like everything "should just work." However, I assure you that things are as I repo

[2016-09-24 19:17] #2054 closed

[2016-09-24 20:49] bartsch-dev commented on #573
The new shortcut is <kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>F</kbd>.
This Issue can be closed.

[2016-09-24 22:05] koppor commented on #573
Thank you for reporting this issue. We think, that is already fixed in our development version.
Please use a development build from http://builds.jabref.org/master
The fix will be included in the next release.

[2016-09-24 22:05] #573 closed

[2016-09-25 05:43] sciunto commented on #573
Thank you!

[2016-09-25 07:04] grimes2 opened #2058 "Paste localization strings fails"
Task "generateMissingTranslationKeys" not found in root project jabref.
What am I doing wrong?

[2016-09-25 07:42] #2029 closed

[2016-09-25 07:44] koppor commented on #2058
Thank you for your report. This is a duplicate of  #2029 and is fixed, because we merged #2031.

Could you update to latest master and execute `gradlew localizationUpdate`?

[2016-09-25 07:44] #2058 closed

[2016-09-25 10:47] boceckts commented on #2050
No test gets executed in IntelliJ when executing the test file directly. I added a sysout to see the full path of the test files and it seems like I found the issue.
[code]
console output
[code]
for me this prints out all the class files of the importer, which means it is the wrong directory. Strangely this differs when using eclipse where @tschechlovdev tested the same and was in the directory of

[2016-09-25 11:57] bernhard-kleine opened #2060 "No utf8 encoding while fetching from Medline"
JabRef 3.6
windows 7 6.1 amd64
Java 1.8.0_66

Steps to reproduce:

1. Ensure that you have utf8 as the preferred encoding
2. import from pubmed/medline ID 27653033
3. notice that the import does not show the alphas and betas in the title and in the abstract.

I would expect utf8 encoding for the import since the medline has really a good way to deal with the alphas and betas, as well as any other

[2016-09-25 12:18] Siedlerchr commented on #2050
Hm, looks like the class dir is not right:

`BibTeXMLImporterTest.class.getResource("")`
Must be` BibTeXMLImporterTestFiles.class.getResource("")`

[2016-09-25 12:28] Siedlerchr commented on #2050
I think I found the answer: Is a setting:
http://stackoverflow.com/questions/29607053/different-classloader-paths-for-eclipse-and-intellij

[2016-09-25 12:37] Siedlerchr commented on #2060
Thanks for your report. I could not reproduce that issue in the latest development version. All Betas and Alphas etc are shown correctly. Database encoding is set to UTF8.
Please try again with the latest master from here: http://builds.jabref.org/master/

[2016-09-25 12:51] bernhard-kleine commented on #2060
I just installed:
JabRef 3.7dev--snapshot--2016-09-25--master--693c705
windows 7 6.1 amd64
Java 1.8.0_66
I have utf8 default encoding for the database: Importing PMID:27653033 still gives me in the title:
title = {Effects of 17Î²-estradiol and androgen on glucose metabolism in skeletal muscle.},
instead of
Effects of 17β-estradiol and androgen on glucose metabolism in skeletal muscle.
The entry 27

[2016-09-25 13:00] grimes2 commented on #2060
JabRef 3.7dev--snapshot--2016-09-25--master--693c705
windows 10 10.0 amd64
Java 1.8.0_101

I can confirm: Î²

[2016-09-25 13:01] Siedlerchr commented on #2060
Okay, I have an idea. And I will release a fix soon.

[2016-09-25 13:15] Siedlerchr commented on #2060
When I am right it should be now correct:

![utf8medline](https://cloud.githubusercontent.com/assets/320228/18815448/f9e0dde6-8331-11e6-8a19-41bd4827237a.png)

You can try this snapshot:
http://builds.jabref.org/medlineutf8/

[2016-09-25 13:21] grimes2 commented on #2060
Works here too. 👍

[2016-09-25 13:43] bernhard-kleine commented on #2060
works! Thank you for a fast correction!

[2016-09-25 13:51] bernhard-kleine commented on #2060
BTW where is the line for the DOI search in this snapshot?

[2016-09-25 15:17] Siedlerchr commented on #2060
@bernhard-kleine  DOI? I don't know to what problem you refer to. The DOI ID-Fetcher (not fulltext) already uses UTF-8.

[2016-09-25 15:20] Siedlerchr commented on #2060
Fixed in #2061

[2016-09-25 15:20] #2060 closed

[2016-09-25 15:25] koppor commented on #555
+1 for configuring it as multiline field.

[2016-09-25 16:51] lenhard commented on #2060
That was quite quick. Three ours from report to fix. Great job @Siedlerchr

[2016-09-25 17:10] bernhard-kleine commented on #2060
There does not seem a DOI fetcher in the web seach list at the moment. Has it changed his place?

[2016-09-25 17:31] Siedlerchr commented on #2060
@bernhard-kleine  Oh. I now understand what you mean, yeah, I can confirm this.
There has been some work on the DOI fetcher, but It should not be gone. I will create a new issue for that.

[2016-09-25 17:34] Siedlerchr commented on #2060
@bernhard-kleine  All ID-based fetchers have been moved to the New Entry dialog
New BibTeX Entry -> Id based entry generator:
![entrytype](https://cloud.githubusercontent.com/assets/320228/18817062/16fa3e70-8357-11e6-9182-9760c8cfce69.png)

[2016-09-25 17:39] koppor commented on #2060
DOI Fetcher is now in the new entry dialog as it fetches a single id only

[2016-09-25 17:43] bernhard-kleine commented on #2060
Seen and tested. Thank you

[2016-09-25 18:38] grimes2 opened #2063 "Latex to Unicode in author field fails"
JabRef 3.7dev--snapshot--2016-09-25--master--40df60b
windows 10 10.0 amd64
Java 1.8.0_101
1. author field in entry editor: Sto{\"{\i}}anova, Ivanka
2. author field in main table:  Stoanova, Ivanka
3. should be: Stoïanova, Ivanka

[2016-09-25 21:02] grimes2 opened #2064 "Regression with Unnecessary other field tab (#2002)"
I've observed a regression with #2002. Under certain conditions other fields are not displayed. It's better to undo the commit. Should I add a new pull request to revert the changes?

[2016-09-26 08:41] Siedlerchr commented on #2064
Okay, I would say: First create a new PR. Then you could investigate this issue in more detail. Maybe you find the conditions and can add a check then for it.

[2016-09-26 09:04] grimes2 commented on #2064
Steps to reproduce:

1. File > New Biblatex database
2. Bibtex > New entry > Article (First entry)
3. Bibtex > New entry > Article (Second entry)
4. (Second entry) language field: a
5. File > Switch to Bibtex mode
6. Restart Jabref
7. Doubleclick on First entry
8. Click on Second entry
9. No other field tab with language field

[2016-09-26 09:41] Siedlerchr commented on #2064
Okay, I merged your undo PR in. Would you like to investigate if you could find a solution for the problem?

[2016-09-26 10:56] grimes2 commented on #2064
Investigating the issue shows, that this is a more general problem. Selecting another entry in main table doesn't update the Entry Editor properly. A similar problem as in Invalid field content lost when selecting different entry #1866.

[2016-09-26 11:08] Siedlerchr commented on #2063
Confirmed. Will take a look at it.

[2016-09-26 11:32] Braunch commented on #1966
@bartsch-dev  asked me to test if the bug would occur on my machine. I followed the steps described in https://github.com/JabRef/jabref/issues/1966#issuecomment-247287933 on Ubuntu, but I was not able to reproduce.

[2016-09-26 11:35] Siedlerchr commented on #2063
Ah, I found the problem:

For some reason I don't know there exist 2 Variants of these character, `latin small letter i with diaeresis (U+00EF)`
ftp://ftp.dante.de/tex-archive/macros/xetex/latex/xecjk/xunicode-symbols.pdf

However, JabRef only supports the first one: `\^{i}`

[2016-09-26 12:08] stefan-kolb commented on #2063
@oscargus is the expert here 😄

[2016-09-26 12:10] stefan-kolb commented on #2049
Autocompletion is a bit of a problem right now. I tried to fix it a while ago but this needs a rewrite. Dunno the issue number right now but this was reported earlier I think.

[2016-09-26 12:39] lenhard commented on #2046
Fixed in https://github.com/JabRef/help.jabref.org/commit/d5f5725808a6e4ec2b4116527f42ddf5d66c7545

[2016-09-26 12:39] #2046 closed

[2016-09-26 14:01] Olifair commented on #662
If the extracted pdf comments are stored internally, this has also the advantage that the inverse functionality could be provided : if I open up a reference, and then see a comment I'm interested in, Jabref could open the pdf at the correct page in an external viewer ? This would be great for people who work rather with books than with articles.

[2016-09-26 14:59] matthiasgeiger commented on #2021
Okay I was able to solve the problem regarding the automatic preference migration. This is now fixed in the current development builds.

However, this automatic conversion is only performed once (at the first startup of JabRef 3.6 or 3.7dev) - so it will not be executed for you @jkulesza

**Please make a backup before any changes** and if you have any trouble please upload the prefs file here or s

[2016-09-26 15:05] matthiasgeiger commented on #2021
Ah... regarding your second problem: Changing the filefilter from `*.xml` to `All files` is working for me... Is this problem specific for the preferences import dialog or are all file dialogs affected? (e.g. "File" -> "import into current database")

[2016-09-26 16:31] Siedlerchr commented on #2063
The problem is theoretically easy to fix, but practically we have the problem that the mappings are stored in a HashMap and we have no chance to add a double entry.  Fuu.. I hate HashMaps sometimes.

[2016-09-26 17:17] koppor commented on #1339
For LNI, there is work in progress at https://github.com/latextemplates/LNI/pull/3

[2016-09-26 17:19] koppor commented on #1339
Please use a development build from http://builds.jabref.org/master - there is support for citation styles added (see https://github.com/JabRef/jabref/pull/1928). Maybe that helps as workaround.

[2016-09-26 17:23] koppor commented on #2063
Refs https://github.com/koppor/jabref/issues/145

[2016-09-26 18:19] boceckts commented on #463
I will close this as everything seems to be done.

[2016-09-26 18:19] #463 closed

[2016-09-26 18:25] boceckts commented on #490
I will close this as everything seems to be done.

[2016-09-26 18:25] #490 closed

[2016-09-26 18:33] Siedlerchr commented on #2063
@koppor  Sure. I found that piece of code. However,

`00EF  ï  ` has two possible mappings: `\"{i}` or `\"{\i}` (notice the slash before the i)
The latter one is used here, latest version (inlcuding unicode8)
https://www.w3.org/2003/entities/2007xml/unicode.xml (warning, file is around 5MB)

Both versions are valid. The question is: Do we find a solution to support multiple variants or do we stick

[2016-09-26 20:29] tobiasdiez commented on #2063
I think you can just add a new entry to the `CONVERSION_LIST`. In the Unicode -> Latex direction only one of these entries is kept, but both should be added to the Latex -> Unicode map.

[2016-09-26 20:36] Siedlerchr commented on #2063
That was may inital idea, too: However the point is, we have a  **HashMap**

https://github.com/JabRef/jabref/blob/ee688c44765f11344226da531b63f9df345a6585/src/main/java/net/sf/jabref/model/strings/HTMLUnicodeConversionMaps.java#L852
` public static final Map<String, String> LATEX_UNICODE_CONVERSION_MAP = new HashMap<>();`

And unicode Number is the key.. Problem: We have now 1 Unicode Number -> 2

[2016-09-26 21:06] tobiasdiez commented on #2063
But this map has the latex code as the key and unicode as the value, see https://github.com/JabRef/jabref/blob/ee688c44765f11344226da531b63f9df345a6585/src/main/java/net/sf/jabref/model/strings/HTMLUnicodeConversionMaps.java#L873. So there is no problem if you have different latex codes mapped to a single unicode.

[2016-09-26 21:28] AEgit opened #2073 "Website for development snapshots is down"
The website used to distribute development snapshots appears to be down. I think it has been down all day long, as I had seen this issue already a couple of hours ago but initially thought that it was just something temporary:

https://builds.jabref.org/master/

[2016-09-26 21:58] Siedlerchr commented on #2073
Is a https problem, use the http version just remove the https and it works
fine.
@koppor

2016-09-26 23:28 GMT+02:00 AEgit <notifications@github.com>:

[2016-09-26 22:00] AEgit commented on #2073
Ah yes, thanks indeed!

[2016-09-27 07:59] koppor commented on #2073
I've setup [Let's Encrypt](https://letsencrypt.org/) using [this](https://certbot.eff.org/all-instructions/#debian-8-jessie-nginx) and [this](https://loune.net/2016/01/https-with-lets-encrypt-ssl-and-nginx/) howto. Now, it works again with end-to-end encryption thanks to the [Electronic Frontier Foundation](https://www.eff.org/) and [ScaleWay](https://www.scaleway.com/).

[2016-09-27 07:59] #2073 closed

[2016-09-27 08:51] grimes2 commented on #2064
I found no solution for the problem. But I have a proposal for the "other fields" tab in Bibtex mode. This tab could show all the pure Biblatex fields of a given type. So the "other fields" tab has many fields. A common case is, that some fetched entries contain Biblatex fields. In this case, these fields are reliably displayed also in Bibtex mode.

(Bibtexing - official spec)

[2016-09-27 09:24] lenhard commented on #2052
Any updates here @devster31 ? I seems like we can close this issue, because it is a connection problem on your side.

[2016-09-27 09:27] devster31 commented on #2052
It was, thanks for the support.

[2016-09-27 09:27] #2052 closed

[2016-09-27 09:29] tobiasdiez commented on #119
Can this be closed now with #1928?

[2016-09-27 09:33] tobiasdiez commented on #152
I marked the ADS fetcher plugins as done since we now have search by query and search by id as fetcher, which was exactly the purpose of these ADS plugins.

[2016-09-27 09:35] #119 closed

[2016-09-27 09:35] koppor commented on #119
Thank you for reporting this issue. We think, that is already fixed in our development version.
Please use a development build from http://builds.jabref.org/master
The feature will be included in the next release.

[2016-09-27 09:37] AEgit commented on #2073
Thank you very much! Now https is again available.

[2016-09-27 09:49] boceckts commented on #549
I will close this as everything seems to be done.

[2016-09-27 10:08] AEgit commented on #1993
Just to keep everyone updated: I've tried the most recent snapshot (JabRef 3.7dev--snapshot--2016-09-27--master--b8d1c2e), but it is still clearly slower than previous versions. I will fall back again to the latest release version JabRef 3.6.

[2016-09-27 12:12] tschechlovdev commented on #2050
@Siedlerchr But how does this solve the problem on codecov?

[2016-09-27 12:14] Siedlerchr commented on #2050
At least that is the way to make it work in intellij, too.
@tschechlovdev  No idea. I could  not find any documentation at codecov regarding parameterized junit tests.

[2016-09-27 13:14] bartsch-dev commented on #1993
I played around a little bit, and got following benchmark (note the score of the parallel search which is much higher than the search before the performance issue):

[code]

The problem is that in the PR where I changed the searchbar I changed the `ContainBasedSearchRule` too.
Before the string about to be searched was stripped from all latex commands thus not recognizing `{\"a}` as `ä` but as `a`

[2016-09-27 14:01] AEgit commented on #1993
Hmmm, indeed, your benchmark results indicate that the parallel search is much faster than the initial one. I guess that the change to the ContainBasedSearchRule, however, has such a high impact on the performance (indeed, you mention it to be 8 times quicker before the change), that the increased performance in the parallel search is not able overcome the overall problem, i.e., that the search st

[2016-09-27 14:57] lenhard commented on #1993
First of all, it is a good thing if we have found the component that is causing the trouble, good job @bartsch-dev

It will probably make no difference if the database contains LaTeX characters or not, I think it is the searching for LaTeX in `LatexToUnicode` that is causing the problem. There is some potential for performance optimization in the code in this class, for instance by using pre-compi

[2016-09-27 16:18] Siedlerchr commented on #1993
I think we should discuss this one day in a devcall. But in general it looks like this is the only long term solution we have.  But I do not really understand why people keep latex encoded entries in their db, as normally all modern text writing programs support UTF-8.

[2016-09-27 16:48] barefeg opened #2076 "Java bug on macOS sierra"
There is a scrolling bug specific to macOS 10.12:

https://bugs.openjdk.java.net/browse/JDK-8166591
https://youtrack.jetbrains.com/issue/IDEA-158500

Not sure if there's an official fix. Just wanted to let you guys know.
In case you want to try some solutions I can verify if it works as I'm having the issue.

[2016-09-27 18:20] bartsch-dev commented on #1993
There are two obvious solutions for this to speed things up:
 1. Keep an extra map with already latex free fields
 2. Convert everything to latex free strings

I just tried the first option, the gained performance is enormous:
[code]

[2016-09-27 18:51] Siedlerchr opened #2078 "Namespace in jaxb should not rely on internal java com.sun classes"
Follow up for the problem in #1989
@tschechlovdev

Atm the commit was reverted in #2077

I found this discussion here:

http://stackoverflow.com/questions/2326107/what-happened-to-jaxbs-namespaceprefixmapper-in-jdk6u18

[2016-09-27 19:25] tobiasdiez commented on #1993
Option 1 goes in the direction of "store latex free version" #518.
What I don't understand is that it actually works for the benchmark. I thought the benchmark works as follows:

- Create DB with a lot of entries
- Search for one term
- Start at beginning

Thus every entry should be asked about its fields exactly once. Thus caching shouldn't affect the benchmark.

Since I'm not a big fan of cachin

[2016-09-27 19:42] Siedlerchr commented on #2063
Okay, I tried the approach using @tobiasdiez approach and in theory it should work. However, through debugging I noticed that the CleanLatex String methods removes all kind of slashes and braces which result in getting the same strippedLatex key...

[code]
[code]

[2016-09-27 20:11] tschechlovdev commented on #2078
So if I get it right, I should not use the NamespacePrefixMapper any more. There is an interface for an [JAXBNamepsacePrefixMapper](http://mvnrepository.com/artifact/com.googlecode.jaxb-namespaceprefixmapper-interfaces/JAXBNamespacePrefixMapper/2.2.4). Can this be used?

[2016-09-27 20:17] bartsch-dev commented on #1993
The latex free field gets stored as soon as the field gets set (thus the database needs about double the space it did before), not when it gets accessed.
The benchmark just measures the time the search takes, not the time the database needs to get initialized.

I'm away over the long weekend. You can try your luck.

[2016-09-27 20:51] Siedlerchr commented on #2078
Hm, from what I see you are using a very old version of jaxb and when I see it correctly, since several versions it is already included in java8
https://docs.oracle.com/javase/8/docs/api/javax/xml/bind/JAXB.html

And also have a look here,https://jaxb.java.net/2.2.11/docs/release-documentation.html#a-2-2-11
There seems to be a sample somewhere which inlcudes some namespace stuff

Look also here, t

[2016-09-27 22:05] tobiasdiez opened #2080 "Unify Import/Open and Export/Save"
Currently JabRef has four different menu options for saving and opening files.
- open / save as: bib files
- import/export: other files

And then there are even more for saving/exporting only the selected entries.
I think this is more confusing than helpful. I would propose one "open" and one "save as" regardless of the file format (with a checkbox in the dialog to only save the selected entries).

[2016-09-28 00:00] grimes2 commented on #2080
I prefer the current save/export in Jabref.
A detailed discussion about save/export in gimp:
http://gui.gimp.org/index.php/Save_%2B_export_specification

[2016-09-28 07:37] stefan-kolb commented on #2080
After reading the Discourse link, I think this user is an exception with near no knowledge of computer programs 😄 I would also keep it the way it is at the moment. Clear open/save for bib files and import/export logic for other file types.

[2016-09-28 07:41] stefan-kolb commented on #2076
Thank you for your report :+1:
Looks like we cannot really do a lot about this but wait for a JDK fix.

[2016-09-28 07:44] stefan-kolb commented on #1957
I also talked with @simonharrer about this. Imho this is overuse of lambdas and introduces unnecessary complexity for saving a minimal amount of lines of code. Closing this for now.

[2016-09-28 07:44] #1957 closed

[2016-09-28 07:48] matthiasgeiger commented on #1886
At the moment I don't have that much time, but started to have a look at it. The GoogleScholarFetcher for fetching entries seems to be broken at the moment.

The runConfig() method produces the error - and without the configuration the results won't have the expected format (bibtex is not the default citation format but via JS some stuff is loaded).

Fixing the configuration thing looks complicate

[2016-09-28 07:49] stefan-kolb commented on #1879
@koppor Any news?

[2016-09-28 07:50] stefan-kolb commented on #1647
@tschechlovdev  @Braunch  @boceckts This was fixed in #2028?!

[2016-09-28 08:17] lenhard commented on #1886
A very controversial suggestion: The google scholar fetcher is a pain in the ass. If they change their format / interface every two weeks, it is not something you can reasonably program against. Maybe we should drop support for it.

[2016-09-28 08:30] lenhard commented on #1993
Regarding caching: There is no point of improving performance if JabRef dies for large databases due to memory usage. @AEgit What is the current memory footprint for your 8000+ entry database? Will it be a problem for your enviroment if JabRef takes up twice of what it currently does?

[2016-09-28 09:12] tschechlovdev commented on #1647
Yes this was fixed, so I think this can be closed now.

[2016-09-28 09:13] tschechlovdev commented on #1074
This should be fixed in #2028. The journal title from a scopus file should now be imported as journal title.
So I think this can be closed now.

[2016-09-28 09:14] #1647 closed

[2016-09-28 09:27] AEgit commented on #1993
On Windows 10 Jabref currently uses ~1.4 GB of RAM for a database with nearly 9,000 entries (and several hundreds of groups). Doubling the memory footprint would be no issue for me, as I'm running this on a machine with 16 GB of RAM.

[2016-09-28 09:28] Siedlerchr commented on #1993
@AEgit  Just a question: Do you have the 64-Bit version of Java installed?

[2016-09-28 09:31] AEgit commented on #1993
Yes I have.

[2016-09-28 10:07] matthiasgeiger commented on #1886
Okay... I got it back working. However, there is rather strict limit now implemented on the Google side so that is only possible to show and import the first 10 search results...

Fixed version is available at http://builds.jabref.org/fix-googlescholar/

[2016-09-28 10:37] koppor commented on #1886
[Screen scraping](https://en.wikipedia.org/wiki/Web_scraping) is still the most popular method of doing [EAI](http://www.enterpriseintegrationpatterns.com/). Most popular reason is the lack of an API, as it is in our case. As long as we find someone updating the code, we should keep it. (Also refs #1833)

[2016-09-28 11:03] #1074 closed

[2016-09-28 11:19] Siedlerchr commented on #1886
I would also say that Google Scholar is an important fetcher, which is used by many users.

[2016-09-28 11:38] mlep commented on #1886
I concur to stress that Google Scholar is (unfortunately for JabRef developers) a primary source of data: accessible for free and covering all scientific fields.

[2016-09-28 12:41] mlep opened #2083 "Integrate new EN help pages in the GUI"
New help pages where created (see https://github.com/JabRef/help.jabref.org/pull/94 and https://github.com/JabRef/help.jabref.org/pull/98). Help buttons should now be added to allow for direct access.
The help pages are related to:
- [ ] Edit -> Set/clear/rename fields (file: SetClearRenameFields.md)
- [ ] Search -> Replace string (file: ReplaceString.md)
- [ ] BibTeX -> Customize entry types (fil

[2016-09-28 13:21] stefan-kolb commented on #2083
I quickly checked the PRs. All (most?) of them are just stubs indicating that a documentation is missing for these features. I'm not sure if we want to direct users to missing pages...

[2016-09-28 13:42] Siedlerchr commented on #2080
I agree with @stefan-kolb  and @grimes2  We should let it to have the clear semantics. Therefore I would close this atm.

[2016-09-28 13:42] #2080 closed

[2016-09-28 13:43] Siedlerchr commented on #1936
I close this for the moment due to inactivity... :zzz:

[2016-09-28 13:43] #1936 closed

[2016-09-28 13:49] tschechlovdev commented on #2078
Hm ok. If I see right then it's the easiest way is to add a ``@XmlNs`` to the package-info.java.
That would look like the following:
[code]
This seems to work for me.
I've also found a [maven-plugin](https://java.net/projects/jaxb2-commons/pages/Namespace-prefix) that seems to do this. But I coulnd't find one for gradle.

[2016-09-28 14:01] Siedlerchr commented on #2078
Yeah, I would go with the Namespace annoation, if it works, its's good.

[2016-09-28 14:07] matthiasgeiger commented on #2083
Was more or less "decided" in https://github.com/JabRef/help.jabref.org/issues/88 - which is fine for me, too.

[2016-09-28 14:10] stefan-kolb commented on #2083
Ok, if you think so. It just doesn't help the user.

[2016-09-28 14:54] koppor commented on #2083
IMHO pressing on "edit" is a lower border than creating an md file on the
right place.I hope, more users will contribute...

[2016-09-28 14:55] lenhard commented on #1886
I had expected no other reply :-)

We will continue to have to do weird hacks in the fetcher and constant questions from people when it breaks, but what choice do we have...

[2016-09-28 14:56] tobiasdiez commented on #1886
support Microsoft's Bing academics 😸 (they have at least an API)

[2016-09-28 15:00] lenhard commented on #2083
Just that I understand this correctly: So, we want to add GUI elements at several places that open a particular help page? Kind of like the help button now, but at many positions and with particular pages as targets?

What kind of UI elements should that be? An additional button? Maybe a tool tip?

[2016-09-28 15:04] mlep commented on #2083
My suggestion is to do as in https://github.com/JabRef/jabref/issues/1767 : Adding an help button to each pop-up window, pointing to the relevant help page. 12 help pages ==> 12 help buttons

[2016-09-28 15:12] Siedlerchr commented on #1886
@tobiasdiez  it's literally death: http://blogs.nature.com/news/2014/05/the-decline-and-fall-of-microsoft-academic-search.html

[2016-09-28 15:36] tobiasdiez commented on #1886
Well, "what is dead may never die, but rises again, harder and stronger."

http://www.harzing.com/download/mas.pdf

I think Microsoft changed the way how Bing Academics is feed with data. Previously, it was via an own crawler which was then suspended. But now it is connected to Bings main crawler and thus gets good and up-to-date data. Otherwise it wouldn't be listed as part of the [congnitive ser

[2016-09-28 18:35] oscargus commented on #2063
Yes, the key here used in the lookup will/should be `"i`, so both variants should work (the reason being that `{\"{i}}`, `\"{i}`, `\"{\i}`, `{\"{{\i}}}` etc should work). However, there is also some special handling of a few of the accents to allow writing e.g. `\"i`. Not sure if that may be the issue here...

[2016-09-28 18:41] oscargus commented on #1993
I note that I pointed this out as a probable reason quite some time ago. ;-)

@Siedlerchr There are for sure still use cases for non-UTF-8 databases. IEEE is just one.

[2016-09-28 21:01] jkulesza commented on #2021
@matthiasgeiger Sorry for the slow reply; I've been away at a conference.

I've downloaded and installed:
 JabRef 3.7dev--snapshot--2016-09-28--master--555944f
mac os x 10.11.6 x86_64
Java 1.8.0_102

Some remarks:

1. For other users' reference, opening $HOME/Library/Preferences/net.sf.jabref.plist within Xcode and removing the entry cited (bibtexkeypatterns) allowed the preferences to be brought

[2016-09-28 21:18] jkulesza opened #2089 "Autogenerate Keys Finds/Produces Incorrect Duplicate Keys"
JabRef 3.7dev--snapshot--2016-09-28--master--555944f
mac os x 10.11.6 x86_64
Java 1.8.0_102

Steps to reproduce:

1. Select all entries in DB.
2. Autogenerate BibTeX keys.
3. Cleanup entries below.

67 out of 110 of my entries have modified keys which append "a" as though there are duplicates (note that there are not duplicate entries in my .bib file confirmed with Quality -> Find Duplicates).  Th

[2016-09-28 21:25] jkulesza commented on #2021
It's worth noting that I can also not *export* my preferences in a format other than XML.

[2016-09-28 22:35] koppor commented on #1993
Plain LaTeX is important for so many users. For instance, when publishing scientific papers. Nearly no publisher supports biblatex. And [bibtex8](https://www.ctan.org/tex-archive/biblio/bibtex/8-bit) still seems to be a hack and is 20 years old now. Sure, [switching to biblatex is recommended](http://tex.stackexchange.com/a/8416/9075), but not practical.

[2016-09-28 22:36] koppor commented on #1993
I doubt that caching the UTF-8 string ("latex-free version") takes twice as memory, because I assume that 80% of the Strings will be the same. The latex-free version can use [String.intern()](http://docs.oracle.com/javase/7/docs/api/java/lang/String.html#intern%28%29) to reduce memory consumption drastically (see also http://stackoverflow.com/q/10578984/873282). We can also add `-XX:+UseG1GC -XX:+

[2016-09-29 02:26] grimes2 opened #2090 "Glitch in main menu edit"
JabRef 3.7dev--snapshot--2016-09-28--master--6ba3b9a
windows 10 10.0 amd64
Java 1.8.0_101

Two consecutive separators (case: special table fields not checked in preferences)

![glitch](https://cloud.githubusercontent.com/assets/15456836/18938876/39836302-85fc-11e6-9227-c0e8a1ca738b.png)

[2016-09-29 06:32] i2000s commented on #181
@koppor I encounters this issue when I open a bibtex file in JabRef v2.7.1, v2.10 and the latest v3.6. The ordering of fields in an entry behaves differently on different versions. That breaks my version control strategy. How to define the ordering of fields?

[2016-09-29 08:03] lenhard commented on #1993
@oscargus Indeed, your intuition paved the way :-)
@koppor Sure it does not take twice the memory. That is just the worst-case upper bound estimation, which we should take into account in a design decision anyway.

Summarizing the discussion, I think we have a consensus that something will be done. We currently have the following options:

 1. Performance optimization of `LatexToUnicode`
 2. Dupli

[2016-09-29 08:12] matthiasgeiger commented on #2021
Well... The content of the preferences file is always XML-Code - so exporting it only as an XML file is sensible. However, import should be possible regardless of the file extension I think...

@Siedlerchr and @stefan-kolb: Can you investigate the file dialog problem? Should be caused by #1771, #1774 or #1737

[2016-09-29 08:20] koppor commented on #518
I think, this is implemented in  #2091.

[2016-09-29 08:21] stefan-kolb commented on #518
In a way, but not properly.

[2016-09-29 08:31] stefan-kolb commented on #2021
I cannot reproduce this behavior on the current `master`. Import and export is working as expected.

[2016-09-29 08:40] matthiasgeiger commented on #2021
Mac specific problem?
@chochreiner Can you reproduce this one? :wink:

[2016-09-29 08:44] mlep opened #2092 "Timestamp: "Today" and "None" not clickable"
JabRef version 3.6 on Linux Mint LMDE

In the entry editor, right next to the timestamp field, an icon triggers the pop-up of a calendar.
Under the calendar, `today` and `none` are displayed:

![timestampnone](https://cloud.githubusercontent.com/assets/6931104/18946904/37bbff40-8631-11e6-8c81-99c22b9f1127.png)

I believe these were clickable (to input today's date, or to clear the field).

[2016-09-29 08:46] matthiasgeiger commented on #2092
Yes. They are clickable on Windows...

[2016-09-29 08:49] lenhard commented on #2092
@mlep: Which JRE are you using?

[2016-09-29 08:49] mlep commented on #2092
java version "1.8.0_66"
Java(TM) SE Runtime Environment (build 1.8.0_66-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.66-b17, mixed mode)

[2016-09-29 08:53] lenhard commented on #2092
@mlep: Thanks! Is this OpenJDK or Oracle?

[2016-09-29 08:59] matthiasgeiger commented on #2092
I think this output is generated by Oracle ;-)

[2016-09-29 09:01] mlep commented on #2092
I confirm: Oracle

[2016-09-29 09:08] lenhard commented on #2092
@matthiasgeiger As far as I know, that output is also generated by OpenJDK? But maybe this has changed. How should the output by OpenJDK look like?

Back to topic: Darn, I was hoping we could blame this on OpenJDK...

[2016-09-29 09:19] Siedlerchr commented on #2021
Regarding the file dialog, I am not sure, but I think that only XML is set as File Filter. Not sure if you can switch to All files.

[2016-09-29 09:20] stefan-kolb commented on #2021
You can, I tested it.

[2016-09-29 10:15] chochreiner commented on #2021
I can reproduce this bug on MacOS 10.12 on the master

[2016-09-29 10:45] #2090 closed

[2016-09-29 10:45] Siedlerchr commented on #2090
Fixed with #2093

[2016-09-29 10:56] Siedlerchr commented on #2092
Tested under Ubuntu 16.04 with Xfce Desktop and oracle jre
Also it says it's `javax.swing.plaf.metal.MetalLookAndFeel`, it should be GTk looks.

They are clickable, and clicking on today works correctly. Clicking on none does nothing

[2016-09-29 11:11] mlep commented on #2092
Checking again:
**Correction:** only click on `none` does nothing.
Like @Siedlerchr, using `javax.swing.plaf.metal.MetalLookAndFeel`

[2016-09-29 11:25] koppor opened #2095 "Replace "Database" by "Library" in the translation"
Following the discussion of https://github.com/JabRef/jabref/pull/1988, we decided to replace "Database" by "Library". This also has huge impact on the code (BibDatabase vs. BibLibrary)

[2016-09-29 11:29] boceckts commented on #1920
I will close this as everything seems to be done.

[2016-09-29 11:29] #1920 closed

[2016-09-29 11:48] grimes2 commented on #2095
A remark: Bibtexing, the official BibTeX specification uses the term "database file".

[2016-09-29 11:55] matthiasgeiger commented on #2092
Mhmm okay. "none" is also not working as it is to be expected in windows: It closes the Calendar, but a date previously set is not removed.

[2016-09-29 12:06] oscargus commented on #1993
I think rewriting the converters would make sense anyway. I have just touched them, but there are at least three(?) places where the conversion map is checked, which seems quite redundant. I haven't really studied it in depth, but it may be possible to write a faster converter from scratch with a selectable conversion map (to deal with Latex to {Unicode, HTML, XML, RTF}), although unification and

[2016-09-29 13:48] tschechlovdev commented on #2078
@Siedlerchr This can be closed now, right?

[2016-09-29 16:51] #2078 closed

[2016-09-29 18:23] lenhard commented on #1993
@AEgit if you desperately want a development version with quicker search, then you can get one right now here: http://builds.jabref.org/latex-free-fields/

This should be somewhat faster already. I'll do a few more minor improvements tomorrow and I have also not yet tested as to how much faster this actually is and how much memory it consumes. But it would be interesting to hear from you how searc

[2016-09-29 18:36] AEgit commented on #1993
JabRef 3.7dev--snapshot--2016-09-29--latex-free-fields--93e665e
windows 10 10.0 amd64
Java 1.8.0_101

@lenhard : Thank you so much!!!
This is indeed much faster - it feels as if it was even faster than before the issue (maybe due to the parallel optimizations?). Google Scholar works as well: Great!

The memory footprint seems to be nearly the same: I think there's a max. increase of 200 MB (Jabref

[2016-09-29 18:48] AEgit commented on #1993
Ok, small bug spotted in JabRef 3.7dev--snapshot--2016-09-29--latex-free-fields--93e665e

It's no longer possible to assign an article to a group by drag'n'drop. If I try that, nothing happens. Instead I have to manually enter the groups name in the "Groups" field: Then it works.

(I didn't know whether I should open a new ticket as you mentioned that you would do a few minor improvements tomorrow

[2016-09-29 18:53] lenhard commented on #1993
@AEgit That is great to hear :-) I will do some more testing tomorrow, but it sounds like we are getting this issue solved. It is also good that the additional memory needed seems to be acceptable. If so, then that is certainly due to the suggestions by @koppor

The groups bug you mention should be unrelated and I only touch the LaTeX converter tomorrow, so please open a new issue.

[2016-09-29 18:53] AEgit commented on #1993
Another small bug in JabRef 3.7dev--snapshot--2016-09-29--latex-free-fields--93e665e

The DOI resolver does not appear anymore in the Web search interface.

[2016-09-29 18:56] AEgit opened #2098 "Articles can no longer be assigned to groups via drag'n'drop"
JabRef 3.7dev--snapshot--2016-09-29--latex-free-fields--93e665e
windows 10 10.0 amd64
Java 1.8.0_101

1. Select an item and try to drag'n'drop it onto an existing group
2. Nothing happens
3. Adding the groups name manually to the "Groups" field of the item does work, however, and assigns the item to the group

(see also: https://github.com/JabRef/jabref/issues/1993)

[2016-09-29 19:09] mlep commented on #1993
The DOI resolver is now in BibTeX -> New entry

[2016-09-29 19:40] AEgit commented on #1993
@mlep
Thank you! Hmmm, would it be possible to readd the DOI fetcher to the Web search? Because now I have to make at least one additional click/use one additional shortcut to enter the DOI and get the bibtex data. Beforehand I could just enter the doi in the Web search that was already open.

[2016-09-29 19:51] koppor commented on #1993
Would it help to press CTRL n and then the Input field is focussed?

[2016-09-29 19:52] AEgit commented on #1993
Hmmm, yes, I was already using CTRL+N and focussing the input field would help - but it's not as convenient as it was before. At least I think so - maybe I just need to get used to it: But changing the focus to the input field would definitely help.

[2016-09-29 19:59] koppor commented on #1993
@zellerdev

[2016-09-29 19:59] AEgit commented on #1993
Another small bug I came across in JabRef 3.7dev--snapshot--2016-09-29--latex-free-fields--93e665e

1. Select a group that contains articles
2. Perform a search
3. One of the articles within that group is found by the search and is selected (indicated in blue)
4. The entry preview of the selcted article is displayed
5. If we select now another article in the same group that is also found by the se

[2016-09-29 20:46] AEgit commented on #1993
Indeed similar (but not the same) problems as the one mentioned above appeared in:
https://github.com/JabRef/jabref/issues/1760
https://github.com/JabRef/jabref/issues/1903

(I can create a new bug report, if this is not related to the changes made so far in search)

[2016-09-30 00:54] Tercus commented on #1886
It would be nice to have a plugin-system for the whole search stuff. While it is nice to have a large choice of different search-APIs, most are unknown to people not working in that field and every change in the API requires a new version of Jabref. If the search-part would be using a plugin, then you could alter it by yourself and write your own. Also, you could split the maintenance of the searc

[2016-09-30 05:55] koppor commented on #1886
@Tercus I think, you often heard it in the context of open source projects, but I'll try to rephrase it for the context of JabRef. The JabRef team just consists of volunteers spending their free time for JabRef. They could finish their PhD or PostDoc phase, but they invest time in JabRef, because they just like to. There is no funding agency and the [donations](https://github.com/JabRef/jabref/wik

[2016-09-30 06:15] oscargus commented on #1993
I think we should add a side panel for creation of entries based on DOI etc.

[2016-09-30 07:27] bernhard-kleine commented on #2011
Has this issue been resolved? With JabRef 3.7dev--snapshot--2016-09-25--medlineutf8--95f7f84, windows 7 6.1 amd64, Java 1.8.0_66 I still ran into the % trap.

[2016-09-30 09:11] lenhard commented on #2011
@bernhard-kleine As there are no other comments here since my last one seven days ago: no, it has not.

Also, we will not do this automatically for importing pubmed entries (since the error is really on the side of pubmed which produces broken bibtex).

[2016-09-30 14:11] AEgit commented on #1993
As far as I can tell, the small bug mentioned for JabRef 3.7dev--snapshot--2016-09-29--latex-free-fields--93e665e (entry preview not correctly displayed after having performed a search - see posts above me), appears to be fixed in JabRef 3.7dev--snapshot--2016-09-30--latex-free-fields--0ee1d17.

[2016-09-30 14:21] giacomociani opened #2104 "Empty modal error box when saving database with parsing error"
JabRef version 3.6 on Windows 10

Steps to reproduce:

1. Open Jabref
2. Create a database
3. Add an entry (I used article)
4. Save the database (if you skip this step, the problem does not occur. See later.)
5. Open the "{} Bibtex Source" editing tab
6. Insert an extra comma just after the last one (the one closing the last field). Other mistakes may work as well; I have not tried.
7. Click on th

[2016-09-30 14:25] AEgit opened #2105 "Entry preview not updated properly"
JabRef 3.7dev--snapshot--2016-09-30--latex-free-fields--0ee1d17
windows 10 10.0 amd64
Java 1.8.0_101

Select a group that contains articles
1. Perform a search
2. One of the articles within that group is found by the search and is selected (indicated in blue)
3. The entry preview of the selected article is displayed
4. If we select now another article in the same group that is also found by the se

[2016-09-30 14:40] AEgit commented on #2098
This bug is still present in:

JabRef 3.7dev--snapshot--2016-09-30--latex-free-fields--0ee1d17

[2016-09-30 15:00] lenhard commented on #2026
@johann-petrak What is the status here? Does your problem still appear when you use the most recent development version of jabref?

[2016-09-30 16:26] koppor commented on #2105
@bartsch-dev Maybe you have time to have a look at the end of next week?

[2016-09-30 18:53] grimes2 commented on #2104
Confirmed. I try to fix this.

[2016-10-03 07:39] lenhard commented on #1993
This is fixed in #2102. Discussion regarding related issues that have been discovered in this context should be carried on in separate threads.

[2016-10-03 07:39] #1993 closed

[2016-10-03 07:40] lenhard commented on #518
Is implemented in #2102

[2016-10-03 07:40] #518 closed

[2016-10-03 07:42] AEgit commented on #1993
Thanks to everyone for this quick fix!

Bugs found in this context can be found here:
https://github.com/JabRef/jabref/issues/2098
https://github.com/JabRef/jabref/issues/2105

[2016-10-03 08:38] Siedlerchr commented on #1252
The code how biber does the Transformation is there too https://github.com/plk/biber/blob/dev/lib/Biber/LaTeX/Recode.pm

[2016-10-03 08:38] Siedlerchr commented on #1252
The code how biber does the Transformation is there too https://github.com/plk/biber/blob/dev/lib/Biber/LaTeX/Recode.pm

[2016-10-03 10:50] AEgit commented on #2105
Ok, so it appears that newly created entries and entries that are newly assigned to a group are affected by this behvaiour.

To reproduce it, the following steps need to be taken:

1. Select a group that contains articles/items
2. Create a new article/item in this group or assign an existing article from another group to this group
3. Select another article that is or is not part of the group: The

[2016-10-03 10:58] AEgit commented on #2105
This bug is also present in the current master build:
JabRef 3.7dev--snapshot--2016-10-03--master--565676c

[2016-10-03 10:59] AEgit commented on #2098
The bug is also present in the current master build:
JabRef 3.7dev--snapshot--2016-10-03--master--565676c

[2016-10-03 12:01] koppor commented on #2098
Thank you for constantly checking. You see pull requests listed here as soon as someone starts working in it. We currently have no money to pay someone for that. Thus, it depends on our free time. - If you can spend some more time, we would like to encourage you to check https://help.jabref.org/en/FAQcontributing - especially the part asking for improvement of our help pages <https://help.jabref.o

[2016-10-03 12:45] #2104 closed

[2016-10-03 13:09] AEgit commented on #2098
@koppor: When rereading my comments I realize that it may sound as I was blaming the development team for not having fixed the issue already. I'm sorry if I came across like this, that was never my intention! I've just reported the presence of this bug in the master build, because previously it was just present in one of the other branches and I wanted to make sure, that everyone knew it was now a

[2016-10-03 13:14] grimes2 opened #2109 "Ctrl-s doesn't trigger parsing error message"
Latest dev version

Steps to reproduce:

1. Entry editor > Bibtex source tab
2. Generate parsing error. example: },,
3. Ctrl-s
4. The parsing error message is not triggered

File > Save database and Save button work, shortcut not.

[2016-10-03 14:31] lenhard commented on #2098
@AEgit Nevermind :-) We need good and reproducible issue reporting. Our main problem is that we currently do not have the man power to keep up with issue fixing. As long as you do not get angry when the issue lies around unfixed, we won't be angry as well.

Having said that, you *do appear* as someone who would like to contribute. If so, this will be very welcome! Even if you cannot produce code,

[2016-10-03 14:47] #1542 closed

[2016-10-03 14:54] AEgit commented on #2098
@lenhard : No worries, I will definitely not get angry. Most bugs I report, are just small things - it would be nice, if they were fixed, but they are no show-stoppers. I just tend to report a bug, when I come across it.
If there ever was a show-stopper that couldn't be fixed in time I would either have to a) learn Java and try to fix it on my own or b) look for an alternative to Jabref. But there

[2016-10-03 15:17] mlep commented on #2098
@AEgit: Since you seem a heavy user of JabRef, you may know in details some of its features.
Currenly, part of JabRef help is outdated (e.g. https://help.jabref.org/en/FileLinks) or in the state of a stub (e.g. https://help.jabref.org/en/CleanupEntries). So your knowledge of JabRef could be quite helpful!

I suggest you to browse through the help (https://help.jabref.org/en/), to pick up an item t

[2016-10-03 19:49] cookpa opened #2110 "Medline search throws Exception and hangs (Jabref 3.6)"
JabRef version 3.6 on Mac OS X El Capitan

Steps to reproduce:

1. Open web search
2. Enter "Cook PA" (with or without quotes)
3. It says "Number of references 105. Number to fetch? [click OK]
4. The blue progress bar fills up, but the references never appear

Sometimes I can run a query and some references will appear, but then it hangs. For example, if I search "Tustison [au]" (no quotes), I get

[2016-10-03 20:22] tobiasdiez opened #2111 "Changing group metadata in file does not trigger warning"
master on Win 10

Steps to reproduce:
1. Open a bib file (for example complex.bib)
2. Change the name of a group in the file directly
3. Expect: message in sidebar which informs about the changed metadata (as it is the case for other metadata). Result: nothing happens

[code]

[2016-10-03 20:47] tobiasdiez commented on #2110
@tschechlovdev could you please have a look as you recently rewrote the MedlineImporter in #1479. Apparently the `issn` is null https://github.com/JabRef/jabref/blame/ee688c44765f11344226da531b63f9df345a6585/src/main/java/net/sf/jabref/logic/importer/fileformat/MedlineImporter.java#L515

[2016-10-03 21:01] Siedlerchr commented on #2110
It would be interesting to see if the bug is still present in the latest dev version

[2016-10-03 21:08] Dellu commented on #1153
I am having this issue right now on a Mac. I imported a fairly  large (3300 entries) library to it. I have waited for more than an hour. Jabref still on "saving database...".

[2016-10-03 21:22] Siedlerchr commented on #2110
I just found the error and added a quick fix for it. Works now as expected

[2016-10-03 21:24] cookpa commented on #2110
Wonderful, thanks.

[2016-10-03 21:40] Siedlerchr commented on #2110
@cookpa  You can use the latest development from here, it includes the fix.  http://builds.jabref.org/medlineIssn/
If you note further errors, please report/open a new issue (if not the same)

[2016-10-04 00:31] Tercus commented on #1886
@koppor Thank you for your explanation. I'll try to give back to the project the best I can. I understand that a plugin system would be more work, but at the same time I think that it would easier for people like me to contribute to a plugin that is written in a script-language instead of having to figure out how JabRef works. It is quite daunting, to be honest. But I'll still try.

I work in soci

[2016-10-04 06:53] mlep commented on #1886
@tercus: Are you aware of jabFox? It is quite handy. See https://addons.mozilla.org/en-us/firefox/addon/jabfox/

[2016-10-04 07:43] AEgit commented on #2098
@mlep: Thank you very much for the information! I shall have a look at it. I might be able to help with the translation to German and Italian.

@lenhard: I've seen you've added the labels "enhancement", "groups" and "ui". Shouldn't there also be "bug"? Because this functionality was present in previous versions - indeed, this is actually a regression.
Furthermore, this issue seems to also affect t

[2016-10-04 08:40] lenhard commented on #2098
@AEgit You are correct, thanks for pointing out!

[2016-10-04 08:47] matthiasgeiger commented on #1886
And the [current development builds](https://builds.jabref.org/master) are also capable of searching google Scholar again (with the limitation of only showing the first 10 results of a query).

[2016-10-04 09:09] matthiasgeiger commented on #1153
Hi Dellu,
what exactly is your problem (as various things are discussed in this report)? And which JabRef Version are you using?

[2016-10-04 10:14] tobiasdiez opened #2115 "Unify interface by making entry preview a tab in the "editor""
Suggestion by @mlep in the [forum](http://discourse.jabref.org/t/integrating-related-articles-from-mrdlib-into-jabref/240/10).

[2016-10-04 10:42] tschechlovdev commented on #2050
Is there a reason why ``getRessource("")`` and not ``getRessource(PATH_TO_FILE)`` was used? If using the explicit path  it seems to work.

[2016-10-04 11:15] Siedlerchr commented on #2050
It was probably because we wanted to get the folder of the resource and not the file itself.
Because of the parameterized test. Do the parameterized tests execute all?

When I understand this correctly, the whole path should work:
`The elements of the stream are Path objects that are obtained as if by resolving the name of the directory entry against dir`
https://docs.oracle.com/javase/8/docs/api/

[2016-10-04 11:41] #2109 closed

[2016-10-04 13:48] Dellu commented on #1153
I am using the latest version: 3.6. But,  I now manage to fix it. The problem seems with the text encoding in Jabref. Importing UTF-8 library into the ISO-8859 format was causing the trouble, I guess.  It is saving fine now.

[2016-10-04 13:55] grimes2 commented on #2064
This issue can be closed. The incorrect cache mechanism was removed in #2075. Other fields are now displayed correct.

[2016-10-04 13:55] #2064 closed

[2016-10-04 14:40] Dellu commented on #1886
Thank you...the new version has fixed it

[2016-10-04 15:27] AEgit opened #2117 "Entry-based fetchers should respect BibTeX key pattern of JabRef"
JabRef 3.7dev--snapshot--2016-10-03--master--565676c
windows 10 10.0 amd64
Java 1.8.0_101
1. Set default pattern for Bibtex key generation to [auth][year]
2. Generate a new item/article using the DOI (Ctrl+N --> DOI: mydoi --> Generate)
3. The generated bibtex key, has the following format: [auth]_[year], i. e. there's an underscore between the author's name and the year; but there shouldn't be an

[2016-10-04 15:31] cookpa commented on #2110
Thanks, I downloaded `JabRef_macos_3_7dev--snapshot--2016-10-03--medlineIssn--dc77ad8.dmg`.

It solves the original problem but now the search hangs after the first successful search. I searched Medline for "Tustison [au]". It reported 53 results, but the number to retrieve box was blank so I entered 53. It completed successfully and I could import the citations.

Unfortunately, if I try a subsequ

[2016-10-04 15:35] Siedlerchr commented on #2110
Thanks for your report! The problem with the consecutive searches seems to be a more general problem with the new websearch code. Possible the same as in https://github.com/JabRef/jabref/pull/2034#issuecomment-251408195

[2016-10-04 17:55] tobiasdiez commented on #2110
Fixed in #2113.

[2016-10-04 17:55] #2110 closed

[2016-10-05 07:40] AEgit opened #2119 "Subgroups can no longer be created using drag'n'drop"
JabRef 3.7dev--snapshot--2016-09-29--latex-free-fields--93e665e
windows 10 10.0 amd64
Java 1.8.0_101

1. Create two new groups
2. Try to drag'n'drop one of the groups onto the other group to create a group-subgroup structure
3. Nothing happens, i. e. no subgroup is created
4. The only way to create subgroups is to use the "Move" and "Right"/"Left" command

This issue might be a duplicate of this o

[2016-10-05 13:16] giacomociani opened #2123 "Empty error message when using DOI to Bibtex"
JabRef 3.6
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. open "DOI to BibTex"
2. insert the url https://doi.org/10.1364/AO.55.008256 (or just the DOI)
3. hit "fetch"
3. the result windows come up with showing continuous activity (green bar sliding left to right at the bottom) and an error message... with no message. Just a "Message" title and an "OK" button.

The paper linked by th

[2016-10-05 13:33] matthiasgeiger commented on #2123
The underlying problem is not at the side of JabRef but the crossref.org service which provides the BibTeX information for DOIs returns an error.

Using the [current development builds](https://builds.jabref.org/master) the error dialog is no longer empty but display "Invalid URL" - which still might be improved.

[2016-10-05 14:57] lenhard commented on #2026
I am closing this, since @johann-petrak seems to have lost interest and we expect the problem to be solved in master.

Feel free to reopen if the problem re-appears.

[2016-10-05 14:57] #2026 closed

[2016-10-05 15:06] johann-petrak commented on #2026
Sorry for the late feedback - I do not use generate key that often because I usually paste an existing bibtex entry for the papers I add. I did use generate a few times and never had any problem, so this may be fixed.
However, this time I always saved the database directly before generating the key which also may have an influence.
Thanks!

[2016-10-05 17:52] bartsch-dev commented on #2105
The issue can be reproduced even easier.

1. have at least 2 entries
-  open the entry editor and close it
  - the preview will be rendered correctly
- select the other entry
  - the preview will be rendered correctly
- select the first entry (the one you opened the editor with)
- the preview will not be updated

[2016-10-05 18:20] #2092 closed

[2016-10-06 08:37] matthiasgeiger opened #2128 "Usage JabRefExceptions for localized error message to be shown to the user"
If the `getMessage()` or `getLocalizedMessage()` methods of an exception are used to show information to the user, a [`JabRefException`](https://github.com/JabRef/jabref/blob/master/src/main/java/net/sf/jabref/JabRefException.java) should be used which provides the necessary implementation to actually have localized messages.

An example are the `FetcherException`s which are thrown and caught in t

[2016-10-06 09:34] lenhard commented on #2128
Could you have a look at https://github.com/JabRef/jabref/wiki/Code-Howtos#throwing-and-catching-exceptions and see if this should be extended/changed? It seems that the necessary information has already been there.

[2016-10-06 10:58] cavonsto opened #2130 "groups appear,BUT if i click on the group names, the articles don't show up."
Hi, So today i opened my XX.bak database with 700 articles, and 30 groups.
the groups appear, and articles have the group assigned oh the BibTeX source BUT when I click on the group names, the respective articles don't show up...
This on my work computer, windows.
Two days ago I updated the jabref version on my mac. But the groups work fine there..
Any idea?
cheers

[2016-10-06 11:16] matthiasgeiger commented on #2128
Yes. I've added this last fall but it was not really enforced yet.

In most cases it is also not that relevant, but if the message of an Exception is directly shown to the user it should be localized. I'll clarify this.

[2016-10-06 14:22] bartsch-dev opened #2133 "MatchesHighlighter doensn't respect HTML"
`net.sf.jabref.logic.search.MatchesHighlighter#highlightWordsWithHTML` doesn't respect existing HTML.

It's clearly visible in the preview panel.
- If you use the Preview style, have `br` in your entry, and search for it:
  ![html_preview](https://cloud.githubusercontent.com/assets/15333371/19156078/e7d820fc-8be0-11e6-8b71-97c2dc327b3c.PNG)
- if you use CitationStyle and search for `<`
  ![html_ci

[2016-10-06 17:53] jkulesza commented on #2089
Has anyone been able to reproduce?

[2016-10-06 18:10] bartsch-dev commented on #2089
It suffices if you select a single entry and generate the BibTeX key multiple times; the BibTeX key will count up (..a, ..b, ...).

I'll look into it in the next few days.

[2016-10-07 14:36] grimes2 opened #2134 "Flag private/public database"
I have some databases, that I don't want to share with the public (because of private data etc.). On the other hand there are bib files, that can be published. It would be nice to have a flag for each database: private/public.

[2016-10-07 15:25] Siedlerchr commented on #2134
Wouldnt a simple custom field be enough~?

Am 07.10.2016 4:36 nachm. schrieb "Jürgen Lange" <notifications@github.com>:

[2016-10-07 15:34] #2105 closed

[2016-10-07 15:38] koppor commented on #2134
I think, the intention is to have a metadata for that. I.e., not on per
entry basis.

I assume the wish is for a highlight in the tab. [private]

[2016-10-07 15:51] grimes2 commented on #2134
@koppor A metadata for the whole database would be nice (If it is possible). The main window title could be: Jabref - path/database.bib (BibTeX mode, private)

[2016-10-07 17:53] AEgit opened #2136 "Cannot switch with tab between different fields in (manually) newly created entry"
JabRef 3.7dev--snapshot--2016-10-07--master--03bc4a3
windows 10 10.0 amd64
Java 1.8.0_101

1. Create a new entry in your database manually
2. Start entering the names of the authors
3. Try to switch to the "Title" field using the tabulator
4. This does not work.
5. If you close the editing mode and reopen it, you are now able to switch/hop between different fields using tab

This is a regression t

[2016-10-07 17:55] AEgit commented on #2105
I can confirm that this bug has been fixed in the following master build:
JabRef 3.7dev--snapshot--2016-10-07--master--03bc4a3

Thanks a lot!

It seems, however, that another bug was introduced. See here:
https://github.com/JabRef/jabref/issues/2136

[2016-10-07 18:16] AEgit commented on #2136
Another workaround (instead of leaving the 'edit' mode) is to save the new entry. After having saved it at least once, switching between differnt fields using tab is possible.

[2016-10-08 09:37] AEgit commented on #2130
1. Could you report whicj Jabref version you are using?
2. Why are you opening the .bak (backup) file and not the .bib file?
3. What do you exactly mean by "the respective articles don't show up"? Could you describe this further and/or post a screenshot?

[2016-10-08 12:50] lenhard commented on #2136
@bartsch-dev: Could you have a look?

[2016-10-08 13:19] ilippert opened #2137 "search field does not keep focus on search field"
As reported at http://discourse.jabref.org/t/search-brings-up-edit-mode-cursor-skips-out-of-search-in-to-field/251/2 when clicking on the search field, the focus does not reliably stick to the search field. This can cause unintended entry of data whereever the focus then shifts to.

[2016-10-08 14:05] bartsch-dev commented on #2136
I'll look into it.

[2016-10-08 16:04] koppor commented on #2137
You wrote that you also used the latest development snapshot from https://builds.jabref.org/master/. Could you perhaps make a video showing situations where the focus gets lost? We all use it differently and I did not encounter issues with lost focus.

@bartsch-dev maybe you have some idea?

[2016-10-08 16:16] bartsch-dev commented on #2137
I too cannot reproduce this.

[2016-10-08 17:05] ilippert commented on #2137
please see at this [link](https://owncloud.itu.dk/index.php/s/iW9dNUSu2WBSw3A)

[2016-10-08 17:33] AEgit commented on #2137
This is a duplicate of the bug reported here:
https://github.com/JabRef/jabref/issues/1938

It was also mentioned there, that it is difficult to reproduce (might have to do with the autocompletion feature?).

[2016-10-08 17:48] ilippert commented on #2137
ok, yes, I agree that this bug report is a duplicate. Thanks for the link!

[2016-10-08 17:48] #2137 closed

[2016-10-08 17:50] tobiasdiez commented on #1938
Video of bug: https://github.com/JabRef/jabref/issues/2137#issuecomment-252436182

[2016-10-08 17:54] ilippert commented on #1938
I have a database with 9917 entries; I encounter the phenomenon, too.
I am quite certain, it does not happen if the editor shows the complete source.

[2016-10-09 09:33] stefan-kolb commented on #2134
What is the use case for that? Just to remind the user that he has private data in his DB and not to share it? I don't see a necessity for something like that in JabRef as long as we don't share DBs via a cloud service or anything alike.

[2016-10-09 09:39] koppor commented on #1938
I encounter the same issue with latest master (e9ed743919e1610015e512748f8a1db0857739fe). I have the entry editor open and just type something in the search field.

[2016-10-09 11:48] koppor opened #2142 "New entry is not focused when search is active"
1. open `complex.bib`
2. sort by `author/editor`
3. search for `bard`
4. double click on "Boström" (which is not a search hit) -> entry editor opens
5. BibTeX -> New entry
6. Press "Article"

Expected: Entry editor for the new article opens
Behavior: First search hit is focused.

[2016-10-09 11:52] Siedlerchr opened #2143 "Encoding problem in XMPUtilTest from gradle commandline in windows"
There seems to be some problem with the XMPUtil test which is related to encoding.
Running it from gradle commandline (bash) on Windows 7, it fails on the abstract.

It came recently, after  #2062,
@mairdl  Could you take a look?
There must be somewhere a problem with DefaultCharset (windows native  vs UTF8 charset.

` comparing abstract expected:<Optional[The success of the Linux operating system

[2016-10-09 13:30] grimes2 commented on #2143
I can confirm. Here the original excerpt:
![failed](https://cloud.githubusercontent.com/assets/15456836/19220745/b9fc878a-8e34-11e6-8570-7f1189200dc4.png)

Th other test, that fail locally:
net.sf.jabref.logic.importer.fetcher.MathSciNetTest > searchByQueryFindsEntry FAILED
net.sf.jabref.logic.importer.fetcher.zbMATHTest > searchByQueryFindsEntry FAILED

[2016-10-09 20:35] cdupont opened #2144 ""Save all" cancels last changes"
JabRef version 2.10b2

Steps to reproduce:
- Open a database twice
- modify the first
- click on "save all"
- A warning window opens with "File have changed externally". Click "Save"
- the changes are cancelled

[2016-10-09 20:39] cdupont commented on #2144
I often open my databases on the command line with an argument:
[code]
This has the effect of opening several time and lead to the non intuitive behavior when saving.
I suggest to either:
- detect and prevent opening a db twice
- opening only one db when it is passed as an argument

[2016-10-09 20:47] matthiasgeiger commented on #2144
Hi cdupont!
Thanks for your report. However, as the affected version is years old and the problem no longer present in more recent versions I'll close this issue.

Please use a newer version available at https://www.jabref.org - or here at the [releases section](https://github.com/JabRef/jabref/releases).

Regards
Matthias

[2016-10-09 20:47] #2144 closed

[2016-10-09 21:36] koppor commented on #2144
It seems that @cdupont uses Debian. Plesae support us in packaging JabRef 3.6 for debian. See https://github.com/koppor/jabref/issues/135 for details.

Refs #1371

[2016-10-09 21:49] georgd opened #2146 "Support Citation Style Language (CSL) Styles in LO/OO"
This is a feature request as discussed in https://github.com/JabRef/jabref/pull/1928.
Now that CSL CitationStyles are supported for preview, it seems a logical step to support them in LO/OO as well.

[2016-10-09 22:04] tobiasdiez commented on #1371
Looks like it is (relatively?) easy to include normal apps in the Windows Store: http://www.hanselman.com/blog/PuttingMyVB6WindowsAppsInTheWindows10StoreProjectCentennial.aspx

[2016-10-10 06:05] Siedlerchr commented on #2146
Yeah that would be nice and I think I read somewhere that zotero supports
them in LO or OO, too but requires a plugin

Am 09.10.2016 11:49 nachm. schrieb "Georg Duffner" <notifications@github.com

[2016-10-10 08:19] tschechlovdev commented on #2050
Fixed in #2121.

[2016-10-10 08:19] #2050 closed

[2016-10-10 08:39] Siedlerchr commented on #1371
@tobiasdiez  At least not Java apps, only supported are .NET or native Windows Apps when I read it correct.

For Mac App store it is also not possible:
http://alvinalexander.com/mac-os-x/mac-app-store-java-apps-supported-deprecated

[2016-10-10 10:11] AEgit opened #2148 "Performance decrease in recent master build when manually changing group structure?"
JabRef 3.7dev--snapshot--2016-10-07--master--03bc4a3
windows 10 10.0 amd64
Java 1.8.0_101
1. Create a new group
2. Unlike in previous versions, you have to wait up to 1 second for the new group to appear
   (this also happens when a group is deleted, moved and/or other changes to the group structure are made)

Size of the database: >9000 entries, several hundred static groups.
System specs:
Core i

[2016-10-10 10:53] bartsch-dev commented on #2142
Will be fixed by https://github.com/JabRef/jabref/pull/2129.

[2016-10-11 01:19] koppor commented on #1808
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master.

[2016-10-11 01:19] #1808 closed

[2016-10-11 01:35] #2136 closed

[2016-10-11 01:35] koppor commented on #2136
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master.

[2016-10-11 02:33] #2142 closed

[2016-10-11 07:16] matthiasgeiger commented on #1938
We made some changes in the search behavior: If an entry editor is open, the search hits no longer get automatically selected, but the currently open entry is kept.

Wheres this is not directly related to this issue, it might also solve it as it may fix the incorrect/undeterministic behavior of jumping to the first text field in the entry editor if a search hit is selected.

Could you please test

[2016-10-11 07:27] AEgit commented on #2136
I can confirm that this problem has been solved in the following development build:

JabRef 3.7dev--snapshot--2016-10-11--master--3459ec3

Thank you very much for your great work!

[2016-10-11 07:48] koppor commented on #2146
Refs https://github.com/JabRef/jabref/issues/624

[2016-10-11 07:55] ilippert commented on #1938
This seems to work quite well; at least after testing for 5 minutes I do not seem to encounter the issue anymore...

[2016-10-11 09:30] radeksimik commented on #1938
Thanks, @matthiasgeiger, this seems to have solved the issue for me as well!

[2016-10-11 10:33] lenhard commented on #1938
Good to hear! So we can close this.

[2016-10-11 10:33] #1938 closed

[2016-10-11 10:41] AEgit commented on #1938
Yes, I was reluctant to report anything, because (as mentioned above) this error did not appear in a deterministic way, but so far it seems as if the problem was solved with the latest development version.

[2016-10-11 10:46] AEgit commented on #2076
@barefeg: Can you confirm that the updated JDK solved this issue? In that case we could close this issue.

[2016-10-11 11:06] barefeg commented on #2076
@AEgit Is this in the pre bundle of a new build of JabRef? I don't have a separate JDK installed on my system.

[2016-10-11 11:10] AEgit commented on #2076
Oh, I've only been checking the links you provided and it seems that the issue that was reported there was solved in the new version of the OpenJDK (8u122):

https://bugs.openjdk.java.net/browse/JDK-8166591

See also here:
https://youtrack.jetbrains.com/issue/IDEA-158500

[2016-10-11 11:14] barefeg commented on #2076
It might. But I'm using the bundled version of Java that comes in JabRef so this has to be updated with the fix. I checked the latest snapshot of JabRef and it still has the problem.

[2016-10-11 11:15] AEgit commented on #2076
I see.
@stefan-kolb: Can you do something about this? It appears you only need to update the bundled version of Java and this problem should be solved,

[2016-10-11 13:11] mairdl commented on #2143
I will have a look into this matter.

[2016-10-11 15:39] mairdl commented on #2143
I am on Windows 8 and it's failing as well. On Ubuntu 15.10 tests work fine. So I can confirm it is Windows related.
This PR seems to be related: https://github.com/JabRef/jabref/pull/1597

[2016-10-11 15:51] #2089 closed

[2016-10-11 16:03] koppor commented on #2089
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master.

[2016-10-11 16:07] Siedlerchr commented on #2143
Kinda. But the real reason is probably that there is somewhere a
Charset.DefaultCharset in the test/code vs a StandardCharsets.UTF-8
In #1844 I fixed it for the file-importer tests

2016-10-11 17:39 GMT+02:00 Daniel Mair <notifications@github.com>:

[2016-10-11 16:40] koppor commented on #1074
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master.

[2016-10-11 20:10] jkulesza commented on #2089
Thank you for the quick fix!  I downloaded the development build and can confirm that the issue is fixed.

[2016-10-11 20:15] georgd commented on #2146
@Siedlerchr Zotero and the CSL project are very tightly tied together and it does use CitationStyles in LO/OO.
As for the plugin, literature management tools either provide plugins for inserting citations in authoring software (like Zotero) others have them pushed from the main program like JabRef does. Some provide both (like Citavi). The advantage of a plugin is that writers don’t have to go awa

[2016-10-11 22:22] zellerdev commented on #2117
I will have a look at this

[2016-10-11 22:49] koppor commented on #2117
Could you also set the focus on the input field after CTRL n - or is this
already done? 😇

[2016-10-12 10:21] jeremyherbert opened #2156 "Google Scholar search randomly stopped working"
JabRef version 1.8.0_101 on OSX Yosemite. All google scholar search requests fail. The log shows that a 503 occurred at the following URL:

    http://ipv4.google.com/sorry/index?continue=http://scholar.google.com/scholar...

If you go to this URL, it asks you to fill in the captcha, then goes to the scholar page. Is there any way that this page can be shown to the user, so that they can just ente

[2016-10-12 11:06] matthiasgeiger commented on #2156
Hi!
I suppose that you are using the version 3.6 (or earlier) of JabRef.
Due to changes at the side of google the fetcher does no longer work with this versions (an invalid page is accessed which causes the blocking). See also #1886 for an older issue report regarding this issue.

The problem is fixed in current development builds which you can get here: https://builds.jabref.org/master

[2016-10-12 11:06] #2156 closed

[2016-10-12 15:43] Olifair commented on #2146
Being able to use CSL with LO/OO would be really great.
This is the way Mendeley is using CSL : the LibreOffice plugin offers some buttons to insert a reference (which opens a search window, one can type first author year etc and is offered a choice), merge citation, insert bibliography, refresh, chose citation style etc). For this to work, Mendeley needs to be up and running.

[2016-10-13 09:49] AEgit commented on #2119
Can we add the 'bug' label to this one?

[2016-10-13 12:45] koppor opened #2160 "PostgreSQL: Access rights after CREATE TABLE"
It seems that after table creation, only the user having created the table has access. Reason: Only the main (?) role of the user has access to the database and the user is the only having this role.

Current ideas:
1. Administrator has to get a SQL script which he has to use to create the database being owned by `jabref`. And other users have to have the role `jabref`.
2. Hard-code user `jabref`

[2016-10-13 14:32] koppor commented on #2160
Proposed script for PostgreSQL:

[code]

[2016-10-14 07:25] #2119 closed

[2016-10-14 07:26] matthiasgeiger commented on #2098
Just merged a fix to `master`, i.e., the new dev builds should work again.

[2016-10-14 07:26] #2098 closed

[2016-10-14 07:42] AEgit commented on #2119
Thank you very much!

I can confirm that this bug has been solved in:
JabRef 3.7dev--snapshot--2016-10-14--master--fb0990d

[2016-10-14 07:44] AEgit commented on #2119
The only thing I notice is a bit of a delay, when reassigning a group. But this is probably related to the problem reported here:
https://github.com/JabRef/jabref/issues/2148

[2016-10-14 07:51] AEgit commented on #2098
Thanks a lot!

I can confirm that this bug has been fixed in:
JabRef 3.7dev--snapshot--2016-10-14--master--fb0990d

I've just noticed one new behaviour with this fix compared to older versions, which did not exhibit this bug. Previously, when you reassigned an item/article to a new group, the format of the added lines in the "Groups" field would be as follows:

OldGroup_1, OldGroup_2, NewGroup_1,

[2016-10-14 07:58] matthiasgeiger commented on #2098
Thanks for the feedback.

@tobiasdiez Is this intended? Or can this cause some trouble?

[2016-10-14 08:52] #2021 closed

[2016-10-15 17:32] Siedlerchr commented on #2143
Note to me: copac importer also fails

[2016-10-15 21:02] AEgit commented on #2117
@zellerdev: No, it appears to be restricted to the DOI fetcher. At least the Google Scholar one doesn't show this unexpected behaviour.

[2016-10-15 23:00] shitikanth opened #2166 "Memory leak (?) when browsing bibtex file with editor open"
JabRef development version  on Mac OS X 10.11.4.

Steps to reproduce:

1. Open a small bib database in JabRef. The one I was working with had 19 entries.
2. Open the entry editor by double-clicking on any entry in the table, or through the menu (BibTex > Edit Entry).
3. Move focus back on the main table by selecting an entry.
4. Keep pressing up/down arrow keys and watch the memory usage grow from

[2016-10-16 05:33] shitikanth commented on #2166
As far as I can tell, this  was introduced in #2075 when the entry editors cache was removed.

We should either bring back the cache, or  make sure that when a new EntryEditor object is created, the previous one is closed cleanly. I am guessing that there are some threads that still have access to the old EntryEditor objects and that is why they are not getting GC'd.

[2016-10-16 11:22] Siedlerchr opened #2168 "ADS Fetcher (Test) fails"
Latest dev version https://github.com/JabRef/jabref/commit/955b94d7221e5ee3c102731f885eb395e1c2ad64

From what I see, the entry returned from the fetcher contains the field    `eid = {#10}`
[code]

[2016-10-16 11:39] koppor commented on #2168
Should we separate the fetcher tests from the normal tests? Similar to the
database and integration tests? This would enable a separation and keep
avoid failing tests being unrelated to a certain PR.

[2016-10-16 11:42] stefan-kolb commented on #2166
Nice catch! 👍

[2016-10-16 11:47] #2168 closed

[2016-10-16 15:27] shitikanth commented on #2166
Thanks, @stefan-kolb.

I have traced the issue back to the microba library that is used to make the DatePickerButton in the EntryEditor.

[2016-10-16 15:47] tobiasdiez commented on #2166
Can we create the datepicker only when the button is clicked?

[2016-10-16 17:00] shitikanth commented on #2166
Microba's DatePicker class comes with the button. So, afaict, doing that would require hacking with the internals of the library.

[2016-10-16 19:07] Siedlerchr opened #2171 "IndexOutOfBounds when dragging pdf to place after entry"
Reproducible in current master: https://github.com/JabRef/jabref/commit/3f61baeb4c22a2b3950d6a6bd5a684edd877ebd7
Steps to reproduce:
1. Have a Database with 1 entry.
2. Move file to position after entry (see Screenshot)
3. Exception occurs.

As far as I can tell this is just a dev bug

![jabrefdraganddrop](https://cloud.githubusercontent.com/assets/320228/19420072/2edf0c08-93e4-11e6-93f0-b8f23b454

[2016-10-16 19:25] koppor commented on #2171
There must be something else happening. I stripped down complex.bib to one entry and it works. Also restart of JabRef does not help to reproduce the issue.

windows 10 10.0 amd64
Java 1.8.0_102

[2016-10-16 19:43] Siedlerchr commented on #2171
I run it directly from Eclipse and I can reproduce it with different bib files and different pdf files.
You have to move the pdf to the whitespace after the entry.

[2016-10-16 22:21] koppor commented on #615
I think, this is solved by #1525. See http://blog.jabref.org/2016/08/15/HotkeyRevision/ for a blog article on the hot keys. Please also check "Options" -> "Customize key bindings".

![grabbed_20161017-002046](https://cloud.githubusercontent.com/assets/1366654/19421361/8e51c9ee-93ff-11e6-8888-0f9ae6c0f1c7.png)

I think, the difference is that you have now to press <kbd>shift</kbd> additionally.

Pl

[2016-10-16 22:21] #615 closed

[2016-10-16 22:49] koppor commented on #344
Implemented in #2118 and help pages prepared (https://github.com/JabRef/help.jabref.org/pull/108).

[2016-10-16 22:49] #344 closed

[2016-10-16 22:50] koppor commented on #344
Thank you for reporting this issue. We think, that is now implemented in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master.

[2016-10-17 06:16] koppor commented on #978
Although currently none of us has time to work on it, I just wanted to reference the issue discussing the `flag` field: #574

[2016-10-17 08:12] Braunch commented on #1225
PR of toggle also merged: https://github.com/JabRef/jabref/pull/1605

[2016-10-17 08:41] heseber opened #2172 "DOI not always imported for Medline (Pubmed) searches"
JabRef version JabRef-3.7dev--snapshot--2016-10-16--master--38fe410 on Windows 7

Steps to reproduce:
1. Use "Medline" internet search for pubmed id 27703962
2. Import into bibliography
3. No DOI was imported, although it is contained in the XML file from Pubmed:

[pubmed.txt](https://github.com/JabRef/jabref/files/532749/pubmed.txt)

For some other Pubmed IDs, the DOI is successfully imported, e.

[2016-10-17 09:14] matthiasgeiger commented on #2172
Thanks for your report!

The Medline fetcher is currently internally rewritten - we'll check whether this problem still persists in the new version which should be available soon in the dev builds.

[2016-10-17 09:17] matthiasgeiger commented on #2172
Regarding the remark:  This is intentionally. As the DOI implicitly defines a URL we do no longer store the URL information. However, using the JabRef user interface it is still possible to directly open the webpage for the entry using the "barcode" icon in the table, or the the "open" button next to the DOI field in the entry editor.

[2016-10-17 09:59] matthiasgeiger commented on #2166
We could evaluate to switch to https://github.com/LGoodDatePicker/LGoodDatePicker

[2016-10-17 10:10] koppor commented on #2166
...or switch to JavaFX for that panel...

[2016-10-17 11:48] matthiasgeiger commented on #2166
Are we ready to include Java FX in the next (3.7) release?

[2016-10-17 11:52] koppor commented on #2166
I'd say "yes". --> DevCall 😇

[2016-10-17 14:14] shitikanth commented on #2166
I was wrong about this issue being entirely due to microba's DatePicker. There *was* a memory and thread leak in the DatePicker class, but the issue in JabRef persists even after all references to microba are removed.

![screen shot 2016-10-17 at 2 24 54 am](https://cloud.githubusercontent.com/assets/544054/19440907/b1f3eec0-9451-11e6-8dcd-d7984d9b2a12.png)

(Notice how there is no thread leak now

[2016-10-17 15:37] Djeed opened #2173 "Google Scholar fetching not working"
JabRef 3.6
linux 3.13.0-86-generic amd64
Java 1.8.0_101 on 131-Ubuntu SMP Thu May 12 23:33:13 UTC 2016

Google Scholar fetching returns an error message:
"Error while fetching from Google Scholar".
As I have read in previous threads, there is a recurrent problem with this. Could it be that Google Scholar has changed something from their API again?

[2016-10-17 15:50] matthiasgeiger commented on #2173
Please try the current Dev builds. The issue in JabRef 3.6 should be already fixed, but is mit yet released in a 3.7 Version.

You can find the builds at https://builds.jabref.org/master

[2016-10-17 21:10] koppor commented on #2166
I could not withstand and to play around a bit. My observation: it is not related to the duplicate checker and possibly not related to the event bus (even though I disabled it in branch fix_2166).

I tracked it down to the BibLaTeX mode and the "Other fields" tab. @shitikanth Do you also use the biblatex mode or the plain bibtex mode?

[2016-10-17 22:27] grimes2 commented on #2166
The thread leak is only in Biblatex mode, consistent with the DatePicker postulate. The memory leak is in Bibtex and in Biblatex mode.  It happens also with a database with only two empty entries.

[2016-10-17 22:39] shitikanth commented on #2166
@koppor, I was using biblatex mode, but for me the problem happens in BibTex mode too. Looking at the heap dump, I can see over 200 instances of EntryEditor with a bib file of 19 entries.

Analyzing the heap dump, one possible issue I found was with the global search bar. We add the fields of a new entry editor as listeners of the global search bar, but we never remove them. So, these fields stay

[2016-10-18 02:57] shitikanth commented on #2166
Here is a set of steps that fix the memory leak, at least on Linux:
* Update microba to latest version
* Remove EntryEditor as a listener to Entry when it is about to be removed
* Remove search highlighting for the fields of the EntryEditor

 (Ref. 554523d)

What is weird is that these steps do not fix the problem on OSX, where there is still a memory leak as i pointed out in the previous comment.

[2016-10-18 03:32] grimes2 commented on #2166
Windows 10
I can confirm, that in BibTeX mode the memory leak is fixed with the set of steps (I didn't update microba to latest version, so I still have a memory leak with BibLaTeX databases)

[2016-10-18 06:21] koppor commented on #2166
@matthiasgeiger Reading https://github.com/tdbear/microba/commit/9a67c143abb9887964085c3709392861ae6fbb35, maybe we should really switch to https://github.com/LGoodDatePicker/LGoodDatePicker - it is also [available on maven central](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22LGoodDatePicker%22) (in contrast to microba).

[2016-10-18 07:45] #2166 closed

[2016-10-18 08:50] Djeed commented on #2173
The latest build (.jar version) is working properly regarding this issue.
Thank you!

[2016-10-18 08:59] koppor commented on #2173
Duplicate of #1886.

I would vote to leave this issue open (and label with `fixed-in-devBuilds` as more and more users are asking for a fix.

[2016-10-18 09:13] Djeed commented on #2173
Hello, after a few minutes of work, the error pops up again :(
"Error while fetching from Google Scholar. Please try again later and/or check your network connection". Not sure whether it is another change from Scholar or something about the dev version in my computer...

[2016-10-18 10:07] matthiasgeiger commented on #2173
The problem with google scholar is that fetching via JabRef is creating a lot of requests at the Google Servers: One for the search page + 10 for the found entries (`bib` download for each entry). These (quick) requests are detected by Google as machine-requests - and if you perform some more searches - your IP address will be "blocked". I.e., a "captcha" is shown which cannot be passed by JabRef.

[2016-10-18 10:09] grimes2 commented on #2166
JabRef 3.7dev--snapshot--2016-10-18--master--f3ecde1
windows 10 10.0 amd64
Java 1.8.0_101

In BibLaTeX mode, there is still a small memory leak. I've tested with complex.bib.

I've investigated the issue with following experiment:
- File > New BibLaTeX database
- First entry: BibTeX > New entry > Set (because there is no date field with a DatePicker)
- Second entry: BibTeX > New entry > Set
- 50x

[2016-10-18 10:41] koppor opened #2176 "Switch from microba to LGoodDatePicker"
It seems that microba is not maintained any more: https://github.com/tdbear/microba/commit/9a67c143abb9887964085c3709392861ae6fbb35. microba also recommends https://github.com/LGoodDatePicker/LGoodDatePicker for date switching (and also [available on maven central](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22LGoodDatePicker%22) (in contrast to microba)).

Since there seems to be an issue wit

[2016-10-18 11:22] AEgit commented on #2173
As a workaround, what you could try is to change your IP address (using a VPN service) and potentially also your MAC address. See:
http://help.jabref.org/en/GoogleScholar

and

https://github.com/JabRef/jabref/issues/2046

[2016-10-18 12:06] matthiasgeiger commented on #2176
Using JavaFx this should more or less work out-of-the-box: https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/date-picker.htm

Only the "none" and "today" buttons are not provided by default.

[2016-10-18 13:06] Djeed commented on #2173
I see... So it is rather undetermined when the fetching will block right? Hmm... I guess this feature will keep being problematic. Anyway thanks for the info!

[2016-10-18 16:12] shitikanth commented on #2166
@grimes2 I can't replicate this on Ubuntu 16.04, Java 1.8.0_102.

[2016-10-18 16:25] tobiasdiez commented on #2173
@matthiasgeiger Can we somehow detect that Google is blocking the request (using the response code or analyzing the returned html)? Then we could at least show a better error message.

@Djeed could you please have a look if there is a message in the error console (Help -> Show error console) after fetching failed. thanks.

[2016-10-18 21:38] georgd commented on #2146
While I’d  prefer a LibreOffice plugin, I think enabling CSL with the current solution should have higher priority. That’s what this issue should track.

[2016-10-18 22:57] grimes2 opened #2177 "Clear Bibtexkey NullPointerException"
JabRef 3.7dev--snapshot--2016-10-18--master--8f7ae51
windows 10 10.0 amd64
Java 1.8.0_101

Steps to reproduce:

1. Entry editor > clear field bibtexkey
2. Save database
3. NullPointerException

[code]

[2016-10-19 00:30] shitikanth commented on #2177
Another related bug, which is more visible to the end user.

Steps to reproduce:
1. Open database
2. Edit some field for an entry
3. Open another entry and clear its bibtexkey
4. Save database
5. Quit JabRef (by pressing Ctrl-q or from the menu) and select discard changes when prompted

![JabRef waiting for save operation to finish](https://cloud.githubusercontent.com/assets/544054/19501176/61b5de

[2016-10-19 06:53] tschechlovdev commented on #2172
This should be fixed in #2066.

[2016-10-19 13:16] stefan-kolb commented on #2172
Thank you for your report :+1:
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2016-10-19 13:20] stefan-kolb commented on #2130
@cavonsto Can you please provide us with more details by answering the questions from @AEgit

[2016-10-19 13:25] stefan-kolb commented on #2076
Will be done with the next release!

[2016-10-19 14:01] #2177 closed

[2016-10-19 14:17] stefan-kolb commented on #2123
@matthiasgeiger Was this a 503 problem on CrossRef? Example is working for me.

[2016-10-19 14:21] stefan-kolb commented on #2117
Actually this is no bug. It is the standard behavior. The reason is that the fetcher does not use the BibTeX key pattern to generate a key but just uses the key that is fetched from the web!

[2016-10-19 14:23] stefan-kolb commented on #2117
Problem here is, if we use the BibTeX key pattern from the preferences we introduce a new dependency or tighter coupling of the fetcher with the preferences...

[2016-10-19 14:31] #1886 closed

[2016-10-19 14:31] stefan-kolb commented on #1886
@koppor wants to keep https://github.com/JabRef/jabref/issues/2173 open for now.

[2016-10-19 14:37] stefan-kolb commented on #1916
@Siedlerchr Will you work on the remaining two bullet points? Kind of gets lost here in the thread so either we extract them to a new issue or they get resolved in time.

[2016-10-19 14:40] stefan-kolb commented on #2173
See #1887

[2016-10-19 14:42] tobiasdiez commented on #2117
I think we need to implement a second layer around the fetcher which after-processes the fetched entries (correct cite key, apply cleanup operations, etc. pp).

[2016-10-19 14:45] Siedlerchr commented on #1916
@stefan-kolb  Better extract them to a new issue.  Atm I am still busy finalizing #1899, so I do not know if I find time for it in the next days.

[2016-10-19 14:45] #1916 closed

[2016-10-19 14:46] #1813 closed

[2016-10-19 14:48] stefan-kolb commented on #1849
Will be checked within #2076

[2016-10-19 14:48] #1849 closed

[2016-10-19 14:49] Siedlerchr opened #2180 "Refactor Integrity Checkers"
Followup from #1916
- [ ] Create StartsWitchUpperCaseChecker with Fields to check  as parameter
- [ ] Look for other checkers to unify

[2016-10-19 14:51] stefan-kolb opened #2181 "Integrity checker should link to entries via reference"
Follow up form #1779

Linking to Bibentries inside the integrity checker should be done via a reference to the entry not the key.
We should switch it to BibEntry, i.e. just keep a reference to the entry and the use/create a method highlight(BibEntry)

[2016-10-19 14:51] stefan-kolb commented on #1779
Follow up in #2181

[2016-10-19 14:51] #1779 closed

[2016-10-19 14:52] tobiasdiez commented on #2180
And maybe: https://github.com/JabRef/jabref/issues/1916#issuecomment-244558079

[2016-10-19 14:54] stefan-kolb commented on #1263
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-10-19 14:59] stefan-kolb commented on #1323
@oscargus This was implemented by you a few weeks ago right? Inside the main menu `quality - lookup full text document`? If so, we should rename the description to `Retrieve full text documents for the whole library` or anything alike.

[2016-10-19 14:59] AEgit commented on #2117
@stefan-kolb: But how comes this was not the case in earlier versions of Jabref? Furthermore, I'm not sure, whether it is just the key, that is fetched from the web - if I use the DOI fetcher, I ALWAYS get the abovementioned BibTex key format. If I download the BibTex entry for an article manually and then import it into Jabref, the BibTex can be the same as the one fetched by JabRef but it can al

[2016-10-19 15:02] stefan-kolb commented on #2117
1. I don't know if this was any different before.
2. The current fetcher grabs the whole BibTeX document from the web.
3. If you download it from a different source than our fetcher it is expected. The fetcher directly gets the BibTex from the DOI url via the header `"Accept", "application/x-bibtex"`

[2016-10-19 15:05] stefan-kolb commented on #1543
We don't support fetching full-text from Wiley right now. Is caused by the way they serve their PDFs. It is hard to scrape the right PDF URL. Closing this for now.

[2016-10-19 15:05] #1543 closed

[2016-10-19 15:06] stefan-kolb commented on #1467
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2016-10-19 15:06] #1467 closed

[2016-10-19 15:07] stefan-kolb commented on #1098
Currently implemented directly inside the new entry dialog.

[2016-10-19 15:08] AEgit commented on #2117
Hmmm, when downloading manually BibTex files, I usually use the website of the Journal, in which the article was published. But, who knows, it might be different from what the DOI fetcher grabs (?).

But, I'm sure, that it was different in previous versions, as I did not have to remove the underscore from, e.g. "Huttenlocker_2007", to get my preferred BibTex format, i. e. "Huttenlocker2007", when

[2016-10-19 15:10] Siedlerchr opened #2182 "Switch Jar-Signing from MD5 to other one"
http://www.oracle.com/technetwork/java/javase/downloads/index-jsp-138363.html

[2016-10-19 15:14] #623 closed

[2016-10-19 15:19] stefan-kolb commented on #2117
Actually I see that the fetcher still needs the preferences:
`return BibtexParser.singleFromString(cleanupEncoding(bibtexString), preferences);`
The implementation did not change, however.

[2016-10-19 15:28] AEgit commented on #2117
Ok, I have just checked it. When I use the following doi with JabRef 3.6, the BibTex key Huttenlocker2007 is generated (actually it is Huttenlocker2007a, as this entry is already part of my database):

10.1671/0272-4634(2007)27[316:psgesn]2.0.co;2

When I use the same DOI with JabRef 3.7dev--snapshot--2016-10-14--master--fb0990d the BibTex key Huttenlocker_2007 is generated.

Note, that in JabRef

[2016-10-19 15:30] stefan-kolb commented on #2117
"when I accept the import, the key is correctly modified according to my preferences." Probably there was an inetrmediate step between the addition and the fetching back then. I just checked the logic of the fetcher in the Git history.

[2016-10-19 15:31] AEgit commented on #2117
Yes, I suspect that as well.

[2016-10-19 15:49] tobiasdiez commented on #1263
The problem is still there (because we didn't changed anything, right?). For some user's starting jabref via the jar file does not work. So we have the following options:
- Fix the root problem (this is hard, since apparently nobody of the developers can reproduce the issue)
- At least include the workaround sh file for download and in the best case bundle everything as an installer (which also co

[2016-10-19 15:52] stefan-kolb commented on #1263
I closed it because we have to guess it is a user error.

[2016-10-19 15:58] stefan-kolb commented on #2076
I just uploaded the new `112` patch updates of the JRE.
Please try the latest build from http://builds.jabref.org/master.

[2016-10-19 16:10] matthiasgeiger commented on #2123
I don't remember.. it might have been an error like "unknown DOI" but I'm not Sure...

[2016-10-19 19:07] Siedlerchr commented on #2143
Fixed by @koppor  in https://github.com/JabRef/jabref/commit/f664f4edfc4808729a4861530b43ce1979c6e51c

[2016-10-19 19:07] #2143 closed

[2016-10-20 09:06] koppor commented on #2182
Refs #1879

[2016-10-20 09:07] koppor commented on #2134
We think, the implementation effort is not worth the benefit. If we have sharing functionality, we can put this back on the table. Meanwhile, please use `-private` as filename suffix.

[2016-10-20 09:07] #2134 closed

[2016-10-20 09:12] stefan-kolb commented on #2117
We need to introduce/change an intermediate class that uses the fetcher that needs to apply expected JabRef functionalities like generating the BibTeX key. The fetcher should just fetch the stuff and not apply any specific configuration changes.

[2016-10-20 09:12] barefeg commented on #2076
It didn't solve the issue.

[2016-10-20 09:13] koppor commented on #2117
net/sf/jabref/logic/importer/SearchBasedParserFetcher.java:63 ?

[2016-10-20 09:21] koppor commented on #1892
I haven't checked the automatic key generation and always press <kbd>ctrl</kbd>+<kbd>g</kbd>. Works for me.

@melp Can you help and reopen the issue if the problem can be reproduced.

My assumption is that there might be a problem is with the key generation and/or the French translation.

[2016-10-20 09:21] #1892 closed

[2016-10-20 09:21] #2182 closed

[2016-10-20 09:22] koppor commented on #1892
Refs #1536

[2016-10-20 09:23] stefan-kolb commented on #2076
We cannot do anything about this because it's a JDK issue. It is solved for v9 but not backported to v8. Maybe this will be done in the future. Unfortunately, we just have to wait.

[2016-10-20 09:23] #2076 closed

[2016-10-20 09:25] koppor commented on #1242
@oscargus You had a look at the dialog recently. Can you have a look whether there is a strange implementation? Maybe we can discuss in our next devcall.

[2016-10-20 09:27] Siedlerchr commented on #2076
@stefan-kolb  I just looked at it seem like it will be included in  8u121/8u122
https://bugs.openjdk.java.net/browse/JDK-8166591

[2016-10-20 09:30] koppor commented on #409
We are currently trying to focus on other things. :fire:
We will come back later to this topic, therefore closing adding [on-hold label](https://github.com/JabRef/jabref/issues?utf8=%E2%9C%93&q=label%3Aon-hold+) and closing the issue for now.

[2016-10-20 09:30] #409 closed

[2016-10-20 09:33] stefan-kolb commented on #282
Seems to be fixed in current `master`.

[2016-10-20 09:33] #282 closed

[2016-10-20 09:35] stefan-kolb commented on #1908
@koppor talks to @JabRef/stupro for a sensible hotkey.

[2016-10-20 09:37] lenhard commented on #1212
We just tested this and it is still broken (but fortunately nobody else seems to have bumped into it). @oscargus: Do you maybe want to have a go at it?

[2016-10-20 09:51] koppor commented on #1745
This seems to be solved in the course we removed the entry editor cache. Refs #2166

[2016-10-20 09:51] #1745 closed

[2016-10-20 09:58] kku opened #2183 "typing in quick search with editor open will overwrite crossrefs"
When I have the editor panel open, typing a search string into the quick search field will usually but not each time result in undesired changes to the entry in the editor, usually in the crossref-field, because
After a few characters, the cursor will jump to the Crossref field in the editor all by itself - no mouse or touchpad interaction required. - and append any typed-in text to the existing e

[2016-10-20 10:02] matthiasgeiger commented on #2183
Thank you for reporting this issue.

This seems to be a duplicate of the issue #1938

We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master.

[2016-10-20 10:04] koppor commented on #1707
I'll close this as we do not support old 3.x versions actively.

We created a help page on migrating data from pre-3.6 databases: https://help.jabref.org/en/SQLDatabaseMigration

The missing Oracle driver is not an issue if you use Postgres or MySQL.

Please also check the latest build at https://builds.jabref.org/master/ and Postgres: In this combination, JabRef offers live update in case more th

[2016-10-20 10:04] #1707 closed

[2016-10-20 12:32] mlep commented on #1892
@jfponge, @murrayE:
Currently, I am unable to reproduce this problem with JabRef 3.6.
Both magic wand and ctrl+G works for me (with the interface in French, and without the generate-key-on-save feature).

Could you send a small bib file (i.e. containing a single entry) with which you can reproduce the problem?
Please could you also specify:
- your OS
- your java version
- the used key pattern ([au

[2016-10-20 17:50] AEgit commented on #2098
Can we reopen this? Or should I create a new ticket? The problem itself is fixed, but I just wanted to make sure, that the different/new behaviour does not cause any other issues - see posts above.

[2016-10-21 00:54] tobiasdiez commented on #2098
This behavior is not intended. @AEgit can you open a new issue please.

[2016-10-21 07:32] AEgit opened #2184 "Unexpected behaviour when assigning an article to a group using drag'n'drop"
JabRef 3.7dev--snapshot--2016-10-14--master--fb0990d
windows 10 10.0 amd64
Java 1.8.0_111

1. Start with a couple of groups and items/articles within them
2. Reassign one of the articles to a group it had not been assigned to previously. Do this by drag'n'dropping it onto the "new" group
3. Check the "Groups" field of the article: Previous/older group assignments are separated from each other with

[2016-10-21 07:32] AEgit commented on #2098
Done. See here:
https://github.com/JabRef/jabref/issues/2184

[2016-10-24 12:13] mlep opened #2190 "Help Button for Timestamp field"
The help button is missing for the TimeStamp field (entry editor, tab General fields).
Help file is: http://help.jabref.org/en/TimeStamp

Somehow related to: https://github.com/JabRef/jabref/issues/2083

[2016-10-24 12:49] lenhard commented on #2190
Just to clarify if this is a bug or an enhancement: Has the button been there before and got lost, or was it never there and should now be added?

[2016-10-24 13:02] ilippert commented on #2184
i use JabRef 3.7dev--snapshot--2016-10-24--master--7d6ee2b
linux 4.7.9-200.fc24.x86_64 amd64
Java 1.8.0_111
and I can assign entries via drag and drop.

[2016-10-24 14:56] mlep commented on #2190
An enhancement by adding a button

[2016-10-25 12:59] napseis opened #2191 "add to group during import ignored"
Hi!

Entries added to group during import is ignored.

JabRef version 3.6 on Opensuse 42.2

Steps to reproduce:
1. import a bib file into the current database
2. from the pop up windows, select the entries and add them to an existing group
3. new entries do not belong to any group

Thanks

[2016-10-25 13:07] grimes2 opened #2192 "Backup manager error"
On my local installation I get the following error after compilation:

[code]

This error is maybe not relevant for a "normal" installation, but shouldn't this be fixed?

[2016-10-25 13:11] matthiasgeiger commented on #2192
Thanks for the report. The problem is already being investigated by @koppor and @obraliar.

[2016-10-25 13:31] matthiasgeiger commented on #2190
The help is already accessible in the Preferences dialog.

As the timestamp is disabled by defaul I would omit to add another button next to the timestamp field in the entry editor, as someone who has activated this feature should already know about it (or at least should know where it can be activated - and here he can find the help button :wink:)

[2016-10-25 13:36] matthiasgeiger commented on #2190
... but something else is weird: I just activated the feature and I can't see the "timestamp" field at all in the entry editor 🙈

Is this working for someone?!

[2016-10-25 13:45] lenhard commented on #2190
I agree with your reasoning about the help button. It is not really necessary to duplicate it imho.

Having said that, I also get do not get a timestamp field in the entry editor ;-)

[2016-10-25 14:24] matthiasgeiger commented on #2176
Just invested half an hour to check whether integration `LGoodDatePicker` can be easily accomplished.

Result: No it is not easily possible. The main problem is that the ``LGoodDatePicker` always brings his own TextField which cannot be adjusted to use the textfield already present in the entry editor. Simply hiding the text field of `LGoodDatePicker` is also not possible as it must be visible for

[2016-10-25 14:39] matthiasgeiger commented on #2190
Okay after resetting my preferences the timestamp field is there in the entry editor...

[2016-10-25 14:46] mairdl commented on #1908
I suggest a shortcut like `CTRL + F8`.

F8 is currently used to `Cleanup entries`. These 2 functions seem to be related so it would make sense to combine them. What do you think about my idea?

[2016-10-25 21:56] koppor commented on #1908
:+1:

[2016-10-26 02:01] AEgit commented on #2184
Hmmm yes, but the problem I'm describing is different - the issue with being able to assign entries via drag'n'drop has indeed been fixed in one of the more recent snapshots.

[2016-10-26 07:48] ilippert commented on #2184
ok, sorry, now I see how the problem you point to is indeed different. sorry!

[2016-10-26 13:45] lenhard commented on #2130
I am closing this, as @cavonsto seems to have lost interest.

Feel free to reopen if the problem persists.

[2016-10-26 13:45] #2130 closed

[2016-10-26 13:47] lenhard commented on #2123
Since this seems to be working again and we have a, somewhat, better error message, I am closing this now.

Feel free to reopen if the problem persists.

[2016-10-26 13:47] #2123 closed

[2016-10-27 03:21] AEgit commented on #2184
@ilippert: No worries ;)

[2016-10-27 07:43] matthiasgeiger opened #2200 "Sorting by title is broken"
JabRef version 3.6 and current master

[As reported in the forum](http://discourse.jabref.org/t/sorting-by-any-column/282) sorting by title does not sort ALL entries correctly:

![](https://cdn-standard.discourse.org/uploads/jabref/original/1X/cf6e4e54a76fdba993be0a2d9f006ba0c68accc5.PNG)

In fact there seem to be two independent lists which are sorted correctly. Without a look at the good I could

[2016-10-27 07:47] matthiasgeiger commented on #2200
Okay I found the reason... `{ }` are not ignored during sort. Thus all titles with curly braces appear before the remaining entries.

[2016-10-27 08:56] mzagorowska commented on #2200
Thank you for explanation about the title. At least it can sort two lists separately. Unfortunately, it doesn't explain sorting by 'times-cited' or 'year' (fields with numbers).
![sorting_issue_times_cited](https://cloud.githubusercontent.com/assets/7868389/19760642/87322158-9c2a-11e6-99c6-d0c222e0de32.PNG)

Every entry which has this field comes from the same source and every one is in {}. It see

[2016-10-27 09:06] mlep commented on #2200
It looks like JabRef consider the 'times-cited" as a text and not as a number.

[2016-10-27 09:22] mzagorowska commented on #2200
But it managed somehow to sort the titles inside {} (just takes { as first letter), yet it cannot do the same with 'numbers treated as text'. The same things happens with year which is much more popular field than times-cited.

[2016-10-27 10:03] koppor opened #2201 "Groups interface does not appear at startup"
JabRef current master.
1. Open JabRef
2. Open a database with groups
3. Toggle groups interface to have it shown
4. Close JabRef
5. Open JabRef

Groups interface is not shown, but an exception is printed to the console:

[code]

[2016-10-27 10:08] lenhard commented on #2200
Indeed, @mlep is right, times-cited and year are sorted based on their textual representation.

@mzagorowska In this representation, the sorting is absolutely fine. You can reproduce the same behavior in the folder system of your operating system (at least in windows). If you create folders with names '2', '201', etc. they will be sorted in exactly the same fashion as above.

This is just to expla

[2016-10-27 11:46] matthiasgeiger commented on #2201
Using IntelliJ to run master toggling works (but the toggled pane is not shown on next startup, which is a known issue - however, there is no exception for me).

Are you using a jar version or are you running from the source?

[2016-10-27 12:31] matthiasgeiger commented on #2200
![grabbed_20161027-143046](https://cloud.githubusercontent.com/assets/676652/19767205/f7a8205a-9c51-11e6-893c-255459e6cfdb.png)

Year sorting seems to be numeric - at least in current master.

[2016-10-27 12:58] mzagorowska commented on #2200
Not really:
![sorting_issue_year](https://cloud.githubusercontent.com/assets/7868389/19767982/5a89013a-9c4d-11e6-922f-5d31863d823d.PNG)

(every year here is in {}).

[2016-10-27 13:15] matthiasgeiger commented on #2200
Just to make sure:
If you switch to the source panel in the editor is format shown there for year:
```year      = {{2000}},```

or

```year      = {2000},```?

[2016-10-27 13:25] mzagorowska commented on #2200
The first one. Full example of an entry:
@InProceedings{Adaptive_Wang2010,
  author                     = {Wang, Wei and Wen, Changyun},
  title                      = {{Adaptive Output Feedback Controller Design For A Class of Uncertain Nonlinear Systems with Actuator Failures}},
  booktitle                  = {{49TH IEEE CONFERENCE ON DECISION AND CONTROL (CDC)}},
  year                       =

[2016-10-27 13:40] matthiasgeiger commented on #2200
Okay, thank you!

The problems are caused by the double-braces `{{  }}` used by you in various fields. These braces are fine for text fields whose casing should be protected, e.g., title, but they should not be used in fields like "times-cited" or "years" are in this fields just numbers are expected.

Nonetheless, the incorrect sorting of `title` still is a bug.

Have you put those fields manually