[2021-12-20 14:43] calixtus commented on #6009
The Gdk-warning is probably related to https://bugs.openjdk.java.net/browse/JDK-8156779
The info message is just a debug message
The SSL-Message is expected
Yet unclear is the first message about the javafx startup (PlatformImpl)

We will investigate. Maybe something about the module system:
https://stackoverflow.com/questions/67854139/javafx-warning-unsupported-javafx-configuration-classes-were-l

[2021-12-20 14:48] Siedlerchr commented on #6009
@calixtus  The warning is just because we have a merged module with the gradle plugin doing the jlink stuff. It's just a hint that you should normally not start javafx from the classpath

[2021-12-20 15:32] #6009 closed

[2021-12-20 15:50] Siedlerchr commented on #8344
The following should already work:
- Library Properties -> LaTeX File directory.  Here you can use a relative directory to your aux directory
- In the group dialog, if you then select the aux file, it will be stored as relative to the above directory

But I just see that there is a paramter which takes the username into account

[2021-12-20 19:12] k3KAW8Pnf7mkmdSMPHz27 commented on #7057
Also refs. https://github.com/koppor/jabref/issues/542 (clarify how cross-refs are displayed)

[2021-12-20 19:39] calixtus commented on #8298
Main Issue seems to be the whitespaces in the field name.

Deeplinks for information resources on field name conventions
- https://mirror.dogado.de/tex-archive/macros/latex/contrib/biblatex/doc/biblatex.pdf
- TameTheBeast - http://tug.ctan.org/info/bibtex/tamethebeast/ttb_en.pdf
- https://docs.jabref.org/advanced/fields

[2021-12-20 20:08] jorgman1 commented on #8344
Ahh, I did not know those Path definitions in the Library Properties. They seem to take user and computer name into account. At least they are stored as follows in my bib-file:

I will check it in January with the computer at the university. But that should solve my problem. Thanks a lot!

(I was a bit confused, because in the JabRef preferences the following option can be checked: "Search and sto

[2021-12-21 16:22] Siedlerchr commented on #8292
Found the bug. Simple fix is on the way

[2021-12-21 16:27] Siedlerchr commented on #8303
@Mercynary  I think I found a workaround/solution.  In the Preferences -> File -> Check "Resolve strings for all fields exept"
and add comment and abstract to the list of fields with semicolon
<img width="838" alt="grafik" src="https://user-images.githubusercontent.com/320228/146964418-b354a7c2-4458-4d3b-b335-2fc41d216986.png">

[2021-12-21 16:30] Siedlerchr commented on #7010
I stumbled across this issue again and tested it. The solution in the comment works fine:  https://github.com/JabRef/jabref/issues/7010#issuecomment-812917351

So I will go forward and add this to the list of default fields:

@Article{,
  abstract = {this is a test string

#FFFFF should not},
  comment  = {this is a test string

## bibtex stringor not

### sub heading},
}
[code]

[2021-12-21 16:31] ilippert commented on #8292
sorry for no response for days - pandemic everywhere... thanks for the fix, and for looking into it!

[2021-12-21 16:36] funnym0nk3y opened #8353 "Check integrity shows non UTF error even after both to UTF conversion steps"
### JabRef version

Other (please describe below)

### Operating system

Windows

### Details on version and operating system

5.4

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Load bib-file
2. C

[2021-12-21 16:41] Siedlerchr commented on #8353
Thanks for your report, seems  like a duplicate of #8022 and only happens on windows

[2021-12-21 16:43] funnym0nk3y commented on #8353
Okay, seemed new to me. Closing this...

[2021-12-21 16:43] #8353 closed

[2021-12-21 17:12] funnym0nk3y opened #8354 "Excluding custom keys from DOI/ISBN import"
**Is your suggestion for improvement related to a problem? Please describe.**
Importing data from DOI or ISBN sources usually includes a citation key which differs from the format used in the library. There is also a similar case for files, where there isn't anything one can get online.
However those fields are displayed in the import merge dialog where one needs to check each field if it should b

[2021-12-21 18:51] #8292 closed

[2021-12-21 23:36] bschiela commented on #7944
For my specific purposes (preserving relative order by `creationdate`) it was easier to just fill with dummy values.  Here's the script I wrote using [bibtexparser](https://github.com/sciunto-org/python-bibtexparser):

[code]

Unless the append/prepend behavior bothers someone else (seemingly not) this can probably be closed.

[2021-12-21 23:36] #7944 closed

[2021-12-22 10:49] Siedlerchr commented on #8354
This is already possible:
<img width="855" alt="grafik" src="https://user-images.githubusercontent.com/320228/147081010-5ddc43aa-0ec3-48a2-97aa-3393fdb73d78.png">

[2021-12-22 11:02] Siedlerchr commented on #7833
I can no longer reproduce the issue in the latest release 5.4 /dev version

[2021-12-22 11:03] Siedlerchr commented on #7662
Closing this issue due to inactivity :zzz:
Please reopen the issue with additional information if the problem persists.

[2021-12-22 11:03] #7662 closed

[2021-12-22 11:06] #7472 closed

[2021-12-22 15:57] starsareintherose opened #8355 "can not drag multi PDF files to import into the Jabref"
### JabRef version

5.3 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

ArchLinux

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. drag multi-files

[2021-12-23 00:50] ThiloteE commented on #8355
Would it be possible for you to upload one or a few of the pdf-files that make problems? So far i cannot reproduce this on my Windows System.

[2021-12-23 00:51] starsareintherose commented on #8355
sorry, this is performed on ArchLinux instead of Windows

[2021-12-23 00:56] ThiloteE commented on #8355
I know, but since it has to do with XMP-metadata, i want to check if and what metadata is attached to the files and if i also get the same problem if i use your PDFs. After this we would know if it is a problem caused by the specific characteristics of the pdf file or if it is a problem with Jabref/Operating system.

[2021-12-23 00:58] starsareintherose commented on #8355
[jbi.14.zip](https://github.com/JabRef/jabref/files/7765972/jbi.14.zip)
try this

[2021-12-23 01:15] ThiloteE commented on #8355
I indeed cannot reproduce on Windows. No error.

When i imported XMP-Metadata manually via the import dialogue, the only data that Jabref fetched was the DOI:

[code]

I checked one entry with exiftool and found no XMP-metadata attached:

[code]

[2021-12-23 01:17] ThiloteE commented on #8355
May this be of help to the one(s) that looks at the code.

[2021-12-23 03:47] ilippert commented on #7833
Sorry, I cannot confirm.
Issue still present in

JabRef 5.4--2021-12-20--ab44182
Linux 5.15.10-200.fc35.x86_64 amd64
Java 16.0.2
JavaFX 17.0.1+1

[2021-12-23 09:36] koppor opened #12274 "Import at "Find Unlinked Files" should not re-add an identical entry"
When clicking twice on Import, the entry is imported twice. This should not happen; identical entries should be reimported

![grafik](https://user-images.githubusercontent.com/1366654/147220701-66decbc9-4ce1-4881-bfc1-48fcafdcdb33.png)

[2021-12-23 11:31] funnym0nk3y commented on #8354
Thanks for the reply but I don't see how to in this image. Could you elaborate?

[2021-12-23 12:49] Siedlerchr commented on #8354
Checking the first option : Generate a new key for imported entries  will overwrite the keys coming from an import.
E.g. the DOI fetcher returns  `@article{abcdefg...`. Now the citation gey generator will overwrite it with your defined pattern.e. g switching to `@article{einstein1980...`

[2021-12-23 16:25] k3KAW8Pnf7mkmdSMPHz27 commented on #8022
On Windows, https://github.com/JabRef/jabref/blob/3c936d7672ec1f8debce4db57bf3d5efcca45a26/src/main/java/org/jabref/logic/integrity/UTF8Checker.java#L26 reports `windows-1252`

[2021-12-23 16:59] Siedlerchr commented on #8022
Thanks for the investigation. Seems to be not so easy to find a correct solution, but I guess this one seems more suited https://stackoverflow.com/a/59167280/3450689

[2021-12-23 17:20] k3KAW8Pnf7mkmdSMPHz27 commented on #8022
I am struggling a bit with the Gradle setup on Windows so I can't really run tests/debug at the moment. But, if we assume

https://github.com/JabRef/jabref/blob/3c936d7672ec1f8debce4db57bf3d5efcca45a26/src/main/java/org/jabref/logic/integrity/UTF8Checker.java#L45-L51

works, we can use `bibDatabaseContext.getMetaData().getEncoding()` instead of `Charset charset = Charset.forName(System.getProperty

[2021-12-25 20:25] k3KAW8Pnf7mkmdSMPHz27 commented on #8354
Maybe references https://github.com/JabRef/jabref/issues/1283

[2021-12-25 21:06] #8022 closed

[2021-12-27 11:07] crystalfp commented on #8022
I confirm that it is solved in
JabRef 5.5--2021-12-27--32223a4
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.1+1
Thanks a lot!

[2021-12-29 11:51] funnym0nk3y commented on #8354
Unfortunately this does not solve my problem:

![grafik](https://user-images.githubusercontent.com/41870754/147659414-bbbb87ed-6cc5-4b50-a809-d00d02139406.png)

When importing additional data the citation key is still imported.

[2021-12-29 11:57] funnym0nk3y opened #8368 "Entry view improvement"
**Is your suggestion for improvement related to a problem? Please describe.**
With version 5.4 the optional fields tab got pretty cluttered. There are a lot of small fields making it difficult to select the right one whereas on the right there is plenty of space.

![grafik](https://user-images.githubusercontent.com/41870754/147659634-57f48e5f-ea5e-4a6c-9f67-238fac3f9761.png)

**Describe the soluti

[2021-12-29 14:18] ThiloteE commented on #8368
Are you saying it is difficult to select or difficult to FIND the fields?

[2021-12-29 14:24] ThiloteE commented on #8368
Other solutions to be considered:

- search bar for fields
- single column layout (bigger rows and font size + scrollbar)

[2021-12-29 15:49] terrybollinger opened #8369 "Prepending www to a URL type entry in 'file' causes the entire 'Linked files' list to disappear"
### JabRef version

5.4 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10 Pro Version	21H1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. For

[2021-12-29 22:44] ThiloteE commented on #2146
Yes it is. I have seen you or somebody else on the team created a tag for v6.0 and remembered the following:

[2021-12-29 23:10] funnym0nk3y opened #8371 "Key generator new field marker"
**Is your suggestion for improvement related to a problem? Please describe.**
Some authors have double names separated by a whitespace or a hyphen which generates long citation keys. Truncating the keys after N characters leads to more or less cryptic keys.

**Describe the solution you'd like**
To have more natrual keys I'd like to have a key marker that truncates the authors last name after the f

[2021-12-29 23:14] funnym0nk3y commented on #8368
@ThiloteE Selecting them is more or less fine. I struggle with quickly finding the desired field. This is, in my opinion, due to the number of rows in each column. Therefor disabling the preview dies not help.

[2021-12-29 23:43] wujastyk commented on #6627
JabRef 5.5--2021-12-28--8e92228
Linux 5.13.0-22-generic amd64
Java 16.0.2
JavaFX 17.0.1+1

+1

Ideally, one could put the jstor number, e.g., `26060364` in `http://www.jstor.org/stable/26060364` into the search field and suck in the bib info in the same way as a DOI.

[2021-12-29 23:56] ThiloteE commented on #6627
"If you are interested in requesting and receiving JSTOR metadata, please email discoveryservices@ithaka.org for more information."

Source: https://support.jstor.org/hc/en-us/articles/360053643993-Our-Partners-JSTOR-Discovery-Service-Providers#metadata_recipients

[2021-12-29 23:56] wujastyk commented on #6696
**[Feature suggestion]**

JabRef 5.5--2021-12-28--8e92228
Linux 5.13.0-22-generic amd64
Java 16.0.2
JavaFX 17.0.1+1

+1

For constructing clickable ARK refs in the "linked files" column, as mentioned [above](https://github.com/JabRef/jabref/issues/6696#issuecomment-818097539).

These could be constructed out of the `eprint` and `eprinttype` fields thus:

If `eprrinttype` has value `ark` then the l

[2021-12-30 00:04] wujastyk commented on #6627
Okay,  thanks.  I've written to Ithaka.  Let's see what they say.

[2021-12-30 00:53] ThiloteE commented on #8371
I have not tried it, so the syntax could be wrong. Feel free to adapt.

1. Capture the author field from library file: `[auth]`
2. Then we use the regex replacement function: `:regex("pattern", "replacement")`
3. in combination with a Lookbehind assertion: `(?<=y)x`      (Matches "x" only if "x" is preceded by "y")
4. and the ASCII `[a-z A-Z 0-9]`and non-ASCII `[^a-z A-Z 0-9]` characters:

Somethi

[2021-12-30 02:03] adrianocorrea opened #8372 "Entry preview not rendering the citation properly"
### JabRef version

5.4 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 11 21H2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Go to Options >

[2021-12-30 02:56] ThiloteE commented on #8372
This comes to mind:
- https://github.com/JabRef/jabref/pull/8370
- https://github.com/JabRef/jabref/issues/8279

[2021-12-30 08:14] calixtus commented on #8372
Hi @adrianocorrea , thanks for creating this issue.
Could you test please, what is being exportet via the right click menu?

@ThiloteE #8370 has just been created yesterday and is not merged yet into the main branch.

[2021-12-30 10:40] adrianocorrea commented on #8372
Hi @calixtus , thank you for your prompt response.
The export is consistent with the preview. It results in:

[2021-12-30 10:48] ilippert commented on #5904
JabRef 5.4--2021-12-20--ab44182
Linux 5.15.11-200.fc35.x86_64 amd64
Java 16.0.2
JavaFX 17.0.1+1

still happening

[2021-12-30 11:35] ThiloteE commented on #8372
I tested the pullrequest #8370 and the issue persists

JabRef 5.5-PullRequest8370.22--2021-12-29--707c014
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.1+1

The interesting thing is that the `number` is depicted correctly in the 'preferences preview', but wrongly in the 'entry editor preview', so i was hoping your pull-request was making a difference :D

[2021-12-30 13:20] terrybollinger commented on #8369
I've found a pretty good workaround: For any 'file' field containing a 'URL' type link that begins with 'www.', prepend a backslash in front of the period: 'www\.' This causes the 'Linked files' list to reappear, and (just as importantly) does not impair the link from working.

[2021-12-31 09:44] calixtus commented on #8372
Im a bit confused too, since the preview is constructed in the same way in the preview panel as well as in the preferences.

[2021-12-31 10:02] Siedlerchr commented on #8372
Maybe the sample bibtex entry used in the preferences preview misses some fields?

[2021-12-31 10:47] adrianocorrea commented on #8372
We know that the entry preview was working as expected until version 5.3. Do you know what changed in the entry preview code base between versions 5.3 and 5.4? Maybe running a diff between the versions code base could provide some insights on the source of the bug.

[2021-12-31 11:46] calixtus commented on #8372
I can't remember that we changed anything in the preview panel between versions 5.3 und 5.4 besides regular update of the csl-files. We'll investigate...

[2021-12-31 11:58] calixtus commented on #8372
git diff v5.3..v5.4 .\src\main\java\org\jabref\gui\preview\
shows little refactoring:
- injection of IndexingTaskManager in the constructor
- a bugfix for opening links inside the preview viewer

git diff v5.3..v5.4 .\src\main\java\org\jabref\logic\preview\
- introduction of method containsCaseIndependent for search

[2021-12-31 12:58] Siedlerchr commented on #8372
Options -> Preferences uses a different entry, it has the TestEntry:
 https://github.com/JabRef/jabref/blob/bb011c9313367a28990ae213b3920fe6cd10d1dc/src/main/java/org/jabref/logic/util/TestEntry.java#L16-L39

Maybe the issue field seems to matter?

[2021-12-31 13:34] ThiloteE commented on #8372
Interesting.

- When changing  `number   = {3},` to  `issue   = {3},` it is depicted **correctly** in the entry editor>preview.
- When BOTH `number   = {3},` AND  `issue   = {3}, are present, then it is depicted **correctly**.
- When only `number` field is present, then it is depicted **wrongly**.

I will create an issue at citeproc. I think the code that was changed for #8279 at https://github.co

[2021-12-31 14:22] ThiloteE commented on #8372
Ah and current behaviour is also this:

when issue and number differ, then issue takes precedence over number.
Example:
[code]
 --> only issue will show.

[2021-12-31 14:28] ThiloteE commented on #8372
As a general reminder about the difference between number and issue, the biblatex documentation (https://ctan.kako-dev.de/macros/latex/contrib/biblatex/doc/biblatex.pdf) on page 22 shows this:

[code]
and on page 23:

[code]

[2022-01-01 08:26] michel-kraemer commented on #8372
@ThiloteE Thanks for the in-depth analysis. I think you're right and the change in https://github.com/michel-kraemer/citeproc-java/commit/ad20fc45cae262bc5044bea4d1f6edfcc6be8d19 could be the cause for your issue. Let me quickly explain what changed:

Previously, both `issue` and `number` were mapped to the CSL field `issue`. Additionally, `number` was also mapped to `number`:

[code]
https://gith

[2022-01-01 08:38] michel-kraemer commented on #8372
One possible solution could be to change the mapping as follows:

[code]

This will lead to the following results:

APA (`number` only):

[code]

APA (`issue` only):

[code]

APA (`number` + `issue`):

[code]

IEEE (`number` only):

[code]

IEEE (`issue` only):
[code]

IEEE (`number` + `issue`):
[code]

What do you think?

[2022-01-01 14:10] ThiloteE commented on #8372
Thank you Michel!

Sounds already pretty good!

Would it be possible to map `issue` to `number`, but then delete it,

- if issue is an integer, but not delete it, if issue is a non-integer
- if both fields are similar?

This can be done with the citationstyleslanguage via choose commands (https://docs.citationstyles.org/en/stable/specification.html#choose).

The number field in CSL can render both

[2022-01-01 14:28] ThiloteE opened #8374 "Add information about difference between issue / number inside Jabref"
**Problem:**
Issue and Number are so similar, many users don't know the difference between the two. Upon wrong entry, fields are rendered wrongly in the bibliography. Information about the fields is needed.

**Describe the solution you'd like**
- Add description inside Jabref (roughly similar to citavi)

   ![image](https://user-images.githubusercontent.com/73715071/147852651-b03d20bd-3f23-4f5a-9b

[2022-01-01 14:35] ThiloteE opened #8375 "Add information about fields to Jabref"
**Problem**
- [ ] Jabref in general lacks information about the fields inside the entry editor. Lack of information makes users enter data into the field that does not conform to citation styles.

**Describe the solution you'd like**
- Add description inside Jabref (e.g. roughly similar to citavi)
OR
- Add more precise information to the docs and add small (?) button that links to the location in

[2022-01-01 14:37] ThiloteE commented on #8375
Example for why this would be a good idea see:

https://github.com/JabRef/jabref/issues/8374

[2022-01-01 14:43] Siedlerchr commented on #8375
This is already implemented for most standard fields:
You just have to hover over the field name in the entry editor (the description is from/adapted from the biblatex manual)
<img width="1399" alt="grafik" src="https://user-images.githubusercontent.com/320228/147853088-7b3b0996-7e1e-4b22-ad7b-e87e5e5f67ff.png">

[2022-01-01 14:43] #8375 closed

[2022-01-01 14:46] ThiloteE commented on #8375
Thanks, i learned something!

[2022-01-01 14:49] ThiloteE commented on #8374
Has been answered in https://github.com/JabRef/jabref/issues/8375#issuecomment-1003568231

[2022-01-01 14:49] #8374 closed

[2022-01-02 13:31] michel-kraemer commented on #8372
@ThiloteE Thanks for the feedback! :+1: I have a few remarks/follow-up questions:

I'm not sure the logic should be this complex. If the user specifies both issue and number and they are both rendered in the result (even if they are similar), then it should be clear to the user that they need to remove one of them. I'm not sure if citeproc-java should automagically decide between those two based o

[2022-01-02 17:06] swiss-cottage opened #8376 "JabRef does not open after csv file was edited by hand"
### JabRef version

5.4 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10 21H2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. edit csv file o

[2022-01-02 17:12] swiss-cottage commented on #8376
I have now renamed the offending csv file and JabRef starts again. Cannot understand how it knew where to look after it was uninstalled but it must have a settings file somewhere that was not deleted during the uninstall.

[2022-01-02 17:12] #8376 closed

[2022-01-02 17:30] Siedlerchr commented on #8376
The error message indicates that there was a Syntax mistake in the file. What file did you edit exactly?
Maybe you missed some Semicolon?
Jabref stores it preferences in the registry.

[2022-01-02 17:46] swiss-cottage commented on #8376
I am sure I have made some syntax error with either " " or \\' for French accents. The editing of the journal abbrv file directly in JabRef is somewhat difficult; if one forgets to press ENTER, the entry is lost. But the functionality of having the abbrv list is great. I have a small regret that the built-in abbrv are not consistent, e.g., The Annals of Applied Probability are abbreviated without

[2022-01-02 18:30] Siedlerchr commented on #8376
@swiss-cottage  The built-in journal abbreviations are assembled/combined from the ones in this repository: https://github.com/JabRef/abbrv.jabref.org
You are welcome to add/correct the entries

[2022-01-02 18:45] swiss-cottage commented on #8376
I have found the issue: the file "journal_abbreviations_webofscience.csv" has no dots and I am guessing it overwrites some of the dotted entries. Certainly, in the files "journal_abbreviations_ams" and "journal_abbreviations_mathematics.csv" the dots are present and correct. This is not something that I can fix but perhaps it is not difficult to exclude the undotted file?

[2022-01-02 19:03] ThiloteE commented on #8372
You are right.

1. My proposal to
[code]
   in https://github.com/JabRef/jabref/issues/8372#issuecomment-1003565049 is flawed. Please don't do it.

2. Before i was thinking that it would be best, if issue and number should be merged into one field (and hence my above proposal), but after reading up on it a little bit more, i think this may not necessarily be good. It is ok if both fields hold both

[2022-01-02 19:05] Siedlerchr commented on #8376
Thanks for the investigation. I guess this refs the issue here https://github.com/JabRef/abbrv.jabref.org/issues/79#issuecomment-921966936

[2022-01-02 19:14] Siedlerchr commented on #8368
You can customize the Entry types and only keep the fields you regulary use

[2022-01-03 18:04] Siedlerchr commented on #8369
Guess this is related to the RegEx we use for identifying remote links `[a-z]+://.* `

[2022-01-03 19:08] wujastyk opened #8381 ""Cannot generate preview""
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.5--2022-01-03--aac66f5 Linux 5.13.0-22-generic amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I hav

[2022-01-03 19:29] ThiloteE commented on #8381
The long number seems part of the DOI as most of it overlaps. Imagine a document having such many page-numbers. It actually is good that the error emerged and you noticed that the data is not realistic. The author of the article should be noticed.

[2022-01-03 21:48] wujastyk commented on #8381
I disagree that this is a good error.  One should be able to put any numerical string in the page field.  There are some truly weird publications out there.

If JabRef really wants to flag a problem field value, then flag it.  But throwing a preview error is just confusing for everyone.

The error is in the DOI data delivery, and I've no idea who to talk to about that (doi.org? SAGE, the journal p

[2022-01-03 23:25] Siedlerchr commented on #8381
Thanks for opening the issue. I checked the DOI, it's coming directly from the publisher's site. Some publishers seem to abuse the pages field for other information.
The error is not really from JabRef, but from the underlying citation styles, where it indeed created an error.
Details of errors are always logged in the error console.

[2022-01-04 00:50] dimitrisdimos00 commented on #8051
Hello! Is this issue fixed? I think I have managed to tackle it, if  @srshiao hasn't already. Take a look.
![image](https://user-images.githubusercontent.com/56233132/147995452-3a025571-411c-4e10-a9f8-bf5623dca914.png)

[2022-01-04 13:07] agcraig opened #8384 "PubMed not working with JabRef"
### JabRef version

5.4 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. ...Repeated search a

[2022-01-04 14:45] dimitrisdimos00 commented on #8194
Hello! I would like to take a look at this. From what I understand, we want a warning popup to be shown to the user when he tries to add an existing field. Is that correct? Thank you.

[2022-01-04 15:34] Siedlerchr commented on #8384
Hi, this seems to have been a temporary issue from Medline/Pubmed. For me it's workin again

[2022-01-04 15:34] #8384 closed

[2022-01-04 17:22] wujastyk commented on #8194
I think a warning is a good idea.
But if one _wants_ multiple fields for, say, multiple ISBNs or multiple URLs, it should be somehow possible.  The output in such cases could, perhaps, be concatenated with commas or something.

[2022-01-04 17:40] shaman1892 opened #8385 "Linked files preference ignored when changed"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Fedora 34 Linux 1 5.15.12-100.fc34.x86_64  JabRef 5.4--2021-12-20--ab44182 Linux 5.15.12-100.fc34.x86_64 amd64 Jabref v 5.4  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [ ] I made a backup of my libraries before testing the latest development

[2022-01-04 18:08] Siedlerchr commented on #8385
@calixtus  Is this related to the problem we discussed yesterday, or this is this just related to the fact that the Linked File prefs were not yet converted to the new ones?

[2022-01-04 18:18] Siedlerchr commented on #8194
@wujastyk  It's not possible to have the same field twice in bibtex/biblatex with the same name. The spec does not allow this. Think of it like a Dictionary with key-value mapping. More details here http://tug.ctan.org/info/bibtex/tamethebeast/ttb_en.pdf

Show a warning with "Warning: You added field X twice. Only one will be kept."

Codwise the dialog is located here https://github.com/JabRef/jab

[2022-01-04 18:28] dimitrisdimos00 commented on #8194
Thanks for the guidance! I will try this out.

[2022-01-04 18:35] shaman1892 opened #8386 "Font size preference does not apply correctly to Preference dialog window"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Linux  5.15.12-100.fc34.x86_64 JabRef 5.4--2021-12-20--ab44182 Linux 5.15.12-100.fc34.x86_64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

### Steps to reproduce the behaviour

1. Goto Options -> preference-> appearance and override the def

[2022-01-04 19:35] yoachim opened #8387 "Blurry font on macOS"
### JabRef version

5.4 (latest release)

### Operating system

macOS

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

Just loading up the la

[2022-01-04 19:52] Siedlerchr commented on #8387
As  I mentioned in the linked issue, looks still good on my MacBook (Big Sur).  Might be this java bug? https://bugs.openjdk.java.net/browse/JDK-8236689
Maybe you could also write down some more details of your mac

[2022-01-04 20:10] yoachim commented on #8387
Yes, I think it's that java bug. Looks like the issue is that it renders fine on my laptop screen but fails if I put it on an external monitor.

[2022-01-04 20:34] Siedlerchr commented on #8387
It seems it's fixed with openjfx18. We will upgrade to that once it's officially released  (probably it will be released around March). It will also (hopefully) contain some other mac fixes.

[2022-01-04 21:11] wujastyk commented on #8194
@Siedlerchr yes, no, quite.  I understand the limitations and features of BibTeX and BibLaTeX.

My thought was that maybe JabRef could repackage multiple-field data into a single output BibTeX field.  ISBN is probably insoluble, unless the info was concatenated into a note field.  With multiple urls, which I have a _lot_, perhaps multiple urls could be wrapped in \url{xxx} and concatenated into a

[2022-01-05 01:58] terrybollinger commented on #8369
Thanks. However, the fail is specific to 'www.', e.g., 'ww.' and 'wwww.' don't invoke it, so the code that's failing is likely later and includes 'www.' recognition.

[2022-01-05 06:21] ilippert commented on #5904
JabRef 5.5--2022-01-02--55ceed9
Linux 5.15.12-200.fc35.x86_64 amd64
Java 16.0.2
JavaFX 17.0.1+1

same here

[2022-01-05 06:29] ilippert opened #8388 "remove 2nd click on entry type for changing entry type?"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

fedora 35, JabRef 5.5--2022-01-02--55ceed9 Linux 5.15.12-200.fc35.x86_64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the lat

[2022-01-05 06:56] michel-kraemer commented on #8372
@ThiloteE Very nice summary! Thanks for the effort. From the perspective of citeproc-java, I would generally be fine with both options A and B, perhaps slightly leaning towards B. Are there other views?

[2022-01-05 10:11] ytzemih opened #8389 "'Copy DOI URL' in entry list only copies DOI but not the URL"
### JabRef version

Latest development branch build (please note build date below)
JabRef 5.5--2022-01-03--c94bb1b
Linux 5.11.0-44-generic amd64
Java 16.0.2
JavaFX 17.0.1+1

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 20.04

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.

[2022-01-05 12:57] mlep commented on #8051
It seems that @srshiao has lost interest. So, you are free to propose a PR.

Personally, I find the change in color after 10 groups inserted more disturbing than useful (and, to my knowledge, this is an oddity in JabRef since it occurs only for this feature). @Siedlerchr : What do you think?

[2022-01-05 13:06] mlep opened #8390 "Removing several groups deletes only one of them"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.5--2022-01-03--c94bb1b Linux 4.19.0-18-amd64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have

[2022-01-05 13:12] Siedlerchr commented on #8051
Yes, I agree with you @mlep

[2022-01-05 14:53] dimitrisdimos00 commented on #8194
Hello there. I have fixed the issue with the warning and all, however when running gradlew.check inside the jabref folder, these are the test results. Do you know what's the problem? What should I do with them? Thanks in advance.
![image](https://user-images.githubusercontent.com/56233132/148237725-a4d89f02-5bb9-476d-9de9-1fb8814d9c15.png)

[2022-01-05 15:25] Siedlerchr commented on #8194
@dimitrisdimos00  You do not reed to run gradlew check locally, when you create a PR the Github Actions CI is executed with the unit tests. If that is green, then it's fine.

If you modify a class that has existing tests, it's of course useful to execute them in your IDE locally. Also, useful is usually the LocalizationConsistencyTest e.g. if you changed/added the L10n.

Otherwise, proceed with yo

[2022-01-05 17:10] ThiloteE commented on #8372
Leaning to Option B as well.

**Main Reason:**

- Option B leads to better differentiation.
- Both Option B and Option A might lead to more work, as there still could be potential problems with other citationstyles.
- APA 7th edition would need to be changed anyway, regardless if option A or option B was chosen.
   - For APA 7th: Option A does not show both Issue + Number, when both are present.

[2022-01-05 19:14] Christoph-Neumann-1 opened #8393 "Button presses only work in lower part of hitbox"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Archlinux, dwm

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Open a fresh

[2022-01-05 19:34] Christoph-Neumann-1 opened #8394 "Deleting last entry causes an IndexOutOfBoundsException"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Archlinux, dwm

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1.Create a new

[2022-01-05 19:52] tobiasdiez commented on #8051
The idea was that new users learn to find the "new group" button, and once they know where it is the visual highlight is no longer necessary. I cannot found the PR where this was added, but there was some discussion about this already.

[2022-01-05 21:53] jpmvferreira commented on #5867
Using Manjaro with i3WM and jabref from the AUR, everything up to date, issue still stands.

Working on the lower part of the menu does seem to be a valid workaround.

[2022-01-05 22:19] Siedlerchr commented on #8393
Duplicate of https://github.com/JabRef/jabref/issues/5867 ?

[2022-01-05 22:19] #8393 closed

[2022-01-05 22:30] harshlancer commented on #8276
Hey, I'm new to the open-source community can I contribute to this project I know how to code in Java.
Please tell me if I can contribute in any manner.

[2022-01-06 09:08] jkrenz opened #8395 "JabRef 5.4 on macOS Monterey crashes all the time"
### JabRef version

5.4 (latest release)

### Operating system

macOS

### Details on version and operating system

macOS 12.0.1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. I open JabREf
2. it

[2022-01-06 09:19] jkrenz commented on #8395
Here the error log file of one of the crashes.
[hs_err_pid3048.log](https://github.com/JabRef/jabref/files/7820723/hs_err_pid3048.log)

[2022-01-06 10:03] Siedlerchr commented on #8395
From the error log it looks like you still have an old version installed that started. Can you uninstall that before and then reinstall the new Release 5.4?

[2022-01-06 12:10] tobiasdiez opened #8396 "Only show deprecated fields tab if they contain values"
### JabRef version

5.4 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

The deprecated fields t

[2022-01-06 13:58] jkrenz commented on #8395
Sorry....! While installing it asked me whether it could overwrite the old file and I confirmed. However, apparently it didn't. Thank you!

[2022-01-06 14:44] Siedlerchr commented on #8395
Probably because it was a different installer system back then in the old version

[2022-01-06 14:44] #8395 closed

[2022-01-07 10:56] ThiloteE opened #8397 "Vertically align Groups and Web search panel"
**Problem:**

`Groups`, the `Add group` button, `Web search` and the `search` button for Web search are centrally aligned and it looks odd, because the button "Toggle intersection" and the multiple buttons "Move panel up", "Move panel down" and "Hide panel" skew two of the four more towards the left.

**Desired Solution:**

Align the text for the four along a common line.

Example:

The text could

[2022-01-07 11:10] ThiloteE opened #8398 "Move 'Add group' button somewhere closer to groups"
**Problem:**
When i first started using Jabref I vividly remember that i could not find the add groups button immediately, because i first found the `Groups` and `Filter groups` field and naively thought, the add groups button must be close to that. Or to say it differently: The `Add group` button is so close to the `Web search` panel, that on first glance it will be associated with it. Try to loo

[2022-01-07 11:12] mlep commented on #8397
@dimitrisdimos00 : since you have already touch some of this, maybe you would like to pursue?

[2022-01-07 11:18] ThiloteE commented on #8397
Would something like this get the label UI or rather the label groups/search?

[2022-01-07 11:26] mlep commented on #8397
Both? :wink:

[2022-01-07 11:27] calixtus commented on #8385
Sorry for the late reply. This is related to `FilePreferences`, but it should not be affected by the bug we discussed, since that bug probably only affects complete reset of all preferences. This seems to be somehow related to the empty textfield. Maybe there is a check in the dialog tabs viewmodel or in the preferences for empty strings, that are not stored? I'll look into it.

[2022-01-07 11:42] ThiloteE commented on #8397
ok xD

Btw. another alternative could be to align the buttons `Add group` and `Search` at the right side. There would still be contrast (the buttons would stand out more) and at the same time, the awkward looking centrally aligned indention vanishes.

I imagine both to be fine looking :)

[2022-01-07 11:56] calixtus commented on #8385
No, it seems that JabRef always applies the text in the textfield, even if it's greyed out.
I suspect: `BibDatabaseContext::getFileLinks` is called somewhere in a constructor a object creation time, since
![grafik](https://user-images.githubusercontent.com/50491877/148540530-11e2693e-d907-42cf-8d4b-8ca3de27a253.png)

Perhaps there needs to be binding somewhere the preference looked up to?

[2022-01-07 11:59] mlep commented on #8397
I believe we are used to have the text of a button centered.
I suggest to wait for the merge of #8392 first, and then look at what can be improved further.

[2022-01-07 14:54] ilippert commented on #6559
Given that I am now on
JabRef 5.5--2022-01-02--55ceed9
Linux 5.15.12-200.fc35.x86_64 amd64
Java 16.0.2
JavaFX 17.0.1+1
and have not encountered the issue for a while anymore, I am closing this issue - but of course other are welcome to comment to ask for this to be reopened/or to reopen yourself...

[2022-01-07 14:54] #6559 closed

[2022-01-07 14:58] ilippert opened #8399 "new entry from plaintext not working"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.5--2022-01-02--55ceed9 Linux 5.15.12-200.fc35.x86_64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X]

[2022-01-07 15:00] dimitrisdimos00 commented on #8397
Hello. Yeah, I can look into it. So, shall we wait for the merge and then take a look at it?

[2022-01-07 16:18] ThiloteE commented on #8397
Yeah we can wait for the merger. This is not urgent as 5.4 stable was just released :)

[2022-01-07 16:27] Siedlerchr commented on #8399
Works as expected for me:
I get the following entry back:

[code]

PS that entry has a DOI: https://doi.org/10.5771/9783845295008-467

[2022-01-07 19:30] Siedlerchr commented on #8388
I could reproduce this issue as well under Mac. Could be some javafx thingy... Not sure

[2022-01-07 19:38] Siedlerchr commented on #8385
It should be sufficient to check if the other radio button is enabled:

`if (storeFilesRelativeToBibFile.getValue() || StringUtil.isBlank(mainFileDirectory.getValue())) {`

[2022-01-07 19:59] calixtus commented on #8385
Yes, but that would not solve the root cause of the problem and it's not certain, if it really solves the problem, since the value of the text field may be still be kept.

[2022-01-07 20:02] Siedlerchr commented on #8385
The value of the text field might be kept, that's okay - as long as it's not used

[2022-01-08 07:21] michel-kraemer commented on #8372
I'm wondering if this issue (and the one in citeproc-java) can be closed now?

[2022-01-08 11:24] ThiloteE commented on #8385
Duplicate of this problem in the forums: https://discourse.jabref.org/t/a-strange-bug-if-i-add-a-library/3118/10

[2022-01-08 12:16] ThiloteE commented on #8372
Probably yes.

@adrianocorrea would you be able to confirm that what i describe below indeed does conform to APA 7th edition? I don't have access to the full manual right now so i can't cross-check.

@michel-kraemer If the rendering down below is correct according to APA 7th edition, i don't think anything needs to change in citeproc. Let's wait for Adriana or somebody to confirm.

**Short summary

[2022-01-08 12:19] ThiloteE commented on #8372
@adrianocorrea in short: Remove the page-range and the article number will be shown. If you want to have the page-range included, i would suggest to find out the issue-number

[2022-01-08 12:48] tobiasdiez opened #8400 "Check browser extension from within JabRef"
**Is your suggestion for improvement related to a problem? Please describe.**
Currently, the browser extension stuff is installed during the installation of JabRef. But sometimes things go wrong, or people use the `.dmg` file which cannot install anything. In these cases, it is hard to figure out what went wrong, and how to fix it. Moreover, the manual installation instructions are somewhat involv

[2022-01-08 12:56] LyzardKing commented on #8400
The check could be similar to the one done by the browser.
It could look for the native extension json, see if it points to the correct python script, then try running that script.
This could also be useful if the extension stops working after being modified (the json or the python files) by the user or an update.

[2022-01-08 14:23] adrianocorrea commented on #8372
Option "B" seems like a good alternative if they lead to the outputs presented by @michel-kraemer above. Is there a way we can test it to check the behaviour?

About the fields, Wiley, Sage, Elsevier and AOM export options include BibTex - where all outputs include the `number`, but not the `issue`, field. Also, looking at some large databases, the issue field does not appear often. Thus, it seems

[2022-01-08 14:55] ThiloteE commented on #8372
hmmm i know this has become very complex and we have written a lot. For better clarity:

1. What Michel proposed in https://github.com/JabRef/jabref/issues/8372#issuecomment-1003526977 is option A.
2. We can check option B anytime, as it is what we have currently in 5.4
3. In the screenshot (https://user-images.githubusercontent.com/73715071/147882903-15d591f3-f992-48d4-b22f-f254c9dfec61.png) you

[2022-01-08 15:49] adrianocorrea commented on #8372
Ok. Tested it in version [5.5](https://builds.jabref.org/main/JabRef-5.5-portable_windows.zip). and version [5.4](https://builds.jabref.org/pull/8304/merge/JabRef-5.4-portable_windows.zip) and the bug persists; it still does not show the issue/number in the preview.
For greater clarity, this is what is missing from the preview:
![147882903-15d591f3-f992-48d4-b22f-f254c9dfec61](https://user-images.

[2022-01-08 16:30] ThiloteE commented on #8372
This is not the number, it is the issue field. In this example, the number would be (Article) e0222224

[2022-01-08 20:35] adrianocorrea commented on #8372
@ThiloteE, thank you for the clarification and the attention you are dedicating to this issue. Yes, if I manually change the BibTex source code and replace "number" with "issue", it renders as expected. However - and while I understand that the final solution will be a design decision from you guys - I still suggest that you reconsider bringing back the entry preview behaviour that worked until ve

[2022-01-08 23:10] jpmvferreira commented on #8175
I installed Jabref recently and I have had several exceptions so far, which I ignored until today, when I decided to actually bother to report the bug, only to see that it's the same as the one which this issue is about.
After changing group on a relatively new library with only 2 manually created groups the following dialog is shown:
[code]

This dialog was actually shown approximately 5 times an

[2022-01-08 23:48] Siedlerchr commented on #8175
Thanks for the detailed report. Unfortunately, I was not yet able to reproduce this locally in my environment, but I think the culprit might be somehow this line in the LIbraryTab

A group selection event triggers somehow this sselectionListener in the mainTable...
@tobiasdiez  Any idea how this comes to be?

https://github.com/JabRef/jabref/blob/222d214e3e6f70912d7dc6ba5757330d2578388d/src/main/j

[2022-01-09 11:01] hhlp commented on #7969
Doens't works in flathub too:

5.4                  stable     x86_64       flathub user        org.jabref.jabref/x86_64/stable

[code]

Regards.,

[2022-01-09 12:34] ilippert opened #8403 "unclear exception"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.5--2022-01-02--55ceed9 Linux 5.15.12-200.fc35.x86_64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X]

[2022-01-09 12:37] tobiasdiez commented on #8175
I guess something like group selection changes > some of the current entries are not part of the new group > they are not shown and thus deselected.

[2022-01-09 12:50] ilippert commented on #8399
Wow, does not work for me with
JabRef 5.5--2022-01-02--55ceed9
Linux 5.15.12-200.fc35.x86_64 amd64
Java 16.0.2
JavaFX 17.0.1+1

[2022-01-09 13:04] ilippert commented on #8388
Just to add - it does not always happen but really often.

[2022-01-09 13:59] Siedlerchr commented on #8399
Can you check the log if you get a connection error?  I am today in a different place, can't test it here because port 8070 is blocked in the firewall.  (See preferences -> Import Export -> Remote services)

[2022-01-09 15:06] ilippert opened #8405 "field name is changed"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.5--2022-01-09--7d4916e Linux 5.15.12-200.fc35.x86_64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X]

[2022-01-09 16:07] jpmvferreira commented on #8175
Nice guess, I selected an entry, switched to a group which that entry does not belong to and the exception showed.
However, doing it again didn't show the exception, not even after a reboot or even in a different library. It did show once though.

[2022-01-09 17:02] ilippert opened #8406 "When pasting an entry into jabref, check whether key already exists"
**Is your suggestion for improvement related to a problem? Please describe.**
When I paste an entry into JabRef, I occasionally mess up my library because an entry with that citation key already exists.

**Describe the solution you'd like**
JabRef should notify me when I paste an entry and an entry with the same key already exists. I think this already happens as part of the import function, but n

[2022-01-10 03:17] ThiloteE commented on #8372
Helloo, i was doing a little bit more digging :)

**1.**

I know what you mean, i sympathize with you and the arguments you put forward are good ones, if it were not for a simple reasons why all of them are irrelevant in front of a simple fact:

   The rendering for
[code]
   `Foo, B. (n.d.). number + pages. Bib(La)TeX Journal, 45–67.`

is **compatible** with APA 7th edition. No need to change any

[2022-01-10 05:48] ThiloteE commented on #8372
Ok hold your beer.

Option A (https://github.com/JabRef/jabref/issues/8372#issuecomment-1003526977) by @michel-kraemer  is totally viable.

It is the best.

I learned so much about Java "If Else if" statements today xD. Let's use this code for a test-run:

[code]
If we get a lot of complaints about the rendering in the development version, we always can reverse it for the stable one. @adrianocorre

[2022-01-10 06:54] Siedlerchr commented on #8372
Jabref has a Bibtex/biblatex cleanup converter.
Not sure if it handles the issue number fields

[2022-01-10 07:52] fl-la commented on #6447
Can confirm, the bug is very annoying.
JabRef 5.4--2021-12-20--ab44182
Linux 5.15.8-76051508-generic amd64
Java 16.0.2
JavaFX 17.0.1+1

[2022-01-10 07:54] fl-la opened #8407 "Changes in entry preview are not saved"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

This is a copy o

[2022-01-10 08:03] #8407 closed

[2022-01-10 08:05] Siedlerchr commented on #6447
@fl-la  Solution/workaround:

[2022-01-10 13:59] ThiloteE commented on #8372
It "converts" the bibtex `number` field to ... biblatex `number` field, therefore it does nothing. I guess it should be converted to the `issue` field instead.

Requirements for fetching the article-number for Biblatex via RIS:
   - the `number` field fetched from Bibtex fetchers would need to be converted to the issue field first
   - OR we fetch both the `issue` and `number` fields via RIS

[2022-01-10 14:28] Siedlerchr commented on #8372
I think (even if its incorrect) the style should use number for issue. Most publishers still only accept bibtex and export in BibTeX

RIS Importer uses bibtex fields as well:  number for issue:
https://github.com/JabRef/jabref/blob/fa8cc829727ffddd97a9056fd466e7098577f4d7/src/main/java/org/jabref/logic/importer/fileformat/RisImporter.java#L175-L176

[2022-01-10 14:39] mlep commented on #8372
For biblatex, `issue` is more a season (like "Summer issue"). And `number` is the "The number of a journal or the volume/number of a book in a series", so quite close to BibTeX definition . See the biblatex and documentations for more details (http://mirrors.ctan.org/macros/latex/contrib/biblatex/doc/biblatex.pdf and http://mirrors.ctan.org/biblio/bibtex/base/btxdoc.pdf).
So the conversion of numb

[2022-01-10 14:40] ThiloteE opened #8413 "Cleanup entries: convert number field (bibtex) to issue field (Biblatex)?"
Came up during https://github.com/JabRef/jabref/issues/8372

Specifically, here: https://github.com/JabRef/jabref/issues/8372#issuecomment-1008898616
- Specification of number in bibtex (p. 10): https://mirror.informatik.hs-fulda.de/tex-archive/biblio/bibtex/base/btxdoc.pdf
- Specification of number and issue in biblatex (p. 22 and 23): https://packages.oth-regensburg.de/ctan/macros/latex/contrib/

[2022-01-10 15:40] ThiloteE opened #8414 "Fetchers for Biblatex library mode. E.g. (article-) number field"
Emerged in https://github.com/JabRef/jabref/issues/8372

via:
- https://github.com/JabRef/jabref/issues/8372#issuecomment-1008143983

Bibliographic data is usually provided for and formatted by major providers (i.e. Reed-Elsevier, Taylor & Francis, Wiley-Blackwell, Springer and Sage, crossref etc.) in a Bibtex conform standard. Some fields exist that are not present in Bibtex, but that could be fe

[2022-01-10 15:44] Siedlerchr commented on #8414
Refs https://github.com/JabRef/jabref/issues/1018#issuecomment-204395326

[2022-01-10 20:55] tobiasdiez commented on #8413
According to the biblatex docs you reference to:

are identified by a designation such as ‘Spring’ or ‘Summer’ rather than the month
or a number. The placement of issue is similar to month and number. Integer
ranges and short designators are better written to the number field.

So I think biblatex and bibtex are not too different there, and the number field is what should be used more often.

But

[2022-01-11 11:02] ilippert commented on #8399
I can ping the server, and `wget http://grobid.jabref.org:8070` gets me an html page.
Hmm, right now it works as it should do...

[2022-01-11 11:02] #8399 closed

[2022-01-11 11:49] ilippert commented on #7057
Here is a use problem:

mistakingly the collection entry existed several times. search for its key
now, deleting one of these removes the entry label from the other cross-referencing entries.

Now Ctrl+z actually reverses the action, but in the corresponding view (search key), the crossreferencing entries are not reappearing.

Now I close jabref, restart, and I find the crossreferencing entries ar

[2022-01-11 16:52] ThiloteE commented on #8414
JabRef 5.4--2021-12-20--ab44182
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.1+1

When fetching the entry via JabRef's Import by DOI dialogue, the article-number is shown and replaces the page-range within the pages field.

[code]

[2022-01-11 17:04] Siedlerchr commented on #8414
@ThiloteE  DOI importer get bibtex back from the doi.  Some publishers provide weird BibTeX data. This is known. We are not living in a perfect world where we have accurate data.

[code]

results in
[code]

[2022-01-11 21:43] ThiloteE commented on #8414
moewew clarified: "Moving the issue number to issue and article number to number would not be my preference, because the issue number is traditionally `number` and the article number is `eid` in biblatex"

The long answer: https://github.com/plk/biblatex/issues/726#issuecomment-1010264258

[2022-01-11 22:17] ThiloteE commented on #8414
Therefore:

- Fetching from Bibtex formated data, we could write a RegEx that detects non-page-ranges and move those to `eid`, if eid is empty.
- Fetching from RIS, something similar could be done.
   - `SP` denotes "Start Page" according to https://en.wikipedia.org/w/index.php?title=RIS_(file_format)&oldid=1017778965

And of course add options to cleanup actions to trigger the move back and forth

[2022-01-11 22:41] ThiloteE commented on #8413
Thank you Tobias, sounds good 👍

Also relevant here: "Moving the issue number to issue and article number to number would not be my preference, because the issue number is traditionally number and the article number is eid in biblatex"

The long answer: plk/biblatex#726 (comment)

- The conversion from number to `issue` sounds pretty riskless.
- Conversely, moving from `issue` field towards `numbe

[2022-01-11 23:00] ThiloteE commented on #8372
moewew clarified for Biblatex: "Moving the issue number to issue and article number to number would not be my preference, because the issue number is traditionally number and the article number is eid in biblatex"

The long answer: plk/biblatex#726 (comment)

[2022-01-12 07:18] cherrywoods opened #8416 "Vast Memory Consumption on Ubuntu 20.04"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 20.04.3 with Gnome Shell 3.36.8 on Wayland

### Checked with the latest development build

- [ ] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to repro

[2022-01-12 08:43] universal opened #8417 "% Encoding Comment wrongly dropped"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Pop!_OS 21.10 (Ubuntu)

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Save

[2022-01-12 09:39] Siedlerchr commented on #8417
@koppor encoding

[2022-01-12 16:39] MartinX3 opened #8418 "Build failed with an exception - jcenter.bintray.com - Bad Gateway"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Arch Linux

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Compile it https

[2022-01-12 17:24] aretaon opened #8419 "Jabref 5.4 and 5.5 does not open on Ubuntu 20.04"
### JabRef version

5.4 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 20.04 with kernel 5.11.0-44-generic

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce th

[2022-01-12 17:24] #8418 closed

[2022-01-12 17:33] Siedlerchr commented on #8419
Hi,

there seems to be still some JabRef/java process running (from the log it seems) in the background. You might need to kill that before.

[2022-01-12 17:35] aretaon commented on #8419
:facepalm: Yep that was it, a no-gui process running in the background.
Thanks for your swift response and the great work overall!

[2022-01-12 17:35] #8419 closed

[2022-01-12 17:36] MartinX3 commented on #8418
Ah, you mean the gradle plug-in hosting site redirects me to jcenter?
I hope they remove it, since jcenter will be closed this year.

[2022-01-12 17:41] jpmvferreira commented on #6447
I'm facing a similar issue: Whenever to try to edit the Entry Preview, it fails. It doesn't show on the preview tab, by contrast with what the author of this issue is experiencing, and rebooting doesn't make any change whatsoever.

However, using JabRef 5.5 portable, the issue is the same as yours: editing will only take effect after rebooting, and is shown in the preview tab.

Curiously, going ba

[2022-01-12 18:35] Siedlerchr commented on #8418
If the plugin is not found in the cache, it will be downloaded.
I looked a bit around but we don't have any reference left to bintray in our Gradle file and the plugin seems also to be available via maven central so I wonder why it resolves to bintray....

Bintray will be kept online but only in read only mode.

[2022-01-12 19:13] tobiasdiez opened #8420 "Library modification appearently triggers reindexing of all PDFs"
### JabRef version

5.4 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Have a library with

[2022-01-12 19:19] Siedlerchr commented on #8417
JabRef tries to write and store all data in utf8
The encoding comment was removed in 5.4

[2022-01-12 19:22] koppor commented on #8417
It should keep the encoding field.

[2022-01-12 22:09] #8194 closed

[2022-01-13 00:00] wujastyk opened #8421 "Error while generating citation style"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.5--2022-01-10--9e3506f Linux 5.13.0-25-generic amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I hav

[2022-01-13 00:03] koobs commented on #6757
@Siedlerchr Per #8387 is it possible to either:

 1. Backport the 4 line change such that the fix is applied to the current javafx version
 2. Add an option in UI (Help > Java Startup Options, or Preferences) enabling users to easily add java startup arguments to work around this and other issues.

[2022-01-13 00:07] koobs commented on #7459
Ping :)

[2022-01-13 05:02] ThiloteE commented on #8421
uff. Also present in 5.4 Stable:

JabRef 5.4--2021-12-20--ab44182
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.1+1

[2022-01-13 05:26] ThiloteE commented on #8416
Seems related to interaction between JavaFX and GTK3:

- An update of GTK to version 4 or downgrade to version 2 would be worth a try. Same goes for updating JDK.

   https://stackoverflow.com/questions/55446534/how-to-fix-java22494-gdk-warning

- This forum post also tells an interesting story: http://www.babelsoft.net/forum/viewtopic.php?p=27776

[code]

[2022-01-13 06:42] ThiloteE commented on #8368
You can do what Christoph recommended here:

![image](https://user-images.githubusercontent.com/73715071/149278058-bb071cfa-4d0c-4d95-b8c2-0306924171ef.png)

@funnym0nk3y Would this work for you?

[2022-01-13 08:10] ilippert opened #8423 "I cannot merge entries"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.5--2022-01-09--7d4916e Linux 5.15.13-200.fc35.x86_64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X]

[2022-01-13 08:14] ilippert commented on #8397
I would imagine that it would also look well if the names "Groups" and "Web search" are aligned left.

[2022-01-13 10:23] AEgit commented on #8372
This is a short digression, but since this suggestion was made, I wanted to comment on it.

This suggestion has been made before years ago - it was rejected, and the reasoning for that remains the same. Biblatex might be more prevalent (?) within computer science, maths, physics and related subjects, but in other disciplines it is nearly non-existing (e.g., biology). Making JabRef biblatex only th

[2022-01-13 12:27] calixtus commented on #8372
I think I can say that, even though biblatex is more powerful than bibtex, the big publishers in science still rely on bibtex. Therefor JabRef won't deprecate bibtex support.

[2022-01-13 13:33] adrianocorrea commented on #8372
Perfect. Since JabRef will not deprecate BibTex support, my understanding is that, when the user chooses to use this format, the entries should rely only on fields that exist in the BibTex format, and not on fields that are BibLaTex specific (e.g. the "issue" field). Otherwise, you cannot really say that the standard is being followed.

[2022-01-13 14:40] mlep commented on #8397
That is my understanding.
I guess we should consider all three panels together: Groups, OpenOffice/LibreOffice and Web search.

About the titles of the panel: they are a bit off-centered at the moment. Groups looks a bit displaced to the left at the moment when the panel is wide)

About their buttons:
- "Add group" is centered.
- "Search" is centered.
- the OpenOffice/Libreoffice buttons (there ar

[2022-01-13 16:46] dimitrisdimos00 commented on #8189
Hello there. In which cases is a warning useless except from when changing the color? For example, I'm thinking that when changing the icon of the group, no warning should be shown either. Do we need a warning only for the "Hierarchical context" and "Collect by" options?

[2022-01-13 20:28] dimitrisdimos00 commented on #8397
Yeah we definitely should look at all three of them. And we should decide which of the two we will implement.

[2022-01-13 21:06] #7010 closed

[2022-01-13 21:06] #7012 closed

[2022-01-13 21:06] #8303 closed

[2022-01-13 21:59] Siedlerchr commented on #7010
We now changed the whole logic and enable BibTeX string resolving only for a couple of fields. This can be adjusted in the options

[2022-01-13 22:00] Siedlerchr commented on #7483
We now changed the whole logic and enable BibTeX string resolving only for a couple of fields. This can be adjusted in the options

[2022-01-13 22:00] Siedlerchr commented on #7012
We now changed the whole logic and enable BibTeX string resolving only for a couple of fields. This can be adjusted in the options

[2022-01-13 22:00] Siedlerchr commented on #8303
@Mercynary  In the latest development version we changed the whole logic and enable BibTeX string resolving only for a couple of fields. This can be adjusted in the options

[2022-01-13 22:27] #8417 closed

[2022-01-14 00:20] LaurentValade commented on #7483
Thanks a lot !
I really like JabRef and I use it for many years now (from the start of my PhD), this bug was pretty minor, but it’s great it’s now fixed. Update goes brrr… 😃

[2022-01-14 08:38] ilippert opened #8426 "entry table: offer a tiny context menu for adding/removing columns"
**Is your suggestion for improvement related to a problem? Please describe.**
I'm always frustrated when I want to change the entry columns. I have to click at least 3 times to get to the respective setting.

**Describe the solution you'd like**
I would love to be able to use  right click onto the column headings and then get a context menu that allows me to activiate/deactive default or manually

[2022-01-14 08:39] #8426 closed, assigned to nobody

[2022-01-14 09:34] digdig opened #8427 "Can't change the theme back to normal even after uninstall"
### JabRef version

5.4 (latest release)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

When I open the pref

[2022-01-14 09:35] cherrywoods commented on #8416
Upgrading JDK to JDK 17 changed the issue, but did not entirely fix it. Instead of continuously increasing memory usage once I open a bibliography, now when I click on entries, the memory usage goes up by several MB. It doesn't decrease again when I open another entry.

Therefore I could open three entries before nearly running out of RAM.

The new issue is present in the latest development versio

[2022-01-14 10:57] Siedlerchr commented on #8427
This seems like it's related to https://github.com/JabRef/jabref/issues/8385

[2022-01-14 12:11] Siedlerchr commented on #6305
Idea:
https://github.com/dlsc-software-consulting-gmbh/GemsFX#search-field

[2022-01-14 13:02] funnym0nk3y commented on #8368
@ThiloteE Sounds good. Can one customize each entry type separatly or is each optional tab the same then?

[2022-01-14 13:16] ThiloteE commented on #8368
As far as i am aware, the `required fields` and `optional fields` tabs cannot be changed there.

Those can be manipulated via `options > customize entry types`:
![image](https://user-images.githubusercontent.com/73715071/149521233-2617bb9d-23d2-4d31-8b45-5f994ca3f8a7.png)

Hmmm now that i think about it, `Customize entry types` and `Custom editor tabs` seem very much related. Would be nice to have

[2022-01-14 14:26] ThiloteE opened #8428 "Fulltext search. Some terms cannot be found"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.5--2022-01-13--b8f710d Windows 10 10.0 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the

[2022-01-14 15:30] Siedlerchr commented on #8428
This is done on purpose. So called [stopwords](https://www.elastic.co/guide/en/elasticsearch/guide/current/stopwords.html) are filtered out because they occur too often and seldom add relevancy.

[2022-01-14 20:38] Siedlerchr commented on #8427
As a temporary fix, can you make sure that you have a valid main file directory set in Preferences -> LInked File?

[2022-01-15 14:18] funnym0nk3y commented on #8371
I found a regex (`(?<=[a-z A-Z 0-9])\b.*`) that works for non-word characters e.g.
[code]

but still need one to match

[code]

[2022-01-15 15:49] ThiloteE commented on #8371
Would this work?

`[auth:regex("(?<=\p{IsLatin})\b.*|[A-Z].*", "")]`

Explanation:

`|` is OR
`[A-Z]` capital letters

[2022-01-15 17:33] funnym0nk3y commented on #8371
@ThiloteE Unfortunately not. But changing it a little leads to `(?<=\p{IsLatin})(\b|\p{Upper}).*` which works on [regex101](https://regex101.com/r/MZAtIm/1) but not in JabRef

[2022-01-15 18:35] ThiloteE commented on #8371
How about this one:

`(?<=\p{IsLatin})\b.*|(?<=\p{IsLatin}{2})\p{Upper}.*`

![image](https://user-images.githubusercontent.com/73715071/149633729-8da152d2-9aac-4e48-966d-0b186bb6240e.png)

Does it work with Jabref?

[2022-01-15 20:25] ThiloteE commented on #8416
JavaFX does not work with Wayland as of 2018-12 (https://bugs.openjdk.java.net/browse/JDK-8215364). The Fix employed by JavaFX is this one:

+    //Set the gtk backend to x11 on all the systems
+    `putenv("GDK_BACKEND=x11");`

This means, JavaFX forces your system to use the X11 Window System.

Now, the question arises, what will happen, if you don't have the X11 Window System installed on your

[2022-01-15 20:26] ThiloteE commented on #8416
Jabref v.3.8 probably works, because it was coded in Java, not in JavaFX.

[2022-01-15 22:06] khatchad opened #8431 "Enhancements to handling of externally modified files"
I'm always frustrated when I issue a `git pull` on the command line that changes the `.bib` file already opened in JabRef. I see there is a warning about the file being externally altered and asking me whether I want to review it. However, I often ignore this warning as:
1. It tends to pop up even when there are no external file changes.
2. It crashes when I do review the external changes.
3. I do

[2022-01-16 12:31] Siedlerchr commented on #8431
Hi,

yes this is a known problem that the change detection and our saving strategy currently have issues. We are aware of this and try to come up with a solution.
For the review crash, try out the latest development version. That issue has been fixed there.

[2022-01-16 16:14] Siedlerchr commented on #8421
Yes I can reproduce this. This seems to be specific to some styles.
If you open the Event log you will see details, I encountered some NPEs from citeproc.

[2022-01-16 16:27] Siedlerchr commented on #8394
i got a similar error today while searching:

Key problem seems to access the selectedEntries in the maintable in a filteredList/SortedList
Could be related to this java issue:

It seem this is a javafx issue at least the  PR: https://github.com/openjdk/jfx/pull/710
https://bugs.openjdk.java.net/browse/JDK-8273339

[code]

[2022-01-16 18:06] #8385 closed

[2022-01-16 18:22] Siedlerchr commented on #8427
Should also be solved ow in the latest dev version

[2022-01-16 18:22] #8427 closed

[2022-01-17 12:47] funnym0nk3y commented on #8371
@ThiloteE No, unfortunately not.

[2022-01-17 13:44] k3KAW8Pnf7mkmdSMPHz27 commented on #8371
Some (hopefully helpful) thoughts

* Bracketed patterns/citation key patterns are in need of refactoring so you can, unfortunately, not always rely on the text being what you expect it to be when the modifier is applied. For citation key generation, in particular, I believe they are cleaned of unwanted/disallowed characters before the modifiers are applied. Regarding `-` in particular, make sure i

[2022-01-17 14:18] ThiloteE commented on #8371
I wanted to do some tests first and haven't had time yet, but i read (here: https://www.regular-expressions.info/unicode.html) that "Java 7 adds support for Unicode scripts. Unlike the other flavors, Java 7 requires the “Is” prefix."

Therefore replacing `\p{Upper}` with `\\p{IsUppercase}` or `\\p{IsUpper}` might be necessary also.

[2022-01-17 14:32] funnym0nk3y commented on #8371
@k3KAW8Pnf7mkmdSMPHz27 Escaping the \ did the trick, thanks!

[2022-01-17 15:35] Siedlerchr commented on #8371
Maybe one of you can add a hint regarding the backslash and the Character class thing to the docs https://github.com/JabRef/user-documentation

[2022-01-17 18:04] funnym0nk3y commented on #8371
The more I think about it, couldn't it be solved with something like replacing `'` with `"`? But then I remember I am a Java noob, so...

[2022-01-17 19:42] koppor commented on #8372
Did I understand it correctly as shown in the figure?

![grafik](https://user-images.githubusercontent.com/1366654/149828710-cbbc6390-f762-4ecd-ad58-86f85b57047a.png)

Then I see following options for BibTeX mode

- Option O1: JabRef maps the fields for citeproc
- Option O2: JabRef tells citeproc: "hey, this is BibTeX, please do BibTeX hacks" (and then citeproc turns on the mapping outlined in Opt

[2022-01-17 19:43] #8051 closed

[2022-01-17 22:02] ThiloteE commented on #8372
Almost.

![image](https://user-images.githubusercontent.com/73715071/149840977-5682ff81-0290-45a7-8610-3506dfe56d9a.png)

[2022-01-17 22:42] Siedlerchr commented on #8051
@dimitrisdimos00  Thanks again for your contribution! Included in the newest Bugfix release as well.

[2022-01-17 23:05] ThiloteE commented on #8372
![image](https://user-images.githubusercontent.com/73715071/149845970-9fb8044f-453a-4684-92a9-188a37a8eb5b.png)

[2022-01-17 23:51] ThiloteE commented on #8372
If you are confused now, you will understand, why i was confused so much!! When standards have different words for the same thing 😅😅😅. Hahaha, sorry my drawing skills are not overly developed xD. But this should be it. `eid` definitely is a thing in Biblatex now. It was introduced in 2020/2021, so it's relatively new, but it should work for the standard styles on ctan.

The only thing i am not sur

[2022-01-18 00:58] dimitrisdimos00 commented on #8051
Happy to help!

[2022-01-18 01:00] js51 opened #8443 "macOS icon is inconsistent with other application icons"
**Is your suggestion for improvement related to a problem? Please describe.**

The current icon is inconsistent with Apple's [human interface guidelines](https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/app-icon/) and with the vast majority of other applications developed for macOS. This means that JabRef looks quite strange on the dock, sitting next to other ic

[2022-01-18 08:21] mlep commented on #8398
At the moment (JabRef 5.6--2022-01-17--e0e7191), the Web search and OpenOffice/LibreOffice panels are always "condensed" while the Groups panel takes the whole vertical space. So, at first, I thought the group panel should behave as the other ones. But when you collapse/expend the group tree, you do not want the panel to enlarge/shrink each time.
Following the same idea, I will not put the Add gro

[2022-01-18 08:28] mlep commented on #8397
A glitch that could be corrected in the meantime: while the `Add group` button extend to the whole panel width, the `Search` button of the web search panel does not. With the light theme, you need to put the pointer onto the button to see it, but in the dark theme it shows right away:
![ksnip_20220118-090634](https://user-images.githubusercontent.com/6931104/149898552-d3a2ace7-5d11-4bf8-ac7a-cb07d

[2022-01-18 08:30] starsareintherose commented on #8355
[1-s2.0-S1055790321000956-main.pdf](https://github.com/JabRef/jabref/files/7887392/1-s2.0-S1055790321000956-main.pdf)
[1-s2.0-S1055790321001159-main.pdf](https://github.com/JabRef/jabref/files/7887393/1-s2.0-S1055790321001159-main.pdf)
[1-s2.0-S1055790321001299-main.pdf](https://github.com/JabRef/jabref/files/7887394/1-s2.0-S1055790321001299-main.pdf)
[1-s2.0-S1055790321001421-main.pdf](https://gi

[2022-01-18 12:41] Siedlerchr commented on #8443
Thanks a lot for your suggestion! I like the coloring idea. You haven't yet found time to decide on a new color scheme,  so any suggestions are welcome.

[2022-01-18 15:28] MartinX3 commented on #7614
Dear @Siedlerchr updating form 5.4 to 5.5 and saving the "JabRef preferences" resulted in

[code]

[2022-01-18 16:53] falschgeldkind opened #8444 "Unlinked File Importer: Does not import all importable files"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Create new li

[2022-01-18 16:58] falschgeldkind commented on #8444
please note that all entries in the Import results were shown as succesfull

[2022-01-18 17:14] ThiloteE commented on #8444
Related issue in the forum: https://discourse.jabref.org/t/unlinked-file-importer-does-not-import-all-importable-files/3150

[2022-01-18 17:55] dimitrisdimos00 commented on #8397
Yeah, I noticed that too... I can look into it

[2022-01-18 18:00] Siedlerchr commented on #8444
Thanks again for the detailed analysis! I really wonder where the difference comes from. MIght be something in the actual importing step.

[2022-01-18 18:09] Siedlerchr commented on #7614
Thanks for the issue report. This is odd. However, I think this should be easily fixable
Refs  #7470

[2022-01-18 18:11] MartinX3 commented on #7614
You're welcome
Drag-And-Drop is the only way for me to load my file. If I load it with the context menu, I also get this error.
And if I get this error once, I also can't close the application anymore without getting this error.

[2022-01-18 23:06] MartinX3 commented on #7614
Also happens with newer code

[code]

[2022-01-19 07:35] Krzmbrzl opened #8446 "Short freeze when selecting first entry after fresh start"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

KDE Neon 5.23 (built on Ubuntu 20.04)

### Checked with the latest development build

- [ ] I made a backup of my libraries before testing the latest development version.
- [ ] I have tested the latest development version and the problem persists

### Steps to reproduce the beh

[2022-01-19 09:17] mlep opened #8447 "Menu: Rename "Groups interface" into "Groups""
Here is the View menu:
![ksnip_20220119-101236](https://user-images.githubusercontent.com/6931104/150100034-23b87551-9370-4d08-adb6-8aaa49d3c1ef.png)

**Is your suggestion for improvement related to a problem? Please describe.**
The Web search interface is named `Web search`.
The OpenOffice/LibreOffice interface is named `OpenOffice/LibreOffice`.

Why to name the Groups interface `Groups interface

[2022-01-19 10:10] serialc opened #8448 "URL field replaces '+' character with ' ' (white space) breaking URL"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubunut 21.10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. For an entry g

[2022-01-19 11:01] Siedlerchr commented on #8447
https://github.com/JabRef/jabref/blob/b1338b168eeb73f7fa4fbc5967dac8783f2cf821/src/main/java/org/jabref/gui/actions/StandardActions.java#L85
This line and in the l10n-en needs to be changed

[2022-01-19 13:44] #8447 closed

[2022-01-19 20:20] Siedlerchr commented on #7614
@MartinX3  Can you test the newest 5.6. snapshot from here ?https://builds.jabref.org/main/ should be hopefully fixed now

[2022-01-20 00:53] k3KAW8Pnf7mkmdSMPHz27 commented on #7057
This is strange. If I save the library after having undone (ctrl + z) the "delete entry" action, I don't find the cross-referencing entries again. (the field is deleted)

[2022-01-20 06:30] ThiloteE commented on #8152
Reminder for myself:

- Play around with https://stackoverflow.com/questions/3687921/conditional-regular-expression-in-java
- Try to use lookahead or lookbehind constructs
   - https://www.rexegg.com/regex-conditionals.html
   - Java equivalents: https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html

[2022-01-20 07:34] ThiloteE commented on #8448
Does not resolve the bug, but workaround so far: add the url in the library file via a text editor or in the `{} Bibtex Source` Tab.

e.g.:

[code]

Clicking the (chain icon) link icon for the entry in the reference list correctly leads to the website, so it seems to be in the part of the code that writes to the url field. The above suggests it is not in the code that reads from the url field.

[2022-01-20 07:41] ThiloteE commented on #8446
How long is the freeze?
Do you have data about RAM, CPU Usage etc. during the freeze?
How large is your database? ~ number of entries?

I also experience that whenever i click on an entry after starting Jabref there is a small lag. In order to open the entry editor, i have to click on an entry **twice**, not once, which could be designed intentionally, as there are features (e.g. pushing entry to

[2022-01-20 08:17] Krzmbrzl commented on #8446
- The freeze is only about ~3-4 seconds or so. After any further selections work just fine.
- During the freeze the CPU spikes to ~40% (before selecting anything, it's about 0%). RAM jumps from ~360MB before selecting anything to ~1GB after having selected the first entry. Afterwards it stays pretty constant (also after the freeze)
- My DB is also rather small and currently has 157 entries

[2022-01-20 11:01] ThiloteE commented on #8372
So, to conclude from my side:

Changes for Mapping/Rendering/Conversions relevant for Citeproc-Java (https://github.com/michel-kraemer/citeproc-java):

**Bibtex Mode:**

- Map or convert Bibtex `number` field field to CSL `issue` field.
   - What Michel proposed at: https://github.com/JabRef/jabref/issues/8372#issuecomment-1003526977 should be ok for this.

**Biblatex Mode:**

- Map or convert Bib

[2022-01-20 11:06] ThiloteE commented on #8372
Hoping for decision by dev-call and also for comment by @michel-kraemer Citeproc-Java specialist.

[2022-01-20 15:29] k3KAW8Pnf7mkmdSMPHz27 commented on #7057
(Mostly note for me) It seems likely it is caused by https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/model/entry/ParsedEntryLink.java although I can't explain

[2022-01-21 05:54] michel-kraemer commented on #8372
Yes, sure. I have to admit I lost track of the many options you discussed and which of them are the preferred ones, but if you can tell me (as precisely as possible) what I need to do, and someone from JabRef does confirm, I can implement it.

[2022-01-21 07:35] drgibbon opened #8452 "Don't write enclosing braces to PDF metadata?"
When writing metadata to PDF (`Tools` -> `Write metadata to PDF files` / `F6`), JabRef writes the enclosing braces that are only there to protect from LaTeX formatting (e.g., to preserve capitalization in `{United Nations}`).

I don't know if it would be workable, but it would be nice if JabRef did not write these braces to the PDF metadata.

[2022-01-21 10:32] retostockli commented on #7270
We would have the same request, but maybe for a different reason: Our JabRef installation is managed by the IT department. Rollout of new versions are also handled by the IT department. Users cannot install anything by themselves. Therefore the version check is not making sense on the user's side. We would like to disable it for user installation but enable it for our IT staff, since they will be

[2022-01-21 22:45] tobiasdiez commented on #7270
That's a good point and a different perspective. In a managed environment, the check indeed doesn't make much sense (although in my experience a friendly request from the user to the IT department to update software often leads to a quicker adoption of a new version).

However, I hope you do understand that such a feature request targets a very narrow user group and I don't think anyone in the cor

[2022-01-22 10:26] kaustubhmote commented on #8416
I can confirm that the behavior is different in X11 and Wayland, although issue remains similar. I am attaching a graph of the virtual memory usage for JabRef on these two with an identical database (~4k entries). This is with v5.5 on Ubuntu 20.04 (installed via deb)

![analysis](https://user-images.githubusercontent.com/7735086/150634416-3a101628-5f55-41a7-8f8d-4650829ceee9.png)

The initial jump

[2022-01-22 10:29] ChrisK91 commented on #8398
I just came here from the documentation, wondering why I'm unable to add a button. The documentation has a screenshot showing the button as a "plus" on the right https://docs.jabref.org/finding-sorting-and-cleaning-entries/groups . I was really wondering, why I'm unable to find it, until I found this issue.

[2022-01-22 12:55] ThiloteE commented on #8416
Thank you for the report @kaustubhmote. Are you also on gtk 3, or is this on gtk4?

The only thing that has not been tried yet, is to use gtk 4 instead of 3, i think.

Sorry, I personally am out of ideas. Hoping for one of the more experienced maintainers to have a look at this.

[2022-01-22 21:17] ThiloteE opened #8453 "DOI copied from pdf file within firefox not detected via 'Import new entry via ID' dialogue"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

JabRef 5.5--2022-01-17--27a05c7 Windows 10 10.0 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the proble

[2022-01-22 22:09] Siedlerchr commented on #8453
I guess this is an issue in the Firefox pdf js implementation which probably copied some invisible or other characters. Try to paste the Doi in another text editor

[2022-01-22 22:09] #8453 closed

[2022-01-22 22:15] ThiloteE commented on #8453
Meh, turns out one has to copy the empty space next to the DOI as well (left side). One character will be amiss, if not.

Issue is solved.

[2022-01-23 00:03] Siedlerchr commented on #7378
Update (Noe for implementaiton): It should be possible to pass down the bibdatabasecontext to the `CitationStyleGenerator` methods.  We already get a bibdatabasecontext in the generatePreview.
MIght be relevant for https://github.com/JabRef/jabref/issues/8372

[2022-01-23 00:07] Siedlerchr commented on #8372
Just throwing in some idea: We could extend our alias mapping  BibTeX ↔ biblatex here that would also work for cleanup.
https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/model/entry/EntryConverter.java

Either way we need to pass down a bibatabsecontex (see comment in #7378 )

[2022-01-23 18:39] Siedlerchr commented on #7378
Smith, B. (2021). An article (J. Jones, Ed.; pp. 1–10). Great Publisher.

[2022-01-23 19:52] mhnazeri opened #8455 "Systematic Literature Review Cannot create "Medline/PubMed" file on Linux"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Fedora 35 with Gnome 41.3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. S

[2022-01-23 23:31] dimitrisdimos00 commented on #8397
Hey, check this out!
![image](https://user-images.githubusercontent.com/56233132/150702374-ef746fef-ad9f-4b6f-89dd-2c4cf22f831d.png)
![image](https://user-images.githubusercontent.com/56233132/150702586-e954e224-ab0d-437c-ab53-6814472664b9.png)

[2022-01-23 23:38] dimitrisdimos00 commented on #8397
So shall I try moving the titles to the left? I think it is more plausible

[2022-01-23 23:45] ThiloteE commented on #8397
Maybe you can give us screenshots of the few options we have. We could vote :)

[2022-01-24 04:54] kaustubhmote commented on #8416
No issues. Thanks for your input. This was still GTK3. Will try out GTK4 when I get a chance.

[2022-01-24 09:36] ThiloteE commented on #8152
I was not able to make lookahead, lookbehind and conditional if else statements work.

Even if such expressions were possible, the way the `date` and `year` fields are currently captured is too flexible for my use case. I mean, it is NICE that it is the way it is. There is a certain logic behind it and it is a good logic! It's just ... my use case requires a different logic 😅

Example:

Regular ex

[2022-01-24 09:36] ThiloteE commented on #8152
IF, conditional statements were working, having a [MONTH-MINIMUM], as well as [YEAR-STRICT], [MONTH-STRICT] and [DATE-STRICT] field markers, would be the the solution to this thread i think.

- Example for [YEAR-STRICT]: Find YYYY from entry in file-directory. Do not show files that have dates that go beyond. Do not show YYYY-MM-DD or YYYY-MM
- Example for [MONTH-MINIMUM]: Show YYYY-MM and YYYY-MM

[2022-01-24 09:39] ThiloteE commented on #8371
@funnym0nk3y i tried some lookbehind and lookahead constructs in linked file search, but i could not make it work (even though we know it works on regex 101.

If i may ask, was it working for you in JabRef after all, and if yes, could you post the full solution here?

[2022-01-24 12:10] funnym0nk3y commented on #8371
@ThiloteE It did work for me with this exact regex: `[auth:regex("(?<=.\\p{IsLatin})\\b.*|(?<=\\p{IsLatin}{2})\\p{Lu}.*", "")][shortyear]`

[2022-01-24 14:38] dimitrisdimos00 commented on #8397
Here is how it looks when the titles are directed towards the left:
![image](https://user-images.githubusercontent.com/56233132/150803116-52515da5-0305-4723-a446-3a7593932149.png)

[2022-01-24 15:17] phyzhenli commented on #5446
This version is OK.

[2022-01-24 16:32] ThiloteE commented on #8152
Conditionals (lookahead and lookbehind regular expressions) seem to work also with Jabref, but so far only within a string: https://github.com/JabRef/jabref/issues/8371#issuecomment-1020033255

[2022-01-24 16:39] dimitrisdimos00 commented on #8398
Hey I managed to push the button between groups and filter groups

[2022-01-24 16:44] dimitrisdimos00 commented on #8398
![image](https://user-images.githubusercontent.com/56233132/150826255-5e4b4338-4dd8-4af8-a57b-a9075c8196f9.png)

[2022-01-24 16:44] dimitrisdimos00 commented on #8398
shall I make a pr?

[2022-01-24 16:45] Siedlerchr commented on #8398
Yes, please, that makes it easier for us to see the changes

[2022-01-24 16:49] ChrisK91 commented on #8398
Maybe it's also an idea to use different styling? Visually, the "Search" and "Add group" text are equal to "No content in table". There is nothing indicating that these are buttons. Maybe a faint outline or different background color would help.

[2022-01-24 16:51] dimitrisdimos00 commented on #8398
Yeah, I guess we can look into that too

[2022-01-24 17:06] ThiloteE commented on #8397
How would this one look?

![image](https://user-images.githubusercontent.com/73715071/150830048-a316e609-49b4-4d9a-90de-7011dac110e5.png)

[2022-01-24 17:42] dimitrisdimos00 commented on #8397
I don't think I can align all the items completely because the buttons up, down, delete (x) and union (in the case of groups) push the titles (blue text) a little bit more to the left. All the items are centered already...

[2022-01-24 17:59] ThiloteE commented on #8397
Yes, this is the main reason, why i created this thread.

[2022-01-24 18:16] ThiloteE commented on #8397
Oh well. Then let's give it https://github.com/JabRef/jabref/issues/8397#issuecomment-1020167880 a try.

[2022-01-24 18:20] dimitrisdimos00 commented on #8397
Ok I will open a pr then

[2022-01-24 18:38] Siedlerchr commented on #8189
Sorry, missed your question.
I guess it makes only sense when the group type or for example the keywords or the separator changed. For color and icon not

[2022-01-25 04:19] Shinigami commented on #8389
Hello! It's my first time contributing, and I would like to try to work on this issue as it seems no one else is working on it. Also, I've already read the guide on contributing as well as the readme for this repository, but are there any other forms of advice that may help me out?

[2022-01-25 16:17] calixtus commented on #8398
Refs #4681

[2022-01-25 16:34] Siedlerchr commented on #8389
HI, welcome to JabRef! The first step is always trying to reproduce the issue.
Then to find the differences.
As a staring point, the MainTable  code for copying is somewhere in org.jabref.gui.maintable.RightClickMenu
 and the other one (for the field in the Entry Editor)  And for the other one you should take a look  in org.jabref.gui.fieldeditors.contextmenu.EditorMenus

When you have a fix follo

[2022-01-25 20:25] MartinX3 commented on #7614
@Siedlerchr tested with todays build
Same result

[code]

[2022-01-25 20:56] #8397 closed

[2022-01-25 21:00] Siedlerchr commented on #7614
Thanks for the feedback. That is really odd that you encouter this, but this time it's different

[2022-01-25 21:05] MartinX3 commented on #7614
@Siedlerchr thank you for reopening it.
Maybe it helps if I tell you, that I use Arch Linux and Java 17.0.1

[2022-01-26 14:26] mlep opened #8464 "Wiki: replace link"
### JabRef version

Other (please describe below)

### Operating system

Other (please describe below)

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the

[2022-01-26 16:24] funnym0nk3y opened #8465 "Loses table view configuration"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

Sometimes JabRef los

[2022-01-26 16:39] mlep commented on #8397
@dimitrisdimos00 Thanks! Now, titles really look like titles (and buttons look like buttons).

Note: the titles are not vertically centered. They are slightly moved upward.
![ksnip_20220126-173603](https://user-images.githubusercontent.com/6931104/151205984-2e689667-ef6c-47f4-ad9c-73da15286cb0.png)

[2022-01-26 16:49] mlep opened #8466 "Menu "Open terminal here" causes an uncaught exception"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-01-25--2c92eb0 Linux 4.19.0-18-amd64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have

[2022-01-26 17:18] Siedlerchr commented on #8465
In Windows, all settings are saved in the registry. You can also export your preferences to an xml file

[2022-01-26 17:20] Siedlerchr commented on #8464
Thanks, I fixed it!

[2022-01-26 17:20] #8464 closed

[2022-01-26 17:39] ThiloteE opened #8467 "Scrollbar shows up needlessly in group panel, while decreasing the width."
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-01-25--2c92eb0 Windows 10 10.0 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the proble

[2022-01-26 17:41] ThiloteE commented on #8467
Desired behaviour: This special row should show in the same colour as the rest of the background.

[2022-01-26 17:56] ThiloteE commented on #8467
Ohh, it seems to be the scrollbar!

[2022-01-26 18:02] dimitrisdimos00 commented on #8397
Your welcome!

[2022-01-26 18:17] Siedlerchr commented on #8467
Yep, it's the scrollbar. Might be a javafx thing.. Not sure if this changable.

[2022-01-26 18:18] Siedlerchr commented on #8397
@dimitrisdimos00  The central css stylesheet: https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/gui/Base.css
Group css https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/gui/groups/GroupTree.css

Scenic view might be helpful https://github.com/JonathanGiles/scenic-view for debuggin style issues

[2022-01-26 18:20] ThiloteE commented on #8467
I will leave it open for the sake of acknowledging that it exists, but this issue is definitely low priority. More important issues around.

[2022-01-26 18:34] Siedlerchr commented on #8465
The arrows at the bottom allows you to export and import the preferences. The jabref.xml is stored in the program files directory of jabref (if access). Maybe that is the culprit here?

<img width="1142" alt="grafik" src="https://user-images.githubusercontent.com/320228/151224984-c23c936c-f0c4-4e0e-83e4-a52b06a95e2a.png">

[2022-01-26 18:41] funnym0nk3y commented on #8465
Seems strange as it usually works. But it could be connected to the upgrade to 5.5.

Regarding the XML export: Your said the file is saved to the program files folder, right? But when exporting I can save it wherever I want. Is it loaded from there as well? And does the filename matter?

[2022-01-26 18:45] ThiloteE commented on #4877
JabRef 5.6--2022-01-25--2c92eb0
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.1+1

I was able to reliably trigger the behaviour like this:

1. Create new group
2. Immediately remove the new group that was just created. Choose `also remove subgroups`.
3. Click on save.

Most importantly, after the bug triggers once, it does not go away until Jabref was having a restart. So afterwards, every click o

[2022-01-26 19:29] wujastyk commented on #4877
JabRef 5.6--2022-01-24--83c6840
Linux 5.13.0-27-generic amd64
Java 16.0.2
JavaFX 17.0.1+1

I'm not working with groups, but I've had this "library modified" loop quite often recently, just when editing entries or adding a new entry and then changing it slightly.  I have found that I can't get out of the loop.  Whatever I try to solve the "modified" message (accept, dismiss, reject, whatever), the

[2022-01-27 01:08] kenleyshaw commented on #8396
I am new to the Open source community. For one of my courses for college, we have to contribute to a project - this seems like an issue that I may be able to help with. Can you assign this to me please? I'll update along the way as I troubleshoot

[2022-01-27 10:12] tobiasdiez commented on #8396
Welcome to JabRef! To make it easier to get started with developing we have written some guides; please have a look at https://devdocs.jabref.org/contributing and https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace. If you encounter any issues along the way, feel free to ask here or in our [gitter chat](https://gitter.im/JabRef/jabref).

[2022-01-27 11:39] ilippert commented on #7731
dear community,
just asking for clarification - is anybody of you still working on this? It would be so great to see progress on this issue.

[2022-01-27 15:27] ThiloteE commented on #8372
These ones:
- https://github.com/JabRef/jabref/issues/8372#issuecomment-1014941935
- https://github.com/JabRef/jabref/issues/8372#issuecomment-1017372544

At least for "Journal Article".

But it would be nice if somebody else from Jabref could confirm first. I don't want to have made another mistake 😑, although i am fairly sure by now...

[2022-01-27 15:36] ColinScarato opened #8468 "Cancel index background worker when exiting JabRef"
Jabref 5.5 automatically looks for files to autolink with all entries when opening a database. I use a relatively big database whose linked files are stored on a network drive; every time I open it Jabref tries to freshly scan to autolink files, as it probably believes that the files in the network drive might have changed.
This results in 10 minutes of background tasks running, meaning that every

[2022-01-27 16:47] tobiasdiez commented on #8468
Do you really mean the autolink or fulltext indexing? I noticed this problem with the latter but not the former.

I think it would already help with the background task would just be canceled when exiting. There is no need to finish the indexing if you close the app anyway ;-)

cc @btut

[2022-01-27 17:10] ColinScarato commented on #8468
![autolink](https://user-images.githubusercontent.com/55202645/151408599-4288f5cf-dc60-4b27-9ed2-6db9743417bb.png)
That looks like indexing :)

[2022-01-27 21:30] Siedlerchr commented on #8372
@ThiloteE  I added some tests here for biblatex issue and number for the issue for #8372
It uses iee style

https://github.com/JabRef/jabref/pull/8454/files#diff-07e30518c52d06ca3cc113e31b5f27e3ae640d551023779dc4d1f5408dbc21d0

https://builds.jabref.org/pull/8454/merge/

[2022-01-27 23:03] koppor commented on #8372
Confirmed - I checked the source code of the package at https://ctan.org/tex-archive/macros/latex/contrib/biblatex-contrib/biblatex-ieee. Neither `ieee.bbx` nor `ieee.cbx` contain `eid`.  After we came to a conclusion here, we can write the author of that package - or just send him a patch :p

[2022-01-27 23:42] koppor commented on #8372
To summarize the best-of statements:

* "Roughly speaking `number` subdivides `volume` and `issue` is much closer to subdividing `year`. I don't think I would want to say that `issue` is subordinate to `number` or vice versa. They sort of operate on a similar level. (Source: https://github.com/plk/biblatex/issues/726#issuecomment-1010264258)
* "the issue number is traditionally `number` and the ar

[2022-01-28 00:31] ThiloteE commented on #8372
Do it the other way round. Biblatex `number` > Biblatex `issue`.

Reason: "As a rule of thumb number is the right field in most circumstances." - [biblatex documentation](https://packages.oth-regensburg.de/ctan/macros/latex/contrib/biblatex/doc/biblatex.pdf) p. 40.

For CSL issue, take Biblatex `issue`, if only Biblatex `number` exists.
For CSL issue, take Biblatex `number`, if only Biblatex `numb

[2022-01-28 00:41] ThiloteE commented on #8413
@koppor

[2022-01-28 09:29] mercergeoinfo opened #8472 "Character entry interpreted as command shortcut"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

JabRef 5.5--2022-01-17--27a05c7 Windows 10 10.0 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the proble

[2022-01-28 09:48] Siedlerchr commented on #8472
Hm, this is odd. can you post the stacktrace of the exception dialog?

[2022-01-28 17:27] #7378 closed

[2022-01-28 23:04] Siedlerchr commented on #8208
The JabRef browser extension is helpful for importing data, if often includes the abstract as well

[2022-01-29 11:35] #7614 closed

[2022-01-29 11:38] MartinX3 commented on #7614
Please comment in this issue if a new daily build is ready. :)

[2022-01-29 11:48] Siedlerchr commented on #7614
Just merged, will take roughly take around 30minutes. It's currently building
https://github.com/JabRef/jabref/runs/4990928919?check_suite_focus=true

[2022-01-29 12:02] MartinX3 commented on #7614
Rawr fixed, thank you <3

[2022-01-30 12:00] ilippert opened #8475 "doi resolver has a problem"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-01-24--83c6840 Linux 5.15.14-200.fc35.x86_64 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest develop

[2022-01-30 12:10] DOFfactory commented on #8208
Thanks @Siedlerchr, this is certainly possibly, but what I had in mind is more the "Add new entry" option, when one searches for a single DOI, and then imports the additional entry infos.

![image](https://user-images.githubusercontent.com/10846169/151699013-b63f355c-7978-4031-af2a-5e170b064306.png)

This should also include the abstract, because currently it does not. One has to click on the link

[2022-01-30 12:45] Siedlerchr commented on #8208
Yes, I know this is unfortunate, but the doi.org response gives us only the BibTeX back without the abstract. I can only guess, but it may have been something to do with the fact that abstracts are copyrighted.

[2022-01-30 12:52] Siedlerchr commented on #8475
Hi,
this is a problem with the specific DOI or the owner of the DOI. It does not return metadata in bibtex format.
JabRef performs the following request:
[code]

[2022-01-30 12:52] #8475 closed

[2022-01-30 15:09] ThiloteE commented on #8416
If i may ask: How exactly do you two start Jabref?

[2022-01-30 15:12] ThiloteE commented on #8416
I found some information related to one of the earlier error messages in your log:

[code]

https://stackoverflow.com/questions/67854139/javafx-warning-unsupported-javafx-configuration-classes-were-loaded-from-unna

Not sure, if it can help you starting the application properly, or if it is something that would need to be configured within the code of Jabref.

[2022-01-30 15:23] ThiloteE commented on #8416
Also, was this a clear install of Jabref, or did you have an older version of Jabref installed prior? Maybe a reset of the preferences would help? (Back them up before doing this)

![image](https://user-images.githubusercontent.com/73715071/151705902-b5e5dc6c-49e2-4b8a-9407-7619f8319f1d.png)

[2022-01-30 15:49] igibek opened #8476 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-01-30 18:55] Siedlerchr commented on #8476
We are using 0.9.11 Refs https://github.com/GitTools/actions/issues/599

[2022-01-30 18:55] #8476 closed

[2022-01-30 19:01] Siedlerchr commented on #8389
I tested it and it works. For consistency reasons, I would also add the Copy DOI and Copy DOI Url context menu  to the entry editor
<img width="640" alt="grafik" src="https://user-images.githubusercontent.com/320228/151713544-1f8017e6-ea82-4c96-8828-fa83ab787e6e.png">

[2022-01-30 20:41] ThiloteE commented on #8472
Although, i have encountered something similar (Refs https://github.com/JabRef/jabref/issues/8151), I cannot reproduce this with the steps you provide on

JabRef 5.6--2022-01-25--2c92eb0
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.1+1

[2022-01-30 22:32] Shinigami commented on #8389
I agree that there should be consistency between the menus. I've now added this into the PR:
![image](https://user-images.githubusercontent.com/58048740/151720654-a4cbb459-02a1-4f88-9288-254cfdc532d9.png)

[2022-01-30 23:25] RyanEubank commented on #8466
Hello @Siedlerchr, I can confirm this issue persists on Windows 10 when using the latest portable version:

JabRef 5.6--2022-01-30--8ca6b7f
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.2-ea+3

and is reproduced using the steps above in the original post.

I would like to look into this issue myself if possible; I have never contributed to an open source project before but I am quite familiar with

[2022-01-31 04:18] kaustubhmote commented on #8416
I usually use the standalone linux binaries and point a shortcut to `bin/JabRef`. I have tried installing from `deb`, which gives the same results, so does compiling from source using gradle. At some point I thought maybe my database has some errors, but this behavior remains with a test library with a single entry. I tried the preference reset option, but the issue seems to be the same in both X1

[2022-01-31 04:41] ThiloteE commented on #8466
Thank you! I will let Christoph answer your questions, but i just want to add something that might help in solving this:

- `ctrl + shift + L` still works.
- Also, right clicking on a library file and opening a terminal from the corresponding submenu also works.

The only command that fails seems to be `view > open terminal here`

[2022-01-31 08:05] mercergeoinfo commented on #8472
I haven't had time to look at it again but what I can say is that the
problem doesn't occur when editing the BibTex entry (in JabRef). I could
work around the issue by doing just that. So, the error only occurs when
editing the "Required Fields" tab as far I can tell.

On Sun, 30 Jan 2022 at 21:42, ThiloteE ***@***.***> wrote:

--

Andrew

[2022-01-31 09:25] cherrywoods commented on #8416
The first version I tested was installed via snap on a fresh operating system installation.
There may have been old configuration files flying around, as I copied data from my old PC.
However, at least the theme was not carried over to the new JabRef, so I figure no old configuration files were used.

I used these to test the most recent development build, I didn't clean up the snap installation o

[2022-01-31 11:09] Siedlerchr commented on #8472
It would be really helpful if you could add the stacktrace/the error details the next time it happens

[2022-01-31 11:19] Siedlerchr commented on #8466
@RyanEubank  Welcome to JabRef!  From the stack strace it seems the issue arose somewhere here.
 https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/gui/actions/JabRefAction.java

For getting started, just follow the contribution guide: https://devdocs.jabref.org/contributing#contribute-code

[2022-01-31 19:11] wujastyk commented on #8396
+1  Screen real-estate is precious, and this is just a waste.  Note that none of my entrytypes, not one, has an `archiveprefix` field.

![image](https://user-images.githubusercontent.com/762246/151857067-80cf961d-6c8f-408f-a326-216dea459cfc.png)

[2022-01-31 19:48] #8389 closed

[2022-01-31 20:08] koppor commented on #4682
@apurvachuri The plus button used to be next to filter as shown here:

![grafik](https://user-images.githubusercontent.com/1366654/151865044-48cdd3bd-4960-4780-8119-b9946422b8af.png)

We decided to move it away in JabRef 5.3. See https://github.com/JabRef/jabref/blob/main/CHANGELOG.md#removed-2.

[2022-02-01 21:39] ThiloteE commented on #8416
@Siedlerchr would you be able to confirm that JabRefs JavaFX is resolved as named modules? In other words, it is loaded from the module- path and not from the class-path, as per https://stackoverflow.com/questions/67854139/javafx-warning-unsupported-javafx-configuration-classes-were-loaded-from-unna ?

[2022-02-01 21:46] smihael opened #8483 "Better attachments management"
Whenever a new file attachment is added to a bib item (e.g. PDF of an article), it is usually stored in the same folder as the .bib file itself. While this is fine for small libraries, it quickly becomes messy. It would be nice to have an option to keep files in a separate directory, while they would be also linked into sub-directories for different item groups (if item has one).  This would also

[2022-02-01 22:06] Siedlerchr commented on #8483
Thanks for your ideas, however, I think your requirements are already satisfied b JabRef is fairly flexible with linked files and similar to the filename you can specify a file directory pattern (group name is also possible)
See the section in our docs
https://docs.jabref.org/finding-sorting-and-cleaning-entries/filelinks

And for using the groups field:
https://discourse.jabref.org/t/the-function

[2022-02-01 22:13] Siedlerchr commented on #8416
You can ignore the message by JavaFX named modules. It's just a warning and comes by the fact that we merge JavaFX modules and other not yet modularized libraries together into a new module (fairly complex topic) which has a different name. This also does not have an impact.

A typical memory impact: Try to disable autocomplete (if enabled) It has been known to affect the performance.
The most rec

[2022-02-01 22:15] ThiloteE commented on #8416
Thank you!

[2022-02-01 22:16] RyanEubank commented on #8466
Thanks, I believe I found and fixed the issue; just a simple one line change. However, I've noticed the master branch fails a few tests when running gradlew check, unrelated to any changes here. Is this an issue before submitting any pull requests?

[2022-02-01 22:48] ThiloteE commented on #8452
Removing braces altogether may create problems for LaTeX users.
Keeping them will create problems for non-LaTeX users.

Solution:

Semi-automatically convert field contents via clean-up actions and only write metadata afterwards:

![image](https://user-images.githubusercontent.com/73715071/152064388-f371a1e3-77c3-4ba3-8214-a0bde2175bf5.png)

[2022-02-01 23:00] ThiloteE commented on #8446
This freeze is probably caused by indexing linked and attached pdf files to optimize for full-text search. The more attached pdf files you have, the longer the indexing will take. In the newest development version, a preference was added to disable full-text indexing. Would you mind giving some feedback if this would work for you and report, if it solves the freeze?

[2022-02-02 06:29] Siedlerchr commented on #8466
@RyanEubank no worries, if the Unit test pass on CI/ GitHub action it's fine.

[2022-02-02 07:13] Krzmbrzl commented on #8446
I will try to find some time to try out the new version. However, I noticed that when I start JabRef it starts a background task that is about indexing files and the freeze upon the first selected item occurs, even if I wait until that task has finished before selecting any of my entries. This makes me doubt that the freeze is due to the indexing :thinking:

[2022-02-02 16:19] drgibbon commented on #8452
Thanks for the reply, but doesn't your solution imply altering the database contents? I was referring only to what is written to the PDF metadata (in that I don't want to actually remove the braces from the database entries, as they are there for a reason).

[2022-02-02 17:03] ThiloteE commented on #8452
Hmm, I guess then we would need a tick-able preference at `options > preferences > XMP metadata`

[2022-02-03 09:02] cherrywoods commented on #8416
I just tested the latest dev build with the suggested configuration.
The issue is not resolved. Memory consumption is fine on startup and after loading a .bib file. It starts to blow up once I open any entry of the .bib file.

Here is the log, in case this is interesting:
[code]

[2022-02-03 14:51] ThiloteE commented on #8416
So this was on gtk4, with indexing disabled, autocomplete disabled and with x11?

[2022-02-03 17:56] cherrywoods commented on #8416
Sorry, no. This was with gtk3 and wayland, but indexing and autocomplete disabled.
So, this was in the setup where I first encountered the issue, the machine I am normally working with.

[2022-02-03 20:38] Siedlerchr commented on #8372
We should make sure to enforce consistency with https://github.com/zepinglee/citeproc-lua/wiki/Bib-CSL-mapping

[2022-02-04 09:44] mocherry opened #8484 "JabRef writes corrupted library files that can no longer be read, leading to dataloss"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Windows 10 10.0 amd64  Java 17.0.1  JavaFX 17.0.2-ea+3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version a

[2022-02-04 15:23] Siedlerchr commented on #8484
HI, thanks for reporting this. Can you open the bib file with an editor e...g Notepad++ and check the encoding?
It might be that some encoding line is missing

[2022-02-04 16:10] ThiloteE commented on #8483
@smihael did it work out for you? If yes, we could close this issue, right?

[2022-02-04 22:00] smihael commented on #8483
According to the documentation entries linked above, most of the functionality I suggested in the original post is present.
Filelinks combined with other things in Quality menu in JabRefare are indeed quite flexible. Scheduling auto-linking and watching for directory/group renames probably fall into the category of "requests for completely new features", so probably better place to formulate them

[2022-02-04 22:00] #8483 closed

[2022-02-05 14:51] ilippert commented on #6294
I updated the original suggestion of this issue, because I start to see a more generic issue: the more books, edited volumes, I have in my database, the more I want specific fields of parent entries shown in the entry table for the child entry. I am not sure we can define a positive list for which fields are to be inherited; so I wonder whether it would be possible for the user to flag certain fie

[2022-02-07 08:10] Kai-Franke-DLR opened #8485 "GUI unresponsive when changing fields and being connected to shared database"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Windows 10 Pro Build 19041.1415

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

[2022-02-07 18:48] Siedlerchr commented on #8485
Thanks for the report and your detailed analysis.  This is very helpful.

This seems like a good first step. Can you provide a PR with the changes or a patch?

I think the bottleneck is probably the `synchronizeLocalDatabase` which could be executed in a background thread. Can you please test with this commit as well?
https://github.com/JabRef/jabref/commit/2b78ac7cb20713885c9ab3b9ce4cee0790b8cd22

[2022-02-07 22:05] tobiasdiez commented on #8484
I think something is seriously broken in the file writing algorithm in recent versions. I managed to corrupt my own library by exiting JabRef forcefully during the writing process. Also I have now constantly a `sav.tmp` file lying around.

Flagging this as devcall, to bring it up for eveyones attention and hopefully it will be fixed soon (maybe even with a hotfix release).

[2022-02-08 18:12] JasonGross opened #8490 "LaTeX to Unicode formatter should not replace `\%` with `%`"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Create the following

[2022-02-08 18:42] suppenkaspar109 opened #8491 "XMP Writer incomplete"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

Win 11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Create pdf with dummy me

[2022-02-08 19:15] Siedlerchr commented on #8490
Well, technically this is the correct behavior, it converts everything to Unicode.  What you probably want is to use the LaTeXCleanup formatter as well. That respects those things
https://docs.jabref.org/finding-sorting-and-cleaning-entries/saveactions#latex-cleanup

[2022-02-08 19:21] JasonGross commented on #8490
Technically correct but practically wrong.  LaTeXCleanup will fix the issue with `%` but will not escape `$`, right?  I want a transformer that will transform LaTeX to Unicode-aware LaTeX, preferring Unicode characters when available.  What use is "LaTeX to Unicode" if it generates text that breaks the .bib file?

[2022-02-09 07:53] #8466 closed

[2022-02-09 08:23] mlep commented on #8466
I can confirm the issue is now fixed
Thanks @RyanEubank!

[2022-02-09 09:57] iTao8 opened #8493 "Add new entry via arXiv id"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

JabRef 5.6--2022-02-09--de114d5 Mac OS X 11.6.4 x86_64  Java 17.0.2  JavaFX 17.0.2-ea+3

### Checked with the latest development build

- [x] I made a backup of my libraries before testing the latest development version.
- [X] I have tested t

[2022-02-09 10:08] ThiloteE commented on #8416
how can i reproduce the measurements mentioned in https://github.com/JabRef/jabref/issues/8416#issuecomment-1019164316 ? Which program or commands did you use?

[2022-02-09 10:17] Kai-Franke-DLR commented on #8485
The changes within #8494 fix the delay caused by database syncs. The only thing I found to be an issue with the JavaFX thread was the _UpdateRefusedEvent_ posted by _DBMSSynchronizer.synchronizeSharedEntry_ when entries should be merged (creates a popup dialog). This event is therefore posted within the JavaFX thread.

Are there any other GUI reactions in correlation to the listeners reaction I sh

[2022-02-09 10:30] kaustubhmote commented on #8416
Before starting, I started logging the memory usage for Jabref on a separate terminal using a bash script that saves the output from `ps` every second

[code]
[code]

The virtual memory column (VSZ) in `jabref.log` is plotted using matploltib.

[2022-02-09 10:37] Siedlerchr commented on #8485
thanks a lot  for your fixes! This is really great! I will test this later as well
I guess you also need to wrap this in the FXTask (see my commit):
in synchronizeLocalDatabase
[code]

[2022-02-09 20:11] Siedlerchr commented on #8485
I noticed a bug in your code, the code wrapped in the BackgroundTask was never executed.
I tested a bit around and also added some synchronized to prevent concurrent thread modificaitons

[2022-02-11 00:51] ThiloteE commented on #7049
Syntax that works for

JabRef 5.6--2022-01-30--8ca6b7f
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.2-ea+3

and which is documented in JabRef docs [here](https://docs.jabref.org/finding-sorting-and-cleaning-entries/groups#using-a-free-form-search-expression)
- **included**
   use explicit selection

- **excluded**
   use the free search expression:
   `not groups=included and readstatus=read`

-

[2022-02-11 09:43] Accacio commented on #6188
Does this fulltext search work with text files linked to an entry? I use text files for my comments, and I cannot search the terms in the files.

[2022-02-11 09:53] ThiloteE commented on #6188
I just tried it with a .txt file on

JabRef 5.6--2022-01-30--8ca6b7f
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.2-ea+3

and entering something into the JabRef search bar yielded zero results, so to answer your question, it does not seem to work with text files linked to an entry.

[2022-02-11 16:35] LesPaulus opened #8498 "Change default citation style in JabRef Word-AddIn"

[2022-02-11 18:24] Siedlerchr commented on #8493
May have been some temporary issue, I cannot reproduce this.

[2022-02-11 18:24] #8493 closed

[2022-02-12 19:33] ivanuclm opened #8497 "Check SourceSpy"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 21.04

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Click the Sour

[2022-02-13 15:09] tobiasdiez commented on #8468
While the option to completely disable index is certainly very nice to have (thanks @btut!), the issue that the index background worker is not cancel automatically when JabRef is closed still remains.

[2022-02-14 09:08] LesPaulus commented on #8498
My mistake! Thank you very much for moving the question.

[2022-02-14 09:29] Siedlerchr commented on #8498
I'm a bit confused i must say, so you are using the Export of JabRef to Microsoft Word XML? Or how do you go ahead?

[2022-02-14 09:58] ColinScarato commented on #8468
I'm not sure why it fails to recognise indexed files, it doesn't show me more info. I just saw that it does it correctly locally, but not on that shared drive.
Disabling indexing is fine to me personally. Given that we don't have a completely streamlined pdf organisation yet, and that auto-indexing seems to fail for network shares anyway, we link the pdfs manually.

[2022-02-14 10:30] LesPaulus commented on #8498
Sorry, if it was unclear. The background is: I am using JabRef as my citation software. In the JabRef software, I manage my files. Since I am writing manuscripts and such in Microsoft Word, I installed JabRef as citation software and have it implemented in Microsoft Word as an AddIn. There one defines the citation style, which is displayed at the end of the document (default mode is 'plain'). And

[2022-02-14 10:31] ColinScarato commented on #8468
Yes I tried to let it run (on several PCs). I'm not sure if I can see logs of what happened.

[2022-02-14 10:35] btut commented on #8468
Thanks. I don't think there would be logs as I don't have any idea why this could be failing. Could you share:
- what operating system you use
- what kind of network share you are using
- how you mount the network share

Then I could investigate what the issue may be.

[2022-02-14 11:55] tobiasdiez commented on #8468
For me it seems to just iterate the files, without actually indexing it. But even this takes about a minute for 2k entries. I could imagine that on a shared network service it is even slower.

No, I just want that it exists immediately without any user interaction, and then picks up the reindexing once I start JabRef again. I don't think indexing is such an important task that needs to be finished

[2022-02-15 19:36] dhasterok opened #8504 "multiple paste of doi into new entry dialog and selected reference"
### JabRef version

5.5 (latest release)

### Operating system

macOS

### Details on version and operating system

macOS 12.1 (21C52)

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. select a refer

[2022-02-16 19:59] Siedlerchr commented on #8504
There is a bug in javafx regarding pasting on mac which duplicates entries, therefore we have a kind of temporary fix based on which window is focused, so if the entry editor is selected it will be used as paste target otherwise the main table.

However, you can also directly paste the DOI on the main table, JabRef will automatically resolve the doi.

[2022-02-16 20:02] Siedlerchr commented on #8497
SourceSpy is an external service not operated by JabRef.  It was integrated by @alexkarezin Maybe he has some information about it

[2022-02-16 20:02] #8497 closed

[2022-02-17 14:00] Accacio commented on #6188
Thank you, maybe this issue should be reopened, @koppor ?

[2022-02-18 09:48] Accacio opened #8505 "Support other file types for fulltext search"
As discussed in #6188, not all files linked with an entry are used in fulltext search. A search for terms in a simple text file (.txt or .org) yields zero results.

Tested with
JabRef 5.5--2022-01-17--27a05c7
Linux 5.4.0-73-generic amd64
Java 16.0.2
JavaFX 17.0.1+1

and with
JabRef 5.6--2022-01-30--8ca6b7f
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.2-ea+3
(@ThiloteE )

[2022-02-18 09:49] Accacio commented on #6188
Thank you, just did it

[2022-02-18 19:21] koppor commented on #8484
Improved writing introduced at https://github.com/JabRef/jabref/pull/8238

I will search for the place where an exception is thrown during writing. I will then try to continue writing at this point (and also try to write the exception to a File to allow easier debugging).

We did not change the `.sav.tmp` logic (yet). Relates to https://github.com/JabRef/jabref/pull/6694.

[2022-02-18 19:33] koppor commented on #8372
We need to have call with @ThiloteE. Please write to my email when you have time. For me, after 20:30 CET would be great!

Discussion points:

- Different BibTeX and BibLaTeX behavior? -- JabRef has support for these two modes, and they should be considered.
- Write down test cases for different renderings in Java - This is a preparation required by us for the call. The basis is https://github.com

[2022-02-18 21:16] alexandre-cremieux commented on #8448
Hi!

I have a proposal for this issue. @Siedlerchr could you please take a look?

#https://github.com/alexandre-cremieux/jabref/commit/44233003bccc9693d68d934d88792e32fe48e95b)

[2022-02-18 21:56] Siedlerchr commented on #8448
@alexandre-cremieux  Cool! Pleas open a PR so we can see review your changes

[2022-02-19 00:59] koppor commented on #8484
@mocherry Could you send me your original bib file? My email address is available on my GitHub profile.

[2022-02-19 08:41] goodluck1982 opened #8507 "Problem when searching DOI"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 20.04 with Plasma 5.18.8

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

[2022-02-19 10:39] Siedlerchr commented on #8507
Can you pleas copy the whole error text /stack trace here? Thar helps us to locate the root cause

[2022-02-19 10:51] goodluck1982 commented on #8507
[code]

[2022-02-19 13:03] alexandre-cremieux commented on #8448
As this is my first PR on JabRef, it has beed opened has a draft. Please tell me is anything is wrong in the process ;)

[2022-02-19 16:19] rolandog opened #8509 "JabRef ignores Djava.util.prefs.userRoot"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 21.10 x86_64 with GNOME 40.5

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behav

[2022-02-19 17:26] rolandog opened #8510 "unknown trigger for MalformedURLException and possible 'file' field disappearance from some entries"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

jabref_5.6-1_amd64.deb on Ubuntu 21.10 x86_64 with GNOME 40.5

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persist

[2022-02-19 18:23] Siedlerchr commented on #8510
I had the same problem with semantic scholar links, did you import the entries via the JabRef browser extension?

[2022-02-19 18:40] rolandog commented on #8509
I was trying to verify if this may be an upstream bug, but it seems that [users may be able to partially override the configuration location](https://bugzilla.redhat.com/show_bug.cgi?id=1154277), so it's possible that this is an actual bug.

[2022-02-19 19:33] Siedlerchr commented on #8509
I am having no LInux here atm and first time I hear about this.
JabRef ships with it's own jdk version, can you try to modify the launch script under jabref/lib/runtime
See here for  to adjust the launcher:  https://discourse.jabref.org/t/hidpi-scaling-ignored-in-jabref-5-2/2512/3?u=siedlerchr

[2022-02-19 20:12] rolandog commented on #8510
Hey @Siedlerchr , thanks for your response.  To be perfectly frank, I can't remember if these particular entries I had imported with the extension; though I do use in some occasions the JabRef extension in Firefox, sometimes I manually import and fill-in some fields when I'm sure that the citation is something more complicated (which was most likely the case for this lengthy report).

As a matter

[2022-02-19 21:15] rolandog commented on #8509
Hi @Siedlerchr , thanks again for your response!

I tried the following options:

- Setting `[JavaOption]`'s value in `/opt/jabref/lib/app/` to `java-options=-Djpackage.app-version=5.6.47 -Djava.util.prefs.userRoot="$XDG_CONFIG_HOME"/java`
- Inserting the previous option right after `"$DIR/java"` in `/opt/jabref/lib/runtime/bin/JabRef`
- Testing and adding the options to the `$CDS_JVM_OPTS` variab

[2022-02-19 21:58] Siedlerchr commented on #8510
I think I found a way to reproduce it
In the General Tab -> File -> Download from Url (the second icon). Enter this url or a similar one:
https://www.tandfonline.com/doi/pdf/10.1080/10584609.2019.1686094?needAccess=true

I now also get the exception:
[code]

[2022-02-19 22:25] Siedlerchr commented on #8510
Refs #7948 which now causes problems

[2022-02-19 22:45] Siedlerchr commented on #8510
Solution: Check if string value starts with a colon or  has at least two colons or three, then go ahead and parse normally using the existing code.
Otherwise, if we have an export from citavi e.g. where only a` file = {http://google.com/}` is added.
Maybe we need a better url detector? https://stackoverflow.com/a/6893975/3450689

[2022-02-19 22:57] Siedlerchr commented on #8509
NO idea, though, JabRef does use the normal Java preferences mechanism, so the thing should work. Have you tried with the absolute path in the switch?

I only found this guide which mentions this in the last section as well
https://docs.oracle.com/en/java/javase/17/core/preferences-api1.html#GUID-2DAC3DD0-993A-41A8-8CDC-F8E3A72E1AE3

[2022-02-20 14:01] rolandog commented on #8509
Interesting... I went ahead and did some poking around, and I had many things to report back, so... sorry for a huge write-up.

### Java options

So, I wanted to learn a bit more about the options passed on to `java`, and---to my surprise---the first line was confirming that it had properly detected the `_JAVA_OPTIONS` environment variable:

[code]

And this was also the case for the bundled `java

[2022-02-20 14:23] rolandog commented on #8509
Reporting back...

Modifying the Exec path launched JabRef, but it still created `$HOME/.java`.

Setting the environment variables with PAM worked properly (even got a `jabref-JabRef.desktop[6904]: Picked up _JAVA_OPTIONS: -Djava.util.prefs.userRoot=/home/rolandog/.config/java` in the syslog).  But, `$XDG_CONFIG_HOME/java/.java` was still created.

[2022-02-20 14:39] rolandog commented on #8509
Ok, after testing with a different app, I can conclude that this isn't a JabRef-specific bug, since other java-based apps also create a `.java` directory at the specified target directory.

I'll see if I can report it upstream, though the fix would probably have to take into account Hyrum's law, and check if there's a `.java` dir inside the target `java.util.prefs.userRoot` before creating a `.use

[2022-02-20 14:39] #8509 closed

[2022-02-20 14:47] Siedlerchr commented on #8509
Thanks for the writeup! Thanks for the confirmation that the .java is created by JDK by default.  You can report bugs in java here: https://bugreport.java.com/bugreport/

[2022-02-20 14:50] rolandog commented on #8510
Huh, in my case I got a "Server returned response code: 503 for URL: ..." exception in a small pop-up.  That was new to me.

The exception stacktrace was:
[code]

But, when checking the logs:

<details>
<summary>MalformedURLException also in the logs</summary>

[code]
</details>

So, the MalformedURLException did show up in the logs.  Now it's reproducible!

[2022-02-20 14:51] rolandog commented on #8509
Thanks for the pointer, I didn't know where to start looking that up, as I'm not that familiar with Java.

[2022-02-20 16:13] rolandog commented on #8509
So, one of the requirements in order to submit a bug was to test with the latest early access version of Java.   I created a backup copy of `/opt/jabref` and replaced the available files in `/opt/jabref/lib/runtime` with the files from `openjdk-19-ea+10_linux-x64_bin`, but I'm getting the following output:

[code]

After googling a bit, it seems like this may have to do with [how the classes are d

[2022-02-20 17:35] jmmelko opened #8512 "[title] field marker in filename formattere does not concatenate words as explained in the docs"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-01-19--ff47dae Windows 10 10.0 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the

[2022-02-20 18:24] wujastyk opened #8513 "Can't generate new subsidiary bib file from aux file"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-02-15--b33ebfb Linux 5.13.0-28-generic amd64  Java 17.0.2  JavaFX 17.0.2-ea+3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I

[2022-02-20 19:36] Siedlerchr commented on #8513
The error reason is the same as in #8510.
You are lucky I just fixed this in a PR, can you test this version? https://builds.jabref.org/pull/8514/merge/

[2022-02-20 19:56] wujastyk commented on #8513
JabRef 5.6-PullRequest8514.51--2022-02-20--e7b38d4
Linux 5.13.0-30-generic amd64
Java 17.0.2
JavaFX 17.0.2-ea+3

Unfortunately, same error.

[2022-02-20 20:14] Siedlerchr commented on #8513
Ah I think I need to modify the url detection algorithm again, because of the www

[2022-02-21 14:08] Krzmbrzl opened #8516 "Journal abbreviations are missing periods"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

KDE Neon 5.24 (built on Ubuntu 20.04)

### Checked with the latest development build

- [ ] I made a backup of my libraries before testing the latest development version.
- [ ] I have tested the latest development version and the problem persists

### Steps to reproduce the beh

[2022-02-21 14:12] Krzmbrzl commented on #8516
Note: I tried to run the latest linux portable version of JabRef dev-build, but it doesn't start for me due to some incompatible JavaFX version.

[2022-02-21 19:59] k3KAW8Pnf7mkmdSMPHz27 commented on #8512
Hello @jmmelko.
I am 99% sure it is the documentation.
In a nutshell, it isn't complete. The bracketed patterns work a little bit differently depending on if you are generating a file name (where spaces are allowed) compared to a citation key (where they are usually not), and we have only documentation for generating citation keys.

I don't know if it would be enough to add another section on that

[2022-02-22 07:13] Krzmbrzl commented on #8516
Ah okay, thank you :+1:

In that case, I guess that this issue here is superfluous

[2022-02-22 07:13] #8516 closed

[2022-02-22 14:38] ladyteam opened #8522 "Words specified as italic in title (Latex command) only appear as squares"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Opensuse Tumbleweed

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

The simple

[2022-02-22 17:48] addak commented on #8491
Hi
If this issue isn't taken up, could I have a go at it?

[2022-02-22 17:52] Siedlerchr commented on #8491
@addak  Sure, but I recommend waiting until #8521  is merged to avoid any conflicts. You may however already make yourself familiar with the XMP-Importing.

[2022-02-22 18:09] addak commented on #8491
Regarding that, is this page sufficient : https://docs.jabref.org/advanced/xmp ? Or are there further resources that would be helpful?

[2022-02-22 18:25] Siedlerchr commented on #8491
That looks good so far, codewise the classes in org.jabref.logic.xmp are relevant. We also have unit tests for the import/export. So that should give you a good starting point. Otherwise for more advanced questions about XMP @btut might be helpful

[2022-02-22 19:36] Siedlerchr commented on #8522
Yeah, and I still encounter this under mac as well.
<img width="1156" alt="grafik" src="https://user-images.githubusercontent.com/320228/155197864-483bcd83-a585-4a1a-ba98-bcc9e3b74669.png">

@k3KAW8Pnf7mkmdSMPHz27  Did you ever find a workaround/solution for this?
Refs #2784

[2022-02-23 11:26] pcdi opened #8523 "User-installed font not usable in custom theme CSS"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Microsoft Windows 10 Enterprise Version 20H2 (Build 19042.1526)

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development

[2022-02-23 14:03] shivaway opened #8524 "Grouping using custom fields sometimes"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Windows 10H2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to repr

[2022-02-23 14:36] ThiloteE commented on #8524
No problem with Jabref, just wrong syntax in your configuration. Puh 😄

Here, your bib file in a way that works:
[test.zip](https://github.com/JabRef/jabref/files/8125070/test.zip)

**Detailed solution:**

1. Remove   the brackets `[` and `]` from `[entrytype]      = {Report},`.
   It triggers the following error:
![image](https://user-images.githubusercontent.com/73715071/155339078-e6dd3d98-df2b-

[2022-02-23 14:40] #8524 closed

[2022-02-23 16:09] k3KAW8Pnf7mkmdSMPHz27 commented on #8522
Nope, I didn't look at it further. Back in https://github.com/JabRef/jabref/issues/3356#issuecomment-635531500 it was quite easy to trigger by resizing the window.

[2022-02-23 16:49] addak commented on #8491
Hi!
I have a question
So I can see that we have an extractType method where it states that Type from both DC & BibTex are the same. Since I'm referring https://www.dublincore.org/specifications/dublin-core/usageguide/2001-04-12/generic/#type for DC type usage and https://www.bibtex.com/f/type-field/ for bibTex Type usage, I can see that it's not the case....

[2022-02-23 17:25] Siedlerchr commented on #8522
Hm, okay, I played a it around with it, and NFC + NFD both do render squares.  The other two spit out normal text.
I noticed that with css I can style the whole content in italic. So it can be displayed in theory.

[2022-02-23 17:28] Siedlerchr commented on #8523
Thanks for the feedback! This seems to be a java/JavaFX Bug:
 https://bugs.openjdk.java.net/browse/JDK-8281327
Meanwhile, I guess it makes sense to adjust the documentation and add a section for Windows regarding custom fonts.
https://github.com/JabRef/user-documentation
It would be nice if you add a section.

[2022-02-23 18:04] wujastyk opened #8525 "bad install from .deb"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

5.6.53-1 on linux mint

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

###

[2022-02-23 18:10] Siedlerchr commented on #8525
Oops that was me :( Didn't know the telemetry stuff still uses that)

[2022-02-23 18:14] addak commented on #8491
Okay, so

Is the 'entrytype' , If I'm not mistaken?

[2022-02-23 18:35] k3KAW8Pnf7mkmdSMPHz27 commented on #8522
Perhaps it is still the fonts? JavaFX seems to have had a lot of issues with them, and I can't replicate this issue in Ubuntu 20.4.

[2022-02-23 23:22] shivaway opened #8527 "Grouping on Entrytype with"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Version 10.0.19044.1526

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### St

[2022-02-23 23:43] ThiloteE commented on #8527
Have i not solved this here: https://github.com/JabRef/jabref/issues/8524 ? Is this the same problem @shivaway

[2022-02-24 00:44] shivaway commented on #8527
I'll try it tomorrow morning. Thank you!

Sent from Yahoo Mail on Android

  On Wed, Feb 23, 2022 at 5:43 PM, ***@***.***> wrote:

Have i not solved this here: #8524 ? Is this the same problem @shivaway ?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message

[2022-02-24 07:36] ilippert opened #8528 "cannot start jabref - .jabref.gui.FallbackExceptionHandler.uncaughtException"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

fedora 35, master from 2022-02-22

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce th

[2022-02-24 07:50] #8525 closed

[2022-02-24 07:56] Siedlerchr commented on #8528
yes, hast just been fixed was related to the telemetry

[2022-02-24 07:56] #8528 closed

[2022-02-24 07:56] #8072 closed

[2022-02-24 08:09] Siedlerchr opened #8529 "Update Application Insights to 3.x"
As 2.x is no longer working we should upgrade to 3.x
3.x comes as JavaAgent. can either be static configured or loaded at runtime.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config

Convert existing code and adjiust configuraton.

Furthermore we can use sl4j logging MDC to pass custom data. This option should be evaluated

**Is your suggestion for improvement related

[2022-02-24 13:37] shivaway commented on #8527
Just tried the development build.  The good thing is that it doesn't search the Title anymore; however the grouping with entrytype still has some issues.  I changed the entrytype to Protocol and it found all of them, but then I changed it to calibration and it still was finding Protocol.
Still something wacky going on.
Thank you!  This is a great program!
    On Wednesday, February 23, 2022, 06:44

[2022-02-24 16:37] ThiloteE commented on #8527
if you have an entry like this:

[code]

searching by keyword `protocol` will still find this entry.
searching by keyword `calibration` should not find this entry.

[2022-02-24 16:58] Siedlerchr commented on #8491
Cool! Regarding dates, this should not be a problem to store incomplete dates (at least according to the spec(
https://www.dublincore.org/specifications/dublin-core/dcmi-terms/terms/date

This refers also a bit to #2753

[2022-02-24 20:28] shivaway commented on #8527
I agree.  This is what I'm seeing.

the Report Group is :
When I choose it, I get:

    On Thursday, February 24, 2022, 10:38:01 AM CST, ThiloteE ***@***.***> wrote:

if you have an entry like this:
@calibration{test,
  entrytype = {protocol},
}

searching by keyword protocol will still find this entry.
searching by keyword calibration should not find this entry.

—
Reply to this email directly, v

[2022-02-24 20:47] Siedlerchr commented on #8527
You have to post images here on GitHub they are not visible when you answer via mail

[2022-02-24 21:15] shivaway commented on #8527
Sorry, I tried to post the following showing what was happening.
![1645734423318blob](https://user-images.githubusercontent.com/51136278/155608802-6af5beb1-ffdd-49ba-9ba0-5cfbc5cb7124.jpg)
![1645734464735blob](https://user-images.githubusercontent.com/51136278/155608806-8620798f-6be9-458e-9f85-72c699a3c0fc.jpg)
![1645734494055blob](https://user-images.githubusercontent.com/51136278/155608807-10d8b

[2022-02-24 22:11] ThiloteE commented on #8527
So i take it this issue is solved?

[2022-02-24 22:26] shivaway commented on #8527
Not really.  If you look at the images, you can see that the Report group pulls up the Protocols.    On Thursday, February 24, 2022, 04:12:00 PM CST, ThiloteE ***@***.***> wrote:

So i take it this issue is solved?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mention

[2022-02-24 22:28] ThiloteE commented on #8527
You know, hope is the greatest of all treasures 🤣

Anyway. i think it would be nice if you could upload the data of the entries here. They example file you uploaded in your first post holds different examples that are different to the pictures you show us.

[2022-02-24 22:49] ThiloteE commented on #8527
In the first example you uploaded none of the entries hold such a field:   `entrytype  = {Report},`

Therefore, the following statement is incorrect, because the items are NOT there:

As soon as i add `entrytype  = {Report},`, it will be added to the group.

I repeat, you are confusing entry type and entrytype. To make it more clear to you: One of them is a custom entry type defined under `options

[2022-02-25 03:29] shivaway commented on #8527
I think I understand. I'll figure it out when I get into work tomorrow morning.

Sent from Yahoo Mail on Android

  On Thu, Feb 24, 2022 at 4:49 PM, ***@***.***> wrote:

In the first example you uploaded none of the entries hold such a field: entrytype = {Report},

Therefore, the following statement is incorrect, because the items are NOT there:

4. The group will find nothing, even though two ite

[2022-02-25 07:33] ThiloteE commented on #8527
![image](https://user-images.githubusercontent.com/73715071/155673841-524a05b5-ca82-48a2-ac79-828a4696479b.png)

[2022-02-25 08:05] ThiloteE commented on #8527
But i also have to say that you might be right that something is off there.

Using your library from [here](https://github.com/JabRef/jabref/issues/8527#issue-1148686371):

1. When the keyword is report (hence within the group) and i change the keyword to `xyz` the entry gets removed from the group. Then when clicking UNDO (ctrl + z) three times, the entry is back in the group, but the keyword is

[2022-02-25 11:27] shivaway commented on #8527
Absolutely. That was my plan, once I get back to work. Thanks for being so patient with me!

Sent from Yahoo Mail on Android

  On Fri, Feb 25, 2022 at 2:05 AM, ***@***.***> wrote:

But i also have to say that you might be right that something is off there.

Using your library from here:

   -
When the keyword is report (hence within the group) and i change the keyword to xyz the entry gets remove

[2022-02-25 14:12] shivaway commented on #8527
I think it does have the conflict.  I added a new field to each of the types called customentrytype and changed the reports to use customentrytype for the search and it now reports 5 instances.  It contains the two reports but still contains all the protocols, none of which have "Report" in any field.  In fact, that type doesn't even have the customentrytype field.  I'm uploading the current .bib

[2022-02-25 15:32] ThiloteE commented on #8527
Just for the record, when i try to import your library, i get this message:

![image](https://user-images.githubusercontent.com/73715071/155742562-1661963d-3df2-4526-a3ab-9bd395076ef5.png)

[2022-02-25 15:41] ThiloteE commented on #8527
When i imported the library, all three of the entries with entry type Protocol, had `report` in customentrytype. Therefore, the second part of the following sentence is not true:

[2022-02-25 15:54] ThiloteE commented on #8527
What we found out so far point to three things:

1. Jabref fails at reading and depicting the keyword from a customized entry field within the required fields entry editor tab under certain circumstances (see [this comment](https://github.com/JabRef/jabref/issues/8527#issuecomment-1050624479)) (i can reliably re
2. You could have misconfigured Jabref, because whenever i try to import your library,

[2022-02-25 16:07] ThiloteE commented on #8527
Also, please change the name of this issue to something that makes this issue easier to find for people that have similar issues.

E.g.: Grouping by searching for keywords within customized fields

[2022-02-25 17:06] shivaway commented on #8527
Thank you very much! I'm not sure how I could misconfigure it from the menu's, but I'm willing to accept that.
    On Friday, February 25, 2022, 10:07:36 AM CST, ThiloteE ***@***.***> wrote:

Also, please change the name of this issue to something that makes this issue easier to find for people that have similar issues.

E.g.: Grouping by searching for keywords within customized fields

—
Reply to

[2022-02-25 19:17] ThiloteE commented on #8527
Thanks Christoph, i might do some tests one of these days.

@shivaway check github, i uploaded a picture.
![image](https://user-images.githubusercontent.com/73715071/155774633-c1c802c9-7739-4805-9f18-fc25ee866e04.png)

[2022-02-25 22:22] shivaway commented on #8527
Interesting.  Looking at the source, I can see the error and have no idea why I put "Report" for Customentrytype.  What's even more fun is the non-customized entryetype has three items, when on the edit screen, I can see only one.
![Screenshot 2022-02-25 162001](https://user-images.githubusercontent.com/51136278/155810979-6184b234-fbd5-4f3e-b68f-eefcca60b3a3.jpg)

This is from the zip file I sent

[2022-02-26 11:38] #8448 closed

[2022-02-26 13:00] shivaway commented on #8527
Interesting. This was a newly created library from scratch to demo to some others.
I'll start over.
Thanks!

Sent from Yahoo Mail on Android

  On Sat, Feb 26, 2022 at 2:35 AM, ***@***.***> wrote:

I cannot reproduce neither the undo, nor the other phenomenon described in #8527 (comment) and also not the "one keyword in edit screen while there are three keywords in {} bibtex source" issue with a m

[2022-02-26 17:37] addak commented on #8491
I've created a PR for the issue. @Siedlerchr

[2022-02-26 18:22] Siedlerchr commented on #8491
Thanks, I will take a look when you're ready! Please check any relevant failing tests ( FetcherTests probably not relevant)

[2022-03-02 16:54] RJDan opened #8538 "OpenJDK crashes frequently"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu Jammy Jellyfish (development branch) Linux 5.15.0-22-generic x86-64

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem per

[2022-03-02 17:15] ThiloteE commented on #8538
If i may ask, which method did you use to install Jabref?

[2022-03-02 18:45] Siedlerchr commented on #8538
From the log it seem the crash happened after pasting something and I can only judge that this has something to do with the Clipboard.

We add this call. Maybe this is some Ubuntu specific thing?
https://github.com/JabRef/jabref/blob/bb011c9313367a28990ae213b3920fe6cd10d1dc/src/main/java/org/jabref/gui/fieldeditors/EditorTextArea.java#L37

[code]

[2022-03-02 19:10] RJDan opened #8539 "Add www.biodiversitylibrary.org to the websearch options"
Older literature is not easily recovered by the available databases (particularly books).

**Describe the solution you'd like**
Have https://www.biodiversitylibrary.org/bibliography added to the available databases to aid in searching for (in this case, biology) material.

[2022-03-02 20:07] RJDan commented on #8538
I installed with the deb file (I needed to use this method in order to cite in LibreOffice).
I am running swaywm (wayland and wl-clipboard) so that might have something to do with the clipboard issue.

[2022-03-03 18:50] Ankush142930 commented on #8539
Hey, I am Ankush. I am a newbie programmer, but I really want to contribute to this project(Open-source in general). Could you please guide me to resolve this issue?
I only know java, dsa and currently learning web development.

[2022-03-03 18:54] 00riddle00 commented on #5867
ditto (Arch + i3wm).

[2022-03-03 19:08] Siedlerchr opened #8540 "Cannot generate bibliography in LO"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

mac os BigSur
### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reprod

[2022-03-03 19:12] Siedlerchr commented on #8539
Welcome to JabRef! Check out our Contribution Guide https://devdocs.jabref.org/contributing
As a starting point, look at the Fetchers in org/jabref/logic/importer/fetcher

[2022-03-03 20:38] Ankush142930 commented on #8539
Okay, thanks a lot @Siedlerchr. I will do the aforesaid.

[2022-03-04 16:50] ImpracticalDogg opened #8541 "JabRef inserts incorrect keys"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

8.1 with Classic Shell

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Open new

[2022-03-04 17:34] addak commented on #7925
Hi
I've started looking into this...
So yeah I tried this rather naively
[code]
And it works fine. so yeah, any idea how I can go about debugging the flow from cli input? O I could add temp logs, build and deploy the exe, and see how it works but I'm not sure how to go about that either

[2022-03-05 09:58] NYH-Dolphin commented on #8235
Hi, I am a junior student and now I am learning software engineering. I have read your development documentation https://devdocs.jabref.org/contributing.
I am wondering whether I can try to solve this problem. Am I the first person who proposed to solve this problem?

[2022-03-07 14:25] Insomniac66 commented on #8513
I ran into the same issue (logfile aside) after setting up a newer TeXLive environment. After a little investigation, it turned out that the citations in the aux file now look like this
[code]
instead of like this
[code]
I am guessing this causes the regex `CITE_PATTERN` in the [DefaultAuxParser](https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/logic/auxparser/DefaultAuxParser.j

[2022-03-07 17:59] addak commented on #8455
Hey
I think maybe this could solve it
[code]
Not sure if this is intended, but the fetcher name ought to be changed if the name itself is "Medline/Pubmed.bib"

[2022-03-07 18:13] Siedlerchr commented on #8455
@addak  Thanks for looking into it. For the name of the folder, I guess a simple fix would be to use JabRef's FileNameCleaner  to ensure that the filanme is valid. It replaces illegal characters

[2022-03-07 18:15] Siedlerchr commented on #7925
@addak  If you cannot reproduce it anylonger it's good!

[2022-03-07 19:13] koppor commented on #7925
It would be great if you could submit a pull request adding a test case. The class to touch seems to be https://github.com/JabRef/jabref/blob/main/src%2Ftest%2Fjava%2Forg%2Fjabref%2Flogic%2Fxmp%2FXmpUtilWriterTest.java.

[2022-03-07 21:13] #8513 closed

[2022-03-07 21:58] #8510 closed

[2022-03-07 23:49] koppor commented on #8235
@NYH-Dolphin I am working on the underlying issue (as written at https://github.com/JabRef/jabref/issues/8235#issuecomment-967972449). This issue is about the UI.

The issue is about having three buttons when a change on the disk occurred:

- Use the opened version (currently "Dismiss changes"; already exiting)
- Use the version on the disk (currently not existing)
- Review changes (already existi

[2022-03-09 17:46] #8491 closed

[2022-03-10 10:26] posenato opened #8554 "@STRING abbreviations are saved as normal text between {}"
### JabRef version

5.5 (latest release)

### Operating system

macOS

### Details on version and operating system

macOS Catalina 10.15.7

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Open a bib

[2022-03-10 10:57] Siedlerchr commented on #8554
HI,

the logic for BibTeX string resolving has been inverted. [jabref/CHANGELOG.md at main · JabRef/jabref · GitHub 1](https://github.com/JabRef/jabref/blob/main/CHANGELOG.md#changed-1)

By default JabRef resolves BIbTeX strings only for the fields defined in the preferences. However, you can add the field address to the list of existing fields in the preferences. e,g, address;
Fields are separate

[2022-03-10 11:02] mlep opened #8555 "Opening a library: name lost + (unknow) changes"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-03-09--75df9a3 Linux 4.19.0-19-amd64 amd64  Java 17.0.2  JavaFX 17.0.2-ea+3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I ha

[2022-03-10 11:06] posenato commented on #8554
Thank you, @Siedlerchr!
Before writing the issue, I checked the doc at https://docs.jabref.org/advanced/strings, and I didn't find any instruction about the field limitation for BibTeX string resolving.

[2022-03-10 11:06] #8554 closed

[2022-03-10 12:48] ilippert commented on #8555
confirmed
JabRef 5.6--2022-03-09--75df9a3
Linux 5.16.12-200.fc35.x86_64 amd64
Java 17.0.2
JavaFX 17.0.2-ea+3

[2022-03-10 13:56] Siedlerchr commented on #8555
Yes, I experienced this as well. I was already looking into it. it seemeed to be a timing/threading problem

[2022-03-10 13:59] Siedlerchr commented on #8555
@mlep  @ilippert  Any idea you remember when it was working correct last time?

[2022-03-10 14:00] mlep commented on #8555
It is working in  JabRef 5.6--2022-03-08--3383f9b

[2022-03-10 20:20] #8555 closed

[2022-03-10 20:37] k3KAW8Pnf7mkmdSMPHz27 commented on #8298
Refs. https://github.com/JabRef/jabref/pull/8556 https://github.com/JabRef/jabref/issues/8555 (merged methods might have prevented the issue)

[2022-03-10 22:22] Azhen917 commented on #8539
Hello, I am also new to open source contributions. Is there any articles or guides that I can read to understand how to implement this?

[2022-03-10 22:42] koppor commented on #2146
Screenshot where it needs to be placed:

![grafik](https://user-images.githubusercontent.com/1366654/157767183-c66a2d65-46c4-4907-b1bb-ea16187247a8.png)

[2022-03-11 06:28] LingZhang22 commented on #8195
Hi, I'm Ling and I am a student majoring in computer science. I am new to open source and am interested in this issue. I have some basic knowledge of Java and Web development. Could you give me some suggestions on where to start? Thanks a lot!

[2022-03-11 08:08] mlep commented on #8555
Back to normal: the bug is gone.

JabRef 5.6--2022-03-10--749b6b2
Linux 4.19.0-19-amd64 amd64
Java 17.0.2
JavaFX 17.0.2-ea+3

@Siedlerchr Thank you for your prompt action.

[2022-03-11 08:34] Siedlerchr commented on #8555
The glory goes to @k3KAW8Pnf7mkmdSMPHz27

[2022-03-11 16:36] JoaoHenrique12 opened #8558 "Tests break cause a comparation of raw string"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

20.04.1-Ubuntu

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

I'm using java-

[2022-03-11 16:51] JoaoHenrique12 commented on #8558
If i change line 98 from file RemoteSetupTest.java to
[code]
and I add this line before the tests
[code]
I got this:
![testes_passando](https://user-images.githubusercontent.com/42558165/157911217-ae0071af-6c08-4e76-97e0-d289832da2e8.png)

Could I open a pull request with these modifications ?

[2022-03-11 18:04] Siedlerchr commented on #8558
Interesting error, please go ahead

[2022-03-11 18:53] Siedlerchr commented on #8539
See my comment above. In general, try to look into existing fetchers to understand how it's working in general. @etienne428  maybe can also add some hints on where to start (He's also currently working on fetchers)

[2022-03-11 23:29] #8540 closed

[2022-03-11 23:37] #8558 closed

[2022-03-12 13:47] Siedlerchr commented on #8541
Can you please try the latest development version? We merged some changes related to OO and I now longer can reproduce the errors

[2022-03-12 15:47] nimra287 opened #8562 "JabRef inserts incorrect keys in windows"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Open new Writer d

[2022-03-12 15:49] #8562 closed

[2022-03-12 16:03] ThiloteE commented on #8562
Duplicate of  #8541

[2022-03-12 16:27] etienne428 commented on #8539
Hey!
As a small guide introduction: to add a web search Fetcher, you have to add it into the org.jabref.logic.importer.WebFetchers#getSearchBasedFetchers method. You need to implement a new class in the org.jabref.logic.importer.fetcher folder which has to implement SearchBasedFetcher, an interface. You have 4 possibilities: SearchBasedFetcher, SearchBasedParserFetcher, PagedSearchBasedFetcher and

[2022-03-12 16:29] Siedlerchr commented on #8562
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2022-03-12 17:08] ThiloteE commented on #7615
Could you please try the latest Jabref development-build and check if the issue here still is reproducible? It can be found here: https://builds.jabref.org/main/

In the newest build, https://github.com/JabRef/jabref/pull/7795, mainly authored by @antalk2, was merged. There were some changes related to the Open Office (OO) and Libre Office (LO) integration.

[2022-03-12 17:09] k3KAW8Pnf7mkmdSMPHz27 commented on #8195
Hello @LingZhang22 !
I am not too familiar with these parts of the code, and not sure how I'd put the pieces together, but I'd start looking at the [export command](https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/gui/exporter/ExportCommand.java) (which also happens to be based on the [command design pattern](https://refactoring.guru/design-patterns/command)).
Then look at how o

[2022-03-12 17:11] ThiloteE commented on #7861
Could you please try the latest Jabref development-build and check if the issue here still is reproducible? It can be found here: https://builds.jabref.org/main/

In the newest build, https://github.com/JabRef/jabref/pull/7795, mainly authored by @antalk2, was merged. There were some changes related to the Open Office (OO) and Libre Office (LO) integration.

[2022-03-12 17:18] ThiloteE commented on #7805
Could you please try the latest Jabref development-build and check if the issue here still is reproducible? It can be found here: https://builds.jabref.org/main/

In the newest build, the final pull request https://github.com/JabRef/jabref/pull/7795, mainly authored by @antalk2, was merged. There were some changes related to the Open Office (OO) and Libre Office (LO) integration, so just checking

[2022-03-12 19:14] TheRealGlumfish commented on #6757
I am on the latest release build on macOS 12.2.1 on a Mac Pro (Late 2013) and the issue still persists, have tried changing the startup script but the same issue as @pistepilvi occurs.

[2022-03-12 23:58] LingZhang22 commented on #8195
Hi @k3KAW8Pnf7mkmdSMPHz27, thank you so much for your guide! I will look into those code and info!

[2022-03-13 02:19] wujastyk opened #8563 "Changelog link leads to a 404"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-03-11--89d1047 Linux 5.13.0-35-generic amd64  Java 17.0.2  JavaFX 17.0.2-ea+3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I

[2022-03-13 23:16] ThiloteE commented on #7805
**I can confirm that this problem here still exists.** with

JabRef 5.6--2022-03-10--749b6b2
Windows 10 10.0 amd64
Java 17.0.2
JavaFX 17.0.2-ea+3

Short story:

- I think it is less about the sorting, but more about "The letters (in 2000a, 2000b, 2000c) are assigned in order of appearance".
- The current sorting method seems to be based on the citation key exported by JabRef (which is fine?)

Long

[2022-03-13 23:38] ThiloteE opened #8564 "OO/LO integration. No possiblity to create new bibliography after deleting old bibliography"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-03-10--749b6b2 Windows 10 10.0 amd64  Java 17.0.2  JavaFX 17.0.2-ea+3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested

[2022-03-13 23:39] ThiloteE commented on #8564
Came up in the forum: https://discourse.jabref.org/t/how-do-i-create-a-bibliography-in-libreoffice/3280/3

[2022-03-14 02:33] NYH-Dolphin commented on #8563
Hi, I am a junior student who is learning software engineering, I have successfully build the environment in JabRef and I am wondering whether I can try to solve this problem~

[2022-03-14 02:34] NYH-Dolphin commented on #8563
Plus, I find the same problem when the operating system is Windows10

[2022-03-14 04:23] NYH-Dolphin commented on #8563
Dear JabRef:
      Well, I have located this bug position and create a branch called **fix-for-issue-8563** in my own folk repo.
      Plus, I would like to proposed a new revise suggestion. In your version Tags I found several version as the following shortcut
![image](https://user-images.githubusercontent.com/60838786/158103926-322f6c2d-057d-4e05-ac43-e872d73e8242.png)
      As you see v4.0 has

[2022-03-14 06:32] koppor commented on #2146
Note: Documentation of the current OpenOffice integration code is available at https://github.com/JabRef/jabref/tree/main/docs/openoffice

[2022-03-14 10:20] ilippert opened #8566 "websearch java.lang.IllegalAccessError"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-03-10--749b6b2 Linux 5.16.12-200.fc35.x86_64 amd64  Java 17.0.2  JavaFX 17.0.2-ea+3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest deve

[2022-03-14 10:28] ThiloteE commented on #8276
I apologize for not responding sooner!

Welcome to JabRef @harshlancer ! Check out our Contribution Guide https://devdocs.jabref.org/contributing

Meanwhile, it is possible to export XMP metadata via `Tools > Write metadata to pdfs (F6)` again.
![image](https://user-images.githubusercontent.com/73715071/158151322-09c3c8ca-1e25-4621-8374-5d8eef554263.png)
I believe, back then, when I opened this is

[2022-03-14 10:31] ThiloteE commented on #8276
As a reminder: This issue is only relevant for what happens when clicking on the following button:
![image](https://user-images.githubusercontent.com/73715071/158154570-8305d0f7-0251-413e-97f3-f5bc4265d33c.png)

[2022-03-14 11:11] Siedlerchr commented on #8566
Caused by: java.lang.IllegalAccessError: superclass access check failed: class org.glassfish.jaxb.runtime.api.JAXBRIContext (in module org.jabref.merged.module) cannot access class jakarta.xml.bind.JAXBContext (in module jakarta.xml.bind) because module org.jabref.merged.module does not read module jakarta.xml.bind

Related to #8517

[2022-03-14 12:24] ThiloteE commented on #8566
The following error message emerges when using `SearchALL`.

[code]

Some archives and portals are working.
- Sao/NASA ADS search took ages. I did NOT cancel, and it eventually found some stuff.

The non-working ones are these:

- ArXiv search took ages. I canceled the search after two minutes or so.
- DBLP search took ages. I canceled the search after four minutes or so.
- GVK search took ages. I

[2022-03-14 12:33] LingZhang22 commented on #8195
Hi @k3KAW8Pnf7mkmdSMPHz27 !
I created a PR for this issue. However, I think that this fix might need some improvement.

Firstly, the layout of the dialog is not well designed. The dialog pops up in the center of the main window as follows. It might be better if show a notification bar like **Typora** on the top of the window. But I didn't find an API for that. Could you give me some hints on where

[2022-03-14 13:08] ThiloteE commented on #8195
Maybe a popover would be suitable for this? https://github.com/controlsfx/controlsfx/wiki/ControlsFX-Features#popover

[2022-03-14 13:12] ImpracticalDogg commented on #8541
I no longer have these errors.

Thanks
Brendon

On Sat, Mar 12, 2022 at 3:47 PM Christoph ***@***.***> wrote:

[2022-03-14 13:17] LingZhang22 commented on #8195
@ThiloteE  Thanks! I will look into this material!

[2022-03-14 13:22] #8541 closed

[2022-03-14 13:25] ThiloteE commented on #8541
For the record: Fixed by https://github.com/JabRef/jabref/pull/7795

[2022-03-14 16:41] Siedlerchr commented on #8195
For the change detection  dialog we use a NotificationPane from Controlsfx, that looks like one in Typora https://controlsfx.github.io/features/notificationspane/

[2022-03-14 18:38] Siedlerchr commented on #8538
Can you please report this bug to the java bug maintainers? https://bugs.java.com/bugdatabase/ with the hint on the Clipboard thing?
You can refer to this thread (JabRef uses JDK17 + javafx17)

[2022-03-14 19:17] calixtus commented on #8072
continued in #8529

[2022-03-14 19:29] calixtus commented on #8484
maybe fixed in #8506 ?

[2022-03-14 19:43] calixtus commented on #8298
Beckground: There are three different methods to import/open bib files:
- ImportAction/ImportCommand
- OpenDatabase
- JabRefGui#openDatabases

[2022-03-14 19:53] #8566 closed

[2022-03-14 19:55] ThiloteE commented on #8566
#8573 fixed error messages of
- SearchALL
- Medline/Pubmed

[2022-03-14 20:10] #8381 closed

[2022-03-14 20:10] #8421 closed

[2022-03-14 20:30] Siedlerchr commented on #8563
I would propose to debug through the failing Tests and set a breakpoint in Version.parse method

[2022-03-14 20:37] calixtus commented on #7201
We were not able to reproduce this issue.
Due to inactivity we are closing this issue now. If it wont work for you please leave a note here.

[2022-03-14 20:37] #7201 closed

[2022-03-14 20:40] #7294 closed

[2022-03-14 20:40] calixtus commented on #7294
https://github.com/JabRef/jabref/pull/8573

[2022-03-14 20:45] ThiloteE commented on #7770
related: #8361 will probably fixed by this pull request.

[2022-03-15 08:46] NYH-Dolphin commented on #8563
I will do that~ What I mean is that this may be a defect and I am wondering whether I can try to fix it on issue #8563 and then make a pull request?

[2022-03-15 09:32] Azhen917 commented on #8539
@etienne428 Hello! Thanks for the guidance! I've been reading the implementation of the other fetchers and I've managed to come up with this so far:

`public class BiodiversityLibrary implements SearchBasedParserFetcher {

    private final ImportFormatPreferences preferences;

    public BiodiversityLibrary(ImportFormatPreferences preferences) {
        this.preferences = Objects.requireNonNull(p

[2022-03-15 09:45] Siedlerchr commented on #8563
Yes sure, as long it's related to the issue it's fine!

[2022-03-15 09:45] Siedlerchr commented on #8563
Yes sure, as long it's related to the issue it's fine!

[2022-03-15 12:49] ThiloteE opened #8576 "Add Directory of Open Access Books (DOAB) fetcher to web search"
https://doabooks.org/

DOAB is a community-driven discovery service that indexes and provides access to scholarly, peer-reviewed open access books (currently ~ 50 000) and helps users to find trusted open access book publishers. All DOAB services are free of charge and all data is freely available.

Where to start, if trying to implement this: https://www.doabooks.org/en/resources/metadata-harvest

[2022-03-15 12:53] ThiloteE commented on #8576
@etienne428 @Azhen917 If you feel like adding yet another one after you are done with the ones you are working on right now 🙃

[2022-03-15 13:26] ThiloteE commented on #6627
what did they say?

[2022-03-15 18:20] Mohamadi98 commented on #8576
I can take a look at this, if you don't mind

[2022-03-15 19:10] Azhen917 commented on #8539
Thanks for the tips, I've pushed the changes to my repo as instructed. Please let me know if I did anything improperly.

[2022-03-15 19:19] saralajew commented on #8485
@Kai-Franke-DLR: Thank you for this great hotfix (manual save button)! 👍

With the official JabRef release, we encountered the same slow response of the GUI making it almost impossible to use for daily work (OS Windows 10, PostgreSQL server, database used by *multiple users*). Therefore, I would be happy to see an improvement.

[2022-03-15 19:31] ThiloteE commented on #8485
Both pull requests (#8494 and #8496) that seem to have fixed this issue were merged after Jabref 5.5 (the latest official stable version) was published. @saralajew, I take it, you have not tried the latest development version yet? If so, you might want to try it first: https://builds.jabref.org/main/

[2022-03-15 19:35] Siedlerchr commented on #8485
@ThiloteE  #8496  was NOT merged (it was closed because I ran into deadlocks on several other ocassions)

[2022-03-15 19:36] ThiloteE commented on #8485
Uff. You are right. I see it now. Sorry for providing wrong info.

[2022-03-15 21:06] etienne428 commented on #8576
Sounds good!
1/ the data comes in the QueryNode in the getURLForQuery(). Don't create methods for that, use a QueryTransformer. They are in a subfolder. I suggest that you use the DefaultQueryTransformer
`new DefaultQueryTransformer().transformLuceneQuery(luceneQuery).orElse("")`
first and check if it works (you can have a look and compare it to the API. If it doesn't, create your own DOABQueryTra

[2022-03-16 06:48] suppenkaspar109 commented on #8444
Can confirm this bug. What is also kind of strange, that same entries are added multiple time if you run the import process multiple times.

[2022-03-16 08:12] RonaldSnijder commented on #8576
Hi,

I am responsible for the technical development of the OAPEN Library (https://oapen.org/resources/15635975-metadata) and DOAB (https://www.doabooks.org/en/doab/metadata-harvesting-and-content-dissemination). Both use the same platform, based on DSpace6. While I am no developer, please let me know if I can assist in any way.

Thanks,
Ronald

[2022-03-16 08:30] ilippert commented on #7057
Note, working with
JabRef 5.6--2022-03-15--6406619
Linux 5.16.13-200.fc35.x86_64 amd64
Java 17.0.2
JavaFX 17.0.2-ea+3

I sense the issue is also relevant for **merging entries**: consider this real case:

1. create a collection type entry with the entry label X.
2. copy that entry and change the entry label to Y (I do that occasionally mistakenly, but it is a real use case)
3. create a new entry Z

[2022-03-16 12:20] LingZhang22 commented on #8195
Hi @Siedlerchr, thank you for your instruction. And I got stuck, is it possible to get some help to go forward?

What I did so far:
I wrap the splitPane (which is the center of the JabRefFrame) into the NotificationPane. (And I tested that the bar can show on the page if I made some actions in the JabRefFrame class. )

<img width="1410" alt="image" src="https://user-images.githubusercontent.com/51

[2022-03-16 20:48] #8455 closed

[2022-03-16 22:04] Mohamadi98 commented on #8576
@etienne428 Hi,
I compared the results from DefaultQueryTransformer
 `new DefaultQueryTransformer().transformLuceneQuery(luceneQuery).orElse("")`, it can work I will just have to manipulate the string returning from the above method a little to be in the format provided by the API [https://www.doabooks.org/en/doab/metadata-harvesting-and-content-dissemination](https://www.doabooks.org/en/doab/meta

[2022-03-16 22:13] k3KAW8Pnf7mkmdSMPHz27 commented on #8576
When you open a pull request you can open it as "draft" (or [convert it to draft after you've opened a regular PR](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/changing-the-stage-of-a-pull-request#converting-a-pull-request-to-a-draft))

[2022-03-16 22:24] Mohamadi98 commented on #8576
Thanks

[2022-03-16 23:40] k3KAW8Pnf7mkmdSMPHz27 commented on #8195
If I am understanding you correctly, you are creating the notificationpane inside of JabRefFrame, in which case you probably want to pass it as an additional argument to the `ExportCommand`-class' constructor

[2022-03-17 00:00] astroboylrx commented on #4949
It seems fetching some items fail with this fetcher. If I understand correctly, for ADS, I need to use the Bibcode. And some examples of fetcher failure with

JabRef 5.5--2022-01-17--27a05c7
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.1+1

are

https://ui.adsabs.harvard.edu/abs/2008ApJ...684.1291O/abstract
https://ui.adsabs.harvard.edu/abs/2018ApJ...869L..46D/abstract

Any ideas? Thanks in advan

[2022-03-17 00:39] zychen-astro commented on #4949
Such problems occur whenever there are latex errors in the abstract. In the first case, there is "\mathstrutN}". Can this be fixed easily?

[2022-03-17 00:40] NYH-Dolphin commented on #8563
hey JabRef~
      I almost finish to fix this issue. However, when I try to push it to my branch, the gradlew check is fail and tells me the above message
![image](https://user-images.githubusercontent.com/60838786/158714006-673f96a3-ffed-4d64-970b-796ecf64f28a.png)
    May I need to update my local JRE version?

[2022-03-17 13:20] truatpasteurdotfr opened #8579 "jabref-5.5.60000-1.x86_64 or JabRef-5.5-portable_linux.tar.gz on CentOS-7 x86_64: free(): invalid pointer: 0x00002b19113d2c80"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

CentOS-7 x86_64 updated as of 2022/03/17

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the

[2022-03-17 13:21] truatpasteurdotfr commented on #8579
with the latest development version (jabref-5.6.98-1.x86_64,rpm):
[code]
but a GUI appears with the above messages.

[2022-03-17 13:22] truatpasteurdotfr commented on #8579
Same progress with the portable version
[code]

[2022-03-17 13:25] truatpasteurdotfr commented on #8579
the error for version 5.5 looks like the same one reported at https://discourse.jabref.org/t/5-2-1-problems-under-centos-7-2-2009/2554/4 for version 5.2.1

[2022-03-17 16:37] Siedlerchr commented on #7175
Yes it should be working now, but I am unsure if it needs to be built in a special way. You probably need to build it yourself

[2022-03-17 16:56] Siedlerchr commented on #8579
Thanks, I think I found the issue. Related to the fulltxt index directory. As a workaround, you can manually create the directory `/home/tru/.local/share/JabRef:`
I'm preparing a fix

[2022-03-17 17:27] astroboylrx commented on #7175
Thanks. Is there documentation to follow regarding how to build it on macOS?

[2022-03-17 17:27] truatpasteurdotfr commented on #8579
thx, that has removed the error for the current dev. version:
[code]
nothing changed (as expected )for the 5.5 issue.

[2022-03-17 17:39] Siedlerchr commented on #7175
To build the current version on Mac, you can just need JDK 17 https://adoptium.net/releases.html  probably the aarch64 and Gradle.
then just do `./gradlew run` to build and start the app for the first time.
You can also run ./gradlew jpackage . This will create the app under build/distribution
It will just show version 100 as default.

[2022-03-17 17:57] #8579 closed, assigned to nobody

[2022-03-17 18:20] yoachim commented on #8387
Font looks great on the external monitor. It can't open or import my .bib file, so that's an issue.

[2022-03-17 18:27] Siedlerchr commented on #8387
@yoachim  Ugh .Can you please check if there are any errors present in the log? Can you also try to open your bib file with TextEditor and check the encoding?

[2022-03-17 19:05] Siedlerchr commented on #8387
When you try to import your bib file into a new library, JabRef should log an error to the log and tell you which entry is broken or where it is broken
Otherwise try to copy your bib file (aka make a backup) and resave it as utf8

[2022-03-18 02:00] HoussemNasri commented on #8126
What about having a single checkbox to enable or disable custom certificates, similar to Proxy Configuration, and custom certificates will be added on top of JabRef internal Keystore (which if I understand correctly is empty for now)

[2022-03-18 02:34] astroboylrx commented on #7175
@Siedlerchr Thank you sooo much!
I was able to build it successfully with the JDK 17 in your link (and with a few minor warnings `warning: [module] module name component log4j2/ojdbc10/lang3/antlr4 should avoid terminal digits`). It looks like jabref will download Gradle automatically after `./gradlew jpackage`.

The about info shows
[code]

I guess I'll stick with version 100 before the official

[2022-03-18 10:41] pistepilvi commented on #6757
On my Mac Mini (macOS 12.0.1) everything looks fine in the latest development version, whereas on the same system JabRef 5.5 did show the issue. So I get the impression the issue is now resolved. Hopefully @TheRealGlumfish can confirm this.

[2022-03-18 16:15] LingZhang22 commented on #8195
Hi @k3KAW8Pnf7mkmdSMPHz27  Thank you so much for your guide!

I have implemented the NotificationPane for the light theme and dark theme.

When I clicked the save button, the notification bar will show on the top.
And if I click open, the folder will open with the file selected and then the bar will disappear.
In addition, if the user doesn't take action, the notification bar will disappear in 10

[2022-03-18 16:31] ThiloteE commented on #8195
I think the wording could be phrased slightly different:

Instead of "Do you want to open the file in folder?"
it could be: "**Press "open" to reveal the folder holding the saved file**"
(or shorter: "**Open the folder holding the saved file**"),
since not actually the file is opened, but rather the folder :-)

[2022-03-19 14:35] LingZhang22 commented on #8195
@ThiloteE Thank you for your suggestions. I have changed the text. Thanks :)

[2022-03-19 15:48] TheRealGlumfish commented on #6757
@Siedlerchr @pistepilvi I will test the latest development version and let you know. Thanks for the reply.

[2022-03-21 08:44] Martin2278 opened #8584 "New line ignored if only one new line is placed in the comment field"
When adding comments to an entry and looking at the column of the list, it can be seen that the comment is not wrapped if only one new line is created. When adding a white line in between, the comment is wrapped, but there is a lot of space used in the list view.

**Describe the solution you'd like**
Wether
- A single wrap in the comment should be a wrap in the list and in the preview
or
- A wrap

[2022-03-21 09:30] falschgeldkind commented on #8444
Thats awesome! Is it foreseeable if the fix will be included in the next Jabref version?

[2022-03-21 11:21] m-mauersberger opened #8585 "Shared database: Entries are additionally assigned to groups of another user logged in"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

openSUSE Leap 15.3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Login to sha

[2022-03-21 11:41] m-mauersberger opened #8586 "Shared database: library modification warning without apparent modification"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Log in to shared database (P

[2022-03-21 16:38] Siedlerchr commented on #8585
Regarding the group issue: That is expected, Group information is stored in the entry

Regarding the performance, yes, I know where the bottleneck is, it's all executed on the main thread. I recently  looked into it and tried to fix it but occasionally ran into kind of deadlocks because of the underlying architecture. This will need some major refactoring.
https://github.com/JabRef/jabref/pull/849

[2022-03-21 22:58] #8444 closed

[2022-03-22 09:00] Siedlerchr commented on #8444
@falschgeldkind A fix has jut been merged

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2022-03-22 09:45] falschgeldkind commented on #8444
Yes I will try that when I'm back at work on friday

That's not a problem the library is empty anyways (thats why I want to import in bulk).

[2022-03-22 14:57] m-mauersberger commented on #8585
Thank you for checking up so far.

That is interesting, that it seems to be solely a performance issue. But is it correct, that wrong group assignments are expected? Users A and B add completely different entries (e.g. from different DOIs) which are supposed to be in completely different groups G1 and G2. The entry from user B should not actually be in group G1 as well, but just in group G2.

[2022-03-22 16:49] Siedlerchr commented on #8585
Okay, I think I misunderstood your issue, I thought that user A and B are putting the same entry to the group.  But for different entries this seems odd.

[2022-03-22 18:09] Siedlerchr commented on #6775
Zotero has a plugin https://marketplace.visualstudio.com/items?itemName=bnavetta.zoterolatex

[2022-03-23 05:16] pratt33k opened #8600 "Event log: Could not access app-directory at %USERPROFILE%\AppData\Local\org.jabref\JabRef"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10 21H1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Just downloaded

[2022-03-23 09:38] Siedlerchr commented on #8600
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2022-03-23 09:38] #8600 closed

[2022-03-23 15:07] RonMcKay opened #8601 "Author surnames starting with a lower case letter disappear in citation key"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

JabRef 5.5--2022-01-17--27a05c7 Windows 10 10.0 amd64  Java 16.0.2  JavaFX 17.0.1+1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the proble

[2022-03-23 15:55] mlep commented on #8601
Confirmed in JabRef 5.6--2022-03-21--b47c29f
Linux 4.19.0-19-amd64 amd64
Java 17.0.2
JavaFX 18+12

[2022-03-23 17:26] ThiloteE opened #8602 "Specify a (persistent) custom style for heading of bibliography in LO/OO"
Came up in the forum: https://discourse.jabref.org/t/can-i-specify-a-persistent-custom-style-for-the-heading-bibliography-in-libreoffice/3283

"The heading “Bibliography” is set automatically to Heading 2 when I create it. I can change the style in in the document in LibreOffice, but every time the bibliography refreshes it changes the style back to Heading 2.

How can I get JabRef to respect my c

[2022-03-23 18:29] Siedlerchr commented on #8602
From the code it looks like  it's `ReferenceHeaderParagraphFormat` in the jstyle

So you need to define a format which exists in LO (e.g. custom or existing paragraph style format)

 /**
     * Name of paragraph format (within OO/LO) to be used for
     * the title of the bibliography.
     */

https://github.com/JabRef/jabref/blob/89d10479237923ba6dec6c7f30901d2a20a4917b/src/main/java/org/jabref/

[2022-03-23 20:27] gibelin opened #8603 "Import bibtex files, different behaviour for bib and bibtex extension"
As describe in the forum
https://discourse.jabref.org/t/import-bibtex-files-different-behaviour-for-bib-and-bibtex-extension/3309
I realized than under linux if my main bib file is opened in JabRef and that another bibtex file with the extension “.bib” it is opened by clicking on it then this last is opened as a new file. But if the extension is “.bibtex” it is imported in the already opened file.

[2022-03-24 11:00] ilippert opened #8605 "importer via doi does not work/resolver issue?"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-03-23--1624405 Linux 5.16.16-200.fc35.x86_64 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I

[2022-03-24 11:07] Siedlerchr commented on #8605
I also had troubles  as well today, and a manual request shows a timeout to me. So maybe a CrossRef issue.

[2022-03-24 14:22] RJDan commented on #8538
I have submitted a bug report.
ID : 9072900

[2022-03-24 22:53] ThiloteE commented on #8564
I can recreate the issue also in JabRef 5.5--2022-01-17--27a05c7
Windows 10 10.0 amd64
Java 16.0.2
JavaFX 17.0.1+1

So this was not something triggered by antalk2's new code.

[2022-03-25 09:03] ilippert commented on #8605
works again today

[2022-03-25 09:03] #8605 closed

[2022-03-26 05:13] prashant1712 commented on #5507
Hi, we are a group of students studying Master of Computer Science in University of Adelaide and we wanted to check if this issue is available for us to work on for our assignment. And if it is available, we would like to get some valuable inputs based on the previous contributions to this issue.