[2022-03-26 05:15] Surabhiramesh commented on #8189
Hi, we are a group of students studying Master of Computer Science in University of Adelaide and we wanted to check if this issue is available for us to work on for our assignment. And if it is available, we would like to get some valuable inputs based on the previous contributions to this issue.

[2022-03-26 05:27] VincyBenita commented on #6857
Hello Team
We are a group of 6 students studying Master of Computer Science in University of Adelaide and we wanted to check if this issue is available for us to work on for our assignment. And if it is available, we would like to get your valuable input based on the previous contributions to this issue.

[2022-03-26 05:31] zhaoqingying123 commented on #8128
Hi, we are a group of students studying Master of Computer Science in University of Adelaide and we wanted to check if this issue is available for us to work on for our assignment. And if it is available, we would like to get some valuable inputs based on the previous contributions to this issue.

[2022-03-26 10:35] Siedlerchr opened #8608 "A new protected terms file in the preferences is gone after a restart"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to repro

[2022-03-26 10:37] TheRealGlumfish commented on #6757
I tested the latest development version and it appears to be fixed! Thanks for the help! Keep making a great product!

[2022-03-26 10:50] #8563 closed

[2022-03-26 12:24] ShaunChang commented on #6601
Hello, I am a student who comes from study team 6 at Adelaide University. Due to our course Open Source Software Development requirements, our team is focusing on contributing to an open-source project. After discussion, our team agreed that this project is a really excellent open-source project. At the same time, we are very interested in # 6601 this issue and are willing to make positive contrib

[2022-03-26 13:47] HoussemNasri commented on #8608
I can reproduce this on windows too

[2022-03-26 14:32] calixtus commented on #6601
Yes you are welcome to dive into this issue. Please prepare your workspace according to our dev docs and please read the discussion at #7729 .
Remember: solution rationale is to add/ remove columns to the maintable, not to alter the visibility property of columns.

Have fun coding. Please make a draft pr as soon as possible, even when you are not finished, so we can follow your changes and help ea

[2022-03-26 15:15] Siedlerchr commented on #8608
I foud the problem: The FXCollections.umodiedfableIbservableList adds a WeakListener which gets garbage collected https://stackoverflow.com/a/44343014

[2022-03-26 15:56] #8608 closed

[2022-03-26 16:43] #8126 closed

[2022-03-26 19:37] astroboylrx commented on #7175
@Siedlerchr By the way, I'm happy to contribute my build to Development Builds if that's useful or helpful.

[2022-03-27 08:25] mchellelm commented on #7423
Hi, we're a team of 5 (@shameenkals @JasonBourne999 @lachyp @artherdunger10) from the University of Adelaide who would like to tackle this issue! Our goal will be improving the author-auto completion as well as implementing a proper fly-out as proposed in this issue. We aim to have a pull request by early May. Is there anything in particular we should know about?

[2022-03-27 09:17] tobiasdiez commented on #7423
Thanks for your interest!

We are currently in the process of migrating the search syntax to Lucene (see #8206 for ongoing work). So in early prototypes its a good idea to not fiddle to much with the search syntax parsing. Please also have a look at the other linked issues (in particular https://github.com/koppor/jabref/issues/341) for further inspiration.

Our experience shows that its usually a

[2022-03-27 09:28] noirchen commented on #7175
@astroboylrx it would be great if you can share your builds.

[2022-03-27 19:24] astroboylrx commented on #7175
Sure, I created a [repo](https://github.com/astroboylrx/JabRef_M1portable) and shared my builds in the Releases.

[2022-03-27 19:51] Siedlerchr commented on #7175
@astroboylrx  Cool! Thanks. The only thing is that during our Github actions build we inject some token secrets for some fetchers.

[2022-03-27 20:16] astroboylrx commented on #7175
I see. Thanks for the info! The main fetcher I'm using to add a new entry is "SAO/NASA ADS", "DOI", and "ArXiv", which all seem to be okay so far. I guess for those who need to use some specific fetchers, they may need to stick to the official builds to search for papers.

---
Emmm, I know the new API of SAO/NASA ADS requires a token and I've used that...
Oh, I see. Thanks for keeping some tokens

[2022-03-27 20:20] Siedlerchr commented on #7175
We have some for testing in the repo and some secrets are injected into the build info

 https://github.com/JabRef/jabref/blob/ee88e7fdc2ae80d7d4265d2f4b8ce236fbbbac2a/.github/workflows/deployment.yml#L22-L24

[2022-03-28 07:07] Basem9955 opened #8617 "Opening bib file in macOS"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

macOS 10.15.7 "Catalina" and Jabref 5.6

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem pe

[2022-03-28 08:33] m-mauersberger commented on #8586
I checked this problem up again and can detail the behavior somewhat:
I changed every entry with trailing comma in the keywords list. As a consquence, these entries were not incoporated anymore in the changed warning.

However, this warning appears if you type in some content in an entry field (e.g. keywords) via keyboard. It seems like only the first character of the typing in is saved "On disk"

[2022-03-28 08:44] m-mauersberger commented on #8585
Could it be a problem with the clipboard? It seemed plausible if the additionally assigned entries were still in the clipboard - but from the other user. I. e. when user A pastes some entries JabRef would gather the content from both the clipboards from users A and B, which are logged in at the same time.

Or, if it would not be the clipboard, then it could be somehow an entry list, which is still

[2022-03-28 09:54] HoussemNasri commented on #8446
The freeze is caused by the preview panel in entry editor; the entry editor is created lazily the first time an entry is selected, which explains this behavior.
This is a flamegraph of when an entry is selected the first time.

![flamegraph](https://user-images.githubusercontent.com/21198231/160373243-49bd5541-bc0c-46df-9b7f-691d6629c581.png)

[2022-03-28 12:47] Siedlerchr commented on #8586
Thanks for the investigation @koppor  This might be hint towards our problem

[2022-03-28 15:33] wujastyk commented on #4877
JabRef 5.6--2022-03-23--1624405
Linux 5.13.0-37-generic amd64
Java 17.0.2
JavaFX 18+12

I still get this problem quite often (several times a week) and unexpectedly.  This morning, I edited a record and got the warning.  When I looked at the changes that JabRef was worried about, one of them was the `modificationdate` of the record, which was auto-updated (because I have auto-update feature turned

[2022-03-28 18:03] #8195 closed, assigned to nobody

[2022-03-28 20:21] koppor commented on #8372
Fun fact:

[code]

Source: https://github.com/citation-style-language/locales/blob/c6e38e6963a9792332c63ea3c3c385176f76f7ea/locales-en-US.xml#L374

[2022-03-29 01:14] Rifat951 commented on #6190
Hello Team,
we are  group of 5 people(@Beingmani , @yogeshvar, @Rifat951, @LIM0000, @tirthvyas-tk-labs) from University of Adelaide.We are new to this community and want to start contributing to jabref. Therefore, would like to work on this specific issue. Is there any prerequisite before we start working on this issue ?

[2022-03-30 06:33] LingZhang22 commented on #6815
Hi, may I have a try on this issue? Is it possible to get some guidance on where I should start? Or is there any particular information I should look into? Thanks a lot!

[2022-03-30 08:35] crystalfp opened #8625 "Dropped bib file ignored without error message"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-03-29--2bf53cb Windows 11 10.0 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the la

[2022-03-30 08:59] Siedlerchr commented on #8625
This refs to #8298 JabRef has different  methods which are called when opening or importing. Some show errors, other not

[2022-03-30 09:04] crystalfp commented on #8625
Even a generic error message is better than nothing. I was looking at the given bib file and was not able to see the missing brace.

[2022-03-30 14:24] protyposis opened #8626 "Incomplete fulltext search results"
### JabRef version

5.5 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10 21H2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

When using the ful

[2022-03-30 15:08] protyposis commented on #8626
Yes it seems related. I have seen that issue earlier but was under the impression that it is specifically about stopword elimination and/or stemming. In my case it happens with terms (e.g. `cluster`) that don't seem to be affected by the query analyzer. I validated this by configuring the https://github.com/JabRef/jabref/blob/6dddf93af24328f67b3c548a2b7c43b3da327dab/src/main/java/org/jabref/model/

[2022-03-30 16:05] Siedlerchr commented on #8626
@protyposis  Hi, the search query and results would be visible here https://github.com/JabRef/jabref/blob/7d4916ead08e340c65dd956286ae22c44ea8cc48/src/main/java/org/jabref/logic/pdf/search/retrieval/PdfSearcher.java#L69

You can debug/or add a logger statement into it. (e..g Logger.warn to make sure that the log is printed)

[2022-03-30 17:10] protyposis commented on #8626
Thank you, that helped me figure out the problem. A search string of e.g. `test` results in the parsed Lucene query `path:test content:test pageNumber:test modified:test annotations:test` at https://github.com/JabRef/jabref/blob/7d4916ead08e340c65dd956286ae22c44ea8cc48/src/main/java/org/jabref/logic/pdf/search/retrieval/PdfSearcher.java#L69-L70

The problem here is `maxHits`, which is hardcoded to

[2022-03-30 17:46] Neitan2001 opened #8627 "Method in Author model to capitalize every first letter of the name"
Looking at the code, I see there could be a method inside the author's model to capitalize every first word of the final string.

[2022-03-30 17:47] Siedlerchr commented on #8626
Thanks for the investigation!
@btut  Can you clarify here? Was there a reasonf or the 5?

[2022-03-30 21:33] Siedlerchr opened #8628 "FullText Search Results exception in entry editor results document viewer"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to repro

[2022-03-31 07:04] btut commented on #8626
Yes it is and we had quite some discussion when implementing it. The problem here is twofold:

1. We do not sort search-results by the lucene score, because for the metadata-search there is no lucene score. This means that for short queries that match a lot of entries, the fulltext-search would be good for nothing because one could not tell where the best hit is.
1. It is also difficult to weight

[2022-03-31 08:21] ThiloteE commented on #8626
Since we now have seen two quite different use-cases how full-text search could be used, but the golden middle-way only works with lucene and current Jabref also only caters to one of the two use cases, how about the following proposal:

**Short term workaround for the people that don't care about weighting:**

- Open pull request that allows to show all fulltext-search results and removes max hit

[2022-03-31 08:55] btut commented on #8626
Would be quite an easy solution, question is if people desiring the 'no max hits' functionality would find the branch.

[2022-03-31 09:09] protyposis commented on #8626
The proposal by @btut looks like a proper solution, and @ThiloteE's short-term workaround would also be very useful. Maybe the workaround could be integrated into the UI through a ternary fulltext search toggle button (off/fulltext weighted/fulltext exhaustive) or a "unweighted exhaustive" checkbox in a "experimental" preferences section.

Btw., I didn't even know there are weighted results. The l

[2022-03-31 14:34] btut commented on #8626
Hm, a setting would be the cleanest solution, but the preferences panes are kind of overloaded already.

It's not visible to the user. Lucene provides a score for each result and once all JabRef search is switched to lucene it would make sense to sort entries accordingly when a search is active to have the best hit at the top.

[2022-03-31 14:48] protyposis commented on #8626
Oh, my bad. I mistakenly understood that there already is a view where the search results are sorted by relevance when the fulltext search is used.

Anyway, as long as the search results are displayed in the default library view, I guess it makes sense from a usability perspective to keep the user-defined sort order and let the search function only act as a "drill down" into the library (e.g. when

[2022-03-31 17:42] Siedlerchr commented on #8354
ah now I understand your suggestion. you want to exclude certain fields from the merge dialog.
Could be considered in #6190

[2022-03-31 17:43] ThiloteE commented on #8354
@funnym0nk3y Please try https://builds.jabref.org/pull/8361/merge/

Disabling overwriting keys upon import can be enabled/disabled here:
![image](https://user-images.githubusercontent.com/73715071/161116109-1c214739-ceb5-41bb-ae66-ce48df34a774.png)

This method works with your pull-request Christoph.

[2022-03-31 21:24] k3KAW8Pnf7mkmdSMPHz27 commented on #8576
@RonaldSnijder do you know if there is any specific format for the authors' names or to whom we should ask that question?

[2022-03-31 22:54] lorenzo7377 opened #8630 "Limit the possibilities of numbers of years to be registered"
I think that it would be more convenient to make numbers below 0 or above 9999 unable to be registered as valid publication years.

[2022-04-01 02:47] CarlosZoft opened #8633 "Custom class error with internal code"
**Description**

It would be nice to have error classes with their own error codes. It would facilitate the debug and visualization of these errors when centralized in some platform like sentry or elastic. Imagine identifying errors with your own codes - example : jab-763

**Some Screenshots**

Example implementation :
![Screenshot from 2022-03-31 23-43-56](https://user-images.githubusercontent.co

[2022-04-01 08:12] RonaldSnijder commented on #8576
The authors and editor names are stored as text, formatted last name comma, first name. For instance, my name is stored as "Snijder, Ronald" (https://library.oapen.org/handle/20.500.12657/25287?show=full). Does this answer your question?

[2022-04-01 08:13] RonaldSnijder commented on #8576
Sorry, linked to the OAPEN Library. The DOAB link is this: https://directory.doabooks.org/handle/20.500.12854/26303?show=full

[2022-04-01 15:52] cherrywoods commented on #8416
I just tested with version 5.3 of Jabref. This version also has the issue, but memory consumption is growing much more slowly. So slowly that it's almost usable.

Newer versions of JabRef still explode memory consumption as soon as I open an entry on my machine.

[2022-04-01 16:06] ThiloteE commented on #8416
What I do not understand is why a lot of Linux users have problems with Jabref and seemingly JDK. Jabref comes with its own version of jdk and javafx, right @Siedlerchr ? Why do people still have issues starting Jabref then, if it should use its own version of these programs?

[2022-04-01 18:13] Siedlerchr commented on #8576
@RonaldSnijder For most entries this seems to be correct, however in the example query for https://directory.doabooks.org/rest/search?query=water+AND+fire&expand=metadata
@k3KAW8Pnf7mkmdSMPHz27  and I discovered that the authors include (Ed.) and are in the field dc.contributor.author and not dc.contributor.editor
https://directory.doabooks.org/handle/20.500.12854/61440

And then there is this guy

[2022-04-01 19:33] cherrywoods commented on #8416
I will test gtk4 in a virtual machine this weekend

[2022-04-01 19:47] ThiloteE commented on #8416
@HoussemNasri Sorry to pull you into this conversation, but since you seem to be knowledgable about performance issues, maybe you have an idea, how we could debug this?

[2022-04-01 20:55] Siedlerchr commented on #8630
Nope. Especially since Year is mapped to date. And biblatex date field allows for extended iso8601.
See the biblatex manual (section 2.3.9) for details https://ftp.rrzn.uni-hannover.de/pub/mirror/tex-archive/macros/latex/contrib/biblatex/doc/biblatex.pdf

[2022-04-01 20:55] #8630 closed

[2022-04-01 20:56] Siedlerchr commented on #8628
Will be fixed by #8362

[2022-04-01 21:56] Siedlerchr commented on #8601
I dug a bit into it. JabRef parses the first author [Stéphane d'Ascoli](https://arxiv.org/search/cs?searchtype=author&query=d%27Ascoli%2C+S)  into firstname + vonPart . So far so correct.
The `[auth] `patterns only returns the last name, it does not consider the von-Part. That is only considered when using
`[authFirstFull].`
In contrast, an author like `Michiel van den Brekel` is generated correct

[2022-04-01 22:16] k3KAW8Pnf7mkmdSMPHz27 commented on #8576
Mostly, as @Siedlerchr says. Perhaps I misphrased my question and I should have asked about how the names get into the system in the first place.

[code]

Does this mean that the first/last name couldn't be determined?

[2022-04-02 03:16] HoussemNasri commented on #8416
I'm unable to reproduce this on a virtual machine running Ubuntu 20.04. However, as @kaustubhmote mentioned, when selecting an entry or creating a new one, there is a significant increase in virtual memory usage; though RAM usage was normal. The interesting part is that both actions create a WebView instance and initialize the preview panel, which is what caused the freeze in #8446. So I looked fo

[2022-04-02 11:43] ThiloteE commented on #8416
All open / in progress memory leak bugs in jdk since 2016:

https://bugs.openjdk.java.net/browse/JDK-8277848?jql=project%20%3D%20JDK%20AND%20status%20in%20(Open%2C%20%22In%20Progress%22)%20AND%20text%20~%20%22leak%22%20AND%20created%20%3E%3D%202016-04-02%20AND%20created%20%3C%3D%202022-04-02%20ORDER%20BY%20affectedVersion%20DESC

[2022-04-02 15:16] cherrywoods commented on #8416
I also couldn't recreate the issue in a virtual machine. I will test whether the three other actions that create a WebView trigger the memory issue in the instance where I experience the problem.

[2022-04-02 15:52] #8601 closed

[2022-04-02 18:32] AngelicaRibeiro opened #8635 "Error on Web search"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

DISTRIB_ID=ManjaroLinux DISTRIB_RELEASE=21.2.5 DISTRIB_CODENAME=Qonos DISTRIB_DESCRIPTION="Manjaro Linux"

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest developm

[2022-04-03 12:09] calixtus commented on #6190
Thank you for your interest in JabRef. Be aware that this issue is is a large GSoC proposal for about 175 dedicated estimated work hours and is no beginner project. You definitely need good knowledge of java and some decent knowledge of javafx for this issue.
I really would advise you to start with a good first issue to get familiar with the jabref code base before taking this project.
Please also

[2022-04-03 13:17] cherrywoods commented on #8416
I now checked on the machine where I experience the issues:
 - merely opening preferences induces a similar increase in memory as opening an entry
 - opening the Entry preview tab does not introduce further increase in memory usage
 - neither does selecting an openoffice/libreoffice style

The issue has changed quite a bit, since I opened this issue. Now it is mainly that memory usage keeps increa

[2022-04-03 20:28] koppor commented on #8189
You are right. Please make a list of all possible cases, where a) no dialog should be opened and b) where a dialog should be opened

I am not sure. It should be properly documented and JUnit tests should exist.

[2022-04-03 20:28] koppor commented on #8189
@Surabhiramesh The issue is available. Please go ahead. Please also see my last comment.

[2022-04-03 21:19] koppor commented on #8128
@zhaoqingying123 The issue is still available. Please first start with test cases. For that, please fetch example PDFs (or create example PDFs to avoid licensing issues).

The previous approach was made by University of Basel.

Here is the documentation: https://github.com/thepauljs/jabref/tree/main/docs/sweng

Here is the code: https://github.com/thepauljs/jabref/blob/main/src/main/java/org/jabre

[2022-04-03 21:36] koppor commented on #6857
@VincyBenita Thank you for your interest!

The feature request is as follows:

Implement a list view of the main table of JabRef including searching and sorting capabilities.

This view should be made available using a toggle button, so that a user can switch between the current table view and the list:

![grafik](https://user-images.githubusercontent.com/1366654/161449578-b927bb5d-394e-4e98-a3a8-

[2022-04-03 21:51] HoussemNasri commented on #8416
@cherrywoods Can you possibly download JProfiler to profile the memory usage of JabRef? It will undoubtedly help us in identifying the issue. JProfiler is not free, but it does come with a 10-day trial period when you use it for the first time. The installation instructions for Linux may be found [here](https://www.ej-technologies.com/resources/jprofiler/help/doc/main/installing.html). Following i

[2022-04-03 21:55] koppor commented on #5507
Dear @prashant1712. Thank you for your interest.

One can find the context of the feature at the "Web Search":

![grafik](https://user-images.githubusercontent.com/1366654/161449770-1a236ffe-86ef-4629-b563-ee4d526118bb.png) See https://docs.jabref.org/collect/import-using-online-bibliographic-database for the full documentation.

I searched for "test" at "ArXiV":

![grafik](https://user-images.git

[2022-04-03 22:07] ThiloteE commented on #8189
Welcome and thank you for your engagement. Guidelines for contributing can be found here: https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md. See [here](https://devdocs.jabref.org/teaching#process-for-contributions) for a rough outline of this process. In general, it is advised to open a (draft) pull request early on so that reviewers have time to comment and the general direction of the r

[2022-04-03 22:09] ThiloteE commented on #8128
Welcome and thank you! Adding to koppor, also check out the guidelines for contributing to Jabref. They can be found here: https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md. See [here](https://devdocs.jabref.org/teaching#process-for-contributions) for a rough outline of this process. In general, it is advised to open a (draft) pull request early on so that reviewers have time to comment a

[2022-04-03 22:21] ThiloteE commented on #6857
Hey! https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md provides information about the contribution guidelines. https://devdocs.jabref.org/teaching#process-for-contributions should also be useful. In general, it is advised to open a (draft) pull request early on so that reviewers have time to comment and the general direction of the request becomes clear. This will allow you to receive val

[2022-04-03 22:26] ThiloteE commented on #5507
Welcome and thank you! Adding to koppor, also check out the [guidelines for contributing](https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md) to Jabref.  [This graphic about the contributing process](https://devdocs.jabref.org/teaching#process-for-contributions) might also be handy. In general, it is advised to open a (draft) pull request early on so that reviewers have time to comment and

[2022-04-03 22:43] koppor commented on #6815
It is an issue where one needs to think hard what to do. One also needs to craft test cases.

Hints on the current code behavior:

1. The current search is implemented in-memory without the help of any indexing service, database, etc.
1. org.jabref.model.entry.BibEntry#getLatexFreeField returns the content of a field without LaTeX (but with Unicode). Example: `M{\"u}hlbach` gets `Mühlbach`
1. The

[2022-04-04 07:41] RonaldSnijder commented on #8576
Hi,

The data in DOAB have been added over a decade by multiple publishers, with no complex validation. Furthermore, the contents have been migrated to a new platform. So, this means there will be names that do not exactly match the pattern, sorry about that. An indeed, there are now three fields describing contributor roles:
* Author: dc.contributor.author - see for example https://directory.doab

[2022-04-04 13:14] cherrywoods commented on #8416
Thanks for looking into this. I have profiled a session of using JabRef.

As I mentioned the issue has changed significantly since I opened this issue. The memory consumption now stays tolerable for a fair amount of time. I was using JabRef as I usually would now for some time (maybe 10 min). According to System Monitor it consumed 1.1GB memory in the end. From my perspective, this seems to be too

[2022-04-04 15:37] LingZhang22 commented on #6815
Thank you so much for your detailed instructions. It really helps a lot!

The code uses the contains methods for the String and I didn't find the Collator API has that method, so I searched online, and find [Normalizer](https://stackoverflow.com/a/8745778). It seems that the search performed as expected, but I am not very sure whether it has any underlying issues. I have created a [PR](https://git

[2022-04-04 21:11] Siedlerchr commented on #8406
Only works bow if you copy + paste the article twice

[2022-04-04 21:47] ThiloteE opened #8642 "Fix Duplicate check of keygenerator during merge dialogue after importing and pasting entry"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Jabref 5.6 version 4d8e41c1aca0d945a21041c2b23c5fee986120db

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development vers

[2022-04-04 21:50] #8642 closed

[2022-04-04 21:50] koppor commented on #8406
The cause is probably our duplicate check. We need to work on checking the bibtex keys when pasting...

[code]

[code]

[2022-04-04 22:12] koppor commented on #8406
The issue is fixed when automatic key generation is in place --> JabRef automatically detects duplicate entry; if no duplicate, the key is generated to be unique

We need to check the behavior if existing keys should not be overwritten

![grafik](https://user-images.githubusercontent.com/1366654/161640638-1a807e6c-478c-423c-badb-3f0b35d3baf7.png)

[2022-04-04 22:17] koppor commented on #8406
Note: As user, I would like to generate keys only at import:

![grafik](https://user-images.githubusercontent.com/1366654/161641106-1425b576-1255-4695-a353-fda5a0ca094e.png)

[2022-04-04 22:22] tautomer opened #8643 "Can't fecth from DOI/Crossref, but browser and curl works."
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

macOS 11.6.2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reprod

[2022-04-04 23:15] ThiloteE opened #8644 "Not possible to choose citationkey from the right side of the merged dialogue"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-04-04--dbf921e Windows 10 10.0 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the la

[2022-04-04 23:17] ThiloteE commented on #8644
Workaround:

Have options>preferenes>import and export>generate a new key for imported entries (overwriting their default) DISABLED.

[2022-04-05 04:05] tautomer commented on #8643
Update:

I tried again at home (no firewall). With proxy set, jabref reports `Caused by: java.net.UnknownHostException`. Disabling the proxy setting in jabref, I can fetch from DOI or Crossref.

So indeed my organization's firewall blocked the fetcher, but anyone knows why only jabref's fetcher is blocked? Even JabRef's check connection button works...

[2022-04-05 08:03] cherrywoods commented on #8416
I checked the memory consumption on another Linux machine and it is comparably high. I guess the issue on my other machine has fixed itself then and the behavior is normal...

[2022-04-05 08:31] vithlaithla commented on #8276
Hi, I would like to contribute to the project and work on this issue.

[2022-04-05 09:17] ThiloteE commented on #8416
Great that it seems to work for you now cherrywoods. Yes, 1.1 gigabyte of RAM usage is pretty normal for JabRef nowadays. I get similar measurements with Windows Task Manager on my machine. Yes, it is very high in comparison to other programs and the lower the hardware requirements, the better.

I should have asked earlier: How much RAM does your machine have available in total?

Having 1.1gb of J

[2022-04-05 09:30] mlep opened #8645 "An empty entry can still be added without warning message (and lead to an error when compiling)"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-04-04--dbf921e Linux 4.19.0-20-amd64 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tes

[2022-04-05 09:33] mlep commented on #8645
@ruoyu-qian: You may want to enhance your previous contribution to JabRef. Cheers.

[2022-04-05 09:38] ThiloteE commented on #8645
Wait, this preference seems broken then?

[2022-04-05 09:43] mlep commented on #8645
@ThiloteE Not really: my key pattern is [auth][shortyear]. Since my "almost empty" entry does not have an author or a year, I cannot really blame this feature. :wink:

[2022-04-05 10:18] cherrywoods commented on #8416
My machine has 8GB of RAM. It's too bad that I can not reproduce the issue anymore that I had initially. That was using up all my memory and rising continuously.

My impression is that memory still keeps rising over time, which hints at a memory leak, although not a drastic one. Maybe the reports I generated bear some trace of it.

[2022-04-05 10:25] ThiloteE commented on #8416
Alright. Thanks. Please, which Jabref version did you use for the measurments in https://github.com/JabRef/jabref/issues/8416#issuecomment-1087541116

You can find this information within Jabref at `Help>About Jabref > `

[2022-04-05 11:07] cherrywoods commented on #8416
5.5.6 installed via snap

[2022-04-05 11:46] jackesfonseca opened #8646 "Method in Author model to capitalize first letter of the name"
Looking at the code, I see there could be a method inside the author's model to capitalize the first letter of the string.

[2022-04-05 11:51] Siedlerchr commented on #8646
Is this a question or an issue? Please clarify before you open an issue
Duplicate of #8627

[2022-04-05 11:51] #8646 closed

[2022-04-05 11:52] Siedlerchr commented on #8627
Is this a question or an issue? Please specify.

[2022-04-05 18:10] ThiloteE commented on #8276
@vithlaithla, hey sure. Do you know Antonio? This draft pull request already looks pretty good! Maybe you can talk to each other? If you prefer to work on a different issue alone, because this issue is too small for the both of you, check the labels for "[good first issue](https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+)" or if you are a student and n

[2022-04-05 18:19] Siedlerchr commented on #8174
I just had this issue for the first? Time on Mac with the latest dev 5.6x Tried to copy an entry,  but the selection jumped back to the top and I ended up copying the wrong entry.
Right click copy worked

[2022-04-05 18:26] Siedlerchr commented on #7323
@calixtus  If I'm not mistaken this issue is fixed now?

[2022-04-06 01:29] vithlaithla commented on #8276
@ThiloteE hey thanks for the suggestions! I will look for other issues.

[2022-04-06 04:15] JeffersonJefferson-pixel commented on #8277
Hi, I am new to open source and would like to contribute to the project. Is it okay for me to try working on this issue?

[2022-04-06 10:12] JeffersonJefferson-pixel commented on #8277
Noted. I will open a draft PR once I make some progress.

[2022-04-06 10:20] kaustubhmote commented on #8416
I also cannot seem to reproduce this issue anymore using JabRef versions 5.2 to 5.6-dev. JabRef seems to be stable, and consuming approx 1.1 GB memory (Virtual Memory Usage is still high at ~112 GB, but seems to be stable on both X11 and Wayland. I have not had a crash running JabRef in the background all day long, with some intermittent interaction. Over time, the memory usage does increase. I re

[2022-04-06 11:37] ThiloteE commented on #8277
For testing your changes, I can recommend ExifTool. https://www.exiftool.org/

In the [FAQ](https://www.exiftool.org/faq.html#Q30) it is explained how to extract (read) really all available metadata that is attached to an PDF

[2022-04-06 17:59] jakkarth opened #8648 "Standalone on linux can't start: java.lang.ClassNotFoundException: org.w3c.dom.ls.DocumentLS"
### JabRef version

5.5 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Linux Mint 20.1 MATE

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Downlo

[2022-04-06 18:25] ThiloteE commented on #8490
Thinking about this a little, the way forward might indeed to transform the $ sign to \\$ when using the Latexcleanup action.

The code that would need to be changed is here: https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/logic/formatter/bibtexfields/LatexCleanupFormatter.java

[2022-04-06 18:36] DanielPortods commented on #8539
Hi! I'm trying to contribute in that issue and i have a question. That API need a key to validate the request. Have some indication of how to work with that kind of variable or i can just define a static variable inside of the class?
That key is get with an email so i'm thinking if it's not a env variable situation...

[2022-04-06 18:57] ThiloteE opened #8649 "Latex2unicode converter removes $ in fields"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to rep

[2022-04-06 18:58] ThiloteE commented on #8649
Maybe this bug has to be filed at https://github.com/tomtung/latex2unicode

[2022-04-06 19:25] Jonathan-Oliveira commented on #8539
Hi! I'm also trying to contribute. Checking the other implementations I found that there is a file that has the api keys. Look the file [BuildInfo](https://github.com/JabRef/jabref/blob/main/src/main/java/org/jabref/logic/util/BuildInfo.java)

[2022-04-06 19:36] Siedlerchr commented on #8539
Yes, the BuildInfo is correct. You can use that for testing.  During the Build we replace some of the APi keys there with keys from environment variables.

[2022-04-07 06:26] ThiloteE commented on #8649
False alarm. Sorry, I think I was thinking this from the wrong end.

The LatextoUnicode converter assumes the bibliographic data is formatted in Latex Syntax. In LaTeX syntax, writing the dollar sign requires a backslash in front (`\$`). A simple `$` would denote the start of LaTeX mathmode.

Hence, the removal of a simple $ is correct.

From this we can see that:

- If the bibliographic data is a

[2022-04-07 06:26] #8649 closed

[2022-04-07 07:43] ThiloteE commented on #8490
**LaTeXtoUnicode:**

The LatextoUnicode converter assumes the bibliographic data is formatted in Latex Syntax. In LaTeX syntax, writing the percentage sign requires a backslash in front (`\%`). A simple `%` would denote the start of a LaTeX comment.

Hence, the removal of a simple backslash `\` is correct.

From this we can see that:

   - If the bibliographic data is already in Unicode format, us

[2022-04-07 07:59] ThiloteE opened #8650 "CSL and entry table renders $ only with backslash. E.g. \$"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-04-04--dbf921e Windows 10 10.0 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the la

[2022-04-07 08:08] mlep commented on #8648
FYI, I do not have this issue on my computer under Linux.

JabRef 5.6--2022-04-04--dbf921e
Linux 4.19.0-20-amd64 amd64
Java 17.0.2
JavaFX 18+12

[2022-04-07 11:54] jakkarth commented on #8648
If kernel version is important: Linux rin 5.4.0-100-generic #113-Ubuntu SMP Thu Feb 3 18:43:29 UTC 2022 x86_64 x86_64 x86_64 GNU/Linu

I have openjdk 11.0.14.1 on this system, but I did not expect that to matter if I'm installing a standalone binary, assuming it would include whatever runtime and libraries it needed within the binary itself. I don't know how to check the host's version of JavaFX.

[2022-04-07 11:59] ThiloteE commented on #8648
Looks like it.

I think the documentation is outdated, though. I think somewhere is still JDK mentioned. We should update it.
- Newest development version of Jabref uses JDK 17.0.2 and JavaFX 18 +12
- Jabref 5.5 uses JDK 16.0.2 and JavaFX 17.0.1+1

[2022-04-07 12:00] jakkarth commented on #8648
Again, when you say "uses", do you mean "bundles this within the standalone binary" or "depends on this being available on the host system"? Do I need to install/upgrade these libraries on my system?

[2022-04-07 12:12] ThiloteE commented on #8648
I don't know. This is the information that is available to users when opening Jabref and clicking on `Help > About Jabref`.
There was a similar issue recently on github. If I remember correctly, updating JDK helped that person. It may or may not help in your case.

[2022-04-07 12:15] ThiloteE commented on #8648
Also check out this thread: https://discourse.jabref.org/t/jabref-5-1-linux-portable/2293

[2022-04-07 12:17] Siedlerchr commented on #8648
JabRef ships with it's own custom bundled jdk + openjfx version, so yeah it seems you  have to use the different launcher path as stated in the link

[2022-04-07 12:23] jakkarth commented on #8648
Running bin/JabRef exhibits the problem. Running lib/runtime/bin/JabRef in a terminal results in the same problem. However, double-clicking it from a gui file manager and selecting "run in terminal" launches the application correctly. This defies all my expectations and is not the way I launch basically any other application on my system. I have no idea why this works, but it does. I may continue

[2022-04-07 12:23] #8648 closed

[2022-04-07 12:47] ThiloteE opened #8652 "Change order of ISBN fetchers to improve fetching most complete information"
See discussion and report of the problem in the forum: https://discourse.jabref.org/t/ebook-de-incomplete-isbn-information/3313

[2022-04-07 13:17] jakkarth commented on #8648
Update. Under some circumstances, my shell was initializing a CLASSPATH environment variable based on a project from long ago. With that set to its long original value, neither the application nor the browser extension would open properly. Double-clicking the executable in my gui file manager was launching a shell with an empty environment, which is why it was successful. Removing the environment

[2022-04-07 13:20] mlep commented on #8648
Thank you for the follow-up!

[2022-04-07 17:22] Siedlerchr commented on #5941
We recently upgraded to openjfx18 which fixed some issues regarding context menu positioning. Can you all please test the current development version?

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2022-04-07 17:29] Siedlerchr commented on #4558
To solve this issue, one needs to add new Patterns to JabRef's Date class and write tests.
https://github.com/JabRef/jabref/blob/dbf921ecf0d2cc5da56ff65ad89bff215a62f91d/src/main/java/org/jabref/model/entry/Date.java#L21-L43

The order of the date patterns seem to matter as well, as I recently learned when extending the class to support Timestamps. The longest? pattern needs to come first.

See Se

[2022-04-07 18:39] jakkarth opened #8653 "JabRef opens multiple instances even when Remote operation is enabled"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Linux Mint 20.1 MATE, JabRef 5.6--2022-04-04--dbf921e

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development versio

[2022-04-07 21:52] Clunphumb commented on #8388
I investigated and it appears to be a problem with JavaFX and how actions on labels are handled within CustomMenuItems. The clickable area to work is just barely around the label. If one tries to click on the empty space beside, no action is performed.

This problem occurs all around JabRef wherever CustpmMenuItems are used, for example in the context menu of the "Author" Field when editing an ent

[2022-04-07 22:51] AngelicaRibeiro commented on #8635
I understand your point.
I've been doing this, getting the .bibtex  from the site databases,  but the problem is that some sites, like CiteSeerX, just shows a limited number of article per page, and it's not possible to get their bibs all at once, which makes it difficult to do a systematic review for example. That's why I've tried to get them from JabRef all at once. A suggestion to surpass this

[2022-04-07 23:11] ThiloteE commented on #8635
I think this would be the relevant pull-request that would implement this feature: https://github.com/JabRef/jabref/pull/7720

[2022-04-08 10:21] ThiloteE commented on #8355
Hey, could you please try the newest development version of Jabref? There has been at least one more fix for import of PDFs. Maybe it works now? You can find the development version here: https://builds.jabref.org/main/

[2022-04-08 10:46] ThiloteE opened #8654 "Allow to change the entry type for all selected entries simultaneously"
**Is your suggestion for improvement related to a problem? Please describe.**
1. Select multiple entries
2. Click
   - "entry type" here:
      ![image](https://user-images.githubusercontent.com/73715071/162419794-aaa34966-e162-4351-b533-3de3485f3902.png)
   - OR right-click on the selected entries and choose "change entry type"
3. Choose an entry type. E.g. article

**Expected outcome:**

All ent

[2022-04-08 11:37] ThiloteE opened #8655 "Jabref corrupts PDF file when writing XMP metadata to linked PDF"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-04-04--dbf921e Windows 10 10.0 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the la

[2022-04-08 11:44] ytzemih commented on #5941
@Siedlerchr Thx for the update. I've just tried it with JabRef 5.6--2022-04-04--dbf921e with the unfortunate result
that the problems remain for me:

1. Slightly offset positioning of the drop-down menus,
2. Context menus on different screen.

Although, the menus are closer to the menu bar, but I'm afraid that this was already the case in JR 5.5.

I presume that openjfx could have a general issue

[2022-04-08 11:47] ThiloteE commented on #8655
Here the destroyed file: [test samefile (2021).pdf](https://github.com/JabRef/jabref/files/8451491/test.samefile.2021.pdf)

[2022-04-08 12:06] ThiloteE commented on #8655
I also encountered an error message just now when doing some other test trying to write XMP metadata to linked pdf.

But that was related to groups and this entrytable/groups index bug. Maybe not related to this issue here. I removed a keyword, hence the entry was removed from a group. Then I tried to write the XMP metadata.

[code]

[2022-04-08 13:04] ThiloteE commented on #8416
It is already good that there does not seem to be a crash any more! Nice!

~ 112 GB seems quite a lot, though. My machine would not have enough free space!

My current thought about this is to have a look into the virtual memory to check which files are in there exactly. On windows 10, there is the "[performance monitor](https://www.windowscentral.com/how-use-performance-monitor-windows-10)" tool

[2022-04-08 15:14] ThiloteE commented on #8655
Something committed in between 2022-01-30 (issue 8477) and 2022-02-24 (issue 8526) broke it. I can't compile these commits with git using

[code]

There are different error messages.

[2022-04-08 15:19] ThiloteE commented on #8655
https://github.com/JabRef/jabref/commit/d98a603d47835b6564f03fa550d5a84d7c2c6f3e looks like it was touching XMP and PDF

[2022-04-08 15:21] Siedlerchr commented on #8655
Hm. When you switch to an older hash, you need to run ./gradlew clean before.

[2022-04-08 15:24] Siedlerchr commented on #8655
But I could reproduce your issue.

[2022-04-08 15:35] ThiloteE commented on #8655
2022-02-21 still works. Something in between these 3 days.

[2022-04-08 15:56] a1819644 commented on #8315
Hi, just wondering if this issue has been taken by someone? If not may I have look into it.

[2022-04-08 16:06] a1819644 commented on #8652
hi Team, can I have a look into this issue? Im new to open source community.

[2022-04-08 16:08] a1819644 commented on #4688
Hi team, not sure if someone is looking after this issue! if not may I have a look into it.

[2022-04-08 18:17] #8468 closed

[2022-04-08 18:47] ThiloteE commented on #8652
Yes, this issue is for the taking :) Thanks for your interest!

Please check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth looking at. Feel free to ask if you have any questions here on GitHub or also at [gitter](https://gitter.im/JabRef/jabref).

Try to open a

[2022-04-08 18:50] ThiloteE commented on #8652
(This issue might be a little too small for a team of 4 though)

[2022-04-08 20:21] AngelicaRibeiro commented on #8635
Ok :)

[2022-04-08 20:21] #8635 closed

[2022-04-08 21:27] Siedlerchr commented on #8655
I get a warning:

https://pdfbox.apache.org/3.0/migration.html

Hmm. @btut  Any ideas?

[2022-04-09 00:23] ThiloteE commented on #8655
https://issues.apache.org/jira/browse/PDFBOX-4028?orderby=affectedVersion+ASC%2C+priority+DESC%2C+updated+DESC

[2022-04-09 08:02] a1819644 commented on #8652
@ThiloteE thanks for your time and opportunity
 Can we still take this issue cause none of my group member has any experience with open source contribution.
 I believe this issue will be good start for us. To get familiar with the Jebref.

[2022-04-09 10:18] calixtus commented on #6815
Should be fixed by #8640 thanks to @LingZhang22 . @sbecuwe Could you please test the current dev version (after a backup of your files) if this issue persists? Thanks!

[2022-04-09 10:18] #6815 closed

[2022-04-09 20:37] ThiloteE commented on #8652
Of course you can take this issue. I am not familiar with your course requirements and if you think it is alright, go ahead :-)
A lot of the other Adelaide students were choosing issues from the "[candidates for university projects](https://github.com/JabRef/jabref/projects/9)" page, so that made me think a little, but you do you! :-)

[2022-04-10 07:28] a1819644 commented on #8652
Thanks for you quick response, we are the student of the "software development improvement". Sure i will visit "uni project" page . to look the other issues which fulfilling the subject requirement.

[2022-04-10 12:35] Siedlerchr commented on #8650
This is related to the latex2unicode formatter. The latex2unicode formatter is called for the main table for each field.
Probably for the entry preview as well.

[2022-04-10 17:42] Siedlerchr commented on #2753
To solve this issue, one needs to add new Patterns to JabRef's Date class and write tests.
https://github.com/JabRef/jabref/blob/dbf921ecf0d2cc5da56ff65ad89bff215a62f91d/src/main/java/org/jabref/model/entry/Date.java#L21-L43

The order of the date patterns seem to matter as well, as I recently learned when extending the class to support Timestamps. The longest? pattern needs to come first.

See Se

[2022-04-10 17:43] Siedlerchr commented on #2117
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/main and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2022-04-10 17:43] #2117 closed

[2022-04-10 19:32] ThiloteE commented on #8315
I talked to @Siedlerchr. Since this issue does not really seem to be a real issue causing problems to users, let's close this.

@stoianmihail Thanks for spotting nevertheless! If you can show that this "[isNull] Inconsistency" leads to real issues, feel free to open again.
@a1819644 Anoop, instead of this one, I would ask you to choose other issues. The time and work you would have to spend on thi

[2022-04-10 19:32] #8315 closed

[2022-04-10 19:38] #8276 closed

[2022-04-10 19:44] #8655 closed

[2022-04-10 20:58] ThiloteE opened #8657 "java.nio.file.ClosedWatchServiceException"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-04-10--93177fa Windows 10 10.0 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the la

[2022-04-10 20:59] AEgit commented on #2117
JabRef 5.6--2022-04-08--a6489cb
Windows 10 10.0 amd64
Java 17.0.2
JavaFX 18+12

I can confirm - the remaining issue reported in https://github.com/JabRef/jabref/issues/2117#issuecomment-754010095 appears to be fixed in the current dev version.

[2022-04-10 21:07] AEgit commented on #5461
JabRef 5.6--2022-04-08--a6489cb
Windows 10 10.0 amd64
Java 17.0.2
JavaFX 18+12

The issue persists in the current dev version. Maybe as a workaround people can use the "BibTex source" tab and edit the author, title, etc. fields there directly. I reckon this is not really the way JabRef is supposed to be used (?), but otherwise it is impossible to edit entries that contain slightly longer titles or

[2022-04-10 21:34] AEgit opened #8659 "Manually removing multiple linked files of a selected entry is not possible in one go"
JabRef 5.6--2022-04-08--a6489cb
Windows 10 10.0 amd64
Java 17.0.2
JavaFX 18+12

### Steps to reproduce the behaviour

The current dev version of JabRef does not allow you to manually delete multiple linked files of a selected entry in one go.

1. Open JabRef and open the entry editor for an item to which multiple files are linked (e.g., article + several supplements)
2. Navigate to the "General" t

[2022-04-10 23:37] ThiloteE commented on #4688
Hey @a1819644, yes, this Issue is free for the taking. I would suggest to start with the merger of the "optional fields", "deprecated fields" and "other fields" tabs. Jabref would visually become a lot clearer and more orderly. 👍

As a reminder, this issue here is connected to a few others that all try to enhance the entry editor and rework fields and tabs.
The meta issue that mentions the other t

[2022-04-11 07:40] samruan-yz commented on #8396
Hi community! I wonder if anyone is working on this issue currently? If not, may I handle this since it seems like a great issue to help me to get familiar with the code base before starting GSoC!

[2022-04-11 09:19] ThiloteE commented on #8396
Hey, @samruan-yz looks like this issue is partly a duplicate of #4688. Ideally, the "optional fields", "deprecated fields" and "other fields" tabs should be merged to one tab. The meta-issue https://github.com/JabRef/jabref/issues/4686 keeps track of the broader changes to the UI of the entry editor.

Just recently, some [students from Adelaide have been asking](https://github.com/JabRef/jabref/is

[2022-04-11 09:27] ThiloteE commented on #8396
As a general advice: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is a good start. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

Try to open a (draft) pull request early on, so that p

[2022-04-11 09:31] a1819644 commented on #8396
Yeah sure. no problem. I can start working on merger "A"
@ThiloteE  thanks for the advice

[2022-04-11 10:30] ThiloteE commented on #5464
I cannot reproduce this anymore in one of the newer development versions:

JabRef 5.6--2022-04-10--93177fa
Windows 10 10.0 amd64
Java 17.0.2
JavaFX 18+12

1. Do: `Options -> Preferences -> Entry preview -> Show preview as tab in entry editor -> Save`

   What happens:

- Entry editor closes itself.
- When restarting the entry editor by double clicking on an entry (NOT restarting JabRef), the entry

[2022-04-11 10:30] #5464 closed

[2022-04-11 13:13] AEgit commented on #5464
JabRef 5.6--2022-04-08--a6489cb
Windows 10 10.0 amd64
Java 17.0.2
JavaFX 18+12

I can confirm this issue has been fixed in the latest dev version of JabRef. The behaviour is as described in https://github.com/JabRef/jabref/issues/5464#issuecomment-1094883425

Well done!

[2022-04-11 19:26] #8446 closed

[2022-04-11 20:03] #8657 closed

[2022-04-11 20:46] AEgit commented on #8659
JabRef 5.6--2022-04-11--1c782b7
Windows 10 10.0 amd64
Java 17.0.2
JavaFX 18+12

The newest dev version has nearly completed solved this issue. There only remains one problem:
When multiple linked items are removed, JabRef will show the "Delete the selected file permanently from disk" for each item separately. E.g., if the user removes 3 linked items, the dialog asking whether the respective file s

[2022-04-12 10:51] AEgit commented on #8659
@koppor Can we re-open this issue, given the remaining problem (see https://github.com/JabRef/jabref/issues/8659#issuecomment-1095549817)?

[2022-04-12 15:26] ThiloteE commented on #8654
Sometimes it only changes a few entries and MORE than one entry, but not all the entries that were selected.

I think I only have to click once on the button if I hit it more towards the left or to the far right. Not in the middle. I think there was a bug that reported this for Mac. Turns out this is also present on Windows.

[2022-04-12 20:33] #8654 closed

[2022-04-12 21:22] ThiloteE commented on #8416
I tried the newest development version.

JabRef 5.6--2022-04-11--1c782b7
Windows 10 10.0 amd64
Java 17.0.2
JavaFX 18+12

Next to others, these are notable changes that probably had an effect on RAM usage:

- pdfbox (version 3.0) https://github.com/JabRef/jabref/pull/8658
- https://github.com/JabRef/jabref/pull/8624

Now on my Windows machine with a library of 99 entries and ~ 90 linked pdf files,

[2022-04-12 21:34] ThiloteE opened #8669 "Illegal state exception after switching into the "file annotations" tab"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-04-11--1c782b7 Windows 10 10.0 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the la

[2022-04-12 21:36] ThiloteE commented on #8669
(I have NOT written any XMP metadata to the file).

[2022-04-12 22:33] ThiloteE commented on #8650
The `$` sign is used to start "math-mode" in LaTeX documents, so yes, I could understand it not showing in certain circumstances. My library is using UTF8 encoding, though. You can see that the `%` character, which is used to start a comment in LaTeX documents, is rendered. There is a lack of consistency. Either render both, or render none.
On a side note, are standard LaTeX styles even capable to

[2022-04-13 07:51] cherrywoods commented on #8416
I also tested it out:

JabRef 5.6--2022-04-12--d50adc1
Linux 5.13.0-39-generic amd64
Java 17.0.2
JavaFX 18+12

 - My Library has 165 entries
 - On Start: 720 MiB of Memory according to System Monitor
 - Increase to 738 MiB when opening the Preferences (no notable increase)
 - No decrease after closing the Preferences
 - Opening an Entry: Jump to 752 MiB
 - Increase to 766 MiB after opening further

[2022-04-13 10:59] ThiloteE commented on #8650
Ok, looking at this from a different perspective:

If we wanted to write a test, this is what we would need to test:

1. Entry preview renders `$`, when users want to write `$`.
   For this to happen, it is needed to:
   - detect when users write `\$` and want `$`
   - detect when users write `$` and want `$`
2. Entry preview removes `$` when users do not want to have it rendered.
   - This happen

[2022-04-13 11:54] ThiloteE opened #8672 "Rename cleanup actions: "Prepare for LaTeX" and "Prepare for BibTeX""
When this first came up: https://github.com/JabRef/jabref/issues/8490#issuecomment-1091209909

**My Problem:**

Cleanup actions are not well described and contrary to users intuitive thought.

I always thought the "LaTeX cleanup" action would remove **LaTeX code** so that the entries will be rendered well via CSL entry preview or alternatively that the entries will be rendered well when using them

[2022-04-13 12:00] ThiloteE commented on #8672
- Add to documentation of `Make LaTeX ready: Cleanup`: Single `$` characters will not be removed from the entry. This allows to start and end LaTeX math-mode.

[2022-04-13 12:26] ThiloteE opened #8673 "Add cleanup action: "Make LaTeX ready: Escape $""
**Problem:**

1. Want to prepare entries to be used with LaTeX
2. Want to not start math-mode, but instead simply render `$` character in my bibliography

**Describe the solution you'd like**

- Add cleanup action that adds a backslash in front of $
- Name this cleanup action: `Make LaTeX ready: Escape $`
- Add to the documentation: `Adds backslash to $ characters. \$ will be rendered by LaTeX as

[2022-04-13 12:26] mlep opened #8674 "When an entry is selected in the search results, "New article" opens this entry"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-04-12--d50adc1 Linux 4.19.0-20-amd64 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tes

[2022-04-13 12:37] ThiloteE commented on #8490
Since this is the case, I assume you should have no problems anymore.

Closing this.

If you still have problems, feel free to open again and report them.

[2022-04-13 12:43] mlep opened #8675 "Faulty DOI leads to an exception window"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-04-12--d50adc1 Linux 4.19.0-20-amd64 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tes

[2022-04-13 13:04] gaochenyi opened #8676 "An option for not aligning `=` when saving files as well as add new entries"
**Is your suggestion for improvement related to a problem? Please describe.**
I raised a [question][] in the JabRef forum but found no solution. I think such an option is lacked in current JabRef stable release (i.e., version 5.5).

[question]:https://discourse.jabref.org/t/3325

**Describe the solution you'd like**
When JabRef adds new entries as well as formats existing bib files, it can be set

[2022-04-13 13:11] Siedlerchr commented on #8676
Have you maybe checked the option?  "Always reformat on save" ? I did a quick test and this seems to work when it's unchecked (you might need to restart after unchecking)
<img width="571" alt="grafik" src="https://user-images.githubusercontent.com/320228/163187156-550b9802-bc97-433f-9486-30169e31aca2.png">

[2022-04-13 13:20] gaochenyi commented on #8676
I have the option "Always reformat on save" unchecked, and my test is done with

1. File -> Import -> Import into new library
2. With a brand new library, I add an entry and fill fields in the built-in entry editor

[2022-04-13 13:30] gaochenyi commented on #8676
I have the option "Always reformat on save" unchecked, and my test is done with

1. File -> Import -> Import into new library
2. With a brand new library, I add an entry and fill fields in the built-in entry editor

By the way, I do not have the option "Warn about duplicates on import". I guess we are using different versions. (I am running stable-5.5, i.e., `JabRef 5.5--2022-01-17--27a05c7`.)

[2022-04-13 13:36] ThiloteE commented on #8676
Have you done the test after restarting Jabref after unchecking?

[2022-04-13 14:53] ThiloteE commented on #8676
I can reproduce.

- The bib-file does NOT get reformated upon save.
- When reopening the .bib file via `File > open library`, it does get reformated.
- When importing the .bib file via `File > Import > ...` it does get reformated.

[2022-04-13 16:16] ThiloteE commented on #8676
@Koppor

Related: https://github.com/JabRef/blog.jabref.org/blob/ac35d76a1c836222311a1e20441019b125cc064f/_posts/2020-08-20-bibtex-file-changes-over-time.md

[2022-04-13 18:11] yogeshvar commented on #7340
Hello, I would like to contribute to this. I will go through all the linked issues and PRs to understand the project base since I'm new.

[2022-04-14 09:35] lishangyu9 commented on #8322
Hello, We are students of Adelaide University studying the course 'Software Process Improvement'. This course focus on contributing to an open-source project. We are interested in contributing to this issue. Can we work on this one? If we can, we would appreciate that if you can give us some advice. Thank you.

[2022-04-14 16:40] Siedlerchr commented on #8322
Thanks for your interest! @lishangyu9

The first steps would be to install citavi and add some references and export it. Follow the zotero link to see how to get the xml file.
1. Analyze the xml file and try to understand the field names.

Context:
With the magic of [jakarta xml bindings](https://eclipse-ee4j.github.io/jaxb-ri/) it is possible to generate (called "unmarshaling") java-objects from

[2022-04-14 17:32] zkl-ai commented on #8672
Hello, I am new here and I have read the doc, I want to contribute to the open source community. Could assign this issue to me?

[2022-04-14 19:19] Siedlerchr commented on #8676
Hi, this is not possible and I doubt we will add this feature. The alignment was done purposefully, so that users with version control systems or other comparison tools have no weird issues when comparing files.
For a history of the format evolution:
https://github.com/JabRef/blog.jabref.org/pull/47/files

[2022-04-14 20:33] ThiloteE commented on #8672
Hey, actually I was trying to work on this myself, because I am a complete beginner. I was surprised somebody would be interested in this issue this fast. **If you really want to, you can do it, of course. Your choice!**

 Christoph told me what needs to be done:

- For every formatter, change the localization (l10n)
- adapt the `en.properties` file accordingly

Documentation that will help fixing

[2022-04-15 02:51] gaochenyi commented on #8676
Could you elaborate a bit on this? I tried but could not figure out such an example.

[2022-04-15 02:53] gaochenyi commented on #8676
The post on format history helps. Thanks.

By the way, could you elaborate a bit on this?

 I tried but could not figure out such an example.

[2022-04-15 02:56] zkl-ai commented on #8672
Thank you for your positive reply. I'd like to take this issue.

[2022-04-15 03:12] gaochenyi commented on #8676
@ThiloteE Currently I have 500+ entries. So it just saves 64 KiB for each time when I sync with online storage.

[2022-04-15 03:15] gaochenyi commented on #8676
Apart from disk space saved by not adding extra whitespaces, aligning `=` has another possible issue: every time I use a new field for my own purpose (e.g., `datereceived` for the date when the article was received by the editorial office), if the field name is longer than existing ones, extra whitespaces are added to align `=` and they causes differences in version control system, since JabRef re

[2022-04-15 06:41] a1819644 commented on #8652
@ThiloteE Going to create a pr draft for this but before that may I know what do you mean by  "I think it makes sense to switch the order."(https://discourse.jabref.org/t/ebook-de-incomplete-isbn-information/3313) ?

Also, for some reason I am having issue with recreating the issue using ISSB : 9780203854693. Please see the attached snapshot of the issue.

![issue cant fetch](https://user-images.g

[2022-04-15 07:54] a1819644 commented on #4688
@ThiloteE not sure whats happening but I missing the "other fields"(please see the image). Feels like someone has fixed it and Im thinking about working on the merging the "Optional fields and Deprecated fields".

Also, cause I haven't started typing up the code, So do you mean by creating "draft pull request " where I can mention that my team is working o
![missing the otherfields](https://user-i

[2022-04-15 08:39] ilippert commented on #4688
You mentioned it here, so that is sufficient. Please also notify us here if you stop working on the issue.
For a generic intro to pull requests: just to ensure you are aware of the idea, check out https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2022-04-15 09:36] Siedlerchr commented on #8652
Jabref has two ISBN fetchers, ebook.de and ottobib. If the first fetcher does not find any results, the second one is automatically called.
So you simply need to change the code so that ottobib is called first and ebook.de second.

And of course adapt the tests.

[2022-04-15 10:23] ThiloteE commented on #4688
The "other fields" tab will show up, when you work with entry type "article".

Just enter the following into the `{} BibTeX source` tab:

[code]

[2022-04-15 10:37] ThiloteE commented on #8652
I also have this issue now.

This would be the entry in question:

[code]

[2022-04-15 10:57] Siedlerchr commented on #8676
Tagging this as devcall. We need to discuss this in detail.

[2022-04-15 12:50] ThiloteE commented on #4690
I very much like the structure of this tab proposal. The name "content" may be misleading (2/4).

`metadata` is closer (4/4), but since all entry-data is metadata, this also might be confusing to users.

How about

- `Categorization`? I think that is (3.5/4). Abstract is slightly off, but could be tolerated. This name assumes that users want to search, categorize and manage entries based on the da

[2022-04-15 12:54] ThiloteE commented on #6856
Proposal:

- Work on a new concept to be introduced in future versions of JabRef (e.g. 6.x)
- Refine current concept with tabs as proposed by #4686 in JabRef 5.x

[2022-04-15 12:59] ThiloteE commented on #4689
Depends on https://github.com/JabRef/jabref/issues/8669 being fixed, otherwise we create bigger mess.

[2022-04-15 13:01] ThiloteE commented on #4691
Depends on https://github.com/JabRef/jabref/issues/8669 being fixed, otherwise 8669 creates an even greater mess.

[2022-04-15 18:04] wujastyk opened #8679 ""open directory" for attached file does not work"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-04-15--f13ada0 Linux 5.13.0-39-generic amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have t

[2022-04-15 19:48] Siedlerchr commented on #8652
Oh damn, forget about it: https://www.ottobib.com/ says:
OttoBib is no longer operational (in service from 2005 - 2022)

[2022-04-15 19:53] Siedlerchr commented on #8679
Hi just asking some additional information, snap or deb?
Out of curiosity, I recently learned that java.awt.desktop apparently only works with libgnome-2.0.  I am not 100% sure here in this case, but do you have that installed or not?

@LyzardKing  You worked on this, if I remember correctly, any further ideas?

[2022-04-15 20:39] wujastyk commented on #8679
deb
Not sure about libgnome-2.0.  Here's what synaptic says:
![image](https://user-images.githubusercontent.com/762246/163629942-dde3852f-4464-4344-b656-3eb0781481c1.png)

[2022-04-16 02:14] fly-ing-fish commented on #8673
Hello! I am a junior undergraduate cs student and I wanna have a try. Hope you can give me the chance, thank you!

[2022-04-16 03:37] a1819644 commented on #8652
True, Forgot to mention it. So, do you recommend to use the alternatives of the OttoBib such as https://zbib.org/
    https://www.mybib.com/
    https://app.bibguru.com/

and take out the OttoBib from second search now and use alternatives?

[2022-04-16 12:00] ThiloteE commented on #8673
Hey @fly-ing-fish of course :-) Feel free to work on this.

As a general advice: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Don't mind asking, if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabR

[2022-04-16 12:07] ThiloteE commented on #8673
I just did a test to check how LaTeX/Biber behaves concretely:

**Test bibliography:**

[code]

**The .tex file used for the test:**

[code]

Results:

![image](https://user-images.githubusercontent.com/73715071/163674301-55e57462-e5a0-4ba7-adc0-bc02e97b00e5.png)

[2022-04-16 15:10] ThiloteE commented on #8673
The solution may resemble the cleanup actions `Escape underscores` or `escape ampersands`! Maybe part of the code can be copied from there :-)

[2022-04-16 16:14] ThiloteE commented on #8673
Check out page 15 and 16 of the [comprehensive LaTeX symbols list](https://ftp.agdsn.de/pub/mirrors/latex/dante/info/symbols/comprehensive/symbols-a4.pdf)! (https://www.ctan.org/tex-archive/info/symbols/comprehensive)

![image](https://user-images.githubusercontent.com/73715071/163681965-a9bf9b2e-096d-4c76-953c-b1310046644b.png)

![image](https://user-images.githubusercontent.com/73715071/16368218

[2022-04-16 17:44] fly-ing-fish commented on #8673
Thank you for the reply and support with details! I am working on it.

[2022-04-17 16:48] fly-ing-fish commented on #8673
I followed the indications of the " Set up a local workspace"  in the JabRef Development Documentation, but  met a problem while doing "Build and run JabRef by double-clicking JabRef | Tasks | application | run.".

error(1):  cannot write file : java.io.FileNotFoundException: src-gen\main\java\org\jabref\logic\bst\G:\BstParser.java (�ļ�����Ŀ¼�������﷨����ȷ��)
java.base/java.io.FileOutputStream.open

[2022-04-17 17:29] Siedlerchr commented on #8673
@fly-ing-fish is Jabref located directly under G:\Jabref?
Try move it down to a folder like G:\workspace\jabref

[2022-04-17 17:47] fly-ing-fish commented on #8673
It works, thanks for your help! 😁  @Siedlerchr

[2022-04-17 18:26] ThiloteE commented on #8673
Hey, I just noticed: Obviously, JabRef can't know if the user wants to use special characters with or without backslash, but JabRef could NOTIFY the user that there are special characters present in an entry via "Integrity check". (JabRef's current integrity check does not check for this)

When I tried to use a workaround and use "search" to search for a $ sign within the entry, it was not found.

[2022-04-17 19:37] Siedlerchr commented on #8673
@fly-ing-fish  I would appreciate it if you could add a hint to the devdocs https://github.com/JabRef/jabref/blob/main/docs/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.md

[2022-04-17 19:44] Siedlerchr commented on #8679
Ah, I now remember that we changed this, not sure how this would need to be adapted
https://github.com/JabRef/jabref/blob/f13ada05df79e654c0731ecdca4a0021c94a05ef/src/main/java/org/jabref/gui/desktop/os/Linux.java#L89-L102

[2022-04-18 02:28] gaochenyi opened #8682 "Removal of trailing spaces fails parsing of erroneously filling bib files"
Some people may fill fields in bib files erroneously.
For example, the OP of [this post on JabRef forum](https://discourse.jabref.org/t/2167), and his/her colleagues, appends `\` to period following *uppercase* letter, maybe hoping to control spacing after periods.
Though the practice adopted there is presumably inappropriate, a clean-up action or integrity check may be enough to fix this problem,

[2022-04-18 02:30] gaochenyi commented on #8682
@ThiloteE Here you go.

[2022-04-18 06:34] Siedlerchr commented on #8682
I would suggest an integrity check!

[2022-04-18 11:48] Siedlerchr commented on #8652
The zbib.org or the paperpile could work https://www.bibtex.com/c/isbn-to-bibtex-converter/
WorldCat requires an API key

[2022-04-18 15:20] fly-ing-fish commented on #8673
- I agree that there is no heuristic that can find out if the user wants to use math-mode or simply render the $. :flushed: May be it's necesssary for  users  to remember to add a ' \' before ' $ ' if they really want to show a '$' while using math mode? As you said, Integrity check is a good idea.

 ![image](https://user-images.githubusercontent.com/76458201/163826793-1046d321-e109-4744-8b3a-0978

[2022-04-18 16:34] ThiloteE commented on #8673
I finished my tests. Here my test library: [test-8673-encoding of special characters.bib.txt](https://github.com/JabRef/jabref/files/8506815/test-8673-encoding.of.special.characters.bib.txt)

I wrote some comments into this file.

Most interesting results:

- entries with citationkeys `test1ca` and `test1cb` show that  `%`, `$`, `_`, `#` and `&` all do not get backslashed when using the Unicode to

[2022-04-18 16:38] ThiloteE commented on #8673
Most of the characters are being converted nicely, so that's fine :))
@fly-ing-fish Thank you!

[2022-04-18 16:55] ThiloteE opened #8687 "LaTeX to unicode cleanup action does not remove backslash in title subtitle and custom fields"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.6--2022-04-11--1c782b7 Windows 10 10.0 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the la

[2022-04-18 16:57] ThiloteE commented on #8673
Btw. during these tests, I encountered #8687, so testing this took more time that I intended to spend on this :/

[2022-04-18 20:21] koppor commented on #8652
Maybe, we should merge the information of all fetchers? Think, we discussed that somehow and neglected it because of traffic and difficulty of merging. Currently, I think, we can do a test phase with more users and then decide whether we a) call all and merge or b) use a different ordering...

[2022-04-18 21:20] ThiloteE commented on #8669
Found out the pdf files that trigger this error were the ones that had become corrupted by using the development versions of Jabref to write XMP metadata during the period from ~ 2022-02-21 to 2022-04-11. Apparently I still had some corrupt pdf files I had forgotten about. Overall fix seems to be #8658.

Will close this now.

[2022-04-18 21:20] #8669 closed

[2022-04-18 21:23] koppor opened #8691 "Write XMP Button should be disabled when action is in progress"
We offer the functionality to write XMP to a PDF:

![grafik](https://user-images.githubusercontent.com/1366654/163879935-7e4b68b1-bbcd-4437-a75d-9c80fded1b32.png)

We tried to fix it at https://github.com/JabRef/jabref/pull/8658

However, the fix does not work:

<details>
<code>
com.google.common.util.concurrent.UncheckedExecutionException: java.lang.IllegalStateException: 1-based index not found:

[2022-04-18 22:18] Siphalor commented on #8653
I think I found the issue, at least I found a fix for me locally.
It seems to boil down to the socket being too slow for the maximum timeout.

Experimenting with various timeouts, `1000` instead of `200` seems to be working reliably for me.

A fix would be to either just bump the timeout to that or to make it configurable.

Current code:

https://github.com/JabRef/jabref/blob/ca6804921900c244ac46d

[2022-04-18 23:54] jakkarth commented on #8653
I'm not convinced a timeout is the issue here. The port is responsive for me in far less than 200ms:

��
real	0m0.005s
user	0m0.002s
sys	0m0.003s

As a side note, testing it that way results in a stack trace:

[2022-04-19 05:27] fly-ing-fish commented on #8673
As for the problem of `%,  _, #, &,` mentioned above, seems the problem is in Java. Seems that something goes wrong wihle generatling `UNICODE_LATEX_CONVERSION_MAP` entries from  entries like `{"35", "num", "\\#"}` in `CONVERSION_LIST`. Adding the corresponding mapping into `UNICODE_LATEX_CONVERSION_MAP` manually  like `UNICODE_LATEX_CONVERSION_MAP.put(String.valueOf(Character.toChars(Integer.deco

[2022-04-19 08:24] ThiloteE commented on #8673
For `%`, `$`, `_`, `#` and `&` see also [their uses in LaTeX](http://www.ctex.org/documents/latex/latex2e-html/ltx-164.html), but this webpage is from 1995, so I probably still should do a compiling test xD

- I know for a fact that `%` definitely opens the "comment" environment. So if that one does not get backslashed, it will omit everything that comes after from being compiled. Ah yes and we ha

[2022-04-19 17:38] Siedlerchr commented on #8673
@fly-ing-fish  No need to adapt the latex <> unicode conversion map. See the existing LatexCleanupFormatter with the regex pattern for ESCAPE_PERCENT_SIGN_ONCE  that also works when the value is already escaped.

@ThiloteE    For unicode <-> latex it's kind of both. We use https://github.com/plurimath/unicode2latex

[2022-04-19 22:30] koppor commented on #8633
I think, we cannot maintain these error codes. How nice would it be if we had human readable error names. - We have it: We already collect our errors based on the Java class names.

If you would do something, you could work on fixing a bug (see https://github.com/JabRef/jabref/projects/5 for a categorized list).

[2022-04-19 22:30] #8633 closed

[2022-04-19 23:53] melmorsy commented on #8691
Hi,
I'm interested in working on this issue, it's my first code contribution to open-source. I managed to get JabRef up and running from IntelliJ and I guess I found the button/action of interest (writeMetadataToPdf at LinkedFilesEditor, or am I at the wrong place?), however I'm not sure how to reproduce this issue, it would be great if someone could help please with providing steps to reproduce t

[2022-04-20 06:15] Siedlerchr commented on #8687
Works fine for me. Did you enable Latex2Unicode for *all text fields*
<img width="629" alt="grafik" src="https://user-images.githubusercontent.com/320228/164162675-61c2b9a9-32c4-4999-85e6-54337d8a5968.png">

[2022-04-20 07:10] ytzemih commented on #7615
@ThiloteE Thanks for the update. I've tried it as described above (reference added and updated the bibliography) and it seems to work now. No exception thrown at that time.

[2022-04-20 07:58] LyzardKing commented on #8679
The last time I looked at it there was no way to port java.awt.desktop to using more modern systems to launch programs/file managers/etc, not easily at least.
I'll give it another go in the next few days and let you know what I come up with

[2022-04-20 08:03] LyzardKing commented on #8679
@wujastyk out of curiosity, what is the output of running `env | grep DESKTOP_SESSION` in a terminal?

Even in edge cases the default xdg-open command should run fine anyway

[2022-04-20 08:23] ThiloteE commented on #8687
I specifically only chose the `title`, `subtitle`, `abstract` and `xyz` (= the custom field) fields.
I did NOT use LaTeX2Unicode for *all text fields*

[2022-04-20 08:27] ThiloteE commented on #7615
Great! Closing this :-)

[2022-04-20 08:27] #7615 closed

[2022-04-20 09:33] ThiloteE commented on #8691
Mhm I was the user that provided this error message to Oliver. I have not found out how to trigger the error message completely though. What I know:

1. Have an entry with bibliographic data
2. Have an pdf file attached to this entry
3. Press the button to write XMP metadata multiple times very fast in a row
4. ? -  I think there could be an additional condition. Maybe it has something to do with

[2022-04-20 09:37] ThiloteE commented on #8691
Thank you for your interest by the way! :-)

If you are here, you are at the right place:

![image](https://user-images.githubusercontent.com/73715071/164199022-9ee4d2df-1e4f-4f7a-b9e4-131c423fefc1.png)

[2022-04-20 15:44] ColinScarato opened #8701 "Generic way to store preferences in .bib file"
Jabref allows to store part of its settings in a database-specific way directly in a given .bib file: https://docs.jabref.org/setup/databaseproperties

I would find super useful to be able to store more of these settings in a .bib file (use case: a big group of collaborators working on a database under version control, with a lot of settings that we currently need to maintain for every collaborato

[2022-04-20 16:39] wujastyk commented on #8679
I get
[code]

[2022-04-20 16:43] LyzardKing commented on #8679
If this command works (the path must be absolute) we could replace all the custom parts with this.
It should work on all distros/desktop environments

`dbus-send --session --print-reply --dest=org.freedesktop.FileManager1 --type=method_call /org/freedesktop/FileManager1 org.freedesktop.FileManager1.ShowItems array:string:"file://<insert full file path>" string:""`

[2022-04-20 19:04] Siedlerchr commented on #8687
Stil cannot reproduce this:
After:
[code]
<img width="606" alt="grafik" src="https://user-images.githubusercontent.com/320228/164303988-ce6a2504-4c3e-4ff7-bf86-ccb7b20a7718.png">

[2022-04-20 19:08] ThiloteE commented on #8687
Yes, that is exactly what I did Christoph.

Hmmm ... ok, I will try again and report back. Maybe there is some shenanigans going on with having to close and restart Jabref before they take effect? Dunno.

[2022-04-20 19:16] Siedlerchr commented on #8687
Tried this in a new empty library.

[2022-04-20 19:24] ThiloteE commented on #8687
These were the settings I used:

![image](https://user-images.githubusercontent.com/73715071/164307448-5d833511-051c-45d0-9e43-8a3f040db4bb.png)

[2022-04-20 19:40] ThiloteE commented on #8687
Ok, I was able to reproduce your results by removing all cleanup actions. Trying to finding out which one is the culprit, I found:

- After having reset cleanup actions to default:
   - I see `All-text-fields: Replace Unicode ligatures`. No clue what It does. When removing this one, I cannot re-add it anymore. It cannot be found in the dialogue that allows me to choose from various cleanup actions

[2022-04-20 19:43] ThiloteE commented on #8687
Ok, I think the culprit is `normalize date`.

[2022-04-20 19:52] Siedlerchr commented on #8687
Have you mabye convert to bibtex/biblatex format=?
<img width="606" alt="grafik" src="https://user-images.githubusercontent.com/320228/164311695-b668cca6-da44-497b-84e3-7a3353cf4f26.png">

[2022-04-20 19:53] ThiloteE commented on #8687
No, I have not.
Ok, culprit is `All-text-fields: Cleanup URL link`

[2022-04-20 19:53] ThiloteE commented on #8687
If you add that one, it will prevent doing the conversion.

[2022-04-20 19:55] Siedlerchr commented on #8687
So we can close this as [PEBCAK]https://en.wiktionary.org/wiki/PEBCAK

[2022-04-20 19:55] #8687 closed

[2022-04-20 19:56] ThiloteE commented on #8687
I guess so 😅 I will make sure to limit the usage of this cleanup action to the URL field only.

[2022-04-20 20:17] calixtus commented on #8679
Reveal folder works for me, open terminal here not, because i dont have xterm installed, but konsole.

[code]

[2022-04-20 21:53] #8652 closed

[2022-04-20 22:17] #8673 closed

[2022-04-20 22:43] ThiloteE opened #8708 "DOAB fetcher does not fetch field ISBN"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to rep

[2022-04-20 22:53] ThiloteE commented on #8576
#8598 introduced the DOAB fetcher to websearch. Closing this. There may be follow up pull requests, but the main issue why I opened this thread is adressed :-)

Thank you all for your contribution.

[2022-04-20 22:53] #8576 closed

[2022-04-20 22:53] ThiloteE commented on #8708
This is a follow up to #8576

[2022-04-21 08:57] LyzardKing commented on #8679
@wujastyk what file manager are you using?
@calixtus there is a condition specific for konsole. What package are you running?

[2022-04-21 13:24] 0CoolMichael commented on #8650
Hello, I wanna have a try to solve this problem. Can I give it a shot?

[2022-04-21 13:36] a1819644 commented on #6448
@ilippert @Siedlerchr
Can my team have a look into this issue? We are group of 4 (mix of Bachelors and Masters Students) from University of Adelaide.  Also, if possible, would you be able to re-describe the whole issue? I have already read connected threads and right now everything is pretty much scattered in my mind.

@JustinNgu18

[2022-04-21 14:45] ThiloteE commented on #8650
Sure, you can :-)

Suggestion for solution:

Add preference to choose (or allow disabling) different formatters (e.g. "Latex2unicode", "Unicode2LaTeX" or simply "Unicode") to be called for entry preview somewhere here:
![image](https://user-images.githubusercontent.com/73715071/164482946-c566ac89-7c7b-4305-8303-d4dd66fbd4b2.png)

@Siedlerchr What do you say? Good idea? Bad idea?

[2022-04-21 14:46] ThiloteE commented on #8650
@0CoolMichael, as a general advice: Check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace are worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

Try to open a (draft) pull r

[2022-04-21 14:49] 0CoolMichael commented on #8650
Thanks you for your suggestion, and I will try it out in the next few days.

[2022-04-21 14:52] zkl-ai commented on #8672
I think it good. OK, let's go with that'.

[2022-04-21 15:06] Yancy10-1 commented on #8012
Hello, I'd like to have a try to solve this problem.  Could you give me some suggestions?

[2022-04-21 15:48] Siedlerchr commented on #8650
I'm not yet sure how feasible this is. I would go with the entry preview first. The table is more complex

[2022-04-21 17:32] wujastyk commented on #8679
@LyzardKing  I'm using [Nemo](https://en.wikipedia.org/wiki/Nemo_(file_manager)), the file manager of Cinnamon.

[2022-04-21 19:06] LyzardKing commented on #8679
Strange. It should work with the default (running `xdg-open <path to folder>`)
We can add another option specifically for nemo, but the default command should work anyway. Could you try it in a terminal?

[2022-04-21 19:35] wujastyk commented on #8679
try what in a terminal?  Nemo?  xdg-open <folder>.  Both work fine.
![image](https://user-images.githubusercontent.com/762246/164539051-aac9fc8a-ac9d-4e13-ad61-0688a67a5a6e.png)
![image](https://user-images.githubusercontent.com/762246/164539234-3258c251-25f3-4d1d-94b7-5f463a6f2f75.png)

[2022-04-21 22:15] melmorsy commented on #8691
Thank you @ThiloteE ! :) - I'm planning to push the proposed enhancement to disable the button once it's clicked then re-enable it once the write is done, will have a look at the contribution guidelines before pushing the change though, let me know please if you have any suggestions.

[2022-04-21 23:50] ThiloteE commented on #8012
If you manage to solve this issue, I will be very happy! Not sure if this is the best issue for beginners, but if you think you will manage or your course (I assume you are a student) requires you to solve something similar, sure go ahead!

As a general advice: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/g

[2022-04-22 07:16] mlep commented on #8679
FYI: I am using Nemo and cinnamon too, and I do not have this issue: "open folder" opens nemo with the proper directory.

JabRef 5.6--2022-04-20--f220575
Linux 4.19.0-20-amd64 amd64
Java 17.0.2
JavaFX 18+12

[2022-04-22 07:26] mlep commented on #8093
To me, the folder opens, as expected.

JabRef 5.6--2022-04-20--f220575
Linux 4.19.0-20-amd64 amd64
Java 17.0.2
JavaFX 18+12

[2022-04-22 08:14] ilippert commented on #8093
JabRef 5.6--2022-04-20--f220575
Linux 5.16.20-200.fc35.x86_64 amd64
Java 17.0.2
JavaFX 18+12

Hmm, not in my case.

[2022-04-22 08:27] mlep commented on #8093
@wujastyk: What about you?

[2022-04-22 09:02] Css22 commented on #7129
Hello, I wanna have a try to solve this problem. Can I give it a shot?
Based on [#7153 (comment)](https://github.com/JabRef/jabref/pull/7153#issuecomment-738044721) I would like to speed up or refactor his method to face large-scale data.

[2022-04-22 09:43] ThiloteE commented on #7129
@Css22 hey, yes feel free to! :-)

As a general advise and if you are new to open source and JabRef: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is a good start. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter

[2022-04-22 11:15] Siedlerchr commented on #6448
In JabRef some fields are defined as single line, e.g. author title and others are defined as multiline, e.g. abstract, comment.
In the linked PR I created a kind of hacky solution to enable multiline for other (custom) fields as well. "Do not wrap fields" option

Solution would be cool to change the option (e.g. multiline) in the custom entry type dialog. In addition, it should be possible to sel

[2022-04-22 11:29] ThiloteE commented on #4688
@a1819644 Anoop, are you not working on this issue? I have seen you ask if you can work on multiple issues now, but you have not opened a single pull request. Does this mean you are NOT working on this issue anymore?

[2022-04-22 11:36] a1819644 commented on #4688
@ThiloteE Ohh I'm sorry for creating misunderstanding, Im working on this issue as well. Cause my group is of 4 people we decided to choose one more issue to participate in if we can. Also ISBN issue #8652 got fixed due to change in priority therefore we decide to to choose one more issue #6448.

make sense I will make pr as soon as possible on this issue first.

[2022-04-22 11:40] ThiloteE commented on #4688
Ok, thanks for the clarification! Great then! Yes, sorry for 8652. An unfortunate coincidence that the platform had to close down, which necessitated fast and more complex reaction by JabRef maintainers.

[2022-04-22 11:42] a1819644 commented on #4688
Not a problem, I completely understand!
 ISBN search was pretty broken hahhaha. ;)

[2022-04-22 11:49] mlep commented on #8672
I do not understand "Prepare for LaTeX". JabRef works on .bib files. They are designed to be used by BibTeX and biber, not LaTeX (at least not directly).

[2022-04-22 12:11] ThiloteE commented on #8490
@JasonGross The next release of JabRef will contain a separate cleanup action that excapes $ signs. Please do not use it lightly. Use with care. JabRef is not able to know if dollar signs were present to A) start mathmode or B) simply render a $ sign. Using this cleanup action will require a double check by users, unless you want to challenge your "luck".

[2022-04-22 12:18] ThiloteE commented on #8672
Hmm. Then, maybe it should be changed to "`Prepare for BibTeX/Biber`" ... Sorry, I don't know the nuances, but I know that we use LaTeX2Unicode and Unicode2LaTeX converters (instead of UnicodeToBibTeX converters), so I assumed LaTeX is the underlying engine, syntax or standard.

JabRef works with .bib files, but it also can export bibliographic data to LibreOffice/OpenOffice or Microsoft Windows.

[2022-04-22 12:30] ThiloteE commented on #8672
Hmm. I think "Prepare for LaTeX" is better after all. Look at the preamble of [The Comprehensive LaTeX symbol list](https://www.ctan.org/tex-archive/info/symbols/comprehensive): They incorporate special characters from multiple packages. Biber and Bibtex are packages that use LaTeX, but these cleanup actions can also be used to prepare usage for other packages.

[2022-04-22 12:37] mlep commented on #8672
Biber and BibTeX are not packages; they are independent programs that get the bibliographic references ready to use by LaTeX. But, yeah, sure, they belong to the same workflow!

My initial remark came from the "Make ready for LaTeX" and "Make ready for BibTeX" lists of actions. I did not understand the need to separate them.

So, if there is a "Prepare for LaTeX", will we also need a "Prepare for

[2022-04-22 12:59] ThiloteE commented on #8672
Fair enough. I mostly followed what is already in the description of the cleanup actions. If you hover with your mouse above them, you will see a small description.

Maybe, if people so desire? Most entry bibliographic data I fetch from bibliographic providers is already encoded in Unicode, so there does not need to be any preparation, but very rarely, it is not. I would not want people to use "Pr

[2022-04-22 13:53] mlep commented on #8672
Ah, OK, thank you for explaining.

But if it is prepared for LaTeX, will I be able to use it with MS Office? If not, I will need a "Prepare for MS office".
Note that such an action could be setup as a save actions (in Library -> Library properties")

Yeah, some do not, such as "Normalize page numbers". Hence "Normalize page numbers" should have a different meaning depending on the target applicati

[2022-04-22 14:31] ThiloteE opened #8712 "Add integrity check for LaTeX special characters"
This issue was inspired by inspecting and working on issues #8673, https://github.com/plurimath/unicode2latex/issues/19,  #8650, #8682 and #3644

Problem:

1. Special characters do special things in LaTeX (or when being compiled by Biber).
   - See [Page 15 (Table 1)](https://ftp.agdsn.de/pub/mirrors/latex/dante/info/symbols/comprehensive/symbols-a4.pdf) for escapeable "special" characters in LaTe

[2022-04-22 14:42] ThiloteE commented on #8712
The workflow is as follows:

1. Decide if Database should be exported to LaTeX/OpenOffice/LibreOffice/MicrosoftOffice (Each of them may require entries to be formatted in a specific way (e.g. LaTeX, Unicode, HTML etc.) to be rendered correctly).
2. Use integrity check
3. Decide if characters found by integrity check are correct or not.
4. If not, change characters
   - Either manually
   - Or via

[2022-04-22 14:54] JasonGross commented on #8490
I am still interested in a cleanup action that converts LaTeX to mixed LaTeX and Unicode, ie, it should be valid LaTeX code and display the same, but anything that could be replaced by a non-special Unicode character is.  As I've said above, the current behavior of LaTeX to Unicode is useless *because it generates invalid bibliographic files*.  Should I open a new issue for this, or reopen this on

[2022-04-22 15:01] ThiloteE commented on #8490
We are trying to fix this via an integrity check. https://github.com/JabRef/jabref/issues/8712
You could convert from LaTeX to Unicode and then to do the integrity check. Would that work for you?

[2022-04-22 15:05] ThiloteE commented on #8490
The problem is, somebody would need to do the mapping from LaTeX to "Unicode aware LaTeX" or since we are at it from Unicode to "LaTeX aware Unicode", which is a lot of work. [The Comprehensive LATEX Symbol List](https://ftp.agdsn.de/pub/mirrors/latex/dante/info/symbols/comprehensive/symbols-a4.pdf) lists

A conversion (e.g. via cleanup actions) is non-trivial.

[2022-04-22 16:34] JasonGross commented on #8490
That would be great!  However, even better would be a version of LaTeX to Unicode that lets the user explicitly deactivate any subset of the mapping that they'd like.  The default exclusion list would just include special/control characters like `%` and `\ `.

This is a red herring.  If the symbol is not available in the font, it doesn't matter whether it comes from a Unicode character or not.  If

[2022-04-22 17:15] ThiloteE commented on #8490
Ok, I finally may understand why this might be useful. If you want to bring really old databases up to date and transform to unicode, but not for the sake of using the database to export to LibreOffice/OpenOffice or Microsoft Office (These would be fine with "pure" Unicode I think), but still would want to continue to export them to a (La)TeX engine (that can read unicode), you would only need to

[2022-04-22 18:34] wujastyk commented on #8093
@mlep I'm on Linux Mint + Cinnamon.
[code]

[2022-04-22 22:15] JasonGross commented on #8490
Yes!  (Though more often it's "I copy-pasted from Google Scholar or some internet-provided .bib file" than "I had a really old database".)

Name changed, please reopen issue.

I have not tried it yet.  I'll try it the next time I'm manipulating databases.

[2022-04-23 12:12] ThiloteE commented on #8490
@JasonGross lets rename this issue back to "LaTeX to Unicode formatter should not replace \% with %" again, then we close this issue and open a new issue with a well explained first post understandable for people that have no clue about these issues listing:

- problem
- desired solution
- example for how a future workflow would look like
- list "special symbols" that would need to be excluded

E.

[2022-04-23 12:48] JasonGross opened #8715 "Add cleanup action for "LaTeX to LaTeX aware Unicode""
**Problem:**
- There is no cleanup action that allows converting (old) bibliographic data that is (still) formatted in LaTeX with Non-Unicode characters to Unicode aware LaTeX formatting (newer LaTeX engines (e.g. LaTeX2e) can now read most Unicode characters).
- Current workarounds include converting to from LaTeX to Unicode and then back to LaTeX, while manually checking, if any characters were

[2022-04-23 12:49] #8490 closed

[2022-04-23 13:55] 0CoolMichael commented on #8650
After thinking, I think that I should add a "ListView" component in the "Entry Preview". And there should be three choices called HTML, Unicode and LaTex. If one of them is clicked, I should invoke corresponding formatter to convert the text in preview. Is the thinking right? If so, I will start it right now.
By the way, I can't open the fxml file in Jabref through scene builder. What could be the

[2022-04-24 16:35] ThiloteE commented on #8423
#8644 is a similar or close variant of this issue.

[2022-04-24 22:29] JeffersonJefferson-pixel commented on #8452
Hi, I'm interested in working on this issue. Is this issue available?

[2022-04-24 23:08] ThiloteE commented on #8452
@JeffersonJefferson-pixel

There will be some changes to the XMP metadata functionality. You can track this work in pull-request #8681. If you were to start working on this issue here now, there is the possibility you might encounter conflicts. I would suggest to wait until 8681 is merged or keep track of what will change via 8681 while working on this.

The alternative would be to have a look at

[2022-04-24 23:10] JeffersonJefferson-pixel commented on #8452
Oh I'm actually working with him on this issue. I wasn't aware he already made a pull request

[2022-04-24 23:12] ThiloteE commented on #8452
Ah, got it! Thanks! :-)

[2022-04-25 07:37] Css22 commented on #7129
Thank you for your reply. I will do it as soon as possible.

[2022-04-25 08:15] ThiloteE opened #8719 "Index out of bounds. Might be related to table sort order"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Windows 10 21H1 Commit 46d378f05d05d03e7b3b8cbae21cd322dd6da33f

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development

[2022-04-25 08:18] ThiloteE commented on #8719
I also can reproduce when using #8711.

See here:

https://user-images.githubusercontent.com/73715071/165048768-8c078186-af20-4e1b-8f20-cae4717c1440.mp4

...
<details>

<summary>Log File when using 8711</summary>

[code]

</details>

[2022-04-25 08:22] ThiloteE commented on #8719
This is the library I used.

[test-#8673-encoding.bib.txt](https://github.com/JabRef/jabref/files/8552787/test-.8673-encoding.bib.txt)

[2022-04-25 18:27] #6877 closed

[2022-04-25 19:00] #8674 closed

[2022-04-25 19:09] Siedlerchr commented on #8708
Looked into it: The API result does not contain the ISBN number as field https://directory.doabooks.org/rest/search?query=%22i+open+fire%22&expand=metadata

[2022-04-25 19:58] koppor commented on #8452
The author meant the [Unprotect Terms Formatter](https://docs.jabref.org/finding-sorting-and-cleaning-entries/saveactions#unprotect-terms)

Minimal example:

[code]

gets

[code]

The [Remove braces](https://docs.jabref.org/finding-sorting-and-cleaning-entries/saveactions#remove-enclosing-braces) formatter is as follows:

[code]

gets

[code]

[2022-04-25 23:21] #7881 closed

[2022-04-26 10:56] ThiloteE commented on #8394
https://github.com/openjdk/jfx/pull/710 apparently (hopefully) was fixed. The fix will come with JavaFX19, hence if things go alright, estimated arrival time to JabRef will be around September or October 2022.

[2022-04-26 20:34] dupontinquiries opened #8729 "Option to use System Preference for Light/Dark Theme (Win/Lin/OSX)"
**Is your suggestion for improvement related to a problem? Please describe.**

I would appreciate a way to automatically apply either a light or dark theme whenever I switch my light/dark theme in my MacOS system preferences. Sometimes I am using an eink monitor and I prefer light themes because they are easier to read on eink IMO, and other times I am on an LCD panel monitor and do not want to hu

[2022-04-27 14:52] falschgeldkind opened #8730 "Saving bug after import - braces don't match"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

Jabref

[2022-04-27 17:07] ThiloteE commented on #8730
Would it be possible if you could provide the pdf that you imported? (As long as there is no copy-right) you also can send the file to jabref maintainers in a private e-mail (web@jabref.org).

[2022-04-27 18:25] Siedlerchr commented on #8730
Well, the error mesage says the problem is a brace: org.jabref.logic.exporter.SaveException: Problems saving: java.io.IOException: Error in field 'AUTHOR of entry SINGLEFINandBUFFETINGALLEVIATION0656': Braces don't match. Field value: FOR SINGLE{FIN and BUFFETING ALLEVIATION

[2022-04-27 19:38] yassine-hamoudi opened #8732 "Select all entries in a group"
### JabRef version

5.6 (latest release)

### Operating system

macOS

### Details on version and operating system

maxOS 12.3.1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

The Cmd + A command doe

[2022-04-27 20:35] ThiloteE commented on #8708
@RonaldSnijder is there a specific reason for this? Would it be possible to add the ISBN (`oapen.relation.isbn`) to the fields offered by the API? I feel bad for JabRef users fetching incomplete bibliographic metadata.

Another field that does not seem to be present: `oapen.imprint`. There might be more, but these are the two I noticed when testing the new DOAB fetcher.

[2022-04-29 05:56] Murmele commented on #8584
@ThisTestUser thank you for the explanation.

[2022-04-29 08:39] falschgeldkind commented on #8730
@ThiloteE Sorry due to copyright issues I cannot share the PDF file

But @Siedlerchr is correct.

Maybe you could just check the new entries after the OCR step for any braces and discard them? Maybe even leave that field empty (because it probably is fucked up OCR and the value does not make any sense anyway)

[2022-04-29 10:18] ThiloteE commented on #8730
Maybe you could share the metadata that gets imported into JabRef before saving then. There should not be any copyright on that, right?

I assume there is a brace too many in one of the fields, therefore JabRef detects this and gives the error. If you have many entries and routinely stumble upon odd number of braces in your PDFs, then you should check your workflow and the programs you use to crea

[2022-04-29 10:23] #8584 closed

[2022-04-29 10:37] falschgeldkind commented on #8730
I do not create any PDFs i'm just importing unlinked files (that already exist).

I think the OCR sometimes confuses normal braces with curly braces

Yes the Problem is that there sometimes are (curly) braces within the fields. Wouldn't it be enough to just delete all braces WITHIN fields or swap them out for normal braces?

[2022-04-29 10:41] ThiloteE commented on #8730
I still don't know what OCR means.

[2022-04-29 10:51] falschgeldkind commented on #8730
Optical character recognition. Isn't that what the PDF import does to get the Author etc. if its not contained in the PDF metadata?

[2022-04-29 11:09] ThiloteE commented on #8730
We don't know what is imported to JabRef and what it parses and what method it uses to import because you have failed to provide this data to us. Sorry :/ Troubleshooting this is not easy.

JabRef by default checks for data in the following order, when Grobid is enabled (but you also can disable Grobid):

    1. Look for bibtex entry on first page of pdf
    2. Look for embedded bib file
    3. Gr

[2022-04-29 11:13] ThiloteE commented on #8730
You can check metadata attached to the pdf via [exiftool ](https://www.exiftool.org/).

The following command will allow you to extract all available metadata from PDFs:

`exiftool -ee3 -U -G3:1 -api requestall=3 -api largefilesupport FILE`

[Source](https://www.exiftool.org/faq.html)

[2022-04-29 11:15] falschgeldkind commented on #8730
the next time this problem turns up I'll make a screenshot or something like that and investigate with exiftool

[2022-04-29 11:43] falschgeldkind commented on #8730
Allright. Got another one:
There seems to be no metadata in this pdf:
[code]
![Bildschirmfoto von 2022-04-29 13-40-21](https://user-images.githubusercontent.com/74116031/165937914-b5fdee58-d3e9-4f1f-9c06-8a6b29d86d59.png)

[2022-04-29 12:00] ThiloteE commented on #8730
Also, please show the bibtex source tab. sometimes what is shown in other tabs diverges from what is shown in bibtex source.

[2022-04-29 12:17] falschgeldkind commented on #8730
I use linux. So no exe :D

how do I get the bibtex source tab?

[2022-04-29 12:20] ThiloteE commented on #8730
Ah right. My bad.

The `{} biblatex source` tab is one of the tabs of the entry editor in JabRef.
![image](https://user-images.githubusercontent.com/73715071/165943272-34d0f8d4-e521-4a9e-99d2-a5a8c99cbd6d.png)

[2022-04-29 12:21] falschgeldkind commented on #8730
another one with a similar error:
`bley@DellOptiPlex-7010:/home/pfisun8n/allgem0/08_Literatur/Dokumente/Druckschriften/EUCASS$ exiftool -ee3 -U -G3:1 -api requestall=3 -api largefilesupport a169.pdf
bley@DellOptiPlex-7010:/home/pfisun8n/allgem0/08_Literatur/Dokumente/Druckschriften/EUCASS$
`

the source tab says this:
`Error in field 'AUTHOR of entry ГпуезИаНоп1310': Braces don't match. Field valu

[2022-04-29 12:48] falschgeldkind commented on #8730
Thank you.

I do not have the bibliographic data unfortunately

[2022-04-30 04:34] zkl-ai commented on #8715
Hello, can I take this issue? I have done something related to cleanup actions.

[2022-04-30 08:14] NYH-Dolphin commented on #8235
Hi Jabref, I am trying to fix this issue now. I am wondering whether [Accept Changes] need to automatically save the modified file? This need to call the variable of `SaveDatabaseAction` in the `DatabaseChangeMonitor` class. I am not sure whether I have break the calling rules?

This is the part that I am trying to modify
![image](https://user-images.githubusercontent.com/60838786/166097651-7d5c13

[2022-04-30 08:17] NYH-Dolphin commented on #8235
Now when Jabref detects the violation, it will display a dialogue like this
![image](https://user-images.githubusercontent.com/60838786/166097762-a1a1d3d5-42c5-4315-96c5-689e6f1f28d6.png)

When you click [Accept changes], it will quickly show the changes and save it automatically
![image](https://user-images.githubusercontent.com/60838786/166097882-fc43133c-be29-4f7b-9ee9-938914dee2d1.png)

[2022-04-30 11:06] ThiloteE commented on #8672
See also: https://discourse.jabref.org/t/uses-of-latex-cleanup-action-what-do-you-use-it-for-and-why/3348

[2022-04-30 11:41] ThiloteE commented on #8715
Sure you can!

[2022-04-30 11:57] ThiloteE commented on #3644
@koppor Is this still relevant?
What IF [Unicode2LaTeX](https://github.com/plurimath/unicode2latex) were able to convert this back to LaTeX, is this something that should be done or will this create problems? Should we ask plurimath to include this in their conversion or should this also be included in the [LaTeX2UnicodeawareLaTeX converter](https://github.com/JabRef/jabref/issues/8715)?

[2022-04-30 12:36] ThiloteE opened #8736 "Connect Integrity Check with Cleanup Actions"
**Problem:**
1. Use `Quality > check integrity (Ctrl + F8)`
2. Find special characters e.g. as implemented in #8712
3. User will have to manually go to the entry and change the character(s).

**Solution**

Add button to integrity check that allows to immediately use the corresponding cleanup action.

E.g.

- When using integrity check and finding a `%`, it should be offered to use the `escape % si

[2022-04-30 12:40] ThiloteE commented on #8736
Implementing this in JabRef would bring:

- Faster workflow

[2022-04-30 13:45] Siedlerchr commented on #3644
Refs https://github.com/JabRef/jabref/pull/8639

[2022-05-01 07:46] ryan-carpenter commented on #8414
For me, this is a huge problem with bibtex data. I usually conduct searches at the source, and then export results to capture the metadata I need. Usually, the choice is between RIS (or a variant such as Natbib), Bibtex, CSV and sometimes a plain text report (with or without field names).

Most of the formats are impoverished compared to the source data, and bibtex is particularly anemic, so I usu

[2022-05-01 11:39] Siedlerchr commented on #8414
Actually, after an import from a fetcher, a conversion to biblatex/bibtex is automatically performed
in #8361 this was also implemented for ID fetching (e.g. DOI)

The only thing which is probably missing is when you import/open from a file. This refs #8298

https://github.com/JabRef/jabref/blob/6dfc2e00b4fc1dd76f4865e81894e2f7b2e50968/src/main/java/org/jabref/logic/importer/ImportCleanup.java#L10

[2022-05-01 12:04] ThiloteE commented on #8414
Hey, I am thinking of closing this issue. There is not much JabRef can do.

Options would be:

1. JabRef fetches as much data as possible --> e.g. If we **ASSUME** RIS provides more data, JabRef should prioritize fetching from RIS.
    - positive: Probably more data is fetched
    - negative:
      - JabRef's codebase would need to be changed. Every single fetcher for the websearch and for import

[2022-05-01 12:08] ThiloteE commented on #8414
What users can do:

- Manually import from RIS (or from some other standard) into JabRef
- Manually add missing bibliographic data by hand

[2022-05-01 12:10] ThiloteE commented on #8414
Can you provide an example? I fail to understand. This sentence is too complicated for me xD

[2022-05-01 12:14] ThiloteE commented on #8414
Maybe I should just rename this Issue here to "Conversion between RIS and BibLaTeX"?

[2022-05-01 17:04] claell commented on #3953
The issue seems to be still relevant. I came across it having the following in mind:

I will likely have several, project related .bib files. Additionally, I plan to have a large .bib file collecting relevant entries from the project related files. For that, I plan to manually copy entries. That will likely also involve copying the files and updating the links.

The question is, what mechanism can

[2022-05-01 19:34] claell opened #8738 "Show a progress indicator when dragging and dropping PDF files to JabRef"
**Is your suggestion for improvement related to a problem? Please describe.**
When I drag a PDF document into JabRef, it often takes time for it to process it. I also have experienced exceptions for that operation.

**Describe the solution you'd like**
In general, I like to see some indicator that something is going on in the background (especially when dragging more than one file to the window).

[2022-05-01 19:37] claell opened #8739 "Improve the usability of keywords for tagging"
**Is your suggestion for improvement related to a problem? Please describe.**
Currently, there seem to be two options for tagging: groups and keywords. Currently, groups seem to be the most usable option. However, I wonder, whether keywords are actually the better way to tag documents. However, their current usability is very bad (for example, showing all documents with a keyword requires some sea

[2022-05-01 19:46] claell opened #8740 "Exception when using an example search request"
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [x] I made a backup of my libraries before testing the latest development version.
- [x] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Use JabRef
2. Search

[2022-05-01 19:51] claell commented on #8740
A query without a space in it seems to work fine, so I suspect it has something to do with it.

[2022-05-01 20:08] claell opened #8741 "Have an automated way to"
**Is your suggestion for improvement related to a problem? Please describe.**
When checking for integrity, I get notified that capital letters in a title are not masked in curly brackets. However, I did not find an easy way to correct that (ideally even for all titles during cleanup) automatically.

**Describe the solution you'd like**
Add such an option or, if already there, improve discoverabili

[2022-05-01 20:13] claell opened #8742 "Tooltip with explanation for problem indicator on title field cannot be shown"
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Use JabRef
2. Possib

[2022-05-01 20:20] claell opened #8743 "Improve DOI import failure dialog. Do not show exception in the gui"
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. DOI in question: `10

[2022-05-01 20:21] claell commented on #8743
I guess, the DOI was wrongly imported from the PDF document. However, it should not result in an unhandled exeception, I'd assume.

[2022-05-01 20:26] claell opened #8744 "Convert author "[name], [first name]" to "[first name] [name]""
**Is your suggestion for improvement related to a problem? Please describe.**
When importing information, either automatically when dragging a PDF in the window or from applications like Citavi, the name scheme for the author field is often "[name], [first name]", not "[first name] [name]". This results in additional effort after DOI information retrieval and in making the library consistent.

**D

[2022-05-01 20:28] Siedlerchr commented on #8744
In the entry editor, right click author field:
<img width="802" alt="grafik" src="https://user-images.githubusercontent.com/320228/166163379-7bf19a55-e104-4f83-a4bb-620ebf7b9238.png">

[2022-05-01 20:49] claell commented on #8744
Thanks for your fast response! So, if the default is lastname, firstname; why do I get this when I retrieve DOI information:
![grafik](https://user-images.githubusercontent.com/6171135/166164020-01c62dd9-14ee-4c03-b202-47cb01664ddc.png)

Probably DOI uses a different format? But ideally, there wouldn't be a conflict caused by this.

[2022-05-01 20:51] Siedlerchr commented on #8744
Noticed that as well, the change detection or the import seems to not take into account the author cleanup

[2022-05-01 20:57] claell commented on #8744
Alright. So basically this issue is about having the DOI import respect the BibTeX format. Converting to a different format is probably not really needed, then. I think, Citavi offers an option to use different styles, but that would probably require other logic around it and at least I don't need that. So shall I close this issue and create another one for the DOI import?

[2022-05-01 21:00] Siedlerchr commented on #8744
Thanks, yes that would be good for the DOI! JabRef generally can handle also firstname lastname and tries to parse authors in different formats

[2022-05-01 21:01] claell commented on #8741
I think that I better understand the problem now. I assume that the message is displayed to indicate that capital letters should be masked if they are wanted to be retrieved during bibliography creation in LaTeX.

Not sure how to best deal with this. DOI and other sources use a title with capitalized letters. Not an expert on this, though.

[2022-05-01 21:03] claell opened #8745 "Correctly understand DOI author fields on import ("[name], [first name]" vs. "[first name] [name]")"
**Is your suggestion for improvement related to a problem? Please describe.**
Follow-up from #8744. Basically, DOI import shows differences in the author field, when there actually is just a different order of the name format used.

**Describe the solution you'd like**
Treat that in the background or a different way.

**Additional context**
![grafik](https://user-images.githubusercontent.com/61711

[2022-05-01 21:05] Siedlerchr commented on #8741
In BibTeX, you protect the casing with extra curly braces, e.g. {JabRef Developers} for author; otherwise it would get split up. These are also respected by cleanups operations.
You can also use this protect terms feature to create a list of such terms, so they won't be touched by clean ups.

[2022-05-01 21:05] claell commented on #8744
Alright, done: #8745

[2022-05-01 21:06] claell commented on #8744
Closing this now. If others feel a need for this, they can request reopening, I guess. But I doubt that this is a highly requested feature :)

[2022-05-01 21:06] #8744 closed

[2022-05-01 21:09] Siedlerchr commented on #6190
This should also fix #8745

[2022-05-01 21:11] claell commented on #8741
I found a right click operation for this, also. Should this protection be applied automatically, for example when importing from DOI?

[2022-05-01 21:18] Siedlerchr commented on #8741
I cannot say for sure, would need to dig again in the code before

[2022-05-01 21:23] claell commented on #6190
@Siedlerchr not sure, as #8745 is not about the user, but about the import logic, as far as I can see.

[2022-05-02 10:53] juanmduran opened #8746 "ALL ENTRIES LOST"
### JabRef version

5.6 (latest release)

### Operating system

macOS

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Change an entry [Ti

[2022-05-02 11:30] ilippert opened #8747 "date field with non date data generates error"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-04-25--5c9d898 Linux 5.17.4-200.fc35.x86_64 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I h

[2022-05-02 11:44] koppor commented on #8746
Thank you for the report!

Internal check: There should have been a .sav file.

[2022-05-02 12:17] Siedlerchr commented on #8746
@juanmduran Thanks for the report. That doesn't sound good.  I tried to reproduce this, can you please tell us where exactly you modified the title? In the title field or in the  BibTeX source?

[2022-05-02 12:32] juanmduran commented on #8746
Hi,

It isn't good. I lost entries, keywords, and groups. I updated to 5.6, and changed the title for an entry (again, from "XXXX" to `XXX'). Since JabRef wouldn't save the change (I don't remember the reported error), I restarted it. Everything up to that entry is gone.

The .sav file does not have all the entries (although it has more than the current .bib) but no keywords no groups nothing. I'v

[2022-05-02 15:56] LokeshSingh1102 commented on #8420
Hi,
I'm interested in working on this issue, it's my first code contribution to open-source.

[2022-05-02 17:16] ryan-carpenter commented on #8414
This is definitely a systemic problem, not a JabRef issue per se.

Sounds like a lot of work for little gain. Compared to BibTeX, RIS does have the advantage of more data _fields_, but RIS records have limitations of their own. For instance, RIS records often use author initials when BibTeX records from the same source often include full author names. BibTeX and BibLaTeX are also far more consiste

[2022-05-02 18:09] Siedlerchr commented on #8746
@juanmduran  We are trying to narrow the problem down. From which version did you upgrade? 5.5?
can you send us the bib files privately to developers[at]jabref.org ?

[2022-05-02 18:16] koppor commented on #8746
@juanmduran 😭😭😭. We are sorry for your loss of data! We are very grateful that you reported the issue and help to dig into what might have happened. We cannot change the past, but we can work on the future.

[2022-05-02 19:43] ryan-carpenter commented on #8414
Not too complicated; just nonsensical. I failed to notice that the example in the original post was about identifiable data that belonged in another field. This obviously a great reason to move the data.

[2022-05-03 09:23] anton-vrba opened #8752 "5.6 Faulty Pop Up Window when merging bib data from web."
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Enter an ISBN
2.

[2022-05-03 13:10] ThiloteE commented on #8747
b like in 10 000 bc?

[2022-05-03 13:14] ThiloteE commented on #8739
I assume, you want to have a better UI for keywords? Could you provide some examples how it should look like?
Currently JabRef provides keyword fields in some entry editor tab.

[2022-05-03 13:18] ilippert commented on #8747
well, maybe wrongly, I have been using the date field for information, too, like `\autocap{f}orthcoming`. So, the ´b´ was just to illustrate the non-date format.

[2022-05-03 14:18] Siedlerchr commented on #8747
As far as I remember, if you want to put in dates other than in the iso8601 format in that field, you have to use the way around the bibtex editor.
There should be a check preventing the date picker to popup for

[2022-05-03 15:35] Siedlerchr commented on #8739
Otherwise you can also create automatic groups based on keywords, if that helps you

[2022-05-03 15:37] anton-vrba commented on #8752
JabRef 5.7--2022-05-02--4718930
Windows 10 10.0 amd64
Java 17.0.3
JavaFX 18+12

I enclose the screendump,  the popup is oversized and only shows part of the data to be merged.  But once one tries  to resize by dragging edges then the rest of the information becomes visible.

![screendump](https://user-images.githubusercontent.com/34773801/166485334-aef9e480-4db0-4bcf-9d83-6d2c0b4af434.png)

[2022-05-03 15:57] ThiloteE commented on #8752
There will be a major overhaul of the entry merge editor. See #6190
Maybe it can be solved during this rework.

[2022-05-03 16:13] ThiloteE commented on #8743
JabRef's unhandled exceptions look very ugly, but they provide valuable information for maintainers, people that handle the code and sometimes it also holds information that can be understood by users.

In this one you can see that "No DOI data exists" is right at the top of the exception, which is pretty straight forward: You should check if the DOI you entered is correctly written, or if the ser

[2022-05-03 16:27] ThiloteE commented on #8741
I think extra curly braces are not necessary when the bibliograhic data is supposed to be used with the OpenOffice/LibreOffice or Microsoft Word integrations. About other Markup tools I don't even know. I would suggest a cleanup action for this instead of to automatically apply curly braces upon import.

[2022-05-03 16:51] #7340 closed

[2022-05-03 16:59] Siedlerchr commented on #8743
Solution: In the DOI Fetcher check if the content type of the server response is HTML or better, the HTTP status is 404, then add a meaningful message, e.g. DOI not found.  It's not the ideal solution, but nonetheless throw the FetcherException.
LOG the exception in the event log, but do not show it to the users.

Related code:
https://github.com/JabRef/jabref/blob/2929900640a9051328a578317acc1fca

[2022-05-03 17:04] Siedlerchr commented on #8741
Nope, only wrapping the uppercase character is not a good idea. It would be better to wrap the whole word in braces. See this comment for an explanation  https://github.com/JabRef/jabref/issues/419#issuecomment-169689877

[2022-05-03 17:12] claell commented on #8741
I think that normally, case is not preserved when using .bib files. That is why sometimes words like `{CAD}` or `{AI}` are enclosed in curly brackets (recently had this on a DOI import). The question is, what to do when DOI gives a title like "Approach to Investigate into Topic". Is it wanted to also preserve this?

[2022-05-03 17:16] claell commented on #8739
Yes, I am talking about a better UI for keywords, I know about both, the option to edit them and the option to create groups based on keywords.

What I was thinking of is something like labels here on GitHub (how you add them, how they display on issues and how you can click them or search for them). If needed, I can add more detailed explanation with screenshots.

Possibly, there are even better

[2022-05-03 17:19] claell commented on #8739
When searching for keywords, I was more thinking about GitLab, than GitHub, actually:

![grafik](https://user-images.githubusercontent.com/6171135/166505421-1ed93d61-ac22-492a-9d83-6ba10c675864.png)

[2022-05-03 17:29] claell opened #8753 "Improve notification display timing"
**Is your suggestion for improvement related to a problem? Please describe.**
When I perform actions in JabRef, sometimes a notification is displayed at the bottom, like:
![grafik](https://user-images.githubusercontent.com/6171135/166505899-425c681c-d93b-4d6f-8c29-f5e8312bc899.png)

Unfortunately, when notifications pile up, it can take a long time for the queue to finally empty (especially when u

[2022-05-03 17:45] ThiloteE commented on #8753
Hey claell, would you mind checking out the newest development version?  #8733 was just merged, which should alleviate a few of the issues! :)

[2022-05-03 17:58] claell commented on #8753
Ah, thanks for the heads-up. I'll check it out. Looks, like this issue is a duplicate of #7340.

[2022-05-03 18:16] Siedlerchr commented on #8753
Yeah ;) Was fortunately already reviewed by @calixtus earlier and then myself. So I will close the issue. If you encounter any more issues with it, feel free to reopen it

[2022-05-03 18:16] #8753 closed

[2022-05-03 18:16] claell commented on #8753
So, if somebody of the team can close this as duplicate, I'll open a new issue about the overlap of the Windows task bar (if this is considered to be an issue).

[2022-05-03 18:17] claell commented on #8753
Sorry, comment overlap. So do we need another issue about the task bar overlapping notifications on Windows?

[2022-05-04 02:42] Adriankhl commented on #5867
Same issue in swaywm + openSUSE

[2022-05-04 06:27] ilippert commented on #8747
I believe that in earlier nightly versions I did not received an error message when entering non iso8601 data in that field.

[2022-05-04 06:53] lefeimei commented on #8322
Hi @Siedlerchr, I'm a team member of @lishangyu9 's team. We are still working on this issue. What we have done is that we have unzipped the zip file of citivi project and got the XML file and converted it to XSD file.

Now we have a question: we got both the XML files of the demo project created by citavi and the project created by myself. The contents of the two XML files are different so that t

[2022-05-04 08:18] m-haug opened #8754 "Date field truncates information"
### JabRef version

5.6 (latest release)

### Operating system

macOS

### Details on version and operating system

macOS Monterey Version 12.4 Beta

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1.

[2022-05-04 09:01] ThiloteE opened #8755 "Improve Snap version (Linux) of JabRef - Allow better external program integration"
**Problem:**

See page: https://docs.jabref.org/installation and check out the Linux menu beneath "troubleshooting".

The current Snap version of JabRef has NO external program integration. In other words, exporting (e.g. exporting the citationkey via the JabRef inbuilt commands and buttons) to

- LibreOffice (system)
- LibreOffice (snap)
- LibreOffice (flatpak)
- Texshow
- TexMaker
- LyX
- Vim/Em

[2022-05-04 09:56] LIM0000 commented on #8467
Hi,
I'm interested in working on this issue as my first code contribution to open-source. Can I give it a shot?

[2022-05-04 10:37] ThiloteE commented on #8467
This issue possibly already MIGHT have been solved in JFX 18.
See the [release notes](https://gluonhq.com/products/javafx/openjfx-18-release-notes/). There have been multiple fixes to scroll-bars. Following pull request will introduce JFX to JabRef: #8629

In case JFX 18 has NOT fixed this, work probably needs to be done [here](https://github.com/openjdk/jfx), instead of at JabRef. Going through t

[2022-05-04 10:40] ThiloteE commented on #8467
@LIM0000 this issue has low priority and it could be that it will be solved with jfx 18. Please check out issues with the label "good first issue". See here: https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22.

[2022-05-04 11:17] LIM0000 commented on #8467
@ThiloteE Thank you for your quick response.

I have checked both the JFX [issue lists](https://bugs.openjdk.java.net/browse/JDK-8283551?filter=39543) and [JFX 18 release notes](https://gluonhq.com/products/javafx/openjfx-18-release-notes/), none of the notes have mentioned the ability to disable scroll bar in TreeTableView that is used to display columns of group panel for Jabref.

I have done so

[2022-05-04 11:34] ThiloteE commented on #8467
Well, since you already have done so much research and might have a possible fix, sure go ahead :) Open a pull-request and we will be able to see how it behaves.

As a general advice for newcomers: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is a good start. Feel

[2022-05-04 12:27] Siedlerchr commented on #8322
Hi,

thanks for the feedback! I would suppose you proceed with the version that has the most complete fields. Can you see if there are any differences? Or provide the examples to me

[2022-05-04 12:31] zkl-ai commented on #8743
Hello, could you assign this to me?  I think this issue is quite interesting.

[2022-05-04 13:29] yogeshvar commented on #8617
Just curious, if the drag and drop works as expected. The issue has to be on the application startup (maybe in `JabRefGUI.java`) If the files are opened via `Open With` we could try something like [this](https://docs.oracle.com/en/java/javase/13/docs/api/java.desktop/java/awt/Desktop.html) for macOS.

[code]

Are there ways to build JabRef and get the JabRef.app using Gradle?

[2022-05-04 14:13] Siedlerchr commented on #8617
You can check the JabRefDesktop class, there it already contains methods for opening

[2022-05-04 14:58] mlep opened #8757 "JabRef unable to open its own BibTeX file"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.7--2022-05-03--46a4edf Linux 4.19.0-20-amd64 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tes

[2022-05-04 15:11] zkl-ai commented on #8743
OK, I will try it early

[2022-05-04 15:22] mlep opened #8758 "maintable: only the first linked identifier (e.g. URL, DOI, ...) can be opened"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-04-25--5c9d898 Linux 4.19.0-20-amd64 amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development versio

[2022-05-04 16:49] #8757 closed

[2022-05-05 01:54] LIM0000 commented on #8747
Hi, I have found that this issue is due to

1. null return from [LocalDateTime.parse()](https://docs.oracle.com/javase/8/docs/api/java/time/LocalDateTime.html#parse-java.lang.CharSequence-java.time.format.DateTimeFormatter-) if the text cannot be parsed.
[code]
2. dateTime will then be assigned with null from the parse function.
[code]
3. In getLocalDate(), no validation for dateTime before .query

[2022-05-05 08:58] ilippert commented on #7057
JabRef 5.6--2022-04-25--5c9d898
Linux 5.17.4-200.fc35.x86_64 amd64
Java 17.0.2
JavaFX 18+12

Also, combined with search it is tricky.

Search for entry label X
when I have several entries with the same entry label X, and I delete all-1 of these entries, then the crossreferencing entries disappear. Undoing that action then does not make the crossreferencing entries reappear within the search result

[2022-05-05 11:10] lefeimei commented on #8322
Hi @Siedlerchr, thanks for your reply. For example, the XSD file of the demo project has BibliographyGroupingSets, categories, group fields, etc, but the XSD file of the project created by myself does not have these fields. I think the possible reason is that I did not set these things in my project when I add references. What do you think about this? Thank you so much!

[2022-05-05 12:17] Siedlerchr commented on #8322
@lefeimei  Ah okay, then I would go with the one that has the most data. The more fields it has, the better.

[2022-05-05 12:19] lefeimei commented on #8322
Thank you! We will go with the one that has the most data.

[2022-05-05 12:31] pcdi opened #8760 "Handling of explicit `nameparts`"
**Is your suggestion for improvement related to a problem? Please describe.**
I am working a lot with Chinese sources. Since the name formatting is different from Western names, I am using the extended name format, which adds custom `namepart`s.

An overview of how this works with Ethiopian names is provided in [this TeX.StackExchange answer](https://tex.stackexchange.com/a/313448). In summary, in

[2022-05-05 13:05] Siedlerchr commented on #8760
Refs #4558

[2022-05-05 18:46] wujastyk opened #8761 "blank popup"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.7--2022-05-03--46a4edf Linux 5.13.0-40-generic amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have t

[2022-05-06 07:32] LIM0000 commented on #8296
Hi, I am interested to fix the issues that have been mentioned in #8296 and #8297.

Solution for #8296:
I am planning to change the use of `showCustomButtonDialogAndWait()` to `showConfirmationDialogWithOptOutAndWait()` so that we could add a checkbox for `do not ask for this kind of issue again`. if user has ticked on the checkbox, Jabref will have to remember this action and no longer display th

[2022-05-06 09:33] mlep commented on #8757
I can confirm this issue is solved in JabRef 5.7--2022-05-04--b2e4ecc
Linux 4.19.0-20-amd64 amd64
Java 17.0.2
JavaFX 18+12

Thank you @Siedlerchr

[2022-05-06 09:52] calixtus commented on #8650
@0CoolMichael I strongly believe that you misunderstood the issue. This is not about a new feature that should be implemented, but a bug in rendering / parsing text in a bibfile and / or presenting it in the entry preview window. The improvement @ThiloteE later proposed is about a preference option of how to parse text in a bib file.

The scenebuilder is nice, but breaks if custom made javafx cont

[2022-05-06 15:21] RonaldSnijder commented on #8708
@ThiloteE Hi, there are two questions here, I think:
1. Where can I find the ISBNs? In short, the ISBN is part of the metadata connected to the BITSTREAM
2. How can I access a filed like"oapen.imprint"? These fields - when they are part of the record - can be accessed via the API

Perhaps you can take a look here:
https://directory.doabooks.org/rest/search?query=handle:%2220.500.12854/26303%22&exp

[2022-05-06 15:26] Siedlerchr commented on #8296
Thanks for the interest, that sounds good.
The value of the checkbox is stored in the preferences, see Preferences Service
@calixtus which sub preferences should be used here?

[2022-05-06 15:39] calixtus commented on #8296
Dunno... Maybe EntryEditorPreferences?

[2022-05-06 16:31] ThiloteE commented on #7313
This issue here is still relevant, as https://discourse.jabref.org/t/drag-and-drop-of-pdfs/3362 shows.

[2022-05-06 17:15] ThiloteE commented on #8011
@dshang1534 I am not sure what happened, but if you are still alive and kicking (I hope you are doing fine!), just creating a (draft) pull request with your solution would be nice! Even if you think you will never finish this, just having the possibility to have a look at your proposed solution would help anybody a lot who might think about working on this issue.

[2022-05-06 20:05] Siedlerchr commented on #8747
@LIM0000 Thanks for looking into this. As I was recently working on the DateTimeFormatter stuff for imports, I rememebred that we have this Date.parse class (from  org.jabref.model.entry;)
  which supports a lot more pattern. Maybe that can be reused here?

[2022-05-07 03:12] LIM0000 commented on #8747
@Siedlerchr Thank you for your comment.
I have looked into this issue again and come up with a solution.

## Solution
If user's input cannot be converted from `String` to `LocalDate` by `LocalDate.parse()`, a dialog box pops up to inform user that the date pattern is unrecognizable. Previous date info will be restore in date field if there is any. Downside of this solution is that user not able to

[2022-05-07 04:04] LIM0000 commented on #8754
For this issue, I have found that [DatePicker.setConverter](https://docs.oracle.com/javase/8/javafx/api/javafx/scene/control/DatePicker.html#setConverter-javafx.util.StringConverter-) only allow `StringConverter<LocalDate>` as parameter.
This means that time information is not storing into `LocalDate` object and causes time data loss.
Should user allow to store time information in date field?
I be

[2022-05-07 08:27] ilippert commented on #8747
Hmm, I would greatly appreciate if non standard information is still allowed. Specifically I am thinking of information like `forthcoming` or `submitted`. But other users may want to use the field differently. If we do not want such information there, a popup would ideally inform the user on where else to submit such information.
--
Sent from my LineageOS device with K-9 Mail. Please excuse my bre

[2022-05-07 09:28] ThiloteE commented on #8747
There is a tradeoff between:

1. Standard info in date field
   - preventing typos
   - educates users about ISO date/time format.
2. having non-standard information in the date field.
   - allows users to do "special things".

@ilippert I am not quite sure what prevents you from creating new custom fields like "forthcoming" or "submitted"? (I know you already have some custom fields and know how

[2022-05-07 09:28] ThiloteE commented on #8747
related:  #2753

[2022-05-07 11:46] Siedlerchr commented on #8747
I agree with @ThiloteE  here. This information should belong in the date field. for example for the status there are extra fields 4.9.2.11 Publication State, biblatex manual

submitted The expression ‘submitted’ (the manuscript has been submitted to a journal or
conference).
forthcoming The expression ‘forthcoming’ (the manuscript has been accepted by a press or
journal).
inpress The expression ‘i

[2022-05-07 12:27] ThiloteE commented on #8747
Ah, Christoph, I do not have an opinion on this yet xD I just wanted to mention the tradeoff and was curious if this could be solved with a workaround. I was not aware `forthcoming`, `submitted` etc. are supported by biblatex.

What do you mean with "this information should belong in the date field"? - What info exactly?

[2022-05-07 12:44] Siedlerchr commented on #8747
I meant "NOT". Edited my comment.

[2022-05-07 17:32] LIM0000 commented on #8296
Hi, I am working on issues #8297 about tab unable to close if a dialog box has been closed/cancelled.
The reason for this issue is that a tab can only be closed once. If close request has been sent to dialog box, the dialog box will close. However, `event.consume()` could prevent a tab from closing. Once this event has been triggered, the tab has assumed that it has been closed and no longer allow

[2022-05-07 17:50] ThiloteE commented on #8296
@LIM0000 thank you for the research and amount of thought you have put into this. I would ask you to open a pull request so that the technical details can be discussed over there.

- Issues should be about issues and what people desire.
- Pull requests should contain discussion about the actual code and technical solution.

There are some reasons for this:

1. People that open issues may not neces

[2022-05-08 09:12] zkl-ai commented on #8743
Hi, I have reproduced this exception dialog. But I haven't understood the first part of the solution which is check if the content-type  of the server response is HTML or better you mentioned. Can you explain this to me? I‘m a little confused about the `download.addHeader("Accept", MediaTypes.APPLICATION_BIBTEX); ` and the content-type. Are they the same thing?

[2022-05-08 09:54] ThiloteE commented on #8755
I redact my call to improve the snap version of JabRef. It now suggest "low priority" because of https://linuxmint-user-guide.readthedocs.io/en/latest/snap.html#criticism

Since the `.deb` and `rpm` versions of JabRef already offer more functionality than snap and flatpat versions: prioritize `.deb` and `rpm`.

[2022-05-08 10:20] Siedlerchr commented on #8743
@zkl-ai  Yes, the Accept Header says: I want to get content in this format. Ideally, the server responds in this format.
The problem is that the UrlDownload.asString just gets whatever the serer provides. It does not check the statusCode or the content-type of the returned response.  So you need to modify that part to check for stauts code 404

[2022-05-08 10:24] zkl-ai commented on #8743
Thank you for your prompt reply. Your explanation is very clear! I need to think carefully about how to realize this requirement.

[2022-05-08 14:29] #8761 closed

[2022-05-08 18:44] koppor commented on #5579
We need to bring back the sensible defaults from https://github.com/JabRef/jabref/pull/2051. I did not find the respective PR yet.

[2022-05-09 04:40] LIM0000 opened #8768 "Library tab unable to close after unsave action"
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Click on "New lib

[2022-05-09 04:53] LIM0000 commented on #8768
Related to PR #8297 when I am working on #8296 and #8096.
Failed to fix this issue but found the root of this issue.

### Issue happens here:
`event.consume()` only able to trigger once if `dialogService` is executed in `closeTab()`
[code]
[code]

### More testing:
I have found that `showAndWait()` is causing `event.consume()` to only run once.

![bug_1 1](https://user-images.githubusercontent.com

[2022-05-09 04:58] LIM0000 commented on #8747
Thank you the comments.
May I ask that any action needed for this issue?
For example, a popup dialog informs user that date field does not accept non date data, please input valid date format.

[2022-05-09 07:09] ilippert commented on #8747
Hi, ok, just looked at the biblatex and biblatex-chicago manuals. The latter also prefers like the biblatex manual the use of `pubstate` for information like `inpress`. However, it also notes the possibility to add in `year` `\autocap{f}orthcoming` (which is something I had "inherited").

Anyway, moving forward, I think for the date field:
* either non standard information should be gracefully acc

[2022-05-09 10:06] claell commented on #8743
Also, possibly one can differentiate between DOI data not found and DOI server not available (if not already done so).

[2022-05-09 10:07] claell opened #8769 "New notification system overlaps task bar on Windows"
The new notification system works fine, but I am having the issue that the notifications overlap the task bar on Windows. Is this wanted?
![grafik](https://user-images.githubusercontent.com/6171135/166513523-b906d739-1edc-40b0-aaa5-358ad70b74b7.png)

_Originally posted by @claell in https://github.com/JabRef/jabref/issues/8753#issuecomment-1116390280_

[2022-05-09 10:08] claell commented on #8753
@Siedlerchr I will create a new issue now for the overlapping notifications on Windows: #8769

[2022-05-09 10:10] claell commented on #8769
Introduced with #8733

[2022-05-09 10:13] claell commented on #8738
@Siedlerchr another useful label for this is probably `ui`.

[2022-05-09 10:22] ThiloteE commented on #8768
To clarify: This issue was mentioned in pr #8297, but this can also be reproduced in current JabRef stable 5.6.

[2022-05-09 10:26] claell opened #8770 "Undo operation doesn't work as expected after adding an entry"
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Add an entry to an e

[2022-05-09 10:28] claell commented on #8770
Actually, it seems like the action gets undone in the background, but the GUI does not show that. Also, when saving the file after step 1, the file seems to get reverted on disk when trying to undo the action.

[2022-05-09 10:36] claell opened #8771 "Make buttons for file-based actions easier to access when a long file path is used"
**Is your suggestion for improvement related to a problem? Please describe.**
When a long file path is used, the actions to perform file-based actions don't show up right away. One has to scroll instead, every time one wants to access them. Also, this lowers discoverability of the actions.

**Describe the solution you'd like**
Better usability (don't want to detail the solution too much, so ideas

[2022-05-09 10:38] claell opened #8772 "Change from double to single click for opening the details view of an entry"
**Is your suggestion for improvement related to a problem? Please describe.**
From Citavi, I am used to only need a single click to open the details view of an entry. In JabRef, one needs a double click.

**Describe the solution you'd like**
Possibly think about changing to single click for that action.

**Additional context**
Not sure about that myself. Maybe there are good reasons for the curren

[2022-05-09 10:43] claell opened #8773 "Allow rearrangement of UI elements"
**Is your suggestion for improvement related to a problem? Please describe.**
From Visual Studio Code (and other applications), I am used to easy rearrangement of UI elements, ideally by drag and drop. This would be a nice feature, especially for large screens. Personally, I am mostly thinking about the entry editor, which for me would probably be more usable on the right (compared to below the en

[2022-05-09 10:50] claell opened #8774 "Don't show social links in menu bar"
**Is your suggestion for improvement related to a problem? Please describe.**
When first using JabRef, I was slightly annoyed (yes, that is how it felt to me) by the social buttons inside the main menu bar. This does not look very professional to me and might consume useful space on smaller displays.

**Describe the solution you'd like**
Remove them by default, possibly add an option to show them

[2022-05-09 10:51] claell commented on #8738
Apparently, there is already a UI element for background tasks. Possibly, that can be extended.
![grafik](https://user-images.githubusercontent.com/6171135/167395638-f989bd57-b435-4149-a27b-b4eb577d4736.png)

[2022-05-09 10:56] Siedlerchr commented on #8769
Encounterd this on mac as well.

[2022-05-09 11:01] claell commented on #8741
From what I found on a short search (https://tex.stackexchange.com/a/140071/194783):
The title should be written in its normal, capitalized form, only masking special words that always needs to be capitalized (like `{CAD}` and `{AI}`). Then the bibliography style used in LaTeX can decide, whether to preserve the normal typed title or to convert non-masked characters to lowercase (more often).

So

[2022-05-09 11:15] claell commented on #8747
There are options in between, I'd say. So maybe inform the user that the action they are trying to do is not recommended and allow them to proceed anyway after acknowledging this.

[2022-05-09 12:50] ilippert commented on #8747
Well, maybe far too demanding, but a great popup would consist of

- date/year/month selector, allowing "partial" date information (which, in my experience is the normal; I rarely ever have a full date of the publication)
- a dropdown menu with the known/available pubstates; and a "custom text" option

[2022-05-09 15:34] Siedlerchr commented on #8296
@LIM0000  Thanks again for the investigation. Tricky thing. So I guess the EventHandler is no longer called when you click again because the tab is assumed to be closed?
Can you refire the event  or is that the buton cannot be clicked anylonger?
 https://github.com/openjdk/jfx/blob/e24eeceb28741f4a044ea2cb0cb23a1174b27c66/modules/javafx.controls/src/main/java/javafx/scene/control/Tab.java#L719

[2022-05-09 16:46] HoussemNasri commented on #8768
It appears to be a known JavaFX issue involving Alert dialogs; it was reported in OpenJFX 11 and fixed in OpenJFX 19. - [Alert disables Tab selection when TabDragPolicy REORDER is used](https://bugs.openjdk.java.net/browse/JDK-8254676?jql=project%20%3D%20JDK%20AND%20component%20%3D%20javafx%20AND%20text%20~%20%22Alert%22)

[2022-05-09 17:57] Siedlerchr commented on #8768
@HoussemNasri  Thanks for the hint, it is targeted for javafx19, but there is not, yet, any PR linked to it :( So we have to wait until it gets fixed

[2022-05-09 18:35] HoussemNasri commented on #8768
Thank you for the clarification, this explains why updating to version 19 didn't fix it.

[2022-05-09 20:29] ThiloteE opened #8780 "Linux version of JabRef: Gdk-WARNING: XSetErrorHandler() called with a GDK error trap pushed. Don't do that."
### JabRef version

5.6 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.6--2022-04-25--5c9d898 Linux 5.4.0-109-generic amd64  Java 17.0.2  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and t

[2022-05-09 20:32] ThiloteE commented on #8780
**Solution:**

- Wait for JavaFX maintainers to fix it
- Fix JavaFX ourselves
- Inspect JabRef code for error_trap_push and try to error_trap_pop it, but this might cause other bugs.
- Find other workaround

[2022-05-09 20:46] ThiloteE commented on #8770
How did you know that it gets undone in the background but the GUI does not show that?

[2022-05-09 20:47] ThiloteE commented on #8772
Yes, there was a reason and discussion, but I can't find the corresponding issue.

[2022-05-09 20:54] koppor commented on #8539
Thank you for reporting this issue. We think, that is already implemented in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/main.

[2022-05-09 20:54] #8539 closed

[2022-05-09 21:05] mlep commented on #8772
If, from the entry table, a single left click opens the entry:
- How to select an entry and then perform an action from the menu (such as cleanup entries)?
- How to select multiple entries?

[2022-05-09 21:23] ThiloteE commented on #8774
On my small screen these buttons are actually the ones outside my screen:

![grafik](https://user-images.githubusercontent.com/73715071/167500600-9656a20b-3e58-4ac2-af95-bcdad7718796.png)

Nice! :-)

but yes, I agree, they could potentially be inside the "help" menu.

[2022-05-10 06:07] zkl-ai commented on #8743
I will think about it

[2022-05-10 07:57] claell commented on #8774
They already seem to be inside the `help` menu (`JabRef resources`).

[2022-05-10 08:30] claell opened #8781 "Avoid hiding the background tasks status indicator on smaller window sizes"
**Is your suggestion for improvement related to a problem? Please describe.**
On smaller window sizes, the status indicator (and button) for background tasks is hidden. I think such an indicator should never be hidden.

**Describe the solution you'd like**
Possibly change its location or never hide it at its current place.

**Additional context**
![grafik](https://user-images.githubusercontent.com

[2022-05-10 08:40] Yancy10-1 commented on #8719
Hi, I tried to reproduce the bug with your library, but I can not reproduce it. Can you help me a lot?

[2022-05-10 08:46] claell commented on #7465
Hm, by accident, I came across this issue. Looks like the functionality already had been implemented before in #3491? Linking just for reference.

[2022-05-10 08:55] Yancy10-1 commented on #7999
Hi, I would like to fix this bug, but I used your video to reproduce and failed to reproduce. Can you restate the step?

[2022-05-10 09:02] claell opened #8782 "Better handling of moved files (broken file paths)"
**Is your suggestion for improvement related to a problem? Please describe.**
Currently, JabRef doesn't offer a very great experience when moving linked files to a different path. The entry shows a broken link without any option to repair it (not even manually).

(Also see https://discourse.jabref.org/t/move-folder-with-pdfs-and-have-jabref-reconnect-links-to-them-automatically/2285)

**Describe t

[2022-05-10 09:05] claell commented on #8770
Part of the GUI does show it. After adding the entry, the tab of the .bib file shows a star (indicating there has been a change that is not yet saved). After hitting `Ctrl + Z`, the star disappears. Also, I can close JabRef without it asking me whether I want to save changes.

[2022-05-10 09:06] claell commented on #8772
Alright.

@ThiloteE I searched for that issue, but also couldn't find one.

Regarding the two aspects @mlep:
1. An entry could be selected (with as result opening the entry editor) and one can still perform an action from the menu
2. `Ctrl + Click`, just how it currently works already

[2022-05-10 09:20] claell commented on #8745
Just did some research: BibTeX actually seems to support both formats: https://en.wikibooks.org/wiki/LaTeX/Bibliography_Management#Authors

Still, JabRef should be able to notice, which of both formats is used and correctly import to that format.

(Especially in cases where a last name consists of more than one name, separating first and last names with a comma might be useful (or using curly brac

[2022-05-10 10:39] ThiloteE commented on #8781
Related: #8295

[2022-05-10 10:43] ThiloteE commented on #8781
Could potentially be solved by solving #8774 and moving the other buttons slightly to the left. I think, there is some space between the search bar and the other buttons.

[2022-05-10 10:47] claell commented on #8781
Agreed. Probably the responsive design behavior can be improved.

Just wanted to keep the issue description neutral to the solution (moving the button might help to improve discoverability and highlighting the special nature of it, for example).

[2022-05-10 11:02] ThiloteE commented on #7465
I can confirm as well double clicking the file opens the pdf. Thanks @claell :-) The issue has already been closed though.

[2022-05-10 11:33] claell commented on #7465
I know, just wanted to link that issue for reference :) I meant that I saw this issue, I don't have the issue myself (was probably misleading).

[2022-05-10 15:19] Siedlerchr commented on #8782
The entry editor does this  automatically in the background for the general tab. It searches for the file. Under the hood it uses the https://github.com/JabRef/jabref/blob/6dfc2e00b4fc1dd76f4865e81894e2f7b2e50968/src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditorViewModel.java#L172-L175

[2022-05-10 16:10] claell commented on #8782
Also, the code that you referenced seems to be about auto-detection of not yet linked files (according to the comment above it). I am talking about fixing broken existing file links based on the file name.

[2022-05-11 03:07] Beingmani commented on #8739
Hello,

Can someone help me to replicate this screen in jabref, I have a solution that I can propose to improve the usability of the keywords. I have the design ready. I just need to check how it will look in jabref.

[2022-05-11 03:15] Beingmani commented on #8774
This seems to be a good first issue and I'm interested in working on this, can I give a shot?

if we fix this, probably #8781 will also be fixed.

[2022-05-11 04:16] LIM0000 commented on #8740
Related to #8287

[2022-05-11 06:56] Siedlerchr commented on #8740
@LIM0000  Thanks, it's indeed a Duplicate of #8287

[2022-05-11 06:56] #8740 closed

[2022-05-11 07:04] Siedlerchr commented on #8287
Some hints on what this exception means https://northcoder.com/post/lucene-fields-and-term-vectors/
Seems like we don't store the position data

[2022-05-11 08:42] ThiloteE commented on #8739
@Beingmani, Claell did not share this screen from within JabRef, but this is how GitLab implemented keywords. It was just an example of how it could be.

[2022-05-11 08:48] ThiloteE commented on #8739
This is how JabRef currently implements keywords:

![grafik](https://user-images.githubusercontent.com/73715071/167808578-aff32bbf-0356-4ba3-816f-86f1b31a0611.png)

You then can use the search bar and search and search for specific keywords (e.g. "test") by writing `keywords=test`.

[2022-05-11 08:54] ThiloteE commented on #8739
Very much related: #7423

@mchellelm, how are you faring so far with your implementation?

[2022-05-11 09:11] ThiloteE commented on #7833
I think this was also fixed by #8717
Cannot reproduce anymore.

Closing this :-)

[2022-05-11 09:11] #7833 closed

[2022-05-11 09:17] ThiloteE commented on #8739
What I would like to see is keywords showing directly in the maintable (or in a separate specific area in the UI that is easily accessible and then I want to be able to click on it, which will lead to a place that shows me all my entries with this specific keyword. Just like I can do it here on GitHub with JabRef issues.

[2022-05-11 09:54] ThiloteE commented on #8739
Thank you mlep. This was an important note. I think there should be a separation between `keywords` and `labels`. Labels should make it easier for the user to "manage" the entries. The BibLaTeX field "Keywords" does too, but there is an important distinction: "keywords" may potentially be parsed with TeX engines and printed in the bibliography. "Labels" would not, as bib(la)tex has not defined tha

[2022-05-11 10:09] mlep commented on #8739
Being a special field in biblatex, the content of `keywords`  is "usually not printed" (according to the doc). A user could decide otherwise by altering a citation style (like with any other field), but I guess we should not take it into account.

I believe having `labels`, `groups` and `keywords` will be mostly redundant. Before defining the field `labels`, we should define the specific use of ea

[2022-05-11 10:17] Beingmani commented on #8739
Labels are mainly user-specific, which are more or less similar to Groups in general. It's like Grouping entries under a similar label. isn't?

And keywords are more specific to entries, Searching for a particular keywords popups the entries related to it. I have a rough sketch of how we can use keywords, let me share it here.

[2022-05-11 10:24] claell commented on #8739
@mlep Thanks for the insights. I had a look at page 333 of the biblatex docs, and it looks as if they are talking about different groups (groups of commands?) than what we do here. So not sure whether that is really related.

I agree that there is overlapping between `keywords` (possibly `labels`) and `groups`. Citavi also has both, keywords and groups AFAIK (although their groups are less versati

[2022-05-11 10:25] mlep commented on #8739
To me: yes it is, meaning we do not need to introduce the field `labels` since we have the field `groups`.

Another feature related to keywords: currently they can be displayed in the entry editor (as a column).

[2022-05-11 10:30] mlep commented on #8739
Yes, the name is the same, but the concept is different. So, I do not think there could a confusion between groups in JabRef and groups in biblatex.

I agree with your view: the fields `groups` and `keywords` have separated usage. What I do not see at the moment: what usage of a field `labels` that is not already ensured by the fields `groups` and `keywords`?

[2022-05-11 10:35] claell commented on #8739
@mlep I think, @ThiloteE suggested `labels` as an additional, JabRef exclusive field to not mess with the `keywords` field (to not cause unwanted side effects). However, if I read your comments above correctly, there most likely won't be side effects, which is why one can stay with `keywords` for this purpose.

[2022-05-11 10:37] claell commented on #8739
One possibly unwanted side effect that I can think of would be if keywords are also used in DOI or other places (I know that Citavi automatically sets keywords (from a source I currently don't know) when adding an entry). In that case, "official" keywords might conflict with "user" keywords. But not sure whether this really is (or can be) the case.

[2022-05-11 10:41] claell commented on #8774
@Beingmani thanks for your interest in this.

I assume, that you can start working on this. Ideally, create a draft PR, so you can get early feedback and others are aware that you are working on it (apart from assigning you to this issue).

[2022-05-11 10:45] ThiloteE commented on #8739
Very good.

The only **sideeffect** I can think of now:

Adding keywords and then exporting this bibliographic data to other people will lead to **them having my "personal" keywords** I use to manage stuff in their library. By the way, this is also a problem for groups and attached files, but for those, it is easier, because I can just copy the entries to a new library and then to remove all group

[2022-05-11 10:48] Siedlerchr commented on #8739
And to fully mess up the distinction, you can also create automatic groups by keywords

[2022-05-11 10:59] ThiloteE commented on #8774
Thank you Beingnami :-)

As a general advise: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

[2022-05-11 11:02] claell opened #8786 "Exception if linked file has masked umlauts / invalid characters in path (from Citavi export in my case)"
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Have a bibliography

[2022-05-11 11:22] claell opened #8787 "Exception for DOI search in case DOI contains masked characters"
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

Similar issue to #8786

[2022-05-11 11:23] claell commented on #8787
If #8743 is fixed, this will just show that no data could be retrieved for that DOI, which is also not ideal.

[2022-05-11 11:45] Siedlerchr commented on #8786
Hm. JabRef can't do anything about this when the file name is illegal...
For citavi, we plan an importer Refs #8322

[2022-05-11 12:21] claell commented on #8786
Yes, I understand that.

I was mainly talking about the currently uncaught exception in such cases (which doesn't provide a good UX).

[2022-05-11 12:26] claell commented on #8739
Agreed.

Based on that, I think that the UX of the possible solutions should be discussed (for example possible conflicts for `keyword` usage, etc.) to select a good path forward.

[2022-05-11 13:58] ThiloteE commented on #8739
@mlep I like the current maintable view a lot. I am not so much a fan of the proposed redesign (because of https://github.com/JabRef/jabref/issues/6857#issuecomment-762470398 and because one probably would have a harder time sorting and finding entries. The excel like view really helps a lot for sorting and ordering), so naturally I personally would prefer this to be added to the *current* maintab

[2022-05-11 14:09] mlep commented on #8739
I am quite happy with the current maintable too. My concern is about "1. Show `groups`, `keywords` (and potentially `labels`) somewhere in the maintable.": will there be enough room? For example, displaying the keywords in the maintable (with the current design) do not allow to see them when except the column is pretty wide (in my databases, the list of official keywords is often longer than the t

[2022-05-11 15:27] falschgeldkind opened #8788 "Jabref not showing contents of shared database library"
### JabRef version

Latest development branch build (Build date 2022-05-09)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 20.04.4 LTS

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to r

[2022-05-11 16:16] claell commented on #8739
@ThiloteE regarding discussion: I think there are open points needing decisions, but yes, they can be discussed during implementation phase.

Personally, I don't like the current table view that much, so thanks for the reference of the redesigned maintable issue @mlep :)
Some ideas seem to make most sense with that, but maybe they can also be transferred to the current table design.

[2022-05-11 16:18] claell commented on #8773
Entry editor on the right might be especially useful in combination with #6857.

[2022-05-12 00:03] koppor commented on #8096
@ThiloteE While reviewing the pull requests of this issue, I am asking myself whether JabRef shouldn't just silently delete empty entries. They contain "only" the entry type as information. Otherwise, they would not have been empty. - Why this effort with keeping the entries - and the UI quirks to enable auto-deletion?

[2022-05-12 00:33] ThiloteE commented on #8096
@koppor You might be right. Deleting them silently might be the better approach. Especially if #8768 is taken into account. We would need to wait a while until a fix for 8768 will arrive at JabRef. Back when I created this Issue, I was not aware it would take this much effort to create this pop-up.

Not sure if deleting empty entries silently upon save will lead to problems with shared databases,

[2022-05-12 08:26] fly-ing-fish commented on #8787
Hello! I am a junior undergraduate cs student. Seems that this issue is meaningful  not very complicated so I wanna have a try. Hope you can give me the chance. By the way,can you give me more information about this? like the expected results after repair or what I can do for this issue.  thank you!

[2022-05-12 09:44] claell commented on #8787
Thanks @fly-ing-fish for your interest in this.

I assume that somebody from the team (like @ThiloteE) will soon tell you more.

Personally, I am not entirely sure what to do in those cases.

First, I am not entirely sure, whether the entry is conforming to BibTeX standard.

Assuming it is, then JabRef should either just understand the masked characters and replace them internally for the DOI look

[2022-05-12 09:50] mlep commented on #8787
@fly-ing-fish It may be easier for you if you choose one of the issues tagged as `good first issue` (https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22)
@Siedlerchr There are not that many new `good first issue`s lately.

[2022-05-12 10:57] Siedlerchr commented on #8787
@mlep  Well, there are still enough issues... And even more unfinished pull requests for those...
And for some issues it's more like deciding on what solution we want (for example UI).

(We really need a random shuffle function for github issues so that not always the latest opened issues get picked)

[2022-05-12 11:41] the-star-sea commented on #8691
hello.I am a new bee of open source project and I am interested in this issue.Could I have a try?

[2022-05-12 12:03] ThiloteE commented on #8691
Hello @the-star-sea I am thankful for your interest about working on JabRef.

It looks like melmorsy already is working on this, so unless melmorsy can't make it work or has lost interest, maybe it would be better to choose another issue.

If you are pretty new to open source programming, have a look at issues with the tag "[good first issues](https://github.com/JabRef/jabref/labels/good%20first%2

[2022-05-12 12:23] ThiloteE commented on #8787
@fly-ing-fish Thank you once again for your last contribution and the introduction of the `\$` cleanup action. Glad you are willing to tackle another issue. If I understand it right, this issue here is a duplicate of #8786 and we probably should mark it as such (and close it).

I agree tackling "good first issues" will be good. Of course, since you already have contributed once, maybe "good first

[2022-05-12 15:34] claell commented on #8787
@ThiloteE This is not an exact duplicate. The exception originates from different causes, also one is talking about handling the exception, the other is about handling the masking. But both issues might have the same solution in common (but not necessarily), which is why I created this as a separate issue.

In case you still think this should be treated as a duplicate, then I suggest editing the s

[2022-05-12 15:52] ThiloteE commented on #8787
You are right. The error is different. Excuse my trigger happy fingers pushing buttons too fast.

`Caused by: java.io.FileNotFoundException: https://doi.org/10.18726/2018%7B%5Ctextunderscore%7D3`

[2022-05-12 15:58] ThiloteE commented on #8787
But this is also caused by Citavi export, right?

[2022-05-12 17:43] claell commented on #8787
No problem, the issues are easy to mix up, I myself needed to think a bit about it when creating them.

Yes, both are caused by Citavi export.

And there also might be a shared solution (at least to parts of them), but not necessarily.

[2022-05-12 18:16] Siedlerchr commented on #8787
Okay, solution  would be two steps:

1. Improve DOI cleanup formatter, detect and decode URL encoded characters (The very first checkbox in the cleanup dialog is the Cleanup DOI formatter. This will at least show that there is something problematic, and ther user can afterwards run the Latex2Uniciode formatter over it.
2. Add a test for the URL decoding
3. Do not show the full exception in the dia

[2022-05-12 18:27] ThiloteE commented on #6704
Stumpled upon this by chance. Can you still reproduce?

Apparently JabRef is trying to go through your whole database:

See documentation:

[2022-05-12 18:31] ThiloteE commented on #8145
I would suggest a separate preference to enable crossref because of #6704. And of course, it should work if autocomplete is enabled.

[2022-05-12 18:32] claell commented on #4681
Not sure whether it makes sense to have tabs distinguishing between manual and automatic groups.

[2022-05-12 18:34] Siedlerchr commented on #8145
For anyone wanting so solve this, have a look at FieldEditors in combination with SuggestionProviders

[2022-05-12 18:35] #8467 closed

[2022-05-12 19:02] #8396 closed

[2022-05-12 20:14] #8452 closed

[2022-05-12 20:33] ThiloteE opened #8790 "(Re-) Introduce "Recommended" settings to "cleanup actions" and "save actions""
**Prerequisites**

1. Be a beginner.
2. Have a library with bibliographic metadata.
3. Know nothing about UTF8 and encoding.
4. Know you want to use this library with LaTeX, Microsoft Word and OpenOffice/LibreOffice or other external programs.

**Problems:**

1. Bibliographic data is formatted  the "wrong" way (especially after import from external databases).
   - in other words:
      - it can b

[2022-05-12 20:35] ThiloteE commented on #8672
Closing this in favour of #8790

[2022-05-12 20:35] #8672 closed

[2022-05-12 20:37] Siedlerchr commented on #8790
<img width="831" alt="grafik" src="https://user-images.githubusercontent.com/320228/168163646-05b473c9-1c90-47c0-afa7-8d9eb3d8804a.png">
 Is that what you mean?

[2022-05-12 20:39] ThiloteE commented on #8790
Ah sorry, yes. field formatters. My bad. Will edit my post.

[2022-05-12 20:49] ThiloteE commented on #8790
Should be better now :-)

[2022-05-12 21:05] ThiloteE commented on #8786
`"` is a java special character:

https://www.w3schools.com/Java/java_strings_specchars.asp
![grafik](https://user-images.githubusercontent.com/73715071/168167756-858b696a-4dbc-4a86-98f4-ec044e93a1d0.png)

[2022-05-12 21:12] ThiloteE commented on #8786
@claell I am not sure what to do with this. Yes, we see there is a bug, but could you explain more about what you expect to be done with the UI? I think there was another issue that also complained about better error message UI. Maybe it should be discussed over there and this one should stay open as reference to the citavi importer?

[2022-05-12 21:12] Siedlerchr commented on #8786
@ThiloteE Sorry, but this has nothing do with java special character. It's that Windows doesn't allow these characters in a fie name https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file and java
And Java just passes the path down to Windows, which then results in the exception.

Relevant part:
[code]

[2022-05-12 22:36] HoussemNasri commented on #8758
One approach would be to open the link directly if it is the only linked identifier present and to show the list of linked identifiers if more than one is present. This should be fairly easy to implement by making minimal changes to https://github.com/JabRef/jabref/blob/b938f180b9253a1c6cd06a959c2318ed9b5f266a/src/main/java/org/jabref/gui/maintable/columns/LinkedIdentifierColumn.java?_pjax=%23js-r

[2022-05-13 02:06] fly-ing-fish commented on #8787
Thanks for your reply ! The issue becomes more clear after disscussion.  I will work on it. Also, I will pay attention to the progress of https://github.com/JabRef/jabref/issues/8786 and https://github.com/JabRef/jabref/issues/8743

[2022-05-13 07:38] Dellu commented on #8235
Is it possible to make [always accept external changes] automatic?

[2022-05-13 09:16] falschgeldkind commented on #8788
I use a PostgreSQL database

The event log says:

`
Executed >SELECT "ENTRY"."SHARED_ID", "ENTRY"."TYPE", "ENTRY"."VERSION", F."ENTRY_SHARED_ID", F."NAME", F."VALUE" FROM "ENTRY" left outer join "FIELD" F on "ENTRY"."SHARED_ID" = F."ENTRY_SHARED_ID" where "SHARED_ID" in (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,

[2022-05-13 09:21] Siedlerchr commented on #8788
Ah you hit a bug in postgresl: https://github.com/pgjdbc/pgjdbc/issues/1311
The number of parameter in the query is too large...
We need to split the query into multiple smaller ones

[2022-05-13 09:24] falschgeldkind commented on #8788
Oh nice. No bug hunting needed then I guess.
But I thought it might be something on these lines, because when I viewed the data with DataGrip it loaded all of it but did it in multiple 501 elements queries and that worked fine

[2022-05-13 09:45] falschgeldkind commented on #8788
While being here:
how it the column VERSION in "ENTRY" used? I never found a case where that field wasn't 1

[2022-05-13 09:48] ThiloteE commented on #8786
Thanks for the explanation Christoph.

Similar (probably also unresolved) problem in [#7381](https://github.com/JabRef/jabref/issues/7381#issuecomment-766468460)

[2022-05-13 10:38] Siedlerchr commented on #8786
Maybe we can also run Latex2Unicode on the file field...

[2022-05-13 10:40] falschgeldkind commented on #8788
Ok I've got a fix
Never made a pull

how do I do a push-request?

[2022-05-13 10:48] ThiloteE commented on #8788
From JabRef GitHub frontpage:

[2022-05-13 11:05] Siedlerchr commented on #8788
@falschgeldkind  Thanks for your fix! If I am not mistaken, version is used when multiple people using a shared database work on the same entry

[2022-05-13 12:07] falschgeldkind commented on #8788
see https://github.com/JabRef/jabref/pull/8793

[2022-05-13 12:13] falschgeldkind commented on #8788
I admit it's not the most performant solution, but it works and fixes the problem

[2022-05-13 12:55] claell commented on #8786
Hm, yes looks exactly as #7381 (https://github.com/JabRef/jabref/issues/7381#issuecomment-767656832 also mentions that only the endless loops were fixed, while the issue still happens when accessing the entry information).

[2022-05-13 12:56] claell commented on #8786
The question is: Does JabRef want to support such things? Is this supported by BibTeX? Else it should probably show a warning, possibly also propose a fix.

However, if BibTeX allows this stuff, then JabRef should work with it (possibly propose a change for better conformity with JabRef and consistency with the rest of the library).

[2022-05-13 18:30] Siedlerchr commented on #8786
@claell  Well, the path contains illegal characters in this way and JabRef (when generating file names) ensures it contains no illegal chars for every platform to make sure it's cross-platform, but does not check any existing files name fields.
I suggest a combination of approaches:

**Solution**:
1. Check for any exception occurring:
https://github.com/JabRef/jabref/blob/bb011c9313367a28990ae213b

[2022-05-13 21:00] Siedlerchr commented on #7540
@suppenkaspar109
We recently improved and updated the components for writing  XMP Metadata to PDfs.  Can you please test the latest development version (5.7)
https://builds.jabref.org/main/

Remember to make a backup of your library before trying out the new version

[2022-05-15 07:32] #8788 closed

[2022-05-15 09:24] ThiloteE commented on #8096
@LIM0000 pulling you into this, because there was some discussion here.

[2022-05-15 10:55] Yancy10-1 commented on #8288
Hi, I want to fix it, can you give me a shot?

[2022-05-15 11:42] 0CoolMichael commented on #8781
This question is quite interesting and I will try to do it in this moment. After modifying the position of the button, I will submit a pull request.

[2022-05-15 12:41] ThiloteE commented on #8781
Of course you can. You might want to coordinate and communicate with @Beingmani so as to not create any merge conflicts. He wants to work on #8774, which is very closely related.

[2022-05-15 13:29] ThiloteE commented on #8295
Another discussion about how screenspace could be saved: https://discourse.jabref.org/t/ui-priority-what-should-be-in-the-toolbar/3039/10

[2022-05-15 13:57] ilippert opened #8797 "Groups only show 4 digit number of entries"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.7--2022-05-15--a90ee23 Linux 5.17.6-300.fc36.x86_64 amd64  Java 18.0.1  JavaFX 18+12

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development

[2022-05-15 14:04] Css22 commented on #8774
That sounds interesting, and I'd like to try deleting it straight away. It doesn't seem too difficult. Can I have a try?

[2022-05-15 14:08] Beingmani commented on #8774
Hey, @Css22 I've already worked on it and will be raising a PR soon.

I've fixed it and made a few changes with the CSS which will fix this issue.

[2022-05-15 14:26] Css22 commented on #8774
Sorry, I just saw it. I will not continue to work for this issue. I have made some changes to the DOI that I hope will help you @beingmani.

[2022-05-15 15:23] ThiloteE commented on #7556
It has been a while. Can you still reproduce this @sauliusg? I tried with

JabRef 5.6--2022-04-25--5c9d898
Linux 5.4.0-110-generic amd64
Java 17.0.2
JavaFX 18+12

and was not able to reproduce. Should we close?

[2022-05-15 16:14] ThiloteE commented on #8288
Refs #6112

In general: "Search" of websearch and "Add Group" for aesthetic reasons probably should stay coherent. If "search" is moved, "add group" should probably also be moved.

Yancy10-1 you are so fast! xD

There was a reason I put this issue here on low priority instead of leaving it on normal priority. I was too lazy to write something up and now I have to pay the prize for it. :/ ok here i

[2022-05-15 16:18] ThiloteE commented on #8288
Refs #8462

[2022-05-15 16:51] ThiloteE commented on #8719
@Yancy10-1 My computer broke and I am operating from a very old laptop currently. I have not installed the programs yet that allow me to create videos.

I am not sure exactly at what step you failed to reproduce, so I am not even sure, if another video or explanation will help. I tried texting you on Gitter. If you want, I can share my screen so we can reproduce the issue. You can text me on gitte

[2022-05-15 19:06] #8769 closed

[2022-05-15 19:08] Siedlerchr commented on #8769
Thanks to @LIM0000  this is now fixed!

[2022-05-15 19:24] Beingmani commented on #8781
Yes, i do. I already worked on it and it should fix the issue. Fixing #8774 will fix this.

Will raise a PR by tomorrow :)

[2022-05-15 19:45] ThiloteE commented on #7872
Not solved, but it does not really infringe my workflow, is an edge case, because it is hard to trigger and does not really break anything. Maybe there is even a workaround (but I have not tried). Closing this, before one of the developers and some of the students become seriously distracted. I would rather have them solve REAL issues than this one.

[2022-05-15 19:45] #7872 closed

[2022-05-16 01:37] LIM0000 commented on #8797
### JabRef version
version 5.6

### Operating system
Window 10

![ss](https://user-images.githubusercontent.com/49628911/168505280-8ec73bee-0931-44ae-b6a0-c26e1339803d.png)

It looks good with JabRef in Window 10.

[2022-05-16 08:36] sauliusg commented on #7556
I'm getting errors when trying to compile the new JabRef trung (commit e3094ac85, master branch):
[code]
Did the project switch the the new compiler? Mine is 17.0 ...:

[code]

[2022-05-16 08:57] Siedlerchr commented on #7556
Yes, we upgraded to jdk18 recently. Your commit looks odd, the branch has also changed a while ago. It's **main**

[2022-05-16 11:13] sauliusg commented on #7556
Thanks for the info. Updated to the jdk18, but still problems (with gradle?):

[code]
I'm confused if my Gradle is too old, or something with `java` is wrong, or maybe JAVA_HOME... I'm still searching, but if you have a hint this would be greatly appreciated. :)

Yes, that was my typo – indeed it is now `main`, I just typed the name that I am used to. The commit number should be unique anyway?

[2022-05-16 12:18] sauliusg commented on #7556
An attempt to reproduce the situation triggered an "Uncaught exception ocurred ..." situation; see the attached screen shot:
![screenshot_2022-05-16_15-07-41](https://user-images.githubusercontent.com/10668420/168589742-d762d7e9-bd45-4396-9d4b-f4baf9ae5e40.png)

After trying to see the list of all publications I get an empty list; trying to save the database triggers another "Index out of bounds"

[2022-05-16 12:32] sauliusg commented on #7556
On the second attempt, Jabref worked as expected, removing the subgroup from both the group list and the BibTeX entry.

[2022-05-16 12:38] Siedlerchr commented on #7556
@sauliusg  Thanks for the feedback. Which version of JabRef was your bib file previously created?

The encoding header is no longer written (JabRef by default uses utf-8 now)

PS: If you don't want to compile from source, you can get the prebuilt binaries always here for the latest commit https://builds.jabref.org/main/

[2022-05-16 12:44] sauliusg commented on #7556
I am pretty sure that I created it on the original version for which I reported the bug:

[code]

Thanks, I could try it as well, but now the compilation worked, so I just run it (it is always good when you have a version built from source ... :).

[2022-05-16 13:34] sauliusg opened #8802 "External URL links are not displayed on mouse click – no way to select the second link"
### JabRef version

5.6 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Linuxmint-20.1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

When an entry h

[2022-05-16 13:40] ThiloteE commented on #8802
Duplicate of #8758

[2022-05-16 13:45] ThiloteE commented on #8758
So is this about the maintable or about the entry-editor?

[2022-05-16 14:19] HoussemNasri commented on #8758
@ThiloteE It's about maintable. The current labeling is correct. You can also label it as a goodfirstissue because it can be fixed with minor code changes.

[2022-05-16 14:31] ThiloteE commented on #8758
For whoever will work on this: https://github.com/JabRef/jabref/issues/8802 is the same issue. Over there is a screenshot that depicts the place in the UI that needs to be changed.

[2022-05-16 16:52] claell commented on #8787
Regarding step 3: That should be solved by #8743.

[2022-05-16 16:55] Siedlerchr commented on #8787
@fly-ing-fish   That's a good start. Additionally, I would also integrate this directly into the DOI.parse method as well, so that even if the user has a DOI in that format, fetching will work.

And @claell  is right, for the message the other issue. We try to be a bit more user-friendly. The exception should not be shown to the user in the dialog, but instead just be logged.

[2022-05-16 17:06] claell opened #8806 "Button highlight doesn't respect rounded corners"
### JabRef version

5.6 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Use JabRef
2. Open a

[2022-05-16 17:38] ThiloteE commented on #8806
Please explain your rationale for suggesting rounded corners. E.g.: Does it fix a bug or is it more about fashion?

[2022-05-16 17:39] claell commented on #8806
The buttons are rounded normally, already. Only on highlight, that isn't respected. Default:
![grafik](https://user-images.githubusercontent.com/6171135/168651177-5e01849e-4d2e-49f5-8508-e70113435e6c.png)

[2022-05-16 17:44] claell opened #8807 "Only have active buttons for undo/redo if there is something to undo/redo"
**Is your suggestion for improvement related to a problem? Please describe.**
The current buttons for this can always be clicked. There is no visual clue or prevention from clicking them needlessly.

**Describe the solution you'd like**
Other applications deactivate them in cases where nothing can be undone/redone.

**Additional context**
![grafik](https://user-images.githubusercontent.com/6171135

[2022-05-16 17:45] ThiloteE commented on #8807
@calixtus

[2022-05-16 17:58] claell opened #8808 "Merge some (or all) of the "new entry" related buttons"
**Is your suggestion for improvement related to a problem? Please describe.**
Currently, there are four different buttons, all related to adding a new entry. This is confusing for newcomers, especially as their functionality is in some cases heavily overlapping. Also, that helps to save some space on low resolutions.

CC https://github.com/JabRef/jabref/issues/8295#issuecomment-1126942821 and http

[2022-05-16 18:31] Siedlerchr commented on #7999
I cannot reproduce this bug using the latest version at commit a4443c36e0415bd781578f6f7130aad53322ffee

[2022-05-16 18:57] ThiloteE commented on #7999
I cannot reproduce anymore on

JabRef 5.6--2022-04-25--5c9d898
Linux 5.4.0-110-generic amd64
Java 17.0.2
JavaFX 18+12

[2022-05-16 18:57] Siedlerchr commented on #8012
Still an issue. One of the underlying problems from debugging. Problem with deleting from Observable lists

[code]

[2022-05-16 18:58] ThiloteE commented on #7999
Thank you @Yancy10-1 for noticing.

[2022-05-16 18:58] #7999 closed

[2022-05-16 19:35] calixtus commented on #8774
Thanks for your interest in JabRef, we'll discuss your proposal to remove the social tool bar buttons in the next devcall.

[2022-05-16 22:12] ThiloteE commented on #8719
I can still reproduce with newest development version. They key is to have the entries in the same order as is shown in the video. You can achieve this by clicking on the *title* column in the maintable multiple times, which will sort the maintable, until they are similar.

[2022-05-17 02:13] LIM0000 commented on #8758
Hi teams, I am interested to fix this issue and #8802.
Cheers.

[2022-05-17 02:27] Beingmani commented on #8781
Hey Guys,

Solution :

Moving the Background task button to the front will resolve the issues on smaller screens and since it's responsive, it will be the first one that is visible even on smaller screens.

Here is a picture of the screen where the solution is implemented. I'm trying to get rid of the space but this solution works for now I guess. let me know if I can draft a PR for this.

![image

[2022-05-17 05:39] calixtus commented on #8807
Undo redo is currently partially broken and does not work consistently.
We have a very large project running in the background to modernize the codebase (up to 20 years old) and to implement certain design patterns like the command pattern. As soon as this is done fixing the undo manager should be a fairly simple task. But there is still some way to go...

[2022-05-17 07:13] claell commented on #8807
Alright! I guess, that also explains #8770.

[2022-05-17 07:35] claell commented on #8781
@Beingmani I read that you wanted to add a PR by yesterday. Are there current problems occurring that you need help with? Also, is that screenshot a mockup or an already implemented solution?

Additionally, please have a look at #8795, which is related. Maybe, you can work on that basis.

[2022-05-17 07:40] claell commented on #8781
Just saw that you are working on https://github.com/Beingmani/jabref/commits/main, so adding for reference.

[2022-05-17 08:39] jhossbach opened #8811 "Change abbreviation of Laser & Photonics Reviews to ISO standard"
Hey there,

I think the default Jabref abbreviation for `Laser & Photonics Reviews`, namely `Laser Photonics Rev` is missing a dot at the end.

Cheers

[2022-05-17 09:49] Rifat951 commented on #8802
Hello,
I think the issue is solved and i am able to switch between doi and url.
![test](https://user-images.githubusercontent.com/31892050/168783106-e32a1dac-5d61-443c-87e1-0c565fd4fcf8.png)

[2022-05-17 09:52] Rifat951 commented on #8802
I think i have found a way to solve it. Please have a look at the screenshot. I am able to select url and doi.
![Uploading test.png…]()

[2022-05-17 10:13] calixtus commented on #8807
Sadly yes... 😅

[2022-05-17 10:26] ThiloteE commented on #8806
@claell are you sure you want to leave this open? Currently there are more issues than pull requests and more issues than developers can fix. Since that is so, fixing this during one of the larger reworks of the UI. For example, when replacing JavaFX with something else. I get that fixing this would make JabRef more beautiful, but there are so many other issues open that deserve working on and sol

[2022-05-17 10:35] claell commented on #8806
Speaking for me, I got slightly annoyed by it. Since this is an issue, I suggest leaving it open, priority can be set accordingly. Possibly it is also not that hard to fix.

[2022-05-17 10:47] Beingmani commented on #8781
Hi @claell , The screenshot is from my local jabref where I made code changes.

#8795 - Regarding this, I can see that there is space that is left intentionally for text (i.e n entries found) .

Moving the Background task button to front should actually fix these issues.

[2022-05-17 10:47] ThiloteE commented on #8758
@LIM0000 Looks like [Rifat951](https://github.com/Rifat951) is already working on this.

[2022-05-17 10:56] Rifat951 commented on #8758
I have already raised a Pull Request on that, please have a look.

[2022-05-17 11:16] claell commented on #8806
Seems as this can be fixed in here:
https://github.com/JabRef/jabref/blob/6a2332f6b17c818a7f091647b102e7099d36569e/src/main/java/org/jabref/gui/Base.css#L320

Adding `-fx-background-radius: 4px;` there solves the issue, but creates some probably unwanted side effects. Also, I ideally want to set the radius to the same value as `-fx-border-radius`, but that didn't work quickly when I tried that.