[2017-01-05 21:26] #2426 closed

[2017-01-05 23:07] #759 closed

[2017-01-06 17:31] lenhard commented on #2432
@notuntoward No worries, your explanation was fine. I was clicking the exact same button. Strangely, it works for me.

Let us see if one of the other developers manages to reproduce the issue.

[2017-01-06 19:10] matthiasgeiger opened #2449 "No Shutdown possible after external modification of file"
JabRef version at least 3.8 and `master`

Steps to reproduce:

1. Open a file
2. modify it externally
3. Accept changes
4. Try to close JabRef

[code]

[2017-01-06 19:24] matthiasgeiger commented on #2447
I found the problem and fixed it. A development build with a fixed version is available here: http://builds.jabref.org/another-datepicker-fix/

[2017-01-06 19:35] matthiasgeiger commented on #2448
Thanks for your report! I can confirm the behavior, however, fixing it will require some time and discussions :wink:

@JabRef/developers We must talk about this and decide what to do with "optional fields2" as this is primary a UI thing that should not be reflected in the model...

[2017-01-06 19:43] matthiasgeiger commented on #2443
As I checked it now again this is no bug, but we decided to remove the possibility to save files in the current table sort order (the main reason was that this is not desirable in settings where a file is managed using a version control system).

@tobiasdiez already explained how to define a sort order for a file - @faheemkhuhawar is this sufficient for you? If not, what is your use case to save t

[2017-01-06 20:20] #2447 closed

[2017-01-09 08:47] bernhard-kleine opened #2451 "Repeated cleaning of % sign in abstract field results in \\% which gives a LaTeX error"
JabRef 3.8.1
windows 7 6.1 amd64
Java 1.8.0_66

I noticed after an errorneous biber compilation that cleaning the % sign is not without risk: I found in the bib-file doublebackslashed % (`\\%`) which do help since they have the meaning of a new line and and a % sign. Obviously the cleaning does not discriminate between `\%` and `%`.

Steps to reproduce:

1. a bibentry with a % sign in the abstract

[2017-01-09 09:09] matthiasgeiger commented on #2451
Hi Bernhard!
Sorry, that I have not seen your post in the forum earlier - I think this problem has already been fixed in https://github.com/JabRef/jabref/pull/2445 (which is a fix for a similar reported problem https://github.com/JabRef/jabref/issues/2426) - can you please check using a development build from https://builds.jabref.org/master

Thanks!

[2017-01-09 10:02] bernhard-kleine commented on #2451
Actually I can not repeat it, therefore I don't know what to do. Even the cleaning of a % sign does not work. I am stymied.

[2017-01-10 12:43] faheemkhuhawar commented on #2443
To me saving and exporting the database in the current table sort order is an important feature present in previous 2.x versions of jabref. I have found the workaround to get things done, but wish to see jabref incorporate features that make jabref easy to use rather than remove it and make the jabref interface complex to use.

[2017-01-10 14:16] vsht opened #2453 "Strange ordering of files after using "Look up full text documents""
JabRef 3.8.1
linux 4.8.15-300.fc25.x86_64 amd64
Java 1.8.0_51

Steps to reproduce:

1. Add any arXiv preprint, e.g. 1604.06709
2. Click on Quality -> Look up full text documents
3. The online link is still listed primary, so when clicking on the sheet icon in the bibliography list, you get redirected to https://arxiv.org/pdf/1604.06709v1.pdf, although a local PDF is present.

In my view this behav

[2017-01-10 15:14] matthiasgeiger commented on #2443
Sorry, but I still do not understand *WHY* this is important for you. In our opinion the typical use case for JabRef is a) using it primary as visual tool to manage bibliographic data or b) use it as graphical interface for creating BibTeX files.
In both use cases the ordering of the file is generally totally irrelevant as a) the table is used to sort the entries (and this visual sorting is kept)

[2017-01-11 10:22] rkrug opened #2454 ""Move linked files" moves files in App directory when set to .bib directory"
JabRef version 3.8.1 on Mac OS X 10.12.2

Steps to reproduce:

1. Create bibliography with linked pdf in file field - absolute path
2. set all file directories (database properties and JabRef settings) to ```.``` to get attached files in same directory as the bib file
3. save the database
4. Cleanup Entries and enable ```Move linked files to default directory```
5. attached files get copied into "

[2017-01-11 10:41] Siedlerchr commented on #2454
Thanks for your report.
Please try again removing the . settings in the database properties settings and only click the checkmark: Set Bib location as primary directory. Just to be sure restart JabRef after this setting.

Then it should work. I think the problem here is that JabRef or in fact the file system interprets the "." relative directory from the binary where JabRef is started from.

[2017-01-11 19:00] rkrug commented on #2454
OK - done it. But now, the tick box "Move linked files to default directory" in the Cleanup entries" dialog box is greyed out.

[2017-01-12 07:52] matthiasgeiger opened #2455 "Add Crossref.org as source for web search"
As [complained here at the forum](http://discourse.jabref.org/t/the-google-scholar-fetcher-should-also-fetch-the-doi/360/6?u=matthiasgeiger) the Google Scholar BibTeX quality is not the best. As there are no "good" databases for all research disciplines present in JabRef we should add the crossref.org service to the web search fetchers (we are already using it for DOItoBibTeX).

Implementation sho

[2017-01-12 09:16] julianprester opened #2456 ""Move linked files" does not move files from user-specific to general file directory"
JabRef version 3.8.1 on Windows 7

Steps to reproduce:

1. Create bibliography with linked pdf in file field - relative path
2. Pdf must be located in the user-specific file directory
3. General and user-specific file directories must be set in database properties
4. Cleanup Entries and enable `Move linked files to default file directory`
5. Attached files do net get moved from the user-specific t

[2017-01-12 10:09] Siedlerchr commented on #2456
Thanks for your report! I recently reworked some of the move files code, could you please test if this bug is still present in this dev version?
http://builds.jabref.org/moveFileDir/

[2017-01-12 10:12] Siedlerchr commented on #2454
Okay, I could reproduce the problem. A workaround would be to use the rename PDF feature, it moves the files, too.

[2017-01-12 10:27] julianprester commented on #2456
The bug is not present in the dev version anymore. Thank you for your report.

[2017-01-12 11:10] rkrug commented on #2454
Thanks - that works.

[2017-01-12 11:28] #2456 closed

[2017-01-12 13:26] pirlite2 opened #2458 ""\~" Escape Sequence Does Not Display Correctly in Entry Table"
JabRef 3.8.1 on Linux Mint 17.3

The Latex backslash tilde escaped diacritic "\\\~" does not display correctly in the entry table. So, for example, the bibtex entry of "Monta\\\~{n}a" displays as "Monta na". Note the space in the middle of the word. The "\\" escape character seems to be ignored and the "~" character treated as a non-breaking space.

Peter

[2017-01-12 14:01] lenhard commented on #2458
Hi Peter,

thanks for reporting. I can confirm this, it is a bug in our LaTeX to Unicode converter.

For the record:
 - input: Monta\~{n}a
 - desired output: Montaña

[2017-01-12 16:41] lenhard commented on #2458
Turns out it was not a problem in the converter. We simply forgot to apply the converter for the author column.

@pirlite2 In a few minutes a new version of JabRef that fixes this issue will be available at http://builds.jabref.org/fix-conversion-of-tilde-n/ Could you please install this and verify that it solves your problem?

[2017-01-12 20:03] pirlite2 commented on #2458
Yep! That fixes "Monta\~{n}a". Thanks.

Curious fix though as many characters with diacritics displayed fine before!

I have, however, found another problem. "Mali\'{n}ski" does not display correctly - it displays as "Mali'nski". Note the acute accent does not appear over the 'n' but before it, implying that the "\\" is ignored and the single quote is interpreted literally.

Peter

[2017-01-12 20:11] pirlite2 opened #2460 ""\L\k{e}ski" is displayed after 'Z'"
JabRef 3.8.2 + Linux Mint 17.3

The author name "\L\k{e}ski" is sorted out of order. It appears _after_ the last entry beginning with 'Z'. I believe this is incorrect behaviour as "\L" is listed in the Unicode charts as an "L with stroke".

Peter

[2017-01-12 20:13] pirlite2 commented on #2458
Sorry. Damn Markdown! I should have checked the preview before posting.

I meant "Mali\\'{n}ski"

Peter

[2017-01-12 22:45] Siedlerchr commented on #2458
@pirlite2  Does this happen with the fixed version?
Regarding the Markdown here, best way is to put such encoded things into code tags

[2017-01-13 07:48] pirlite2 commented on #2458
I'm afraid so. It happens with both versions - the 3.8.1 release and the fixed version.

[2017-01-13 07:57] pirlite2 opened #2461 ""\L{}\k{e}ski" sorted after 'Z'"
JabRef 3.8.1 on Linux Mint 17.3

I have noticed that "\L{}\k{e}ski" is alphabetically sorted in the entry table _after_ 'Z'. This, I believe, is incorrect (and confusing!) as '\L' is listed in the Unicode tables as 'L with stroke' so should logically be sorted in the "L's".

Peter

[2017-01-13 08:04] pirlite2 opened #2462 "Author name starting with '\L' sorted out of order"
JabRef 3.8.1 + Linux Mint 17.3

I have noticed that the author name '\L{}\\k{e}ski' is sorted out of order - it is placed _after_ 'Z'. This, I believe, is incorrect (and confusing!) as '\\L' is listed in the Unicode tables as 'L with stroke' so should be sorted in the "L's".

Peter

PS - I have tried posting this several times with a with a title beginning with '\\L' and the posts have disappeared

[2017-01-13 08:06] pirlite2 commented on #2461
Apologies! Duplicate of #2460.

[2017-01-13 08:06] pirlite2 commented on #2462
Apologies! Duplicate of #2460.

[2017-01-13 08:12] #2462 closed

[2017-01-13 08:12] #2461 closed

[2017-01-13 09:26] lenhard commented on #2458
For most fields they should work fine. The author field is just very special. In contrast to other fields it has an internal structure (different items separated by `and`, `,`, etc.), which is why we have a separate and complex parsing for it. And there, we forgot to perform the Unicode conversion.

Anyway, I can confirm that "Mali\\'{n}ski" does not render as it should. Hopefully, this is just a

[2017-01-13 09:35] lenhard commented on #2460
Hi Peter,

thanks for the report. I think this is rather a feature request than a bug report, since JabRef really is not able to do this so far. JabRef relies on Java string sorting internally and this does not care about accentuated characters.

What you are asking for is a sorting that depends on the locale and takes non-english characters into account. This is possible to implement, but it is r

[2017-01-13 10:14] pirlite2 commented on #2460
Ummm... Well names beginning with '\\v{S}', sort correctly, for example. And that is an obscure, Eastern European diacritically-decorated letter. As do many others. The only deviation from correct sorting I can identify is '\\L'. So if it all works fine apart from one unusual case, my simple-minded view is that that is a bug rather than a feature. :-)

(I am curious why the Java string sorting rou

[2017-01-13 10:31] lenhard commented on #2460
Very interesting, I guess we will have to look into this deeper. My prior comment was just based on my knowledge of the code and I did not actually look at it, which is why I might be wrong in my assumptions.

Regarding the Locale: I was not suggesting anything of the like. I have a "foreign" first name and I really hope that this does not prevent people from citing my work ;-) My Locale comment w

[2017-01-13 17:01] pirlite2 commented on #2460
Just to add to this, the entry preview for my Polish friend renders as:

Article (Lkeski2003)
\&Lstrok;\&eogon;ski, J.

which I think I would describe as a dog's breakfast! In the bibtexkey, the escape character has been correctly stripped from the 'L' but the '\k' that produces the ogonek on the 'e' has been mangled.

Curiously, in the process of posting this, I have discovered that the literal t

[2017-01-13 17:02] Siedlerchr opened #2465 "Switch to latex2unicode lib instead of own handling"
This would solve some serious issues:

Idea: Use https://github.com/tomtung/latex2unicode
Provides a simple extendable grammar.

We then would only need a conversion to html

Refs #2063 #207 #1252

[2017-01-13 19:56] tobiasdiez commented on #2465
Or: https://github.com/JabRef/jabref/issues/1252

[2017-01-13 19:59] Siedlerchr commented on #2454
Hi,

I fixed this: When you have Bib location as primary dir in settings, it overwrites the db specific settings, e.g. Cleanup will move the files now to that directory.
And the checkbox is now active again.
Could you please test it with this development version?
http://builds.jabref.org/moveFileDir/

[2017-01-14 13:07] Siedlerchr opened #2467 "Add option to create group in Add To Group Dialog"
One thing that recently annoyed me all the time.

1. Select an Entry
2. Add to Group
3. You can only choose existing groups here

=> Add possibility to create a new Group in that window, too.

[2017-01-15 15:55] #2458 closed

[2017-01-15 21:28] rfgiusti opened #2468 "Search field is persistent over tab switch"
JabRef version 3.8.1 on Debian GNU/Linux stretch/sid with JRE OpenJDK 1.8.0_111 and Xfce 4.12.

**Description** after performing a search and cleaning the search field, switching to another tab and back will reinsert the search query.

**Steps to reproduce**

1. Create two empty databases (they need not be empty, but this seems the easiest path to reproduce the error);
1. Press `CTRL+F` and search

[2017-01-15 21:34] koppor commented on #2468
Try to uncheck the icon showing the earth. Does that work for you?

![grabbed_20170115-223348](https://cloud.githubusercontent.com/assets/1366654/21966401/b7bed5dc-db72-11e6-8c03-961c8c27028d.png)

[2017-01-15 21:51] rfgiusti commented on #2468
The icon is not checked. The issue happens when I come back to the tab
where I did the search.

Interestingly though, if I do check the icon this happen, after I uncheck
it all tabs behave as if they are in search mode (even after deleting the
query from each of them).

On Sun, Jan 15, 2017 at 7:34 PM, Oliver Kopp <notifications@github.com>
wrote:

--
Rafael Giusti
Laboratório de Inteligência Comp

[2017-01-15 21:59] koppor commented on #2468
@bartsch-dev Can you comment on that?

[2017-01-15 22:25] bartsch-dev commented on #2468
I think I know the problem, looking into it right now.

[2017-01-15 23:26] #2468 closed

[2017-01-15 23:42] bartsch-dev commented on #2468
This Issue is fixed in the current master, you can download the development version here https://builds.jabref.org/master or wait for the next release.

[2017-01-16 00:41] rfgiusti commented on #2468
Checked from master; looks good!

But there's also the secondary behavior that I noticed after koppor's comment: when you make a global search, it seems to create one search query for each tab. If you uncheck global search before deleting the query, there will remain one search query associated with each tab.

Should I open another issue?

[2017-01-16 00:57] rfgiusti commented on #2449
Additional info: this only happens if you review the changes (regardless whether you mark them as accepted or not). If you cancel the review, nothing happens.

This bug can be work-arounded by closing the database before attempting to close JabRef (still raises an exception).

[2017-01-16 18:05] ololobus opened #2470 "JabRef causes permanent discrete GPU usage"
JabRef version 3.8.1 on macOS 10.12.2

Steps to reproduce:

1. Run JabRef
2. Go to About This Mac -> Display
3. Check current GPU in use

JabRef requires for some reason a discrete GPU, which seriously affects a battery life. Tested with both MacOS packed .app and cross-platform .jar

Is it really necessary? Or it is possible to turn off discrete GPU dependancy in the future release?

[2017-01-16 18:55] ololobus commented on #2470
I've solved the problem by adding following lines into the `info.plist`

[code]

It's a temporary solution, since plist will be changed on a next JabRef autoupdate, so it should be added to the configs during the app build.

[2017-01-16 19:00] Siedlerchr commented on #2470
Thanks for the report and the solution!
We will try to integrate that into the App build information

2017-01-16 19:55 GMT+01:00 Alexey Kondratov <notifications@github.com>:

[2017-01-17 17:34] andrewufrank commented on #410
i have used the newest build http://builds.jabref.org/master/JabRef-3.8.2-dev--snapshot--2017-01-16--master--9e48a5ff8.jar and use debian stretch with Java (oracle tested:
ou have the recommended Java installed (Version 8 Update 111

the find unlinked works for the first file, sometimes even for the second (if the window is closed in between) fails later. it fails immediately if more than one file

[2017-01-17 19:52] tobiasdiez commented on #410
I can confirm that the bug is still there in the latest dev version. I will have a look.

[2017-01-17 21:19] stefan-kolb commented on #410
See  #2309

[2017-01-17 21:19] #410 closed

[2017-01-17 21:38] stefan-kolb commented on #2470
The question really is why does this happen?

[2017-01-18 08:42] andrewufrank commented on #2309
i would appreciate to be informed if there is a new fix in a new build for this problem. i am happy to run it with the debug option. i have currently JabRef-3.8.2-dev--snapshot--2017-01-16--master--9e48a5ff8.jar
. anything better to test? any workaround possible?
thank you for this feature - it will be very useful when it works reliably.

[2017-01-18 12:34] maghetta commented on #2231
Thank you Zomtir!!

After many failed tries, your suggestion (manually download NCBI certificate + import it with keytool) solved the problem for me: Ubuntu 16.04 x64, Java OpenJDK 8

[2017-01-18 17:57] m-rasheed commented on #1550
I'm a windows user. I installed Jabref version 3.8.1 from the website https://www.fosshub.com/JabRef.html couple of days ago. I have the same problem described in the question above. What is the solution for this?

[2017-01-18 19:47] tobiasdiez commented on #1550
There is no real solution for the moment. We plan to rewrite the groups interface and in the process fix this issue. You might have luck and resetting the preferences may fix it for you.

[2017-01-19 09:38] m-rasheed commented on #1550
@tobiasdiez  Reseting the preferences solved the problem for me!

[2017-01-19 12:51] insnana opened #2471 "SAO/NASA ADS Bibcode Web Search"
JabRef version 3.8.1 on Windows 7

After version 3.6; ADS Bibcode fetcher returns abstract text as left-aligned. However, v3.6 was returning abstract text as justified. It was more readable previous version 3.6 than now it has.

[2017-01-19 17:10] Siedlerchr opened #2472 "ACM fetcher adds junk to database"
JabRef 3.8 Windows 10 x64

**Biblatex Mode**

1. Web Search
2. ACM Portal | Guide to Computing LIerature
3. Search for:  Information Extraction from Voicemail
4. Check the corresponding entry (Huang...)
5. Click ok -> Generate Keys is activated -> Okay
6., Open BibTex DB in Editor, see the correct entry plus this junk:

[code]

[2017-01-20 14:58] nehemie opened #2475 "duplicate entries with "subdatabase on .aux file" tool and crossreferences"
version JabRef 3.8.1 on [Debian stretch](https://packages.debian.org/stretch/jabref) (2017-01-20)

When using the tool "create subdatabase on .aux file" with a reference database.bib using crossrefrences, the generated subdatabase has duplicate entries for the crossreferenced entries. Then bibtex makes error with the generated subdatabse due to the duplicate entries

Steps to reproduce (1 create a

[2017-01-20 15:22] #2472 closed

[2017-01-20 15:23] koppor commented on #2247
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you.

[2017-01-20 15:24] #2247 closed

[2017-01-20 15:24] lenhard commented on #2247
Just to note: We switched to G1GC, which is integrated in master now.

[2017-01-20 15:55] lenhard commented on #2443
Since there seems to be no compelling reasons for the feature, or at least no motivation for it, we decided in the devcall to close this issue.

[2017-01-20 15:55] #2443 closed

[2017-01-20 15:59] tobiasdiez commented on #2432
Your example entry is not included in MathSciNet (see [result for a manual search](http://www.ams.org/mathscinet/search/publications.html?pg4=ALLF&s4=&co4=AND&pg5=TI&s5=%CC%81%CC%80Traffic+flow+optimization%3A+A+reinforcement+learning+approach&co5=AND&pg6=PC&s6=&co6=AND&pg7=ALLF&s7=&co7=AND&dr=all&yrop=eq&arg3=&yearRangeFirst=&yearRangeSecond=&pg8=ET&s8=All&Submit=Search) ) and also not published

[2017-01-20 16:10] Siedlerchr commented on #2451
Hi, I tested this and encountered the following behaviour (only in biblatex mode)
First Cleanup run: The % sign is correctly encoded into `&percnt; `
Second run:, I get:  `\&percnt;` with a preceding slash.
Third run, I get: `50\\&percnt;`
So each time, there is added a backslash.

When I open the bibtex file, I see:
`50\\\\%` @lenhard

[2017-01-20 16:12] notuntoward commented on #2432
OK, but I think this is still a bug, or a feature request.

First, I didn't look at MathSciNet or arXiv but instead, MathSciNet and SAO/NASA.

Second, I populated that entry with JabRef's own DOI lookup but JabRef is then unable to find the same information (the title I deleted) when I use JabRef's "Update bibliographic information from the web" button.

JabRef found it once; it seems like it shou

[2017-01-20 16:31] lenhard commented on #2432
@notuntoward So if I understand you correctly, you want another option for the "Update bibliographic information from the web" button, namely something like "From DOI" that replicates the functionality of the DOI-based entry generator? In this case, have a look at the button "Get BibTeX data from DOI" that is next to the DOI field in the entry editor :-)

Providing the functionality also for the "

[2017-01-20 16:37] notuntoward commented on #2432
Sounds good.  Thanks.

[2017-01-20 17:34] #2309 closed

[2017-01-20 17:38] koppor commented on #2309
@andrewufrank Please try again the latest build from https://builds.jabref.org/master/

[2017-01-21 19:42] tobiasdiez commented on #2432
The "update from DOI" feature is now implemented. Thanks for the suggestion!

[2017-01-21 19:42] #2432 closed

[2017-01-22 16:36] retorquere opened #2477 "Error importing groupstree version 3 generated by Better BibTeX for Zotero"
I'm the author of Zotero Better BibTeX; my extension generates BibTeX including a JabRef groupstree that is intended to import cleanly into JabRef. Recenty I've had reports that this import fails; this means my implementation of the groupstree is faulty, but as I cannot find any documentation on the format, I don't know in what way it is faulty.

I have a sample at https://drive.google.com/open?id

[2017-01-22 18:42] jp5400 commented on #2201
The new JabRef version 3.8.1 can handle the medline web-page connection but need to be started with root privileges otherwise it gives ERROR SidePaneManager . This is not dependent on Java (Oracle vs openJDK) and I believe it might be related to secure internet connections with web databases

[2017-01-22 18:50] jp5400 opened #2478 "ERROR SidePaneManager"
The new JabRef version 3.8.1 which can handle the secure Medline web-page connection requires root privileges otherwise it gives error. I use Mint 17 with Java-Oracle-8 or openJDK-8.

[2017-01-22 19:19] matthiasgeiger commented on #2478
Can you please post the error message shown in the error console here?

Thanks!

[2017-01-22 20:49] jp5400 commented on #2478
21:48:57.232 [AWT-EventQueue-0] ERROR net.sf.jabref.gui.SidePaneManager - Following side pane could not be found: Web search
java.lang.ClassNotFoundException: Web search
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381) ~[?:1.8.0_121]
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424) ~[?:1.8.0_121]
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:331) ~[?:1.8.0_121

[2017-01-22 21:00] tobiasdiez commented on #2478
This error message should just be an internal problem and (hopefully) does not have any negative consequences on any functionality.

[2017-01-22 21:26] jp5400 commented on #2478
Thank you,
I confirm that so far besides showing the ERROR message it is working correctly. I noticed that when running as root JabRef could not connect to LibreOffice.
jp

[2017-01-22 21:36] Siedlerchr commented on #2478
We still don't know why these Side Pane Manager errors happen (because they
happen to me on Windows, too)
Mabye it is some thing with storing the position of the windows and loading
them at startup.
However, as tobias already wrote, it does not have any negative impact

2017-01-22 22:26 GMT+01:00 jp5400 <notifications@github.com>:

[2017-01-22 21:49] jp5400 commented on #2478
Thank you all,
jp

[2017-01-22 23:29] tobiasdiez commented on #2478
I think we should let this open because this error message is indeed irritating.

[2017-01-23 08:45] jp5400 commented on #2478
Thank you for comments,
I would like to price the authors for 2 major point: using java (which means "zero installation"), frequent updating. My competency level do not allow me to solve this problem now. Strange that root level does not show ERROR and strange that libreoffice connection does not work (path problems?).
JP

[2017-01-23 10:41] jp5400 opened #2479 "jboss server"
Hallo,
I could not find if there is any working version of JabRef for any version of jboss. Does anyone have any experience in JabRef server?
jp

[2017-01-23 10:44] koppor commented on #2479
You can convert JabRef to a web application, if you

1. Rewrite the user interface using HTML5
2. Convert the backend code to TypeScript. For instance using http://www.jsweet.org/.

Pull requests welcome.

Did you mean that?

[2017-01-23 10:50] jp5400 commented on #2479
Thank you
Sorry: "in english please". This mean I need more time for comprehention.
jp

[2017-01-23 10:59] koppor commented on #2479
Just describe the aim you want to achieve.

Currently, JabRef is written in Java using SWING as user interface. Thus, it cannot be run on any JBoss or Tomcat server.

[2017-01-23 11:05] jp5400 commented on #2479
Thank you for suggestion
jp

[2017-01-23 11:10] ololobus commented on #2470
It's difficult to suggest anything, since I don't know an internal structure and technologies of JabRef (I only know that it uses Java), but for example:

[code]

https://developer.apple.com/library/content/qa/qa1734/_index.html

[2017-01-23 11:25] matthiasgeiger commented on #2470
Hi @ololobus!
Which Java version are you using?
If I understand [this bugreport for OpenJDK](https://bugs.openjdk.java.net/browse/JDK-8132759) correctly the problem should be fixed since OpenJDK 1.8.0_92.

[2017-01-23 11:30] ololobus commented on #2470
Hi @matthiasgeiger,

[code]

[2017-01-23 11:33] matthiasgeiger commented on #2470
Thanks! This is Oracle JDK, right?

[2017-01-23 11:36] ololobus commented on #2470
Yes, it is right

[2017-01-23 11:40] matthiasgeiger commented on #2470
As we don't have any developer coding on a Mac... Could you please check whether this problem is also present if you use a recent OpenJDK?

If not, this seems to be a general Oracle Java bug and not really caused by JabRef.

[2017-01-23 12:00] ololobus commented on #2470
I will try one day, but there no official fresh builds of OpenJDK for Mac (there is only a critically outdated port `openjdk6`, so I guess the only way is to build it from source). Thus, the probability that someone uses JabRef with OpenJDK under Mac OS X tends to zero.

Anyway, I clearly solved the issue for myself by adding two lines into `info.plist` of your app. If you want to solve the issue

[2017-01-23 15:33] lenhard commented on #2477
Hi @retorquere

Thanks for your report and thanks for supporting an integration with JabRef. Recently, there have been considerable changes in the way in which information about groups is serialized. This is probably the reason for why an import of your generated BibTeX no longer works. Unfortunately, the current serialization is not documented as well.

I am far from being an expert on groups and

[2017-01-23 15:50] retorquere commented on #2477
Oh wow that's a very significant change. This would mean group get some kind of unique ID then. It'd be good to know what kind of restrictions are in place on group IDs as I would have to generate them, and the Zotero collection names from which I'd have to do so will almost certainly contain illegal characters. And the names are not by necessity unique even on a single parent.

Is this format alr

[2017-01-23 15:54] retorquere commented on #2477
Unless https://github.com/JabRef/jabref/issues/1495 is still at play? Would that mean that an entry belongs to any group which happens to have that exact name?

[2017-01-23 16:24] lenhard commented on #2475
Hi @nehemie

Thanks for your report. I wish all users would provide a minimal working example, as you did :)

I can confirm the error and implemented a fix. A working version is available at http://builds.jabref.org/fix-aux-duplicates/ Just to be sure, could you please install this version and check that it fixes your issue?

As a side note: I think in BibTeX it is mandatory that entries which are

[2017-01-23 16:32] lenhard commented on #2477
As far as I am aware, special characters in groups should not be a problem. However, somebody else should confirm this.

The format is indeed out in the wild. Nevertheless, if you have a suggestion for improving it, please go ahead and let us know. The format is not set in stone and even if we do not follow a suggestion, discussing the format here helps to clarify it. Regarding #1495: Duplicate gr

[2017-01-23 17:27] retorquere commented on #2477
My go-to solution for such things would have been json, either inside the comment or by just having the other braces already present on the comment block be the outer braces on a json construct. I know this might run into unbalanced braces if any of the values or keys has braces in them, but there's several ways to tackle that:

1. Url-encode braces and percentage signs. That would leave the group

[2017-01-23 18:42] #2479 closed

[2017-01-23 19:07] #2475 closed

[2017-01-23 19:16] tobiasdiez commented on #2477
One of the aims of the syntax change was to let the user edit the group membership by hand in the bibtex code. This would not be possible if the identifier is a magic hash since nobody can remember such a string (this is also one of the reasons, why we have problems with duplicate group names).

In any case, JabRef should still understand the old groups tree format and convert it to the new one au

[2017-01-23 19:23] retorquere commented on #2477
But the json would then serve the dual purpose of being easier to parse and to edit for the user - even just keeping the old groups tree idea with the keys in the groups.

[2017-01-23 21:28] theagoliveira opened #2481 "Cannot edit dynamic group with regular expression activated"
**Description**: groups which have both options "_Dynamically group entries by searching a field for a keyword_" and "_regular expression_" checked cannot be edited after creation (edit screen doesn't appear).

**JabRef version 3.8.1 on Ubuntu 14.04**

**Steps to reproduce**:

1. Create new BibTeX/BibLaTeX database
2. Create a group
3. Check "_Dynamically group entries by searching a field for a k

[2017-01-23 21:35] retorquere commented on #2477
I've only had reports that JabRef can't open that sample file without discarding the groups (although it does warn it will). On my macbook, I can't open the file at all. JabRef says that it's importing the file but doesn't seem to be doing anything, even if I just let it sit for 10 minutes.

[2017-01-23 21:46] paulsputer opened #2482 "Seemingly Random freeze on PDF import"
v3.8.1, windows 10

Great work on this version the _get BibTex from doi_ functionality is working better than ever. Unfortunately this version often seems to suffer a freeze when importing PDFs.  Initially I thought it was caused by some interaction with the _quality assured_ field as it seemed to freeze after setting a few _quality assured_ fields and then importing a PDF.  However, I've also had

[2017-01-23 22:14] michaelpalmeruw opened #2483 "LibreOffice plugin: problem with italicized text in title"
JabRef version 3.7 on Debian Jessie

Steps to reproduce:

1. Open a LibreOffice document.
2. Select a bibliography style that italicizes the whole title, such as one of the two default styles that come with JabRef itself.
2. Cite a reference whose title uses some words, <i>some italicized words</i>, and some non-italicized ones. (Use `<i>some italicized words</i>` to apply italics.)
3. The output

[2017-01-23 22:22] michaelpalmeruw commented on #2483
I should have been more careful with those HTML italics tags. I had typed them in but the web app swallowed them. So, to be clear, I had < i > and < / i > to apply italics formatting, and it is the < / i > that closes both the local and the global application of italics.

[2017-01-23 22:54] Siedlerchr commented on #2483
@michaelpalmeruw  Thanks for your report. To avoid problems with automatic parsing of html or other code here, you can wrap such thinks in code-tags by selecting the text and then hitting the code  (the <> button)

[2017-01-23 23:43] eduardkareletc opened #2484 "Jabref 3.8.1 can't connect to open office 4.1.3"
JabRef version 3.8.1 on Mac OS X 10.9.5

connecting to OpenOffice 4.1.3 fails with a message that the file /Applications/OpenOffice.app/Contents/Resources/java/unoil.jar cannot be found.

In the OpenOffice application folder the Resources/java folder is missing. The jar file is located in /Applications/OpenOffice.app/Contents/MacOS/classes/

A workaround seems to be in 'repairing' the OpenOffice a

[2017-01-24 00:54] michaelpalmeruw commented on #2483
Thanks, Christoph. I updated my post accordingly.

[2017-01-24 10:28] lenhard commented on #2477
JSON is theoretically easy to parse, but the problem is that we do not start from scratch. JabRef has a rather complex parser and supporting a new style of format would essentially result in a re-write of this parser. That doesn't mean that you do not have a point, and we should keep the suggestion in mind in case we go for that option one day.

Regarding your bib file: When opening it, the error

[2017-01-24 10:42] retorquere commented on #2477
I don't know the jabref parser of course, but I figured it'd needed to read the whole `@comment` block in any case before decoding it. Does the jabref parser do streaming decoding of that block? If so, [streaming parsing would still be possible](http://stackoverflow.com/questions/444380/is-there-a-streaming-api-for-json/823632#823632) but I can see why it'd be low-prio to JabRef.

How do I get to

[2017-01-24 11:27] lenhard commented on #2477
The JabRef parser has been implemented 15 years back in time and evolved since then :) It is PushbackReader, essentially a queue that reads the file character-wise, possibly pushing characters that have been read back to the head of the queue, if needed.

You get to the error console via the menu: Help -> Show error console. To me, the error locks more like a bug in JabRef. Even if the group code

[2017-01-24 12:19] retorquere commented on #2477
OK so in the error console I now see this same error message, but the status remains set at "Importing in unknown format". I assume that this does not actually mean the import is still running. I'll just wait for now before doing anything in BBT.

Except the groups format perhaps. Should I be generating the new format? At the very least I should be parsing it.

[2017-01-24 12:44] lenhard commented on #2477
You can go ahead with implementing the new format. We will keep support for reading the old format for quite some time (and will investigate this error, though I cannot guarantee the time frame). But we will definitely not roll back to the old format.

Newer versions of JabRef exclusively write out the new format, so support for parsing it makes sense. You can also go ahead with generating it, if

[2017-01-24 12:48] Ede123 opened #2485 "IEEE Journal names abbreviated to a code"
#### Error description
It seems there's a problem in looking up the abbreviated name of IEEE journals.
For example abbreviating "IEEE Aerospace and Electronics Systems Magazine" results in "#IEEE_M_AES#"

#### JabRef version
[code]

#### Steps to reproduce
1. Create an empty BibTeX database
2. Add an BibTeX entry (I used article)
3. Copy into the "Journal" field: "IEEE Aerospace and Electronics Sy

[2017-01-24 13:18] retorquere commented on #2477
So how are multiple groups separated in the current implementation? Comma, semicolon?

[2017-01-24 13:31] lenhard commented on #2477
Extending the example above:
[code]
Ergo: Semicolon.

The safest way to get information about the group format is probably to install jabref and see what it serializes ;-)

[2017-01-24 13:32] retorquere commented on #2477
That's what I did before and now it fails to parse in Jabref 😉 . I meant to ask how to separate the groups in the reference so that's a comma. Parsing should already work (it was a relatively minor change), writing out is en route.

[2017-01-24 13:38] tobiasdiez commented on #2477
I think I found the error why your example bib file does not import correctly. PR is coming hopefully this evening.

[2017-01-24 13:43] lenhard opened #2486 "Force Shutdown after accepting external changes"
JabRef 3.8.1-dev
windows 7 6.1 amd64
Java 1.8.0_92

External changes mean that JabRef will no longer shut down normally and you have to force kill the process.

Steps to reproduce:

1. Open a database in JabRef
2. Change the file externally
3. JabRef notices external changes
4. Review and accept all external changes
5. Try closing the window (click on X). JabRef refuses to shut down and the follow

[2017-01-24 15:12] matthiasgeiger commented on #2449
also covered in #2486

as @lenhard is working on a fix I'll close this as a duplicate

[2017-01-24 15:12] #2449 closed

[2017-01-24 15:35] retorquere commented on #2477
Alright, next release of BBT will have format 4 (I suppose) parsing & writing, and will still parse format 3. I can see why you chose to go this way -- the changes were minimal.

[2017-01-24 17:12] lenhard commented on #2449
Blind me! Sorry for not discovering that this issue already exists!

[2017-01-24 18:28] tillschaefer commented on #1495
I think the above example is overly complex and have several pitfalls (i.e. deleting content from a groups one is not aware of that it is duplicated and one is therefore unaware of side effects). Actually the usecase illustrated above can be simply imitated by using three distinct groups asthma, diabetes and treatment. If you have this groups you can always select multiple groups and compute an in

[2017-01-24 18:59] retorquere commented on #2477
How should the `groups` field be treated? Literal list, Literal field, Verbatim field, Separated value field? I've just fiddled around a bit and I can create a group called `a,b` and another group `a` and `b`, and the references assigned to `a,b` get `groups = {a,b}`. BBT would parse this as two separate groups.

[2017-01-24 19:03] retorquere commented on #2477
Perhaps a Name list would be better, as its behavior is a little more well-defined. `a,b` would then become `groups = {a,b}` or `groups = {{a,b}}` (which would be equivalent from BBTs point of view), but a reference belonging to both `a,b`, `a` and `and` would become `groups = {a,b and a and {and}}`.

[2017-01-24 19:08] retorquere commented on #1495
But currently the groups don't behave like filesystem paths. There's no filesystem analog for "have this file appear in any directory called "treatment" wherever that folder is on the disk.

The sample of @mpatas is fairly typical for me. I collect way, way too many references when I write a paper and I tend to separate them by theme so I know where to find them easily when I'm tangling with that

[2017-01-24 21:07] tobiasdiez commented on #2477
So the problem was that some group names in the example bib file contained non-escaped backlashes. For example, `ExplicitGroup:slit\`. The correct way to escape is with 4 backslashes, i.e., `ExplicitGroup:slit\\\\\;0\;mertsch_slit2_2007\;;`. Don't ask me why 4 backslashes and not just 2 ( @lenhard do you have an idea why?).

With https://github.com/JabRef/jabref/pull/2488 a proper error message sh

[2017-01-25 06:23] retorquere commented on #2477
I think I may know - looks like the jabref groups are just lists of strings, which are encoded into a single string by escaping backslashes and semicolons, and then joined by a semicolon. The hierarchy is then treated the same, which leads to the double escaping. I'll make the change somewhere today - should be easy.

[2017-01-25 08:40] retorquere commented on #2477
OK, I think I have this fixed now.

[2017-01-25 09:14] retorquere commented on #1495
(and the hardlinks behavior is already in JabRef and any other reference manager I can think of. A reference can legitimately and easily be in multiple reference groups, and no group has any special status as the "actual" location of the reference. Symlinks would indeed be confusing that way.)

[2017-01-25 09:51] HainesB commented on #1495
When I download a file, to prevent a name clash the file is
automatically appended with an incremental number such as Alpha,
Alpha-1, Alpha-2.

Couldn't the group name creation process in JabRef be similarly equipped
so that when a new group is created having the name of an existing
group, an incremental number, perhaps no visible, is appended?

Haines Brown

[2017-01-25 19:14] cavonsto commented on #2130
@AEgit Hi, I am using the v3.8.1. Mac OS X.
So it looks like this:
when I got to the BibLatex it shows that that article belongs to a group "Groups  = {SINTHESIS}, BUT  the field GROUPS" on the left, is empty! since october this happened on my PC at work, but now also on the MAC.
I´m really freaking out because it´s taking me forever to find the articles because it was prety much based on the grou

[2017-01-25 19:24] tobiasdiez commented on #2130
You need to create a group with the name "SINTHESIS" to make use of the `groups` field. Just press the "plus" button on the left groups pane and create an static group with the correct name. Afterwards, all entries with a matching value in the `groups` field should be assigned to this new group.

By the way, how did you created the `groups = {SINTHESIS}` field without using the groups interface?

[2017-01-25 19:29] AEgit commented on #2130
@tobiasdiez: Could the problem be related to an upgrade from an old JabRef version (e.g., v. 2.11) to a new one, as the old JabRef stored groups quite differently from newer versions (I'm just guessing)?

On a sidenote:
@cavonsto: Why are you opening the .bak file instead of the .bib file?

[2017-01-25 19:38] cavonsto commented on #2130
@AEgit I´m opening the .bak file (the database) That´s all i have. .bib i have for some individual articles. should I have both for the database?
![screen shot 2017-01-25 at 19 34 30](https://cloud.githubusercontent.com/assets/22658243/22306080/bfb14d18-e335-11e6-988b-8a5e474be98f.png)
@tobiasdiez I CREATED the groups, on the "GROUPS"field on the left (I´ve been adding groups to this for the last

[2017-01-25 19:43] AEgit commented on #2130
Ahh, I see - you renamed your database file as .bak file. Usually you would save it as a .bib file, as the .bak file is the backup of it (that's why you have a .bak.bak file in your directory). Well it doesn't really matter (especially not on Unix systems like the Mac, that don't care much about file extensions) - this way it is just a bit confusing (at least to me).

[2017-01-25 19:47] AEgit commented on #2130
Just to be sure - You are using the release version of Jabref 3.8.1, not any other build, like e.g., the one with the revamped interface http://builds.jabref.org/groupsRework/. Because with that build (which uses JavaFX) I had similar problems.

[2017-01-25 19:53] cavonsto commented on #2130
@AEgit I just downloaded and installed again :  "Download JabRef Mac OS X - 34.36 MB | version: 3.8.1 | MD5/SHA1 signature " from https://www.fosshub.com/JabRef.html - just to be sure
- problem persists ..

[2017-01-25 19:57] AEgit commented on #2130
Hmmm ok - could you open your .bak file in a text editor, scroll to the bottom of it and make a screenshot of what you see there? If the group structure is still there, there might be ways to recover it. There should be something like "1 ExplicitGroup:Myawesomegroup\;0\;;".
If there's none, I'm afraid, I guess you would have to rebuild the groups in JabRef as @tobiasdiez explained.

[2017-01-25 20:05] cavonsto commented on #2130
![screen shot 2017-01-25 at 20 03 40](https://cloud.githubusercontent.com/assets/22658243/22307039/6d47909c-e339-11e6-80d4-0c404ef09c9d.png)
 i did a ctrlF, no ExplicitGroup... So i should get to work right?

[2017-01-25 20:07] AEgit commented on #2130
Hmmm, yes - unless you have a Backup where the groups were still present/working.

[2017-01-25 20:12] cavonsto commented on #2130
hum..but so hat changed since october was the jabref version right? my .bak looks the same, I have the info of the groups in the. bak for each article:
![screen shot 2017-01-25 at 20 08 50](https://cloud.githubusercontent.com/assets/22658243/22307264/37c54314-e33a-11e6-8668-8d227d90bb6d.png)
or you think that I lost some info here as well?

[2017-01-25 20:16] AEgit commented on #2130
Yes, the group assignment is in there - but the group structure is stored separately at the bottom of the .bib/.bak file. There should be something like (assuming that you were using explicit groups, i. e. not dynamically generated groups):

@Comment{jabref-meta: groupstree:
0 AllEntriesGroup:;
1 ExplicitGroup:mygroup1\;0\;;
2 ExplicitGroup:mygroup2\;0\;;
3 ExplicitGroup:mygroup3\;0\;;
4 ExplicitG

[2017-01-25 20:21] cavonsto commented on #2130
yap, statically groups manually generated. but the "funny" thing is that it stopped working on the Mac in october, and this week on the PC..
but @AEgit thank you

[2017-01-25 20:22] AEgit commented on #2130
Hmmm, yea sorry to hear that - I've no idea how that could have happened. Fortunately, you still have the group assignment, so with some work you should get back your database to how it was before. Good luck with it!

[2017-01-25 20:34] cavonsto commented on #2130
to be honest i was doubting what you said about losing info..so I got a backup from a year ago, and voila!
but since then Ive added 200 articles and created 3 groups, so this doesn't help right?
![screen shot 2017-01-25 at 20 30 15](https://cloud.githubusercontent.com/assets/22658243/22308049/4d6fbfac-e33d-11e6-8fe9-b05afac81f18.png)

[2017-01-25 20:41] AEgit commented on #2130
Ahhh, this is how JabRef stored its groups before the change to the new format. @tobiasdiez : Could cavonsto import the old groups, convert them to the new group format and then add the new groups manually to the database file? If so, cavonsto could at least save some time when adding the groups.

Just one question, however: How many groups did you have? Because, if it is just 30 groups, as you sa

[2017-01-25 20:45] cavonsto commented on #2130
@AEgit you're right, I should just do it. I´m just concern about of the sub-groups..i guess the articles won´t "know" if a group is a sub group..so I´ll have 30 groups PLUS all the sub groups, probably. but it´s a start.

[2017-01-25 20:48] AEgit commented on #2130
In the description of every article probably there will be only one group, so if you had groups and subgroups, the articles will most likely only be assigned to the subgroup. As long as you remember where you had your subgroups, you can completely recover your original group structure.

[2017-01-25 21:07] tobiasdiez commented on #2130
Yes, you should be able to copy and paste the group tree in the new file. Just copy everything after `@Comment{jabref-meta: groupstree:` from you backup into the new file. Hopefully this is enough. If this doesn't work, then you have to recreate everything by hand again. Sorry.

Do you have an idea why the groups disappeared? Was there an error message?

[2017-01-25 21:08] cavonsto commented on #2130
I copy pasted the last part from my backup to my .bak file, and it kind of worked.
![screen shot 2017-01-25 at 21 07 21](https://cloud.githubusercontent.com/assets/22658243/22309236/4d653406-e342-11e6-9c5b-0864eb513fd8.png)
should I change the extension when I save it now? or .bak is ok?

[2017-01-25 21:10] cavonsto commented on #2130
@tobiasdiez no error message. and I´m cheking, the new articles I added recently in existing folders "went" to the right groups. so now is just a matter of finding out what groups are missing.

[2017-01-25 21:45] tobiasdiez commented on #2130
Glad it kind of worked. Normally `.bib` is the right ending but anything should work.

[2017-01-25 21:52] cavonsto commented on #2130
thank you very much, I was getting ready to pull an all nighter!
greetings from Lisbon

[2017-01-26 11:31] ziggystar opened #2489 "Hangs after editing abstract of existing entry"
## Versions

- JabRef version 3.8.1
- on Ubuntu 16.04
 - java version "1.8.0_121" (oracle)

## Issue
The program hangs with no CPU utilization after editing an abstract (removing a HTML code and replacing it with the word 'and'). I don't know whether this is reproducible, simply editing an abstract didn't do it.

But I have a thread dump attached. I think it's some kind of deadlock/race condition,

[2017-01-26 12:02] #2477 closed

[2017-01-26 12:21] #2481 closed

[2017-01-26 12:23] tobiasdiez commented on #2481
Thanks for your very detailed and clear report.
This should be fixed now in the latest development version. Could you please check the build from http://builds.jabref.org/master/ and report back if it still not working. Thanks!

[2017-01-26 12:35] #2486 closed

[2017-01-26 14:18] koppor commented on #2489
Could you a) try to reproduce? b) provide us the abstract?

Here, I can edit the abstract without issues.

Am 26.01.2017 12:31 schrieb "ziggystar" <notifications@github.com>:

[2017-01-26 17:27] theagoliveira commented on #2481
I tried to run `java -jar JabRef-3.8.2-dev--snapshot--2017-01-26--master--ed89bdae2.jar` and got `Error: Invalid or corrupt jarfile`

[2017-01-26 22:11] ziggystar commented on #2489
I tried for a bit and I can't reproduce it. I don't know exactly what I clicked after editing the abstract.

I looked a bit into the sources and couldn't find an obvious issue with the locking.

- The deadlock is not visible inside the stack trace, for me. Not within the Swing thread itself, and also no other thread appears to be holding a lock. This hinges on me recognizing the places where a loc

[2017-01-26 23:42] tobiasdiez commented on #2481
We had some problems with our build server. Should work now.

[2017-01-27 10:39] josephwright opened #2493 "Correct capitalisation of 'biblatex'"
The name of  LaTeX `biblatex` package has always been written all-lowercase except at the start of sentences, _i.e._ it follows normal capitalisation rules in English. Currently, JabRef calls it 'BibLaTeX' both on the website and in the program: please can this be corrected.

[2017-01-27 12:41] koppor commented on #2493
Refs https://github.com/koppor/jabref/issues/73 - I update it accordingly.

[2017-01-27 12:49] lenhard commented on #2493
@josephwright Could you also correct the spelling on CTAN: https://www.ctan.org/pkg/biblatex?lang=de ?

It is this page that led us to think that 'BibLaTeX' was correct.

[2017-01-27 12:51] koppor commented on #2493
![grabbed_20170127-135020](https://cloud.githubusercontent.com/assets/1366654/22371491/a7c7a054-e497-11e6-80b7-9f3903e4f1a8.png)

Please note there are no news since 5 years on CTAN on biblatex.

[2017-01-27 13:07] josephwright commented on #2493
@lenhard  I'll talk to CTAN about their text: the official documentation has always had all-lowercase.

[2017-01-27 13:08] josephwright commented on #2493
@koppor I know there have been lots of releases! I guess something odd it the way they've added this stuff (it did not used to be there).

[2017-01-27 14:33] retorquere commented on #2477
Yeah, I have tests confirming the fix. My implementation of the groups format was pretty whack, that should now be fixed.

What is the meaning of the empty field at the end of an ExplicitGroup BTW?

[2017-01-27 14:51] tobiasdiez commented on #2477
If I understand [the code](https://github.com/JabRef/jabref/blob/e61279b7dcb9aa6ce6ae57a85cf95e0ef4fe8ca4/src/main/java/net/sf/jabref/logic/importer/util/GroupsParser.java#L127) correctly, then the last field contained the list of referenced entries. This is now empty since newer versions store this information directly in the entry (as `groups` field) but kept for semantic reasons.

[2017-01-27 14:52] retorquere commented on #2477
As far as I can tell the empty last cell was always there, also in groupstree format 3.

[2017-01-27 16:09] duelle opened #2494 ""New entry from plain text..." shows the same dialog as "New entry...""
**JabRef version**
JabRef 3.8.1
linux 4.9.6-1-arch amd64
Java 1.8.0_121

**Steps to reproduce**
1. Open: BibTeX -> "New entry from plain text..."
2. Same dialog as "New entry..." appears.

I was looking for a way to directly insert a bibtex entry from the clipboard into JabRef and found the "New entry from plain text..." option but it seems to behave similar to the "New entry..." option.
In both c

[2017-01-27 17:20] tobiasdiez commented on #2494
But this behavior is indeed a bit confusing...
Proposal for improvement:
- Always create articles by default in both dialogs (or make the default customizable?)
- Provide facility to easily change entry type in entry editor (i.e. drop-down box)

-> Less clicks necessary to create a new entry and this overwhelming dialog with (gefühlt) 100 different entry types is no longer needed.

[2017-01-27 19:48] koppor commented on #2494
Entry type can already be changed. Click in the type...

Am 27.01.2017 18:20 schrieb "Tobias Diez" <notifications@github.com>:

[2017-01-27 20:14] duelle commented on #2494
Ok, I didn't expect that to be a different dialog..
I would have expected just an empty text field to paste the bibtex key into without that immediate step.
That's why I thought it would be the same dialog.

Is the selection of the type necessary?
Before I found that option I always just created a random type in the "New entry..." dialog and pasted the text from the clipboard in the BibTeX source

[2017-01-29 19:05] koppor commented on #2251
<kbd>F9</kbd> works perfectly here, so I change only <kbd>F8</kbd>

[2017-01-29 19:27] #2251 closed

[2017-01-29 23:48] bulmust opened #2497 "Inspire Fetch"
JabRef version 2.10b2 on Linux Mint 17.3

Hi,

INSPIRE fetch does not work properly. For example, It does not work for searching a bibtex name of articles like "Rowson:1985xh".

I think you should change " jabref/src/main/java/net/sf/jabref/gui/importer/fetcher/INSPIREFetcher.java " file a little bit.

At the line 64, It should be

 .append("/search?ln=en&ln=en&p=").append(identifier)

I think, th

[2017-01-30 05:27] koppor commented on #2497
I just see, that there is no test coverage for the INSPIRE. The current help page is http://help.jabref.org/en/INSPIRE

Would you mind pushing the edit button at https://github.com/JabRef/jabref/blob/master/src/main/java/net/sf/jabref/gui/importer/fetcher/INSPIREFetcher.java and propose the file change? That would be easier for us to follow up.

Example queries would also be helpful. We now have `

[2017-01-30 05:29] koppor commented on #2493
Minor comment for CTAN: Even worse, there is biblateX --> https://www.ctan.org/ctan-ann/id/mailman.307.1473360229.1426.ctan-ann@ctan.org

[2017-01-30 08:47] AEgit commented on #2458
@lenhard:
I just tried the new version 3.8.2. I can confirm that this works for the author column in the entry table. In the entry preview of the article, however, you still get "Mali\'{n}ski".

[2017-01-30 09:40] lenhard commented on #2458
@AEgit: Thanks for noticing! I think it would be best if you open a new issue for this. I guess it is a similar problem: We are not applying our LatexToUnicode conversion somewhere in the entry preview.

#2460 is something different. There, we do apply the conversion, but the conversion somehow does not work correctly.

[2017-01-30 09:47] AEgit opened #2498 ""\'{}" Escape Sequence Does Not Display Correctly in Entry Preview"
JabRef 3.8.2
windows 10 10.0 amd64
Java 1.8.0_121

Steps to reproduce:

1. Create a new entry with "Pie{\\'{n}}kowski, G." as author.
2. The author name is correctly displayed as Pieńkowski in the author column of the entry table. This was a fix for https://github.com/JabRef/jabref/issues/2458 introduced in JabRef 3.8.2
3. The author name, however, is NOT correctly displayed in the entry preview o

[2017-01-30 09:48] AEgit commented on #2458
@lenhard : Done, see here:
https://github.com/JabRef/jabref/issues/2498

[2017-01-30 11:05] lenhard commented on #2498
I pushed a fix and a working version is available at http://builds.jabref.org/fix-latex-free-entry-preview/

@AEgit can you give it a try and confirm if this works for you?

[2017-01-30 11:32] AEgit commented on #2498
Thank you very much! Yes, indeed it works now.

For now I'll continue using the old master 3.8.2, as the groups panel in the new version does not seem to be complete (e.g., I cannot expand all groups automatically and the groups are not highlighted when an associated article is selected) - I have to say, however, that the new JavaFX version of the groups panel looks nice ;)
I can confirm, however,

[2017-01-30 12:03] mlep opened #2500 "Entry preview: wrong display of apostrophe (treated as special character)"
JabRef version 3.8.2 and  JabRef-4.0.0-dev--snapshot--2017-01-29--masr--7191a7055.jar
on Linux LMDE Betsy

Steps to reproduce:

1. Create a new entry
2. As title of the article, type ````L'oscillation```` (for example)
3. In the table entry, the title is displayed as ````Lòscillation````
Note: the display is OK in the entry preview

![apostrophe](https://cloud.githubusercontent.com/assets/6931104/

[2017-01-30 12:15] lenhard commented on #2498
@AEgit Indeed, the groups panel is under construction now and will be completed for the next release.

However, it seem that we cannot use the version that you tested. The problem is the following: There are a lot of formatters that you can specify for the entry preview and doing a LaTeX to unicode conversion by default will break some of them. For instance, it conflicts with a LaTeX to HTML conve

[2017-01-30 12:15] #2498 closed

[2017-01-30 12:17] mlep opened #2501 "Cleanup window: no possibility to resize"
JabRef >= 3.7 (including  JabRef-4.0.0-dev--snapshot--2017-01-29--masr--7191a7055.jar)
on Linux LMDE Betsy

The cleanup window cannot be resized, which makes impossible to add a custom field formatter.
See picture.

![cleanup-noresize](https://cloud.githubusercontent.com/assets/6931104/22422727/3db90848-e6ee-11e6-8166-eb91cfdeab79.png)

[2017-01-30 12:23] lenhard commented on #2500
The reason for this is that we are doing a LaTeX to unicode conversion for the entry table. Unfortunately, the plain text `L'oscillation` can be interpreted as valid LaTeX. There is no clean way to solve this issue, as there is no way to know that this text is not meant as LaTeX.

The only thing I can think of is to offer a preference option to turn of LaTeX rendering for the main table.  So that

[2017-01-30 12:27] bulmust commented on #2497
I propose the file change. But I want to say that I have no experience with the java codes.

For example, following searches give results: (BibTeX keys: Rowson:1985xh, Penati:2009sw, Maldacena:1997re, Weinberg:1967tq)

1. http://inspirehep.net/search?ln=en&ln=en&p=Rowson:1985xh
2. http://inspirehep.net/search?ln=en&ln=en&p=Penati:2009sw
3. http://inspirehep.net/search?ln=en&ln=en&p=Maldacena:1997r

[2017-01-30 12:28] matthiasgeiger commented on #2500
Isn't the "correct" LaTeX command (without the usage of special packages) `{\'o}` ?

[2017-01-30 12:47] lenhard commented on #2500
@matthiasgeiger  Indeed! Stupid me, I should have tested this in a tex editor directly! In this case, it is just a bug in our converter, which is something that can be solved :-) Preferably with #2465

[2017-01-30 13:16] AEgit commented on #2498
@lenhard: Hmmm, I've modified the Entry Preview for JabRef 3.8.2 according to your example, but I still get the same problem:

\begin{author} \format[Authors(LastFirst,Initials,Semicolon,Amp),HTMLChars,LatexToUnicode]{\author}<BR>\end{author}

 "Pie{\\'{n}}kowski, G." is displayed as "Pieŉkowski, G."
I mean, I don't mind this issue that much, so if it is impossible/difficult to fix it, I guess eve

[2017-01-30 14:17] bernhard-kleine commented on #2451
With 3.8.2. on a fresh database I loaded PMID 27151464 via the Medline fetcher, started Cleanup and got the status: doing cleanup for on entry, but it never finished and the % sign in the abstract was not escaped.

[2017-01-30 14:22] lenhard commented on #2498
@AEgit Sorry, this was my fault again. When I checked, I had the second layout style selected... The `HTMLChars` and `LatexToUnicode` formatters conflict with each other. This should work, hopefully:

[code]

[2017-01-30 14:24] AEgit commented on #2498
This does work, indeed, thank you very much!

[2017-01-30 15:54] tobiasdiez commented on #2498
@lenhard should we update the default entry preview accordingly?

[2017-01-30 16:07] lenhard commented on #2498
@tobiasdiez Not sure (since I do not really use it) what people want more. The HTML conversion of the latex free version. Asked personally, I would do nothing, but maybe somebody else has a stronger opinion on the best preview configuration.

[2017-01-30 16:12] AEgit commented on #2498
I would prefer to see the default changed (but that is just my personal opinion). Maybe we should create a poll?

[2017-01-31 08:25] lenhard commented on #2498
@AEgit Good idea :-) Can I count on your help again? Could you create a poll at http://discourse.jabref.org/ that asks if people rather want a conversion to HTML characters or to Unicode in the preview panel?

[2017-01-31 08:39] AEgit commented on #2498
Done ;)

http://discourse.jabref.org/t/change-of-default-of-entry-preview/446

[2017-01-31 09:13] cbiertue opened #2502 "JabRef 3.8.2 update removes all inactive entries from dock on OSX"
JabRef version 3.8.2
Mac OSX 10.10.5 Yosemite

I have updated JabRef from 3.8.x (don't remember) to 3.8.2 and forgot to unclick make icon in dock (not sure if this triggered it). Then, all inactive icons in my dock were gone and only 5 icons of running programs were left. A restart of the dock or computer did not help. I had to manually put all icons back.

[2017-01-31 11:50] paulsputer commented on #2482
Can confirm this also occurs on v3.8.2

It appears to be a state issue as importing [this PDF file](http://dx.doi.org/10.1007/s11263-013-0644-x) caused a crash.  However, when importing into a fresh database it did not cause a crash.

Any hints on how to turn on file based logging on the release version would be much appreciated.

[2017-01-31 12:08] matthiasgeiger commented on #2482
Hi!
Can you please describe the concrete workflow of your "importing the pdf"? There are different ways to do this - and there might be even different understandings of what "import" actually means ;-)

Regarding the logging: We have not implemented a file based logging mechanism - but you can run the `jar`-Version of JabRef from the windows console which will show each log statement directly with

[2017-01-31 12:25] paulsputer commented on #2482
Hi @matthiasgeiger sure.

1. File explorer window open of directory containing PDF files
2. Select a single PDF file and drag and drop into JabRef list panel
3. Confirm dialog to relocate/rename PDF
4. File relocated and metadata displayed in JabRef

In the case of the error occurring the JabRef UI is unresponsive however there are no drawing errors.  The window can be relocated and it redraws cor

[2017-01-31 12:41] Siedlerchr commented on #2482
As I cant reproduce that here, do you make use of the XMP feature, e.g. creating metatadat from the pdf or do you solely attach the pdf?

[2017-01-31 13:04] paulsputer commented on #2482
That's correct, first one - I let JabRef pull out any XMP data, if the pdf doesn't contain any then I manually find the doi enter that and then use JabRef's "Get BibTex from DOI", and if no doi then I just copy paste bibtex from scholar.google.com when it doesn't halt I find this the quickest way to import and have the pdfs attached automatically (and renamed/relocated to a local directory).

The

[2017-01-31 14:22] mlep commented on #2500
Similar issue with some TeX special characters.
For example, ````Topo\_2d```` is displayed as ````Topo2d```` (no underscore)

[2017-01-31 15:28] paulsputer opened #2503 "UTF8 - Korean characters not displayed in list"
Using v3.8.2 under Windows 10.

Korean characters encoded using UTF8 are shown correctly in the read-only entry preview but are not displayed in the list nor the editable entry preview.

[2017-01-31 15:30] paulsputer commented on #2482
@matthiasgeiger is there a way to set the log level when calling via the command prompt?  I had the situation freeze occur but apart from the initial INFO level log no further details displayed.

[2017-01-31 15:33] Siedlerchr commented on #2503
Refs #2500

[2017-01-31 15:59] matthiasgeiger commented on #2482
`java -jar JabRef.jar --debug` should do the trick.

However, I fear that this is caused by a deadlock which will not be displaying any useful information on the console...

[2017-01-31 18:30] lenhard commented on #2500
The more issues we get in the display, the more I am convinced that we should use an external library for tex to unicode conversion.

[2017-01-31 20:07] AEgit commented on #2500
Similar issue with author name (with Preferences set to `LatexToUnicode` instead of `HTMLChars`):

O'Connor

is displayed

as

OĆonnor

[2017-01-31 20:09] ebiverson opened #2505 "Export changes "institution" to "school""
JabRef 3.8.1; linux 4.9.5-100.fc24.x86_64 amd64 ; Java 1.8.0_121; Fedora 24

"Export selected entries" as "HTML table" or "HTML Table with Abstract and BibTex" on items of type techreport replaces keyword "institution" with "school".  All other fields remain unchanged (number, year, title, author, etc.).  Many such institutions are NOT schools, and the tech report entry style is, in my understandi

[2017-01-31 21:34] Siedlerchr commented on #2505
Hello,
thanks for your report! Do you use biblatex or bibtex format and could you provide a sample entry which definitely is wrong? That would help us reproducing the problem

[2017-02-01 01:11] ebiverson commented on #2505
Sure.  I have verified the same behavior whether using the BibLaTeX mode or the BibTex mode.  I've got bib files saved in each mode, and HTML files created using the "Export as HTML with Abstract and BibTex" export setting. I've added all four in the attached zip file.
[demo.zip](https://github.com/JabRef/jabref/files/743619/demo.zip)

In each case, the brackets enforcing case were stripped out, a

[2017-02-01 04:51] tagMacher opened #2506 "Import RIS from Elsevier does not get journal name"
JabRef version 3.8.2 on Ubuntu 16.04

This problem is also observed for versions 3.7, 3.8, and 3.8.1.

Steps to reproduce:

1. Export RIS for any journal article from ScienceDirect.com. Save file on local hard-disk.
2. Drag-drop RIS file onto JabRef window. This opens up the import dialog, Click ok after ensuring 'keep' checkbox for the article entry is selected.
3. Check the created entry for jou

[2017-02-01 05:16] koppor commented on #2506
@tschechlovdev Could you have a look? - Refs https://github.com/JabRef/jabref/pull/2028
Maybe also @obraliar  - Refs https://github.com/JabRef/jabref/pull/817

[2017-02-01 07:22] lenhard commented on #2500
So, after some contemplation, I am almost certain that the issues described here are caused by this PR: #2464

There, I implemented special handling for `'n`, which really is a valid in LaTeX. Unfortunately this seems to have affected all other occurrences of `'` and other letters. @JabRef/developers We should probably revert #2464 and go for a new solution for #2458.

[2017-02-01 07:23] lenhard commented on #2503
@paulsputer: Could you please provide a few Korean characters or expressions that are you are having problems with? This would make testing so much easier.

[2017-02-01 07:52] paulsputer commented on #2503
here we go @lenhard you can use the following lines in some of the fields.  Main fields of interest would be author, title, school and bibtexkey.  It's the whole character set that is not showing correctly when in edit mode.  They are however saved in the bibtex file correctly although some other text viewers fail to show due to JabRef not using UTF8+BOM - I can't seem to find this option

김 수한무
거

[2017-02-01 08:01] matthiasgeiger commented on #2503
Mhmm... the problem is that these characters are not part of the standard font used by JabRef. If you switch for exampel to "Arial Unicode MS" (on a Windows System) the characters are properly displayed.

To change the font you need to open the `Options` -> `Preferences` -> `Appearance` dialog and hit the "Set Table font" button.

[2017-02-01 08:20] paulsputer commented on #2503
Ah perfect - I was looking for that kind of option but eyes somehow missed that.

Well this is interesting, I don't seem to have _Arial Unicode MS_ but _Dialog_ works perfectly.  Yet I don't have a font called _Dialog_ installed.  It only appears in JabRef quick search and found [it is a built-in font of Java ](https://docs.oracle.com/javase/tutorial/2d/text/fonts.html)

Perhaps this built-in font

[2017-02-01 08:29] matthiasgeiger commented on #2503
Interestingly "Dialog" is not showing the Korean characters at my Win10 machine :wink:

I'm not sure whether we really should touch the default configuration as - sorry - this is not an issue for most JabRef users. But I think an FAQ entry or a note in the help files that some special characters might require the change of the font should be added.

[2017-02-01 08:31] mlep commented on #2503
@paulsputer In the FAQ (https://help.jabref.org/en/FAQgeneral), we have an item about Chinese characters. Is it valid for Korean too? If so, could you improve the answer, please?

[2017-02-01 08:58] paulsputer commented on #2503
@matthiasgeiger how strange perhaps it has something to do with having the language specific IME installed too.  Java's logical fonts not being too logical 😆   I've tested with the CJK languages and all work though only have C & K IME's installed.  No worries, understand.

@mlep sure can do.  Is that via a pull request?

[2017-02-01 09:06] mlep commented on #2503
@paulsputer . Yes. Click on the top right-hand corner of the help page. It will display the github interface. You can then edit the file by clicking on the pencil icon.

[2017-02-01 10:37] daviian commented on #1284
How far have we come with a solution?

[2017-02-01 10:48] #2500 closed

[2017-02-01 16:29] Siedlerchr commented on #2505
Okay, I found out this is just the field and the name defined in the style layout file. Can be simply edited.

The simplest change would be for you to copy the .layout files to a custom folder, change school to institution (field an tag)  and then define a custom Export style with these.

The layout files are inside the jar (open with an archiver) unde`r \resource\layout\tableref ` (you need all t

[2017-02-01 20:51] Siedlerchr commented on #2385
@davydden  It's been some time, but I finally implemented a solution. The GUI code in the Entry Editor now uses the same functionality as the normal Cleanup does. This means, files are no longer overwritten.
You can test the development version here:
http://builds.jabref.org/moveFileDir/

I tested following cases:
A.pdf
B.pdf
=> Both get moved to fileDir (also respecting fileDir Pattern)
So with `

[2017-02-01 22:42] davydden commented on #2385
@Siedlerchr thank you very much, i will try to test it soon...

[2017-02-02 09:33] tschechlovdev commented on #2506
I can confirm this issue. I'll handle this.

[2017-02-02 09:47] Siedlerchr opened #2509 "Office 207 XML export Nunber + Pubstate"
TODO: Check export:
http://tex.stackexchange.com/questions/351303/exporting-references-to-ms-word-with-bibtex4word/351452#351452

[2017-02-02 16:03] mlep opened #2511 "File link: if wrong link (manual input), exception raised, and Browse and Open do not work anymore"
JabRef-4.0.0-dev--snapshot--2017-02-01--master--5793cea45.jar
Linux Mint LMDE Betsy
Oracle Java 8

Steps to reproduce:

1. Open an entry without a file link
2. In the entry editor, go to the tab General and click on ````+```` (field ````file````)
3. In the file browsing window, enter a name that does not exist in the proposed directory, such as ````dummy.pdf````
4. Click on ````Browse```` or ````O

[2017-02-02 16:07] Siedlerchr commented on #2511
I encountered a similar problem yesterday with the File Dialogs, but it only didn't work when I started it in Eclipse. That is probably a problem with the Swing dialogs on top of the javafx stuff.

A quick googling turned up this, seems like they had the same problem. Maybe this helps:
https://github.com/MovingBlocks/TerasologyLauncher/pull/249/files
@tobiasdiez

[2017-02-02 17:12] mlep opened #2513 "Localization files: anomalous string"
The files ````master/src/main/resources/l10n/JabRef_*.properties```` (````JabRef_en.properties```` excepted) end with the following line:

````Unhandled_exception_occurred.````

The  ````=```` sign is missing.

[2017-02-02 17:48] Siedlerchr commented on #2513
Hm, that is mysterious, because I remember fixing that yesterday or so. And in my local repo it is correct.
I will check that.
And btw thanks for your translation again!

[2017-02-02 18:59] tobiasdiez commented on #2506
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks!

[2017-02-02 18:59] #2506 closed

[2017-02-02 20:00] tobiasdiez commented on #2404
This bug should be indeed fixed with the new JavaFX version (http://builds.jabref.org/master/).
Thus I simply remove the "after-migration-to-javafx" tag and leave the issue closed. Please report back if the problem resurfaces.

[2017-02-02 20:05] paulsputer commented on #2503
Thanks opened PR JabRef/help.jabref.org/#156

[2017-02-02 21:10] paulsputer commented on #2482
Thanks @matthiasgeiger looks like it may be some bad timing / race condition on saving the database.  Managed to capture this flurry of messages:

[code]

[2017-02-02 21:29] matthiasgeiger commented on #2482
Thanks! We will try to check whether we can find the problem now!

[2017-02-02 21:37] matthiasgeiger commented on #2503
PR is merged. Thus, this can be closed. :wink:

[2017-02-02 21:37] #2503 closed

[2017-02-03 00:56] tagMacher commented on #2506
Works fine. Looking forward to release version of 4.0! Thanks.

[2017-02-03 10:40] #2509 closed

[2017-02-03 10:44] Siedlerchr commented on #2513
Fixed in master.

[2017-02-03 10:44] #2513 closed

[2017-02-03 10:54] Siedlerchr commented on #2511
Please try again with the latest master version, I can no longer reproduce this issue

[2017-02-03 11:31] mlep commented on #2511
Seems solved to me too!

[2017-02-03 11:37] #2511 closed

[2017-02-03 12:04] lenhard commented on #2465
I set up a working implementation using latex2unicode in the latex2unicode branch. Here is the diff: https://github.com/JabRef/jabref/compare/latex2unicode

I had some intial setup problems, but the author helped me to resolve that in  tomtung/latex2unicode#1

The library is really easy to use and would be great in terms of code complexity. It also fixes a few conversion problems we are having. Ho

[2017-02-03 13:14] tobiasdiez commented on #2465
Did you tried the benchmark without the normalizer and the replacement of tildes? Maybe these post-and preconversations are a problem.
But probably the preformance problems comes from the fact that latex2unicode really uses a grammar to parse the latex code. In this case, I would propose to merge both projects:
- reuse our parser
- but convert similar to latex2unicode, in particular use something

[2017-02-03 15:13] lenhard commented on #2465
I did not try the benchmark without normalizer and replacement of tildes. Could you maybe check out the branch and do a benchmark? Maybe this is just a weird configuration issue on my system (although I don't think so).

The single regular expression with the tildes will not make a difference. We have several of those in our current converter. The normalization cannot be avoided, otherwise the out

[2017-02-03 16:55] lenhard commented on #2465
@tomtung wants to do some optimization in latex2unicode, see: https://github.com/tomtung/latex2unicode/issues/1#issuecomment-277298040

We will try a new version of the library when it is available.

[2017-02-03 17:08] Siedlerchr commented on #2501
I tried to fix the layout stuff in #2415. I could not really test it, so I would ask you to test that version http://builds.jabref.org/moveFileDir/ as soon as the tests run through

[2017-02-03 17:14] Doc73 opened #2516 "'APOSTROPHE' (U+0027) not well displayed in the main table"
JabRef version 3.8.1 on Debian 8 Jessie AMD64

Steps to reproduce:
1. Insert this code in the bib file:
[code]

2. Give a look to the title field in the main table
3. You should see this:
![mengaldo](https://cloud.githubusercontent.com/assets/1306260/22600791/65cbb0dc-ea3c-11e6-977e-a3627562ce9a.png)

Many thanks,
Domenico

[2017-02-03 18:02] lenhard commented on #2404
@AEgit: We are currently trying to optimize our conversion from latex to unicode. We have a promising library for that which needs performance optimization, see: #2465 and https://github.com/tomtung/latex2unicode/issues/1

The author of the library wants to optimize and data for testing would be helpful. Would it be ok for you if I send him your gigantic bibfile, so that he can use it for benchmar

[2017-02-03 18:24] AEgit commented on #2404
@lenhard: That would fine for me. Just please tell him to not make public the database.
Thanks again for your great work!

[2017-02-03 19:36] AEgit commented on #2516
Might be a duplicate of this:

https://github.com/JabRef/jabref/issues/2498

But to be honest I can't replicate this behaviour on JabRef 3.8.2. Have you changed your entry preview preferences for the field "title" from `HTMLChars `to `LatexToUnicode `or viceversa (see also here: http://discourse.jabref.org/t/change-of-default-of-entry-preview/446)?

[2017-02-03 20:05] Doc73 commented on #2516
I modified my preferences accordingly, but the issue still persists. :-(

However, my issue is not in the preview, but in the main table, as in above screenshot.

[2017-02-03 20:09] Doc73 commented on #2516
Another screenshot:

![mengaldo](https://cloud.githubusercontent.com/assets/1306260/22606674/f632b590-ea54-11e6-992e-53f7a6b74226.png)

[2017-02-03 20:18] paulsputer commented on #2482
Right its occurred sufficient number of times for me to get the code up and running in debug mode.  It appears it is a deadlock as you feared so will add more details in #2489.

[2017-02-03 20:34] paulsputer commented on #2489
Just been debugging #2482 and found similar deadlock.  Screenshots attached for _AWT-EventQueue-0_
and _JabRef CachedThreadPool_

![awt-eventqueue-0](https://cloud.githubusercontent.com/assets/4686906/22607463/ead255f2-ea4f-11e6-94c2-dbd31480e9cc.png)

![cachedthreadpool](https://cloud.githubusercontent.com/assets/4686906/22607464/ead5679c-ea4f-11e6-9376-7e3303a0264e.png)

[2017-02-03 22:07] paulsputer commented on #2489
This appears to be caused by updates to the UI on multiple threads.  @ziggystar if you can look at what the other threads are doing that may be able to track it down.  See my screenshots above to identify the deadlock (waiting for / waited by), then work down the list until you get to a call that is the JabRef code, i.e. on with a line number.

[2017-02-03 22:54] AEgit commented on #2516
Ooohhh, sorry - my bad. Indeed, in the main table I get the same behaviour. Yes, this has nothing to do with the preview settings. I guess this might be solved, once the latex2unicode lib is implemented (see here: https://github.com/JabRef/jabref/issues/2465).
@lenhard: Any thoughts on this?

[2017-02-04 07:38] mlep commented on #2501
No resize for cleanup window using ````JabRef-4.0.0-dev--snapshot--2017-02-03--moveFileDir--07a1c4477.jar````.

[2017-02-04 12:20] Doc73 commented on #2516
Ah! It seems that the bug was already fixed. Please, see: #2500 and #2507.

If so, you could close this bug report.

[2017-02-04 12:36] AEgit commented on #2516
You could test the current master build to see whether the bug has actually been fixed for you:
https://builds.jabref.org/master/
(you might want to make a backup of your bibtex-database first, before trying the new build)

If the the new build does not contain the bug you can either keep the current master or go back to the old (bugged) version and wait for the release version.

You can then clos

[2017-02-04 12:45] Doc73 commented on #2516
Sorry, but I'm not able to launch the jar, probably due to migratio to JavaFX. Here is the terminal output:
[code]

[2017-02-04 12:53] Doc73 commented on #2516
Yes, it works!
I close this issue.

[2017-02-04 12:53] #2516 closed

[2017-02-04 13:04] AEgit commented on #2516
Good to hear!

[2017-02-04 16:57] Siedlerchr commented on #2366
See also  https://github.com/nlct/bib2gls

[2017-02-04 17:12] #2482 closed

[2017-02-04 17:41] Siedlerchr commented on #2497
I just tested all your examples. They all work fine in the current version of JabRef, 3.8.2 and the 4.0.0 development version.
Nonetheless, we are missing a test for the fetcher. I will add one

[2017-02-04 18:13] Siedlerchr commented on #2485
I found the solution for your problem. This is not a bug, but rather an unclear setting in the preferences.
Go to Preferences -> Advanced  and uncheck the Checkbox "use IEEE LaTeX Abbreviations". Than the second list is loaded and the journal names are displayed as in your example.

The LaTeX abbreviations are usually used in combination with http://tug.ctan.org/macros/latex/contrib/IEEEtran/bibte

[2017-02-04 18:17] Siedlerchr commented on #2494
@duelle  The easiest option to paste a bibtex entry from the clipboard is just by doing STRG+V in the maintable. Then the entry is directly created. I do this all the time. Very handy feature

[2017-02-04 18:32] Siedlerchr commented on #2451
I recently experienced the same with the ProtectTerms formatter.
When you run it first, it protects the terms correctly. If you run it again, the already protected terms are protected again, by adding more braces around them...

[2017-02-05 07:19] wgrundlingh opened #2518 "Apostrophe is interpreted as an accent"
JabRef version 3.8.2 on Windows.

![image](https://cloud.githubusercontent.com/assets/1776164/22624388/a83a2ff4-eb2f-11e6-8967-4cbe65da68a2.png)

`Chv\'atal's` should be interpreted as `Chvátal's`, not `Chvátalś`. It shows correctly in the "entry preview", but not in the database.

Here is an example bibliography entry:

[code]

[2017-02-05 09:22] Siedlerchr commented on #2518
Hello, this bug should be fixed in the latest development version.  Please try again with the version from here: http://builds.jabref.org/master/
Refs #2500 #2507

[2017-02-05 11:06] lenhard commented on #2518
Since this is the third report coming in for the exact same problem, I think we should leave it open and mark as fixed-in-dev-builds so that people see that this has been fixed.

[2017-02-05 12:21] Siedlerchr commented on #2451
@bernhard-kleine  I found the problem, it was a problematic RegEx and fixed it.
In a couple of minutes you can try the version here http://builds.jabref.org/multicleanup/

[2017-02-05 15:48] bernhard-kleine commented on #2451
I have installed the file but it has errors: Cleanup does not finish, "save as" not work, I cannot confirm that the problem has been dealt with. Sorry.
(the testing was done on a fresh database with importing  the entry PMID 27151464, with contains in the abstract a 50% to be cleaned.)

[2017-02-05 16:45] Siedlerchr commented on #2451
Ah I see the problem. Will fix that.

[2017-02-05 17:56] Siedlerchr commented on #2451
@bernhard-kleine  Should be fixed now. You can try again to download the version from there

[2017-02-05 18:01] wgrundlingh commented on #2518
Indeed, the dev version fixes this as far as I can see. Thanks!

[2017-02-05 22:07] bernhard-kleine commented on #2451
the cleanup worked thank you, but, still, no way to _save_ the bib-file in the entry, no _save as_

[2017-02-05 22:24] Siedlerchr commented on #2451
Could you please open a new issue for the saving problem and give some more
details?

Do you get any errors in the log?

Am 05.02.2017 11:07 nachm. schrieb "Bernhard Kleine" <
notifications@github.com>:

[2017-02-06 08:26] bernhard-kleine opened #2522 "Not possible to save a database"
JabRef_windows-x64_4_0_0-dev--snapshot--2017-02-05--multicleanup--ddecdfd3f
Windows 7
java 1.8.0_121

Steps to reproduce:

1. open a new database
2. input from medline PMID 27151464
3. run cleanup
4. try **save** or **save as**

this does not give any reaction; the program when run exit notices there is something to save but the file dialog does not open.

[code]
btw: where to find the log file?

[2017-02-06 09:31] matthiasgeiger commented on #2522
Unfortunately, I cannot reproduce this problem.

Can't you save the database at all? Or does this depend on the clean up? If so, can you provide a screenshot of your cleanup settings?

Since 4.0.0dev you can find it using `Help` -> `View event log`

[2017-02-06 10:22] Olifair commented on #2146
I agree with georged : the current solution is pretty workable (especially if one has two screens ;-), so including cls styles in the current citation layout for the reference list in Open/Liblreoffice would be really great. Basically it's the only thing that keeps me going with Mendeley in parallel :-(
I'm no help with programming, but I would be quite willing to test.
Cheers

Oliver

[2017-02-06 10:39] bernhard-kleine commented on #2522
`Opening: K:\BuchprojektSpringer\VierteAuflage\Literatur\EndokrinologieKunde.bib
Opening: K:\BuchprojektSpringer\VierteAuflage\Literatur\testisDevelopment.bib
Opening: K:\BuchprojektSpringer\VierteAuflage\Literatur\stra8AndMeiosis.bib
Opening: K:\BuchprojektSpringer\VierteAuflage\Literatur\ovarianDevelopment.bib
Opening: K:\BuchprojektSpringer\VierteAuflage\Literatur\leptin.bib
Opening: K:\Buchpro

[2017-02-06 11:03] Siedlerchr commented on #2522
This looks like the same problem in #2511

[2017-02-06 12:25] duelle commented on #2494
@Siedlerchr Interesting, thank you for the hint! Didn't know of that feature.

[2017-02-06 12:51] Siedlerchr commented on #2522
Just one question, did you use the installer or did you just used the jar file?

[2017-02-06 13:33] matthiasgeiger commented on #2522
Okay I found the reason:
JabRef stores the least recently used directory to be able to show it again on the next FileDialog. If this "working directory" no longer exists the error shown above occurs.

"Quick" solution would be to fallback to the default "working directory", i.e., the user home if the working dir is no longer existent. However, I'm not sure where to fix this as `FileDialog` is alre

[2017-02-06 13:38] matthiasgeiger commented on #2522
Ahh... @bernhard-kleine to get it back working before we have published a fix you have to reset your preferences either completely using the UI (`Help` -> `Preferences` -> `Reset preferences`) or if you are using the jar version using the command: `java -jar <JarFileName> -d workingDirectory`

[2017-02-06 13:46] Siedlerchr commented on #2522
You could also simply change/reset the value in the registry (at least on
windows).

2017-02-06 14:38 GMT+01:00 Matthias Geiger <notifications@github.com>:

[2017-02-06 15:13] bernhard-kleine commented on #2522
I can wait for a fix since I am working still with txs 3.8.2. I installed the snapshot in parallel.

[2017-02-06 19:16] Siedlerchr commented on #2471
We could also take this as a chance to implement the new API
Refs https://github.com/adsabs/adsabs-dev-api/issues/30

[2017-02-06 20:49] koppor opened #2523 "Replace SnapCI"
SnapCI will be shut down. PR tracking will stop in May 2017. See https://blog.snap-ci.com/blog/2017/02/06/2017-02-06-snap-announcement/.

SnapCI recommends GoCD, but this is self-hosted: https://www.gocd.io/download/

In parallel, we could try out CircleCI 2.0 - see: https://discuss.circleci.com/t/getting-started-configuration/8088/1 -- **Attention** This requires a complete new configuration

See

[2017-02-07 09:56] AEgit commented on #2191
I can't reproduce this behaviour when trying to import a bibtex file with a single or multiple entries into JabRef 3.8.2. Maybe this has already been fixed in current versions of JabRef?

@napseis: Have you tried a current version of JabRef? Does the problem still appear there?

[2017-02-07 10:03] bulmust commented on #2497
I use JabRef version 2.10b2 on Linux Mint 17.3. I will explain with picture.

**1)** Search bibtex key: Rowson:1985xh

![s1](https://cloud.githubusercontent.com/assets/19466488/22686122/f93c0a52-ed33-11e6-964c-6e7e1ef1ab2d.png)

**2)** It gives nothing

![s2](https://cloud.githubusercontent.com/assets/19466488/22686175/1f196328-ed34-11e6-997e-0f1cf965cbc6.png)

**Problem**: The fetcher can not fin

[2017-02-07 10:11] Siedlerchr commented on #2497
@bulmust  JabRef Version 2.10 is outdated and no longer supported. Please install the current actual version 3.8.2

[2017-02-07 10:11] #2497 closed

[2017-02-07 14:32] napseis commented on #2191
hi,
Thanks for looking into it. I upgraded to JabRef 3.8.2, problem persists. Plus, it introduced another bug for me, I'll open a ticket.

[2017-02-07 14:39] napseis opened #2526 "cleanup rename according to format moves the files since 3.8"
hi,
Since JabRef 3.8, I have a problem renaming files: they are move from their directories.

My folder structure is like this:
-> Base directory
   - mydatabase.bib
   ->papers
      -> A (folder)
         - list of pdf files...
      -> B(folder)
         - list of pdf files...
      etc....
    -> books(folder)

Description and steps:
1- Select entries, and then click on Cleanup.
2- Tick "renam

[2017-02-07 14:41] koppor commented on #2526
No. I also saw this, but I did not recall if it was always like this. Thank you for pointing out the version since this appears.

[2017-02-07 14:43] napseis commented on #2526
hi. Until 3.7 it was ok.
Versions 3.8.1 and 3.8.2 both has this bug

[2017-02-07 16:18] Siedlerchr commented on #2526
Yeah that is really weird. I will look if I can add a setting for not moving the files in my PR #2415

[2017-02-08 10:55] stefan-kolb commented on #2523
What is currently running on SnapCI? Why not just remove it and stay with Travis and Circle?

[2017-02-08 10:57] stefan-kolb commented on #2502
@chochreiner WDYT?

[2017-02-08 11:05] stefan-kolb commented on #2523
Ok I found the information isnide the Wiki. I'm still not too happy with the overhead. Lets discuss this @ JabCon

[2017-02-08 11:49] chochreiner commented on #2502
I cannot reproduce this on MacOS Sierra 10.12.3 (16D32) by upgrading from 3.8.1 or a development version.
There may be a slight chance, that the current install4j has some issues with Yosemite, but I am not aware of any major changes for the dock in the last two years.

Is the bug reproducible? - If yes, can you please have a look at the system logs, and check whether something unusual is happenin

[2017-02-08 16:04] stefan-kolb commented on #2494
Probably the `Entry from plain text dialog` should be able to recognize if it really is plain text or a ready to use BibTeX entry and insert it if possible?!

[2017-02-08 16:40] #2522 closed

[2017-02-08 16:58] stefan-kolb commented on #2453
Thank you for your report :+1:
This should be fixed in current `file-links`. Please try the latest build from http://builds.jabref.org/file-links.

[2017-02-08 17:00] stefan-kolb commented on #2444
Can this be closed?!

[2017-02-08 17:17] stefan-kolb commented on #2431
It is a problem of the Crossref API. For some reason it only lists the entry as second result, but we only check the best result inside the CrossRef fetcher:
https://search.crossref.org/?q=Traffic+flow+optimization%3A+A+reinforcement+learning+approach

[2017-02-08 17:51] stefan-kolb commented on #2431
Ok, I relaxed the Crossref fetcher a bit. It checks more results now, in case the Crossref API does some wierd things like in that case.
You can try a build from http://builds.jabref.org/crossref-fetcher.

[2017-02-08 20:13] #2453 closed

[2017-02-09 09:05] lenhard commented on #2465
So @tomtung did some optimization and I did a new performance benchmark, the results are as follows:
[code]

This is a huge boost from the previous version, although it is not up to the level that we have with our own conversion. Nevertheless, I would strongly suggest to go for it. I did not notice a significantly longer delay in opening JabRef, even when opening Aegits gigantic file.

What I see

[2017-02-09 09:23] Siedlerchr commented on #2465
I would vote for a go. The performance seems to be acceptable

Am 09.02.2017 10:05 vorm. schrieb "Jörg Lenhard" <notifications@github.com>:

[2017-02-09 09:26] #2431 closed

[2017-02-09 10:37] stefan-kolb commented on #1514
I'd vote for removing the autocompletion entirely for now...

[2017-02-09 10:39] stefan-kolb commented on #1504
What's the status here? This was never merged?!

[2017-02-09 11:00] stefan-kolb commented on #1424
Closing for now.

[2017-02-09 11:00] #1424 closed

[2017-02-09 13:30] koppor commented on #1514
I partially like it. Disabling is OK for me, but I'd like to keep it!

Am 09.02.2017 11:37 schrieb "Stefan Kolb" <notifications@github.com>:

[2017-02-09 17:02] Siedlerchr commented on #2526
@napseis  I now splitted the logic of the Cleanup actions a bit: Rename Files now only renames files  and move files cleanup now only moves the file.
If you want to rename + move to default file dir then just check both cleanup action
You can test the version here: http://builds.jabref.org/moveFileDir/

There is only still a problem with the `file directory pattern`, which I need to find a solutio

[2017-02-09 18:31] caugner commented on #2370
@tobiasdiez I can confirm that this is fixed. Thank you very much!

[2017-02-09 18:49] kingwarrick opened #2533 "Citation preview incrementally increases memory usage with each preview"
JabRef 3.8.2
windows 10 10.0 amd64
Java 1.8.0_121

RAM is used during preview, but not fully released. With more previews, less is released until run-away usage occurs. After ~4-5 previews (or ~500MB RAM, not sure which is more significant), no appreciable amount of RAM is released, with subsequent previews adding 100-500MB per preview to total RAM usage. Behaviour changes after ~1400MB RAM use, w

[2017-02-09 19:08] kingwarrick commented on #2533
Similar to this:
https://github.com/JabRef/jabref/issues/2247
but for preview rather than entry editing

[2017-02-09 22:45] jannuc commented on #2439
I actually have the same problem. It started couple months ago when I installed a newer Jabref version in a new computer I got. I couldn't figure out what was triggering it; thanks for finding out @kayron. Now unfortunately I guess I have to go through each of the 500+ references in my database to find which one(s) have such encoding

[2017-02-10 07:40] koppor commented on #2533
Yes, we cache the preview to gain speed when showing the second time.

@bartschdev What is our policy for cache clearance?

Am 09.02.2017 19:50 schrieb "kingwarrick" <notifications@github.com>:

[2017-02-10 09:05] lenhard commented on #2465
#2532 is merged, so this can be closed.

[2017-02-10 09:06] lenhard commented on #1252
We decided to go for a conversion with latex2unicode instead, which is integrated into JabRef with #2532. So, there is no more need for reusing biber and this issue can be closed.

[2017-02-10 09:06] #1252 closed

[2017-02-10 09:07] #2465 closed

[2017-02-10 09:09] lenhard commented on #2063
We integrated a new library for performing the conversion in #2532: latex2unicode. As far as I have tested in the UI, the problems described here are solved now, so I am closing this issue.

Feel free to reopen in case the problem reappears!

[2017-02-10 09:09] #2063 closed

[2017-02-10 09:10] lenhard commented on #207
With the replacement of our internal conversion logic with latex2unicode, the combining accents should work now. Hence, I am closing this issue.

Feel free to reopen if problems with combining accents reappear.

[2017-02-10 09:16] lenhard commented on #2460
We have now replaced our conversion code in #2532 with an external library: latex2unicode.

I have tested the sequence described above in the UI and it now renders as it should. Hence, I am closing this issue. Feel free to reopen it if the problem reappears.

[2017-02-10 09:17] lenhard commented on #2451
Since the original problem described here seems to be fixed (and the fix is confirmed), I will close this issue now.

For new problems in the UI, please open a new issue, thanks!

[2017-02-10 09:17] #2451 closed

[2017-02-10 09:24] lenhard commented on #1212
I just tested this again. At the very least, the file can be read now, just that one particular entry will be ignored.

That is a step up from not reading the file at all, I would say. Essentially, what is missing here is a warning on writing the database to disk or when entering the illegal characters.

[2017-02-10 10:13] mlep opened #2534 "Main window: author: compound names cut off even using {}"
Using JabRef-4.0.0-dev--snapshot--2017-02-10--master--2b886cb71.jar,
if the author is set as
````  author   = {Franck {Taboado Varia}},````
it is displayed in the main window as
````Varia````

I.e., the output is the same as for
````author={Franck Taboado Varia},````
It means the additional {} (used to group the compound last name) are not taken into account.

[2017-02-10 10:18] lenhard commented on #207
And revisiting this issue, I see that it does not only concern the LaTeX to unicode conversion, but also the HTML to unicode conversion and the unicode to LaTeX conversion, so I guess I have to reopen. Things missing:

- Double combining accents LaTeX -> HTML
- Double combining accents Unicode -> LaTeX
- Double combining accents Unicode -> HTML

[2017-02-10 10:25] Siedlerchr opened #2535 "Add JabRef Icon to FileChooser Dialog"
Currently it shows the java icon.

![jabrefopen](https://cloud.githubusercontent.com/assets/320228/22823374/95be21de-ef83-11e6-893e-93459f6e7fb0.png)
Fix idea in:
http://stackoverflow.com/questions/35271071/set-application-icon-for-filechooser-in-javafx

[2017-02-10 10:37] lenhard commented on #2460
And revisiting this issue, I just realized that this is not only about rendering (which works now, also in the preview), but also about the sorting.

Sorting is done by the glazedlists library, so this is really outside of JabRef at the moment. I guess it would be possible to reimplement the sorting functionality to place selected diacritics in between the "normal" letters of the alphabet, so in c

[2017-02-10 10:38] Siedlerchr commented on #2534
Can confirm this, however, it is only in the MainTable, the preview dialog shows it correctly.
Probably refs #2532

[2017-02-10 10:46] Siedlerchr commented on #2534
I just tested this with 3.8.2 and there the bug is, too.
In the entry preview I get: `Taboado Varia, F.`

[2017-02-10 10:51] lenhard commented on #2063
Is now also tested with 9eef09cb3cb47539db184bbc515259fe821d2c4

[2017-02-10 10:52] lenhard commented on #207
Double combining accents are tested now: 9eef09cb3cb47539db184bbc515259fe821d2c4

[2017-02-10 10:52] lenhard commented on #2460
The rendering is tested now: 9eef09cb3cb47539db184bbc515259fe821d2c4

[2017-02-10 12:39] lenhard commented on #2534
This is not related to #2532, but to the unicode conversion in the main table as whole. A fix is provided in  #2536 and a working version should be available at http://builds.jabref.org/maintable-authors/

@mlep Can you please try this out and check if it solves the issue for you?

[2017-02-10 14:13] mlep commented on #2534
It looks it is fixed. Thanks!

[2017-02-10 17:06] #2534 closed

[2017-02-10 17:27] Nnidyu commented on #2444
@stefan-kolb if this is a question for me, then yes, my original issue is resolved.

[2017-02-10 20:55] karyon commented on #2439
i actually binary searched them, commenting out half of the remaining comments each time.

[2017-02-11 18:44] mpatas commented on #1495
@tillschaefer

That is true. Yet there are use cases of a somewhat different kind where this solution seems to be rather awkward. For example:

- Biology
  - Biochemistry
- Chemistry
  - Biochemistry

In general, grouping of references by topic will result in something like that for any multidisciplinary topic. Of course, one can make "Biochemistry" a group that is not a subgroup of either group,

[2017-02-13 14:05] #2444 closed

[2017-02-14 07:53] Vaver opened #2539 "Call for function: export the pdfs of all the selected entrys to a new folder"
some times, i want share some of the literature pdfs to friends, it is very easy to select the wanted entrys from the Jabref, but hard to pick out the seleted pdfs.

I hope there is a function to export the pdfs of the selected entrys to a new folder.

thanks

[2017-02-14 08:09] Vaver opened #2540 "Menu Open folder does not work"
JabRef version 3.8.2 on  Windows 10

Steps to reproduce:

1. select a entry and right click, call "open folder" menu
2. it only open the explorer of the windows, not the folder of the pdf of the entry
![image](https://cloud.githubusercontent.com/assets/12092857/22920391/d2987c9a-f2cf-11e6-9826-532d306d065a.png)

3. the main fire directory setting in the options/preference
![image](https://cloud.gi

[2017-02-14 09:11] Siedlerchr commented on #2540
Hi, could you please test if the problem still exists in the latest development version? You can get it here:
http://builds.jabref.org/master/

There have been some fixes regarding file choosing/opening

[2017-02-14 14:46] matthiasgeiger opened #2542 "Provide Field formatter to escape DOI"
... as underscore might cause trouble when used in BibTeX.

[2017-02-14 15:08] Siedlerchr commented on #2542
At least in biblatex it is defined as verbatim field like url etc, so it does not produce any errors. So no need to escape any special chars.
Otherwise it could be handled by LaTeX Cleanup

[2017-02-14 17:19] bernhard-kleine opened #2543 "Group names gone"
JabRef version JabRef_windows-x64_4_0_0-dev--snapshot--2017-02-12--master--99d055efd

Steps to reproduce:

1. Have groups in Version 3.8
2. Install the snapshot
3. Group names gone

The log has no issue with this:

[code]
The other log entries are other files and repeating the date issue.
![grafik](https://cloud.githubusercontent.com/assets/9216487/22940420/15da9e0e-f2e2-11e6-90ca-490e8c4ecc7f.png

[2017-02-14 20:56] matthiasgeiger commented on #2542
Mhm... just tested it with a "Latex cleanup" action on the "doi" field: this does not work as the underscore is not escaped...

[2017-02-15 10:43] tobiasdiez commented on #1284
@Siedlerchr do you think you can implement something for the 4.0 release?

[2017-02-15 11:00] lenhard commented on #448
Since 3.8 (I think) we convert everything to unicode for the search, so I think this issue can be closed.

[2017-02-15 11:00] #448 closed

[2017-02-15 11:24] lenhard commented on #1504
I just tested this in the current development version and the string:
[code]
turns into
[code]
which is the desired result, as far as I can see. There is also a test case for exactly that in `NormalizeNamesFormatterTest`.

So this can be closed.

[2017-02-15 11:24] #1504 closed

[2017-02-15 11:29] stefan-kolb commented on #482
http://stackoverflow.com/questions/19199826/how-to-customize-the-icon-of-installer-exe-created-by-install4j

[2017-02-15 13:23] stefan-kolb commented on #2523
Changed and parallelized Travis CI instead.

[2017-02-15 13:23] #2523 closed

[2017-02-15 13:37] lenhard commented on #139
Now tracked in  #2545.

[2017-02-15 13:39] lenhard commented on #662
Tracked in #2545

The option to open a PDF at a specific comment is not part of this though, since this is quite hard to support for arbitrary combinations of operating systems and pdf readers.

[2017-02-15 14:23] simonharrer opened #2546 "Replace commons collections by Google guava"
We currently use both, Apache commons collections and Google guava. Google guava is seen as the replacement of commons collections.

At the moment, only a single class, namely, LRUMap is used from the commons collections package. This should be replaced with the corresponding Google guava Cache.

This is a good start for someone who wants to start helping JabRef! :)

[2017-02-15 16:46] lenhard commented on #662
The pull request is merged into the master branch now and the entry editor displays an additional tab with pdf annotations (if present).

Hence, I am closing this issue.

[2017-02-15 16:46] #662 closed

[2017-02-15 16:48] lenhard commented on #139
#2545 is merged now, so we can display pdf comments and highlighting.

Hence, I am merging this issue.

[2017-02-15 16:48] #139 closed

[2017-02-15 17:20] stefan-kolb commented on #2409
Thank you for your report :+1:
This should be fixed/improved in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2017-02-15 17:20] #2409 closed

[2017-02-15 17:29] stefan-kolb commented on #2540
@Vaver This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2017-02-15 17:53] stefan-kolb commented on #2470
@chochreiner Does this also happen for you? Should I add this to the installer by default?

[2017-02-15 17:59] stefan-kolb commented on #2470
@ololobus @chochreiner If it is a problem, it should be fixed by the latest build from http://builds.jabref.org/osx-gpu. Please confirm if possible 😄

[2017-02-15 18:21] ololobus commented on #2470
@stefan-kolb just tried your dev build, works well on integrated gpu :)
To be sure compared it with a clean installation of the latest release (3.8) from website and yes, current version requires discrete gpu

[2017-02-15 19:02] #2493 closed

[2017-02-15 19:04] #2470 closed

[2017-02-15 19:15] stefan-kolb commented on #2270
Thank you for your report :+1:
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2017-02-15 19:15] #2270 closed

[2017-02-15 19:58] stefan-kolb commented on #2439
Seems to be an ancient serialization problem.
It must be something like
[code]
See the double slash.

But probably easier and more safe to also change all `pdf` fields to `file` fields.
[code]

Or just delete the field and link it to the pdf again.

[2017-02-15 19:58] #2439 closed

[2017-02-15 20:55] lenhard commented on #2485
I'll interpret the missing updates here as the issue being solved. Therefore, I'll close it. Feel free to reopen if the solution explained by @Siedlerchr does not solve your problem.

[2017-02-15 20:55] #2485 closed

[2017-02-15 21:01] lenhard commented on #2494
As far as I understand, the problem has been solved by clarifying the intended functionality. Hence, I am closing

[2017-02-15 21:01] #2494 closed

[2017-02-15 21:03] lenhard commented on #2502
Due to a lack of reaction and since our OSX developer cannot reproduce the issue, I am closing it.

Feel free to reopen with more information (so that we can reproduce) if you run into the error again

[2017-02-15 21:03] #2502 closed

[2017-02-15 21:06] lenhard commented on #2505
Since @Siedlerchr outlined the solution to this problem and there was no more reaction since then, I guess this issue can be closed.

[2017-02-15 21:06] #2505 closed

[2017-02-15 21:23] koppor commented on #2494
Regarding the dialog, we added two new issues https://github.com/koppor/jabref/issues/225 and https://github.com/koppor/jabref/issues/226 to improve the UI.

[2017-02-15 21:23] koppor commented on #2494
Yes, the selection of the type is necessary as the plain text import cannot know which type it is and we wanted to have the entry be correct.

Maybe, we should use "misc" as type and let the user change it afterwards?

[2017-02-15 22:02] lenhard commented on #2542
With 40621b64d06b5e21d2b03b972fb4b92307168dc7 the formatter is now in place and fully integrated into the formatter framework (including tests).

It is important to note that using the formatter with the DOI field will disable other functionality (since the DOI is no longer correct, it is escaped). There is no clean way around this and one should either use the url package in LaTeX (to avoid the n

[2017-02-15 22:02] #2542 closed

[2017-02-15 22:34] #2095 closed

[2017-02-15 22:35] koppor commented on #2095
Current state: We changed the localization (#2550) and will change the code gradually.

[2017-02-15 22:44] #2379 closed

[2017-02-16 01:23] mew1033 opened #2552 "ACM Portal fetcher returns invalid Bibtex entries"
JabRef version 3.8.2 on Windows 10

Steps to reproduce:

Search for anything in ACM Portal search.
Select it
The next page is blank.

[2017-02-16 04:24] nhamilton1980 opened #2553 "Performance"
I have recently upgraded Jabref. I am not sure what my previous version was, but it was the version prior to the major revamp in the GUI appearance (different iconset etc...)

Anyway, now, there seems to be a major performance issue when opening pdf files, when a pdf file is associated with the entry.

Also, similarly a performance issue is present when I click 'get fulltext', where a search is co

[2017-02-16 08:13] matthiasgeiger commented on #2542
@ronsei you can use the escape underscore functionality now in the least recent Dev builds (Caution: is currently an alpha state)

[2017-02-16 08:42] koppor commented on #2553
Thank you for your report. We are certainly not focusing on modernizing the UI, but on fixing issues. See our CHANGELOG at https://github.com/JabRef/jabref/blob/master/CHANGELOG.md. The update of the icons happend from 2.x to 3.x.

It would be nice if you tried out some versions in the 3.x series.

Since you seem to have to knowledge in analyzing, could you perform a git bisect using the repositor

[2017-02-16 08:51] nhamilton1980 commented on #2553
OK, I'll try and pinpoint the version that causes the issue.

The version I am currently using is 3.8.1

[2017-02-16 08:59] matthiasgeiger commented on #2553
Just a short question: How do you open the linked PDF?

[2017-02-16 09:04] nhamilton1980 commented on #2553
Ah usually by clicking on the icon in the grid.

[2017-02-16 09:06] matthiasgeiger commented on #2553
Okay... this still opens the pdf instantaneously for me...

[2017-02-16 09:08] nhamilton1980 commented on #2553
The version I installed that is problematic, I installed from .dmg for mac. I am presently trying all the .jar files, and they seem to be fine so far, halfway through 3.x versions. So perhaps the issue is with the mac compiler or whatever you use to produce dmg files.

[2017-02-16 09:21] matthiasgeiger commented on #2553
Is the 3.8.2 jar file also fine?

[2017-02-16 09:23] nhamilton1980 commented on #2553
No it is not. Just tried. 3.8.2 and 3.8.1 show the problem. I am downloading and working back.

[2017-02-16 09:28] lenhard commented on #2553
We made changes to the executable for OSX yesterday as part of fixing  #2470. Could you please check if the current development version available at http://builds.jabref.org/master/ changes anything?

[2017-02-16 09:37] nhamilton1980 commented on #2553
Ok so I have downloaded and tried every version (.jar) from 3.X (and also late 2.X), and I have isolated and conclude the following:

Everything up to, and including 3.3, pdf open instantly.
Everything from 3.4 and beyond show the problem.

So I guess it doesn't take a rocket scientist to determine that some change between 3.3 and 3.4 is the culprit.

Do you still need me to check the latest OSX,

[2017-02-16 09:45] nhamilton1980 commented on #2553
3.3 installed from .dmg works fine too.

[2017-02-16 10:17] #111 closed

[2017-02-16 10:17] lenhard commented on #111
Great work @koppor!

[2017-02-16 10:42] stefan-kolb commented on #2553
We checked the diff between v3.3 and 3.4 and cannot see any changes that might impact this.
@chochreiner Can you reproduce this? If not, unfortunately we cannot really do anything about this for now.

[2017-02-16 11:44] stefan-kolb commented on #2552
Is a problem with wrong keys:
[code]

[2017-02-16 11:58] koppor commented on #2552
The syntax of the entry is wrong:

[code]

biblatex:

[code]

[2017-02-16 11:58] stefan-kolb commented on #2552
@mew1033 Can you post the information of your problematic data, so we can check? I guess it is invalid data coming from ACM as in my example.

[2017-02-16 12:14] stefan-kolb commented on #2552
@lenhard this should emit an exception?! But does not. Can you comment on the behavior of the parser.

[code]

[2017-02-16 13:09] tobiasdiez commented on #2552
I think this should indeed throw an exception since in this format `Lang` is the BibTeX-key and `Bellcore:1990:CRF:378956.378963` an invalid field-value pair.

[2017-02-16 13:56] lynyus commented on #2546
this can be closed now, fixed in #2554

[2017-02-16 14:00] #2546 closed

[2017-02-16 17:10] AEgit commented on #2553
It either has to do with the setup of nhamilton1980 or with the OSX build. I'm using a database that is an order of magnitude larger than that of nhamilton and get instant response on both Windows and Linux.

[2017-02-16 19:46] AEgit commented on #2539
I agree, that would a very nice feature to have. I guess, it is also already somewhat implemented in JabRef, as JabRef is already able to move files from one folder to another. Just copying (instead of moving) the files from one folder to another, user-specified folder would probably already do the trick, I guess.

[2017-02-16 20:18] matthiasgeiger opened #2559 "Use Scrollpane in JabRef Preferences Dialog"
PrefsDialog should use scrollbars if content is too big...

[2017-02-16 21:17] bernhard-kleine commented on #2012
Sorry, I did not see it earlier. the field is now #dec#, seems ok.

[2017-02-16 21:51] mew1033 commented on #2552
@stefan-kolb Here's an example of what I did (I used a different publication, but everything on the ACM website is the same).
First I searched for something. In this case I used DOI, but just searching by name has the same problem.
![2017-02-16 14_48_25-jabref](https://cloud.githubusercontent.com/assets/4435733/23042758/20ba6982-f457-11e6-8cae-f900949d35cc.png)

Then I selected an article.
![2017-

[2017-02-16 22:13] stefan-kolb commented on #2553
Hm, we didn't change anything in the OSX build. @nhamilton1980 Did you explicitely set an application in external file types for PDF?

[2017-02-16 22:20] nhamilton1980 commented on #2553
No I didn't. Right now, If I use the 3.3 version (Jar or .dmg build), everything works fine, very responsive. If I use the 3.4 version, there is a huge lag. I haven't changed any of the default settings or external applications, the file opens with Adobe Reader, which is the default application on my system for mimetype 'application/pdf'.

[2017-02-16 22:20] koppor commented on #1179
Implemented in https://github.com/JabRef/jabref/pull/2558

[2017-02-16 22:20] #1179 closed

[2017-02-16 22:27] stefan-kolb commented on #2552
The exact DOI you posted here works as expected for me.

[2017-02-16 22:28] nhamilton1980 commented on #2553
Guys I think you can close this. I have just tried 3.8.2 again, and it is now performing as expected. Very Weird.

[2017-02-16 22:37] stefan-kolb commented on #2553
👍

[2017-02-16 22:54] mew1033 commented on #2552
@stefan-kolb That's odd... Is there anything I can do to provide logs/feedback as to why it's not working for me?

[2017-02-17 08:49] AEgit opened #2561 "Parsing entry with unbalanced braces doesn't show error message"
JabRef 3.8.2
windows 10 10.0 amd64
Java 1.8.0_121

I think this is not actually a bug (although I'm not sure), but I just wanted to report it as a reference in case someone comes across this problem.

Steps to reproduce:
1. Add the following entry to your JabRef database:

[code]

2. Check the entry in the entry preview. It is correctly displayed as:

3. Now change the special character of the sec

[2017-02-17 10:09] nhamilton1980 commented on #2553
Sorry to continue with this. I noticed that when I came home, the lag in opening pdf files was present again.

Where I am staying, the internet has a very poor ping, sometimes being completely painful to use, particularly during wet weather.

Earlier today, when I suggested this issue should be closed, I was at the university which has a lightning fast connection.

This made me think that perhaps

[2017-02-17 10:13] AEgit commented on #2553
Have you tried using a different PDF viewer? That could at least help in deciphering whether it is directly related to the Adobe or not.

[2017-02-17 10:17] nhamilton1980 commented on #2553
Ah, good point. I just tried using preview, and there is no delay with internet off, and a few second delay when internet is on.

[2017-02-17 10:19] Siedlerchr commented on #2561
It would be interesting to see if this is handled by the new Latex2Unicode lib as well.

[2017-02-17 10:19] AEgit commented on #2553
Hmmm, ok, so if you get the same delay as with the Adobe Reader it is probably not related to Adobe. Then it is either the internals of JabRef causing the issue or something related to MacOS X itself.

[2017-02-17 10:21] nhamilton1980 commented on #2553
Well. If I try to open a pdf file directly from the filesystem (terminal or in Finder), there is no delay at all. How does Jabref instruct the file to be opened?

[2017-02-17 10:24] AEgit commented on #2553
I'm afraid, I do not belong to the JabRef development team, I'm just someone who uses JabRef quite extensively ^^. So I can't answer your question, but I guess current evidence puts it indeed as if JabRef is causing the issue. I suggest to reopen the issue.

[2017-02-17 10:29] nhamilton1980 commented on #2553
I don't have the permissions to re-open.

[2017-02-17 11:40] stefan-kolb commented on #2552
Check the logs, if there is any message.

[2017-02-17 11:42] stefan-kolb commented on #2552
@lenhard It is a little bit of a problem of the parser. As it swallows problems with entries and just tries to parse on.
`parseansaddEntry`
[code]

Maybe we don't need such robustness? I mean ok it detects all other entries but there is still an invalid entry. With the new logic of Tobias? the parser result and its warnings are kind of hidden and such entries are basically only ignored. WDYT?

[2017-02-17 11:49] stefan-kolb commented on #2561
Can you please try the most recent version from the master branch?

[2017-02-17 12:08] tobiasdiez commented on #2553
If I understand [our code correctly](https://github.com/JabRef/jabref/blob/ebbeb1d249edf7134abf92d24c2031ae54d19881/src/main/java/org/jabref/gui/desktop/os/OSX.java#L28), then it just invokes `/usr/bin/open <filepath>`.
Could you please try and run this command from the command line and see if the delay occurs there too. Thanks!

[2017-02-17 12:11] nhamilton1980 commented on #2553
It doesn't. I use that command ALL the time on a daily basis when looking at pdf files.

[2017-02-17 12:48] AEgit commented on #2561
Same behaviour with JabRef 4.0.0-dev--snapshot--2017-02-16--master--ebbeb1d24.
(I had to use the the jar version, as the exe threw some errors).

[2017-02-17 12:50] koppor commented on #2561
Could you post us the errors, please? ☺️

Am 17.02.2017 13:48 schrieb "AEgit" <notifications@github.com>:

[2017-02-17 14:22] AEgit commented on #2561
Yes, sorry - I was in a hurry and could not immediately upload it. Here the error messages.
![jabref-4-exe-error](https://cloud.githubusercontent.com/assets/12767489/23068683/8e6f6f8e-f51c-11e6-9140-4635e596e3ea.png)

[2017-02-17 14:39] Siedlerchr commented on #2561
The installer should be fixed in a couple of minutes. It was pointing to the old class name before rename

[2017-02-17 16:18] stefan-kolb commented on #2553
I could not identify any web calls inside the code. Also checked it inside a car with limited WIFI. 😞

[2017-02-17 16:23] tobiasdiez opened #2562 "Make it easier to remove obsolete localizations"
Currently the localization consistency test gives me a list of obsolete keys, e.g.

Then one has to go through the English language file and remove these by hand, and finally sync the changes to the other languages. Suggestion for improvement:
- The test returns a statement ala

- Then one just needs to copy and invoke the command (and the script takes care of the rest)....tada!

[2017-02-17 16:36] stefan-kolb commented on #2562
Not sure if this is a good idea to make it even easier. Currently there is a risk of false positives (I had this one earlier some month ago) So the String should be manually checked before removal. See #1985

[2017-02-17 19:34] AEgit commented on #2561
Ok, the new exe works (JabRef 4.0.0-dev--snapshot--2017-02-17--master--62514b64b).

The behaviour, however, is still the same (as described above). But, as mentioned, I guess this behaviour is intended (?).

BTW: There are a couple of things, that don't seem to work in the current development version+there's a performance slowdown (which, however, might be just related to the things that don't wor

[2017-02-17 19:46] stefan-kolb commented on #2561
@AEgit Report everything that doesn't work.

[2017-02-17 19:47] AEgit commented on #2561
Ok, I'll do that ;)
Thanks again for your great work. It's probably better if I open new tickets for the problems I'm encountering with the new development version.

[2017-02-17 19:52] tobiasdiez commented on #2561
I think it is a problem with the parser. If I follow the steps above, after restarting JabRef I end up with `Redding, David W. and Mooers, Arne {\{O}#.#` in the author field and a damaged code in the biblatex source panel.

The problem, however, is kind of expected since `\{` signifies an escaped brace and thus there are only one real opening but two closing brackets in `{\{O}}`. I would expect th

[2017-02-17 20:37] tobiasdiez commented on #1372
Isn't it enough if the currently selected group is highlighted?

[2017-02-17 20:55] boxconnect opened #2565 "Cannot import from Medline"
JabRef version 3.3 (via homebrew)

I wanted to import an article from Medline via their ID (ie 11456302)
The error `Leerstellen erforderlich zwischen publicId und systemId.` (spaces required between publicid and systemid) keeps coming up. Java 8.

[code]

[2017-02-17 21:09] boxconnect commented on #2565
Updated to 3.8.2 and it works flawlessly.

[2017-02-17 21:09] #2565 closed

[2017-02-17 23:46] nhamilton1980 commented on #2553
FML. Ok. Sorry for wasting everyones time...

[2017-02-18 11:18] Siedlerchr opened #2566 "FXDialogService does not work inside Swing"
Inside a Swing Action:
[code]

When I copy the method `runInJavaFXThread` from the FileDialog class and wrap the showing inside the
`runInJavaFXThread(() ->      service.showConfirmationDialogAndWait("test", "test2"))); `
it works

results in

[code]

[2017-02-18 11:27] tobiasdiez commented on #2566
This is expected behavior. Every JavaFX component that you invoke from Swing has to be run on the JavaFX thread.

[2017-02-18 11:35] Siedlerchr commented on #2566
Yeah. I know that, but I thought the FXDialogService already takes care of that, because it is stated in the javadoc comment:
 * This class provides methods to create default JavaFX dialogs which will also work on top of Swing

Well, it would be nice then to let the DialogService automatically take care of this like in the FileDialog.

[2017-02-18 19:07] lenhard commented on #2561
So what I take from this and #2552 is that we should throw errors more explicitly into the faces of users, right?

I guess this can be done, although I have to look at how exactly. And I won't make a promise regarding a timeline for a fix.

[2017-02-18 19:12] lenhard commented on #2552
I'm rather indifferent regarding which way we adopt here. I guess we can also just throw a `ParserException` and crash the whole run instead. There are good reasons for both options.

We could even implement two different modes for parsing: a strict mode (that crashes if there are warnings) and a non-strict mode (that tries to read anything it can)

[2017-02-18 21:19] Siedlerchr commented on #2552
I would rather prefer a non-strict but robust mode with error logging.
Regarding usability, a simple wrong input should not break the whole system/input process.  And the working result should be reached with minimal effort although it contains errors..  (ISO-Norm 9241, Part 10)

[2017-02-19 11:13] stefan-kolb commented on #2553
Sorry for not being able to track this down.

[2017-02-19 11:19] #2540 closed

[2017-02-19 11:34] stefan-kolb commented on #2423
Thank you for your report :+1:
This should be fixed in current `master`. Please try the latest build from http://builds.jabref.org/master.

[2017-02-19 11:34] #2423 closed

[2017-02-19 13:07] ph2545 opened #2570 "ArXiV fetcher returns wrong entries when DOI is not in catalog"
Every time I am using the quality -> lookup full text documents I get a pdf which is completely irrelevant
Any suggestions ?

I am using jabref 3.8.2 , java-runtime 8, antergos os , gnome 3.22.2

[2017-02-19 13:39] stefan-kolb commented on #2570
Can you give us a concrete example please? Everytime makes no sense. This should only happen in rare occasions.

[2017-02-19 21:21] mew1033 commented on #2552
Aaaaand, today it's working. Weird.

[2017-02-20 07:36] clccc opened #2571 "Automatic Bug Report-20170220153505"
JabRef 4.0.0-dev--snapshot--2017-02-18--master--e36a99e92
Windows 7 6.1 amd64
Java 1.8.0_102

<details>
<summary>Detail information:</summary>

[code]

</details>

[2017-02-20 08:51] ph2545 commented on #2570
Of course, here are a couple of examples:

1) Wess and Zumino, Superspace formulation of Supergravity, Phys.Lett. 1977 ---->

  T. Altherr, E. Petitgirard, T. del Rı́o Gaztelurrutia, Photon Propagation in Dense Media,
  arXiv:hep-ph/9212264

2) Stelle, K.S. and West, Peter C., Minimal Auxiliary Fields for Supergravity, Phys.Lett. 1978  ------>

Gregory W. Anderson and Tomáš Blažek, E 6 unification

[2017-02-20 10:31] stefan-kolb opened #2572 "Cannot change file folder of download fulltext file"
![image](https://cloud.githubusercontent.com/assets/2141507/23121265/0c23f7e8-f760-11e6-855c-2e51361e7bf5.png)

Not possible to select different folder.

[2017-02-20 10:33] koppor opened #2573 "Integrate github plugins for automatic bug report"
Issues made with JabRef directly result in very short issues (see #2571). Is it possible to show the issue template (https://github.com/JabRef/jabref/blob/master/.github/ISSUE_TEMPLATE.md) in the JabRef UI to force the user to fill that out?

[2017-02-20 10:34] koppor commented on #2571
There seems to be an issue with your bib file.

What steps did you do to get this exception? Can you check your bib file? How large is it?

[2017-02-20 10:44] stefan-kolb opened #2574 "Science Direct fetcher is broken"
http://www.sciencedirect.com/science/article/pii/0370269377900156?via%3Dihub
Only new design? Some articles?
This one still works:
http://www.sciencedirect.com/science/article/pii/S1674775515001079

[code]

We use the Elsevier API for getting the Sciencedirect web page link and then scrape the web page for the deep link.

[2017-02-20 11:02] stefan-kolb commented on #2570
Thanks for reporting this. It is a problem of the Arxiv API. It just returns an entry for a correct DOI that is incorrect. Apparently the `doi:*` query string does not work as expected. Will look into that!

[2017-02-20 11:42] Siedlerchr commented on #2572
Do you get an error when clicking opening like "no valid folder"?
Maybe similar to #2527

[2017-02-20 12:02] stefan-kolb commented on #2572
No, I just cannot select a folder but only a file.

[2017-02-20 12:05] stefan-kolb commented on #2570
http://export.arxiv.org/api/query?search_query=all:10.1016/0370-2693(77)90015-6
https://arxiv.org/help/api/user-manual#search_query_and_id_list

[2017-02-20 12:28] lenhard commented on #2573
Told you it is a bad idea to make bug reporting so very easy :-P

I expect that we will get spammed by useless reports now...

[2017-02-20 12:37] stefan-kolb commented on #2570
@JabRef/developers We need to ask if they can fix this behavior in the arXiV API or we need to remove the fetching by DOI from the ArXiV fetcher!

[2017-02-20 14:25] stefan-kolb commented on #2553
@JabRef/developers Anyone has an idea here? Otherwise we need to close this if we don't find any new information.

[2017-02-20 14:27] stefan-kolb commented on #2571
See  #2561?

[2017-02-20 14:55] lenhard commented on #2553
I vote for closing.

Although I have tackled a few performance-related issues before, I simply cannot do this for OSX. We need a core contributor who uses this operating system, otherwise there is hardly a chance.

[2017-02-20 15:07] chochreiner commented on #2553
I've tried to reproduce this problem, but I could not reproduce the problem with different network speeds.

[2017-02-20 15:08] #2553 closed

[2017-02-20 15:20] stefan-kolb commented on #2572
Actually, also the add file link and edit file link behave nearly the same and have wrong titles but should be dependent on the use case:
- add: select a file (not title=save file)
- fulltext download (change directory only and append file name)
- edit entry: select a file (not save file)

[2017-02-20 16:19] Siedlerchr commented on #2570
This seems like a bug from Arxiv and has already been reported:
  https://groups.google.com/forum/#!msg/arxiv-api/ew7nadnvAxw/uOwSok-ACQAJ;context-place=forum/arxiv-api

[2017-02-20 20:17] programagor opened #2577 "PDF importation freezes when filename contains a curly bracket"
When I try to import PDFs via the Quality -> Find unlinked files, the process freezes when a PDF containing a curly bracket ( "{" or "}" ) in its filename is encountered.

JabRef version 4.0.0-dev (snapshot 2017-02-18) on Win 10 (1607)

Steps to reproduce:

1. Open Quality -> Find unlinked files
2. Select a folder containing at least one PDF with a curly bracket in its name
3. Scan directory
4. Ma

[2017-02-21 09:35] lenhard commented on #2577
Probably related to #2439. It seems like our pdf-handling code has problems with curly braces.

[2017-02-21 17:55] #2574 closed

[2017-02-21 18:02] #2570 closed

[2017-02-21 18:33] lenhard commented on #2561
Related #1212

Ok, I just had a look at this. I think we cannot really fix this. The problem is that this entry:
[code]
is read into the valid entry (based on bracing):
[code]
Everything outside is just comments according to the semantics of BibTex and is ignored until the next entry is found. If we modify this behavior during parsing, we are not following the semantics of BibTex. Hence, reporting

[2017-02-21 19:09] Siedlerchr commented on #2561
When I recall it correctly there is already an integrity check triggered when you a) entered wrong braces, e..g the braces mismatch and you try to leave the field in the entry editor b) on save

[2017-02-21 19:20] vsht commented on #2453
Danke, this change really improves my workflow.

[2017-02-21 21:29] Ede123 commented on #2485
Hi, sorry for the delay but I wanted to actually check on the affected machine first (which is my work PC and I didn't get to it).

@Siedlerchr gave the correct hint. The checkbox was enabled and disabling fixed the issue.

I guess I must have switched it on while desperately trying to make it unabbreviate "IEEE J. Quantum Electron."  and "IEEE J. Sel. Top. Quantum Electron.". Obviously both could

[2017-02-22 00:55] stefan-kolb commented on #2571
@clccc Can you please add more information?

[2017-02-22 08:59] frdrk-jhnssn opened #2580 "Editing keywords clears priority, ranking, quality and relevance"
JabRef version 3.8.2 on Windows 10

Editing keywords clears the fields priority, ranking, quality and relevance

Steps to reproduce:

__Write values of special fields as separate fields to BiBTeX__ enabled!
1. Add a value to any of the fields: priority, ranking, quality and relevance
2. Edit the keyword field
3. Save or change focus from the keywords field in the entry editor

The fields priority,

[2017-02-22 09:07] lenhard commented on #2580
Please have a look at your preferences: Options->Preferences->Entry table columns.

Do you have "synchronize with keywords" enabled by any chance? In this case, the fields you describe above are synchronized with your keywords. Thus, if you enter something else in the keywords field and no information regarding these fields is present, they are cleared.

[2017-02-22 09:52] frdrk-jhnssn commented on #2580
No, I have "Write values of special fields as separate fields to BiBTeX" enabled. (And I can see these special fields in the .bib file, and they are removed when editing keywords)

[2017-02-22 10:04] lenhard commented on #2580
Ok, thanks. I can confirm this. It seems that the keyword synchronization kicks in for the special fields even though it should not.

[2017-02-22 10:29] stefan-kolb commented on #2535
Is this only for the FX Dialogs or also the old FileDialog?

[2017-02-22 10:31] stefan-kolb commented on #561
@koppor How should we add this? It is a Ruby Gem. I would suggest to close this for now.

[2017-02-22 10:34] stefan-kolb commented on #245
I implemented most of the suggestions. The idea that a file should not be deleted when it is linked anywhere is omitted right now. We cannot check if it is in use in another bib file and I think the case were it is linked to other entries in the same file is rather seldom.

[2017-02-22 10:34] #245 closed

[2017-02-22 10:40] stefan-kolb opened #2581 "Wishes for new fetchers"
Issue to collect wishes for new fetcher implementations. We should also add a prioritization here.

Fulltext:
- [x] https://oadoi.org/: Implemented with #3581
- [x] American Physical Society (APS) #818

Entry-based:
- [x] Worldcat.org #1065

ID-based:
- [x] Ottobib #2238

Search-based:
- [x] Crossref.org #2455: Implemented with #2645

[2017-02-22 10:41] stefan-kolb commented on #818
Wishes for fulltext fetcher will be collected at #2581.

[2017-02-22 10:41] #818 closed

[2017-02-22 10:42] stefan-kolb commented on #977
Can this really be fixed or should it be fixed? Otherwise please let us close this for now and defer to JavaFX.

[2017-02-22 10:44] stefan-kolb commented on #2238
Wishes for fetchers will be collected at #2581.

[2017-02-22 10:44] #2238 closed

[2017-02-22 10:46] matthiasgeiger commented on #2535
Have not checken the code but setting JabRefFrame as parent should be enough to solve this.

[2017-02-22 10:46] stefan-kolb commented on #1065
Wishes for fetchers will be collected at #2581.

[2017-02-22 10:51] stefan-kolb commented on #2455
Wishes for fulltext fetcher will be collected at #2581.

[2017-02-22 10:51] #2455 closed

[2017-02-22 11:09] lenhard commented on #977
Agreed. It does not seem that we are attempting to work on this any time soon. I'll close it and add the on-hold label to make @koppor happy.

Let us hope that JavaFX brings some improvement here out-of-the-box.

[2017-02-22 11:09] #977 closed

[2017-02-22 16:13] stefan-kolb commented on #2580
Thank you for your report :+1:
This should be fixed in current `sync-special-fields`. Please try the latest build from http://builds.jabref.org/sync-special-fields.

[2017-02-22 17:24] #2580 closed

[2017-02-23 02:12] clccc commented on #2571
Yes, I had modify my .bib file manually.  The size of  bib file is 715KB.  There are similar errors happened when I marking manly entities with specific color with version JabRef 4.0.0-dev--snapshot--2017-02-18--master--e36a99e92 or JabRef 3.8.2 in Win7 and Ununtu 14.04.
But the older version of jabref 2.10b2  which installed by apt-get install in ubuntu 14.04 works well. so I have to use 2.10b2 n

[2017-02-23 02:22] clccc commented on #2573
But it is a true errors . Maybe the automatic bug report is too simple.

[2017-02-23 11:54] stefan-kolb commented on #2571
@clccc Can you send us the Bib file or give a minimal example here on how to reproduce the issue?

[2017-02-24 01:00] clccc commented on #2571
OK, I will send one copy to you.

At 2017-02-23 19:54:13, "Stefan Kolb" <notifications@github.com> wrote:

@clccc Can you send us the Bib file or give a minimal example here on how to reproduce the issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-24 11:50] tobiasdiez commented on #2543
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks for reporting the issue!

[2017-02-24 11:50] #2543 closed

[2017-02-24 11:53] tobiasdiez commented on #1550
The edit mode is now completely removed.

[2017-02-24 12:19] bernhard-kleine commented on #2543
Am 24.02.2017 um 12:50 schrieb Tobias Diez:

What is still missing that you cannot drag any further an bib entry into
a group!

--
spitzhalde9
D-79853 lenzkirch
bernhard.kleine@gmx.net
www.b-kleine.com, www.urseetal.net
-
thunderbird mit enigmail
GPG schlüssel: D5257409
fingerprint:
08 B7 F8 70 22 7A FC C1 15 49 CA A6 C7 6F A0 2E D5 25 74 09

[2017-02-24 23:45] traversc opened #2589 "Camel key doesn't seem to be working"
Hi, I can't get the camel key in the key pattern to work for some reason.  I'm using the latest release:

Here is my key pattern:
[auth][year][camel]

Here is my bibtex file:

[2017-02-25 09:32] bernhard-kleine opened #2590 "Adding an entry to a group by dragging no longer possible"
JabRef version JabRef 4.0.0-dev--snapshot--2017-02-24--master--83219486e
Windows 7 6.1 amd64
Java 1.8.0_121

Steps to reproduce:

1. Open any library
2. Select an entry
3. Try to drag the entry to a group

This is not possible: If you use the mouse in the last stable version, once you drag the entry to a group, the STOP icon changes to a window with an error indicator, when you arrived over any gr

[2017-02-25 10:30] bernhard-kleine commented on #2577
Not confirmed! I am working with 3.8.2 and snapshots JabRef 4.0.0-dev--snapshot--2017-02-24--master--83219486e
and others before I didnot have issues with braces.

[2017-02-27 14:10] stefan-kolb commented on #2571
@clccc I didn't receive anything, but can you please try http://builds.jabref.org/fixExcept/ if it fixes your problem?

[2017-02-27 20:52] Siedlerchr commented on #2577
I could reproduce the bug:
[code]

[2017-02-27 21:31] Siedlerchr commented on #2577
@programagor The issue is not related to the filename, but happens when you select a pdf and don't create an entry from it (just select nothing), then it throws an exception which breaks JabRef

[2017-02-28 13:11] #2577 closed

[2017-02-28 16:54] lenhard commented on #2589
Hi @traversc

What exactly is the error? Looking at the description here http://help.jabref.org/en/BibtexKeyPatterns I would say that the key `Trapnell2009` is exactly what I would expect from the key pattern `[auth][year][camel]`.

Do you expect more author names? Then you should use `[authors][year][camel]`.

[2017-02-28 16:57] lenhard commented on #1372
You should probably mention @simonharrer to get a reaction.

[2017-02-28 16:59] lenhard commented on #2533
The mention did not work, so here again @bartsch-dev What is our policy on cache clearance?

[2017-02-28 17:26] bartsch-dev commented on #2533
The cached citation gets deleted when a field of the BibEntry changes or the BibEntry itself is removed (or the selected citation style changes). https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/logic/citationstyle/CitationStyleCache.java#L59

It gets generated again the next time it's selected by the user and the preview is active.

[2017-02-28 17:47] Siedlerchr opened #2594 "Java 9/JDK9 compatibility - blocks: Java 11/JDK11 compatibility"
JabRef does not run on Java9

This issue collects all java 9 related problems. Starting point: http://discourse.jabref.org/t/cannot-start-jabref-3-7-3-6-using-java-9-on-ubuntu-16-04/361/8

## Not supported JREs

This presents some JRE outputs to support issue finding during search.

Keywords: Java9, Java 9, JRE9, JRE 9

[code]

## Development hints
- Check for dependenices: https://wiki.openjdk.ja

[2017-02-28 19:32] traversc commented on #2589
Apologies if I misunderstood the documentation.

It says:

So following that pattern when I use just [camel], shouldn't it output: TophatDiscoveringSpliceJunctionsWithRnaseq?  However, I just get a blank.

Thanks

[2017-02-28 20:44] tobiasdiez commented on #2561
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks!

[2017-02-28 20:59] TRvanRossum opened #2595 "Gradle does not work according to documentation."
Using Windows 7 and Windows 10. Running `gradlew clean check generateSource` in the main folder of a cloned project results in the following error:

* What went wrong:
Error resolving plugin [id: 'com.gradle.build-scan', version: '1.3']

Reproduction steps:

1. Run cmd.
2. Go to main folder of your JabRef clone.
3. execute `gradlew clean check generateSource`.

[2017-02-28 21:25] Siedlerchr commented on #2595
Works fine for me on Windows 10, the Error 503 is probably coming from the global AWS outage today
http://bgr.com/2017/02/28/internet-outage-amazon-web-services/

[2017-02-28 21:29] Siedlerchr commented on #2589
@traversc You have to use` [title][camel]` to generate the key
`TopHat:discoveringsplicejunctionswithRNA-Seq`

[2017-02-28 21:58] Siedlerchr commented on #2589
I took a look at the code and interestingly there is no check for the [camel] option.  I will provide a fix

[2017-02-28 23:49] Dellu commented on #1450
I am having this issue in the Mac right now: on the latter builds.

I was using it fine last week. Suddenly, double clicking the entry in the table doesn't open the editor. It might have sth to do with the java.

[2017-02-28 23:56] Dellu commented on #1450
Restarting the computer; nor using the menu or the shortcut are helping. This is strange.

[2017-03-01 00:15] Dellu commented on #1450
Resetting the Preference fixed it.

[2017-03-01 08:36] AEgit commented on #2561
Hmmm, I've tried the new version JabRef 4.0.0-dev--snapshot--2017-02-28--master--bf12dff24.

When trying to save the database with the proposed changes to the author name, the following error message is displayed:

`Error: Braces don't match.`

and the respective field is displayed in red.

This allows the user to correct the field and solves the problem.

Another issue arises, however, which is p

[2017-03-01 12:24] lenhard commented on #2561
You are correct, `Incorporating evolutionary {Measures into Conservation Prioritization}` should not give a warning and I am surprised that it does. This needs to be covered in automatic tests and should be fixed.

[2017-03-01 12:41] psychelzh opened #2596 "The JabRef goes mad after clicking `Enable saving actions` in database properties."
Version information:
[code]

Steps to reproduce:

1. Open `database properties` dialog, and Click `Enable saving actions`.
2. Using `Tasks Manager` in Windows 10, you will see JabRef costing a high quota of CPU, esp. higher than 30% for my laptop.
3. The directory contains the `BibTex` file will continuously generate new *.sav.log file and delete it again and again.
4. When open the error console,

[2017-03-01 13:29] TRvanRossum commented on #2595
Thanks for the answer. I tried it again today, and it downloads a lot of the necessary JARs, but I still get this error:

* What went wrong:
Execution failed for task ':compileJava'.

Any idea how I could fix this?

[2017-03-01 13:40] TRvanRossum commented on #2595
Also I tried to fix it by setting my JAVA_HOME variable to the main folder of JDK 1.8_121, and I get this:

* What went wrong:
Execution failed for task ':compileJava'.

[2017-03-01 13:55] Siedlerchr commented on #2595
I alwayss execute ./gradlew eclipse and ./gradlew eclipse from the git bash

[2017-03-01 14:03] Siedlerchr commented on #2595
Another thing it could be that your local repo is out of sync, you could try the --refresh option: https://docs.gradle.org/current/userguide/dependency_management.html#sec:cache_command_line_options

[2017-03-01 14:28] TRvanRossum commented on #2595
Tried `./gradlew clean check generateSource` and `./gradlew clean check generateSource --refresh-dependencies` from the Git bash, both don't work. Current error message is:

* What went wrong:
Execution failed for task ':test'.

The report can be found here:
[Test results - Test Summary.pdf](https://github.com/JabRef/jabref/files/810979/Test.results.-.Test.Summary.pdf)

Also, `gradlew eclipse` doe

[2017-03-01 14:41] matthiasgeiger commented on #2595
Could you try to check whether `./gradlew run` starts a JabRef instance?

Failing tests may occur locally, especially the fetcher tests are not as stable as they are supposed to be...

Regarding the Eclipse problem, there seems to be a misconfiguration affecting the resources needed for the execution. @Siedlerchr Can you assist here?

[2017-03-01 14:41] Siedlerchr commented on #2595
Okay that looks good. Ignore the failing tests. Sometimes they won't really work on Windows when executed from gradle. Directly as junit test in Eclipse they work.
You don't need to run a clean. When you run a clean, all generated sources will be deleted.

In Eclipse you have to refresh the workspace, right click on the project -> Refresh workspace. Then you should be able to start JabRef.

[2017-03-01 16:39] lenhard commented on #2561
@AEgit Could you have a check with a version from here http://builds.jabref.org/braces-checking-followup/

This should hopefully fix the errors you reported above. Let me know if it works for you and if you notice any new errors with regards to braces checking :-)

[2017-03-01 16:46] TRvanRossum commented on #2595
Starting JabRef in Eclipse works now. Thanks!

[2017-03-01 17:16] Siedlerchr commented on #2595
Glad to hear that it works now 🥇 . If you encounter further problems just let us know.  I would close this issue then for the moment.

When you fetch and merge updates from the master branch just execute the ./gradlew eclipse afterwards in case of new versions of libs (for example citation styles lib is updated often). Refresh the project in Eclipse and you are up to date.

We should definitely up

[2017-03-01 17:16] #2595 closed

[2017-03-01 17:43] Siedlerchr commented on #2594
Apple/OSX compatibility:

http://openjdk.java.net/jeps/272

[2017-03-01 17:56] AEgit commented on #2561
JabRef 4.0.0-dev--snapshot--2017-03-01--braces-checking-followup--488825af5

I've tried the new build and, as far as I can tell, it does indeed fix the reported issue. Something I noticed, however, is that saving the (huge) database takes now much longer than before (with 3.8.2. it was saved nearly instantaneously), especially when the entry preview is open. Indeed, the usage of the CPU suddenly s

[2017-03-01 19:14] lenhard commented on #2561
@AEgit I have noticed the performance degradation in relation to groups as well and remarked it in group-related PRs, e.g. #2588 #2587 I use your bib file to test such things and that is a great help :-) I guess we will have to look into group performance and this will most likely defer the release of v4.0 by some time.

Since this issue is about the braces checking, I'll close it now. We will fol

[2017-03-01 19:17] AEgit commented on #2561
@lenhard : Glad to hear that my database is somewhat useful :D
Indeed, as the problem itself has been addressed, this issue can be closed. Thank you very much again for your help!

[2017-03-01 22:37] tobiasdiez commented on #2561
By the way, the degraded performance of the groups is kind of expected at the moment since the old code still runs in parallel to the new one...
@AEgit can you please open a new issue for the groups related things. Some old features are still missing but I wasn't aware of some of the problems you mentioned. Thanks!

[2017-03-01 22:37] #2561 closed

[2017-03-02 08:40] AEgit opened #2599 "A few issues with the new groups panel in version 4"
JabRef 4.0.0-dev--snapshot--2017-03-01--braces-checking-followup--488825af5

This ticket is supposed to mention a few problems with the implementation of the groups panel in the current development version 4 of JabRef.

I realized that saving a huge database (>10,000 entries) takes now much longer than with version 3.8.2 (database was saved nearly instantaneously), especially when the entry previe

[2017-03-02 08:41] AEgit commented on #2561
@tobiasdiez : Done, see https://github.com/JabRef/jabref/issues/2599! Thank you very much for your help!

[2017-03-02 10:51] ph0boss opened #2600 "Database corruption due to incorrect adding and deleting subgroups in a group if their number exceeds 15"
JabRef version  on  3.8.2

Steps to reproduce:

1. Create an empty database
2. Create a group (no need to add anything to it)
3. Add 16 subgroups to this group. The first 15 subgroups are added without a problem. After adding the 16 subgroup you will notice a visual bug - an empty space above the 16 subgroup.
4. Remove the 16th subgroup.
5. The database is broken and jabref will not start, trying

[2017-03-02 10:53] lenhard commented on #2596
I cannot reproduce this. When I enable save actions on my bib file, there is no performance increase or weird creation of save files.

I assume your problem is the following: You have a large bib file with many things to fix. When you first enable save actions, every action taken triggers a change event, which results in the sav file being created. Since there are many entries and many things to f

[2017-03-02 11:26] psychelzh commented on #2596
My `BibTex` file is 249KB large, including 199 entries. And I use `BibLaTex` mode.

Here is my enabled save actions.
[code]

Strange enough, I checked my bib file, and I found there is not a single line really changed except those lines about `jabref-meta`. And the system keeps generating new *.sav.log file and deleting it.

[2017-03-02 11:43] Siedlerchr commented on #2600
Hi, yes I can reproduce your problem. I will try to look into that

[2017-03-02 12:07] lenhard commented on #2596
Ok, thanks! With this information I can reproduce the behavior!

The problem is the following save action
`all-text-fields[latex_to_unicode,ordinals_to_superscript]`

In this configuration you are telling JabRef: "Convert all LaTeX stuff to Unicode (latex_to_unicode) and convert all ordinals to LaTeX superscript (ordinals_to_superscript)." This contradicts with each other since JabRef is trying to

[2017-03-02 13:48] psychelzh commented on #2596
Thank you so much for your explanation in such details. I removed `ordinals_to_superscript`, and it suddenly becomes clear.

Howerver, what I want to mention here is that these save actions are actually the recommended ones of `JabRef`. I just click the label `Recommended for BibLaTeX`, and these very save actions come out there. It must be so weired that there could be some issues to fix for the

[2017-03-02 13:49] psychelzh commented on #2596
Thank you so much for your explanation in such details. I removed `ordinals_to_superscript`, and it suddenly becomes clear.

Howerver, what I want to mention here is that these save actions are actually the recommended ones of `JabRef`. I just click the label `Recommended for BibLaTeX`, and these very save actions come out there. It must be so weired that there could be some issues to fix for the

[2017-03-02 14:33] lenhard commented on #2596
Thanks for pointing this out, this needs to be changed! I guess that the combination worked at the time when it was defined. We are constantly improving the formatters, for instance the latex to unicode formatter was heavily extended recently. Due to such changes, the configuration might have been broken.

[2017-03-02 19:10] eeenilsson opened #2602 "User specific file directory not working for moving linked pdf files"
JabRef version 3.8.2 on  ArchLinux 4.9.8-1.

Jabref fails moving linked pdf from folder "A" to folder "B" through _clean > move linked files_.

Steps to reproduce:

1. Create item with linked pdf file in folder "A" (i use jabfox which stores the pdf in a zotero subdirectory). Check that clicking to open linked pdf works.
2. Set "Main directory" in _Options > preferences_ to folder "B" (this is sam

[2017-03-02 20:48] Siedlerchr commented on #2602
Hi,
thanks for your report! Could you please try the latest development version here https://builds.jabref.org/moveFileDir/

[2017-03-03 10:12] RolfStarre opened #2604 "BibTeX Key Pattern results don't match with expectations"
Hi!

I encounterd some unexpected behaviour in the creation of keys, I'm using JabRef 3.8.2 on windows 10 10.0 amd64 Java 1.8.0_121.

Steps to reproduce:

1. In Preferences -> BibTeX key generator set the Default pattern field to [title][shorttitle]
2. Generate the key, for example for the document in the screenshot

Based on the documentation on http://help.jabref.org/en/BibtexKeyPatterns I was e

[2017-03-03 10:50] anassal opened #2605 "URL/DOI field opens a blank page in the browser (Chrome)"
On JabRef 3.8.2, Ubuntu 16.04, Java 1.8.0_111
DOI: 10.1109/SOSE.2014.26

[2017-03-03 10:51] lenhard commented on #2604
Related to #2589

Since this is the second report regarding key patterns in a short time, maybe there are some general issues with key patterns at the moment.

[2017-03-03 10:56] lenhard commented on #2605
Sorry, but based on this description we cannot reproduce or fix anything.

At the very least, we need to know the content of your doi field that does not work as desired.

[2017-03-03 11:13] RolfStarre commented on #2604
Hey, thanks for the response :)

I was working on it but I noticed afterwards that @Siedlerchr was already working on it as well in this [pull request](https://github.com/JabRef/jabref/pull/2597), so I wasn't sure if I should continue.

Fixing the [shorttitle] option shouldn't be too hard, but I was unable to find where the [title] option is handled in the function makeLabel in the class BibtexKey

[2017-03-03 11:16] anassal commented on #2605
You are right, sorry!

Well, on Ubuntu it seems to work fine on Firefox but not on Chrome (56.0.2924.87) whatever the URL/DOI. So could it be a bug in Chrome?

[2017-03-03 11:25] Siedlerchr commented on #2604
@RolfStarre  Thanks for your interest, as I had not yet the time to investigate why the Google Guava solution does not really work as expected, you could take a look at it. Or we could use your solution, I saw that you already added a test for it... Feel free to propose your PR here.
We are always looking contributors...;)

Regarding the [title] option, it is handled implicity in the else-part whe

[2017-03-03 11:37] RolfStarre commented on #2604
Cool thanks, I'll continue working on it then :)

I'm going to try to fix the shortTitle and title cases as well then before I create the pull request.
I'll try to see what the Google Guava does and if I can use it.

[2017-03-03 12:18] lenhard commented on #2605
Thanks, this makes it more clear. I only have Windows and there the open functionality works with firefox and chrome. Hence, I'll categorize this as linux. Someone with a ubuntu system will have to look into it.

[2017-03-03 14:55] Codeberg-AsGithubAlternative-buhtz opened #2606 "Remove from group ignores the current selected group-tree-entry"
I am using JabRef 3.8.1 on Debian unstable.

I have an entrie with two or more groups.
The group-tree is shown and one of the two groups is selected.
Entries not belonging to the selected group are not shown ("hide non-hits") in the table view.

Clicking in the context-menu (please keep the word **context** in mind!)  of the entrie on "Remove from group" activates a new window with a group-tree. I

[2017-03-03 14:58] buhtz commented on #2419
An easie solution would be to make the dialog itself resizable.

[2017-03-03 15:11] buhtz opened #2607 "RIS import ignores L2 ("Full-text link") field"
Using JabRef 3.8.1 on Debian unstable.

I exported entries from Zotero as RIS format including the external files (e.g. snapshots). Zotero create a RIS-file and a `file`-directory for the external files.

e.g.
[code]

When importing that into JabRef it looks like that the `L2` field is totaly ignored.
JabRef should be aware of that field and move that file to the setup "General file directory".

T

[2017-03-03 15:25] lenhard commented on #2385
We think this is fixed in current master, hence I am closing it.

Feel free to reopen if the problem reappears.

[2017-03-03 15:25] #2385 closed

[2017-03-03 15:26] lenhard commented on #2454
We think this is fixed in current master, hence I am closing the issue.

Feel free to reopen if the problem reappears.

[2017-03-03 15:26] #2454 closed

[2017-03-03 15:26] lenhard commented on #2526
We think this is fixed in current master, hence I am closing the issue.

Feel free to reopen if the problem reappears.

[2017-03-03 15:26] #2526 closed

[2017-03-03 15:45] Siedlerchr opened #2608 "Follow up for Move Files PR"
JabRef version  on

Steps to reproduce:

1. ...
2. ...
3. ...

[code]

[2017-03-03 15:46] #2608 closed

[2017-03-03 15:46] #2350 closed

[2017-03-03 15:47] Siedlerchr commented on #2350
Not much performance gain to be expected, as already streams are used

[2017-03-03 15:54] lenhard commented on #2602
We think this is fixed in current master, hence I am closing.

Feel free to reopen if the problem reappears.

[2017-03-03 15:54] #2602 closed

[2017-03-03 18:59] buhtz opened #2609 "RisImporter.java doesn't import RIS"
I was looking into the code of
 jabref/src/main/java/org/jabref/logic/importer/fileformat/RisImporter.java

The head comment (line 22-27) points to the documentation of a "Biblioscape Tag File".
The link there is dead. The new one is [](http://biblioscape.com/download/Biblioscape.pdf) (page 180).
The file format described there is **not RIS** (from the company [Research Information Systems](https:

[2017-03-03 19:00] buhtz commented on #2607
When looking into the code of `RisImproter.java` it looks like that JabRef even doesn't support the real RIS. See #2609.

[2017-03-03 19:13] matthiasgeiger commented on #2607
Bibtex/biblatex export works fine for me...
All linked files/snapshots are accessible from within JabRef.

[2017-03-03 19:16] Siedlerchr commented on #2609
Thanks for the investigation!
Maybe  @koppor  has an idea what kind of RIS format this in JabRef is

[2017-03-03 20:29] #1104 closed

[2017-03-03 20:45] tobiasdiez commented on #1104
This should be fixed in the latest development version. However, as the expanded status is currently not kept the fix is not visible 😸. I close this issue nonetheless.

[2017-03-03 20:46] tobiasdiez commented on #1904
This is implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks!

[2017-03-03 20:46] #1904 closed

[2017-03-03 20:50] tobiasdiez commented on #1407
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks!

[2017-03-03 20:50] #1407 closed

[2017-03-03 20:51] juanerasmoe commented on #1104
Thanks

[2017-03-03 21:00] AEgit commented on #1904
The search feature does appear in the groups panel. The performance, however, is currently to low for my large database to assess whether it works or not: When I insert one character, JabRef uses 100% of the CPU power and the RAM consumption is also growing to 6 GB (after which I killed the process, so maybe even more), but nothing is found is within a couple of minutes. I guess this related to th

[2017-03-03 21:51] Siedlerchr commented on #2600
I fixed the import/opening, but your database has to be fixed as well: You are apparently using the old? groups format without the slashes.
So I took your group code and manually converted it to new structure:
The hierarchy is the same.

[code]

[2017-03-03 21:53] Siedlerchr commented on #2600
You can try this out in a couple of minutes with the dev version from here:
https://builds.jabref.org/subGroups/

As we are currently switching to a new groups interface, the fully functionality it not yet implemented.

[2017-03-03 22:07] ph0boss commented on #2600
Thanks for your help! The database published here was just for example. My actual database was too big to be sent here and it is using slashes. I solved the problem by simply deleting the subgroup that was causing the problem and added it in GUI as a subgroup in another group.
As for the dev version, it didn't start. Console output:

Error: Could not find or load main class org.jabref.JabRefMain

[2017-03-03 22:20] Siedlerchr commented on #2600
Okay, glad that it worked out now for you!.
As the dev version is using the new GUI technology JavaFX, you may need to install `openjfx` which provides the additional gui libraries.
Alternative you could (we recommend it) install the oracle java 8 jdk/jre.

[2017-03-04 00:10] tobiasdiez commented on #2599
In particular the performance of the filter is horrible: https://github.com/JabRef/jabref/issues/1904#issuecomment-284068831

[2017-03-04 00:12] tobiasdiez commented on #1904
Thanks for the feedback! I can reproduce the really bad performance for you db. I will try to improve the performance after everything works. Lets keep this issue closed and #2599 tracks the performance issue.

[2017-03-04 00:25] AEgit commented on #1904
Thank you very much for your help!

[2017-03-04 05:33] ph0boss commented on #2600
That worked well as far as I tried. At least adding and removing the 16th entry went smoothly. Thanks for fixing!

[2017-03-04 11:33] L0rdKelvin opened #2613 "Cannot call TexStudio from JabRef"
JabRef version 3.8.2on

I've set the right path /Applications/texstudio.app in the preference, but when I click on the icon in menu bar I receive the message: Could not call executable '/Applications/texstudio.app'

 Thanks for the support.

[2017-03-04 21:38] Siedlerchr commented on #1284
Some more code on native messaing (c#)
https://github.com/ballamuth/Chrome4Net/tree/master/examples

[2017-03-05 20:38] #2596 closed

[2017-03-05 20:45] koppor opened #2615 "Ctrl+a selects first entry if entry editor is opened"
JabRef version as of today on Win 10.

Steps to reproduce:

1. Double click third entry
2. Click on third entry to focus it on the main table
3. Press <kbd>Ctrl</kbd> + <kbd>A</kbd>
4. Expected behavior: All entries are selected.

![ctrl-a](https://cloud.githubusercontent.com/assets/1366654/23591197/15690b1c-01ed-11e7-8453-067ccf7f38a1.gif)

[2017-03-05 22:18] koppor opened #12685 "Search should support non-unicode search"
I have a paper of a person having `Képes` as surname. If I search for `Kepes`, nothing is found. Searching for `Képes` hits something.

What about characters I cannot easily type on my keyboard? I would have expected that JabRef magically also hits umlauts if I key in the basic character.

[2017-03-06 07:45] lenhard commented on #2615
Related: #2322

Wasn't this the expected behavior? But anyway, it would be perfectly fine by me to ditch emacs-specific behavior and just do a select all.

Btw.: An interesting color scheme you have there :-)

[2017-03-06 08:40] Siedlerchr commented on #2615
Isn't that depending on the key settings you have enabled?
I personally prefer that option to select all entries and not the current
text

2017-03-06 8:45 GMT+01:00 Jörg Lenhard <notifications@github.com>:

[2017-03-06 09:37] chochreiner commented on #2613
I can reproduce the error, though I cannot fix it atm, because i do no manage to import Jabref to Intellij...

Long story short: this is a permission issue because Texstudio is not signed; but you can open applications with the *open* statement.

A solution approach would be to introduce a MacOS specific statement which executes the program with open + applicationbinary on the commanline:

[2017-03-06 09:47] lenhard opened #2617 "Improve Architecture Tests"
I just noticed that our architecture tests currently do not cover static imports and, therefore, are missing at least one dependency that we want to forbid.

The class `org.jabref.logic.pdf.PdfAnnotationImporter` currently includes this statement `import static org.jabref.gui.importer.actions.OpenDatabaseAction.LOGGER`. Apart from being totally unnecessary (there would be no problem in using an ow

[2017-03-06 10:20] simonharrer commented on #2617
Idea: there may be checkstyle rules that can be configured to cover our architecture tests.

[2017-03-06 10:35] stefan-kolb commented on #2613
@chochreiner Did you just import the gradle file in Intellij? Should work out of the box. Do not try to create an Intellij project at first. Also feel free to contact me on Skype!

[2017-03-06 11:30] stefan-kolb commented on #2613
@chochreiner Take a look at `OSX.java` there are methods that use `open -a`

[2017-03-06 12:03] chochreiner commented on #2613
@stefan-kolb the problem was an outdated java version

I've had a closer look at the problem and found out that the official recommended command *open -a  /Applications/texstudio.app/Contents/MacOS/texstudio --args --insert-cite xx* to open programs on the commandline does not work for some reason for texstudio - though it works for other applications; therefore the open approach does not really h

[2017-03-06 12:38] L0rdKelvin commented on #2613
2017-03-06 13:03 GMT+01:00 Christoph Hochreiner <notifications@github.com>:

Dear Staff,
you are wonderfully efficient, and I confirm that the new path works
perfectly.
Probably could be useful to set as default this path for Mac version of
JabRef.

Thank you so much!

Daniele

[2017-03-06 12:53] lynyus commented on #2617
Oh, that was me. Fixed this instance in #2618. Unfortunately, I don't have time to investigate 2.

However, I am happy to have raised attention to this problem by committing this mistake.

[2017-03-06 12:55] matthiasgeiger commented on #2501
This has been fixed with #2614 - and is now included in the dev builds.

[2017-03-06 12:55] #2501 closed

[2017-03-06 13:49] matthiasgeiger opened #2619 "Uncaught Exception in GroupsTreeViewModel"
JabRef 4.0.0-dev--snapshot--2017-03-06--master--dd29a189e
Windows 10 10.0 amd64
Java 1.8.0_121

I don't have a clue what happend - just found this exception in the log as I was investigating another problem... :wink:

[code]

[2017-03-06 13:54] matthiasgeiger opened #2620 "Opening a file with an unspecified encoding silently fails if default encoding does not match"
Latest master on Win10

Steps to reproduce:

1. Export citation from http://link.springer.com/chapter/10.1007/978-3-540-27755-2_1
(Will create a UTF-8 encoded file with this content:
[code]
)
2. Open the file in JabRef - which is configured to use `UTF-16BE` as default encoding.
3. Library is just empty - no log output regarding any problems.

The problem is not caused by the escaped `{\"o}` - but

[2017-03-06 14:00] matthiasgeiger commented on #2620
... interestingly creating a new entry by simply pasting the exact entry posted above works flawlessly. 🙄

[2017-03-06 14:06] lenhard commented on #2620
Could this be an encoding problem? When I copy this text in a file and try to open this file in JabRef, during debugging every char the parser comes across is a chinese symbol. This is also the reason why it can't create an entry from it.

[2017-03-06 14:30] matthiasgeiger commented on #2620
Yes. It's an encoding problem... I don't have a glue why, but my JabRef was configured to use "UTF-16BE" as default encoding - the encoding of the Springer export is UTF-8 - and thus the opening fails.

Switching the default encoding to UTF-8 (or Windows-1251) the file can be opened...

So this is no bug, but it would be cool if a warning could be displayed (or at least logged). Isn't there anothe

[2017-03-06 14:39] lenhard commented on #2620
No other issue, JabRef is just desperately looking for an `@` that it can parse and since it doesn't find a single one, it just ignores the whole file. An idea would be a warning if the result of a parsing run is empty. Similar aspects are discussed in #2552

As a side note:

made my day :D

[2017-03-06 15:27] stefan-kolb commented on #2566
@Siedlerchr @tobiasdiez Is this really an issue or more a clarification thread?

[2017-03-06 15:32] matthiasgeiger commented on #2589
Hi!
Thanks to @RolfStarre the problem should be fixed in the recent development builds.
You can check out fixed versions at: https://builds.jabref.org/master

[2017-03-06 15:32] #2589 closed

[2017-03-06 15:49] Siedlerchr commented on #2566
As this class/methods are useful to be used inside/on top of/instead of normal swing dialogs , I think we should add a way to run all methods in the javafx thread as done with the FileDialog class already:
There is a helper method. But I had problems getting it to work in this class as I tried it.

[2017-03-06 15:51] eeenilsson opened #2622 "Cleanup > rename pdfs sometimes creates too long file names for windows"
JabRef version 3.8.2 on Windows 7

Steps to reproduce:
1. On windows, import a reference + PDF with a really long name.
2. Cleanup entry > check rename PDF

I filename is long enough this creates a PDF (path to file > 260 characters) that cannot be handled appropriately by the Windows OS.

Perhaps truncate or give a warning when new filename is > 100 characters long?

[2017-03-06 15:51] Siedlerchr commented on #2620
@matthiasgeiger  The UTF-16 is the default of Java, so maybe some test or whatever changed the setting in your JabRef instance

[2017-03-06 16:14] Siedlerchr commented on #2619
I can now more or less reproduce this behaviour:
Open 2 databases both contain groups. Switch from one db to another.

[code]

[2017-03-06 16:15] Siedlerchr commented on #2622
Could you please test the current dev version? It should trow an error if the renaming can not be done.
https://builds.jabref.org/master/

[2017-03-06 19:41] chochreiner commented on #2613
I've just found the solution to rely on the normal application paths.
The dev build on: http://builds.jabref.org/fix2613/ already fixes the problem.

[2017-03-07 07:39] #2613 closed

[2017-03-07 11:30] tobiasdiez commented on #2566
I don't see where the problem is in using code like `Platform.invoke ( new FXDialogService().show.... )`. This should work. I don't want to modify the FXDialogService class to always use `Platform.invoke` internally. What we could do is to create a SwingDialogService class that acts as a proxy to FXDialogService. But I'm not sure if this is worth the effort.

By the way "also work on top of Swing"

[2017-03-07 14:48] koppor commented on #2615
Ctrl+A should always select all text and not the first entry in the table. This was the behavior in JabRef 3.2 and changed somewhere from there to today.

![jr32 gif](https://cloud.githubusercontent.com/assets/1366654/23661577/82a85b2c-034d-11e7-8485-af93f03cf1f0.gif)

[2017-03-07 16:02] Siedlerchr commented on #2619
@tobiasdiez  Ich mach mal nen fix hierfür

[2017-03-07 16:33] Siedlerchr commented on #2619
Okay, I give up as I have no deep knowledge of the javafx binding stuff.
The problem is that the property in this case is already bound.
From what I read it has to be unbound and then rebound.
The unbinding is clear, but no idea how to rebind it.

`stateManager.getSelectedGroup(newDatabase.get()).ifPresent(

                    selectedGroup -> {
                        System.out.println(this.sel

[2017-03-07 21:53] Siedlerchr commented on #2604
This can be closed right?

[2017-03-07 21:53] #2604 closed

[2017-03-07 22:30] stefan-kolb commented on #2615
Not sure what's wrong there. We just call `actions.put(Actions.SELECT_ALL, (BaseAction) mainTable::selectAll);` in BasePanel. selectAll is a JDK method on the MainTable, i.e., JTable.

[2017-03-08 01:15] tobiasdiez commented on #2619
Thanks for having a look at it. I think the problem is indeed the binding. For some reason it also doesn't work if the binding is changed to a two way binding. Probably its best to resort to simple listeners in this case.

[2017-03-08 07:18] lenhard commented on #2615
I guess some other class, probably something related to the entry editor is stealing the event. The first press of CTRL+A then puts focus on the main table so that the second action is not stolen. I guess it will require some searching to find the guilty one.

[2017-03-08 10:44] #2562 closed

[2017-03-08 14:01] RolfStarre commented on #2604
Yup 👍

[2017-03-08 14:59] stefan-kolb commented on #2397
@JabRef/developers Has this something to do with the event system?

[2017-03-08 15:22] stefan-kolb commented on #2622
[code]

Also, if the file to be renamed does not exist no message is given to the user.

[2017-03-08 18:43] tobiasdiez commented on #932
It is now implemented with color change in the recent JavaFX rework -> leave this as closed and remove "after-migration-to-javafx" tag.

[2017-03-08 19:54] Siedlerchr commented on #2535
Seems like this is currently not possible as javafx filechooser requires a Stage to pass. Although JabRefFrame is passed, it is a) not used and b) can not be used because it is no javafx stage/window. So this would only work until we have a scence/stage in JabRefFrame.

[2017-03-08 19:54] #2535 closed

[2017-03-08 23:11] nhamilton1980 opened #2627 "Right-click behaviour in grid"
I use macbook air, when I right-click on a line-item in the grid (two-finger click on the touchpad) to open the menu, the next line-item is selected (moving the selection down 1 item) before the menu opens. This makes it next-to impossible to open the intended menu for the intended record.

[2017-03-09 07:16] clccc commented on #2571
I have sent to notifications@github.com on Feb 24.  Could you give me a new mail address?
Sorry, the newest fix does not work well also.

At 2017-02-27 22:10:34, "Stefan Kolb" <notifications@github.com> wrote:

@clccc I didn't receive anything, but can you please try http://builds.jabref.org/fixExcept/ if it fixes your problem?

—
You are receiving this because you were mentioned.
Reply to this em

[2017-03-09 08:41] stefan-kolb commented on #2571
@clccc The Github adress is just a forwarder from Github 😄 Please send to developers@jabref.org

[2017-03-09 08:43] stefan-kolb commented on #2622
@Siedlerchr We could auto truncate filenames to keep the limit but this would potentially break the auto link files algorithm. Otherwise we could forward the error in the UI but this would also not really help the user except that he sees that the renaming is not working. Not sure which way to go.

[2017-03-09 08:49] stefan-kolb commented on #2627
@chochreiner WDYT?

[2017-03-09 08:58] chochreiner commented on #2627
I cannot reproduce this with 3.8.2 and the current master on a MacBook Pro (Retina, 13-inch, Mid 2014)

[2017-03-09 10:07] bernhard-kleine opened #2629 "Removing from selected group does unselect the group"
JabRef 4.0.0-dev--snapshot--2017-02-24--master--83219486e
Windows 7 6.1 amd64
Java 1.8.0_121

Steps to reproduce:

1. Have several groups
2. add an entry to a group
3. select the group in the group panel, only the selected entries are shown, and select the entry
4. Right click on the entry and remove from the selected group
5. while the group selection is still active in the group panel, in the en

[2017-03-09 10:07] #1985 closed

[2017-03-09 10:12] stefan-kolb commented on #2605
@anassal Do you say this also affects Windows?

[2017-03-09 12:18] #2355 closed

[2017-03-09 12:27] #2572 closed

[2017-03-09 12:33] anassal commented on #2605
It does seem to work on Windows (8.1 and 10)! Apologies!

[2017-03-09 13:10] stefan-kolb commented on #2605
@anassal I cannot reproduce this issue here on Ubuntu with Chrome. Opens as expected. Chrome is set as default browser.

[2017-03-09 13:13] stefan-kolb commented on #2605
Probably Chrome is not correctly installed on your Ubuntu?!

[2017-03-09 15:06] #1372 closed

[2017-03-09 15:59] koppor commented on #2609
@zellerdev @tschechlovdev @Braunch @bartsch-dev Can you comment?

We also have a comparison table at http://help.jabref.org/en/MedlineRIS

@buhtz Can you comment on our help page? We don't use RIS here, just bibtex. Maybe you can submit an update to a) the importer, b) test cases, c) documentation?

[2017-03-09 16:06] matthiasgeiger commented on #2448
We decided that we will drop the support for the distinction of "optional fileds" and "optional2 fields" in the long run. Thus we won't fix this issue.

[2017-03-09 16:06] #2448 closed

[2017-03-09 16:06] koppor commented on #2393
@PUKK Thank you for the information on the installation. Could you update http://help.jabref.org/en/Installation? This would help us!

[2017-03-09 16:07] stefan-kolb commented on #2393
It looks like this is an issue that is independent from JabRef. Maybe even graphics driver related. At least we cannot do anything right now as noone of @JabRef/developers can reproduce this issue 😞

[2017-03-09 16:07] #2393 closed

[2017-03-09 16:10] koppor commented on #1263
Someone could try to check Install4J's linux option: https://www.ej-technologies.com/products/install4j/features.html However, we think that an executable `jar` should be enough for linux.

[2017-03-09 16:11] #1263 closed

[2017-03-09 16:12] tobiasdiez commented on #1263
Not necessary as soon as we implement #1284 using native messaging.

[2017-03-09 16:14] koppor commented on #794
No one volunteers to implement that. Feel free to reopen if you know someone who will implement that feature.

[2017-03-09 16:15] #794 closed

[2017-03-09 16:22] koppor commented on #121
# drop on table

![drop on table](https://cloud.githubusercontent.com/assets/1366654/23759286/948b286a-04ec-11e7-820f-c95c7e5705cd.gif)

# drop on preview

![drop-on-preview](https://cloud.githubusercontent.com/assets/1366654/23759355/d8dac32c-04ec-11e7-843c-6d7349f6246b.gif)

[2017-03-09 16:33] Siedlerchr commented on #2605
I can not reproduce this , Xubuntu 16.04, latest JabRef version and Chrome. Therefore it seems like you have a problem with your browser

[2017-03-09 16:33] #2605 closed

[2017-03-09 19:41] tobiasdiez commented on #121
I always found it confusing that I can't simply drag and drop a pdf file to the main table in order to import it (I think dropping on the tab header works). What do you think about:
- drop on table: always import as new entry
- drop on preview or entry editor: link

[2017-03-10 10:49] koppor commented on #2615
Introduced in https://github.com/JabRef/jabref/pull/2199

@bartsch-dev Can you have a look?

[2017-03-10 11:01] Siedlerchr commented on #2600
Fixed with #2611

[2017-03-10 11:01] #2600 closed

[2017-03-10 11:03] Siedlerchr commented on #2566
After discussion I created a helper method `runInJavaFXThread` in `DefaultTaskExecutor` in the gui.util packace

[2017-03-10 11:03] #2566 closed

[2017-03-10 13:55] Siedlerchr opened #2630 "New Add Group Dialog"
Idea for a new javafx styled Group Dialog:
@tobiasdiez  WDYT?
(My first try with the scence builder)

[CreateGroups.fxml.txt](https://github.com/JabRef/jabref/files/834089/CreateGroups.fxml.txt)

![grafik](https://cloud.githubusercontent.com/assets/320228/23797712/6c53c162-05a1-11e7-804b-84afe219ce10.png)

[2017-03-10 15:00] tschechlovdev commented on #2609
You're right that the Ris importer originally was made of the biblioscape specification. But when working with the Ris importer I added more and more fields. So you're right, the ris importer doesn't have all fields of the ris specification, but many of them should be supported. Maybe it would make sense to look which fields are missing and add them.

But I couldn't find the field L2 in the [ris s

[2017-03-11 11:39] tobiasdiez commented on #2630
Looks definitely better than the old dialog, good job.
- I would move "Group definition" to the top. For edit, I would even compress it into a drop-down and for "Add group" make it a wizard 2-step process where on the first page the user decides upon the type of group (and there is some description what each type can do) and the second page is the normal edit dialog. What do you think about this i

[2017-03-11 19:26] johann-petrak commented on #2026
I am still/again getting rather frequent freezes but without using the generate key feature. I cannot really figure out what action the freeze may be related to, but it is always in the context of editing/adding entries (I frequently paste raw bibtex into the Bibtex source tab). This happens with version 3.8.2 under Ubuntu, using java 1.8.0_45.

[2017-03-12 10:01] TLCFEM opened #2633 "Saving creates new database file instead of overwriting the old one"
It seems that the __new version 3.8.2__ changes the saving manner. The old versions just overwrite the original file. I guess the new version rename the orginal file to the backup file and write a new database file.

This causes trouble for me (maybe also for others). I use hard links to point to the same database file in different folders so that the database can be updated automatically.

Curren

[2017-03-12 10:09] #2629 closed

[2017-03-12 10:09] tobiasdiez commented on #2629
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks!

[2017-03-12 15:08] chochreiner commented on #2627
Same with 3.8.2 and 4-dev on a MacBook Air (13-inch, Late 2010)

[2017-03-12 17:06] Siedlerchr commented on #2630
Found a nice idea for a Wizard like thing:
http://www.guigarage.com/2014/05/datafx-tutorial-3/

[2017-03-12 17:31] Siedlerchr commented on #2630
I have now separated the dialog in two parts

![grafik](https://cloud.githubusercontent.com/assets/320228/23834158/f45145e2-0751-11e7-904d-56f77166af68.png)

![grafik](https://cloud.githubusercontent.com/assets/320228/23834161/01f64d64-0752-11e7-82bc-397a3829e8a3.png)

[2017-03-12 18:24] tmancill opened #2635 "file permissions after Fix #2279 are very permissive and set the execute bit"
Hi,

I am forwarding [Debian bug report #857351](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=857351)  regarding the default file permissions for a newly created BibTeX database.  Instead creating the new file with mode `-rwxrwxrwx` (0777), a default of `-rw-rw-r--` (0664) or `-rw-rw----` (0660) or `-rw-r-----` (0640) seems more appropriate.  In any case, having the execute bit set doesn't ma

[2017-03-12 19:06] Siedlerchr commented on #2635
Thank you very much for forwarding this bug report and also for providing a solution.
I agree that having the x-bit set does not make sense.
I will provide a fix.

[2017-03-12 19:17] tobiasdiez commented on #2630
I like it! Maybe still move the "Options" to the second page...not sure through. @JabRef/developers what you do you think?

In my opinion the icon and color can be put on the same line (with the icon first).

[2017-03-12 19:36] Siedlerchr commented on #2635
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you.

[2017-03-12 19:36] #2635 closed

[2017-03-13 00:44] jdpipe commented on #1711
Hi Tobias

I tested the 'javafx' build (JabRef-4.0.0-dev--snapshot--2017-03-12--master--f0d79f876.jar) and it worked well. However, I did have to install some openfx packages on my machine first. Without those packages, there is just a cryptic message "Error: Could not find or load main class org.jabref.JabRefMain".

This raises a question -- with JabRef .jar package now topping 50MB, is there any

[2017-03-13 04:43] koppor commented on #2633
Refs #2635

[2017-03-13 04:57] TLCFEM commented on #2633
I'd like to kindly comment that I am using Windows 7 so...

[2017-03-13 08:17] Siedlerchr commented on #1711
Hi JP,

thanks for testing. As we are switching to the new gui technology JavaFX, it requires the openjfx package.
Since a while the JabRef Version 3.8.2 succesfully is integrated into debian experimental and of course we hope to integrate the 4.0.0 version there one time, too.
https://packages.debian.org/experimental/jabref

At the moment the 4.0.0 is still under development, so we only provide t

[2017-03-13 08:20] Siedlerchr commented on #2630
Regarding Icon I had the idea to integrate an ImageView component with a File Chooser, so that user direclty can open the icon/image from their file system

[2017-03-13 08:24] koppor commented on #1711
I hope, our installation page covers that, doesn't it?
https://help.jabref.org/en/Installation

Am 13.03.2017 09:17 schrieb "Christoph" <notifications@github.com>:

[2017-03-13 11:37] tobiasdiez commented on #2630
Right now the icon only allows a string (the identifier in the materialdesigns font) and not a path. Thus it is probably preferable to show a list of (predefined) icons instead of a file chooser.

[2017-03-13 13:34] Siedlerchr commented on #2630
Yes, I will take this into account and maybe probide a list with images/icons to browse from

[2017-03-13 19:54] Siedlerchr commented on #2630
So, my current idea is to use an auto complete text box (and I hope it will work) for searching the icons like it is possible on the website
http://fontawesome.io/icons/
![grafik](https://cloud.githubusercontent.com/assets/320228/23872356/4eebf7c2-082e-11e7-82c1-05ef9182d911.png)

[2017-03-13 20:12] matthiasgeiger commented on #2630
Is this Icon stuff really worth the effort?

I would also prefer to have only a single dialog with the ability to switch from one type to another during creation of a group...

[2017-03-13 20:16] tobiasdiez opened #2642 "Show proper information message when OpenJFX is not installed"
As reported in https://github.com/JabRef/jabref/issues/1711#issuecomment-285991831 without the OpenJFX packages on linux a cryptic message "Error: Could not find or load main class org.jabref.JabRefMain" is displayed.

It would be nice if instead a proper error message referring to `apt-get install openjfx` is shown. Not sure if this exception is "catchable". Or maybe we should indeed create a ins

[2017-03-13 20:17] Siedlerchr commented on #2630
@matthiasgeiger  That icon stuff is just some nice to have stuff.
My idea is that when you add a group this wizard is shown and when you right click on the group -> Edit defintion (name etcs ) and switch group type. Which then just would select the right dialog page of the wizard - with the ability to go back/forward to the other page.

In my opinion this is useful as I sometimes just want to edit

[2017-03-13 20:22] Siedlerchr commented on #2642
Seems like you could simply check for a ClassNotFoundException:
http://stackoverflow.com/questions/12213929/how-to-detect-javafx-2-2-runtime-availability

[2017-03-14 14:16] stefan-kolb commented on #2484
@chochreiner Maybe you can have a look when you have some time (it is not that urgent).
All the preferences should be stored inside `OpenOfficePreferences.java`.
[code]
Maybe, the `OSX_JARS_SUBPATH ` is obsolete for OO 4.x.

[2017-03-14 16:33] stefan-kolb commented on #2484
@eduardkareletc I'm trying to refactor the OO logic. Maybe you can try a build from https://builds.jabref.org/openoffice and give me feedback.

[2017-03-14 16:38] koppor commented on #2282
+1 for SET prefs by key.

I am not sure how often JabRef is used in multi user setups. Maybe we should really introduce the randomization. However in the range `38001 to 39999` - Source: https://de.wikipedia.org/wiki/Liste_der_standardisierten_Ports (which differs from https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers)

[2017-03-14 17:01] eduardkareletc commented on #2484
Hello Stefan,

These are rather chaotic times for me right now, but I may be able to
look at it this Friday.

What is it you want feedback on?
As I recall, I found a work around by creating a symbolic link in the OO
bundle which made the jar files accessible at two  different loactions.
  I am not sure I understand how the issue relates to refactoring, and
what you expect me to do.

Cheers
Eduard

[2017-03-14 17:13] #2573 closed

[2017-03-15 01:14] clccc commented on #2571
⊙﹏⊙b , I am sorry. The bib file have been sent to you.

在 2017-03-09 16:41:08，"Stefan Kolb" <notifications@github.com> 写道：

@clccc The Github adress is just a forwarder from Github 😄 Please send to developers@jabref.org

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-15 04:33] tmancill commented on #2635
Hi @Siedlerchr - I tested locally and the permissions were as expected.  Thank you for the quick turn around!

[2017-03-15 12:21] stefan-kolb commented on #2484
@eduardkareletc I just want to know if it fixes your problem and if it's still working in general for you.

[2017-03-15 13:39] eduardkareletc commented on #2484
I'll have a look later this week.

Stefan Kolb wrote:

[2017-03-15 14:39] g-mos opened #2647 "Group information not saved in a Postgres db"
JabRef version JabRef-4.0.0-dev on Ubuntu 16.04

Steps to reproduce:

1. Opened a Postegres literature db
2. Created some groups
3. Closed and reopend the db. The groups have disappered

[2017-03-15 15:14] stefan-kolb commented on #2642
We definitly need to fix this. If I just double click the Jar nothing happens and I don't even see an error message.

[2017-03-15 15:58] Siedlerchr commented on #2642
I will try around with it. Maybe we can show a simple Swing Message/Alert when the class is not found.

[2017-03-15 16:28] Siedlerchr commented on #2642
I searched a bit further and there is no real solution to this.
If we get the 4.0.0 release in one of the debian packages, we can maybe mark the openjfx package as required. Otherwise we have to explicit inform the user before installation and should add a thing in the release notes. (We already documented this in the installation docs https://help.jabref.org/en/Installation )

[2017-03-15 16:30] Siedlerchr commented on #2559
Fixed with #2638

[2017-03-15 16:30] #2559 closed

[2017-03-15 16:33] Siedlerchr commented on #482
Is this issue resolved?

[2017-03-15 16:36] Siedlerchr commented on #527
I think this issues is no longer relevant as JabRef (since 3.6) supports now working directly with a shared SQL database and SQL file export support has been dropped.
http://help.jabref.org/en/SQLDatabase

[2017-03-15 16:36] #527 closed

[2017-03-15 16:47] tobiasdiez commented on #2642
Ok, if it is not possible then it is not possible...

[2017-03-15 16:47] #2642 closed

[2017-03-15 17:12] stefan-kolb commented on #482
Nope, no setup icon yet.

[2017-03-15 17:19] tobiasdiez commented on #770
I think we don't need a special issue to keep track of this (when we rework the preferences / move enough things to javafx this will come up as a natural by-product).

[2017-03-15 17:19] #770 closed

[2017-03-15 17:26] tobiasdiez commented on #2013
I don't think that we currently have open issues related to the encoding. Although the used encoding is still sometimes a bit mystic, I will close this issue now.

[2017-03-15 17:26] #2013 closed

[2017-03-15 17:56] stefan-kolb opened #2648 "Jabref icon barely visible on dark backgrounds"
![screenshot from 2017-03-15 10-51-45](https://cloud.githubusercontent.com/assets/2141507/23963310/0a60bffc-096e-11e7-936b-3210b83c2b61.png)

[2017-03-15 18:29] tobiasdiez commented on #1708
The methods in question are marked as deprecated and thus hopefully their usage dies out over time.

[2017-03-15 18:29] #1708 closed

[2017-03-16 08:25] tobiasdiez commented on #2032
I think most deprecated methods are now properly annotated -> closed.

[2017-03-16 08:25] #2032 closed

[2017-03-16 08:40] tobiasdiez commented on #960
I think this the trailing `;` is not a big deal and we should focus on https://github.com/koppor/jabref/issues/232 if we really want to improve our metadata serialization -> closed (if you really want this, reopen or better implement it directly)

[2017-03-16 08:40] #960 closed

[2017-03-16 09:05] spontaneous-emission opened #2651 "TeX commands not properly interpreted for unicode display"
I am using JabRef version 3.8.2 on Windows 10.

Bib files produced by APS journals include TeX commands `\ifmmode ... \else ... \fi{}` when including certain special characters, such as Č. See, for example, http://journals.aps.org/pra/export/10.1103/PhysRevA.94.012340
`author = {\ifmmode \check{C}\else \v{C}\fi{}ernot\'{\i}k, Ond\ifmmode \check{r}\else \v{r}\fi{}ej and Hammerer, Klemens}`

This Te

[2017-03-16 09:17] matthiasgeiger commented on #2651
Hi,
if you use [a current dev build](https://builds.jabref.org/master) the situation is improved - however, not perfect:
The Latex-to-unicode conversion produces: `Č Černotı́k, Ond ř řej and Hammerer, Klemens` - so the `\ifmode ... \fi` statements are correctly removed, but both cases (if and else) are interpreted and converted to the same unicode character.

As we can not implement a fully fledge

[2017-03-16 09:22] koppor commented on #2651
Could you file an issue at https://github.com/tomtung/latex2unicode? We are
using that library to convert the characters.

Even though, I fear, implementing that could be out of scope of that
library.

Am 16.03.2017 10:05 schrieb "spontaneous-emission" <notifications@github.com

I am using JabRef version 3.8.2 on Windows 10.

Bib files produced by APS journals include TeX commands \ifmmode ... \el

[2017-03-16 09:26] spontaneous-emission commented on #2651
Okay, thanks for the extremely prompt responses.

I will try filing this as an issue for the latex2unicode library.

[2017-03-16 09:36] bvdalen opened #2652 "Incorrect display in the author entry column"
Version 3.8.2, confirmed in JabRef 4.0.0-dev--snapshot--2017-03-16--master--4323923a8, Windows 7 6.1 amd64 and Java 1.8.0_92.

The below BibLaTeX file illustrates the following problems in JabRef's display of the author entry column:

1. The single name "Rodriguez Fernandez, José María" in Item:1 is turned into two authors F. Rodriguez and J. María. This does not happen in the alternative format i

[2017-03-16 09:43] #2651 closed

[2017-03-16 10:50] ekleinod opened #2653 "Backup extension name"
JabRef 3.8.2 linux 4.8.0-42-generic amd64  Java 1.8.0_121

In the settings I can choose to backup the old file when saving, but I cannot choose the extension to do so.

The chosen extension is ".bak", I would prefer "~" as this is standard on Linux systems.

Example: `literatur.bib` -> `literatur.bib~` would be my choice.

Thanks for the great work.

[2017-03-16 10:55] koppor commented on #2653
It was `.bak` for ages. 😇

We currently have no money to pay someone for that. Thus, it depends on the availability of our free time. - If you can spend some more time, we would like to encourage you to check https://help.jabref.org/en/FAQcontributing - especially the part asking for improvement of our help pages <https://help.jabref.org/en/>. We have plenty of open issues there: https://github.co

[2017-03-16 13:13] koppor commented on #2653
Maybe, we should also think about `.sav`.

- Emacs uses `#literatur.bib#` (https://www.emacswiki.org/emacs/AutoSave)
- Vi uses `literatur.bib~` (http://stackoverflow.com/a/607475/873282)

[2017-03-16 15:48] tobiasdiez commented on #1173
The latest development version has a new "automatic group" that also updates its subgroups (generated from keywords) if the data is changed.

[2017-03-16 15:48] #1173 closed

[2017-03-16 15:49] tobiasdiez commented on #1428
Expansion status is now saved across sessions.

[2017-03-16 15:49] #1428 closed

[2017-03-16 16:12] Siedlerchr commented on #2653
Just a Simple setting where you can define extension/format ?

Am 16.03.2017 2:14 nachm. schrieb "Oliver Kopp" <notifications@github.com>:

[2017-03-16 16:37] tobiasdiez commented on #2619
Should be fixed in the master (at least in a few minutes)

[2017-03-16 16:37] #2619 closed

[2017-03-16 16:40] tobiasdiez commented on #2590
Thanks to the work of @Siedlerchr drag and drop should work again. https://github.com/JabRef/jabref/pull/2632

[2017-03-16 16:40] #2590 closed

[2017-03-16 21:28] Siedlerchr opened #2655 "IndexOutOfBoundsException in MainTable switching to group with fewer entries"
Have some groups
Have some entries

Assign same entries to several groups
e.g. Group 2 contains 4 entries
Group 1 only contains 1 of the entries
Group 3 contains zero entries

Steps to reproduce:
1. Select  (last) entry in Group 2
2. Switch to Group 3 with zero entries

I have provided my test sample bib file:
[test_groupsException.bib.txt](https://github.com/JabRef/jabref/files/849071/test_groups

[2017-03-16 22:15] #2571 closed

[2017-03-16 22:16] tobiasdiez commented on #2571
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks!

[2017-03-17 10:08] #2484 closed

[2017-03-17 12:24] Siedlerchr commented on #2606
@tobiasdiez  Is there a way/method to get the current selected group?
groupSelector in Base Panel doesn't really work

[2017-03-17 13:05] bernhard-kleine opened #2656 "nullpointer exception"
JabRef 3.8.2
windows 7 6.1 amd64
Java 1.8.0_121

I have no idea what went wrong, either the standard version not the snapshot show any data, the program is running, however. Maybe you can make sense of it.

using
`java -jar JabRef-3.8.2.jar --debug -b`
the program starts correctly. A test.bib consisting of one entry could be loaded. The files which I have been working on lately, however, could not

[2017-03-17 13:05] stefan-kolb commented on #2483
The problem should be located inside `OOUtil.java#insertOOFormattedTextAtCurrentLocation`. Looks like the method cannot handle nested tags in general.

[2017-03-17 13:18] stefan-kolb commented on #2483
It might be inside the `OOpreformatter.java`.

[2017-03-17 13:31] stefan-kolb commented on #2483
Inside `OOUtil#insertOOFormattedTextAtCurrentLocation`

[2017-03-17 13:49] bernhard-kleine commented on #2656
The file could be loaded when removing the group tree in texstudio.

[code]

[2017-03-17 13:54] stefan-kolb commented on #2483
Thank you for your report :+1:
This should be fixed in current `oo-formatting`. Please try the latest build from http://builds.jabref.org/oo-formatting.

[2017-03-17 13:54] stefan-kolb commented on #2483
@michaelpalmeruw Thank you for your report 👍
This should be fixed in current oo-formatting. Please try the latest build from http://builds.jabref.org/oo-formatting.