[2022-09-12 19:37] #7399 closed

[2022-09-13 07:46] saralajew commented on #8485
@ThiloteE I tested the version 5.7 with a shared database. The performance improved a lot! It is *still a bit unresponsive* but at a level that is acceptable. IMO you can close this issue.

[2022-09-13 09:44] bernhard-kleine opened #9153 "Sort on timestamp should be maintained after closing and reopening a library"
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

win64 latest

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Sort on timestamp

[2022-09-13 18:37] pedrogit opened #9154 "Regex replace behave differently in entry preview and custom export"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to rep

[2022-09-14 10:03] HoussemNasri commented on #8768
This bug still present in JavaFX 19 release version. It is targeted to be fixed in version 20.

[2022-09-14 18:10] #9056 closed

[2022-09-15 07:05] mlep opened #9157 "Capitalization and hyphen: Anomaly with "Capitalize""
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.8--2022-09-14--6a4a4f4 Linux 5.10.0-18-amd64 amd64  Java 18.0.2.1  JavaFX 18.0.2+2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I hav

[2022-09-15 11:54] CodeDead commented on #7072
I was facing the same problem for an entirely different project using Fedora Linux 36 and drag and drop events. After a lengthy Reddit discussion, Nir Lisker got this issue reopened. It is still present in JavaFX 19 and below. Hopefully it will gain some traction.

[2022-09-15 16:56] Siedlerchr commented on #9066
There needs to be warning as well:

WARNING: Restore from backup will overwrite your current library

[2022-09-16 04:14] thiagocferr commented on #9092
From what I've seen from the arXiv importer and the usual API responses, the extraction of the DOI from the arXiv ID is only trivial when the **author** provides it.

The displayed DOI on their site may actually be one generated from _DataCite_ (see image below), in which case this data seems not to be transmitted into the API call response made in [code](https://github.com/JabRef/jabref/blob/main

[2022-09-16 07:04] mlep commented on #9092
I am not sure that I got you right.

When the user provides the arXiv ID (e.g. `1811.10364`), the user also provides, in fact, the DOI. This is because you just need to add the prefix `10.48550/arXiv.` to the arXiv ID to get the DOI (`10.48550/arXiv.1811.10364`). So, JabRef, when provided with an arXiv ID could use the arXiv fetcher, but also the DOI fetcher.

[2022-09-16 13:43] btut commented on #8420
Hi @ilippert,
I noticed another issue that re-indexing is done on each startup. Do you mean that or do you have multiple re-indexings happening while working with jabref (not only on startup)?

[2022-09-16 18:11] Siedlerchr commented on #9096
On Mac by default, JabRef replaces CTRL with the meta key. This is most likely the option key. Maybe this helps you?

[2022-09-18 12:00] ilippert commented on #8420
Thank you for the note! just checked on

JabRef 5.8--2022-09-15--853338a
Linux 5.19.8-200.fc36.x86_64 amd64
Java 18.0.2.1
JavaFX 19+11

the re-indexing happens when starting up, not for the library modification.

[2022-09-18 19:27] btut commented on #8420
I fixed that bug already in the lucene-backend branch but can port it to main sometime soon since the lucene things still need plenty of work.

[2022-09-19 10:44] ilippert opened #9159 "ignore unnecessary library modification notifications?"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.8--2022-09-15--853338a Linux 5.19.8-200.fc36.x86_64 amd64  Java 18.0.2.1  JavaFX 19+11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest developme

[2022-09-19 12:02] ThiloteE commented on #9159
Do I understand it right, you did not do change the library at all, then pressed "save", which triggered a library modification popup?

[2022-09-19 12:04] ThiloteE commented on #9159
sorry for the noise. I understand now.

[2022-09-19 12:54] ilippert commented on #9159
Now with screencast (updated), nothing typed. and then pressed `CTRL+S` and a few moments later the modification claim occurs.

[2022-09-19 13:40] thiagocferr commented on #9092
What I don't get, using your example, is how you could possibly know to add the prefix ```10.48550/arXiv.``` (more specifically, ```10.48550``` part) if the only provided information is the arXiv ID (```1811.10364```). From my understanding, this would only be known if the arXiv fetcher could get the DOI on the same request, which not always, as shown before...

[2022-09-19 14:08] mlep commented on #9092
You could possibly add the prefix `10.48550/arXiv` because you have identified that `1811.10364` is an arXiv ID.

And, currently, JabRef is already able to identify if a string is an arXiv ID: by simply pasting `1811.10364` in the entry table, JabRef is able to determine that this string is an arXiv ID ("Found arxiv identifier in clipboard" is written in the log file).

[2022-09-19 14:22] thiagocferr commented on #9092
I think I get it now. After a quick search, I found from [this article](https://blog.arxiv.org/2022/02/17/new-arxiv-articles-are-now-automatically-assigned-dois/) that, indeed, all arXiv articles have a DOI with the same prefix, which I never really paid attention to :sweat_smile:.

[2022-09-19 17:53] Siedlerchr commented on #8420
@btut A backport into the main would be great.  Can you give us a hint which line(s) are relevant=?

[2022-09-19 18:10] Siedlerchr commented on #9159
Can confirm this.

[2022-09-19 18:10] btut commented on #8420
Should be
4412f6e3e50d9ee17bab5f4bffa2abd8098cdc8a
And
4b17f10e2cb3142e6741d14a8b89f223a88e9533

The second one fixes the re-indexing every time, the first one also adds an entry to the index for pdfs that could not be read (font errors, IO errors) and does not try to re-index them at the next start (since it can be assumed to fail again).

[2022-09-19 18:14] HoussemNasri commented on #9159
@Siedlerchr Wasn't this issue fixed by #9067?

[2022-09-19 18:20] Siedlerchr commented on #9159
Yes it should have been. I don't know what's wrong with it now.

[2022-09-19 18:40] HoussemNasri commented on #9159
It appears that *Save actions* and *Library mode* are always detected as changed. I got the same result when I added a new string from the library properties dialog without changing the library mode or the save actions.

[2022-09-19 20:35] frosales258 commented on #9096
Hi,

Thanks for the reply! no, it doesn't help, since the problem is that when I
make the key combination cmd+C, instead of copying the \cite{ID} it goes to
the first publication on the current list starting with "C"

El vie, 16 sept 2022 a la(s) 13:11, Christoph ***@***.***)
escribió:

[2022-09-19 20:45] tobiasdiez commented on #8529
Its now modularized as well.

https://learn.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-upgrade-from-2x

[2022-09-19 20:59] Siedlerchr commented on #9096
Okay, thanks for the feedback. I will try to take another look at it the next days

[2022-09-20 06:37] #9159 closed

[2022-09-20 16:03] Siedlerchr commented on #8420
Thanks! Should be easy to just cherry pick these commits.  I will give it a try tomorrow

[2022-09-20 16:31] btut commented on #8420
I am not so sure about that, as the lucene branch moves plenty of files (because they had pdf in their name and now more than pdfs are indexed). I have some time later today to handle this.

[2022-09-21 08:32] enochytchen opened #9167 "Show proper error message when .bib file contains git (or SVN) conflict markers"
### JabRef version

5.7 (latest release)

### Operating system

macOS

### Details on version and operating system

macOS 12.2.1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. I tried to import a

[2022-09-21 08:46] calixtus commented on #2753
JDK 19 feature:
https://bugs.openjdk.org/browse/JDK-8282277

[2022-09-21 10:29] ThiloteE commented on #8719
Unfortunately, still reproducible with

JabRef 5.8--2022-09-20--7dcdd61
Linux 5.4.0-126-generic amd64
Java 18.0.2.1
JavaFX 19+11

[2022-09-21 10:54] Siedlerchr commented on #8719
@ThiloteE  Do you have a stack trace?

[2022-09-21 11:20] Siedlerchr commented on #9167
Hi, seems like something is wrong with your  bib file. It seems the bib file is connected to a shared database that cannot be opened correctly.

The issue could also be coming from a merge conflict with git. Can you attach your bib file or send it privately to web@jabref.org ?

[2022-09-21 13:14] ThiloteE commented on #8719
<details>

<summary>stack trace</summary>

[code]

</details>

[2022-09-21 13:20] ThiloteE commented on #8719
Turns out, the bug only triggers when editing the title field via the "biblatex source" tab. It does not trigger, if changing the title via the "required fields" tab, which might explain why @Yancy10-1 was not able to reproduce.

[2022-09-21 14:17] Da-Va commented on #5867
awesomewm + Xubuntu works

[2022-09-21 20:11] #8420 closed

[2022-09-22 15:05] thiagocferr commented on #9092
Well, I've tackled a bit of code around this functionality and I have an idea on how to implement it, so I'd like to contribute to it as my first issue on this repo.

[2022-09-22 15:46] szhorvat opened #9169 "Command-C shortcut for copying entries misbehaves on macOS"
### JabRef version

[code]

### Operating system

macOS

### Details on version and operating system

_No response_

### Checked with the latest development build

- [ ] I made a backup of my libraries before testing the latest development version.
- [ ] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Select an entry from the database

[2022-09-22 15:48] szhorvat commented on #5937
This problem is still present in 5.7.

[2022-09-22 16:07] szhorvat commented on #9169
May be the same as #9096

[2022-09-22 17:51] Siedlerchr commented on #9092
@thiagocferr  That sounds great! If you have any questions you can ask them in your pr then
Make sure to follow our contribution guide! https://devdocs.jabref.org/contributing.html#contribute-code

[2022-09-23 10:46] m-mauersberger opened #9171 "Connecting to shared database with Kerberos fails since v5.6"
### JabRef version

5.7 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

openSUSE Leap 15.3

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Set up a

[2022-09-23 11:13] Siedlerchr commented on #9171
Hi, it seems this was an issue in the psql driver versin https://github.com/pgjdbc/pgjdbc/issues/2469
Can you try the latest dev version? It uses the latest version 42.5.0 of the driver

[2022-09-23 12:14] HoussemNasri commented on #9171
Could this be caused by https://github.com/JabRef/jabref/pull/8583?
In that PR, I changed the default truststore location to `/org.jabref/jabref/ssl`. I'm not familiar with security configuration in Java, but I noticed there is a `cacerts` file in `JabRef_path/lib/runtime/conf/security`. Maybe the configuration is being applied on the wrong truststore?

[2022-09-23 14:49] mlep opened #9172 "Preview out of sync with entry table"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.8--2022-09-21--35d995a Linux 5.10.0-18-amd64 amd64  Java 18.0.2.1  JavaFX 19+11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have t

[2022-09-26 07:39] ilippert opened #9176 "JabRef build 2022-09-25 20:56 does not start"
### JabRef version

Other (please describe below)

### Operating system

Fedora 36 Linux

### Details on version and operating system

build from 2022-09-25 20:56

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the

[2022-09-26 08:02] Siedlerchr commented on #9176
Thanks for the hint! This was probably caused by  #9168. Seems like the jpackage task needs an addtional tweak.

[2022-09-26 12:36] dyannya commented on #9157
Hello! I am a first-time contributor and would like to attempt on contributing a solution to this issue. May I please guidance on how to approach this? Thank you.

[2022-09-26 19:32] koppor commented on #5872
Fixed by https://github.com/JabRef/jabref/pull/7181

[2022-09-27 06:09] calixtus commented on #9157
Hello @dyannya. Please read https://devdocs.jabref.org/contributing.html#contribute-code, please don't forget to correctly set up your workspace including Checkstyle, and ask general questions in our Gitter chat, so we can keep the issue discussion clean and related to the issue only.

[2022-09-27 12:16] HoussemNasri commented on #9171
@m-mauersberger We made a [build](https://builds.jabref.org/pull/9184/merge/) with the custom SSL feature disabled. Could you please take a look and see if the problem persists? Also, make sure to back up your library or use a test library before trying it out since it's still under development and not stable yet.

[2022-09-27 17:24] Siedlerchr opened #9185 "Mods importer should be able to import conference papers with the correct entry type"
**Is your suggestion for improvement related to a problem? Please describe.**
I recently had to import a reference from the ISCRAM conference. However, they only offer MODS export format and I noticed that my entry got imported as misc.

**Describe the solution you'd like**
I would like to have conference publications imported as proceedings.

**Additional context**
Here is a list of mappings for

[2022-09-27 18:01] rilmay commented on #9157
Hello @mlep , @Siedlerchr  .  As i can see, now program works like this : if you choose "**Change case -> Capitalize**", then only first letter will be capitalized, regardless of dashes, and if you choose "**Change case -> Title Case**", then the first letter and every letter after dashes will be capitalized (exceptions: first letters in conjunctions "and", "but", "for", "nor", "or", "so", "yet").

[2022-09-27 18:05] AEgit commented on #9172
As far as I can tell, this issue does not appear in the following version:

JabRef 5.8--2022-09-05--ce08d0d
Windows 10 10.0 amd64
Java 18.0.2.1
JavaFX 18.0.2+2

I also wanted to try the latest version, but since https://github.com/JabRef/jabref/issues/9176 still needs to be fixed, I will have to wait for that bugfix until I can test the current JabRef version.

[2022-09-27 18:09] Siedlerchr commented on #9176
Forget to link the issue. A fix was just merged
Fixed by https://github.com/JabRef/jabref/pull/9183

[2022-09-27 18:09] #9176 closed

[2022-09-28 05:14] thiagocferr opened #9187 "Unecessary library modification notifications when saving entries with duplicate keywords"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.8, 27-09-2022 14:57,on Ubuntu 22.04.1 LTS with GNOME 42.4

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest devel

[2022-09-28 13:01] mlep commented on #9172
I cannot reproduce the bug with JabRef 5.8--2022-09-14--6a4a4f4

[2022-09-29 21:37] dyannya commented on #9169
Hi! I am interested on doing this, may I please get assigned to this?

[2022-09-29 22:35] #9157 closed

[2022-09-30 05:50] vanukalla opened #9188 "Jabref citations display as unresolved in Libre Office"
### JabRef version

5.7 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Bodhi Linux 6.0 based on Ubuntu 20.04 LTS

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the

[2022-09-30 07:21] linsui opened #9189 "Remove a record from the group by drag and drop it to the group"
**Describe the solution you'd like**
A record can be added to a group by dragging and dropping it. It's natual to drag and drop it again to remove the record from the group.

[2022-09-30 07:40] mlep commented on #9157
@scarpio02 Thank you for fixing this bug!

[2022-09-30 08:02] mlep opened #9190 "JabRef forgets opened libraries"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.8--2022-09-29--fca9fb9 Linux 5.10.0-18-amd64 amd64  Java 18.0.2.1  JavaFX 19+11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have t

[2022-09-30 08:34] linsui opened #9191 "Allow choosing group when import from extension"
**Is your suggestion for improvement related to a problem? Please describe.**
The record is always imported to the current bib file/group.

**Describe the solution you'd like**
Add an option to choose which file/group to import to.

**Additional context**
Zotero can choose the group in the extension.

[2022-09-30 12:17] HoussemNasri commented on #9172
The issue stopped showing once I downgraded to JavaFX 18. The [upgrade to JavaFX 19](https://github.com/JabRef/jabref/pull/9155) was done on 2022-09-15, which explains why it was not reproducible on the day before it.

[2022-09-30 16:47] ezienecker commented on #9145
Tomorrow the hacktoberfest starts. I would like to use this task as a project start. Is it ok for you if I take it over? Nothing has happened to the task for 20 days now.

[2022-09-30 16:50] anudeep-bpgc commented on #9145
hi @ezienecker, you may take it.

[2022-09-30 17:27] ThiloteE commented on #9191
What version of JabRef is this?

Also, have you tried `File > Import > Import into new library`?

[2022-09-30 17:32] ThiloteE commented on #9191
Partly duplicate of #6177

What is new here: You also want to be able to choose the **group** during Import

[2022-09-30 17:57] ThiloteE opened #9192 "Change dark theme colour of highlighted text in Entry Merge Dialogue"
JabRef 5.8--2022-08-22--a255311
Linux 5.4.0-126-generic amd64
Java 18.0.2
JavaFX 18.0.2+2

**Problem:**

- text is hard to read
- distinction between red-green is not good for people with [impaired colour vision](https://en.wikipedia.org/wiki/Color_blindness)

![grafik](https://user-images.githubusercontent.com/73715071/193327675-78c73e64-f732-4bac-9f3d-4b1cf62f5994.png)
![grafik](https://user-ima

[2022-09-30 18:13] ThiloteE commented on #9192
How to reach the Entry Merge dialogue:

1. Have an entry
[code]
2. Have another entry that is very similar:

[code]

 Copy and paste them both into your library. Then select both entries and press `CTRL+M` (`Quality > Merge entries`). This will open the Entry Merge Dialogue.

[2022-09-30 18:24] ThiloteE commented on #6334
Could somebody summarize what is still lacking here? @HoussemNasri

Can be closed, no?

[2022-09-30 18:31] ThiloteE commented on #9090
ups. I made a duplicate. Sorry, just saw this now.

[2022-09-30 18:31] #9090 closed

[2022-09-30 18:32] ThiloteE commented on #9090
refs https://github.com/JabRef/jabref/issues/9192

[2022-09-30 18:41] linsui commented on #9191
I'm using 5.6 but I thought 5.7 doesn't have this either. Looks like this is a duplicate.

[2022-09-30 22:24] berry120 commented on #9185
@Siedlerchr Hey, I'd like to give this one a go - could you assign it to me? Thanks!

[2022-10-01 07:46] HoussemNasri commented on #6334
I thought the Google Scholar exception was still not fixed, but I can't reproduce it anymore on the latest development version. However, it constantly displays "Processing..." when no entries are found *(for all fetchers)*. I think we can close this and start a new issue to add a request timeout.

[2022-10-01 07:48] #6334 closed

[2022-10-01 08:22] HoussemNasri opened #9195 "Searching for an entry on the web shouldn't take forever"
**Is your suggestion for improvement related to a problem? Please describe.**
When searching an entry using web search and the entry is not found, JabRef would keep displaying *Processing <entry>*.

**Describe the solution you'd like**
There should be a timeout for a search request and after the timeout is passed, JabRef should display a message indicating the query doesn't correspond to any entry

[2022-10-01 12:58] ezienecker commented on #9145
I am having trouble adding a new dependency to the project. Unfortunately I don't really understand where the problem is. I added the following dependency (`implementation 'net.sourceforge.htmlunit:htmlunit:2.64.0'`) in the `jabref/build.gradle` and then triggered a reload via the Gradle View. After that I see the dependency under "External Libraries" but cannot use it in the project. What am I do

[2022-10-01 13:06] systemoperator opened #9196 "Importing references using the JabRef-Browser-Extension starts a new instance of JabRef for each import"
### JabRef version

5.7 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Debian 11 with Mate Desktop

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

Ju

[2022-10-01 14:38] dominikaxx commented on #9195
Hi, could you assign the issue to me, please?

[2022-10-01 15:12] dominikaxx commented on #9192
Hi, can you assign me this issue?

[2022-10-01 16:46] ThiloteE commented on #9192
@dominikaxx Thank you for taking an interest :)

As a general recommendation, please have a look at the guidelines for contributing: https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at.

[2022-10-01 18:47] dominikaxx commented on #9195
This is my first issue on open-source project, I started by studying the code.  Any ideas how I should start fixing the issue and setting the timeout for a search request?

[2022-10-01 19:25] Siedlerchr commented on #9145
@ezienecker why do you want to add a new dependency? You should be able to use jsoup for this. See the implementation of the other fetchers

[2022-10-01 19:44] HoussemNasri commented on #9195
Hello @dominikaxx. For getting started, I suggest you have a look at *WebSearchPane*, *ImportEntries* and the fetchers code located under `org.jabref.logic.importer.fetcher`.

https://github.com/JabRef/jabref/blob/6dfc2e00b4fc1dd76f4865e81894e2f7b2e50968/src/main/java/org/jabref/gui/importer/fetcher/WebSearchPaneViewModel.java#L136-L139

The problem seems to reside here, as when the fetcher return

[2022-10-01 20:06] HoussemNasri opened #9198 "The Customize entry types dialog has no title"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to rep

[2022-10-01 20:30] HoussemNasri opened #9200 "Convert an empty field from Latex to Unicode throws an exception"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to rep

[2022-10-02 08:01] ezienecker commented on #9145
The problem with this page is that when you make the call with the appropriate ISBN, you are redirected first (apparently a javascript redirect). The response contains the following in the body tag:

`<body onload="location.replace('https://www.book-info.com/isbn/9780321356680.htm?ID=51ijj1ootp0h688u4t9583fs34')">`

The rest of the body does not provide any useful content. If you now extract this

[2022-10-02 09:12] TheGor1lla commented on #9198
Sounds like a good start to my hacktober journes :) Can you assign me?

[2022-10-02 11:15] TheGor1lla commented on #9200
Had a quick look at the code, what would be the desired outcome of the format operation?

Personally I'd return an empty String instead. Would that be okay, if so I can do that

[2022-10-02 18:14] #9198 closed

[2022-10-02 19:11] #9185 closed

[2022-10-02 19:28] Siedlerchr commented on #9187
I can also reproduce this when manually adding a duplicate keyword and then hitting save

[2022-10-02 20:04] ghost opened #9203 "Custom Special Fields"
The special fields of JabRef are a very important feature in my opinion since they offer the ability to classify your literature. This is also possible by using the groups feature but special fields have the advantage to have custom icons and multiple "modes" like "read", "skimmed" and "to be read".

**Is your suggestion for improvement related to a problem? Please describe.**
I'm always a bit fru

[2022-10-02 20:47] ThiloteE commented on #9196
I was able to reproduce this bug on

JabRef 5.8--2022-09-20--7dcdd61 (portable version)
Linux 5.4.0-126-generic amd64 (Mint, Cinnamon)
Java 18.0.2.1
JavaFX 19+11

[2022-10-02 20:54] systemoperator commented on #9196
@ThiloteE I also use the portable version. But actually, I have already a running instance of `JabRef` from the source code with IntelliJ IDEA and when I import a reference from the browser, a new (additional) instance of `JabRef` from the portable version get started, instead of using the already running version. By importing another reference, a third instance gets started (so a second instance

[2022-10-02 21:04] Siedlerchr commented on #9196
@systemoperator  It might be having something to do with the portable version what version is picked up
 https://docs.jabref.org/collect/jabref-browser-extension

[2022-10-03 12:09] jmmelko opened #9204 "Unhandled excception when importing a PDF, may be linked to PDF/A format"
### JabRef version

5.7 (latest release), or 5.8

### Operating system

Windows

### Details on version and operating system

JabRef 5.8--2022-10-02--1797af8
Windows 10 10.0 amd64
Java 18.0.2.1
JavaFX 19+11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the p

[2022-10-03 16:36] #9200 closed

[2022-10-03 18:56] systemoperator commented on #9196
@Siedlerchr I've checked all the docs. Everything looks fine from the configuration.
I think, the main problem is, that I can start several instances of `JabRef` in parallel, which should not be possible, when ticking the setting `Network` -> `Listen for remote operation on port 6050`.

Furthermore, I don't understand, how it is possible with `jabrefHost.py` to send a reference to `JabRef` started

[2022-10-04 06:36] ryan-carpenter commented on #8825
Editing the registry should not be necessary to add JabRef to the `Open with …` context menu. I opened `Choose a default app for each type of file` in Windows settings, selected `.bib` and changed the association from Citavi to JabRef, then back again (leaving Citavi as the default) as suggested here: https://answers.microsoft.com/en-us/windows/forum/all/how-to-add-a-program-to-open-with-menu-in-w

[2022-10-04 07:27] mlep opened #9214 "Change case of an empty field throws an exception"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.8--2022-10-03--e48ed0c Linux 5.10.0-18-amd64 amd64  Java 18.0.2.1  JavaFX 19+11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have t

[2022-10-04 12:44] mbrdl commented on #7175
Any updates on this? Should be trivial since there is an ARM version for Debian now. I've tried building myself but haven't been able to generate an actual application

[2022-10-04 13:10] mbrdl commented on #7175
Any updates on this? The .app I managed to build with `./gradlew jpackage` doesn't work

[2022-10-04 15:10] Siedlerchr commented on #7175
@mbrdl  Hi, unfortunately Github still does not offer ARM VMs for building on CI and I neither have an ARM machine. But mabye soon.
Did you install the correct JDK 18 for arm? Otherwise ask @jangid19

[2022-10-04 16:01] Siedlerchr commented on #9204
Thanks for reporting this issue. I could reproduce this as well and will report the error to the XMPbox/pdfbox people as the erorr is coming from their library and I currently see no workaround from our side possible)

[2022-10-04 17:26] TheGor1lla commented on #9214
Handling it the same as the conversion menu sounds good to. I'll propose a change

[2022-10-05 08:10] NamanHimmatramka commented on #9119
I'm looking to contribute, can you assign this issue to me, please?

[2022-10-05 20:09] Siedlerchr commented on #9187
@thiagocferr  You might be interested, I was finally able to pinpoint the root cause. Saving and parsing itself are acutally fine, it's a special migration from keyword to special fields that does not take duplicates into account (it internally ues the entry's keyword set)

[2022-10-06 00:29] AkshatJain9 commented on #8948
Hi,

I am with a group of University Students looking to close this issue for a University assignment. Could I confirm that no one is actively working on this and possible be assigned. Thanks!

[2022-10-06 00:34] VernonKwa commented on #7522
Hi there, me and my group member are students and we would like to try and tackle this issue. Is there anyone working on this now? If not, would it be possible to assign this issue to us. Thank you.

[2022-10-06 00:41] ThiloteE commented on #8948
Welcome and thanks for your interest :-)

As a general advice for newcomers: Check out  https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/ja

[2022-10-07 09:51] ilippert commented on #9172
I confirm with
JabRef 5.8--2022-10-03--e48ed0c
Linux 5.19.12-200.fc36.x86_64 amd64
Java 18.0.2.1
JavaFX 19+11

[2022-10-07 10:01] ilippert opened #9219 "bibtex code not in sync with entry editor fields"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

JabRef 5.8--2022-10-03--e48ed0c

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the

[2022-10-07 12:25] AEgit commented on #9189
I disagree - so far JabRef's implementation has always been, that dragging an item to a group adds it to the group. But it does NOT remove it. I. e. you can drag'n'drop items to various groups and the respective item will be added to those groups. But you cannot remove items from groups by drag'n'dropping them. And that is a good implementation, I feel. So, I would argue to keep the current approa

[2022-10-07 12:30] linsui commented on #9189
I'm not sure what your point is. You can still drag an item to a group to add it.

[2022-10-07 12:33] AEgit commented on #9189
Ok, maybe I misunderstand you. What implementation do you have in mind that allows at the same time an item to be added to multiple groups but also removes an item from a group? The only way I could see that implemented would be to have an additional context menu and/or a switch in general settings that either allows items to be dragged and added to multiple groups OR one that only allows an item

[2022-10-07 12:46] linsui commented on #9189
What is the current behavior? I don't know how to drag an item to multiple groups...

[2022-10-07 12:51] AEgit commented on #9189
You just pick an item and drag and drop it onto one group. Then you pick the same item and drag'n'drop it onto another group. Repeat for as many groups as you like.

[2022-10-07 12:55] linsui commented on #9189
Ah, got it. What I want is:
When I drag an item to a group, if it's already in that group then remove it from the group. If it's not there, add it.

[2022-10-07 13:03] AEgit commented on #9189
I see - hmm, that could work, though I am not sure, whether this is what most users would expect. Currently if you drag an item to a group it is already part of, nothing happens (or rather, it stays with the group). This new change would lead to a behaviour where in certain cases, dragging an item to a group actually removes it.

[2022-10-07 15:15] Siedlerchr opened #9221 "Toolbar is greyed out when adding a new library and no others were opened before"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to repro

[2022-10-07 15:16] Siedlerchr commented on #9219
Guess it's the same underlying problem as in #9172

[2022-10-07 15:18] Siedlerchr commented on #9172
@HoussemNasri  Thanks for testing this. Maybe it has something to do with the changes to the observables (in combination with the new map etc stuff) Could be then an issue with our easybind fork

[2022-10-07 16:10] HoussemNasri commented on #9172
I don't think so. When I tested it, I only changed the version of JavaFX in the gradle file. If the changes in the observables or easybind triggered the issue then downgrading JavaFX shouldn't prevent the issue because the changes are still there. I saw a recent issue in JavaFX TreeView - [TreeView selects wrong item when folder above is modified and opened](https://bugs.openjdk.org/browse/JDK-829

[2022-10-07 17:48] Siedlerchr commented on #9172
Ah okay, thanks https://github.com/openjdk/jfx/blob/master/doc-files/release-notes-19.md
There was a fix regarding an IIOBE on the list change listener for tables. Maybe that was the culprit

[2022-10-07 18:02] HoussemNasri commented on #9172
Thank you; I'll take a look. It's hard to tell whether it's really a JavaFX-related issue. I played around with JabRef for ~5 minutes and was able to trigger it around 5 times while running JavaFX 19 and none while running version 18. It's probably a concurrency problem because it's randomly triggered and I still can't extract deterministic steps for triggering it.

[2022-10-07 18:12] Siedlerchr commented on #6190
@HoussemNasri  Just stumbled across this issue? I think we can close this?

[2022-10-07 18:17] HoussemNasri commented on #6190
https://github.com/JabRef/jabref/wiki/GSoC-2022-%E2%80%94-Implement-a-Three-Way-Merge-UI-for-merging-BibTeX-entries

[2022-10-07 18:17] #6190 closed

[2022-10-07 18:48] #9195 closed

[2022-10-07 19:17] Gairick52 commented on #9221
@Siedlerchr Hey i am beginner in this project can you suggest me beginner friendly issues to contribute to

[2022-10-07 19:23] Siedlerchr commented on #9221
You can try to find the cause for this issue or take a look a the good first issues label

[2022-10-08 14:03] HoussemNasri opened #9223 "Cleanup entries dialog is partially visible"
**Is your suggestion for improvement related to a problem? Please describe.**
When resizing the cleanup entries dialog, some of the content becomes invisible.

**Describe the solution you'd like**
I would like to be able to scroll over the content when it exceeds the window size.

**Additional context**
![abbg](https://user-images.githubusercontent.com/21198231/194708385-52391ccc-9be9-486a-a484-cc

[2022-10-08 14:15] HoussemNasri opened #9224 "UI flickering in entry table preferences"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to rep

[2022-10-08 14:16] waterflow80 commented on #9223
Hi, Could you please give me some instructions on where to find the classes (or folders) concerned with problem.
Thanks.

[2022-10-08 14:22] HoussemNasri commented on #9223
Hi @waterflow80. You can start by looking into `CleanupDialog` and `CleanupPresetPanel`. They are both located under `org.jabref.gui.cleanup` package name.

[2022-10-08 16:57] Richard7111 commented on #9224
Hello, can you assign this issue to me?

[2022-10-08 18:59] HoussemNasri commented on #9171
@m-mauersberger We have made changes to the build since you last tried it to prevent the crash at startup. Can you test it again?

[2022-10-08 23:53] ungeahnt commented on #7757
JabRef 5.7--2022-08-05--73c111c
Windows 8.1 6.3 amd64
Java 18.0.2
JavaFX 18.0.1+2

At least these issues still exists. I'm a JabRef newbie and I was quite irritated by the 'Deprecated tab' and spend some time to check my entries and configuration ... until I found this issue.

[2022-10-09 09:11] sjb-ch1mp commented on #8739
G'day! I can see that there's been some discussion in this thread, but that the issue is currently unassigned. If possible, I would like to have a stab at this because it sounds like an interesting problem. I have had a preliminary look at the code base and I have **some** confidence that I might be concoct a solution. I will be happy to submit a draft pull request when I've made some progress so

[2022-10-09 09:38] qingyacanxue commented on #9017
Hello, can you assign this issue to me? This may be relative to the javafx funciton wrappingWidthProperty() and ScrollPane property, which I have a little experience.

[2022-10-09 12:46] ThiloteE commented on #8739
Sure! You are welcome! :-)

As a general advise for JabRef newcomers: Please check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jab

[2022-10-09 12:51] ThiloteE commented on #9017
Will do :-) Thank you for trying to fix this.

As a general advise: Check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat

[2022-10-09 13:05] ThiloteE commented on #9119
Usually I would say first come, first served, but since both @John-Poulos and @sreenath-tm seem to not have created a pull-request within the last month, I assume they have given up and will assign this to @NamanHimmatramka

[2022-10-09 13:26] ThiloteE commented on #7522
@VernonKwa Hey, you are welcome. If you really want to work on this, I think you can (although I personally don't really understand what it is about (sorry, no Programmer here) :sweat_smile: ).

Be aware, this issue is not marked as good first issue. If you are new to JabRef and students, the easiest and most recommended issues to choose from are issues with the label "[good first issue](https://g

[2022-10-09 13:27] ThiloteE commented on #7522
@VernonKwa As a general advice: Check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

Try to open a (draft) pull reques

[2022-10-09 15:01] shafinkamal commented on #8708
G'day! I'm a new contributor and I would like to a make an attempt at fixing this issue. I have read the [developer contribution page ](https://devdocs.jabref.org/contributing) and have setup an IntelliJ environment for local JabRef development as per [the instructions](https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.html).

I was hoping someone could p

[2022-10-09 15:14] ThiloteE commented on #8708
Hi @shafinkamal yes, you are welcome. If you look at how the other fields (e.g. `title`, `date`, `pages` etcetera) are implemented and fetched, you might be able to add the `ISBN` field similarly. If you read carefully, I think most, if not all relevant information to solve this issue has already been presented in previous comments. A first step would be to look at the [code of the previous pull-r

[2022-10-10 01:27] u7283219 commented on #9049
Hey, I am a student and a new contributor to the project, can I be assigned this issue? I have set up the project, read the project documentation and contribution statements. Could you please give me some instructions and point me in the direction of where to find the classes (or folders) concerned with the problem and where the "Case sensitive, Regular expression" group settings are currently pro

[2022-10-10 02:03] qingyacanxue commented on #9017
Hello, I tried to fix the bug, and here are some figures with the screen shots of the layout changes. I only changed the src\main\java\org\jabref\gui\preferences\importexprot\ImportExportTab.fxml file.

1.	For the text, I added warping.
2.	For the horizontal scroll bar, I removed all the HBox.hgrow="ALWAYS", but when dragging to the rightmost, it is still existing.
3.	I changed the textfield prewi

[2022-10-10 02:34] u7283219 commented on #8627
I think @Neitan2001 is trying to say that there should be a check in Author.java to ensure the author's name is capitalised. If this is indeed the case and appropriate for the project can I be assigned this issue? I have set up the project, read the project documentation and contribution statements.

Thanks

[2022-10-10 04:43] shafinkamal commented on #8708
Hi @RonaldSnijder,

Thank you for your comment. I note that in an example query:

https://directory.doabooks.org/rest/search?query=%22i+open+fire%22&expand=metadata,bitstreams

There is no metadata relating to the ISBN within the connected `BITSTREAM` as you have suggested. I was wondering if you knew if there was another way to observe the metadata to obtain the ISBN?

Thanks,
Shafin

[2022-10-10 07:57] ThiloteE commented on #8627
Thoughts:

- I wonder if there are languages that have no capital case?
   -  users would loose the possibility to enter data with lower case
- OP seems to have lost interest and failed to clarify
- Automatically changing entry metadata always poses a risk. We have users with libraries spanning thousands of entries that they may share with multiple machines and users. If there indeed are many entr

[2022-10-10 08:03] ThiloteE commented on #9049
You are welcome :-)

If you have your [local workspace](https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace) set up, then feel free to work on this.

[2022-10-10 08:04] ThiloteE commented on #9049
@calixtus, I think you know a lot about preferences. Do you maybe have a idea how this could be tackled and where the code lives?

[2022-10-10 08:08] Siedlerchr commented on #8627
Isn't that already this TitleCase/SentenceCase formatter which you can use?

[2022-10-10 08:17] calixtus commented on #9221
Please use the gitter chat or the discussion board for general questions about contributing to jabref.

[2022-10-10 08:19] calixtus commented on #9223
I thought I had added a scrollpane to this dialog once...

[2022-10-10 08:24] mlep commented on #8627
Note that in some languages, some part of names should not be always capitalized.
Examples: van, von, der, de, da, du, ben,

And in some languages, what looks like a compound first name is not a compound first name...
Example (Chinese): Chiu-wai (and not Chiu-Wai)

Of course, this is a "just" convention. But JabRef should respect such a convention.

[2022-10-10 08:27] calixtus commented on #9049
This is not about the prefs but the groups. Try looking into the gui.groups package. Issue seems without further investigation to have something to do with the dialog not setting the search options on creation.

Be aware that there are coming heavy changes to the search engine and on how Regen or case sensitivity is handled in the next week's, since we are moving from the internal JavaFX table fil

[2022-10-10 08:46] #8189 closed

[2022-10-10 10:06] waterflow80 commented on #9223
Well, I think its a good opportunity for me to start contributing to *JabRef*

[2022-10-10 19:47] koppor commented on #9172
DevCall decision: We create an explicit branch with JavaFX 18, ask users for feedback - and see if the issue still appears.

[2022-10-10 20:41] #9187 closed

[2022-10-10 20:45] Siedlerchr commented on #8586
@m-mauersberger  I think we finally found the root cause and fixed it.
https://builds.jabref.org/main/

[2022-10-10 23:42] YesWeCandrew commented on #8954
I'd like to investigate this further and work on this issue, can it be assigned to me? I'll be working with one other person so we should be able to get it done

[2022-10-11 00:28] muzhenying commented on #9145
I would like to contribute to this issue.

[2022-10-11 00:32] ethantr commented on #6601
Is this issue still being worked on? I've noticed a few other students have looked at it and unsure if it's still taken.
If not, I would love take a look at this for a university assignment.

[2022-10-11 07:32] calixtus commented on #6601
Seems like it's still open and I don't see anybody else working for it. Give it a shot. 👍
Please give attention to https://github.com/JabRef/jabref/issues/6601#issuecomment-1079706114

[2022-10-11 07:49] CodeSJS commented on #8870
5.3 opens the old file successfully!  5.6 and 5.7 do not.

The old version last saw emacs several years ago, before I saw the light and switched to jabref.  It had been saved by jabref many times.

The only time I saved the file from emacs using undecided-unix was the other day, (wrongly) thinking that would take care of character set issues.  Now I know to save using utf-8.

Thanks for your help,

[2022-10-11 08:14] AkshatJain9 commented on #8948
Would you be able to clarify by what you mean by the first two points? I am currently working on the issue and have so far gathered that whenever we write an `&`, it should appear as an `\&` in the bib file (unless we are in a url{...} command). Just a little confused on what you are proposing with the first two points. Thanks!

[2022-10-11 09:05] ThiloteE commented on #8954
You are welcome. If you really want to, you can of course, but since you are new to GitHub, I assume this is your first or second Open Source project. We have explicitly collected [good first issues](https://github.com/JabRef/jabref/labels/good%20first%20issue) for newcomers and we also have [candidates for university projects](https://github.com/orgs/JabRef/projects/3). If you ever feel like you

[2022-10-11 09:06] ThiloteE commented on #8954
As a general advice, check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

[2022-10-11 09:16] ThiloteE commented on #9145
@muzhenying, what would these improvements be?

I am thankful for your interest, but have you noticed that @ezienecker has already delivered some good work? As you can see there is an open pull-request just waiting to be finalised.

Unless you substantially can improve ezeneckers work (I would not know how), I would suggest to look for another issue. If you are pretty new to open source programmin

[2022-10-11 12:29] enrique9318 commented on #8920
Hi! can I work on this issue?

[2022-10-11 13:25] ThiloteE commented on #8920
sure :-)

As a general advice: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

Try to open a (draft) pull request

[2022-10-11 13:41] muzhenying commented on #9145
Thanks, @ThiloteE I will be looking for another issue.

[2022-10-12 11:10] Zlisch commented on #8400
Hi, could you assign this issue to me?

[2022-10-12 14:40] tobiasdiez opened #9244 "Streamline dependencies in order to free-up modules"
Attached is the full list of modules we are using. A few initial observations:
- java.desktop (awt/swing) takes quite a bit of space
- there are a couple of xml libraries, can they be unified?

[log.txt](https://github.com/JabRef/jabref/files/9765971/log.txt)
[code]

[2022-10-12 15:28] Siedlerchr commented on #9244
java desktop is neeed. Javafx does not support all things awt does. AWT is still needed.
jackson is already moduliarized

[2022-10-12 17:09] #9145 closed

[2022-10-12 17:12] Siedlerchr commented on #9204
Corresponding bug report now created https://issues.apache.org/jira/browse/PDFBOX-5525

[2022-10-12 17:17] Siedlerchr opened #9247 "Mac No more global menu"
Regression from https://github.com/JabRef/jabref/pull/9217

Executed ./gradllew run

<img width="1448" alt="grafik" src="https://user-images.githubusercontent.com/320228/195406986-de06e9be-2467-465a-a229-c87684f69b9b.png">

[2022-10-12 17:28] Siedlerchr commented on #9247
Binary from jabref works

[2022-10-12 17:51] #8708 closed

[2022-10-13 05:41] tomnguye commented on #9190
Hi, I'm a new contributor. I would like to try solving this. Could you assign me this issue?

[2022-10-13 06:31] yanyanliu1400 commented on #9189
Hi, I am a new contributor and I would like to make an attempt at resolving this issue. Could it please be assigned to me?

I have followed [the instructions](https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.html) and set up a local workspace.

I have also read the [contribution guide](https://devdocs.jabref.org/contributing).

I was hoping I could recei

[2022-10-13 06:40] muzhenying commented on #6186
Hi this sounds like an interesting feature and we would like to try to implement it if it is still undergoing development.

[2022-10-13 07:21] mlep commented on #9189
@yanyanliu1400 Welcome to JabRef!
This issue is still under discussion, and a final decision has not been made (to implement it or not? An alternative? etc.). So, I suggest you choose among the (many) other issues. As a new contributor, you may prefer the ones tagged as "good first issue" (https://github.com/JabRef/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22).

[2022-10-13 09:00] ThiloteE commented on #9190
hey, you can try of course.

Seeing as you are pretty new to GitHub, I assume you are new to programming. For newcomers we have assigned  issues with the tag "[good first issues](https://github.com/JabRef/jabref/labels/good%20first%20issue)". [Good first issues from Koppor](https://github.com/koppor/jabref/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) also count. If you get stuck h

[2022-10-13 09:01] ThiloteE commented on #9190
As a general advice: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

Try to open a (draft) pull request early on,

[2022-10-13 09:07] ThiloteE commented on #9189
i will increase priority to normal, once discussion has finished

[2022-10-13 09:13] mlep commented on #9189
@ThiloteE: Wouldn't a tag "Ready for implementation" be useful?

[2022-10-13 09:18] Siedlerchr commented on #9189
I suggest the other way around. Labeling issues that still need a decision.

[2022-10-13 09:18] mlep commented on #9189
I was thinking of adding a trash icon to remove a record from a group by drag-and-drop. However, I am not sure that the consequences will be clear to a user: will it remove the record from the selected groups? from all the groups? And if the selected group is the main group ("all entries"), the action should do nothing (or delete the entry from the database?). Difficult to get a IU with a clear pu

[2022-10-13 09:19] mlep commented on #9189
@Siedlerchr Better idea! That would mean that a new entry gets this label by default, I guess.

[2022-10-13 09:37] ThiloteE commented on #9189
In theory, labeling all issues with "still requires decision" sounds good, but in practice what will happen is this:

Someone has to go through all issues to un-label them. unlabeled issues are "stuck" and "frozen" in their form and nobody will do work on them. As soon as new discussion pops up, it has to be labeled again, which requires constant attention by maintainers and constant thinking abou

[2022-10-13 09:42] mlep commented on #9189
@ThiloteE Good point. Let's continue as it is now.

[2022-10-13 10:06] ThiloteE commented on #9189
To be honest, I think this not a good implementation. The same action will lead to two different outcomes, depending on circumstances, which will surprise users that are new to JabRef. It is very "hidden" and not self explanatory.

A clear implementation would be, if the same action will always lead to the same outcome.

[2022-10-13 16:26] THausherr commented on #9204
Get a snapshot here:
https://repository.apache.org/content/groups/snapshots/org/apache/pdfbox/

[2022-10-14 04:00] AvaniDhaliwal commented on #7392
Hello, is this issue still valid? If so, we are a group of university students who would like to attempt to solve this. Thanks!

[2022-10-14 04:00] idadoudou commented on #7392
Please use ***@***.*** due that it is difficult to login qq email.

[2022-10-14 04:17] AvaniDhaliwal commented on #7392
I'm sorry, I'm not sure what you mean. Could you please rephrase.

[2022-10-14 04:34] AkshatJain9 commented on #8948
Looking into this I have implemented a basic translation from & -> \& which looks like the following. Notice that the & in the Journal field is parsed as a \& in the BibTeX as required;
![image](https://user-images.githubusercontent.com/59996182/195763055-39d9d389-50d2-4c7a-9ed6-80ec546f9834.png)
![image](https://user-images.githubusercontent.com/59996182/195763073-a07c8d7d-c98c-4c26-96e9-ad665cd4

[2022-10-14 08:43] AkshatJain9 commented on #8948
I should have clarified, my teammate has already worked on the mechanisms for reading from the abbreviations repo and treating & and \& as equal, my job is to just make sure & is written correctly in the BibTeX.

I saw EscapeAmpersandsFormatter but struggled to understand where it was being used currently, seems like its functionality is nested in a lot of other classes which made it a little diff

[2022-10-14 09:56] ThiloteE commented on #6186
Sure, have a go at it. Kindle is a proprietary (closed source?) application, but widely used so it would be nice to have support for it. If you ever get stuck during implementation, you could fallback to provide support for open source alternatives like Calibre, LibreraReader or DocumentViewer instead. Alternatives can be found here: https://alternativeto.net/software/kindle/?license=opensource

A

[2022-10-14 12:36] tobiasdiez commented on #6186
Note that in the meantime amazon improved their "send to kindle by mail" feature and now also accepts epub files there. So the first step "converting to mobi" is no longer necessary, and it really only amounts to sending an email to the correct kindle email. For this, we can also skip the whole smtp business and use the strategy of https://github.com/JabRef/jabref/blob/35cd5d03e106c102b9d2aad3dbd5

[2022-10-14 13:38] Thenitesh143 commented on #9108
which tech stack is required to contribute to this project

[2022-10-14 13:42] Thenitesh143 commented on #9108
Can I contribute to this project. I have just learn java and want to begin to open source contribution

[2022-10-14 20:03] koppor commented on #9108
I think, this issue should be handled differently:

- If a selection of JabRef leads to the fact that the entry of the entry editor is not in the table any more: Close the entry editor
- If a selection of JabRef leads to the fact that the entry of the entry editor is shown again in the table: Reopen the entry editor

Selection of JabRef

- Selection of a group
- Search

Nevertheless, there should

[2022-10-14 20:15] koppor commented on #7925
The test case should include passing command line parameters to JabRef. Maybe even a new GitHub workflow needs to be generated.

@Marathon2112 Could you share your complete command line? I would assume something like

    jabref -w Weiß_2018 test.bib

[2022-10-14 20:18] koppor commented on #7392
@AvaniDhaliwal I think @idadoudou should reconfigure its email adress stored on GitHub. Currently, they receives notifications from this issue.

[2022-10-14 20:31] koppor commented on #7392
@AvaniDhaliwal Please thoroughly read what is written at https://github.com/JabRef/jabref/issues/7392#issuecomment-902222582. You have to replace

[2022-10-14 20:52] HoussemNasri commented on #7392
@AvaniDhaliwal I haven't looked into this issue in a long time. It's definitely a difficult one, and it's not a good first issue. To solve this for good, one needs to make many changes across the codebase and a change to the entire keybinding architecture; thus, a good understanding of the codebase is required. However, as @koppor stated, you are welcome to read the comment above to better underst

[2022-10-14 21:47] koppor commented on #8948
Please do NOT change the BibTeX reading and writing! JabRef tries to keep the .bib file as is.

We have the formatters in place, which can be configured by the user at library properties - and also at Quality -> cleanup entries. See https://docs.jabref.org/finding-sorting-and-cleaning-entries/cleanupentries for details.

The ideas were following:

1. Journal abbreviations have the ampersand stored

[2022-10-14 22:18] koppor commented on #6857
When working on this, other issues tagged with `maintable` should also be read. Especially https://github.com/JabRef/jabref/issues/6294.

[2022-10-14 22:19] koppor commented on #8954
Please also read into existing code at https://github.com/JabRef/jabref/pull/7160.

[2022-10-14 22:22] koppor commented on #8586
The fixing PR was https://github.com/JabRef/jabref/pull/9216

[2022-10-14 22:26] #8586 closed

[2022-10-14 22:29] koppor commented on #8627
Note the current implementation does not take care about the type of the field:

![grafik](https://user-images.githubusercontent.com/1366654/195952879-8edbca26-d769-47f6-81b2-3dbcee62322b.png)

When working on this, maybe following two issues can be handled, too:

- https://github.com/koppor/jabref/issues/308
- https://github.com/koppor/jabref/issues/356

[2022-10-14 22:30] koppor commented on #8627
No one else showed up for an interest; I will close this issue. If someone really wants this feature, please speak up.

[2022-10-14 22:30] #8627 closed

[2022-10-14 23:02] koppor commented on #8948
@AkshatJain9 Maybe a good start would be to work on https://github.com/koppor/jabref/issues/585. This is a very focussed issue.

[2022-10-14 23:03] koppor commented on #6448
@JustinNgu18 Yes.

[2022-10-15 03:47] Zlisch commented on #8400
Sorry, our team decided to work on other issues. I've unassigned this issue.

[2022-10-15 06:14] AkshatJain9 commented on #8948
Thanks, I'll have a look!

[2022-10-15 12:37] ANUu7312578 commented on #8948
Hi! I'm working on this project with @AkshatJain9 and was hoping to clarify my understanding of the issue. In the point about "JabRef should be able to handle both & and \\& when abbrevating and unabbreviating" mentioned in https://github.com/JabRef/jabref/issues/8948#issuecomment-1174044999, is this referring to the ability for a journal title to be abbreviated even when the & is escaped?

For ex

[2022-10-15 13:03] tomazari commented on #8386
Hey all! I am a software engineering student and would love to contribute to the project. I have seen this issue which looks fairly approachable and would love to be assigned to it!

I have been able to reproduce this (as described) on **Windows 10**.
However, I could also argue this is not an issue as when a user de-selects the font size override, they may still seek to keep this font size. When

[2022-10-15 14:56] Siedlerchr commented on #9172
I wil prepare a thing

[2022-10-15 15:05] Siedlerchr commented on #8948
@AkshatJain9  Yes. As you can see JabRef stores the journal names and abbreviations together in a database (created fromt the csv files) and then does a lookup for the journal name and the abbreviation.

1. Unescaped: ACS Applied Materials & Interfaces -> ACS Appl. Mater. Interfaces
2. Escaped: ACS Applied Materials \& Interfaces  -> ACS Appl. Mater. Interfaces

For the other direction, the unnabb

[2022-10-15 16:13] #9223 closed

[2022-10-15 16:43] TinoJ opened #9254 "ISBN fetcher: OttoBib is no longer operational"
### JabRef version

Other (please describe below)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

New entry -

[2022-10-15 17:30] Siedlerchr commented on #9254
Thanks for your report. We added two new alternative ISBN fetchers in the development version. DOAB and https://github.com/JabRef/jabref/pull/9205 doi-to-bibtex-converter.herokuapp.com whic also support ISBN
You can try the latest dev version here https://builds.jabref.org/main/

Remember to make a backup of your library before trying out the new version

[2022-10-15 20:09] Siedlerchr commented on #9204
@THausherr  Thanks for the quick fix. Is there any ETA for a new RC?

[2022-10-15 20:11] Siedlerchr commented on #9172
@mlep Can you try and test this version? I downgraded to javafx18 so we can see if this was introduced there
  https://builds.jabref.org/pull/9253/merge/

[2022-10-15 20:36] mlep commented on #9172
The bug is there.

[2022-10-15 22:52] u7306160 commented on #8772
Hi, my group plan to work on this issue and do it by the end of October 2022. This is our first issue on an open-source project. Could you assign this issue to me, please?

[2022-10-16 00:50] ANUu7312578 commented on #8948
Hi, was just wondering if this comment (https://github.com/JabRef/jabref/issues/8948#issuecomment-1279763204) was actually replying to my question? Additionally, would I be able to confirm that in the unnabbreviation direction, the & is always unescaped?

[2022-10-16 03:17] u7283157 commented on #8443
Hi, my team and I are planning to work on this issue and have it done by the end of October. Could we please be assigned this issue?

[2022-10-16 03:35] Anqiii-hub commented on #9053
Hi I think I can fix this issue, could you assign this issue to me?

[2022-10-16 06:13] YesWeCandrew commented on #8954
Thanks ThiloteE and koppor - I'll let you know if we have any issues and will investigate #7160.

[2022-10-16 07:54] sjb-ch1mp commented on #8739
Apologies @ThiloteE, I think I bit off more than I can chew with this one. I'm going to unassign myself so I don't waste anymore time. I will look for a more 'newcomer-friendly' issue, because this is far more complex a problem than I first anticipated.

[2022-10-16 08:16] ThiloteE commented on #9053
Thank you :-)

As a general advice for newcomers: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

Try to open a (

[2022-10-16 08:17] ThiloteE commented on #9053
@HoussemNasri Did you mean this preference?

![grafik](https://user-images.githubusercontent.com/73715071/196025608-3937336d-e8fa-45d5-9aff-1b43886706b2.png)

I think the diff separator should probably always be similar to what the user has set in this preference

[2022-10-16 08:24] ThiloteE commented on #8739
Fair enough.

For anybody else, who might want to have a shot at this: It's not like the issue has to be complete from the start. We have split the task up into multiple smaller issues (and if necessary could be split up into even smaller ones by the people that know more about the code) and it is good enough, if only one or a few of these smaller issues are worked on. Step by step :-)

[2022-10-16 09:14] Siedlerchr commented on #8443
@u7283157  We are looking foward to your work. Please also have a look at the discussions here:
https://github.com/JabRef/jabref/pull/7825
The idea was to have multiple color icon like VSCode.
It would be cool to have screenshots how it would look like

[2022-10-16 09:58] sjb-ch1mp commented on #8888
JabRef 100.0.0
Windows 11 10.0 amd64
Java 18.0.2.1
JavaFX 19+11

When testing this issue - it appears to be the case that if I select **any** tab (even the General tab that is already selected when the dialog opens) then the ESC button will not close the dialog as expected. This issue appears to be more 'newcomer-friendly' than the previous issue I selected. If possible, I would like to have it as

[2022-10-16 10:02] Siedlerchr commented on #8888
@sjb-ch1mp  Thanks for taking a look! There was also recently another related issue to the use of the ENTER buton https://github.com/JabRef/jabref/pull/9225
Maybe that helps you

[2022-10-16 12:06] HoussemNasri commented on #9053
No, they are totally different. The diff highlighter separator can be either a space or an empty string. It's used for splitting the text before comparison. For example for diffing `abcd w` and `ebdd sa`, we can split the texts by space and compare them: `abcd` vs `ebdd` and `w` vs `sa`, or we can compare them character by character *(split by an empty string)*: `a` vs `e`, `b` vs `b`, etc.

[2022-10-16 15:11] Siedlerchr commented on #8772
@u7306160  This issue is **not** ready to take because it needs prior discussion and a decision if we really want to do this. I currently don't think so.

[2022-10-16 23:28] yanyanliu1400 commented on #8701
Hi, I am a new contributor to and I would like to make an attempt at resolving this issue. Could it please be assigned to me?

I have followed [the instructions](https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.html) and set up a local workspace.

I have also read the [contribution guide](https://devdocs.jabref.org/contributing).

I was hoping I could re

[2022-10-16 23:46] yanyanliu1400 commented on #9071
Hi, I would like to make an attempt at resolving this issue. Could it please be assigned to me?

I have followed [the instructions](https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.html) and set up a local workspace.

I have also read the [contribution guide](https://devdocs.jabref.org/contributing).

It would be great if I could receive some advice/poin

[2022-10-17 04:46] zeyu-gong commented on #9108
Can I deal with this problem？

[2022-10-17 04:53] u7306160 commented on #9055
Hi, my group plan to work on this issue and do it by the end of October 2022. This is our first issue on an open-source project. Looks like it hasn't been updated since August. Could you assign this issue to me, please?

[2022-10-17 05:12] shafinkamal commented on #9031
Hi @0x002A, I'm a new contributor — could you please provide the hints/information as to where to look for the implementation of the stars?

Thanks

[2022-10-17 07:19] muzhenying commented on #9221
same issue here

[2022-10-17 09:22] ThiloteE commented on #9055
sure :-)

As a general advice for newcomers: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

Try to open a (draft

[2022-10-17 10:00] ThiloteE commented on #8701
Marking this with devcall to explore the idea of storing more preferences in the bib file.

Related issue: #8836

What speaks for this:

- Eases maintaining of shared databases

What speaks against:

- Bib file pollution (When it is NOT wanted to automatically load preferences from colleagues in a shared database)
- Most (but not all) JabRef preferences are stored elsewhere (might lead to confusio

[2022-10-17 10:55] m-mauersberger commented on #8586
I can confirm that the problem has been solved. Thank you very much for your efforts!

[2022-10-17 11:12] Siedlerchr commented on #9247
A second thing with the launcher stuff now, the top menu is gone1
<img width="732" alt="grafik" src="https://user-images.githubusercontent.com/320228/196162963-ade33b93-d75e-4b9d-895b-ed12ec3d2576.png">

[2022-10-17 11:16] Siedlerchr opened #9256 "Download single file leads to not on fx thread error"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to repro

[2022-10-17 12:21] shafinkamal commented on #8729
Hello, could I please be assigned to this issue? I'd like to make an attempt on it. Could someone please also let me know where to place the listener so that it can listen in the background for changes in MacOS System Preferences?

[2022-10-17 12:33] Siedlerchr commented on #8729
@shafinkamal I would just check this once on startup or in the preferences. There needs to be an option to override the automatic detection

[2022-10-17 14:57] Marathon2112 commented on #7925
That would be the command line to use (when writing this bug report, I was using the GUI feature however).

When I do run this command, I get the following error:

I can confirm that the file is linked in the database, despite the error message.

[2022-10-17 16:30] TinoJ commented on #9254
Hi Christoph,
I got my hand on a second computer and tested the version JabRef-5.8-portable_windows.zip. I compared old version and new version with about 10 book entries and the new version worked much better. Sometimes the author was missing or the number of pages, but this is probably a data quality issue with the data provider.
Thanks a lot for the reply and fix! :)

[2022-10-17 17:15] #9254 closed

[2022-10-17 19:20] Siedlerchr commented on #9247
my gues is that the toolkit is initalized too late?

[2022-10-17 19:34] tobiasdiez commented on #9247
I don't see where this is coming from, the structure of the code remained the same:

before: JabRefLauncher.main (entry class) calls JabRefMain.main (extending Application), which calls `launch`
after: Launcher.main (entry class) calls MainApplication.create (extending Application), which calls `launch`

So maybe it works if `create` is renamed to `main`?

[2022-10-17 19:44] Siedlerchr commented on #9247
I tested it with the reverted PR and there it works fine. But I will try with the main. Maybe also something with the gradle main?

[2022-10-17 20:09] Siedlerchr commented on #9247
One thing I noticed is that the arguments array is not passed to the launch method. Will test further

[2022-10-17 21:02] Siedlerchr commented on #8948
@ANUu7312578  Yes, sorry, tagged the wrong handle ;)

Yes, I would say for the un-abbreviate we should always use the unescaped variant.
e.g.
ACS Appl. Mater. Interfaces -> ACS Applied Materials & Interfaces

[2022-10-17 22:32] ethantr commented on #6601
Been making progress on this issues. I have been able to access the currently used columns, but my current problem is being able to create objects of the most commonly used columns. Just wondering if there is a way to access/create these MainColumn objects so if they're not currently in the MainTabke I can still access them.

[2022-10-17 23:02] calixtus commented on #6601
Just modify or overload the constructor of the MainTableColumnFactory to make it a bit more generic, for instance instead of accessing directly the columnPreferences just provide a column type to recive a perfectly useable MainTableColumn. If you use the column objects in the Right Click Menu you can probably just add them by demand to the column list of the MainTable. But I would not advise you t

[2022-10-18 09:45] june-hong commented on #8806
Hi, could I be able to work on this issue if nobody is working on it?

[2022-10-18 13:04] RJDan opened #9264 "Jabref snap fails to open after update"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 22.04, Swaywm 17, JabRef   latest/edge:      5.8.168   2022-10-18 (2043)

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the

[2022-10-18 13:06] RJDan commented on #9264
Jabref was working before I refreshed my snaps so I would guess it is related to the changes in the latest version.

[2022-10-18 13:41] Siedlerchr commented on #9264
Probably side effect of https://github.com/JabRef/jabref/pull/9217

[2022-10-18 16:24] Richard7111 commented on #9224
Go for it! :)

On Tue, 18 Oct 2022, 17:32 Manu Vaillant, ***@***.***> wrote:

[2022-10-18 18:05] ThiloteE commented on #8823
To reiterate: There is still the problem that when there are more than 3 files attached, some files will be hidden from view.

Here is where the relevant files and where most of the code that is responsible for this behaviour lives:

JabRef/src/main/java/org/jabref/gui/fieldeditors/LinkedFilesEditor.fxml
JabRef/src/main/java/org/jabref.gui/fieldeditors/LinkedFilesEditor.java
JabRef/src/main/java/o

[2022-10-19 06:21] zeyu-gong commented on #9108
No, only me @ThiloteE

[2022-10-19 08:18] paksnuk opened #9267 "Auto-linking files with safe character replacements"
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 11 22H2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

When using charact

[2022-10-19 16:18] claell commented on #8806
@june-hong yes, that'd be appreciated!

[2022-10-19 20:04] HakonHarnes commented on #5867
Setting the java option -Djdk.gtk.version=2 fixed the issue for me on i3wm.

[2022-10-20 07:06] u6689285 commented on #9055
Hi, just want to check that it needs us to solve that when the user changes the size of the dialog, other components in the dialog should change the size with same ratio. or when it starts first time, the dialog should be the full screen.

[2022-10-20 12:01] michaela559 commented on #9153
Hello, could you assign this to me please?

[2022-10-20 12:37] ThiloteE commented on #9153
As a general advice for newcomers: check out https://github.com/JabRef/jabref/blob/main/CONTRIBUTING.md for a start. Also, https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace is worth having a look at. Feel free to ask if you have any questions here on GitHub or also at JabRef's [Gitter](https://gitter.im/JabRef/jabref) chat.

Try to open a (draft) pull req

[2022-10-21 03:44] huangderek02 commented on #8747
Hi @ilippert , can you please assign me this issue?

[2022-10-21 03:46] Rita-Zhou commented on #9267
Hi, I would like to work on this issue, would you mind assign it to me, please? Thanks!

[2022-10-21 14:49] meatnordrink opened #9274 "An error should display when you attempt to add to a group that doesn't allow manual addition."
**Is your suggestion for improvement related to a problem? Please describe.**
I almost stopped using JabRef right off the bat because I couldn't figure out how to add articles to groups. Eventually, after wasting an hour or so, I figured out that I couldn't manually add articles to groups that I created via the "Searching for a Keyword" option. I had read the documentation for groups, but it didn'

[2022-10-21 15:56] ThiloteE commented on #9274
Closing this.

There ARE docs that explain how it is done. Maybe the docs are not well explained enough though.

Refs

- https://docs.jabref.org/finding-sorting-and-cleaning-entries/groups#creating-a-group-and-adding-entries-to-it
- https://github.com/JabRef/user-documentation/pull/405#pullrequestreview-1151179747

- #9072

I just tested and it actually is possible to add entries to groups that co

[2022-10-21 16:09] meatnordrink commented on #9274
The existing #[#creating-a-group-and-adding-entries-to-it](https://docs.jabref.org/finding-sorting-and-cleaning-entries/groups#creating-a-group-and-adding-entries-to-it) section you referenced does not actually address what I'm talking about. I'm referring to adding articles to a group *after the group has already been created,* which this section doesn't address.

Well, I've tried on two differen

[2022-10-21 16:13] ThiloteE commented on #9274
Fair enough

[2022-10-21 17:49] #9214 closed

[2022-10-21 19:26] k3KAW8Pnf7mkmdSMPHz27 commented on #8888
Partially fixed by @sjb-ch1mp in #9268 .

A different strategy might be needed to address it for all `ListView`s. Perhaps https://stackoverflow.com/a/66878882 can be useful.

[2022-10-21 22:04] tobiasdiez commented on #9221
Related: you also cannot save the empty library, which should be possible

[2022-10-22 00:36] sjb-ch1mp commented on #8888
@k3KAW8Pnf7mkmdSMPHz27 Thanks so much for your feedback! I was under the impression that I had tested the other ListViews that appeared in the different menus, but I clearly was not very thorough because I immediately found more that did not respect the CLOSE event, for example:

Options > Preferences > Citation key generator > Key patterns
Options > Preferences > Journal abbreviations > Journal a

[2022-10-22 01:32] idadoudou opened #9276 "Ctrl+Shift+K can copy the citation key with a byproduct effect"
### JabRef version

5.7 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Linux localhost.localdomain 5.19.12-200.fc36.x86_64 #1 SMP PREEMPT_DYNAMIC Wed Sep 28 17:11:05 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I ha

[2022-10-22 02:07] idadoudou opened #9277 "after changing the attachment file name and moving it into dest directory"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Linux localhost.localdomain 5.19.12-200.fc36.x86_64 #1 SMP PREEMPT_DYNAMIC Wed Sep 28 17:11:05 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Checked with the latest development build

- [X] I made a backup of my libraries before testing

[2022-10-22 03:04] u6689285 commented on #9055
Hi, do you mean when you open the dialog first time,  it is over the screen?

[2022-10-22 09:46] ThiloteE commented on #9055
@u6689285 Koppor is a very busy person and he has so many issues and messages spamming him that this here might have flown a little under his radar. Do you have two screens you could test this with a resolution of 1920x1080? You can enter the "merge entries dialogue" by selecting two entries and then choose "Quality --> Merge entries (CTRL+M)"

If I understand Koppor right, then yes, at first star

[2022-10-22 10:51] tomazari opened #9279 "Changing the font size preference does not update the menu bar font size"
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10 21H2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Click options a

[2022-10-22 13:14] sreenath-tm commented on #9279
I would like to contribute to the issue. Can you assign this to me.

[2022-10-22 14:03] Gpax971 opened #9281 ""Remove group" options are presented for clicked group, but actions are taken on all selected groups"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Windows 21H2, jabref build date: 22/10/22

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the proble

[2022-10-22 17:20] #9264 closed

[2022-10-22 20:26] Siedlerchr commented on #9196
@systemoperator  Can you please test the latest dev version? We've reworked the starting of JabRef and the checking for another instance

[2022-10-22 20:29] Siedlerchr commented on #9256
Seems to be fixed now. Was proba

[2022-10-22 20:29] #9256 closed

[2022-10-23 09:19] ANUu7312578 commented on #8948
Hi! I opened a draft pull request which attempts to fix the 2nd idea out of the three ideas present in the original issue. Namely, the  "JabRef should be able to handle both & and \\& when abbrevating and unabbreviating". This is because the first idea ("Abbreviations should always be without \\& --> There is a CI check "necessary" at the abbrv repo") is being implemented in the repo which stores

[2022-10-23 10:33] Anqiii-hub commented on #9053
Hi @ThiloteE,

- I followed the above method and created a pull request. I made the following changes：
- When calling showDiff method, I first check if the field is "Groups", if the field is Groups, I use "," as a seperator. I didn't change the seperator of other field. And the result shows as follows: <img width="1411" alt="Screen Shot 2022-10-23 at 8 34 29 pm" src="https://user-images.githubuser

[2022-10-23 13:21] William-Yao425 commented on #9108
Hi, my team would like to work on this issue. This is our first open issue in Github but we will try our best to imply and solve the problem. Could you please assign this issue to us?

[2022-10-23 13:46] ThiloteE commented on #9108
@William-Yao425 thank you for your interest and willingness to contribute. Of course you can try to solve this issue, but keep in mind that it is already reserved for @zeyu-gong and if the issue is solved before you can solve it, you might get into trouble with your university course (assuming you are a student group) and also, I think "first come, first serve" is good etiquette...

To be honest,

[2022-10-23 13:51] Yu0404531 commented on #8738
Hi , I'm a new contributor — could you please give me a permission so I can view and modify the code ?

[2022-10-23 15:29] calixtus commented on #9108
I personally doubt that this is really a good first issue, since this will probably require some refactoring, as the issue is described you need to keep a history of every entry selected. This could grow really large.

[2022-10-24 01:19] William-Yao425 commented on #9108
Thanks for your suggestion,@ThiloteE and @calixtus. We are indeed a Uni team, and we will find another good first issue through the repo. I apologize to @zeyu-gong that I did not realize the issue cannot be token by different group. Sincerely sorry about my rude manner. :)

[2022-10-24 08:19] Anqiii-hub commented on #9053
Hi @ThiloteE and @HoussemNasri ,
I found myself failed a lot of styleCheck, should I create another pull request or just reset git history and push again on the same pull request? thank you 😊

[2022-10-24 08:28] William-Yao425 commented on #9281
Hi, me and my team would like to work on this open issue, and this is our first try of GitHub project. Could you please assign this issue to our team?

[2022-10-24 09:11] ThiloteE commented on #9053
I think you can simply create another commit to your pull request by pushing towards the same branch

[2022-10-24 09:27] Da-Va commented on #5867
Thank you. Verified this and it works!

[2022-10-24 14:25] Siedlerchr commented on #5867
@Da-Va  @HakonHarnes  Thanks for your solution! Can you please add a section as well to the troubleshooting here?
https://docs.jabref.org/installation

[2022-10-24 15:07] YuiDOS commented on #9031
Hi, I am a university CS student and I would like to work on this issue with my groupmate as my first contribution to open-source project. Since there is no one assigned for this issue, could you please assign this issue to me? Thank you.

[2022-10-24 15:51] HoussemNasri commented on #9224
@manu-vaillant-afk Thank you for your interest. We have a [gitter channel](https://gitter.im/JabRef/jabref] for questions about configuring the environment. JabRef maintainers are usually more active there and can respond quickly. We prefer to keep github issues focused on the issue at hand. If you have any questions about the codebase or implementation questions, please open a draft PR and tag me

[2022-10-24 18:37] thiagocferr opened #9303 "Intelij run configuration not working"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

Manjaro with GNOME 42.4, Jabref main branch (commit 349c879)

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

[2022-10-24 19:36] koppor commented on #8948
DevCall label was set because of discussing **default save actions** of a newly created library.

We decided against it in today's DevCall, because the database is changed "magically". We like the "integrity check" more: https://docs.jabref.org/finding-sorting-and-cleaning-entries/checkintegrity

The next step for the integrity check should be:

- More checks
- Remember violations which are OK
- S

[2022-10-24 19:45] thiagocferr commented on #9274
I've also tested this feature, specifically on a portable version of [JabRef 5.7](https://github.com/JabRef/jabref/releases/tag/v5.7) on Manjaro. Everything seems to be working according to the [documentation](https://docs.jabref.org/finding-sorting-and-cleaning-entries/groups#creating-a-group-and-adding-entries-to-it) and I was also able to manually add entries to "search for a keyword" groups.

[2022-10-24 19:48] koppor commented on #9303
We are currently using the gradle task "run" - this doesn't work at your side because of the compiliation error?

![grafik](https://user-images.githubusercontent.com/1366654/197613571-f751b9c4-7e9d-4f8e-adc1-680cc8eb6a75.png)

[2022-10-24 19:50] koppor commented on #9303
Could you update to the latest main branch? My line 84 does not contain a JNA call.

![grafik](https://user-images.githubusercontent.com/1366654/197614247-35d3954c-301a-468e-b00d-6d3e34dd1223.png)

[2022-10-24 19:52] koppor commented on #9303
What is the output of `./gradlew --version`? Mine is as follows:

[code]

[2022-10-24 19:52] thiagocferr commented on #9303
Well...

[code]

Was it supposed to be `-version`? If so, this is the output:

[code]

---

And yes, I can run the project with gradle task "run" (and from the command line with `./gradlew run`). The problem only affects when running with **Intelij** run config.

[2022-10-24 19:56] koppor commented on #9303
I will remove the IntelliJ run config in a PR - it does **not** run on my machine, too. 😇

The manual start can be triggered at `Launcher.java`:

![grafik](https://user-images.githubusercontent.com/1366654/197615655-4ea01ee2-b776-440a-b932-cf794b5abe7f.png)

Runs only with Gradle.

---

Does NOT work with IntellIJ:

![grafik](https://user-images.githubusercontent.com/1366654/197615906-d85176e7-481

[2022-10-24 20:07] thiagocferr commented on #9303
The problem with not having IntelliJ run config is that, _as far as I know_, it would not be possible to run the application in debugger mode withing the IDE. So, wouldn´t it be a better option to just update the Intelij run configuration file?

[2022-10-24 20:14] koppor commented on #8701
## Workaround

Alternatively, one could export the JabRef preferences and have all users importing the database.

## Solution with exported preferences handled by JabRef

Filename is `papers.bib`. There could be a file `papers.jabref-preferences.xml`. If JabRef finds that file, it loads these preferences when the library is focused. If it is unfoccsued, then the "old" preferences are restored.

Al

[2022-10-24 20:17] koppor commented on #8701
If tackling this issue, each setting has to be investigated separately:

- Include the setting in the library properties
- Have the preference resolution ask the library setting and then the global setting
- Adapt initialization of setting

[2022-10-24 20:31] koppor opened #9304 "Add "A-Z" to translation key for group sorting"
Here is the corresponding line

https://github.com/JabRef/jabref/blob/fe2ceef955227dd6b7b753a53310552ab12938dc/src/main/java/org/jabref/gui/groups/GroupTreeView.java#L432-L433

From `Localization.lang("Sort subgroups"));` to `Localization.lang("Sort subgroups A-Z"));`

The `JabRef_en.properties` files needs to be adjusted then as well. The other files are handled by Crowdin.

_Originally posted by

[2022-10-24 20:46] koppor commented on #9247
Should work - checking the notarized version is open.

[2022-10-24 20:47] manu-vaillant-afk commented on #9224
@HoussemNasri I finally run the project but can't reproduce the issue, what am I supposed to do ?

[2022-10-24 20:49] koppor commented on #9303
Debug works here with Gradle without issues.

[2022-10-24 20:56] koppor commented on #9224
I was also unable to reproduce the issue. @HoussemNasri seems to be the only one currently. 😇

@manu-vaillant-afk You have to find another issue at https://github.com/orgs/JabRef/projects/5

[2022-10-24 21:03] systemoperator commented on #9196
@Siedlerchr @koppor Unfortunately, the issue still persists as before (using the current `upstream/main` branch): On every import a new instance gets started.

[2022-10-24 21:08] manu-vaillant-afk commented on #9091
Hello, I'd like to make my first contribution, could you please assign it to me ? :D

[2022-10-24 21:43] tobiasdiez opened #9306 "Move "Open only one instance of JabRef" preference option to somewhere else"
**Is your suggestion for improvement related to a problem? Please describe.**
The option to limit to only one running instance of JabRef is currently under the "Network" tab, which is highly confusing since from a users perspective there is nothing "networky" going on.

**Describe the solution you'd like**
Move it to another tab, maybe "General"?

[2022-10-25 05:26] yanyanliu1400 commented on #2753
Hi, I would like to make an attempt at resolving this issue. Could it please be assigned to me?

I have followed [the instructions](https://devdocs.jabref.org/getting-into-the-code/guidelines-for-setting-up-a-local-workspace.html) and set up a local workspace.

I have also read the [contribution guide](https://devdocs.jabref.org/contributing).

It would be great if I could receive some advice/poin

[2022-10-25 05:31] yanyanliu1400 commented on #9071
I am really sorry, I wasn't able to reproduce this error. My operating system is MacOS. It would be great if there are images or details on how the error can be reproduce to help on future resolving this issue.

[2022-10-25 06:55] HakonHarnes commented on #5867
See my PR.

[2022-10-25 07:50] ThiloteE commented on #9071
In order to reproduce, the first step would be to link two entries (e.g. 1 Book + 1 InBook) together via the crossref field. See https://docs.jabref.org/advanced/entryeditor/entrylinks for how to do this.

#### Example:

Book:
[code]

Inbook:
[code]

Edit: The citationkey for the above examples were created with the following key pattern `[shortauthor:([authEtAl:([organization:([institution])])])]

[2022-10-25 07:57] ThiloteE opened #9307 "Sub-Issue of 2753: Add new Patterns to JabRef's Date class and write tests."
To solve this issue, one needs to add new Patterns to JabRef's Date class and write tests.
https://github.com/JabRef/jabref/blob/37595615e19edc3b0c30078303fb7b09fe0515ca/src/main/java/org/jabref/model/entry/Date.java#L17-L49

The order of the date patterns seem to matter as well, as I recently learned when extending the class to support Timestamps. The longest? pattern needs to come first.

See Se

[2022-10-25 08:25] ThiloteE commented on #9307
closing, because outdated.

[2022-10-25 08:25] #9307 closed

[2022-10-25 08:29] ThiloteE commented on #2753
@yanyanliu1400 I think you could start here: https://github.com/JabRef/jabref/blob/37595615e19edc3b0c30078303fb7b09fe0515ca/src/main/java/org/jabref/model/entry/Date.java#L17-L49

and address https://github.com/JabRef/jabref/issues/2753#issuecomment-1094334959

Additional info: There was a [proposal to use JDK 19 features](https://github.com/JabRef/jabref/issues/2753#issuecomment-1253396145), but

[2022-10-25 11:59] idadoudou opened #9309 "Preview does not show \textit{something} correctly"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Linux localhost.localdomain 5.19.12-200.fc36.x86_64 #1 SMP PREEMPT_DYNAMIC Wed Sep 28 17:11:05 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Checked with the latest development build

- [X] I made a backup of my libraries before testing

[2022-10-25 14:45] robyquin opened #9312 "Add Schema in PostgreSQL DB"
**Is your suggestion for improvement related to a problem? Please describe.**

I have only one postgreSQL database with a lot of tables in public schema.

In my opinion, JabRef's table names are very generic and it's easy to find another application that uses names like METADATA, ENTRY or FIELD.

**Describe the solution you want**

The easiest way to solve the problem is to add a suffix to the nam

[2022-10-25 15:21] Siedlerchr commented on #9312
Thank you very much! It would be great if you could create a PR

[2022-10-25 15:26] vchouraki commented on #4273
This is still a problem (checked today with v5.7 portable on Windows 10).

Closing this issue, considering it as "wontfix"

[2022-10-25 15:54] Adriankhl commented on #5867
This is a newer issue of javafx: https://bugs.openjdk.org/browse/JDK-8292298

[2022-10-25 16:41] HakonHarnes commented on #5867
I've installed JabRef via flatpak and the workaround does not seem to work. I also tried to downgrade JabRef to an earlier version that uses an older version of JavaFX. Running it from the terminal it does seem to run with gtk version 2, but it still doesn't work.

[2022-10-25 17:08] koppor commented on #9312
The code should also be able to migrate old data

[2022-10-25 17:10] koppor opened #12289 ""Add group" should additionally be a button "on hover""
![image](https://user-images.githubusercontent.com/1366654/197837767-11e2aa1c-ca7a-464a-8450-4f9ee18d595c.png)

Also for "All groups":

![grafik](https://user-images.githubusercontent.com/1366654/200397831-6c223088-2cf5-4101-8de8-402a4ab0791f.png)

- The semantics of the button at "All groups" is "Add group"
- The semantics of the button at a group is "Add subgroup"

The plus symbol could be the o

[2022-10-25 18:03] HakonHarnes commented on #5867
After debugging some more, it seems like flatpak is not using GTK 2, even when specified with ```-Djdk.gtk.version=2```. Running the flatpak version of JabRef we get:

[code]

Which indicates GTK 2 is indeed being used. However, there is also this message:

[code]

Which I suspect causes flatpak to instead use GTK 3, because the following error is specific to GTK 3 (See https://stackoverflow.com/q

[2022-10-25 18:48] robyquin commented on #9312
At the moment the automatic migration could be dangerous: in database there is not enough information to determine if ENTRY, FIELD and METADATA tables belong to an old installation or to another application.

Maybe it's worth migrating manually?

[2022-10-25 18:55] Siedlerchr commented on #4273
Sorry, I have been recently looking into this issue again. Unfortuantely I was not able to get  the xml parsing work for this case. However, I would still leave this open for the future

[2022-10-25 19:26] koppor commented on #8888
ESC should not close the dialog of a field is focused. Then, just the field should be left. Example:

![image](https://user-images.githubusercontent.com/1366654/197863999-ba92756f-c3a2-45d0-9f39-e5b1a9890c57.png)

Pressing <kbd>ESC </kbd> when the cursor is in the search field, ESC should clear the search - and then leave the cursor in the field. - A second ESC press can then close the dialog.

[2022-10-25 19:46] Siedlerchr commented on #5867
@LyzardKing any thoughts on this? Do we need to modify the flatpak build script?

[2022-10-25 21:57] k3KAW8Pnf7mkmdSMPHz27 commented on #9312
Can you do the opposite? Check if any entry belongs to the new installation?

[2022-10-26 06:42] koppor commented on #110
For good CLI design: https://clig.dev/

[2022-10-26 08:06] VernonKwa commented on #7522
Hi there, we've created a draft Pull request: #9302. Can we get some feedback for it. Thank you

[2022-10-26 08:26] bwakkie commented on #2784
Still the case in 5.8

[2022-10-26 08:28] bwakkie commented on #9309
It's an old unresolved bug:  See https://github.com/JabRef/jabref/issues/2784

[2022-10-26 08:46] LyzardKing commented on #5867
There might be another issue that is DE dependent, since on most other distros (non tiling window managers) it works as is.
I would also prefer to avoid using gtk2, which isn't maintained any more, if at all possible.

I wonder if in a flatpak it is possible to have conditional dependencies, but I imagine it is best to fix the issue in the window manager (or javafx)

[2022-10-26 09:25] HakonHarnes commented on #5867
The Flatpak wouldn't use gtk2 by default, but at least support it so that the ```-Djdk.gtk.version=2``` workaround is still possible. I don't think you need the entire [gtk2 module](https://github.com/flathub/shared-modules/tree/master/gtk2), just the [libcanberra module](https://github.com/flathub/shared-modules/tree/master/libcanberra) since that is the library that is missing. I'm imagining thi

[2022-10-26 09:27] robyquin commented on #9312
Who chooses to use a database is a team, or a single user who needs to access the same library from different locations, but in fact can be considered a team with non-simultaneous access.

In this specific transition phase from 5.7 to the future release, it became clear that the TEAM will have to plan and agree on two interventions:

1. Migration of data from the old to the new database configurat

[2022-10-26 09:58] Aditya31398 commented on #9304
Hi @koppor, I am a first timer. Can I work on this?

[2022-10-26 10:05] Rita-Zhou commented on #9267
Hi, thank you so much for assigning this issue to me, I'm currently working on it. I tried all the steps to reproduce the behaviour and got an error message while I trying to rename the file name with a colon ":". Would you mind giving me more details about this issue? Thanks!
<img width="413" alt="image" src="https://user-images.githubusercontent.com/109927532/197997330-f29ac69c-ec52-4b18-897d-c0

[2022-10-26 10:33] paksnuk commented on #9267
I'm not sure whether you're referring to me or to the maintainers, but I'm pretty sure that you shouldn't have a colon in the filename in the first place.
I believe the fix should be replacing the illegal characters in the search string for the auto-linking logic with underscores by the same schema that's being used for automatically naming files.

[2022-10-26 10:38] ThiloteE commented on #2784
follow up is #8522, please continue discussion over there.

[2022-10-26 10:39] ThiloteE commented on #9309
closing as duplicate of #8522. Please keep discussion over there.

[2022-10-26 10:39] #9309 closed

[2022-10-26 10:43] ThiloteE commented on #8522
what happens if you change the command to ` title     = {\\textit{Ab initio} determination of {R}aman spectra},` ?

[2022-10-26 10:45] Aditya31398 commented on #9304
@ThiloteE, can you brief over the issue. Is the change required only in the line mentioned above? What changes are required in the JabRef_en.properties

[2022-10-26 11:24] LyzardKing commented on #5867
I think we shouldn't ignore the fact that the gtk2 JavaFX library is deprecated, and will be removed in future releases.
A quick search brings me to think that the issue is in how some tiling window managers deal with the menu bar.

Just out of curiosity, does adding this env variable work? `GDK_DISPLAY=1`

[2022-10-26 11:27] LyzardKing commented on #5867
Another quick question for @HakonHarnes
How much space does the installed package take? You can see it by running `flatpak info org.jabref.jabref`

[2022-10-26 11:46] HakonHarnes commented on #5867
I agree, it's not an optimal solution but at least it allows for a workaround for the time being. `GDK_DISPLAY=1` does not work for me.

The original Flathub installation without gtk2 takes 218.3 MB. My patched version with gtk2 takes 225.3 MB.

[2022-10-26 12:38] Aditya31398 commented on #9304
Hi @ThiloteE, I have create a PR for this issue with the changes mentioned above. Can you verify if the changes are good?

[2022-10-26 12:52] LyzardKing commented on #5867
Ok, so it's not a big difference in size. That's good.
I wonder if it is possible to add the command conditionally

[2022-10-26 12:56] ladyteam commented on #8522
@ThiloteE nothing happens. But we have some news. I have Desktop with Opensuse 15.4 fresh install and Laptop with Opensuse 15.4 upgrade from 15.3(upgraded from 15.2 and so on). Jabref version 5.0 installed on both computers and the one installed in Laptop reproduce the problem while in Desktop the issue is somehow "resolved". Have no idea what is wrong with Laptop Opensuse. What should I check?
In

[2022-10-26 13:11] ladyteam commented on #8522
After upgrading java in Laptop (java-11-openjdk-11.0.16.0-150000.3.83.1.x86_64) still the problem persist :(

[2022-10-26 14:50] bwakkie commented on #8522
I just compiled from the git branch today and it is working but only in the Custom preview style. Not in the 5 other available styles like IEEE etc...

[2022-10-26 21:20] HakonHarnes commented on #5867
YAML is just a way of formatting text, not a programming language. Thus, it does not inherently support conditional statements.

Nonetheless I don't think the increased size is a problem.

[2022-10-26 22:52] #9304 closed

[2022-10-26 23:05] koppor commented on #9055
Reproducing steps:

1. Set screen resolution to 1920x1080
2. Create a new library (if buttons are disabled. Save the library and restart JabRef)
3. Add a new entry
4. Content: author: Demo\
   ![grafik](https://user-images.githubusercontent.com/1366654/198154831-6180aba1-a913-417f-84ed-d45ae67b8adf.png)
5. Select the entry in the entry table
6. Type <kbd>Ctrl</kbd>+<kbd>C</kbd>
7. Type <kbd>Ctrl</

[2022-10-27 08:39] u7283157 commented on #8443
Hi, please find below some macOS icons I have designed. Please let me know what you think so far.

![jabref_Icon_proposal](https://user-images.githubusercontent.com/110871660/198234867-d7564d3f-791b-4118-9d99-58b9e66d1f20.png)

[2022-10-27 09:39] meatnordrink commented on #9274
@thiagocferr, thanks so much for corroborating this, and for going to the trouble of making a video! I really appreciate it. (I also enjoy your taste in music! :smile: )

[2022-10-27 09:39] #9274 closed

[2022-10-27 09:41] meatnordrink commented on #9274
Since two other users could not reproduce this, I'm closing it. It's still happening for me, but it's not really a problem, since I can just convert keyword-based groups to manual. My concern was driving away users from JabRef, but if it's just me then that's not an issue.

[2022-10-27 18:24] u7306160 commented on #9055
Hi, could you check the PR I create (https://github.com/JabRef/jabref/pull/9278), I think it talks about the same merge entries dialog as yours. And after improving, the dialog is fully on the screen.

[2022-10-27 20:33] koppor commented on #9055
I am not sure whether this is a "Window Manager" issue - and the issue only happening on Windows. @ThiloteE does this also appear on Linux?

[2022-10-27 21:05] ThiloteE commented on #9055
I was able to reproduce the issue on newest jabref development version using Linux Mint Cinnamon.

[2022-10-27 21:49] ThiloteE commented on #9055
ACTUALLY, my problem is a different bug. I just noticed that not the merge dialogue gets pushed to second screen upon start, but a part of JabRef's main window instead, which I cannot find an issue for, but was probably caused by changes introduced pr https://github.com/JabRef/jabref/pull/8936, because it roughly emerged for me around that time.

What happens usually once a second window pops up i

[2022-10-28 04:04] treebog commented on #9141
Could I be assigned this issue?

[2022-10-28 07:52] HakonHarnes commented on #5867
@Adriankhl Can you confirm this works on your system?

[code]

[code]

Make sure `-Djdk.gtk.version=2` is set.

[2022-10-28 10:20] RJDan opened #9319 "biber/latexmk can't use the JabRef .bib file with content in the abstract field"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

  latest/edge:      5.8.188   2022-10-28 (2070), ubuntu 22.04

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest developmen

[2022-10-28 10:40] Siedlerchr commented on #9319
HI, usually this helps: using the Quality -> Cleanup -> Field formatter for the fields:
Abstract: LaTeX Cleanup

[2022-10-28 10:45] RJDan commented on #9319
Oh, shoot! I had no idea that was available! Thank you!

[2022-10-28 10:45] #9319 closed

[2022-10-28 11:05] ThiloteE commented on #9141
Relevant documentation:
- https://docs.jabref.org/finding-sorting-and-cleaning-entries/groups#hierarchical-context

![grafik](https://user-images.githubusercontent.com/73715071/198572827-2633ef70-bdf1-447d-8505-40baa7dbd80f.png)

[2022-10-28 11:44] Adriankhl commented on #5867
@HakonHarnes Doesn't seem like it is working

[code]

[2022-10-28 13:05] HakonHarnes commented on #5867
@Adriankhl That output looks correct to me. Could you please post the output of:

[code]

[code]

[2022-10-28 15:35] Adriankhl commented on #5867
`_JAVA_OPTIONS="-Djdk.gtk.version=2" flatpak run --branch=stable org.jabref.jabref` gives:

[code]

While `_JAVA_OPTIONS="-Djdk.gtk.version=2" flatpak run --branch=test org.jabref.jabref` gives:

[code]

[2022-10-28 16:48] HakonHarnes commented on #5867
It seems like it is indeed using GTK 2. I'm not sure why it doesn't resolve your issue; it does for me.

Could you also try the older gnome runtime?

[code]

[code]

[2022-10-28 18:00] Adriankhl commented on #5867
Still no, at this point, I am not sure if this problem is hardware dependent or wayland-dependent

[code]

[2022-10-28 19:56] #9221 closed

[2022-10-29 04:17] xianghao-wang opened #9322 "Replace "start-with" auto-linking with "fuzzy-search" auto-linking"
**Is your suggestion for improvement related to a problem? Please describe.**
My suggestion is for improving the auto-link file functionality. Jabref supports the following 3 auto-linking options
* auto-linkinig with name starting with the citation key
* exactly match the citation key
* regex

I think "start-with" autolinking can be replaced by a more powerful method.

**Describe the solution you'

[2022-10-29 08:47] Yu0404531 commented on #8738
Ues “Jabref/logic/pdg/search/indexing/indexingTaskManager “ UI   to Display  “Jabref/gui/util   ”TableRowFactory process bar.
It this way ok?

[2022-10-30 10:59] ThiloteE commented on #8398
Competing Alternatives:
- https://github.com/koppor/jabref/issues/529
- https://github.com/koppor/jabref/issues/632
- https://github.com/JabRef/jabref/pull/8462

[2022-10-30 11:08] ThiloteE commented on #8398
There was a lengthy discussion with devcall and https://github.com/JabRef/jabref/pull/8462#issuecomment-1063485676 was the proposed way forward.

[2022-10-30 13:59] #8806 closed

[2022-10-30 19:11] koppor commented on #8808
Idea for refinement:

Offer an intelligent text box("Any to BibTeX"). It allows following "text types" and handles them intelligently:

1. ID (E.g., DOI, ISBN, ...) is pasted --> Id Fetcher is used
2. BibTeX (e.g., `@article{...}` is pasted --> BibEntry object directly created and added
3. Plain text reference pasted (e.g., Shotton, M. A. (1989). Computer addiction? A study of computer dependency.

[2022-10-30 19:33] #9267 closed

[2022-10-31 19:39] Siedlerchr commented on #9247
JabRef 5.7-tags-testmacnotarization.200--2022-10-31--e7c8535
Mac OS X 11.7.1 x86_64
Java 18.0.2.1
JavaFX 19+11

Notarized version starts fine.

[2022-10-31 19:39] #9247 closed

[2022-10-31 20:27] tobiasdiez commented on #9247
Thanks for testing!

[2022-10-31 22:02] SebieF opened #9334 "Changing a specialFieldValue does not update the sorting of entries immediately"
### JabRef version

5.7 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 22.04 LTS

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Create a n

[2022-10-31 22:52] Siedlerchr commented on #9334
Thanks for your investigation! That is really helpful.
For reference, there were also other issues with setting the rank https://github.com/JabRef/jabref/pull/9326 and https://github.com/JabRef/jabref/issues/9031

[2022-11-01 08:57] SebieF commented on #9334
I looked into the rank-clearing issue a bit and updated the workaround to also work with zero-rankings:
[code]

[2022-11-01 09:15] Boolunt commented on #9203
Hey, is it alright if I could be assigned to this?

[2022-11-01 09:55] ThiloteE commented on #9203
1. It is possible to create custom fields already.

      JabRef is Bibtex/Biblatex native and if you go to the `{} biblatex source` tab in the entry editor, you can see the raw data of your entry:

      Just an example:

      ![grafik](https://user-images.githubusercontent.com/73715071/199205189-5fb1afa2-09d0-4bb7-ad9f-8f16bd6ea08b.png)

   You can add any type of custom field by simply typing

[2022-11-01 10:01] ThiloteE commented on #9203
@Boolunt I just realized you are pretty new to open source programming. If you cannot make it work and you feel this is more difficult than you initially thought, please have a look at our projects page with "[good first issues](https://github.com/orgs/JabRef/projects/5)". If you are a student, the "[candidates for university  projects](https://github.com/orgs/JabRef/projects/3)" page offers some

[2022-11-01 18:42] koppor commented on #9066
The diff should also be shown at "Save before closing":

![grafik](https://user-images.githubusercontent.com/1366654/199312591-3493a77a-7670-48c6-a1ff-adc041806133.png)

I just opened JabRef, changed a preference - and JabRef told me that there is a diff 🙈

[2022-11-01 18:42] Siedlerchr commented on #9334
@SebieF  We would appreciate it if you could create a PR, I think your workaround is an acceptable solution.  Better than nothing. The root cause is probably somewhere in the controlsfx control not having the option to remember the previous  value

[2022-11-01 18:48] #8386 closed

[2022-11-01 18:48] #9279 closed

[2022-11-01 18:57] HoussemNasri commented on #9066
I'm curious what preferences change the bib file?

[2022-11-02 03:38] hydrogeoscience opened #9337 "Export or copy according to selected style and in current order"
It would be very nice to be able to export selected entries in the style that is selected according to "Preview" and in the current order. At the moment I seem to be unable to build a bibliography from selected entries in a desired style AND in the order that they appear when selected.

[2022-11-02 07:36] #8948 closed

[2022-11-02 13:57] mlep opened #9339 "Convert Case: exemplify the menus"
**Is your suggestion for improvement related to a problem? Please describe.**
Just trying to make the UI more practical.

Currently, the sub-menus of `Change case` looks like this:

![ChangeCase](https://user-images.githubusercontent.com/6931104/199505222-94e0a0af-5f40-4847-bf0c-501cebcfd23f.png)

If you have no background in typography, the meanings are not obvious (Capitalize vs Upper case. Sent

[2022-11-02 14:05] juejung opened #9340 "File field needs to adjust to Dark theme"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 22.04 with Gnome 42.4

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persist

[2022-11-02 14:14] juejung opened #9341 "Group counters cut off large numbers when default font setting is changed"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 22.04 with Gnome 42.4

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persist

[2022-11-02 14:25] mlep commented on #9341
Looks similar to https://github.com/JabRef/jabref/issues/8797

[2022-11-02 17:36] koppor commented on #8146
This refs https://github.com/JabRef/jabref/pull/7181

[2022-11-02 17:41] koppor commented on #8465
This refs https://github.com/JabRef/jabref/issues/8701

[2022-11-02 17:43] koppor commented on #8465
Quoting from https://docs.jabref.org/advanced/commandline#import-preferences-p-filename

Thus, the file name should not matter. However, you would need to create a `.bat` file calling JabRef.bat with the parameter `-p`.

[2022-11-02 17:43] koppor commented on #9066
However, they are "only" stored there if they are changed **locally** for the bib file. These local ones override the global ones (refs https://github.com/JabRef/jabref/issues/8701). Thus, I assume **nothing** should be changed in the bib file if one changes the global preferences.

[2022-11-02 19:48] calixtus commented on #8910
Thanks for your interest in JabRef programming. As this issue is merly a code quality suggestion but a real issue and code quality is always been worked on, I will close this for the sake of gaining at least a tiny bit more oversight on our issue board.

[2022-11-02 19:48] #8910 closed

[2022-11-02 20:21] Siedlerchr commented on #9341
Duplicate of #8797

[2022-11-02 20:21] #9341 closed

[2022-11-02 20:28] Siedlerchr commented on #9337
Hi,
could you be a bit more precise? You want to export all entries in a specified order?
That is possible in the Preferences setting the Export order

I am not sure what you mean with your second question about the preview style?

[2022-11-02 22:17] hydrogeoscience commented on #9337
Hello, thanks for your quick reply.

One of the main features that a literature database should have is to export citations formatted in a bibliography style of choice (for example, according to style "preview" in JabRef) to build a custom bibliography. I know JabRef was built for bib files which are meant to be used within LaTeX. However, JabRef would gain immense value if one could use it to cop

[2022-11-02 23:38] roryoday commented on #9087
Could I be assigned this issue?

[2022-11-03 00:41] ThiloteE commented on #9119
closing this issue in favour of #9340, which is a duplicate issue, but well explained.

I assume @NamanHimmatramka has chosen a different project to work on as well.

[2022-11-03 00:41] #9119 closed

[2022-11-03 00:43] ThiloteE commented on #9340
Quoting @Siedlerchr :

[2022-11-03 06:48] thiagocferr opened #9345 "Unecessary library modification notifications when removing a group"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Manjaro with GNOME 42.4, JabRef 5.8 (portable linux) and main branch, commit 7367ee5

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have teste

[2022-11-03 08:21] mlep opened #9346 "builds.jabref.org/main/: 5.7 newer than 5.8 ?!?"
### JabRef version

Other (please describe below)

### Operating system

GNU / Linux

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

In http

[2022-11-03 09:21] Siedlerchr commented on #9346
Thanks! guess it was a side effect of my testing by creating a tag

[2022-11-03 11:49] #9334 closed

[2022-11-03 14:11] Siedlerchr commented on #9346
The 5.8 should be the newest again

[2022-11-03 14:30] robyquin commented on #9312
# I'm ready

- I extended the implementation of the new database structure on PGSQL and MYSQL
- I have added automatic data migration functionality from JabRef 5.6 to the future version

## Structure changes

- **PGSQL**: I added `jabref` schema, leaving table names unchanged.
- **MYSQL**/**MARIADB**: I added prefix `JABREF_` to the tables.

In any case, fields of the tables have remained unchange

[2022-11-03 16:53] #9346 closed

[2022-11-03 19:26] #9340 closed

[2022-11-03 21:25] Gamer199 opened #9348 "On uninstallation Programs folder gets deleted including installations from other installed programs"
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 11 Pro Version 21H2 OS build 22000.1098 Experience Windows Feature Experience Pack 1000.22000.1098.0

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest developme

[2022-11-04 13:00] a-iavarone opened #9349 "Citation Key Customization stored somewhere cannot be overwritten"
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10 Pro 21H1

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. I have cust

[2022-11-04 13:53] mlep opened #9350 "Customize export filter: field names with a dash are not interpreted properly"
### JabRef version

Other (please describe below)

### Operating system

Other (please describe below)

### Details on version and operating system

Unknown

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behavi

[2022-11-04 15:00] sayan9112 commented on #9141
Hey, @HoussemNasri  if this issue is still open I'm interested to contribute.

[2022-11-04 16:15] manu-vaillant-afk commented on #9091
Hi, so what I need to implement is saving merge preferences when I push"Merges entries" button (in merge entries window), and also pre-select these preferences when I open the "Merge entries" menu ?
How can I do this properly ? I saw the enum DiffMode in GUIPreferences, but don't sure about how to use it. Is there any other example of saved options in drop down list ?

[2022-11-04 17:08] ThiloteE commented on #9141
@sayan9112 as you can see at the top right side of GitHub, this issue is already in progress and if you scroll down you can see a pull-request has already been opened by a group of students that will likely fix this. I am pretty sure it would be more efficient and lead to less confusion and organisational strain, if you were to choose another issue.

If you are new to JabRef, please have a look at

[2022-11-04 20:56] Siedlerchr commented on #9350
Oh I remember that thing. I know that I found a workaround and the question or a similar was asked in the forum a while agoa. Took me a while to find it,  @k3KAW8Pnf7mkmdSMPHz27  had a solution or a workaround https://discourse.jabref.org/t/custom-export-file-with-mendeley-tags/2112/3?u=siedlerchr

[2022-11-04 21:10] Siedlerchr opened #9351 "Add INSPIRE HEP Fetcher to "Update with bibliographic information from the web""
**Is your suggestion for improvement related to a problem? Please describe.**
https://discourse.jabref.org/t/add-inspirehep-as-resource-to-update-the-bibliographic-data/3612

However, it would be nice to add InspireHEP as one of the resources to fetch bibliographic data from, so these keys can also be fetched from InspireHEP for entries, which had been imported from elsewhere or are missing an cit

[2022-11-04 23:27] ThiloteE commented on #9349
Cannot reproduce in one of the newer development versions on Linux:

JabRef 5.8--2022-10-31--e7c8535
Linux 5.4.0-131-generic amd64
Java 18.0.2.1
JavaFX 19+11

[2022-11-04 23:33] ThiloteE commented on #9349
![grafik](https://user-images.githubusercontent.com/73715071/200089137-1ed804ef-7321-4958-974f-0cdd9ff2d56c.png)

[2022-11-05 09:35] sreenath-tm commented on #9351
I would like to contribute to the issue. Can you assign this to me.

[2022-11-06 03:18] PUNDARIKAKSHA opened #9352 "Interface Language cannot be understood. It is not English."
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

Interface Language c

[2022-11-06 14:12] Siedlerchr commented on #9352
Can you share a screenshot?

[2022-11-06 16:57] ThiloteE commented on #9153
@bernhard-kleine hello :) are you talking about the field "timestamp" or one of the fields "modificationdate" or "creationdate"?

As far as I am aware, "timestamp" is a deprecated JabRef specific field and I guess probably should be avoided and replaced with "modificationdate" or "creationdate" (because those conform to Biblatex), unless "timestamp" is absolutely necessary.

[2022-11-06 17:15] ThiloteE commented on #9203
Refs #8739
Because we do not have a proper tag or label implementation, we now have people asking to add more "special fields" to JabRef, but it will never be enough. Developers can choose to give people some fish everyday, or create a fishing rod that is customizable and upon setup fishes on its own...

[2022-11-06 17:22] robyquin commented on #9312
# Automatic migration

[code]

[2022-11-06 19:03] bernhard-kleine commented on #9153
Am 06.11.2022 um 17:57 schrieb ThiloteE:

My library was created in 2006 and exists since then. Yes I am talking
about "timestamp". I have already solved the problem of sorting on
timestamp. I am aware that I have to add timestamp to any new entry
myself. But that is a small prize for a routine use of the library for
my book(s).

--

GPG Fingerabdruck: C76F A02E D525 7409

[2022-11-06 19:50] ThiloteE commented on #9153
I cannot reproduce this issue in

JabRef 5.8--2022-10-31--e7c8535
Linux 5.4.0-131-generic amd64
Java 18.0.2.1
JavaFX 19+11

even the restart works.

Christoph tried on Mac and cannot reproduce either.

[2022-11-06 19:50] ThiloteE commented on #9153
Since you say "I have already solved the problem of sorting on
timestamp." I will close this issue here.

[2022-11-06 19:50] #9153 closed

[2022-11-06 19:54] ThiloteE commented on #9153
@bernhard-kleine by the way, JabRef 5.7 features the new "Automatic field editor" by @HoussemNasri , which can be found under `edit > automatic field editor`. If you wanted, you could copy or move data from the "timestamp" field to modificationdate or creationdate fields.

There also is this preference:

![grafik](https://user-images.githubusercontent.com/73715071/200191976-2551b759-3484-4068-a435

[2022-11-06 21:31] koppor commented on #9303
I worked on refining the guideline. It is currently under review at https://github.com/JabRef/jabref/pull/9355.

You have to configure IntelliJ to use Gradle for Build and running - and "IntelliJ IDEA" for test:

![grafik](https://user-images.githubusercontent.com/1366654/200196229-d60324f0-2885-4466-be8f-e65f16c8d3c4.png)

---

IntelliJ creates the launch configurations. Check out following steps

[2022-11-06 21:42] #9303 closed

[2022-11-07 13:07] HoussemNasri commented on #9091
I wouldn't use the DiffMode enum in GuiPreferences, as the new three-way merge dialog uses a different approach for differences highlighting. Also, once all dialogs are converted to use the three-way merge UI e.g. the pdf metadata merge dialog, the diff mode enum would be obsolete.

You can create a new class/record for storing the configuration. Load the configuration from GuiPreferences in the t

[2022-11-07 15:33] JoWi2 opened #9359 "Issue resolving DOI"
### JabRef version

5.7 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

endeavourOS / Arch derivate  /// JabRef 5.7--ArchLinux--1 Linux 6.0.7-arch1-1 amd64  Java 19.0.1  JavaFX 18.0.1+2

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest

[2022-11-07 17:45] Siedlerchr commented on #9359
Hi,

I encounter the same and get as well the HTTP Status Code 500. Seems like an issue on the CrossRef side. I also tested manually.

[2022-11-07 17:47] Siedlerchr commented on #9348
@Gamer199  Did you get the following dialog when installing? The warning?
![grafik](https://user-images.githubusercontent.com/320228/200379302-11d9401c-1247-4a79-b391-220790cfbd6f.png)

[2022-11-07 19:37] koppor commented on #8398
Currently, hover is the way to go: https://github.com/koppor/jabref/issues/632

[2022-11-07 20:08] koppor commented on #9281
The wording of "subgroup" seems to be confusing. "sub group" means "nested group", not "shown below group"

![grafik](https://user-images.githubusercontent.com/1366654/200404208-22ac0c24-24b5-44a7-a5e9-7a5f0e6d3939.png)

When removing group 1 and all subgroups, 1.1 is also removed

![grafik](https://user-images.githubusercontent.com/1366654/200404277-5bf9c757-5af8-4062-99f5-1c74e8a3dafc.png)

Note

[2022-11-07 20:12] koppor opened #9360 "Remove "Remove group" from context menu of "All entries""
The (pseudo) group "All entries" is always there. Therefore, the user should not be offered to be able to delete it.

Thus, remove the chose "Remove group" from the context menu of "All entries".
This menu item has to be kept for the other groups (and the behavior should be same).

![grafik](https://user-images.githubusercontent.com/1366654/200405314-7808df12-a505-44e0-a5e8-70f9e827005e.png)

[2022-11-07 21:08] koppor opened #9361 ""Discard changes" in "Save before closing" should delete "newer" backups"
As user, I work on JabRef. Then, I add some things. I maybe want to cancel my changes. Example:

![grafik](https://user-images.githubusercontent.com/1366654/200412472-227723ea-86f9-4ee3-9fb8-918222b09faa.png)

Then, at the start of JabRef, JabRef should NOT prompt me to restore these changes.

Four options:

- Option 1: Delete newer backup files
- Option 2: Rename backup files to files with certai

[2022-11-07 21:10] koppor opened #9362 "Global Search: Clicking an entry in the search window should lead to a selection in the corresponding library"
Issues left:

- [x] Preview in dark theme when no search results is still "white"
   ![image](https://user-images.githubusercontent.com/1366654/211262551-e0ce7f25-ab23-4b84-a56a-24cf3d318283.png)
- [x] Location of the pin to top button
    ![image](https://user-images.githubusercontent.com/1366654/211262657-0fe98720-3ee9-4091-819b-852acb5ca6b5.png)
- [ ]  When clicking an entry in the search windo

[2022-11-07 21:11] koppor commented on #8054
We opened a follow-up issue to be able to focus on the open points.

[2022-11-07 21:11] #8054 closed

[2022-11-07 21:15] koppor opened #9363 "FileAccessDeniedException during save"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reprod

[2022-11-07 21:18] koppor commented on #9352
The CLI offers to reset preferences. Read a CLI howto at https://docs.jabref.org/advanced/commandline

`-d all` is the parameter to pass to `JabRef.bat`

[2022-11-07 21:20] koppor commented on #9352
1. Start JabRef.
2. Click on the second-last menu
    ![grafik](https://user-images.githubusercontent.com/1366654/200417660-8eaa5f59-c1d9-4a8b-971e-9151e20f91c4.png)
3. Select the first entry
    ![grafik](https://user-images.githubusercontent.com/1366654/200417735-dc7bee7d-31ba-4417-bdbb-d3cc720df66f.png)
4. Select "English" from the drop down
    ![grafik](https://user-images.githubusercontent.c

[2022-11-08 00:49] Gpax971 commented on #9281
Apologies, I assumed all groups were subgroups of the "all entries" group, since they are added by right clicking on the "all entries" group and clicking add subgroup

[2022-11-08 02:41] PUNDARIKAKSHA commented on #9352
Sure, I will share it within a few minutes.

Thank you

On Sun, 6 Nov 2022 at 19:42, Christoph ***@***.***> wrote:

[2022-11-08 02:54] PUNDARIKAKSHA commented on #9352
Hello.
I have attached the screenshots herewith. But the English language is
showing nowhere. Currently, I am using Windows 11. Kindly help.

Thank you
With regards
Pundarikaksha Das

On Tue, 8 Nov 2022 at 02:50, Oliver Kopp ***@***.***> wrote:

[2022-11-08 12:19] Siedlerchr commented on #9352
@PUNDARIKAKSHA  You need to upload the screenshots directly on github. Attachments do not work

[2022-11-08 19:02] sayan9112 commented on #9360
Hey @koppor , I'd like to fix this issue. Can you assign me?

[2022-11-08 19:20] #8747 closed

[2022-11-10 20:42] Bushuo opened #9367 "Double paste using `Cmd` + `V` on mac os inside the 'new entry from plain text' dialog"
### JabRef version

5.7 (latest release)

### Operating system

macOS

### Details on version and operating system

mac os Monterey 12.6 on M1 Air

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Lo

[2022-11-10 20:44] Bushuo commented on #9367
If I can be of any help, I have programming experience and Java knowledge. I would just need someone to point me in the right direction 🎉

[2022-11-10 20:56] Siedlerchr commented on #9367
Thanks for your interest! Any help is appreciated!
The key issue is that JavaFX still has a bug that a key combination like copy or pasting also triggers the menu items and so generates events twice.

https://bugs.openjdk.org/browse/JDK-8205915.

Codwise you would need to check at some place where the focus is
https://github.com/JabRef/jabref/blob/25b6858741fea4c8b84c7889d23061109aca5108/src/main/

[2022-11-10 21:13] Bushuo commented on #9367
Thanks for the info :) I will give it a try over the weekend.

[2022-11-10 21:47] #9092 closed

[2022-11-11 11:36] Siedlerchr commented on #8797
In yesterday's mob programming session, we could reproduce the behavior by changing the font size in the preferences (Appearance → Override default font size)

Very likely this method needs to be adjusted
https://github.com/JabRef/jabref/blob/a1f2d5181ce1d99674c30bbd4894158f9b3d1437/src/main/java/org/jabref/gui/groups/GroupTreeView.java#L195-L225

[2022-11-11 15:00] robyquin opened #9368 "Drag and drop in Group's Tree (in file bib/ shared database)"
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 10

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

When I drag and drop a

[2022-11-12 08:21] YuiDOS commented on #9031
Hi community, since the issue is more complicated than I thought, I am unassigning myself.
For new assignee, please have a look at the pull request opened by me (also see comments in that PR), it may provide some useful idea to help you to start with.
Cheers.

[2022-11-12 12:59] Siedlerchr commented on #9064
I can no longer reproduce the issue in the latest dev version

[2022-11-12 14:58] hsvia opened #9369 "Jump to KEY does not work"
### JabRef version

Other (please describe below)

### Operating system

Windows

### Details on version and operating system

Windows 10 Pro Version	22H2 OS build	19045.2251 Windows Feature Experience Pack 120.2212.4180.0

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development v

[2022-11-12 18:51] Siedlerchr opened #9370 "Entry editor: Toggle journal abbreviation roundtrip does not work"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

macOS

### Details on version and operating system

mac os 11.7 big sur

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to

[2022-11-13 09:54] tobiasdiez opened #9372 "Save/save as: file type shows BIBTEX_DB"
### JabRef version

5.7 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Save a new fi

[2022-11-13 16:31] koppor commented on #9196
Also happens here on Windows and Firefox with today's version.

[2022-11-13 16:34] systemoperator commented on #9196
I'm using the Firefox Developer edition. This might be the reason for being a bit ahead of time.

[2022-11-13 16:35] koppor commented on #9196
I am using 106.0.5 of Firefox. Seems that the cause is somewhere else. Need to debug.

[2022-11-14 10:37] robyquin commented on #9368
With branches [fix-issue-9368](https://github.com/robyquin/jabref/tree/fix-issue-9368) on my fork, I tried to study a solution to this issue.

Briefly, the solution is to add two methods to the various types of groups: **AllowDragInto**, **CanBeDragged**.

During drag and drop, the GroupTreeView queries these methods to know what is allowed to do.

If the drag and drop is successful, in shared dat

[2022-11-14 16:25] Siedlerchr commented on #9368
@robyquin  Thanks for the investigation! Just open a PR (or maybe a Draft) so we can directly see the changes and discuss based ont he code

[2022-11-16 00:33] mmohanb1 commented on #9361
Hi Koppor,
I would like to contribute to this project and would like to work on this issue. Could you please assign this to me.
Thanks.

[2022-11-17 12:50] shreverr opened #9380 "Code HowTos hyperlink shows 404 not found"
### JabRef version

Other (please describe below)

### Operating system

Windows

### Details on version and operating system

webpage

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

1. Go to [high le

[2022-11-17 20:41] koppor commented on #7925
We cannot reproduce using the GUI.

![grafik](https://user-images.githubusercontent.com/1366654/202555162-676b4098-1673-41cf-8e4a-5483223cac2c.png)

We click on "Write XMP Metadata to PDF" - and get that it is successfully written:

![grafik](https://user-images.githubusercontent.com/1366654/202555105-fb0d3c8c-31ce-473a-b6d3-0b0ab4c96c89.png)

[2022-11-17 20:42] koppor commented on #7925
I put it into "Reserved" until the issue is reproducible easily.

[2022-11-17 20:51] koppor commented on #9339
This is the screenshot for the menu location:

![grafik](https://user-images.githubusercontent.com/1366654/202556822-3c120b0c-d355-4072-8203-da992b188553.png)

French:

![grafik](https://user-images.githubusercontent.com/1366654/202557049-47c0172e-93c9-49dc-afe2-68a52d2e4a09.png)

[2022-11-18 06:02] robyquin commented on #9360
Hi!
in PR #9376 I proposed the correction of this and other actions on the groups tree.

[2022-11-18 08:01] #9380 closed

[2022-11-18 09:38] ThiloteE commented on #9372
There is `File > save library as ... > BIBTEX_DB file (*.bib)`
There is also `File > Export > Save selected as plain BibTeX... > BIBTEX_DB file (*.bib)`.

I propose to rename to `BibTeX/BibLaTeX (*.bib)` because this would be similar to how we show other file formats under

- `File > Export > Export all entries > ...`
- `File > Export > Export selected entries > ...`
- `File > Import > Import into

[2022-11-18 09:38] ThiloteE commented on #9372
Removing good first issue, because we are still discussing

[2022-11-18 10:25] tobiasdiez commented on #9372
Personally, I would strive to make JabRef's UI as independent as possible from the fact that we use Bib(La)TeX under the hood. JabRef's whole point is to abstract away the boring bibtex related things, so why should we remind people that they are still using it? This becomes especially relevant once we have our word addin running, which then hopefully attracts people that have never heard of bibte

[2022-11-18 10:36] manu-vaillant-afk commented on #9370
Hello, are you sure that it is the expected behavior ?
For me, when you set journal to `Comm. Pure Appl. Math.` and click on the Toggle abbreviation button, it should switch to full abbreviation which is `Communications on Pure and Applied Mathematics`  and vice versa when putting the button ?

[2022-11-18 10:42] ThiloteE commented on #9372
so you propose to rename `RIS (*.ris)` also to `library (*.ris)`?

[2022-11-18 11:16] manu-vaillant-afk commented on #9339
Hello, I've made a new PR for this issue, don't hesitate to give me some feedback if I need to change anything else for this issue.

[2022-11-18 12:24] Siedlerchr commented on #9372
I agree with Thilo. And plain bibtex is bibtex without jabref metdata etc.  Mods and RIS etc are also completely different formats. So we should use bibtex as it's the format.

[2022-11-18 14:29] Kramer84 opened #9383 "Errors when importing and/or drag and droping certain PDFs."
### JabRef version

Latest development branch build (please note build date below)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 20.04.5 - GNOME 3.36.5 -  JabRef 5.8

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the

[2022-11-18 15:35] pedrogit opened #9384 "Author initials not followed by dashes are trimmed by the Authors formatter"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 5.8--2022-11-17--e6fc296 Windows 10 10.0 amd64  Java 18.0.2.1  JavaFX 19+11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the

[2022-11-18 17:43] ThiloteE opened #9386 "Cannot open linked file"
### JabRef version

Latest development branch build (please note build date below)

### Operating system

Windows

### Details on version and operating system

JabRef 100.0.0 Windows 10 10.0 amd64  Java 18.0.2.1  JavaFX 19+11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest developmen

[2022-11-18 19:37] koppor commented on #9372
I always position JabRef as tool for BibTeX. Some pro users hesitate to use JabRef if JabRef seems to move away from BibTeX.

Maybe, we need to offer two modes: Entry mode (which is a general mode avoiding BibTeX) and professional mode (which has more "BibTeX" in the UI and is more clear in BibTeX terms).

Maybe, it's "just" a new localization for the UI?

Maybe we should have a strategic call dis

[2022-11-18 21:07] tobiasdiez commented on #9372
If we would use RIS as our main file format, yes. But its a nice Gedankenexperiment: would we put RIS everywhere in our UI if we would use it as our main file format?

[2022-11-18 23:14] #9383 closed

[2022-11-18 23:15] Siedlerchr commented on #9383
Thanks for raising this issue! I added a workaround so that the exception does not prevent the importer.
A new build will be ready in roughly 30 minutes.

[2022-11-19 11:56] ThiloteE commented on #9384
As I understand it, it is expected that firstnames should be trimmed to `F.`, because of `InitialsNospace`.
`InitialsNospace` specifies how the author names are abbreviated: as Initials, with any spaces between initials removed.
Naively I then would expect that "First-Firstname" would be abbreviated as "F.".

Of course languages are sometimes very weird and have many exceptions. In German language

[2022-11-20 11:16] sayan9112 commented on #9360
As a newcomer I'm a bit late but I'm still working on this.

[2022-11-20 14:39] koppor commented on #9361
@mmohanb1 This issue is on our track for the upcoming release. Do you have a rough schedule when you will come up with a first proposal?

[2022-11-20 15:11] mmohanb1 commented on #9361
Hi Oliver,
What is the next release date? I should be able to come up with a proposal
by today or Tuesday at the latest.

Thank you.

On Sun, Nov 20, 2022 at 9:39 AM Oliver Kopp ***@***.***>
wrote:

[2022-11-21 19:52] koppor commented on #9196
Works with latest release here on Windows

[code]

[2022-11-21 19:54] koppor commented on #9196
1. I started from gradle the first instance
2. I clicked on the import button
3. There is a second JabRef launched:\
    ![grafik](https://user-images.githubusercontent.com/1366654/203146526-a306eda9-b3b6-4f2e-8b13-2383a6e48548.png)

[2022-11-21 19:58] koppor commented on #9196
We checked with todays' devleopment build:

[code]

 @systemoperator Could you please check the latest development build at https://builds.jabref.org/main/?

[2022-11-21 20:13] #9368 closed

[2022-11-21 20:13] #9360 closed

[2022-11-22 08:48] kostadinoff opened #9394 "The app dosen't stat on Windows 11"
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

Windows 11

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

Unfortunately the app d

[2022-11-22 15:19] systemoperator commented on #9196
@koppor First, I started `jabref` from source with the current `upstream/main` branch. It did not work as expected. Then I downloaded https://builds.jabref.org/main/JabRef-5.8-portable_linux.tar.gz and tried it with this build, and it worked. After that, I again started `jabref` from source with the current `upstream/main` branch, and then it worked as well. :)

[2022-11-22 17:05] #9196 closed

[2022-11-22 17:05] Siedlerchr commented on #9394
HI, do you get any errors or any messages or what happens? How do you open it?
Have you tried the portable version as well?

[2022-11-22 17:15] kostadinoff commented on #9394
No massages - it's shows that's loading and no windows appear afterwards. Portable version- same story. The launching method- dummy one double click on the exe file

[2022-11-22 17:20] kostadinoff opened #9397 "ZoteroBIb"
Usually when I use import options in jabref the app crashes or not find any articles. The citation of websites is not easy as well. Chrome extension works for the very first articles but not for any afterwords. Is it possible to implement zoterobib site as import  option in jabref. The website works quite good and I usually copy paste bibtex citation manually from zoterobib to jabref, become jabre

[2022-11-22 17:22] HoussemNasri commented on #9394
@kostadinoff Can you try running *JabRefHost.bat* at the root of the portable version folder?

[2022-11-22 17:30] HoussemNasri commented on #9394
Sorry, I meant `runtime/bin/JabRef.bat`

[2022-11-22 17:34] kostadinoff commented on #9394
![screenshot](https://user-images.githubusercontent.com/76478414/203382494-3fc16563-13b5-4536-9804-51e822148645.png)

[2022-11-22 17:35] ThiloteE commented on #9397
- Is this also with windows 11?
- Could you please provide a step by step explanation that includes which buttons you press exactly and which method of import do you use? I assume you use `File > Import > Import into current library`. Screenshots help. Make it so that whatever you do is easily reproducible.

Example:
1. Start Jabref with default settings
2. Click button X
3. Enter data FOOBAR
4. C

[2022-11-22 17:38] HoussemNasri commented on #9394
@kostadinoff Did you import preferences that were exported using a Linux or Mac machine?

[2022-11-22 17:40] kostadinoff commented on #9394
I use Linux at home and windows at work - most of the references are done under Linux machine so I would say yes

[2022-11-22 17:42] ThiloteE commented on #9397
With regard to ZoteroBib: The Zotero Organisation controls how much of their website and their services they make public, so the options for JabRef to import this data may be limited.

Looking at their [FAQ](https://zbib.org/faq#how-can-i-export-my-bibliography-to-a-reference-manager), they speak of some kind of "Zotero Connector". If that one is open source, maybe it can be forked and adapted to

[2022-11-22 17:47] HoussemNasri commented on #9394
I meant import preferences as in the screenshot below. Using libraries across different operating systems shouldn't create a problem - It's actually what makes JabRef unique from other platform-specific reference management software. Importing preferences from another Os also shouldn't cause any issues, but apparently, there is a bug from our side.

![image](https://user-images.githubusercontent.c

[2022-11-22 18:55] kostadinoff commented on #9394
Is there any way to fix it ?

[2022-11-22 19:30] #9394 closed

[2022-11-22 19:30] kostadinoff commented on #9394
Thank you ! That's worked

[2022-11-23 16:13] michaela559 commented on #9339
hello is this fixed?

[2022-11-23 18:35] mmohanb1 commented on #9361
Hello,
Here is the proposal. I am going to add code in confirmClose method of jabRefFrame.java class to check if user wants to discard the changes to items and if yes, then in the if condition, I am going to save a --discarded.bak version file in the database path(where original and .sav files are stored). When user opens jabRef after discarding and closing the application, I am going to write cod

[2022-11-23 20:09] drkmanoj opened #9401 "Child process exited with code 1"
### JabRef version

5.7 (latest release)

### Operating system

Windows

### Details on version and operating system

_No response_

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce the behaviour

First it was working

[2022-11-24 07:36] koppor commented on #9401
1. What steps did you do in JabRef?
2. What does JabRef's log file say? - https://docs.jabref.org/faq/linux#where-can-i-find-jabrefs-log-files
3. Can you try the latest build at https://builds.jabref.org/main/?

Beginning of the attachment of the issue

<details>
<pre>
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ffc

[2022-11-24 07:43] Siedlerchr commented on #9401
Seems like the JDK tries to load a native library, but cannot due to DEP

[2022-11-24 18:17] manu-vaillant-afk commented on #9339
Hello, I'm fixing it in this PR : https://github.com/JabRef/jabref/pull/9382

[2022-11-25 08:17] ecapoe opened #9403 "Jabref - LO integration fails when "Track changes" is on"
### JabRef version

5.7 (latest release)

### Operating system

GNU / Linux

### Details on version and operating system

Ubuntu 20.04.4 LTS, LibreOffice 7.2 and 7.4

### Checked with the latest development build

- [X] I made a backup of my libraries before testing the latest development version.
- [X] I have tested the latest development version and the problem persists

### Steps to reproduce t

[2022-11-25 17:00] shader commented on #9401
I just ran into this issue after using the Windows installer on Fosshub to upgrade to v5.7, as recommended by JabRef

[2022-11-25 17:05] shader commented on #9401
Installing 5.8 from https://builds.jabref.org/main/ solved the issue.

[2022-11-27 17:48] drkmanoj commented on #9401
![errors_jabref](https://user-images.githubusercontent.com/48274053/204151177-a3ecfcb3-06b9-4178-892b-cd80580ed46c.png)
see above attachment.
I go through your link installed 5.8 version, still i got the above error.
I also installed new java program remain I get same error. Is there any possible solutions?

[2022-11-27 21:38] Siedlerchr commented on #9401
Hi,

can you try to disable the windows DEP feature and test if it works? https://kb.omni-ts.com/entry/55/

[2022-11-27 21:39] koppor commented on #9401
@drkmanoj The error appears when starting JabRef on Windows 11?

[2022-11-28 02:58] mmohanb1 commented on #9361
I was able to work on this issue and functionality seems to be working fine as expected but I need to test more using the testing documentation on jabref.

[2022-11-28 11:07] mlep commented on #6997
Issue can be closed following PR #9376.

[2022-11-28 11:07] #6997 closed

[2022-11-28 16:43] drkmanoj commented on #9401
It was already running in windows 11. Last week only I got errors like this.

[2022-11-28 18:14] Siedlerchr commented on #9401
Hm, maybe it was triggered by some Windows Update? Can you please post the Version and build number from Windows?
From the crash log it shows:

 Windows 11 , 64 bit Build 22000 (10.0.22000.708) is that still valid?

[2022-11-28 18:46] #9053 closed

[2022-11-28 19:34] drkmanoj commented on #9401
Yes. You're absolutely correct. It works after reset my Windows 11 and pause the updates for 5 weeks and install Jabref 5.6 it was working fine. (culprit is windows updates I think so.). Anyhow, I hope in future you must update and make it as a supporting platform as windows updates. because we always depends only Jabref for Latex references. Thank you for your valuable suggestions and solutions.

[2022-11-28 19:54] koppor commented on #9401
I don't understand whether JabRef 5.7 or the latest build works after the Windows reset.

We need to know, because this seems NOT to be an issue with JabRef itself, but an issue with Oracle's Java Development Kit (JDK) code.

[2022-11-29 07:29] koppor commented on #9401
On Windows 11 build 22621.819, JabRef of August, 5 works

[2022-11-29 12:31] ThiloteE commented on #9361
Initially we would have wanted to have a release in November, but a few things have come up and now it has been a little postponed. The new date might roughly be the ~ 19th of december, but don't take it as face value. JabRef's releases are never permanently fixed to a date, as sometimes regressions show up and maintainers have personal lives too. Ideally, it would be nice to have a fix for this i

[2022-11-29 15:24] Siedlerchr commented on #5867
There's currently a PR at opendjk in progress which will fix several problems and this as well https://github.com/openjdk/jfx/pull/915

[2022-11-29 21:20] koppor commented on #9361
Maybe, the BackupManager should be notified that the last changes were discarded. Then, the BackupManager can stop working. It will be shut down directly afterwards (or even by the "Discard" button)

Not necessary - see above. -- Checking for files during backup is time consuming.

The check should be done by the BackupManager - at `org.jabref.logic.autosaveandbackup.BackupManager#backupFileDiffer

[2022-11-30 00:03] mmohanb1 commented on #9361
Hi Oliver,
Thank you for the comments. I will work on this per your suggestions. I have an academic project that's due next week but I should be able to work on this in the 2nd week of dec and hopefully be able to finish and test at least a few days ahead of the release.

[2022-11-30 04:02] K5qu4r3d commented on #9370
Going off of @Siedlerchr's comment, I assume it's supposed to change from `Comm Pure Appl Math` to `Communications on Pure and Applied Mathematics` when clicking the "Toggle abbreviation" button. I believe `Comm. Pure Appl. Math.` -> `Comm Pure Appl Math` is the intended behavior.

[2022-11-30 19:02] #9339 closed