[2020-02-13 11:02] ytzemih opened #5942 "Opening a PDF blocks JabRef (under Ubuntu/Linux)"
JabRef 5.0-beta.419--2020-02-12--3859620
Linux 5.4.19-050419-generic amd64
Java 13.0.2

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Click on the symbol to open a PDF linked to a bib entry (or use F4 or use the "Open menu" command from the context menu).
2. The PDF viewer (in my case MasterPDF

[2020-02-13 11:24] bernhard-kleine commented on #5936
I am still stuck. Firefox64 newest version. Strange!
JabRef 5.0-beta.418--2020-02-12--567dc68
Windows 10 10.0 amd64
Java 13.0.2

[2020-02-13 11:51] Siedlerchr commented on #5942
@tobiasdiez  You recently added this gson to the module info. Do we need to add it to the gradle file somehow?

[2020-02-13 12:20] bernhard-kleine commented on #5936
Using Crtl-N and the DOI adds a new entry, but not as completely as the way using websearch/Medline; using Jabfox adds file links in addition. Therefore the preferred way is to use Jabfox, then Medlins websearch and then New entry. @Siedlerchr The problem is with Jabfox, not with DOI.

[2020-02-13 13:34] davidcbenson opened #5944 "Uncaught exception, when clicking on search window"
I am using:

JabRef 5.0-beta.1--2019-12-15--0b8b1d6
Windows 10 10.0 amd64
Java 13.0.1

I had switched from GVim to Jabref, and was in the entry table with a loaded library (this does not seem to be caused by the same behavior as #5897). I clicked the search field, and it threw this error. After clearing the error, use resumed, so far without further error.

The error reads : `Uncaught exception oc

[2020-02-13 13:52] AEgit commented on #5944
Could you try the current development version of JabRef? Please do not forget to macke a backup of your JabRef database before using the new dev version?

You can download the new dev version here:
https://builds.jabref.org/master/

Do you still get the same error with the new JabRef dev version?

[2020-02-13 13:57] AEgit commented on #5942
Might be a duplicate of (or connected to):
https://github.com/JabRef/jabref/issues/5882

[2020-02-13 14:10] AEgit commented on #5936
JabRef 5.0-beta.418--2020-02-12--567dc68
Windows 10 10.0 amd64
Java 13.0.2

I can confirm @bernhard-kleine 's report: Using <kbd>Ctrl</kbd> + <kbd>N</kbd> the article's are added as expected. Using JabFox they are not added (except for the Nature article). So it does appear, indeed, to be a JabFox issue. Maybe this issue should be migrated to https://github.com/JabRef/JabRef-Browser-Extension/issu

[2020-02-13 14:16] ytzemih commented on #5942
@AEgit, can be. However, in my case, I can work with the PDF and once I close the reader, JabRef continues to work perfectly. Also, in the meanwhile, CPU load is not going up. It merely looks like a blocking system call (external process call) to me, instead of a non-blocking call.

[2020-02-13 14:34] davidcbenson commented on #5944
I have been using the same distro for a couple of hours now, and I have not had the same error. If the error repeats, I will revisit and try the newest dev version. Can you leave the report open for a while, so I have a chance to continue testing?

[2020-02-13 14:35] AEgit commented on #5944
I cannot close it anyway (sorry, just a user who helps with bug-testing, not an actual JabRef developer myself ;)).

[2020-02-13 15:43] Siedlerchr commented on #5942
Have you tried opening with another pdf editor as default?

[2020-02-13 16:03] ytzemih commented on #5942
Yep, just done that with 5 different applications that can open PDF (via changing the mime-type through the Nautilus file manager):

1. It works (i.e. it open asynchronously) with Evince (default Ubuntu viewer) and with Firefox.
2. It doesn't work (i.e. it opens blocking) with MasterPDFEditor, Zathura (another PDF viewer), and LibreOffice.

The three apps in 2 must have something in common in the

[2020-02-13 20:13] Siedlerchr commented on #5942
@ytzemih  I tried a simple addition to the existing code, redirecting the process output. Could you please test this version here?
https://builds.jabref.org/pull/5945/merge/

[2020-02-13 22:20] lglopezh commented on #5847
Hello! I think I can do this, can I contribute? I´m totally new to open source projects.

[2020-02-13 22:23] systemoperator commented on #5847
Hello! Yes, that would be great! :)

[2020-02-13 23:20] ytzemih commented on #5942
@Siedlerchr, thx. Installed JabRef 5.0-pull-5945-merge.421--2020-02-13--6cddf64.
Unfortunately, nothing has changed. Actually, it got worse: Now, only Firefox works, but Zathura, LibreOffice, MasterPDFEditor, and Evince open in a blocking mode. Can there be an interference with Java 13.0.2 being part of JabRef (as by the credentials) and openjdk version "11.0.6" 2020-01-14 installed in my system?

[2020-02-14 00:51] lglopezh commented on #5847
Thanks! I'm reading the Guidelines, I want to start ASAP

[2020-02-14 05:35] lglopezh commented on #5847
When trying to run from intelliJ i got this error: Could not target platform: 'Java SE 13' using tool chain: 'JDK 11 (11)'.

[2020-02-14 09:25] ytzemih opened #5946 "Quitting JabRef throws exception and leaves zombie process"
JabRef 5.0-pull-5945-merge.421--2020-02-13--6cddf64
Linux 5.4.19-050419-generic amd64
Java 13.0.2

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Start JabRef from the command line (w/o arguments)
2. Close it with `Ctrl-C` or `File->Quit`
3. You should see an exception trace in the terminal (see

[2020-02-14 10:08] Siedlerchr commented on #5946
I think the root cause is the same as in the other erorr, the gson module error

[2020-02-14 10:30] systemoperator commented on #5847
A library can be configured with either bibtex or biblatex.

You might find the following documents useful:
- entry types in biblatex: http://mirror.easyname.at/ctan/macros/latex/contrib/biblatex/doc/biblatex.pdf (p. 8ff, 2.1 Entry Types)
- entry types in bibtex: http://mirror.kumi.systems/ctan/biblio/bibtex/base/btxdoc.pdf (p. 3ff, 3.1 Entry Types)

[2020-02-14 10:46] ytzemih commented on #5942
Adding another screenshot to show that the problem also arises when using the context menu in the `File` field of the `General` tab to open the PDF.
![jabref-3](https://user-images.githubusercontent.com/25365609/74524469-00885c00-4f17-11ea-9122-f56964636057.png)
In that case, my whole desktop environment is blocked. The only way to get out is Ctrl-Q to quit Evince. Maybe that helps further pinpoin

[2020-02-14 10:56] Siedlerchr commented on #5942
Thanks for the hint. I will try to wrap this in a new Thread this evening

[2020-02-14 15:49] homocomputeris opened #5947 "class kong.unirest.JsonObjectMapper cannot access class com.google.gson.Gson"
`JabRef 5.0-beta.419--2020-02-12--3859620`
[code]

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Install JabRef
2. Try running JabRef

[2020-02-14 15:59] lglopezh commented on #5847
Thanks!

[2020-02-14 20:08] Siedlerchr commented on #5942
Could you please try again with the new version? https://builds.jabref.org/pull/5945/merge/

[2020-02-14 20:09] Siedlerchr commented on #5947
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-02-14 20:09] #5947 closed

[2020-02-14 20:09] Siedlerchr commented on #5942
The gson error should also be fixed in this branch

[2020-02-14 20:09] #5892 closed

[2020-02-14 20:11] Siedlerchr commented on #5892
Thanks to @dawidm this issue should be resolved now in the latest master.
It might take some time until the new version is uploaded.

[2020-02-14 20:12] Siedlerchr commented on #5944
I am closing this and you reopen this issue if you encouter this issue again. This helps us to not loose the overview of all those issues.

[2020-02-14 20:12] #5944 closed

[2020-02-14 20:13] bernhard-kleine commented on #5892
I will test it tomorrow. 👍

[2020-02-14 21:15] AEgit commented on #5942
JabRef 5.0-beta.421--2020-02-14--ec93ad3
Linux 5.3.0-28-generic amd64
Java 13.0.2

I am afraid, as far as I can tell, this error persists (and this one persists as well: https://github.com/JabRef/jabref/issues/5882).

[2020-02-14 21:17] AEgit commented on #5946
JabRef 5.0-beta.421--2020-02-14--ec93ad3
Linux 5.3.0-28-generic amd64
Java 13.0.2

and

JabRef 5.0-beta.421--2020-02-14--ec93ad3
Windows 10 10.0 amd64
Java 13.0.2

I think this bug has been fixed in the current dev version (at least I cannot reproduce it anymore). @ytzemih : Can you confirm this?

[2020-02-15 08:57] ytzemih commented on #5942
JabRef 5.0-beta.421--2020-02-14--ec93ad3
Linux 5.4.19-050419-generic amd64
Java 13.0.2

Good news, gson error/exception is gone, no more Zombie jobs left.

Bad news: Can confirm @AEgit , opening still blocks for me.

[2020-02-15 08:58] ytzemih commented on #5946
Yes, can confirm. Bug is fixed for me.

[2020-02-15 13:54] homocomputeris commented on #5947
JabRef 5.0-beta.421--2020-02-14--ec93ad3 launches

[2020-02-16 14:20] calixtus commented on #5561
I have tested this behaviour, the group badge updates after about one second.
@Krzmbrzl, would you please do me the favor to test this issue in JabRef with the latest dev version again and to tell, if something changed?

[2020-02-17 11:52] Krzmbrzl commented on #5561
I don't have my Linux system at hand right now, so I tested it on Windows using
[code]
and the problem persists.

What does get updated is the number next to the group indicating how many members are in it, but the color-badge in the entry list does not get updated until I switch the displayed group so that the entry list gets updated.

Here are some screenshots illustrating what I mean.
Before sw

[2020-02-17 11:54] calixtus commented on #5561
Thank you for clearifying. Im looking into this issue.

[2020-02-18 00:11] github-actions[bot] opened #5956 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2020-02-18 14:38] leyuwei commented on #5886
I've encountered the same problem. As I connected to a remote MySQL server, an EXCEPTION dialog just popped up. I also tried the latest development version, but it doesn't work anyway.

[2020-02-18 16:21] #5946 closed

[2020-02-18 21:25] mxxhaupt opened #5957 "Add support for Neovim(-remote) as external editor"
Neovim is a popular alternative to the traditional Vim. However, the lack of the "--servername" option in recent versions of Neovim makes JabRef's integration of vim incompatible with Neovim, although Neovim-Remote provides basically the same functionality.
An implementation of Neovim support should not be a difficult task and I would appreciate it.

[2020-02-18 21:41] xolotl90 commented on #5957
You can just specify the path to your _nvr_ executable which features the _--servername_ option. This way Neovim just behaves like Vim8. Be sure that your _nvr_ executable can be found by JabRef and is not sourced somehow in your .bashrc.

[2020-02-19 07:21] KOLANICH opened #5959 "Don't bundle dependencies if a package manager is used"
Instead proper metadata should be set to enable autoinstallation of the needed packages and proper scripts (packaged as packages) should be used for classpath discovery.

[2020-02-19 09:04] #4719 closed

[2020-02-19 09:09] #5275 closed

[2020-02-19 09:29] koppor commented on #5849
Prevoius feature request: https://github.com/koppor/jabref/issues/168

[2020-02-19 09:34] koppor commented on #5849
To repeat https://github.com/koppor/jabref/issues/168#issuecomment-542045720:

The database mentioned at https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3000385 could be helpful (via https://twitter.com/egonwillighagen/status/1183974415534559234)

[2020-02-19 17:42] koppor commented on #5474
The upstream bug was closed. We have to write a MWE, don't we? @tobiasdiez

[2020-02-19 17:44] koppor commented on #5474
Is https://github.com/tobiasdiez/javatestbed the MWE? (item 2 in README.md?)

[2020-02-19 17:52] koppor commented on #5959
I understand that you are referring to our `.deb` and `.rpm` packages.

Regarding Debian, please support us at https://github.com/koppor/jabref/blob/master/jabref-in-debian.md.

Regarding RPM, please become a maintainer for a proper RPM package.

Until that, we need to stick with the self-contained archives produced by [jpackage](https://jdk.java.net/jpackage/).

Please reopen the issue if I under

[2020-02-19 17:52] #5959 closed

[2020-02-19 17:55] koppor commented on #5957
@mxxhaupt Does the solution by @xolotl90 solve your issue? You are very welcome to enhance our user documentation (FAQ?) at https://github.com/JabRef/user-documentation/blob/master/en/README.md.

@mxxhaupt You could also work on the source code, if you want. 🎉

[2020-02-19 17:56] #5956 closed

[2020-02-19 18:02] koppor commented on #5912
The issue of @PorcelainMouse is https://github.com/JabRef/jabref/issues/5919.

[2020-02-19 18:11] Siedlerchr commented on #5622
@michel-kraemer  Any news on this? We are planning a new release and it would be great to check if it works with a snapshot of your java implementation

[2020-02-19 18:11] #5880 closed

[2020-02-19 18:13] Siedlerchr commented on #5658
@tobiasdiez  You said, you could reproduce the exception. I was not able to reproduce it on windows

[2020-02-19 19:08] KarlMagnusLarsson commented on #5622
Works fine from current (19-feb-2020) code, if you build from code, as was pointed out by @tobiasdiez 6-dec-2019.

1: clone repo
2: cd jabref
3: gradlew run
4: Open bib-file and pick preview APA7 or IEEE => preview is fine.

Source:
JabRef 100.0.0
Mac OS X 10.13.6 x86_64
Java 13.0.1

Current development binary 5.0 does not work for me, with same error as before for APA and IEEE (internal view "pre

[2020-02-19 19:18] Siedlerchr commented on #5942
@ytzemih  Could you please test again with the new version from today? https://builds.jabref.org/pull/5945/merge/

[2020-02-19 20:17] tobiasdiez commented on #5658
I had it from time to time, but not reproducible.

[2020-02-19 22:13] #5856 closed

[2020-02-19 23:55] ytzemih commented on #5942
@Siedlerchr Done. I can't reproduce the error anymore. _Open file_ is now non-blocking. Thanks for the fix.

[2020-02-20 04:13] PorcelainMouse commented on #5912
I may have overstated the similarity.  It could be related, but I have many other symptoms besides slowness. My slowness quickly escalates to full system lock-up.

[2020-02-20 04:17] PorcelainMouse commented on #5919
OMG, I tried the latest nightly build on Sunday and it almost crashed my computer.  I have 16 GB of RAM and I don't know how much of that was free, but I had *over 4 GB* of free swap space and after less than 5 minutes running, I was able to run three passes of the Integrity Check tool on my .bib file and then my hole computer locked up swapping.  The storage light was on solid for about 60 second

[2020-02-20 07:32] #5942 closed

[2020-02-20 07:33] Siedlerchr commented on #5882
I just merged a fix regarding opening files. Should be fixed now in master.
Please wait some time until the new master is uploaded.-

[2020-02-20 09:44] AEgit commented on #5882
JabRef 5.0-beta.432--2020-02-19--c768697
Linux 5.3.0-40-generic amd64
Java 13.0.2

Cannot confirm for the current master version. If I right-click on a file, the context menu will open. If I then press "Open" to open the file, the application that opens the file while hang and has to be forcefully shut down.
Note, that this issue does not appear any more if the file is opened with a simple left-cl

[2020-02-20 09:46] AEgit commented on #5942
JabRef 5.0-beta.432--2020-02-19--c768697
Linux 5.3.0-40-generic amd64
Java 13.0.2

Cannot confirm for the current master version. Since I am now pretty confident that this issue is a duplicate of https://github.com/JabRef/jabref/issues/5882, you can find my error report here:
https://github.com/JabRef/jabref/issues/5882#issuecomment-588861846

[2020-02-20 10:11] AEgit commented on #5919
JabRef 5.0-beta.432--2020-02-19--c768697
Linux 5.3.0-40-generic amd64
Java 13.0.2

Cannot confirm with the current JabRef master on Ubuntu 18.04. I am using a database which contains nearly 20,000 entries. While I do experience performance problems (see here: https://github.com/JabRef/jabref/issues/5071 and here: https://github.com/JabRef/jabref/issues/5735), they are quite different from what you

[2020-02-20 10:58] ytzemih commented on #5942
@AEgit I tested it only with
JabRef 5.0-pull-5945-merge.440--2020-02-19--fcaeef1
Linux 5.4.19-050419-generic amd64
Java 13.0.2

[2020-02-20 11:17] #5474 closed

[2020-02-20 11:58] Siedlerchr commented on #5882
Okay, thanks for the update. Will look into it. Might be that the context Menu calls another method which I oversaw.

[2020-02-20 12:04] michel-kraemer commented on #5622
Sorry for the delay. Sure, I can publish a new snapshot with the latest changes and make a pull request on the weekend, if that's fine with you. I'll keep you updated.

[2020-02-20 12:27] Ka0o0 commented on #5658
I'll try to tackle that systematically:

This exception happens, when Autosave is triggered. Looking into the source code `AutosaveUIManager` is called by a `ScheduledThreadPoolExecutor`.

According to the documentation:

Further looking at the documentation of the defaultThreadFactory:

On macOS `System.getSecurityManager()` returns null in dev. I assume that this is different when the applicatio

[2020-02-20 12:36] JoKalliauer commented on #5882
On my PC the [example above](https://github.com/JabRef/jabref/issues/5882#issue-556180225) seems to be solved/fixed. @Siedlerchr : Thanks

I consider the issues as solved (on my Ubuntu) and could be closed.

[2020-02-20 12:47] Siedlerchr commented on #5658
@Ka0o0 The root problem is probably the case that the Autosave triggers a cleanup operation from a background thread which updates the fields and because the fields are bound to the UI, the "update" must happen on the FX Thread.
We had a solution for this in #5289 which should have fixed it, but apparently it's not everywhere

[2020-02-20 13:27] calixtus commented on #4826
This issue was closed thanks to @NikodemKch, @obsluk00, @guenesaydin and @joeyzgraggen this issue was solved by accessing the GROBID service. Closing this issue.

[2020-02-20 13:27] #4826 closed

[2020-02-20 14:53] Ka0o0 opened #5968 "Group is lost if assigned to very bottom"
JabRef version (latest master) on macOS 10.15.3, Java 13.0.1

- [x] I have tested the latest master

Steps to reproduce the behavior:

1. Drag and Drop a group at the very bottom.
2. Exception is shown and group is lost

<details>
  <summary>Log File</summary>

[code]
</details>

[2020-02-20 15:00] wujastyk commented on #5919
JabRef 5.0-beta.424--2020-02-18--19bfe3e
Linux 5.3.0-40-generic amd64
Java 13.0.2

If there is a possibility that there's a connection between slowness and
previewing, then it bears noting that the preview function in 5beta is
still broken.  Options/Entry Preview still shows no entries at all. #5611

[image: image.png]

[2020-02-20 15:34] Siedlerchr commented on #5611
Duplicate of #5622  (more info on the underlying problem there)
Only "Preview" works.
Currently the other citation styles only work when running JabRef from code and not when using the "built" version.

[2020-02-20 15:34] #5611 closed

[2020-02-20 22:50] calixtus commented on #5561
I root of the problem is somewhat similar to what is fixed in #5925. But not quite exactly.
The dataset is updated correctly, but the maintable is not updated. Affects both the groups column and the uri column. I did not test the file column, but I'd bet on it. @tobiasdiez as a good insight in the JabRef data model. Maybe he's got an idea?

[2020-02-20 23:43] #5604 closed

[2020-02-21 00:53] koppor commented on #5886
@leyuwei Any reason you stick to MySQL and do not use PostgreSQL? The support for PostgreSQL is much better.

[2020-02-21 06:20] PorcelainMouse commented on #5919
@AEgit thanks for trying to test; I'm thankful for the help.

However, I think you actually *have* confirmed this issue.  What I'm seeing is lots of memory pressure, and you just confirmed that is what you saw.  3.2 GB is huge for resident memory!  Remember FF is only 0.5 GB.  Why would JabRef need 8 times that? My system is swapping because I'm actually using the rest of my memory for other progr

[2020-02-21 11:14] stefan-kolb commented on #5707
Cannot reproduce this unfortunately. I'd close this for now. Feel free to provide us with more information if possible if this issue still occurs often for you!

[2020-02-21 11:14] #5707 closed

[2020-02-21 11:22] stefan-kolb opened #5981 "Import dialog always shows "Import canceled" even when import is working"
![image](https://user-images.githubusercontent.com/2141507/75030611-c550d480-54a4-11ea-8816-92e84a8bd98a.png)

ImportEntriesDialog.java:
[code]

[2020-02-21 11:37] Siedlerchr commented on #5981
Known bug or javafx feature, had this before, the resultConverter is called twice.
Duplicate of  #4841

[2020-02-21 11:37] #5981 closed

[2020-02-21 11:37] calixtus commented on #5968
Thanks for the issue. To be a bit more precise:
1.a. Grab a group at the very bottom and
1.b. Drop it at the very bottom.
Or did I miss some other misbehaving?
I'm on it.

[2020-02-21 11:38] #5905 closed

[2020-02-21 11:38] Siedlerchr commented on #5905
Thanks to @dawidm  this issue is now fixed

[2020-02-21 12:04] tobiasdiez commented on #5561
I think the problem is in this method:
https://github.com/JabRef/jabref/blob/cc94cca00d48004e3678ff4603f361129cdd9e23/src/main/java/org/jabref/gui/maintable/BibEntryTableViewModel.java#L66-L81
A observable value is returned, but this one is static and doesn't change if the underlying data in the entry changed (or the groups for that matter).

[2020-02-21 12:28] ilippert opened #5982 ""invalid BibTex key" - warning when bibtex key includes a ":""
JabRef 5.0-beta.443--2020-02-21--0b90005
Linux 5.4.20-200.fc31.x86_64 amd64
Java 13.0.2

I have a bibtex file with many entries and all are a unique bibtex keys

Jabref shows me the orange warning triangle when the entry includes  ":".

[2020-02-21 12:48] stefan-kolb commented on #5982
`:` is considered as an illegal character for the BibTeX key. Therefore, you get the warning.

[code]

Maybe some of the other developers or @koppor can comment why this is the case?

[2020-02-21 12:52] mlep commented on #5982
Some packages, like babel, do not like the colon character in the entry key (see https://tex.stackexchange.com/questions/89016/colon-in-bibliography-keys-incompatible-with-babel-biblatex-and-tex4ht and https://tex.stackexchange.com/questions/408530/what-characters-are-allowed-to-use-as-delimiters-for-bibtex-keys).

Note that this is just a warning from JabRef: you may proceed with keys containing

[2020-02-21 13:00] stefan-kolb commented on #5982
Thanks @mlep for clarification!

[2020-02-21 13:00] #5982 closed

[2020-02-21 13:32] stevensdavid commented on #5888
I could work on this. Do you have any pointers regarding specifics in the implementation?

[2020-02-21 14:01] calixtus commented on #5888
Hi, @stevensdavid, welcome to JabRef development. If you are new to JabRef development, we would like you to have a look at the high level development documentation (https://devdocs.jabref.org/).
A good starting point for this issue is certainly #2157. About the gui stuff you can take a look at how @davidemdot implementet the texparser as a dialog and as a tab in the entry browser.

[2020-02-21 14:24] Siedlerchr commented on #5982
Please note also the settings under options where you can allow/disallow forbidden characters in the bibtexkey

[2020-02-21 17:05] calixtus commented on #5522
An overview of the solved problems:
fixed:
- merge dialog
- group indicator in the groups list
- preview panel in OO style selection

not yet fixed:
- OO manage citations dialog
- entry preview in preferences
- [textfields black/only on hover](https://github.com/JabRef/jabref/issues/5522#issuecomment-548921233)
- scrollbars (maybe on purpose not fixed?)
- drag'n'drop text on pink background

[2020-02-21 17:30] mlep commented on #5522
Since you are in the process of improving the dark theme, you may also consider issue #5699.

[2020-02-21 17:42] calixtus commented on #5522
No, I wasn't really fixing the dark theme right now, I was just doing a little bit housekeeping. Try'n'error with JavaFX CSS gives me always a headache.
But thanks for the note on the other glitch with the dialogs. This is probably a bit more complicated to fix.

[2020-02-21 17:45] calixtus commented on #5522
@mlep If you like, you can give it a shot. If you are quick, we can probably include the fix in the 5.0 release.

[2020-02-21 17:47] mlep commented on #5522
I would need to learn Java very quickly!  :wink:

[2020-02-21 17:57] calixtus commented on #725
Reimplementing the custom entry types dialog in #5799 by @Siedlerchr has solved this issue. Thanks to him, I think this issue can be closed.

[2020-02-21 17:57] #725 closed

[2020-02-21 23:29] #1284 closed

[2020-02-21 23:38] stefan-kolb commented on #5029
Duplicate of https://github.com/JabRef/jabref/issues/4423

[2020-02-21 23:38] #5029 closed

[2020-02-21 23:42] stefan-kolb commented on #4399
@Siedlerchr Is this related to https://github.com/JabRef/jabref/issues/5605?

[2020-02-22 13:57] #5968 closed

[2020-02-22 13:57] tobiasdiez commented on #5968
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-02-22 13:59] #5561 closed

[2020-02-22 13:59] tobiasdiez commented on #5561
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-02-22 14:50] Krzmbrzl commented on #5561
The problem persists in
[code]

[2020-02-22 15:02] calixtus commented on #5561
It's possible you were too quick for us. 😄 After merging, the build server takes about an hour to upload the latest build to builds.jabref.org.

[2020-02-22 15:31] Krzmbrzl commented on #5561
I was too quick at first. Then I waited for the CI to complete and downloaded it again. Also you can see from the commit-hash that it is indeed the build that is currently up-to-date with the master-branch :)

[2020-02-22 17:52] sambo57u opened #5996 "Clear fields does nothing"
JabRef 5.0-beta.451--2020-02-21--5168d43
Linux 5.5.5-200.sof1.fc31.x86_64 amd64
Java 13.0.2

I wanted to clear some of the entries from a new bib file. Choosing cleanup and then selecting, say clear month, does nothing. Saved library still contains all these fields.
I tried on a single item or selected the entire library to no avail.

[2020-02-22 17:59] michel-kraemer commented on #5622
I just created the pull request. The new pure-Java mode is super fast and seems to work well.

Please note that the snapshot does not support all features of CSL yet (CSL is extremely complex to implement) but at least the most important ones (about 80-90% of the specification). I'm continuously working on improving the library and will release a final version 2.1.0 in the next couple of months.

[2020-02-22 19:09] tobiasdiez commented on #5622
Thanks @michel-kraemer, that are really good news!

@koppor @Siedlerchr I tried this version (in the portable version) and the "Entry preview" panel in the preference is still empty for me, no citation styles are loaded. No error messages are logged.

[2020-02-22 20:07] koppor commented on #5622
I did gradlew run and had a list of all citations in the JabRef preferences
to choose from.

Could you push the branch to our repo to trigger a binary build
nevertheless?

Tobias Diez <notifications@github.com> schrieb am Sa., 22. Feb. 2020, 20:09:

[2020-02-22 20:45] michel-kraemer commented on #5622
That's strange. I tested it with `./gradlew run` and with jpackage. No problems here.

[2020-02-22 21:09] tobiasdiez commented on #5622
I guess it's again a problem with the bundled/installed app. I've downloaded the windows builds from https://github.com/JabRef/jabref/actions/runs/43527976. The same problem occurs in the quite old build JabRef 5.0-beta.1--2019-12-15--0b8b1d6, so this appears not to be special for your PR.

[2020-02-23 10:42] Siedlerchr commented on #5622
Question is, is it jlink or jpackage which has the bug?
We can try to create a debug build: https://devdocs.jabref.org/debugging-jpackage-installations
We just need to remove the `--strip-debug` and can try to debug the loading and maybe get an exception

[2020-02-23 10:56] tobiasdiez commented on #5622
I'm pretty sure it's not a bug in jlink or jpackage but in our code. There is a difference in how resources are found in a local build (= they are just normal files and our FileSystem approach works) vs in a bundled build (=they are files in a jrt module and our FileSystem approach does not work).
https://github.com/JabRef/jabref/blob/1fd53bfdeb23afddbb23f4d1c18bdc6b085c2ebf/src/main/java/org/jabr

[2020-02-23 11:11] tobiasdiez commented on #5417
Still in progress: https://forum.snapcraft.io/t/system-files-under-mozilla-native-messaging-hosts/13627/31 :(

[2020-02-23 13:22] jorgman1 commented on #5475
I do not habe the console log anymore in the latest version:

JabRef 5.0-beta.457--2020-02-22--d38f813
Windows 7 6.1 amd64
Java 13.0.2

[2020-02-23 14:08] bernhard-kleine commented on #5475
JabRef 5.0-beta.458--2020-02-23--b2ab177
Windows 10 10.0 amd64
Java 13.0.2

I can confirm that there is any console any further. Thanks a lot.

[2020-02-23 15:13] GlennOlsson commented on #2581
Looking at the Worldcat fetcher at the moment. The Worldcat API would require an API key, is that something you are able to provide for testing? And how would that be added in the production code?

[2020-02-23 16:28] bernhard-kleine commented on #5860
There is also a problem with Sciencedirect and Elsevier: Any download is possible for any German university since the contracts with Elsevier are not valid any further. Therefore you need to test this at a place where downloading from Elsevier is actually possible. I do not know whether there are problems for foreign universities, too.

[2020-02-23 17:24] Siedlerchr commented on #5622
@tobiasdiez  I think I maybe found a solution. https://stackoverflow.com/a/54142975

[2020-02-23 17:41] bernhard-kleine opened #6000 "Timing problem when saving"
JabRef 5.0-beta.458--2020-02-23--b2ab177
Windows 10 10.0 amd64
Java 13.0.2

- [+ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. I have delete a duplicate entry.
2. Trying to save raised the following issue:
![grafik](https://user-images.githubusercontent.com/9216487/75116656-fe3aa600-566a-11ea-9269-

[2020-02-23 18:27] Siedlerchr commented on #5935
Thanks for the report.
As a workaround you can manually modifiy the Info.plist file and add
the following key to the dict properties:
[code]

We are trying to integrate this in our deployment (see #5986 )

[2020-02-23 19:32] AEgit commented on #5417
I reckon, there is nothing that can be done, is there? Or would it help if users were to create an account at snapcraft.io and ask for the vetting to proceed (basically supporting the request)?

[2020-02-23 21:07] tobiasdiez commented on #5886
Hopefully, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-02-23 21:08] tobiasdiez commented on #5622
Hopefully, this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-02-24 07:47] Siedlerchr commented on #5622
Still present. Starting from the bat I now get a different error:
[code]

[2020-02-24 08:58] leyuwei commented on #5886
Thanks, the problem has been solved after I switched to PostgreSQL. But I still wonder why MySQL cannot work properly with JabRef. The primary server that I use has already deployed the MySQL for WordPress, so it'll be better if the remote database can be settled in the same place. @tobiasdiez , I'll try this out later, thx.

[2020-02-24 12:23] tobiasdiez commented on #5622
This new error does not seem to be JabRef related. I guess the error message points to this part
https://github.com/Juris-M/citeproc-js/blob/3389e9b23a1873c1bb0af16eef7533aefd669701/src/load.js#L59-L85
Not sure where the problem lies. Maybe @michel-kraemer has an idea?

@michel-kraemer you might want to consider adding the relevant statements from https://github.com/JabRef/jabref/commit/d2de477d8d

[2020-02-24 12:50] rubenLindstrom commented on #5890
Hi!
We're a team of 5 students currently attempting to make our first open source contribution, and chose this issue!

We're unfamiliar with JabRef, and are currently unable to recreate this issue. Could you please provide us a step by step for how to recreate it, so we can attempt to solve it?

All recommendations and tips are of course welcome!

Thanks!

[2020-02-24 13:28] LyzardKing commented on #5417
I don't think that adding comments requesting the same vetting to proceed would make much difference..
I tried contacting someone from the vetting team directly.. let's wait and see

[2020-02-24 14:04] michel-kraemer commented on #5622
@tobiasdiez The error message is misleading. I received the same error when I tried to integrate citeproc-java with GraalVM the first time into JabRef. I solved it by adding the required modules to the `module-info.java` file. So, if the same error now appears in the packaged version, it's most likely still a packaging issue.

Good idea, but I hope that I can completely get rid of GraalVM in the f

[2020-02-24 14:06] michel-kraemer commented on #5622
What I mean with the error message is misleading: It is trying to load the regex extension of Graal JavaScript but cannot find the implementation classes.

[2020-02-24 14:07] sambo57u opened #6009 "New messages from StatusLogger"
JabRef 5.0-beta.464--2020-02-24--469d41c
Linux 5.5.5-200.fc31.x86_64 amd64
Java 13.0.2

After this morning the old log4j message is gone but it replaced by these:
ERROR StatusLogger Unrecognized format specifier [d]
ERROR StatusLogger Unrecognized conversion specifier [d] starting at position 16 in conversion pattern.
ERROR StatusLogger Unrecognized format specifier [thread]
ERROR StatusLogger Unr

[2020-02-24 14:15] AEgit commented on #5417
Ok, cheers!

[2020-02-24 17:14] bernhard-kleine commented on #5996
I wanted to repeat this. Then I noted that the field "month" is not among those fields to be selected. Maybe the unvailability for the month field is the reason that it can not be cleared. The same is with the field "language". You can not clear it.
Then I choose as field to clear DOI. This field is not empty. This did not work at the first trial. I had to **check in addition to "Clear fields" "ov

[2020-02-24 17:18] bernhard-kleine commented on #6009
Where did you get these messages from?

[2020-02-24 17:35] Siedlerchr commented on #6009
If you start JabRef with the bat file and not the exe you will see the console again

[2020-02-24 17:44] sambo57u commented on #6009
Hi, I am on Fedora linux. The bat file /opt/jabref/lib/runtime/bin/JabRef.bat is giving me:
/opt/jabref/lib/runtime/bin/JabRef.bat: line 1: @echo: command not found
/opt/jabref/lib/runtime/bin/JabRef.bat: line 4: unexpected EOF while looking for matching `"'
/opt/jabref/lib/runtime/bin/JabRef.bat: line 5: syntax error: unexpected end of file

[2020-02-24 17:51] sambo57u commented on #5996
Yes I did forget that...did not realize the distinction I had tried many other and put month when I was writing the bug report as an example. This brings up another issue that "month" should be on the list!
Thanks for your help.

[2020-02-24 18:13] bernhard-kleine commented on #5996
When I cleared language, that was not on the list either. It seems that you can clear fields that are not on the list. May you can close the issue.

[2020-02-24 18:16] Siedlerchr commented on #6009
The bat file is for windows.

[2020-02-24 18:20] #5996 closed

[2020-02-24 18:22] sambo57u commented on #6009
Naturally....so should there be a shell script?

[2020-02-24 18:28] Siedlerchr commented on #6009
Yep, it's next to the bat file, simply "JabRef" without any file extension. If you open it an editor you see it's a shell script.

[2020-02-24 18:35] #5510 closed

[2020-02-24 18:36] Siedlerchr commented on #5510
Thanks to the solution from @mgroth0  this issue should be fixed now in the latest master.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-02-24 18:42] sambo57u commented on #6009
Ok....I added " > /dev/null 2>&1" at the end of the execution line and it works fine.
Howeve, I usually like to make a logical link from /usr/bin/jabref to this file and I had to
change the DIR statement to point to the runtime library for this to work.

[2020-02-24 21:45] koppor commented on #5754
Do we have accelerator keys if we remove the mnemonic stuff? I really :heart: keyboard shortcuts. Do we need to re-introduce Menu_xx.properties again?

[2020-02-24 21:46] AEgit commented on #5510
JabRef 5.0-beta.466--2020-02-24--4eefcc6
Windows 10 10.0 amd64
Java 13.0.2

I am afraid, with the new version the performance is now so bad for my large database (>20,000 entries; several thousand static groups), that I cannot test features any more. JabRef behaves as if crashed (status: "Not responding" in task manager) most of the time and the CPU usage is constantly around 80% on a hexacore. Wh

[2020-02-24 21:58] funnym0nk3y opened #6011 "Text extraction from PDF to annotation not working"
JabRef version:
JabRef 5.0-beta.438--2020-02-20--5fa1dcf
Windows 10 10.0 amd64
Java 13.0.2

Hi there,

when using JabRef I found a bug in the annotations function. I marked several passages in my pdf-file and they were shown in the annotations tab accordingly. But unfortunately the text extracted from those annotations did not match the marked text. I tried copying the text directly from Adobe Rea

[2020-02-25 00:12] github-actions[bot] opened #6012 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2020-02-25 05:47] koppor opened #6013 "Remove Oracle support"
Our Oracle build is broken (https://github.com/JabRef/jabref/pull/5814#issuecomment-588546214). We have no time to fix it. No user approached me the last two years that he needs Oracle support. Thus, I propose to remove support.

[2020-02-25 05:59] koppor opened #6014 "Remove MySQL support"
At Oracle (refs #6013) and Postgres (refs #4461), updates from other users come in automatically to the local database: A pub-sub mechanism is offered by that databases.

At MySQL, that is not available. This is "OK" since in a "normal" architecture, this is done by a messaging system (https://ultimate-comparisons.github.io/ultimate-message-broker-comparison/ ). - Nevertheless, the user experience

[2020-02-25 06:01] koppor commented on #6012
Refs https://github.com/JabRef/jabref/pull/5963

[2020-02-25 06:01] #6012 closed

[2020-02-25 06:11] koppor commented on #5888
@stevensdavid Are you going to focus on ShortScience or BibSonomy? Regarding BibSonomy, I updated the description above. Proposal for BibSnomoy is:

1. Install an old JabRef version with the BibSonomy plugin.
2. Use JabRef with BibSonomoy and write down the requirements (maybe directly a user documentation at https://github.com/JabRef/user-documentation?)
3. Make UI mockups for the new functionali

[2020-02-25 06:12] koppor opened #6015 "Integrate ShortSicence"
There are many tools out there to share information on publications. Be it summaries and comments on publications or be it some collections of bibliographic entries. [ShortSience.org](https://shortscience.org) is a platform for post-publication discussion aiming to improve accessibility and reproducibility of research ideas. [BibSonomy](https://www.bibsonomy.org/) is a tool to collect bibliographi

[2020-02-25 09:10] calixtus commented on #5813
Hi @rlkamalapurkar , tank you for your bug report. I was just taking a look into it. I had some trouble understanding the command line option: as "sccList" is not recognized as an exporter. Can you clearify this a bit and provide some more information about what exporter you want to use?
Does JabRef provide a stacktrace of the error?

[2020-02-25 12:35] Codeberg-AsGithubAlternative-buhtz commented on #5904
Can still reproduce with windows nightly from 24.02.2020

[2020-02-25 13:17] stevensdavid commented on #5888
@koppor I'm part of a group of 5 MSc students who are working on this as a short project as part of a course. Sadly, our deadline is this Friday so I'm not sure if we'll have enough time to implement thorough support for Bibsonomy. We'll probably still implement some form of mockup though!

I'll ask some questions regarding ShortScience in #6015 - thank you for the details!

[2020-02-25 13:29] stevensdavid commented on #6015
@koppor What kind of integration and functionality are you thinking of? Any specific requirements would be helpful, I'd gladly work on this along with my group of students the coming days 😄

[2020-02-25 13:57] koppor commented on #6015
@stevensadavid I understand that you ask for a sort of a Requirements Document so that you can deduct a specification from?

[2020-02-25 14:01] stevensdavid commented on #6015
@koppor That would be ideal, but it would be enough to have some sort of idea of the core functionality. I assume that the basic idea would be to provide some sort of quick access to ShortScience summaries of the articles that are in your bibliography.

However, I'm not entirely sure if the best way to go about this would be to scrape the ShortScience website for summaries (as they don't seem to h

[2020-02-25 14:05] koppor commented on #6015
Thank you for checking out. Could you investigate hypothesis.is whether they support an API (https://github.com/JabRef/jabref/issues/3231)?

If this does not work, a link to short science is enough. It should be a deep link to the paper. Maybe it's not enough work for 5 students - but manageable until Friday.

[2020-02-25 15:51] rs-aesi opened #6017 "Emacs Keyboard shortcuts for data entry/editing"
Versions of JabRef prior to 4 allowed me to use keyboard shortcuts to move the cursor during text entry using the Emacs chords; e.g., ctrl-f (move cursor right one space), ctrl-b (move cursor left one space), ctrl-d (delete character at cursor), ctrl-a (move cursor to beginning of line), ctrl-e (move cursor to end of line). These seem to be missing in the 5.0 snapshots (for example,  ctrl-e closes

[2020-02-25 16:09] nilsstre commented on #5790
Hey, I would like to try to solve this issue 😃

[2020-02-25 16:11] koppor commented on #6015
@stevensdavid Meanwhile, could you work on https://github.com/JabRef/jabref/issues/6017?

[2020-02-25 16:12] koppor commented on #6015
Maybe it would make sense that you join gitter --> https://gitter.im/JabRef/jabref feel free to open a private conversation with me there. - Or search me on Skype (hint: same username). -- I'll delete this post as soon as we have contact out of GitHub ^^

[2020-02-25 18:00] einhander commented on #5886
Hmm, I've installed JabRef 5.0-beta.466--2020-02-24--4eefcc6 Linux 5.4.0-3-amd64 amd64 Java 13.0.2 version and got the same error message.
I think I should move to Postgre to get it work.

[2020-02-25 18:35] muachilin commented on #6017
Hello! I would like to work on this. Thanks!

[2020-02-25 19:08] Siedlerchr commented on #6011
Could you maybe attach or give us a link to the pdf? Is this the only pdf where you noticed that or do experience that with others as well?

[2020-02-25 22:44] funnym0nk3y commented on #6011
I experienced this behavior with several PDFs.
Unfortunately I can't attach the PDF here because of copyright protection. But you can find the files here:
[https://pubs.acs.org/doi/10.1021/la803646e](https://pubs.acs.org/doi/10.1021/la803646e)
[https://www.sciencedirect.com/science/article/pii/S2352940716300038?via%3Dihub](https://www.sciencedirect.com/science/article/pii/S2352940716300038?via%3Di

[2020-02-26 08:20] PorcelainMouse commented on #5919
A little more information.  It's hard to compare apples to apples, but I checked Zotero w/ 500 database entries (very few have full text) and, on Linux, I see 320 MB resident / 2.2 GB virtual size, *no swap* used. On Windows, it reported less than 200 MB used for the same database.  Not sure why windows seems to be more memory efficient, but whatever.  The points stands: the memory JabRef is using

[2020-02-26 10:04] koppor commented on #6013
We keep Oracle support and @koppor tries to switch the Docker image. If this does not succeed, we just disable the tests, but keep Oracle support.

[2020-02-26 10:04] #6013 closed

[2020-02-26 10:07] koppor commented on #6014
MySQL is still the leading platform offered by the Cloud providers.

We need to add Telemetry on that. --> Future Work.

[2020-02-26 10:07] #6014 closed

[2020-02-26 10:33] tobiasdiez commented on #5475
Sadly, the bug is still there - it's only not displayed anymore because the console window is hidden. For the same reason, the Error console is currently not working (nothing is shown there).

[2020-02-26 11:05] felipevicencion commented on #5464
Hey, is anyone still working on this? If not, I'd like to try to tackle this issue.

[2020-02-26 11:12] augustjanse commented on #2581
I'm working on the APS fetcher. Not sure what your stance is on API keys, but I'll just implement it for the open access papers.

[2020-02-26 11:56] tobiasdiez commented on #6017
Some pointers: the Emacs keybinding feature was introduced in https://github.com/JabRef/jabref/commit/e7a27ef897b7985faf8406ceed7f07fdb72ea6ac and removed in https://github.com/JabRef/jabref/pull/4894. Shouldn't be hard to reimplement, e.g: https://gist.github.com/uphy/aea373af1b097cd3c269

[2020-02-26 14:20] stevensdavid opened #6024 "Test case testAuthorWithDiacritics fails on Mac"
Version: JabRef development head (`JabRef/jabref:master` at 74667e9) on Mac OS X 10.15.3 and Mac OS 10.14.5 on

The unit test case `testAuthorWithDiacritics` fails when executed on Mac devices, while it passes on tested Linux and Windows devices. This has been tested with AdoptOpenJDK 13.0.2.j9 and Oracle's SE JDK 13.0.2.

Steps to reproduce the behavior:
1. Build and run tests on MacOS using `./g

[2020-02-26 14:25] rs-aesi opened #6025 "5.0.dev: exception thrown during data entry"
First seen with the Abstract tab as the focus during data entry. When I move the internal window frame to expand the abstract text entry widget horizontally the attached exception message box pops up. It also displays when I am reformatting the abstract so each line fills the maximum space available to it.

It turns out that that exception message box pops up frequently when I'm entering data in o

[2020-02-26 14:27] rs-aesi commented on #6017
On Wed, 26 Feb 2020, Tobias Diez wrote:

Tobias,

Please do re-implement!

Thanks in advance,

Rich

[2020-02-26 14:49] Siedlerchr commented on #6025
Could you please copy the contents of the exception details?
Click on show details and paste it here. And please also fill out the other relevant information. Version and OS.

[2020-02-26 15:37] rs-aesi commented on #6025
On Wed, 26 Feb 2020, Christoph wrote:

Christoph,

I'm running Slackware-14.2/x86_64 and the 2020-02-24 snapshot of JabRef-5.0.

Could not highlight the text in the message box and paste it into a text
file in a v.t. so I grabbed three screenshots (attached) as I scrolled the
details from beginning to end.

Could not expand the message box window, only move it, so I could not
display the entire de

[2020-02-26 17:02] Siedlerchr commented on #6025
You have to upload the screenshots direclty at github, images or attachments from emails are stripped  when you reply to an issue via mai

[2020-02-26 17:04] rs-aesi commented on #6025
On Wed, 26 Feb 2020, Christoph wrote:

Christoph,

You asked me to respond to your message and that's what I did. I'll repost
it on github.

Regards,

Rich

[2020-02-26 17:07] rs-aesi commented on #6025
Here are the three screenshots.
![jabref-exception-details-1](https://user-images.githubusercontent.com/18408428/75368893-4e865380-5877-11ea-9b8a-c51a79a063a2.png)
![jabref-exception-details-2](https://user-images.githubusercontent.com/18408428/75368918-56de8e80-5877-11ea-8a5a-f78525381fa2.png)
![jabref-exception-details-3](https://user-images.githubusercontent.com/18408428/75368929-5ba34280-5877-

[2020-02-26 21:39] felixlut commented on #5888
@koppor I'm one of the students mentioned above! We have created some initial mockups for how the new GUI could look, which can be found [here](https://github.com/stevensdavid/jabref/wiki/GUI_Mockup). If there is a better place to add these, let me know!

[2020-02-26 22:58] rs-aesi opened #6029 "List editors in Author column for multi-authored documents."
When a book contains individual contributions by separate authors while the book itself has one or more editors their names are not displayed in the 'Author' column of the database view (see attached screenshot.) It would be helpful if that first column contained editor names when there's not a single author for the book, proceedings, or other multi-author compendium.
![jabref-database-view](https

[2020-02-27 05:36] koppor commented on #2581
@GlennOlsson Thank you for your intested.

1. Get a key for yourself
2. Work on the fetcher
3. Add the API key as constant
4. Add a preference that a user can add a key for himself. Include a link to the page where the key can be added
5. For the test cases, expect the key in an environment variable. (Can also be in the JabRef code itself that the fetcher checks JabRef's preferences and as fallbac

[2020-02-27 05:46] koppor commented on #5888
@felixlut Thank you for the action taken. The place looks right. Please work on a user documentation (pull request on https://github.com/JabRef/user-documentation), too. Maybe as a walk-through using the feature.

Comments:

1. Settings: Yes!
1. Full Text and Tag search: "Adding separate entries to the Web Search" is good. The other one is not integrated in JabRef.
2. Tag cloud. Not sure about the

[2020-02-27 10:09] Siedlerchr commented on #5622
This issue should be fixed now in master.
Please wait until the new build is ready. That takes approx half an hour or so.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-02-27 10:09] #5622 closed

[2020-02-27 10:10] Siedlerchr commented on #5246
This issue should be fixed now in master. Please wait until the new build is ready. That takes approx half an hour or so.

 We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-02-27 10:10] #5246 closed

[2020-02-27 10:11] Siedlerchr commented on #5735
This should be much faster now in master and will be improved further by the work of  @michel-kraemer

[2020-02-27 10:19] AEgit commented on #6029
Hmm, this could be a bit confusing. If such a change is made, it should still be clear (just by looking at the main table), that these are editors, not authors of the item. Maybe add a tag "editor" or something along the lines that is visible in the main table (again, this would be only necessary, if the proposed changes are made - otherwise it won't).

[2020-02-27 10:40] mlep commented on #6029
On my screen, the title of the column is "Author/Editor":
![Capture du 2020-02-27 11-33-36](https://user-images.githubusercontent.com/6931104/75436542-09385380-5955-11ea-94fc-c29cb8d84369.png)
This is for a BibTeX file (not biblatex). I do not think I changed something in the setup.

@rs-aesi which version of JabRef are you using? Are you displaying a BibTeX or a biblatex file?

JabRef 5.0-beta.49

[2020-02-27 10:46] AEgit commented on #5735
JabRef 5.0-beta.497--2020-02-27--3e0284d
Windows 10 10.0 amd64
Java 13.0.2

@Siedlerchr

Cannot confirm - as reported here (https://github.com/JabRef/jabref/issues/5510#issuecomment-590564792) the performance is now even worse than before. It is now so bad for large databases, that I cannot test bug reports/fixes on my large database. JabRef behaves as if crashed most of the time. Please reopen th

[2020-02-27 11:34] calixtus commented on #5754
I believe this issue can be closed, as the ampersands have been removed from all the translations.
As accelerator keys just the keyboard shortcuts are now left. I think we could make another issue out of that.

[2020-02-27 11:40] calixtus commented on #6029
Hello @rs-aesi, this behaviour should normally be achievable by adding a column with the name "author/editor" in the preferences.

[2020-02-27 11:47] #5754 closed

[2020-02-27 12:52] retorquere opened #6032 "Installer on Mac OS X 10.15.3 beachballs"
JabRef version 4.3.1 on Mac OS X 10.15.3

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

The bug is not reproducible with the latest dev version, but that does not have an installer, so I don't think the comparison is relevant here.

Steps to reproduce the behavior:
1. Download the DMG for Mac OS
2. Start the installer
3. Go throu

[2020-02-27 13:47] rs-aesi commented on #6029
On Thu, 27 Feb 2020, MLEP wrote:

I am using JabRef-5.0-portable_linux.tar.gz downloaed yesterday (26 Feb)
with a BibTeX file on Slackware-14.2/x86_64.

I'm using the default column displays on each tab.

If there's already an option to have the first column display Author/Editor
please point me to where I make the change.

HTH,

Rich

[2020-02-27 13:48] rs-aesi commented on #6029
On Thu, 27 Feb 2020, Carl Christian Snethlage wrote:

Thank you Carl. Since I started using the development snapshots a couple of
weeks ago I've not modified any of the columns.

Regards,

Rich

[2020-02-27 14:04] mathematicalmichael commented on #4594
this was helpful to me, trying to run jabref within docker.

if I wanted the GUI option... where would I look to find a dockerfile/run command that works with that? I found the cloudref project but that doesn't seem to be feature-complete.

[2020-02-27 14:33] rs-aesi commented on #6029
On Thu, 27 Feb 2020, Carl Christian Snethlage wrote:

Carl,

How do I replace the Author column with Author/Editor in Preferenced -> Data
Entry Columns? I looked at the choices and did not see it.

Regards,

Rich

[2020-02-27 17:14] calixtus commented on #6029
Hi @rs-aesi,
take a look at options -> preferences -> entry table columns

![tablecolumsnew](https://user-images.githubusercontent.com/50491877/75467007-5df6c100-598b-11ea-8052-8f131f539d7f.png)

You will find all the entry columns in a list and below that a combo box. Enter there (1) 'author/editor'. If you click somewhere outside this field or on the '+' it should automatically change to 'field:

[2020-02-27 17:30] rs-aesi commented on #6029
On Thu, 27 Feb 2020, Carl Christian Snethlage wrote:

Carl,

That's where I looked. And I searched the alphabetical list produced by the
combobox's down-arrow.

I had no idea I could enter a data type like this and JabRef would know what
to do with it.

I didn't see 'field:author/editor' but clicking on the '+' key added it to
the list.

Yep. Moved it just below the group and deleted the 'Author'

[2020-02-27 17:40] calixtus commented on #6029
You're welcome. :smile:

[2020-02-27 17:40] #6029 closed

[2020-02-27 18:22] #5701 closed

[2020-02-27 21:17] koppor opened #6038 "Make preferences larger"
We have "Appearance" below "Advanced"

IMHO "Advanced" should be last. Can we switch it and make the preferences a bit higher so that a user does not need to scroll at the left side?

![grafik](https://user-images.githubusercontent.com/1366654/75487536-da4ecb80-59ae-11ea-8fc0-46d9a9c8e6ca.png)

[2020-02-27 21:26] Siedlerchr commented on #6038
Nope, height is problematic, especially if you have a small notebook monitor. We also have a search.

[2020-02-27 21:34] koppor opened #6039 "Font size increase does not increase preferences font size"
![grafik](https://user-images.githubusercontent.com/1366654/75488915-7ed20d00-59b1-11ea-9d83-80e76e90b355.png)

[2020-02-27 21:48] koppor commented on #6038
Can't we adapt the window size if the window does not cover the whole screen? I hope, this is possible with JavaFX.

After resetting the preferences, restarting JabRef, it appears like that on my monitor:

![grafik](https://user-images.githubusercontent.com/1366654/75489661-f81e2f80-59b2-11ea-9a31-d3d18db776cb.png)

I assume that a significant amount of users expects

- programs starting taking a

[2020-02-28 07:57] Siedlerchr opened #6041 "@Siedlerchr @cMadan I guess I can explain what happens and it looks like the mistake is coming from `de.undercouch.citeproc.bibtex.BibTeXConverter#toItemData(org.jbibtex.BibTeXEntry)`. The rundown is as follows:"
@Siedlerchr @cMadan I guess I can explain what happens and it looks like the mistake is coming from `de.undercouch.citeproc.bibtex.BibTeXConverter#toItemData(org.jbibtex.BibTeXEntry)`. The rundown is as follows:

- User clicks on an entry which is then sent to create the preview.
- We create an `org.jbibtex.BibTeXEntry` instance from the information we have. Since we only have the journal name in

[2020-02-28 07:57] #6041 closed

[2020-02-28 08:35] calixtus commented on #6038
What could be done is to change the buttons below the list to icon buttons with the names in tooltips...
I think, not every user uses import/export/show prefs every day.

[2020-02-28 08:44] szhorvat commented on #6032
I just wanted to note that ideally JabRef would not use an installer at all on Mac. The presence of a (completely unnecessary) installer has always been an inconvenience and it does not inspire confidence.

[2020-02-28 08:47] Siedlerchr commented on #6032
We switched to the native packacking tool jpackage after the 5.0 alpha version and that creates packages for mac and linux and windows. So no more installer for mac.
As you said this issue is not reproducible with the latest version, I will close this issue as we are planning to release 5.0 soon,

[2020-02-28 08:47] #6032 closed

[2020-02-28 10:09] AEgit opened #6042 "Proposed enhancement: Make item count in groups panel an optional feature that can be turned off"
The current JabRef 5 dev version has huge performance problems with large databases, e.g.:
https://github.com/JabRef/jabref/issues/5071
https://github.com/JabRef/jabref/issues/5735

The same database (ca. 20,000 items; several thousands of static groups) opened with JabRef 3.8.2 does not display these performance issues.

I wonder whether some of these performance issues could be solved by a simpl

[2020-02-28 10:12] AEgit commented on #5735
@Siedlerchr : Do you already have a large database (with thousands of entries and thousands of static groups) to test/confirm this issue or do you need me to send one? If the latter is the case, I can try and send one - but since I cannot to make the database available to the public, we would need to find a way around that.

[2020-02-28 10:21] calixtus commented on #5510
This code part should only be invoked, when a drag'n'drop of a group item happens. I don't believe this is connected to the performance issue, but I will try to test it.

[2020-02-28 10:26] Siedlerchr commented on #5735
I could experience some issues with loading (I think it was based your library) ( we have it internally only avaiable for the developers). However, once JabRef has opened the library the preview generation of differnt styles was fast. And also no problems with drag and drop of groups. Tested in Windows 10

[2020-02-28 12:24] bernhard-kleine commented on #5735
I have tested it with a library of ~16000 entries, while selecting all entries took some time, displaying the preview was immediate.
I can not reproduce the problems @AEgit meets.

[2020-02-28 12:47] bernhard-kleine commented on #5919
I have noted some issues about releasing unused memory.
JabRef 5.0-beta.497--2020-02-27--3e0284d
Windows 10 10.0 amd64
Java 13.0.2
![grafik](https://user-images.githubusercontent.com/9216487/75549552-3ad21d00-5a30-11ea-9c67-15dd5c8f86a7.png)
I have to two databases which when loaded occupy 1.2 Gbyte memory which with 16 Gb i can afford. However, after having loaded the second, 16000 entry library

[2020-02-28 15:46] Siedlerchr commented on #6024
Hm. Windows running form Eclipse can't reproduce this and CI server runs on linux.
And it's odd that it only complains the types are not equal, e.g. ArrayList vs CollectionsList. The path is otherwise equal, e.g. the diacritics, so the core functionality is working.
Therefore I will close this issue, so we can focus on other important things.

[2020-02-28 15:46] #6024 closed

[2020-02-28 16:00] Siedlerchr commented on #6000
Could reproduce this partially yesterday when saving and having auto completion enabled.
I will check it again.

[2020-02-28 17:50] ytzemih opened #6044 "Low loading/searching-as-you-type performance with large (1000+ entries) DBs"
JabRef 5.0-pull-5945-merge.440--2020-02-19--fcaeef1
Linux 5.4.19-050419-generic amd64
Java 13.0.2

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open a large BIB file (say 1000-2000+ entries)
2. You might have to wait up to 2-3 seconds. The issue gets a real one once you have 5-6 files from the

[2020-02-28 18:01] ytzemih opened #6045 "Revive option to switch between tab-specific and global search"
**Is your suggestion for improvement related to a problem? Please describe.**
In JR3/4, I was able to enter a search term and change between tabs and browse the different search results (that were carried through simultaneously for each file after hitting Enter).
I am severely missing this option in JR5. At least, I was unable to find it.
(Using JabRef 5.0-pull-5945-merge.440--2020-02-19--fcaeef1)

[2020-02-29 01:27] wujastyk commented on #5825
JabRef 5.0-beta.491--2020-02-26--0839875
Linux 5.3.0-40-generic amd64
Java 13.0.2

I just had this problem today too and was glad to find the solution here.  I suggest documenting it LOUDLY in the help text: [https://docs.jabref.org/setup/bibtexkeypatterns](https://docs.jabref.org/setup/bibtexkeypatterns)

[2020-02-29 09:03] Siedlerchr commented on #5825
Feel free to edit the docs, just click on edit at github and you can edit the content

[2020-02-29 12:28] nujabse commented on #5867
Can confirm that the problem still persisits in Manjaro Linux, i3 wm, seems to be related to i3 wm issue.  The problem got solved when I switched to xfce4 wm, where the menus in the menu bar became clickable again.

[2020-02-29 18:23] AEgit commented on #5735
@bernhard-kleine
Ok, this is weird. Are you able to open a database with 16,000 entries immediately or does it take a lot of time the first time you open the database? How many groups (displayed in the groups view) does your database contain?

[2020-02-29 18:26] AEgit commented on #6044
As mentioned by @ytzemih this might be a duplicate of:
https://github.com/JabRef/jabref/issues/5071

See also https://github.com/JabRef/jabref/issues/5735 and https://github.com/JabRef/jabref/issues/5510#issuecomment-590564792 for possibly related performance problems.

[2020-03-01 07:47] bernhard-kleine commented on #5735
10 seconds for opening aside my standard library. Since the large library is not used much the group panel is almost empty.

[2020-03-01 13:02] calixtus opened #6049 "File / Import / Append library freezes JabRef"
JabRef version 100.0.0 (current master 2020-03-01 14:00 PM) on Windows 10

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Open one library.
2. In the menu open file -> Append library
3. Check import entries
3. Select another library

[2020-03-01 18:00] Siedlerchr commented on #6049
I think we also need to show a progresbar

[2020-03-01 18:02] Siedlerchr commented on #6045
Duplicate of  #4096

[2020-03-01 18:02] #6045 closed

[2020-03-01 18:26] koppor commented on #5888
Advanced feature: https://github.com/koppor/jabref/issues/324 - I think, this belongs to point 6 on my comment.

In case you have questions while implementing, please do not hesitate to show up on our gitter channel: https://gitter.im/JabRef/jabref

[2020-03-02 08:15] ytzemih commented on #4096
I am with @tobiasdiez  that both options are useful. However, in my context, I have used (and would desire to use) global search by far most often (afaik in JR3, both options were available, the search interface was actually quite fast and flexible). Moreover, tab-specific search has proven to be very inconvenient to me as I am usually working with 4-6 medium too large bib files, sometimes up to 1

[2020-03-02 16:19] pramitbiswas commented on #3915
Is this included in version 5.x?

[2020-03-02 17:37] koppor commented on #3915
It doesn't seem like that. You're welcome to submit a pull request 😇

[2020-03-02 21:21] #5886 closed

[2020-03-02 21:22] tobiasdiez commented on #5886
@einhander another try. This should be fixed now (at least this particular error message should be gone now). Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-03-02 22:15] chapb commented on #1647
Same problem as @crystalfp. The DO field is ignored during RIS import from Mendeley.

[2020-03-02 22:54] lglopezh commented on #5847
Sorry guys! I can't find where all fields are created, my progress is practically zero.

[2020-03-02 22:56] lglopezh commented on #5847
Oh! Someonde did it already.

[2020-03-03 02:48] hongyi-zhao opened #6053 "Failed to compile jabref from source."
Hi,

I try to compile the git master version of jabref based on the instructions here:

https://docs.jabref.org/general/installation#building-from-source

But failed at the following step:

[code]

[2020-03-03 06:59] Siedlerchr commented on #6053
Hi the error message is pretty clear. You need JDK 13.

[2020-03-03 06:59] #6053 closed

[2020-03-03 07:06] koppor commented on #6049
Similar issue: When opening a large library, JabRef takes much time to load. @tobiasdiez Will open an issue with "pain points"

[2020-03-03 08:27] mlep opened #6055 "Entry removed from group keeps being displayed in entry table"
JabRef 5.0-beta.519--2020-03-02--f908883
Linux 4.9.0-12-amd64 amd64
Java 13.0.2

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When removing an entry from a group, the entry remained displayed in the entry panel.

Steps to reproduce the behavior:
1.Select a group (only the entries from this group are displayed)
2. In the entry t

[2020-03-03 08:55] hongyi-zhao commented on #6053
Thanks, it does the trick.  I over-missed that info.

[2020-03-03 08:57] hongyi-zhao commented on #6053
But the official instructions is misleading, see the following from here:

`https://docs.jabref.org/general/installation#building-from-source`

`
To build JabRef from source, you first need to have a working Java Development Kit 11 (JDK 11) `

[2020-03-03 09:14] Siedlerchr commented on #6053
Thanks for the hint! I will update and link to the correct https://devdocs.jabref.org/guidelines-for-setting-up-a-local-workspace

[2020-03-03 09:29] hongyi-zhao commented on #6053
Thanks again.  The above link use the following method to run jabref directly:

$ ./gradlew run

Instead of run the following to link it first:
$ ./gradlew jlink

Which is more good for this case?

[2020-03-03 09:41] Siedlerchr commented on #6053
for directly starting jabref ./gradlew run is sufficient.
./gradlew jlink is only necessary if you want to test issues which occur only in the installer or native packaged version, e.g. resources not being found or modularity issues and not when running from gradlew run.

[2020-03-03 12:54] tobiasdiez commented on #6009
This issue is probably a result of https://github.com/JabRef/jabref/commit/d2de477d8de49de191c5fad16a65c65a96d102a3#diff-c197962302397baf3a4cc36463dce5eaR641, which includes the log4j plugin. This adds a `Log4j2Plugins.dat` file that is known to lead to similar problems: https://stackoverflow.com/questions/48033792/log4j2-error-statuslogger-unrecognized-conversion-specifier
Thus a solution would b

[2020-03-03 12:58] douglasrizzo commented on #5867
If it is relevant, I also did my tests on a tiling window manager (bspwm), so it may be a problem on these kinds of WMs...

[2020-03-03 13:45] sambo57u commented on #5867
I am on KDE Plasma 5

[2020-03-03 18:46] Siedlerchr commented on #5542
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-03-03 18:46] #5542 closed

[2020-03-03 18:48] Siedlerchr commented on #5867
Maybe this is related to this issue? #5526

[2020-03-03 19:11] tobiasdiez opened #6057 "Improve startup time"
Tracking the most expensive operations when starting JabRef yields the following picture:
![image](https://user-images.githubusercontent.com/5037600/75809998-ff19b900-5d89-11ea-8a26-640a2116c425.png)

This shows that the following can be improved:
- [ ] First peak (500ms): do not load the group pane from fxml but create controls directly in the code
- [ ] Second peak (500ms): lazy initialization o

[2020-03-03 22:08] douglasrizzo commented on #5867
I am not sure, as we are dealing with floating menus here and not dialog windows.

* Currently, JabRef dialog windows behave as regular windows and take up half of the screen when they open, as is common in tiling window managers.
* The floating menus keep their intended size. They just aren't interactive in some cases.

But maybe fixing #5526 also fixes this one, who knows.

[2020-03-03 23:05] github-actions[bot] opened #6060 "Error while updating citation styles"
[Update of citation styles failed!](https://github.com/JabRef/jabref/actions?query=workflow%3A%22Refresh+Citation+Style+Language+Files%22)

[2020-03-04 09:58] AEgit commented on #6057
Maybe this proposal could be incorporated here as well:
https://github.com/JabRef/jabref/issues/6042
?

As far as I can tell, the calculation of the item count in the groups panel has a massive impact on the performance for large databases.

[2020-03-04 13:23] LyzardKing commented on #5417
Accepted! The vetting has gone through.
I updated the snap in a branch and tested it (with firefox/jabfox) locally

[2020-03-04 13:37] AEgit commented on #5417
I can confirm, that the JabRef snap is now available again. I installed the --edge version (`sudo snap install --edge jabref`). As far as I can tell, however, this does not represent the current developer version (according to snapcraft.io/jabref this version is from 6th October 2019) and, indeed, it does not work at the moment, but gives the following error message, when started from the terminal

[2020-03-04 20:24] #6060 closed

[2020-03-04 21:06] koppor commented on #6057
Third peak ideas:

- Rewrite latex2unicode - Refs https://github.com/JabRef/jabref/issues/5547 and https://github.com/JabRef/jabref/issues/3644 (this is I wanted to take care of)
- Use Google Guava's cache - with a callable --> https://github.com/google/guava/wiki/CachesExplained#from-a-callable (I know, we had the discussion and caching with Guava was never making sense. Nevertheless, I had the i

[2020-03-04 21:34] greandras opened #6064 "JabRef not running in windows 10"
I have just tried to run JabRef, after installing Java. I receíved the following error message (I don't know how to program):

java.lang.NoClassDefFoundError: javafx/application/Application
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:757)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClas

[2020-03-04 22:32] greandras commented on #6064
Ok, I managed to solve the problem (forgot to install a Java program).

[2020-03-05 05:39] crystalfp opened #6065 "RIS import takes the wrong date and duplicates abstract"
JabRef 4.3.1
Windows 10 10.0 amd64
Java 1.8.0_172

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem (partially) persists

Publication date taken from the wrong field and the abstract is the concatenation of two fields importing a RIS file.

Steps to reproduce the behavior:
1. Import the following RIS file (from the [Neurons](https://www.cell.

[2020-03-05 07:46] #6064 closed

[2020-03-05 09:13] mlep opened #6066 "Add a subgroup: a warning should not close the window"
JabRef 5.0-beta.532--2020-03-04--8111707
Linux 4.9.0-12-amd64 amd64
Java 13.0.2

- [x ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

While adding a subgroup, if a warning is displayed, the "add subgroup" window is closed.

Steps to reproduce the behavior:
1. In the group interface, right click and select "Add subgroup". This opens a w

[2020-03-05 09:51] mlep opened #6067 "Entry table displayed twice!"
JabRef 5.0-beta.532--2020-03-04--8111707
Linux 4.9.0-12-amd64 amd64
Java 13.0.2

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

While resizing the entry editor (to give more room for the entry table), a second entry table appeared in the entry editor.
To show you what I mean:
![Capture du 2020-03-05 10-40-00](https://user-images.

[2020-03-05 10:07] calixtus commented on #6067
It seems to me that the maintable is not displayed twice, but behind a very small entry editor, which is not scaled according to the main window.

[2020-03-05 10:28] mlep opened #6068 "Full text document download: overwritten if no BibTeX keys"
JabRef 5.0-beta.532--2020-03-04--8111707
Linux 4.9.0-12-amd64 amd64
Java 13.0.2

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When searching full text documents for entries without keys, the found pdf files are all named "default.pdf" (overwriting the previously existing default.pdf file)

Steps to reproduce the behavior:
1.Sel

[2020-03-05 10:39] mlep commented on #6067
Looking at it again: the entry editor seems displayed in the middle of the maintable. And an empty space appears at the bottom of the maintable.

[2020-03-05 10:47] mlep opened #6069 "Cleanup entries: uncaught exception"
JabRef 5.0-beta.532--2020-03-04--8111707
Linux 4.9.0-12-amd64 amd64
Java 13.0.2

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When adding a "saving action", an uncaught exception occurs.

Steps to reproduce the behavior:
1. Open  "Content > Library properties"
2. Check the box "Enable save actions"
3. In the lower-left drop-down

[2020-03-05 11:10] calixtus commented on #6067
Thanks for the follow-up. Is there any chance to reproduce this behaviour? I played around with the editor a bit but was not able to reach this issue.

[2020-03-05 13:14] amaridev opened #6070 "Protect Author with {} arround selection."
Hello,

I have the following problem with the 5.0 alpha and beta.

When editing an entry, for example the author field, you can click with the right mouse button on it and select "protect term" and add {} around the selected text.

My observation is, that when the bibtex file is saved, all {} for term protection are removed. Even if I edit the bibtex file manually and open jabref afterwards, the {

[2020-03-05 15:21] mlep commented on #6070
I cannot reproduce the describe behavior with the latest master version (https://builds.jabref.org/master/): the {} are still there when saving, closing, and reopening the file.
A few ideas:
- do you have any "save action" configured? See Menu Content > Library properties?
- could you try the latest master and report if the behavior you observed is still there?

[2020-03-06 07:32] Siedlerchr commented on #6069
Happpens if you add a save actions without selecting a formatter.
I created a fix in #6072 Not sure if it will be still in 5.0 or later.

[2020-03-06 08:43] #6069 closed

[2020-03-06 09:45] amaridev commented on #6070
Indeed. I had a save action enabled to convert latex to unicode. I disabled all of them and the Problem is gone.

Thank you very much.

[2020-03-06 09:45] #6070 closed

[2020-03-06 09:49] Siedlerchr commented on #6070
This is a known issue with the Latex2Unicode formatter: #4152

[2020-03-06 09:54] mlep commented on #6067
Neither do I...

[2020-03-06 12:40] janbac opened #6073 "Uncaught Exception: "You need to start the file monitor before watching files" when opening a file"
JabRef Version 5.0--2020-03-06--b6d6b79 on Debian GNU/Linux 10 (buster)
(installed from .deb file)

- [x ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

**What happens:**
After a fresh restart jabref works fine. A few days later jabref refuses to open any bib file, producing an error message:
Uncaugh Exception
java.lang.NullPointerExce

[2020-03-06 13:41] tobiasdiez commented on #6067
Thanks for notifying us about this issue. As this seems not reproducible, there is nothing we can really do. Hence, I'll close this for the moment. Feel free to reopen if you find a way to (more or less reliably) reproduce it.

[2020-03-06 13:41] #6067 closed

[2020-03-06 14:33] systemoperator opened #6074 "Add tooltips for all entry types"
When creating a new entry or when editing the entry type of an existing entry in a library, it would be useful, if tooltips describe each possible entry type.

The required content of the tooltips could be simply used from the following files:
- entry types in biblatex: http://mirror.easyname.at/ctan/macros/latex/contrib/biblatex/doc/biblatex.pdf (p. 8ff, 2.1 Entry Types)
- entry types in bibtex:

[2020-03-07 10:12] tobiasdiez opened #6076 "Install chrome extension automatically"
It would be nice if the Chrome extension would be automatically installed during the main installation routine.

Shouldn't be that hard to implement: https://developer.chrome.com/extensions/external_extensions
@LyzardKing interested? 😄

(For Firefox something like this is sadly not supported: https://blog.mozilla.org/addons/2019/10/31/firefox-to-discontinue-sideloaded-extensions/)

[2020-03-07 14:48] sksonalkothari commented on #6065
Hi, I would like to contribute to this issue, I am new in open source development.

[2020-03-07 21:09] Siedlerchr commented on #6065
@sksonalkothari  Thanks for your interest and welcome to JabRef!
Please read through the [Contribution Guidelines and set up a workspace](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)

For this issue the relevant code is located in the file: src/main/java/rg/jabref/logic/importer/fileformat/RisImporter.java

[2020-03-08 08:56] mifads opened #6077 "jabref 5 freezes with options menu"
JabRef version 5.0-portable-linux-tar on Elementary OS 5.0

- YES, I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

JabRef starts, and I can load .bib files. Any attempt to use the Options menu fails though, e.g. Options - Preferences. At this stage, I can't cancel, or change to a different option.

Steps to reproduce the behavior:
1. unp

[2020-03-08 10:02] Siedlerchr commented on #6077
On Windows I could not reproduce this. Could you try to reset your preferences?
You can do this using the command line switch `-d all`
 https://docs.jabref.org/general/commandline#reset-preferences-d-key

[2020-03-08 11:20] mifads commented on #6077
Just tried. No difference.

[2020-03-08 11:33] bernhard-kleine opened #6078 "Icons from Material design icons not recognized"
JabRef 5.0-beta.519--2020-03-02--f908883
Windows 10 10.0 amd64
Java 13.0.2

- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Fonts from Material Design Icons are not recognized: airballoon, or account.
Steps to reproduce the behavior:
1. open jabref
2. choose any group
3. add a color and as the icon name airballoon or account
4. sav

[2020-03-08 16:20] Bastian-B commented on #4373
Hi everyone! Has this been resolved for the now released version 5.0? I just installed it and all the manual linebreaks are gone despite the respective list. What seems odd: They are only missing in the "annote"-field, while everything is fine in "abstract" or "review". Does anyone have an idea? Thank you!

[2020-03-09 07:59] Codeberg-AsGithubAlternative-buhtz opened #6081 "Dev-version: "A higher version is installed""
This is installed currently

JabRef 5.0-beta.506--2020-02-27--9424777
Windows 10 10.0 amd64
Java 13.0.2

Downloaded this morning the current dev version "JabRef-5.0.msi" with date 08.03.2020 23:12 .
![Zwischenablage01](https://user-images.githubusercontent.com/11861496/76193465-57b2e100-61e4-11ea-9c39-a1782fb405bf.png)

[2020-03-09 08:18] Siedlerchr commented on #6077
Try to delete the preferences file:
https://stackoverflow.com/a/1320798

[2020-03-09 08:20] einhander commented on #5886
Thank you! Last master work Ok.

[2020-03-09 08:27] einhander commented on #6081
Hello, I have the similar issue with debian package from http://builds.jabref.org/master/.
The master with date 08.03.2020 has version 5.0.42-1 which is lower than 5.0.30466-1 I already have. Thus It's only a warning message of dpkg

[2020-03-09 08:37] mifads commented on #6077
In ~/.java/.userPrefs I have 7 prefs.xml files in different sub-directories. Should I just do
rm -r .userPrefs?

[2020-03-09 08:45] Siedlerchr commented on #6077
There should one be labeled JabRef

[2020-03-09 08:50] mifads commented on #6077
ls -laRt from .java gives:

./.userPrefs:
total 12
drwxrwxr-x 3 davids davids 4096 mar  9 09:35 ..
drwxrwxr-x 4 davids davids 4096 mar  8 12:19 org
-rw------- 1 davids davids    0 mar  6 14:11 .userRootModFile.davids
drwx------ 3 davids davids 4096 mar  6 14:09 .
-rw------- 1 davids davids    0 mar  6 14:09 .user.lock.davids

./.userPrefs/org:
total 20
drwxrwxr-x 4 davids davids 4096 mar  8 12:19

[2020-03-09 08:57] Siedlerchr commented on #6077
You can delete all starting with the path org/jabref/...

[2020-03-09 09:10] mifads commented on #6077
Well, it stopped the freezing, but Options - Preferences -  is still on 'General'. If I press on any other entry the dialog box disappears (it is just hidden), but I can't access the other items. My terminal is reporting:

(JabRef:10236): Gdk-WARNING **: 10:01:03.792: XSetErrorHandler() called with a GDK error trap pushed. Don't do that.

Additionally, as soon as JabRef starts I get the same type

[2020-03-09 09:41] Siedlerchr commented on #6077
Okay, that seems to be a specifiy linux issue with the distribution.  As far as I know Javafx (the UI technology)  uses GTK3. But I'm not an expert in the linux differences.
The warning messages regarding the format specifier are irrelevant, they are related to an external dependency and also occur on windows. See #6009

For me this seems to be some external java/linux bug which we can't do anythi

[2020-03-09 09:41] #6077 closed

[2020-03-09 09:59] sksonalkothari commented on #6065
Hi @Siedlerchr, I did as given in guidelines-for-setting-up-a-local-workspace. And I could successfully run the application. But I could not debug through Eclipse. Its giving me error. I even checked the Gitter group chat for this issue, It seems many people had this one.
But yaa, I went and checked the file which u suggested src/main/java/rg/jabref/logic/importer/fileformat/RisImporter.java
Code

[2020-03-09 12:01] ilippert opened #6085 "Exception when trying to use context menu"
JabRef 5.0--2020-03-08--93de138
Linux 5.5.7-200.fc31.x86_64 amd64
Java 13.0.2

Sorry, I am not sure how this happened...

Paste your log details here.

<details>
<summary>Detail information:</summary>

java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0
	at java.base/jdk.internal.util.Preconditions.outOfBounds(Unknown Source)
	at java.base/jdk.internal.util.Preconditions.outOfB

[2020-03-09 12:31] ilippert commented on #5071
I have 10500ish entries; simply sorting the entry table by a column, e.g. title, takes typically several seconds.

JabRef 5.0--2020-03-08--93de138
Linux 5.5.7-200.fc31.x86_64 amd64
Java 13.0.2

[2020-03-09 12:38] ilippert commented on #4373
I confirm:
JabRef 5.0--2020-03-08--93de138
Linux 5.5.7-200.fc31.x86_64 amd64
Java 13.0.2
the issue is not solved.

[2020-03-09 12:39] ilippert commented on #4479
#4373 shows this is still an issue in
JabRef 5.0--2020-03-08--93de138
Linux 5.5.7-200.fc31.x86_64 amd64
Java 13.0.2

[2020-03-09 12:54] bernhard-kleine commented on #6081
confirming the issue with
JabRef 5.0-beta.519--2020-03-02--f908883
Windows 10 10.0 amd64
Java 13.0.2
and the update file from
![grafik](https://user-images.githubusercontent.com/9216487/76214683-8beec780-620d-11ea-924e-022200a265d1.png)

[2020-03-09 13:21] xolotl90 opened #6086 "Adjust scaling of JabRef for high-resolution displays"
I am facing a problem with the display resolution of Jabref I could not resolve yet. I am working on a high resolution monitor (2560x1440), but JabRef scales everything too big for me (see image). Ex-/ and Re-importing the settings while changing the "mainWindowSizeX/Y" fields have no effect at all. Is there a way to force Jabref to a smaller rendering?

This might be related to #5498, although ch

[2020-03-09 13:33] Siedlerchr commented on #6086
You could try to apply these scale tips here in the sh startup file of JabRef:
https://wiki.archlinux.org/index.php/HiDPI#JavaFX

[2020-03-09 13:52] xolotl90 commented on #6086
Thank you @Siedlerchr . I could resolve the issue by adding
-Dglass.gtk.uiScale=1.4
in the file JabRef.cfg (for me located at /opt/JabRef/lib/app/JabRef.cfg) in the section [JavaOptions]
The file looks now like this.

[2020-03-09 13:52] #6086 closed

[2020-03-09 14:19] Siedlerchr commented on #6086
@xolotl90  Glad that it works! It would be nice if you could add a section to the FAQ with your configuration tips:
https://docs.jabref.org/faq/faqs-on-operating-systems/faqlinux (Click on Edit on Gitbub)

[2020-03-09 15:44] xolotl90 commented on #6086
I added a small paragraph about this and made a pull request. #260 in the user-documentation repo

[2020-03-09 16:42] koppor commented on #6081
Please uninstall the beta version manually and then install the new version. We need to investigate our [GitVersion](https://github.com/GitTools/GitVersion) setup at https://github.com/JabRef/jabref/blob/master/GitVersion.yml.

It should be noted that `-beta` appears in the reported version strings, but me made a release after the beta.

Maybe the new weight in `GitVersion.yml` is wrong (see https

[2020-03-09 17:17] bernhard-kleine commented on #6081
manual deinstalling and installing the 8.3.2020 dev-version worked
JabRef 5.0--2020-03-08--93de138
Windows 10 10.0 amd64
Java 13.0.2

[2020-03-09 19:32] koppor commented on #5790
Thank you for submitting a PR. While seeing the solution, we improved our specification. Maybe, you can work on finalizing the PR?

[2020-03-09 21:44] Siedlerchr commented on #4373
I looked into the code and it's hardcoded for abstract and comment:
https://github.com/JabRef/jabref/blob/b5002e041d587ffb997e946f55daa9f8bdb438d4/src/main/java/org/jabref/model/entry/field/FieldFactory.java#L142-L149

As the "Do not wrap fields" aka multine are already stored in the preferences as part of the `FieldContentFormatterPreferences` it can be used.

1. Pass the preferences down to the

[2020-03-09 22:18] calixtus commented on #6085
Thank you for your bug report.
Can you tell me a bit about the entry you tried to right click on? Does it have a file attached? Is the attached file actually also present on your system?

[2020-03-09 23:20] rs-aesi opened #6087 "Citation copied to LyX allows no formating"
Two issues with 5.0.dev germane to citation transfers to LyX.

- [ ] First, the the icon bar is apparently no longer available; I cannot find a way to display it in the Preferences. Clicking on the LyX icon is quicker than is using the menus.

- [ ] Second, the citation is inserted in LyX between brackets and there's no way to change the format when a right-click -> Settings is used. Please restor

[2020-03-10 00:12] github-actions[bot] opened #6088 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2020-03-10 07:38] Siedlerchr commented on #6081
This should be fixed now.

[2020-03-10 07:38] #6081 closed

[2020-03-10 07:59] mlep commented on #6087
Using 5.0, I still have the LyX icon in the bar on my computer:
![Capture du 2020-03-10 08-55-12](https://user-images.githubusercontent.com/6931104/76291216-f73ba680-62ac-11ea-823e-f7d96936d92b.png)

About the "proper citation format": Upon clicking the LyX icon, JabRef sends to LyX something like \cite{Cronshey1986}. This is a standard LaTeX syntax. Then, it is up to LyX to render the citation.

[2020-03-10 08:52] ilippert commented on #6085
I am trying to reproduce it, but cannot. I am, sorry.

It did happen for all entries yesterday. Meanwhile I have restarted the computer, now it does not reappear...

I know this is not very helpful - and I am sorry for bothering. Still hope the report might be helpful.

[2020-03-10 09:34] calixtus commented on #6085
Thank you anyways.
Every bug report is helping, even if it's not reproducible at this moment. What you have experienced might someone else as well. And this bug report can probably help to triangulate the causing issue later.

[2020-03-10 10:11] AEgit commented on #5417
JabRef 5.0--2020-03-08--93de138
Linux 5.3.0-40-generic amd64
Java 13.0.2

I updated the snap version today using `snap refresh --devmode jabref`. The snap version appears to be working now (it still throws some errors, but at least the snap version starts now). Well done to everyone involved!

Can this issue now be closed?

[2020-03-10 10:13] mlep opened #6091 "Library sort order get lost"
JabRef 5.0--2020-03-06--2e6f433
Linux 4.9.0-12-amd64 amd64
Java 13.0.2

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

In Library > Library properties, the export sort order can be specified.
However, the choice is not memorized.
Steps to reproduce the behavior:
1. Open a library
2. Go to Library > Library properties
In my case, t

[2020-03-10 10:15] AEgit commented on #5401
JabRef 5.0--2020-03-08--93de138
Linux 5.3.0-40-generic amd64
Java 13.0.2

The issue with the snap version might be solved in the current version. Try `sudo snap install --edge jabref` and then afterwards `snap refresh --devmode jabref`. With these commands I managed to get the snap version of JabRef working.
@jusneuma and @lizliz : Can you check whether the current snap version works for you?

[2020-03-10 14:01] rs-aesi commented on #6087
On Tue, 10 Mar 2020, MLEP wrote:

MLEP,

My apologies: I had not before clicked on the '>>' at the extreme right of
the frame. Is there a way to have that icon string constantly available
rather than indirectly available?

I now have the 5.1.dev uploaded to github today at 03:25 (timezone not
specified).

I had not yet inserted the bibiography when I posted the message; I have now
made it availabl

[2020-03-10 14:11] mlep commented on #6087
No need for apologies!
I believe that, at the moment, you cannot do much about the '>>'... It is an issue related to the GUI desing. I guess it will be improved in future versions (@JabRef/developers: any additional comments on this?).

Good to know it is working on the JabRef site. I hope the LyX community will help you solve your issue of citation format.

[2020-03-10 14:15] rs-aesi commented on #6087
On Tue, 10 Mar 2020, MLEP wrote:

MLEP,

Of course it's what the widget set allows you to do in placing things.
Perhaps in the not-too-distant-future it will be different.

Yes, the lyx community will help. It's perhaps an unintentional glitch when
versions were recently updated to fix Windows problems (which seems to me to
be like trying to push water up hill).

Regards,

Rich

[2020-03-10 14:40] calixtus commented on #6087
Hi @rs-aesi and @mlep . Thanks for the bug report and the quick support on this.
The two arrows are displayed instead of the whole toolbar probably because of a small window width of JabRef. If the window width is large enough the whole toolbar should be displayed. But I think, it's really annoying that even when almost the complete toolbar could be visible, but only a few pixels are missing, the

[2020-03-10 14:45] Codeberg-AsGithubAlternative-buhtz opened #6092 ""create backup file while saving" option is non-functional."
JabRef 5.1--2020-03-10--d5ee20b
Windows 10 10.0 amd64
Java 13.0.2

In the settings I deactivated the "create backup file while saving" option.
I also deleted the `*.sav` file from the filesystem.

But the `sav`file is still created when **starting** JabRef.
When closing JabRef it is gone.

**EDIT**: The behaviour is not always reproducable. But please see the attached video which contains differen

[2020-03-10 15:02] rs-aesi commented on #6087
On Tue, 10 Mar 2020, Carl Christian Snethlage wrote:

Carl,

I'm working with a HP 19" square monitor (1280x1024 dpi resolution). The
JabRef window's width is ~85% of the available space. Expanding the window's
width to the monitor's does not provide sufficient room to display all the
icons.

It seems that most monitors sold today are wide screen; probably for better
movie viewing. I prefer the ad

[2020-03-10 15:16] VivaldoMendes opened #6093 "JabRef 5.0 "Show/Edit Bibtex Source" gets stuck in Windows 10"
I have JabRef 5.0 installed in a Windows 10 machine. It works remarkably well, but there appears to be an annoying problem with the "Show/Edit Bibtex Source" pane. From time to time, it just gets stuck, not allowing me to write or edit any entry at all. If I restart JabRef, this pane starts working OK again, but after a while, it gets stuck again.

I will give you an example. I went to Google Scho

[2020-03-10 15:21] Siedlerchr commented on #6093
Thanks for your report.  We will check that
 Did you know that you can also directly paste the bibtex on the main table?
JabRef will then automatically create a new entry from the pasted bibtex.

[2020-03-10 15:42] calixtus commented on #6087
I can relate to that. I'm using an old monitor as second one in portrait mode on my workstation to display PDFs or JabRef while working on a document on my primary screen.

[2020-03-10 15:43] VivaldoMendes commented on #6093
Thanks for helping.

No I did not know that. I have just used the "New entry" button, then choose the ID type, then copy+past into the box dialog (e.g. the DOI code), and a new citation entry is generated. But I do not know to insert a Bibtex citation directly into the **main table**.  If JabRef is already magical as I know it, that would be awesome.

Let me try to help a little bit more, concerni

[2020-03-10 15:46] mlep commented on #6087
About the icon bar position, there is already an opened issue (https://github.com/JabRef/jabref/issues/4907)

[2020-03-10 16:00] Siedlerchr commented on #6093
You can also paste the DOI direcly on the maintable and JabRef performs the lookup also automatically.

[2020-03-10 16:13] bernhard-kleine opened #6094 "How to install the 5.0 release aside the dev Snapshot?"
I have the 5.1 dev-snapshot installed and wanted to install the 5.0 release side by side. This seems not possible. The 4.1 release had been well installed along side the 5.0 devs. Is there a way to have both versions installed? 5.1dev and 5.0 ?

[2020-03-10 16:18] mlep commented on #6094
Under Linux, I could install version 5.0 with the regular package, while I am running the version 5.1 using the portable version available at https://builds.jabref.org/master/

[2020-03-10 16:28] VivaldoMendes commented on #6093
It works. Wonderful.

[2020-03-10 16:43] bernhard-kleine opened #6095 "Two versions of Jabref 5.1. while "listen to remote operation on port" 6500 is checked"
JabRef 5.1--2020-03-10--d5ee20b
Windows 10 10.0 amd64
Java 13.0.2
- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. I load jabref from the toolbar.
2. Another loading from start menu resulted in a second jabref instance if the same program
3.

![grafik](https://user-images.githubusercontent.com/921

[2020-03-10 16:50] bernhard-kleine commented on #6094
The installer refuses to install the release since a higher version is already installed!

[2020-03-10 19:30] mlep commented on #6094
Under Linux, the portable version is not really "installed". The file is simply uncompressed, and the executable is then launched via a command line.
For win10, JabRef-5.1-portable_windows.zip

[2020-03-10 20:23] rs-aesi opened #6096 "5.x snapshots: "Year" field not included in bibtex source and document"
These are questions about the 5.x development version, not the stable release.

I've entered a couple of dozen references in the database and today cited one in a lyx document. The bibliography did not display the year of the publication (with the display style in lyx set to authoryear4). When I looked at the bibtex source it had the date field but not the year field so I added the latter and now

[2020-03-10 20:52] rs-aesi commented on #6096
I forgot to mention that the document type is Tech Report. Other tech reports have both the 'optional fields' tab and an 'other fields' tab, but this one does not, only 'optional fields'

[2020-03-10 21:17] tobiasdiez commented on #6096
The mode (bibtex vs biblatex) can be changed under Library > Library properties.

[2020-03-10 21:25] rs-aesi commented on #6096
On Tue, 10 Mar 2020, Tobias Diez wrote:

Thanks, Tobias. I had not seen that.

Regards,

Rich

[2020-03-10 22:07] bernhard-kleine commented on #6094
It actually worked under win10, too.

[2020-03-10 22:09] #6096 closed

[2020-03-11 00:25] rs-aesi opened #6097 "5.1 (10 March 03:25): Optional fields tab does not expand right side"
This issue appeared (and was fixed) in an earlier 5.0 release. Now it's back in today's 5.1 snapshot.

The attached jabref-compressed.png shows the optional fields as they appear when the reference is selected. The left side has two columns but the right column cannot be seen or used. Expanding the tab moves the left column to the right but leaves the right column the same size (jabref-expanded.pn

[2020-03-11 00:35] rousselm commented on #5461
I just installed
JabRef 5.0--2020-03-06--2e6f433
Mac OS X 10.13.6 x86_64
Java 13.0.2

I have for many years been using the standard LaTeX field annote to keep notes on my reading. I set up JabRef so that the annote field shows up in the Review tab instead of whatever the default is. (It's been so long since I set this up that I'm not sure anymore.) So "Set up general fields" says (among other thin

[2020-03-11 04:34] koppor commented on #6094
@mlep or @bernhard-kleine - Could you add a howto to https://github.com/JabRef/user-documentation/blob/master/en/faq/faqgeneral.md? "Q: How to install the 5.0 release aside the dev Snapshot?" 😇

[2020-03-11 07:58] Siedlerchr commented on #6097
As a workaround you can make the entry preview a separate tab (somewhere in the preferences is a setting)  so you should be able to see the fields again

[2020-03-11 08:00] Siedlerchr commented on #4479
Closing this in favor of #4373 as there is the problematic code listet

[2020-03-11 08:00] #4479 closed

[2020-03-11 08:01] mlep commented on #6094
@bernhard-kleine I have just added an Q-R about your issue. Please, could you review it?

[2020-03-11 09:25] zenny opened #6098 "Error: Could not find or load main class org.jabref.JabRefMain Caused by: java.lang.NoClassDefFoundError: javafx/application/Application"
Hi,

[code]
I am in voidlinux with java 11:

[code]
There is nothing like javafx as advised in https://github.com/JabRef/jabref/issues/2867#issuecomment-303979350 which points to a page that does not exist, fyi.

UPDATE:

However, after much searching, I got an impression from https://docs.jabref.org/faq/faqs-on-operating-systems/faqlinux that JabRef 4.xx does not work with java requires Java 8. W

[2020-03-11 10:03] mlep opened #6099 "UI: maintable: right-click menu: reorder items"
In JabRef 5.0, when you right-click on an entry of the main table, you get the following menu:
![RightClick](https://user-images.githubusercontent.com/6931104/76404603-055df580-6387-11ea-9e92-b97c78740659.png)

**Is your suggestion for improvement related to a problem? Please describe.**
Some items are not consistently located: the nearby items are unrelated.

**Describe the solution you'd like**

[2020-03-11 10:10] Siedlerchr commented on #6098
JabRef 4.3.x requires java 8 and openjfx 8 and is no longer supported.
JabRef 5 ships with all necessary java libraries.
You can download JabRef 5 here.
https://www.fosshub.com/JabRef.html

[2020-03-11 10:10] #6098 closed

[2020-03-11 10:51] ilippert commented on #5919
In case this is of interest 10600 entries - without doing anything with it

JabRef 5.0--2020-03-08--93de138
Linux 5.5.8-200.fc31.x86_64 amd64
Java 13.0.2

I have memory use of 1,5GB, VirtualMemory 107,2GB, ResidentMemory 1,6GB, Shared Memory 200MB.

[2020-03-11 11:01] nicfreeman1209 opened #6100 "crash when clicking on menu"
I can run jabref, but as soon as i try to click on any of the drop down menus, it crashes and exits. See attached log file.
[hs_err_pid11604.log](https://github.com/JabRef/jabref/files/4317785/hs_err_pid11604.log)

[2020-03-11 12:43] rs-aesi commented on #6097
On Wed, 11 Mar 2020, Christoph wrote:

Christoph,

I'll rummage around in the preferenes for that setting. I don't need to see
the entire entry in that right-most window. If the Optional Fields tab can
use all available space that works better for me.

Thanks,

Rich

[2020-03-11 12:52] Auntie-Poulet opened #6101 "F4 Shortcut not working"
JabRef version <5.0> on <!Windows 10 x64>

F4 Shortcut for opening file does not work. (Worked fine in v4.31)
Changing to some different combination like alt+F5 doesn't help.
Opening PDF by clicking works fine.

(in addition: pushing the broom symbol for resetting, but then cancel the procedure when closing the window still saves the setting, probably connected with that issue(?))

[2020-03-11 12:57] mlep commented on #6101
F4 working on Linux with JabRef version 5.0.
Windows issue?

[2020-03-11 13:31] rs-aesi commented on #6097
On Wed, 11 Mar 2020, Christoph wrote:

Christoph,

I looked in Options -> Preferences. There are three items mentioning entry:
Entry table, Entry table columns, Entry preview. I did not recognize an
option in any of the dialog boxes that would be appropriate. A pointer would
be helpful.

Regards,

Rich

[2020-03-11 13:57] mlep commented on #6097
Well, it is in the item "Entry Preview". There, check the box "Show preview as a tab in entry editor".

Tip: when you are looking for something in the Preferences, there is an helpful search field at the upper-left corner of the preference window.

[2020-03-11 15:13] Hugoo98 commented on #6091
Hello,
I would like to try to correct this bugs and add a little functionality, as part of a course taken under license 3, I would like to know if this is not already done ...
cordially

[2020-03-11 15:43] rs-aesi commented on #6097
On Wed, 11 Mar 2020, MLEP wrote:

MLEP,

Mea culpa! I saw that check box and didn't realize what it meant so I
scanned the list below and left that page. I didn't realize the display I
wanted to remove was the entry preview.

Good to know ... as long as I know what I'm seeking is called. :-)

Many thanks,

Rich

[2020-03-11 15:51] mlep commented on #6097
No problem. Because @Siedlerchr mentioned "entry preview", I thought you would be looking for it.

[2020-03-11 16:00] rs-aesi commented on #6097
On Wed, 11 Mar 2020, MLEP wrote:

I missed that when I read the message.

Rich

[2020-03-11 16:05] VivaldoMendes commented on #6093
Sorry, I am a newcomer to JabRef, so it turns out I have too many doubts.

If by mistake, I attach two files to a particular BibTex entry, how do I correct this mistake? I see that in the "File annotations" pane, I can find the code used to attach those two files. The only thing is that I am not allowed to edit the code inside the "File annotations" pane.

Obviously, I can delete this particular e

[2020-03-11 16:12] mlep commented on #6093
Go to the tab "General". There, you will find the field "file". By right-clicking on a filename, you can delete the link.
Note: for help demands, the use of https://discourse.jabref.org/c/help/ is preferred

[2020-03-11 16:20] VivaldoMendes commented on #6093
That's great. Easy and efficient. Terrific.
Thank's.

[2020-03-11 16:21] ilippert opened #6102 "Saving file throws exception"
I saved my file, and got this exception. I cannot repeat this.

JabRef 5.0--2020-03-09--6bff936
Linux 5.5.8-200.fc31.x86_64 amd64
Java 13.0.2

Inspired by the discussion at https://github.com/JabRef/jabref/issues/4877 I like to contribute the fact that my file system is a  LVM partition with a cache.

[code]

<details>
  <summary>Log File</summary>
  org.jabref.logic.exporter.SaveException: Proble

[2020-03-11 16:50] Siedlerchr commented on #6101
Cannot reproduce this. Windows 10 here too.
In case the file is not found the folder is opened.

[2020-03-11 16:53] AEgit commented on #6101
JabRef 5.1--2020-03-10--43f533b
Windows 10 10.0 amd64
Java 13.0.2

Cannot reproduce this either: F4 works fine. I suspect the "Main file directory" has not been set by the user (?).

[2020-03-11 16:59] Siedlerchr commented on #6100
Can you always reproduce this error or was this only one time? Every menu or only a single menu?
The crash log shows that it happened somewhere outside  JabRef and crashed the java process, in the graphic driver. I found this forum post of another software:
Maybe you have some other program running that interferes with the graphics driver?
https://community.cryptomator.org/t/cryptomator-desktop-cr

[2020-03-11 16:59] #6100 closed

[2020-03-11 23:05] tobiasdiez opened #12944 "Add Mathematics Subject Classification as tooltip to keywords"
https://zbmath.org/classification/

[2020-03-12 03:12] digdig commented on #5872
Any schedule of this issues? Previously I submit a very similar issue on the mac version, it get fixed immediately. https://github.com/JabRef/jabref/issues/5615?email_token=ABJUZFO7NZ32O4KB5RJ2NQTQUFYGVA5CNFSM4JN5VEI2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEEIQNFA#issue-523583209 Hope this will help developers to fix it.

[2020-03-12 05:22] nicfreeman1209 commented on #6100
Thanks - indeed, I use RivaTuner.

[2020-03-12 06:48] Siedlerchr commented on #6091
@Hugoo98  Sure, go ahead! To me this looks like some issue with storing the properties and loading them from the preferences.
Read through the [Contribution Guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)
The related code is located in this package:
https://github.com/JabRef/jabref/tree/master/src/main/java/org/jabref/gui/libraryproperties

[2020-03-12 06:54] koppor commented on #6102
Could the file be saved at the end or is it corrupted?

[2020-03-12 08:18] Hugoo98 commented on #6091
@Siedlerchr thank you very much, I will try to do it and keep you posted.

[2020-03-12 08:47] ilippert commented on #6102
It was saved.

On 12 March 2020 07:54:18 CET, Oliver Kopp <notifications@github.com> wrote:

--
Sent from my LineageOS device with K-9 Mail. Please excuse my brevity.

[2020-03-12 09:12] ilippert commented on #5461
See https://github.com/JabRef/jabref/issues/4373 for bug of viewing and storing multiline fields

[2020-03-12 09:36] ilippert opened #6104 "exception - whilst editing field content in entry editor"
JabRef 5.0--2020-03-09--6bff936
Linux 5.5.8-200.fc31.x86_64 amd64
Java 13.0.2

I just edited an entry's multiline field, and deleted a word in the entry, working with the keyboard only.

I have no idea what happened; Cannot reproduce.

<details>
  <summary>Log File</summary>
java.lang.IllegalStateException: Task must only be used from the FX Application Thread
	at org.jabref.merged.module/javafx.c

[2020-03-12 09:39] ilippert commented on #6104
Just happened again...

maybe relevant, I am quickly switching back and forth between reading a pdf file (active window) and then switching back to jabref to note down points...
<details>
  <summary>Log File</summary>
java.lang.IllegalStateException: Task must only be used from the FX Application Thread
	at org.jabref.merged.module/javafx.concurrent.Task.checkThread(Unknown Source)
	at org.jabref.

[2020-03-12 09:48] Siedlerchr commented on #6104
Could you please check if you have any save actions defined?

[2020-03-12 09:52] ilippert commented on #6104
An exception often happens when

1. I click onto/select an entry in the entry table
2. and switch back to the editor to edit something in the field.

autosave is active.

<details>
  <summary>Log File</summary>
java.lang.IllegalStateException: Task must only be used from the FX Application Thread
	at org.jabref.merged.module/javafx.concurrent.Task.checkThread(Unknown Source)
	at org.jabref.merged.

[2020-03-12 10:23] ilippert commented on #5765
I would add this feature to https://github.com/JabRef/jabref/issues/6099

[2020-03-12 10:25] mlep opened #6105 "Readstatus: in dedicated field but also in keywords"
JabRef 5.0--2020-03-06--2e6f433
Linux 4.9.0-12-amd64 amd64
Java 13.0.2

When setting the "ReadStatus" of an entry (to "read" or to "skimmed"), the status is saved in the "readstatus" field (which makes sense), but also in the "keywords" field (which looks weird).

Steps to reproduce the behavior:
1.Set the read status of an entry to "read"
2. Go  to the tab "BibTeX source"
==> you find the lines:

[2020-03-12 10:35] Siedlerchr commented on #6105
There is a setting in the preferences:
Entry table columns: Special field status
- Sync with keywords

which is probably enabeld.

[2020-03-12 10:43] mlep commented on #6105
Indeed!
Sorry for noise. Closing...

[2020-03-12 10:43] #6105 closed

[2020-03-12 10:53] Auntie-Poulet commented on #6101
Main file directory is set.
@AEgit
Main file directory is set.
Tried the "Use the BIB file location as primary file directory" option aswell (bib file and pdf files are placed in same folder)

@Siedlerchr
There is no response at all

F3 does not work either. Other shortcuts work fine
Tried resetting preferences, starting a new project, different folder, no success.
Removing v5.0 and install 4.31,

[2020-03-12 18:49] calixtus commented on #6091
Hi @Hugoo98, im very sorry, I already startet work on this issue a few days ago, but did not uploaded my draft as a PR. I hope you did not put too much effort yet in it. Especially this one is a bit more complicated, since the library properties dialog is a little bit screwed up... 🙈 Maybe we can work on this together?

[2020-03-12 20:40] Hugoo98 commented on #6091
Hi @calixtus no no i haven't started yet but i sent it to my teacher and he said it might be interesting.
Ducoup, I made my decision to do it even if it is complicated because there are 3 of us in our group which allows us to exchange ideas.

[2020-03-12 21:37] calixtus commented on #6091
Good, JabRef always welcomes students, who would like to practice software architecture and programming. I'll leave than the rework of SaveOrderConfigPanel to you. If you have questions, don't hesitate to ask us, we always like to help.

My original plan was to replace the three comboBoxes with a single TableView, offering the user the ability to add more than three SortCriteria. Fortunatly SaveOr

[2020-03-12 21:51] Siedlerchr commented on #6091
You are lucky, as javafx already has a CheckboxTableCell you can use.
https://docs.oracle.com/javase/8/javafx/api/javafx/scene/control/cell/CheckBoxTableCell.html

[2020-03-12 22:01] Hugoo98 commented on #6091
ok thanks @calixtus  i will take a look at your PR and i will keep you posted

[2020-03-13 08:11] ytzemih opened #6108 "Empty field not checked in dialog for creation of keyword-search groups"
JabRef 5.1--2020-03-12--23034ce
Linux 5.4.19-050419-generic amd64
Java 13.0.2

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Create a group of type `searching for keywords`
2. Leave `Field`empty and add some keyword to `Keyword`
3. When adding an entry to the group by drag-n-drop, JabRef genera

[2020-03-13 11:03] ytzemih opened #6109 "Recovery dialogue on start-up shown although saved and closed properly"
JabRef 5.1--2020-03-12--23034ce
Linux 5.4.19-050419-generic amd64
Java 13.0.2

- [X] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. For a test bib file, delete bak/sav files if any
2. Open test file in JR
3. Do some edits, save, and close JR such that test file is automatically reopened when starting

[2020-03-13 13:00] Codeberg-AsGithubAlternative-buhtz commented on #6092
The problem is still reproducable with the current dev - also with the release version. I can not understand why there was a release in the last days but JabRef is still unstable.

[2020-03-13 16:37] #6088 closed

[2020-03-13 16:39] stefan-kolb commented on #6066
Should be fixed within https://github.com/JabRef/jabref/pull/6110

[2020-03-13 16:59] stefan-kolb commented on #6109
Duplicate of #6092?

[2020-03-13 19:16] koppor commented on #6109
Refs https://github.com/koppor/jabref/issues/391

[2020-03-13 21:43] mpatas opened #6115 "Inconsistent capitalisation of downloaded files"
In JabRef 5.0, if a pdf file is downloaded using "Download from URL" button in entry editor ("General" tab), it gets the extension "PDF" with upper case letters (that is, let's say, "Bibtexkey.PDF"). But if, after that, one changes Bibtexkey (or, presumably, something else that goes into the default file name), and chooses "Rename file to default pattern", the file gets an extension "pdf" with low

[2020-03-13 21:49] #6015 closed

[2020-03-13 22:35] koppor commented on #6092
The option "create backup file while saving" is for the `.bak` file, not for the `.sav` file. - Because of the **while** saving.

The issue is that the setting is without implementation. See https://github.com/JabRef/jabref/blob/209d336d24eef2a4bf4405d6d334370466d88a65/src/main/java/org/jabref/logic/exporter/AtomicFileOutputStream.java#L185.

Options:

1. Remove setting from the GUI.
2. Remove cre

[2020-03-14 00:20] koppor commented on #6109
Does `"Error while deleting the backup file."` appear somewhere in the log file?

[2020-03-14 06:57] Codeberg-AsGithubAlternative-buhtz commented on #6092
What is the difference between bak and sav file?

[2020-03-14 07:33] koppor commented on #6092
sav == autosave each 15sec
bak == version saved before last save. -- HEAD~ in nerd speak

Reason for bak: non IT users can restore something if they accidentally
saved. -- Very old functionality. Could be done differently these days. See
IntelliJ for instance...

Codeberg-AsGithubAlternative-buhtz <notifications@github.com> schrieb am
Sa., 14. März 2020, 07:57:

[2020-03-14 11:02] #6115 closed

[2020-03-14 12:51] mpatas opened #6120 "Fulltext file deleted when being renamed to the name differing just by letter case"
In JabRef version 5.0 the fulltext file can be deleted when trying to rename it to the almost the same name, as it already had, but with different letter case.

For example:
1. Let's say we have an entry with Bibtexkey "Einstein1905a" and fulltext file "Einstein1905a.pdf".
2. In the "Required Fields" tab, change the Bibtexkey to "Einstein1905A" (that is, change lower case "a" to upper case "A").
3

[2020-03-14 13:10] stefan-kolb commented on #6078
![image](https://user-images.githubusercontent.com/2141507/76682572-845c6380-65fd-11ea-9384-8b105d66bd76.png)

[2020-03-14 13:52] stefan-kolb commented on #6085
The only reason I can think of might be caused by the following code snippet:
[code]

`BibEntry entry = stateManager.getSelectedEntries().get(0);`

Also I do not know how to trigger this method without an entry selected it might still be an empty list.
At least this is what the error log says. So we can only get the entry when it exists.

[2020-03-14 15:11] bernhard-kleine commented on #6078
It would be very good, if a dropdown with icons is avaaible. The present situtation is untainable.

[2020-03-14 16:48] notuntoward opened #6124 "No display over dual screen remote desktop connection"
I'm connecting my home dual monitor machine to my work dual monitor machine (both Windows 10).  If I set up the remote desktop connection to display both work screens  on both home screens, then JabRef will start on the work computer, but not display anything on either home screeen.  If, on the other hand, I set up the remote desktop connection so that both work screens are displayed on only one h

[2020-03-14 17:54] stefan-kolb commented on #6099
It depends on how you categorize things, I guess.
If you say the bottom group includes all `entry-related actions/changes to an entry` it is probably fine as is right now.
Can you elaborate more why you think your grouping is more consistent?

I would vote to keep it as is right now.
@JabRef/developers What do you think?

[2020-03-14 17:58] stefan-kolb commented on #6092
I guess we can remove that option from the UI/preferences. @JabRef/developers WDYT? Consens or dev call?

[2020-03-14 18:00] stefan-kolb commented on #6097
I cannot reproduce that behavior. It works for me. Both input fields expand simultaneously.

[2020-03-14 18:02] Siedlerchr commented on #6092
I'm voting for remove

[2020-03-14 18:16] stefan-kolb commented on #6000
Maybe related to https://github.com/JabRef/jabref/issues/6102?

[2020-03-14 18:42] stefan-kolb commented on #850
@JabRef/developers Are these fields removed? I cannot find anything anymore, when searching the code.

[2020-03-14 19:07] Siedlerchr commented on #850
You are right. This has been changed. We have clear enums for InternalField., SpecialField and normal Bibtex/Biblatex fields.

[2020-03-14 19:07] #850 closed

[2020-03-14 19:14] #6120 closed

[2020-03-14 20:00] calixtus commented on #6092
If it's of no use, remove it.
There are probably some more things that could be removed from the preferences: Like the special option to select the sumatra pdf reader. This should work with the application binding in the external file types manager dialog...

[2020-03-14 22:10] #6078 closed

[2020-03-15 11:12] stefan-kolb opened #6125 "Sonatype 403 error when building deployment artifacts"
See https://github.com/JabRef/jabref/actions?query=workflow%3ADeployment
Tracked here: https://github.community/t5/GitHub-Actions/Gradle-fetching-library-from-oss-sontatype-org-throws-403/m-p/50121#M7712

[2020-03-15 14:18] dimitra-karadima commented on #6074
I'd like to work on that.

[2020-03-15 14:36] teertinker commented on #4096
Can any development about the issue be expected in a foreseeable future? Is this about technical problems or design decisions? Honestly, I don't understand why global search has been removed. If working with tabs is a feature of jabref (which it really is - compared to other software like endnote), then workflows between tabs should be designed to be seamless. If a background search of all databas

[2020-03-15 14:37] systemoperator commented on #6074
@dimitra-karadima That would be really great! :)

[2020-03-15 15:02] systemoperator commented on #6074
@dimitra-karadima To probably boost your productivity a bit, you could maybe find it useful to grab some ideas from the code of the PR #6046. Simple textual (non-html) tooltips will be sufficient for this PR, thus the lengthy discussion of the linked PR is not that relevant for you. But feel free to implement it as you think it is best for you. :)

[2020-03-15 15:40] dimitra-karadima commented on #6074
@systemoperator Thank you for the additional tips. I will take everything into notice and see how it is going to work out in the end.

[2020-03-15 15:46] stefan-kolb commented on #4096
It is more or less a resource issue. The scarce resource is the unpaid developer that needs to implement this.

[2020-03-15 20:20] smartens opened #6127 "Show solution-oriented user error message when braces don't match"
When I accidentally forget to remove a curly brace to remove/set in the entry editor, JabRef should show the user a meaningful error message. Right now only an exception popup is shown with the error message.

![image](https://user-images.githubusercontent.com/898436/76709297-16e42c00-66fe-11ea-9b28-6dba43ce047f.png)

Steps to reproduce the behavior:
1. Type in e.g. M{\"u}}ller in a field.
2. Try

[2020-03-16 08:36] #6038 closed

[2020-03-16 08:36] #5529 closed

[2020-03-16 18:46] PierreMarchand20 opened #6134 "Copy paste selection from bibtex source not working"
JabRef version 5 on Mac OS X 10.14

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When copying something selected (like the key of the entry) from the bibtex source of an entry, it actually copies the whole entry.

Steps to reproduce the behavior:
1. Copy something selected
2. Paste

[2020-03-16 19:33] Siedlerchr commented on #6134
On Windows this works fine,  only the highlighted text is copied, so it might be some Mac behavior.

[2020-03-17 00:13] github-actions[bot] opened #6136 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2020-03-17 05:27] #5832 closed

[2020-03-17 08:42] #6136 closed

[2020-03-17 10:14] tobiasdiez opened #6140 "Improve display of groups and keywords in entry editor"
Our custom `TagBar` should be replaced by the [ChipView](https://github.com/jfoenixadmin/JFoenix/blob/master/demo/src/main/java/demos/gui/uicomponents/ChipViewController.java) of [jfoenix](https://github.com/jfoenixadmin/JFoenix) and this control should be used to display groups and keywords in the entry editor.
![image](https://camo.githubusercontent.com/bf8b04f92786534da2763b69a800c650766cd89b/6

[2020-03-17 13:10] ihesham opened #6141 "Unable to install JabRef version 5.0"
I have been using JabRef for many years as my biblography manager. I work on windows system (WIN10, now ver. 1909). I noticed the JabRef  update installer file this time was given as msi  `file JabRef-5.0.msi` rather than the usual exe extension `JabRef_windows-x64_4_3_1.exe` used in previous updates.

When trying to install the new update file `JabRef-5.0.msi`, the following error message is disp

[2020-03-17 13:48] tobiasdiez commented on #6141
Could you please create a detailed installation log (e.g [as described here](https://www.advancedinstaller.com/user-guide/qa-log.html)) so that we can see which particular library is missing for the installer. Thanks

[2020-03-17 14:08] tobiasdiez opened #6142 "Add icon picker in group edit dialog"
As noted recently, the user has to manually lookup the icon-code and put it in the "Edit group" dialog. Instead, we should show a (searchable) list of all available icons.

Example for how the UI can look like: https://itsjavi.com/fontawesome-iconpicker/ (and maybe https://dmdc0de.github.io/material-ui-icon-picker/ )
![image](https://user-images.githubusercontent.com/5037600/111888463-0cc5cf00-89d

[2020-03-17 14:38] ihesham commented on #6141
Thanks for your reply.
This is the log file created as described above.

[JabRef-5.0.log](https://github.com/JabRef/jabref/files/4343941/JabRef-5.0.log)

[2020-03-17 15:08] ihesham commented on #6141
The problem is solved by opening `cmd` as admin, then running the installer with the command `msiexec /i "path\to\JabRef-5.0.msi"`

[2020-03-17 15:09] tobiasdiez commented on #6141
The log points to

The JpCheckInstallDir action is a standard widget from WiX toolset (the tool that we use to create the installer).  So I doubt that there is a problem with the code.

A few ideas:
- Try to re-download the installer
- Try to invoke the installer from a different folder
- "Property(C): TARGETDIR = F:\", maybe the target folder does not exist?
- Try to disable the antivirus before

[2020-03-17 15:09] #6141 closed

[2020-03-18 08:58] chriba opened #6144 "Edition field shouldn't have to start with a capitalized letter (field hint)"
The edition field of an entry (in this case book) contains a note that it should begin with an uppercase letter and does not consider that it could also start with a number.

![image](https://user-images.githubusercontent.com/15333371/76942469-13b78e80-68fe-11ea-8f44-f34bba311a78.png)

JabRef 5.0--2020-03-06--2e6f433
Windows 10 10.0 amd64
Java 13.0.2

[2020-03-18 09:42] bernhard-kleine commented on #6094
Could be closed!

[2020-03-18 21:23] Siedlerchr commented on #5071
Could you all please test with the latest development version?
We upgraded to javafx14 which comes with an overall performance improvement. We still have to optimize some bottlenecks, but I personally noticed some performance increases

[2020-03-18 21:33] AEgit commented on #5071
JabRef 5.1--2020-03-18--99183e1
Windows 10 10.0 amd64
Java 13.0.2

I am afraid, as mentioned previously (https://github.com/JabRef/jabref/issues/5510#issuecomment-590564792; https://github.com/JabRef/jabref/issues/5735#issuecomment-591904187), the performance is actually worse for me - it is so bad, that I cannot use my large database any more for bug testing.

[2020-03-18 23:09] stefan-kolb commented on #6125
Should be resolved for now. See https://github.community/t5/GitHub-Actions/Gradle-fetching-library-from-oss-sontatype-org-throws-403/m-p/50121#M7712.

[2020-03-18 23:09] #6125 closed

[2020-03-19 14:29] ilippert commented on #5071
JabRef 5.1--2020-03-18--99183e1
Linux 5.5.8-200.fc31.x86_64 amd64
Java 13.0.2

with approx 10600 entries

in the entry table, when I sort according to a column, the first time I click onto a column header, it can take 15-20 seconds to sort the entries. the second time, sorting in the opposite order, takes only a 3 seconds.

[2020-03-20 04:07] armanawn commented on #6101
The F4 shortcut does not work when you open JabRef, but if you right click on any entry just once, then F4 works just fine.

[2020-03-20 08:41] nclerx commented on #4859
I have this similar problem with JabRef 5.0 (which was working fine last month). If I try to run JabRef it initializes and I get a taskbar icon, but it remains blank in the ALT-TAB preview and if I click it I get nothing.
I tried re-installing, but this hasn't solved the problem.

[2020-03-20 09:15] cdormann opened #6146 "can't jump in ordered author list by typing letters"
JabRef 5.0--2020-03-06--2e6f433
Mac OS X 10.14.6 x86_64
Java 13.0.2

I updated today to the latest stable release.
I have my literature sorted by author (last) name, clicking on "Author/Editor" until the upwards-pointing triangle shows. Now I could just jump to anywhere by typing a letter, e.g. by typing "e" I would jump to the first author/editor startig with "e" or "E". Same for longer names.
As

[2020-03-20 13:07] tobiasdiez commented on #5847
Thanks to @ShikunXiong this is now implemented in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

@lglopezh Don't be too upset! We have a bunch of nice issues that are just waiting to be attacked: https://github.com/JabRef/jabref/labels/good%20first%20is

[2020-03-20 13:07] #5847 closed

[2020-03-20 15:01] lglopezh commented on #5847
I'm not upset, hehe.

Let me see other issues, thanks.

[2020-03-20 15:56] fabgio commented on #6144
How can I  became a project contributor and have this issue assigned?

[2020-03-20 16:08] Siedlerchr commented on #6144
@fabgio  Thanks for your interest in contributing to JabRef. It's okay to simply comment/ state here that you want to work on that issue and create a PR.  Make sure to read and follow the [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)

[2020-03-20 17:32] koppor commented on #5591
@reox Could you test with https://builds.jabref.org/master/, because we updated to JDK14 (refs #6145).

[2020-03-20 18:58] mpatas opened #6148 "Adding a new subgroup sometimes results in the whole list of groups being hidden"
In JabRef 5.0, adding a new subgroup sometimes results in the whole list of groups (in groups interface) being hidden, as if all of them had been deleted. So far it looks like that happens when the group to which the subgroup is being added has many subgroups already, and the new subgroup would have to be put in a place that would not be visible without scrolling down.

After saving the file, clos

[2020-03-21 14:36] koppor opened #6150 "Enable interface to "COVID-19 Open Research Dataset""
In response to the COVID-19 pandemic, the Allen Institute for AI has partnered with leading research groups to prepare and distribute the COVID-19 Open Research Dataset (CORD-19), a free resource of over 44,000 scholarly articles, including over 29,000 with full text, about COVID-19 and the coronavirus family of viruses for use by the global research community. It is available at https://pages.sem

[2020-03-21 17:39] Siedlerchr commented on #6065
@sksonalkothari  Sorry for the delay. It seems the abstract should only be taken from either the field
AB or the fields N2 instead of concatenation.
So if, AB is empty, take N2

[2020-03-21 22:06] PorcelainMouse commented on #5919
I still haven't tied it isolated, but that is seem less relevant as I learn more.  I accidentally clicked the JabFox button, today, and JabRef started, again hanging my whole system for about a minute until 1.2 GB of memory was swapped out of RAM.

I looked at other processes running and found that JabRef is much larger than most, as I previously reported, but not the largest.  Virtual size was 97

[2020-03-22 11:28] Yery opened #6153 "citation counts"
Hi,

i am not sure whether this is possible, but it would be very cool to have JabRef import citation counts (e.g. from google scholar or scopus), and display this info as an extra column in Jabref.

Regards,
Yery

[2020-03-22 11:40] koppor commented on #2581
There are now PRs for each fetchers listed above. Thus, I close this issue. Thanks to everybody involved.

[2020-03-22 11:40] #2581 closed

[2020-03-22 12:03] koppor commented on #6153
This is a duplicate of https://github.com/JabRef/jabref/issues/5849, please provide additional input there.

[2020-03-22 12:03] #6153 closed

[2020-03-22 12:53] sambo57u commented on #5522
I love the dark theme but cannot use it since the scroll bar slider is not visible at all. This is with 5.0 and 5.1 (daily updated). Is this very hard to fix? Is there a way to define colors
for window elements externally? Thanks

[2020-03-22 15:32] #6091 closed

[2020-03-22 15:51] tobiasdiez opened #6154 "Add to Apple Store"
Now that we have an Apple Developer account, it would be nice to add JabRef to the apple store or at least sign the installer.

Related links:
- Description how this is usually done: https://developer.apple.com/developer-id/
- Using jpackage: http://kothar.net/macos_catalina_java_11 https://docs.oracle.com/en/java/javase/14/docs/specs/man/jpackage.html (description of `mac-sign`)
- Bugs that one m

[2020-03-22 20:10] lizliz commented on #5401
Fabulous! So far, everything seems to be working again! And DOI inputs work again! Oh my goodness, I'm so happy!

I only ran `sudo snap install --edge jabref`, didn't do the refresh command and it's working fine.  What does that second command do? Do I need to do that?

[2020-03-22 20:16] tobiasdiez opened #6157 "Add continuous benchmarking"
We have a jmh benchmark suit but this is never run and/or checked for performance regressions. Thus it would be good to have a continuous benchmarking solution.

Github action that goes in this direction (but has not yet support for jmh) https://github.com/marketplace/actions/continuous-benchmark https://github.com/bobheadxi/gobenchdata

[2020-03-22 20:47] AEgit commented on #5401
If the snap works for you without having to invoke the `--devmode`, then you probably do not need to do this. Switching to/updating a snap in developer mode does not enforce certain security policies that are usually followed by snap packages (can make testing of an application easier).

[2020-03-22 21:08] fanmingyu212 commented on #6049
Can also confirm the same issue with both JabRef 5.0 (public release version) and 5.1 (current master, https://github.com/JabRef/jabref/commit/acf2ac46a3bdc83d11e96e7f337783fcf197be61) on "Windows 10 10.0 amd64, Java 14"

[2020-03-22 21:31] tobiasdiez opened #6158 "Use GROBID for extraction of metadata from PDFs"
Now that we have the GROBID server up and running, we can also use it to extract bibliographic metadata from PDFs.

https://grobid.readthedocs.io/en/latest/Grobid-service/
/api/processHeaderDocument

Old PR (using CERMINE instead of GROBID):  https://github.com/JabRef/jabref/pull/2474

[2020-03-22 21:54] calixtus commented on #6049
I'm not sure what the difference between AppendDatabaseAction and ImportAction into current Database is...

[2020-03-22 22:59] koppor commented on #6049
A quick look reveals following for me:

- AppendDatabaseAction: `org/jabref/gui/importer/actions/AppendDatabaseAction.java:97` --> `importGroups`, which relies on the old group format
- I forgot about the `ContentSelector`. This is somehow important - and not handled in the ImportAction (but in AppendDatabaseAction)
- The `ImportAction` opens a dialog for selecting entries. - The "AppendDataBaseAc

[2020-03-23 08:19] calixtus commented on #6049
I was asking, because in JabRefFrame a comment is indicating that those two commands should be merged... (`JabRefFrame.java:681`)

[2020-03-23 08:56] tobiasdiez commented on #6049
Both actions are more or less the same (at least from a user perspective): Select a file and put everything contained in that file into the current library.

Usually, the import action "only" imports entries while the "append" also includes metadata (e.g. groups). In my opinion, they can indeed be merged.

[2020-03-23 09:22] ShuguangSun opened #6169 "":PDF" will not show the pdf icon in the"
JabRef version JabRef 5.1--2020-03-10--43f533b on Windows 10 10.0 amd64 Java 13.0.2

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Add a file to General => File, which will add a file field looking like
   `file      = {:STAT/aa.pdf:PDF},`
2. It will show an unrecognized file type icon in the l

[2020-03-23 09:31] Siedlerchr commented on #6169
Thanks for your report, looks like this was missed in #6119

[2020-03-23 13:49] GregBievre opened #6170 "Imported open office jstyle files disappear when re-starting JabRef (Windows10)"
Hello JabRef team,

JabRef version 5.1 23 March 2020 on Windows 10 Intel i7 x86_64 Java 1.8.0_241

- [x] I have tested the latest development version (5.1) from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. ... load style file (select style file -> add style file)
2. ... work with your own style file
3. ...save work and close JabRef
4. ... open JabR

[2020-03-23 19:51] koppor commented on #6158
Currently, it returns TEI XML format only, not BibTeX. I can try to patch the server accordingly.

I am curious in which cases GROBID is better than JabRef's custom implementation. It worked fine for me for IEEE and Springer LNCS. Still need to add more test cases though.

[2020-03-23 23:26] tobiasdiez commented on #6158
Would be nice if you could change the server accordingly. Grobid is the defacto standard for metadata extraction from pdf (and is used by ResearchGate, Mendeley, etc). Our implementation was really naïve and only works for a few publisher.

[2020-03-24 00:11] github-actions[bot] opened #6172 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2020-03-24 15:14] dextep commented on #6140
I'd like to work on that. It's will be my first issue so im open to additional tips :)

[2020-03-24 17:26] tobiasdiez commented on #6140
Thanks for your interest @dextep! First of all have a look at our [contribution guide](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md) and follow the instructions given there to setup a local working environment.

Coding-wise: The editor for the `keyword` field is described here https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/fieldeditors/KeywordsEditor.java

[2020-03-24 20:30] reox commented on #5591
[code]

but this still works:
[code]

Looks like the reported errors do no harm.

[code]

[2020-03-25 08:26] Yery opened #6175 "Group color, only display identical colors once"
Suppose i have the following Categories and Subcategories
Category: Food: Subcategory: Nuts
Category: Trees: Subcategory: Nut trees

Now it is possible (and makes sense) to assign a single colour to both subcategory Nuts and Nut trees.  Some papers however, will naturally be categorized in both groups. In such instances, Jabref currently displays twice the colour in the main table (in the column g

[2020-03-25 11:20] jorgman1 opened #6177 "Select library during import"
Would it be possible to select the library into which the entry is imported?

I often have several libraries open at the same time, and I have to switch to the desired library before importing (something that I often forget).

[2020-03-26 00:00] systemoperator opened #6178 "Truncate link and link description in column "linked files" in main table if too long"
If the link and/or the link description in the column "linked files" in the main table is too long, then they/it should be truncated, otherwise display issues appear. If several files are linked and a list pops up, when clicking the "linked files" icon, then no linked file entry can be read any more.

[2020-03-26 09:42] reox opened #6180 "Groups panel does not keep size when resizing window"
JabRef version
[code]
Debian bullseye/sid with i3 window manager.

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Before, the groups panel would stay at it's size when the window is resized.
Now, it seems to scale proportionally with the whole window.
This is especially annoying when a tiling window manager is used and you open a

[2020-03-26 10:24] geyslein opened #6181 "Maximized window moves when opening submenu window"
__JabRef version__
JabRef 5.0--ArchLinux--2
Linux 5.5.10-arch1-1 amd64
Java 13.0.2

- [ ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists
=> sorry for that, but I do need to work with JabRef right now, can do that later, after the paper is finished

__Steps to reproduce the behavior:__
1. Open Jabref, Main window is in full width (maximiz

[2020-03-26 17:46] koppor opened #6182 "Import Dialog should show BibTeX entry"
Current "Import Dialog"

![grafik](https://user-images.githubusercontent.com/1366654/77678799-fdf73880-6f91-11ea-9dcc-f8f041bc4ec3.png)

When clicking on an entry, I expect the BibTeX source to be shown.

[2020-03-26 17:59] lwwini opened #6183 "Import Entry using WebSearch not working and many other issues with Jabref 5.0"
Hi,

As the title suggested, WebSearch in Jabref 5.0 is not working, and it can't seem to be able to open my existing .bib document which was fine before the update. In addition, .bib files downloads straight from the publication website cannot be opened in Jabref 5.0.

Would be great if anyone could resolve these.

Thanks.

[2020-03-26 18:00] lwwini commented on #6183
There is an error saying 'Error opening .bib file, file not found.' But then it can still present the file and everything is there....

[2020-03-26 18:14] Siedlerchr commented on #6183
Hi, could you please add some more details, e.g. what steps you did or a sample bib file?
If a double click on the bib does not open JabRef, you can always Import files from the menu

[2020-03-26 21:13] davidcbenson commented on #5916
I was having the same issue when entering keywords, as well as in several other fields, and I turned auto-complete off. I have been using Jabref for more than an hour without the error reoccurring, and it was happening every few minutes or so before. I also have no save actions.

[2020-03-26 23:45] tobiasdiez commented on #6182
Why is this? Is it rarely the case that you care about the exact bibtex code you import, right?

[2020-03-27 07:20] koppor commented on #6182
Similar to the `<details>` thing of GitHub. Gives more control for the users new to JabRef and not fully trusting it 😅

[2020-03-27 07:25] koppor commented on #6182
Alternatively,

- do not show the dialog when importing entries via "File -> Import"
- Add the new entries to a group "Imported Entries"

[2020-03-27 10:03] tobiasdiez commented on #6182
I still have trouble seeing the use case. The purpose of the import dialog is to let the user decide which entries to import, and I don't see why the bibtex code should matter for this. Normally, you either want to import all entries or a subset. So the important part is that the user is able to identify the relevant entries as quickly as possible.

That's a good suggestion in my opinion (maybe ha

[2020-03-27 11:50] Gena928 commented on #6042
Hi Tobiasdiez,

If possible, I would like to work in this issue. Can you assign it to me?

Gennadiy

[2020-03-27 20:32] systemoperator commented on #6182
Zotero allows defining really powerful filters. I created e.g. one called "recently added", which covers the last 7 days. (The numeric value can be set freely. Possible time units are days, months, years. Several filter constraints can be defined at once.)

![image](https://user-images.githubusercontent.com/3658393/77797517-7e409b00-7071-11ea-9579-48d993e0b9e3.png)

![image](https://user-images.gi

[2020-03-27 20:42] systemoperator opened #6185 "Groups: Extend filter constraints (e.g. time constraints)"
Zotero allows defining really powerful filters. I created e.g. one called "recently added", which covers the last 7 days. (The numeric value can be set freely. Possible time units are days, months, years. Several filter constraints can be defined at once.)

![image](https://user-images.githubusercontent.com/3658393/77797517-7e409b00-7071-11ea-9579-48d993e0b9e3.png)

![image](https://user-images.gi

[2020-03-27 21:09] monikajaskolka commented on #4424
I am still experiencing this issue.
JabRef 5.0--2020-03-06--2e6f433
Mac OS X 10.14.6 x86_64
Java 13.0.2

![textsuperscriptissue](https://user-images.githubusercontent.com/6617546/77800627-96062800-704d-11ea-8aee-c2a2904eff8a.png)

[2020-03-27 21:17] tobiasdiez opened #6186 "Add "Send to Kindle""
It would be nice if one could simply right-click a linked file and send it to one's kindle.

Strategy:
- Convert files to supported format (e.g. epub to mobi)
- Send email to amazon kindle with attachment

This needs a bit of preparation on the user's side:
- Need to download and install [KindleGen](https://www.amazon.com/gp/feature.html/?docId=1000765211) (amazon's license doesn't allow distribut

[2020-03-27 21:29] tobiasdiez opened #6187 "Add posibility to explore citation relations"
Add the possibility to find (and easily add) papers that cite or are cited by a a given paper (or a couple of paper).

Here are a bunch of links that might be relevant/helpful:
- http://api.semantischolar.org/
- https://opencitations.net/index/api/v1
- http://citationgecko.com/
- https://www.yewno.com/discover
- https://openknowledgemaps.org/
- http://wikicite.org/
- https://www.scholarcy.com/
- h

[2020-03-27 21:31] tobiasdiez opened #6188 "Add fulltext search"
Index all files linked in some entry and provide full text search of their content.

There have been already two attempts to implement this: https://github.com/JabRef/jabref/pull/2264 https://github.com/JabRef/jabref/pull/2838

[2020-03-27 21:57] tobiasdiez opened #6189 "Show information about the journal"
In the entry editor, there should be a button next to the journal field that displays a bunch of information about the journal in a [PopOver](https://controlsfx.bitbucket.io/org/controlsfx/control/PopOver.html). For example similar to
![image](https://user-images.githubusercontent.com/5037600/77803707-0e84dd00-707e-11ea-8732-a8dd62a02615.png)
(from [eigenfactor](http://www.eigenfactor.org/projects

[2020-03-27 22:16] AEgit commented on #6188
Just as a reminder: If someone tackles this (definitely interesting) suggestion, please also consider the performance impact on large databases.

[2020-03-27 22:34] tobiasdiez opened #6190 "Improve entry merge dialog (3-way merge)"
- [ ] Add option to show only differences
- [ ] Emphasize header (e.g. bold and with different background) as in ![](https://docs.servicenow.com/bundle/geneva-release-notes/page/build/team_development/image/CompareToCurrentForm.png)
- [ ] Concert to 3-way merge: the two entries to be merged on the left and right, in the mid the final merged entry. The values of the merged entry in the center shoul

[2020-03-27 23:03] tobiasdiez opened #6191 "Entry editor: move from textfields to more intelligent controls"
Instead of the textfields that we are currently using, I think it would be more user friendly to have more visual controls that support intelligent inline editing.

That's probably something to discuss at the next JabCon....

Example:
![image](https://user-images.githubusercontent.com/5037600/77806808-15175280-7086-11ea-966d-67f14a9058a3.png)
https://support.papersapp.com/support/solutions/article

[2020-03-27 23:49] castro-truelogic commented on #5842
Any news about this feature?

[2020-03-28 10:05] WangAooa commented on #6178
Hi, I'd like to contribute to this issue, I am new in open source development.

[2020-03-28 10:05] WangAooa commented on #6175
Hi, I'd like to contribute to this issue.

[2020-03-28 10:14] systemoperator commented on #6178
@WangAooa Thank you for your ambitions! :) There already exists a fix for this issue. Please have a look at [good first issues](https://github.com/JabRef/jabref/labels/good%20first%20issue). There are plenty of other nice ones. :smile:

[2020-03-28 16:51] smihael opened #6192 "Create a group from list of entry ids"
Please add a possibility to create a group based on a list of entry IDs. This would function similar to aux import, but would be useful to create static groups. It would be especially useful when you don't have the aux file anymore.

[2020-03-28 16:57] smihael opened #6193 "Allow each row to have different colour"
I typically work with large .bib files. Over time the file becomes a mess and it is hard to quickly find an entry. It would be fine if one could opt in to have a different background color of rows given different types of entires (journal/conf. paper, read status, ...)

Currently coloring is supported for groups, but as each entry can be assigned to multiple groups, only a small rectangle is shown

[2020-03-28 17:00] smihael opened #6194 "Allow basic markup syntax in the comments tab"
Currently once can write comments within the entry editor. I would suggest to support and highlight basic markdown syntax or generate a comment preview instead of the entry preview in the right pane of the tab.

[2020-03-28 17:18] smihael opened #6195 "Allow user to use system theme"
For better integration, users should be allowed to use system theme or imitate it. On Linux this would be GTK/Qt Look-And-Feel.

[2020-03-28 17:37] smihael opened #6196 "Changing key generator pattern doesn't work"
I'm using JabRef 5.0--2020-03-06--2e6f433 (Java 13.0.2) on and Ubuntu 18.04 based system (KDE neon).

Steps to reproduce the behavior:
1. Preferences
2. BibTeX key generator
3. Click on any row to change key pattern
4. Enter  [auth][year][veryshorttitle]

Now you can:
a) Click anywhere in the window. The input field is reset to previous value. In the case of default pattern this is [auth][year].
b

[2020-03-28 18:17] koppor opened #6197 "Do not store downloaded file if it is already attached"
Follow-up to https://github.com/JabRef/jabref/pull/6174

When a user downloads a PDF - and this PDF **equals** to an already attached PDF, it should not be attached again.

Possible steps:

1. `default.pdf` exists
2. Download as `default (1).pdf`.
3. Check if file content of `default.pdf` equals file content of `default (1).pdf` (Use https://guava.dev/releases/21.0/api/docs/com/google/common/io/Fi

[2020-03-28 18:22] koppor commented on #6186
To prevent that our SMPT server is mis-used for spam, I think of following steps:

1. Setup "JabCloud" ("CloudRef"?) offering this service
2. Force users to create an account there to have this functionality
3. Enable accounts in JabRef

Then JabRef connects to JabCloud and allows then conversion to Kindle.

[2020-03-28 18:59] tobiasdiez commented on #6192
You can already create a manual group which contains only entries added by hand. Thus simply search for the relevant entry and drag & drop it on the manual group to add it.

[2020-03-28 18:59] #6192 closed

[2020-03-28 19:04] tobiasdiez commented on #6195
With https://github.com/JabRef/jabref/pull/6036 users can create custom themes. We sadly don't have the resources to create theme for each OS, but feel free to provide one for GTK (as soon as the PR is merged).

[2020-03-28 19:04] #6195 closed

[2020-03-28 19:04] Siedlerchr commented on #6186
I am against running an open smtp server. This is dangerous and invites spamming.
I would simply enable the configuration of an smtp account in the setting where a user can enter his own email details

[2020-03-28 19:04] LyzardKing commented on #5417
The snap works.
@koppor @tobiasdiez Do you think it could be promoted to stable?
That would give more visibility in the app stores

[2020-03-28 19:08] tobiasdiez commented on #6186
The smtp server can be secured by a passwort that will be integrated into JabRef via a Github secret. I think from a user's perspective this is the easiest solution although the other approaches (cloudref account, own smtp server) work too.

[2020-03-28 19:29] Siedlerchr commented on #6196
Duplicate of  #5825 You simply need to hit enter to save the field content.

[2020-03-28 19:29] #6196 closed

[2020-03-28 19:50] koppor commented on #5071
Side comment: For sharing screen recordings, [loom](https://www.loom.com/) was recommended to me. Then, everyone with a web browser can see the videos. (I got comments that some users could not see the videos above)

[2020-03-28 19:51] koppor commented on #5071
I would assume that this issue also covers search-as-you-type, where @hankstevens01 and @lc9275 reported that it is very slow:

- https://github.com/JabRef/jabref/pull/1100#issuecomment-601727917
- https://github.com/JabRef/jabref/pull/1100#issuecomment-603464324

Thus, I just list it here.

[2020-03-28 19:56] Siedlerchr opened #6198 "Storing selected preview throws java.lang.IllegalArgumentException: Value too long:"
Current dev version

1. Go to Preferences ->  Entry Preview
2. Search American Psychological Association...
3. Move the style to the right
4. Select it or move it up to the top
5. Save preferences:
6. Exception occurs

The problem is that the maximum allowed value for the Preferences Value is:
8192 characters  (MAX_VALUE_LENGTH)

Solution: I think the solution would be to store the name of the sty

[2020-03-28 20:26] smihael commented on #6196
Thanks. It would be good to make it more intuitive (e.g. by showing a hover
text).

On Sat, 28 Mar 2020 at 20:29, Christoph <notifications@github.com> wrote:

[2020-03-28 20:34] smihael commented on #6195
Unfortunately I was not clear enough, what I mean by Look-And-Feel. The term relates to (possibly) obsolete swing feature (https://docs.oracle.com/javase/tutorial/uiswing/lookandfeel/plaf.html), that changes the widget elements to match the OS. It is also not that much about colors but more about widget form. It seems that this used to be supported in previous versions (https://benjaminirving.gith

[2020-03-28 20:37] smihael commented on #6192
What if you have a list of say twenty entries and you don't want to search each separatelly?

[2020-03-28 20:38] Siedlerchr commented on #6192
You can select all and drag them to the group.

[2020-03-28 20:44] smihael commented on #6195
I looked a bit deeper and found out that you transferred to JavaFX. It seems that .css for my DE of choice already exists: https://github.com/devedge/KDE-Breeze-JavaFX-CSS

[2020-03-28 20:48] smihael commented on #6192
This still means that you have to manually select them. Search bar does not allow user to input a list of queries.

[2020-03-28 20:55] Siedlerchr commented on #6195
@smihael I think controls that look like native OS is partially possible,
However, you might want to look into the Base (light) and Dark Theme:
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/Base.css
https://github.com/JabRef/jabref/blob/master/src/main/java/org/jabref/gui/Dark.css

If you run JabRef from source, modifications to the theme css will be instantly visible

[2020-03-28 21:04] smihael commented on #6011
I can reproduce this with attached pdf and txt.

I am using:
JabRef 5.0--2020-03-06--2e6f433
Linux 5.3.0-42-generic amd64
Java 13.0.2

PDF was generated using LibreOffice and annotations were added in Okular.

[test.pdf](https://github.com/JabRef/jabref/files/4397885/test.pdf)
[test.bib.txt](https://github.com/JabRef/jabref/files/4397887/test.bib.txt)

[2020-03-28 21:45] tobiasdiez commented on #6192
Searching for `bibtexkey == miller2005 or bibtexkey == miller2006` should show both entries (not sure if the `bibtexkey ==` part is actually necessary.

[2020-03-28 22:05] dimitra-karadima commented on #6074
Hey @systemoperator ,
I have been trying to implement the tooltip enhancement in the first option you described, when the "Select entry type" dialog is opened. All I have found is that the dialog box opens from the org.jabref.gui.importer.NewEntryAction.java and I tryied implementing a getDescription method as PR #6046 has. But my attempt failed, because the method setTooltip does not work for the

[2020-03-28 23:26] wujastyk commented on #5919
JabRef 5.1--2020-03-28--64e35c1
Linux 5.3.0-42-generic amd64
Java 14

Thinkpad T580, Core i5 8th gen, Linux Mint Cinnamon.

Here's what happens to my eight CPUs when I start JabRef:

![image](https://user-images.githubusercontent.com/762246/77836085-9e776500-7118-11ea-8d89-8c0e89451289.png)

[2020-03-28 23:58] systemoperator commented on #6074
@dimitra-karadima An interesting class is `org.jabref.gui.EntryTypeView.java`. Here you will find

https://github.com/JabRef/jabref/blob/093a6fb1ebd0fbcbd9bcd365bd828273255ca794/src/main/java/org/jabref/gui/EntryTypeView.java#L99

In this method

https://github.com/JabRef/jabref/blob/093a6fb1ebd0fbcbd9bcd365bd828273255ca794/src/main/java/org/jabref/gui/EntryTypeView.java#L122 decides on whether bi

[2020-03-29 00:06] dimitra-karadima commented on #6074
@systemoperator Thank you so much for your suggestion, I will try that and let you know!

[2020-03-29 01:32] leitianjian commented on #6169
Hi, We're a team of 5 students currently attempting to make our first open-source contribution, and we want to firstly work on this bug

We have reproduced this bug successfully. Because it is our first time trying to participate in this project. I would be grateful if any hint can be provided. And I am trying to get more familiar with this project. A question is, how long could we take to fix thi

[2020-03-29 02:07] AtaZadehgol opened #6199 "EndNote .xml import to JabRef: PDF links are not imported correctly."
JabRef version <JabRef 5.0--2020-03-06--2e6f433
Windows 10 10.0 amd64
Java 13.0.2>

- [ x ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When importing an EndNote library in .xml format into JabRef, the PDF attachment links are not imported into JabRef correctly.

Steps to reproduce the behavior:

1. I followed instructions under "Imp

[2020-03-29 04:26] LuckyOne09 commented on #6039
Hi, I found something strange when I try to reproduce this bug. If I increase the font size too large, then the UI will be like this:
![bug_related_font_size](https://user-images.githubusercontent.com/38714962/77840262-ed280c00-71b7-11ea-8122-b0b98aac5022.JPG)
You can see when font size is too large, there is no menu displaying above. Hence, it will be very difficult to find what I want(In fact, I

[2020-03-29 09:05] Siedlerchr commented on #6169
Thanks for your interest in contributing to JabRef!
Please follow our contribution guide https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md

There is no hurry in finishing. Take your time to make yourself familiar with the code. Just create a PR with your changes early on, so we can provide constant feedback.
Code wise, as a hint you should check the pr I linked in the comments which pro

[2020-03-29 11:35] leitianjian commented on #6169
Ok, I will check the material carefully.

"Just create a PR with your changes early on" means that we can create a PR before we fix the bug and let you know our progress or comment on our code?
Thanks for your reply, I will check the PR you linked carefully

[2020-03-29 14:35] tobiasdiez commented on #6199
Relevant code: https://github.com/JabRef/jabref/blob/06e3b7259098f344606c8580fa4cd8feb3476ee9/src/main/java/org/jabref/logic/importer/fileformat/EndnoteXmlImporter.java#L263-L268

[2020-03-29 22:07] koppor commented on #3121
Follow up at https://github.com/JabRef/jabref/issues/5417

[2020-03-29 22:07] #3121 closed

[2020-03-29 22:11] koppor commented on #5417
Current issue: all releases show the same JabRef version:

![grafik](https://user-images.githubusercontent.com/1366654/77862271-b0413100-721a-11ea-918c-e62e8c63f593.png)

This should be fixed for 5.1. I think, we can use the same version as JabRef uses internally in the buildinfo file. See https://github.com/JabRef/jabref/blob/c2bd8988d37049b51013f86639e3d5b37c195c06/.github/workflows/deployment.y

[2020-03-29 22:16] koppor commented on #5417
Not sure how I can release a version as full release.

![grafik](https://user-images.githubusercontent.com/1366654/77862364-3e1d1c00-721b-11ea-9707-255fe7c68f82.png)

Do we need to change the `grade` to something else?

https://github.com/JabRef/jabref/blob/c2bd8988d37049b51013f86639e3d5b37c195c06/snap/snapcraft.yaml#L8

Feel free to submit a PR to the `snapcraft` branch.

[2020-03-29 22:23] LyzardKing commented on #5417
Ah yes, the grade needs to be set to stable

[2020-03-29 22:24] koppor commented on #5417
beta channel runs fine:

![grafik](https://user-images.githubusercontent.com/1366654/77862586-d8ca2a80-721c-11ea-8e3d-175c416ace91.png)

[2020-03-29 22:27] LyzardKing commented on #5417
I am using it daily on Ubuntu Mate 20.04, so I can confirm it works.
But if we change to `grade: stable` the new versions can be automatically shown in the app store and be installed without adding --beta, --edge (which can be reserved for actual beta versions)

[2020-03-29 22:31] koppor commented on #5417
Some command line parameters are passed to JabRef instead of the JVM:

![grafik](https://user-images.githubusercontent.com/1366654/77862755-cf8d8d80-721d-11ea-9e4e-9e7b6dde9cf0.png)

[2020-03-29 22:33] koppor commented on #5417
I think, we should keep `--edge` for the daily builds and use the release channel only for real releases. To keep the releases in Ubuntu conistent with our releases. `--beta` should also point to JabRef beta releases. -- (Decision from our devcall: https://github.com/JabRef/jabref/wiki/Minutes#2020-03-17-8oo)

[2020-03-29 22:42] koppor commented on #5417
Released as stable version. I will close the issue. Regarding the parameters, we could still discuss here. If a user finds it strange, they can open a new issue ^^.

[2020-03-29 22:42] #5417 closed

[2020-03-29 22:45] koppor commented on #5401
I think, this should also be solved in the stable version distributed today. This is JabRef version 5.0. @lizliz please reopen if the issue persists.

[2020-03-29 22:45] #5401 closed

[2020-03-29 23:18] k3KAW8Pnf7mkmdSMPHz27 commented on #6175
I were not intending to contribute to this issue.  I am just wondering if it makes sense to have some kind of sort based on color as distinct() and similar solutions are not stable?

[2020-03-29 23:29] #6068 closed

[2020-03-29 23:35] #6144 closed

[2020-03-29 23:42] koppor opened #6207 "Add simple Unit tests"
JabRef offers unit testing based on JUnit5. There are still untested functionalities and not good tests. Here are some tasks in that field.

Please first read [our writings on testing](https://devdocs.jabref.org/getting-into-the-code/code-howtos#test-cases).

- **DO NOT ADD GUI TESTS AS THESE ARE NOT SIMPLE AT ALL**
- Create one pull request for one test class; this makes reviewing easier. If you

[2020-03-30 09:16] tobiasdiez commented on #5417
Right now `grade` is set to stable in the master branch. Is this correct in view of https://github.com/JabRef/jabref/issues/5417#issuecomment-605712350 ?

[2020-03-30 09:18] LyzardKing commented on #5417
Yes, now jabref can be searched in the snap store without issues!

[2020-03-30 09:38] koppor opened #6218 "Get Oracle tests working again"
The current docker image is too large for GitHub (2.6 GB for Oracle). We need to try other images. Example: https://github.com/bizybot/docker-oracle-xe-11g

This is a follow up for https://github.com/JabRef/jabref/pull/6217.

[2020-03-30 10:12] koppor commented on #5417
@tobiasdiez Yes. I think, I understood it: `grade: stable` enables me to release that specific version to `stable`. If not, I do not have this button (as indicated at https://github.com/JabRef/jabref/issues/5417#issuecomment-605710351). Thus, I "just" have to take care at a release which verson to promote as `stable`. - No other side effects known.

[2020-03-30 10:17] tobiasdiez commented on #5417
Ok, I just wanted to make sure that our daily builds don't end up as stable builds...

[2020-03-30 10:24] LyzardKing commented on #5417
@tobiasdiez If it's not automated (and it has to be done manually)
The daily uploads should only go in the edge channel.

[2020-03-30 10:29] koppor commented on #5417
Yes, they automatically are added to the edge channel.

[2020-03-30 14:00] dimitra-karadima commented on #6169
@leitianjian Yes! You can create a PR even if you haven't fixed the bug in order to get a feedback on your code! Check the draft PRs: https://github.blog/2019-02-14-introducing-draft-pull-requests/

[2020-03-30 14:56] AEgit commented on #6188
Actually, the more I think about, the more it is clear to me, that this will have a massive performance impact and therefore priority when implementing this feature (if it is implemented) should always be performance testing on large databases.

At the moment I have a database containing >20,000 items. The Windows 10 search takes several days (!) to index the database from scratch. I know that bec

[2020-03-31 00:11] github-actions[bot] opened #6220 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2020-03-31 06:08] koppor opened #6221 "Group validation: Convert error dialogs to checkers"
In well-designed dialogs we don't show any error message: instead we disable the ok buton until all required fields are set. An additional popup dialog is unneccsarry.

See for example the SharedDatabaseLogin Dialog which is implemented correctly.

Follow up from https://github.com/JabRef/jabref/pull/6110/

[2020-03-31 06:10] koppor commented on #6092
Decision: Remove option, but keep functionality.

[2020-03-31 13:44] koppor commented on #6092
We documented both features at https://docs.jabref.org/general/autosave and https://docs.jabref.org/general/backup. I am merging both documentation into one - and remove the configuration option so that JabRef always creates .sav and .bak.

[2020-03-31 14:37] GSinsley opened #6222 "Sort by priority broken"
JabRef version
JabRef 5.1--2020-03-31--97fcf38
Windows 10 10.0 amd64
Java 14

- [x ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Sorting by priority does not appear to work correctly in Jabref 5.x. (I originally saw the problem in 5.0, and have verified that it persists in the latest 5.1 snapshot.) In older versions of Jabref, when s

[2020-03-31 16:06] #6108 closed

[2020-03-31 16:06] #6066 closed

[2020-03-31 16:57] Siedlerchr commented on #5605
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-03-31 16:57] #5605 closed

[2020-03-31 16:59] Siedlerchr commented on #4399
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-03-31 16:59] #4399 closed

[2020-03-31 17:02] Siedlerchr commented on #3076
As we completely switched to javafx, I think this issue is no longer relevant

[2020-03-31 17:02] #3076 closed

[2020-03-31 17:09] JoKalliauer opened #6223 "chaning to relative path does not work and prevents convertion to biblatex"
[code]
[code]

Steps to reproduce the behavior:
1. open [bibtex2biblatexBug.bib.txt](https://github.com/JabRef/jabref/files/4410484/bibtex2biblatexBug.bib.txt)
2. clean up using following settings
![Screenshot 2020-03-31 18 57 27](https://user-images.githubusercontent.com/15687581/78054678-b8b47b80-7382-11ea-8527-77c5e7045f28.png)

nothing happens (also journal should be converted to journaltitle)

[2020-03-31 17:19] Siedlerchr commented on #6222
I took a quick look and could confirm this isssue.
There probably needs to be implemented a new Comparator for that field like for the others.
https://github.com/JabRef/jabref/blob/eccfb577b7dc29e55ece8acbfe02bf6895408e39/src/main/java/org/jabref/gui/maintable/MainTableColumnFactory.java#L310-L319

[2020-03-31 17:21] JoKalliauer opened #6224 "allow merging of year and date if identical"
[code]
[code]

Steps to reproduce the behavior:
1. open [bibtex2biblatexBugJK.bib.txt](https://github.com/JabRef/jabref/files/4410546/bibtex2biblatexBugJK.bib.txt)
2. clean up using following settings
![Screenshot 2020-03-31 18 57 27](https://user-images.githubusercontent.com/15687581/78054678-b8b47b80-7382-11ea-8527-77c5e7045f28.png)

year does not get removed

[2020-03-31 18:02] smihael opened #6225 "Simplified import from doi."
Currently in order to import bibtex data from doi, one has to undergo the following procedure.

1. Click on the new entry icon (+)
2. Switch to general tab
3. Paste in DOI number in the DOI field
4. Click on the download symbol to fetch bibtex data
5. Confirm to merge fetched data in the otherwise empty (new) entry.

I would suggest to add a menu idem and a shortcut to create a new entry directly

[2020-03-31 18:11] Siedlerchr commented on #6225
Hi,

the usual workflow is: Click on the new entry icon (the + icon creates only an article, the icon next to article)
paste the doi, arxiv or other identifier in that dialog and submit.

However, for DOIs you can simply paste the DOI direclty on the maintable and JabRef will fetch the information in the background and create a new entry based on the DOI data.

PS: Such questions are better suited

[2020-03-31 18:11] #6225 closed

[2020-03-31 18:21] rafaelbalanquet commented on #6193
Hello! My team and I would like to claim this issue and get to work on a solution. Let me know if this is possible.

[2020-03-31 20:04] #6092 closed

[2020-03-31 20:34] #6049 closed

[2020-04-01 07:23] TPuupera commented on #5605
Works now thanks!

[2020-04-01 15:46] Turgon-Aran-Gondolin opened #6229 "Fetching from inspire"
JabRef version 5.0/5.1 on Windows 10

- [x] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. select inspire from web search, enter hep-ph/9802379, hit search button
2. get "processing hep-ph/9802379" and nothing comes out.

I don't know how to open error console in Windows but I suspect this problem has

[2020-04-01 16:27] notuntoward opened #6230 "Extreme slowness"
Version 5.0 of JabRef is extremely slow on my Windows machine.  It takes mabye 30 seconds to start up, and then, when I'm typing an entry comment the lag between when I hit a key and when the key shows up in JabRef is excruciating.

* This is after rebooting, etc. to see if anything else was slowing down my PC
* my bib file has 2127 entries
* I didn't notice this slowness in JabRef 4.x

JabRef 5.0

[2020-04-01 16:32] notuntoward opened #6231 "Uncaught Exception"
Frequently, I get a popup window telling me about an uncaught exception.  Screenshot attached, as well as the contents of the popup detailed text box.

![image](https://user-images.githubusercontent.com/3851891/78162217-62375380-73fb-11ea-81ca-55e3caca436b.png)

**Details from popup**
java.lang.IllegalStateException: Task must only be used from the FX Application Thread
	at org.jabref.merged.modul

[2020-04-01 18:27] AEgit commented on #6230
Duplicate of https://github.com/JabRef/jabref/issues/5071 (and various other performance-related issues).

[2020-04-01 19:37] notuntoward commented on #6230
Probably related, but my case is even more extreme.  I've got way fewer bibtex entries, and I'm not even searching.  I'm just typing in comments.

[2020-04-02 07:53] dimitra-karadima commented on #6207
I'd like to work on that!

[2020-04-02 09:57] tobiasdiez commented on #6230
I also have this from time to time. Not sure where it comes from.

Lets keep #5071 to track the performance issues in general.

[2020-04-02 09:57] #6230 closed

[2020-04-02 10:08] Sethur opened #6234 "Using the Jabref 5.0 release then going back to 4.3.x will break the UI because of shared settings"
JabRef version 5.0 and 4.3.1, Windows 10, Bundled JDK 13 and Java 1.8.0_241

I tried the current JabRef 5.0 release today on our database with approx. 2000 entries. Since I was not satisfied with the overall performance (startup time, notable lag while typing, scrolling, etc.) and resource uptake (both CPU and memory) I wanted to go back to Jabref 4.3.1. Note that I did NOT save the BIB-file in Ja

[2020-04-02 10:55] koppor commented on #6207
@dimitra-karadima Sure! Just go ahead. Please open a work-in-progress pull request after your first additions. I have no stron oppinion on which classes need testing and which test classes need restructuring. Just work on it as long as you feel comfortable.

[2020-04-02 16:49] Siedlerchr commented on #6234
Thanks for your suggestion, However, I think it's unlikely we will change that as JabRef 5.0 is a new major release. While JabRef is backwards compatible (it can migrate settings and fields from previous versions, it's not forward compatible.  With a different storage of preferences this would make no sense. However, what indeed is necessary is that the portable version should not mess with the re

[2020-04-02 19:52] koppor commented on #6182
At this place I really wondered whether my .bib file is broken or if JabRef is broken. Thus, I wished, I could inspect the raw data within JabRef. I was too lazy to open my text editor. Next time, I will just open my text editor to inspect the `.bib` file.

@systemoperator Could you comment that at #4475?

[2020-04-02 19:52] #6182 closed

[2020-04-02 20:47] systemoperator commented on #4475
related issue, covering additional possible extensions with screenshots: https://github.com/JabRef/jabref/issues/6185

[2020-04-03 07:07] Siedlerchr commented on #6229
Confirmed. The import entries window doesn't show anything because no entries were returned (an empty list), The fetcher fails.

[2020-04-03 11:15] #6234 closed

[2020-04-03 14:19] Sethur commented on #6234
@Siedlerchr : Are you sure you don't want to tackle this? Changing the registry path for the settings of JabRef 5.x versions would be a minimal effort and allow for both versions being worked with next to each other. IMO it is common best practice to prevent a registry conflict with newer software versions by using new paths (or field names) if necessary. It would also allow developers and users t

[2020-04-03 15:18] leitianjian commented on #6169
@dimitra-karadima Thanks for your reply and sorry for my late comment. I am working on it, If there are some difficulties I cannot solve, I will create a PR and get some feedback

[2020-04-03 20:57] #6094 closed

[2020-04-03 21:23] koppor commented on #6099
- Cut/Delete feels similar to merge entries (as one entry is deleted)
- Attach **file** is similar to Open **file**

So it would be fine for me to go with the propsoal.

[2020-04-03 21:37] koppor opened #12280 "Mindmapping in JabRef ("Docear in JabRef"; "JabMap")"
JabRef should support mindmapping as it was offered by [Docear](https://docear.org/).

Since the native FileFormat of JabRef is BibTeX, also the nodes in the mindmap should be stored as BibTeX:

[code]

- `bibentry` allows liking of one entry - multiple ones have to go to separate nodes
- `children`: Order is stored in the array
  - no parent pointer not to duplicate information
  - BAD: `parent`

[2020-04-03 22:17] #6194 closed

[2020-04-03 22:49] koppor commented on #6099
Refs https://github.com/koppor/jabref/issues/410

[2020-04-04 17:39] #6220 closed

[2020-04-04 17:42] Siedlerchr commented on #3259
@cMadan
Could you please try the latest snapshot and report back if it works or still is an issue?
http://builds.jabref.org/master/
There have been changes to the CSL engine.

[2020-04-04 17:44] davidcbenson opened #6241 "Renaming file to pattern deletes file."
JabRef 5.0--2020-03-06--2e6f433
Linux 5.3.0-45-generic amd64
Java 13.0.2

- [x ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

Steps to reproduce the behavior:
1. Add a file link to an entry
2. Navigate to the file entry
3. The file already has the same name it will get with the automatic rename.
4.  Right clink file entry.
5. Choose r

[2020-04-05 11:09] larsgw commented on #6229
[INSPIRE got a new website](https://blog.inspirehep.net/2020/03/the-next-inspire-generation-is-here/) recently, changing `INSPIRE_HOST` to `https://old.inspirehep.net/search` would probably work but only until June (2020):

    https://old.inspirehep.net/search?rg=100&of=hx&p=hep-ph/9802379

There does seem to be an unofficial (or undocumented) API (use `Accept: application/x-bibtex`):

    https:

[2020-04-05 11:09] larsgw commented on #6229
[INSPIRE got a new website](https://blog.inspirehep.net/2020/03/the-next-inspire-generation-is-here/) recently, changing `INSPIRE_HOST` to `https://old.inspirehep.net/search` would probably work but only until June (2020):

    https://old.inspirehep.net/search?rg=100&of=hx&p=hep-ph/9802379

There does seem to be an unofficial (or undocumented) API (use `Accept: application/x-bibtex`):

    https:

[2020-04-05 13:42] Steggen opened #6243 "Libreoffice integration: Character formatting issue"
Hi all,
I experienced the following bug during using citing in Libreoffice.
My Jabref (bitex format) entry has chemical formulas in the title that I wrote as e.g.

This is correctly dislpayed in Jabref in both, table view and entry preview. When citing the article in a Libreoffice document the subscript (same happens to superscripts) is malformed:

<img width="539" alt="test" src="https://user-ima

[2020-04-05 16:02] Siedlerchr commented on #5591
So the real bug is still present in the jdk. So we should report this

[2020-04-05 16:24] #6170 closed

[2020-04-05 16:43] Siedlerchr commented on #6170
Thank you for reporting this issue. We think, that is already fixed in our development version and consequently the change will be included in the next release.

We would like to ask you to use a development build from https://builds.jabref.org/master and report back if it works for you. Please remember to make a backup of your library before trying-out this version.

[2020-04-05 16:48] GregBievre commented on #6170
Hello,
I will try and let you know.
Many thanks!
Grégory

--
Université Grenoble Alpes
Institut des Sciences de la Terre
CS 40700 F-38058 Grenoble cedex 9
Tel : +33 (0)4 76 63 51 73
www. isterre.fr/gregory-bievre

[2020-04-05 16:50] Siedlerchr commented on #6170
The upload to the server just finished.

[2020-04-05 17:29] GregBievre commented on #6170
I did not manage to make either builds.jabref.org/master/JabRef-5.1-portable_windows.zip or builds.jabref.org/master/JabRef-5.1.msi work.
I went back to version 5.0 and it works (except for the bug that I have not been able to test).
I maybe missing something with windows which I am discovering.
Grégory

--
Université Grenoble Alpes
Institut des Sciences de la Terre
CS 40700 F-38058 Grenoble cedex

[2020-04-05 17:40] Siedlerchr commented on #6170
Thanks for reporting, I just discovered this as well.

[2020-04-05 17:42] Siedlerchr opened #6246 "JabRef 5.1 dev build does no longer start"
Open a cmd, start JabRef.bat
JabRef 5.1 5.1.197
[code]

[2020-04-05 17:47] GregBievre commented on #6170
No problem.
Let me know when it is OK and I will be happy to test the fix.
Grégory

[2020-04-05 17:52] Siedlerchr commented on #6246
This error indicates a split package issue.
I think this could be related to the     testImplementation "org.hamcrest:hamcrest-library:2.2"
I noticed in Eclipse, that there is also and older version provided v.1.3 and I guess it's coming from #6232

[2020-04-05 17:53] Siedlerchr commented on #6170
For reference, I created a new issue with this problem: #6246

[2020-04-05 18:54] Siedlerchr commented on #6243
I could reproduce this problem. The  101% Value is defined here;
 https://github.com/JabRef/jabref/blob/f85c081e75e373820077e720fe9d48db6542704c/src/main/java/org/jabref/logic/openoffice/OOUtil.java#L228-L242

The api only defines CharEscapement and CharEscapementHeight.
I  don't  know the Auto value is set internally or if there is some magic

https://api.libreoffice.org/docs/idl/ref/servicecom_1

[2020-04-05 20:42] #6246 closed

[2020-04-06 01:08] melTr opened #6252 "Dash in bibkey"
Hi
I'm curious. Before (I'm not sure which version), dash was added in the bibtex and now striped out. Obvious example is the author name, like Smith-Thomson.
I didn't check option to "autorize only legal character".
Thanks
Mel

JabRef 5.0--2020-03-06--2e6f433
Linux 4.15.0-91-generic amd64
Java 13.0.2

[2020-04-06 04:28] koppor commented on #5982
@MLEP Could you update https://docs.jabref.org/fields --> "bibtexkey" accordingly? (File: https://github.com/JabRef/user-documentation/blob/master/en/fields/README.md).

Refs https://github.com/JabRef/jabref/pull/6239

[2020-04-06 09:09] GregBievre commented on #6170
Hello JabRef Team,
I have just tested the master JabRef-5.1.msi and both bugs have been fixed.
I, however, cannot import my previously custimozed style files (that I used with previous versions; now it says "you need to import a valid style file") and need to make them again (I tested this and it seems to work fine, they are kept in Jabref after restarting the software).
Thanks for the job.
Grégor

[2020-04-06 09:46] Siedlerchr commented on #6170
@GregBievre  Thanks for your feedback. the style is now checked for validity. Please ensure that the style is for example is stored with UTF8 encoding

[2020-04-06 11:27] mlep commented on #5982
@koppor OK, I will do it.

[2020-04-06 12:26] mlep commented on #5982
Oops, I did a direct commit of my changes.
Please review anyway: https://github.com/JabRef/user-documentation/blob/master/en/fields/README.md

[2020-04-06 12:43] mlep opened #6257 "bibtexkey: 2 more incompatible characters"
Currently, src/main/java/org/jabref/logic/bibtexkeypattern/BibtexKeyGenerator.java
states
[code]
This list of characters is used to display a warning for the field bibtexkey.

Following issue #5982, I digged a bit further about the incompatible characters in a bibtexkey.
According to https://tex.stackexchange.com/questions/408530/what-characters-are-allowed-to-use-as-delimiters-for-bibtex-keys , f

[2020-04-06 23:23] evanhorn opened #6259 "Searching rescales columns"
JabRef 5.1--2020-04-06--c655c82
Linux 5.3.0-45-generic amd64
Java 14
on Ubuntu 19.10

- [X ] I have tested the latest development version from http://builds.jabref.org/master/ and the problem persists

When I conduct a search that reduces the number of rows below the max visible the column widths change. I believe that this may be due to a rescaling when the scrollbar disappears.

Steps to reprodu

[2020-04-07 00:11] github-actions[bot] opened #6260 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2020-04-07 04:43] AlexPars opened #6261 ""Add to Group" option does not show up anymore when right click on the bib entry"
JabRef version
JabRef 5.0--2020-03-06--2e6f433
Windows 10 10.0 amd64
Java 13.0.2

In JabRef 4.3.1 there was an option Add to group in the context menu (right click on the individual bib entry). This option does not appear anymore in JabRef 5.0

[2020-04-07 06:57] #6260 closed

[2020-04-07 16:38] Siedlerchr commented on #6261
Hi,

This was removed in favor of Drag and Drop. You can simply drop the entries from the main table on the group.

[2020-04-07 16:38] #6261 closed

[2020-04-07 17:08] swekia opened #6262 ""readstatus" lost after reopening JabRef"
When reopening JabRef, the field "Readstatus" is empty for almost all entries.

I've just installed the following version of JabRef on my Windows machine:
JabRef 5.0--2020-03-06--2e6f433
Windows 10 10.0 amd64
Java 13.0.2

Steps to reproduce the behaviour:
1. create an entry of whatever type (e.g. article)
2. set the "read status" by
  * either right-clicking on the entry > Read status > read (or s

[2020-04-08 14:22] ilippert opened #6263 "custom entry table columns with multiple fields not organised by order"
JabRef 5.1--2020-04-08--8968ccf
Linux 5.5.15-200.fc31.x86_64 amd64
Java 14

In the preferences/entry table columns I can add custom columns. Jabref does not differentiate whether I add a column booktitle/title vs title/booktitle.

Steps to reproduce the behavior:
1. Open Preferences | Entry Tabel Columns
2. Add booktitle/title in textfield below the list, press "+"
3. Add title/booktitle in textfi

[2020-04-08 16:52] dextep commented on #6140
Should i continue this issue?

[2020-04-09 06:41] leitianjian commented on #6169
Hi, I have fixed the bug of the icon. Please check my draft pull request, thanks

[2020-04-09 14:35] sambo57u opened #6266 "Import into current libarary issues wrong message"
This is with version 5.1 (current).

When one chooses "import into current libary" from File-->Import menu and opens a
new bib file and go ahead with import you first get a message "import cancelled" and
a few seconds later "import complete". Import is done properly but the erreneous
message "import cancelled" should not be there.

[2020-04-10 06:25] JoKalliauer opened #6267 "DOI-Import-entries not converted to biblatex"
[code]

**Get BibTeX-Data from DOI does not work for bib_LA_tex**
If I get BibTeX-Data from doi into `@Comment{jabref-meta: databaseType:biblatex;}` it shows the entry in a different format (bibtex istead of biblatex), this is as stupid as comparing ris-files with bib-files (whithout converting)
![Screenshot 2020-04-10 07 46 17](https://user-images.githubusercontent.com/15687581/78967933-e24c7000-

[2020-04-10 11:43] YetiXie1994 commented on #5446
how to fix it?

[2020-04-10 15:28] jcampbell11245 commented on #6266
Hey! I am a first-time contributor. I have successfully reproduced this issue. May I take a stab at it?

[2020-04-10 16:52] Siedlerchr commented on #6266
This is a duplicate of #4841. However, there is already a possible solution outlined in the combined:
of https://github.com/JabRef/jabref/issues/4841#issuecomment-486271379
@jcampbell11245  So feel free to take it! Please read the  [Contribution guidelines](https://github.com/JabRef/jabref/blob/master/CONTRIBUTING.md)

[2020-04-10 17:02] jcampbell11245 commented on #6266
Will do. Thank you!

[2020-04-10 18:01] jcampbell11245 commented on #6266
I attempted to implement the outlined solution but I believe changing the return type would require modifying the Dialog.java class, which I am unable to do because it is read-only.

[2020-04-10 18:29] Siedlerchr commented on #6266
The idea is to modify the the return type of the importer class. You can modify the parameter in the extends clause

[2020-04-10 18:54] jcampbell11245 commented on #6266
Oh ok, I see now. Thank you.

[2020-04-10 19:27] tobiasdiez commented on #6222
Thanks to @dextep this should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-04-10 19:27] #6222 closed

[2020-04-12 04:34] awa5114 opened #6271 "Search for field not containing multiple possible strings"
In the absence of group subtraction possibilities, I must resort to  search queries like this:

`groups contains "ContainsFunction" and not (groups contains "Earthquake")`

Is it possible to have additional strings in the `not` clause? I tried the following without success:

`groups contains "ContainsFunction" and not (groups contains "Earthquake", "Flood")`

`groups contains "ContainsFunction" an

[2020-04-12 04:46] awa5114 commented on #6271
I found one way, but it is quite verbose:

`groups contains "ContainsFunction" and not (groups contains "Earthquake" or groups contains "Flood" or groups contains "Landslides" or groups contains "Rainfall" or groups contains "Wind")`

Is there anything more concise?

[2020-04-12 11:37] #6044 closed

[2020-04-12 11:39] tobiasdiez commented on #5071
I found some Easter eggs in the code. After eating them JabRef now feels more slim and responsive. In fact, for me all the performance problems mentioned in this issue are fixed now.

@AEgit @ilippert @Codeberg-AsGithubAlternative-buhtz
Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-04-12 11:40] tobiasdiez commented on #6044
This should be fixed in the latest development version. Could you please check the build from http://builds.jabref.org/master/. Thanks! Please remember to make a backup of your library before trying-out this version.

[2020-04-12 11:43] tobiasdiez commented on #4877
@bernhard-kleine @wujastyk does this error still occurs in the released version 5.0 and in the current dev version? If yes, then please post screenshots of the "External changes" dialog that pops up after clicking "review changes". Thanks

[2020-04-12 11:54] tobiasdiez commented on #5591
@Siedlerchr did you already get a response from the java guys?

[2020-04-12 13:25] LyzardKing commented on #5071
@koppor @tobiasdiez Is the snap --edge channel now updated on every commit to master?

[2020-04-12 14:09] ilippert commented on #5071
JabRef 5.1--2020-04-10--d4396ce
Linux 5.5.15-200.fc31.x86_64 amd64
Java 14

thanks for the note!
this is my experience:

- sorting my 10600 entry file by title still takes 30 seconds (should be a basic entry table operation).
- after running jabref for about 2 minutes, jabref often hangs, being unresponsive.
- after running for 8 minutes, jabref has memory 1.7gb, virtual memory 91,2 gb, resident m

[2020-04-12 14:14] hankstevens01 commented on #5071
JabRef 5.1--2020-04-10--d4396ce
Mac OS X 10.15.4 x86_64
Java 14

Database of 19800 refs
- 33 sec to open Jabref
- 34 sec to display typed search term, it then immediately displays results

On Sun, Apr 12, 2020 at 10:09 AM Ingmar Lippert <notifications@github.com>
wrote:

--

“Life is a garden, not a road. We enter and exit through the same gate.
Wandering, where we go matters less than what we not

[2020-04-12 15:14] Siedlerchr commented on #5071
Sorry, the build has failed to upload the files. Please test the version from the run:
https://github.com/JabRef/jabref/runs/580559222
(Top right corner, "Artifacts")
(Unfortunately the github build system puts all versions for one os together in one archive)

[2020-04-12 15:55] ilippert commented on #5071
sorry, I am not sure what you mean - I cannot find Artifacts at the linked page. I can find some at https://github.com/JabRef/jabref/actions/runs/76469953 - do you mean those?

[2020-04-12 16:05] Siedlerchr commented on #5071
@ilippert  Yes, sorry, I had apparently linked the wrong run.

[2020-04-12 16:18] ilippert commented on #5071
Sorry to disappoint ...
first attempt to run

- memory 1,4gb, virtual memory 91,2b, resident memory 1,5gb, shared 135mb
- jabref was hanging/unresponsive whilst it was starting, I even got the system's warning. But then after a minute it was started up, so to say.
- typing in the search window initially worked perfectly swiftly
- then it slowed down: removing the search phrase slowed down jabref -

[2020-04-12 20:57] Gena928 commented on #5759
@Siedlerchr
if I understand correctly, you need a Tiff file with 2 images: hi res & low res. As stated in this video [https://computers.tutsplus.com/tutorials/how-to-create-a-retina-ready-dmg-based-app-installer--cms-21653](url) - scroll to 4:27

Correct?

[2020-04-13 02:29] Codeberg-AsGithubAlternative-buhtz commented on #5156
I still do not trust this but for the moment the performance is OK (not good) because of https://github.com/JabRef/jabref/issues/5071

[2020-04-13 02:29] #5156 closed

[2020-04-13 02:31] Codeberg-AsGithubAlternative-buhtz commented on #5071
"easter egg"? Can you please link the commit where it was removed?
Does the "easter egg" will have any consequences for some persons and/or for the quality control process in the JabRef development?

Starting JabRef still cost to much time. But the issue with text entry is ok - for now.

[2020-04-13 11:49] koppor commented on #5071
@Codeberg-AsGithubAlternative-buhtz please don't take the word "easter egg" literally. It was meant as issue I the JabRef code. We are working hard to get students on board at JabRef development. See https://devdocs.jabref.org/teaching for details. At the linked page https://devdocs.jabref.org/getting-into-the-code/development-strategy you see that we take quality serious. Please don't fear that w

[2020-04-13 15:11] #6266 closed

[2020-04-13 15:23] AEgit commented on #5071
JabRef 5.1--2020-04-12--771af5d
Windows 10 10.0 amd64
Java 14

@tobiasdiez : Thank you very much! This is, indeed, a nice "easter egg". Many of the previous performance issues have now either disappeared or are much less pronounced, than they were before.

I will list here the issues that appear to remain, mainly based on comment https://github.com/JabRef/jabref/issues/5071#issuecomment-575912921:

[2020-04-13 17:54] ytzemih commented on #6044
@tobiasdiez Thanks for the fix. I tried
JabRef 5.1--2020-04-12--771af5d
Linux 5.4.19-050419-generic amd64
Java 14
with a file having >3500 entries and search-as-you-type works now much more smoothly.

[2020-04-13 18:36] tobiasdiez commented on #5071
@ilippert @AEgit thanks for the feedback.

[2020-04-13 20:19] Siedlerchr commented on #6229
I contacted the INSPIRE team regarding the API Waiting for response now.  In the meantime I implemented the bibtex header solution.

[2020-04-13 20:53] Siedlerchr commented on #5759
@Gena928  Exactly. You can find the original tiff here:
https://github.com/openjdk/jdk/blob/master/src/jdk.incubator.jpackage/macosx/classes/jdk/incubator/jpackage/internal/resources/background_dmg.tiff

I have attached our JabRef Logo: Maybe you can  integrate or design a new picture with JabRef's logo in it. That would be cool
[jabref_logo_without-bg.zip](https://github.com/JabRef/jabref/files/4

[2020-04-14 00:15] github-actions[bot] opened #6284 "Outdated dependencies"
[There are outdated dependencies!](https://github.com/JabRef/jabref/actions?query=is%3Afailure+workflow%3A%22Check+dependencies%22)

[2020-04-14 06:23] koppor commented on #6234
@Sethur Could you please provide me some information why you are going to use 4.3.1 and 5.0 in parallel? We are working hard on improving the latest development version. We have limited resources and want to foster the expericence of the latest version.

Could you  please try the latest develoment snapshot: https://builds.jabref.org/master/? We tackeled performance issues (Refs #4430)

Maintaining

[2020-04-14 06:33] koppor commented on #5398
We discussed that maintaining links causes effort in our release. The discussed links are targeting power users always wanted the latest version. Since our filenames are now "stable" between releases, it should be a minimal effort to update the links (e.g. replacing 1 by 2 after 5.1 is released) after a release.

@Codeberg-AsGithubAlternative-buhtz Hope, this is OK for you?

[2020-04-14 06:33] #5398 closed

[2020-04-14 06:58] koppor commented on #5771
Try quick shot by deleting `mods` folder. IF not succeed, take out of v5.1.

[2020-04-14 07:02] koppor commented on #6076
If Firefox is installed: Open JabRef extension page in firefox store.

[2020-04-14 07:03] koppor commented on #6076
@LyzardKing Ping? 😇

[2020-04-14 07:03] calixtus commented on #6076
Firefox download page would be something like
https://addons.mozilla.org/de/firefox/addon/jabref/?src=search

[2020-04-14 07:04] koppor commented on #6097
@stefan-kolb Did you try the dark theme

@rs-aesi Could you try the light theme, please?

[2020-04-14 07:06] stefan-kolb commented on #6097
No only light theme.

[2020-04-14 07:06] koppor commented on #6104
@AlexanderGirgis This was also on your machine, right?

[2020-04-14 07:09] tobiasdiez commented on #6169
See also my comment in https://github.com/JabRef/jabref/blob/fb2a6d7612b1651d2b41a3de3e6fe17f5f4c8d49/src/main/java/org/jabref/gui/StateManager.java#L39

[2020-04-14 07:10] koppor commented on #6231
Duplicate of #6104?

[2020-04-14 07:36] LyzardKing commented on #6076
I'll have a look at it! I don't have too much time, but I'll see what I can do :)

[2020-04-14 07:37] #6229 closed

[2020-04-14 07:40] #6284 closed

[2020-04-14 07:48] LyzardKing commented on #6076
Ok.. I have the correct file, and it works on Chrome.
We need to set a trigger to copy the file in the correct folder (creating it if it doesn't exist).
This can be done on a non snap browser easily with sudo credentials.
Should this be part of the deb install? I can add to the postinstall trigger there.

[2020-04-14 07:50] LyzardKing commented on #6076
The macos part should be the same.. I can test that easily.
The windows implementations requires editing the registry. I have no idea how to do that (my last windows machine was windows 98 a while back) but I'm willing to try if you have any suggestion!

[2020-04-14 09:53] tobiasdiez commented on #6076
Perfect. Thanks a lot @LyzardKing!

Yes, the idea was to add these steps to the installation routines as post-actions. For Windows, adding a line similar to https://github.com/JabRef/jabref/blob/3bc1f0236cdfef81cb36ebce23f9350b1615928e/buildres/windows/JabRef-post-image.wsf#L24 should work. I can also have a look at the Windows stuff.

[2020-04-14 10:02] Sethur commented on #6234
@koppor : We are currenlty using JabRef as a group for a larger publication database (>2500 entries). It is important that everything works smoothly, so I want to avoid installing new major releases unless the new features are worth the risk of instability / breaking of the database. We have been using JabRef 3.x for a long time, but since I needed the feature to guess the meta info of PDFs based

[2020-04-14 10:09] Sethur commented on #6234
I missed this one, and it sort of answers your own question: I have and cannot easily try any other dev-versions of JabRef 5.x _precisely because_ it will mess up my settings for our production version of JebRef 4.x. I would need to do that on another machine or in a VM, which would be a hassle to setup just to quickly check a new snapshot for performance/stability.

[2020-04-14 10:26] jhh931 opened #6285 "Copy -> Export to Clipboard: Custom exports not a"
JabRef 5.0--2020-03-06--2e6f433 (Portable)
Windows 10 10.0 amd64
Java 13.0.2

I have several Custom Exports defined, and they word as intended via File -> Export.
However, when right-clicking on an entry in the entry table, and going for "Copy..." -> Export to clipboard,  the Custom Exports are not visible. This worked fine in earlier JabRef versions (e.g  3.4.1)

Screengrab below: the red part sh

[2020-04-14 10:47] Siedlerchr commented on #6285
Hi,
I take a quick look in the code and currently only exporters with the following extensions can be used.  My custom exporters (xml and html etension) are listed there correctly.

https://github.com/JabRef/jabref/blob/3bc1f0236cdfef81cb36ebce23f9350b1615928e/src/main/java/org/jabref/gui/exporter/ExportToClipboardAction.java#L37

[2020-04-14 10:51] Siedlerchr opened #6286 "Copy... -> Export to clipboard Dialog has no icon"
Select an entry in the main table
1. Right click -> Copy... -> Export to Clipboard

See that there is no icon. This results in the standard java icon shown in the task bar on windows

5.1 master
![grafik](https://user-images.githubusercontent.com/320228/79217031-6da06b00-7e4e-11ea-82f9-650100f7fbf8.png)

![grafik](https://user-images.githubusercontent.com/320228/79217084-86a91c00-7e4e-11ea-9127-b8